.button {
  width: 226px;
  height: 56px;
  border-radius: 64px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: background-color 300ms, transform 300ms;

  &:hover {
    background-color: #eee;
  }

  &:active {
    transform: translateY(2px);
  }

  &_learn-more {
    background: #fff;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 1px;

    &:active {
      background-color: darken(#eee, 15%);
    }
  }

  &__slider {
    position: absolute;
    top: 282px;
    left: -81px;
  }

  &_media {
    display: block;
  }

  &_blue {
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 1px;
    color: #FFFFFF;
    background: #2F80ED;
    align-self: center;

    &:hover {
      background-color: darken(#2F80ED, 10%);
    }

    &:active {
      background-color: darken(#2F80ED, 20%);
    }
  }
}
