.contact-us {

  &__section {
    display: inline;
    font-weight: 800;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #56CCF2;
  }

  &__title {
    padding-bottom: 43px;
    font-weight: 900;
    font-size: 32px;
    line-height: 140%;
    color: #253757;
  }

  &__call {
    font-weight: 800;
    font-size: 12.6px;
    line-height: 150%;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #334563;
  }

  &__number {
    padding-bottom: 41px;
    font-weight: 900;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #56CCF2;
    transition: color 300ms;

    &:hover {
      color: darken(#56CCF2, 20%);
    }
  }

  &__visit {
    font-weight: 800;
    font-size: 12.6px;
    line-height: 150%;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #334563;
  }

  &__address {
    padding-bottom: 53px;
    font-weight: 900;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #56CCF2;
    transition: color 300ms;

    &:hover {
      color: darken(#56CCF2, 20%);
    }
  }
}

.social-icons {
  max-width: 192px;
  display: flex;
  justify-content: space-between;
}

.social-icon_decor {
  cursor: pointer;
  transition: transform 300ms;

  &:hover {
    transform: scale(0.9);
  }
}
