.features {
  position: relative;

  &__left {
    max-width: 359px;
  }

  &__right {
    position: absolute;
    top: 0;
    right: 0;
    width: 1048px;
    height: 966px;
    background-image: url(../images/features-photo.png);
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__section {
    display: inline;
    font-weight: 800;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #fff;
  }

  &__title {
    font-weight: 900;
    font-size: 32px;
    line-height: 140%;
    color: #253757;
    padding-bottom: 69px;
  }

  &__item {
    display: grid;
    grid-template-columns: 96px 1fr;
    padding-bottom: 64px;
  }

  &__description {
    font-size: 16px;
    line-height: 150%;
    color: #fff;
    mix-blend-mode: normal;
  }

  &__circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-color: #fff;
  }
}
