@media screen and (max-width: 1300px) {
  .container {
    width: 1100px;
  }
}

@media screen and (max-width: 1200px) {
  .container {
    width: 900px;
  }
}

@media screen and (max-width: 980px) {
  .container {
    width: 800px;
  }

  .communication {
    display: grid;
    grid-template-columns: 1fr 300px;
  }

  .send-us {
    margin-right: 60px;
  }
}

@media screen and (max-width: 880px) {
  .container {
    width: 600px;

    &__vsp {
      max-width: 550px;
    }
  }

  .button_media {
    display: flex;
    justify-content: center;
  }

  .send-us {
    text-align: center;
    margin-right: 0;
  }

  .contact-us {
    padding-top: 50px;
    text-align: center;
  }

  .social-icons {
    max-width: 100%;
    justify-content: center;
  }

  .social-icon {
    padding-right: 48px;
  }

  .communication {
    display: block;
  }

  .footer {
    display: block;

    &__author {
      text-align: center;
      padding-bottom: 10px;
    }

    &__nav {
      width: 100%;
    }
  }
}

@media screen and (max-width: 650px) {
  .container {
    width: 400px;
    padding-left: 10px;

    &__vsp {
      max-width: 400px;
    }
  }

  .send-us {
    margin-right: 0;
  }
}

@media screen and (max-width: 490px) {
  .container {
    width: 320px;
  }

  .footer {
    &__nav {
      display: block;
      text-align: center;
    }

    &__item {
      padding-top: 20px;
    }
  }
}

@media screen and (max-width: 411px) {
  .container {
    width: 240px;
  }
}
