@media screen and (max-width: 1400px) {
  .header {
    &__photo {
      height: 540px;

      &-transparent {
        height: 200px;
      }
    }
  }

  .button__slider {
    top: 282px;
    left: 10px;
  }
}

@media screen and (max-width: 1300px) {
  .container {
    width: 1100px;

    &__process {
      &-white {
        padding-bottom: 291px;
        padding-top: 50px;
        margin: 0 25px;
      }
    }

    &__features {
      padding-top: 50px;
      padding-bottom: 10px;
    }
  }

  .process {
    &__box-left {
      position: absolute;
      top: 12em;
      left: 2em;
      z-index: 1;
    }

    &__box-right {
      position: absolute;
      top: 4em;
      left: 19em;
      z-index: 1;
    }
  }

  .features {
    &__right {
      width: 600px;
      height: 787px;
    }
  }

  .testimonials {
    &__items {
      width: 930px;
    }

    &__item {
      width: 280px;
      padding: 20px 0 30px;
    }
  }

  .item {
      &__description {
      height: 125px;
      margin-bottom: 15px;

      &::after {
        left: 36%;
      }
    }
  }

  .image__background {
    margin: 40px 0 80px 30px;
  }
}

@media screen and (max-width: 1200px) {
  .container {
    width: 900px;

    &__testimonials {
      padding-top: 70px;
    }
  }

  .button__slider {
    left: -80px;
  }

  .what-we-do {
    &__item {
      max-width: 244px;
    }
  }

  .testimonials {
    &__items {
      width: 870px;
    }

    &__item {
      width: 230px;
      padding: 20px 0 30px;
    }
  }
}

@media screen and (max-width: 1050px) {
  .header {
    &__photo {
      height: 400px;

      &-transparent {
        height: 100px;
      }

      &-text {
        position: absolute;
        bottom: 10%;
        left: 25%;
      }
    }

    &__social-icons {
      top: 210px;
      right: -170px;
    }
  }

  .button__slider {
    left: 10px;
  }
}

@media screen and (max-width: 980px) {
  .container {
    width: 800px;

    &__process {
      &-white {
        padding-bottom: 345px;
      }
    }
  }

  .header {
    &__photo {
      &-transparent {
        height: 200px;
      }

      &-text {
        position: absolute;
        bottom: 10%;
        left: 15%;
      }
    }

    &__social-icons {
      top: 210px;
      right: -200px;
    }
  }

  .button__slider {
    top: 150px;
    left: -35px;
  }

  .what-we-do {
    flex-wrap: wrap;
    justify-content: center;

    &__item {
      max-width: 234px;
      margin-left: 50px;
      margin-bottom: 10px;
    }
  }

  .process {
    &__box {
      width: 170px;
      height: 256px;
    }

    &__box-left {
      top: 17em;
    }

    &__box-right {
      top: 12em;
      left: 15em;
    }

    &__box_1,
    &__box_2 {
      margin: 0 15px 25px 0;
    }
  }

  .box__content {
    padding: 40px 60px 32px 60px;
  }

  .number-img {
    top: -3em;
    left: 45%;
  }

  .testimonials {
    &__items {
      width: 780px;
    }

    &__item {
      width: 230px;
      padding: 20px 0 30px;
    }
  }

  .communication {
    display: grid;
    grid-template-columns: 1fr 300px;
  }

  .send-us {
    margin-right: 60px;
  }
}

@media screen and (max-width: 940px) {
  .header__social-icons {
    top: 210px;
    right: -200px;
  }
}

@media screen and (max-width: 880px) {
  .container {
    width: 600px;

    &__welcome {
      width: 600px;
    }

    &__vpr {
      max-width: 550px;
    }

    &__vpr-wrapp {
      margin-top: 0;
    }

    &__testimonials {
      padding-bottom: 40px;
      background: #fff;
    }
  }

  .header {
    &__photo {
      &-transparent {
        height: 150px;
      }
    }

    &__social-icons {
      top: 205px;
      right: -220px;
    }
  }

  .button__slider {
    top: 245px;
    left: -80px;
  }

  .who-we {

   &__title {
     font-size: 44px;
   }

   &__paragraph {
     font-size: 18px;
     padding-bottom: 32px;
   }
  }

  .header {
    &__photo {
      width: 680px;
    }

    &__nav {
      display: grid;
      grid-template-columns: 15% 1fr 15%;
      padding-bottom: 85px;
    }
  }

  .process {
    &__box {
      width: 150px;
      height: 275px;
    }

    &__box-left {
      display: flex;
      top: 24em;
      left: -24em;
    }

    &__box-right {
      display: flex;
      top: 24em;
      left: -4em;
    }

    &__box_1,
    &__box_2 {
      margin: 0 10px 10px 0;
    }
  }

  .box__content {
    padding: 40px 60px 32px 50px;
  }

  .number-img {
    left: 44%;
  }

  .features {
    &__right {
      width: 500px;
      height: 749px;
    }

    &__title {
      padding-bottom: 30px;
    }
  }

  .testimonials {
    &__items {
      padding-top: 60px;
      width: 630px;
      position: static;
      flex-wrap: wrap;
      justify-content: center;
    }

    &__item {
      margin: 0 40px 40px 0;
    }
  }

  .vpr {
    padding-top: 90px;
  }

  .button_media {
    display: flex;
    justify-content: center;
  }

  .send-us {
    text-align: center;
    margin-right: 0;
  }

  .contact-us {
    padding-top: 50px;
    text-align: center;
  }

  .social-icons {
    max-width: 100%;
    justify-content: center;
  }

  .social-icon {
    padding-right: 48px;
  }

  .communication {
    display: block;
  }

  .footer {
    display: block;

    &__author {
      text-align: center;
      padding-bottom: 10px;
    }

    &__nav {
      width: 100%;
    }
  }
}

@media screen and (max-width: 830px) {
  .container {
    &__process {
      &-white {
        margin: 0 15px;
      }
    }
  }

  .button__slider {
    top: 245px;
    left: -50px;
  }

  .header {
    &__photo {
      height: 350px;

      &-transparent {
        height: 100px;
      }

      &-text {
        position: absolute;
        bottom: 10%;
        left: 20%;
      }
    }

    &__social-icons {
      top: 195px;
      right: -170px;
    }

    &__social-icon {
      margin-right: 30px;
    }
  }

  .features {
    &__right {
      width: 430px;
      height: 749px;
    }
  }
}

@media screen and (max-width: 750px) {
  .container {
    width: 800px;

    &__communication {
      width: 600px;
    }

    &__process {
      &-white {
        padding-bottom: 400px;
      }
    }
  }

  .header {
    height: 648px;
    background: #56CCF2;

    &__photo {
      height: 300px;

      &-transparent {
        height: 200px;
      }
    }

    &__nav {
      max-width: 600px;
      margin-left: 40px;
      display: grid;
      grid-template-columns: 18% 1fr 18%;
      padding-bottom: 85px;
    }

    &__social-icons {
      top: 155px;
      right: -110px;
    }

    &__social-icon {
      margin-right: 20px;
      font-size: 10.6px;
    }
  }

  .button__slider {
    top: 320px;
    left: 260px;
  }

  .what-we-do {
    max-width: 650px;

    &__title {
      max-width: 300px;
    }
  }

  .welcome__description {
    font-size: 18px;
  }

  .process {

    &__box {
      width: 130px;
      height: 340px;
    }

    &__box-left {
      top: 24em;
      left: -21em;
    }

    &__box-right {
      top: 24em;
      left: -3.5em;
    }
  }

  .box__content {
    padding: 40px 60px 32px 40px;
  }

  .number-img {
    left: 43%;
  }
}

@media screen and (max-width: 690px) {
  .container {
    &__welcome {
      width: 450px;
    }

    &__process {
      &-white {
        margin: 0 10px;
      }
    }
  }

  .header {
    height: 848px;

    &__nav {
      display: block;
    }

    &__hire-us {
      text-align: center;

      &_indent {
        margin-top: 35px;
        font-size: 20px;
      }
    }


    &__photo {
      height: 250px;

      &-transparent {
        height: 200px;
      }

      &-text {
        left: 25%;
      }
    }

    &__social-icons {
      top: 125px;
      right: -30px;
    }

    &__social-icon {
      margin-right: 15px;
      font-size: 9.6px;
    }
  }

  .button__slider {
    top: 265px;
    left: 260px;
  }

  .menu {
    text-align: center;
    display: block;
    padding-top: 20px;

    &__item {
      font-size: 20px;
      margin-bottom: 15px;
    }
   }

  .features {
    &__right {
      display: none;
    }
  }
}

@media screen and (max-width: 650px) {
  .container {
    width: 400px;
    padding-left: 10px;

    &__process {
      &-white {
        margin: 0 40px;
        padding-bottom: 100px;
      }
    }

    &__vpr {
      max-width: 400px;
    }
  }

  .header {
    &__photo {
      width: 450px;

      &-transparent {
        height: 200px;
      }

      &-text {
        left: 15%;
        width: 35%;
      }
    }

    &__social-icons {
      top: 125px;
      right: -140px;
    }
  }

  .button__slider {
    top: 265px;
    left: 150px;
  }

  .who-we {
    padding-left: 0;

    &__title {
      font-size: 34px;
    }

    &__paragraph {
      font-size: 17px;
      padding-bottom: 32px;
    }
   }

  .what-we-do {
    &__title {
      font-size: 30px;
      top: -4em;
    }
  }

  .process {
    display: block;

    &__title {
      padding-bottom: 64px;
    }

    &__right {
      padding-left: 0;
    }

    &__box {
      width: 100%;
      height: 180px;
    }

    &__box-left {
      flex-wrap: wrap;
      position: static;
      padding: 10px 0;
    }

    &__box-right {
      flex-wrap: wrap;
      position: static;
    }

    &__box_1,
    &__box_2 {
      margin: 0 0 10px 0;
    }
  }

  .box__content {
    padding: 40px 60px 32px 45%;
  }

  .number-img {
    left: 49%;
  }

  .testimonials {
    &__items {
      width: 450px;
    }

    &__item {
      width: 200px;
      margin: 0 25px 20px 0;
    }
  }

  .item {
    &__description {
    height: 145px;
    margin-bottom: 10px;

    &::after {
      left: 34%;
    }
  }
}

  .send-us {
    margin-right: 0;
  }
}

@media screen and (max-width: 530px) {
  .container {

    &__welcome {
      width: 400px;
    }

    &__process {
      &-white {
        margin: 0 25px;
      }
    }
  }

  .header {
    &__photo {
      background-size: cover;
      width: 400px;

      &-transparent {
        height: 200px;
      }
    }
  }

  .button__slider {
    top: 265px;
    left: 110px;
  }

  .testimonials {
    &__items {
      width: 400px;
    }

    &__item {
      width: 314px;
      padding: 37px 0 58px;
    }
  }

  .item {
    &__description {
      height: 95px;

      &::after {
        left: 40%;
      }
    }
  }
  .image__background {
    margin: 48px 0 100px 60px;
  }
}

@media screen and (max-width: 490px) {
  .container {
    width: 320px;

    &__welcome {
      width: 300px;
    }

    &__vpr {
      max-width: 320px;
    }
  }

  .header {
    height: 850px;

    &__photo {
      width: 350px;

      &-transparent {
        height: 250px;
      }
    }
  }

  .button__slider {
    top: 265px;
    left: 100px;
  }

  .who-we {
    &__title {
      font-size: 32px;
    }

    &__paragraph {
      font-size: 15px;
      padding-bottom: 25px;
    }
   }

  .what-we-do {
    &__title {
      font-size: 20px;
      top: -6em;
    }
  }

  .process__title,
  .features__title,
  .testimonials__title,
  .contact-us__title {
    font-size: 25px;
  }

  .vpr__title {
    font-size: 30px;
  }

  .vpr__description {
    font-size: 20px;
  }

  .testimonials {
    &__items {
      width: 320px;
    }
  }

  .footer {
    &__nav {
      display: block;
      text-align: center;
    }

    &__item {
      padding-top: 20px;
    }
  }
}

@media screen and (max-width: 411px) {
  .container {
    width: 240px;

    &__welcome {
      width: 240px;
    }

    &__vpr {
      max-width: 240px;
    }
  }

  .header {
    height: 800px;

    &__photo {
      margin-top: 10px;
      background-size: contain;
      width: 250px;

      &-transparent {
        height: 250px;
      }

      &-text {
        bottom: 25%;
        width: 50%;
      }

      &-intro {
        font-size: 10.6px;
       }

       &-description {
        font-weight: 900;
        font-size: 15.6px;
       }
    }

    &__social-icons {
      top: 128px;
      right: -85px;
    }

    &__social-icon {
      margin-right: 9px;
      font-size: 4.6px;
    }
  }

  .button__slider {
    top: 215px;
    left: 50px;
  }

  .process {
    &__box {
      width: 100%;
      height: 200px;
    }
  }

  .box__content {
    padding: 40px 60px 32px 40%;
  }

  .number-img {
    left: 47%;
  }

  .testimonials {
    &__items {
      width: 240px;
    }
  }

  .item {
    &__description {
    height: 125px;
    margin-bottom: 10px;

      &::after {
        left: 35%;
      }
    }
  }
  .image__background {
    margin: 48px 0 100px 20px;
  }

  .vpr {
    padding-top: 50px;

    &__description {
      padding-left: 23px;
    }
  }
}
