.vpr {
  display: flex;
  flex-direction: column;
  padding-top: 160px;

  &__title {
    padding-bottom: 57px;
    font-weight: 900;
    font-size: 48px;
    line-height: 100%;
    text-align: center;
    color: #253757;
  }

  &__description {
    padding-bottom: 55px;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    color: #334563;
  }
}
