.vps {
  display: flex;
  flex-direction: column;
  padding-top: 160px;

  &__title {
    padding-bottom: 57px;
    font-weight: 900;
    font-size: 48px;
    line-height: 100%;
    text-align: center;
    color: #253757;
  }

  &__description {
    padding-bottom: 55px;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    color: #334563;
  }
}

.rectangle {
  border: 3px solid transparent;
}

.border-color_red {
  border-color: #f8abab;
}

.rectangleL {
  width: 85.61px;
  height: 33.84px;
  opacity: 0.5;
  border-radius: 500px;
  transform: rotate(-65.1deg);
}

.rectangleXS {
  width: 45.28px;
  height: 17.9px;
  opacity: 0.5;
  border-radius: 500px;
  transform: rotate(-65.1deg);
}

.rectangleXXL {
  width: 143.04px;
  height: 56.54px;
  opacity: 0.5;
  border-radius: 500px;
  transform: rotate(-65.1deg);
}

.rectangleM {
  width: 67.36px;
  height: 26.63px;
  opacity: 0.5;
  border-radius: 500px;
  transform: rotate(-65.1deg);
}

.rectangleXL {
  width: 93.54px;
  height: 36.98px;
  opacity: 0.5;
  border-radius: 500px;
  transform: rotate(-65.1deg);
}

.rectangleS {
  width: 53.69px;
  height: 21.22px;
  opacity: 0.5;
  border-radius: 500px;
  transform: rotate(-65.1deg);
}
