.contacts {
  &__title {
    margin: 0;
    margin-bottom: 76px;
    color: $white-main-color;
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 150%;
    letter-spacing: 0;
    vertical-align: middle;

    @include on-tablet {
      margin-bottom: 84px;
    }
  }

  &__address {
    all: unset;
    display: flex;
    flex-direction: column;
    gap: 68px;
    color: $white-main-color;
    margin-bottom: 76px;

    @include on-tablet {
      gap: 76px;
      margin-bottom: 84px;
    }
  }

  &__link {
    text-decoration: none;
    display: block;
    color: $white-main-color;
    position: relative;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0;

    &--tel::before {
      content: 'Call us';
      display: block;
      position: absolute;
      top: -50%;
      font-family: Poppins, sans-serif;
      font-weight: 700;
      font-size: 13px;
      line-height: 100%;
      letter-spacing: 3px;
      text-transform: uppercase;
      color: $color-index-title-footer;
    }

    &--visit::before {
      content: 'Visit us';
      display: block;
      position: absolute;
      top: -50%;
      font-family: Poppins, sans-serif;
      font-weight: 700;
      font-size: 13px;
      line-height: 100%;
      letter-spacing: 3px;
      text-transform: uppercase;
      color: $color-index-title-footer;
    }
  }

  &__socials-wrapper {
    position: relative;
    display: flex;
    gap: 32px;

    &::before {
      content: 'our socials';
      display: block;
      position: absolute;
      top: -100%;
      font-family: Poppins, sans-serif;
      font-weight: 700;
      font-size: 13px;
      line-height: 100%;
      letter-spacing: 3px;
      text-transform: uppercase;
      color: $color-index-title-footer;
    }
  }

  &__cocial {
    text-decoration: none;
    display: block;
    width: 32px;
    height: 32px;
  }

  &__cocial-face {
    transition: all $transition;
  }

  &__cocial-twit {
    transition: all $transition;
  }
  &__cocial-inst {
    transition: all $transition;
  }

  &__svg:hover {
    .contacts__cocial-face {
      fill: $dark-blue;
    }
    .contacts__cocial-twit {
      fill: $dark-blue;
    }
    .contacts__cocial-inst {
      fill: $dark-blue;
    }
  }
}
