@media (max-width: 1200px) {
  .control {
    left: 50%;
    bottom: -100px;
    top: inherit;
  }
  .control-prev {
    left: calc(50% - 80px);
    z-index: 1;
  }
  .hero__network-links {
    position: static;
    text-align: center;
    margin-top: 80px;
    transform: rotate(0);
  }
  .service {
    text-align: center;
  }
  .service__title,
  .service__description {
    max-width: 100%;
  }
}
