@media (max-width: 768px) {
  .features-wrap {
    background: $primary;
    padding: 80px 54px;
  }
  .services-wrap {
    flex-wrap: wrap;
    justify-content: center;
  }
  .service {
    width: calc(50% - 20px);
    text-align: center;
    padding: 20px 0;
  }
  .service__title,
  .service__description {
    max-width: initial;
  }
  .hero {
    margin: 50px;

    &__title {
      font-size: 44px;
    }
    &__network-links {
      display: flex;
      justify-content: space-around;
    }
  }
  .section-header__title {
    font-size: 22px;
  }
  .slider-info {
    bottom: 40px;
    left: 40px;

    &__text {
      font-size: 1rem;
    }
  }

  .bg-item {
    display: none;
  }
  .features__description {
    max-width: 100%;
  }
}
