@media (min-width: 320px) {
  .main__expertise {
    padding: 72px 20px;

    &_content {
      @include main-exp-content;

      &_container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 32px;

        &_desc {
          display: flex;
          flex-direction: column;
          gap: 16px;
        }
      }
    }
  }

  .main__about-us {
    padding: 120px 20px;
  }

  .main__service {
    display: flex;
    flex-direction: column;
    gap: 48px;
    padding: 120px 20px;

    &_cards {
      display: flex;
      flex-direction: column;
      gap: 16px;
      justify-content: center;
      align-items: center;
    }
  }

  .main__testimonials {
    padding: 50px 20px;
    gap: 48px;

    &_cards {
      display: flex;
      flex-direction: column;
    }
  }

  .main__footer {
    padding: 72px 20px;
  }
}

@media (min-width: 640px) {
  .main__about-us {
    padding: 148px 41px;
  }

  .main__service {
    display: flex;
    flex-direction: column;
    gap: 48px;
    padding: 148px 40px;
    position: relative;
    &_description {
      position: absolute;
      max-width: 264px;
    }

    &_cards {
      max-height: 690px;
      flex-wrap: wrap;
      margin-top: 200px;
      align-content: start;
      &_card{
        &:first-child {
          margin-top: 123px;
        }
      }

    }
  }

  .main__testimonials {
    padding: 146px 41px;
    gap: 56px;

    &_cards {
      display: flex;
      flex-direction: column;
    }
  }

  .main__footer {
    padding: 200px;
    background-image: url(/src/images/Shapes.png);
    background-repeat: no-repeat;
    background-position: center;
  }
}

@media (min-width: 1024px) {
  .main__expertise {
    padding: 128px 41px;

    &_content {
      flex-direction: row;
      gap: 168px;
    }
  }

  .main__about-us {
    padding: 148px 154px;
  }

  .main__service {
    flex-direction: row;
    justify-content: space-between;
    padding: 148px 54px;
    position: relative;

    &_description {
      position: relative;
      margin-top: 103px;
    }

    &_cards {
      flex-wrap: wrap;
      margin-top: 0;
    }
  }

  .main__testimonials {
    padding: 50px 54px;
    gap: 85px;

    &_cards {
      display: flex;
      flex-direction: row;
    }
  }
}

@media (min-width: 1600px) {
  .main__expertise {
    padding: 128px 211px;

    &_content {
      flex-direction: row;
      gap: 168px;
    }
  }

  .main__about-us {
    padding: 148px 423px;
  }

  .main__service {
    padding: 50px 227px;

    &_description {
      margin-top: 139px;
    }
  }

  .main__testimonials {
    padding: 100px 227px;
  }
}

@media (min-width: 2560px) {
  .main__expertise {
    padding: 128px 707px;

    &_content {
      flex-direction: row;
      gap: 168px;
    }
  }

  .main__about-us {
    padding: 148px 903px;
  }

  .main__service {
    padding: 148px 707px;
  }

  .main__testimonials {
    padding: 50px 707px;
  }
}

