.hero {
  max-width: 754px;
  margin: 80px 0 80px 100px;

  &__title {
    font-size: 64px;
    line-height: 96px;
    color: #fff;
    font-weight: bold;
  }
  &__description {
    color: #fff;
    font-size: $fz-lg;
    line-height: $lh-lg;
    margin-bottom: 42px;
  }
}