.hero-wrap {
  position: relative;
}

.hero {
  max-width: 754px;
  margin: 80px 0 80px 100px;

  &__title {
    font-size: 64px;
    line-height: 96px;
    color: #fff;
    font-weight: bold;
  }
  &__description {
    color: #fff;
    font-size: $fz-lg;
    line-height: $lh-lg;
    margin-bottom: 42px;
  }

  &__network-links {
    position: absolute;
    right: -20%;
    top: 45%;
    text-transform: uppercase;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);

    a {
      padding: 0 40px;
      color: $text-secondary;
      text-decoration: none;

      @include hover(color, lighten($text-secondary, 25%));
    }
  }

}

.intro {
  padding: 160px 0;
  margin: 0 auto;
  max-width: 742px;

  &__welcome {
    line-height: $lh-lg;
  }

}
