.about-us {
  padding: 0 50px;

  &__info {
    min-height: 500px;
    max-width: 754px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__title {
    margin-bottom: 16px;
    color: $color-text-dark;
    @extend %title-h3;

    @media screen and (max-width: 430px) {
      padding-top: 70px;
    }
  }

  &__text {
    @include text-big;
    color: $color-text;

    @media screen and (max-width: 1400px) {
      font-size: 20px;
    }

    @media screen and (max-width: 430px) {
      padding-bottom: 30px;
    }
  }
}
