.contacts-wrap {
  display: flex;
}

.feedback {
  width: 65%;
  padding-right: 10%;
}

.feedback-form {
  margin-top: 100px;
}

.contacts {
  width: 35%;
}

.contact {
  margin-bottom: 40px;
  text-transform: uppercase;

  &__title {
    font-size: $fz-xs;
    line-height: $lh-lg;
    color: $text-lighten;
    font-weight: 900;
  }
  &__info {
    color: $primary;
    line-height: $lh-lg;
    font-size: $fz-lg;
    text-decoration: none;
    font-weight: 700;
  }
  &-network {
    &__link {
      text-decoration: none;

      &:not(:last-child) {
        margin-right: 48px;
      }
    }
    &__icon {
      width: 32px;
      height: 32px;
    }
  }
}
