.footer-wrap {
  display: flex;
  justify-content: space-between;
  line-height: $lh-lg;
  color: $text-secondary;
  margin-top: 135px;
  margin-bottom: 80px;
}

.footer-nav {
  display: flex;

  &__item:not(:last-child) {
    margin-right: 60px;
  }

  &__link {
    color: $text-secondary;
    text-decoration: none;

    &:hover {
      @include hover(color, lighten($text-secondary, 30%));
    }
  }
}
