.footer {
  position: sticky;
  margin: 0 auto;
  color: $color-white;
  background-color: $color-graphite;
  z-index: 1;

  &__wraper {
    max-width: 1146px;
    margin: 0 auto;

    @media screen and (max-width: 1200px) {
      padding: 40px;
    }
  }

  &__info {
    padding: 180px 0;
    display: flex;
  }

  &__message {
    width: 460px;

    @media screen and (max-width: 1200px) {
      width: 400px;
    }
  }

  &__message-title {
    @extend %title-h3;
    margin-bottom: 56px;
  }

  &__form {
    max-width: 460px;
  }

  &__contact {
    margin-left: 226px;
  }

  &__bottom {
    padding: 20px 0 80px;
    display: flex;
    justify-content: space-between;
  }
}
