.header {
  position: relative;
  height: 100vh;
  padding-left: 227px;
  background-color: $color-blue;
  border-bottom-left-radius: 20%;
  border-width: 40px;

  // &__logo {
  //   display: block;
  //   position: absolute;
  //   top: 48px;
  //   left: 200px;
  // }

  &__nav {
    position: relative;
    padding-top: 52px;
  }

  &__wraper {
    position: absolute;
    height: 680px;
    width: 100%;
    bottom: 0;

    display: grid;
    grid-template-columns: minmax(400px, 490px) minmax(687px, 900px);
  }

  &__name {
    max-width: 800px;
  }

  &__title {
    margin-bottom: 32px;

    font-weight: 600;
    font-size: 64px;
    line-height: 68px;
    letter-spacing: -2px;
  }

  &__text {
    font-size: 18px;
    margin-bottom: 56px;
  }

  &__slider {
    width: 100%;
    position: absolute;
    right: 0;
    bottom: 0;

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }
}
