.header {
  position: sticky;
  margin: 0 auto;
  background-color: $color-graphite;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  color: $color-white;
  z-index: 1;

  &__wraper {
    position: relative;
    height: 100vh;
    max-width: 1146px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    border-width: 40px;
  }

  &__top {
    position: relative;
    display: flex;
    align-content: center;
    max-width: 1146px;
    margin: 50px 0 10px;

    @media screen and (max-width: 1200px) {
      margin: 50px 20px 10px;
    }
  }

  &__logo {
    display: block;
    margin-right: 78px;
  }

  &__nav {
    position: relative;
  }

  &__link {
    @extend %link;
    // position: relative;
    position: absolute;
    right: 0;
    bottom: 0;

    &::after {
      @include nav-link-after-element;
    }

    &--is-active::after {
      transform: scale(1);
    }
  }

  &__info {

    display: flex;
    align-items: center;
    height: calc(100% - 120px);
    max-width: 1150px;
  }

  &__name {
    max-width: 800px;
    @media screen and (max-width: 1200px) {
      margin-left: 20px;
    }
  }

  &__title {
    margin-bottom: 32px;
    width: 250px;
    font-family: $font-family-title;
    font-weight: 600;
    font-size: 64px;
    line-height: 68px;
    letter-spacing: -2px;
    color: $color-white;
  }

  &__text {
    width: 350px;
    font-family: $font-family-text;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 83px;
  }

  &__slider {
    position: absolute;
    right: 0;
    bottom: 0;
  }
}
