.hero {
  overflow: hidden;
  padding-top: 30px;
  border-radius: 0 0 $border-radius-section
    $border-radius-section;
  background-color: $color-base-bg;

  @include media-tablet {
    padding-top: 38px;
  }

  @include media-desktop {
    padding-top: 0;
  }

  &__container {
    @include page-grid;

    row-gap: 48px;

    @include media-tablet {
      row-gap: 147px;
    }
  }

  &__content {
    grid-column: 1 / -1;

    @include media-desktop {
      grid-column: 6 span;
      padding-top: 120px;
    }

    @include media-large {
      grid-column: 5 span;
    }
  }

  &__title {
    margin-bottom: 32px;

    @include media-tablet {
      margin-bottom: 24px;
    }

    @include media-desktop {
      margin-bottom: 32px;
    }
  }

  &__text {
    margin-bottom: 72px;
    font-size: 18px;

    @include media-tablet {
      max-width: 362px;
      margin-bottom: 56px;
    }

    @include media-desktop {
      margin-bottom: 83px;
    }
  }

  &__slider {
    grid-column: 1 / -1;
    height: 390px;

    @include media-desktop {
      grid-column: 6 span;
      height: 680px;
    }

    @include media-large {
      grid-column: 8 / -1;
    }
  }
}
