.our-expertise {
  width: 100%;
  padding-top: 72px;
  padding-bottom: 72px;
  border-radius: 30px;

  background-color: #fff;

  @include on-tablet {
    padding-top: 128px;
    padding-bottom: 128px;
  }

  @include on-desktop {
    padding-bottom: 134px;
  }

  &__container {
    @include make-container;

    display: flex;
    flex-direction: column;
    align-items: center;

    @include on-tablet {
      padding-inline: 140px;
    }

    @include on-desktop {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      column-gap: 20px;
      padding-inline: 54px;
    }
  }

  &__title {
    margin: 0;
    color: $c-h-people;

    @include on-tablet {
      @include h2-large;
    }

    @include on-desktop {
      grid-column: 1 / -1;
    }
  }

  &__feature-card {
    padding-top: 56px;

    @include on-desktop {
      grid-column: span 4;
      grid-row: 2;

      &:nth-child(2) {
        grid-column: span 4;
      }
      &:nth-child(3) {
        grid-column: span 4;
      }
    }
  }
}
