.page {
  background-color: $color-background-light;
  font-family: $font-main;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  scroll-behavior: smooth;

  &__body {
    margin: 0;
    color: $color-text;

    &--with-menu {
      overflow: hidden;
    }
  }

  &__section {
    margin-bottom: 120px;

    @include onTablet {
      margin-bottom: 148px;
    }

    &:last-child {
      @include onTablet {
        margin-bottom: 0;
      }
    }
  }

  &__menu-mobile {
    @extend .header;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    transform: translateX(-100%);
    transition: transform $transition;

    &:target {
      transform: translateX(0);
    }
  }
}
