.reviews-wrap {
  padding: 160px 64px 0;
  background-color: #fff;
}

.reviews {
  display: flex;
  justify-content: space-between;
  margin-top: -155px;
  transform: translateY(155px);
  margin-right: -10px;
  margin-left: -10px;
}

.review {
  margin: 10px;
  padding: 75px 32px 48px;
  background-color: #fff;
  box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.03);
  box-sizing: border-box;
  text-align: center;
  max-width: 314px;
  position: relative;
  @include hover(transform, translateY(-15px));

  &__author-photo {
    height: 130px;

    img {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }

    &:before {
      content: "";
      display: inline-block;
      height: 64px;
      width: 161px;
      transform: rotate(120deg);
      border-radius: 64px;
      background-color: #2f80ed;
    }
  }

  &--primary:before {
    background-color: $primary;
  }
  &--warning:before {
    background-color: $warning;
  }
  &--danger:before {
    background-color: $danger;
  }

  &__description {
    line-height: $lh-lg;
    font-size: $fz-sm;
  }

  &__details {
    text-transform: uppercase;
    line-height: $lh-lg;
    font-weight: 900;
  }

  &__author {
    color: $text-primary;
    font-size: $fz-xs;
    line-height: $lh-lg;
    font-weight: bold;
  }

}
