.testimonials {
  display: flex;
  justify-content: center;
  align-items: center;

  &__wraper {
    max-width: 1146px;
    width: 100%;
    padding-top: 148px;
    padding-bottom: 168px;
  }

  &__title-link {
    color: $color-gray-metal;

    @media screen and (max-width: 1441px) {
      margin-left: 40px;
    }
  }

  &__title {
    margin-bottom: 85px;
    color: $color-text-dark;
    @extend %title-h3;

    @media screen and (max-width: 1441px) {
      margin-left: 40px;
    }
  }

  &__cards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @media screen and (max-width: 1441px) {
      justify-content: center;
      align-items: center;
    }
  }

  &__text {
    max-width: 360px;
    margin-bottom: 16px;
    @extend %text;
  }
}
