.vision {
  padding: 72px 0;
  background-color: $color-light;

  @include onTablet {
    padding: 202px 0;
    background-image: url(../images/Shapes.png);
  }

  @include onSmallDesktop {
    padding: 208px 0 198px;
  }

  &__content {
    margin: 0 auto;
    max-width: 754px;
  }

  &__title {
    margin-bottom: 24px;
    text-align: center;

    @include onTablet {
      line-height: 6.2rem;
    }

    @include onSmallDesktop {
      margin-bottom: 32px;
    }
  }

  &__text {
    margin-bottom: 56px;
    @extend %text-main;
    text-align: center;

    @include onTablet {
      margin-bottom: 64px;
    }
  }

  &__button {
    margin: 0 auto;
    height: 56px;
  }
}
