.wrapper {
  margin: 0 auto;
  max-width: 1146px;
  padding: 0 20px;

  @include onTablet {
    padding: 0 41px;
  }

  @include onSmallDesktop {
    padding: 0 54px;

    &--slider {
      padding: 0;
      margin: 0;
    }
  }

  @include onDesktop {
    padding: 0;
  }
}
