/* BACKGROUND COLORS*/
$background-color-white: #fff;
$background-color-grey: #fcfcfd; // rgba(252,252,253)
$background-color-blue: #56ccf2;
$background-grey-light: #334563;
$backgroun-color-grey-middle: #253757;

/* TEXT COLORS */
$text-color-white: #fff;
$text-color-blue: #56ccf2;
$text-color-grey-light: #334563;
$text-color-grey-middle: #253757;
$text-color-dark: #152032;

/* OTHER COLORS */

$yellow: #fcc304;
$green: #03d542;
$red: #f25656;
$fillet: #bc04fc;
$blue-dark:#2f80ed;
$grey: #c4c4c4;
