.expertise {
  width: 100%;
  height: 100%;
  border-radius: 25px;
  background-color: #fff;

  &__container {
    padding: 72px 20px;

    @media screen and (min-width:639px) and (max-width:1023px) {
      padding: 128px 41px;
    }

    @media screen and (min-width:1024px) and (max-width:1279px) {
      padding: 128px 54px 0;
    }

    @media screen and (min-width:1280px) and (max-width:1599px) {
      padding: 200px 266px 0;
    }

    @media screen and (min-width:1600px) and (max-width:2560px) {
      padding: 200px 706px 0;
    }
  }

  &__title {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 44px;
    line-height: 120%;
    align-items: center;
    text-align: center;
    color: #253757;
    margin-bottom: 56px;

    @media screen and (min-width:639px) and (max-width:1023px) {
      font-size: 52px;
    }
  }

  &__blocks {
    @media screen and (min-width:1024px) and (max-width:2560px) {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
    }
  }

  &__block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 56px;

    &-image {
      border-radius: 10px;
      margin-bottom: 32px;
    }

    &-title {
      font-family: "Poppins", sans-serif;
      font-weight: 600;
      font-size: 20px;
      line-height: 140%;
      text-align: center;
      color: #253757;
      margin: 0;
      margin-bottom: 16px;
    }

    &-desc {
      font-family: "Open Sans", sans-serif;
      font-weight: 400;
      font-size: 14px;
      line-height: 150%;
      text-align: center;
      color: #6c788b;
      margin: 0;

      @media screen and (min-width:639px) and (max-width:1023px) {
        max-width: 362px;
      }

      @media screen and (min-width:1024px) and (max-width:2560px) {
        max-width: 264px;
      }
    }
  }
}

.block--1 {
  @media screen and (min-width:1024px) and (max-width:2560px) {
    grid-column: 1 / 5;
  }
}

.block--2 {
  @media screen and (min-width:1024px) and (max-width:2560px) {
    grid-column: 5 / 9;
  }
}

.block--3 {
  @media screen and (min-width:1024px) and (max-width:2560px) {
    grid-column: 9 / 13;
  }
}
