@use '../../abstracts' as a;

.slider {
  &__controls {
    display: flex;
    justify-content: space-between;
    width: 80px;
  }

  &__btn {
    @include a.reset-button;

    width: 32px;
    height: 32px;
    border-radius: a.$br-main;

    background-color: a.$clr-white;
    background-repeat: no-repeat;
    background-position: center;
  }

  &__btn--left {
    background-image: url(../images/slider/arrow-left.svg);
  }

  &__btn--right {
    background-image: url(../images/slider/arrow-right.svg);
  }
}
