@mixin contentPaddingInline() {
  padding-inline: 20px;

  @include onTablet {
    padding-inline: 41px;
  }

  @include onSmallDesktop {
    padding-inline: 54px;
  }

  @include onDesktop {
    padding-inline: 227px;
  }

  @include largeScreens {
    padding-inline: 707px;
  }
}

.container {
  @include contentPaddingInline;
}
