/* Change autocomplete styles in WebKit */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-width: 0 0 2px;
  border-color: $bg-blue-color;
  -webkit-text-fill-color: $c-main-text-color;
  -webkit-box-shadow: 0 0 0 1000px $bg-dark-color inset;
  transition: background-color $effectDuration ease-in-out 0s;
  caret-color: $c-main-text-color;
}
