@import "utils";

.general-background {
  background: #008aff;
  height: $head_size;
  overflow: hidden;

  &--radius-left-down {
    border-radius: 0 0 0 200px;
  }

  &--radius-right-up {
    border-radius: 0 200px 0 0;
  }
}

@media only screen and (max-width: 990px) {

  .general-background {
    background: #008aff;
  
    &--radius-left-down,
    &--radius-right-up {
      border-radius: 0;
    }
  }
}

@media only screen and (min-width: calc(#{$max_scr} + 1px)) {

  .general-background {
    background: #008aff;
  
    &--radius-left-down {
      border-radius: 0 0 200px 200px;
    }

    &--radius-right-up {
      border-radius: 200px 200px 0 0;
    }
  }
}
