.slide {
  position: relative;
  z-index: 0;

  &__visible-zone {
    position: absolute;
    top: calc(-800px + #{$head_size} + 60px);
    right: 0;

    border-radius: 200px 0 0;
    width: 690px;
    height: 690px;
    overflow: hidden;
    z-index: 0;
  }

  &__images {
    display: flex;
    width: 400%;
    height: 100%;
    transition: 1s ease-in-out ;
  }

  &__item {
    width: 690px;
    height: 690px;
  }

  &__switches {
    display: none;
  }

  &__buttons {
    position: relative;

    & :nth-child(n) {
      position: absolute;
      height: 32px;
      width: 32px;

      border-radius: 50%;
      transition: $transition_fast transform;

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  &__intro {
    position: absolute;
    left: 144px;
    bottom: 40px;
  }

  &__intro-tittle {
    @include font (bold, 13px, 19px, $head_main_color, $font-tittle);
    letter-spacing: 3px;
    text-transform: uppercase;
    margin: 0;
  }

  &__intro-txt {
    @include font (normal, 14px, 140%, $head_main_color, $font-text);
    width: 264px;
    margin: 0;
  }

  &__menu {
    position: absolute;
    display: none;
  }

}

.slide-menu {
  position: absolute;
  top: 50px;
  right: 10px;

  height: 50px;
  width: 50px;
  
  background: no-repeat url(../../images/slider/menu.svg);
  background-size: 100%;
  visibility: hidden;
}

@for $i from 0 to 4 {
  #slide_swch#{$i}:checked ~ .slide__images {
    margin-left: -#{100% * $i};
  }
}

@for $i from 0 to 4 {
  #slide_swch0:checked ~ .slide__buttons :nth-child(4),
  #slide_swch#{$i}:checked ~ .slide__buttons :nth-child(#{$i}) {
    top: -80px;
    left: 48px;

    background: no-repeat 
      $head_main_color 
      url(../../images/slider/arrow-left.svg);
    background-size: 9px;
    background-position: center;
  }
}

@for $i from 0 to 4 {
  #slide_swch3:checked ~ .slide__buttons :nth-child(1),
  #slide_swch#{$i}:checked ~ .slide__buttons :nth-child(#{2+$i}) {
    top: -80px;
    left: 88px;
    
    background: no-repeat 
      $head_main_color 
      url(../../images/slider/arrow-right.svg);
    background-size: 9px;
    background-position: center;
  }
}

#slide-navigation {
  &:checked ~ .header__poster {
    left: -500px;
  }

  &:checked ~ .phone-navigation {
    left: -0;
  }

  &:checked ~ .slide-menu {
    background-image: url(../../images/slider/menuX.svg);
  }
}

@media only screen and (max-width: 990px) {

  .slide-menu {
    visibility: visible;
  }

  .slide {
    opacity: 0.9;
    z-index: 1;
    
    &__info {
      position: absolute;
      left: auto;
      right: 20px;
      bottom: 0;
    }

    &__intro {
      display: none;
    }
  }

  @for $i from 0 to 4 {
    #slide_swch0:checked ~ .slide__buttons :nth-child(4),
    #slide_swch#{$i}:checked ~ .slide__buttons :nth-child(#{$i}) {
      top: -80px;
      right: 60px;
      left: auto;
    }
  }
    
  @for $i from 0 to 4 {
    #slide_swch3:checked ~ .slide__buttons :nth-child(1),
    #slide_swch#{$i}:checked ~ .slide__buttons :nth-child(#{2+$i}) {
      top: -80px;
      right: 20px;
      left: auto;
    }
  }

}
