@include onSmallDesktop {
  .logo {
    @include hover(transform, scale(1.2));
  }

  .nav {
    &__link {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        display: flex;
        bottom: -8px;
        height: 1px;
        width: 100%;
        background-color: $c-blue;

        transition: transform $effectDuration;
        transform: scale(0);
      }

      &:hover::after {
        transform: scale(1);
      }

      &:active {
        color: $c-blue;
      }
    }
  }

  .header__top__hire-us__link:hover {
    transition: color $effectDuration;
    color: $c-blue;
  }

  .expertise__photo {
    @include hover(transform, scale(1.1));

    &:hover {
      box-shadow: 0 9px 18px 0 rgba(37, 41, 49, 0.7);
    }
  }

  .services {
    &__card {
      transition: box-shadow $effectDuration;

      &:hover {
        box-shadow: 0 9px 18px 0 rgba(37, 41, 49, 0.5);
      }
    }

    &__link-text {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        display: flex;
        bottom: -8px;
        height: 1px;
        width: 100%;
        background-color: $c-blue;

        transition: transform $effectDuration;
        transform: scale(0);
        transform-origin: left;
      }

      &:hover::after {
        transform: scale(1);
      }
    }

    &__link-circle {
      @include hover(transform, scale(1.2));
    }
  }

  .testimonial {
    &__card {
      transition: box-shadow $effectDuration;

      &:hover {
        box-shadow: 0 9px 18px 0 rgba(37, 41, 49, 0.5);
      }
    }

    &__photo {
      @include hover(transform, scale(1.2));
    }
  }

  .footer__contacts {
    &__social-link {
      transition: filter $effectDuration;

      &:hover {
        filter: brightness(0.3) sepia(1) hue-rotate(187deg) saturate(6);
      }
    }

    &__link {
      transition: color $effectDuration;

      &:hover {
        color: $c-blue;

      }
    }
  }

  .button {
    transition: all $effectDuration;
    box-sizing: border-box;

    &:hover {
      background: none;
      border: 1px solid $c-blue;
    }

    &:active {
      color: $c-blue;
    }

    &--vis-pas-res {
      &:hover {
        color: $c-blue;
      }

      &:active {
        color: $c-dark-blue;
      }
    }
  }
}
