.nav {
  gap: 48px;

  &__link {
    font-family: "Poppins", sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 3px;

    color: $c-white;
    text-decoration: none;
    text-transform: uppercase;

    &--header {
      text-align: center;
    }

    &--footer {
      text-align: start;
    }
  }

  &--header {
    display: none;

    @include onSmallDesktop {
      display: flex;
    }
  }

  &--menu {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }

  &--footer {
    display: flex;
    flex-direction: column;
    gap: 24px;

    @include onTablet {
      flex-direction: row;
      gap: 40px;
    }

    @include onSmallDesktop {
      gap: 64px;
    }
  }
}
