.about {
  background-color: #fff;
  padding-top: 128px;
  width: 100%;
  margin: 0 auto;

  &__title {
    text-align: center;
    margin-bottom: 64px;
  }

  &__cards {
    display: flex;
    justify-content: space-around;
  }
}

.card {
  width: 11rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 1rem 155px 0;

  &:last-child {
    margin-right: 0;
  }

  text-align: center;

  &__img {
    margin: 0 auto 40px;
    border-radius: 24px;
    width: 166px;
    height: 166px;
    object-fit: cover;
  }

  &__title {
    margin-bottom: 16px;
  }
}

@media (max-width: $res-tablet) {
  .about {
    padding-top: 2rem;

    &__cards {
      flex-direction: column;
    }
  }

  .card {
    margin: 0 auto 60px;

    &:last-child {
      margin: 0 auto 100px;
    }
  }
}
