.btn {
  display: block;
  padding: 14px 70px;

  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  text-align: center;
  color: $color-white;

  background-color: $color-blue;
  border: 2px solid $color-blue;
  box-sizing: border-box;
  border-radius: 8px;
  cursor: pointer;
  transition: color 0.2s, background-color 0.2s;

  &:hover,
  &:active {
    color: $color-white;
    background-color: $color-blue;
  }

  &:active,
  &:focus {
    box-shadow: 0 6px 23px rgba($color-blue, 0.46);
    outline: none;
  }
}
