.card {
  width: 264px;
  height: 264px;

  background-color: $secondary-background-color;
  border-radius: 16px;
  box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);

  padding: 32px;

  transition: box-shadow $transition-duration ease;
  cursor: pointer;

  &:nth-child(2n-1) {
    transform: translateY(50%);
  }

  @media (max-width: 980px) {
    &:nth-child(2n-1) {
      transform: translateY(-50%);
    }
  }

  @media (max-width: 860px) {
    &:nth-child(2n-1) {
      transform: translateY(0);
    }
  }

  &:hover {
    box-shadow: 0 6px 23px rgba(0, 117, 255, 0.46);
  }

  &__num {
    width: 46px;
    height: 24px;
    text-align: center;

    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 24px;

    text-transform: uppercase;

    color: $element-color;

    background-color: rgba(233, 240, 254, 1);
    border-radius: 23px;

    margin-bottom: 24px;
  }

  &__points {
    font-family: Open Sans, Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 13px;
    line-height: 150%;

    color: $description-text-color;
  }

  &__link {
    display: inline-block;
    width: 40px;
    height: 40px;

    position: relative;
    
    background-image: url(../images/card/button-link.svg);
    background-repeat: no-repeat;
    background-position: center;

    margin-top: 32px;

    transition: transform $transition-duration ease;

    &:hover {
      transform: scale(1.05);
    }

    &::after {
      content: "Learn more";

      position: absolute;
      left: 140%;
      top: 25%;

      font-family: Poppins, Arial, Helvetica, sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 15px;
      white-space: nowrap;
      color: $card-link-color;
    }
  }
}
