.cooperation {
  position: relative;
  text-align: center;
  background: #fff;
  padding: 200px 20px;
  z-index: 0;

  &__title {
    margin-bottom: 1rem;
  }

  &__describe {
    font-size: 1rem;
    max-width: 754px;
    margin: 0 auto;
    margin-bottom: 64px;
  }

  &__btn {
    margin: 0 auto 200px;
  }

  &__oval {
    position: absolute;
    z-index: -1;
    opacity: 0.5;
    transition: background 0.3s;

    @include oval;

    @each $clr, $clr-var in $clr-list {
      &--#{$clr} {
        border: 2px solid $clr-var;
        transform: rotate(-65deg);

        &:hover {
          background-color: $clr-var;
          border: none;
        }
      }
    }

    &:nth-child(1) {
      left: 20%;
      top: 10%;
      width: 86px;
      height: 34px;
    }

    &:nth-child(2) {
      width: 45px;
      height: 18px;
      left: 30%;
      top: 10%;
    }

    &:nth-child(3) {
      width: 67px;
      height: 27px;
      left: 10%;
      top: 45%;
    }

    &:nth-child(4) {
      width: 143px;
      height: 57px;
      left: 20%;
      top: 35%;
    }

    &:nth-child(5) {
      width: 94px;
      height: 37px;
      left: 15%;
      top: 55%;
    }

    &:nth-child(6) {
      width: 45px;
      height: 18px;
      left: 35%;
      top: 50%;
    }

    &:nth-child(7) {
      width: 143px;
      height: 57px;
      right: 20%;
      top: 20%;
    }

    &:nth-child(8) {
      width: 45px;
      height: 18px;
      right: 15%;
      top: 10%;
    }

    &:nth-child(9) {
      width: 94px;
      height: 37px;
      right: 10%;
      top: 30%;
    }

    &:nth-child(10) {
      width: 94px;
      height: 37px;
      right: 25%;
      top: 45%;
    }

    &:nth-child(11) {
      width: 45px;
      height: 18px;
      right: 35%;
      top: 55%;
    }

    &:nth-child(12) {
      width: 143px;
      height: 57px;
      top: 50%;
      right: 15%;
    }
  }
}

@media (max-width: $res-tablet) {
  .cooperation {
    &__reactangles {
      visibility: hidden;
    }
  }
}
