@import '../utils';

.feedback {
  background-color: $creamy;
  padding: 148px 707px;
}

.service,
.reviews {
  &__subtitle {
    font-weight: 700;
    font-size: 13px;
    text-transform: uppercase;
    color: $gray;
    margin-bottom: 16px;
  }

  &__title {
    font-weight: 600;
    font-size: 32px;
    line-height: 130%;
    color: $dark-blue;
  }
}

.service {
  display: flex;
  gap: 226px;
  align-items: center;
  justify-content: center;
  margin-bottom: 148px;

  &__title {
    margin-bottom: 24px;
  }

  &__info {
    max-width: 365px;
  }

  &__paragraph {
    font-family: 'Open Sans', sans-serif;
    line-height: 150%;
    font-size: 14px;
    font-weight: 400;
    color: $gray;

    &:first-of-type {
      margin-bottom: 24px;
    }
  }

  &__grid {
    position: relative;
    height: 690px;
    width: 558px;
  }
}

.direction {
  background-color: white;
  padding: 32px;
  border-radius: 16px;
  height: 264px;
  width: 264px;
  position: absolute;
  box-sizing: border-box;
  transition: transform 0.3s ease;
  cursor: pointer;

  &:hover {
    transform: scale(1.1);
  }

  &__num {
    display: inline-block;
    color: $blue;
    font-weight: 600;
    font-size: 13px;
    padding: 2px 12px;
    background-color: $light-blue;
    border-radius: 23px;
    margin-bottom: 24px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
  }

  &__item {
    font-family: 'Open Sans', sans-serif;
    line-height: 150%;
    font-weight: 600;
    font-size: 13px;
    color: $gray;
  }

  &__learn-more {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  &__circle-link {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: $blue;
    position: relative;
    cursor: pointer;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.1);
    }

    &::before {
      background: url('../images/feedback/arrow_forward.svg') center/cover
        no-repeat;
      position: absolute;
      content: '';
      width: 24px;
      height: 24px;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__learn-more-link {
    color: $dark;
    font-size: 15px;
    font-weight: 600;
  }
}

.direction--1 {
  top: 132px;
  left: 0;
}

.direction--2 {
  top: 0;
  right: 0;
}

.direction--3 {
  bottom: 0;
  left: 0;
}

.direction--4 {
  bottom: 132px;
  right: 0;
}

.reviews {
  margin: 0 auto;
  width: max-content;

  &__info {
    margin: 0 auto 85px;
  }

  &__subtitle {
    display: block;
    color: #c0cdd7;
    margin-bottom: 16px;
  }

  &__customers {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }
}

.customer {
  box-sizing: border-box;
  height: 494px;
  width: 362px;
  padding: 87px 56px 32px;
  border-radius: 16px;
  background: white;
  box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
  text-align: center;
  transition: transform 0.3s ease;
  cursor: pointer;

  &:hover {
    transform: scale(1.1);
  }

  &__photo {
    border-radius: 50%;
    width: 140px;
    height: 140px;
    margin: 0 auto 80px;
    position: relative;

    &::after,
    &::before {
      height: 141px;
      width: 110px;
      content: '';
      position: absolute;
      background: url('../images/customers/rectangle.png') center/cover
        no-repeat;
    }

    &::before {
      top: -50px;
      left: -37px;
    }

    &::after {
      top: 50px;
      left: 64px;
    }
  }

  &__photo-inner {
    position: relative;
    z-index: 10;
    border-radius: 50%;
  }

  &__quotes {
    width: 24px;
    height: 24px;
    margin: 0 auto 8px;
    background: url('../images/customers/quotes.svg') center/cover no-repeat;
  }

  &__paragraph,
  &__name {
    font-family: 'Open Sans', sans-serif;
    line-height: 150%;
    font-size: 13px;
    font-weight: 600;
  }

  &__paragraph {
    color: $gray;
    margin-bottom: 16px;
  }

  &__name {
    color: $dark;
    margin-bottom: 4px;
  }

  &__direction {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 13px;
    color: $customer-direction;
  }
}

@media screen and (min-width: 1600px) and (max-width: 2559px) {
  .feedback {
    padding: 148px 227px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1599px) {
  .feedback {
    padding: 148px 54px;
  }

  .service {
    gap: 176px;

    &__info {
      max-width: 28.5vw;
    }

    &__grid {
      width: 448px;
      height: 687px;
    }
  }

  .direction {
    width: 214px;
    padding: 32px 30px 32px 32px;
  }

  .direction--1 {
    top: 139px;
  }

  .direction--4 {
    bottom: 139px;
  }

  .reviews {
    width: 100%;

    &__customers {
      display: grid;
      gap: 20px;
      grid-template-columns: repeat(3, 1fr);
    }
  }

  .customer {
    width: auto;
    height: auto;
    padding: 75px 48px 32px;
  }
}

@media screen and (min-width: 640px) and (max-width: 1023px) {
  .feedback {
    padding: 148px 41px;
  }

  .service {
    gap: 0;
    flex-direction: column;
    align-items: start;
    width: 558px;
    margin: 0 auto 148px;

    &__info {
      max-width: 266px;
    }

    &__grid {
      margin-top: -50px;
      width: 100%;
      height: 690px;
    }
  }

  .direction {
    width: 264px;
    height: 264px;
    padding: 32px 30px 32px 32px;
  }

  .direction--1 {
    top: 139px;
  }

  .direction--4 {
    bottom: 139px;
  }

  .reviews {
    width: 100%;

    &__info {
      margin-bottom: 56px;
    }

    &__customers {
      display: grid;
      gap: 30px;
      grid-template-columns: 1fr;
    }
  }

  .customer {
    width: auto;
    height: auto;
    padding: 75px 48px 32px;
  }
}

@media screen and (min-width: 320px) and (max-width: 639px) {
  .feedback {
    padding: 120px 20px;
  }

  .service {
    gap: 0;
    flex-direction: column;
    align-items: start;

    &__info {
      max-width: 100%;
      margin-bottom: 48px;
    }

    &__grid {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      gap: 24px;
    }
  }

  .direction {
    position: static;
    width: 100%;
    height: auto;
    padding: 32px 30px 32px 32px;
  }

  .reviews {
    width: 100%;

    &__info {
      margin-bottom: 56px;
    }

    &__customers {
      display: grid;
      gap: 30px;
      grid-template-columns: 1fr;
    }
  }

  .customer {
    width: auto;
    height: auto;
    padding: 75px 48px 32px;
  }
}
