.footer {
  padding-top: 50px;
  padding-bottom: 50px;

  .section__sub-title {
    margin-bottom: 43px;
  }
}

.form {
  padding-bottom: 50px;

  .button {
    margin-top: 0;
  }
}

.call-us__description,
.visit-us__description {
  color: $secondary-text-color;
  font-size: 12.6px;
  font-weight: 800;
  text-transform: uppercase;
}

.call-us__phone,
.visit-us {
  color: $main-accent-color;
  font-size: 24px;
  font-weight: 900;
  text-decoration: none;
  transition: 0.4s;

  &:hover {
    color: $main-text-color;
  }
}

.visit-us__description {
  margin-top: 40px;
}

.footer-socials__list {
  @extend %list;
  display: flex;
  padding-top: 50px;
}

.socials__icon {
  width: 32px;
  height: 32px;
}

.item {
  width: 32px;
  height: 32px;

  &:not(:last-child) {
    margin-right: 50px;
  }

  &:hover .socials__icon {
    width: 28px;
    height: 28px;
  }
}

.copyright {
  a {
    color: $main-text-color;
    font-weight: 700;
    text-decoration: none;
    transition: 0.4s;

    &:hover {
      color: $main-accent-color;
    }
  }
}

.menu--footer {
  display: block;
  padding-top: 50px;
  padding-bottom: 50px;

  .menu__list {
    display: block;
    width: auto;
    margin: 0 auto;
  
    .list-item {
      a {
        color: $main-text-color;
        font-weight: 700;
        text-decoration: none;
        transition: 0.4s;

        &:hover {
          color: $main-accent-color;
        }
      }
    }
  }
}
