.form {
  display: flex;
  flex-direction: column;

  &__input {
    color: inherit;
    width: 100%;
    padding: 0 0 16px;
    margin-bottom: 2rem;
    border-bottom: 1px solid white;
    opacity: 0.7;
    transition: opacity 0.3s;

    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;

    &::placeholder {
      color: inherit;
    }

    &:focus {
      opacity: 1;
    }
  }
}
