.form {
  display: flex;
  flex-direction: column;

  &__input {
    max-width: 460px;
    height: 50px;

    background: $header-color;
    border-bottom: 2px solid #fff;

    margin-bottom: 20px;

    @include button-font;

    transition: border-bottom $transition-duration ease;

    &:focus {
      border-bottom: 2px solid #144ed4;
    }

    &::placeholder {
      color: #fff;
      opacity: 0.7;
    }

    @media (max-width: 860px) {
      justify-content: center;
    }
  }
}
