.form-group {
  margin-bottom: 3rem;

  label {
    font-size: $fz-sm;
    font-weight: bold;
  }
}

.form-control {
  border: none;
  border-bottom: 1px solid rgba(117, 117, 117, 0.3);
  outline: none;
  width: 100%;
  background: transparent;
  min-height: 30px;

  &:focus {
    border-bottom: 1px solid black;
  }
}
