.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all $transition;

  &:hover {
    transform: scale(1.1);

  }

  &__object {
    width: 100%;
    height: 25.63px;
  }
}
