@media (min-width: 360px) {
  .container {
    width: 90%;
  }
}

@media (min-width: 640px) {
  .header {
    padding-bottom: 0;
    background: #fcfcfd linear-gradient(116deg, #56ccf2 0%, #56ccf2 77.5%, #fcfcfd 77.6%, #fcfcfd 100%) 0 0/100% 848px no-repeat;
  }

  .header .menu {
    display: block;
  }

  .drop-menu {
    display: none;
  }

  .menu__list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;

    &-item {
      a {
        color: $main-light-color;
      }
    }
  }

  .slider {
    position: relative;
  }

  .slide {
    width: 100%;
    position: relative;
  }

  .photo__description {
    width: 45%;
    position: absolute;
    top: calc(100% - 100px);
    left: 15px;
  }

  .slider__nav-bar {
    position: relative;
    top: -30px;
  }

  .copyright {
    a {
      display: flex;
      justify-content: center;
    }
  }

  .socials__list-item {
    a {
      &:hover {
        color: $main-accent-color;
      }
    }
  }

  .section__intro {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .services__section {
    padding-bottom: 30px;

    .section__title {
      text-align: center;
      margin-bottom: 50px;
    }
  }

  .services-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  .service {
    width: 264px;
  }

  .section__steps {
    padding-top: 30px;
    padding-bottom: 30px;

    .section__sub-title {
      margin-bottom: 30px;
    }
  }

  .steps-list {
    display: flex;
    flex-flow: row wrap;
  }

  .section__features {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .features__list-item {
    width: 400px;
  }

  .section__clients {
    padding-top: 30px;
    padding-bottom: 30px;

    .section__sub-title {
      margin-bottom: 30px;
    }
  }

  .testimonials__list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  .section__cta {
    padding-top: 30px;
    padding-bottom: 30px;

    .section__title {
      text-align: center;
    }
  }

  .footer {
    padding-top: 30px;
  }

  .contact-us__container {
    display: flex;
    justify-content: space-between;

    .left__block,
    .right__block {
      width: 45%;
    }

    .form {
      padding-bottom: 30px;
    }

    .section__sub-title {
      margin-bottom: 20px;
    }

    .visit-us__description {
      margin-top: 20px;
    }

    .footer-socials__list {
      padding-top: 20px;
    }
  }

  .menu--footer {
    .menu__list {
      display: flex;
      justify-content: space-between;
    }
  }

  // .copyright {
  //   a {
  //     display: flex;
  //     justify-content: center;
  //   }
  // }
}

@media (min-width: 800px) {
  .menu__container {
    display: flex;
    align-items: center;
    margin-bottom: 80px;
  }

  .header__logo {
    margin-right: 30px;
    a {
      margin-bottom: 0;
    }
  }

  .menu {
    width: 80%;
    justify-items: end;

    &__list {
      margin-bottom: 0;
    }
  }

  .socials__container {
    position: relative;

    .socials__list {
      writing-mode: vertical-lr;
      position: absolute;
      top: -390px;
      right: -35px;

      .socials__list-item {
        &:not(:last-child) {
          margin-bottom: 40px;
          margin-right: 0;
        }
      }
    }
  }

  .section__features {
    background: #fcfcfd linear-gradient(116deg, #56ccf2 0%, #56ccf2 77.5%, #fcfcfd 77.6%, #fcfcfd 100%) 0 0/100% 848px no-repeat;
  }
  
}

@media (min-width: 1024px) {
  .container {
    // width: 900px;
    position: relative;
  }

  .menu__container {
    display: flex;
    align-items: center;
    margin-bottom: 80px;
  }

  .header__logo {
    margin-right: 143px;
    margin-bottom: 0;
  }

  .menu {
    width: 100%;
  }

  .menu__list {
    margin-bottom: 0;

    &-item {
      &:last-child {
        margin-left: 135px;
      }
    }
  }

  .section__header {
    box-sizing: border-box;
    padding-left: 98px;

    .button--secondary {
      margin: 0;
    }
  }

  .header__title {
    text-align-last: left;
  }

  .header__description {
    width: 754px;
  }

  .socials__container .socials__list {
    top: -470px;
  }

  .container--intro {
    width: 742px;
    margin: 0 auto;
  }

  .container--steps {
    display: flex;
    justify-content: space-between;
    padding-bottom: 290px;
  }

  .section__steps {
    padding-top: 160px;

    .section__sub-title {
      margin-bottom: 64px;
    }
  }

  .steps-description {
    width: 362px;
    margin-bottom: 0;
  }

  .steps__description {
    margin: 0;
    line-height: 1.5em;
  }

  .steps-list {
    width: calc(100% - 400px);
    position: relative;
  }

  .steps-list__item {
    position: absolute;
    margin: 0;
    z-index: 3;

    &:not(:last-child) {
      margin-bottom: 0;
    }
  }

  .step-one {
    top: 176px;
    left: 0;
  }

  .step-three {
    top: 560px;
    left: 0;
  }

  .step-two {
    top: 64px;
    right: 0;
  }

  .step-four {
    top: 448px;
    right: 0;
  }

  .section__features {
    background: $main-accent-color;
    padding-top: 200px;
    padding-bottom: 160px;
    position: relative;
    overflow: hidden;

    .features__photo {
      content: "";
      background-image: url(../images/features-bg.jpg);
      -webkit-clip-path: polygon(30% 0, 60% 0, 40% 90%, 10% 90%);
      clip-path: polygon(30% 0, 60% 0, 40% 90%, 10% 90%);
      position: absolute;
      top: 0;
      right: -50%;
      background-position: cover;
      background-repeat: no-repeat;
      height: 112%;
      width: 100%;
    }

    .section__sub-title {
      width: 362px;
      margin-bottom: 69px;
    }
  }

  .section__clients {
    padding-top: 165px;
    padding-bottom: 0;

    .section__sub-title {
      width: 362px;
      margin-bottom: 86px;
    }
  }

  .section__cta {
    padding-top: 160px;
    padding-bottom: 160px;

    .cta__description {
      width: 754px;
    }

    .bg__icons {
      display: block;
    }
  }
}

@media (min-width: 1280px) {
  .container {
    width: 1024px;
  }

  .photo__description {
    width: 264px;
    left: 98px;
    top: calc(100% - 163px);
  }

  .slider__nav-bar {
    position: absolute;
    top: 50%;
    left: -80px;
    margin-bottom: 0;
  }

  .socials__container .socials__list {
    top: -430px;
    right: -64px;
  }

  .section__intro {
    padding-top: 165px;
    padding-bottom: 136px;
  }

  .container--intro {
    width: 742px;
  }

  .services__section {
    padding-bottom: 162px;

    .section__title {
      margin-bottom: 136px;
    }

    .service {
      margin-bottom: 0;
    }
  }

  .steps-description {
    margin-right: 100px;
  }

  .steps-list {
    width: calc(100% - 462px);
  }

  .testimonial {
    width: 314px;
  }

  .cta__description {
    width: 754px;
  }

  .footer-menu__container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;

    .menu.menu--footer {
      width: 55%;
    }
  }

  .menu--footer {
    padding: 0;
  }

  .contact-us__container .form {
    padding-bottom: 135px;
  }
}

@media (min-width: 1366px) {
  .container {
    width: 1146px;
  }

  .menu {
    &__list {
      justify-content: unset;

      &-item {
        &:not(:first-child) {
          margin-left: 63px;
        }

        &:last-child {
          margin-left: 135px;
        }
      }
    }
  }

  .slider__nav-bar {
    top: 45%;
  }

  .container--intro {
    width: 742px;
  }

  .section__sub-title {
    width: 362px;
  }

  .steps-description {
    margin-right: 187px;
  }

  .steps-list {
    width: 538px;
  }

  .contact-us__container {
    .left__block {
      width: 57%;
    }
  
    .right__block {
      width: 32%;
    }
  }

  .cta__description {
    width: 754px;
  }

  .footer {
    padding-top: 96px;
    padding-bottom: 83px;

    .form {
      .button {
        margin-top: 57px;
      }
    }
  }
}
