.mob-nav {
  display: block;
  
  background-color: $header-color;
  
  overflow: auto;
  
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: -10vw;
  transition: opacity $transition-duration ease;
  opacity: 0;
  z-index: -1;

  padding: 10vw 5vw;

  &__top {
    display: flex;
    justify-content: space-between;
    margin: 0 0 49px;
  }

  &__close {
    height: 16px;
    width: 16px;
    background: no-repeat center url(../images/close.svg);
  }

  &__list {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }

  &__link,
  &__action {
    display: inline-block;
    color: inherit;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 10px 0;

    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
  }

  &__action {
    padding: 4px 0;

    border-bottom: 2px solid $element-color;
  }
}
