@import '../utils/mixins';
@import '../utils/vars';

.nav {
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    align-items: center;
    gap: 28px;
    display: none;

    @include on-small-desktop {
      display: flex;
    }

    &--menu {
      padding: 0;
      list-style: none;
      align-items: center;
      display: flex;
      flex-direction: column;
      gap: 24px;
      margin: 0 auto;
    }

    &--footer {
      align-items: start;
      display: flex;
      flex-direction: column;
      gap: 24px;
      margin: 0 auto;

      @include on-tablet {
        flex-direction: row;
        justify-content: space-between;
      }

      @include on-small-desktop {
        justify-content: flex-start;
        margin: 0;
        gap: 64px;
      }
    }
  }

  &__link {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: $color-white;
    font-size: 13px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 3px;
    text-transform: uppercase;

    @include hover(color, $color-main-blue);

    &--burger {
      display: block;

      @include hover(scale, 1.2);

      @include on-small-desktop {
        display: none;
      }
    }

    &--hire {
      display: block;
      position: relative;

      &::after {
        content: '';
        width: 96%;
        height: 2px;
        background-color: $color-main-blue;
        position: absolute;
        display: block;
        bottom: -8px;
        left: 0;
        border-radius: 4px;
      }
    }
  }
}
