@import '../utils';

.our-expertise {
  background-color: #fff;
  padding: 120px 707px 134px;

  &__title {
    font-weight: 600;
    font-size: 52px;
    line-height: 150%;
    color: $dark-blue;
    text-align: center;
    margin-bottom: 64px;
  }

  &__columns {
    display: flex;
    align-items: start;
    justify-content: center;
    margin: 0 auto;
    gap: 177px;
  }
}

.branding,
.communication,
.strategy {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 264px;
  text-align: center;

  &__img {
    margin-bottom: 40px;
  }

  &__title {
    margin-bottom: 16px;
    font-weight: 600;
    line-height: 140%;
    font-size: 20px;
    color: $dark-blue;
  }

  &__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: $gray;
    font-family: 'Open Sans', sans-serif;
  }
}

@media screen and (min-width: 1600px) and (max-width: 2559px) {
  .our-expertise {
    padding: 120px 227px 134px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1599px) {
  .our-expertise {
    padding: 120px 54px 134px;
  }
}

@media screen and (min-width: 640px) and (max-width: 1023px) {
  .our-expertise {
    padding: 128px 140px;

    &__columns {
      flex-direction: column;
      gap: 72px;
    }
  }

  .branding,
  .communication,
  .strategy {
    width: 100%;
  }
}

@media screen and (min-width: 320px) and (max-width: 639px) {
  .our-expertise {
    padding: 72px 20px;

    &__title {
      font-size: 44px;
      line-height: 120%;
    }

    &__columns {
      flex-direction: column;
      gap: 72px;
    }
  }

  .branding,
  .communication,
  .strategy {
    width: 100%;
  }
}
