
.process {
  position: relative;
  padding: 50px 30px 0;
  width: 100%;

  &__wrap {
    position: relative;
    width: 1200px;
    max-width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__label {
    @include label__style;
    color: #c0cdd7;
  }

  &__headline {
    @include headline__style;
    line-height: 130%;
    color: $color-headline-dark;
    margin-bottom: 24px;
  }

  &__description {
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    line-height: $line-main-height;
    color: $color-paragraph-dark;
  }

  &__cards {
    display: flex;
    position: relative;
    bottom: -5em;
    left: 0;
    height: 660px;
  }

  &__cards_left {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-right: 30px;
  }

  &__card {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 32px;
    width: 264px;
    height: 264px;
    background-color: $color-main-simple;
    box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
    border-radius: 24px;
  }

  &__card_blue,
  &__card_yellow {
    margin-bottom: 30px;
  }

  &__number_blue {
    @include card__numbers_style;
    background-color: rgba(86, 204, 242, 0.1);

    color: rgba(86, 204, 242, 1);
  }

  &__number_yellow {
    @include card__numbers_style;
    background-color: rgba(252, 201, 29, 0.1);

    color: rgba(252, 201, 29, 1);
  }

  &__number_green {
    @include card__numbers_style;
    background-color: rgba(21, 216, 80, 0.1);

    color: rgba(21, 216, 80, 1);
  }

  &__number_red {
    @include card__numbers_style;
    background-color: rgba(243, 99, 99, 0.1);
    
    color: rgba(243, 99, 99, 1);
  }

  &__tools {
    @include paragraph__style;
    margin: 32px 0;
    color: $color-paragraph-dark;
  }

  &__source {
    display: flex;
    align-items: center;
  }

  &__arrow {
    position: relative;
    margin-right: 16px;
    @include card__arrow_style;
  }

  &__arrow_blue {
    background-color: rgba(86, 204, 242, 1);
  }

  &__arrow_yellow {
    background-color: rgba(252, 201, 29, 1);
  }

  &__arrow_green {
    background-color: rgba(21, 216, 80, 1);
  }

  &__arrow_red {
    background-color: rgba(243, 99, 99, 1);
  }

  &__img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 16px;
    height: 16px;
  }

  &__suggestion {
    font-weight: 700;
    line-height: 22px;
    color: #334563;
    font-size: 15px;
  }

}

@media only screen and (max-width: $small-monitor) {
  .process {
    &__wrap {
      flex-direction: column;
    }
  }
}

@media only screen and (max-width: $mobile-res) {
  .process {
    padding: 50px 30px;

    &__information {
      margin-bottom: 50px;
    }
    
    &__cards {
      flex-direction: column;
      height: auto;
      bottom: 0;
    }

    &__cards_left {
      margin-right: 0;
      margin-bottom: 30px;
    }
  }
}

@media only screen and (max-width: $mobile-res-small) {
  .process {
    &__information {
      text-align: center;
    }
  }
}
