@import '../utils/mixins';
@import '../utils/vars';

.results {
  background-color: $color-white;
  width: calc(100% + 40px);

  @include on-tablet {
    width: calc(100% + 82px);
    background-image: url(/src/images/Shapes.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100%;
  }

  @include on-small-desktop {
    width: calc(100% + 108px);
  }

  @include on-large-desktop {
    width: calc(100% + 208px);
  }

  &__content {
    @include padding-inline-content;
  }

  &__title {
    margin: 0 auto;
  }

  &__text {
    max-width: 750px;
    font-family: $font-secondary;
    font-size: 22px;
    font-weight: 600;
    line-height: 33px;
    color: $color-text-grey;
    margin: 0 auto 64px;
  }

  &__button {
    margin: 0 auto 64px;
  }
}
