.review {
  padding-top: 148px;
  margin-bottom: 148px;

  &__titles {
    max-width: 316px;
  }

  &__small-title {
    color: #c0cdd7;
    margin-bottom: 16px;
  }

  &__title {
    display: inline-block;
    margin-bottom: 85px;
  }

  &__cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 148px;
  }

  &__person {
    width: 314px;
    margin-bottom: 20px;
  }
}

@media (max-width: $res-notebook) {
  .review {
    &__cards {
      flex-direction: column;
    }

    &__titles {
      margin: 0 auto;
    }
  }
}
