@import '../utils/mixins';
@import '../utils/vars';

.section {
  &__title {
    font-size: 32px;
    line-height: 48px;
    color: $color-dark-blue;
    margin-bottom: 16px;
  }

  &__text {
    font-family: $font-secondary;
    font-size: 22px;
    font-weight: 600;
    line-height: 33px;
    color: $color-text-grey;
  }
}
