.slider {
  position: relative;
  max-width: 675px;
  max-height: 670px;
  width: 41vw;
  height: 40vw;
  border-radius: 30px 0;
  overflow: hidden;

  background-image: url(../images/slider/slide-img-1.png);
  background-repeat: no-repeat;
  background-size: cover;

  transition: background-image $transition-duration ease;

  @media (max-width: 860px) {
    display: none;
  }

  &__arrow-left {
    position: absolute;
    
    top: 85%;
    left: 7%;

    content: "";
    width: 32px;
    height: 32px;
    background-image: url(../images/slider/arrow-left.svg);
    background-size: contain;
    transition: transform $transition-duration ease;

    @media (max-width: 980px) {
      left: 5%;
    }

    @media (max-width: 886px) {
      display: none;
    }

    &:hover {
      transform: scale(1.1);
    }
  }

  &__arrow-right {
    position: absolute;
    
    top: 85%;
    left: 15%;

    content: "";
    width: 32px;
    height: 32px;
    background-image: url(../images/slider/arrow-right.svg);
    background-size: contain;
    transition: transform $transition-duration ease;

    @media (max-width: 886px) {
      display: none;
    }

    &:hover {
      transform: scale(1.1);
    }
  }

  &__heading {
    @include nav-font;

    position: absolute;
    top: 83%;
    left: 25%;

    @media (max-width: 980px) {
      top: 87%;
      left: 50%;
      transform: translateX(-50%);
    }

    @media (max-width: 886px) {
      display: none;
    }
  }

  &__paragraph {
    @include decsription;

    position: absolute;
    top: 87%;
    left: 25%;

    max-width: 264px;

    @media (max-width: 980px) {
      display: none;
    }
  }
}
