.slider {
  height: 100%;
  max-width: 687px;

  &__item {
    position: relative;
  }

  &__img {
    margin-bottom: -7px;
    width: 100%;
    height: 680px;
    min-width: 131px;
    min-height: 131px;
    object-fit: cover;
    object-position: center;
  }

  &__img-title {
    color: $color-white;
    position: absolute;
    left: 144px;
    bottom: 96px;
  }

  &__img-text {
    position: absolute;
    left: 144px;
    bottom: 48px;

    font-weight: 400;
    font-size: 14px;
    line-height: 1.4;
    color: $color-white;
  }

  &__arrow {
    width: 72px;
    height: 32px;
    position: absolute;
    bottom: 66px;
    left: 48px;
    display: flex;

    &--left {
      padding-right: 8px;
    }
  }
}
