.stages {
  background-color: $primary-background-color;

  padding: 10vw 5vw;

  @media (max-width: 860px) {
    padding: 10vw 5vw;
  }

  &__container {
    display: flex;
    justify-content: space-between;

    @media (max-width: 980px) {
      flex-direction: column;
    }
  }

  &__description {
    align-self: center;

    max-width: 362px;

    @media (max-width: 980px) {
      margin-bottom: 150px;
    }

    @media (max-width: 860px) {
      margin-bottom: 50px;
    }
  }

  &__intro {
    @include intro;

    margin-bottom: 16px;
  }

  &__heading {

    @extend %h2;

    margin-bottom: 24px;
  }

  &__paragraph {
    @include decsription;

    color: $description-text-color;
    line-height: 150%;

    margin-bottom: 16px;
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 30px;

    @media (max-width: 980px) {
      align-self: center;
    }

    @media (max-width: 860px) {
      grid-template-columns: auto;
    }
  }
}
