.section__steps {
  padding-top: 50px;
  padding-bottom: 50px;
}

.section__sub-title {
  margin-bottom: 30px;
}

.steps__description {
  color: $secondary-text-color;
  font-weight: 400;
  margin-bottom: 30px;
}

.steps-list {
  @extend %list;
}

.steps-list__item {
  display: block;
  width: 240px;
  height: 256px;
  margin: 0 auto;
  padding: 128px 32px 48px;
  background-color: $main-light-color;
  box-shadow: 16px 16px 16px rgba(0, 0, 0, 0.05);
  box-sizing: border-box;
  position: relative;

  &::before {
    display: block;
    content: "";
    width: 48px;
    height: 48px;
    position: absolute;
    left: 50%;
    top: 48px;
    transform: translateX(-50%);
    opacity: 0.1;
    border-radius: 50%;
  }

  &::after {
    display: block;
    width: 24px;
    position: absolute;
    top: 64px;
    left: calc(50% - 12px);
    margin-bottom: 5px;
    font-size: 40px;
    font-weight: 900;
    line-height: 1.5em;
  }

  &:not(:last-child) {
    margin-bottom: 30px;
  }
}

.step-one {
  transition: 0.4s;

  &::before {
    background: linear-gradient(180deg,rgba(255, 255, 255, 0.25) 0%,rgba(255, 255, 255, 0) 100%), linear-gradient(0deg, #56ccf2, #56ccf2), #c4c4c4;
  }

  &::after {
    color: $step-one-color;
    content: "1";
  }

  &:hover {
    transform: translateY(-10px);
  }
}

.step-two {
  transition: 0.4s;

  &::before {
    background: linear-gradient(180deg,rgba(255, 255, 255, 0.25) 0%,rgba(255, 255, 255, 0) 100%), #fcc304;
  }

  &::after {
    color: $step-two-color;
    content: "2";
  }

  &:hover {
    transform: translateY(-10px);
  }
}

.step-three {
  transition: 0.4s;

  &::before {
    background: linear-gradient(180deg,rgba(255, 255, 255, 0.25) 0%,rgba(255, 255, 255, 0) 100%), linear-gradient(0deg, #03d542, #03d542), #c4c4c4;
  }

  &::after {
    color: $step-three-color;
    content: "3";
  }

  &:hover {
    transform: translateY(-10px);
  }
}

.step-four {
  transition: 0.4s;

  &::before {
    background: linear-gradient(180deg,rgba(255, 255, 255, 0.25) 0%,rgba(255, 255, 255, 0) 100%), #f25656;
  }

  &::after {
    color: $step-four-color;
    content: "4";
  }

  &:hover {
    transform: translateY(-10px);
  }
}

.item__description {
  font-size: 12.6px;
  font-weight: 400;
  text-align: center;
}
