.contact-us {
  &_wrapper {
    &_title {
      font-size: 32px;
      line-height: 48px;
      color: $c-white;
      margin-bottom: 48px;
    }

    &_title-small {
      font-size: 13px;
      line-height: 19.5px;
      letter-spacing: 3px;
      color: $c-white;
      opacity: 0.5;
      text-transform: uppercase;
      margin-bottom: 8px;
    }


    &_text {
      font-family: Open Sans;
      font-size: 24px;
      font-weight: 600;
      line-height: 36px;
      color: $c-white;
      display: block;
      margin-bottom: 48px;
      position: relative;
      width: fit-content;

      &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -15px;
        width: 0;
        height: 2px;
        background-color: $c-blue;
        transition: width $transition ease-in-out;
      }

      &:hover::after {
        width: 100%;
      }
    }

    &_images {
      display: flex;
      gap: 32px;
      padding-top: 16px;

      &_img {
        cursor: pointer;
        transition: $transition;
      }

      &_img:hover {
        transform: scale(1.3);
      }
    }
  }
}
