.course{
    display: grid;
    gap: 24px;

    &__card{
        padding: 32px;
        background-color: $white;
        border-radius: 16px;
        box-shadow: 0 9px 18px #25293103;
    }

    &__span{
        font-family: "Poppins", sans-serif;
        font-size: 13px;
        font-weight: 600;
        color: #2060F6;
        background-color: #E9F0FFFF;
        border-radius: 23px;
        padding: 2px 12px;
    }

    &__text{
        font-family: "Open Sans", sans-serif;
        font-weight: 600;
        line-height: 150%;
        font-size: 13px;
        color: #6C788B;
        margin-top: 24px;
        margin-bottom: 32px;
    }

    &__link{
        display: flex;
        align-items: center;
        text-decoration: none;
        font-size: 15px;
        font-weight: 600;
        color: #334563;

        &::before{
            width: 40px;
            height: 40px;
            content: '';
            margin-right: 16px;
            background-image: url(../images/icons/Arrow.svg);
        }
    }
}