.expertise {
  background-color: $c-white;
  border-radius: 30px;
  padding: 72px 0;

  @include on-small-desktop {
    padding: 128px 0;
  }

  &_title {
    text-align: center;
    font-size: 44px;
    line-height: 52.8px;
    color: $c-title-gray;
    margin-bottom: 56px;
  }

  &_items {
    @include page-grid;

    gap: 56px;
    text-align: center;

    &_item {
      grid-column: 1 / -1;

      &--1 {
        @include on-small-desktop {
          grid-column: 1 / 5;
        }
      }

      &--2 {
        @include on-small-desktop {
          grid-column: 5 / 9;
        }
      }

      &--3 {
        @include on-small-desktop {
          grid-column: 9 / -1;
        }
      }

      &_img {
        margin-bottom: 32px;
        border-radius: 30px;
      }

      &_title {
        font-size: 20px;
        line-height: 28px;
        color: $c-title-gray;
        margin-bottom: 16px;
      }

      &_text {
        font-family: Open Sans;
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        color: $c-text-gray;
        padding: 0 40px;
      }
    }
  }
}
