.footer {
  background-color: $c-dark-gray;
  border-radius: 20px 20px 0 0;

  &_wrapper {
    @include page-grid;

    &_form {
      grid-column: 1 / -1;
      padding-top: 72px;
      padding-bottom: 80px;
    }

    &_contact-us {
      grid-column: 1/ -1;
      padding-bottom: 80px;
    }

    &_bottom-bar {
      grid-column: 1 / -1;
      padding-bottom: 80px;
    }
  }
}
