.footer {
  background-color: $c-dark-gray;
  border-radius: 20px 20px 0 0;

  &_wrapper {
    @include page-grid;
    gap: 24px;

    &_form {
      grid-column: 1 / -1;
      padding-top: 72px;
      padding-bottom: 80px;

      @include on-small-desktop {
        padding-top: 180px;
      }

      @include on-tablet {
        grid-column: 1 / 5;
      }

      @include on-small-desktop {
        grid-column: 1 / 6;
      }
    }

    &_contact-us {
      grid-column: 1/ -1;
      padding-bottom: 80px;

      @include on-tablet {
        grid-column: 1 / 5;
      }

      @include on-small-desktop {
        grid-column: 7 / -1;
        padding-top: 180px;
      }

      @include on-desktop {
        grid-column: 8 / 12;
      }
    }

    &_bottom-bar {
      grid-column: 1 / -1;
      padding-bottom: 80px;
    }
  }
}
