.form {
  grid-column: 1/ -1;

  @include onTablet{
    grid-column: 1 / 5;
  }

  @include onLaptop{
    grid-column: 1 / 6;
  }

  @include onDestop{
    grid-column: 1/7;   
  }
  

  &__input {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: $white;
    background-color: inherit;
    width: 100%;
    height: 40px;
    border: none;
    border-bottom: 2px solid $white;

    @include hover(border-bottom, .3s);

    &:not(:last-child){
      margin-bottom: 40px;
    }

    &:focus {
      outline: none;
      border-bottom: 2px solid $mainBotton;
      // font-family: 'Poppins', sans-serif;
      // font-size: 15px;
      // font-weight: 600;
    }
  }

  &__button {
    grid-column: 1/-1;
    margin-top: 56px;
    margin-bottom: 80px;
    
    @include onTablet{
      grid-column: 1/4;
      margin-top: 80px;
      margin-bottom: 120px;
    }

    @include onLaptop{
      grid-column: 1 / 5;
    }

    @include onDestop{
      width: 264px !important;
    }
  }
}
