.header {
  position: relative;
  background-color: $main-dark;
  color: white;
  border-radius: 0 0 30px 30px;

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }

  &__links {
    width: 70%;
  }

  &__menu {
    display: none;
  }

  @include onTablet {
    &__links {
      width: fit-content;
    }

    &__links .links__links {
      display: none;
    }

    &__menu {
      margin-left: 40px;
      width: 20px;
      height: 20px;
      display: block;
      background-image: url(../images/icons8-menu-50.png);
      background-position: center;
      background-size: contain;
    }
  }

  @include onMobile {
    &__links {
      width: fit-content;
    }

    &__links .links__links {
      display: none;
    }

    &__menu {
      margin-left: 40px;
      width: 20px;
      height: 20px;
      display: block;
      background-image: url(../images/icons8-menu-50.png);
      background-position: center;
      background-size: contain;
    }
  }

  &__hire {
    text-transform: uppercase;
    font-style: normal;
    font-weight: 700;
    font-size: 0.7rem;
    line-height: 150%;
    letter-spacing: 3px;
    position: relative;

    &::after {
      content: "";
      display: block;
      position: absolute;
      bottom: -5px;
      height: 2px;
      width: 57px;
      background-color: $main-blue;
      margin: 0 auto;
    }
  }

  &__main-holder {
    display: flex;

    @include onTablet {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    @include onMobile {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  &__title-holder {
    height: 680px;
    width: 30%;
    transform: translateY(50px);

    @include onTablet {
      height: 1100px;
      width: 100%;
      transform: none;
    }

    @include onMobile {
      width: 100%;
      transform: none;
      height: 900px;
    }
  }

  &__title {
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 68px;
    margin: 100px 0 20px;
  }

  &__subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    padding: 5px;
    margin: 20px 0;
  }

  &__slider {
    position: absolute;
    overflow: hidden;
    height: 680px;
    right: 0;
    bottom: 0;
    left: 50%;
    border-radius: 30px 0;

    @include onTablet {
      border-radius: 30px;
      top: 45%;
      left: 0;
      right: 0;
    }

    @include onMobile {
      border-radius: 30px;
      top: 52%;
      left: 0;
      right: 0;
      height: 500px;
    }
  }

  &__arrow {
    background-color: white;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    color: black;
    text-align: center;
  }

  &___back-arrow {
    background-image: url(../images/slider/arrow-left.svg);
  }

  &__front-arrow {
    background-image: url(../images/slider/arrow-right.svg);
  }

  &__image-holder {
    width: 100%;
    height: 100%;

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &__button {
    text-align: center;
  }

  &__buttonw-wrap {
    position: relative;
    display: flex;
  }

  &__button-holder {
    position: absolute;
    bottom: 0;
    display: flex;
    gap: 16px;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 65px 48px;
  }
}
