.header {
  font-family: $font-primary;
  background: $dark-bg;
  padding: 10px 0 0;
  font-style: normal;
  line-height: 150%;
  font-weight: 700;
  font-size: 18px;
  color: $white;
  border-bottom-left-radius: $border-radius;
  border-bottom-right-radius: $border-radius;

  @include on-big-tablet {
    padding-top: 30px;
    padding-bottom: 0;
  }

  &__top {
    @extend %flex-center-between;

    padding-bottom: 48px;

    @include on-big-tablet {
      padding-bottom: 28px;
    }
  }

  &__logo-link {
    display: inline-block;
    margin-right: 32px;
  }

  &__logo-img {
    display: inline-block;
    width: 46px;
    height: 28px;
  }

  &__menu-img {
    display: inline-block;
    width: 24px;
    height: 24px;
  }

  &__link,
  &__nav-link {
    @extend %header-link;

    &::before {
      content: '';
      position: absolute;
      bottom: -8px;
      width: 100%;
      height: 3px;
      border-radius: 4px;
      background-color: $color-link-bg;
    }
  }

  &__content {
    @include on-big-tablet {
      position: relative;
    }
  }

  &__content-top {
    display: flex;
    flex-direction: column;
    padding-bottom: 48px;

    @include on-tablet {
      padding-bottom: 147px;
    }

    @include on-big-tablet {
      padding-top: 120px;
      padding-bottom: 205px;
      width: 50%;
    }
  }

  &__title {
    font-weight: 600;
    font-size: 52px;
    line-height: 120%;
    letter-spacing: -2px;
    margin-bottom: 32px;

    @include on-tablet {
      font-size: 64px;
      margin-bottom: 24px;
    }

    @include on-big-tablet {
      max-width: 365px;
      margin-bottom: 32px;
    }
  }

  &__text {
    font-family: $font-secondary;
    font-weight: 400;
    margin-bottom: 72px;

    @include on-tablet {
      max-width: 365px;
      margin-bottom: 56px;
    }

    @include on-big-tablet {
      margin-bottom: 83px;
    }
  }

  &__button {
    @include on-tablet {
      width: 264px;
    }
  }
}
