.icon {
  display: block;
  height: 32px;
  width: 32px;

  &--facebook {
    background-image: url('../images/icons/facebook.svg');
    @include hover(background-image, url('../images/icons/facebook-hover.svg'));
  }
  &--twitter {
    background-image: url('../images/icons/twitter.svg');
    @include hover(background-image, url('../images/icons/twitter-hover.svg'));
  }
  &--instagram {
    background-image: url('../images/icons/instagram.svg');
    @include hover(background-image, url('../images/icons/instagram-hover.svg'));
  }
}

.menu {
  display: block;
  height: 24px;
  width: 24px;

  &--burger{
    background-image: url('../images/icons/Menu.svg');

  }
  &--close{
    background-image: url('../images/icons/Menu-close.svg');
  }
}


