@import "../utils/mixins";

.vision {
  position: relative;
  padding: 199px 0;
  overflow: hidden;
  &__ellipse {
    &--1 {
      @include visionEllipse(#f25656, 1, 3px);
      top: 59px;
      left: 150px;
    }
    &--2 {
      @include visionEllipse(#bc04fc, 0.6, 4px);
      top: 452px;
      left: 56px;
    }
    &--3 {
      @include visionEllipse(#56ccf2, 0.4, 5px);
      left: 0;
      top: 322px;
    }
    &--4 {
      @include visionEllipse(#fcc304, 0.3, 4px);
      left: 367px;
      top: 32px;
    }
    &--5 {
      @include visionEllipse(#bc04fc, 0.3, 8px);
      top: 50px;
      right: 38px;
    }
    &--6 {
      @include visionEllipse(#fcc304, 0.5, 3px);
      top: 289px;
      right: 0;
    }
    &--7 {
      @include visionEllipse(#56ccf2, 0.8, 3px);
      top: 393px;
      right: 161px;
    }
    &--8 {
      @include visionEllipse(#f25656, 0.4, 3px);
      top: 164px;
      right: 161px;
    }
  }
  &__container {
    width: 440px;
    text-align: center;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
  }
  &__button {
    @include customButton(64px);
  }
}

@media only screen and (max-width: 1000px) {
  .vision__container {
    width: auto;
  }
}

@media only screen and (max-width: 600px) {
  .vision {
    padding: 80px;
    padding-bottom: 100px;
    &__container {
      width: 100%;
    }
    &__text {
      text-align: center;
    }
    &__button {
      margin-top: 20px;
    }
  }
}
