@use '../utils/mixins' as *;

.who-we-are__copy {
  max-width: 620px;
  margin: 24px auto 0;
}

.who-we-are {
  padding-top: 92px;
  padding-bottom: 92px;

  @include on-tablet {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  @include on-desktop {
    padding-top: 128px;
    padding-bottom: 128px;
  }
}
