@use "../utils";

.button {
  font-family: Poppins, sans-serif;
  font-weight: 600;
  font-size: 15px;
  background: $secondary-color-scheme;
  color: $bg-text-white;
  border: 2px solid $secondary-color-scheme;
  border-radius: 64px;

  @include hover(background-color, $c-gray);
  @include hover(color, $secondary-color-scheme);
}
