@use '../../abstracts' as a;
@use '../../base/typography';

.menu {
  position: absolute;
  z-index: 10;

  width: 100vw;
  height: 100vh;

  color: a.$clr-white;
  text-transform: uppercase;

  background-color: a.$clr-gray-dark;

  @include a.body-xl;
}
