.main {
  margin: 0;
  padding: 0;

  &__who-we-are {
    margin: 0;
  }

  &__our-expertise {
    margin: 0;
    padding: 0;
    background-color: #fff;
    border-radius: 30px;
  }

  &__sections {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding-block: 120px;
    margin: 0;
    gap: 120px;

    @include content-space-inline;

    @include on-tablet {
      padding-block: 148px;
    }
  }

  &__vision {
    margin-bottom: 120px;

    @include on-tablet {
      margin: 0;
    }
  }
}

.section {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;

  &__services {
    @include on-small-desktop {
      margin-top: 135px;
    }
  }

  &__title {
    box-sizing: border-box;
    display: inline-block;
    padding: 0;
    margin: 0;
    margin-bottom: 16px;

    font-family: Poppins, sans-serif;
    font-weight: 700;
    font-size: 13px;
    line-height: 100%;
    letter-spacing: 3px;
    text-align: left;
    text-transform: uppercase;
    color: #c0cdd7;
  }
}
