.process {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  justify-content: center;
  grid-template-columns: minmax(300px, 362px + 226px) 264px 264px;
  grid-template-rows: 264px 264px - 251px + 148px + 44px ;
  grid-gap: 30px;

  &__description {
    grid-row: 1/3;
    grid-column: 1/2;
    justify-self: start;
  }

  &__element--first {
    grid-row: 1/2;
    grid-column: 2/3;
  }

  &__element--second {
    grid-row: 1/2;
    grid-column: 3/4;
  }

  &__element--third {
    grid-row: 2/3;
    grid-column: 2/3;
  }

  &__element--fourth {
    grid-row: 2/3;
    grid-column: 3/4;
  }

  &__element--first,
  &__element--third {
    transform: translate(0, 280px - 251px);
  }

  &__element--second,
  &__element--fourth {
    transform: translate(0, 148px - 251px);
  }

}
