.button {
  display: block;
  width: 100%;

  @include onTablet {
    width: 264px;
  }

  border-radius: 8px;
  background-color: $main-blue-color;

  @extend %poppins;

  font-weight: 600;
  font-size: 15px;

  text-align: center;
  color: $white-color;
  transition: all $transition-duration;

  &:hover {
    background-color: $second-blue-color;
  }
}
