.card {
  width: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  transition: ease-in-out $transition-duration;

  &:hover {
    transform: scale(1.05);
  }

  &:hover > img {
    box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
  }

  &__img {
    width: 184px;
    height: 184px;
    border-radius: 24px;
  }

  &__title {
    @extend %poppins;

    font-weight: 600;
    font-size: 20px;
    line-height: 140%;

    color: $main-title-color;
  }

  &__text {
    @extend %opensans;

    font-weight: 400;
    font-size: 14px;
    line-height: 150%;

    color: $main-text-color;

    @include onSmallDesktop {
      width: 215px;
    }

    @include onDesktop {
      width: 264px ;
    }
  }
}
