.header {
  position: relative;

  border-radius: 0 0 30px 30px;
  background-color: $dark-background-color;
  color: $white-color;

  &__content {
    padding-top: 20px;
    height: 100vh;

    @include onSmallDesktop {
      padding-top: 48px;
    }
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo-group {
    display: flex;
    align-items: center;

    flex-direction: row;

    gap: 35px;
  }

  &__menu {
    display: none;

    @include onSmallDesktop {
      display: block;
    }
  }

  &__info {
    @include onSmallDesktop {
      max-width: 362px;
    }
  }

  &__title {
    margin-top: 48px;
    @extend %poppins;

    font-weight: 600;
    font-size: 52px;
    line-height: 120%;

    @include onTablet {
      margin-top: 56px;

      font-size: 64px;
      line-height: 68px;

      letter-spacing: -2px;
    }

    @include onSmallDesktop {
      margin-top: 168px;
    }
  }

  &__subtitle {
    margin-top: 32px;
    @extend %opensans;

    font-weight: 400;
    font-size: 18px;
    line-height: 150%;

    @include onTablet {
      margin-top: 24px;
      width: 362px;
    }

    @include onSmallDesktop {
      margin-top: 32px;
    }
  }

  &__button {
    margin-top: 72px;
    height: 50px;
    line-height: 50px;

    @include onTablet {
      margin-top: 56px;
    }

    @include onSmallDesktop {
      margin-top: 84px;
    }
  }

  &__slider {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    height: 35vh;

    &__img-container {
      display: block;
    }

    @include onTablet {
      height: 50vh;
    }

    @include onSmallDesktop {
      top: 120px;
      bottom: 0;
      height: auto;
      left: 50%;
    }

    @include onDesktop {
      left: 55%;
    }
  }

  &__hire-us {
    &::after {
      box-shadow: 0 0 0 rgba(204, 169, 44, 0.4);
      animation: pulse 2s infinite;
      width: 100%;
    }

    @keyframes pulse {
      0% {
        -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
      }

      70% {
        -webkit-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
      }

      100% {
        -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
      }
    }
  }
}
