.nav {
  padding: 20px 0;
  height: 100vh;
  z-index: 1;

  background-color: $dark-background-color;

  &__logo-group {
    margin-bottom: 56px;
    display: flex;
    align-items: center;

    gap: 25px;
  }

  &__item {
    margin-bottom: 24px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__link {
    display: inline-block;
    padding-bottom: 8px;
    border-bottom: 1px solid transparent;
    color: $white-color;

    @extend %poppins;

    font-weight: 700;
    font-size: 20px;
    line-height: 150%;

    letter-spacing: 3px;
    text-transform: uppercase;
  }
}
