.services {
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;

    @include onSmallDesktop {
      flex-direction: row;
    }
  }

  &__title {
    padding-top: 100px;
    @extend %poppins;

    font-weight: 700;
    font-size: 13px;
    line-height: 20px;

    letter-spacing: 3px;
    text-transform: uppercase;

    color: #c0cdd7;
  }

  &__subtitle {
    @extend %poppins;

    font-weight: 600;
    font-size: 32px;
    line-height: 130%;

    display: flex;
    align-items: center;

    color: $main-title-color;
  }

  &__text {
    @extend %poppins;

    font-weight: 400;
    font-size: 14px;
    line-height: 150%;

    color: $main-text-color;
  }

  &--left {
    display: flex;
    flex-direction: column;
    width: 300px;
    gap: 20px;

    @include onTablet {
      width: 260px;
    }

    @include onSmallDesktop {
      width: 292px;
    }
  }

  &--right {
    display: flex;
    flex-direction: column;
    gap: 25px;

    @include onSmallDesktop {
      margin-top: 100px;
    }

    &-pt1 {
      margin-top: 48px;
      display: flex;
      flex-direction: column;
      gap: 25px;

      @include onTablet {
        @include onTablet {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
        }
      }
    }

    &-pt2 {
      display: flex;
      flex-direction: column;
      gap: 25px;

      @include onTablet {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }

  &__card {
    background-color: $white-color;
    box-sizing: border-box;
    border-radius: 16px;
    width: 100%;
    padding: 32px;

    @include onSmallDesktop {
      width: 264px;
      height: 264px;
    }

    &-code {
      display: block;
      border-radius: 23px;
      margin-bottom: 24px;
      background: #e5e5e5;
      width: 40px;
      height: 24px;
      text-align: center;
      justify-content: center;
      align-items: center;

      @extend %poppins;

      font-weight: 600;
      font-size: 13px;
      line-height: 24px;

      text-transform: uppercase;
      color: $main-blue-color;
    }

    &-list {
      margin-bottom: 32px;
    }

    &-item {
      @extend %opensans;

      font-weight: 600;
      font-size: 13px;
      line-height: 150%;

      color: $main-text-color;
      border-radius: 100px;
    }

    &-button {
      display: flex;
      flex-direction: row;
      text-align: center;
      align-items: center;
      gap: 16px;

      @extend %poppins;

      font-weight: 600;
      font-size: 15px;
      line-height: 22px;

      color: #334563;

      will-change: transform;
      transition: ease-in-out $transition-duration;
      border-radius: 38px;

      &:hover {
        border-radius: 50px;
        margin-left: 5px;
        color: $white-color;
        background-color: $main-blue-color;
      }

      &-container-arrow {
        background: $main-blue-color;
        width: 40px;
        height: 40px;
        border-radius: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    &:nth-child(2n) {
      transform: translateY(0);

      @include onTablet {
        transform: translateY(-50%);
      }
    }

    &:hover {
      box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
    }
  }
}
