@keyframes move-header-nav {
  from {
    transform: translateX(-100vw);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes move-header-description {
  from {
    transform: translateY(500px);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes move-header-slider {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
