.apply {
  padding-block: 4.5rem;
  background-color: $white;

  @include onTablet {
    background-image: url("../images/result-tablet-bg.png");
    background-position: center;

    padding-block: 12.5rem;

    min-height: 31.75rem;
  }

  @include onSmallDesktop {
    background-image: url("../images/result-bg.png");
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: $zero auto;

    max-width: 17.5rem;

    gap: 1.5rem;

    @include onTablet {
      max-width: 34.88rem;
    }

    @include onSmallDesktop {
      max-width: 47.13rem;
    }
  }

  &__title {
    @extend %h2;
    text-align: center;
  }

  &__text {
    @extend %text;
    font-size: 1.38rem;
    margin-bottom: 2rem;

    @include onTablet {
      font-size: 1.5rem;
      margin-bottom: 2.5rem;
    }
  }
}
