.who {
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 150%;
    text-align: center;
    gap: 1.5rem;

    margin: 0 auto;
    width: 17.5rem;

    @include onTablet {
      width: 34.88rem;
    }

    @include onSmallDesktop {
      width: 44.75rem;
    }

    @include onSmallDesktop {
      width: 47.13rem;
    }
  }

  &__title {
    @extend %h3;
  }

  &__text {
    color: $text;
    font-size: 1.38rem;
  }
}
