.banner {
  position: relative;
  
  border-radius: 0 0 30px 30px;
  background-color: $colorBackground ;
  
  @include large {
    display: flex;
    align-items: center;

    height: 680px;
  }

  &__content {
    padding-top: 48px;
    margin-bottom: 48px;
    max-width: 490px;
    @include large {
      padding-top: 0;
      margin-top: 0;
    }
  }

  &__title {
    margin-bottom: 32px;

    font-family: Poppins , sans-serif;
    font-weight: 600;
    font-size: 52px;
    line-height: 120%;
    letter-spacing: -2px;
    color: #FFFFFF;

    @include medium {
      font-size: 64px;
    }
  }

  &__description {
    margin-bottom: 72px;

    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    color: #FFFFFF;
  }
}
