.services {
  &__container {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 56px;

    @include medium {
      grid-template-columns: repeat(6,1fr);
      gap: 30px;
    }

    @include large {
      padding-top: 251px;
      grid-template-columns: repeat(12,1fr);
      gap: 20px;
    }

    @include extraLarge {
      gap: 30px;
    }
  }

  &__text-wrap {
    grid-column: 1/3;

    @include medium {
      grid-column: 1/4;
    }

    @include large {
      grid-column: 1/5;
    }

  }


  &__title {
    position: relative;

    margin-bottom: 24px;

    font-family: Poppins;
    font-weight: 600;
    font-size: 32px;
    line-height: 130%;
    color: #253757;

    &::before {
      content: "Services";

      position: absolute;
      top: -25px;

      
      font-family: Poppins;
      font-weight: bold;
      font-size: 13px;
      line-height: 19px;
      letter-spacing: 3px;
      text-transform: uppercase;
      color: #C0CDD7;
    }
  }

  &__description {
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    color: #6C788B;
  }

  &__wrap {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
    grid-column: 1/3;

    @include medium {
      grid-template-columns: repeat(6,1fr);
      grid-column: 1/7;
    }

    @include large {
      grid-column: 7/13;
      gap: 20px;
    }

    @include extraLarge {
      gap: 30px;
    }
  }

  &__wrap-item {
    background: #FFFFFF;
    box-shadow: 0px 9px 18px rgba(37, 41, 49, 0.03);
    border-radius: 16px;
    padding: 32px;
    
    &:nth-child(1) {
      grid-column: 1/3;
    }

    &:nth-child(2) {
      grid-column: 1/3;
    }

    &:nth-child(3) {
      grid-column: 1/3;
    }

    &:nth-child(4) {
      grid-column: 1/3;
    }

    @include medium {
      &:nth-child(1) {
        grid-column: 1/4;
      }

      &:nth-child(2) {
        grid-column: 4/7;

        transform: translateY(-50%);
      }

      &:nth-child(3) {
        grid-column: 1/4;
      }

      &:nth-child(4) {
        grid-column: 4/7;
        transform: translateY(-50%);
      }
    }
  }

  &__number {
    width: 46px;
    height: 24px;
    margin-bottom: 24px;

    background-color:rgba(32, 96, 246, 0.1);
    text-align: center;
    border-radius: 23px;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 24px;
    text-transform: uppercase;
    color: #2060F6;
  }

  &__list {
    margin-bottom: 32px;
  }

  &__item {
    margin-bottom: 10px;
  }

  &__link {
    font-weight: 600;
    font-size: 13px;
    line-height: 150%;
    color: #6C788B;

    transition: color $transitionDuration;
    
    &:hover {
      color: $colorMain;
    }
  }
}
