.our-expertise {
  display: flex;
  flex-direction: column;
  background-color: $first-text-color;
  border-radius: 30px;

  &__title {
    font-family: Poppins, sans-serif;
    color: $title-color;

    margin-top: 71px;

    @include respond-to('tablet') {
      margin-top: 128px;
    }

    @include weigh-size-line-height-text-align(600, 44px, 52.8px, center);

    @include respond-to('tablet') {
      @include weigh-size-line-height-text-align(600, 52px, 78px, center);
    }
  }

  &__cards-block {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    margin-bottom: 71px;
    margin-top: 0;

    padding:0;

    gap: 56px;

    @include respond-to('desktop') {
      justify-content: space-between;
    }

    @include respond-to('tablet') {
      margin-bottom: 128px;
    }
  }
}

.expertise-card {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 280px;
  height: 305px;

  @include respond-to('tablet') {
    width: 362px;
    height: 305px;
  }

  @include respond-to('desktop') {
    width: 214px;
    height: 355px;
  }

  &__picture {
    border-radius: 10px;

    @include hover(transform, scale(1.1));
  }

  &__link {
    font-family: Poppins, sans-serif;

    text-decoration: none;

    color: $title-color;

    @include weigh-size-line-height-text-align(600, 20px, 28px, center);

    &:hover {
      color: $second-text-color;
    }
  }

  &__description {
    color: $second-text-color;

    @include weigh-size-line-height-text-align(400, 14px, 21px, center);
  }
}
