.about-us {
  &__content {
    transform: translateY(0) scale(1);

    display: grid;
    row-gap: 24px;
    justify-content: center;

    padding-block: 120px;

    text-align: center;

    opacity: 1;
  }

  &__title {
    @extend %fm-poppins-w-600-fs-32-lh-150-c-253757;

    margin: 0;
  }

  &__text {
    @extend %fm-opensans-w-600-fs-22-lh-150-c-6c788bf;

    margin: 0;

    @include on-tablet {
      max-width: 558px;
      font-size: 24px;
    }

    @include on-desktop-small {
      max-width: 716px;
      font-size: 24px;
    }

    @include on-desktop {
      max-width: 754px;
      font-size: 24px;
    }
  }
}
