.about {
  &__content {
    margin: 0 auto;

    @include onDesktop {
      max-width: 716px;
    }

    @include onLargeDesktop {
      max-width: 754px;
    }
  }

  &__title {
    margin-bottom: 24px;

    @include onDesktop {
      margin-bottom: 16px;
    }
  }

  &__text {
    margin-bottom: 120px;

    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 22px;
    line-height: 150%;
    color: $colortext;

    @include onTablet {
      margin-bottom: 148px;
      font-size: 24px;
    }
  }
}
