.about {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: $shift-mobile;
  border-radius: 0  0 30px 30px;
  top: -20px;
  z-index: -1;
  height: 620px;
  background-color: #e5e5e5;
  
  @include tablet {
    padding: $shift-tablet;
  }
  
  
  @include smallDesktop {
    padding: $shift-small-desktop;
  }
  
  @include desktop {
    padding: $shift-desktop;
  }
  
  @include bigDesktop {
    padding: $shif-big-desktop;
  }
  
  
  &__title {
    text-align: center;
    @include small-title();
  }
  
  &__text {
    width: 280px;
    margin: 0 auto;
    margin-top: 24px;
    @extend %sans;
    text-align: center;
    color: $text-color-grey;
    line-height: 150%;
    font-size: 24px;
  
    @include tablet {
      width: 550px;
    }
  
  
    @include smallDesktop {
      width: 716px;
    }
  
    @include desktop {
      width: 754px;
    }
  }
}
