.about-us {
  padding-top: 120px;
  padding-bottom: 120px;
  text-align: center;

  @include on-tablet {
    padding-top: 148px;
    padding-bottom: 148px;
  }


  &__text {
    margin-top: 24px;

    @include on-small-desktop {
      max-width: 716px;
      margin: 16px auto 0;
    }
  }
}
