.about-us {
  text-align: center;

  &__title {
    font-size: $font-size-title-default;
    font-weight: 600;
  }

  &__description {
    font-size: $font-size-midblocks-description;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    color: $description-color;
  }
}
