.about-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include cardsHover;

  @include onDesktop {
    width: 214px;
  }

  @media (min-width: 1600px) {
    width: 264px;
  }

  &__block-img {
    margin-bottom: 32px;
    border-radius: 30px;
    overflow: hidden;

    @include square(166px);

    @include onDesktop {
      margin-bottom: 40px;
    }
  }

  &__img {
    @include hover(transform, scale(1.2));
  }

  &__name {
    margin-bottom: 16px;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    color: $titlesColor;
  }

  &__text {
    max-width: 362px;
    line-height: 21px;
    text-align: center;

    @extend %fontOpenSans;

    @include onDesktop {
      max-width: none;
    }
  }
}
