.arrow {
  display: flex;
  margin-bottom: 16px;

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 16px;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    background-color: #fff;
    text-decoration: none;

    transition: box-shadow 0.3s;

    &:hover {
      box-shadow: 1px 4px 16px #253757;
    }
  }

  &__image {
    width: 5px;
    height: 9px;
  }
}
