.arrow {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  border: none;
  color: #000;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;

  &:hover {
    box-shadow: -2px 0 10px 0 rgba(0,0,0,0.7);
  }

  &:active {
    transform: translateY(2px);
  }

  &--back {
    margin-right: 16px;
    background-image: url(../images/slider/mdi_chevron_left.svg);
  }

  &--forward {
    background-image: url(../images/slider/mdi_chevron_right.svg);
  }
}
