.author {
  animation: changingColors 30s linear infinite;
  text-decoration: none;
}

@keyframes changingColors {
  0% {
    color: black;
  }

  10% {
    color: blue;
  }

  30% {
    color: green;
  }

  50% {
    color: yellow;
  }

  70% {
    color: orange;
  }

  90% {
    color: red;
  }

  100% {
    color: black;
  }
}
