.bottom-bar {
  grid-column: span 2;
  display: flex;
  flex-direction: column;
  gap: 48px;

  @include onLaptop {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
