.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-family: Poppins, sans-serif;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  color: $main-white-color;
  background-color: $main-blue-color;
  border-radius: 8px;
  border: none;
  padding: 14px 0;
  width: 100%;
  cursor: pointer;
  transition: scale, 0.5s;

  &:hover {
    filter: brightness(120%);
  }

  &:active {
    filter: brightness(90%);
    transform: scale(95%);
  }

  @include on-tablet {
    max-width: 264px;
  }
}
