.btn {
  display: inline-block;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  padding: 16px 14px;
  width: 264px;
  text-align: center;
  background-color: $acsent-color;
  border-radius: 8px;
  color: $ligth-color;
  text-decoration: none;
  border: 1px solid transparent;
  transition: all 0.3s;
  
  @include mobile {
    min-width: 100%;
  }

  &--top {
    padding: 14px 14px 13px;
    line-height: 21px;

  }

  &:hover {
    color: $acsent-color;
    background-color: $ligth-color;
  }
}
