.button-icon {
  background-color: #fff;
  border-radius: 50%;

  @include flex(center, center);
  @include square(32px);

  &__item {
    width: 6px;
    height: 9px;

    &--l {
      background-image: url("../images/svg/arrowL.svg");
    }

    &--r {
      background-image: url("../images/svg/arrowR.svg");
    }

    &--b {
      background-image: url("../images/svg/arrow.svg");

      @include square(16px);
    }
  }
}
