.button-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 50%;

  &__item {
    &--left {
      width: 6px;
      height: 9px;
      background-image: url("../images/svg/arrowL.svg");
    }

    &--right {
      width: 6px;
      height: 9px;
      background-image: url("../images/svg/arrowR.svg");
    }

    &--simp {
      background-image: url("../images/svg/arrowSimple.svg");

      @include square(16px);
    }
  }
}
