.button {
  @include poppins-semibold-15;

  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  height: 50px;
  border: 0;
  border-radius: 8px;

  color: $color-7;

  background-color: $color-4;

  transition: border-radius $transition-time linear;
  &:hover {
    border-radius: 15px;
  }
}
