.button {
  font-family: "Poppins", sans-serif;
  color: $secondary-text-color;
  font-size: 15px;
  text-decoration: none;
  text-align: center;
  height: 50px;
  line-height: 50px;
  width: 280px;
  border-radius: 8px;
  background-color: #2060f6;
  cursor: url("../images/mice.svg"), auto;
  transition: all, 1s;

  @include onTablet {
    width: 264px;
  }

  @include hover (box-shadow, 1px 4px 16px 0 rgba(232, 232, 240, 0.4));

}
