.button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 50px;
  border-radius: var(--border-radius-button);

  color: var(--color-text-primary);

  background-color: var(--color-accent-main-100);

  transition:
    background-color $trans-duration-base,
    transform $trans-duration-base,
    border-radius $trans-duration-base,
    box-shadow $trans-duration-base;

  @include on-tablet {
    width: 264px;
  }

  @include hover {
    transform: scale($scale-small);
    background-color: var(--color-accent-main-200);
    box-shadow: $button-shadow;
  }
}
