.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  cursor: pointer;

  @include transition;

  &:hover {
    transform: scale(1.1);
  }

  &__img {
    width: 166px;
    height: 166px;
    background-size: contain;
    border-radius: 20px;
  }

  &__title {
    font-family: Poppins, sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    color: $grey-color;
    margin-top: 32px;
    margin-bottom: 16px;

    @include on-middle-display {
      margin-top: 40px;
    }
  }

  &__text {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
    color: $grey-white-color;
  }
}

.collection__card {
  background-color: $white-color;
  border-radius: 16px;
  box-sizing: border-box;
  padding: 32px;
  height: 264px;
  box-shadow: 0 9px 18px 0 $shadow-color;

  &-title {
    display: inline-block;
    font-family: Poppins, sans-serif;
    padding: 2px 11px;
    border-radius: 23px;
    background-color: rgba(32, 96, 246, 0.1);
    line-height: 24px;
    text-align: center;
    color: $blue-color;
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 24px;
  }

  &-list {
    margin-bottom: 32px;
  }

  &-item {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 600;
    line-height: 20px;
    color: $grey-white-color;
  }

  &-btn {
    display: flex;
    gap: 16px;
    align-items: center;
    font-family: Poppins, sans-serif;
    font-size: 15px;
    font-weight: 600;
    line-height: 23px;
    height: 40px;
    border: none;
    background-color: inherit;
    cursor: pointer;

    @include on-middle-display {
      gap: 12px;
    }

    @include on-large-display {
      gap: 16px;
    }

    &::before {
      display: block;
      content: url('../images/icons/arrow.svg');
      width: 40px;
      height: 40px;
      background-repeat: no-repeat;
      background-size: cover;

      @include transition;
    }

    &:hover {
      &::before {
        transform: scale(1.2);
      }
    }
  }
}

.profile__card {
  @include transition;

  width: 100%;
  border-radius: 30px;
  background-color: #fff;
  box-sizing: border-box;
  padding-inline: 48px;
  padding-block: 32px;
  text-align: center;
  box-shadow: 0 9px 18px 0 $shadow-color;

  &:hover {
    transform: scale(1.1);
  }

  &-image {
    margin: 0 auto;
    width: 196px;
    height: 196px;
    margin-bottom: 24px;
    position: relative;

    @include on-tablet {
      width: 250px;
      height: 250px;
    }

    @include on-middle-display {
      width: 196px;
      height: 196px;
    }

    @include on-large-display {
      width: 250px;
      height: 250px;
    }

    &::before {
      content: '';
      width: 109px;
      height: 44px;
      transform: rotate(120deg);
      position: absolute;
      left: 0;
      top: 20%;
      background: $blue-color;
      border-radius: 12px;

      @include on-tablet {
        width: 139px;
        height: 56px;
      }

      @include on-middle-display {
        width: 109px;
        height: 44px;
      }

      @include on-large-display {
        width: 139px;
        height: 56px;
      }
    }

    &::after {
      content: '';
      width: 109px;
      height: 44px;
      position: absolute;
      right: 0;
      bottom: 20%;
      transform: rotate(120deg);
      background: $blue-color;
      border-radius: 12px;

      @include on-tablet {
        width: 139px;
        height: 56px;
      }

      @include on-middle-display {
        width: 109px;
        height: 44px;
      }

      @include on-tablet {
        width: 139px;
        height: 56px;
      }
    }

    @include on-large-display {
      width: 250px;
      height: 250px;
    }

    @include on-middle-display {
      width: 196px;
      height: 196px;
    }

    @include on-large-display {
      width: 250px;
      height: 250px;
    }
  }

  &-avatar {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    object-fit: cover;
    z-index: 2;
    position: absolute;
    left: calc((196px - 110px) / 2);
    top: calc((196px - 110px) / 2);

    @include on-tablet {
      width: 140px;
      height: 140px;
      left: calc((250px - 140px) / 2);
      top: calc((250px - 140px) / 2);
    }

    @include on-middle-display {
      width: 110px;
      height: 110px;
      left: calc((196px - 110px) / 2);
      top: calc((196px - 110px) / 2);
    }

    @include on-large-display {
      width: 140px;
      height: 140px;
      left: calc((250px - 140px) / 2);
      top: calc((250px - 140px) / 2);
    }
  }

  &-quotes {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 600;
    line-height: 19.5px;
    color: $grey-white-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    &::before {
      content: url('../images/testimonials/quotes.svg');
      width: 24px;
      height: 24px;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }

  &-name {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 600;
    line-height: 19.5px;
    margin-top: 16px;
    margin-bottom: 4px;
    color: $grey-color;
  }

  &-company {
    font-family: Poppins, sans-serif;
    font-size: 13px;
    font-weight: 700;
    line-height: 19.5px;
    letter-spacing: 3px;
    color: rgba(192, 205, 215, 1);
    text-transform: uppercase;
  }
}
