.card-servicing {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: $white-color;
  padding: 32px;
  border-radius: 24px;

  @include box-shadow;

  &__number {
    margin: 0;
    width: fit-content;
    font-size: 13px;
    line-height: 19.5px;
    padding: 2px 12px;
    border-radius: 24px;
    margin-bottom: 24px;

    &--blue {
      color: $sky-blue-color;
      background-color: #ecf3ff;
    }

    &--yellow {
      color: $yellow-color;
      background-color: $white-color;
    }

    &--green {
      color: #15D850;
      background-color: #e8ffea;
    }

    &--red {
      color: $red-color;
      background-color: $white-color;
    }
  }

  &__text {
    margin: 0 0 32px;
    font-size: 13px;
    line-height: 19.5px;
  }

  &__learn-more {
    display: flex;
    gap: 16px;
    justify-content: left;
    align-items: center;
    text-decoration: none;
    color: #334563;
    font-size: 15px;
    line-height: 22.5px;
    
    @include hover (transform, scale(1.05));

    &::before {
      content: "";
      display: block;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-image: url(../images/services/arrow.svg);
      background-repeat: no-repeat;
      background-position: 50%;
    }

    &--blue::before {
      background-color: $sky-blue-color;
    }

    &--yellow::before {
      background-color: $yellow-color;
    }

    &--green::before {
      background-color: #15d850;
    }

    &--red::before {
      background-color: $red-color;
    }
  }
}
