.cards {
  display: grid;
  grid-template-columns: 264px;
  grid-template-rows: repeat(3, 334px);
  justify-content: center;

  @media (min-width: 850px) {
    grid-template-columns: repeat(3, 264px);
    grid-template-rows: 334px;
    justify-content: space-between;
  }

  &--testimonials {
    display: grid;
    grid-template-columns: 80vw;
    justify-content: center;
    grid-template-rows: 494px;
    @media (min-width: 1024px) {
      grid-template-columns: repeat(3, minmax(250px, 1fr));
      gap: 5vw;
      justify-content: space-between;
    }
  }
}
