.cards {
  display: grid;
  grid-template-columns: repeat(3, 264px);
  grid-auto-rows: 334px;
  margin: 0 227px;
  justify-content: space-between;

  &--testemonials {
    grid-template-columns: repeat(3, 314px);
    grid-auto-rows: 494px;
    margin: 0;

    
  }
}
