.heading {
  display: block;
  margin-bottom: 16px;

  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 13px;
  line-height: 19px;
  letter-spacing: 3px;
  color: $softblue;

  @include onMobile {
    margin-bottom: 16px;
  }
}

.itemtitle {
  margin-bottom: 24px;

  font-family: "Poppins", sans-serif;
  font-size: 32px;
  line-height: 130%;
  color: $darkblue;

  @include onMobile {
    
    & br {
      display: none;
    }
  }
}

.itemnumber {
  width: 46px;
  height: 24px;
  margin-bottom: 24px;
  color: $blue;
  
  background-color: $background;
  border-radius: 23px;
  text-align: center;
}

.item {
  margin-bottom: 30px;
  padding: 32px;
  width: 100%;
  height: 264px;
  border-radius: 16px;

  background-color: $white;

  @include onMobile {
    margin-bottom: 24px;
  }
}

.desk {
  margin-bottom: 32px;

  font-size: 13px;
  line-height: 150%;
  color: $softblue;
}

.link {
  position: absolute;
  box-sizing: border-box;
  display: inline-block;
  width: 40px;
  height: 40px;

  background-image: url(../images/arrow.svg);
  background-color: $blue;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  transition: all 0.3s;

  &:hover {
    width: 48px;
    height: 48px;
  }
}

.after {
  position: relative;
  top: 5%;
  left: 50px;

  color: $someblue;
}

.button {
  border: none;
  padding: 14px 90px;
  height: 56px;
  display: inline-block;
  border-radius: 8px;
  text-decoration: none;
  text-align: center;
  padding-top: 14px;
  background-color: $blue;
  color: $white;
  transition: 0.1s;

  &:hover {
    border: 1px solid $blue;
    background-color: $white;
    color: $blue;
  }
}
