.container {
  width: 100%;
  max-width: 1146px;
  margin: 0 auto;
  padding-inline: 20px;

  @include onTablet {
    padding-inline: 41px;
  }

  @include onLaptop {
    padding-inline: 54px;
  }

  @include onDesktop {
    padding: 0;
  }
}
