.contacts {
  background-color: $c-dark;
  margin-top: -197px;
  border-radius: 30px 30px 0 0;
  padding-bottom: 120px;

  @include small-desktop {
    padding-bottom: 104px;
  }

  @include tablet {
    padding-bottom: 139px;
  }

  @include mobile {
    padding-bottom: 80px;
  }

  &__content {
    display: flex;
    margin-top: 180px;

    @include large-tablet {
      flex-wrap: wrap;
      row-gap: 120px;
    }
  }

  &__form {
    flex-basis: 460px;
    margin-right: 226px;

    @include small-desktop {
      margin-right: 98px;
    }

    @include tablet {
      margin-right: 0;
    }

    &-title {
      @include mobile {
        line-height: 1.3;
      }
    }
  }

  &__title {
    font-size: 32px;
    color: $c-fff;
    margin-bottom: 56px;
    text-align: start;
  }

  &__input {
    border: none;
    border-bottom: 2px solid $c-fff;
    display: block;
    width: 100%;
    background-color: transparent;
    font-size: 15px;
    padding-bottom: 16px;
    color: $c-fff;
    margin-bottom: 60px;

    &::placeholder {
      opacity: 0.7;
      font-size: 15px;
      color: $c-fff;
    }

    &:focus {
      border-bottom: 2px solid $c-blue-hover;
      &::placeholder {
        color: transparent;
      }
    }
  }

  &__button {
    height: var(--button-heigth);
    color: $c-fff;
    padding-inline: 114px;
  }

  &__communication {
    &-item:not(:last-child) {
      margin-bottom: 48px;
    }
  }

  &__text {
    font-weight: $t-fw-700;
    letter-spacing: 0.23em;
    text-transform: uppercase;
    color: $c-fff;
    opacity: 0.5;

    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }

  &__link-text {
    font-family: $t-ff-openSans;
    font-size: 24px;
    color: $c-fff;

    @include hover {
      transform: scale(1.1);
      color: $c-blue;
    }
  }

  &__social-media {
    display: flex;
    column-gap: 32px;
    margin-top: 16px;
  }

  &__social-link {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: auto;
    width: 32px;
    height: 32px;
    fill: none;
    transition:
      transform 0.3s,
      filter 0.3s;
    display: block;

    @include hover {
      transform: scale(1.2);
    }

    &--facebook {
      background-image: url(../images/social-media/logo-facebook.svg);
      @include hover {
        filter: var(--filter-blue);
      }
    }
    &--X {
      background-image: url(../images/social-media/logo-x.svg);
      background-color: $c-fff;
      border-radius: 50%;

      @include hover {
        background-color: $c-sub-title;
      }
    }
    &--instagram {
      background-image: url(../images/social-media/logo-instagram.svg);
      @include hover {
        filter: var(--filter-pink);
      }
    }
  }
}
