.contact-us {

  &__title {
    margin-bottom: 48px;

    font-weight: 600;
    font-size: 32px;
    line-height: 150%;
    color: $lightColor;
  }

  &__call {
    margin-bottom: 40px;

    &-title {
      margin-bottom: 8px;

      font-weight: 700;
      font-size: 13px;
      line-height: 20px;
      letter-spacing: 3px;
      text-transform: uppercase;
      color: $lightColor;
      opacity: 0.5;
    }

    &-phone {
      font-weight: 600;
      font-size: 24px;
      line-height: 150%;
      color: $lightColor;

      transition: all $transitionPageTime;

      &:hover {
        color: $blueColor;
        opacity: 0.5;
      }

    }
  }

  &__visits {
    margin-bottom: 40px;

    &-title {
      margin-bottom: 8px;

      font-weight: 700;
      font-size: 13px;
      line-height: 20px;
      letter-spacing: 3px;
      text-transform: uppercase;
      color: $lightColor;
      opacity: 0.5;
    }

    &-adress {
      font-weight: 600;
      font-size: 24px;
      line-height: 150%;
      color: $lightColor;

      transition: all $transitionPageTime;

      &:hover {
        color: $blueColor;
        opacity: 0.5;
      }
    }
  }

  &__socials {

    &-title {
      margin-bottom: 16px;

      font-weight: 700;
      font-size: 13px;
      line-height: 20px;
      letter-spacing: 3px;
      text-transform: uppercase;
      color: $lightColor;
      opacity: 0.5;
    }

    &-container {
      display: flex;
      flex-direction: row;
      gap: 45px;
    }

    &-icon {
      display: block;
      width: 30px;
      height: 30px;

      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;

      &--facebook {
        background-image: url(../images/facebook.svg);
        transition: all $transitionPageTime;

        &:hover {
          background-image: url(../images/facebook_active.svg);
        }
      }

      &--twitter {
        background-image: url(../images/twitter.svg);
        transition: all $transitionPageTime;

        &:hover {
          background-image: url(../images/twitter_active.svg);
        }
      }

      &--instagram {
        background-image: url(../images/instagram.svg);
        transition: all $transitionPageTime;

        &:hover {
          background-image: url(../images/instagram_active.svg);
        }
      }
    }
  }
}
