.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1030px;
  padding: 0 60px;

  @include onPad {
    padding: 0 40px;
  }

  @include onMobile {
    padding: 0 20px;
  }
}

.container--mobile {

  @include onPad {
    padding: 0;
  }
  
  @include onMobile {
    padding: 0;
  }
}
