.contact {
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 340px;
  
    @include tablet {
      margin-bottom: 85px;
      flex-direction: row;
    }
  }
  
  &__title {
    margin-top: 72px;
    @include small-title;
    color: white;
  }
  
  &-form {
    margin-top: 48px;
  }
  
  &__subtitle {
    @extend %poppins;
    font-weight: 600;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #fff;
    opacity: 0.5;
    margin-top: 56px;
  }
  
  &__link {
    text-decoration: none;
    color: white;
    transition: color 300ms;
  
    &:hover {
      color: $color-blue;
    }
  
    @extend %sans;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
  }
  
  &__contact {
    margin-bottom: 144px;
  }
  
  &__socials {
    margin-top: 21px;
    width: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
