.container {
  max-width: 1145px;
  margin: 0 auto;

  @include onSmallD {
    max-width: 918px;
  }

  @include onPad {
    max-width: 560px;
  }

  @include onPhone {
    max-width: 280px;
  }

  &--grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 30px;

    @include onSmallD {
      column-gap: 20px;
    }

    @include onPad {
      grid-template-columns: repeat(6, 1fr);
    }

    @include onPhone {
      display: block;
    }
  }
}
