@import "../utils";

.contacts {

  &__items {

    @media (max-width: 900px) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__item {
    margin-bottom: 48px;
  }
  
  &__subtitle {
    @extend %h6;

    margin-bottom: 10px;

    color: $bg-text-white;
    opacity: 0.5;
  }

  &__link {
    @extend %links;
    @extend %font-open-sans-bold;

    font-size: 24px;

    color: $bg-text-white;

    @include hover(color, $secondary-color-scheme);
  }

  &__media {
    width: 45%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    @media (max-width: 900px) {
      width: 50vw;
    }
  }

  &__media-link {
    @extend %links;
    position: relative;

    &::before {
      position: absolute;
      content: "";
      width: 40px;
      height: 40px;
      background: #fff;
      transition: background-color 0.3s;
      left: 0;
      top: 0;
      transform: translate(-50%);
    }

    &:hover::before {
      background: $secondary-color-scheme;
    }

    &--facebook::before {
      -webkit-mask: url("../images/social-media/facebook.svg") no-repeat 60% / 60%;
    }

    &--twitter::before {
      -webkit-mask: url("../images/social-media/twitter.svg") no-repeat 100% / 100%;
    }

    &--instagram::before {
      -webkit-mask: url("../images/social-media/instagram.svg") no-repeat 100% / 100%;
    }
    
  }
}
