.contact {
  background-color: $dark;
  border-top-left-radius: 1%;
  border-top-right-radius: 1%;

  @include onMobile {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    margin-top: 120px;
  }

  &__wrapper {
    padding-top: 180px;
    padding-bottom: 120px;
    display: flex;
    justify-content: space-between;

    @include fromTo {
      flex-direction: column;
    }

    @include onMobile {
      padding-top: 70px;
      flex-direction: column;
    }
  }

  &__left {
    width: 50%;

    @include onPad {
      width: 45%;
    }

    @include fromTo {
      margin-bottom: 120px;
    }

    @include onMobile {
      width: 100%;
    }

    &-title {
      font-family: "Poppins", sans-serif;
      color: $white;
      font-size: 32px;
      line-height: 150%;
      margin-bottom: 60px;

      @include onMobile {
        margin-bottom: 48px;
      }
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    width: 100%;

    &-field {
      font-family: "Poppins", sans-serif;
      background-color: $dark;
      margin-bottom: 50px;
      padding-bottom: 16px;
      border: none;
      border-bottom: 1px solid $blue;
      color: $white;
      outline: none;
    }

    &-message {
      outline: none;
      color: $white;
      height: 56px;
      border: none;
      border-bottom: 1px solid $blue;
      font-family: "Poppins", sans-serif;
      background-color: $dark;
      resize: none;
      margin-bottom: 80px;
    }

    &-btn {
      width: 264px;
      height: 56px;
      padding: 16px 112px;
      font-size: 15px;

      @include onMobile {
        width: 100%;
        margin-bottom: 55px;
      }
    }
  }

  &__right {

    &-title {
      font-size: 32px;
      color: $white;
      margin-bottom: 56px;

      @include onMobile {
        margin-bottom: 48px;
      }
    }

    &-item {
      margin-bottom: 50px;

      @include onMobile {
        margin-bottom: 40px;
      }

      &__text {
        font-family: "Poppins", sans-serif;
        font-size: 13px;
        line-height: 19px;
        color: $white;
        opacity: 0.5;
        margin-bottom: 16px;
      }

      &__link {
        font-size: 24px;
        line-height: 150%;
        text-decoration: none;
        color: $white;
        margin-right: 40px;

        &:last-child {
          margin-right: 0;
        }

        &-icon {
          width: 33px;
          height: 32px;
          transition: all 0.3s;

          @include onMobile {
            width: 24px;
            height: 24px;
          }
          
          & path {
            
            &:hover {
              fill: $blue;
            }
          }
        }
      }
    }
  }
}
