.contact-us {
  &__item {
    margin: 0 0 48px;

    @include on-phone() {
      margin: 0 0 40px;
    }
  }

  &__title {
    @include poppins(32, 600);
    line-height: 150%;
    color: #fff;
    margin: 0 0 56px;

    @include on-phone() {
      margin: 0 0 48px;
    }
  }

  &__subtitle {
    margin: 0 0 8px;

    &--last {
      margin-bottom: 16px;
    }
  }

  &__link {
    @include open-sans(24, 600);
    line-height: 150%;
    color: #fff;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
