.contact {
  font-family: $second-font;
  color: $second-color;

  &__title {
    font-weight: 600;
    font-size: 32px;
    line-height: 1.5;
  }

  &__name {
    font-weight: bold;
    font-size: 13px;
    line-height: 19px;
    text-transform: uppercase;
    color: rgba($color: $second-color, $alpha: 0.5);
  }

  &__item {
    margin-top: 48px;
  }

  &__value {
    display: inline-block;
    margin-top: 16px;

    font-weight: 600;
    font-size: 24px;

    @include hover("opacity", "0.75");

    &--img:not(:last-child) {
      margin-right: 26px;
    }
  }

  @media (max-width: $screen_large) {
    &__title {
      display: none;
    }

    &__item {
      margin-top: 0;
    }
  }

  @media (max-width: $screen_medium) {
    &__item:not(:first-of-type) {
      margin-top: 48px;
    }
  }

  @media (max-width: $screen_small) {
    &__item:not(:first-of-type) {
      margin-top: 39px;
    }

    &__value {
      font-size: 16px;
    }
  }
}
