.contact-info {
  margin-bottom: 40px;

  @include onTablet {
    margin-bottom: 48px;
  }

  @include onDesktop {
    margin-bottom: 48px;
  }

  &__title {
    margin-bottom: 8px;

    @extend %menu-text;
    font-size: 13px;
    opacity: 0.5;
  }

  &__link {
    @extend %main-text;
    font-size: 24px;
    color: $footer-text-color;
    line-height: 150%;

    transition: color 0.3s;

    &:hover {
      color: #2060f6;
    }
  }

  &__icons {
    display: flex;
    align-items: center;
    gap: 32px;
  }

  &__icon {
    height: $icon-size;
    width: $icon-size;

    background-position: center;
    background-repeat: no-repeat;

    cursor: pointer;

    &--facebook {
      background-image: url(../images/icons/facebook.svg);

      &:hover {
        background-image: url(../images/icons/facebook-hover.svg);
      }
    }

    &--twitter {
      background-image: url(../images/icons/twitter.svg);

      &:hover {
        background-image: url(../images/icons/twitter-hover.svg);
      }
    }

    &--instagram {
      background-image: url(../images/icons/instagram.svg);

      &:hover {
        background-image: url(../images/icons/instagram-hover.svg);
      }
    }
  }

}
