.description {
  padding: 148px 20px;
  background-color: $background-color;
  text-align: center;

  @media (min-width: $laptop-width) {
    padding: 148px 120px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    padding: 148px 423px;
  }

  &__header {
    @extend %h2;
    margin-bottom: 16px;
  }

  &__text {
    @extend %text-weight;
  }
}
