.description {
  @include content-padding-inline;

  @include on-desktop {
    padding-inline: 148px;
  }

  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    @extend %description-title;

    margin: 0;
    padding-block: 120px 24px;

    @include on-tablet {
      padding-block: 148px 16px;
    }
  }

  &__text {
    @extend %description-text;

    max-width: 280px;

    @include on-tablet {
      max-width: 558px;
    }

    @include on-desktop {
      min-width: 725px;
    }
  }
}
