.entry-field {
  box-sizing: border-box;
  min-height: 41px;
  padding: 0 0 16px;
  border-bottom: 1px solid rgba($white, 0.7);

  font-family: $font-primary;
  color: $white;

  @include transition(border-color);
  @include font(15px, 600, 1);

  &::placeholder {
    color: rgba($white, 0.7);
  }

  &:focus {
    border-color: $accent;
    border-width: 2px;
  }

  &:-webkit-autofill,
  &:-webkit-autofill:focus {
    border-bottom: 2px solid $accent;
    -webkit-box-shadow: 0 0 0 1000px transparent inset;
    transition: background-color 5000s ease-in-out 0s;

    -webkit-text-fill-color: $white;
  }
}
