.expertise {
  max-width: 362px;

  &__photo-wrap {
    display: flex;
    justify-content: center;
    margin-bottom: 32px;
    
    @include media1024 {
      margin-bottom: 40px;
    }
  }

  &__photo {
    width: 100%;
    max-width: 166px;
    border-radius: 16px;

    transition: transform $transition-time;
  }

  &__title {
    @extend .poppins-600;
    font-size: 20px;
    line-height: 140%;

    text-align: center;

    color: #253757;

    margin-bottom: 16px;
  }

  &__description {
    display: block;
    width: 100%;

    @extend .open-sans-400;
    font-size: 14px;
    text-align: center;
    
    color: #6c788b;
  }
  
  &:hover {
    transform: scale(1.05);
  }

  &:hover &__photo {
    transform: rotate(3deg) scale(1.05);
  }
}
