.expertise {
  background-color: #fff;
  border-radius: 30px;

  &__title {
    font-family: Poppins, sans-serif;
    font-size: 44px;
    font-weight: 600;
    line-height: 53px;
    text-align: center;
  }

  &__content {
    margin-top: 56px;
  }

  &__block {
    text-align: center;
    width: 100%;

    @include forDesktop {
      width: 250px;
    }

    margin-bottom: 56px;

    @include forTablet {
      margin-bottom: 72px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__img {
    width: 165px;
    height: 165px;

    object-fit: cover;
    border-radius: 10px;
    transition: 0.3s;

    &:hover {
      transform: scale(1.05);
    }

    margin-bottom: 32px;

    @include forTablet {
      margin-bottom: 40px;
    }
  }

  &__subtitle {
    font-family: Poppins, sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    text-align: center;

    margin-bottom: 16px;
    color: #253757;
  }

  &__text {
    font-family: Open Sans, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0;
    text-align: center;

    color: rgb(108, 120, 139);
  }
}
