.expertise {
  background-color: #fff;
  border-radius: 30px;
  padding-block: 72px;

  @include on-tablet {
    padding-block: 128px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 56px;

    @include on-tablet {
      gap: 64px;
    }
  }

  &__title {
    margin: 0;
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 44px;
    line-height: 52.8px;
    color: #253757;
    text-align: center;
  }

  &__cards {
    display: flex;
    flex-direction: column;
    gap: 56px;
    align-items: center;

    @include on-tablet {
      gap: 72px;
    }

    @include on-small-desktop {
      gap: 137px;
      flex-direction: row;
    }

    @include on-design {
      gap: 177px;
      flex-direction: row;
    }
  }

  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include on-tablet {
      max-width: 355px;
    }
  }

  &__img {
    width: 166px;
    height: 166px;
    margin-bottom: 32px;
    border-radius: 16px;

    @include on-small-desktop {
      margin-bottom: 40px;
    }
  }

  &__subtitle {
    margin: 0 0 16px;
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #253757;
  }

  &__text {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #6c788b;
  }
}
