.form {
  margin-bottom: 56px;
}

.field-form {
  font-family: "Poppins", sans-serif;
  padding: 0 0 17px;
  width: 100%;
  outline: 0;
  border: none;
  border-bottom: 1px solid $main-text-color;
  font-size: 15px;
  line-height: 22px;
  color: $main-text-color;
  background-color: $main-background;
  transition: all 0.3s ease;

  @include onTablet {
    margin-bottom: 48px;
  }

  &:focus {
    border-bottom-color: #144ed4;
  }

  &::placeholder {
    opacity: 0.7;
    color: $main-text-color;
  }

  &--position {
    margin-bottom: 40px;
  }

  &--last-position {
    margin-bottom: 56px;

    @include onTablet {
      margin-bottom: 80px;
    }
  }
}
