.footer {
  padding-top: 120px;

  @media (min-width: 640px) {
    padding-top: 0;
    background-color: $white-accent;
  }
}

.footer__container {
  background-color: $bg-gray-accent;
  padding: 72px 41px 80px;
  border-radius: $blocks-border-radius $blocks-border-radius 0 0;
  display: flex;
  flex-direction: column;

  @media (min-width: 640px) {
    padding: 180px 41px 80px;
    gap: 0;
  }

  @media (min-width: 1024px) {
    padding-inline: 54px;
  }

  @media (min-width: 1600px) {
    padding-inline: 227px;
  }

  @media (min-width: 2560px) {
    padding-inline: 707px;
  }
}

.footer__container-wrapper {
  display: flex;
  flex-direction: column;
  gap: 80px;
  margin-bottom: 80px;

  @media (min-width: 640px) {
    gap: 120px;
    margin-bottom: 139px;

  }

  @media (min-width: 1024px) {
    flex-direction: row;
    gap: 98px;
    margin-bottom: 104px;
  }


  @media (min-width: 1600px) {
    gap: 226px;
  }

}

@media (min-width: 640px) {
  .footer__contact {
    width: 362px;
  }
}

@media (min-width: 1024px) {
  .footer__contact {
    min-width: 370px;
  }
}

@media (min-width: 1600px) {
  .footer__contact {
    min-width: 460px;
  }
}

.footer__contact-heading {
  margin: 0;
  color: $white-accent;
  font-family: 'Poppinss', sans-serif;
  font-weight: 600;
  font-size: 32px;
  line-height:130%;
  margin-bottom: 48px;

  @media (min-width: 640px) {
    margin-bottom: 56px;
  }
}

.footer__form-input {
  padding: 0;
  width: 100%;
  font-size: 16px;
  background-color: transparent;
  color: $white-accent;
  outline: none;
  border: none;
  border-bottom: 1px solid $white-accent;
  margin-bottom: 40px;
  padding-bottom: 16px;



  &::placeholder {
    color: $white-accent;
    font-family: 'Poppinss', sans-serif;
    font-weight: 600;
    font-size: 15px;
  }

  &:focus {
    border-bottom: 1px solid $ultramarine-accent;
  }

  @media (min-width: 640px) {
    margin-bottom: 56px;
  }

}

.footer__form-input--message {
  padding: 0;
  margin-bottom: 0;
  resize: none;
}

.footer__form-btn {
  color: $white-accent;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  font-weight: 600;
  border: none;
  width: 280px;
  height: 50px;
  background-color: $ultramarine-accent;
  border-radius: 8px;
  margin-top: 56px;
  cursor: pointer;
  @include button-hover;
}

.footer__contact-us {
  width: 100%;
}

.footer__contact-us__container {
  display: flex;
  flex-direction: column;
  gap: 40px;

  @media (min-width: 640px) {
    gap: 48px;
  }
}

.footer__contact-us__heading {
  margin: 0;
  color: $white-accent;
  font-family: 'Poppinss', sans-serif;
  font-weight: 600;
  font-size: 32px;
  line-height: $text-line-height;
  margin-bottom: 48px;

  @media (min-width: 640px) {
    margin-bottom: 56px;
  }
}

.footer__call-us__heading {
  margin: 0;
  color: $white-accent;
  font-family: 'Poppinss', sans-serif;
  font-weight: 700;
  font-size: 13px;
  letter-spacing: 3px;
  margin-bottom: 8px;
}

.footer__call-us__phone {
  color: $white-accent;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: $text-line-height;
  text-decoration: none;
  transition: color 0.3s ease;

  &:hover {
    color: $ultramarine-accent;
  }
}


.footer__visit-us__heading {
  margin: 0;
  color: $white-accent;
  font-family: 'Poppinss', sans-serif;
  font-weight: 700;
  font-size: 13px;
  letter-spacing: 3px;
  margin-bottom: 8px;
}

.footer__visit-us__address {
  color: $white-accent;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: $text-line-height;
  transition: color 0.3s ease;

  &:hover {
    color: $ultramarine-accent;
  }
}

.footer__visit-us__text {
  @media (min-width: 640px) {
    display: none;
  }
}


.footer__social-media__heading {
  margin: 0;
  color: $white-accent;
  font-family: 'Poppinss', sans-serif;
  font-weight: 700;
  font-size: 13px;
  letter-spacing: 3px;
  margin-bottom: 8px;
}

.footer__messengers {
  display: flex;
  flex-direction: row;
  gap: 32px;
}

.footer__messengers-icon {
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: transform 0.3s ease, color 0.3s ease;

  &:hover {
    transform: scale(1.1);

  }
}

.footer__messengers-icon--facebook {
  background-image: url(../images/icon/facebook-footer-icon.svg);
  &:hover {
    background-image: url(../images/icon/facebook-footer-icon-ultramarine.svg);
  }

}

.footer__messengers-icon--twitter {
  background-image: url(../images/icon/twitter-footer-icon.svg);

  &:hover {
    background-image: url(../images/icon/twitter-footer-icon-ultramarine.svg);
  }
}

.footer__messengers-icon--instagram {
  background-image: url(../images/icon/instagram-footer-icon.svg);

  &:hover {
    background-image: url(../images/icon/instagram-footer-icon-ultramarine.svg);
  }
}

.footer__navigation {
  width: 100%;

  @media (min-width: 1024px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.footer__logo {
  width: 46px;
  height: 28px;
  display: block;
  background-image: url(../images/logo/dia-logo.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-bottom: 48px;
  @include rotate-hover;

  @media (min-width: 640px) {
    margin-bottom: 24px;
  }


  @media (min-width: 1024px) {
    margin-bottom: 0;
  }
}
