.footer {
  background-color: $c-dark;
  padding-bottom: 80px;

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;

    @include tablet {
      gap: 48px;
      align-items: flex-start;
      flex-direction: column;
    }
  }

  &__list {
    display: flex;
    gap: 64px;

    @include large-tablet {
      gap: 45px;
    }

    @include tablet {
      gap: 24px;
      flex-direction: column;
    }
  }

  &__item {
    @include hover {
      transform: scale(1.1);
      color: $c-blue;
    }
  }

  &__link {
    font-weight: $t-fw-700;

    letter-spacing: 0.23em;
    text-transform: uppercase;

    @include cursor;
  }
}
