.form {
  display: flex;
  flex-direction: column;

  &__head {
    color: $secondary-color;
  }

  > *:not(:last-child) {
    margin-bottom: 3rem;
  }
  &__input {
    background-color: inherit;
    border: none;
    border-bottom: 1px solid $secondary-color;

    color: $secondary-color;
    opacity: 0.7;

    &:last-of-type {
      margin-bottom: 80px;
    }
  }
}
