.form-field {
  display: block;
  width: 100%;
  padding: 16px 0;
  margin-bottom: 48px;

  background: none;
  outline: none;
  border: none;

  border-bottom: 1px solid $c-white;
  
  @extend .poppins-600;
  font-size: 15px;
  
  color: $c-white;

  &--textarea {
    resize: none;
  }

  &::placeholder {
    @extend .poppins-600;
    font-size: 15px;
    
    color: $c-white;
    
    opacity: 0.7;
  }

  transition: border-color $transition-time;

  &:hover,
  &:focus {
    border-bottom: 2px solid $c-blue;
    padding-bottom: 15px;
  }
}
