.button {
  cursor: pointer;
  width: 226px;
  height: 56px;
  border-radius: 64px;
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 1px;
  border: none;
  box-shadow: none;

  &--blue {
    background: $color-button;
    color: #fff;
  }

  &--white {
    background: #fff;
    color: $color-text;
  }
}

.form {
  &__textarea,
  &__input {
    width: 100%;
    height: $input-heigth;
    background: #eee;
    border: none;
    font: {
      family: "Ubuntu", sans-serif;
      weight: 500;
      size: 14px;
    }
    line-height: 36px;
    padding: 0 20px;

    &::placeholder {
      text-transform: uppercase;
      font: {
        family: "Ubuntu", sans-serif;
        weight: 500;
        size: 14px;
      }
      line-height: 36px;
      display: flex;
      align-items: center;
      text-align: center;
      color: #393939;
    }
  }

  &__textarea {
    height: auto;
  }

  &__field {
    padding-bottom: 8px;
  }
}
