.form {
  background-color: $main-black-color;

  @include on-tablet {
    width: 362px;
  }

  @include on-small-desktop {
    width: 370px;
  }

  &__title {
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 41px;
    color: $main-white-color;
    margin-bottom: 48px;

    @include on-tablet {
      line-height: 48px;
      margin-bottom: 56px;
    }
  }

  &__field {
    box-sizing: border-box;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid $main-white-color;
    background-color: $main-black-color;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    color: $main-white-color;
    padding: 17px 0;
    margin-bottom: 22px;


    &:focus {
      background-color: $main-black-color;
      border-color: $main-blue-color;
      outline: none;
    }

    &::placeholder {
      font-family: Poppins, sans-serif;
      font-weight: 600;
      font-size: 15px;
      line-height: 22px;
      color: $main-white-color;
      opacity: 0.7;
    }

    &:focus::placeholder {
      opacity: 1;
    }

    &--textarea {
      resize: none;
      margin-bottom: 56px;
      padding-top: 0;
      padding-bottom: 0;
    }
  }
}
