.form-field {
  box-sizing: border-box;
  height: 40px;
  width: 100%;
  
  background-color: $colorHeadFoot;

  border: transparent;
  border-bottom: 2px solid $colortext;
  outline: none;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 15px;
  line-height: 24px;
  color: $colortext;

  transition: border-color 0.3s;

  &::placeholder {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 15px;
    line-height: 24px;
    color: #ffffff60;
  }

  &:hover {
    width: 100%;
    border-color: $colorPeach;
    color: $colortext;
    
  }

  &:focus {
    color: $colortext;
  }

  &:active {
    color: $colortext;
  }

  &--textarea {
    resize: none;
    
    font-family: "Poppins", sans-serif;
    background-color: $colorHeadFoot ;
    color: $colortext;

    &::-webkit-scrollbar {
      width: 0;
    }
  }
}
