.header {
  background: $header-footer-hero-bg-color;
  color: $header-footer-hero-color;
  padding-top: 20px;

  @include on-small-desktop {
    padding-top: 48px;
  }

  &__content {
    display: flex;
    position: relative;
  }
  &__logo {
    height: 28px;
    width: 100%;
  }

  &__icon {
    background-image: url(../images/icon/menu-icon.svg);
    margin-left: 32px;
    height: 24px;
    width: 24px;

    @include on-small-desktop {
      display: none;
    }
  }

  &__nav {
    margin: 0 auto;
  }

  &__list {
    gap: 48px;
  }

  &__item {
    &:not(:nth-child(n + 5)) {
      display: none;

      @include on-small-desktop {
        display: inline-block;
      }
    }
  }
}
