.header {
  background-color: rgba(44, 44, 44, 1);
  background-position: center;
  background-repeat: no-repeat;
  block-size: cover;
  
  border-radius: 0 0 30px 30px;

  &__content {
    padding-top: 21px;

    @include desk-1024 {
      padding-top: 49px;
    }
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo-icon-container {
    display: flex;
    align-items: center;
  }

  &__icon-container {
    margin-left: 35px;

    @include desk-1024 {
      display: none;
    }
  }

  &__nav-container {
    display: none;

    @include desk-1024 {
      display: block;
    }
  }

  &__hire-us {
    display: block;
    height: 30px;
    text-decoration: none;
    font-weight: 700;
    font-size: 13px;
    line-height: 150%;
    letter-spacing: 3px;
    text-transform: uppercase;
    width: max-content;
    color: rgba(255, 255, 255, 1);

    position: relative;

    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 2px;
      border-radius: 4px;
      background-color: rgba(32, 96, 246, 1);

      position: absolute;
      bottom: 0;
    }

  }

  &__strategic-slider {
    position: relative;

    @include desk-1024 {
      margin-top: 38px;
      height: 680px;

    }
  }
}
