.hero {
  position: relative;

  overflow: hidden;
  display: flex;
  flex-direction: column;

  height: 100vh;
  border-bottom-right-radius: 1.88rem;
  border-bottom-left-radius: 1.88rem;

  background-color: $c-dark-bg;

  @include on-small-desktop {
    display: block;
  }

  &__container {
    position: relative;
    z-index: 2;
    flex: 0 0 auto;

    @include on-small-desktop {
      display: flex;
      flex-direction: column;
      height: 100%;
    }
  }

  &__header {
    height: clamp(1.5rem, 4vh, 1.88rem);
    padding-top: clamp(1rem, 3vh, 1.25rem);

    @include on-small-desktop {
      flex: 0 0 auto;
      height: 1.88rem;
      padding-top: 3.25rem;
    }
  }

  &__slider {
    overflow: hidden;
    flex: 1 1 auto;

    min-height: 0;
    border-top-left-radius: 1.88rem;
    border-top-right-radius: 1.88rem;
    border-bottom-right-radius: 1.88rem;

    @include on-small-desktop {
      position: absolute;
      z-index: 3;
      right: 0;
      bottom: 0;

      width: calc(50vw - 0.63rem);
      height: 85%;
      border-top-right-radius: 0;
    }

    @include on-design {
      width: calc(50vw - 7.06rem);
    }
  }

  &__content {
    flex-shrink: 0;
    width: 100%;
    padding-top: clamp(1.5rem, 5vh, 3rem);

    @include on-small-desktop {
      display: flex;
      flex: 1 1 auto;
      flex-direction: column;
      justify-content: center;

      width: 22.5rem;
      padding-top: 0;
      padding-bottom: 5rem;
    }
  }

  &__title {
    @extend %hero-title;

    margin: 0 0 clamp(1.25rem, 3.5vh, 2rem);
    font-size: clamp(2.63rem, 8vh, 3.25rem);
    line-height: 1.12;

    @include on-tablet {
      font-size: clamp(3rem, 8vh, 4rem);
      line-height: 1.06;
    }

    @include on-small-desktop {
      font-size: 4rem;
      line-height: 4.25rem;
    }
  }

  &__text {
    @extend %text-14-regular;

    margin: 0 0 clamp(2rem, 7vh, 4.5rem);
    font-size: clamp(1rem, 2.8vh, 1.13rem);
    line-height: 1.5;
    color: $c-text-white;

    @include on-tablet {
      margin-bottom: clamp(2.5rem, 10vh, 6.25rem);
    }

    @include on-small-desktop {
      margin-bottom: 5rem;
      font-size: 1.13rem;
    }
  }

  &__button {
    width: clamp(15rem, 70vw, 17.5rem);
    height: clamp(3rem, 7vh, 3.5rem);
    margin-bottom: clamp(1.5rem, 5vh, 2.5rem);

    @include on-tablet {
      width: 16.5rem;
      margin-bottom: clamp(2rem, 10vh, 6.25rem);
    }

    @include on-small-desktop {
      margin-bottom: 0;
    }
  }
}
