.icon {
  display: block;
  background-repeat: no-repeat;
  background-size: cover;
  height: 24px;
  width: 24px;

  /* @media (min-width: 640px) {
    height: 28px;
  } */

  &--menu {
    background-image: url(/images/icons/icon-menu.png);
    margin-left: 32px;
    transition: transform 0.3s ease;

    @include onDesktop {
      display: none;
    }

    &:hover {
      transform: scale(1.2);
    }
  }

  &--close {
    background-image: url(/images/icons/icon-close.svg);
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.2);
    }
  }

  &--media {
    display: inline-block;
    transition: color 0.3s ease;
  }
}
