.icon__menu {
  background-image: url('../images/icons/menu-icon.svg');
  width: 24px;
  height: 24px;

  @include on-small-desktop {
    display: none;
  }
}

.icon {
  background-position: 50%;
  background-size: cover;
  transition: transform 0.3s;
  display: block;

  @include on-small-desktop {
    display: none;
  }
}
