.icon {
  display: block;
  width: 18px;
  height: 18px;

  background-repeat: no-repeat;
  background-position: center;

  transition: transform 0.3s;

  &:hover {
    transform: scale(1.2);
  }

  &--opener {
    background-image: url(../images/Menu.svg);

  }

  &--close {
    background-image: url(../images/close.svg);
  }
}
