.logo {
  width: 46px;
  height: 28px;
  background-image: url(../images/logo/logo-white.svg);

  @include transition(background-image);

  &:hover {
    background-image: url(../images/logo/logo-blue.svg);
  }

  &--light-theme {
    &:hover {
      background-image: url(../images/logo/logo-coral.svg);
    }
  }
}
