.logo {
  text-decoration: none;
  width: 45px;
  height: 26px;
  
  &--footer {
    display: none;
  
    @include smallDesktop {
      display: inline;
    }
  
    &-tablet {
      @include smallDesktop {
        display: none;
      }
    }
  }
  
  
  &__icon {
    display: inline-block;
    @include icon;
    width: 45px;
    height: 26px;
    background-image: url(../images/logo/air-logo.svg);
    transition: background-image 300ms;
  
    &:hover {
      background-image: url(../images/logo/air-logo-blue.svg);
    }
  
    &--footer {
      margin-top: 5px;
    }
  }
}
