.main {
  &__container {
    display: flex;
    flex-direction: column;
    gap: px-to-rem(120px);
    margin-top: px-to-rem(120px);

    @include on-tablet {
      gap: px-to-rem(148px);
      margin-top: px-to-rem(148px);
    }
  }
}
