.main-layout {
  &__content {
    display: flex;
    flex-direction: column;
    row-gap: 120px;

    @include on-tablet {
      row-gap: 148px;
    }
  }

  &__title {
    display: flex;
    justify-content: center;
    color: $c-title;

    @include margin-padding-0;
  }

  &__small-title {
    display: flex;

    @include margin-padding-0;

    font-family: Poppins, sans-serif;
    font-weight: 700;
    font-size: 13px;
    line-height: 100%;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: $c-light-gray;
  }
}
