.menu {
  height: 100vh;
  background-color: $primaryBgColor;
  overflow-y: auto;

  @include onTablet {
    padding: 36px 0;
  }

  @include onDesktop {
    display: none;
  }

  &__content {
    padding: 29px 0;
  }

  &__top-actions {
    margin-bottom: 44px;
  }

  &__icon {
    @include square(32px);
  }

  &__nav {
    height: auto;
    margin-bottom: 40px;
  }

  &__list {
    display: inline-flex;
    flex-direction: column;
    gap: 12px;
  }

  &__link {
    display: block;
    padding: 10px 0;
  }

  &__action {
    @include headerAction;
  }
}
