.menu {
  height: 100vh;
  box-sizing: border-box;
  background-color: $bgcolor;

  transform: (-1);

  &__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 150px;
  }

  &__cross {
    width: 26px;
    height: 26px;
    background-image: url(../images/Icon-Close.svg);
    background-position: center;
    background-color: $colorWhite;
    color: $colorWhite;
    border-radius: 50%;
    transition: transform 0.5s;

    &:hover {
      transform: scale(0.8);
    }
  }

  &__content {
    margin: 0;
    box-sizing: border-box;
    height: 100vh;
    padding: 21px 0;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    width: 200px;
    margin: 0 auto;
    text-transform: uppercase;
  }

  &__item {
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
  }

  &__link {
    position: relative;
    text-decoration: none;
    color: $colorWhite;
    border-bottom: 1px solid $bgcolor;

    &:hover::after {
    display: block;
    content: "";
    position: absolute;
    left: 0;
    right: 0;

    margin-bottom: 10px;
    height: 2px;
    background-color: $colorBlue;

    
   }
 }
}
