.message {
  &--grid {
    grid-column: 1 / 6;

    @include onPad {
      grid-column: 1 / 5;
    }
  }

  &__title {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 150%;
    color: #fff;
    margin: 0 0 56px;

    @include onPhone {
      margin: 0 0 48px;
    }
  }

  &__email {
    display: block;
    width: 100%;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #fff;
    background-color: #2c2c2c;
    padding: 0 0 17px;
    margin-bottom: 48px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    color: #fff;
    outline: none;
    transition: all 0.3s;
    &::placeholder {
      font-family: "Poppins", sans-serif;
      font-weight: 600;
      font-size: 15px;
      line-height: 22px;
      color: #fff;
      opacity: 0.7;
      transition: all 0.3s;
    }

    &:hover {
      border-bottom: 1px solid #9d9cc9;
      &::placeholder {
        color: #9d9cc9;
      }
    }
    
    &:focus {
      border-bottom: 2px solid #144ed4;
      padding: 0 0 16px;
    }
  }

  &__name {
    display: block;
    width: 100%;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #fff;
    background-color: #2c2c2c;
    padding: 0 0 17px;
    margin-bottom: 48px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    color: #fff;
    outline: none;
    transition: all 0.3s;

    &::placeholder {
      font-family: "Poppins", sans-serif;
      font-weight: 600;
      font-size: 15px;
      line-height: 22px;
      color: #fff;
      opacity: 0.7;
      transition: all 0.3s;

    }

    &:hover {
      border-bottom: 1px solid #9d9cc9;

      &::placeholder {
        color: #9d9cc9;
      }
    }

    &:focus {
      border-bottom: 2px solid #144ed4;
      padding: 0 0 16px;
    }
  }

  &__textarea {
    display: block;
    padding: 0 0 1px;
    width: 100%;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #fff;
    background-color: #2c2c2c;
    margin-bottom: 80px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    color: #fff;
    outline: none;
    resize: none;
    transition: all 0.3s;

    @include onPhone {
      margin-bottom: 56px;
    }
    &::placeholder {
      font-family: "Poppins", sans-serif;
      font-weight: 600;
      font-size: 15px;
      line-height: 22px;
      color: #fff;
      opacity: 0.7;
      transition: all 0.3s;

    }

    &:hover {
      border-bottom: 1px solid #9d9cc9;

      &::placeholder {
        color: #9d9cc9;
      }
    }

    &:focus {
      border-bottom: 2px solid #144ed4;
      padding: 0;
    }
  }

  &__button {
    @include onPhone {
      width: 100%;
    }
  }
}
