.motto {
  position: relative;
  padding: 199px 20px 198px;
  text-align: center;

  @media (min-width: $laptop-width) {
    padding: 199px 120px 198px;
  }

  @media (min-width: $desktop-width) {
    padding: 199px 442px 198px 443px;
  }

  &__header {
    @extend %h2;
    margin-bottom: 24px;
    font-size: 52px;
  }

  &__text {
    @extend %text-weight;
    margin-bottom: 64px;
  }

  &__button {
    @extend %button;
    margin: 0 auto;
  }

  &__rectangle {
    z-index: -1;
    position: absolute;
    box-sizing: border-box;
    border: 5px solid #2060f6;
    border-radius: 12px;
    opacity: 0.5;
    transform: rotate(-65.1deg);

    &--1 {
      top: 370.12px;
      left: 5%;
      width: 67.36px;
      height: 26.63px;
    }

    &--2 {
      top: 518.45px;
      left: 10%;
      width: 93.54px;
      height: 36.98px;
    }

    &--3 {
      top: 72px;
      left: 15%;
      width: 85.61px;
      height: 33.84px;
    }

    &--4 {
      top: 283px;
      left: 20%;
      width: 143.04px;
      height: 56.54px;
    }

    &--5 {
      top: 77px;
      left: 25%;
      width: 45.28px;
      height: 17.9px;
      border-radius: 6px;
    }

    &--6 {
      top: 465px;
      left: 30%;
      width: 45.28px;
      height: 17.9px;
      border-radius: 6px;
    }

    &--7 {
      top: 514px;
      right: 40%;
      width: 45.28px;
      height: 17.9px;
      border-radius: 6px;
    }

    &--8 {
      top: 385.16px;
      right: 25%;
      width: 85.61px;
      height: 33.84px;
    }

    &--9 {
      top: 130.96px;
      right: 20%;
      width: 143.04px;
      height: 56.54px;
    }

    &--10 {
      top: 413.16px;
      right: 15%;
      width: 153.61px;
      height: 60.72px;
    }

    &--11 {
      top: 109.48px;
      right: 10%;
      width: 53.69px;
      height: 21.22px;
      border-radius: 8px;
    }

    &--12 {
      top: 276.5px;
      right: 5%;
      width: 86.41px;
      height: 34.16px;
    }
  }
}
