.nav {
  &__list {
    display: flex;
    gap: $space-5;

    margin: $space-0;
    padding: $space-0;

    list-style: none;
  }

  &__item {
    width: fit-content;
  }

  &__link {
    --padding-inline: #{$space-4};
    --padding-block: #{$space-2};

    padding-block: var(--padding-block);
    padding-inline: var(--padding-inline);
    color: inherit;
    transition: color $trans-duration-base;

    @include hover {
      color: var(--color-text-primary-hover);
    }
  }
}
