.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &--footer {
    flex-wrap: wrap;
  }

  &__wrapper {
    line-height: 0;

    &--footer {
      @include onTablet {
        margin-bottom: 25px;
        flex: 1 0 100%;
      }

      @include onPhone {
        margin-bottom: 50px;
        flex: 1 0 100%;
      }
    }
  }

  &__logo {
    display: inline-block;
    line-height: 0;
  }

  &__list {
    list-style: none;
    display: flex;

    @include onTablet {
      display: none;
    }

    @include onPhone {
      display: none;
    }

    &--footer {
      @include onTablet {
        display: flex;
      }

      @include onPhone {
        display: flex;
        flex-direction: column;
        gap: 24px;
      }
    }
  }

  &__item {
    margin-right: 48px;

    @include onDesktop {
      margin-right: 40px;
    }

    &:last-of-type {
      margin-right: 0;
    }
  }

  &__link {
    @extend %link;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 3px;
    font-weight: 700;

    &:hover {
      color: #2060f6;
    }
  }

  &__hire {
    @extend %link;
    margin: 40px 0;
    position: relative;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 3px;
    font-weight: 700;
    text-align: center;

    &:hover {
      color: #2060f6;
    }
  }

  &__menu {
    display: none;
    width: 24px;
    height: 24px;
    background-image: url(../images/logo/Menu.svg);
    background-position: center;
    background-repeat: no-repeat;

    @include onTablet {
      margin-left: 35px;
      display: inline-block;
    }

    @include onPhone {
      margin-left: 35px;
      display: inline-block;
    }

    &--footer {
      display: none;
    }
  }
}
