.navigation {

  &__list {
    display: flex;
    // !!! Check if flex is OK !!!
    // grid-template-columns: repeat(5, auto);
    // column-gap: 64px;
    justify-content: space-between;
    padding-left: 0;
    list-style: none;
  }

  &__link {
    @include font-param(13px, 700, $cWhite, 3px);
    text-decoration: none;
    text-transform: uppercase;
    line-height: 1.5em;
  }
}
