.navigation {

  &__list {
    display: grid;
    grid-template-columns: repeat(5, auto);
    justify-content: start;
    column-gap: 64px;
    padding-left: 0;
    list-style: none;

    &--footer {
      justify-content: end;
      justify-items: end;
    }

    @include mobileAdapt {
      display: none;
    }
  }

  &__link {
    position: relative;
    @include font-param(13px, 700, $cWhite, 3px);
    text-decoration: none;
    text-transform: uppercase;
    line-height: 1.5em;
    transition: color 0.3s;

    &:hover {
      color: $cBlue;
    }
  }
}
