.nav {
  &__list {
    display: flex;
    padding: 0;
    margin: 0;
    gap: 48px;
    list-style: none;
  }

  &__link {
    color: #FFF;
    font-size: 13px;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-decoration: none;
  }
}
