.our-expertise {
  border-radius: 30px;
  padding: 72px 20px;
  background-color: #fff;
  text-align: center;
  color: #253757;

  &__content {
    @include desktop {
      display: flex;
      justify-content: space-around;
    }
  }

  &__branding {
    @include desktop {
      max-width: 264px;
    }
  }

  &__communication {
    @include desktop {
      max-width: 264px;
    }
  }

  &__strategy {
    @include desktop {
      max-width: 264px;
    }
  }

  &__title {
    margin: 0 0 56px;
    font-weight: 600;
    font-size: 44px;
    line-height: 120%;

    @include tablet {
      margin: 0 0 64px;
      font-size: 52px;
      line-height: 150%;
    }

    @include desktop {
      margin: 0 0 64px;
      font-size: 52px;
      line-height: 150%;
    }
  }

  &__image {
    margin-bottom: 32px;
    border-radius: 15px;

    transition: transform 0.3s;

    @include tablet {
      margin-bottom: 40px;
    }

    @include desktop {
      margin-bottom: 40px;
    }

    &:hover {
      transform: scale(120%);
      box-shadow: 1px 4px 16px #253757;
    }
  }

  &__name {
    margin: 0 0 16px;
    font-weight: 600;
    font-size: 20px;
    line-height: 140%;
  }

  &__paragraph {
    margin: 0 0 56px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #6c788b;

    @include tablet {
      margin: 0 0 72px;
    }

    @include desktop {
      margin: 0;
    }
  }
}
