.our-expertise {
  padding-block: px-to-rem(72px);
  border-radius: $border-radius;
  background-color: $section-bg-c-white;

  &__contant {
    display: flex;
    flex-direction: column;
    gap: px-to-rem(56px);
  }

  &__title {
    margin-bottom: px-to-rem(56px);
    font-size: px-to-rem(44px);
    font-weight: 600;
    color: $title-c-white-theme;
    text-align: center;
    line-height: px-to-rem(53px);
  }

  &__card-img {
    display: block;
    margin-inline: auto;
    border-radius: px-to-rem(16px);
  }

  &__card-title {
    margin-block: px-to-rem(32px) px-to-rem(16px);

    font-size: px-to-rem(20px);
    color: $title-c-white-theme;
    text-align: center;
    line-height: px-to-rem(28px);
  }

  &__card-text {
    font-size: 14px;
    color: $text-c-white-theme;
    text-align: center;
    line-height: 21px;

  }
}
