.oval {
  position: absolute;
  opacity: 0.5;
  border-radius: 500px;
  transform: rotate(-65.1deg);
  z-index: -1;

  &--big {
    width: 143.04px;
    height: 56.54px;
  }

  &--middle {
    width: 93.54px;
    height: 36.98px;
  }

  &--small {
    width: 67.36px;
    height: 26.63px;
  }

  &--micro {
    width: 45.28px;
    height: 17.9px;
  }

  &--fill {
    z-index: 10;
    opacity: 1;

    &-yellow {
      background-color: $color-yellow;
      top: 1%;
      left: 25%;
    }

    &-blue {
      background-color: $color-main-blue;
      top: 1%;
      left: 25%;
    }

    &-red {
      background-color: $color-red;
      top: 1%;
      left: 25%;
    }
  }

  &--green {
    border: 4px solid $color-green;
  }

  &--blue {
    border: 4px solid $color-main-blue;
  }

  &--red {
    border: 4px solid $color-red;
  }

  &--yellow {
    border: 4px solid $color-yellow;
  }

  &--purple {
    border: 4px solid $color-purple;
  }

  &--1 {
    left: 10%;
    top: 45%;
  }

  &--2 {
    right: 10%;
    top: 15%;
  }

  &--3 {
    right: 3%;
    top: 65%;
  }

  &--4 {
    left: 3%;
    bottom: 5%;
  }

  &--5 {
    left: 10%;
    top: 5%;
  }

  &--6 {
    right: 13%;
    top: 50%;
  }

  &--7 {
    right: 1%;
    top: 30%;
  }

  &--8 {
    left: 1%;
    top: 60%;
  }

  &--9 {
    right: 1%;
    top: 5%;
  }

  &--10 {
    left: 30%;
    top: 1%;
  }

  &--11 {
    left: 30%;
    top: 80%;
  }

  &--12 {
    left: 70%;
    top: 80%;
  }
}
