.padding {
  &__header {

    @include tablet {
      padding-left: 40px;
    }

    @include desktop {
      padding-left: 54px;
    }

    @include largeDesktop {
      padding-left: 227px;
    }
  }

  &__all {
    @include tablet {
      padding: 40px;
    }

    @include desktop {
      padding: 54px;
    }

    @include largeDesktop {
      padding: 227px;
    }
  }
}
