.page {
  font-family: "Open Sans", Poppins, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 150%;
  font-style: normal;
  font-size: 13px;
  color: $gray-color;
  background-color: $section-bg;
  scroll-behavior: smooth;
  
  &__bg-light {
    background-color: $ligth-color;

    @include mobile {
      background-color: $section-bg;
    }
  }

  &__menu {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    transition: transform 0.3s;
    transform: translateX(-100%);

    &:target {
      transform: translateX(0);
    }
  }
 
  &__body {
    max-width: 2600px;
    margin: 0 auto;

    &--with-menu {
      overflow: hidden;
    }
  }
}
