.page {
  scroll-behavior: smooth;
  &__body {
    background-color: #f2f6fa;
    &--menu {
      overflow: hidden;
    }
  }

  &__menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  
    transform: translateX(-100%);
    transition: $transition-dur;
  
    &:target {
      transition: $transition-dur;
      transform: translateX(0%);
    }
  }
}
