.person-card {
  border-radius: 16px;
  background-color: #fff;

  display: flex;
  flex-grow: 1;

  &__container {
    padding: 32px 0;
    margin: 0 auto;
    width: 205px;

    display: flex;
    flex-direction: column;
    align-items: center;

    @include onTablet {
      width: 364px;
    }

    @include onLargeDesktop {
      width: 250px;
    }
  }

  &__photo {
    height: 196px;
    width: 196px;
    margin-bottom: 28px;

    @include onTablet {
      height: 250px;
      width: 250px;
    }

    @include onLargeDesktop {
      height: 250px;
      width: 250px;
    }
  }

  &__response {
    margin-bottom: 16px;

    @extend %main-text;
    text-align: center;
    
    &::before {
      content: "";
      display: block;
      height: 24px;
      width: 24px;
      margin: 0 auto;
      margin-bottom: 8px;

      background-image: url(../images/icons/quotes.svg);
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  &__name {
    margin-bottom: 4px;

    @extend %main-text;
    color: $main-text-color;
    text-align: center;

  }

  &__profession {
    @extend %menu-text;
    font-size: 13px;
    text-align: center;
    color: $name-text-color;
  }
}
