.process {
  background-color: $c-page-bg;

  &__container {
    padding-top: 120px;
    padding-bottom: 120px;

    @include on-tablet {
      padding-top: 148px;
      padding-bottom: 148px;
    }

    @include on-small-desktop {
      display: grid;
      grid-template-columns: 292px 1fr;
      column-gap: 166px;

      padding-top: 251px;
      padding-bottom: 151px;
    }
  }

  &__content {
    margin-bottom: 48px;

    @include on-tablet {
      width: 100%;
      max-width: 400px;
      margin-bottom: 56px;
    }

    @include on-small-desktop {
      margin-bottom: 0;
      padding-top: 102px;
    }
  }

  &__eyebrow {
    @extend %label-muted;

    margin: 0 0 16px;
  }

  &__title {
    @extend %section-title;

    max-width: 292px;
    margin: 0 0 24px;
  }

  &__text {
    @extend %text-14-regular;

    max-width: 280px;
    margin: 0 0 24px;
    color: $c-text-secondary;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;

    @include on-tablet {
      grid-template-columns: repeat(2, minmax(0, 264px));
      gap: 30px;
    }

    @include on-small-desktop {
      align-items: start;
    }
  }
}
