@import "../utils";

.processes {
  padding-top: 148px;

  &__content {
    width: 100%;
    @extend %flex-center;
  }

  &__items {
    width: 50%;
    display: flex;
    justify-content: space-between;
  }

  &__cards-block {
    width: 48%;

    &--down {
      transform: translateY(25%);
    }
  }

  &__card {
    width: 100%;
    padding: 34px 43px;

    &:first-child() {
      margin-bottom: 30px;
    }
  }
}
