.promo {
  height: 100vh;

  background-color: $header-background-color;
  border-radius: 0 0 30px 30px;

  &__header {
    padding: 48px 227px 0;
    display: flex;
    justify-content: space-between;

  }

  &__navigation {
    position: absolute;
    left: 351px;
  }

  &__link::after {
    content: "";
    position: relative;
    top: 8px;

    display: block;
    width: 100%;
    height: 2px;

    background-color: $utility-color;
    border-radius: 4px;
  }

  &__highlight {
    position: absolute;
    top: 240px;
    left: 227px;
  }

  &__title {
    max-width: 300px; //Change it
    margin-bottom: 2rem;
  }

  &__text {
    max-width: 362px;
    margin-bottom: 83px;

    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    color: $secondary-color;
  }

  &__button {
    display: inline-block;
    width: 226px;
    height: 50px;
  }
}
