.process {
  background-color: $white-color;
  padding: 32px;
  border-radius: 16px;
  line-height: 20px;
  font-size: 13px;

  @include hover(transform, scale(1.02));



  &__number {
    display: inline-block;
    padding: 2px 12px;
    background-color: $c-gray;
    color: $navy-blue-color;
    font-weight: 600;
    border-radius: 26px;
    margin-bottom: 24px;

  }

  &__list {
    font-family: 'Open sans';
    margin-bottom: 32px;
    color: $text-light-color;

  }


  &__link {
    padding-left: 56px;
    color: $text-middle-color;
    font-size: 15px;
    line-height: 40px;
    font-weight: 600;
    position: relative;
    text-decoration: none;

    &:before{
      position: absolute;
      content: url('../images/process-arrow.svg');
      top: -10px;
      left: 0;
      width: 40px;
      height: 40px;
    }

  }
}

