@import "../utils";

.processes {
  padding: 148px 0 44px;

  &__content {
    width: 100%;
    @extend %flex-center;
  }

  &__items {
    width: 50%;
    display: flex;
    justify-content: space-between;
  }

  &__cards-block {
    width: 48%;

    &--down {
      position: relative;
      bottom: -135px;
      z-index: 1;
    }
  }

  &__card {
    width: 100%;
    padding: 34px 43px;

    &:first-child() {
      margin-bottom: 30px;
    }
  }
}
