.results {
  background-color: $clr--white;
  padding-block:  72px;

  background-image: url(../images/results-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @include onTablet {
    padding:  200px 0 256px;
  }

  &__layout {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    padding: 0;
    text-align: center;

    @include onTablet {
      font-size: 52px;
    }

    @include onDesktop {
      line-height: 150%;
    }
  }

  &__text {
    padding-top: 24px;
    text-align: center;
    width: 80%;

    color: $clr--gray-2;
    font-family: $font--secondary;
    font-size: 22px;
    font-weight: 600;
    line-height: 150%;

    @include onTablet {
      font-size: 24px;
    }
  }

  &__btn {
    width: 80%;
    margin-top: 56px;

    @include onTablet {
      margin-top: 64px;
      width: 264px;
    }
  }
}
