.results {
  background-color: #fff;

  @include onTablet {
    background-image: url(../images/Shapes.png);
    background-repeat: no-repeat;
    background-size: fill;
    background-position: center;
  }

  &__container {
    margin: 0 20px 120px;
    padding: 72px 0;

    @include onTablet {
      margin: 0 41px;
      padding: 200px 0;
    }
  }
  &__title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: $fontPoppins;
    font-weight: 600;
    font-size: 44px;
    line-height: 120%;
    color: $colorBlackTitle;
    margin-bottom: 24px;
  }

  &__text {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 600;
    font-size: 22px;
    line-height: 150%;
    color: $colorGrayText;
    margin-bottom: 56px;

    @include onSmallDesktop {
      margin-bottom: 64px;
    }
  }

  &__button {
    display: flex;
    justify-content: center;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $colorBlue;
    border-radius: 8px;
    height: 56px;
    width: 100%;
    text-decoration: none;
    color: #fff;
    transition: all 0.3s;

    &:hover {
      transform: scale(0.98, 0.98);
      background-color: #97bdea;
      color: $colorBlue;
    }

    @include onTablet {
      width: 264px;
    }
  }
}
