.results {
  &__wrapper {
    background-image: url(../images/Shapes.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    background-color: #fff;
    height: 888px;

    @include tablet {
      height: 796px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    max-width: 754px;
  }

  &__title {
    font-size: 52px;
    text-align: center;
    color: $c-title;
    padding-top: 200px;
    margin-bottom: 24px;

    @include large-tablet {
      line-height: 1.2;
    }

    @include tablet {
      padding-top: 72px;
    }

    @include mobile {
      font-size: 44px;
      line-height: 1.2;
    }
  }

  &__text {
    font-family: $t-ff-openSans;
    font-size: 24px;
    text-align: center;
    color: $c-text;
    margin-bottom: 64px;

    @include mobile {
      font-size: 22px;
    }
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 264px;
    height: 56px;
  }
}
