.reviews {
  &__title {
    letter-spacing: 3px;
    font-weight: 700;
    margin-bottom: 16px;

    text-transform: uppercase;
    color: $title-small-color;
  }

  &__subtitle {
    font-size: $font-size-title-default;
    font-weight: 600;
    margin-bottom: 48px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__item {
    padding-block: 32px;
    text-align: center;

    border-radius: 16px;
    background-color: $second-blocks-bg-color;
  }

  &__item-description {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    width: 196px;
    margin: 0 auto 16px;

    color: $description-color;
  }

  &__item-name {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    margin-bottom: 4px;
  }

  &__item-title {
    letter-spacing: 3px;
    font-weight: 700;

    text-transform: uppercase;
    color: $title-small-color;
  }
}
