.features {
  padding: 200px 0 130px;
  background: {
    image: linear-gradient(115deg, $cmb, $cmb 55%, $lgf 55%,
    $lgf 83%, $cmb 83%),
      url("./../../images/pva.jpeg");
    position: -440% top;
    repeat: no-repeat;
  }

  &__description {
    width: 33%;
  }

  &__item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 32px 0;

    &--1 {
      padding-top: 0 !important;
    }
  }

  &__icon {
    height: 64px;
    min-width: 64px;
    max-width: 64px;
    margin-right: 32px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__text {
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    color: #fff;
    mix-blend-mode: normal;
  }
}
