@import "../utils";

.section-title {

  &__description {
    width: 30%;
  }

  &__overhead {
    @extend %h6;

    color: $secondary-grey-white;

    margin-bottom: 16px;
  }

  &__title {
    @extend %h2;

    color: $secondary-darkblue;

    margin-bottom: 24px;
  }

  
  &__ideas {
    
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;

    color: $secondary-grey-blue;

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}
