.container--process {
  padding-right: 90px;
  display: grid;
  grid-template-rows: auto;
  grid-gap: 58px;
  grid-template-columns: 2.2fr repeat(2, 1fr);
}

.process {
  margin-bottom: 0 !important;

  &__description {
    padding-right: 128px;
    grid-row: span 2;
  }

  &__item {
    padding: 48px 32px;
    box-shadow: 16px 16px 16px rgba(0, 0, 0, 0.02);
    text-align: center;
    background-color: #fff;

    &--1 {
      position: relative;
      top: 70px;
    }
    &--3 {
      position: relative;
      top: 150px;
    }
    &--4 {
      position: relative;
      top: 45px;
    }
  }

  &__number {
    position: relative;
    font-weight: 900;
    font-size: 40px;
    line-height: 150%;
    padding-bottom: 5px;

    &::before {
      content: "";
      position: absolute;
      width: 48px;
      height: 48px;
      border-radius: 50%;
      left: 50%;
      top: -18px;
      transform: translateX(-50%);
      opacity: 0.1;
    }

    &--blue {
      color: #56ccf2;

      &::before {
        background: linear-gradient(180deg, $lgs 0%, $lgf 100%),
          linear-gradient(0deg, $cmb, $cmb),
          #c4c4c4;
      }
    }

    &--yellow {
      color: #fcc304;

      &::before {
        background: linear-gradient(180deg, $lgs 0%, $lgf 100%), #fcc304;
      }
    }

    &--green {
      color: #03d542;

      &::before {
        background: linear-gradient(180deg, $lgs 0%, $lgf 100%),
          linear-gradient(0deg, #03d542, #03d542),
          #c4c4c4;
      }
    }

    &--red {
      color: #f25656;

      &::before {
        background: linear-gradient(180deg, $lgs 0%, $lgf 100%), #f25656;
      }
    }

    &__text {
      font-weight: normal;
      font-size: 12.6px;
      line-height: 150%;
      text-align: center;
    }
  }
}
