.section {
  position: relative;
  &__number {
    height: 24px;
    width: 46px;
    background: rgba(32, 96, 246, 0.1);
    border-radius: 23px;
    display: flex;
    justify-content: center;
    align-items: center;

    &--txt {
      position: absolute;
      font-family: "Poppins Semibold", serif;
      font-weight: 600;
      font-size: 13px;
      line-height: 19px;
      text-align: center;
      text-transform: uppercase;
      color: #2060f6;
    }
  }
  &__disctiption {
    padding-top: 26px;
    font-family: "Open Sans Semibold", serif;
    font-size: 13px;
    line-height: 150%;
    color: #6c788b;
  }
  &__learn-more {
    display: flex;
    flex-shrink: 0;
    padding-top: 32px;

  }

  &__link {
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    font-family: "Poppins Semibold", serif;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    color: #334563;
    text-decoration: none;
    transition: color 0.3s linear;
    &:hover {
      color: #2060f6;
      cursor: pointer;
    }
  }

  &__arrow-button {
    position: relative;
    margin-right: 16px;
    display: block;
    background-color: #2060f6;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    transition: transform ease 0.3s;

    &:hover {
      transform: scale(1.2);
    }

  }

}

.arrow {
  position: absolute;
  top: 27%;
  right: 30%;
  object-fit: сover;
}
