.container--testimonials {
  padding: 0 30px;
  display: grid;
  grid-template-rows: auto;
  grid-gap: 78px;
  grid-template-columns: repeat(3, 1fr);
}

.testimonials {
  &__item {
    text-align: center;
  }

  &__icon {
    width: 100%;
    border-radius: 50%;
  }

  &__text {
    font-style: italic;
    font-weight: normal;
    font-size: 14.4px;
    line-height: 150%;
    mix-blend-mode: normal;
  }
}
