.card {

  &__wrap {
    background-color: $clr--white;
    border-radius: 16px;
    padding: 32px;
  }

  &__number {
    width: 46px;
    height: 24px;
    border-radius: 23px;

    padding: 2px 12px;

    background: rgba(32, 96, 246, .1);
    text-align: center;
    color: $clr--blue;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
  }

  &__text {
    padding-top: 24px;

    color: $clr--gray-2;
    font-family: $font--secondary;
    font-size: 13px;
    font-weight: 600;
    line-height: 150%; /* 19.5px */
  }

  &__button {
    margin-top: 32px;
    padding: 0;
    cursor: pointer;

    border: none;
    background-color: transparent;

    display: flex;
    align-items: center;
    gap: 16px;


    @include hover(transform, scale(1.05));
  }
}
