.service-card{
  padding: 32px;
  background-color: #fff;
  border-radius: 16px;

  &__number {
    height: 24px;
    width: 46px;
    margin-bottom: 24px;

    background-color: $light-background;
    border-radius: 23px;
    @extend %number-text;
  }

  &__list {
    margin-bottom: 32px;
    list-style: none;
  }

  &__item {
    @extend %main-text;
  }

  &__button {
    display: flex;
    align-items: center;
    gap: 16px;

    @extend %title-text;
    font-size: 15px;
    text-decoration: none;
    transition: transform 0.3s;

    &:hover {
      transform: scale(1.05);
    }
  }

  &__arrow {
    height: 40px;
    width: 40px;
    background-color: $color-blue;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
  }
}
