.services {
  margin: 148px 0;

  &__case {
    padding-top: 103px;
    grid-column: 1/5;
  }

  &__subtitle {
    color: $text;
    font-size: 13px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom: 16px;
  }

  &__title {
    color: $color-title;
    margin-bottom: 24px;
  }

  &__text {
    color: $text-color;
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;

    &--bottom {
      margin-bottom: 20px;
    }
  }

  &__wrapper {
    grid-column: 7/-1;
    grid-template-columns: repeat(2,1fr);
    gap: 24px 30px;
    display: grid;
  }

  &__box {
    border-radius: 16px;
    background: $white;
    box-shadow: 0 9px 18px 0 rgba(37, 41, 49, 0.03);
    padding: 32px;

    &--top {
      transform: translateY(50%);
    }
  }

  &__numbers {
    width: 46px;
    height: 24px;
    margin-bottom: 24px;
  }

  &__description {
    color: $text-color;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    margin-bottom: 32px;
  }

  &__learn {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  &__btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: $numbers;
    background-image: url(../images/services/mdi_arrow_forward.svg);
    background-repeat: no-repeat;
    background-position: 50%;
  }

  &__lesson {
    color: $learn;
    font-size: 15px;
    font-weight: 600;
    line-height: normal;
  }
}

@media (max-width: 1280px) {
  .services {
    &__case {
      grid-column: 1/6;
    }
  }
}

@media (max-width: 1064px) {
  .services {
    &__wrapper {
      grid-column: 6/-1;
    }
  }
}

@media (max-width: 890px) {
  .services {
    margin-top: 120px;

    &__case {
      padding-top: 0;
      grid-column: 1/7;
    }

    &__wrapper {
      grid-column: 1/-1;
    }

    &__box {

      &--top {
        transform: translateY(30%);
      }

      &--up {
        transform: translateY(-50%);
      }
    }
  }
}

@media (max-width: 640px) {
  .services {
    margin-top: 120px;

    &__case {
      padding-top: 0;
      grid-column: 1/4;
    }

    &__wrapper {
      grid-column: 1/-1;
    }

    &__box {

      &--top {
        transform: translateY(30%);
      }

      &--up {
        transform: translateY(-50%);
      }
    }
  }
}

@media (max-width: 620px) {
  .services {

    &__case {
      margin-bottom: 48px;
      grid-column: 1/-1;
    }

    &__wrapper {
      grid-column: 1/-1;
      display: flex;
      flex-direction: column;
    }

    &__box {

      &--top {
        transform: translateY(0%);
      }

      &--up {
        transform: translateY(0%);
      }
    }
  }
}

@media (max-width: 320px) {
  .services {
    margin-bottom: 120px;
  }
}
