.services {
  &__title {
    font-weight: 600;
    letter-spacing: 3px;
    margin-bottom: 16px;

    text-transform: uppercase;
    color: $title-small-color;
  }

  &__subtitle {
    font-size: $font-size-title-default;
    line-height: 130%;
    font-weight: 600;
    margin-bottom: 24px;
  }

  &__description {
    font-size: $font-size-default-2;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    margin-bottom: 48px;

    color: $description-color;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__item {
    padding: 32px;

    border-radius: 16px;
    background-color: $second-blocks-bg-color;
  }

  &__item-title {
    display: inline-block;
    padding: 2px 12px;
    font-weight: 600;
    margin-bottom: 26px;

    border-radius: 23px;
    color: $default-accent-color;
    background-color: rgba($color: $default-accent-color, $alpha: .1);
  }

  &__item-list {
    list-style: none;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    margin-bottom: 32px;

    color: $description-color;
  }

  &__item-button {
    display: flex;
    gap: 16px;
    font-size: $font-size-inputs-n-buttons;
    line-height: 40px;
    font-weight: 600;

    text-decoration: none;
    color: #334563;

    &::before {
      content: "";
      display: block;
      width: 40px;
      height: 40px;
      background-image: url(../images/icons/link-arrow.svg);
    }
  }
}
