body {
  margin: 0;
  font-family: "Muli", sans-serif;
}

.content {
  margin: 0 auto;
  width: 1146px;
  padding-left: 5px;
}

.block-title {
  font-size: 16px;
  line-height: 24px;
  font-weight: 800;
  color: #56ccf2;
  text-transform: uppercase;
  margin-bottom: 19px;
  margin-left: 37px;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    width: 21px;
    height: 21px;
    background-image: url(../images/dots.png);
    left: -37px;
  }
}

.section-title {
  font-size: 48px;
  line-height: 48px;
  font-weight: 900;
  color: #253757;
  margin: 0;
  position: absolute;
  top: -24px;
  left: 50%;
  transform: translateX(-50%);
}

.section-header {
  font-size: 32px;
  line-height: 45px;
  font-weight: 900;
  color: #253757;
  width: 362px;
  margin: 0;
}

.button {
  font-family: inherit;
  width: 226px;
  height: 56px;
  border-radius: 54px;
  border: none;
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  letter-spacing: 1px;
  opacity: 1;
  transition: opacity 300ms linear;
  &:hover {
    cursor: pointer;
    opacity: 0.6;
  }
  &:active {
    box-shadow: 0 3px 0 gray;
  }
  &:focus {
    border: 1px solid red;
  }

  &--blue {
    background-color: #2f80ed;
    color: #fff;
  }

  &--grey {
    background-color: #fff;
    color: #253757;
  }
}

.blue {
  background-color: #56ccf2;
}

.blue-text {
  color: #56ccf2;
}

.yellow {
  background-color: #fcc304;
}

.yellow-text {
  color: #fcc304;
}

.green {
  background-color: #03d542;
}

.red {
  background-color: #f25656;
}

.red-text {
  color: #f25656;
}

p,
ul {
  margin: 0;
}

.rectangle {
  width: 45px;
  height: 17px;
  border-radius: 500px;
  border-style: solid;
  opacity: 0.5;

  &--yellow {
    border-color: #fcc304;
  }
  &--red {
    border-color: #f25656;
  }
  &--blue {
    border-color: #56ccf2;
  }
  &--green {
    border-color: #03d542;
  }
  &--violet {
    border-color: violet;
  }

  &--1x {
    transform: rotate(-65deg) scale(1);
  }
  &--2x {
    transform: rotate(-65deg) scale(2);
  }
  &--3x {
    transform: rotate(-65deg) scale(3);
  }
  &--1-5x {
    transform: rotate(-65deg) scale(1.5);
  }

  &--width1 {
    border-width: 1px;
  }
  &--width2 {
    border-width: 2px;
  }
  &--width4 {
    border-width: 4px;
  }

}

.wraper-img {
  position: relative;
  overflow: hidden;
}

@media (max-width: 1159px) {
  .content {
    width: 900px;
  }
}

@media (max-width: 919px) {
  .content {
    width: 630px;
  }
}

@media (max-width: 639px) {
  .content {
    width: 300px;
  }

  .section-title {
    font-size: 25px;
  }

  .section-header {
    font-size: 22px;
    line-height: 33px;
    width: 300px;
  }
}
