.shop {
  &__title-text {
    text-align: center;

    @include onTablet {
      text-align: left;
    }
  }

  &__link-container {
    display: flex;
    justify-content: space-between;
    gap: 34px;
    margin-bottom: 15px;

    @include onTablet {
      margin-bottom: 25px;
      justify-content: flex-start;
    }

    @include onDesktop {
      margin-bottom: 50px;
      gap: 50px;

    }
  }

  &__link {
    display: block;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.8px;

    cursor: pointer;
    color: $default-link;
    background: transparent;
    border: 1px solid transparent;

    &:hover {
      color: $menu-link-text-btn-bg-color;
      border-bottom: 1px solid $menu-link-text-btn-bg-color;
    }

    &--is-active {
      color: $menu-link-text-btn-bg-color;
      border-bottom: 1px solid $menu-link-text-btn-bg-color;
    }

    @include onDesktop {
      font-size: 18px;
      font-weight: 600;
      line-height: 27px;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 30px;

    @include onTablet {
      flex-direction: row;
      gap: 30px;
    }

    @include onDesktop {
      gap: 20px;
    }
  }

  &__button {
    display: flex;
    justify-content: center;
  }

  &__container--oil {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 400px;
    gap: 30px;
    margin-bottom: 50px;
  }
}
