.slider {
  box-sizing: border-box;
  padding: 234px 20px 24px;

  position: absolute;
  top: 400px;
  left: 0;
  right: 0;
  bottom: 0;

  background-image: url(/images_Air/Photo.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 30px;

  &--2 {
    display: none;
    background-image: url(/images_Air/GwVmBgpP-PQ.png);
  }

  &--3 {
    display: none;
    background-image: url(/images_Air/qPojqUji_y4.png);
  }

  &:target {
    display: block;
  }

  @include desk-640 {
    padding: 226px 41px 32px;
  }

  @include desk-1024 {
    top: 0;
    left: 100vw * 0.53;
    border-radius: 30px 0;
    padding: 564px 54px 48px 78px;
  }

  @include desk-1600 {
    padding-left: 48px;
  }

  &__link-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    width: 80px;

  }

  &__link {
    display: block;
    height: 32px;
    width: 32px;
    border-radius: 16px;

    cursor: default;

    background-color: rgba(255, 255, 255, 1);

    background-image: url(/images_Air/left.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover 6px 9px;

    &--to-right {
      background-image: url(/images_Air/right.svg);
    }
  }

  &__buttom-intro-possition {
    @include desk-1024 {
      display: flex;
    }
  }

  &__intro-container {
    max-width: 266px;

    @include desk-1024 {
      margin-left: 24px;
    }
  }

  &__intro-title {
    font-weight: 700;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 1);
  }
    
  &__intro-about {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: rgba(255, 255, 255, 1);

  }
}
