.slider {
  height: 390px;
  width: 100%;
  border-radius: $primaryBorderRadius;
  background: center / cover no-repeat url("../images/slider/bgBlack.jpg");

  position: absolute;
  bottom: 0;
  left: 0;

  @include onDesktop {
    height: auto;
    width: 50%;
    top: 116px;
    right: 0;
    left: auto;
    border-radius: $primaryBorderRadius 0;
  }

  &__info {
    display: flex;
    flex-direction: column;

    position: absolute;
    left: 20px;
    bottom: 24px;

    @include onTablet {
      left: 41px;
      bottom: 32px;
    }

    @include onDesktop {
      flex-direction: row;
      align-items: center;
      bottom: 50px;
      left: 48px;
    }
  }

  &__actions {
    display: flex;
    margin-bottom: 16px;

    @include onDesktop {
      margin: 0 24px 0 0;
    }
  }

  &__dot {
    &:not(:last-child) {
      margin-right: 16px;
    }
  }

  &__name {
    margin-bottom: 8px;
    text-transform: uppercase;
    color: #fff;

    @include font(13px, 700, 3px);
  }

  &__description {
    max-width: 264px;
    font-size: 14px;
    line-height: 20px;
    color: #fff;

    @extend %fontOpenSans;
  }
}
