@import "../utils";

.slogan {
  display: none; //for refactor

  background: $bg-text-white;
  max-width: 1600px;
  margin: 0 auto;
  position: relative;
  z-index: 0;
  border-radius: 100px 100px 0 0;

  &__content {
    max-width: 750px;
    margin: 0 auto;
    text-align: center;
    padding: 200px 0;
    z-index: 1;
  }

  &__title {
    margin-bottom: 25px;
  }

  &__text {
    font-size: 24px;
    line-height: 150%;

    color: $secondary-grey-blue;

    margin-bottom: 64px;
  }

  &__button {
    width: 226px;
    height: 56px;
    @include hover(color, $secondary-color-scheme);
    @include hover(background-color, $c-gray);
  }
}
