.slogan {
  @include onDesktop {
    margin-bottom: 0;
  }

  &__title-text {
    margin-bottom: 0;
    font-size: 18px;
    line-height: 27px;

    text-align: left;

    @include onTablet {
      text-align: center;
    }

    @include onDesktop {
      font-size: 24px;
      line-height: 36px;

      text-align: left;
    }
  }

  &__paragraph {
    display: none;

    @include onDesktop {
      display: contents;
      text-align: left;
    }
  }
}
