.social {
  list-style: none;

  &__item {
    margin-right: 36px;
    display: inline-block;
    line-height: 0;

    &:last-of-type {
      margin-right: 0;
    }
  }

  &__link {
    display: inline-block;
    width: 32px;
    height: 32px;
    background-position: center;
    background-repeat: no-repeat;

    &:hover {
      filter: brightness(0)
        saturate(100%)
        invert(33%)
        sepia(70%)
        saturate(5406%)
        hue-rotate(219deg)
        brightness(98%)
        contrast(97%);
    }

    &--facebook {
      background-image: url(../images/logo/facebook.svg);
    }

    &--twitter {
      background-image: url(../images/logo/twitter.svg);
    }

    &--instagram {
      background-image: url(../images/logo/instagram.svg);
    }
  }
}
