.socials-list {
  list-style: none;
  display: flex;
  align-items: center;

  &__item {
    width: 32px;
    height: 32px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transition: background-image 0.3s;

    &:not(:last-child) {
      margin: 0 40px 0 0;
    }

    &--facebook {
      background-image: url(../images/contact-us/facebook.svg);

      &:hover {
        background-image: url(../images/contact-us/facebook-hovered.svg);
      }
    }

    &--twitter {
      background-image: url(../images/contact-us/twitter.svg);

      &:hover {
        background-image: url(../images/contact-us/twitter-hovered.svg);
      }
    }

    &--instagram {
      background-image: url(../images/contact-us/instagram.svg);

      &:hover {
        background-image: url(../images/contact-us/instagram-hovered.svg);
      }
    }
  }

  &__link {
    width: 100%;
    height: 100%;
    display: block;
  }
}
