.network {

  &__icons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 50px;
  }

  &__icon {
    margin-right: 50px;

    &:last-of-type {
      margin-right: 0;
    }

    @include transition-hover($hover-duration, "transform") {
      transform: scale(1.05);
    }
  }
}
