.network {

  &__icons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;

    @include for-tablet {
      justify-content: flex-start;
    }
  }

  &__icon {
    @include for-tablet {
      margin-right: 50px;

      &:last-of-type {
        margin-right: 0;
      }
      @include transition-hover($hover-duration, "transform") {
        transform: scale(1.05);
      }
    }
  }
}
