.sidebar {
  @include for-phone {
    display: none;
  }

  width: 35%;
  justify-content: space-between;
  position: absolute;
  right: -22%;
  top: 50%;
  transform-origin: center;
  transform: rotate(90deg);

  &__link {
    font-weight: 800;
    font-size: 12.6px;
    line-height: 150%;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: $color-text;
  }
}
