.strategic-agency {
  @include page-grid;

  @include desktop-narrow {
    display: flex;
    flex-direction: column;
    grid-column: span 5;
  }

  &__title {
    color: $text-color-dark-theme;
    padding-bottom: px-to-rem(32px);

    grid-column: 1 / -1;

    @include on-tablet {
      padding-bottom: px-to-rem(24px);
      font-size: px-to-rem(64px);
      line-height: px-to-rem(68px);
    }
  }

  &__desc {
    padding-bottom: px-to-rem(72px);

    font-size: px-to-rem(18px);
    color: $text-color-dark-theme;
    line-height: px-to-rem(27px);
    text-align: left;

    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: span 4;
      padding-bottom: px-to-rem(56px);
    }

    @include desktop-narrow {
      grid-column: 1 / -1;
      padding-bottom: px-to-rem(83px);
    }
  }

  &__link-bt {
    grid-column: 1 / -1;
    height: 50px;

    @include on-tablet {
      grid-column: span 3;
    }

    @include desktop-narrow {
      width: px-to-rem(256px);
    }

    @extend %link-button;
  }
}
