.strategic-agency {
  position: relative;
  background-color: $c-dark;
  border-radius: 0 0 30px 30px;

  &__container {
    display: flex;
    align-items: center;
    height: 680px;

    @include tablet {
      justify-content: center;
      align-items: normal;
      height: 845px;
    }
  }

  &__info-wrapper {
    max-width: 490px;

    @include large-tablet {
      width: 49%;
    }

    @include tablet {
      width: 100%;
      max-width: 490px;
    }
  }

  &__title {
    margin-bottom: 32px;

    @include tablet {
      font-size: 64px;
      line-height: 1.06;
      margin-bottom: 24px;
      letter-spacing: -0.03em;
    }

    @include mobile {
      font-size: 52px;
      line-height: 1.2;
      letter-spacing: -0.04em;
    }
  }

  &__description {
    font-family: $t-ff-openSans;
    font-weight: $t-fw-400;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 83px;
    max-width: 362px;

    @include tablet {
      margin-bottom: 56px;
    }

    @include mobile {
      margin-bottom: 72px;
    }
  }

  &__learn-more-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 264px;
    height: 50px;
    text-align: center;
  }
}
