.swiper {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;

  display: flex;
  width: auto;
  height: auto;

  @include onDesktop {
    top: 0;
    left: 50%;
    border-bottom-left-radius: 0;
  }

  &__button {
    height: 30px;
    width: 30px;
  
    border-radius: 50%;
    background-color: #fff;
    
    transition: transform 0.3s;

    &:hover {
      transform: scale(1.1);
    }
  }
}

.swiper-slide {
  display: flex;

  &__img {
    height: 390px;
    width: 100%;

    @include onDesktop {
      height: 680px;
    }
  }
}

.swiper-button-prev {
  position: absolute;
  top: 250px;
  left: 20px;
  z-index: 1;

  @include onDesktop {
    top: 520px;
    left: 50px;
  }
}

.swiper-button-next {
  position: absolute;
  top: 250px;
  left: 70px;
  z-index: 1;

  @include onDesktop {
    top: 520px;
    left: 100px;
  }
}

.swiper-button-prev,
.swiper-button-next {
  &::after {
    color: #253757;
    font-size: 12px;
  }
}

.swiper-title {
  position: absolute;
  left: 20px;
  bottom: 100px;
  z-index: 10;

  @include onDesktop {
    left: 150px;
    bottom: 100px;
  }

  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 13px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #fff;
  
}

.swiper-text {
  position: absolute;
  left: 20px;
  bottom: 60px;
  z-index: 10;

  @include onDesktop {
    left: 150px;
    bottom: 60px;
  }

  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  text-transform: none;
  letter-spacing: normal;
  color: #fff;
}
