.testimonials {
  max-width: 1146px;
  margin-inline: auto;
  display: flex;
  justify-content: center;

  &__text-content {
    @include on-tablet {
      max-width: 235px;
      padding-right: 127;
    }
  }

  &__title {
    line-height: 150%;
  }

  &__cards {
    display: flex;
    flex-direction: column;
    gap: 24px;

    @include on-tablet {
      gap: 30px;
    }

    @include on-small-desktop {
      flex-direction: row;
      gap: 20px;
    }

    @include on-design {
      gap: 30px;
    }
  }

  &__card {
    width: 280px;

    @include on-tablet {
      width: 558px;
    }

    @include on-small-desktop {
      width: 292px;
    }

    @include on-desktop {
      width: 342px;
    }

    @include on-design {
      width: 362px;
    }
  }
}
