.testimonials {
  @include content-padding-inline;

  &__grid-title {
    @include page-grid;
  }

  &__title {
    line-height: 130%;
    text-align: left;
    padding-top: 16px;
    padding-bottom: 48px;
    grid-column: span 2;

    @include on-tablet {
      padding-bottom: 56px;
      grid-column: span 3;

      width: 250px;
    }

    @include on-desktop {
      padding-bottom: 85px;
    }
  }

  &__line-break {
    white-space: nowrap;

    @include on-tablet {
      display: inline;
    }
  }
}
