.test-card {
  position: relative;
  display: grid;
  justify-content: center;
  width: 314px;
  padding: 87px 32px 32px;
  background: $cWhite;
  box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
  border-radius: 16px;

  @include narrowMobileAdapt {
    width: 280px;
  }

  &__photo {
    position: relative;
    z-index: 2;
    display: block;
    margin: auto;
    border-radius: 50%;
  }

  &__decor {
    position: absolute;
    z-index: 1;
    transform: rotate(-60deg);
    width: 139px;
    height: 56px;
    background-color: $cBlue;
    border-radius: 12px;

    &--left {
      top: 85px;
      left: 40px;
    }

    &--right {
      top: 175px;
      right: 40px;
    }
  }

  &__quotes {
    display: block;
    margin-top: 82px;
    height: 19px;
    background-image: url("/images/testimonials/quotes.svg");
    background-position: center;
    background-repeat: no-repeat;
  }

  &__text {
    font-family: "Open Sans", sans-serif;
    @include font-param(13px, 600, $cGreyText);
    line-height: 1.5em;
    text-align: center;
  }

  &__name {
    margin-top: 16q;
    font-family: "Open Sans", sans-serif;
    @include font-param(13px, 600, $cDarkText);
    line-height: 1.5em;
    text-align: center;
  }

  &__company {
    @include font-param(13px, 700, $cLightGrey, 3px);
    line-height: 19px;
    text-align: center;
    text-transform: uppercase;
  }
}
