.testimonials {
  padding-top: 40px;
  padding-bottom: 70px;
  background-color: #e5e5e5;

  @include onTablet {
    padding-top: 79px;
    padding-bottom: 148px;
  }

  &__heading {
    @include onTablet {
      margin-left: 30px;
    }

    @include onNotebook {
      margin-left: 0;
    }
  }

  &__title {
    margin-top: 12px;
    font-size: 30px;
    line-height: 38px;

    @include onTablet {
      margin-top: 16px;
      margin-left: 30px;
      font-size: 32px;
      line-height: 48px;
  
    }

    @include onNotebook {
      margin-left: 0;
    }
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    @include onNotebook {
      justify-content: space-between;
    }
  }

  &__item {
    width: 100%;
    max-width: 300px;
    padding: 38px 28px 28px;
    margin: 40px 25px 25px;
    box-sizing: border-box;
    text-align: center;
    background-color: #fff;
    border-radius: 16px;

    @include onTablet {
      margin-top: 75px;
      max-width: 320px;
      padding: 32px;
      transition: transform 0.3s;

      &:hover {
        transform: scale(1.02);
        box-shadow: 0 9px rgba(37, 41, 49, 0.03);
      }
    }

    @include onNotebook {
      margin-right: 0;
      margin-left: 0;
      max-width: 362px;
      padding: 32px 56px;
    }

    @include onDesign {
      max-width: 362px;
    }

    &-img-box {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: auto;
      margin-left: auto;
      width: 170px;
      height: 170px;

      @include onTablet {
        margin-right: auto;
        margin-left: auto;
        width: 250px;
        height: 250px;
      }

      
    
      &::before {
        @include rectangle-decoration;
        top: 32%;
        left: 30%;
      }
    
      &::after {
        @include rectangle-decoration;
        top: 68%;
        left: 69%;
      }
    }

    &-img {
      width: 120px;
      position: relative;
      height: 120px;
      border-radius: 50%;
      z-index: 2;
      transition: transform 0.3s;

      &:hover {
        transform: scale(1.2);
      }

      @include onTablet {
        width: 140px;
        height: 140px;
      }
    }

    &-paragraph {
      max-width: 250px;
      font-size: 13px;
      font-weight: 600;
      line-height: 16px;

      &::before {
        content: "";
        display: block;
        height: 14px;
        width: 17px;
        background-image: url(/images/icons/before-paragraph.png);
        background-size: contain;
        background-repeat: no-repeat;
        margin: 30px auto 6px;

        @include onTablet {
          height: 18.5px;
          width: 21px;
          margin: 27px auto 10px;
        }
      }

      @include onTablet {
        line-height: 20px;
      }
    }

    &-author {
      font-family: "Open Sans", sans-serif;
      font-size: 13px;
      font-weight: 600;
      margin-top: 15px;
      line-height: 15px;

      @include onTablet {
        margin-top: 20px;
        line-height: 20px;
      }
    }

    &-heading-company {
      display: block;
      margin-top: 6px;
      font-size: 12px;
      letter-spacing: 1.5px;
      line-height: 15px;

      @include onTablet {
        font-size: 13px;
        letter-spacing: 3px;
        line-height: 20px;
      }
    }
  }
}
