.theme-switcher {
  position: relative;

  width: 74px;
  height: 36px;
  border-radius: $border-radius-lg;

  background-color: var(--color-bg-primary-opposite);

  transition: background-color $trans-duration-base;

  &__thumb {
    position: absolute;
    z-index: 1;
    bottom: 50%;
    transform: translateY(50%) translateX(8px);

    aspect-ratio: 1 / 1;
    height: 24px;
    border-radius: $border-radius-circle;

    background-color: $color-white;

    transition:
      transform $trans-duration-fast,
      margin-left $trans-duration-fast;

    &--light {
      transform: translateY(50%) translateX(calc(-100% - 8px));
      margin-left: 100%;
    }
  }

  &__icon {
    position: absolute;
    bottom: 50%;

    &--right {
      right: 0;
      transform: translateY(50%) translateX(-8px);
    }

    &--left {
      left: 0;
      transform: translateY(50%) translateX(8px);
    }
  }
}
