.toggle {
  width: 32px;
  height: 32px;

  order: 1;

  cursor: pointer;

  @include hover (transform, rotate(360deg));

  @media (min-width: 1024px) {
    order: 2;
  }

  &--moon {
    background-image: url(../../images/toggle/moon.svg);

  }
  &--sun {
    background-image: url(../../images/toggle/sun.svg);
  }
}
