.tooth {
  position: relative;
  overflow: hidden;

  &__item {
    position: relative;
  }

  &__title-text {
    margin-bottom: 450px;

    @include onTablet {
      margin-bottom: 287px;
    }
  }

  &__ingredients-list {
    position: relative;
    top: 0;
    right: 165px;
    display: inline-flex;
    flex-direction: column;
    text-align: end;
    gap: 50px;
    padding-top: 36px;

    @include onTablet {
      right: 216px;
    }
  }

  &__item::after {
    margin-left: 20px;
    position: absolute;
    display: inline-block;
    content: "";
    border: 0.5px solid $menu-link-text-btn-bg-color;
    width: 32px;
    top: 50%;
    transform: translateY(-50%);

    @include onTablet {
      width: 76px;
      right: -100px;
    }
  }

  &__item::before {
    position: absolute;
    display: inline-block;
    content: "";
    top: 50%;
    right: -60%;
    transform: translateY(-50%);

    border: 2.5px solid $menu-link-text-btn-bg-color;
    border-radius: 50%;

    @include onTablet {
      right: -100px;
      transform: translateY(-50%);
    }
  }

  &__image {
    position: absolute;
    top: 93px;
    right: -245px;
    height: 390px;
    width: 380px;

    background-image: url(../images/desktop/tooth-powder.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    @include onTablet {
      right: -74px;
      top: 0;
      background-size: contain;
      background-image: url(../images/desktop/tooth-powder.svg);
    }

    @include onDesktop {
      right: 0;
      background-image: url(../images/desktop/tooth-powder.svg);
    }
  }

  &__link {
    display: block;
    width: max-content;
    font-size: 14px;
    line-height: 18px;
  }
}
