.top-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__wraper {
    display: flex;
    align-items: center;
  }

  &__hire {
    width: max-content;
    padding-bottom: 8px;
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    font-size: 13px;
    font-family: "Poppins", sans-serif;
    letter-spacing: 3px;
    text-transform: uppercase;
    border-bottom: 2px solid $blue;
    transition: 0.5s;

    &:hover {
      color: $blue;
      border-bottom: 2px solid #fff;
    }
  }
}
