.top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0 0;
  height: min-content;
  margin-bottom: 50px;

  @include onTablet {
    margin-bottom: 57px;
  }

  @include onSmallDesktop {
    padding: 50px 0 0;
    margin-bottom: 165px;
  }

  &--mobile {
    @include onTablet {
      grid-column: 1 / span 6;
    }

    @include onSmallDesktop {
      display: none;
    }
  }

  &--desctop {
    display: none;

    @include onSmallDesktop {
      grid-column: 1 / span 12;
      display: flex;
    }
  }

  &__image {
    display: block;
  }

  &__left {
    display: flex;
    align-items: center;
    gap: 30px;
  }

  &__right {
    @extend %menuLinkTopStyle;
    @extend %positionLinerBlue;
    @extend %animationLinerBlue;
  }

  &__left-menu {
    width: 18px;
    height: 26px;
    background-image: url(../images/logo/menu-open.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  &__list {
    display: flex;
    gap: 48px;
    list-style: none;
  }

  &__link {
    @extend %menuLinkTopStyle;
    @extend %positionLinerBlue;
    @extend %animationLinerBlue;
  }
}
