.vision {
  display: flex;
  align-items: center;

  padding: 72px 20px;

  background-color: #fff;
  background-image: url(../images/Shapes2.png);
  background-position: center;
  background-repeat: repeat;
  background-size: cover;

  @include onTablet {
    padding: 200px 0;
  }

  &__title {
    margin: 0 0 24px;

    font-size: 44px;
    line-height: 120%;
    text-align: center;

    color: $col_mainGray;

    @include onTablet {
      line-height: 120%;
    }

    @include onTablet {
      line-height: 150%;
    }
  }

  &__paragraph {
    margin: 0 0 56px;

    font-family: $fontSecond;
    font-size: 22px;
    line-height: 150%;
    font-weight: 600;
    text-align: center;
    color: $col_accentGray;

    @include onTablet {
      margin-bottom: 64px;
      font-size: 24px;
    }
  }

  &__button {
    margin: 0 auto;
  }
}
