.vision {
  background-color: $main-color;
  padding-top: 72px;
  padding-bottom: calc(72px + 40px);

  @include on-tablet {
    background-image: url('../images/Shapes.png');
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 1058px;
    padding-block: 200px;
  }

  @include on-small-desktop {
    background-size: 1540px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    font-family: Poppins, sans-serif;
    font-size: 44px;
    font-weight: 600;
    line-height: 52.8px;
    text-align: center;
    color: rgba(37, 55, 87, 1);
    margin: 0 0 24px;

    @include on-tablet {
      font-size: 52px;
      line-height: 62.4px;
    }
  }

  &__text {
    font-size: 22px;
    font-weight: 600;
    line-height: 33px;
    text-align: center;
    color: rgba(108, 120, 139, 1);
    margin: 0 0 56px;

    @include on-tablet {
      font-size: 24px;
      line-height: 36px;
      margin: 0 0 64px;
    }
  }

  &__button {
    margin: 0;

    &:hover {
      color: $dark-color;
    }
  }
}
