.vision {
  margin-bottom: 0;

  padding: 72px 20px;

  transition: all $transitionPageTime;

  &:hover {
    box-shadow: 0 9px 18px rgba(37, 41, 49, 0.5);
  }

  @include onTablet {
    padding: 200px 40px;
  }

  @include onSmallDesktop {
    padding: 200px 135px;
  }

  background-color: $lightColor;

  @include onTablet {
    background-image: url(../images/Shapes.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  &__items {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    margin-bottom: 24px;

    font-weight: 600;
    font-size: 44px;
    line-height: 120%;
    text-align: center;
    color: $darkColor;

    @include onTablet {
      font-size: 52px;
      line-height: 62.4px;
    }

    @include onSmallDesktop {
      font-size: 52px;
      line-height: 78px;
    }
  }

  &__text {
    margin-bottom: 56px;

    font-weight: 600;
    font-size: 22px;
    line-height: 150%;
    text-align: center;
    color: $pageTextColor;

    @include onTablet {
      font-size: 24px;
      line-height: 36px;
    }

    @include onSmallDesktop {
      width: 754px;
      font-size: 24px;
      line-height: 36px;
    }
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 280px;
    height: 56px;

    background: $blueColor;
    border-radius: 8px;

    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    color: $lightColor;

    @include onTablet {
      width: 264px;
    }

    transition: all $transitionPageTime;

    &:hover {
      transform: scale(1.2);
      box-shadow: 1px 4px 16px rgba(5, 5, 5, 0.5);
    }

    &:active {
      box-shadow: 1px 4px 16px rgba(5, 5, 5, 0.99);
    }
  }
}
