.welcome {

  // max-width: 740px;
  margin: 80px auto;
  @media (min-width: 850px) {

    margin: 148px auto;
  }

  &__heading {
    max-width: 740px;
    margin: auto;
    
    margin-bottom: 1rem;

  }
  &__text {
    max-width: 740px;
    margin: auto;

    font-weight: 600;
    font-size: 20px;
    line-height: 150%;

    color: #6c788b;
    @media (min-width: 850px) {
      font-size: 24px;
    }
  }
}
