.welcome {
  margin-inline: auto;

  @include on-tablet {
    max-width: 716px;
  }

  @include on-desktop {
    max-width: 754px;
  }

  &__title {
    margin-bottom: 24px;
    text-align: center;

    @include on-tablet {
      margin-bottom: 24px;
    }
  }
}
