.what-people-say {
  &__content {
    margin-bottom: 148px;
  }

  &__title {
    font-size: 32px;
    font-weight: 600;
    line-height: 48px;
    color: $sections-title-color;
    margin-bottom: 48px;

    @include on-tablet {
      max-width: 205px;
    }
  }

  &__cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include on-small-desktop {
      flex-direction: row;
      gap: 20px;
    }

    @include on-desktop {
      gap: 30px;
    }
  }

  &__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;
    box-shadow: 0 9px 18px 0 #25293108;
    padding: 32px 42px;
    background-color: $main-color;
    border-radius: 16px;
    margin-bottom: 24px;

    max-width: 558px;
    &:last-child {
      margin-bottom: 0;
    }

    @include on-small-desktop {
      max-width: 292px;
      margin-bottom: 0;
    }

    @include on-desktop {
      max-width: 362px;
    }

    @include hover(transform, scale(0.9));
  }

  &__img {
    width: 100%;
    margin-bottom: 24px;
    max-width: 196px;

    @include on-tablet {
      max-width: 250px;
    }
  }

  &__decoration {
    width: 24px;
    height: 24px;
    margin-bottom: 8px;
  }

  &__discription {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 13px;
    font-weight: 600;
    line-height: 19.5px;
    color: #6c788b;
    text-align: center;
    margin-bottom: 16px;
    max-width: 362px;
  }

  &__name {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 13px;
    font-weight: 600;
    line-height: 19.5px;
    color: #253757;
    margin-bottom: 4px;
  }

  &__specialty {
    font-size: 13px;
    font-weight: 700;
    line-height: 19.5px;
    letter-spacing: 3px;
    color: #c0cdd7;
    text-transform: uppercase;
  }
}
