.who-we-are {
  padding-block: 148px ;

   &__content {
    text-align: center;
    margin: 0 auto;

    @include on-tablet{
      max-width: 754px;
    }
  }

   &__title {
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    color: $text-dark-color;
    margin-bottom: 24px;

    @include on-tablet{
      margin-bottom: 16px;
    }
  }

  &__text {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    font-size: 22px;
    line-height: 33px;
    font-weight: 600;
    color: $text-light-color;

    @include on-tablet{
      font-size: 24px;
      line-height: 36px;
    }

  }
}
