.who-we-are {
  &__content {
    display: flex;
    flex-direction: column;
    gap: px-to-rem(24px);
  }

  &__title {
    font-size: px-to-rem(32px);
    line-height: px-to-rem(48px);
    color: $title-c-white-theme;
    text-align: center;
  }

  &__text {
    font-size: px-to-rem(22px);
    font-weight: 600;
    color: $text-c-white-theme;
    text-align: center;
    line-height: px-to-rem(33px);
  }
}
