.who-we-are {
  padding-inline: 20px;
  padding-bottom: 120px;
  @include pageGrid;

  @include onTablet {
    padding-bottom: 148px;
  }

  &__title {
    grid-column: 1 / -1;
  }

  &__content {
    grid-column: 1 / -1;

    @include onSmallDesktop {
      grid-column: 2 / -2;
    }

    @include onDesign {
      grid-column: 3 / -3;
    }
  }

  &__description {
    margin: 0;
    font-size: 22px;
    line-height: 150%;
    text-align: center;
    font-weight: 600;

    @include onTablet {
      font-size: 24px;
    }
  }
}
