.about__us {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-column: 1 / 3;
  padding-block: 148px;

  @include for-tablet {
    grid-column: 1 / 7;
  }

  @include for-small-desktop {
    grid-column: 1 / 13;
  }

  @include the-design {
    align-items: center;
  }

  &__title {
    font-family: Poppins, sans-serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 48px;
    text-align: center;
    margin-bottom: 24px;
    color: rgba(37, 55, 87, 1);
  }

  &__paragraph {
    font-family: "Open Sans", sans-serif;
    font-size: 22px;
    font-weight: 600;
    line-height: 33px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color:rgba(108, 120, 139, 1);

    @include for-small-desktop {
      margin-inline: 102px;
    }

    @include for-desktop {
      max-width: 754px;
    }
  }
}
