.about-us {
  @include onDesktop {
    padding-bottom: 103px;
  }

  &__top {
    @include contentPaddingInline;
    padding-block: 120px;

    @include onTablet {
      padding-block: 148px;
    }

    &__text {
      margin-top: 24px;

      @include onDesktop {
        padding-inline: 100px;
      }
    }
  }

  &__products {
    @include contentPaddingInline;

    padding-block: 72px;

    @include onTablet {
      padding-block: 128px;

      justify-items: center;
      row-gap: 72px;
    }

    @include onDesktop {
      padding-inline: 69px;
    }

    background-color: #fff;
    border-radius: 30px;

    &__title {
      font-size: 44px;
      line-height: 52.8px;
    }

    &__articles {
      @include onDesktop {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 167px;
      }
    }
  }

  &__article {
    @include contentPaddingInline;

    &__text {
      @include onTablet {
        width: 70%;
        margin-bottom: 8px;
      }

      @include onDesktop {
        width: 100%;
      }
    }

    @include onDesktop {
      padding-inline: 0;
    }
  }
}
