.about-us {
  &__content {
    padding: 120px 0;
    text-align: center;

    @include onDesktop640px {
      padding: 148px 0;
    }
  }

  &__description {
    @extend %OpenSans600;
    color: $colorTextContent;
    text-align: center;
    line-height: 150%;
    font-size: 22px;
    padding-top: 24px;

    @include onDesktop640px {
      font-size: 24px;
      padding-top: 16px;
    }
  }
}
