.about-us {
  &__content {
    margin: 0 auto;

    @include on-tablet {
      width: 558px;
    }

    @include on-small-desktop {
      width: 716px;
    }

    @include on-design {
      width: 754px;
    }
  }

  &__info {
    font-size: 22px;
    font-weight: 600;
    color: $c-text;
    align-items: center;
  }
}
