.aboutUs {

  &__container {
    padding: 120px 20px;

    @include onTablet {
      padding: 148px 42px;
    }

    @include onSmallDesktop {
      padding: 148px 154px;
    }

    @include onDesktop {
      padding: 154px 423px;
    }

    @include OnLargeDesktop {
      padding: 148px 903px;
    }
  }

  &__title {
    @extend %PoppinsFont;
    font-size: 32px;
    line-height: 150%;
    color: #253757;
    text-align: center;
    padding-bottom: 24px;
  }

  &__text {
    color: #6c788b;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 150%;
    text-align: center;

    @include onTablet {
      font-size: 24px;
    }
  }
}
