.about-us {
  &__text {
    @extend .opensans_600;
    font-size: 22px;
    line-height: 33px;
    text-align: center;
    color: $c-text;

    @include media640 {
      max-width: 716px;
      margin: 0 auto;
      font-size: 24px;
    }
  
    @include media1600 {
      max-width: 754px;
    }
  }
}
