.about {
  padding-block: 120px;

  @include on-tablet {
    padding-block: 148px;
  }

  &__title {
    margin: 0;
    margin-bottom: 24px;
    text-align: center;
  }

  &__description {
    margin: 0;

    @include set-open-sans-font(22px, 600);

    line-height: 150%;
    text-align: center;

    @include on-tablet {
      font-size: 24px;
    }
  }
}
