.about {
  &__title {
    margin-top: 350px;
    padding-top: 120px;
    @extend %title-decoration;

    @include on1024 {
      margin-top: 0;
      padding-top: 148px;
    }
  }

  &__description {
    margin-top: 24px;
    font-size: 22px;
    @extend %description-decoration;

    text-align: center;
    padding-bottom: 120px;

    @include on640 {
      margin-top: 16px;
      padding-bottom: 148px;
    }
  }
}
