.aboutUs {
  width: 2560px;
  height: 504px;
  margin-left: 707px;

  &__heading {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 754px;
    font-family: "Poppins", sans-serif;
    color: $textBlue;
    @include fontParams(32px, 48px, 600);
  }

  &__para {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 754px;
    margin-bottom: 148px;
    font-family: "Open Sans", sans-serif;
    color: $textGrey;
    @include fontParams(24px, 36px, 600);
  }
}
