.about-us {
  margin-bottom: 120px;

  @include on-tablet {
    margin-bottom: 148px;
  }

  &__title {
    color: $main-accent-color;
    font-family: $poppins-font-family;
    font-weight: $font-weight-add;
    font-size: 32px;
    text-align: center;
    line-height: 48px;
    margin-top: 0;
    margin-bottom: 24px;

    @include on-tablet {
      margin-bottom: 16px;
    }
  }

  &__description {
    text-align: center;
    font-family: $open-sans-font-family;
    color: $main-add-color;
    font-size: 22px;
    line-height: 33px;
    font-weight: $font-weight-add;
    margin: 0;

    @include on-tablet {
      font-size: 24px;
      line-height: 36px;
    }

    @include on-small-desktop {
      max-width: 754px;
      margin: auto;
    }
  }
}

.expertise {
  background-color: $header-footer-text-color;

}
