.about {
  @include pageGrid;
  padding-top: 120px;
  padding-bottom: 120px;
  @include onDesktop {
    padding-top: 148px;
  }
  @include smallDesktop {
    padding-bottom: 148px;
  }

  &__title {
    font-family: "Poppins", sans-serif;
    grid-column: 1 / -1;
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    text-align: center;
    color: $titleColor;
    @include smallDesktop {
      grid-column: 5 / 9;
    }
  }

  &__subtitle {
    grid-column: 1 / -1;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    text-align: center;
    color: $colorInformText;
    @include smallDesktop {
      grid-column: 2 / 12;
      font-size: 24px;
      line-height: 36px;
    }
  }
}
