.action {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include onSmallDesktop {
    padding-top: 40px;
  }

  &__link {
    @include hover(border-bottom, 2px solid $c-white);

    padding-bottom: 8px;
    border-bottom: 2px solid $c-blue;
  }

  &__button {
    margin: 0 auto 0 35px;
  }

  &--menu {
    display: block;
  }

  &--bottom {
    display: block;

    @include onSmallDesktop {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__logo {
    @include hover(background-image, url(../images/logo/dia-logo-hover.svg));

    @extend %bg-position;

    display: inline-block;
    width: 50px;
    height: 30px;
    background-image: url(../images/logo/dia-logo.svg);
  }
}
