.actions {
  display: grid;
  grid-template-columns: min-content min-content 1fr;
  justify-items: end;
  column-gap: 35px;

  &--bottom {
    display: flex;
    flex-direction: column;
    gap: 50px;

    @include onNotebook {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  @include onNotebook {
    display: flex;
    justify-content: space-between;
  }

  &__list {
    list-style: none;
    display: grid;
    gap: 24px;

    @include onTablet {
      grid-template-columns: repeat(5, min-content);
      justify-content: space-between;
      gap: 40px;
      white-space: nowrap;
    }

    &--visibility {
      display: none;
    }

    @include onNotebook {
      display: flex;
      gap: 48px;
    }
  }

  &__link {
    font-weight: 700;
    font-size: 13px;
    line-height: 150%;
    letter-spacing: 3px;
    text-transform: uppercase;


    &--hover::after {
      content: "";
      display: block;
      margin-top: 8px;
      background-color: #2060f6;
      height: 2px;
    }
  }
}
