.actions {

  @include onNotebook() {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__item {
    list-style: none;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 24px;

    @include onTablet() {
      flex-direction: row;
      justify-content: space-between;
    }

    @include onNotebook() {
      gap: 64px;
    }
  }

  &__image {
    margin-bottom: 48px;

    @include onTablet() {
      margin-bottom: 24px;
    }

    @include onNotebook() {
      margin-bottom: 0;
    }
  }
}
