.action {
  display: flex;
  justify-content: space-between;

  &__container {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 0 38px 21px;

    @include onTablet {
      padding-left: 54px;
    }
  }

  &__logo {
    display: inline-block;
    background-image: url("../images/logo/dia-logo.svg");
    background-repeat: no-repeat;
    background-position: 50%;
    width: 49px;
    height: 25px;
    margin-right: 35px;
  }

  &__hire-us {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    letter-spacing: 3px;
    width: max-content;
    padding: 0 21px;

    text-transform: uppercase;

    &::after {
      content: "";
      display: block;
      margin-top: 8px;
      background-color: #2060f6;
      width: 69.77px;
      height: 2px;
    }
  }
}
