@use "../utils/mixins" as *;
@import "../utils/vars";

.address {
  &__title {
    margin-bottom: 56px;
    color: $main-title-color;
    font-family: Poppins, sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
  }

  &__label {
    margin-bottom: 8px;
    color: $main-title-color;
    font-family: Poppins, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 3px;
    text-transform: uppercase;
    opacity: 0.5;

    &--exception {
      margin-bottom: 16px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    margin-bottom: 48px;
  }

  &__link {
    color: $main-title-color;
    font-family: Poppins, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    text-decoration: none;

    transition: all 0.3s ease-in-out;

    &:hover {
      color: $hover-color;
      cursor: url(../images/buttons/pointer.svg), pointer;
    }
  }

  &__icon {
    display: inline;
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-size: contain;

    &--fb {
      background-image: url(../images/icons/facebook.svg);
      transition: all 0.3s ease;

      &:hover {
        background-image: url(../images/icons/facebook-blue.svg);
        transform: scale(1.2);
        cursor: url(../images/buttons/pointer.svg), pointer;
      }
    }

    &--tt {
      background-image: url(../images/icons/twitter.svg);
      transition: all 0.3s ease;

      &:hover {
        background-image: url(../images/icons/twitter-blue.svg);
        transform: scale(1.2);
        cursor: url(../images/buttons/pointer.svg), pointer;
      }
    }

    &--ig {
      background-image: url(../images/icons/instagram.svg);
      transition: all 0.3s ease;

      &:hover {
        background-image: url(../images/icons/instagram-blue.svg);
        transform: scale(1.2);
        cursor: url(../images/buttons/pointer.svg), pointer;
      }
    }
  }
}