.address {
  display: flex;
  flex-direction: column;
  gap: 40px;
  font-style: normal;
  margin-bottom: 80px;

  &__label {
    margin-bottom: 8px;
    font-family: Poppins, sans-serif;
    font-size: 13px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-align: left;
    color: #959595;
  }

  &__content {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    text-align: left;
    color: #fff;
  }

  &__socials {
    padding-top: 8px;
    display: flex;
    flex-direction: row;
    gap: 32px;
  }

  &__social-link {
    transition: 300ms;
  }

  &__social-link:hover {
    transition: 300ms;
    transform: scale(1.1);
  }

  &__item {
    text-decoration: none;
    transition: 300ms;
  }

  &__item:hover > &__content {
    color: #a5a5a5;
    transition: 300ms;
  }

  &__item:not(:hover) > &__content {
    transition: 300ms;
  }
}
