@use '../utils/vars' as *;
@use '../utils/mixins' as *;

.address {
  display: flex;
  flex-direction: column;
  gap: 40px;
  font-style: normal;
  margin-bottom: 80px;

  &__label {
    margin-bottom: 8px;
    font-family: $font-primary;
    font-size: 13px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-align: left;
    color: $label-color;
  }

  &__content {
    font-family: $font-secondary;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    text-align: left;
    color: $text-color;
  }

  &__socials {
    padding-top: 8px;
    display: flex;
    flex-direction: row;
    gap: 32px;
  }

  &__social-link {
    transition: $transition-time;
  }

  &__social-link:hover {
    transition: $transition-time;
    transform: scale(1.1);
  }

  &__item {
    text-decoration: none;
    transition: $transition-time;
  }

  &__item:hover > &__content {
    color: $label-hover-color;
    transition: $transition-time;
  }

  &__item:not(:hover) > &__content {
    transition: $transition-time;
  }
}
