.agency {
  position: relative;
  padding-bottom: 390px;
  background-color: $colorBackgroundThird;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;

  @include onSmallDesktop {
    padding-bottom: 0;
  }

  &__content {
    padding: 30px 0 48px;
    color: $colorSecondary;

    @include onTablet {
      padding: 38px 0 147px;
    }

    @include onSmallDesktop {
      padding: 120px 0 205px;
    }
  }

  &__title {
    margin-bottom: 32px;

    font-family: $fontSecondary;
    font-size: 52px;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: -2px;

    @include onTablet {
      margin-bottom: 24px;

      font-size: 64px;
      line-height: 68px;
    }

    @include onSmallDesktop {
      width: 300px;
      margin-bottom: 32px;
    }
  }

  &__description {
    margin-bottom: 72px;

    font-size: 18px;
    font-weight: 400;
    line-height: 150%;

    @include onTablet {
      width: 370px;
      margin-bottom: 56px;
    }

    @include onSmallDesktop {
      margin-bottom: 83px;
    }
  }
}
