.agency {
  @include page-grid;

  border-radius: 0 0 30px 30px;
  background-color: $darkgrey-color;
  grid-gap: 48px;

  @include on-tablet {
    grid-row-gap: unset;
  }

  &__content {
    grid-column: 1 / -1;

    @include on-small-desktop {
      grid-column: 1 / 5;
      padding-top: 120px;
    }
  }

  &__info {
    @include on-tablet {
      grid-column: 1 / -1;
      column-gap: unset;
    }
  }

  &__title {
    font-family: Poppins, serif;
    font-weight: 600;
    font-size: 52px;
    color: $white-color;
    margin-bottom: 32px;
    line-height: 120%;
    text-align: left;

    @include on-tablet {
      font-size: 64px;
      margin-bottom: 24px;
      letter-spacing: -2px;
    }

    @include on-small-desktop {
      margin-bottom: 32px;
    }
  }

  &__description {
    font-family: OpenSans, serif;
    font-weight: 400;
    margin: 0;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0;
    color: $white-color;

    @include on-tablet {
      width: 362px;
    }
  }

  &__button {
    border: none;
    width: 100%;
    height: 50px;
    border-radius: 8px;
    background-color: $light-blue-color;
    color: $white-color;
    font-family: Poppins, serif;
    font-weight: 600;
    font-size: 15px;
    line-height: 140%;
    letter-spacing: 0;
    text-align: center;
    cursor: pointer;
    margin-top: 72px;

    &:active {
      background-color: $blue-color;
    }

    @include on-tablet {
      margin-top: 56px;
      width: 264px;
    }

    @include on-small-desktop {
      margin-top: 83px;
    }
  }

  &__slider {
    border-radius: 30px;
    width: 100%;
    height: 390px;
    display: flex;
    align-items: end;
    overflow: hidden;
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: span 6;
      margin-top: 147px;
    }

    @include on-small-desktop {
      margin-top: 0;
      grid-column: span 6 / -1;
      height: 680px;
      border-radius: 30px 0;
    }
  }

  &__slide-block {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 0 0 24px 20px;
    max-width: 280px;

    @include on-tablet {
      margin: 0 0 32px 41px;
    }

    @include on-small-desktop {
      flex-direction: row;
      gap: 24px;
      align-items: center;
      margin: 0 0 48px 78px;
    }
  }

  &__slide-buttons {
    display: flex;
    gap: 16px;
  }

  &__arrow-button {
    cursor: pointer;
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-color: $white-color;
    background-position: center;
    border-radius: 50%;
    background-size: 6px;
    box-shadow:
      0 10px 30px rgba(0, 0, 0, 0.2),
      0 4px 12px rgba(0, 0, 0, 0.1);

    &--left {
      background-image: url(/src/images/slider/arrow-left.svg);
    }

    &--right {
      background-image: url(/src/images/slider/arrow-right.svg);
    }
  }

  &__slide-description {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__slide-title {
    text-transform: uppercase;
    font-family: Poppins, serif;
    font-weight: 700;
    font-size: 13px;
    line-height: 140%;
    letter-spacing: 3px;
    color: $white-color;
  }

  &__slide-info {
    font-family: OpenSans, serif;
    font-weight: 400;
    font-size: 14px;
    color: $white-color;
    line-height: 140%;
  }
}
