.air-icon {
  width: 100%;
  height: 26px;

  &__image {
    margin-bottom: 50px;

    @include onSmartphone {
      margin-bottom: 25px;
    }

    @include onTablet {
      margin-bottom: 0;
    }
  }
}
