.air-servis {
  &__content {
    margin: 0 auto;
    @include contentPadingInline();
    max-width: $max-width;

    margin-top: 156px;

    @include onTablet {
      margin-top: 184px;
    }
    
    @include onDesktop {
      margin-top: 148px;
    }
        
    @include pageGrid;
    grid-template-rows: repeat(9, auto);
  }

  &__title {
    max-width: 280px;
    grid-column: 1 / -1;
    margin: 0 auto;
    margin-bottom: 24px;

    @include onTablet {
      max-width: 292px;
      grid-column: 1 / 4;
    }

    @include onDesktop {
      grid-column: 1 / 5;
      grid-row: 2 / 3;
    }

    &::before {
      content: "Services";
      display: block;
      position: relative;
      top: -16px;

      font-family: "Poppins", sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 13px;
      line-height: 20px;

      letter-spacing: 3px;
      text-transform: uppercase;

      color: #c0cdd7;
    }
  }

  &__paragraph {
    grid-column: 1 / -1;
    margin: 0 auto;
    margin-bottom: 48px;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;

    max-width: 280px;

    @include onTablet {
      max-width: 264px;
      margin-bottom: 56px;
      grid-column: 1 / 4;
      grid-row: 2 / 6;
    }

    @include onDesktop {
      margin: 0;
      max-width: 292px;
      grid-column: 1 / 5;
      grid-row: 3 / 5;
    }

    @include onLaptop {
      max-width: 362px;
    }
  }
}
