.air {

  @include onDesktopOnly {
    display: grid;
    grid-template-columns: 300px 1fr;
    align-items: center;
  }

  &__logo {
    margin: 0 0 50px;

    @include onTablet {
      margin: 0 0 25px;
    }

    @include onDesktopOnly {
      margin: 0;
    }
  }

  &__menu {

    @include onTablet {
      display: flex;
      justify-content: space-between;
    }

    &__elem {
      margin: 0 0 24px;

      @include onTablet {
        margin: 0;
      }
      
      &:last-child {
        margin: 0;
      }
    }
  }

  &__links {
    text-decoration: none;
    color: $white-basic;

    &:visited {
      color: $white-basic;
    }
  }
}
