.apply {
  background-color: #fff;
  padding: 72px 20px;
  box-sizing: border-box;
  position: relative;

  @include onTablet {
    padding: 200px 41px;
    background-image: url(../images/apply-bg.png);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
  }

  @include onDesktop {
    padding: 199px 135px 198px;
  }

  @include onBigScreen {
    padding: 199px 423px 198px;
  }

  @include onHugeScreen {
    padding: 199px 903px 198px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__subscription {
    font-weight: 400;
    font-size: 22px;
    line-height: 150%;
    text-align: center;
    color: #6c788b;
    margin-bottom: 56px;

    @include onTablet {
      margin-bottom: 64px;
    }
  }

  &__button-link {
    text-decoration: none;
    color: #fff;
  }
}
