.apply {
  background-image: url(../images/Shapes.png);
  background-size: contain;
  background-position: center;
  padding: 72px 0;
  text-align: center;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
  }

  &__title {
    font-weight: 600;
    font-size: 44px;
    line-height: 120%;
    width: 280px;
    color: #253757;
    margin-bottom: 24px;
  }

  &__text {
    font-weight: 600;
    font-size: 22px;
    line-height: 150%;
    color: var(--color-paragraph);
    margin-bottom: 56px;
  }

  &__button {
    width: 100%;

    &:hover {
      box-shadow: 0px 2px 8px var(--color-button);
    }
  }

  @include onTablet {
    padding: 200px 0 225px ;

    &__title {
      font-size: 52px;
      width: 558px;
    }

    &__text {
      font-size: 24px;
      margin-bottom: 64px;
    }

    &__button {
      width: 264px;
    }
  }

  @include onSmallDesktop {
    &__title {
      width: unset;
    }

    &__text {
      width: 754px;
    }
  }
}