.apply {
  background-color: #fff;
  padding: 72px 0;
  display: flex;
  flex-direction: column;
  margin-bottom: 120px;

  @include mobile {
    background-image: url(../images/Shapes.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 0;
    padding: 200px 0;
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__title {
    padding-bottom: 24px;
    font-size: 44px;
    align-items: center;
    text-align: center;
    color: $colorDarkBlue;

    @include mobile {
      font-size: 52px;
    }
  }

  &__paragrahp {
    padding-bottom: 56px;
    text-align: center;
    font-size: 22px;
    color: $colorLightGray;

    @include mobile {
      font-size: 24px;
    }

    @include tablet {
      width: 754px;
      padding-bottom: 64px;
    }
  }
}
