.apply {
  padding: 72px 0;
  margin-bottom: $mb;
  background-color: #fff;

  @include onTablet {
    padding: 200px 0;
    margin-bottom: 0;
    background: url(./../images/Shapes1.svg);
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 150%;
  }

  @include onDesktop {
    background-size: 100%;
  }

  @include onWideDesktop {
    background-size: 70%;
  }

  &__title {
    margin-bottom: 24px;
  }

  &__desc {
    display: block;
    margin: 0 auto 56px;
    max-width: 700px;
  }

  &__button {
    margin: 0 auto;
  }
}
