.approach {
  &__label {
    line-height: 1.5em;
    letter-spacing: $letter-spacing;
    font-family: "Popins", sans-serif;
    font-weight: 700;
    font-size: 13px;
    color: $c-label;
    text-transform: uppercase;
  }

  &__title {
    font-family: "Popins", sans-serif;
    font-weight: 600;
    font-size: 32px;
    color: $c-header;
  }

  &__text {
    line-height: 1.5em;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: $c-text;
  }
}
