.arrow {
  height: 32px;
  width: 32px;
  cursor: pointer;

  &-left {
    background-image: url(../images/icons/icon_arrow_left.svg);
  }

  &-right {
    background-image: url(../images/icons/icon_arrow_right.svg);
  }

  @include hover(transform, scale(1.2));
}
