.arrow {
  width: 32px;
  height: 32px;
  cursor: pointer;

  &--left {
    background-image: url(../images/slider/slide-left.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-color: white;
    border-radius: 50%;
  }

  &--right {
    background-image: url(../images/slider/slide-right.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-color: white;
    border-radius: 50%;
  }

  @include hover (transform, scale(1.1));
}
