.arrow-service {
  margin: 0;
  display: flex;
  align-items: center;

  &__field {
    width: 40px;
    height: 40px;

    &--image {
      transition: transform 0.3s linear;

      &:hover {
        transform: scale(1.2);
      }
    }
  }

  &__right {
    position: relative;
  }

  &__direction {
    position: absolute;

    left: 30%;
    top: 25%;
    width: 16px;
    height: 16px;
  }
}
