.arrows {
  display: flex;
  gap: 16px;
  margin-bottom: 16px;
  &__arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: $color-white;
    @include square(32px);
    border-radius: 50%;
    @include hover(transform, scale(1.3));
  }
}
