.article-exp {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 362px;
  border-radius: 10px;
  transition: 3s;
  @include hover(transform, scale(1.25));

  &__img {
    width: $article__img-size;
    height: $article__img-size;
    border-radius: 16px;
  }

  &__title {
    @include title;
    color: $c-section-title;
    font-size: 20px;
    line-height: 28px;
    margin: 32px 0 16px;
  }

  @include onDesktop {
    max-width: 264px;
  }
}
