.article__number {
  margin-top: 32px;
  background-color: rgb(236, 238, 241);
  border-radius: 23px;
  width: 46px;
  text-align: center;

  margin-bottom: 24px;
  margin-left: 32px;
}

.article__number__content {
  font-size: 13px;
  font-weight: 600;
  line-height: 19.5px;
  color: rgba(32, 96, 246, 1);
}

.article__text {
  font-size: 13px;
  font-weight: 600;
  line-height: 19.5px;
  color: rgba(108, 120, 139, 1);
  font-family: "Open Sans", sans-serif;

  margin-bottom: 32px;
  margin-left: 32px;
}

.article__button {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-left: 32px;
}

.article__button-arrow {
  height: 40px;
  width: 40px;
  background-color: rgba(32, 96, 246, 1);
  border-radius: 50%;

  background-image: url(./../images/icons/mdi_arrow_forward.svg);
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: center;

  cursor: pointer;

  @include hover(transform, scale(1.2));
}

.article__button-text {
  font-size: 15px;
  font-weight: 600;
  line-height: 22.5px;
  color: rgba(51, 69, 99, 1);
}

.articles__first__wr {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  grid-column: 1 / -1;

  @include onTablet {
    flex-direction: row;
    gap: 30px;
  }

  @include onDesktop {
    grid-column: 7 / -1;
    flex-direction: row;
    gap: 20px;

    margin-top: 280px;
  }
}

.articles__second__wrap {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  grid-column: 1 / -1;

  @include onTablet {
    flex-direction: row;
    gap: 30px;
  }

  @include onDesktop {
    grid-column: 7 / -1;
    flex-direction: row;
    gap: 20px;

    margin-top: px;
  }
}
