.aside-menu {
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  left: 0;
  height: 100vh;
  opacity: 0;
  transform: translateX(-100%);
  pointer-events: none;
  background-color: #5b5b5b;
  transition: all 0.3s;
  &:target {
    transform: translateX(0);
    right: 0;

    opacity: 1;
    pointer-events: all;
    .nav {
      display: flex;
    }
  }

  &__container {
    @include constect-padding;

    display: flex;
    justify-content: flex-end;
  }
}
