.aside {
  background-color: $blue;

  @include tablet {
    display: none;
  }

  &__container {
    padding: 20px 20px 0;

    @include mobile {
      padding: 20px 42px 0;
    }
  }

  &__icons {
    padding-bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;

  }

  &__icon-cross {
    width: 18px;
    height: 18px;
  }

  &__nav {
    display: flex;
  }

  &__list {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 30px;
  }

  &__link {
    text-decoration: none;
    font-weight: 700;
    font-size: 13px;
    line-height: 150%;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #fff;
    transition-duration: 0.3s;

    &:hover {
      padding-bottom: 8px;
      border-bottom: 2px solid #ff9c8e;
      transition-duration: 0.3s;
    }
  }
}
