.ava {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  --sky-color: #2060f6;
  --yellow-color: #2060f6;
  --red-color: #2060f6;

  &--theme--light {
    --sky-color: #56ccf2;
    --yellow-color: #fcc91d;
    --red-color: #f36363;
  }

  &__img {
    width: 110px;
    height: 110px;
    border-radius: 100%;
    object-fit: cover;
    object-position: center;
    z-index: 2;
    position: relative;

    @include scale(1.5);

    @include onTablet {
      width: 140px;
      height: 140px;
    }

    @include onSmallDesktop {
      width: 110px;
      height: 110px;
    }

    @include onMidDesktop {
      width: 140px;
      height: 140px;
    }
  }

  &__rectangle {
    transform: rotate(-60deg);
    position: relative;
    width: 109px;
    height: 44px;
    border-radius: 12px;

    &--1 {
      background-color: var(--sky-color);
    }

    &--2 {
      background-color: var(--yellow-color);
    }

    &--3 {
      background-color: var(--red-color);
    }

    @include onTablet {
      width: 139px;
      height: 56px;
    }

    @include onSmallDesktop {
      width: 109px;
      height: 44px;
    }

    @include onMidDesktop {
      width: 139px;
      height: 56px;
    }

    &--first {
      top: 20%;
      right: 35%;
    }

    &--last {
      bottom: 20%;
      left: 35%;
    }
  }
}
