.banner {

  &__content {
    display: flex;
    height: 100%;
    background-image: url(../images/banner.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 30px;
  }

  &__arrow {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 20px;
    bottom: 24px;

    @include onTablet {
      left: 41px;
      bottom: 32px;
    }

    @include onSmallDesktop {
      align-items: center;
      flex-direction: row;
      left: 78px;
      bottom: 66px;
      gap: 24px;
    }

    @include onDesktop {
      left: 48px;
    }
  }

  &__buttons {
    display: flex;
    gap: 16px;
  }

  &__button {
    width: 32px;
    height: 32px;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    background-color: $color-text;

    &--left {
      @include hover(transform, scale(1.1));
      background-image: url(../images/icons/mdi-chevron-left.svg);
    }

    &--right {
      @include hover(transform, scale(1.1));
      background-image: url(../images/icons/mdi-chevron-right.svg);
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    width: 280px;

    @include onSmallDesktop {
      width: 266px;
    }

    @include onDesktop {
      width: 264px;
    }

  }

  &__title {
    margin: 0;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 3px;
    text-transform: uppercase;
    padding-top: 16px;
  }

  &__text {
    margin: 0;
    padding-top: 8px;
    font-weight: 400;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    line-height: 140%;
  }
}
