.banner {

  &__content {

    display: flex;
    height: 100%;
    position: relative;
    background-image: url(../images/banner.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 30px;
  }

  &__arrow {
    position: absolute;
    left: 20px;
    bottom: 108px;
    gap: 16px;

    @include onTablet {
      left: 41px;
      bottom: 116px;
    }

    @include onSmallDesktop {
      left: 78px;
      bottom: 66px;
      gap: 24px;
    }

    @include onDesktop {
      left: 48px;
    }
  }

  &__buttons {
    display: flex;
    gap: 16px;
  }

  &__button {
    width: 32px;
    height: 32px;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    background-color: $color-text;

    &--left {
      background-image: url(../images/icons/mdi-chevron-left.svg);
    }

    &--right {
      background-image: url(../images/icons/mdi-chevron-right.svg);
    }
  }

  &__intro {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 20px;
    bottom: 24px;

    @include onTablet {
      left: 41px;
      bottom: 32px;
    }

    @include onSmallDesktop {
      left: 182px;
      bottom: 48px;
    }

    @include onDesktop {
      left: 152px;
      bottom: 48px;
    }
  }

  &__title {
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-top: 16px;
  }

  &__text {
    margin-top: 8px;
    font-weight: 400;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    line-height: 140%;
  }
}
