.banners {
  min-height: 80vh;
  background-color: $colorBgBlack;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 0 0 35px 35px;

  @include onLaptop {
    flex-direction: row;
    justify-content: center;
    min-height: 70vh;
    background: $colorBgBlack;
  }

  &__content {
    padding: 50px 20px;

    @include onTablet {
      padding: 60px 40px 150px;
    }

    @include onLaptop {
      width: 1024px;
      padding: 150px 20px;
    }
  }

  &__title {
    font-weight: 600;
    font-size: 52px;
    line-height: 120%;
    letter-spacing: -2px;
    color: #fff;
    padding-bottom: 30px;

    @include onTablet {
      font-size: 64px;
      line-height: 68px;
      padding-bottom: 24px;
    }

    @include onLaptop {
      width: min-content;
      padding-bottom: 40px;
    }
  }

  &__subtitle {
    font-size: 18px;
    line-height: 150%;
    color: #fff;
    padding-bottom: 70px;

    @include onTablet {
      padding-bottom: 55px;
    }

    @include onLaptop {
      width: 300px;
      padding-bottom: 85px;
    }
  }

  &__button {
    display: block;
    padding: 15px 0;
    background-color: $colorBlue;
    border-radius: 8px;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    color: #fff;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
      background-color: $colorDarkBlue;
      box-shadow: 0 3px 10px 1px rgba(0, 0, 0, 0.2);
    }

    @include onTablet {
      width: 300px;
    }
  }
}
