.benefit {
  &__title {
    font-family: $secondFont;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: #253757;
    margin-bottom: 16px;
  }

  &__img {
    width: 166px;
    height: 166px;
    object-fit: cover;
    border-radius: 16px;
    margin-bottom: 32px;
  }

  &__description {
    font-size: 14px;
    line-height: 21px;
  }
}
