.benefits {
  display: flex;
  flex-direction: column;

  @include notebook {
    flex-direction: row;
    width: 100%;
  }

  &__benefit {
    max-width: 362px;
    margin: 0 auto;

    @include notebook {
      max-width: 214px;
    }

    &:not(:last-child) {
      margin-bottom: 56px;

      @include notebook {
        margin-bottom: 0;
      }
    }
  }
}