.black-bottom {

  &__substrate {
    background-color: $c-gray;
    @include onTablet {
      background-color: $white;
    }
  }

  box-sizing: border-box;
  background-color: $black;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;

  &__container {
    @include containerWidth;
    margin: 0 auto;
    @include pageGrid;

    padding-top: 72px;
    @include onTablet {
      padding-top: 180px;
    }
  }

  &__title {
    color: $white;
    font-family: $poppins;
    font-size: 32px;
    font-weight: 600;
    line-height: 130%; /* 41.6px */
    padding-bottom: 48px;
    @include onTablet {
      padding-bottom: 56px;
    }
  }
}
