.main {
  background-color: $top-bg-color;
  color: $light-color;
  border-radius: 0 0 30px 30px;

  &__container {
    display: flex;
    flex-direction: column;
    padding: 0;

    @include onSmallDesctop {
      flex-direction: row;
      column-gap: 106px;
    }

    @include onDesctop {
      column-gap: 324px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
  }

  &__title {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 52px;
    line-height: 120%;
    letter-spacing: -2px;
  }

  &__text {
    max-width: 362px;
    margin: 32px 0 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
  }

  &__button {
    margin: 72px 0 42px;

    @include onMobile {
      width: 280px;
    }
  }

  &__slider {
    min-width: 100%;
  }
}
