.block {
  padding: 32px;
  width: 100%;
  max-width: 280px;
  background-color: $whiteColor;
  border-radius: 16px;
  transition: all 300ms;

  &:hover {
    box-shadow: 0 9px 18px #25293108;
  }
  

  &__number {
    display: inline-block;
    padding: 2px 12px;
    border-radius: 23px;
    background-color: $blueOpacityColor;
    color: $blueColor;
    margin-bottom: 24px;
  }

  &__info {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 13px;
    line-height: 150%;
    color: $greyColor;
    margin-bottom: 32px;
  }

  &__icon {
    position: relative;
    display: block;
    width: 40px;
    height: 40px;
    background-color: $blueColor;
    border-radius: 50%;
    background-image: url(../images/icon/icon-block.png);
    background-repeat: no-repeat;
    background-position: center;

    &::after {
      content: "Learn more";
      position: absolute;
      display: block;
      color: $blackText;
      font-family: "Poppins", sans-serif;
      font-weight: 600;
      font-size: 15px;
      line-height: 22px;
      width: 100px;
      left: 60px;
      top: 50%;
      transform: translate(0, -50%);
    }
  }

  &--1 {
    grid-column-start: 2;
    grid-row-start: 1;

  }

  &--2 {
    grid-column-start: 3;
    grid-row-start: 1;
  }

  &--3 {
    grid-column-start: 2;
    grid-row-start: 2;
  }

  &--4 {
    grid-column-start: 3;
    grid-row-start: 2;
  }
}
