.body {

  &--with-menu {
    overflow: hidden;
  }

  &__header {
    background-color: $gray-bg-main;
    margin-bottom: -30px;
  }

  &__menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transform: translateX(-100%);
    transition: transform 0.3s;

    &:target {
      transform: translateX(0);
      z-index: 1;
    }
  }

  &__who {
    background-color: $blue-bg-secondary;
    color: $gray-secondary;
    padding-bottom: 150px;
    margin-bottom: -30px;
    padding-top: 150px;

    @include onTablet {
      padding: 180px 0;
    }
  }

  &__title {
    text-align: center;
    font-size: 32px;
    line-height: 150%;
    font-weight: 600;
    color: $gray-secondary;
    margin-bottom: 24px;

    &--bigger {
      font-size: 44px;
      line-height: 120%;
      margin-bottom: 56px;

      @include onTablet {
        margin-bottom: 64px;
      }
    }

    &--left {
      text-align: left;
    }

    &--testimonials {
      margin-bottom: 48px;

      @include onTablet {
        margin-bottom: 56px;
      }

      @include onDesktop {
        margin-bottom: 85px;
      }
    }
  }

  &__text {
    display: block;
    font-weight: 600;
    @include OpenSans;
    font-size: 22px;
    line-height: 150%;
    text-align: center;
    color: $light-gray-text;

    &--left {
      text-align: left;
      font-weight: normal;
      font-size: 14px;
      padding-bottom: 24px;
    }

    &--who {
      max-width: 754px;
      margin: 0 auto;
    }
  }

  &__our {
    padding-top: 150px;
    background-color: $white-main;
    border-radius: 30px;
    margin-bottom: -30px;
    position: relative;
  }

  &__cards {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include onDesktop {
      flex-direction: row;
    }
  }

  &__testimonial {
    margin-bottom: 24px;

    @include onDesktop {
      &:not(:last-child) {
        margin-right: 20px;
      }
    }
  }

  &__air {
    padding-top: 150px;
    background-color: $blue-bg-secondary;
    padding-bottom: 150px;

    @include onTablet {
      padding-top: 250px;
    }
  }

  &__subtitle {
    font-weight: bold;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: $gray-subtitle;
  }

  &__content {

    @include onTablet {
      max-width: 362px;
    }
  }

  &__boxes {

    @include onTablet {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 30px;

    }

  }

  &__air-container {
    @include onDesktop {
      display: grid;
      grid-template-columns: 1fr 2fr;
      gap: 220px;
    }
  }

  &__testimonials {
    background-color: $blue-bg-secondary;
  }
}
