.body {
  font-family: "Poppins", sans-serif;
  font-style: normal;

  &__wrapper {
    min-height: 100vh;
    // щоб не з'являвся горизонтальний скрол
    overflow: hidden;
    display: flex;
    // це для того, щоб притискати футер до низу сторінки
    flex-direction: column;
  }
}

[class*="__container"] {
  max-width: 560px;
  padding: 0 20px;
  margin: 0 auto;

  @include onTablet {
    max-width: 560px;
    padding: 0;
  }

  @include onDesktop {
    max-width: 916px;
    padding: 0;
  }

  @include onHugeDesktop {
    max-width: 1146px;
    padding: 0;
  }
}
