.bottom {
  &__content {
    margin: 0;

    @include onSmallDesktop {
      max-width: 490px;
    }
  }

    &__title {
      margin: 0;
      font-size: 52px;
      font-weight: 600;
      line-height: 68px;
      letter-spacing: -2px;
      margin-bottom: 32px;

      @include onTablet {
        margin-bottom: 24px;
        font-size: 64px;
      }

      @include onSmallDesktop {
        margin-bottom: 32px;
      }
    }

    &__text {
      margin: 0;
      margin-bottom: 72px;

      @include textFont {
        font-size: 18px;
        font-weight: 400;
        line-height: 150%;
      }

      @include onTablet {
        margin-bottom: 56px;
        max-width: 362px;
      }

      @include onSmallDesktop {
        margin-bottom: 83px;
      }
    }
}
