.botton {
  display: block;
  cursor: pointer;
  width: 100%;
  box-sizing: border-box;
  height: 50px;
  text-decoration: none;
  background-color: #2060f6;
  color: $c-white;
  line-height: 50px;
  border-radius: 8px;
  text-align: center;

  @include Tablet {
    max-width: 264px;
  }

  @include hover(transform, scale(1.05));
    
  &:hover {
    transform: scale(1.05);
  }

  &__send {
    border: none;
  }
}
