.bottom-bar {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 48px;

  @include on-tablet {
    gap: 24px;
  }

  @include on-small-desktop {
    padding-block: 48px 0;
    flex-direction: row;
  }

  @include on-design {
    padding-block: 52px 0;
  }
}
