.bottom-actions {
  display: flex;
  flex-direction: column;

  @include onLaptop {
    justify-content: end;
    flex-direction: row;
    gap: 340px;
  }

  @include onDesktop {
    gap: 520px;
  }

  @include onLarge {
    gap: 630px;
  }

  &__link {
    margin-bottom: 50px;

    @include onTablet {
      margin-bottom: 25px;
    }

    @include onLaptop {
      margin-bottom: 0;
    }
  }
}
