.bottom-bar {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  gap: 48px;

  @include on-tablet {
    margin-top: 140px;
    gap: 24px;
  }

  @include on-small-desktop {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 120px;
  }

  &__logo-link {
    @include hover(transform, scale(1.1));
  }

  &__nav {
    &-list {
      flex-direction: column;
      gap: 24px;
      padding: 0;
      margin-top: 0;
      margin-bottom: 80px;

      @include on-tablet {
        flex-direction: row;
        gap: 40px;
      }
    }
  }
}
