.bottom-bar {
  display: flex;
  flex-direction: column;

  @include responsive-property(row-gap, 48px, 24px);

  @include on-laptop {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &__link {
    color: $c-white;
  }
}
