.box {
  padding: 32px 30px 32px 32px;
  background: #fff;
  box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
  border-radius: 16px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;

  &__number {
    margin-bottom: 24px;
    background-color: #e9effe;
    border-radius: 23px;
    width: 46px;
    height: 24px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 13px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #2060f6;
    padding-top: 5px;
  }

  &__text {
    margin-bottom: 32px;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 150%;
    color: #6c788b;
    max-width: 165px;
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 143px;
  }

  &__button-content {
    width: 40px;
    height: 40px;
    background: #2060f6;
    border-radius: 50%;
    color: #fff;
    margin-right: 16px;
    text-align: center;
    cursor: pointer;
    position: relative;
    transition: all 0.3s;

    &::before {
      content: "";
      background-image: url("../images/arrow/Vectorbutton.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 30px;
      left: 10px;
      top: 10px;
      position: absolute;
      width: 0;
      height: 0;
      background-color: #2060f6;
      border-radius: 50%;
      color: #fff;
      margin-right: 16px;
      text-align: center;
      cursor: pointer;
    }

    &:hover::before {
      width: 60px;
      height: 60px;
      left: -10px;
      top: -10px;
      transition: all 0.3s;
    }
  }

  &__button-images {
    width: 50%;
    height: 100%;
  }
}
