.box {
  background-color: $white-main;
  border-radius: 16px;
  margin-bottom: 24px;
  height: 264px;
  transition: transform $time;

  &:hover {
    transform: scale(1.1);
    cursor: pointer;
  }

  &--up {
    @include onTablet {
      transform: translateY(-40%) ;

      &:hover {
        transform: scale(1.1) translateY(-40%);
      }
    }
  }

  &--down {
    @include onTablet {
      transform: translateY(10%);

      &:hover {
        transform: scale(1.1) translateY(10%);
      }
    }
  }

  &__container {
    padding: 32px;
  }

  &__number {
    font-size: 13px;
    line-height: 19px;
    text-align: center;
    text-transform: uppercase;
    color: #2060f6;
    background-color: rgba($color: #2060f6, $alpha: 0.1);
    border-radius: 23px;
    display: inline-block;
    padding: 2px 12px;
    margin-bottom: 24px;
  }

  &__text {
    font-weight: 600;
    font-size: 13px;
    line-height: 150%;
    color: $light-gray-text;
    margin-bottom: 32px;
  }

  &__actions {
    display: flex;
    align-items: center;
    text-decoration: none;
  }

  &__btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: $blue-active;
    background-image: url(../images/arrow.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 16px;
  }

  &__learn {
    padding-left: 16px;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    color: #334563;
  }
}
