.btn-primary {
  padding: 14px 0;
  background-color: $c-main-blue;
  border: none;
  cursor: pointer;
  @extend %poppins-semibold;
  font-size: 15px;
  line-height: 22px;
  text-align: center;
  color: $c-main-white;
  border-radius: 8px;

  &:hover {
    background-color: $c-dark-blue;
  }
}
