.btn {
  width: 260px;
  height: 50px;
  padding: 0;
  color: $color-white;
  background-color: $color-blue;
  font-family: $font-title;
  border-radius: 8px;
  border: none;
  font-size: 15px;
  font-weight: 600;
  transition: all 0.5s ease-in-out;
  cursor: pointer;

  @include hover(transform, scale(1.2));
}
