.btn {
  background-color: $header-footer-btn-bg-color;
  color: inherit;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2.25rem;
  padding: 1.4rem 8.8rem;
  border-radius: 6.4rem;
  text-decoration: none;
  cursor: pointer;
  transition: all $effect-duration;

  @include on-s-desktop {
    padding: 1.4rem 9.2rem;
  }

  &:hover {
    background-color: $header-footer-btn-hover-bg-color;
  }

  &:active {
    box-shadow: inset 0 0 5px $header-footer-btn-active-bg-color;
    transform: translateY(1px) scale(0.95);
  }
}
