.burger-menu {
  scroll-behavior: smooth;
  background-image: url(/images/burger.svg);
  justify-content: center;
  align-items: center;
  margin-right: 110px;

  display: block;
  width: 24px;
  height: 24px;
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;

  @include OnMobile {
    margin-right: 0;
  }

  @include OnTablet {
    position: relative;
  }

  @include OnDesktop {
    display: none;
    pointer-events: none;
  }

  @include OnBigDesktop {
    display: none;
    pointer-events: none;
  }

  @include OnLargeScreen {
    display: none;
    pointer-events: none;
  }

  &--cross {
    background-image: url(/images/cross.svg);
    width: 18px;
    height: 18px;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    display: flex;

    @include OnMobile {
      margin-left: 30px;
    }
  }
}
