.burger {
  &__menu {
    display: flex;
    flex-direction: column;
    gap: 50px;

    z-index: 1;

    padding: 0 20px;
    padding-top: 20px;

    height: 100vh;

    background-color: gray;

    @include onDesktop {
      display: none;
    }
  }

  &__nav-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__cross {
    display: block;
    background-image: url("../images/header/cross.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 24px;
    width: 24px;
  }

  &__sub-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
