.burger-menu {
  display: block;
  width: 24px;
  height: 24px;
  background-size: cover;
  background-position: center;
  background-image: url(../images/burger_menu.png);
  margin-top: 4px;
  @include hover (transform, scale(1.2));

  @include onSmallDesktop {
    display: none;
  }
}
