.menu {
  position: fixed;
  width: 100vw;
  height: 100vh;
  padding: 5px 20px;
  z-index: 4;
  background: $c-night;
  background-size: cover;
  transform: translateX(-100%);
}

.btn {
  &__heade {
    display: flex;
    justify-content: end;
    margin-bottom: 20px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__item {
    margin-bottom: 20px;
    font-size: 26px;
  }

  &__link {
    color: $c-white;
  }

  &__logo-page {
    width: 64px;
    height: 64px;
  }
}
