.burger {
  background-color: #2c2c2c;
  z-index: 1;

  &__content {
    box-sizing: border-box;
    height: 100vh;
    padding: 20px 0;
  }

}

.burger__nav {

  &-menu {
    margin-top: 46px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0;

  }

  &-item {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0 0 26px;
  }
}

.top-actions {
  --icon-width: 18px;
  display: grid;
  grid-template-columns: 1fr var(--icon-width) var(--icon-width);
  gap: 40px;
  align-items: center;
}

.icon {
  display: block;
  width: 100%;
  padding-bottom: 100%;

  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  transition: 0.3s ease;
  &--cross {
    background-image: url(../images/cross.svg);
    margin-left: calc(40px + var(--icon-width));

  }
}
