.burger {
  display: inline-block;
  position: relative;
  left: 36px;
  width: 18px;
  height: 14px;
  background-color: transparent;
  cursor: pointer;

  @include onDesktop {
    display: none;
  }

  &::before,
  &::after {
    position: absolute;
    display: inline-block;
    content: "";
    width: 18px;
    height: 2px;
    background-color: $colorWhite;
    left: 0;
  }

  &::before {
    top: 0;
  }

  &::after {
    top: 8px;
  }
}
