.button {
  display: flex;
  justify-content: center;
  align-items: center;

  box-sizing: border-box;
  width: 100%;
  height: 56px;
  border-radius: 8px;
  background-color: $color-blue;

  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  text-align: center;
  text-decoration: none;
  color: $color-white;

  cursor: pointer;

  transition: all 0.3s;

  &--header {
    height: 50px;
    margin-bottom: 48px;

    @include onTablet {
      margin-bottom: 148px;
    }
  }

  &:active {
    background-color: $color-hover;
    box-shadow: 0 8px 14px rgba(0, 83, 181, 0.48);
  }

  @include hover(
    background-color $color-hover,
    (box-shadow, 0 13px 27px rgba(0, 83, 181, 0.46))
  );

  @include onTablet {
    width: 264px;
  }
}
