@use '../utils/vars' as *;

.button-more {
  display: flex;
  width: max-content;
  gap: 16px;
  align-items: center;
  color: #334563;
  text-decoration: none;

  &__arrow {
    padding: 12px;
    border-radius: 40px;
    display: inline-block;
    background: $primary-color;
    width: 16px;
    height: 16px;
    object-fit: cover;
    vertical-align: bottom;
    transition: $transition-time;
  }

  &__text {
    font-family: $font-primary;
    font-size: 15px;
    font-weight: 600;
    line-height: 22.5px;
    text-align: center;
  }

  &:hover > &__arrow {
    transition: $transition-time;
    transform: scale(1.2);
  }
}
