.button {
  &__blue {
    cursor: pointer;
    background-color: $blue-color;
    border: none;
    border-radius: 8px;
    height: 50px;
    font-size: 18px;
    line-height: 27px;
    color: #fff;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    transition: all 0.3s;

    &:hover {
      transform: scale(1.05);
    }
  }
}
