.button-round {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: $blueColor;
  border: none;
  transition: transform 0.3s;
  cursor: pointer;
  
  &:hover {
    transform: scale(1.2);
    background-color: $blueColor;
  }
  
  &:active {
    transform: scale(1);
    background-color: #1c59e7;
  }
  
  &--white {
    width: 32px;
    height: 32px;
    position: absolute;
    background-color: #fff;
    transition: transform 0.3s;

    @include tablet() {
      width: 40px;
      height: 40px;
    }

    &:hover {
      background-color: #fff;
    }
  }

  &__img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 12px;
  }
}
