.button_style {
  border-radius: 8px;
  background: $main-color;
  height: 50px;

  @include on-tablet {
    width: 264px;
  }

  @include on-desktop {
    width: 264px;
  }

  @include on-design{
    width: 264px;
  }

  @include on-large-screens{
    width: 264px;
  }
}
