.button-round {
  @include adaptiv-size(40, 40);

  border-radius: 50%;
  background-color: $blueColor;
  border: none;
  transition: all 0.3s;
  cursor: pointer;
  position: relative;

  &:hover {
    transform: perspective(100px) translateZ(20px);
    background-color: $blueColor;
  }

  &:active {
    transform: translateZ(0);
    background-color: #1c59e7;
  }

  &--white {
    width: 28px;
    height: 28px;
    background-color: #fff;
    transition: none;

    @include desktop() {
      width: 32px;
      height: 32px;
    }
  }

  &__img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 12px;
  }
}
