.button {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 50px;
  width: 100%;

  border-radius: 8px;
  background-color: #2060f6;

  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  color: #fff;

  @extend %t;

  @include onTablet {
    width: 264px;
  }

  &:hover {
    color: $main-color;
    background-color: #fff;
    box-shadow: $main-color 0 2px 12px 0;
  }

  &--form {
    border: none;
    cursor: pointer;
  }
}

.buttons {
  display: flex;

  &__arrow {
    cursor: pointer;
    display: flex;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #fff;

    @extend %t;

    &:hover {
      transform: scale(1.2);
    }

    &--left {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 16px;
    }

    &--right {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
