.button {
  display: grid;
  place-items: center;
  height: 56px;
  width: 100%;
  background-color: getColor(button-bgc);
  text-decoration: none;
  border-radius: getColor(button-border-radius);
  transition: background-color getColor(transition-time),
    border-radius getColor(transition-time),
    box-shadow getColor(transition-time),
    transform getColor(transition-time);
  box-shadow: 0 6px 8px 7px rgba(0, 0, 0, 0.24);

  &:hover {
    box-shadow: 0 6px 8px -1px rgba(0, 0, 0, 0.19);
    background-color: getColor(button-hover-bgc);
  }
  
  &:active {
    background-color: getColor(button-active-bgc);
    transform: scale(0.98);
  }

  @include onTablet {
    width: 256px;
  }

  &__word {
    @include openSans;
    color: getColor(text-on-dark);
  }
}
