.button {
  display: flex;
  justify-content: center;
  text-align: center;
  border-radius: 64px;
  background: $button-color;
  padding: 14px 0;
  margin-bottom: 48px;

  @include mainFont {
    color: $white-color;
    font-size: 15px;
    line-height: 22px;
    font-weight: 600;
  }

  @include onTablet {
    width: 264px;
    margin-bottom: 147px;
  }

  transition: $effectDuration;

  @include hover(transform, scale(1.12));

  &:hover {
    background-color: $hoover-button-color;
  }
}
