.call-to-action {
  padding-block: 72px;
  background-color: $color-white;

  @include onTablet {
    background-image: url(/images/Shapes.png);
    background-size: contain;
    background-repeat: no-repeat;
    padding-block: 200px;

  }

  &__title {
    font-family: "Poppins", sans-serif;
    font-size: 44px;
    font-weight: 600;
    line-height: 53px;
    text-align: center;
    color: #253757;

    @include onTablet {
      font-size: 52px;
      line-height: 62px;
    }
  }

  &__content {
    margin: 24px 0 56px;
    font-family: "Open Sans", sans-serif;
    font-size: 22px;
    font-weight: 600;
    line-height: 33px;
    text-align: center;
    color: #6c788b;
    @include onTablet {
      font-size: 24px;
      line-height: 36px;
    }
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 56px;
    border-radius: 8px;
    background-color: #2060f6;
    border: 0;

    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 600;
    line-height: 23px;
    color: $color-white;
    @include onTablet {
      width: 264px;
      margin: 0 auto;
    }
  }
}
