.card-item {
  @include hover(transform, scale(1.05));

  &:nth-child(even) {
    @include on-tablet {
      transform: translateY(-50%);
    }

    &:hover {
      transform: translateY(-50%) scale(1.05);
    }
  }

  &__number {
    display: inline-block;
    font-family: $second-font-family;
    color: $blue-color;
    padding: 2px 12px;
    background-color: #f3f9fa;
    border-radius: 23%;
    margin-bottom: 24px;
  }

  &__list {
    margin-bottom: 32px;
  }
}


.link-container {
  display: flex;
  gap: 16px;
  align-items: center;

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: $blue-color;
    border-radius: 50%;
    &::after {
      content: '';
      display: block;
      width: 24px;
      height: 24px;
      background: url('../images/icons/white-arrow.svg');
      transition: transform $transition-duration;
    }
  }

  &__text {
    font-family: $second-font-family;
    font-size: 15px;

    @include hover(color, $blue-color);
  }
}
