.card-service {
  padding: 32px;
  background-color: #fff;
  box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
  border-radius: 16px;
  height: 264px;

  &__number {
    width: 46px;
    height: 24px;
    background-color: $colorBlueOpacity;
    border-radius: 23px;
    margin: 0 0 24px;

    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 13px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    color: $colorBlue;
  }

  &__items {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 13px;
    line-height: 150%;
    color: $colorMainText;
    margin: 0 0 32px;
  }

  &__button {
    display: flex;
    align-items: center;

    @include hover (transform scale(1.1));
  }

  &__arrow {
    @include square(40px);
    margin-right: 16px;
    background-image: url(./images/arrow.svg);
    background-color: $colorBlue;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
  }

  &__link {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    color: #334563;
  }
}

.card-testimonial {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 42px;
  background-color: $colorWhite;
  box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
  border-radius: 16px;

  @include hover (transform scale(1.1));

  &__photo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./images/photo-background.svg);
    @include square(196px);
    margin-bottom: 27px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @include onTablet {
      @include square(250px);
    }

    @include onNotebook {
      @include square(196px);
    }

    @include onDesktop {
      @include square(250px);
    }
  }

  &__photo {
    @include square(110px);
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    @include hover (transform scale(1.2));

    &--1 {
      background-image: url(./images/testimonial-ava-1.jpg);
    }

    &--2 {
      background-image: url(./images/testimonial-ava-2.jpg);
    }

    &--3 {
      background-image: url(./images/testimonial-ava-3.jpg);
    }

    @include onTablet {
      @include square(140px);
    }

    @include onNotebook {
      @include square(110px);
    }

    @include onDesktop {
      @include square(140px);
    }
  }

  &__description {
    flex: 1;
    max-width: 362px;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 13px;
    line-height: 150%;
    text-align: center;
    color: $colorMainText;
    margin-bottom: 16px;

    &::before {
      content: "";
      background-image: url(./images/quote.svg);
      display: block;
      margin: 0 auto 10px;
      width: 24px;
      height: 24px;
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  &__name {
    margin-bottom: 4px;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 13px;
    line-height: 150%;
    color: $colorTitleDark;
    text-decoration: none;

    @include hover (color $colorBlue);

  }

  &__role {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #c0cdd7;
  }
}

.testimonials {
  &__main-title {
    margin-bottom: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #c0cdd7;
  }

  &__title {
    @extend %titleSmall;
    text-align: left;
    margin: 0 0 48px;

    @include onTablet {
      max-width: 200px;
      margin: 0 0 56px;
    }

    @include onNotebook {
      margin-bottom: 85px;
    }
  }
}
