@use '../utils/vars' as *;

.card-learn {
  position: relative;
  box-sizing: border-box;
  padding: 32px;
  border-radius: 16px;
  background-color: $text-color;
  box-shadow: 0 9px 18px 0 #25293108;
  transition: $transition-time;

  &:hover {
    transition: $transition-time;
    transform: scale(1.03);
  }

  &__number {
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 46px;
    height: 24px;
    border-radius: 23px;
    background-color: #eceefc;
    font-family: $font-primary;
    font-size: 13px;
    font-weight: 600;
    line-height: 22px;
    text-align: center;
    color: $primary-color;
  }

  &__paragraph {
    margin-bottom: 32px;
    font-family: $secondary-color;
    font-size: 13px;
    font-weight: 600;
    line-height: 20px;
    text-align: left;
    color: $article-text;
  }

  &__button {
    position: absolute;
    bottom: 32px;
  }
}
