.cards-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  max-width: 1146px;
  margin: 0 auto;

  @include onDesktop {
    flex-direction: row;
  }
}
