.card-testimonial {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  padding: 32px 40px;
  background: $c-white;
  border-radius: 16px;
  box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);

  @include hover(transform, scale(1.1));

  @include onTablet {
    padding: 32px 98px;
  }

  @include onSmallDesktop {
    padding: 32px 48px;
    width: 362px;
  }

  &__photo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 31px;

    @include square(190px);

    @include onTablet {
      @include square(220px);
    }
  }

  &__photo {
    position: absolute;
    border-radius: 50%;
    z-index: 1;

    @include square(112px);

    @include onTablet {
      @include square(142px);
    }

    @include onSmallDesktop {
      @include square(112px);
    }

    @include onDesktop {
      @include square(142px);
    }
  }

  &__photo-decoration {
    height: 110px;
    width: 44px;
    background-color: $c-main;
    border-radius: 12px;

    position: relative;

    &--right {
      transform: translate(-15px, -35px) rotate(30deg);
    }

    &--left {
      transform: translate(15px, 35px) rotate(30deg);
    }

    @include onTablet {
      height: 140px;
      width: 56px;

      &--right {
        transform: translate(-25px, -45px) rotate(30deg);
      }
  
      &--left {
        transform: translate(25px, 45px) rotate(30deg);
      }
    }

    @include onSmallDesktop {
      height: 110px;
      width: 44px;

      &--right {
        transform: translate(-15px, -35px) rotate(30deg);
      }
  
      &--left {
        transform: translate(15px, 35px) rotate(30deg);
      }
    }

    @include onDesktop {
      height: 140px;
      width: 56px;

      &--right {
        transform: translate(-25px, -45px) rotate(30deg);
      }
  
      &--left {
        transform: translate(25px, 45px) rotate(30deg);
      }
    }
  }

  &__decoration {
    background-image: url(../images/icon/quotes.svg);
    background-repeat: no-repeat;
    background-position: center;

    @include square(20px);

    @include onTablet {
      margin-bottom: 16px;
    }

    @include onSmallDesktop {
      margin-bottom: 8px;
    }
  }

  &__text {
    max-width: 362px;
    text-align: center;
    margin-bottom: 16px;
    color: $c-text;

    @extend %fontOpenSans;
    @include font(13px, 20px, 600);

    @include onSmallDesktop {
      max-width: 196px;
    }

    @include onDesktop {
      max-width: 250px;
    }
  }

  &__info {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    flex-grow: 1;
  }

  &__person-name {
    margin-bottom: 4px;
    color: $c-title;

    @extend %fontOpenSans;
    @include font(13px, 20px, 600);
  }

  &__profession {
    text-transform: uppercase;
    color: $c-subTitle;
    

    @extend %fontPoppins;
    @include font(13px, 20px, 700, 3px);
  }
}
