.card {
  box-sizing: border-box;
  background-color: $white;
  border-radius: 16px;
  padding: 32px;
  font-size: 13px;
  
  &__number {
    width:46px;
    padding: 2px 12px;
    text-align: center;
    color: $blue;
    font-size: 13px;
    font-family: Poppins;
    font-weight: 600;
    line-height: normal;
    border-radius: 23px;
    background-color: #2060F610;
  }

  &__items {
    padding-top: 24px;
  }

  &__item {
    font-size: 13px;
    font-weight: 600;
    text-align: left;
  }

  &__arrow {
    padding-top: 32px;
    display: flex;
    align-items: center;
    gap: 16px;

    &__link {
      padding: 8px;
      border-radius: 50%;
      background-color: $blue;
      background-image: url(../images/icons/arrow-forward.svg);
    }

    &__link:hover {
      box-shadow: rgba(0, 0, 0, 0.25) 0px -50px 36px -28px inset;
      cursor: pointer;
    }

    &__title {
      color: $dark-blue;
      font-weight: 600;
      display: inline;
    }
  }
}