.cards {
  &__position {
    display: grid;
    justify-items: center;
    row-gap: 24px;

    @include tablet {
      grid-template-columns: repeat(2, 264px);
      gap: 30px;
    }

    @include small-desktop {
      grid-template-columns: repeat(2, 214px);
      gap: 20px;
    }

    @include large-desktop {
      grid-template-columns: repeat(2, 264px);
      gap: 30px;
    }
  }

  &__card {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
    height: 264px;
    border-radius: 16px;
    padding: 32px;
    transition: all 0.3s;

    &:hover {
      transform: scale(1.2);
      box-shadow: 1px 4px 16px rgba(232, 232, 240, 0.4);
    }

    @include small-desktop {
      width: 214px;
    }

    @include large-desktop {
      width: 264px;
    }

    &--translate {
      @include tablet {
        position: relative;
        top: -50%;
      }
    }
  }

  &__number {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    width: 46px;
    height: 24px;
    line-height: 20px;
    color: $main-blue-color;
    text-transform: uppercase;
    background-color: $page-color;
    border-radius: 23px;
    margin-bottom: 24px;
  }

  &__description {
    font-family: "Open sans", sans-serif;
    font-size: 13px;
    line-height: 150%;
    color: $second-text-color;
    width: 200px;
    margin-bottom: 32px;
  }

  &__options-box {
    display: flex;
  }

  &__link {
    background: center no-repeat url(../images/arrow.svg);
    @include img-size (40px, 40px);
    background-color: $main-blue-color;
    border-radius: 50%;
    margin-right: 16px;
    @include hover (transform, scale(1.2));

    &:active {
      border: 3px solid $main-blue-color;
    }
  }

  &__link-text {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: initial;
    color: $main-text-color;
    @include hover(color, #e6e6e6);
  }
}
