.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 362px;
  transition: transform $time;

  &:hover {
    transform: scale(1.01);
    cursor: pointer;
  }

  &__img {
    width: 166px;
    text-align: center;
    border-radius: 16px;
    margin-bottom: 32px;
  }

  &__title {
    margin-bottom: 16px;
    font-size: 20px;
    line-height: 140%;
    color: $gray-secondary;
  }

  &__description {
    @include OpenSans;
    font-size: 14px;
    line-height: 150%;
    color: $light-gray-text;
    margin-bottom: 56px;
    text-align: center;
  }
}
