.card-testimonials {
  @include flex-center;

  flex-direction: column;

  text-decoration: none;
  background-color: #fff;
  border-radius: 16px;

  padding: 32px 42px;

  transition: transform 0.3s ease;
  will-change: transform;

  @include hover(transform, scale(1.05));

  @include on-tablet {
    padding-inline: 98px;
  }

  @include on-small-desktop {
    width: 292px;
    padding-inline: 48px;
  }

  @include on-design {
    width: 362px;
    padding-inline: 56px;
  }

  &__avatar {
    position: relative;
    width: 196px;
    height: 196px;
    margin-bottom: 24px;

    @include flex-center;

    @include on-tablet {
      width: 250px;
      height: 250px;
    }

    @include on-small-desktop {
      width: 196px;
      height: 196px;
    }

    @include on-design {
      width: 250px;
      height: 250px;
    }
  }

  &__shape-1 {
    position: absolute;
    z-index: 1;
    top: 20%;
    left: 0;
    transform: rotate(-60deg);

    width: 110px;
    height: 44px;
    border-radius: 12px;
    background-color: #2060f6;

    @include on-tablet {
      width: 139px;
      height: 56px;
    }

    @include on-small-desktop {
      width: 110px;
      height: 44px;
    }

    @include on-design {
      width: 139px;
      height: 56px;
    }
  }

  &__shape-2 {
    position: absolute;
    z-index: 1;
    bottom: 20%;
    right: 0;
    transform: rotate(-60deg);

    width: 110px;
    height: 44px;
    border-radius: 12px;
    background-color: #2060f6;

    @include on-tablet {
      width: 139px;
      height: 56px;
    }

    @include on-small-desktop {
      width: 110px;
      height: 44px;
    }

    @include on-design {
      width: 139px;
      height: 56px;
    }
  }

  &__img {
    position: relative;
    z-index: 2;
    aspect-ratio: 1 / 1;
    height: 110px;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;

    @include on-tablet {
      height: 140px;
    }

    @include on-small-desktop {
      height: 110px;
    }

    @include on-design {
      height: 140px;
    }
  }

  &__content {
    text-align: center;
    margin-bottom: 16px;
  }

  &__icon {
    margin-bottom: 16px;
  }

  &__text {
    font-family: $open-sans;
    font-weight: 600;
    font-size: 13px;
    line-height: 150%;
    color: #6c788b;
  }

  &__info {
    text-align: center;
  }

  &__info-name {
    font-family: $open-sans;
    font-weight: 600;
    font-size: 13px;
    line-height: 150%;
    color: #253757;
    margin-bottom: 4px;
  }
}
