.card {
  &__number {
    margin-bottom: 24px;

    width: 46px;
    height: 24px;

    background-color: #2060f6;
    border: 1px solid transparent;
    border-radius: 23px;

    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 13px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;

    color: white;
  }

  &__content {
    margin-bottom: 32px;

    width: 200px;
    font-weight: 600;
    font-size: 13px;
    line-height: 150%;
    color: #6c788b;
  }

  &__info {

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;

  }

  &__button {
    width: 40px;
    height: 40px;
    border: 1px solid transparent;
    border-radius: 50%;
    background-color: #2060f6;
  }

  &__photo {
    height: 16px;
    width: 16px;
    object-position: center;
  }

  &__link {
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    color: #334563;
  }
}
