.carousel {
  overflow: hidden;
  display: flex;

  &__wrapper {
    @include fullSize;
    position: relative;
    display: flex;
  }

  &__slide {
    @include fullSize;
    display: flex;
    img {
      @include fullSize;
      object-fit: cover;
    }
  }

  &__bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 24px 20px;

    @include onLandscape {
      margin: 40px 32px;
    }

    @include onTablet {
      flex-direction: row;
      align-items: center;
      gap: 24px;
      margin: 54px 48px;
    }
  }

  &__slide-description {
    font-size: 14px;
    margin-top: 8px;

    height: 40px;
    max-width: 280px;
  }

  &__controls {
    display: flex;
    gap: 16px;
  }

  &__button {
    width: 32px;
    height: 32px;
    background-color: $c-text-primary;

    &::after {
      width: 18px;
      height: 18px;
    }
  }
}
