.carousel {
  display: flex;
  position: absolute;
  top: 100%;
  overflow: hidden;

  @include onDesktop {
    top: 120px;
  }

  &__img {
    width: 100%;
    border-radius: 65% 0 0 0;

    @include onDesktop {
      width: 50%;
    }

    &--transform {
      transform: rotateY(180deg);
      border-radius: 0 65% 0 0;
    }
  }

  &__title {
    position: relative;
    left:0;
    bottom: 72px;
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 13px;
    line-height: 19.5px;
    letter-spacing: 3px;
    text-transform: uppercase;
    z-index: 3;
  }

  &__description {
    font-family: $ff-opensans;
    font-weight: 400;
    font-size: 14px;
    line-height: 19.5px;
    z-index: 3;
  }

  &__pointer {
    height: 9px;
    padding: 11.5px 13px;
    border-radius: 50%;
    fill: $c-maintext;
    background-color: $c-white;
  }
}
