.bgi1 {
  background-image: url(/src/images/slider/slide-img-1.jpg);
}

.bgi2 {
  background-image: url(/src/images/slider/slider2.jpeg);
}

.bgi3 {
  background-image: url(/src/images/slider/slider3.jpeg);
}
