.communications {
  background: rgba(44, 44, 44, 1);
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  padding: 80px;
  position: relative;

  &__wapper {
    @include page-grid;

    margin: auto;

    @include on-tablet {
      width: 558px;
    }

    @include on-small-desktop {
      width: 916px;
    }

    @include on-desing {
      width: 1146px;
    }
  }

  &__message {
    grid-column: 1/-1;
    justify-items: start;
    margin: auto;

    @include on-tablet {
      grid-column: span 4;
    }

    @include on-small-desktop {
      grid-column: 1/6;
      margin: 0;
    }

    @include on-desing {
      grid-column: 1/6;
    }
  }

  &__contact {
    grid-column: 1/-1;
    justify-items: start;
    margin: auto;

    @include on-tablet {
      grid-column: span 4;
    }

    @include on-small-desktop {
      grid-column: 7/-1;
      margin: 0;
    }

    @include on-desing {
      grid-column: 8/-1;
    }
  }

  &__title {
    width: 280px;
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 130%;
    vertical-align: middle;
    color: rgba(255, 255, 255, 1);
    margin: 0 0 48px;
    padding-top: 80px;

    @include on-tablet {
      width: 325px;
    }
  }
}

.contact {
  &__title {
    font-family: Poppins, sans-serif;
    font-weight: 700;
    font-size: 13px;
    line-height: 100%;
    letter-spacing: 3px;
    text-transform: uppercase;

    color: rgba(232, 232, 240, 0.4);
    margin: 40px 0 16px;
  }

  &__logo {
    display: inline-block;
    width: 32px;
    height: 32px;
    margin: 0;
    padding-right: 32px;
    transition: transform 0.3s;

    @include hover(transform, scale(1.1));
    @include pointer-cursor;
  }

  &__link {
    font-family: Open, sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    width: 270px;
    display: inline-block;
    text-decoration: none;
    color: rgba(255, 255, 255, 1);

    transition: transform 0.3s;

    @include on-tablet {
      width: 362px;
    }

    @include pointer-cursor;

    &:hover {
      color: rgba(20, 78, 212, 1);
      transition: transform 0.3s;
    }
  }
}

.form {
  display: grid;
  gap: 16px;

  margin: auto;

  &__input {
    box-sizing: border-box;
    width: 280px;
    height: 41px;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 1);
    background: rgba(44, 44, 44, 1);
    outline: none;
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 15px;
    line-height: 100%;
    margin-bottom: 40px;
    padding: 0 0 17px;
    color: rgba(255, 255, 255, 1);
    transition: all 0.3s;

    @include on-tablet {
      width: 362px;
    }

    &:hover {
      border-bottom: 2px solid rgba(20, 78, 212, 1);
      transition: transform 0.3s;
    }
  }

  &__button {
    width: 280px;
    height: 56px;
    border-radius: 8px;

    background: $button-color;
    border: $button-color;

    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 15px;
    line-height: 100%;
    color: $button-text-color;

    text-align: center;
    outline: none;
    transition: all 0.3s;

    @include pointer-cursor;

    @include on-tablet {
      width: 264px;
    }

    &:hover {
      box-shadow: 1px 4px 16px rgba(20, 78, 212, 1);
      transition: transform 0.3s ease-in-out;
    }
  }
}
