.components {
  background: #fff url('../images/decoration/background.svg') center no-repeat;

  @include content-padding-inline;

  padding-block: 72px;

  @include on-tablet {
    padding-block: 200px;
  }

  @include on-desktop {
    padding-bottom: 186px;
  }

  &__title {
    margin-bottom: 24px;
    text-align: center;
  }

  &__text {
    font-size: 22px;
    margin-bottom: 56px;
    text-align: center;
    line-height: 150%;
  }

  &__link {
    display: block;
    margin: 0 auto;
  }
}
