.components{
  font-weight: 600;
  padding-block: 72px;
  justify-items: center;

  &--background{
    background: url('../images/Shapes.png') no-repeat center center;
    background-color: #fff;
  }

  @include page-grid;

  @include on-tablet{
    padding-block: 200px;
  }

  &__title{
    font-size: 44px;
    line-height: 120%;
    text-align: center;
    color: #253757;
    grid-column: 1 / -1;
    margin-bottom: 24px;

    @include on-tablet{
      font-size: 52px;

    }

    @include on-small-desktop{
      line-height: 150%;
      grid-column: 3 / -3;
    }
  }

  &__information{
    font-family: "open sans", Arial, Helvetica, sans-serif;
    font-size: 22px;
    line-height: 150%;
    text-align: center;
    color: #6C788B;
    margin-bottom: 56px;
    grid-column: 1 / -1;

    @include on-tablet{
      font-size: 24px;
      margin-bottom: 64px;
    }

    @include on-small-desktop{
      grid-column: 3 / -3;
    }
  }

  & button{
    @extend %button;

    grid-column: 1 / -1;

    @include on-tablet{
      grid-column: 2 / -2;
    }

    @include on-small-desktop{
      grid-column: 3 / -3;
    }

  }
}
