.competence {
  display: flex;
  flex-direction: column;
  gap: 32px;

  @include on-desktop-s {
    gap: 40px;
  }

  &__image-box {
    width: 166px;
    height: 166px;
    border-radius: 30px;
    overflow: hidden;
    margin-inline: auto;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;

    @include hover(transform, scale(1.1));
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__title {
    margin-inline: auto;
  }

  &__text {
    @include text-secondary;
    width: 100%;
    text-align: center;
  }
}
