@use "../utils/vars" as *;
@use "../utils/extends" as *;
@use "../utils/mixins" as *;

.container {
  padding: 0 20px 0;
  margin: 0 auto;

  @include onTablet {
    padding: 0 40px 0;
  }

  @include onSmallDesktop {
    margin: 0;
    padding: 0 54px 0;
  }

  @include onDesktop {
    padding: 0 228px 0;
  }

  @include onLargeScreen {
    padding: 0 708px 0;
  }

}
