.conclusion {
  position: relative;
  background-color: #fff;
  padding: 72px 0;

  @include onTablet {
    padding: 200px 0;
    margin-bottom: 0;
    background-image: url("../images/Shapes.png");
    background-position: 55% 5%;
    background-size: 150%;
  }

  @include onSmallDesktop {
    background-position: 50% 5%;
    background-size: 125%;
  }

  @include onDesign {
    background-size: cover;
    background-position: center;
  }

  &__content {
    max-width: 754px;
    margin: 0 auto;
    text-align: center;
  }

  &__title {
    margin-bottom: 24px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 44px;
    line-height: 120%;
    color: $headings-grey;

    @include onTablet {
      font-size: 52px;
    }
  }

  &__text {
    margin-bottom: 56px;
    color: $main-text-color;
    font-weight: 600;
    font-size: 22px;
    line-height: 150%;

    @include onTablet {
      margin-bottom: 64px;
      font-size: 24px;
    }
  }

  &__button {
    @include onTablet {
      margin: 0 auto;
    }
  }
}
