.conclusion {
  background: $white-color;
  padding-block: 72px;
  overflow: hidden;

  &__content {
    text-align: center;

    @include on-large-screen {
      @include page-grid;
    }
  }

  &__title {
    font-size: 44px;
    font-weight: 600;
    line-height: 120%;

    @include on-small-screen {
      font-size: 52px;
    }

    @include on-large-screen {
      grid-column: 3 / -3;
    }
  }

  &__description {
    font-size: 22px;
    font-weight: 600;
    line-height: 150%;

    margin-top: 24px;

    color: $grey-color;

    @include on-small-screen {
      font-size: 24px;
    }

    @include on-large-screen {
      grid-column: 3 / -3;
    }
  }

  &__button-container {
    margin-top: 56px;

    @include on-small-screen {
      margin-top: 64px;
      width: 264px;
      margin-inline: auto;
    }

    @include on-large-screen {
      grid-column: 3 / -3;
    }
  }

  &__button {
    height: 56px;
    line-height: 56px;
  }

  @include on-small-screen {
      background: url('../images/shapes.png'), $white-color;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 870px 360px;
      padding-block: 200px;
  }

  @include on-medium-screen {
    background-size: 1300px 500px;
  }

  @include on-large-screen {
    background-size: 1600px 600px;
  }
}
