.conception {
  width: 362px;
  
  &__subtitle {
    font-family: $poppins;
    font-weight: 700;
    color: $grey;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 16px;
  }

  &__title {
    font-family: $poppins;
    font-size: 32px;
    line-height: 1.3;
    color: $darkblue;
    margin-bottom: 24px;
  }

  &__text {
    font-size: 14px;
    font-weight: 400;
  }
}

@media screen and (max-width: $w900) {
  .conception {
    text-align: center;
  }
}

@media screen and (max-width: $w450) {
  .conception {
    width: 300px;
  }
}
