.contact-us {
  &__content {
    @include on-small-desktop {
      display: flex;
      gap: 98px;
    }

    @include on-desktop {
      gap: 226px;
    }
  }

  &__form {
    width: 100%;
    max-width: 460px;
    min-width: 280px;
  }

  &__contents {
    @include flex;
  }

  &__text-left {
    text-align: left;
  }

  &__info {
    font-weight: 600;
    font-size: 24px;
    color: $c-white;
    margin-top: 8px;
  }

  &__socials-icons {
    display: flex;
    gap: 32px;
    justify-content: start;
    margin-top: 16px;
    fill: $c-white;
  }

  &__contacts {
    margin-top: 32px;

    @include on-small-desktop {
      margin: 0;
    }
  }
}
