.contact {
  &__field {
    all: unset;
    display: flex;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 40px;
    padding-bottom: 17px;
    background-color: transparent;
    border: 0;
    height: 41px;
    color: $white-color;
    border-bottom: 1px solid $white-color;

    @include on-tablet {
      margin-bottom: 48px;
    }
  }

  &__field:hover {
    border-bottom: 2px solid $hoover-color-blue;
  }

  &__field:active {
    border-bottom: 2px solid $hoover-color-blue;
  }

  &__field--message {
    resize: none;
    overflow: hidden;
    white-space: pre-wrap;
    word-wrap: break-word;
  }

  &__submit-button {
    margin-top: 16px;
  }
}
