.contact-info {
  &__title {
    font-family: $secondFont;
    font-weight: bold;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #fff;
    opacity: 0.5;
    margin-bottom: 8px;

    &--social {
      margin-bottom: 16px;
    }
  }

  &__social {
    display: flex;
    width: 100%;
  }

  &__text {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #fff;
    text-decoration: none;
    transition: color $transformTime;

    &:hover {
      color: $blueColor;
    }
  }

  &__icon {
    display: block;
    width: 32px;
    height: 32px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 32px;
    transition: background-image $transformTime;

    &:hover {
      cursor: pointer;
    }

    &:last-child {
      margin-right: 0;
    }

    &--fb {
      background-image: url("../images/icon/fb.svg");

      &:hover {
        background-image: url("../images/icon/fb_b.svg");
      }
    }

    &--twit {
      background-image: url("../images/icon/twit.svg");

      &:hover {
        background-image: url("../images/icon/twit_b.svg");
      }
    }

    &--insta {
      background-image: url("../images/icon/insta.svg");

      &:hover {
        background-image: url("../images/icon/insta_b.svg");
      }
    }
  }
}
