.contact-list {
  display: flex;
  flex-direction: column;

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item_title {
    margin: 0 0 8px;
  }

  &__item {
    margin-bottom: 40px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__link {
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;

    &:hover {
      cursor: pointer;
      color: $indigo;
    }
  }

  &__social-media {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 170px;
    list-style: none;
    margin: 0 0 86px;
    padding: 0;

    &_link {
      transition: fill 0.3s;

      &--fb {
        &:hover {
          svg {
            path {
              fill: $indigo;
            }
          }
        }
      }

      &--tw {
        &:hover {
          svg {
            path {
              fill: #08c6eb;
            }
          }
        }
      }

      &--inst {
        &:hover {
          svg {
            path {
              fill: #c13584;
            }
          }
        }
      }
    }
  }
}
