.contact-us {
  display: flex;
  flex-direction: column;

  &__title {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 150%;
    color: #fff;
    margin-bottom: 48px;
  }

  &__section-name {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 13px;
    line-height: 20px;
    color: #fff;
    opacity: 0.5;
    margin-bottom: 8px;
  }

  &__value {
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    margin-bottom: 40px;
    transition: color 0.3s;

    &:hover {
      color: #2060f6;
    }
  }

  &__social {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }

  &__section-name:last-of-type {
    margin-bottom: 20px;
  }
}
