.contact-us {
  display: flex;
  flex-direction: column;

  &__title {
    @extend %phrase2;
    font-size: 32px;

    color: #fff;
    margin-bottom: 48px;

    @include onNotebook {
      margin-bottom: 56px;
    }
  }

  &__name-contact {
    @extend %phrase3;
    opacity: 0.5;
    margin-bottom: 8px;

    &:last-of-type {
      margin-bottom: 20px;
    }
  }

  &__value-contact {
    font-family: "Open Sans", sans-serif;
    @extend %phrase2;
    margin-bottom: 40px;

    @include onNotebook {
      margin-bottom: 48px;
    }
  }

  &__social {
    display: flex;
    gap: 40px;
  }
}
