.container {
  min-width: 280px;
  max-width: 1280px;
  margin: 0 auto;

  @include gridRules;

  &--services {
    @include onDesktop {
      padding-top: 90px;
    }
  }

  &--passione {
    background-color: $c-bg-white;
    padding: 72px 0;

    @include onTablet {
      padding: 200px 0 56px;
    }
  }

  &__content {
    grid-column: 1 / -1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;

    @include onDesktop {
      flex-direction: row;
    }

    &--our-expertise {
      margin-top: 32px;
      gap: 56px;

      @include onDesktop {
        margin-top: 64px;
      }
    }

    &--direction-column {
      @include onDesktop {
        flex-direction: column;
      }
    }
  }

  &__item {
    grid-column: 1 / -1;
    display: grid;
    row-gap: 24px;

    &--title {
      @include onTablet {
        grid-column: 1 / 4;
      }

      @include onDesktop {
        grid-column: 1 / 5;
        max-width: 332px;
      }
    }

    &--card {
      grid-column: 1 / -1;
      margin-top: 48px;

      @include onTablet {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        column-gap: 30px;
        row-gap: 30px;
      }

      @include onDesktop {
        grid-column: 7 / -1;
        row-gap: 20px;
      }

    }
  }
}
