.container {
  margin: 0 auto;
  max-width: 1024px;
  padding: 0 20px;

  @include onTablet {
    padding: 0 42px;
  }

  @include onDesktop {
    padding: 0 55px;
    max-width: 1600px;
  }

  @include onHighDesktop {
    padding: 0 228px;
    max-width: 2560px;
  }

  &__block {
    margin-bottom: 24px;

    @include onTablet {
      margin-bottom: 0;
    }

    &--transform {
      @include onTablet {
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
}
