.conteiner {
  min-width: 300px;
  margin: 0 auto;

  @include Tablet {
    min-width: 640px;
  }

  @include iPad {
    min-width: 819px;
  }

  @include smallDesktop {
    min-width: 990px;
  }

  @include Desktop {
    min-width: 1145px;
  }

  
}
