.contact {
  &__title {
    @include title-alt;
    opacity: 0.5;
    margin-bottom: 8px;
  }

  &__tel,
  &__map {
    @include open-sans;
    color: #fff;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
  }

  &-info {
    margin-bottom: 40px;
  }

  &__link {
    display: inline-flex;
    width: 32px;
    height: 32px;
    margin-top: 20px;
    margin-right: 2rem;
    align-items: center;
    justify-content: center;
    line-height: 2rem;
    font-size: 2rem;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;

    &:last-child {
      margin-right: 0;
    }
  }

  &__img:hover path {
    transition: 0.3s;
    fill: $blue;
  }
}
