.container {
  @include container;

  overflow: hidden;

  &--no-paddings {
    padding: 0;
  }

  &--no-paddings-mobile {
    padding: 0;

    @include onDesktop {
      padding: 0 50px;
    }
  }
}
