.contact-us {
  display: flex;
  flex-direction: column;
  gap: 40px;

  &.active {
    @include appearOnScrollRight;
  }

  @include onTablet {
    gap: 48px;
  }

  &__subtitle {
    margin-bottom: 8px;

    &--socials {
      margin-bottom: 16px;
    }
  }

  &__socials {
    display: flex;
    gap: 32px;
  }

  &__link {
    text-decoration: none;
    font-size: 24px;
    line-height: 36px;
    color: $base-white;
    @include hover (color, $contacts-block-blue);
  }
}
