.contact-info {
  padding-block: 20px;

  &--menu {
    border-top: 2px solid #4b4a4a;
  }

  &__data-wrapper {
    display: grid;
    gap: 40px;

    @include on-tablet {
      gap: 48px;
    }
  }

  &__data-wrapper--menu {
    gap: 12px;
  }

  &__title {
    margin-bottom: 48px;

    @include on-tablet {
      margin-bottom: 56px;
    }
  }

  &__title--menu {
    font-size: 11px;
    margin-bottom: 15px;
  }

  &__subtitle {
    opacity: 0.5;
    margin-bottom: 6px;
  }

  &__subtitle--menu {
    font-size: 9px;
    margin-bottom: 2px;
  }

  &__social-wrap {
    display: flex;
    gap: 32px;
  }

  &__social-wrap--menu {
    gap: 12px;
  }

  &__social-subtitle {
    margin-bottom: 16px;
  }

  &__social-subtitle--menu {
    font-size: 9px;
    margin-bottom: 4px;
  }

  &__data {
    display: inline-block;
    text-decoration: none;
    font-family: $open-sans;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    color: inherit;
    will-change: transform;

    @include hover(transform, scale(1.1));
  }

  &__data--menu {
    font-size: 11px;
  }

  &__social-icon {
    cursor: pointer;
    transition: transform 0.3s ease;
    @include hover(transform, scale(1.2));
  }

  &__social-img--menu {
    width: 16px;
    height: 16px;
  }
}
