.contact {
  &__title {
    @extend %titleSmall;
    color: $colorWhite;
    text-align: left;
    margin: 0 0 48px;

    @include onTablet {
      margin: 0 0 56px;
    }
  }

  &__info-title {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: $colorWhite;
    opacity: 0.5;
    margin: 0 0 8px;
  }

  &__link {
    display: block;
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    color: $colorWhite;
    margin: 0 0 40px;

    @include onTablet {
      margin: 0 0 48px;
    }

    @include hover(color $colorBlue);
  }

  &__socials {
    margin: 0 0 84px;

    @include onTablet {
      margin: 0 0 144px;
    }

    @include onNotebook {
      margin: 0;
    }

    &--facebook {
      margin-right: 36px;
      @include square(24px);
      background-image: url(./images/features/facebook.svg);
      @include hover (background-image url(./images/features/facebook-hover.svg));

    }

    &--twitter {
      margin-right: 36px;
      @include square(24px);
      background-image: url(./images/features/twitter.svg);
      @include hover (background-image url(./images/features/twitter-hover.svg));

    }

    &--instagram {
      @include square(24px);
      background-image: url(./images/features/instagram.svg);
      @include hover (background-image url(./images/features/instagram-hover.svg));
    }
  }
}
