.contact-us-section {
  background-color: $main-color;
  color: white;

  border-top-right-radius: $b-radius-header-big;

  @media (max-width: 1300px) {
    border-top-right-radius: $b-radius-header-small;
  }

  &__content {
    @extend %container;
    @extend %section-padding;

    display: flex;
    justify-content: space-between;

    @media (max-width: 1200px) {
      flex-direction: column;
    }
  }

  &__contact-form {
    margin-bottom: 100px;
  }
}
