@use "../utils/mixins" as *;

.contact {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  padding: 72px 0 80px;
  background-color: $color-dark-bg;
  margin-bottom: 0;

  // @include onTablet {
  //   padding-top: 180px;
  // }

  // &__content {
  //   @include onDesktop {
  //     display: flex;
  //     justify-content: space-between;
  //   }

  // }

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__button {
    margin-bottom: 80px;

    // @include onTablet {
    //   margin-bottom: 120px;
    // }
  }

  &__title {
    margin-bottom: 48px;

    @extend %poppinsTitle32v1;
    color: $color-white;

    // @include onTablet {
    //   margin-bottom: 56px;
    // }
  }

  &__label {
    &:not(:focus):not(:active) {
      @include visually-hidden();
    }
  }

  &__input {
    height: 40px;
    margin-bottom: 66px;

    @extend %poppinsButtonText;
    color: $color-white;
    background-color: $color-dark-bg;
    background-image: url(../images/Rectangle.svg);
    background-position: left bottom;
    background-repeat: no-repeat;
    transition: background-image 0.5s;

    &:hover {
      color: $color-white;
      background-image: url(../images/Rectangle-focus.svg);
    }
  }

  &__info {
    margin-bottom: 40px;
  }

  &__info-title {
    margin-bottom: 8px;

    @extend %poppinsAccenpLink;
    text-transform: uppercase;
    color: $color-white;
    opacity: 0.5;
  }

  &__link {
    @extend %openSansContact24;
    color: $color-white;

    &:hover {
      color: $color-blue;
    }
  }

  &__socials {
    display: flex;
    flex-direction: row;
    gap: 32px;
    margin-bottom: 80px;

    // @include onTablet {
    //   margin-bottom: 140px;
    // }
  }

  &__links {
    display: block;
    width: 32px;
    height: 32px;
    background-image: url(../images/icons-social/fb.svg);

    background-position: center;
    background-repeat: no-repeat;

    &:hover {
      background-image: url(../images/icons-social/fbhover.svg);
    }
  }

  &__link--2 {
    background-image: url(../images/icons-social/Twitter.svg);

    &:hover {
      background-image: url(../images/icons-social/Twitter-hover.svg);
    }
  }

  &__link--3 {
    background-image: url(../images/icons-social/Instagram.svg);

    &:hover {
      background-image: url(../images/icons-social/Instagram-hover.svg);
    }
  }
}
