.contact-us {

  &__info {
    margin-bottom: 40px;
  }

  &__info-title {
    @extend %text-bold;
    margin-bottom: 8px;
    font-size: $fontSizeMain;
    line-height: 19px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: $colorWhite;
    opacity: 0.5;
  }

  &__info-link {
    @extend %main-text;
    font-size: $fontSizeInfo;
    line-height: 36px;
    color: $colorWhite;
    text-decoration: none;
  }

  &__info-socials {
    margin: 20px 0 84px;
    display: flex;
    gap: 40px;

    @include onTablet() {
      margin: 20px 0 144px;
    }

    &--facebook {
      @include square($socialMediaIcon);
      display: block;
      background: url(../images/social-media/Vector01.svg) no-repeat center / contain;
      transition: filter $shortTransition, transform $transitionDuration;

      &:hover {
        filter: invert(85%) sepia(78%) saturate(6354%) hue-rotate(242deg) brightness(97%) contrast(106%);
        transform: scale(1.2);
      }
    }

    &--twitter {
      @include square($socialMediaIcon);
      display: block;
      background: url(../images/social-media/Vector2.svg) no-repeat center / cover;
      transition: filter $shortTransition, transform $transitionDuration;
      
      &:hover {
        filter: invert(85%) sepia(78%) saturate(6354%) hue-rotate(200deg) brightness(110%) contrast(106%);
        transform: scale(1.2);
      }
    }
  
    &--insta {
      @include square($socialMediaIcon);
      display: block;
      background: url(../images/social-media/Vector03.svg) no-repeat center / contain;
      transition: filter $transitionDuration, transform $transitionDuration;

      &:hover {
        filter: invert(85%) sepia(78%) saturate(6354%) hue-rotate(300deg) brightness(97%) contrast(106%);
        transform: scale(1.2);
      }
    }
  }
}
