.container {
  padding: 0 20px;

  @include tablet {
    padding: 0 40px;
  }

  @include desktop {
    padding: 0 54px;
  }

  @include fullHD {
    padding: 0 227px;
  }

  @include large {
    padding: 0 707px;
  }
}
