.contact-info {
  width: 460px;

  @media (max-width: 1200px) {
    width: 100%;
  }

  &__title {
    color: white;
  }

  &__heading {
    margin-bottom: 8px;

    &--phone {
      margin-top: 56px;
    }

    &--address {
      margin-top: 48px;
    }
  }

  &__link {
    @extend %text-style-semibold-big;
    color: white;

    @include hover(text-decoration, underline);
  }

  &__soc-net-icons-wrap {
    display: flex;
    margin-top: 84px;
  }

  &__soc-net-icon {
    width: 32px;
    height: 32px;
    margin-right: 38px;

    @include hover(opacity, 0.6);

    &--facebook {
      background-image: url(../images/soc-net-icons/facebook.svg);
    }

    &--instagram {
      background-image: url(../images/soc-net-icons/instagram.svg);
    }

    &--twitter {
      background-image: url(../images/soc-net-icons/twitter.svg);
    }
  }

}
