.contact-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;

  @include on-tablet {
    gap: 48px;
  }

  &__input {
    margin: 0;
    padding: 0 0 16px;
    background-color: $bg-dark-grey-color;
    border: none;
    border-bottom: 1px #FFF solid;
    color: #FFF;
    font-family: Poppins, sans-serif;
    font-size: 15px;
    font-weight: 600;
    line-height: 23px;
    box-sizing: border-box;
    resize: none;
    }

    & :focus, :hover {
      outline: 0;
      border-bottom: 1px solid #144ED4;
    }

  &__button {
    margin: 16px 0 0;

    @include on-tablet {
      margin-top: 32px;
    }
  }
}
