.contacts {
  background-color: $color-white;

  &__background {
    background-color: $color-background-dark-gray;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
  }

  &__content {
    padding-top: 72px;
    padding-bottom: 80px;

    @include page-grid;

    @include on-tablet {
      padding-top: 180px;
      padding-bottom: 140px;
    }
  }

  &__send-us-a-message {
    padding-bottom: 80px;

    grid-column: 1 / -1;

    display: grid;
    grid-template-columns: subgrid;

    @include on-tablet {
      padding-bottom: 120px;
    }

    @include on-desktop {
      padding-bottom: 0;
      grid-column: 1 / 6;
    }
  }

  &__send-us-a-message-title {
    margin-bottom: 48px;

    color: $color-white;

    font-size: 32px;
    line-height: 130%; /* 41.6px */

    grid-column: 1 / -1;

    @include on-tablet {
      margin-bottom: 56px;
    }

    @include on-desktop {
      grid-column: 1 / 6;
    }
  }

  &__send-us-a-message-form {
    grid-column: 1 / -1;
    display: grid;
    row-gap: 40px;

    @include on-tablet {
      grid-template-columns: subgrid;
      row-gap: 48px;
    }

    @include on-desktop {
      grid-column: 1 / 6;
    }
  }

  &__form-label {
    display: flex;
    flex-direction: column;
    gap: 16px;

    @include on-tablet {
      grid-column: 1 / 5;
    }

    @include on-desktop {
      gap: 17px;
      grid-column: 1 / 6;
    }
  }

  &__form-input {
    width: 100%;

    box-sizing: border-box;
    border: none;
    background-color: inherit;

    color: $color-white;

    font-family: Poppins, sans-serif;
    font-size: 15px;
    font-weight: 600;

    &:-webkit-autofill {
      -webkit-box-shadow: inset 0 0 0 1000px $color-background-dark-gray;
      -webkit-text-fill-color: $color-white;
    }

    &::placeholder {
      opacity: 0.7;
    }

    &:focus {
      outline: none;
    }
  }

  &__input-strip {
    width: 100%;
    height: 1px;

    border: 1px solid $color-background-dark-gray;
    background-color: $color-white;
  }

  &__form-label:focus-within &__input-strip {
    border: 1px solid $color-blue;
    background-color: $color-blue;
  }

  &__form-button {
    width: 100%;

    margin-top: 56px;
    padding: 0;

    border: none;

    @include on-tablet {
      margin-top: 80px;
      grid-column: 1 / 4;
    }
  }

  &__contact-us {
    grid-column: 1 / -1;

    @include on-desktop {
      grid-column: 7 / 12;
    }
  }

  &__contact-us-title {
    margin-bottom: 48px;

    color: $color-white;

    font-size: 32px;
    line-height: 150%; /* 48px */
  }

  &__contact-us-details-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  &__call-us {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__short-title {
    opacity: 0.5;
  }

  &__detail {
    color: $color-white;
    text-decoration: none;

    font-size: 24px;
    font-weight: 600;
    line-height: 150%; /* 36px */

    &:hover {
      text-decoration: underline;
    }
  }

  &__visit-us {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__socials-links-list {
    display: flex;
    gap: 32px;
  }

  &__our-socials {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__socials-link {
    width: 32px;
    height: 32px;
  }
}
