.contacts {
  &__content {
    @include page-grid;

    row-gap: 80px;

    @include on-tablet {
      row-gap: 120px;
    }

    @include on-small-desktop {
      row-gap: 100px;
    }
  }

  &__message {
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: span 4;
    }

    @include on-small-desktop {
      grid-column: span 5;
    }
  }

  &__contact-info {
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: span 4;
    }

    @include on-small-desktop {
      grid-column: 7 / span 5;
    }

    @include on-design {
      grid-column: 8 / span 5;
    }
  }
}
