.contacts {
  
  &__head {
    margin: 0 0 8px;
    
    &--last {
      margin: 0 0 20px;
    }
  }

  &__main {
    margin: 0 0 40px;
    
    &--info {
      font-weight: 600;
      font-size: 24px;
      line-height: 36px;
      color: $white-basic;
      margin: 0;
      
    }
  }

  &__place {
    cursor: pointer;
    text-decoration: none;
  }

  &__social {
    display: grid;
    grid-template-columns: 32px 32px 32px;
    column-gap: 32px;

    align-items: center;
    justify-items: center;

    &__blocks {
      display: flex;
      &--01 {
        grid-column: 1 / 2;
      }

      &--02 {
        grid-column: 2 / 3;
      }

      &--03 {
        grid-column: 3 / 4;
      }
    }

    &__img {
      cursor: pointer;
      &:hover {
        filter: invert(37%) 
          sepia(54%) 
          saturate(6844%) 
          hue-rotate(217deg) 
          brightness(97%) 
          contrast(99%);
      }
    }
  }
}
