.container-wrap {
  max-width: 1145px;
  padding: 0 20px;
  margin: 0 auto;

  @include onTablet {
    min-width: 640px;
    padding: 0 40px;
  }

  @include onDesktop {
    min-width: 1024px;
    padding: 0 54px;
  }

  @include onLargeScreen {
    min-width: 1146px;
    padding: 0;
  }
}
