.creativeAgency {
  background-color: #f2f6fa;
}

.services {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 20px;
  text-align: left;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #c0cdd7;
  margin: 0;
  padding-bottom: 16px;
}

.services-extends {
  margin-top: 120px;

  @include onTablet {
    margin-top: 148px;
  }
}

.sub-title {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #6c788b;
  margin: 24px 0 0;
}

.product-cards {
  &__menu {
    box-sizing: border-box;
    height: 264px;
    background-color: #fff;
    box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
    border-radius: 16px;
  }
}

.card-content {
  padding: 34px 30px 32px 32px;
  &__number {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 46px;
    height: 24px;
    border-radius: 23px;
    background-color: #e9effe;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 20px;
    text-transform: uppercase;
    color: #2060f6;
  }
  
  &__paragraph {
    margin-top: 26px;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 150%;
    color: #6c788b;
  }

  &__button {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-top: 32px;

    &-arrow {
      width: 40px;
      height: 40px;
      background-color: #fff;
      border: none;
      background-image: url(../images/sub-title/blueArr.svg);
      cursor: pointer;
      transition: 0.3s ease-in-out;

      &:hover {
        transform: scale(1.1);
      }
    }

    &-text {
      font-family: "Poppins", sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 15px;
      line-height: 22px;
    }
  }
}

.learnMore {
  text-decoration: none;
  color: #334563;
  width: 87px;
}

.text-container {

  @include onNotebook {
    width: 292px;
  }
}

.offset {
  @include onTablet {
    transform: translateY(-50%);
  }
}

.content-container {
  box-sizing: border-box;

  @include onNotebook {
    margin-top: 148px;
  }
}

.feedback-cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;

  @include onTablet {
    gap: 30px;
  }

  @include onNotebook {
    flex-direction: row;
  }

  &__menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;

    padding: 75px 42px 32px;
    height: 456px;

    background-color: #fff;
    box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
    border-radius: 16px;
    transition: 0.3s ease-in-out;

    &:hover {
      transform: scale(1.1);
    }

    @include onTablet {
      box-sizing: border-box;
      padding: 87px 98px 32px ;
      height: 480px;
    }

    @include onNotebook {
      padding: 75px 48px 32px;
      height: 456px;
      width: 362px;
    }

    @include onDesctop {
      padding: 87px 56px 32px;
    }
  }

  &__photoBox {
    display: flex;
    position: relative;
  }

  &__blueBox {
    position: absolute;
    top: 36px;
    width: 108px;
    height: 44px;
    background-color: #2060f6;
    border-radius: 12px;

    @include onTablet {
      width: 140px;
      height: 56px;
    }

    @include onNotebook {
      width: 108px;
      height: 44px;
    }
  
    &--1 {
      
      transform: translateX(-30%) translateY(-90%) rotate(-60deg);

      @include onTablet {
        transform: translateX(-30%) translateY(-70%) rotate(-60deg);
      }
    }
  
    &--2 {
      transform: translateX(35%) translateY(70%) rotate(-60deg);

      @include onTablet {
        transform: translateX(35%) translateY(90%) rotate(-60deg);
      }
    }
  }

  &__testimonial-photo {
    object-fit: cover;
    border-radius: 100%;
    width: 109px;
    height: 109px;
    z-index: 1;

    @include onTablet {
      width: 140px;
      height: 140px;
    }

    @include onNotebook {
      width: 109px;
      height: 109px;
    }
  }

  &__text {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 150%;
    text-align: center;
    color: #6c788b;

    &::before {
      content: "";
      display: block;
      width: 20px;
      height: 18px;
      margin: 70px auto 10px;
      background-image: url(../images/testimonials/komas.svg);
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;

      @include onTablet {
        margin: 82px auto 18px;
      }

      @include onNotebook {
        margin: 70px auto 10px;
      }

      @include onDesctop {
        margin: 82px auto 10px;
      }
    }

    @include onDesctop {
      width: 250px;
    }
  }

  &__testimonial-name {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 150%;
    text-align: center;
    color: #253757;
    margin: 16px auto 4px;
  }

  &__testimonial-role {
    width: 205px;
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #c0cdd7;
  }
}
