.create {
  background-color: $pink;
  border-radius: 200px 0 0 200px;
  position: relative;
  top: -118px;
  z-index: 1;

  &__block {
    display: flex;
    justify-content: space-between;
    color: $white;
    padding-left: calc(100% - 1275px);
  }

  &__content {
    width: 362px;
    padding-top: 204px;
  }

  &__subtitle {
    font-family: $poppins;
    font-weight: 700;
    line-height: 19px;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 16px;
  }

  &__title {
    font-family: $poppins;
    font-size: 32px;
    margin-bottom: 32px;
  }

  &__item {
    display: flex;
    margin-bottom: 64px;
  }

  &__icon {
    width: 64px;
    height: 64px;
    margin: auto 34px auto 0;
  }

  &__description {
    font-size: 15px;
    font-weight: 400;
  }

  &__photo {
    background-image: url("../images/Photo2.png");
    background-repeat: no-repeat;
    background-position: right bottom;
    object-fit: fill;
    height: 680px;
    width: 687px;
    margin-top: 296px;
  }
}

@media screen and (max-width: $w1500) {
  .create {
    padding-left: 20px;
  }
}

@media screen and (max-width: $w1200) {
  .create {
    &__block {
      flex-direction: column;
    }

    &__content {
      margin: 0 auto;
    }

    &__subtitle,
    &__title {
      text-align: center;
    }

    &__photo {
      margin-top: 0;
      margin-left: auto;
    }
  }
}

@media screen and (max-width: $w900) {
  .create {
    padding: 0;
    border-radius: 0;
  }
}

@media screen and (max-width: $w750) {
  .create {
    &__photo {
      width: 100%;
    }
  }
}

@media screen and (max-width: 687px) {
  .create {
    &__photo {
      display: none;
    }
  }
}

@media screen and (max-width: $w450) {
  .create {
    &__content {
      width: 300px;
    }
  }
}
