.credo {
  padding: 200px 0;
  background-image: url(../images/Shapes.png);
  background-repeat: no-repeat;
  background-position: center;

  @include onMobile {
    padding-top: 72px;
  }

  &__title {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 52px;
    line-height: 150%;
    text-align: center;
    $title-col: #253757;
    margin-bottom: 24px;
  }

  &__text {
    font-weight: 600;
    font-size: 22px;
    line-height: 150%;
    text-align: center;
    color: $text-col;
    margin-bottom: 64px;

    @include onMobile {
      margin-bottom: 56px;
    }
  }

  &__button {
    margin: 0 auto;
    display: block;
    width: 264px;
    height: 56px;
    text-decoration: none;
    background-color: $button-bg;
    border-radius: 8px;

    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 15px;
    line-height: 4;
    text-align: center;
    color: #fff;
    box-shadow: $button-shadow;

    @include hoverA {
      box-shadow: $button-shadow-hover;
      background-color: $button-bg-akt;
    }

    @include onMobile {
      width: 280px;
    }
  }
}
