@import "../utils";

.creed {
  margin-top: 120px;
  background-color: $white;

  &__content,
  &__text {
    @include column-flex;
  }

  &__content {
    text-align: center;
    padding: 72px 20px;
    gap: 56px;
    align-items: center;
  }

  &__text {
    gap: 24px;
  }

  &__title {
    color: $title-gray;
    font-size: 44px;
    font-weight: 600;
    line-height: 120%;
  }

  &__subtitle {
    color: $text-gray;
    font-family: "Open Sans", sans-serif;
    font-size: 22px;
    font-weight: 600;
    line-height: 150%;
    max-width: 558px;
  }

  &__button {
    max-width: 558px;
  }
}
