.cta-block {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: $text-color;
  padding: 72px 0;
  margin-bottom: 120px;

  @include on-tablet {
    height: 796px;
    background-image: url(../images/Shapes.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 0;
  }

  &__title {
    margin: 0;

    @include header-style($size: 44px, $lineHeight: 52.8px);

    text-align: center;
    color: $title-color;
    margin-bottom: 24px;
  }

  &__info {
    margin: 0;

    @include text-style($fontSize: 22px, $lineHeight: 33px);

    text-align: center;
    color: $paragraph-color;
    margin-bottom: 56px;
  }

  &__btn {
    display: block;
    background-color: $main-btn-color;
    border-radius: 8px;
    padding: 20px 56px;
    text-decoration: none;
    color: $text-color;

    @include header-style($size: 15px, $lineHeight: 22.5px);

    text-align: center;
    cursor: pointer;

    @include hover( background-color, #144ED4);

    @include on-tablet {
      width: 264px;
      margin: 0 auto;
    }
  }
}

