.cta-block {
  background-color: $c-white;
  padding: 72px 0;

  @extend %flex-column;
  align-items: center;

  @include display-640px {
    padding: 200px 0;

    background-image: url(../images/Shapes.png);
    background-size: cover;
    background-repeat: no-repeat;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    font-weight: 600;
    font-size: 44px;
    line-height: 53px;
    text-align: center;
    color: $c-text-dark;

    margin-bottom: 24px;

    @include display-640px {
      font-size: 52px;
      line-height: 62px;
    }
  }

  &__description {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    text-align: center;
    color: $c-text-gray;

    margin-bottom: 56px;

    @include display-640px {
      font-size: 24px;
      line-height: 36px;
      margin-bottom: 64px;
    }
  }
}
