.CTA-block {
  @include content-padding-inline;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-block: 72px;
  margin-block: 120px;
  background-color: #fff;

  @include tablet {
    background-image: url(../images/Shapes.png);
    background-position: center;
    background-color: #fff;
    margin-top: 148px;
    margin-bottom: 0;
  }

  &__header {
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 44px;
    line-height: 52.8px;
    letter-spacing: 0;
    text-align: center;
    color: #253757;
    margin-bottom: 24px;
  }

  &__text {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    letter-spacing: 0;
    text-align: center;
    color: #6c788b;
    margin-bottom: 56px;
  }

  &__button {
    height: 56px;
    width: 280px;
    background-color: #2060f6;
    cursor: pointer;

    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 15px;
    line-height: 22.5px;
    letter-spacing: 0;
    text-align: center;
    color: #fff;
    border-radius: 8px;
    outline: none;
    border: none;

    @include tablet {
      width: 264px;
    }
  }
}
