.cta {
  @include standard-inline-paddings;

  padding-block: 72px;
  background-color: #fff;
  background-image: url('../images/Shapes.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  &__title {
    font-size: 44px;
    margin-bottom: 24px;
  }

  &__description {
    margin-bottom: 56px;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    text-align: center;
    color: $main-text-color;
  }

  &__link {
    display: block;
    width: 100%;
    height: 56px;
    border-radius: 8px;
    background-color: $light-text-color;
    font-family: Poppins, sans-serif;
    font-size: 15px;
    font-weight: 600;
    line-height: 56px;
    text-align: center;
    color: #fff;
  }
}
