.cta {
  position: relative;
  z-index: 0;

  box-sizing: border-box;
  padding-block: 72px;

  background-color: $section-bg-color;

  @include on-tablet {
    min-height: 796px;
    padding-top: 200px;
    padding-bottom: 0;

    background-image: url(../images/Shapes.png);
    background-repeat: no-repeat;
    background-position: center 140px;
    background-size: 140%;
  }

  @include on-desktop {
    min-height: 888px;
    background-size: 120%;
  }

  @include on-large-desktop {
    background-size: contain;
  }

  &__content {
    margin-inline: auto;

    @include on-tablet {
      max-width: 558px;
    }

    @include on-desktop {
      max-width: 730px;
    }
  }

  &__title {
    max-width: 280px;
    margin-inline: auto;

    @include on-tablet {
      max-width: 510px;
    }

    @include on-desktop {
      max-width: 730px;
    }
  }

  &__description {
    margin: 0 auto 56px;

    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    font-weight: 600;
    line-height: 150%;
    color: $section-text-color;
    text-align: center;

    @include on-tablet {
      margin-bottom: 64px;
    }
  }

  &__button {
    width: 280px;
    height: 56px;
    margin-inline: auto;

    @include on-tablet {
      width: 264px;
    }
  }
}
