.cta {
  background: $white;

  @include onMobile {
    padding-bottom: 195px;
  }

  &__container {
    @extend %container;
    background-image: url('/images/Shapes.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    @include onMobile {
      background-image: none;
    }
  }

  &__main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 654px;
    text-align: center;
  }

  &__title {
    @extend %poppins-semi-bold;
    font-size: 52px;
    display: flex;
    align-items: center;
    text-align: center;
    color: $dark-blue;
    margin: 200px 0 24px;

    @include onMobile {
      font-size: 44px;
    }
  }

  &__text {
    @extend %text;
    color: $blue-grey;
    max-width: 754px;
    margin: 0 0 64px;
  }
}
