.CTA-block {
  min-height: 571px;

  @include on-tablet {
    min-height: 740px;
  }

  @include on-small-desktop {
    min-height: 691px;
  }

  &__container {
    @include content-padding-inline;

    background-color: #fff;
    position: absolute;
    min-height: 571px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    right: 0;
    left: 0;

    @include on-tablet {
      background-image: url(../images/Shapes.png);
      min-height: 796px;
    }

    @include on-small-desktop {
      min-height: 888px;
    }
  }

  &__container-title {
    font-family: Poppins, sans-serif;
    font-size: 44px;
    font-weight: 600;
    line-height: 52.8px;
    text-align: center;
    color: #253757;
    padding-block: 72px 24px;
    margin: 0;

    @include on-tablet {
      font-size: 52px;
      line-height: 62.4px;
      padding-block: 200px 24px;
    }

    @include on-small-desktop {
      line-height: 78px;
    }
  }

  &__discription {
    max-width: 754px;
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    font-weight: 600;
    line-height: 33px;
    text-align: center;
    color: #6c788b;
    margin: auto;
    justify-content: center;

    @include on-tablet {
      font-size: 24px;
      line-height: 36px;
    }
  }

  &__button {
    display: flex;
    width: 280px;
    height: 56px;
    border-radius: 8px;
    background-color: #2060f6;
    border-width: 0;
    font-family: Poppins, sans-serif;
    font-size: 15px;
    font-weight: 600;
    line-height: 22.5px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    margin: 56px auto 72px;
    justify-content: center;
    align-items: center;

    @include hover(transform, scale(1));
  }
}
