.customer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 16px;
  box-shadow: 0 9px 18px 0 rgba(37, 41, 49, 0.03);

  --sky-quotes: url("../images/icons/double-quotes.svg");
  --yellow-quotes: url("../images/icons/double-quotes.svg");
  --red-quotes: url("../images/icons/double-quotes.svg");

  &--theme--light {
    --sky-quotes: url("../images/icons/sky-double-quotes.svg");
    --yellow-quotes: url("../images/icons/yellow-double-quotes.svg");
    --red-quotes: url("../images/icons/red-double-quotes.svg");
  }

  &__icon {
    margin-top: 23px;

    &--1 {
      background-image: var(--sky-quotes);
    }

    &--2 {
      background-image: var(--yellow-quotes);
    }

    &--3 {
      background-image: var(--red-quotes);
    }

  }

  &__text {
    text-align: center;

    margin-top: 8px;
    padding-inline: 42px;

    @include onTablet {
      margin-top: 16px;
      padding-inline: 98px;
    }

    @include onSmallDesktop {
      margin-top: 8px;
      padding-inline: 48px;
    }

    @include onMidDesktop {
      padding-inline: 56px;
    }
  }

  &__name {
    color: $mainAccent;

    margin-top: 16px;
  }

  &__subhead {
    margin-top: 4px;
  }
}
