.decorate {
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__tittle {
    padding-top: 200px;

    @include onMobile {
      max-width: 280px;

      margin: 0 auto;
      margin-bottom: 24px;

      padding-top: 70px;
    }
  }

  &__button {
    display: flex;
    margin: 0 auto;
    align-content: center;
    width: 200px;

    margin-bottom: 200px;

    &:hover {
      border-color: black;
    }
  }

  &__paragraph {
    @include onMobile {
      max-width: 280px;
      text-align: center;
      margin: 0 auto;

      margin-bottom: 56px;
    }
  }
}
