.description {
  padding-bottom: 48px;
  max-width: 282px;
  grid-column: 1 / 4;

  @include onSmallDesktop {
    grid-column: 1 / 5;
  }

  @include onTablet {
    min-width: 266px;
    max-width: 266px;
  }

  @include onSmallDesktop {
    max-width: 294px;
  }

  @include onDesktop {
    max-width: 364px;
  }

  &__pre-title {
    @extend %h1;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 3px;
    color: #c0cdd7;
    text-transform: uppercase;
    padding-bottom: 16px;
  }

  &__title {
    @extend %h1;
    font-weight: 600;
    font-size: 32px;
    line-height: 130%;
    color: $h1-color;
    padding-bottom: 24px;
  }

  &__paragraph {
    @extend %p;
    font-size: 14px;
    color: $p-color;
  }
}
