.desc--info {
  @include poppins700;
  line-height: 19px;
  color: #c0cdd7;
  margin-top: 100px;
  letter-spacing: 3px;
  margin-bottom: 16px;

  @media (max-width: 1024px) {
    margin-top: 0;
  }
}
