.description {
  padding: 50px 20px 0;

  @include mobile {
    padding: 58px 42px 0;
  }

  @include tablet {
    padding: 166px 54px 0;
  }

  &__name {
    font-weight: 600;
    font-size: 52px;
    line-height: 120%;
    letter-spacing: -2px;
    color: #fff;
    margin-bottom: 32px;

    @include mobile {
      margin-bottom: 24px;
      font-size: 64px;
    }

    @include tablet {
      margin-bottom: 32px;
    }
  }

  &__tagline {
    font-family: $open-sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    color: #fff;
    max-width: 362px;
    margin-bottom: 72px;

    @include mobile {
      margin-bottom: 56px;
    }

    @include tablet {
      margin-bottom: 83px;
    }
  }

  &__button {
    display: block;
    box-sizing: border-box;
    background-color: #2060f6;

    width: 280px;
    height: 50px;
    margin-bottom: 48px;

    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 50px;
    text-align: center;
    color: #fff;
    border-radius: 8px;
    text-decoration: none;

    @include mobile {
      margin-bottom: 148px;
      width: 264px;
    }
  }
}
