.description {
  margin-bottom: 48px;

  @include OnLaptop {
    margin-bottom: 148px;
  }

  @include AfterPhone {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 30px;
  }

  @include AfterLaptop {
    margin-bottom: 0;
  }

  &__container {
    padding: 0 21px;

    @include AfterPhone {
      display: grid;
      margin: 0 auto;
        
      @include OnLaptop {
        max-width: 690px;
        padding: 0 40px;
      }
  
      @include AfterLaptop {
        margin: 0;
        margin-left: auto;
        padding: 0 0 0 50px;
        height: fit-content;
      }

      @include OnDesctop {
        max-width: 495px;
      }

      @include OnDesign {
        max-width: 710px;
      }

      @include OnLargeScreen {
        max-width: 835px;
      }
    }
  }
  
  &__title {
    font-family: "Poppins-SemiBold", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 52px;
    letter-spacing: -2px;
    line-height: 62px;
    color: #fff;
    margin-bottom: 32px;
    height: fit-content;

    @include OnLaptop {
      margin-bottom: 24px;
      margin-top: 0;
      font-size: 64px;
      grid-column: 1 / 7;
    }

    @include AfterLaptop {
      line-height: 74px;
      margin-bottom: 32px;
      margin-top: 120px;
      font-size: 64px;
      grid-column: 1 / 5;
    }
  }

  &__text {
    font-family: "OpenSans-Regular", sans-serif;
    font-size: 18px;
    color: #fff;
    margin-bottom: 72px;
    height: fit-content;

    @include OnLaptop {
      grid-column: 1 / 5;
      margin-bottom: 56px;
    }

    @include OnDesctop {
      grid-column: 1 / 6;
      margin-bottom: 82px;
    }

    @include AfterDesctop {
      grid-column: 1 / 5;
      margin-bottom: 82px;
    }
  }
  
  &__button {
    @include button;
  
    @include OnLaptop {
      grid-column: 1 / 4;
    }

    @include OnDesctop {
      width: 264px;
      grid-column: 1 / 7;
    }

    @include AfterDesctop {
      width: unset;
      grid-column: 1 / 4;
    }
  }
}
