.dots {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);

  @include onLaptop {
    bottom: 20px;
  }

  &__dot {
    cursor: pointer;
    border-radius: 50%;
    background-color: #2c2c2c;
    height: 10px;
    width: 10px;
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__active {
    background-color: #fff;
  }
}
