.expertises {
  background-color: $white;
  border-radius: 30px;
  padding-block: 72px;
  padding-inline: 20px;

  @include on-tablet {
    padding-block: 128px;
    padding-inline: 41px;
  }

  @include on-small-desctop {
    padding-bottom: 134px;
    padding-inline: 54px;
  }

  @include on-desctop {
    padding-inline: 227px;
  }

  @include on-desctop-large {
    padding-inline: 707px;
  }

  &__title {
    grid-column: 1/-1;
    font-weight: 600;
    line-height: 52.8px;
    text-align: center;
    font-size: 44px;
    margin: 0;
    color: $title-color;
    padding-bottom: 56px;

    @include on-tablet {
      padding-bottom: 64px;
    }
  }

  &__products {
    @include page-grid;

    row-gap: 56px;

    @include on-tablet {
      row-gap: 72px;
    }

    @include on-small-desctop {
      display: flex;
      gap: 137px;
    }
  }

  &__product {
    grid-column: 1 /-1;
  }

  @include on-tablet {
    grid-column: 2 /-2;
  }
}
