.expertises {
  box-sizing: border-box;
  background: #fff;
  border-radius: 30px;
}

.expertise {
  &__photo-container {
    margin-bottom: 32px;
  }

  &__photo {
    width: 166px;
    height: 100%;
    border-radius: 8px;

    transition: transform 0.3s;

    &:hover {
      transform: scale(110%);
    }
  }

  &__name {
    font-family: $fontTitles;
    font-weight: 600;
    font-size: 20px;
    line-height: 140%;

    text-align: center;

    color: #253757;
    margin-bottom: 16px;
  }

  &__description {
    width: 280px;
    font-size: 14px;
    line-height: 150%;

    text-align: center;

    color: #6c788b;
    margin: 0 auto 56px;
  }
}
