.expertise {
  width: 100%;
  background-color: #fff;
  border-radius: 30px;
  padding-top: 72px;
  padding-bottom: 56px;
  margin-bottom: $mb;

  @include onTablet {
    padding-top: 128px;
    padding-bottom: 134px;
    margin-bottom: 148px;
  }

  @include onDesktop {
    margin-bottom: 251px;
  }

  &__title {
    margin-bottom: 56px;

    @include onDesktop {
      margin-bottom: 64px;
    }
  }

  &__place {
    margin: 0 auto 56px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
