.expertise {
  text-align: center;

  &__photo {
    align-items: center;

    width: 166px;
    height: 166px;
    margin-bottom: 32px;
    border-radius: 16px;

    @include hover(transform, scale(1.2));
  }

  &__title {
    margin-bottom: 16px;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
  }

  &__explanation {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;

    @include on-tablet {
      justify-items: center;
      width: 362px;
      margin-inline: auto;
    }

    @include on-small-desktop {
      width: 214px;
    }

    @include on-the-design {
      width: 264px;
    }
  }
}
