.expertise {
  padding: 128px 0;
  background-color: #fff;

  @include onMobile {
    padding: 72px 0;
  }

  &__title {
    font-weight: 600;
    font-size: 52px;
    line-height: 150%;
    color: $title-color;
    text-align: center;
    margin-bottom: 64px;
  }

  &__options-container {
    display: flex;
    justify-content: space-between;

    @include onTablet {
      flex-direction: column;
    }
  }

  &__option {
    transition: all $trans-duration;

    &:hover {
      transform: scale(1.05);
      box-shadow: 5px 5px 7px 4px rgba(0,0,0,0.5);
    }
    &:not(:last-child) {
      @include onTablet {
        margin-bottom: 72px;
      }

      @include onMobile {
        margin-bottom: 72px;
      }
    }

  }
}
