.expertise {
  padding-block: 72px;
  background-color: $main-bg-color;
  border-radius: 30px;

  @include onTablet {
    padding-block: 128px;
  }

  &__cards {
    @include pageGrid;
    row-gap: 56px;

    @include onTablet {
      row-gap: 72px;
    }
  }

  &__category {
    text-align: center;
    grid-column: 1 / -1;

    @include onTablet {
      grid-column: 2 / 6;
    }

    @include onSmallDesktop {
      grid-column: span 4;
    }
  }

  &__tittle {
    text-align: center;
    color: $third-text-color;
    font-family: "Poppins", sans-serif;
    font-size: 44px;
    line-height: 120%;
    padding-bottom: 56px;

    @include onTablet {
      font-size: 52px;
      padding-bottom: 64px;
    }
  }
}
