.expertises {
  margin-bottom: 120px;

  @include on-tablet {
    margin-bottom: 148px;
  }
  &__content {
    background-color: $color-for-dark-bg;
    border-radius: $border-radius-for-img;
    padding-top: 72px;
    padding-bottom: 72px;

    @include content-padding-inline;

    @include on-tablet {
      padding-top: 128px;
      padding-bottom: 128px;
    }

    @include on-small-desktop {
      padding-bottom: 134px;
    }
  }
  &__title {
    font-family: Poppins, sans-serif;
    font-size: 44px;
    font-weight: 600;
    line-height: 52.8px;
    text-align: center;
    color: $color-for-light-bg;
    margin: 0;
  }

  &__products {
    display: flex;
    flex-direction: column;
    text-align: center;

    @include on-small-desktop {
      flex-direction: row;
      gap: 137px;
    }

    @include on-desktop {
      gap: 177px;
    }
  }
}
