.expertise__card {
  text-align: center;
  transition: transform 0.3s;

  @include onTablet {
    max-width: 362px;
  }

  @include onSmallDesktop {
    max-width: 214px;
  }

  @include onDesktop {
    max-width: 264px;
  }

  &-img {
    @include square ($size-expertise-photo);
    border-radius: 15px;
    transition: all 0.3s;

    &:hover {
      transform: scale(1.05);
      box-shadow: 0 0 20px $c-light-grey;
    }
  }

  &-title {
    padding: 32px 0 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 140%;
    color: $c-dark-blue;

    @include onSmallDesktop {
      padding-top: 40px;
    }
  }
}
