.experience {
  &__title {
    font-weight: 600;
    font-size: 44px;
    line-height: 53px;
    color: $colorTextDark;
    text-align: center;

    margin: 0 0 56px;

    @include onDesktop600 {
      font-size: 52px;
      line-height: 78px;

      margin-bottom: 64px;
    }
  }

  &__item {
    margin-bottom: 56px;

    &:last-child {
      margin-bottom: 0;
    }

    @include onDesktop1024 {
      margin-bottom: 0;
    }
  }
}

.experience-block {
  &__photo-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 24px;

    margin-bottom: 32px;
    transition: transform 0.3s;

    @include onDesktop1024 {
      margin-bottom: 40px;
    }

    &:hover {
      transform: scale(1.05);
    }
  }

  &__photo {
    width: 100%;
    grid-column: 2 / 4;

    border-radius: 20px;
  }

  &__name {
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: $colorTextDark;

    margin: 0 0 16px;
  }

  &__desсription {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;

    color: $colorTextGrey;
    margin: 0;
  }
}

.link {
  text-decoration: none;
  color: $colorTextDark;
}
