@import "../utils";


.experience {
  padding: 0 20px;
  text-align: center;
  margin-top: 130px;
  padding-bottom: 72px;
  background-color: rgb(255, 255, 255);
  border-radius: 30px;

  &__container,
  &__main {
    @include column-flex;

    gap: 56px;
  }

  &__item,
  &__item-text {
    @include column-flex;
  }

  &__item {
    gap: 32px;
    align-items: center;
  }

  &__item-text {
    gap: 16px;
  }

  &__title {
    color: $title-gray;
    font-size: 44px;
    font-weight: 600;
    line-height: 120%;
    padding-top: 72px;
  }

  &__item-title {
    color: $title-gray;
    font-size: 20px;
    font-weight: 600;
    line-height: 140%;
  }

  &__item-subtitle {
    color: $text-gray;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 150%;
    max-width: 362px;
  }

  &__image {
    border-radius: 30px;
    height: 166px;
    width: 184px;
  }
}
