.expertise {
  background-color: white;
  border-radius: 30px;

  &__wrapper-main {
    padding-block: 72px;

    @include on-tablet {
      padding-block: 128px;
    }
  }

  &__title {
    font-family: Poppins, sans-serif;
    font-size: 44px;
    font-weight: 600;
    line-height: 52.8px;
    text-align: center;
    color: $text-color-dark-gray;
  }

  &__wrapper-block {
    @include page-grid;

    grid-column: 1 / -1;
    row-gap: 56px;

    margin-top: 56px;

    display: flex;
    flex-direction: column;
    align-items: center;

    @include on-tablet {
      grid-column: 2 / -2;
      row-gap: 72px;
      margin-top: 64px;
    }

    @include on-small-desktop {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__card {
    grid-column: 1 / -1;
    box-sizing: border-box;
    max-width: 362px;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include hover(transform, scale(1.05));

    @include on-tablet {
      grid-column: 2 / -2;
    }

    @include on-small-desktop {
      max-width: 214px;
    }

    &-title {
      font-family: Poppins, sans-serif;
      font-size: 20px;
      font-weight: 600;
      line-height: 28px;
      text-align: center;

      color: $text-color-dark-gray;

      margin-block: 32px 16px;
    }

    &-description {
      font-family: 'Open Sans', sans-serif;
      font-size: 14px;
      font-weight: 400;
      line-height: 21px;
      text-align: center;

      color: $text-color-gray;
    }
  }

  &__image {
    width: 166px;
    height: 166px;
    object-fit: cover;
  }
}
