.favor {
  box-sizing: border-box;
  background-color:  $white-color;
  padding-block: 32px 41px;
  padding-left: 32px;
  border-radius: 16px;

  @include hover(border-radius, 80px);



  @include on-tablet {
    &--translateY {
      transform: translateY(-50%);
    }
  }

  &--number-1 {
    margin-bottom: 24px;

    @include on-tablet {
      grid-column: 1/4;
      margin-bottom: 0;
    }

    @include on-desktop {
      grid-column: 7/10;
    }
  }

  &--number-2 {
    margin-bottom: 24px;

    @include on-tablet {
      margin-bottom: 0;
      grid-column: 4/7;
    }

    @include on-desktop {
      grid-column: 10/-1;
    }
  }

  &--number-3 {
    margin-bottom: 24px;

    @include on-tablet {
      grid-column: 1/4;
      margin-bottom: 0;
    }

    @include on-desktop {
      grid-column: 7/10;
    }
  }

  &--number-4 {
    @include on-tablet {
      grid-column: 4/7;
    }

    @include on-desktop {
      grid-column: 10/-1;
    }
  }

  &__number {
    text-align: center;
    width: 46px;
    height: 24px;
    line-height: 24px;
    border-radius: 20px;
    background-color: $general-background-color;
    color: $blue-color;
    margin-bottom: 24px;
    font-size: 13px;
  }

  &__links {
    display: flex;
    align-items: center;
    gap: 16px;

    &--img {
      display: block;
      background-color: $blue-color;
      width: 40px;
      height: 40px;
      border-radius: 40px;
      background-image: url(../images/services/arrow-forward.svg);
      background-repeat: no-repeat;
      block-size: cover;
      background-position: center;

      @include hover(transform, scale(1.2));
    }

    &--text {
      text-decoration: none;

      @include hover(transform, scale(1.2));
    }
  }
}
