.feature {
  display: none;

  @include onMiddle {
    position: relative;

    z-index: -1;

    display: block;

    width: 100%;
    padding: 100px 50px;

    background-color: $c-pink;
    border-radius: 200px 0 0 200px;
  }

  @include onTablet {
    position: absolute;
    right: 0;
    bottom: 0;

    z-index: -1;

    display: block;

    padding: 100px 50px;
    border-radius: 200px 0 0 200px;

    width: 80%;

    background-color: $c-pink;
  }

  @include onDesktop {
    padding: 100px;
  }

  &__card {
    display: flex;
    gap: 32px;

    margin-bottom: 64px;
  }

  &__title {
    margin-bottom: 32px;

    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;

    color: $c-white;
  }

  &__approach {
    margin-bottom: 16px;

    font-family: Poppins, sans-serif;
    font-weight: bold;
    font-size: 13px;
    line-height: 19px;

    letter-spacing: 3px;
    text-transform: uppercase;
    color: $c-white;
  }

  &__text {
    width: 364px;

    font-family: Open Sans, sans-serif;
    font-size: 15px;
    line-height: 22px;

    color: $c-white;
  }

  &__image-1 {
    @include onMiddle {
      position: absolute;
      right: 0;
      bottom: 0;

      z-index: -1;

      width: 260px;
      height: 680px;

      object-fit: cover;

      border-radius: 200px 0 0;
    }

    @media (min-width: 800px) {
      width: 400px;
      height: 680px;
    }

    @include onTablet {
      width: 400px;
      height: 680px;
    }

    @include onDesktop {
      width: 680px;
      height: 680px;
    }
  }
}
