.feedback-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 0px 9px 18px rgba(37, 41, 49, 0.03);

  &:last-child {
    margin-bottom: 0;
  }

  &__photo-container {
    position: relative;
    margin-bottom: 70px;
  
    display: flex;
    justify-content: center;
  }
    
  &__person {
    z-index: 1;

    width: 100%;
    border-radius: 50%;

    @include onTablet {
      width: 140px;
      height: 140px;
    }

    @include onDesktop {
      width: 110px;
      height: 110px;
    }
  }

  &__quotes {
    margin-bottom: 10px;
    height: 20px;

    @include onTablet {
      margin-bottom: 18px;
    }

    @include onDesktop {
      margin-bottom: 10px;
    }
  }

  &__paragraph {
    margin-bottom: 16px;
  
    font-size: 13px;
    line-height: $main-lh;
    font-weight: $font-weight-2nd;
    color: $main-p-color;

    @include onTablet {
      padding: 0 100px;
    }

    @include onDesktop {
      margin-bottom: 16px;

      padding: 0;
      width: 196px;
    }
  }

  &:nth-child(2n) p {
    @include onDesktop {
      margin-bottom: 32px;
    }
  }

  &__person-name {
    margin-bottom: 4px;
  
    font-family: 'Open Sans';
    font-size: 13px;
    line-height: $main-lh;
    font-weight: $font-weight-2nd;
    color: $main-h-color;
  }
}
