.feedback {
  @include standard-inline-paddings;

  grid-column: 1 / -1;

  &__title {
    margin-bottom: 48px;
    font-family: Poppins, sans-serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 41.6px;
    text-align: left;
  }

  &__input {
    width: 100%;
    height: 41px;
    margin-bottom: 40px;
    border: none;
    border-bottom: 1px #fff solid;
    font-family: Poppins, sans-serif;
    font-size: 15px;
    font-weight: 600;
    line-height: 22.5px;
    text-align: left;

    &:last-child {
      margin-bottom: 56px;
    }
  }

  &__submit {
    width: 100%;
    height: 56px;
    background-color: #144ed4;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-family: Poppins, sans-serif;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    line-height: 56px;
  }
}
