.wrap {
  background-color: #fff;
}

.feedback {
  padding: 72px 20px 80px;
  background-color: #2c2c2c;
  border-radius: 30px 30px 0 0;

  @include on640 {
    padding: 180px 40px 140px;
  }

  @include on1024 {
    padding: 180px 54px 120px;
  }

  &__container {
    display: grid;
    gap: 80px;
    margin: 0 auto;
    max-width: 1146px;
    min-width: 280px;

    @include on640 {
      gap: 120px;
    }

    @include on1024 {
      grid-template-columns: repeat(12, 1fr);
      gap: 30px;
    }
  }

  &__form-block {

    @include on1024 {
      grid-column: 1 / 6;
    }
  }
  
  &__subtitle {
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 42px;
    color: #fff;

    @include on640 {
      line-height: 48px;
    }
  }

  &__form {
    margin-top: 48px;

    @include on640 {
      margin-top: 56px;
    }
  }

  &__form-field {
    box-sizing: border-box;
    display: block;
    padding-bottom: 18px;
    width: 100%;
    height: 41px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    color: #fff;
    border: 2px solid transparent;
    border-bottom: 2px solid #fff;
    background-color: #2c2c2c;
    overflow: hidden;
    resize: none;
    transition: 0.4s;

    &::placeholder {
      font-family: "Poppins", sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 15px;
      line-height: 22px;
      color: #fff;
      opacity: 0.7;
    }

    &:hover {
      border-bottom: 2px solid aqua;
    }

    &:focus {
      border-bottom: 2px solid #144ed4;
      outline: none;
    }

    &:not(:first-child) {
      margin-top: 40px;

      @include on640 {
        margin-top: 48px;
      }
    }
  }

  &__button {
    display: block;
    box-sizing: border-box;
    margin: 56px auto 0;
    width: 280px;
    height: 56px;
    background-color: #144ed5;
    border-color: #144ed5;
    border-radius: 8px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    color: #fff;
    cursor: pointer;
    transition: 0.4s;

    &:hover {
      background-color: aqua;
      border-color: aqua;
    }

    @include on640 {
      margin: 80px 0 0;
      width: 264px;
    }
  }

  &__contacts {
    margin-top: 48px;

    @include on640 {
      margin-top: 56px;
    }
  }

  &__contacts-block {

    @include on1024 {
      grid-column: 8 / 13;
    }
  }

  &__contact {

    &:not(:first-child) {
      margin-top: 40px;

      @include on640 {
        margin-top: 48px;
      }
    }
  }

  &__contact-title {
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #fff;
    opacity: 0.5;
  }

  &__contact-link {
    margin-top: 8px;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #fff;
    text-decoration: none;
  }

  &__social-links {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
    height: 32px;
    width: 156px;
  }

  &__social-logo {
    height: 100%;
    transition: 0.4s;
    
    &:hover {
      fill: #2060f6;
    }
  }
}
