.flex__menu {
  display: flex;
  gap: 167px;
  flex-shrink: 2;
  height: 0;
  justify-content: center;
  align-items: center;

  @include Tablet {
    gap: 389px;
  }

  @include iPad {
    gap: 571px;
  }

  @include smallDesktop {
    gap: 0;
  }
}
