.font {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: $g-color-paragraph;

  &--style--primary-text {
    font-size: 22px;
    font-weight: 600;

    @include md-device {
      font-size: 24px;
    }
  }

  &--style--second-text {
    font-size: 13px;
    font-weight: 600;
  }
}
