.footer {
  background-color: $fooder-bg-color;

  &__container {
    display: flex;
    flex-direction: column;
    margin-bottom: 80px;

    @include onDesktop {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 84px;
    }
  }

  &__logo {
    margin-bottom: 50px;

    @include onTablet {
      margin-bottom: 25px;
    }

    @include onDesktop {
      margin-bottom: 0;
    }
  }

  &__menu-list {
    flex-direction: column;
    gap: 24px;

    @include onTablet {
      flex-direction: row;
      gap: 0;
      justify-content: space-between;
    }

    @include onDesktop {
      gap: 64px;
      justify-content: space-between;
    }
  }
}
