.footer {
  padding-block: 80px;
  background: $black-bg;

  &__content {
    @include page-grid;
  }

  &__title {
    @include short-base-grid-content;

    @include on-big-tablet {
      grid-column: span 5;
    }

    margin-bottom: 50px;
  }

  &__contact-title {
    @include short-base-grid-content;

    margin-bottom: 56px;

    @include on-big-tablet {
      grid-column: 7 / 13;
    }
  }

  &__info {
    @include short-base-grid-content;

    @include on-big-tablet {
      grid-column: 7 / 13;
    }
  }

  &__call {
    margin-bottom: 50px;
  }

  &__call-text {
    margin-bottom: 8px;
  }

  &__call-link {
    @include link-line-style;
  }

  &__address {
    @include short-base-grid-content;

    margin-bottom: 50px;

    @include on-big-tablet {
      grid-column: 7 / 13;
    }
  }

  &__visit-text {
    margin-bottom: 8px;
  }

  &__address-link {
    @include link-line-style;
  }

  &__social {
    @include short-base-grid-content;

    @include on-big-tablet {
      grid-column: 7 / 13;
    }
  }

  &__social-text {
    @include short-base-grid-content;

    margin-bottom: 8px;
  }

  &__social-links {
    display: flex;
    gap: 32px;
    margin-bottom: 140px;
  }

  &__logo {
    grid-column: span 2;

    margin-bottom: 50px;
  }

  &__nav {
    @include short-base-grid-content;

    @include on-big-tablet {
      justify-self: end;
      grid-column: 4 / 13;
    }

    @include on-desktop {
      grid-column: 8 / 13;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 24px;

    @include on-tablet {
      flex-direction: row;
      gap: 40px;
    }
  }

  &__link {
    @include link-line-style;
  }
}
