.footer {
  background-color: #2C2C2C;
  border-radius: 15px 15px 0 0;
  padding: 80px 0 30px;

  @include onTab {
    padding: 130xp 0;
  }

  @include onDesktop {
    padding: 180px 0 30px;
  }

  &__info {
    max-width: 460px;
    margin: 0 auto;
    margin-bottom: 120px;

  }

  

  &__field {
    margin-bottom: 48px;
  }

}