.footer {
  background-color: $bc-black;
  padding-bottom: 80px;

  &__logo {
    margin-bottom: 25px;
  }

  &__list {
    @include onTablet {
      display: flex;
      justify-content: start;
      align-items: center;
      flex: wrap;
      gap: 48px;
    }
  }
  
  &__item {
    margin-bottom: 24px;
  }
}
