.footer-top-container {
  @include tablet {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;
    width: 916px;
    margin: 0 auto;
  }

  @include theDesign {
    width: 1146px;
    gap: 30px;
  }

  &__form {
    grid-column: 1 / 6;
  }

  &__contact-us {
    grid-column: 7 / 12;

    @include theDesign {
      grid-column: 8 / 12;
    }
  }
}
