.footer-bottom {
  background: #2c2c2c;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  padding: 72px 0;

  &__title {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 150%;
    color: #fff;
  }

  &__box {
    margin-bottom: 80px;

    @include onTablet {
      margin-bottom: 140px;
    }

    @include onSmallDesktop {
      margin-bottom: 120px;
    }

    @include onTablet {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      column-gap: 30px;
    }

    @include onSmallDesktop {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      column-gap: 20px;
    }

    @include onDesktop1600 {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      column-gap: 30px;
    }

    &--send-us {
      @include onTablet {
        grid-column: 1/5;
      }

      @include onSmallDesktop {
        grid-column: 1/6;
      }
    }

    &--contact-us {
      @include onTablet {
        grid-column: 1/5;
      }
      
      @include onSmallDesktop {
        grid-column: 7/13;
      }

      @include onDesktop1600 {
        grid-column: 8/13;
      }
    }
  }
}
