.form-field {
  box-sizing: border-box;
  display: block;

  padding: 5px 5px 16px;

  width: 100%;

  font-family: 'Poppins', sans-serif;
  border: none;
  background-color: $colorHeader;
  border-bottom: 1px solid #fff;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  color: #fff;
  cursor: pointer;

  transition: all $transition;
  outline: none;

  &::placeholder {
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    color: #fff;
    opacity: 0.7;
  }

  &:hover {
    border-bottom: 2px solid #144ed4;
    ;
  }
}
