.form-field {
  box-sizing: border-box;
  display: block;
  width: 100%;

  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  color: #fff;

  &::placeholder {
    opacity: 0.7;
  }

  &__title {
    font-size: 32px;
    line-height: 150%;

    padding-bottom: 48px;

    @include onTablet {
      padding-bottom: 56px;
    }
  }

  &__content {
    padding: 0 0 40px;

    &:last-child {
      padding-bottom: 56px;
    }

    @include onTablet {
      padding-bottom: 48px;

      &:last-child {
        padding-bottom: 80px;
      }
    }
  }

  &__info {
    box-sizing: border-box;
    background: transparent;
    border: none;
    padding-bottom: 16px;
    border-bottom: 1px solid #fff;
    outline: none;

    &:hover {
      border-bottom: 2px solid #144ed4;
    }
  }

  &--textarea {
    resize: none;
    padding: 0;
  }
}
