.form-field {
  transition: all $animation-speed linear;
  background: transparent;
  display: block;
  font-size: 15px;
  color: #fff;
  font-weight: 600;
  border: none;
  border-bottom: 1px solid #fff;
  padding: 0 0 17px;
  outline: none;
  font-family: "Poppins", sans-serif;

  &::placeholder {
    opacity: 0.7;
  }

  &:focus {
    border-color: $c-blue;
    border-width: 2px;
  }

  &:-webkit-autofill,
  &:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
  }

  @supports (-webkit-appearance: none) or (-moz-appearance: none) {
    & {
      -webkit-transition: all $animation-speed linear;
      -moz-transition: all $animation-speed linear;
      transition: all $animation-speed linear;
      -webkit-background: transparent;
      -moz-background: transparent;
      background: transparent;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
    }

    &::-webkit-input-placeholder {
      opacity: 0.7;
    }

    &::-moz-placeholder {
      opacity: 0.7;
    }

    &::-ms-input-placeholder {
      opacity: 0.7;
    }
  }
}
