.form {
  &__item {
    @extend %poppins-600;

    height: 41px;
    width: 100%;
    box-sizing: border-box;
    border: none;
    outline: none;
    background-color: transparent;
    border-bottom: 1px solid white;
    color: white;
    padding-bottom: 17px;
    font-size: 15px;
    line-height: 1;
    transition: border-bottom 0.3s;

    &::placeholder {
      color: #969696;
    }

    &:focus,
    &:hover {
      border-bottom: 1px solid #144ed4;
    }

    &:-webkit-autofill {
      -webkit-text-fill-color: white;
      transition: background-color 5000s ease-in-out 0s;
    }
  }

  &__input {
    margin-bottom: 48px;

    @include r320 {
      margin-bottom: 40px;
    }
  }

  &__message {
    margin-bottom: 80px;
    resize: none;

    @include r320 {
      margin-bottom: 56px;
    }
  }

  &__button {
    @extend %button;

    padding: 16px 112px;

    &:hover {
      @extend %button-hover;
    }
  }
}
