input:-webkit-autofill {
  -webkit-text-fill-color: $white-color;
  border: 0 solid transparent;
  box-shadow: 0 0 0 1000px $background-dark inset;
  transition: border-bottom-color 0.3s, border-bottom-width 0.3s;
}
