.form {

  &__field {
    display: block;
    width: 100%;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #fff;
    padding-bottom: 16px;
    margin-bottom: 48px;
    transition: border-color 0.3s;
    color: white;
    @extend %buttonText;
    text-align: left;

    &-textarea {
      resize: none;
      height: 22px;
    }

    &:focus {
      outline: none;
      border-color: $primaryColorHover;
    }

    &::placeholder {
      @extend %buttonText;
      text-align: left;
      opacity: 0.7;
      color: white;
    }
  }
}
