.form {
  &__fields {
    display: flex;
    flex-direction: column;
    gap: 40px;

    margin-bottom: 56px;

    @include onTablet {
      gap: 48px;

      margin-bottom: 80px;
    }
  }

  &__field {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;

    font-family: $titleFont;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;

    color: #fff;
    padding-bottom: 16px;

    transition: border 0.3s;

    &::placeholder {
      font-family: $titleFont;
      font-weight: 600;
      font-size: 15px;
      line-height: 22px;

      color: #fff;
      opacity: 0.7;
    }

    &:focus {
      border-bottom: 2px solid $darkBlueColor;
    }
  }

  &__button {
    height: 56px;
    line-height: 56px;
    background-color: $darkBlueColor;
    border: none;
    cursor: pointer;

    &:hover {
      color: #f0ffff;
      background-color: #091ac2;
    }

    &:active {
      color: #f0ffff;
      background-color: #091ac2;
      box-shadow: 0.5px 1.5px 5px #091ac2;
    }
  }
}
