.gallery {
  max-width: 362px;
  display: block;

  @include onDesktop {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 177px;
    width: max-content;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 264px;

    margin: 0 0 56px;

    &:last-child {
      margin: 0;
    }

    @include onDesktop {
      margin: 0;
    }
  }

  &__photo {
    object-fit: cover;
    object-position: center;
    width: 184px;
    height: 166px;
    border-radius: 20px;
    transition: all 0.3s;

    margin: 0 0 32px;

    @include onDesktop {
      margin: 0 0 40px;
    }

    &:hover {
      transform: scale(1.1);
    }
  }

  &__subtitle {
    margin: 0 0 16px;

    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 140%;
    text-align: center;
    color: $darkGreyColor;
  }

  &__text {
    margin: 0;

    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    text-align: center;

    color: $greyColor;

    @include onDesktop {
      margin: 0;
    }
  }
}
