.gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 362px;

  @include onDesktop {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: start;
    gap: 177px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 280px;
    margin: 0 0 56px;
    transition: transform $transition-duration;

    &:last-child {
      margin: 0;
    }

    @include onDesktop {
      margin: 0;
    }

    &:hover {
      cursor: pointer;
      box-shadow: 0 0 20px #d2691e;
      border-radius: 20px;
    }
  }

  &__photo {
    object-fit: cover;
    object-position: center;
    width: 184px;
    height: 166px;
    border-radius: 20px;
    margin: 0 0 32px;

    @include onDesktop {
      margin: 0 0 40px;
    }
  }

  &__subtitle {
    margin: 0 0 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 140%;
    text-align: center;
    color: #253757;
  }

  &__text {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    color: #6c788b;
  }
}
