.container-flex {
  max-width: ($containerWidth + $containerPadding) + px;
  width: 100%;
  margin: 0 auto;
  padding: 0 $containerSidePadding + px;

  @include large-desktop {
    max-width: 1200px;
  }

  @include screen {
    max-width: 1200px;
  }

  @include small-desktop {
    max-width: 918px;
  }

  @include tablet {
    max-width: 560px;
  }
}
