* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: normal;
  background-color: $backgroundColor;
  color: $textMainColor;
}

h1,
h2,
h3,
h4,
p,
ul {
  margin: 0;
}
