.header {
  background-color: $black;
  padding: 0;
  
  &__content {
    @include top-actions;
  }

  &__link {
    text-decoration: none;
    font-weight: 700;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 3px;
    text-transform: uppercase;
    padding-bottom: 8px;
    border-bottom: 2px solid $blue;

    color: $white;
  }
}
