.header {
  position: relative;
  background-color: $color-6;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  z-index: 1;

  &__nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 50px;

    @include onTablet {
      padding: 20px 41px 58px;
    }

    @include onDesktop {
      padding: 50px 54px 38px;
    }

    @include onDesign {
      padding: 50px 227px 38px;
    }

    @include Large {
      padding: 50px 707px 38px;
    }
  }

  &__nav-block {
    display: flex;
    align-items: center;
    gap: 36px;
  }

  &__nav-opener {
    display: block;
    background-image: url(../images/burger.svg);
    background-size: cover;
    background-position: center;
    width: 18px;
    height: 8px;

    @include onDesktop {
      display: none;
    }
  }

  &__menu {
    @include onDesktop {
      display: inherit;
      align-items: center;
    }
  }

  &__hire-us {
    font-weight: 700;
    font-size: 13px;
    line-height: 150%;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: $color-1;
    text-decoration: none;
    @include hover(transform, scale(1.2));

    &::after {
      content: "";
      display: block;
      height: 2px;
      background-color: $colorBlue;
      border-radius: 4px;
      margin-top: 8px;
    }
  }

  &__desktop {
    @include onDesktop {
      display: flex;
      justify-content: space-between;
    }
  }

  &__content {
    padding: 0 20px;

    @include onTablet {
      padding: 0 41px;
    }

    @include onDesktop {
      padding: 160px 0 194px 54px;
    }

    @include onDesign {
      padding: 165px 196px 188px 227px;
    }

    @include Large {
      padding: 165px 196px 188px 707px;
    }
  }

  &__title {
    font-weight: 600;
    font-size: 52px;
    line-height: 120%;
    letter-spacing: -2px;
    color: $color-1;
    width: 280px;
    margin-bottom: 32px;

    @include onTablet {
      font-size: 64px;
      line-height: 68px;
      width: 558px;
      margin-bottom: 24px;
    }

    @include onDesktop {
      width: 490px;
    }
  }

  &__text {
    font-family: $fonts-2;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: $color-1;
    width: 280px;
    margin-bottom: 72px;

    @include onTablet {
      width: 362px;
      margin-bottom: 56px;
    }
  }

  &__button {
    margin-bottom: 48px;

    @include onTablet {
      margin-bottom: 147px;
    }

    @include onDesktop {
      margin: 0;
    }
  }
}
