.header-top {
  // display: flex;
  // justify-content: space-between;
  // align-items: center;

  &__leftside {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include onDesktop {
      margin-right: 114px;
    }
  }

  &__nav {
    display: none;

    @include onDesktop {
      display: block;
    }
  }

  &__hire-us {
    position: relative;

    display: none;

    font-weight: 700;
    font-size: 13px;
    line-height: 150%;
    letter-spacing: 3px;
    text-transform: uppercase;

    transition: transform 0.3s ease-in-out;

    @include onDesktop {
      display: block;
    }

    &:hover {
      transform: scale(1.05);
    }

    &::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;

      display: block;
      margin-top: 8px;
      height: 2px;
      background-color: $c-blue;
    }
  }

  &__open-menu {
    @include onDesktop {
      display: none;
    }
  }
}
