.header-hero {
  position: relative;

  @include onSmallDesktop {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 680px;
    width: 502px;
  }

  @include onDesktop {
    width: 687px;
  }

  @include largeScreens {
    width: 1167px;
  }

  &__container {
    position: relative;
  }

  &__image {
    margin-bottom: -8px;
    width: 100%;
    height: 390px;
    object-fit: cover;
    border-radius: 30px;

    @include onSmallDesktop {
      margin-bottom: 0;
      height: 680px;
      border-top-right-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  &__button {
    width: 32px;
    height: 32px;
  }

  &__content {
    position: absolute;
    bottom: 0;
    left: 20px;

    @include onTablet {
      left: 41px;
    }

    @include onSmallDesktop {
      left: 78px;
      display: flex;
      align-items: center;
      gap: 24px;
      padding-bottom: 48px;
    }

    @include onDesktop {
      left: 48px;
    }
  }

  &__sliders {
    display: flex;
    gap: 16px;
  }

  &__title {
    padding-block: 16px 8px;
    color: $c-main-text-color;
    font-family: "Poppins", sans-serif;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 3px;
    text-transform: uppercase;

    @include onSmallDesktop {
      padding-block: 0 8px;
    }
  }

  &__description {
    width: 280px;
    padding-bottom: 24px;

    color: $c-main-text-color;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 140%;

    @include onSmallDesktop {
      padding-bottom: 0;
    }
  }
}
