.header {
  &__content {
    padding-top: 20px;

    @include onSmallDesktop {
      padding-top: 50px;
      @include pageGrid;
    }
  }

  &__top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;

    @include onTablet {
      margin-bottom: 60px;
    }

    @include onSmallDesktop {
      grid-column: 1 / -1;
      margin-bottom: 50px;
    }
  }

  &__top-nav {
    display: flex;
    column-gap: 30px;

    @include onTablet {
      column-gap: 35px;
    }
  }

  &__nav {
    display: none;

    @include onSmallDesktop {
      display: block;
    }
  }

  &__middle {
    @include onSmallDesktop {
      grid-column: 1 / 6;
      margin-top: 120px;
    }

    @include onDesign {
      grid-column: 1 / 5;

    }
  }

  &__title {
    margin: 0;
    margin-bottom: 30px;

    @include onTablet {
      margin-bottom: 25px;
    }

    @include onSmallDesktop {
      margin-bottom: 30px;
    }
  }

  &__subtitle {
    margin: 0;
    margin-bottom: 70px;

    @include onTablet {
      margin-bottom: 55px;
    }

    @include onSmallDesktop {
      margin-bottom: 85px;
    }
  }

  &__link-learn {
    display: flex;
    justify-content: center;
    align-items: center;

    @include onTablet {
      margin-bottom: 150px;
    }
  }

  &__arrow {
    display: flex;
    gap: 16px;
    margin-bottom: 16px;

    @include onSmallDesktop {
      margin-bottom: 0;
    }

  }

  &__title-intro {
    margin: 0;
    margin-bottom: 8px;
  }

  &__subtitle-intro {
    margin: 0;
  }

  &__bottom-content {
    padding: 250px 20px 25px;

    @include onTablet {
      padding: 240px 40px 30px;
    }

    @include onSmallDesktop {
      padding: 564px 80px 50px;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 25px;
    }

    @include onDesign {
      padding-inline: 50px;
    }

    @include onLargeScreen {
      padding-top: 560px;
    }
  }
}
