.header {
  position: relative;

  background-color: $background-color-dark;
  border-radius: 0 0 30px 30px;
  padding-top: $header-padding-top-mobile;

  @include onSmallDesktop {
    padding-top: $header-padding-top-desktop;
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;

    @include onTablet {
      margin-bottom: 57px;
    }

    @include onSmallDesktop {
      margin-bottom: 48px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    height: $slider-height-desktop;

    @include onSmallDesktop {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__info {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__title {
    margin-bottom: 32px;

    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 52px;
    line-height: 62px;
    letter-spacing: -2px;
    color: #fff;

    @include onTablet {
      margin-bottom: 24px;

      font-size: 64px;
      line-height: 68px;
    }

    @include onSmallDesktop {
      margin-bottom: 32px;
      width: 362px;
    }
  }

  &__subtitile {
    max-width: 362px;
    font-size: 18px;
    line-height: 27px;
    color: #fff;
    margin-bottom: 72px;

    @include onTablet {
      margin-bottom: 56px;
    }
  }

  &__button {
    width: 100%;
    margin-bottom: 48px;

    @include onTablet {
      width: 264px;
      margin-bottom: 147px;
    }

    @include onSmallDesktop {
      margin-bottom: 0;
    }
  }

  &__slider {
    display: flex;
    flex-direction: column;
    justify-content: end;
    overflow: hidden;
    padding: 0 0 24px 20px;
    margin: 0 -20px;

    @include onTablet {
      padding: 0 0 32px 41px;
      margin: 0 -41px;
    }

    @include onSmallDesktop {
      padding: 0 0 48px 78px;
      margin: 0 -78px;
    }
  }
}
