.hiddenmenu {
  background-color: $black-basic;

  &__content {
    box-sizing: border-box;
    height: 100vh;
    padding: 40px 20px;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 50px;
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__item {
    margin: 0 0 24px;
  }

  &__link {
    display: inline-block;
    text-decoration: none;
    color: $white-basic;

    transition: all 0.3s;
  
    &:visited {
      color: $white-basic;
    }
    
    &:hover {
      transform: scale(1.03);
    }
  }
}
