.hire-us-logo {

  &__title {
    position: relative;
    @extend %menuText;

    &:after {
      content: "";
      position: absolute;
      bottom: -8px;
      left: 0;
      right: 3px;
      height: 2px;
      background-color: $blue;
    }
  }
}
