.hire-us {
  &__button {
    position: relative;
    text-decoration: none;
    color: #fff;
    font-family: Poppins, sans-serif;
    font-size: 13px;
    font-weight: 700;
    line-height: 19.5px;
    letter-spacing: 3px;
    text-align: center;
    text-transform: uppercase;

    padding-bottom: 10px;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      right: 0;
      height: 2px;
      width: 100%;
      background-color: #2060f6;
    }
  }
}
