// header__hire-us
.hire-us {
  display: block;
  max-width: max-content;
  box-sizing: border-box;
  width: max-content;

  font-family: $fontTitles;
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 150%;

  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-decoration: none;

  color: #fff;
  padding: 8px 0;

  // &::after {
  //   content: "";
  //   display: block;
  //   width: 67px;
  //   height: 2px;
  //   background-color: #2060f6;
  //   box-sizing: border-box;

  //   margin-top: 8px;
  // }

  border: 2px solid transparent;
  border-bottom: 2px solid #2060f6;
  transition: all 0.3s;

  &:hover {
    text-shadow: -5px 5px 8px #fff;
  }

  &:active {
    color: #2060f6;
    text-shadow: -5px 3px 3px #0d2d77;
  }
}
