.hire {
  box-sizing: border-box;
  font-weight: bold;
  font-size: 13px;
  line-height: 19px;
  letter-spacing: 3px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  
  &::after {
    border-bottom: 2px solid #2060f6;
    content: "";
    display: block;
    margin-top: 8px;
  }
}
