.hire-us {
  display: flex;
  flex-direction: column;
  justify-self: end;

  padding-top: 8px;

  @include onDesktop {
    align-self: center;
  }

  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 13px;
  line-height: 150%;

  text-decoration: none;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: $c-white;

  &::after {
    content: "";
    width: 67px;
    height: 2px;
    margin-top: 8px;
    background-color: $c-accent-blue-dark-theme;
  }
}