.hire {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  background-image: url(../images/Shapes.png);
  background-position: center;
  background-size: 0;
  background-repeat: no-repeat;
  height: 700px;
  z-index: -1;
  overflow: hidden;

  @include OnLaptop {
    background-size: 130%;
  }

  @include AfterLaptop {
    height: 800px;
    background-size: auto;
  }

  &__content {
    margin: 0 auto;
    padding-top: 100px;
    max-width: 754px;

    @include AfterPhone {
      padding-top: 220px;
    }
  }

  &__title {
    font-family: "Poppins-SemiBold", sans-serif;
    font-size: 44px;
    line-height: 120%;
    margin: 0 0 24px;
    text-align: center;
    color: $colorDarkBlue;

    @include AfterPhone {
      font-size: 52px;
    }
  }

  &__text {
    font-family: "OpenSans-SemiBold", sans-serif;
    font-size: 22px;
    line-height: 150%;
    margin: 0 0 56px;
    text-align: center;
    color: $colorGrey;

    @include AfterPhone {
      font-size: 24px;
      margin: 0 0 64px;
    }
  }

  &__button {
    @include button;

    height: 56px;
    margin: 0 auto;

    @include AfterPhone {
      width: 264px;
    }
  }

  &__bottom {
    width: 100%;
    height: 30px;
    background-color: $colorDarkGrey;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
  }
}
