@use "../utils/mixins" as *;

.hiring {
  padding-top: 199px;

  @include for-mobile {
    padding-top: 74px;
  }

  @include grid;

  &__background {
    background-color: #fff;

    box-shadow: 0 0 0 100vmax #fff;
    clip-path: inset(0 -100vmax);

    box-sizing: border-box;
    margin: 0 -100px;
    position: relative;
    overflow: hidden;

    background-image: url(./images/background/shapes.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    @include for-tablet {
      background-size: 150%;
    }

    @include for-mobile {
      background-image: none;
    }
  }

  &__block {
    grid-column: 3 / 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include for-desktop {
      grid-column: 2 / 12;
    }

    @include for-tablet {
      grid-column: 1 / -1;
    }

    @include for-mobile {
      grid-column: 1 / -1;
    }
  }

  &__title {
    margin-bottom: 24px;
    color: #253757;
    text-align: center;
    font-family: Poppins, sans-serif;
    font-size: 52px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 78px */

    @include for-tablet {
      line-height: 120%; /* 78px */
    }

    @include for-mobile {
      font-size: 44px;
      line-height: 120%;
    }
  }

  &__description {
    margin-bottom: 64px;
    color: #6c788b;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 36px */

    @include for-mobile {
      font-size: 22px;
    }
  }

  &__button {
    width: 264px;
    height: 56px;
    margin-bottom: 198px;
    line-height: 56px;


    @include for-mobile {
      margin-bottom: 192px;
      width: 280px;
    }
  }
}
