.human-card {
  box-sizing: border-box;
  width: 100%;
  height: 456px;
  padding: 75px 42px 0;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $white-color;
  transition: 0.3s;

  @include onTablet {
    padding: 87px 98px 32px;
  }

  @include onSmallDesktop {
    padding: 75px 48px 32px;

    &:hover {
      scale: 0.9;
      box-shadow: 2px 3px 11px 8px $secondary-bg;
    }
  }

  @include onMedDesktop {
    padding: 87px 56px 32px;
  }

  &__photo {
    width: 110px;
    border-radius: 50%;

    &--margin-bottom {
      margin-bottom: 70px;

      @include onTablet {
        width: 82px;
      }

      @include onSmallDesktop {
        width: 70px;
      }

      @include onMedDesktop {
        width: 82px;
      }
    }

    @include onTablet {
      width: 140px;
    }

    @include onSmallDesktop {
      width: 110px;
    }

    @include onMedDesktop {
      width: 140px;
    }
  }

  &__ava {
    display: flex;
    flex-direction: row;
  }

  &__bg {
    width: 110px;
    height: 45px;
    background-color: $secondary-bg;
    border-radius: 12px;
    margin: 0 auto;

    @include onTablet {
      width: 140px;
      height: 56px;
    }

    @include onSmallDesktop {
      width: 110px;
      height: 45px;
    }

    @include onMedDesktop {
      width: 140px;
      height: 56px;
    }

    &--up {
      transform: matrix(0.7, -0.88, 0.87, 0.5, 76, 3);

      @include onTablet {
        transform: matrix(0.7, -0.88, 0.87, 0.5, 96, 5);
      }

      @include onSmallDesktop {
        transform: matrix(0.7, -0.88, 0.87, 0.5, 76, 3);
      }

      @include onMedDesktop {
        transform: matrix(0.7, -0.88, 0.87, 0.5, 100, 5);
      }
    }

    &--down {
      transform: matrix(0.7, -0.88, 0.87, 0.5, -81, 69);

      @include onTablet {
        transform: matrix(0.7, -0.88, 0.87, 0.5, -105, 88);
      }

      @include onSmallDesktop {
        transform: matrix(0.7, -0.88, 0.87, 0.5, -78, 67);
      }

      @include onMedDesktop {
        transform: matrix(0.7, -0.88, 0.87, 0.5, -106, 85);
      }
    }
  }

  &__description {
    @extend %open-sans;
    @include text-decoration ($font-w-m, $font-s-xxs, $lh1, $s-dark-color);
    margin: 0;
    text-align: center;

    &::before {
      content: "";
      display: block;
      width: 21px;
      height: 19px;
      background-image: url(../images/testimonials/comma.svg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      margin-bottom: 11px;

      @include onTablet {
        margin-bottom: 18px;
      }

      @include onSmallDesktop {
        margin-bottom: 11px;
      }
    }
  }

  &__card-name {
    @extend %open-sans;
    @include text-decoration ($font-w-m, $font-s-xxs, $lh1, $dark-color);
    margin: 0;
    text-align: center;

    &--margins {
      margin: 32px 0 4px;

      @include onTablet {
        margin: 16px 0 4px;
      }

      @include onSmallDesktop {
        margin: 32px 0 4px;
      }

      @include onMedDesktop {
        margin: 16px 0 4px;
      }
    }
  }

  &__card-organization {
    @extend %poppins;
    @include text-decoration ($font-w-l, $font-s-xxs, $lh1, $t-dark-color);
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin: 0;
  }
}
