@use "../utils/vars" as *;
@use "../utils/extends" as *;
@use "../utils/mixins" as *;

.icon {

  &__menu {
    display: block;
    width: 18px;
    height: 8px;
    color: $white-background;
    background-image: url(src/images/menu-icon.png);

    @include onSmallDesktop {
      display: none;
    }
  }
}
