.icon {
  width: 24px;
  height: 24px;
  @include hover(transform, scale(1.2));

  &--menu {
    background-image: url(icons-images/Menu.svg);

    @include onDesktop {
      display: none;
    }
  }
}
