.logo {
  display: block;
  width: 46px;
  height: 28px;
  background-image: url(../images/logo/dia-logo.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  @include hover(transform, scale(1.2));
}

.fill {
  transition: fill 0.3s;
  fill: $color-white;

  &:hover {
    fill: $color-accent-footer;
  }
}

.icon {
  display: block;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @include hover(transform, scale(1.3));

  &--menu {
    background-image: url(../images/icons/menu.svg);
  }

  &--close {
    background-image: url(../images/icons/Icon-Close.svg);
  }

  &--size-32 {
    width: 32px;
    height: 32px;
  }
}

