.icon {

  width: 18px;
  height: 25px;

  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  &--menu-opener {
    margin-left: 36px;
    background-image: url(../images/menu-opener.png);

    @include onSmallDesktop {
      display: none;

    }
  }
}