.icon {
  display: block;
  width: 32px;
  height: 32px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &__close {
    width: 24px;
    height: 24px;
    background-image: url(../images/Icon-Close.svg);
  }

  &__menu {
    width: 24px;
    height: 24px;
    background-image: url(../images/iconMenu.svg);

    @include small-desktop {
      display: none;
    }
  }

  &__leftArrow {
    position: relative;
    top: 250px;
    left: 20px;
    cursor: pointer;
    background-image: url(../images/ArrowLeft.png);

    @include tablet {
      top: 242px;
      left: 41px;
    }

    @include small-desktop {
      top: 582px;
      left: 78px;
    }

    @include large-desktop {
      left: 48px;
    }
  }

  &__rightArrow {
    position: relative;
    top: 218px;
    left: 68px;
    cursor: pointer;
    background-image: url(../images/ArrowRight.png);

    @include tablet {
      top: 210px;
      left: 89px;
    }

    @include small-desktop {
      top: 550px;
      left: 126px;
    }

    @include large-desktop {
      left: 96px;
    }
  }
}
