.icon {
  display: block;
  width: 18px;
  height: 18px;
  margin-left: 35px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  @include onDesktop {
    width: 24px;
    height: 24px;
  }

  &--menu {
    display: block;
    width: 18px;
    height: 8px ;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../images/menu_dia.svg);

    &:hover {
      color: $c-white;
      height: 18px;
      background-size: cover;
      background-image: url(../images/menu_close.svg);
    }
  }
}
