.icon-menu {
  display: block;
  width: 18px;
  height: 8px;
  z-index: 2;

  @include onDesktop {
    display: none;
  }

  @include bg-center(center);
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.1);
  }

  &--open {
    background-image: url(../images/menu-icon.svg);
  }

  &--close {
    background-image: url(../images/cross.svg);
    height: 18px;
  }
}
