.icon {
  position: relative;
  width: 24px;
  height: 24px;
  grid-area: 1 / 1 / 1 / 1;

  @include on-tablet {
    grid-area: 1 / 2 / 1 / 2;
  }

  @media (min-width:320px) {
    justify-self: end;
  }

  @media (min-width:400px) {
    justify-self: center
  }

  @include on-big-tablet {
    display: none;
  }

  &--menu {
    background: url("../images/icons/menu.svg") center no-repeat;
    background-size: cover;
  }

  &--close {
    background: url("../images/icons/close.svg") center no-repeat;
    background-size: cover;
  }
}

.slick {
  &-arrow {
    width: 32px;
    height: 32px;
  }

  &-prev {
    background: url("../images/slider/slider-left.svg") center no-repeat;
    background-size: cover;
  }

  &-next {
    background: url("../images/slider/slider-right.svg") center no-repeat;
    background-size: cover;
  }
}

.footer {

  &__icon {
    width: 32px;
    height: 32px;
  }

  &__icon--facebook {
    background: url("../images/icons/facebook.svg") center;
    background-size: cover;

    &:hover {
      background: url("../images/icons/facebook-hover.svg");
    }
  }

  &__icon--twiter {
    background: url("../images/icons/twitter.svg") center;
    background-size: cover;

    &:hover {
      background: url("../images/icons/twitter-hover.svg");
    }
  }

  &__icon--instagram {
    background: url("../images/icons/instagram.svg") center;
    background-size: cover;

    &:hover {
      background: url("../images/icons/instagram-hover.svg");
    }
  }
}
