.image {
  width: 100%;
  background-position: center;
  background-size: cover;

  &__container {
    overflow: hidden;
    border-radius: 30px;
    background-color: $bg-color;

    @include on-small-desktop {
      width: calc(50vw - 21px);
      border-top-right-radius: 0;
      border-bottom-left-radius: 0;
    }

    @include on-desktop {
      width: calc(50vw - ($small-desktop-width / 12 + 38px));
    }
  }

  &--benefits {
    background-image: url(../images/expertise/expertise-image-1.png);
    border-radius: 16px;
    padding-bottom: 100%;

    &-2 {
      background-image: url(../images/expertise/expertise-image-2.png);
    }

    &-3 {
      background-image: url(../images/expertise/expertise-image-3.png);
    }
  }

  &--testimonials {
    position: relative;
    background-image: url(../images/testimonials/testimonial-ava--1.png);
    padding-bottom: 100%;
    border-radius: 50%;
    z-index: 2;

    &-2 {
      background-image: url(../images/testimonials/testimonial-ava--2.png);
    }

    &-3 {
      background-image: url(../images/testimonials/testimonial-ava--3.png);
    }
  }
}

.color-image {
  border-radius: 0;
  border-top-left-radius: 200px;
}
