@import "../utils/mixins";
@import "../utils/vars";

.image-container {
  height: 390px;
  width: 100%;

  @include onDesktop {
    height: 680px;
  }

  &__image {
    position: absolute;
    bottom: 0;
    background-size: cover;
    background-position: center;
    background-image: url(../images/intro/intro_dark.png);
    height: 390px;
    width: 100%;

    border-radius: 30px;

    @include onDesktop {
      background-size: cover;
      background-position: bottom 50px right 150px;
      top: 120px;
      height: 100%;

      border-top-right-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}

.image {
  @include onDesktop {
    display: flex;
  }

  &__icons {
    padding: 250px 20px 0;
    display: flex;
    gap: 16px;

    @include onTablet {
      padding: 242px 40px 0;
    }

    @include onDesktop {
      padding: 582px 0 0 78px;
    }
  }

  &__text {
    @include onDesktop {
      padding: 564px 0 0;
    }
  }

   &__title {
    margin-top: 16px;
    padding: 0 20px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 3px;

    @include onTablet {
      padding: 0 40px;
    }

    @include onDesktop {
      margin-top: 0;
      padding: 0 24px;
    }
   }

   &__subtitle {
    margin-top: 8px;
    padding: 0 20px;
    font-family: 'Open Sans', sans-serif;

    @include onTablet {
      padding: 0 40px;
    }

    @include onDesktop {
      padding: 0 24px;
    }
   }
}
