.info {
  @include flexbox (flex, column);
  gap: 72px;

  @include onTablet {
    gap: 56px;
  }

  @include onSmallDesktop {
    gap: 83px;
    width: 490px;
  }

  &__wrap {
    @include flexbox (flex, column);
    align-self: stretch;
    gap: 32px;

    @include onTablet {
      gap: 24px;
    }

    @include onTablet {
      gap: 32px;
    }
  }

  &__text {
    font-family: $second-family;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;

    color: $main-text-color;
  }
}
