.information {
  margin: 0 0 48px;

  width: 280px;

  @include onMobile {
    width: 264px;
    margin: 0 0 56px;

  }

  @include onTablet {
    width: 292px;
  }

  @include onLaptop {
    width: 362px;
  }

  &__section-title {
    margin: 0 0 16px;

    @include title5;
  }

  &__title {
    margin: 0 0 24px;

    @include title3;

    line-height: 130%;

    @include onTablet {
      br {
        display: none;
      }
    }
  }

  &__paragraph {
    margin: 0 auto 21px;

    &:last-child {
      margin-bottom: 0;
    }

    br {
      display: none;
    }

    @include onLaptop {
      br {
        display: block;
      }
    }

    @include paragraphCard;
  }
}
