.info-card {
  &__photo {
    margin-bottom: 32px;

    width: 166px;
    height: 166px;
    border-radius: $main-border-radius;
    transition: transform $main-transition-duration;

    @include onDesktop {
      &:hover {
        transform: $main-scale-ratio;
      }
    }
  }

  &__title {
    margin-bottom: 16px;

    font-size: 20px;
    line-height: 140%;
  }

  &__paragraph-container {
    margin: 0 auto;
    max-width: 280px;

    @include onTablet {
      max-width: 382px;
    }

    @include onDesktop {
      max-width: 214px;
    }

    @include onDesktop-plus-large {
      max-width: 264px;
    }
  }

  &__paragraph {
    font-size: 14px;
    line-height: $main-lh;
    color: $main-p-color;
  }
}
