.info {
  margin-top: 80px;

  @include on-tablet {
    margin-top: 120px;
  }

  @include on-small-desktop {
    margin-top: 0;
  }

  > *:not(:last-child) {
    margin-bottom: 40px;
  }

  @include on-tablet {
    > *:not(:last-child) {
      margin-bottom: 48px;
    }
  }

  &__content:first-child {
    margin-top: 48px;

    @include on-tablet {
      margin-top: 56px;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 13px;
    line-height: 19.5px;
    letter-spacing: 3px;
    color: #fff;
    opacity: 50%;
    margin: 0;
    text-transform: uppercase;
  }

  &__sub-title {
    font-family: 'Open Sans', serif;
    margin: 8px 0 0;
    font-weight: 600;
    font-size: 24px;
    color: #fff;
    line-height: 36px;
    text-decoration: none;
  }

  &__media {
    display: flex;
    column-gap: 32px;
    margin-top: 16px;
  }

  &__social-link {
    width: 32px;
    height: 32px;

    &--facebook {
      background-image: url(../images/icons/facebook.svg);
      background-repeat: no-repeat;
    }

    &--twitter {
      background-image: url(../images/icons/twitter.svg);
      background-repeat: no-repeat;
    }

    &--instagram {
      background-image: url(../images/icons/instagram.svg);
      background-repeat: no-repeat;
    }
  }
}
