.info {
  display: flex;
  flex-direction: column;
  gap: 8px;

  &__title {
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 150%;
    color: #fff;
  }

  &__subtitle {
    font-family: Poppins, sans-serif;
    font-weight: 700;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #fff;
    opacity: 0.5;
  }

  &__link {
    width: 280px;

    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    color: #fff;
  }
}

.socials {
  &__subtitle {
    margin-bottom: 20px;
  }

  &__link {
    display: flex;
    align-items: center;
    gap: 45px;
  }
}
