.input {
  font-family: inherit;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  color: $colorWight;
  border: none;
  background-color: $headerColor;
  outline: none;
  padding: 0 0 17px;

  &::placeholder {
    color: $colorWight;
    opacity: 0.7;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
  }
}
