.input {
  border-top: none;
  border-right: none;
  border-left: none;
  outline: none;

  border-bottom: 1px solid $white-color;

  font-family: inherit;
  font-size: 15px;
  font-weight: 600;
  line-height: 23px;

  background: inherit;
  color: $white-color;

  padding: 14px 0 14px 16px;

  &::placeholder {
    font-family: inherit;
    font-size: 15px;
    font-weight: 600;
    line-height: 23px;

    color: $grey-light-color;
  }

  &:focus {
    border-bottom: 1px solid $blue-dark-color;
  }
}
