.form {
  display: flex;
  flex-direction: column;
  font-family: Poppins, sans-serif;

  &__field {
    all: unset;
    width: 100%;
    font-weight: 600;
    font-size: 15px;
    resize: none;
    outline: none;
    border-bottom: $main-text-color-white solid 1px;
    background-color: transparent;
    padding-bottom: 16px;
    margin-bottom: 40px;

    @include on-tablet {
      margin-bottom: 48px;
    }

    &:active,
    &:focus {
      border-bottom: 2px solid $hover-blue-color;
    }

    &-message {
      resize: none;
      height: 26px;
      overflow: hidden;
      margin-bottom: 56px;

      @include on-tablet {
        margin-bottom: 80px;
      }
    }
  }

  &__button {
    all: unset;
    width: 100%;
    height: 56px;
    border-radius: 8px;
    background-color: $blue-color;

    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 15px;
    color: $main-text-color-white;
    text-align: center;

    cursor: pointer;

    @include on-tablet {
      width: 264px;
    }

    @include hover(transform, scale(1.2));
  }
}
