.input {
  background: none;
  border: none;
  outline: none;
  color: #fff;
  max-width: 460px;
  width: 100%;
  border-bottom: 2px solid #fff;
  padding-bottom: 16px;
  transition: 0.3s;

  &:hover {
    border-color: #144ed4;
  }
}
