.intro {
  &__title {
    font-weight: 600;
    line-height: 48px;
    text-align: center;
  }

  &__text {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    line-height: 33px;
    text-align: center;
    color: $c-gray-text;
  }

  @include on-mobile {
    grid-column: 1 / -1;
    height: 642px;

    &__title {
      font-size: 32px;
      margin-bottom: 24px;
      margin-top: 120px;
    }

    &__text {
      padding: 0 20px;
      font-size: 22px;
    }
  }

  @include on-tablet {
    grid-column: 1 / -1;

    height: 540px;

    &__title {
      font-size: 32px;
      margin-bottom: 16px;
      margin-top: 148px;
    }

    &__text {
      padding: 0 20px;
      font-size: 22px;
    }
  }

  @include on-desktop-s {
    grid-column: 2 / 12;

    height: 504px;

    &__title {
      font-size: 32px;
      margin-bottom: 16px;
      margin-top: 148px;
    }

    &__text {
      padding: 0 20px;
      font-size: 22px;
    }
  }

  @include on-desktop-m {
    grid-column: 3 / 10;

    height: 504px;

    &__title {
      font-size: 32px;
      margin-bottom: 16px;
      margin-top: 148px;
    }

    &__text {
      padding: 0 20px;
      font-size: 22px;
    }
  }

  @include on-desktop-l {
    grid-column: 3 / 10;

    height: 504px;

    &__title {
      font-size: 32px;
      margin-bottom: 16px;
      margin-top: 148px;
    }

    &__text {
      padding: 0 20px;
      font-size: 22px;
    }
  }
}
