.intro {
  text-align: center;
  padding: 120px 20px;

  @include above320 {
    padding: 148px 41px;
  }

  &__title {
    color: $c-navy;
    font-size: 32px;
    line-height: 150%;
    margin-bottom: 24px;

    @include above320 {
      margin-bottom: 16px;
    }
  }

  &__text {
    max-width: 754px;
    margin: 0 auto;
    color: $c-darkgray;
  }
}
