.intro {
  background-image: url(/src/images/slider/Intro-slide-2.jpg);
  background-size: cover;
  background-position: center;

  margin-top: 48px;
  margin-inline: -20px;
  width: calc(100% + 40px);
  border-top-left-radius: 200px;
  height: 390px;
  color: $title-text-color;

  grid-column: 1 / -1;

  @include on-tablet {
    margin-top: 147px;
    margin-inline: -41px;
    width: calc(100% + 82px);
  }

  @include on-small-desktop {
    margin: 0;
    height: 680px;
    width: 49vw;
    position: absolute;
    bottom: 0;
    right: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  &__content {
    margin-inline: 20px;
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 24px;

    @include on-tablet {
      margin-inline: 41px;
      bottom: 32px;
    }

    @include on-small-desktop {
      margin-inline: 78px;
      bottom: 48px;
    }

    @include on-desktop {
      margin-inline: 48px;
    }
  }

  &__button {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    border: none;
    cursor: pointer;

    @include hover(transform, scale(1.1));

    &--left {
      background-image: url(/src/images/icons/intro-button-left.png);
      background-position: center;
      background-repeat: no-repeat;
    }

    &--right {
      background-image: url(/src/images/icons/intro-button-right.png);
      background-position: center;
      background-repeat: no-repeat;
    }
  }

  &__title {
    margin: 0;
    margin-top: 16px;
  }

  &__text {
    margin: 0;
    margin-top: 8px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 140%;
  }
}
