.introduction {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;

  @include onTablet {
    gap: 16px;
  }

  &__title {
    @extend %phrase2;
    font-size: 32px;
    text-align: center;
    color: $color-title;
  }

  &__phrase {
    max-width: 764px;
    font-family: "Open Sans", sans-serif;
    @extend %phrase2;
    font-size: 22px;
    text-align: center;
    color: $color-phrase;
  }
}
