.item-service {
  padding: 32px;
  border-radius: 16px;
  background: $color-text-header;
  box-shadow: 0 9px 18px 0 #25293108;

  width: 280px;
  height: 264px;

  @include onTablet {
    @include square(264px);
  }

  @include onSmallDesctop {
    width: 214px;
    height: 264px;
  }

  @include onDesctop {
    @include square(264px);
  }

  &__number {
    width: 46px;
    height: 24px;
    background-color: #2060f61a;
    border-radius: 23px;

    @extend %number-item;
    @extend %flex-center;
  }

  &__text {
    margin-top: 26px;
    @extend %expertise-text;
    font-size: 13px;
    text-align: left;
  }

  &__bottom {
    margin-top: 32px;
    display: flex;
    gap: 16px;
    align-items: center;
  }

  &__button {
    background-color: $color-button;
    @include square(40px);
    border-radius: 50%;
    @extend %flex-center;

    @include hoverDoble(
      transform,
      scale(1.2),
      background-color,
      $color-button-hover
    );
  }

  &__link {
    @extend %number-item;
    color: $color-text-link;
    font-size: 15px;
    text-decoration: none;
    text-transform: none;
  }
}
