.item {

  &__container {
    margin-bottom: 24px;
    display: inline-block;
    padding: 2px 12px;
    border-radius: 23px;
    background-color: rgba(32,96,246,.1);

  }

  &__img {
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: $button-lineHoverColor;
  }

  &__number {
    @extend %poppins-600;
    font-size: 13px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: $button-lineHoverColor;
  }

  &__text {
    @extend %open-sans-600;
    font-size: 13px;
    line-height: 150%;
    color: $textColor;
    margin-bottom: 32px;
  }

  &__button {
    display: flex;
    gap: 16px;
    align-items: center;
  }

  &__button-arrow {
    width: 16px;
    height: 16px;
    margin: 12px;
  }

  &__button-text {
    text-decoration: none;
    @extend %poppins-600;
    font-size: 15px;
    line-height: 22px;
    color: $learn-color;
  }
}


