.job {
  margin-bottom: -15px;
  background: $c-w;
  background-image: url(../images/Shapes.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  &__container {
    min-height: 570px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include onTablet {
      min-height: 740px;
    }
    @include onIPad {
      min-height: 700px;
    }
  }
  &__title {
    margin-bottom: $navSize;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 52px;
    line-height: 120%;
    text-align: center;
    color: $t-100;
  }
  &__discription {
    margin-bottom: 56px;
    font-family: "Opensans", sans-serif;
    font-weight: 600;
    font-size: $navSize;
    line-height: 150%;
    text-align: center;
    color: $t-300;
    @include onTablet {
      margin-bottom: 64px;
    }
  }
  &__button {
    width: 264px;
  }
}
