.job {
  padding: 72px 0;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  text-align: center;

  margin: 0 0 120px;

  @include onTablet {
    margin: 0;
  }

  @include onTablet {
    padding: 200px 0;
  }

  @include onDesktop {
    padding: 200px 0 200px;
  }

  @include onTablet {
    background-image: url(../images/bgi.jpg);
    background-position: center;
  }

  &__title {
    @extend %topTitle;
    display: block;
    font-size: 44px;
    margin: 0 0 24px;
  }

  &__text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 150%;
    max-width: 730px;
    margin: 0 0 56px;
  }
}
