//local styles
$height: 680px;
$smallHeight: 390px;
$mobileWidth: 280px;

.landing {
  height: $height;
  background: #e5e5e5;

  @media screen and (max-width: 1024px) {
    & {
      height: auto;
    }
  }

  &__background {
    display: flex;
    background: $darkGray;
    transform: translateY(-2px);
    border-radius: 0 0 30px 30px ;

    @media screen and (max-width: 1024px) {
      flex-direction: column;
    }
  }

  &__left {
    flex: 1;
    height: $height;
    display: flex;
    justify-content: flex-end;

    @media screen and (max-width: 1024px) {
      width: 100%;
      justify-content: center;
    }
    @media screen and (max-width: 640px) {
      padding: 0 30px 0 40px;
    }
    @media screen and (max-width: 450px) {
      padding: 0 20px;
    }
  }

  &__right {
    width: 45%;
    height: $height;
    border-radius: 30px 0;

    @media screen and (max-width: 1600px) {
      width: 50%;
    }
    @media screen and (max-width: 1024px) {
      width: 100%;
      border-radius: 30px;
      height: $smallHeight;
    }
  }

  &__left-position {
    display: flex;
    flex-direction: column;
    width: 362px;
    margin-right: 315px;
    margin-top: 120px;

    @media screen and (max-width: 1600px) {
      margin-right: 110px;
    }
    @media screen and (max-width: 1300px) {
      margin-right: 100px;
    }

    @media screen and (max-width: 1024px) {
      margin: 15px 0 145px;
      width: 560px;
    }

    @media screen and (max-width: 640px) {
      margin: 15px 0 145px;
      width: 100%;
    }
  }

  &__title {
    margin-bottom: 32px;
    &-font {
      font-size: 64px;
      line-height: 68px;
      font-family: "Poppins", Arial, Helvetica, sans-serif;
      font-weight: 600;
      color: white;
      letter-spacing: -2px;

      @media screen and (max-width:640px) {
        font-size: 52px;
        line-height: 62px;
      }
    }
  }
  &__description {
    width: 360px;
    font-size: 18px;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    line-height: 27px;
    font-weight: 400;
    color: white;
    margin-bottom: 82px;

    @media screen and (max-width:640px) {
      width: $mobileWidth;
    }
  }

  &__learnMore {
    color: white;
    background: #2060f6;
    border: 1px solid #2060f6;
    border-radius: 8px;
    outline: none;
    width: 265px;
    height: 50px;
    line-height: 50px;
    font-size: 15px;
    text-align: center;
    font-weight: 600;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    text-decoration: none;

    &:hover {
      cursor: pointer;
    }
  }
}
