.body__container {
  display: grid;

  @include on-mobile {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    padding-inline: 2rem;
  }

  @include on-tablet {
    grid-template-columns: repeat(6, 1fr);
    gap: 3rem;
  }

  @include on-s-desktop {
    grid-template-columns: repeat(12, 1fr);
    gap: 2rem;
  }

  @include on-l-desktop {
    gap: 3rem;
  }
}
