.learn-more {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 143px;
  height: 40px;

  text-decoration: none;

  transition: $std-transition;

  &__icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;

    background-color: $highlight-color;
    background-image: url(../images/sub-title/mdi_arrow_forward.png);
    background-repeat: no-repeat;
    background-position: center;

    transition: $std-transition;
  }
  &__icon1 {
    width: 40px;
    height: 40px;
    border-radius: 50%;

    background-color: $red;
    background-image: url(../images/sub-title/mdi_arrow_forward.png);
    background-repeat: no-repeat;
    background-position: center;

    transition: $std-transition;
  }

  &__text {
    font-family: $main-font-family;
    font-size: 15px;
    font-weight: 600;
    line-height: 22.5px;
    color: $learn-more-text-color;

    transition: $std-transition;
  }

  &:hover {
    .learn-more__icon {
      background-position: right center;
    }

    .learn-more__text {
      color: $highlight-color;
      letter-spacing: 0.7;
    }
  }
}
