.learn-more {
  height: 40px;
  width: 143px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  transition: $std-transition;

  &__icon {
    height: 40px;
    width: 40px;
    background-color: $highlight-color;
    border-radius: 50%;

    background-image: url(../images/icons/learn_more_arrow_forward.png);
    background-repeat: no-repeat;
    background-position: center;
    transition: $std-transition;
  }

  &__text {
    font-family: $main-font-family;
    font-size: 15px;
    font-weight: 600;
    line-height: 22.5px;
    color: $learn-more-text-color;
    transition: $std-transition;
  }

  &:hover {
    .learn-more__icon {
      background-position: right center;
    }

    .learn-more__text {
      color: $highlight-color;
      letter-spacing: 0.7;
    }
  }
}
