.legend {
  &__description {
    max-width: 700px;
    margin: auto;
    padding: 50px 0;
  }

  &__information {
    @include boldFontStyle(24px, 36px);

    color: $descriptionTextColor;
  }

  @media (max-width: $tabletScreenBreakpoint) {
    &__information {
      text-align: center;
    }
  }
}
