.legend {
  &__description {
    margin: auto;
    max-width: 700px;
  }

  &__heading {
    font-weight: 600;
    font-size: 32px;

    color: #253757;
  }

  &__information {
    font-weight: 400;
    font-size: 18px;

    color: #6c788b;
  }
}
