.link {
  text-decoration: none;
  color: $white-color;
  transition: transform 0.3s;

  &--menu {
    position: absolute;
    left: 101px;

    @include onTablet {
      position: absolute;
      left: 122px;
    }
    @include onDesktop {
      display: none;
    }
  }

  &__icon {
    margin-left: 35px;
  }
}

.cross {
  height: 28px;
  width: 28px;
}
