.link {
  text-decoration: none;
  cursor: pointer;
  outline: none;
  font-weight: bold;
  font-size: 13px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #fff;
  transition: 0.3s;

  &:hover {
    color: #2060f1;
    text-shadow: 0 -3px 7px  rgba(32, 96, 241, 1);
  }
}
