.link {
  font-family: Poppins, sans-serif;

  display: flex;
  flex-direction: column;
  position: relative;

  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;

  &::after {
    content: "";
    position: absolute;
    bottom: -8px;
    left: 0;
    right: 0;
    border-bottom: 2px solid transparent;
    transition: border-color 0.3s;
  }

  &:hover {
    &::after {
      border-color: $blueColor;
      transition: border-color 0.3s;
    }
  }
}
