.list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;

  &__link {
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 13px;
    line-height: 150%;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #fff;
    transition: color 0.3s;
    position: relative;

    &:hover {
      cursor: pointer;
      color: $indigo;

      
      &::before {
        content: "";
        width: 100%;
        height: 2px;
        background-color: $indigo;
        border-radius: 4px;
        position: absolute;
        bottom: -8px;
        left: 0;
      }
    }
  }
}
