.logoAndButton-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 35px;
  @include tablet {
    justify-content: start;
  }

  &--mobile {
    margin-bottom: 54px;
  }
}
