.logo {
  display: block;
  transition-duration: $trasition-duration;
  width: max-content;

  &__image {
    display: block;
    height: 24px;
    width: 44px;
  }

  &:hover {
    transform: scale(1.3);
  }

  &--footer {
    margin-bottom: 50px;

    @include onTablet {
      margin-bottom: 0;
    }
  }
}
