.logo {
  transition: all 0.5s;

  &__image {
    width: 48px;
    height: 26px;
  }

  &__img {
    &--1 {
      width: 14px;
      height: 24px;

      &:hover {
        path {
          fill: $colorBlue;
        }
      }
    }

    &--2 {
      width: 24px;
      height: 21px;

      &:hover {
        path {
          fill: $colorBlue;
        }
      }
    }

    &--3 {
      width: 24px;
      height: 24px;

      &:hover {
        path {
          fill: $colorBlue;
        }
      }
    }
  }
}
