.logo {
  width: 46px;
  height: 28px;

  display: inline-block;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  background-image: url("../images/logo/Air-logo.svg");

  @include hover(background-image url("../images/logo/Air-logo-blue.svg"), transform scale(1.2));
}
