.content {
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 504px;

    @include fullHd {
      height: 500px;
    }

    @include mobile {
      height: fit-content;

      box-sizing: border-box;

      padding-bottom: 50px;
    }
  }

  &__title {
    font-family: $title-font;
    font-weight: 600;
    font-size: 32px;
    line-height: 150%;
    text-align: center;

    color: #253757;

    @include fullHd {
      font-size: 31px;
      line-height: 145%;
    }
  }

  &__text {
    font-family: $text-font;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    text-align: center;

    color: #6c788b;

    @include fullHd {
      font-size: 23px;
      line-height: 145%;
    }
  }
}
