.main {
  &__who-we-are {
    padding-block: 120px;

    @include on-tablet {
      padding-block: 148px;
    }
  }

  &__experties {
    padding-block: 72px;

    @include on-tablet {
      padding-block: 128px;
    }

    @include on-desktop {
      padding: 128px 0 134px;
    }
  }

  &__services {
    padding-block: 120px;

    @include on-tablet {
      padding-block: 148px;
    }

    @include on-desktop {
      padding: 148px 0 151px;
    }
  }

  &__testimonials {
    padding-block: 120px;

    @include on-tablet {
      padding-block: 148px;
    }

    @include on-desktop {
      padding: 151px 0 186px;
    }
  }

  &__motto {
    padding-block: 72px;

    @include on-tablet {
      padding-block: 200px;
    }
  }
}
