.about-us {
  position: relative;

  background-color: $color-black;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;

  &__wrapper {
    padding: 60px 0 205px;
  }

  &__title {
    margin: 0 0 32px;
    color: $color-white;

    @extend %font-propins-600;
    font-size: 64px;
    line-height: 68px;
    letter-spacing: -2px;
  }

  &__text {
    margin: 0 0 83px;

    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    line-height: 150%;
    color: $color-white;
  }

  &__button {
    display: flex;
    width: 264px;
    height: 50px;
    justify-content: center;
    align-items: center;

    background-color: $color-blue;
    border-radius: 8px;

    @extend %font-propins-600;
    font-size: 15px;
    line-height: 22px;

    color: $color-white;
    text-decoration: none;
  }

  &__slider {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 45%;

    &--image-1 {
      background-image: url(../images/slider/slider_1.jpg);
      height: 100%;
      width: 100%;
      border-top-left-radius: 30px;
      border-bottom-right-radius: 50px;
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
}

.who-we-are {
  @include onTablet {
    padding: 90px 80px;
  }

  padding: 148px 0;
  text-align: center;

  &__title {
    margin: 0 auto 16px;
    min-height: 48px;
    color: $color-dark-blue;
    @extend %font-propins-600;
    font-size: 32px;
    line-height: 150%;
  }

  &__text {
    @include onMobile {
      text-align: justify;
    }

    margin: 0 auto;
    max-width: 754px;
    min-height: 144px;
    @extend %font-open-sans-600;
    font-size: 24px;
    line-height: 150%;
    color: $color-dark-gray;
  }
}

.services {
  height: 148px;
  background-color: $color-black;
}
