.main-button {
  &__button {
    display: block;

    color: $button-main-color;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1px;
    text-align: center;

    padding-block: 14px;

    border-radius: 8px;
    background-color: $button-main-background-color;

    @include hover(background-color, $button-main-hover-background-color);
    @include hover(transform, scale(1.1));
  }

}
