.main {
  &__content {
  @include pageGrid;
  grid-column: 1 / -1;
  }

  &__who-we-are {
    margin-bottom: 120px;

    @include onTablet {
      margin-bottom: 148px;
    }
  }

  &__testimonials {
    margin-bottom: 120px;

    @include onTablet {
      margin-bottom: 148px;
    }

    @include onSmollDesktop {
      margin-bottom: 186px;
    }

    @include onDesign {
      margin-bottom: 148px;
    }
  }

  &__vision-passion-results {
    margin-bottom: 120px;

    @include onTablet {
      margin-bottom: 0;
    }
  }
}
