.main {
  &__content {
    display: grid;
    row-gap: $spacing-section-md;
    padding-block: $spacing-section-md;

    @include on-tablet {
      row-gap: $spacing-row-xxl;
      padding-block: $spacing-row-xxl;
    }
  }
}
