.menu {
  position: absolute;
  background-color: $colorPink;
  z-index: 3;

  @include onDesktop {
    display: none;
  }

  &__content {
    box-sizing: border-box;
    height: 100vh;
    padding-top: 48px;
  }

  &__icon {
    position: absolute;
    top: 5%;
    right: 5%;
  }

  &__icon-cross {
    display: inline-block;
    height: 24px;
    width: 24px;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    margin-bottom: 18px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__link {
    display: inline-block;
    padding-bottom: 4px;
    border-bottom: 2px solid transparent;

    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 13px;
    line-height: 150%;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;

    transition: border-color 0.3s;

    &:hover {
      border-color: #fff;
    }
  }
}
