.menu {
  &__content {
    padding-top: 20px;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
  }

  &__nav {
    margin-bottom: 30px;
  }

  &__bottom {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__link {
    display: block;
    text-decoration: none;
    @include fontPoppins;
    font-size: 25px;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: 0px;
    color: $main-white-color;
    text-transform: uppercase;

    &--hire {
      position: relative;
      @include hover (transform, scale(1.02));

      &::after {
        content: "";
        position: absolute;
        width: 85px;
        height: 2px;
        background-color: $main-blue-color;
        top: 45px;
        left: 0;
        right: 0;
        bottom: 0;
      }
    }

    &--number {
      transition: all 0.5s;

      &:hover {
        color: $main-blue-color;
      }
    }
  }
}
