.menu {
  padding: 20px 0 50px;
  position: absolute;
  inset: 0;
  display: block;
  background-color: $c-dark;
  z-index: 2;
  transition: all 0.3s;
  transform: translateX(-100%);

  @include on-desktop-s {
    display: none;
  }

  &:target {
    transform: translateX(0);
  }
}
