.menuBtn__position {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menuBtn {
  margin-left: 35px;
  transition: all 1s ease-in-out;
  outline: none;
  border: none;
  background: none;
  position: relative;
  padding: 15px;
  z-index: 3;

  @media screen and (max-width: 1024px) {
    &:hover ,
    &:focus {
      cursor: pointer;
    }

    &:before {
      transform-origin: left center;
      content: "";
      width: 18px;
      height: 3px;
      border-radius: 3px;
      background: white;
      position: absolute;
      left: 6px;
      top: 16px;
      transition: all 0.5s ease-in-out;
    }

    &:after {
      transform-origin: left center;
      content: "";
      width: 18px;
      height: 3px;
      border-radius: 3px;
      background: white;
      position: absolute;
      left: 6px;
      top: 8px;
      transition: all 0.5s ease-in-out;
    }
  }
}

@media screen and (max-width: 1024px) {
  .menuBtn__Open {

    &:before {
      width: 22px;
      transform-origin: left center;
      transform: rotate(-45deg) translateX(-6px);
    }
  
    &:after {
      width: 22px;
      transform-origin: left center;
      transform: rotate(45deg) translateX(-5px);
    }
  }
}
