@import "../utils";

.message {
  color: rgb(255, 255, 255);

  @include column-flex;

  gap: 48px;

  &__legend {
    font-size: 32px;
    font-weight: 600;
    line-height: 150%;
    margin-bottom: 10px;
    padding-top: 72px;
  }

  &__input {
    background-color: inherit;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    outline: none;
    width: 100%;
    padding-bottom: 16px;
    font-size: 15px;
    font-weight: 600;
    line-height: 23px;
    transition: $all-transition;
    max-width: 362px;

    &:hover {
      border-bottom: 1px solid $blue;
    }
  }

  &__button {
    margin-top: 10px;
  }
}
