.message {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  color: #fff;

  &__title {
    font-weight: 600;
    margin: 0;
    font-size: 32px;
    line-height: 130%;
    color: #fff;
  }

  &__form {
    margin: 48px 0 0;
    display: grid;
    gap: 40px;

    color: #fff;
  }

  &__input {
    height: 41px;
    outline: none;
    border: none;
    border-bottom: 1px solid #fff;
    background-color: $dark-bg-color;

    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 15px;
    line-height: 100%;
    color: #fff;
  }

  &__input:hover {
    border-bottom: 1px solid #144ed4;
  }

  &__input:focus {
    border-bottom: 1px solid #144ed4;
  }

  &__input:autofill {
    -webkit-text-fill-color: #fff;
    box-shadow: 0 0 0px 1000px #2c2c2c inset;
  }

  &__button {
    height: 56px;
    width: 100%;
    margin-top: 16px;
    border: none;
    border-radius: 8px;
    background-color: #144ed4;

    color: #fff;
    font-weight: 600;
    font-size: 15px;
    line-height: 100%;
    text-align: center;
    
    cursor: pointer;

    @include hover(transform, scale(1.2));

    @include on-tablet {
      width: 264px;
      height: 56px;
    }
  }
}
