.message {
  padding: 72px 0 80px;
  grid-column: 1 / 3;

  @include onTablet {
    grid-column: 1/ 5;
  }

  @include onSmallDesktop {
    padding: 180px 0 120px;
    grid-column: 1 / 6;
  }

  &__h1 {
    color: $header-text-color;
    font-size: 32px;
    @extend %h1;
    line-height: 130%;
  }

  &__list {
    display: grid;
    margin-top: 48px;

    @include onTablet {
      margin-top: 56px;
    }
  }

  &__input {
    margin-top: 40px;
    border: none;
    height: 41px;
    background-color: $header-back-color;
    border-bottom: 2px solid #fff;
    opacity: 0.5;
    color: #fff;
    font-size: 15px;
    @extend %h1;
    line-height: normal;
    grid-column: 1 / 3;
    padding-bottom: 16px;
    transition: all $effectDuration;

    &:nth-child(1) {
      margin-top: 0;
    }

    &::placeholder {
      color: $header-text-color;
      font-size: 15px;
      @extend %h1;
      line-height: normal;
    }

    &:hover {
      opacity: 1;
      border-color: $button-back-color;
    }

    &:focus {
      border-color: $button-back-color;
    }

    @include onSmallDesktop {
      width: 370px;
    }
  }

  &__send {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 56px;
    color: #fff;
    text-align: center;
    font-size: 15px;
    @extend %h1;
    line-height: normal;
    background-color: $button-back-color;
    height: 56px;
    grid-column: 1 / 3;
    border-radius: 10px;
    border: none;
    transition: all $effectDuration;
    cursor: pointer;

    @include onTablet {
      width: 264px;
    }

    @include onSmallDesktop {
      grid-column: 1 / 5;
    }

    &:hover {
      background-color: $header-text-color;
      color: $button-back-color;
    }
  }
}
