.mission {
  @include grid;

  row-gap: 0;

  min-width: $bp-mobile;

  background-color: $c-white;
  background-image: url('../images/Shapes.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @include tablet {
    background-position: 50% 50%;
    background-size: 150%;
  }

  @include small-desktop {
    background-position: 60% 50%;
    background-size: 120%;
  }

  @include desktop {
    background-position: 10% center;
    background-size: cover;
  }

  @include design {
    background-position: center;
    background-size: cover;
  }

  &__container {
    display: flex;
    grid-column: 1 / -1;
    flex-direction: column;
    align-items: center;
    justify-self: center;

    max-width: 280px;

    @include tablet {
      max-width: 558px;
    }

    @include small-desktop {
      max-width: 754px;
    }
  }

  &__title {
    margin-top: 72px;

    @include tablet {
      margin-top: 200px;
    }
  }

  &__paragraph {
    margin-bottom: 56px;

    font-family: $font-text;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.5;
    color: $c-gray;
    text-align: center;
    letter-spacing: 0;

    @include tablet {
      margin-bottom: 64px;
      font-size: 22px;
    }
  }
}
