.module {
  width: 280px;
  background-color: $main-white-color;
  border-radius: 16px;
  box-shadow: 0px 9px 18px 0px #25293108;
  padding: 32px;

  @include onTablet {
    width: 264px;
    height: 264px;
  }

  @include onSmallDesktop {
    width: 214px;
    height: 264px;
  }

  @include onDesign {
    width: 264px;
    height: 264px;
  }

  &__number {
    position: relative;
    margin: 0;
    margin-bottom: 25px;
    padding: 2px 11px;
    font-size: 13px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0px;
    color: $main-blue-color;

    &::before {
      content: "";
      width: 46px;
      height: 24px;
      background-color: $main-blue-color;
      border-radius: 20px;
      opacity: 0.1;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute;
    }
  }

  &__care {
    margin: 0;
    margin-bottom: 30px;
    padding: 0;
    list-style: none;

    @include fontOpenSans;
    font-size: 13px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0px;
    color: $main-gray-color;
  }

  &__nav {
    display: flex;
    column-gap: 15px;
    align-items: center;
  }

  &__link {
    font-size: 15px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0px;
    text-decoration: none;
    color: #334563;
    @include hover (transform, scale(1.2));
  }
}
