.motto {
  height: 691px;
  padding: 196px 224px;

  background-image: url(/images/Shapes.png);
  background-repeat: no-repeat;
  background-position: center;

  box-sizing: border-box;

  @include deskSmall {
    padding: 135px 224px;
  }

  @include forTablet {
    padding: 196px 40px;
    background-size: contain;
  }

  @include forPhone {
    padding: 120px 20px;
    background-size: cover;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    @include fontParams(52px, 150% 600);
    margin-bottom: 24px;

    color: $text-dark;

    @include forTablet {
      width: 556px;
      text-align: center;
    }

    @include forPhone {
      width: 280px;
    }
  }

  &__text {
    @include fontParams(24px, 150%, 600);
    font-family: "Open sans", sans-serif;
    margin-bottom: 64px;
    width: 754px;

    text-align: center;

    color: $text-light;

    @include forTablet {
      width: 558px;
    }

    @include forPhone {
      width: 280px;
    }
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 264px;
    height: 56px;

    background-color: $button-blue;
    border-radius: 8px;

    cursor: pointer;

    &:hover {
      box-shadow: 0 5px 10px 0 $text-light;
    }
  }
}
