.motto {
  &__container {
    padding: 72px 20px;

    text-align: center;
    background-color: $backgroundColorWhite;

    @include onTablet {
      margin-bottom: -30px;
      padding: 230px 42px;

      background-image: url(../images/Shapes.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: 800px;
    }

    @include onDesktop {
      padding: 230px 136px;
      background-size: contain;
    }

    @include onDesing {
      padding: 230px 424px;
    }

    @include onLargeScreen {
      padding: 230px 904px;
    }
  }

  &__title {
    margin-bottom: 24px;

    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 44px;
    line-height: 120%;
    color: $colorTitleName;

    @include onTablet {
      font-size: 52px;
    }
  }

  &__paragraph {
    margin-bottom: 56px;

    font-weight: 600;
    font-size: 22px;
    line-height: 150%;
    color: $colotTextPage;

    @include onTablet {
      font-size: 24px;
    }
  }
}
