.nav-list {
  padding: 0;
  margin: 0;
  display: flex;
  gap: 48px;
  list-style: none;

  @include onPhone {
    display: none;
  }

  @include onTablet {
    display: none;
  }

  &--menu {
    display: block;
  }

  &__item {
    &--menu {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding-bottom: 40px;
    }
  }

  &__link {
    margin: 0;
    text-decoration: none;
    padding: 0 0 8px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 150%;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: $white;
    border-bottom: 1px solid rgba($color: $main-blue, $alpha: 0);
    transition: all 0.3s;

    &:hover {
      border-bottom: 1px solid rgba($color: $main-blue, $alpha: 1);
      transform: scale(1.1);
    }

    &--menu {
      font-size: 24px;
    }
  }
}
