.nav-bottom {
  margin-top: 48px;

  @include on-tablet {
    margin-top: 24px;
  }

  @include on-small-desktop {
    margin-top: 0;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;

    display: flex;
    flex-direction: column;
    gap: 24px;

    @include on-tablet {
      flex-direction: row;
      justify-content: space-between;
    }

    @include on-small-desktop {
      gap: 64px;
    }
  }

  &__link {
    display: block;
    text-decoration: none;
    color: $header-menu-text-color;
    font-family: $main-font-family;
    font-weight: 700;
    font-size: 13px;
    line-height: 19.5px;
    letter-spacing: 3px;
    text-transform: uppercase;

    @include hover(letter-spacing, 7px);

    @include on-tablet {
      @include hover(letter-spacing, 3px);
      @include hover(transform, scale(1.2));
    }
  }
}
