.nav {
  @include onDesktopTablet {
    display: block;
  }

  &__wrap {
    display: flex;
    list-style: none;
  }

  &__list {
    padding-right: 48px;
    transition: transform 0.3s;

    &:hover {
      transform: scale(1.1);
    }

    &:last-child {
      padding-right: 0;
    }
  }

  &__link {
    text-decoration: none;
    @extend %Poppins600;
    font-style: normal;
    font-size: 13px;
    text-align: center;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    color: $colorWhite;
    border-bottom: 2px solid transparent;
    transition: color 0.3s;

    &:hover {
      color: $colorBlue;
    }
  }
}
