.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  &--header {

  }

  &--footer {
   
  }

  &__menu-icon {
    @include square(24px);
    @include  backgroundImage;
    background-image: url(../images/menu.svg);
    background-size: cover;

    display: inline-block;
    margin-left: 30px;

    @include onSmallDesktop {
      display: none;
    }
  }

  &__list {
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;

    @include onSmallDesktop {
      display: flex;
      flex-direction: row;
    }
  }

  &__item  {
    &:not(:last-child) {
      margin-right: 48px;
    }
  }

  &__link {
    @extend %custom-font-style ;
    text-decoration: none;
    padding: 8px 0;

    &--hire {
      position: relative;

      &::after {
        content: "";
        background-color: $color-blue;
        border-radius: 4px;
        width: 100%;
        height: 2px;
        position: absolute;
        bottom: 0;
        left: 0;
      }
    }
  }
}
