.navigation {
  display: flex;
  gap: 32px;
  align-items: center;
  width: 100%;

  @include small-desktop {
    gap: 0;
    justify-content: space-between;
  }

  &__controls {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;

    @include small-desktop {
      flex: 0;
      justify-content: flex-end;
    }
  }

  &__link {
    margin-left: auto;
    padding-bottom: 8px;
    border-bottom: 2px solid transparent;

    font-family: $font-heading;
    font-size: 13px;
    font-weight: 700;
    line-height: 1.5;
    color: $c-white;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 3px;
    white-space: nowrap;

    transition: color 0.3s ease;

    &:hover {
      border-bottom: 2px solid $c-blue;
      color: $c-blue;
    }

    @include small-desktop {
      padding: 10px 0 8px;
    }
  }
}
