.page {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;

  &:has(.menu:target) {
    overflow: hidden;
  }
}

body {
  background: $c-gray;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.wrap {
  display: flex;
}

.link {
  text-decoration: none;
}

.margin {
  margin-bottom: 120px;
}

.margin__bottom {
  margin-bottom: 16px;
}
