.number {
  width: 46px;
  height: 24px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 23px;
  background-color: rgba(32, 96, 246, 0.1);

  &__content {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 13px;
    line-height: 20px;

    text-align: center;
    text-transform: uppercase;

    color: #2060f6;
  }
}
