.numbers {
  font-size: 16px;
  line-height: 27px;
  font-weight: 700;
  color: $white-color;
  align-items: center;
  text-transform: uppercase;

  &__info {
    border-bottom: 1px solid transparent;
    transition: border-color 0.3s;

    &:hover {
      border-color: $white-color;
    }
  }

  &__link {
    color: $white-color;

    border-bottom: 1px solid transparent;
    transition: border-color 0.3s;

    &:hover {
      border-color: $white-color;
    }
  }
}
