@use "../utils/mixins" as *;

.offer {
  width: 264px;
  height: 264px;
  border-radius: 16px;
  background-color: #fff;
  box-shadow: 0 9px 18px 0 rgba(37, 41, 49, 0.03);

  grid-column: 7 / 13;

  &__block {
    padding: 34px 32px 32px;
  }
}
