.our-expertise {
  display: flex;
  flex-direction: column;
  justify-content: center;

  background: #fff;

  @include largeScreens {
    padding: 0 120px;
  }

  &__title {
    margin: 128px auto 0;

    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 52px;
    line-height: 150%;

    text-align: center;

    color: #253757;

    @include mobile {
      margin: 50px 0 0;
      font-size: 30px;
    }

    @include largeScreens {
      font-size: 60px;
    }
  }

  &__image {
    display: block;
    width: 184px;
    height: 166px;

    margin: 64px auto 0;

    @include mobile {
      margin: 50px auto 0;
    }

    @include fullHD {
      width: 300px;
      height: 250px;
    }

    @include largeScreens {
      width: 350px;
      height: 270px;
      margin: 70px auto 0;
    }
  }

  &__name {
    margin: 40px 0 0;

    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 140%;

    text-align: center;

    color: #253757;

    @include mobile {
      margin: 30px 0 0;
    }

    @include fullHD {
      font-size: 30px;
    }

    @include largeScreens {
      font-size: 40px;
    }
  }

  &__description {
    width: 264px;

    margin: 16px auto 155px;

    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;

    text-align: center;

    color: #6C788B;

    @include mobile {
      font-size: 12px;
      margin: 10px auto 50px;
    }

    @include tablet {
      width: 200px;
    }

    @include fullHD {
      font-size: 18px;
    }

    @include largeScreens {
      font-size: 20px;
    }
  }
}