.our-exp {
  padding: 48px 25px;
  
  @include on-desktop {
    padding: 128px 50px;
  }
  
  background-color: $text-white;
  border-radius: 30px;
  
  &__container {
    max-width: 1146px;
    margin: 0 auto;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include on-desktop {
      align-items: normal;
    }
  }

  &__heading {
    margin: 0;

    @include popin-font (32px, 600, 48px);
    color: $heading-dark;
    text-align: center;

    @include on-desktop {
      font-size: 52px;
      line-height: 78px;
    }
  }

  &__cards {
    @include on-desktop {
      display: flex;
      justify-content: space-between;
    }
  }

  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    width: 264px;
    margin-top: 48px;

    @include on-desktop {
      margin-top: 64px;
    }
  }

  &__pic {
    height: 184px;
    width: 166px;

    border-radius: 12px;
    object-fit: cover;
  }

  &__card-heading {
    margin: 32px 0 0;

    @include popin-font (20px, 600, 28px);
    color: $heading-dark;

    @include on-desktop {
      margin: 40px 0 0;
    }
  }

  &__card-text {
    margin: 12px 0 0;

    @include open-sans-font (14px, 400, 21px);
    color: $text-grey;
    text-align: center;

    @include on-desktop {
      margin: 16px 0 0;
    }
  }
}