.our-expertise {
  background-color: #fff;
  border-radius: 30px;
  padding: 72px 0;
  margin-bottom: 120px;

  &-title {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 44px;
    line-height: 54px;

    text-align: center;
    color: #253757;

    margin-bottom: 56px;
  }

  &__stratege {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 56px;
  }

  &__title {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: #253757;
    margin-bottom: 16px;
  }

  &__paragraph {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    min-width: 280px;

    color: #6c788b;
  }

  &__photo {
    border-radius: 15px;
    margin-bottom: 32px;
  }
}
