.our-socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;

  &__title {
    font-family: $main-font-family;
    font-size: 13px;
    line-height: 19px;
    font-weight: 700;
    color: $text-main-color;
    letter-spacing: 3px;
    text-transform: uppercase;
    opacity: 50%;
  }

  &__links {
    display: flex;
    gap: 32px;
  }

  &__icon {
    width: 32px;
    height: 32px;
    transition: all $effect-duration;

    &:hover {
      transform: scale(1.2);
    }

    &--facebook {
      background-image: url(../icons/facebook.svg);

      &:hover {
        background-image: url(../icons/facebook-blue.svg);
      }
    }

    &--twitter {
      background-image: url(../icons/twitter.svg);

      &:hover {
        background-image: url(../icons/twitter-blue.svg);
      }
    }

    &--instagram {
      background-image: url(../icons/instagram.svg);

      &:hover {
        background-image: url(../icons/instagram-blue.svg);
      }
    }
  }
}
