.our-expertise {
  background-color: $white-color;

  &__container {
    @extend %center-content;
    padding: 72px 20px;

    @include onTablet {
      padding: 128px 41px;
    }

    @include onSmallDesktop {
      padding: 128px 55px;
    }

    @include onMedDesktop {
      padding: 128px 0;
    }
  }

  &__subtitle {
    @extend %poppins;
    @include text-decoration ($font-w-m, $title-fs-m, $lh9, $dark-color);
    margin: 0;
    text-align: center;

    @include onTablet {
      @include text-decoration ($font-w-m, $title-fs-l, $lh12, $dark-color);
    }
  }

  &__image {
    width: 184px;
    height: 166px;
    border-radius: 16px;

    &--margin-top {
      margin-top: 56px;

      @include onTablet {
        &:first-child {
          margin-top: 64px;
        }

        &:not(:first-child) {
          margin-top: 72px;
        }
      }

      @include onSmallDesktop {
        margin-top: 64px;
      }
    }
  }

  &__second-subtitle {
    @extend %poppins;
    @include text-decoration ($font-w-m, $font-s-l, $lh5, $dark-color);
    margin: 0;

    &--margin-top {
      margin-top: 32px;

      @include onSmallDesktop {
        margin-top: 40px;
      }
    }
  }

  &__description {
    @extend %open-sans;
    @include text-decoration ($font-w-s, $font-s-xs, $lh2, $s-dark-color);
    margin: 0;
    text-align: center;

    &--margin-top {
      margin-top: 16px;
    }
  }

  &__card {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.3s;

    @include onSmallDesktop {
      &:hover {
        scale: 0.9;
        box-shadow: 2px 3px 11px 8px $secondary-bg;
      }
    }
  }
}
