.our-expertise {
  background-color: #fff;
  border-radius: 30px;
  padding: 72px 0;
  margin-bottom: 120px;

  @include onTablet {
    padding: 128px 0;
    margin-bottom: 148px;
  }

  @include onLaptop {
    margin-bottom: 250px;
  }

  &__title {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 44px;
    line-height: 54px;

    text-align: center;
    color: #253757;

    margin-bottom: 56px;

    @include onTablet {
      font-size: 52px;
      margin-bottom: 64px;
    }
  }

  &__stratege {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 56px;

    @include onTablet {
      gap: 72px;
    }

    @include onLaptop {
      flex-direction: row;
      justify-content: space-between;
      gap: 0;
    }

    @include onDesktop {
      justify-content: space-around;
    }
  }

  &__name {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: #253757;
    margin-bottom: 16px;
  }

  &__paragraph {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    width: 280px;

    color: #6c788b;

    @include onTablet {
      width: 362px;
    }

    @include onLaptop {
      width: 214px;
    }

    @include onDesktop {
      width: 264px;
    }
  }

  &__photo {
    border-radius: 15px;
    margin-bottom: 32px;

    @include hover(transform, 0.3s);

    &:hover {
      transform: scale(1.1);
    }
  }
}
