.our-expertise {
  @include padding-block-section;

  &__title-wrap {
    @include page-grid;

    grid-column: span 2;

    @include on-tablet {
      grid-column: span 6;
    }

    @include on-big-tablet {
      grid-column: span 12;
    }
  }

  &__title {
    grid-column: span 2;

    @include on-tablet {
      grid-column: 2 / 6;
    }

    @include on-big-tablet {
      margin-bottom: 64px;
      grid-column: 4 / 9;
    }
  }

  &__content {
    @include page-grid;

    row-gap: 56px;

    @include on-tablet {
      overflow: hidden;
      row-gap: 72px;
    }

    @include on-big-tablet {
      row-gap: 0;
    }
  }

  &__article {
    cursor: pointer;
    grid-column: span 2;

    @include on-tablet {
      grid-column: 2 / 6;
    }

    &--1 {
      @include on-big-tablet {
        grid-column: span 3;
      }
    }

    &--2 {
      @include on-big-tablet {
        grid-column: 5 / 8;
      }
    }

    &--3 {
      @include on-big-tablet {
        grid-column: 10 / 13;
      }
    }
  }

  &__img {
    margin-bottom: 32px;

    @include on-tablet {
      grid-column: 3 / 4;
    }

    @include on-big-tablet {
      margin-bottom: 40px;
    }

  }

  &__subtitle {
    margin-bottom: 16px;
  }

}
