.our {
  padding-block: 72px;
  border-radius: 30px;
  background-color: #FFF;

  &__title {
    margin-bottom: 56px;
    color: $color-text-title;
    font-size: 44px;
    line-height: 120%;
    text-align: center;

    @include on-tablet {
      font-size: 52px;
    }
  }

  &-cards {
    display: flex;
    flex-direction: column;
    gap: 56px;

    @include on-small-desktop {
      flex-direction: row;
      gap: 137px;
    }

    &__card {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__img {
      margin-bottom: 32px;
      width: 166px;
      border-radius: 16px;
    }

    &__title {
      margin-bottom: 20px;
      color: rgb(37, 55, 87);
      font-size: 20px;
      line-height: 140%;
      text-align: center;
    }

    &__text {
      color: $color-text-main;
      line-height: 150%;
    }
  }
}
