.our-expertise {
  display: grid;
  background-color: #FFF;
  border-radius: 8px;
  height: 100vh;
  padding-block: 72px;

  @include on-small-desktop {
    padding-block: 128px;
  }
}

.our-expertise__title {
  font-family: Poppins, sans-serif;
  font-size: 52px;
  font-weight: 600;
  line-height: 78px;
  text-align: center;
  color: $title-color;
  margin-bottom: 56px;

  @include on-tablet {
    margin-bottom: 64px;
  }
}

.our-expertise__content {
  @include page-grid;

  row-gap: 40px;

}

.our-expertise__label {
  display: flex;
  flex-direction: column;
  align-items: center;

  grid-column: 1/-1;

  @include on-tablet {
    grid-column: 2/-2;
  }

  @include on-small-desktop {
    grid-column: span 4;
  }
}

.our-expertise__link {
  margin-bottom: 32px;

  @include on-small-desktop {
    margin-bottom: 40px;
  }
}

.our-expertise__link:hover {
  @include hover(transform, scale(1.1));
}

.our-expertise__name {
  font-family: Poppins, sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  text-align: center;
  color: $title-color;
}

.our-expertise__text {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  color: $article-color;
}
