.ourExpertice {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 72px 0;
  justify-content: center;
  align-items: center;
  text-align: center;

  background-color: #fff;

  border-radius: 30px;

  @media (min-width: 640px) {
    padding: 128px 0;
  }

  &__title {
    font-size: 44px;
    line-height: 120%;

    @media (min-width: 640px) {
      font-size: 52px;
      line-height: 150%;
    }
  }

  &__br {
    @media (min-width: 640px) {
      display: none;
    }
  }

  &__cards {
    @include onTablet {
      display: flex;
      flex-direction: row;
      gap: 137px;

      padding-top: 128px;
    }
  }
}
