.ourExpertice {
  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    width: 100%;
    padding: 72px 0;
    margin-bottom: 120px;

    background-color: #fff;

    border-radius: 30px;

    @include onSmallTablet {
      padding: 128px 0;
      margin-bottom: 148px;
    }

    @include onTablet {
      margin-bottom: 250px;
    }
  }

  &__title {
    font-size: 44px;
    line-height: 120%;

    @media (min-width: 640px) {
      font-size: 52px;
      line-height: 150%;
    }
  }

  &__br {
    @media (min-width: 640px) {
      display: none;
    }
  }

  &__cards {
    @include onTablet {
      display: flex;
      flex-direction: row;
      gap: 137px;

      padding-top: 128px;
    }
  }
}
