.page {
  scroll-behavior: smooth;

  &__body {
    font-family: "Open Sans", "Poppins", sans-serif;
    margin: 0;
    background-color: $c-gray;
    display: flex;
    flex-direction: column;
  }

  &__section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 120px;

    @include mobile {
      padding-bottom: 148px;
    }
  }

  &__paragraphSans {
    font-style: normal;
    font-weight: 600;
  }

  &__paragraphSans-1 {
    font-style: normal;
    font-weight: normal;
  }

  
  &__paragraphPoppins {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
  }

  &__paragraphPoppins-1 {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
  }

  &__subtitle {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #c0cdd7;
    padding-bottom: 16px;
  }

  &__title {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    color: $colorDarkBlue;
    padding-bottom: 24px;

    @include mobile {
      padding-bottom: 16px;
    }
  }

  &__title-container {
    display: flex;
    flex-direction: column;
    padding-bottom: 48px;

    @include mobile {
      padding-bottom: 56px;
      width: 266px;
    }
  }

  &__titleBig {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
  }

  &__button {
    color: $colorWhite;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 56px;
    background-color: $colorBlueLight;
    border-radius: 8px;
    width: 100%;
    text-align: center;
    transition: 0.3s;

    &:hover {
      font-size: larger;
      background-color: $colorWhite;
      box-shadow: 0 9px 50px rgba(0, 20, 65, 0.15);
    }

    @include mobile {
      width: 264px;
    }
  }
}
