.pages-list {
  margin: 0;
  padding: 0;

  list-style-type: none;

&__item:not(:last-child) {
  padding-bottom: 24px;

  @include onTablet {
    padding-bottom: 0;
  }
}

  &__link {
    font-family: 'Poppins';
    font-size: 13px;
    line-height: $main-lh;
    font-weight: 700;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: $top-bot-text-color;
  }
}
