.page {
  font-family: "Poppins", "Open Sans", sans-serif;
  font-style: normal;
  font-size: 13px;
  line-height: 19.5px;
  color: $color-grey;
  scroll-behavior: smooth;

  &__body {
    margin: 0;
    background-color: $c-gray;
  }

  &__section {
    margin-top: 148px;
  }
}
