.page {
  flex: 1 1 auto;

  &__main {
    padding: 96px 0 0;

    @include onTablet {
      padding: 104px 0 0;
    }

    @include onSmallDesctop {
      padding: 120px 0 0;
    }
  }

  // &__about-us {
  // }

  // &__expertise {
  // }

  // &__testimonials {
  // }

  // &__bottom {
  // }

  // &__vpr {
  // }
}
