.page {  
  &__body {
    position: relative;
    box-sizing: border-box;
    padding: 18px 20px;
    background-color: $black-back;
    
    @include onTablet {
      padding: 18px 41px;
    }
    
    @include onDesktop {
      padding: 49px 54px;
    }
    
    @include onDesign {
    }
  }

  font-family: "Open Sans", 'Poppins', sans-serif;
  font-weight: 600;
}
