.Passion {
  background-color: $whiteColor;
  background-image: url(/images/Shapes.png);
  background-position: center;
  height: 691px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include OnMobile {
    background-image: none;
    height: 571px;
  }

  &__title {
    padding-top: 199px;
    font-family: $fontPoppins;
    font-weight: 600;
    font-size: 52px;
    line-height: 150%;
    text-align: center;
    color: #253757;

    @include OnMobile {
      padding-top: 72px;
      font-size: 44px;
      line-height: 120%;
    }

    @include OnTablet {
      padding-top: 200px;
      font-size: 52px;
      line-height: 120%;
      padding-right: 40px;
      padding-left: 40px;
    }
  }

  &__subtitle {
    margin-top: 24px;
    margin-bottom: 64px;
    font-family: $fontOpenSans;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    text-align: center;
    color: #6c788b;

    @include OnMobile {
      font-size: 22px;
      padding-right: 20px;
      padding-left: 20px;
    }

    @include OnTablet {
      padding-right: 40px;
      padding-left: 40px;
    }
  }

  &__button {
    background: #2060f6;
    border-radius: 8px;
    font-family: $fontPoppins;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    color: $whiteColor;
    width: 264px;
    padding-top: 17px;
    padding-bottom: 17px;
    cursor: pointer;
    text-decoration: none;
    transition: transform 0.3s ease-in-out;

    @include OnMobile {
      width: 280px;
      padding-right: 20px;
      padding-left: 20px;
    }

    &:hover {
      box-shadow: $boxShadowCards;
      transform: scale(1.05);
      transition: transform 0.3s ease-in-out;
    }

    &--blue {
      background: #ff9c8e;
      border-radius: 64px;
      transition: transform 0.3s ease-in-out;
      
      &:hover {
        box-shadow: none;
        transform: scale(1.05);
        transition: transform 0.3s ease-in-out;
      }
    }
  }
}
