.people__person {
  margin: 0 10px;
  position: relative;
  margin-bottom: 20px;

  @media (max-width: 1200px) {
    & {
      max-width: 300px;
    }
  }

  @media (max-width: 1024px) {
    & {
      max-width: 250px;
    }
  }

  @media (max-width: 900px) {
    & {
      max-width: 300px;
    }
  }

  @media (max-width: 400px) {
    & {
      max-width: 250px;
      padding: 0 7px 15px;

    }
  }
}
