.peoples {
  @include contentPaddingInLine;

  &__title__small {
    color: #c0cdd7;
    font-family: "Poppins", sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 16px;
  }

  &__title {
    font-family: "Poppins", sans-serif;
    color: #253757;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 48px */
    margin: 0;
    margin-bottom: 48px;
  }

  &__card {
    height: 456px;
    border-radius: 16px;
    background: #fff;
    box-shadow: 0 9px 18px 0 rgba(37, 41, 49, 0.03);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__container {
    position: relative;
  }

  &__box {
    width: 108.98px;
    height: 43.9px;
    flex-shrink: 0;
    border-radius: 12px;
    transform: rotate(-60deg);
    background: #2060f6;
    position: absolute;
    top: 76.2px;
    right: 36px;

    &__second {
      width: 108.98px;
      height: 43.9px;
      flex-shrink: 0;
      border-radius: 12px;
      transform: rotate(-60deg);
      background: #2060f6;
      position: absolute;
      bottom: 0;
      left: 36px;
    }
  }

  &__photo {
    position: relative;
    margin-top: 75px;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    z-index: 1;
  }
}
