.person {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32px 48px;
  background-color: $color-white;
  border-radius: 30px;

  @include onSmallDesktop {
    grid-column: 1 / 5;

    &:nth-child(2) {
      grid-column: 5 / 9;
    }

    &:last-child {
      grid-column: 9 / 13;
    }
  }

  &__image {
    margin-bottom: 27px;
    transition: transform $transition;
    &:hover {
      transform: scale(1.2);
    }
    @include onTablet {
      width: 250px;
    }
    @include onSmallDesktop {
      width: 192px;
    }
  }

  &__quotes {
    margin-bottom: 11px;
  }

  &__paragraph {
    @extend %p;
    font-weight: 600;
    font-size: 13px;
    line-height: 150%;
    color: $p-color;
    padding-bottom: 16px;
    text-align: center;
  }

  &__name {
    @extend %h1;
    font-weight: 600;
    font-size: 13px;
    line-height: 150%;
    padding-bottom: 4px;
    color: $h1-color;
  }

  &__major {
    @extend %h1;
    color: #c0cdd7;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 3px;
  }
}
