.person {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  width: 280px;
  height: 456px;

  background: #fff;
  box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
  border-radius: 16px;

  transition: transform 0.5s;

  &:hover {
    transform: translate(0, -50px);
  }

  &__profession {
    width: 196px;

    font-weight: 600;
    font-size: 13px;
    line-height: 150%;
    color: #6c788b;
    text-align: center;
  }

  &__name {
    font-weight: 600;
    font-size: 13px;
    line-height: 150%;
    color: #253757;
  }

  &__company {
    margin-bottom: 32px;

    font-family: Poppins, sans-serif;
    font-weight: 700;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #c0cdd7;
  }
}
