.place {
  text-align: center;

  &__image {
    height: 166px;
    width: 166px;
    border-radius: 15px;
    margin-bottom: 32px;
    @include hover(scale, 1.2);

    @include onDesktopSmall {
      margin-bottom: 40px;
    }
  }

  &__subtitle {
    display: block;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: $colorDark;
    margin-bottom: 16px;
    @include hover(color, $colorBlue);
  }

  &__description {
    max-width: 362px;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: $colorGrey;
    margin: 0 auto;
  }
}
