.place {
  @include onTablet {
    width: 362px;
  }

  @include onDesktop {
    width: 214px;
  }

  &__image {
    height: 184px;
    width: 184px;
    border-radius: 16px;
    object-fit: cover;
    display: block;
    margin: 0 auto 32px;
    transition: transform $duration;

    &:hover {
      transform: scale(101%);
    }
  

    @include onDesktop {
      margin-bottom: 40px;
    }
  }

  &__title {
    margin-bottom: 16px;
  }

  &__description {
    display: block;
  }
}
