.primary-button {
  height: 50px;
  width: 100%;
  border-radius: 8px;
  background-color: #2060f6;
  font-size: 15px;
  font-weight: 600;
  line-height: 22.5px;
  text-align: center;
  color: #fff;
  border: none;
  transition-duration: 0.3s;

  @include on-tablet {
    width: 264px;
  }

  &:hover {
    cursor: pointer;
    background-color: #1154f1;
    box-shadow: rgba(10, 92, 173, 0.2) 0 -8px -24px;
  }

  &:active {
    background-color: #0d3594;
    transform: scale(0.9);
    box-shadow: rgba(11, 11, 215, 0.2) 0 -7px -29px 0;
  }
}
