.process {
  padding-block: 120px;

@include content-padding-inline;

@include on-tablet {
  padding-block: 148px;
}

@include on-desktop {
  padding-block: 251px 151px;
}



&__container {
  gap: 48px;

  @include page-grid;

  @include on-tablet {
    gap: 56px;
  }

  @include on-desktop {
    // padding: 148px 54px;
    gap: 20px;
  }
}

&__info {
  grid-column: 1 / -1;

  @include on-tablet {
    grid-column: 1 / 4;
  }

  @include on-desktop {
    grid-column: 1 / 5;
  }
}

&__cards {
  height: fit-content;
  display: grid;
  gap: 24px;
  grid-column: 1/ -1;
  place-items: center;
  grid-template-columns: 1fr;


  @include on-tablet {
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }

  @include on-desktop {
    grid-column: 7 / -1;
  }
}

&__type {
  margin: 0;
  width: fit-content;
  color: $color-text-type;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
}

&__title {
  margin: 0;
  margin: 16px 0 24px;
  color: $title-color;
  font-size: 32px;
  font-weight: 600;
  line-height: 130%; /* 41.6px */
}

&__overview {
  margin: 0;
  color: $title-info;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%; /* 21px */
}
}
