.process {
  @include contentPaddingInLineForDevices;
  
  &__container {
    @include pageGrid;
  }

  &__title {
    margin-bottom: 16px;

    grid-column: 1 / -1;
  }

  &__motto {
    grid-column: span 2;

    margin-bottom: 24px;

    line-height: 130%;

    @include onTablet {
      grid-column: span 3;
    }
  }

  &__advantages {
    grid-column: span 2;
    margin-bottom: 48px;

    font-size: 14px;

    @include onTablet {
      grid-column: 1 / 4;
    }
  }
}
