.process {


  &__container {
    @include onDesctop {
      display: flex;
      justify-content: space-between;
    }
  }

  &__info {
    @include onDesctop {
      padding-right: 300px;
    }
  }

  &__minititle {
    font-weight: bold;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 3px;
    text-transform: uppercase;

    color: #C0CDD7;
  }

  &__title {
    padding-top: 16px;

    font-weight: 600;
    font-size: 32px;
    line-height: 42px;

    color: #253757;
  }

  &__text {
    display: block;

    padding-top: 26px;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;

    color: #6C788B;
  }

  &__desk {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;

    padding-top: 50px;

    @media (max-width: 600px) {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__box {
    width: 266px;
    height: 260px;
    padding: 32px 10px 32px 32px;

    box-shadow: 0px 9px 18px rgba(37, 41, 49, 0.03);
    border-radius: 16px;
    background-color: #fff;

    @include onDesctop {
      position: relative;

      &:nth-child(even) {
        top: -130px;
      }
    }


    &--number {
      display: block;
      position: relative;
      font-weight: 600;
      font-size: 13px;
      line-height: 19px;

      text-transform: uppercase;
      letter-spacing: normal;
      color: #2060F6;

      padding-left: 10px;

      &::after {
        position: absolute;
        content: "";

        transform: translate(-75%, -10%);

        width: 46px;
        height: 24px;

        background-color: #2060F6;
        opacity: 0.1;
        border-radius: 23px;
      }
    }

    &--text {
      display: block;

      padding-top: 26px;
      font-family: "Open Sans", sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 13px;
      line-height: 19px;

      color: #6C788B;
    }
  }

  &__link {
    display: flex;
    align-items: center;

    padding-top: 26px;

    &--link {
      position: relative;
      display: block;

      width: 40px;
      height: 40px;
      background-color: $button-color;
      border-radius: 50%;

      transition: 0.3s;

      &::after {
        position: absolute;
        content: "";

        transform: translate(70%, 70%);

        background-image: url(../images/arrow/arow.svg);
        width: 16px;
        height: 16px;
      }

      &:hover {
        transform: scale(1.2);
      }
    }

    &--text {
      font-weight: 600;
      font-size: 15px;
      line-height: 22px;
      text-align: center;

      color: #334563;

      padding-left: 16px;
    }
  }
}