.process-card {
  height: 264px;

  background-color: #fff;
  border-radius: 16px;

  padding: 30px;

  transition: background-color 0.3s;

  &:hover {
    background-color: #adeaea;
  }

  &__number {
    display: flex;

    width: 46px;
    height: 24px;

    font-weight: 600;
    font-size: 13px;
    line-height: 20px;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    color: $main-blue;

    background-color: rgba($main-blue, 0.1);
    border-radius: 23px;
  }

  &__description {
    font-weight: 600;
    font-size: 13px;
    line-height: 150%;

    color: $paragraph-color;

    margin: 26px 0 0;
  }

  &__link {
    display: flex;
    gap: 16px;
    align-items: center;

    width: max-content;

    margin: 32px 0 0;

    transition: transform 0.3s;

    &:hover {
      transform: scale(1.05);
    }
  }

  &__button {
    width: 40px;
    height: 40px;
    border-radius: 50%;

    background-color: $main-blue;
    background-image: url(../images/Icons/arrow-icon.svg);
    background-repeat: no-repeat;
    background-position: center;
    border-color: transparent;
    cursor: pointer;
  }

  &__text {
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;

    color: #334563;
  }
}
