.process {
  @include contentCenteredWithFlex;
  flex-direction: column;
  gap: 120px;

  padding-block: 120px;

  @include onTablet {
    gap: 148px;
    padding-block: 148px;
  }

  @include onSmallDesktop {
    gap: 151px;
    padding-bottom: 186px;
  }

  @include onDesktop {
    gap: 148px;
    padding-bottom: 148px;
  }

}
