.process {
  margin: 120px auto;
  display: flex;

  @include onTablet {
    margin: 148px 0;
  }

  @include onSmallDesktop {
    margin-top: 250px;
    display: block;
  }

  &__name {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 3px;
    color: $colorNameTopic;
    margin-bottom: 16px;
  }

  &__title {
    font-size: 32px;
    line-height: 130%;
    color: $colorTitle;
    margin-bottom: 34px;
  }

  &__subtitle {
    @include openSansFont;
    line-height: 150%;
    color: $colorSubTitle;
  }

  &__description {
    display: flex;
    flex-direction: column;

    @include onSmallDesktop {
      flex-direction: row;
      justify-content: space-between;
    }

    &-text {
      align-items: flex-start;
      margin-bottom: 48px;
        
      @include onTablet {
        width: 266px;
        margin-bottom: 77px;
      }
    }

    &-cards {
      display: flex;
      flex-direction: column;
      align-items: center;

      &-second {
        @include onTablet {
          transform: translateY(-25%);
        }
      }

      @include onTablet {
        align-items: start;
        flex-direction: row;
        gap: 30px;
      }
    }
  }

  &__card {
    box-sizing: border-box;
    background-color: #fff;
    box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
    border-radius: 16px;
    padding: 32px;
    width: 280px;
    margin-bottom: 24px;
    transition: transform $animationSpeed;

    &:hover {
      transform: scale(1.1);
    }

    &:nth-child(2) {
      @include onTablet {
        margin-bottom: 0;
      }
    }

    @include onTablet {
      width: 264px;
      margin-bottom: 30px;
    }

    @include onSmallDesktop {
      width: 214px;
    }

    @include onDesign {
      width: 264px;
    }

    &-number {
      font-size: 13px;
      line-height: 20px;
      color: $colorButton;
      padding: 2px 12px;

      background-color: rgba(32, 96, 246, 0.1);
      border-radius: 23px;
      width: min-content;
      margin-bottom: 24px;
    }

    &-text {
      @include openSansFont;
      font-weight: 600;
      font-size: 13px;
      line-height: 150%;
      color: $colorSubTitle;
      margin-bottom: 32px;
    }

    &-link {
      display: flex;
      flex-direction: row;
      align-items: center;
      transition: transform $animationSpeed;

      &:hover {
        transform: scale(1.05);
      }

      &-img {
        margin-right: 16px;
        background-color: $colorButton;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        background-image: url(../images/process/arrow_forward.svg);
        background-repeat: no-repeat;
        background-position: center;
      }

      &-text {
        text-decoration: none;
        font-size: 15px;
        line-height: 22px;
        color: #334563;
      }
    }
  }
}
