.process-card {
  background-color: $text-wite;
  padding: 32px;
  border-radius: 16px;

  &__container {

    @include hover (transform, $scale);
  }

  &__card-number {
    width: 46px;
    height: 24px;
    border-radius: 23px;
    background-color: #2060f61a;
    @extend %poppinsIconBlue;
    color: $main-blue;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__points {
    @extend %openSansContent13;
    color: $text-gray;
    margin-top: 24px;
  }

  &__learn-more-block {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    margin-top: 32px;
  }

  &__button {
    background-color: $main-blue;
    border: 0;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  &__link {
    @extend %poppinsButtonText;
    color: $text-accent;
  }
}
