.product {

  width: 100%;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;

  @include for-desktop-1024 {
    flex-wrap: nowrap;
    gap: 137px;
  }

  @include for-desktop-1600 {
    flex-wrap: nowrap;
    gap: 177px;
  }

  @include for-desktop-2560 {
    flex-wrap: nowrap;
    gap: 177px;
  }

  &__type {
    grid-column: 1/-1;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    padding-bottom: 56px;
    transition-duration: 0.3s;

    &:hover {
      transform: scale(1.05);
    }

    &:last-child {
      padding-bottom: 72px;
    }

  }

  &__img {
    object-position: center;
    height: 166px;
    width: 184px;
  }

  &__title {
    color: #253757;
    text-align: center;
    font-family: Poppins, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    /* 28px */
    padding: 32px 0 16px;
  }

  &__description {
    color: #6c788b;
    text-align: center;
    font-family: Open Sans, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 21px */
  }
}
