.product {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__photo {
    width: 166px;
    height: 166px;
    object-fit: cover;
    align-self: center;

    transition: transform 0.3s;
    cursor: pointer;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__title {
    font-weight: 600;
    line-height: 28px;
    text-align: center;
    font-size: 20px;
    color: $title-color;
    padding-top: 32px;
    margin: 0;
  }

  &__text {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    text-align: center;
    font-size: 14px;
    color: $text-color;
    padding-top: 16px;
    margin: 0;
  }
}
