.qoute {
  grid-column: 1 / -1;
  padding: 32px 42px;
  background-color: $main-text-color;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include hover(transform, scale(1.1));

  @include on-tablet {
    padding-inline: 98px;
  }

  @include on-small-desktop {
    padding-inline: 48px;
  }

  @include on-design {
    padding-inline: 56px;
  }

  &--1 {
    @include on-small-desktop {
      grid-column: 1 / 5;
    }
  }

  &--2 {
    @include on-small-desktop {
      grid-column: 5 / 9;
    }
  }

  &--3 {
    @include on-small-desktop {
      grid-column: 9 / -1;
    }
  }

  &__borders {
    position: relative;
    margin: 35px 0 68px;
  }

  &__border {
    display: block;
    position: absolute;
    height: 44px;
    width: 100%;
    background-color: $btn-color;
    border-radius: 12px;
    transform: rotate(120deg);

    &:nth-child(1) {
      top: 0;
      right: 40px;
    }

    &:nth-child(2) {
      left: 40px;
      bottom: 0;
    }
  }

  &__img {
    height: 110px;
    width: 110px;
    position: relative;
    object-fit: cover;
    border-radius: 50%;
  }

  &__icon {
    height: 24px;
    width: 24px;
    background-image: url(/src/images/qoute.svg);
    margin-bottom: 8px;
  }

  &__comment {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 600;
    line-height: 19px;
    text-align: center;
    color: $paragraph-color;
    margin: 0 0 16px;
  }

  &__person-name {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 600;
    line-height: 19px;
    color: $title-color;
    margin-bottom: 4px;
  }

  &__person-profession {
    font-family: Poppins, sans-serif;
    font-size: 13px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 3px;
    color: $label-color;
  }
}
