.quotes {
  border-radius: 16px;
  background: $white;
  box-shadow: 0 9px 18px 0 rgba(37, 41, 49, 0.03);
  width: 280px;
  padding: 32px 42px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 200ms;

  &:hover {
    transform: scale(1.1);
    transition: 200ms;
  }

  @include tablet {
    padding: 32px 98px;
    width: 558px;
  }

  @include smallDesktop {
    padding: 32px 48px;
    width: 292px;
  }

  @include largeDesktop {
    padding: 32px 56px;
    width: 362px;
  }

  &__photo {
    width: 196px;
    height: 196px;

    &--image {
      width: 100%;
      height: 100%;
    }

    @include tablet {
      width: 250px;
      height: 250px;
    }

    @include smallDesktop {
      width: 196px;
      height: 196px;
    }

    @include largeDesktop {
      width: 250px;
      height: 250px;
    }
  }

  &__sign {
    display: block;
    width: 24px;
    height: 24px;
    background-image: url(../images/quotes.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 24px;
  }

  &__text {
    margin-top: 8px;
    color: $textColor1;
    text-align: center;
    font-size: 13px;
    font-weight: 600;
    line-height: 150%;

    @include tablet {
      margin-top: 16px;
    }

    @include smallDesktop {
      margin-top: 8px;
    }
  }

  &__name {
    margin-top: 16px;
    color: $titleColor;
    text-align: center;
    font-size: 13px;
    font-weight: 600;
    line-height: 150%;

    @include smallDesktop {
      margin-top: 32px;
    }

    @include largeDesktop {
      margin-top: 16px;
    }
  }

  &__company {
    margin-top: 4px;
    padding-bottom: 32px;
    color: $subTitleColor;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 13px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 3px;
    text-transform: uppercase;
  }

}
