.quote {
  background-color: $white;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 75px 42px 32px;

  &__avatar {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  &__rectangle {
    transform: rotate(-60deg);
    border-radius: 12px;
    background: $blue;
    position: relative;
    width: 109px;
    height: 44px;

    &--left {
      left: 15px;
    }
    &--rigth {
      top: 70px;
      left: -20px;
    }

    @include onTablet {
      width: 139px;
      height: 56px;

      &--left {
        left: 25px;
      }
      &--rigth {
        top: 80px;
        left: -25px;
      }
    }

    @include onDesktop {
      width: 109px;
      height: 44px;

      &--left {
        left: 15px;
      }
      &--rigth {
        top: 70px;
        left: -20px;
      }
    }

    @include onLargeDesktop {
      width: 139px;
      height: 56px;

      &--left {
        left: 25px;
      }
      &--rigth {
        top: 80px;
        left: -25px;
      }
    }
  }

  &__image {
    border-radius: 50%;
    z-index: 1;
    position: absolute;

    @include onTablet {
      width: 140px;
      height: 140px;
    }

    @include onDesktop {
      width: 109px;
      height: 109px;
    }

    @include onLargeDesktop {
      width: 140px;
      height: 140px;
    }
  }

  &__icon {
    padding-top: 125px;
    background-image: url("../images/icons/icon-quote.png");
    background-position: bottom;
    text-align: center;

    @include onDesktop {
      padding-top: 175px;
    }

    @include onTablet {
      padding-top: 125px;
    }

    @include onLargeDesktop {
      padding-top: 175px;
    }
  }
  
  &__content {
    width: 207px;
    text-align: center;

    @include onTablet {
      width: 362px;
    }

    @include onDesktop {
      width: 205px;
    }

    @include onLargeDesktop {
      width: 250px;
    }
  }

  &__text {
    font-size: 13px;
    padding-top: 10px;
    font-weight: 600;
  }

  &__name {
    padding-top: 16px;
    color: var(--text-100, $dark-blue);
    font-size: 13px;
  }

  &__role {
    padding-top: 10px;
    letter-spacing: 2px;
  }
}

.quote:hover {
  box-shadow: 
    rgba(0, 0, 0, 0.16) 0px 3px 6px, 
    rgba(0, 0, 0, 0.23) 0px 3px 6px;
}