
.rectangles {
  @include on-tablet {
    width: 1050px;
    height: 508px;
  }

  @include on-desktop-s {
    width: 1297px;
    height: 489px;
  }

  @include on-desktop-m {
    width: 1450px;
    height: 550px;
  }

  &__rect {
    position: absolute;
    transform: rotateZ(-65deg);
    box-sizing: border-box;

    &--xs {
      width: 41px;
      height: 16px;
      border: 3px solid rgba(32, 96, 246, 0.5);
      border-radius: 6px;
    }

    &--s {
      width: 68px;
      height: 26px;
      border: 5px solid rgba(32, 96, 246, 0.5);
      border-radius: 12px;
    }

    &--m {
      width: 76px;
      height: 30px;
      border: 3px solid rgba(32, 96, 246, 0.5);
      border-radius: 12px;
    }

    &--l {
      width: 128px;
      height: 51px;
      border: 5px solid rgba(32, 96, 246, 0.5);
      border-radius: 12px;
    }

    &--1 {
      top: 55%;
      left: 0;
    }

    &--2 {
      bottom: 5%;
      left: 8%;
    }

    &--3 {
      top: 5%;
      left: 12%;
    }

    &--4 {
      top: 55%;
      left: 13%;
    }

    &--5 {
      top: 5%;
      left: 24%;
    }

    &--6 {
      bottom: 15%;
      left: 26%;
    }

    &--7 {
      bottom: 10%;
      right: 28%;
    }

    &--8 {
      bottom: 25%;
      right: 14%;
    }

    &--9 {
      top: 20%;
      right: 8%;
    }

    &--10 {
      bottom: 10%;
      right: 5%;
    }

    &--11 {
      top: 5%;
      right: 2%;
    }

    &--12 {
      top: 50%;
      right: 0;
    }
  }
}
