.rectangle {
  position: absolute;
  transform: rotate(-60deg);

  width: 108px;
  height: 43px;
  background-color: $main-blue-color;
  border-radius: 12px;

  @include onTablet {
    width: 139px;
    height: 56px;
  }

  @include onDesktop {
    width: 108px;
    height: 44px;
  }

  &--1 {
    right: 40%;
  }

  &--2 {
    left: 40%;
    top: 50%;
  }
}
