.rectangle {
  &--border-rad-l {
    &::before {
      border-radius: 12px;
    }
  }

  &--border-rad-s {
    &::before {
      border-radius: 6px;
    }
  }

  &--1 {
    &::before {
      position: absolute;
      @include vision-rectangle-l(26px);
      left: 5.1%;
      top: 53.6%;
    }
  }

  &--2 {
    &::before {
      @include vision-rectangle-l(37px);
      left: 8.2%;
      top: 74.9%;
    }
  }

  &--3 {
    &::before {
      @include vision-rectangle-s(34px);
      left: 14.6%;
      top: 10.4%;
    }
  }

  &--4 {
    &::before {
      @include vision-rectangle-l(57px);
      left: 16.8%;
      top: 40.9%;
    }
  }

  &--5 {
    &::before {
      @include vision-rectangle-s(18px);
      left: 27.9%;
      top: 11.1%;
    }
  }

  &--6 {
    &::before {
      @include vision-rectangle-s(18px);
      left: 30.1%;
      top: 67.3%;
    }
  }

  &--7 {
    &::before {
      @include vision-rectangle-s(18px);
      left: 63.3%;
      top: 74.4%;
    }
  }

  &--8 {
    &::before {
      @include vision-rectangle-s(34px);
      left: 76.2%;
      top: 55.7%;
    }
  }

  &--9 {
    &::before {
      @include vision-rectangle-l(56px);
      left: 79.6%;
      top: 18.9%;
    }
  }

  &--10 {
    &::before {
      @include vision-rectangle-l(56px);
      left: 83.6%;
      top: 66.7%;
    }
  }

  &--11 {
    &::before {
      @include vision-rectangle-s(21px);
      border-radius: 8px;
      left: 90.4%;
      top: 15.8%;
    }
  }

  &--12 {
    &::before {
      @include vision-rectangle-s(34px);
      left: 91.6%;
      top: 40.1%;
    }
  }

  @include large-screens {
    &--border-rad-l {
      &::before {
        border-radius: 18px;
      }
    }

    &--border-rad-s {
      &::before {
        border-radius: 9px;
      }
    }

    &--1 {
      &::before {
        @include vision-rectangle-l(39px);
      }
    }

    &--2 {
      &::before {
        @include vision-rectangle-l(55px);
      }
    }

    &--3 {
      &::before {
        @include vision-rectangle-s(51px);
      }
    }

    &--4 {
      &::before {
        @include vision-rectangle-l(86px);
      }
    }

    &--5 {
      &::before {
        @include vision-rectangle-s(27px);
      }
    }

    &--6 {
      &::before {
        @include vision-rectangle-s(27px);
      }
    }

    &--7 {
      &::before {
        @include vision-rectangle-s(27px);
      }
    }

    &--8 {
      &::before {
        @include vision-rectangle-s(51px);
      }
    }

    &--9 {
      &::before {
        @include vision-rectangle-l(84px);
      }
    }

    &--10 {
      &::before {
        @include vision-rectangle-l(84px);
      }
    }

    &--11 {
      &::before {
        @include vision-rectangle-s(32px);
        border-radius: 12px;
      }
    }

    &--12 {
      &::before {
        @include vision-rectangle-s(51px);
      }
    }
  }

  @include notebook {
    &--4 {
      &::before {
        left: 12.8%;
      }
    }
  }

  @include tablet {
    &--4 {
      &::before {
        left: 13.8%;
      }
    }

    &--11 {
      &::before {
        top: 5.8%;
      }
    }
  }

  @include mobile {
    &--border-rad-l {
      &::before {
        border-radius: 8px;
      }
    }

    &--border-rad-s {
      &::before {
        border-radius: 4px;
      }
    }

    &--1 {
      &::before {
        position: absolute;
        @include vision-rectangle-l(17px);
        left: 1%;
        top: 63.6%;
      }
    }

    &--2 {
      &::before {
        @include vision-rectangle-l(24px);
        left: 6%;
        top: 90%;
      }
    }

    &--3 {
      &::before {
        @include vision-rectangle-s(23px);
        left: 10.6%;
        top: 37.4%;
      }
    }

    &--4 {
      &::before {
        @include vision-rectangle-s(12px);
        left: 90%;
        top: 15%;
      }
    }

    &--5 {
      &::before {
        @include vision-rectangle-s(12px);
        left: 30%;
        top: 14%;
      }
    }

    &--6 {
      &::before {
        @include vision-rectangle-s(12px);
        left: 28%;
        top: 64%;
      }
    }

    &--7 {
      &::before {
        @include vision-rectangle-s(13px);
        border-radius: 8px;
        left: 47%;
        top: 85%;
      }
    }

    &--8 {
      &::before {
        @include vision-rectangle-s(23px);
        left: 57%;
        top: 7%;
      }
    }

    &--9 {
      &::before {
        @include vision-rectangle-s(13px);
        left: 85%;
        top: 65%;
      }
    }

    &--10 {
      &::before {
        @include vision-rectangle-s(20px);
        left: 60%;
        top: 61%;
      }
    }

    &--11 {
      &::before {
        @include vision-rectangle-s(23px);
        border-radius: 8px;
        left: 65%;
        top: 88%;
      }
    }

    &--12 {
      &::before {
        @include vision-rectangle-s(13px);
        left: 77%;
        top: 36%;
      }
    }
  }
}
