.result {
  padding-block: 72px;
  background-color: #fff;

  @include on-tablet {
    background: #fff url("../images/Shapes.png") center no-repeat;
    padding-block: 200px;
  }

  &__title {
    margin-bottom: 24px;

    @include on-tablet {
      max-width: 500px;
    }

    @include on-desktop-s {
      max-width: none;
    }
  }

  &__descr {
    margin-bottom: 56px;

    @include on-desktop-s {
      max-width: 700px;
    }
  }

  &__button {
    margin-inline: auto;
  }
}
