.results {
  padding: 72px 0 120px;
  background-color: #fff;

  @include onTablet {
    background-image: url("../images/Shapes.png");
    background-repeat: no-repeat;
    background-size: 135%;
    background-position: center;
    animation: slide 8s linear infinite alternate;

    @keyframes slide {
      0% {
        background-size: 0%;
      }

      50% {
        background-size: 150%;
      }

      100% {
        background-size: 300%;
      }
    }

    @include onTablet {
      padding: 200px 0;
    }

    @include onSmallDesktop {
      padding: 198px 0;
      background-size: 125%;
    }

    @include theDesign {
      background-size: 90%;
    }

    @include onLargeScreen {
      background-size: 60%;
    }
  }

  &__h1 {
    color: $title-color;
    text-align: center;
    font-size: 44px;
    @extend %h1;
    line-height: 120%;

    @include onSmallDesktop {
      margin: 0 auto;
      display: block;
      width: 754px;
    }
  }

  &__description {
    margin-top: 24px;
    color: $color-text;
    text-align: center;
    font-size: 22px;
    @extend %p1;
    line-height: 150%;

    @include onSmallDesktop {
      margin: 24px auto 0;
      display: block;
      width: 754px;
    }
  }

  &__button {
    display: grid;
    margin: 56px auto 0;
    height: 56px;
    width: 280px;
    background-color: $button-back-color;
    color: $header-text-color;
    border-radius: 10px;
    text-align: center;
    align-items: center;
    font-size: 15px;
    @extend %h1;
    line-height: normal;
    text-decoration: none;

    @include onTablet {
      width: 264px;
      margin-top: 64px;
      grid-column: 2 / 6;
    }

    &:hover {
      color: $button-back-color;
      background-color: $header-text-color;
      border: 1px solid $button-back-color;
    }
  }
}
