.result {
  padding: 200px 0;
  background-color: $c-white;

  @include onTablet {
    background-image: url(../images/Shapes.png);
    background-position: center;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  &__text {
    margin: 24px 0 56px;
    max-width: 754px;
    @extend %big-text;

    @include onTablet {
      margin-bottom: 64px;
    }
  }
}
