.results {
  display: flex;
  align-items: center;
  background: url(../images/BG.png);
  background-color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  padding: 72px 0;

  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 22px;
  line-height: 150%;

  color: #6c788b;

  @include tablet {
    padding-bottom: 120px;
    margin-bottom: -120px;
  }

  &__paragraph {
    padding-bottom: 56px;
  }

  &__button {
    margin: 0 auto;
  }
}
