.results {
  margin-bottom: 120px;
  background: $c-white;

  @include onTablet {
    margin-bottom: 0;
  }

  &__content {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 74px 20px;

    @include onTablet {
      padding: 200px 41px;
      background: url(./image/footer/Shapes.png);
      background-position: 57% 53%;
      background-repeat: no-repeat;
      background-size: 146%;
    }

    @include onDesctop {
      padding: 200px 135px;
      background: url(./image/footer/Shapes.png) center no-repeat;
      // background-position: center;
      // background-repeat: no-repeat;
      background-size: 126%;
    }

    @include onPC {
      padding: 200px 30%;
      background: url(./image/footer/Shapes.png) center no-repeat;
      // background-position: center;
      // background-repeat: no-repeat;
      background-size: 95%;
    }

    @include onTv {
      padding: 200px 35%;
      background: url(./image/footer/Shapes.png) center no-repeat;
      // background-position: center;
      // background-repeat: no-repeat;
      background-size: 55%;
    }
  }

  &__title {
    text-align: center;
    font-size: 44px;
    font-weight: $fontWeightMedium;
    line-height: 120%;
    margin-bottom: 24px;

    @include onTablet {
      font-size: $fontSizeLarge;
    }
  }

  &__text {
    color: $c-gray;
    text-align: center;
    font-size: 22px;
    font-weight: $fontWeightMedium;
    line-height: 150%;
    margin-bottom: 56px;

    @include onTablet {
      margin-bottom: 64px;
      font-size: 24px;
    }
  }

  &__link {
    padding: 17px 115px;
    color: $c-white;
    text-align: center;
    font-size: 15px;
    font-weight: $fontWeightMedium;
    background: $c-bluAir;
    border: 1px solid $c-bluAir;
    border-radius: 8px;
    text-decoration: none;

    @include onTablet {
      width: 264px;
      height: 56px;
    }
  }
}
