.results {
  text-align: center;
  background-color: #fff;
  padding: 72px 0;

  @include on-tablet {
    padding: 63px 0 168px;
  }

  @include on-desctop {
    padding: 83px 0 119px;
  }

  &__bg {
    @include on-tablet {
      background-image: url(../images/blocks/results/bg-image.png);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      padding: 137px 0 32px;
    }

    @include on-desctop {
      padding-top: 116px;
      padding-bottom: 79px;
    }
  }

  &__content {
    @include on-desctop {
      max-width: 754px;
      margin: 0 auto;
    }
  }

  &__title {
    font-size: 44px;
    color: $color-text-black;
    margin-bottom: 24px;
    line-height: 1.2;

    @include on-tablet {
      font-size: 52px;
    }
  }

  &__text {
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 56px;

    @include on-tablet {
      margin-bottom: 64px;
    }
  }
}
