.result {
  @extend %center;
  flex-direction: column;
  align-items: center;
  text-align: center;

  background-color: #fff;

  &__title {
    @extend %title;
    color: $main-color-title;
    font-size: 44px;
    line-height: 52px;

    margin-bottom: 24px;
  }

  &__description {
    @extend %subtitle;
    color: $main-color;
    font-size: 22px;
    line-height: 33px;

    margin-bottom: 56px;
  }

  &__button {
    margin-bottom: 72px;
  }
}
