.s-card {
  box-sizing: border-box;
  padding: 32px;
  display: flex;
  flex-direction: column;
  width: 264px;
  margin-bottom: 30px;
  background-color: $c-white;
  border-radius: 16px;
  box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);

  @include onipad {
    max-width: 264px;
  }

  &__number {
    box-sizing: border-box;
    height: 24px;
    width: 46px;
    margin: 0 0 24px;
    padding: 2px 0;
    font-weight: 600;
    font-size: 13px;
    line-height: 20px;
    text-align: center;
    border: 1px solid transparent;
    border-radius: 23px;

    &--turquoise {
      color: $c-turquoise;
      background-color: rgba($c-turquoise, 0.1);
    }

    &--yellow {
      color: $c-yellow;
      background-color: rgba($c-yellow, 0.1);
    }

    &--green {
      color: $c-green;
      background-color: rgba($c-green, 0.1);
    }

    &--pink {
      color: $c-pink;
      background-color: rgba($c-pink, 0.1);
    }
  }

  &__description {
    margin-bottom: 32px;
    font-family: $ff-opensans;
    font-weight: 600;
    font-size: 13px;
    line-height: 150%;
    color: $c-description;
  }

  &__button {
    display: flex;
    align-items: center;
    color: $c-maintext;
  }

  &__button-img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-right: 16px;

    &--turquoise {
      background-color: $c-turquoise;
    }

    &--yellow {
      background-color: $c-yellow;
    }

    &--green {
      background-color: $c-green;
    }

    &--pink {
      background-color: $c-pink;
    }
  }

  &--order-2 {
    @media (max-width: 639px) {
      position: relative;
      top: -290px;

    }
  }

  &--order-3 {
    @media (max-width: 639px) {
      position: relative;
      top: 290px;
    }
  }
}
