.section-title {
  color: $gray-color;
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
}

.official-title {
  font-weight: 700;
  font-size: 13px;
  line-height: 19.5px;
  letter-spacing: 3px;
  text-align: left;
  color: #c0cdd7;
  text-transform: uppercase;
  margin-bottom: 16px;
}
