@use "../utils/mixins" as *;

.section {
  padding-top: 128px;
  background-color: #fff;

  &__background {
    box-shadow: 0 0 0 100vmax #fff;
    clip-path: inset(0 -100vmax);
  }

  &__title {
    margin-bottom: 64px;
    color: #253757;
    text-align: center;
    font-family: Poppins, sans-serif;
    font-size: 52px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
  }
}
