.section-who-we-are {
  margin-block: 120px;

  &__title {
    text-align: center;
    font-family: 600;
    font-size: 32px;
    color: $dark-blue;
    grid-column: 1/-1;
  }

  &__paragraph {
    color: $grey;
    font-family: sans-serif;
    font-size: 24px;
    grid-column: 1/-1;
    text-align: center;
  }
}
