.services {
  padding-top: 120px;
  padding-bottom: 120px;
  margin: 0;

  @include padding-inline;

  margin-inline: auto;

  @include grid-mobile;

  @include on-tablet {
    @include grid-tablet;

    padding-top: 148px;
    padding-bottom: 148px;
  }

  @include on-small-desktop {
    @include grid-small-desktop;

    padding-top: 251px;
    padding-bottom: 151px;
  }

  @include on-design-width {
    @include grid-1600;
    @include content-width-on-1600px;
  }

  &__mini-title {
    margin: 0;
    text-align: left;
  }

  &__title {
    margin: 0;
    font-size: 32px;
    line-height: 150%;
    margin-top: 16px;
    max-width: 362px;
  }

  &__text {
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    margin-top: 24px;

    @include on-tablet {
      width: 263px;
    }

    @include on-small-desktop {
      width: 292px;
    }
  }
}

.services-description-container {
  margin: 0;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  width: 280px;
  margin-bottom: 48px;
  grid-column: 1/span 2;

  @include on-tablet {
    width: 100%;
    margin-bottom: 56px;
    grid-column: 1/span 3;
  }

  @include on-small-desktop {
    grid-column: 1/span 4;
  }
}

.services-card {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 32px;
  background-color: $main-bg-color;
  margin-top: 24px;
  width: 280px;
  border-radius: 16px;
  margin-inline: auto;
  transition: $transition-time;

  @include on-tablet {
    width: 100%;
  }

  @include on-small-desktop {
    max-width: auto;
  }

  &:hover {
    @include on-small-desktop {
     box-shadow: $services-card-title-color 0 15px 30px -6px inset, $services-card-title-color 0 9px 18px -9px inset;
    }
  }

  &__title {
    width: 46px;
    height: 24px;
    margin: 0;
    border-radius: 23px;
    background-color: $services-card-title-bg-color;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 600;
    line-height: 200%;
    text-transform: uppercase;
    color: $services-card-title-color;
    text-align: center;
  }

  &__text {
    margin: 0;
    font-size: 13px;
    font-weight: 600;
    margin-top: 24px;
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: $services-card-title-color;
    transition: $transition-time;
  }

  &__link {
    width: fit-content;
    margin-top: 32px;
    display: flex;
    align-items: center;
    gap: 16px;
    text-decoration: none;
    color: $services-learn-more-color;
    font-family: Poppins, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    &:hover {
      transform: scale(1.1);

      .services-card__icon {
        transform: scale(1.1);
      }
    }
  }
}

.icon-arrow {
  background-image: url(/src/images/icons/services-arrow-icon.svg);
}

.services-card-container {
  margin: 0;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  grid-column: 1/-1;
  width: 100%;

  @include on-tablet {
    grid-column: 1/span 3;
  }

  @include on-small-desktop {
    grid-column: 7/span 3;
  }

  &--2 {
    @include on-tablet {
      grid-column: 4/span 3;
      transform: translateY(-25%);
    }

    @include on-small-desktop {
      grid-column: 10/span 3;
    }
  }
}
