.section-expertise {
  padding: 72px 0;
  background-color: #fff;

  @include onTablet {
    padding: 128px 0;
  }

  &__title {
    margin-bottom: 56px;

    font-size: 44px;
    line-height: 120%;
    text-align: center;
    color: $dark-text;

    @include onTablet {
      margin-bottom: 64px;
    }
  }

  &__column {
    margin-bottom: 56px;

    @include onTablet {
      margin-bottom: 72px;
    }

    @include onDesktop {
      margin-bottom: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}
