.vision {
  padding-top: 72px;
  padding-bottom: 72px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: $main-bg-color;

  @include padding-inline;

  margin-inline: auto;

  @include on-tablet {
    padding-top: 200px;
    padding-bottom: 230px;
    background-image: url(/src/images/vision/shapes.png);
    background-repeat: no-repeat;
    background-size: 1024px;
    background-position: top 40% center;

    @include on-small-desktop {
      background-size: 1280px;
    }

    @include on-design-width {
      background-size: 1451px;
    }
  }

  &__title {
    margin: 0;
    font-size: 44px;
    line-height: 120%;

    @include on-tablet {
      font-size: 52px;
      width: 558px;
    }

    @include on-small-desktop {
      width: 754px;
    }
  }

  &__text {
    margin: 0;
    font-size: 22px;
    font-weight: 600;
    margin-top: 24px;

    @include on-tablet {
      font-size: 24px;
      width: 558px;
    }

    @include on-small-desktop {
      width: 754px;
    }
  }
}

.button--vision {
  margin: 0;
  margin-top: 56px;

  @include on-tablet {
    margin-top: 64px;
  }
}
