.section-nav {
  margin-bottom: -20px;

  @include onDesktop {
    background-color: $dark-green;

    border-radius: 20px;
  }

  &__list {
    @include onDesktop {
      display: flex;
      justify-content: space-between;
    }
  }

  &__list-item {
    margin-bottom: 1px;
    padding: 5px 0;

    text-align: center;

    background-color: $dark-green;

    @include onDesktop {
      padding: 25px 0;
    }

    &:last-of-type {
      border-radius: 0 0 20px 20px;
    }

    @include onDesktop {
      background-color: transparent;
    }
  }

  &__list-link {
    font-size: 16px;
    line-height: 20px;

    color: $white;

    transition: color 0.3s;

    &:hover {
      color: $green;
    }

    @include onDesktop {
      font-size: 24px;
      line-height: 29px;
    }
  }
}
