@import "../variables.scss";

.section-expertise {
  padding: 72px 0;
  background-color: #fff;
  border-radius: $border-radius;

  @include onTablet {
    padding: 128px 0;
  }

  &__title {
    margin-bottom: 56px;

    @include onTablet {
      margin-bottom: 64px;
    }

    @include font-popins;
    font-weight: 600;
    font-size: 44px;
    line-height: 120%;
    text-align: center;
    color: $dark-text;
  }
}
