.section-title {
  color: $c-sectionTitles;
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  line-height: 150%;
  max-width: 75vw;
  margin-bottom: 24px;
  @include onTablet {
    margin-bottom: 56px;
  }
  @include onSmallDesktop {
    margin-bottom: 85px;
  }

  &--super {
    line-height: 120%;
    font-size: 44px;
    margin-bottom: 56px;
    @include onSmallDesktop {
      line-height: 150%;
      font-size: 52px;
      margin-bottom: 64px;
    }
  }

  &--left-side {
    text-align: left;
  }
}
