.main {
  &__who-we-are {
    margin-bottom: 120px;
    padding-top: 120px;

    @include on-tablet {
      margin-bottom: 148px;
      padding-top: 148px;
    }
  }

  &__expertise {
    margin-bottom: 120px;
    padding-block: 72px;
    border-radius: 30px;
    background-color: $section-bg-color;

    @include on-tablet {
      margin-bottom: 148px;
      padding-block: 128px;
    }

    @include on-desktop {
      box-sizing: border-box;
      min-height: 759px;
      padding-top: 128px;
      padding-bottom: 0;
    }
  }

  &__process {
    margin-bottom: 120px;

    @include on-tablet {
      margin-bottom: 148px;
    }

    @include on-desktop {
      margin-bottom: 151px;
    }

    @include on-large-desktop {
      margin-bottom: 148px;
    }
  }

  &__testimonials {
    margin-bottom: 120px;

    @include on-tablet {
      margin-bottom: 148px;
    }

    @include on-desktop {
      margin-bottom: 186px;
    }

    @include on-large-desktop {
      margin-bottom: 148px;
    }
  }

  &__cta {
    margin-bottom: 120px;

    @include on-tablet {
      margin-bottom: 0;
    }
  }
}
