.section__title {
  margin: 0;
  font-size: 32px;
  font-weight: 600;
  line-height: 48px;
  text-align: center;
  color: #253757;

  &--biger--font--size {
    font-size: 44px;
    font-weight: 600;
    line-height: 53px;
    text-align: center;

    @include onSmalldesctop {
      font-size: 52px;
      line-height: 78px;
    }
  }

  &--white--color {
    margin-bottom: 40px;
    text-align: left;
    color: $main-header-color;
  }
}
