.section-heading {
  &__subtitle {
    @include headerTextWide;
    font-weight: 700;
    font-size: 13px;
    line-height: 100%;
    color: getColor(text-color-superlight);
    margin-bottom: 16px;
  }

  &__title {
    @include headingsH2;
    color: getColor(text-color);
    text-align: left;
  }
}
