.section-title {
  color: $text-100;
  text-align: center;
  font-family: Poppins, sans-serif;
  font-size: 32px;
  font-weight: 600;

  &--text-align--L {
    text-align: left;
  }

  &--color--white {
    color: white;
  }

  &--big {
    font-size: 44px;

    @include on-tablet {
      font-size: 52px;
    }
  }

  &--left {
    text-align: left;
  }

  &--lh--150 {
    line-height: 150%;
  }

  &--lh--130 {
    line-height: 130%;
  }

  &--lh--120 {
    line-height: 120%;
  }
}
