.section-description {
  display: flex;
  justify-items: center;

  margin-top: 24px;
  margin-bottom: 0;
  padding: 0;
  padding-inline: $main-description-padding-inline;

  font-family: 'Open sans', sans-serif;
  color: $main-text-color;

  &--another-font {
    margin-top: 24px;

    font-size: 22px;
    font-weight: 600;
    line-height: 150%;
    text-align: center;

    @include on-tablet {
      max-width: 558px;
      padding-top: 16px;
      font-size: 24px;
    }

    @include on-small-desktop {
      max-width: 716px;
      margin: 0 auto;
    }

    @include on-design {
      max-width: 750px;
    }

    &--addition {
      margin: 0 auto;
      padding: 24px 0 56px;

      @include on-tablet {
        padding: 24px 0 64px;
      }

      @include on-small-desktop {
        grid-column: 2 / 11;
      }
    }
  }
}
