.section {
  width: 100%;
  
  &__WhoWeAre {
    background: #f2f6fa;
  }

  &__expertise {
    background: #fff;
  }

  &__process {
    background: #f2f6fa;
    margin: 0;
  }

  &__testimonials {
    background: #f2f6fa;
  }

  &__vision {
    background: #fff;

    @include miniTablet {
      background-image: url(../images/shapes.png);
      background-size: contain;
      background-position: bottom;
      background-repeat: no-repeat;
    }
  }

  &__SendContactMenu {
    background: #2c2c2c;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
  }
}
