.send-message {
  background-color: $c-gray;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  max-width: 362px;

  &__form {
    margin-bottom: 58px;
    max-width: 362px;

    &::after {
      content: "";
      display: block;
      border-bottom: 2px solid $c-white;
      border-radius: 4px;
      @include hover(border-color, #2060f6);
    }

    &--textarea::after {
      transform: translateY(-8px);
    }

    &:hover::after {
      border-color: #2060f6;
    }
  }

  &__input {
    background-color: $c-gray;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    color: $c-white;
    border: none;
    height: 40px;
    width: 100%;
    max-width: 362px;

    &::placeholder {
      font-style: normal;
      font-weight: 600;
      font-size: 15px;
      line-height: 22px;
      color: $c-white;
      opacity: 0.7;
    }

    &:focus {
      outline: none;
    }
  }

  &--textarea {
    resize: none;
    font-family: "Open-sans", sans-serif;
    background-color: $c-gray;
    height: 35px;
  }
}
