.send-us-a-message {
  grid-column: 1 / -1;

  @include on-tablet {
    grid-column: 1 / 5;
  }

  @include on-mini-desktop {
    grid-column: 1 / 6;
  }

  &__title {
    color: $c-block;
    text-align: left;
    margin-bottom: 48px;

    @include on-tablet {
      margin-bottom: 56px;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 40px;

    @include on-tablet {
      gap: 48px;
    }
  }

  &__input {
    box-sizing: border-box;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid rgba($c-block, 0.7);
    width: 100%;
    height: 40px;
    color: $c-block;
    font-weight: $fw-m;
    font-size: 15px;
    line-height: 100%;

    &::placeholder {
      color: rgba($c-block, 0.7);
    }

    &:hover {
      border-bottom: 2px solid $c-hover-accent;
    }

    &:focus {
      outline: none;
    }

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus {
      -webkit-text-fill-color: $c-block;
      transition: background-color 5000s ease-in-out 0s;
      box-shadow: 0 0 0 1000px transparent inset;
    }
  }

  &__input--textarea {
    height: 40px;
    resize: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: $fw-m;
    line-height: 100%;
    color: $c-block;
  }

  &__button {
    margin-top: 16px;

    @include on-tablet {
      margin-top: 32px;
    }
  }
}
