.send-message {
  &__field {
    display: block;
    width: 100%;
    background-color: $colorBlue;
    color: $colorWhite;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    border-color: transparent transparent $colorWhite;
    border-width: 1px;
    outline: none;
    padding-bottom: 17px;

    &:-webkit-autofill {
      -webkit-text-fill-color: $colorWhite;
      -webkit-box-shadow: 0 0 0 1000px $colorBlue inset;
      box-shadow: 0 0 0 1000px $colorBlue inset;
      transition: background-color 5000s ease-in-out 0s;
    }

    @include onTablet {
      width: 362px;
    }

    @include onDesktopSmall {
      width: 100%;
    }

    &::placeholder {
      color: $colorWhite;
      opacity: 0.7;
    }

    &:hover {
      border-bottom: 2px solid $colorWhite;
    }

    &:focus {
      border-bottom: 2px solid $colorWhite;
    }

    &--textarea {
      height: 44px;
      resize: none;
    }
  }
}
