.send {
  background-color: $color-black;
  border-radius: 30px 30px 0 0;

  @include page-grid;

  &__title {
    grid-column: span 2;

    @include on-tablet {
      grid-column: span 4;
    }
  }

  .contacts {
    grid-column: span 2;

    @include on-tablet {
      grid-column: span 4;
    }

    @include on-small-desktop {
      grid-column: 8 / span 4;
      grid-row: span 2;
    }

    &__list {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      gap: 40px;

      margin-top: 48px;

      @include on-tablet {
        margin-top: 56px;
        gap: 48px;
      }
    }

    &__link {
      &--what {
        font-family: Poppins, sans-serif;
        font-weight: 700;
        font-size: 13px;
        line-height: 19.5px;
        letter-spacing: 3px;
        color: $color-white;
        opacity: 50%;
        text-transform: uppercase;
      }

      &__call {
        font-weight: 600;
        font-size: 24px;
        line-height: 36px;
        color: $color-white;
      }

      &:hover {
        color: $color-blue;
      }
    }
  }

  &__form {
    margin-top: 48px;
    grid-column: span 2;
    grid-row: 2;

    @include on-tablet {
      margin-top: 56px;
      grid-column: span 4;
    }

    @include on-small-desktop {
      grid-column: span 5;
    }

    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  .input-text {
    background-color: $color-black;
    border: none;
    border-bottom: 2px solid $color-white;
    padding-bottom: 20px;
    padding-top: 5px;
    color: $color-white;

    &::placeholder {
      font-family: Poppins, sans-serif;
      font-weight: 600;
      font-size: 15px;
      line-height: 22.5px;
    }

    &:hover {
      font-weight: bold;
      border-bottom: 2px solid $color-blue;
      transition-duration: 0.3s;
    }

    &:focus {
      color: $color-white;
      font-weight: bold;
      outline: none;
      border: 2px solid $color-blue;
      transition-duration: 0.3s;
    }
  }

  .textarea {
    resize: none;

    &::placeholder {
      font-family: Poppins, sans-serif;
      font-weight: 600;
      font-size: 15px;
      line-height: 22.5px;
    }
  }

  .socials {
    display: flex;
    gap: 32px;

    &__icon {
      width: 32px;
      height: 32px;
      transition-duration: $effectDuration;

      &--facebook {
        background: url(../images/socials/facebook.svg);

        &:hover {
          background: url(../images/socials/facebook_blue.svg);
        }
      }

      &--twitter {
        background: url(../images/socials/twitter.svg);

        &:hover {
          background: url(../images/socials/twitter_blue.svg);
        }
      }

      &--instagram {
        background: url(../images/socials/instagram.svg);

        &:hover {
          background: url(../images/socials/instagram_blue.svg);
        }
      }
    }
  }
}
