.send-us-a-message {
  &__content {
    @include on-small-desctop {
      max-width: 362px;
    }
  }

  &__title {
    margin: 0 0 48px;
    font-family: Poppins, sans-serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 41.6px;
    text-align: left;
    color: $text-color-white;

    @include on-small-desctop {
      margin: 0 0 56px;
    }
  }
}
