.send-us-message {
  border-radius: 30px 30px 0 0;
  margin-bottom: 80px;

  @include onTablet {
    margin-bottom: 120px;
  }

  @include onSmallDesktop {
    margin-bottom: 0;
  }

  &__title {
    margin-bottom: 32px;

    @include section-subtitle-text;

    line-height: 42px;
    color: $c-white;

    @include onTablet {
      line-height: 48px;
    }
  }

  &__form {
    @include onSmallDesktop {
      width: 370px;
    }
  }

  &__field {
    width: 280px;
    height: 56px;
    margin-bottom: 24px;

    outline: none;
    border: none;
    border-bottom: 1px solid $c-white;
    background-color: transparent;

    @include button-text;

    &:focus {
      border-bottom: 2px solid $c-blue-2;
    }

    &::placeholder {
      opacity: 0.7;
    }

    @include onTablet {
      width: 362px;
      margin-bottom: 32px;
    }

    @include onSmallDesktop {
      width: 370px;
    }

    @include onDesktop {
      width: 460px;
    }
  }

  &__textarea {
    margin-bottom: 56px;
    padding-top: 16px;

    resize: none;
    overflow: hidden;

    @include onTablet {
      margin-bottom: 80px;
    }
  }

  &__send-button {
    background: $c-blue-2;
    border: none;
    cursor: pointer;
  }

  &__form-message {
    position: absolute;
    margin-top: 20px;

    @include button-text;
  }
}
