.send-us-a-message {
  background-color: $color-dark;
  border-radius: 35px 35px 0 0;
  grid-column: 1 / -1;

  @include onTablet {
    grid-column: 1 / 5;
  }

  @include onSmallDesktop {
    grid-column: 1 / 6;
  }

  &__container {
    padding-top: 72px;
    padding-bottom: 80px;

    @include onTablet {
      padding-top: 180px;
      padding-bottom: 120px;
    }
  }

  &__title {
    color: $color-white;
    font-size: 32px;
    font-family: $Poppins-font-familly;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
    margin-bottom: 48px;

    @include onTablet {
      margin-bottom: 56px;
    }
  }
}
