.send-message {
  &__title {
    font-weight: 600;
    font-size: 32px;
    line-height: 42px;
    margin-bottom: 56px;

    color: $white;

    @include mobile {
      margin-bottom: 48px;
    }
  }

  &__field {
    width: 362px;
    margin-bottom: 48px;

    @include mobile {
      width: 218px;
      margin-bottom: 40px;
    }

    @include desktop-plus {
      width: 460px;
    }

    &--textarea {
      font-family: inherit;
      padding-bottom: 16px;
      margin-bottom: 80px;
  
      @include mobile {
        margin-bottom: 56px;
      }
    }
  }
}
