.send-us {
  &__form {
    display: flex;
    flex-direction: column;
    margin-bottom: 98px;
  }

  &__form-element {
    background-color: $blackColor;
    outline: none;
    border: none;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    color: #fff;

    &::placeholder {
      font-weight: 600;
      font-size: 15px;
      line-height: 22px;
      color: #fff;
    }
  }

  &__form-container {
    position: relative;
    margin-bottom: 56px;
    width: 100%;

    &:last-child {
      margin-bottom: 0;
    }

    &::before {
      content: "";
      position: absolute;
      top: 32px;
      left: 0;
      display: block;
      height: 1px;
      width: 100%;
      background-color: #fff;
    }

    &:hover::before {
      background-color: #144ed4;
    }
  }

  &__button {
    width: 264px;
    height: 56px;
    margin-bottom: 120px;
  }
}
