.send-us {
  margin-bottom: 80px;

  @media (min-width: $tablet-min-width) {
    grid-column: span 4;

    margin-bottom: 120px;
  }

  @media (min-width: $desktop-sm-min-width) {
    grid-column: span 5;

    margin-bottom: 104px;
  }

  &__title {
    font-family: Poppins, sans-serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 42px;
    color: $white-color;
    margin-bottom: 48px;
  }
}
