.send-us-a-message {
  &__title {
    font-size: 32px;
    font-weight: 600;
    line-height: 130%;
    margin-bottom: 48px;

    @include on-tablet {
      line-height: 150%;
      margin-bottom: 56px;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  &__button {
    box-sizing: border-box;
    text-align: center;
    height: 50px;
    width: 100%;
    font-size: 15px;
    color: $color-text;
    font-weight: 600;
    line-height: normal;
    border: 1px solid $color-background-second;
    background-color: $color-background-second;
    border-radius: 8px;
    cursor: pointer;
    margin: 16px 0 80px;
    transition-duration: $time-duration;

    @include on-tablet {
      margin-bottom: 120px;
    }

    &:hover {
      border-color: $color-text;
      background-color: $color-text;
      color: $color-background;
    }
  }
}

