.services {
  &__content {
    display: grid;
    grid-column: 1 / -1;
    // margin: 0 auto;
  }

  &__under-title {
    grid-column: 1 / -1;
    @extend %openSansSmallContentGray;
    color: $color-light-gray;
    margin-bottom: 48px;
  }

  &__cards {
    display: flex;
    flex-direction: column;
    gap: 24px;

    // @include onTablet {
    //   display: grid;
    //   grid-template-columns: repeat(auto-fill, 260px);
    // }

    // @include onDesktop {
    //   gap: 20px;
    //   grid-template-columns: repeat(auto-fill, 214px);
    // }

    // @include onLargeDesktop {
    //   gap: 30px;
    //   grid-template-columns: repeat(auto-fill, 264px);
    // }
  }

  &__card {
    display: grid;
    grid-column: 1 / -1;
    box-sizing: border-box;
    padding: 32px;
    height: 264px;
    background: $color-white;
    box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
    border-radius: 16px;
    transition: transform 0.5s;

    // @include onTablet {
    //   width: 260px;
    //   height: 260px;

    //   &:nth-child(2n) {
    //     transform: translateY(-50%);
    //   }
    // }

    // @include onDesktop {
    //   width: 214px;
    //   height: 264px;
    //   padding-bottom: 28px;

    //   &:hover {
    //     transform: scale(1.1);
    //   }

    //   &:hover:nth-child(2n) {
    //     transform: scale(1.1) translateY(-50%);
    //   }
    // }

    // @include onLargeDesktop {
    //   width: 264px;
    //   height: 264px;
    // }

    &-number {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 46px;
      height: 24px;
      margin-bottom: 24px;

      @extend %poppinsIconBlue;
      background: $color-light-bg;
      border-radius: 23px;
      color: $color-blue;
    }

    &-about {
      grid-column: 1 / -1;
      margin-bottom: 32px;
      @extend %openSansContent13;
      color: $color-light-gray;
    }

    &-link {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: $color-blue;

      &::before {
        content: "Learn more";
        position: absolute;
        left: 130%;

        display: flex;
        width: max-content;

        @extend %poppinsButtonText;
        color: $color-dark-link;
      }

      // @include onDesktop {
      //   &::before {
      //     left: 10px;

      //     opacity: 0;
      //     pointer-events: none;
      //     transition: opacity 1s, transform 2s;
      //   }

      //   &:hover::before {
      //     transform: translateX(50%);
      //     opacity: 1;
      //     pointer-events: all;
      //   }
      // }
    }
  }
}
