.services-cards {
  background: #fff;
  box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
  border-radius: 16px;
  padding: 32px;
  margin-bottom: 24px;
  height: 264px;

  &__number {
    width: 46px;
    height: 24px;
    text-align: center;
    padding: 2px 0;
    margin: 0 0 24px;

    font-size: 13px;
    line-height: 20px;
    font-family: "Poppins", sans-serif;
    color: $c-blue;

    background-color: rgba(32, 96, 246, 0.1);
    border-radius: 23px;
  }

  &__list {
    margin: 0 0 32px;
    padding: 0;
    font-size: 13px;
  }

  &__learn-more {
    display: flex;
    align-items: center;
    margin: 0;
  }
  
  &__learn-more-button {
    background-color: $c-blue;
    width: 40px;
    height: 40px;
    border-radius: 50%;

    background-image: url(../images/icons/arrow.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 16px;
    margin-right: 16px;
  }

  &__learn-more-text {
    font-family: "Poppins", sans-serif;
    color: $c-dark-blue;
  }

  @include onlyOnTablet {
    margin-bottom: 30px;
  }

  &:hover {
    transform: scale(1.1);
  }
}
