.services {
  display: flex;
  justify-content: space-between;
  padding: 0 224px;
  box-sizing: border-box;

  @include forUltra {
    justify-content: space-around;
    padding: 0 707px;
  }

  @include deskSmall {
    justify-content: space-between;
    padding: 0 56px;
  }

  @include forTablet {
    align-items: center;
    flex-direction: column;
    padding: 0 40px;
  }

  @include forPhone {
    padding: 0 20px;

    justify-content: center;
    align-items: center;
  }

  &__card {
    display: flex;
    flex-direction: column;

    width: 296px;
    margin-top: 252px;

    @include forTablet {
      margin-top: 148px;
      margin-right: 262px;
    }

    @include forPhone {
      width: 280px;
      margin-right: 0;
    }
  }

  &__subtitle {
    @include fontParams(13px, 20px, 700);
    text-transform: uppercase;
    letter-spacing: 3px;

    margin-bottom: 16px;

    color: $subtitle;
  }

  &__title {
    @include fontParams(32px, 130%, 600);
    margin-bottom: 24px;

    color: $text-dark;
  }

  &__description {
    @include fontParams(14px, 150%, 400);
    font-family: "Open Sans", sans-serif;
    color: $text-light;
  }

  &__right {
    display: grid;
    grid-template-columns: repeat(2, 264px);
    margin-top: 148px;
    margin-bottom: 156px;

    height: 690px;

    gap: 30px;

    @include deskSmall {
      grid-template-columns: repeat(2, 214px);
      gap: 20px;
    }

    @include forTablet {
      grid-template-columns: repeat(2, 264px);
      margin-top: -63px;

      gap: 30px;
    }

    @include forPhone {
      display: flex;
      flex-direction: column;

      margin-top: 48px;
      margin-bottom: 520px;

      gap: 24px;
    }
  }

  &__box {
    display: flex;
    flex-direction: column;

    width: 264px;
    height: 264px;
    padding: 32px;
    box-sizing: border-box;

    background-color: #fff;
    border-radius: 16px;

    box-shadow: 0 9px 18px 0 #252931;

    @include deskSmall {
      width: 214px;
    }

    @include forTablet {
      width: 264px;
    }

    @include forPhone {
      width: 280px;
    }

    &-1,
    &-3 {
      transform: translateY(132px);

      @include forPhone {
        transform: none;
      }
    }
    &-4 {
      margin-bottom: 132px;

      @include forPhone {
        margin-bottom: 0;
      }
    }
  }

  &__number {
    @include fontParams(13px, 20px, 600);
    display: flex;
    justify-content: center;
    align-items: center;

    width: 46px;
    height: 24px;
    margin-bottom: 24px;

    color: $button-blue;

    background: rgba(32, 96, 246, 0.1);
    border-radius: 23px;
  }

  &__content {
    @include fontParams(13px, 150%, 600);
    font-family: "Open Sans", sans-serif;

    color: $text-light;

    margin-bottom: 32px;
  }

  &__nav {
    display: flex;
    gap: 16px;
    align-items: center;
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 40px;
    height: 40px;

    border-radius: 50%;

    background-color: $button-blue;

    transition: transform 200ms;

    &:hover {
      transform: scale(1.2);
    }
  }

  &__label {
    @include fontParams(15px, 22px, 600);
    height: 23px;
    color: $text-dark;
  }
}
