.services-card {
  padding: 32px;
  background-color: $white-color;
  border-radius: 16px;
  box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);

  @include hover(transform, scale(105%));

  &--moved {
    @include onSmartphone {
      transform: translateY(-50%);

      &:hover {
        transform: translateY(-50%) scale(105%);
      }
    }
  }

  &__number {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 46px;
    height: 24px;
    margin-bottom: 24px;

    font-family: "Poppins", sans-serif;
    font-size: 13px;
    line-height: 20px;
    font-weight: 600;
    text-transform: uppercase;
    color: $blue-color;

    background-color: rgba(32, 96, 246, 0.1);
    border-radius: 23px;
  }

  &__assistence {
    margin: 0 0 32px;
    font-size: 13px;
    line-height: 20px;
    font-weight: 600;
  }

  &__link {
    display: inline-block;
    @include square(40px);
    background-image: url(../images/services-button.svg);
    transition: transform 0.3s;
  }

  &__link-container {
    display: flex;
    border-width: 0;
    background-color: $white-color;

    &:hover .services-card__link {
      transform: scale(120%);
    }
  }

  &__text {
    align-self: center;
    padding-left: 28px;

    font-family: "Poppins", sans-serif;
    font-size: 15px;
    line-height: 22px;
    font-weight: 600;
    text-decoration: none;
    color: #334563;
    white-space: nowrap;
  }
}
