.services {
  padding: 120px 20px;

  @include on640 {
    padding: 148px 40px;
  }

  @include on1024 {
    padding: 148px 54px;
  }

  &__container {
    display: grid;
    gap: 24px;
    margin: 0 auto;
    max-width: 1146px;
    min-width: 280px;
    
    @include on640 {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(7, auto);
      gap: 30px;
    }

    @include on1024 {
      gap: 20px;
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: repeat(5, auto);
      min-width: 916px;
    }
  }

  &__title {
    position: relative;
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 42px;
    color: #253757;

    &::before {
      margin-bottom: 16px;
      content: "Services";
      display: block;
      font-family: "Poppins", sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 13px;
      line-height: 20px;
      letter-spacing: 3px;
      text-transform: uppercase;
      color: #c0cdd7;

      @include on1024 {
        position: absolute;
        top: -32px;
      }
    }
  }

  &__description {
    margin: 24px 0;
    max-width: 362px;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #6c788b;
  }

  &__title-container {

    @include on640 {
      grid-column: 1 / 2;
      grid-row: 1 / 4;
    }

    @include on1024 {
      grid-column: 1 / 5;
      grid-row: 2 / 4;
    }
  }

  &__card {
    box-sizing: border-box;
    padding: 32px;
    background: #fff;
    box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
    border-radius: 16px;

    &--number {
      width: 46px;
      height: 24px;
      background-color: #2060f610;
      border-radius: 23px;

      font-family: "Poppins", sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 13px;
      line-height: 24px;
      text-align: center;
      text-transform: uppercase;
      color: #2060f6;
    }

    &--description {
      margin: 24px 0 32px;
      font-family: "Open Sans", sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 13px;
      line-height: 20px;
      color: #6c788b;
    }

    &--link {
      text-decoration: none;
      font-family: "Poppins", sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 15px;
      line-height: 22px;
      color: #334563;
      transition: 0.4s;

      &::before {
        content: "";
        display: inline-block;
        margin-right: 16px;
        vertical-align: middle;
        width: 40px;
        height: 40px;
        background-color: #2060f6;
        border-radius: 50%;
        background-image: url(../images/images_from_figma/arrow.svg);
        background-repeat: no-repeat;
        background-position: center;
        transition: 0.4s;
      }

      &:hover::before {
        background-color: aqua;
      }

      &:hover {
        color: #2060f6;
      }
    }

    &--1 {

      @include on640 {
        grid-column: 1 / 2;
        grid-row: 4 / 6;
      }

      @include on1024 {
        grid-column: 7 / 10;
        grid-row: 2 / 4;
      }
    }

    &--2 {

      @include on640 {
        grid-column: 2 / 3;
        grid-row: 3 / 5;
      }

      @include on1024 {
        grid-column: 10 / 13;
        grid-row: 1 / 3;
      }
    }

    &--3 {

      @include on640 {
        grid-column: 1 / 2;
        grid-row: 6 / 8;
      }

      @include on1024 {
        grid-column: 7 / 10;
        grid-row: 4 / 6;
      }
    }

    &--4 {

      @include on640 {
        grid-column: 2 / 3;
        grid-row: 5 / 7;
      }

      @include on1024 {
        grid-column: 10 / 13;
        grid-row: 3 / 5;
      }
    }
  }
}
