.services {
  &__cards {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 24px;

    @include on-tablet {
      row-gap: 30px;
      flex-flow: row wrap;
      align-self: center;
      justify-content: space-between;
    }

    @include on-desktop {
      max-width: 452px;
      justify-content: center;
    }
  }

  &__card {
    display: flex;
    flex-direction: column;
    background-color: $white-color;
    height: 264px;
    width: 280px;
    align-self: center;
    padding: 32px;
    box-sizing: border-box;
    border: 0 solid transparent;
    border-radius: 30px;
    box-shadow: 0 9px 18px 0 #25293108;

    @include on-tablet {
      flex: 1 1 calc(50% - 30px);
    }

    @include on-desktop {
      max-width: 214px;
    }
  }

  &__card:nth-child(odd) {
    @include on-tablet {
      transform: translateY(-50%);
    }
  }

  &__number {
    color: $button-color-blue;
    align-content: center;
    width: 46px;
    height: 24px;
    margin-bottom: 24px;
    border-radius: 30px;
    background-color: rgba($button-color-blue, 0.1);
  }

  &__list {
    list-style: none;
    padding: 0;
    width: max-content;
    margin-bottom: 32px;
  }

  &__button {
    box-sizing: border-box;
    display: flex;
    padding: 0;
    align-items: center;
    width: max-content;
    gap: 16px;
    height: 40px;
    border: none;
    background-color: transparent;
  }

  &__link {
    text-decoration: none;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: $dark-grey-color;
    gap: 16px;
  }

  &__link:hover {
    color: $button-color-blue;
    transform: scale(1.1);
    transition: $efferctDuration;
  }

  &__link:active {
    color: $button-color-blue;
  }

  &__button-img {
    display: flex;
    max-width: 40px;
    max-height: 100%;
    background-color: $button-color-blue;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    padding: 10px;
  }
}
