.service {
  padding: 120px 0;

  &__block {

    @include media640 {
      max-width: max-content;
      margin: 0 auto;
    }
    
    @include media1024 {
      display: flex;
      max-width: 1144px;
      justify-content: space-between;
    }
  }

  &__data {
    display: block;
    width: 100%;
    margin-bottom: 48px;

    @include media640 {
      margin-bottom: 56px;
    }

    @include media1024 {
      width: 300px;
    }
  }

  &__title {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #c0cdd7;
    padding-bottom: 16px;
  }

  &__subtitle {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 130%;
    color: #253757;
    padding-bottom: 24px;
    width: 280px;
  }

  &__text {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: $color-text;
    padding-bottom: 50px;
    width: 280px;
  }

  &__content {

    max-width: 600px;

    @include media1024 {
      padding-top: 36px;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      align-items: center;
      gap: 20px;
      justify-content: right;
    }

    @include media640 {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      align-items: center;
      gap: 30px;
      justify-content: center;
    }
  }

  &__item {
    // width: 100%;
    background-color: $color-text-oposit;
    border-radius: 30px;
    padding: 32px;
    
    &:not(:last-child) {
      margin-bottom: 24px;
    }

    @include media1024 {
      max-width: 280px;
      margin-bottom: 0;

      &:nth-child(2n) {
        margin-top: -50%;
        transform: translateY(20%);
      }
    }

    @include media640 {
      max-width: 264px;
      margin-bottom: 0;
     
      &:nth-child(2n) {
        margin-top: -50%;
        transform: translateY(20%);
      }
    }

  }

  &__number {
    display: inline-block;
    color: $color-button;
    font-weight: 600;
    font-size: 13px;
    line-height: 19px;
    padding: 3px 12px;
    background: #eee;
    border-radius: 28px;
    margin-bottom: 24px;
  }

  &__content-text {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 150%;
    color: $color-text;
    padding-bottom: 32px;
  }

  &__button {
    display: flex;
    align-items: center;
    gap: 16px;
    transition: gap 0.3s;
    text-decoration: none;
    &-img {
      transition: $transition-time;
    }

    &-text {
      font-family: "Poppins", sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 15px;
      line-height: 22px;
      color: #334563;
      transition: color 0.3s;
    }

    &:hover &-text {
      color: $color-button;
    }

    &:hover {
      gap: 20px;
    }
  }

}
