.services {
  &__content {
    @include desktopGrid;

    @include onDesktop {
      margin-top: 103px;
    }
  }

  &__top {
    grid-column: span 4;

    @include tabletGrid;

    @include onDesktop {
      display: block;
    }
  }

  &__text {
    max-width: 280px;
    margin-bottom: 48px;

    @include onTablet {
      max-width: 100%;
      grid-column: span 3;
    }
  }

  &__subtitle {
    @include wide-uppercase-text;

    color: $text-light-gray;
    margin-bottom: 16px;
  }

  &__title {
    margin-bottom: 24px;
    text-align: left;
    line-height: 1.3;
  }

  &__cards {
    display: grid;
    gap: 30px;

    @include tabletGrid;
    justify-items: center;

    @include onDesktop {
      grid-column: 7/-1;
    }
  }

  &__card {
    @include onTablet {
      grid-column: span 3;
    }
  }
}
