.service {
  padding: 120px 20px 60px;

  &__container {

    @include onTablet {
      max-width: max-content;
      margin: 0 auto;
    }

    @include onLaptop {
      max-width: 1144px;
      display: flex;
      justify-content: space-between;
      padding: 180px 0 75px;
    }
  }

  &__title {
    font-weight: bold;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: $colorSilver;
    padding-bottom: 16px;
  }

  &__subtitle {
    font-weight: 600;
    font-size: 32px;
    line-height: 130%;
    color: $colorBlack;
    padding-bottom: 24px;
    width: 280px;
  }

  &__text {
    font-size: 14px;
    line-height: 150%;
    color: $colorGray;
    padding-bottom: 50px;
    width: 280px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    max-width: 600px;

    @include onTablet {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      gap: 30px;
    }
  }

  &__item {
    width: 100%;
    background-color: $colorWhite;
    border-radius: 30px;
    padding: 32px;

    @include onTablet {
      max-width: 280px;

      &:nth-child(2n) {
        margin-top: -50%;
        transform: translateY(20%);
      }
    }

    @include onLaptop {
      max-width: 214px;
    }

    @include onDesktop {
      max-width: 280px;
    }
  }

  &__number {
    display: inline-block;
    color: blue;
    font-weight: 600;
    font-size: 13px;
    line-height: 19px;
    padding: 3px 12px;
    background: #eee;
    border-radius: 28px;
    margin-bottom: 24px;
  }

  &__content-text {
    font-weight: 600;
    font-size: 13px;
    line-height: 150%;
    color: $colorGray;
    padding-bottom: 32px;
  }

  &__button {
    display: flex;
    align-items: center;
    gap: 16px;
    transition: gap 0.3s;

    &-img {
      transition: transform 0.3s;
    }

    &-text {
      font-weight: 600;
      font-size: 15px;
      line-height: 22px;
      color: #334563;
      transition: color 0.3s;
    }

    &:hover &-text {
      color: $colorBlue;
    }

    &:hover {
      gap: 20px;
    }

    &:hover &-img {
      transform: rotate(360deg);
    }
  }
}
