.service-card {
  background-color: $white-color;
  border-radius: 16px;
  height: 198px;
  padding: 32px;
  transition: all $transition-duration;
  margin-bottom: 24px;
  box-shadow: 0 5px 10px 0 rgba(0,0,0,0.1);

  &:hover {
    @include hover(transform, scale(1.01));
    box-shadow: 0 0 20px $main-title-color;
  }

  &--blue {
    border-radius: 24px;
    &:hover {
      box-shadow: 0 0 20px $light-blue-color;
    }
  }

  &--yellow {
    border-radius: 24px;
    &:hover {
      box-shadow: 0 0 20px $yellow-color;
    }
  }

  &--green {
    border-radius: 24px;
    &:hover {
      box-shadow: 0 0 20px $green-color;
    }
  }

  &--pink {
    border-radius: 24px;
    &:hover {
      box-shadow: 0 0 20px $pink-color;
    }
  }

  &__num {
    width: 46px;
    height: 24px;
    border-radius: 23px;
    background-color: #e9f0ff;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    color: $blue-color;

    &--blue {
      color: $light-blue-color;
      background-color: #56ccf225;
    }

    &--yellow {
      color: $yellow-color;
      background-color: #fcc91d25;
    }

    &--green {
      color: $green-color;
      background-color: #15d85025;
    }

    &--pink {
      color: $pink-color;
      background-color: #f3636325;
    }
  }

  &__text {
    @extend %OpenSans600;

    font-size: 13px;
    line-height: 150%;
    color: $main-text-color;
    padding: 24px 0 32px;
  }

  &__link {
    display: block;
    background-image: url(../images/services/arrow.png);
    background-size: 40px;
    background-repeat: no-repeat;
    text-decoration: none;
    font-weight: 600;
    font-size: 15px;
    line-height: 40px;
    color: #334563;

    @include hover(transform, scale(1.01));

    &--blue {
      background-image: url(../images/services/arrow-blue.png);
    }

    &--yellow {
      background-image: url(../images/services/arrow-yellow.png);
    }

    &--green {
      background-image: url(../images/services/arrow-green.png);
    }

    &--pink {
      background-image: url(../images/services/arrow-pink.png);
    }

    &::after {
      content: "Learn more";
      position: relative;
      left: 56px;
    }
  }

  &__002 {
    @include onTablet {
      transform: translateY(70%);
    }
  }

  &__004 {
    @include onTablet {
      transform: translateY(50%);
    }
  }
}
