.service-card {
  width: 100%;
  box-sizing: border-box;
  padding: 32px;
  background-color: $white;
  font-weight: 600;
  font-size: 13px;
  border-radius: 16px;
  box-shadow: 0 9px 18px 0 rgba(37, 41, 49, 0.03);

  @include onTablet {
    &:nth-child(even) {
      transform: translateY(-50%);
    }
  }

  &__number {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 46px;
    height: 24px;
    margin-bottom: 26px;

    font-family: "Poppins", sans-serif;
    color: $accent-blue;

    border-radius: 23px;
    background-color: rgba(32, 96, 246, 0.1);
  }

  &__list {
    list-style: none;
    font-weight: 600;
    margin-bottom: 32px;
  }

  &__learn-more {
    display: flex;
    align-items: center;

    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 600;

    &:hover {
      color: $accent-blue;
    }
  }

  &__btn {
    margin-right: 16px;
  }
}
