.services-card {
  box-sizing: border-box;
  width: 280px;
  margin: 0 auto;
  padding: 32px;
  background-color: #fff;
  border-radius: 24px;
  box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
  transition: transform 0.3s;

  &:hover {
    transform: scale(1.1);
  }

  @include onTablet {
    flex-shrink: 0;
    width: 264px;
    height: 264px;
  }

  @include onDesktop {
    width: 214px;
  }

  @include onDesign {
    width: 264px;
  }

  &__number {
    width: 46px;
    height: 24px;
    margin: 0 0 24px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 13px;
    line-height: 24px;
    text-align: center;

    &--color_blue {
      background-image: url(../images/services/rectangle-1.svg);
      color: #56ccf2;
    }

    &--color_yellow {
      background-image: url(../images/services/rectangle-2.svg);
      color: #fcc91d;
    }

    &--color_green {
      background-image: url(../images/services/rectangle-3.svg);
      color: #15d850;
    }

    &--color_red {
      background-image: url(../images/services/rectangle-4.svg);
      color: #f36363;
    }
  }

  &__list {
    margin: 0;
    padding: 0 0 32px;
    list-style: none;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 13px;
    line-height: 150%;
    color: $textColor;
  }

  &__link {
    display: flex;
    width: max-content;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 15px;
    line-height: 40px;
    color: #334563;
    text-decoration: none;
  }

  &__button-link {
    width: 40px;
    height: 40px;
    padding: 0;
    background-size: contain;
    border-radius: 50%;
    transition: transform 0.3s;

    &:hover {
      transform: scale(1.05);
    }

    &--color_blue {
      background-image: url(../images/services/arrow-1.svg);
      border: 1px solid #56ccf2;
    }

    &--color_yellow {
      background-image: url(../images/services/arrow-2.svg);
      border: 1px solid #fcc91d;
    }

    &--color_green {
      background-image: url(../images/services/arrow-3.svg);
      border: 1px solid #15d850;
    }

    &--color_red {
      background-image: url(../images/services/arrow-4.svg);
      border: 1px solid #f36363;
    }
  }

  &__text-link {
    padding-left: 16px;
  }
}
