.side-padding {
  padding-left: 20px;
  padding-right: 20px;

  @include onTablet {
    padding-left: 41px;
    padding-right: 41px;
  } 
  
  @include onDesktop {
    padding-left: 54px;
    padding-right: 54px;
  } 

  @include onLargeDesktop {
    padding-left: 227px;
    padding-right: 227px;
  } 

  @include onLargeScreen {
    padding-left: 707px;
    padding-right: 707px;
  }
}
