.side-menu {
  padding-top: 20px;
  height: 100vh;
  background-color: $colorBlue;

  @include onSmallDesktop {
    display: none;
  }

  &__icons {
    display: flex;
    align-items: center;
    gap: 35px;
    margin-bottom: 50px;
  }

  &__link {
    display: block;
    margin-bottom: 40px;
    font-family: Poppins, sans-serif;
    font-weight: 700;
    font-size: 25px;
    line-height: 150%;
  
    letter-spacing: 3px;
    text-decoration: none;
    text-transform: uppercase;

    color: #fff;

    &:hover {
      color: #a3b1c6;
    }

    &--contact {
      margin-bottom: 70px;
    }

    &--phone {
      text-decoration-line: underline;
    }
  }

  &__text {
    font-family: Open Sans, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;

    color: #fff;
  }
}
