.side-menu {
  height: 100vh;
  background: $base-grey;
  @include contentPaddingInline;
  padding-top: 48px;

  display: flex;
  flex-direction: column;
  gap: 48px;

  &__top {
    display: flex;
    justify-content: space-between;
  }
}
