.skill {
  max-width: 362px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    margin-top: 32px;
  }

  &__description {
    margin-top: 16px;
  }

  &__image {
    height: 166px;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: $br-secondary;
  }
}
