.slider {
  width: 100%;
  height: 100%;
}

.slider-line {
  display: flex;
  width: 100%;
  height: 100%;
  transition: all linear 0.3s;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
