.slider {
  position: absolute;
  top: 503px;
  left: 0;
  width: calc(100% - 40px);
  height: 390px;
  border-radius: 30px;
  padding: 24px 20px;
  display: flex;
  align-items: end;

  background-image: url(./../images/slider/slide-img-1.jpg);
  background-size: cover;
  background-position: center;

  @include on-tablet {
    padding: 32px 41px;
    width: calc(100% - 82px);
  }

  @include on-small-desktop {
    width: 394px;
    height: 584px;
    top: 120px;
    padding: 48px 54px;
    right: 0;
    margin-left: auto;
    border-radius: 30px 0;
  }

  @include on-the-design {
    width: 687px;
  }

  @include on-large-screen {
    width: 1167px;
  }

  &__elements {
    margin: 0;

    @include on-small-desktop {
      display: flex;
      align-items: center;
    }
  }

  &__arrow-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 32px;
    width: 80px;
    margin: 0;
    margin-bottom: 16px;

    @include on-small-desktop {
      margin: 0;
      margin-right: 24px;
    }
  }

  &__arrow-button {
    cursor: pointer;
    height: 32px;
    width: 32px;
    border: 0;
    border-radius: 50%;
    margin: 0;
    background-color: #fff;

    @include hover(transform, scale(1.2));

    &:hover {
      background-color: $hoverColor;
    }
  }

  &__description {
    @include on-small-desktop {
      width: 266px;
    }

    &-title {
      margin: 0;
      margin-bottom: 8px;
      font-family: Poppins, sans-serif;
      font-size: 13px;
      font-weight: 700;
      line-height: 19.5px;
      letter-spacing: 3px;
      color: $textColorWhite;
      text-transform: uppercase;
    }

    &-text {
      margin: 0;
      font-family: Open-Sans, sans-serif;
      font-size: 14px;
      font-weight: 400;
      line-height: 19.6px;
      text-align: left;
      color: $textColorWhite;
    }
  }
}
