.slider-desktop {
  position: absolute;
  width: 502px;
  right: 0;
  height: 680px;
  bottom: 0;

  @include on-wide {
    width: 50%;
    right: 0;
  }

  &__wrap {
    width: 266px;
  }
}

.slide-desktop {
  height: 680px;
  width: 100%;
  object-fit: cover;
  border-bottom-right-radius: 30px;
  border-top-left-radius: 30px;
  display: block;
  position: absolute;
  z-index: 0;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.slide-desktop.active {
  z-index: 1;
  opacity: 1;
}

.button-container-desktop {
  position: absolute;
  bottom: 8%;
  left: 20%;
  transform: translateX(-50%);
  display: flex;
  gap: 16px;
  z-index: 2;

  @include on-wide {
    left: 12%;
    bottom: 6%;
  }

  @include on-big {
    left: 7%;
    bottom: 6%;
  }
}

.prev-desktop,
.next-desktop {
  all: unset;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.3s ease;

  @include hover(transform, scale(1.2));
}

.prev-desktop img,
.next-desktop img {
  width: 32px;
  height: 32px;
}

.slider__title-desktop {
  position: absolute;
  bottom: 2%;
  left: 40%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 3px;
  z-index: 2;

  @include on-wide {
    left: 28%;
  }

  @include on-big {
    left: 15%;
  }
}

.slider__text-desktop {
  position: absolute;
  bottom: 0%;
  left: 55.5%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 14px;
  line-height: 19.6px;
  z-index: 2;

  @include on-wide {
    left: 37.7%;
  }

  @include on-big {
    left: 21.1%;
  }
}
