.slide-bar {
  background-image: url(/public/img/slide-img-1.jpg);
  height: 390px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 30px;
  background-size: cover;
  background-position: center;
  position: absolute;
  right: 0;
  bottom: 0;
  transition: background-image 0.3s ease;

  @include on-small-desktop {
    top: 120px;
    height: 680px;
    width: 50%;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  &__container {
    padding-inline: 20px;
    padding-top: 250px;

    @include on-tablet {
      padding-inline: 40px;
      padding-top: 242px;
    }

    @include on-small-desktop {
      padding-inline: 78px;
      padding-top: 564px;
    }

    @include on-desktop{
      padding-inline: 48px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    row-gap: 16px;

    @include on-small-desktop {
      flex-direction: row;
      align-items: center;
      column-gap: 24px;
    }
  }

  &__block {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
  }

  &__buttons {
    display: flex;
    gap: 16px;
  }

  &__button {
    display: block;
    height: 32px;
    width: 32px;
    background-size: cover;
    background-position: center;

    @include hover(transform, scale(1.2));

    &--left {
      background-image: url(/src/images/slider/arrow-left.svg);
    }

    &--right {
      background-image: url(/src/images/slider/arrow-right.svg);
    }
  }

  &__title {
    margin: 0;
    text-align: left;
    text-transform: uppercase;

    font-weight: 700;
    font-size: 13px;
    line-height: 100%;
    letter-spacing: 3px;
  }

  &__text {
    margin: 0;
    text-align: left;

    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
  }
}
