.slider-container {
  height: 390px;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 30px;
  background-image: url(../images/slider-1-mobile.jpg);

  @include onTablet {
    display: block;
    width: 640px;
    background-image: url(../images/slider-1-tablet.jpg);
  }
  
  @include onSmallDesktop {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 502px;
    height: 680px;
    background-image: url(../images/slider-1-desktop.jpg);
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
  }

  @include theDesign {
    width: 687px;
    height: 680px;
    background-image: url(../images/slider-1-theDesign.jpg);
  }
  
  @include onLargeScreens {
    width: 1167px;
    height: 680px;
    background-image: url(../images/slider-1-largeScreens.jpg);
  }
}
