.slider-info {
  height: 68px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  &__title {
    @extend %menuText;
    margin: 0;
  }

  &__paragraph {
    font-family: "Open Sans", sans-serif;
    @include fontLine (14px, 20px);
    font-weight: 400;
    margin: 0;
  }
}