.slider {
  background-size: cover;
  background-position: center;
  border-radius: 30px;
  width: 100%;
  min-width: 100%;
  color: $white;
  @include onSmallDesktop {
    height: 680px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  grid-column: 1 / -1;
  @include onSmallDesktop {
    grid-column-start: 7;
    grid-row: 2 / 4;
  }
  @include onDesktop {
    grid-column-start: 8;
  }

  &--laptop {
    background-image: url(../images/slider/slider-image-2.png);
  }
  &--headphones {
    background-image: url(../images/slider/slider-image-1.png);
  }
  &--main {
    background-image: url(../images/slider/image-black-bg-x3-2.png);
  }

  &__content {
    @include sliderContentHeight;
    @include sliderContentPaddingInline;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  &__arrows {
    display: flex;
    flex-direction: row;
    gap: 16px;
  }

  &__arrow {
    position: relative;
    width: 32px;
    height: 32px;

    &--ellipse {
      width: 32px;
      height: 32px;
    }

    &--icon {
      position: absolute;
      width: 18px;
      height: 18px;
      top: 22%;
      left: 22%;
    }
  }

  &__title {
    font-family: $poppins;
    font-size: 13px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 3px;
    text-transform: uppercase;

    padding-block: 16px 8px;
  }

  &__phrase {
    font-family: $openSans;
    font-size: 14px;
    font-weight: 400;
    line-height: 140%; /* 19.6px */
  }
}
