.slider {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 48px;
  left: 48px;

  &__button {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background-color: $c-white;
    border: none;

    &--left {
      margin-right: 16px;
    }

    &--right {
      margin-right: 24px;
    }
  }

  &__title {
    @extend %block-title;
    margin: 0 0 8px;
  }

  &__description {
    @extend %block-text-s;
    line-height: 1.4em;
    margin: 0;
  }
}
