.slider__buttons {
  display: flex;
  flex-wrap: nowrap;

  position: absolute;
  bottom: 66px;
  left: 48px;

  @include fullHd {
    bottom: 64px;
    left: 46px;
  }

  @include mobile {
    bottom: 0;
    left: 40%;
  }

  &-right {
    background-image: url(../images/slider/Vector.svg);

    margin-left: 16px;

    @include fullHd {
      margin-left: 15px;
    }
  }

  &-left {
    background-image: url(../images/slider/Vector-left.svg);
  }

  &-left,
  &-right {
    display: inline-block;

    background-color: #fff;

    width: 32px;
    height: 32px;

    border-radius: 50%;
    border: 1px solid transparent;

    background-repeat: no-repeat;
    background-size: 9px;
    background-position: center;

    cursor: pointer;

    transition: background-color 1s, border-radius 1s;

    &:hover {
      background-color: yellowgreen;
      border-radius: 5px;
    }

    @include fullHd {
      background-size: 8px;
    }
  }
}
