.slider {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 680px;
  width: 687px;
  overflow: hidden;
  border-radius: 30px 0 0 0;

  &__photo_container {
    display: flex;
    width: 687px;
    height: 680px;
    transition: 0.5s;
  }



  @media (max-width: 1078px) {
    width: 550px;
    
  }

  @include onIpad {
    width: 460px;
    height: 680px;
  }

  @include onPhone {
    height: 400px;
    width: 450px;
    bottom: 0;
    left: 50%;
    right: 0;
    transform: translate(-50%, 0);
    border-radius: 30px;
  }

  &__button {
    background-color: $white-color;
    border-radius: 50%;
    border: none;
    height: 32px;
    width: 32px;
    transition: 0.3s;

    &:hover {
      background-color: $white-color;
    }
  }


    &__button--left {
      position: absolute;
      bottom: 66px;
      left: 48px;
    }

    &__button--right {
      position: absolute;
      bottom: 66px;
      left: 96px;
    }

  &__describe {
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: 48px;
    left: 152px;
  }

    &__describe--title {
      color: $white-color;
      font-size: 13px;
      font-weight: 700;
      line-height: 20px;
      letter-spacing: 3px;
      margin-bottom: 8px;

    }

    &__describe--text {
      margin: 0;
      color: $white-color;
      font-family: Open Sans;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: 0px;
    }
 }
 