.slogan {
  position: relative;
  padding: 198px 423px;
  text-align: center;
  background-color: white;

  @media (max-width: 1456px) {
    padding: 100px 210px;
  }

  @media (max-width: 1030px) {
    padding: 50px 105px;
  }

  @media (max-width: 617px) {
    padding: 10px 20px;
  }

  &__title {
    margin-bottom: 24px;
    @include title-font;
    font-size: 52px;
    line-height: 78px;
    position: relative;
    z-index: 2;
  }

  &__description {
    margin-bottom: 81px;
    @include text-font;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    position: relative;
    z-index: 2;
  }

  &__apply-button {
    position: relative;
    width: 264px;
    height: 56px;
    background-color: #ff9c8e;
    border-radius: 64px;
    @include title-font;
    color: white;
    font-size: 15px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    z-index: 2;
  }

  &__apply-button:hover {
    background-color: #fc8b7c;
  }

  &__rectangle {
    position: absolute;
    opacity: 0.5;
    border-radius: 500px;
    transform: rotate(-65.1deg) translateX(-50%);
    background: linear-gradient(to right, red, purple);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;

    @media (max-width: 1030px) {
      display: none;
    }
  }

  &__rectangle::before {
    content: "";
    width: 90%;
    height: 80%;
    border-radius: 500px;
    background-color: white;
  }

  &__rectangle--1 {
    width: 67.36px;
    height: 26.63px;
    left: 5%;
    top: 54%;
    background-image: linear-gradient(0deg, #56ccf2, #56ccf2),
      linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, 
      rgba(255, 255, 255, 0) 100%);
  }

  &__rectangle--2 {
    width: 85.61px;
    height: 33.84px;
    left: 14%;
    top: 10%;
    background-image: linear-gradient(0deg, #f25656, #f25656),
      linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%,
      rgba(255, 255, 255, 0) 100%);
  }

  &__rectangle--3 {
    width: 93.54px;
    height: 36.98px;
    left: 8%;
    top: 75%;
    background-image: linear-gradient(0deg, #bc04fc, #bc04fc),
      linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%,
      rgba(255, 255, 255, 0) 100%);
  }

  &__rectangle--4 {
    width: 143.04px;
    height: 56.54px;
    left: 17%;
    top: 41%;
    background-image: linear-gradient(0deg, #03d542, #03d542),
      linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%,
      rgba(255, 255, 255, 0) 100%);
  }

  &__rectangle--5 {
    width: 45.28px;
    height: 17.9px;
    left: 28%;
    top: 11%;
    background-image: linear-gradient(0deg, #fcc304, #fcc304),
      linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%,
      rgba(255, 255, 255, 0) 100%);
  }

  &__rectangle--6 {
    width: 45.28px;
    height: 17.9px;
    left: 30%;
    top: 67%;
    background-image: linear-gradient(0deg, #fcc304, #fcc304),
      linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, 
      rgba(255, 255, 255, 0) 100%);
  }

  &__rectangle--7 {
    width: 45.28px;
    height: 17.9px;
    right: 34%;
    top: 74%;
    background-image: linear-gradient(0deg, #bc04fc, #bc04fc),
      linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%,
      rgba(255, 255, 255, 0) 100%);
  }

  &__rectangle--8 {
    width: 85.61px;
    height: 33.84px;
    right: 20%;
    top: 56%;
    background-image: linear-gradient(0deg, #f25656, #f25656),
      linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, 
      rgba(255, 255, 255, 0) 100%);
  }

  &__rectangle--9 {
    width: 143.04px;
    height: 56.54px;
    right: 13%;
    top: 19%;
    background-image: linear-gradient(0deg, #03d542, #03d542),
      linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%,
      rgba(255, 255, 255, 0) 100%);
  }

  &__rectangle--10 {
    width: 53.69px;
    height: 21.22px;
    right: 7%;
    top: 16%;
    background-image: linear-gradient(0deg, #bc04fc, #bc04fc),
      linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%,
      rgba(255, 255, 255, 0) 100%);
  }

  &__rectangle--11 {
    width: 153.61px;
    height: 60.72px;
    right: 9%;
    top: 60%;
    background-image: linear-gradient(0deg, #56ccf2, #56ccf2),
      linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%,
      rgba(255, 255, 255, 0) 100%);
  }

  &__rectangle--12 {
    width: 86.41px;
    height: 34.16px;
    right: 4%;
    top: 40%;
    background-image: linear-gradient(0deg, #fcc304, #fcc304),
      linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%,
      rgba(255, 255, 255, 0) 100%);
  }
}
