.social {
  display: flex;
  gap: 32px;
  align-items: center;

  &__icon {
    display: flex;

    width: 32px;
    height: 32px;

    fill: $white;

    transition: fill $effectDuration ease;

    &:hover {
      fill: $blue;
    }
  }
}
