.socials {
  &__title {
    margin-bottom: 16px;
  }

  &__icons {
    display: flex;
    gap: 32px;
  }

  &__icon {
    display: block;
    height: 32px;
    width: 32px;
    transition: all 0.3s;

    &--facebook {
      background-image: url(../images/icons/facebook-logo.png);
      background-repeat: no-repeat;
      background-position: center;
      transition: all 0.3s;

      &:hover {
        background-image: url(../images/icons/facebook-logo-blue.png);
        background-size: cover;
      }
    }

    &--twitter {
      background-image: url(../images/icons/twitter-logo.png);

      &:hover {
        background-image: url(../images/icons/twitter-logo-blue.png);
      }
    }

    &--inst {
      background-image: url(../images/icons/instagram-logo.png);

      &:hover {
        background-image: url(../images/icons/instagram-logo-blue.png);
      }
    }
  }
}
