.socialnets {
  width: 150px;
  display: flex;
  justify-content: space-between;
  padding-top: 12px;

  &__item {
    transition: transform 1s;

    &:hover {
      transform: scale(1.2);
    }
  }
}
