.social-media-icons {
  height: 32px;
  width: 32px;

  @include hover(transform, scale(1.2));

  &:hover {
    filter: brightness(0) saturate(100%) invert(27%) sepia(89%) saturate(2729%)
      hue-rotate(217deg) brightness(97%) contrast(99%);
  }

  &--facebook {
    background-image: url(../images/icons/icon_facebook.svg);
  }

  &--twitter {
    background-image: url(../images/icons/icon_twitter.svg);
  }

  &--instagram {
    background-image: url(../images/icons/icon_instagram.svg);
  }
}
