.social {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 36px;

  &--top {
    margin: 16px 0 0;
  }

  &__icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 32px;
    height: 32px;
    text-decoration: none;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &:hover path {
      fill: $color-button;
    }
  }
}
