.social {

  &__link {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 32px;
    height: 32px;
  }

  &__icon {
    fill: $colorWhite;
    @include hover (fill, $colorBlue);
  }
}
