.socials {

  display: flex;
  gap: 32px;

  &__icons {
    width: 32px;
    height: 32px;
  }

  &__icon {
    fill: $c-white;
    transition: all 0.5s ease-in-out;

    &:hover {
      fill: $c-blue;
    }
  }
}
