.statement {
  padding: 200px 0 200px + 30px;
  text-align: center;
  background-color: #fff;
  position: relative;
  overflow-x: hidden;

  &__container {
    position: relative;
    z-index: 2;
  }

  &__title {
    font-weight: 600;
    font-size: 52px;
    line-height: 150%;
    color: $title-color;
    margin-bottom: 24px;

    @include onMobile {
      font-size: 44px;
      line-height: 120%;
    }
  }

  &__text {
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    line-height: 150%;
    max-width: 750px;
    margin: 0 auto 64px;

    @include onMobile {
      font-size: 22px;
      line-height: 150%;
    }
  }

  &__apply,
  a.statement__apply {
    margin: 0 auto;
    color: #fff;
  }

  &__decor-container {
    width: 1600px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  &__decor {
    border: 5px solid $blue-color;
    opacity: 0.5;
    border-radius: 12px;
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: left bottom;

    @include onMobile {
      display: none;
    }

    &-1--1,
    &-1--2,
    &-1--3 {
      height: 143px;
      width: 56px;
    }

    &-2--1,
    &-2--2,
    &-2--3,
    &-2--4 {
      height: 85px;
      width: 33px;
    }

    &-3--1,
    &-3--2,
    &-3--3,
    &-3--4,
    &-3--5 {
      height: 67px;
      width: 26px;
    }

    &-1--1 {
      transform: translate(269px, 283px) rotate(30deg);

      @include onTablet {
        transform: translate(420px, 283px) rotate(30deg);
      }
    }

    &-1--2 {
      transform: translate(1273px, 131px) rotate(30deg);

      @include onTablet {
        transform: translate(1080px, 131px) rotate(30deg);
      }
    }

    &-1--3 {
      transform: translate(1336px, 413px) rotate(30deg);
    }

    &-2--1 {
      transform: translate(233px, 72px) rotate(30deg);
    }

    &-2--2 {
      transform: translate(131px, 518px) rotate(30deg);
    }

    &-2--3 {
      transform: translate(1218px, 385px) rotate(30deg);
    }

    &-2--4 {
      transform: translate(1465px, 276px) rotate(30deg);
    }

    &-3--1 {
      transform: translate(82px, 370px) rotate(30deg);
    }

    &-3--2 {
      transform: translate(446px, 77px) rotate(30deg);
    }

    &-3--3 {
      transform: translate(481px, 465px) rotate(30deg);
    }

    &-3--4 {
      transform: translate(1012px, 514px) rotate(30deg);
    }

    &-3--5 {
      transform: translate(1447px, 110px) rotate(30deg);
    }
  }
}
