.strategic-agency {
  border-radius: 0 0 30px 30px;
  background-color: $c-black;

  padding-top: 48px;

  width: 100%;

  display: flex;
  justify-content: center;

  overflow: hidden;

  @include onDesktop {
    padding-top: 0;
  }

  &__wrapper {
    max-width: $design-min-width;
    width: 100%;

    @include onTablet {

      @include pageGrid;
      justify-content: center;
      align-items: center;
      align-self: center;
    }
  }

  &__header {
    color: $c-white;
    margin-bottom: 32px;

    @include onTablet {
      grid-column: 1 / span 6;
      margin-bottom: 24px;
    }

    @include onDesktop {
      grid-column: 1 / span 4;
      margin-bottom: 32px;
      grid-row: 3;
    }
  }

  &__description {
    color: $c-white;
    margin-bottom: 72px;

    @include onTablet {
      grid-column: 1 / span 4;
      margin-bottom: 56px;
    }

    @include onDesktop {
      grid-column: 1 / span 5;
      grid-row: 4;
      margin-bottom: 83px;
    }
  }

  &__button {
    margin-bottom: 48px;

    @include onTablet {
      grid-column: 1 / span 3;
      margin-bottom: 147px;
    }

    @include onDesktop {
      grid-row: 5;
    }
  }

  &__slider {
    margin-inline: -20px;
    background-image: linear-gradient($c-black, $c-white);
    border-radius: 30px;

    @include onTablet {
      grid-column: 1 / -1;
      margin-inline: -41px;
    }

    @include onDesktop {
      grid-row: 1 / span 5;
      grid-column: 7 / span 6;
      margin-left: 0;
      margin-right: -54px;
      border-radius: 30px 0;
    }

    @include onDesign {
      margin-right: -30vw;
    }
  }
}
