.strategic {
  @include onPhone {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  &__title {
    margin-bottom: 32px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 64px;
    line-height: 68px;
    letter-spacing: -2px;
    color: #fff;

    @include onFull {
      font-size: 100px;
      line-height: 108px;
    }

    @include onTablet {
      font-size: 32px;
      line-height: 36px;
    }

    @include onPhone {
      font-size: 24px;
      line-height: 28px;
    }
  }
  
  &__description {
    margin-bottom: 84px;
    font-size: 18px;
    line-height: 150%;
    color: #fff;

    @include onFull {
      font-size: 30px;
    }

    @include onTablet {
      font-size: 12px;
    }

    @include onPhone {
      font-size: 12px;
    }
  }

  &__learn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 264px;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    color: #fff;
    background-color: #2060f6;
    border: 0;
    border-radius: 8px;

    @include onFull {
      height: 70px;
      width: 400px;
      font-size: 20px;
    }

    @include onPhone {
      width: 132px;
      margin: 0 auto 300px;
    }
  }
}
