.strategic {
  &__title {
    margin-bottom: 32px;

    @include onTablet {
      margin-bottom: 24px;
    }

    @include onSmallDesktop {
      margin-bottom: 32px;
    }

    font-weight: 600;
    font-size: 52px;
    line-height: 120%;
    letter-spacing: -2px;
    color: $header-footer-textColor;

    @include onTablet {
      font-size: 64px;
      line-height: 68px;
    }
  }

  &__text {
    padding: 0;
    margin-bottom: 0 0 72px;

    @include onTablet {
      margin-bottom: 56px;
    }

    @include onSmallDesktop {
      margin-bottom: 83px;
    }

    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: $header-footer-textColor;
  }

  &__button {
    margin-bottom: 48px;

    @include onTablet {
      margin-bottom: 147px;
    }

    @include onSmallDesktop {
      margin-bottom: 0;
    }
  }
}
