.strategic-agency {
  @include page-grid;

  background-color: $c-header-footer;
  color: $c-white;
  border-radius: 0 0 30px 30px;

  row-gap: 48px;

  &__wrap {
    grid-column: 1 / -1;

    @include on-tablet {
      place-self: center start;
    }

    @include on-desktop-small {
      grid-column: 1 / 6;
      width: 362px;
      justify-self: auto;
    }
  }

  &__content {
    @include page-grid;

    row-gap: 32px;

    @include on-tablet {
      row-gap: 24px;
      margin-bottom: 90px;
    }

    @include on-desktop-small {
      --columns: 6;

      row-gap: 32px;
    }
  }

  &__title {
    grid-column: 1 / -1;

    @include on-tablet {
      font-size: 64px;
      line-height: 68px;
    }
  }

  &__subtitle {
    grid-column: 1 / -1;
    font-size: 18px;
    line-height: 27px;
    margin: 32px 0 72px;
  }

  &__button {
    grid-column: 1 / -1;
    display: block;
    width: 100%;
    background-color: $c-blue;
    border-radius: 8px;
    border: none;
    cursor: pointer;

    color: #fff;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 56px;
    text-decoration: none;
    transition: all $effectDuration;

    @include on-tablet {
      grid-column: 1 / 4;
    }

    @include on-desktop-small {
      grid-column: 1 / 5;
    }

    &:hover {
      background-color: $c-hoverblue;
      color: $c-white;
    }

    &:active {
      background-color: $c-hoverblue;
      color: $c-white;
    }

    @include hover(box-shadow, 0 0 20px rgba(0, 0, 0, 0.3));
  }
}
