.strategic {
  margin: 0 auto;
  padding: 0 20px;
  
 
  @include onTablet {
    padding: 0 40px 147px;
  }

  @include onLaptop {
    padding: 120px 0 0;
    margin: 0 0 0 55px;
  }

  @include onNotebook {
    padding: 120px 0 0;
    margin: 0 0 0 75px;
  }

  @include onDesign {
    padding: 120px 0 0 228px;
    margin: 0;
  }

  @include onLargeScreens {
    padding: 120px 324px 0 708px;
  }
  
  &__title {
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 52px;
    line-height: 120%;
    letter-spacing: -2px;
    color: #fff;
    margin-bottom: 32px;

    @include onTablet {
      font-size: 64px;
      line-height: 68px;
      margin-bottom: 24px;
    }

    @include onLaptop {
      margin-bottom: 32px;
    }
  }

  &__text {
    font-family: Open Sans, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #fff;
    margin-bottom: 72px;

    @include onTablet {
      margin-bottom: 56px;
    }

    @include onLaptop {
      margin-bottom: 83px;
    }
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 280px;
    margin-bottom: 74px;
  
    cursor: pointer;
    box-sizing: border-box;
    background-color: #2060f6;
    border-radius: 8px;
    border: none;
    text-decoration: none;

    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    color: #fff;
    

    @include onLaptop {
      width: 264px;
    }
  }

  &__br {

    &--mobile {
      display: none;

      @include onTablet {
        display: block;
      }
    }

    &--tablet {
      display: block;

      @include onTablet {
        display: none;
      }

      @include onLaptop {
        display: block;
      }
    }
  }
}

html.dark-mode .strategic__button {
  background-color: #ff9c8e;
}
