.strategic-agency {
  background-color: $blackBackground;
  border-radius: 0 0 30px 30px;

  @include onSmallDesktop {
    height: 680px;
  }

  &__title {
    @extend %poppins600;
    font-weight: 600;
    font-size: 52px;
    line-height: 120%;
    letter-spacing: -2px;
    padding-bottom: 32px;
    color: #fff;

    @include onTablet {
      font-size: 64px;
      line-height: 68px;
    }

    @include onSmallDesktop {
      width: 490px;
      padding-top: 120px;
    }
  }

  &__text {
    @extend %openSans400;
    font-size: 18px;
    line-height: 150%;
    color: #fff;
    padding-bottom: 72px;
    max-width: 362px;
  }

  &__button {
    margin-bottom: 48px;

    @include onTablet {
      width: 264px !important;
      margin-bottom: 147px;
    }
  }

  &__slider {
    position: relative;

    @include onSmallDesktop {
      width: 50%;
      position: absolute;
      top: 131px;
      right: 0;
    }
  }
}
