.strategic-agency {
  background-color: $color-background;

  &__slider {
    width: 100%;
    height: 390px;

    @include onDesktopSmall {
      position: absolute;
      right: 0;
      bottom: 0;
      width: 45%;
      height: 100%;
    }
  }

  &__title {
    font-size: 52px;
    line-height: 62px;
    font-weight: 600;
    letter-spacing: -2px;
    color: #fff;

    &--last {
      margin-bottom: 32px;
      padding-top: 0;
    }

    @include onTablet {
      display: inline-block;
      margin-bottom: 24px;
      font-size: 64px;
      line-height: 68px;

      &--last {
        margin-left: 10px;
      }
    }

    @include onDesktopSmall {
      padding-top: 120px;
      font-size: 64px;
      line-height: 68px;

      &--last {
        margin-bottom: 32px;
        padding-top: 0;
      }
    }
  }

  &__subtitle {
    margin-bottom: 72px;
    width: 100%;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #fff;

    @include onTablet {
      margin-bottom: 56px;
      width: 362px;
    }

    @include onDesktopSmall {
      margin-bottom: 84px;
      width: 362px;
    }
  }

  &__button {
    margin-bottom: 48px;
    height: 50px;
  }
}
