.subtitle {
  font-weight: 700;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: $color-5;
  margin-bottom: 16px;

  &--call-adress {
    margin-bottom: 8px;
  }
}
