.subtitle {
  @extend %Poppins600;
  color: $colorTitle;
  font-size: 32px;
  line-height: 44px;
  align-items: center;

  &-nav {
    @extend %Poppins700;
    font-size: 13px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: $coloSubtitle;
    line-height: 19px;
  }
}
