.subtitle {
  display: inline-block;

  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 20px;

  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: $subtitle-color;
}
