.svg {
  &--menu {
    fill: $color-white;

    @include hover-transition(transform, scale($hover-scale-menu));

    &--parts {
      fill: inherit;
    }
  }

  &--quote {
    fill: $color-blue;

    &--parts {
      fill: inherit;
    }
  }

  &--socials {
    fill: $color-white;

    @include hover-transition(fill, $color-blue);

    &--parts {
      fill: inherit;
    }
  }
}
