.swiper {
  color: #fff;

  &-wrapper {
    height: 390px;

    @include onSmallDesktop {
      height: calc(100vh - 120px);
      border-radius: 0%;
    }
  }

  &__img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }

  &__navigation {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 24px;
    left: 20px;
    z-index: 10;

    @include onSmallDesktop {
      width: 100%;
      flex-direction: row;
    }
  }

  &__title {
    margin-bottom: 8px;
    font-family: "Poppins", sans-serif;
    font-size: 13px;
    font-weight: bold;
    line-height: 20px;
    letter-spacing: 3px;
    text-transform: uppercase;
  }

  &__text {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 20px;
    max-width: 29ch;
  }

  &-button-prev,
  &-button-next {
    top: -30px;
    right: 140px;
    width: 32px;
    height: 32px;
    background-color: #fff;
    border-radius: 50%;

    @include onSmallDesktop {
      top: 30px;
    }
  }

  @include onSmallDesktop {
    &-button-next {
      left: 55px;
    }

    &__label {
      position: relative;
      left: 152px;
    }
  }

  &-button-prev::after,
  &-button-next::after {
    font-size: 10px;
    color: #253757;
  }
}
