.swiper {
  width: 100%;
  height: fit-content;
  transform: translateY(30px);
  @include onDesktopS {
    position: absolute !important;
    right: 0;
    bottom: 0;
    width: 50%;
    transform: none;
  }
}

.swiper-slide {
  display: flex !important;
}

.swiper-slide img {
  height: 390px;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 30px;
  @include onDesktopS {
    height: 680px;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
  }
}

.swiper .swiper-button-prev {
  left: 20px;
  @include onTablet {
    left: 42px;
  }
  @include onDesktopS {
    left: 78px;
  }
}

.swiper .swiper-button-next {
  left: 68px;
  @include onTablet {
    left: 90px;
  }
  @include onDesktopS {
    left: 126px;
  }
}

.swiper .swiper-button-prev,
.swiper .swiper-button-next {
  --swiper-navigation-size: 9px;

  width: 32px;
  height: 32px;
  top: 250px;
  font-weight: bold;
  border-radius: 50%;
  color: #000;
  background-color: #fff;
  @include onTablet {
    top: 242px;
  }
  @include onDesktopS {
    top: 582px;
  }
}

.swiper-info {
  position: absolute;
  bottom: 0;
  padding-bottom: 24px;
  @include onDesktopS {
    left: 182px;
    padding: 0 ;
    padding-bottom: 48px;
  }
}

.swiper-slides-title {
  margin-bottom: 8px;
  font-size: 13px;
  line-height: 20px;
  font-weight: 700;
  color: #fff;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.swiper-slides-text {
  font-size: 14px;
  line-height: 20px;
  @include onTablet {
    width: 240px;
  }
}
