.header {
  &__slider-block {
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    height: 390px;
    border-radius: 30px;
    bottom: 0;
    right: 0;
    width: calc(100% + 40px);
    margin: 0 -20px;

    @include on-tablet {
      width: calc(100% + 80px);
      margin: 0 -40px;
    }

    @include on-desctop {
      border-radius: 30px 0 0;
      position: absolute;
      width: 50%;
      margin: 0;
      right: 0;
      height: calc(100% - 120px);
      overflow: hidden;
    }
  }
}

.swiper {
  position: relative;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 390px;

  @include on-desctop {
    height: 680px;
  }
}

.swiper-slide--1 {
  background-image: url(/images/blocks/header/bg-image.jpg);
}

.swiper-slide--2 {
  background-image: url(/images/blocks/header/bg-image2.png);
}

.swiper-slide--3 {
  background-image: url(/images/blocks/header/bg-image3.png);
}

.swiper-slide--4 {
  background-image: url(/images/blocks/header/bg-image4.png);
}

.swiper-button-next {
  left: 58px;
  right: auto;
}

.bg-inner {
  @include on-desctop {
    display: flex;
    gap: 24px;
    padding-bottom: 48px;
    padding-inline: 78px;
    align-items: center;
  }

  &__text {
    position: absolute;
    bottom: 10%;
    left: 20px;
    z-index: 5;

    @include on-tablet {
      left: 41px;
    }

    @include on-desctop {
      left: 35%;
      bottom: 9.7%;
    }
  }

  &__title {
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom: 8px;
  }

  &__subtitle {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 1.4;
  }
}

.swiper-button-next::after {
  content: none;
}

.swiper-button-prev::after {
  content: none;
}

.swiper-buttons {
  position: absolute;
  bottom: 32%;
  left: 2.7%;
  margin-bottom: 16px;

  @include on-tablet {
    left: 4%;
  }

  @include on-desctop {
    left: 17%;
    bottom: 12%;
  }
}
