.top-bar__theme-switcher {
  cursor: pointer;
  border-radius: 20px;
  background-color: $button-color-blue;
  padding: 5px;
  height: 20px;
  width: 40px;
}

.top-bar__theme-switcher::after {
  content: '';
  display: block;
  width: 50%;
  border-radius: 50%;
  padding-bottom: 50%;
  background-color: $white-color;
  transition: transform $efferctDuration;
}

.page--theme--dark {
  .page__menu {
    background-color: $button-pink-color;
  }

  // #region header + nav menu
  .top-bar__theme-switcher {
    background-color: $rasbp-number-bg;
  }

  .header {
    background-color: $head-foot-bg-blue;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .header__slider {
    border-radius: 100px 0 0;

    @include on-desktop {
      border-top-left-radius: 120px;
    }
  }

  .top-bar__hire-us {
    border-bottom: 2px solid $button-pink-color;
  }

  .nav__link:hover {
    color: $button-pink-color;
  }

  // #endregion

  // #region about us
  .about-us {
    &__img--first {
      background-image: url(/images/testimonials/testimonial-ava-1.png);
    }

    &__img--second {
      background-image: url(/images/testimonials/testimonial-ava-2.png);
    }

    &__img--third {
      background-image: url(/images/testimonials/testimonial-ava-3.png);
    }

    &-qm-icon--1 {
      filter: brightness(0) saturate(100%) invert(67%) sepia(17%)
        saturate(3737%) hue-rotate(174deg) brightness(115%) contrast(90%);
    }

    &-qm-icon--2 {
      filter: brightness(0) saturate(100%) invert(73%) sepia(80%)
        saturate(1077%) hue-rotate(355deg) brightness(100%) contrast(103%);
    }

    &-qm-icon--3 {
      filter: brightness(0) saturate(100%) invert(63%) sepia(81%)
        saturate(2661%) hue-rotate(318deg) brightness(86%) contrast(124%);
    }
  }

  // #endregion

  //  #region services
  .services__card--1 {
    .services__number {
      background-color: rgba(86, 204, 242, 0.1);
      color: $blue-color;
    }

    .services__link:hover {
      color: $blue-color;
    }

    .services__button-img {
      background-color: $blue-color;
    }
  }

  .services__card--2 {
    .services__number {
      background-color: rgba(252, 201, 29, 0.1);
      color: $yellow-number-bg;
    }

    .services__link:hover {
      color: $yellow-number-bg;
    }

    .services__button-img {
      background-color: $yellow-number-bg;
    }
  }

  .services__card--3 {
    .services__number {
      background-color: rgba(21, 216, 80, 0.1);
      color: $green-color;
    }

    .services__link:hover {
      color: $green-color;
    }

    .services__button-img {
      background-color: $green-color;
    }
  }

  .services__card--4 {
    .services__number {
      background-color: rgba(243, 99, 99, 0.1);
      color: $rasbp-number-bg;
    }

    .services__link:hover {
      color: $rasbp-number-bg;
    }

    .services__button-img {
      background-color: $rasbp-number-bg;
    }
  }

  // #endregion

  // #region vpr
  .vpr {
    @include on-tablet {
      background-image: url(/images/Shapes-color.png);
    }
  }

  //  #endregion

  // #region footer
  .footer {
    border-top-right-radius: 100px;
    border-top-left-radius: 0;
    background-color: $head-foot-bg-blue;

    @include on-desktop {
      border-top-right-radius: 120px;
    }

    &__link:hover {
      color: $light-blue;
    }
  }

  .contact {
    &__field:hover {
      border-bottom: 1px solid $hoover-pink-color;
    }
  }

  .social-icons__icon-link:hover {
    filter: brightness(0) saturate(100%) invert(95%) sepia(60%) saturate(4521%)
      hue-rotate(176deg) brightness(104%) contrast(104%);
  }

  // #endregion

  .button-submit {
    background-color: $button-pink-color;
    border-radius: 50px;
  }

  .button-submit:hover {
    background-color: $hoover-pink-color;
  }
}

.top-bar__theme-switcher--theme--dark::after {
  transform: translateX(100%);
}
