.switcher {
  display: block;
  height: 18px;
  width: 18px;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @include hover(transform, scale(1.1));

  &__area {
    padding: 7px;

    background-color: $white;
    border-radius: 50%;

    @include hover(transform, scale(1.1));
  }

  &--left {
    background-image: url(../images/header/Arrow-left.svg);
  }

  &--right {
    background-image: url(../images/header/Arrow-right.svg);
  }
}
