.theme-switcher {
  position: relative;
  width: 35px;
  height: 15px;
  border: none;
  border-radius: 20px;
  background-color: $white-color;
  padding: 5px;
  cursor: pointer;

  &--button {
    position: absolute;
    width: 45%;
    padding-bottom: 45%;
    background-color: var(--nav-link-lines);
    border: none;
    border-radius: 50%;
    top: 50%;
    left: 0;
    transform: translate(10%, -50%);

    @include transition(all);
  }

  &--theme--dark {
    &--button {
      background-color: var(--nav-link-lines);
      transform: translate(105%, -50%);
    }
  }
}
