.synergy {
  height: 571px;
  background-color: $secondary-bg-color;

  @include on-tablet {
    height: 796px;
  }

  @include on-small-desktop {
    height: 888px;
  }

  &__content {
    @include content-padding-inline;

    @include on-tablet {
      height: 509px;
      margin-top: 63px;
      background-image: url(../images/Shapes_tablet.png);
      background-position: center;
      background-size: cover;
    }

    @include on-small-desktop {
      margin-top: 83px;
      background-image: url(../images/Shapes.png);
    }

    @include on-the-design {
      margin-top: 72px;
      height: 547px;
      background-size: contain;
    }
  }

  &__title {
    margin-top: 72px;

    @include on-tablet {
      margin-top: 0;
      padding-top: 137px;

      font-size: 52px;
      line-height: 62.4px;
    }

    @include on-small-desktop {
      padding-top: 116px;
      line-height: 78px;
    }

    @include on-the-design {
      padding-top: 127px;
    }
  }

  &__text {
    font-family: $secondary-font-family;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    text-align: center;
    color: $main-text-color;
    margin-bottom: 56px;

    @include on-tablet {
      font-size: 24px;
      line-height: 36px;
      margin-bottom: 64px;
    }

    @include on-small-desktop {
      margin-inline: auto;

      width: 754px;
    }
  }

  &__link {
    all: unset;
    cursor: pointer;
    text-decoration: none;

    background-color: $highlight-color;
    height: 56px;
    width: 280px;
    border-radius: 8px;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: center;

    @include on-tablet {
      width: 264px;
    }

    &--text {
      font-family: $main-text-color;
      color: $header-menu-text-color;
      font-size: 15px;
      font-weight: 600;
      line-height: 22.5px;
      transition: $std-transition;
    }

    &:hover &--text {
      transform: scale(1.2);
    }
  }
}
