.tes-cards {
  display: grid;
  gap: 24px;
  justify-items: center;

  @include page-grid;
}

.tes-card {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 39px 32px;
  width: 280px;
  background-color: #fff;
  border-radius: 16px;
  grid-column: 1 / -1;
  justify-content: space-between;

  @include on-tablet {
    padding-inline: 98px;
    width: 558px;
  }

  @include on-desktop {
    grid-column: span 4;
    padding: 45px 32px;
    width: 292px;
  }

  @include large-screens {
    width: 362px;
  }

  @include hover(transform, scale(1.1));

  &__photo {
    background-position: center;
    background-size: cover;
    height: 196px;
    width: 196px;
    margin-bottom: 24px;

    &--one{
      background-image: url(../images/testimonials/peopleOne.png);
    }

    &--two{
      background-image: url(../images/testimonials/peopleTwo.png);
    }

    &--three {
      background-image: url(../images/testimonials/peopleThree.png);
    }

    @include on-tablet {
      width: 250px;
      height: 250px;
    }

    @include on-desktop {
      width: 196px;
      height: 196px;
    }
  }

  &__commas {
    display: block;
    margin-inline: auto;
    margin-bottom: 8px;
  }

  &__overview {
    margin: 0;
    color: $title-info;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 600;
    line-height: 150%; /* 19.5px */
    margin-bottom: 16px;
  }

  &__people-name {
    margin: 0;
    color: $title-color;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 600;
    line-height: 150%; /* 19.5px */
    margin-bottom: 4px;
  }

  &__profession {
    margin: 0;
    padding: 0;
    color: $color-text-type;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 3px;
    text-transform: uppercase;
  }
}
