.testimonials-cards {
  display: flex;
  gap: 30px;

  @include small-desktop {
    gap: 20px;
  }

  @include mobile {
    gap: 24px;
  }

  @include not-desktop {
    flex-direction: column;
  }

  &__card {
    @include card-form;
    @include hover;

    width: 280px;
    margin: 0 auto;

    @include tablet {
      width: 558px;
    }

    @include small-desktop {
      width: 292px;
    }

    @include desktop-plus {
      width: 362px;
    }
  }

  &__photo {
    position: relative;
    width: 250px;
    height: 250px;
    margin: 32px auto 27px;

    &--element {
      width: 20px;
      height: 18px;
      margin: 0 auto 10px;
    }

    @include mobile {
      width: 196px;
      height: 196px;
    }

    @include small-desktop {
      width: 196px;
      height: 196px;
    }
  }

  &__text {
    @include card-text;
    margin: 0 auto 16px;
    text-align: center;
    width: 196px;

    @include tablet {
      width: 362px;
    }

    @include large-desktop {
      width: 250px;
    }
  }

  &__name {
    @include card-text;

    color: $title-color;
    margin: 0 auto 4px;
  }

  &__company {
    @include gray-title;

    margin: 0 auto 32px;
  }
}
