.testimonial {
  padding-bottom: 148px;

  &__desc {
    margin-top: 0;
  }

  &__title {
    @include poppins600;
    font-size: 32px;
    line-height: 150%;
    margin-bottom: 85px;

    @media (max-width: 640px) {
      margin-bottom: 48px;
    }
  }

  &__block {
    max-width: 31.5%;
    background-color: #fff;
    box-shadow: 0 9px 18px 0 rgba(37, 41, 49, 0.03);
    border-radius: 16px;
    padding: 32px 56px;

    @media (max-width: 1023px) {
      max-width: 100%;
    }

    @media (max-width: 640px) {
      max-width: 100%;
      padding: 32px 42px;
    }

    &--photo {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
  
      width: 100%;
      height: 250px;
  
      &:before {
        content: "";
        position: absolute;
        top: 32%;
        left: 30%;

        transform: translate(-50%,-50%) rotate(-60deg);

        display: block;
        width: 139px;
        height: 56px;
        background-color: #2060f6;
        border: 1px solid #2060f6;
        border-radius: 12px;

        @media (max-width: 1023px) {
          top: 35%;
          left: 40%;

          width: 139px;
          height: 56px;
        }

        @media (max-width: 639px) {
          top: 36%;
          left: 33%;

          width: 109px;
          height: 43px;
        }
      }

      &::after {
        content: "";
        position: absolute;
        top: 68%;
        left: 69%;

        transform: translate(-50%,-50%) rotate(-60deg);

        display: block;
        height: 56px;
        width: 139px;
        background-color: #2060f6;
        border: 1px solid #2060f6;
        border-radius: 12px;

        @media (max-width: 1023px) {
          top: 68%;
          left: 61%;

          width: 139px;
          height: 56px;
        }

        @media (max-width: 639px) {
          top: 62%;
          left: 67%;
          
          width: 109px;
          height: 43px;
        }
      }
    }

    &--description {
      position: relative;

      @include openSans600;
      font-size: 13px;
      line-height: 150%;
      text-align: center;

      padding: 50px 0 16px;

      &::before {
        content: "";
        width: 20px;
        height: 20px;
        
        position: absolute;
        top: 20px;
        left: 50%;
        transform: translate(-50%);

        background-image: url(/images/quotes.svg);
        background-repeat: no-repeat;
      }
    }

    &--name {
      @include openSans600;
      font-size: 13px;
      line-height: 150%;
      text-align: center;
      color: #253757;
      padding-bottom: 4px;
    }

    &--role {
      @include poppins700;
      font-size: 13px;
      line-height: 19px;
      text-align: center;
      letter-spacing: 3px;
      text-transform: uppercase;
      color: #c0cdd7;
    }
  }

  &__photo {
    width: 140px;
    height: 140px;

    object-fit: cover;
    border-radius: 50%;
    margin: 0 auto;
    z-index: 2;

    transition: all 0.5s;

    &:hover {
      transform: scale(1.2);
    }

    @media (max-width: 1023px) {
      width: 140px;
      height: 140px;
    }

    @media (max-width: 639px) {
      width: 109px;
      height: 109px;
    }
  }

}

.testimonials {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: stretch;

  @media (max-width: 1023px) {
    flex-direction: column;
    gap: 20px;
  }

  @media (max-width: 640px) {
    gap: 24px;
  }
}
