.testomonials {
  width: 1146px;
  height: 711px;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  margin-top: 148px;
}

@media (max-width: 1024px) {
  .testomonials {
    width: 916px;
  }
}

.testomonials_subtitle {
  color: rgb(192, 205, 215);
  font-family: Poppins, sans-serif;
  font-size: 13px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 3px;
  text-align: left;
  text-transform: uppercase;
}

.testomonials_tittle {
  margin-top: 16px;
  color: rgb(37, 55, 87);
  font-family: Poppins, sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 150%;
  text-align: left;
}

.testomonials_card {
  position: relative;
  width: 362px;
  height: 494px;
  border-radius: 16px;
  box-shadow: 0 9px 18px 0 rgba(37, 41, 49, 0.03);
  background: rgb(255, 255, 255);
  &:hover {
    transform: scale(1.09);
  }
}

@media (max-width: 1024px) {
  .testomonials_card {
    width: 292px;
    height: 456px;
  }
}

.testomonials_cards {
  position: absolute;
  display: flex;
  flex-direction: row;
  gap: 30px;
  bottom: 0;
}

@media (max-width: 1024px) {
  .testomonials_cards {
    gap: 20px;
  }
}

.testomonials_image {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  margin-top: 32px;
}

.qwotes {
  position: absolute;
  padding-top: 277px;
  left: 50%;
  transform: translate(-50%, 0);
  margin-top: 27px;
}

@media (max-width: 1024px) {
  .qwotes {
    padding-top: 223px;
  }
}

.teslstomonials_text {
  position: absolute;
  margin-top: 338px;
  color: rgb(108, 120, 139);
  font-family: OpenSans, sans-serif;
  font-size: 13px;
  font-weight: 600;
  line-height: 150%;
  text-align: center;
}

@media (max-width: 1024px) {
  .teslstomonials_text {
    margin-top: 284px;
  }
}

.teslstomonials_name {
  position: relative;
  margin-top: 418px;
  color: rgb(37, 55, 87);
  font-family: OpenSans, sans-serif;
  font-size: 13px;
  font-weight: 600;
  line-height: 150%;
  text-align: center;
}

@media (max-width: 1024px) {
  .teslstomonials_name {
    margin-top: 380px;
  }
}

.teslstomonials_profession {
  position: relative;
  margin-top: 4px;
  color: rgb(192, 205, 215);
  font-family: Poppins, sans-serif;
  font-size: 13px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 3px;
  text-align: center;
  text-transform: uppercase;
}
