.testimonials {
  @include padding;

  &__subtitle {
    @include padding-top;
    margin-bottom: 16px;
    font-family: $additional-font;
    font-weight: $bold-weight;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: $title-gray;
  }

  &__title {
    margin-bottom: 48px;
    font-family: $additional-font;
    font-size: 32px;
    line-height: 48px;
    color: $title-black;

    @include onTablet {
      margin-bottom: 56px;
    }

    @include onDesktop {
      margin-bottom: 85px;
    }
  }

  &__br {
    display: none;

    @include onTablet {
      display: block;
    }
  }

  &__line {
    display: flex;
    flex-direction: column;
    margin-bottom: 120px;

    @include onTablet {
      margin-bottom: 148px;
    }

    @include onDesktop {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
      margin-bottom: 186px;
    }

    @include onDesign {
      gap: 30px;
      margin-bottom: 148px;
    }
  }

  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 24px;
    padding: 32px 42px;
    background-color: $main-light;
    border-radius: 16px;
    box-shadow: $shadow;

    @include onTablet {
      margin-bottom: 30px;
      padding: 32px 98px;
    }

    &:last-child {
      margin-bottom: 0;
    }

    @include onDesktop {
      margin-bottom: 0;
      padding: 32px 48px;
      transition: transform $transition;

      &:hover {
        transform: scale(1.1);
      }
    }

    @include onDesign {
      padding: 32px 56px;
    }
  }

  &__avatar {
    position: relative;
    margin-bottom: 27px;
    width: 196px;
    height: 196px;

    @include onTablet {
      width: 250px;
      height: 250px;
    }

    @include onDesktop {
      width: 196px;
      height: 196px;
    }

    @include onDesign {
      width: 250px;
      height: 250px;
    }
  }

  &__decor {
    position: absolute;
    width: 92px;
    height: 115px;
      
    &--1 {
      top: 4px;
      left: 14px;
    }

    &--2 {
      bottom: 4px;
      right: 14px;
    }

    @include onTablet {
      width: 118px;
      height: 146px;
      
      &--1 {
        top: 5px;
        left: 18px;
      }

      &--2 {
        bottom: 5px;
        right: 18px;
      }
    }

    @include onDesktop {
      width: 92px;
      height: 115px;
      
      &--1 {
        top: 4px;
        left: 14px;
      }

      &--2 {
        bottom: 4px;
        right: 14px;
      }
    }

    @include onDesign {
      width: 118px;
      height: 146px;
      
      &--1 {
        top: 5px;
        left: 18px;
      }

      &--2 {
        bottom: 5px;
        right: 18px;
      }
    }
  }

  &__image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 110px;
    height: 110px;
    border-radius: 50%;

    @include onTablet {
      width: 140px;
      height: 140px;
    }

    @include onDesktop {
      width: 110px;
      height: 110px;
    }

    @include onDesign {
      width: 140px;
      height: 140px;
    }
  }

  &__quotes {
    margin-bottom: 10px;
    width: 22px;
    height: 19px;
  }

  &__text {
    margin-bottom: 16px;
    text-align: center;
  }

  &__name {
    margin-bottom: 4px;
    color: $title-black;
    text-align: center;
  }

  &__job {
    font-family: $additional-font;
    font-weight: $bold-weight;
    color: $main-dark;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
  }
}
