.testimonials {
  &__title {
    margin: 0 0 16px;

    @extend %h2;
  }

  &__description {
    margin: 0 0 24px;

    @extend %h3;
    line-height: 130%;
    text-align: left;
  }

  &__card {
    margin: 0 0 24px;

    &:last-child {
      margin: 0;
    }

    @include onTablet {
      margin: 0 0 30px;

      &:last-child {
        margin: 0;
      }
    }

    @include onNotebook {
      margin: 0;
    }
  }
}
