.testimonial-card {
  padding: 3.2rem 4rem;
  border-radius: 2.4rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1.6rem;
  background-color: $main-secondary-bg-color;
  box-shadow: 0 0.9rem 1.8rem 0 $service-card-shadow;

  font-size: 1.3rem;
  font-weight: 600;
  line-height: 1.95rem;
  box-sizing: border-box;
  max-width: 26.4rem;

  @include on-tablet {
    max-width: 55.8rem;
  }

  @include on-s-desktop {
    padding: 3.2rem 5rem;
  }

  &__img-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 19.6rem;
    height: 19.6rem;

    margin-bottom: 0.8rem;

    &::before {
      position: absolute;
      content: '';
      width: 11.1rem;
      height: 4.5rem;
      background-color: $diversity-color-blue;
      border-radius: 1.2rem;
      font-family: inherit;
      transform: rotate(120deg) translate(-12%, 110%);
    }

    &::after {
      position: absolute;
      content: '';
      width: 11.1rem;
      height: 4.5rem;
      background-color: $diversity-color-blue;
      border-radius: 1.2rem;
      transform: rotate(120deg) translate(12%, -110%);
    }

    &--2 {
      &::before,
      &::after {
        background-color: $diversity-color-yellow;
      }
    }

    &--3 {
      &::before,
      &::after {
        background-color: $diversity-color-pink;
      }
    }
  }

  &__person-photo {
    width: 11rem;
    border-radius: 50%;
    z-index: 1;
  }

  &__comment {
    font-family: OpenSans, sans-serif;
    font-size: 1.3rem;
    font-weight: 550;
    line-height: 1.95rem;
    text-align: center;
    max-width: 36rem;

    &::before {
      margin-top: 2.8rem;
      display: block;
      content: '\201C';
      color: $diversity-color-blue;
      font-size: 7rem;
      font-weight: 500;
      line-height: 0;
      font-family: sans-serif;
    }

    &--2 {
      &::before {
        color: $diversity-color-yellow;
      }
    }

    &--3 {
      &::before {
        color: $diversity-color-pink;
      }
    }
  }

  &__person {
    text-align: center;
    width: 105%;
  }

  &__person-name {
    font-family: OpenSans, sans-serif;
    font-size: 13px;
    font-weight: 600;
    line-height: 19.5px;
    text-align: center;
    color: $main-header-text-color;

    margin-bottom: 4px;
  }
}
