.testimonials-list {
  @include pageGrid;

  row-gap: 24px;

  @include onTablet {
    row-gap: 30px;
  }

  &__card {
    grid-column: span 2;

    padding: 32px 42px;

    background-color: $white-bgr-clr;
    border-radius: 16px;

    @include onTablet {
      grid-column: 1 / -1;
    }
  }

  &__img {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 196px;
    width: 196px;

    margin: 0 auto 24px;

    position: relative;

    &::before {
      content: "";

      position: absolute;

      width: 109px;
      height: 44px;

      rotate: -60deg;
      right: 84px;
      bottom: 115px;

      background-color: $main-blue-color;
      border-radius: 12px;
    }

    &::after {
      content: "";

      position: absolute;

      width: 109px;
      height: 44px;

      rotate: -60deg;
      top: 115px;
      left: 84px;

      background-color: $main-blue-color;
      border-radius: 12px;
    }
  }

  &__foto {
    height: 110px;
    width: 110px;

    border-radius: 100%;
    z-index: 1;
  }

  &__testimonial {
    margin-bottom: 16px;

    text-align: center;
    font-size: 13px;
    font-weight: 600;

    @include onTablet {
      padding-inline: 17.56%;
    }
  }

  &__quotes {
    display: flex;
    height: 24px;
    width: 24px;

    margin: 0 auto 8px;
  }

  &__name {
    margin-bottom: 4px;

    color: $black-title-color;
    text-align: center;
    font-size: 13px;
    font-weight: 600;
  }

  &__profession {
    text-align: center;
  }
}
