.testimonial-card {
  @include hover-elevation;

  width: 100%;

  padding: 32px 42px;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: $color-bgr-white;
  border-radius: 16px;
  box-shadow: 0 9px 18px 0 #25293108;

  @include on-small-desktop {
    max-width: 362px;
  }

  &__avatar {
    width: 196px;
    height: 196px;

    margin-bottom: 24px;

    display: flex;
    align-items: center;
    justify-content: center;

    @include on-tablet {
      width: 250px;
      height: 250px;
    }

    @include on-small-desktop {
      width: 196px;
      height: 196px;
    }

    @include on-the-design {
      width: 250px;
      height: 250px;
    }
  }

  &__photo {
    position: relative;
    display: inline-block;

    &::before,
    &::after {
      content: '';
      position: absolute;
      z-index: 0;

      width: 109px;
      height: 44px;
      border-radius: 12px;

      background: $color-txt-number-subtitles;

      transform: rotate(-60deg);

      @include on-tablet {
        width: 139px;
        height: 56px;
      }

      @include on-small-desktop {
        width: 109px;
        height: 44px;
      }

      @include on-the-design {
        width: 139px;
        height: 56px;
      }
    }

    &::before {
      top: -1px;
      left: -35px;

      @include on-tablet {
        top: -3px;
        left: -46px;
      }

      @include on-small-desktop {
        top: -1px;
        left: -35px;
      }

      @include on-the-design {
        top: -3px;
        left: -46px;
      }
    }

    &::after {
      bottom: -1px;
      right: -35px;

      @include on-tablet {
        bottom: -3px;
        right: -46px;
      }

      @include on-small-desktop {
        bottom: -1px;
        right: -35px;
      }

      @include on-the-design {
        bottom: -1px;
        right: -35px;
      }
    }
  }

  &__img {
    position: relative;
    z-index: 1;

    width: 110px;
    height: 110px;
    border-radius: 50%;
    object-fit: cover;

    @include on-tablet {
      width: 140px;
      height: 140px;
    }

    @include on-small-desktop {
      width: 110px;
      height: 110px;
    }

    @include on-the-design {
      width: 140px;
      height: 140px;
    }
  }

  &__quote {
    @extend %p;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;

    font-weight: 600;
    font-size: 13px;
    color: $color-txt-body;
    text-align: center;

    margin-bottom: 16px;

    &::before {
      content: '';
      width: 24px;
      height: 24px;

      background-image: url(../images/testimonials/quotation_mark.svg);
      background-repeat: no-repeat;
      background-size: contain;

      display: block;
    }
  }

  &__name {
    @extend %p;

    font-weight: 600;
    font-size: 13px;
    color: $color-txt-heading;
    text-align: center;

    margin-top: auto;
    margin-bottom: 4px;
  }

  &__company {
    @extend %subtitle-base;

    text-align: center;
    line-height: 100%;
    color: $color-txt-subtitles;
  }
}
