.testimonials {
  padding-inline: 20px;
  @include pageGrid;

  @include onTablet {
    padding-inline: 41px;
  }

  @include onSmallDesktop {
    padding-inline: 54px;
    margin-top: -115px;
  }

  @include onDesktop {
    padding-inline: 227px;
  }

  @include onLargeScreens {
    padding-inline: 707px;
  }

  &__card {
    padding: 32px 42px;
    background-color: $main-text-color-white;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    @include hover(transform, scale(1.03));

    @include onTablet {
      padding: 32px 98px;
    }

    @include onSmallDesktop {
      padding: 32px 48px;
    }

    @include onDesktop {
      padding: 32px 56px;
    }

    &-quotes {
      margin: 0;
      padding: 0;
      width: 24px;
      height: 24px;
      background-image: url(../images/quotes.svg);
      margin-top: 24px;
    }

    &-description {
      margin: 0;
      padding: 0;
      font-family: $fontOpenSans;
      font-weight: 600;
      font-size: 13px;
      text-align: center;
      line-height: 19.5px;
      color: $color-grey-section-description;
      margin-top: 8px;

        @include onTablet {
          margin-top: 16px;
        }

        @include onSmallDesktop {
          margin-top: 8px;
        }
      }

    &-name {
      margin: 0;
      padding: 0;
      font-family: $fontOpenSans;
      font-weight: 13px;
      line-height: 19.5px;
      text-align: center;
      font-weight: 600;
      color: $name-color-testimonials;
      margin-top: 16px;
      margin-bottom: 4px;

      @include onSmallDesktop {
        margin-top: 32px;
      }

      @include onDesktop {
        margin-top: 16px;
      }
    }

    &-logo {
      margin: 0;
      padding: 0;
      width: 196px;
      height: 196px;

      @include onTablet {
        width: 250px;
        height: 250px;
      }

      &--first {
        background-image: url(../images/testimonials-first-mobile.svg);

        @include onTablet {
          background-image: url(../images/testimonials-first.svg);
        }
      }

      &--second {
        background-image: url(../images/testimonials-second-mobile.svg);

        @include onTablet {
          background-image: url(../images/testimonials-second.svg);
        }
      }

      &--third {
        background-image: url(../images/testimonials-third-mobile.svg);

        @include onTablet {
          background-image: url(../images/testimonials-third.svg);
        }
      }
    }

    &--first {
      grid-column: 1 / -1;
      margin-top: 48px;

      @include onSmallDesktop {
        grid-column: 1 / 5 ;
        margin-top: 85px;
      }
    }

    &--second {
      grid-column: 1 / -1;
      margin-top: 24px;

      @include onTablet {
        margin-top: 30px;
      }

      @include onSmallDesktop {
        grid-column: 5 / 9;
        margin-top: 85px;
      }
    }

    &--third {
      grid-column: 1 / -1;
      margin-top: 24px;

      @include onTablet {
        margin-top: 30px;
      }

      @include onSmallDesktop {
        grid-column: 9 / -1;
        margin-top: 85px;
      }
    }
  }
}

