.text-sans {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: $size22;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  color: $colorText;

  @include onTablet {
    font-size: $size24;
  }

  &--small {
    font-size: $size14;
    font-weight: 400;
    line-height: 150%;
  }

  &--size-13 {
    font-size: $size13;
  }

  &--color-black {
    color: $colorBlack;
  }

  &--size-24 {
    font-size: $size24;
    text-align: left;
    color: $colorWhite;
  }
}
