.text {
  font-family: "Open Sans", sans-serif;
  font-weight: regular;
  font-style: normal;
  color: $f-dark-gray;

  &--xxxxx {
    display: inline-block;
    font-size: 22px;
    font-weight: semibold;
    line-height: 150%;
    text-align: center;
    color: $f-dark-gray;

    @include onTablet {
      font-size: 24px;
    }
  }

  &--xxxx-white {
    font-size: 18px;
    font-weight: regular;
    line-height: 150%;
    color: #fff;
  }

  &--xxx-white-07 {
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    font-weight: semibold;
    line-height: 22px;
    text-transform: uppercase;
    color: white;
    opacity: 0.7;
  }

  &--xxx-white {
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    font-weight: semibold;
    line-height: 22px;
    text-transform: uppercase;
    color: white;
  }

  &--xxx-black {
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    font-weight: semibold;
    line-height: 22px;
    color: $f-black;
    text-align: center;
  }

  &--xx-center {
    font-size: 14px;
    line-height: 150%;
    text-align: center;
  }

  &--xx-start {
    font-size: 14px;
    line-height: 150%;
    text-align: start;
  }

  &--xx-white {
    font-size: 14px;
    line-height: 150%;
    color: #fff;
  }

  &--x-white {
    font-size: 13px;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    letter-spacing: 3px;
    line-height: 20px;
    text-transform: uppercase;
    color: white;
  }

  &--x-white-05 {
    font-size: 13px;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    letter-spacing: 3px;
    line-height: 20px;
    text-transform: uppercase;
    color: white;
    opacity: 0.5;
  }

  &--x-light {
    display: block;
    font-size: 13px;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    letter-spacing: 3px;
    line-height: 20px;
    text-transform: uppercase;
    color: $f-light-gray;
  }

  &--x-light-center {
    display: block;
    width: 100%;

    
    font-size: 12px;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    letter-spacing: 3px;
    line-height: 20px;
    text-transform: uppercase;
    color: $f-light-gray;
    text-align: center;
  }

  &--x-darksome {
    font-size: 13px;
    font-weight: 600;
    line-height: 20px;
    color: $f-dark-gray;
  }

  &--x-darksome-center {
    display: block;
    font-size: 13px;
    font-weight: 600;
    line-height: 20px;
    color: $f-dark-gray;
    text-align: center;
  }

  &--x-black {
    display: block;
    font-size: 13px;
    font-weight: 600;
    line-height: 20px;
    color: $f-black;
    text-align: center;
  }

  &--x-blue {
    display: block;
    font-size: 13px;
    font-weight: 600;
    line-height: 20px;
    color: $bc-blue;
    text-align: center;
    text-transform: uppercase;
  }
}
