.theme-switcher {
  position: absolute;
  right: 0;
  top: 60px;
  width: 45px;
  background-color: var(--white-color);
  border-radius: 20px;
  padding: 5px;
  cursor: pointer;

  @include on-desktop-s {
    top: 95px;
  }
}

.theme-switcher::after {
  content: '';
  display: block;
  width: 50%;
  padding-bottom: 50%;
  border-radius: 50%;
  background-color: var(--backgroung-color);
}
