.theme-switcher {
  display: flex;
  @include customCursor;

  /* Theme switcher styles */
  &__label {
    position: relative;
    display: flex;
    background-color: var(--bg-button-primary);
    border-radius: 10px;
    padding-right: 100%;
    cursor: pointer;
  }

  &__label::before {
    content: "";
    width: 20px;
    height: 20px;
    background-color: $c-text-primary;
    border-radius: 50%;
    transition: transform $transition-duration ease;
  }

  &__button:checked:checked + &__label::before {
    transform: translateX(100%);
  }
}
