.ticket {
  display: flex;
  flex-direction: column;

  padding: 32px;
  @include card;

  transition: transform 0.5s, box-shadow 0.5s;

  @include onTablet {
    &:hover {
      transform: scale($card-scale);
      box-shadow: 0 9px 18px #2060f633;
    }

    &--translateY-50 {
      transform: translateY(-50%);
    }

    &--translateY-50:hover {
      transform: translateY(-50%) scale($card-scale);
    }
  }

  &__title {
    display: block;

    width: 46px;
    margin-bottom: 24px;
    border-radius: 23px;
    background-color: rgba(32, 96, 246, 0.1);

    @extend %ticket-title;
  }

  &__list {
    margin: 0 0 32px;
    padding: 0;
    list-style: none;
  }

  &__item {
    @extend %ticket-text;
  }

  &__button {
    display: flex;
    align-items: center;
    gap: 16px;
    transition: color 0.4s;

    @extend %ticket-button;

    &::before {
      content: "";
      @include circle (40px);
      background-image: url(../images/services/mdi_arrow_forward.svg);
      background-position: center;
      background-repeat: no-repeat;
      background-color: $c-main-blue;
      transition: transform 0.4s;
    }

    &:hover {
      color: $c-lite-grey;
      &::before {
        transform: scale(1.2);
      }
    }

    &:active::before {
      transition: transform 0.2s, opacity 0.15s;

      transform: scale(3);
      opacity: 0;
    }
  }
}
