.title {
  font-family: $font-title;
  font-weight: 600;
  color: $c-title-main;
  margin: 0;

  &--h1 {
    font-size: 52px;
    line-height: 62px;
    letter-spacing: -2px;

    @include on-tablet {
      font-size: 64px;
      line-height: 68px;
    }

    @include on-desktop-s {
      font-size: 64px;
      line-height: 68px;
    }
  }

  &--h2 {
    font-size: 44px;
    line-height: 53px;

    @include on-tablet {
      font-size: 52px;
      line-height: 78px;
    }
  }

  &--h3 {
    font-size: 32px;
    line-height: 48px;
  }

  &--h4 {
    font-size: 20px;
    line-height: 28px;
  }
}
