.title {
  font-family: $first-family;
  font-size: 32px;
  font-weight: 600;
  line-height: 130%;

  &--header {
    align-self: stretch;
    font-style: normal;
    font-size: 52px;
    line-height: 120%;
    letter-spacing: -2px;
    color: $main-text-color;
    max-width: 200px;
  }

  &--process {
    @extend %main-title;
    font-size: 32px;
    line-height: 130%;
    color: $color-section-title;
  }

  &--about-us {
    font-size: 32px;
    line-height: 150%;
    @extend %main-title;
  }

  &--testimonials {
    @extend %main-title;
    font-size: 32px;
    line-height: 150%;
  }

  &--vision {
    @extend %main-title;
    font-size: 44px;
    line-height: 120%;
    text-align: center;
  }

  &--footer-contact {
    color: #fff;
  }

  &--transfer-table {
    color: #fff;

    @include onTablet {
      max-width: fit-content;
    }
  }

  &--opacity {
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 3px;
    text-transform: uppercase;
    opacity: 0.5;
    color: #fff;
  }
}
