.tooth-powder {
  @include pageGrid;
  margin-top: 100px;

  &__wrapper {
    grid-column: span 2;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
    overflow: hidden;
    margin-bottom: 31px;

    @include onTablet {
      grid-column: span 6;
    }

    @include onDesktop {
      grid-column: 2 / 13;
    }
  }

  &__list {
    grid-column: 1;
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: end;
    gap: 52px;
    margin-block: 40px;

    @include onTablet {
      gap: 54px;
    }
  }

  &__item {
    display: block;
    width: fit-content;
    margin: 0;
    @include hover (scale, 1.2);
  }

  &__photo {
    grid-column: 2;
    width: 100%;
    background-image: url(../images/full-tooth-paste.png);
    object-fit: cover;
    background-repeat: no-repeat;
  }
}
