.top-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &--container {
    display: grid;
    justify-items: start;
    grid-template-columns: 1fr 20px;
    gap: 35px;
  }
}
