.top-bar {
  padding-block: 20px 0;

  display: flex;
  justify-content: space-between;
  align-items: center;

  @include on-small-desctop {
    padding-block: 52px 48px;
  }

  &__nav {
    display: flex;
    align-items: center;
    gap: 32px;

    &__logo-link {
      display: flex;
      width: 46px;
      height: 26px;

      @include hover(transform, scale(1.2));
    }
  }

  &__hir-us {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 13px;
    font-weight: 700;
    line-height: 19.5px;
    letter-spacing: 3px;
    color: inherit;
    min-width: fit-content;

    &::after {
      content: '';
      bottom: 0;
      margin-top: 8px;
      display: inline-block;
      border: 2px solid #2060f6;
      border-radius: 4px;
    }
  }
}
