.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-block: 20px;

  @include contentPaddingInline;

  @include onSmallDesktop {
    padding-block: 48px;
  }

  &__side {
    display: flex;
    align-items: center;
  }

  &__side--left {
    gap: 32px;

    &__logo {
      display: flex;
    }
  }

  &__icon {
    display: block;
    height: 24px;
    width: 24px;
    background-size: cover;
    background-position: center;

    &--menu {
      background-image: url(../images/icon-menu.png);

      @include onSmallDesktop {
        display: none;
      }
    }

    &--close {
      background-image: url(../images/icon-close.svg);
    }
  }

  &__link {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 13px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;

    &:after {
      content: "";
      display: block;
      margin-top: 8px;
      height: 2px;
      width: 100%;
      background-color: #2060f6;
    }

    &:visited {
      color: $header-text-color;
    }
  }

  &__nav {
    display: none;

    @include onSmallDesktop {
      display: block;
    }
  }
}
