.top-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 49px;

  &__menu {
    display: flex;
    align-items: center;
  }

  @include onTablet {
    margin-bottom: 57px;
  }

  @include desktop {
    margin-bottom: 165px;
  }
}
