.top-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 0 48px;

  @include onTablet {
    padding-bottom: 56px;
  }

  @include onNotebook {
    padding: 48px 0 38px;
  }

  &__icons {
    display: flex;
    align-items: center;
  }

  &__hire-us {
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: $colorWhite;

    &::after {
      content: "";
      display: block;
      width: 67px;
      height: 2px;
      margin: 8px 0 0;
      background-color: $colorBlue;
      border-radius: 4px;
    }

    @include hover (
      color $colorBlueHover
    );

  }

  &__logo {
    margin: 0 40px 0 0;
  }
}
