.top-actions {
  display: flex;
  gap: 36px;
  align-items: center;
  padding-top: 20px;

  @include onSmallDesktop {
    padding-top: 50px;
    justify-content: space-between;
  }

  &__hire {
    margin-left: auto;
    position: relative;
    font-family: "Poppins", sans-serif;
    font-size: 13px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 3px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;

    @include onSmallDesktop {
      margin-left: 0;
    }

    &::after {
      content: "";
      position: absolute;
      display: block;
      left: 0;
      right: 0;
      bottom: -8px;
      width: 100%;
      border-bottom: 2px solid $mainBlue;
      border-radius: 4px;
    }
  }
}
