@use '../utils/mixins' as *;

.top__bar {
  display: none;

  @include for-small-desktop {
    display: flex;
    justify-content: center;
    align-items: center;

    &__box {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &__list {
      display: flex;
      justify-content: space-between;
      gap: 48px;
    }

    &__item {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__link {
      font-family: Poppins, sans-serif;
      font-size: 13px;
      font-weight: 700;
      line-height: 19.5px;
      letter-spacing: 3px;
      color: rgba(255, 255, 255, 1);
      text-decoration: none;
      text-transform: uppercase;

      @include hover (color, rgba(32, 96, 246, 1));
    }
  }
}
