.top-block {
  display: grid;
  grid-template-columns: min-content 1fr max-content;

  column-gap: 35px;

  &__action {
    @extend .poppins_700;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-decoration: none;

    color: $c-white;
    padding-bottom: 8px;

    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
  
    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 2px;
      border-radius: 4px;
      background-color: $c-navi;
    }
  }
}
