.use {
  position: relative;

  &__container-sticky {
    position: sticky;
    top: 0;

    z-index: 99;

    background-color: $white;
    border-radius: 20px;
  }

  &__article {
    margin-bottom: 160px;

    padding-top: 80px;

    border-radius: 0 0 20px 20px;

    &--white {
      background-color: $white;
    }

    @include onDesktop {
      margin-bottom: 240px;

      padding-top: 100px;
    }
  }

  &__title {
    padding: 10px 0;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: $dark-green;

    background-color: $white;

    @include onDesktop {
      padding: 30px 0 20px;
      font-size: 18px;
      font-weight: 500;
      line-height: 24px;
    }
  }

  &__article-title {
    margin-bottom: 33px;

    font-weight: bold;
    font-size: 24px;
    line-height: 31px;
    color: $dark-green;

    @include onDesktop {
      font-weight: bold;
      font-size: 36px;
      line-height: 46px;

      margin-bottom: 55px;
    }
  }

  &__pic-one-container {
    @include onDesktop {
      display: flex;
      justify-content: flex-end;
    }
  }

  &__pic-one {
    width: 855px;
    height: 201px;
    margin-bottom: 50px;
    padding-left: 30%;
    
    @include onDesktop {
      margin-bottom: 60px;
      padding-left: 0;
    }
  }

  &__article-paragraph {
    font-size: 16px;
    line-height: 22px;
    color: $dark-green;
    margin-bottom: 36%;

    @include onDesktop {
      margin-bottom: 270px;
    }

    @media (min-width: 952px) {
      text-align: right;
      padding-left: 30%;
    }

    &--important {
      margin-bottom: 30px;

      font-weight: 500;
      font-size: 18px;
      line-height: 23px;

      @include onDesktop {
        font-size: 24px;
        line-height: 31px;
      }
    }

    &--left {
      padding-left: 0;

      text-align: left;
    }
  }

  &__pic-two {
    position: absolute;
    left: 50%;
    z-index: 10;
    
    width: 80vw;
    transform: translateY(-60%) translateX(-50%);

    @include onDesktop {
      width: 706px;
      height: 332px;
    }
  }
}
