.v-p-r {
  background-color: $c-white;
  padding: 72px 0;

  @include onTablet {
    padding: 200px 0;
    background-image: url(../images/Shapes.png);
    background-position: center;
    background-size: cover;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    margin: 0 0 24px;
    @extend %h3-highlighted;
  }

  &__decription {
    margin: 0 0 56px;
    @extend %section-desription;

    @include onTablet {
      margin: 0 0 64px;
    }
  }
}
