.v-p-r {
  overflow: hidden;
  background-color: $white-text;
  background-image: url(../images/Shapes.png);
  display: flex;
  justify-content: center;
  align-items: center;

  &__content {
    position: relative;

    @include centeredContainer;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    @include mobile {
      margin-top: 72px;
    }

    @include mobile-big {
      width: 558px;
      margin: 200px 0;
    }

    @include tablet-small {
      width: 754px;
      margin: 200px auto;
    }

    @include tablet {
      width: 754px;
      margin: 200px auto;
    }

    @include large-screen {
      width: 754px;
      margin: 200px auto;
    }
  }

  &__title {
    display: flex;
    font-family: $font-poppins;
    font-weight: 600;
    font-size: 52px;
    line-height: 150%;
    color: $dark-text-color;

    margin: 0;
  }

  &__paragraph {
    font-family: $font-open-sans;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    text-align: center;
    color: $dark-grey-color;

    max-width: 754px;
    margin-bottom: 56px;

    @include mobile-big {
      margin-bottom: 64px;
    }
  }

  &__button {
    @include vpr-button;
    @include hover(transform, scale(1.2));

    font-family: $font-poppins;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    text-decoration: none;
    color: $white-text;
    z-index: 1;

    @include mobile {
      margin-bottom: 192px;
    }
  }
}
