.vis-pas-res {
  box-sizing: border-box;
  background-color: $c-white;
  padding-block: 72px;
  background-image: url(/src/images/Shapes.png);
  background-position: center;

  @include on-tablet {
    padding-block: 200px;
  }
  &__content {
    @include on-grid;
  }

  &__title {
    grid-column: 1/-1;
    color: $c-title;
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 44px;
    line-height: 120%;
    letter-spacing: 0;
    text-align: center;
    vertical-align: middle;
  }

  &__description {
    grid-column: 1/-1;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 22px;
    line-height: 150%;
    letter-spacing: 0;
    text-align: center;
    color: $c-dirt-gray;
  }

  &__link {
    grid-column: 1/-1;
    display: grid;
    height: 56px;
    background-color: $c-blue;
    place-items: center;
    text-decoration: none;
    color: $c-white;
    border-radius: 8px;

    @include hover(transform, scale(0.95));

    @include on-tablet {
      grid-column: 2/6;
    }

    @include on-small-desktop {
      grid-column: 5/9;
    }

    &--text {
      font-family: Poppins, sans-serif;
      color: $c-white;
      font-weight: 600;
      font-size: 15px;
      line-height: 100%;
      letter-spacing: 0;
      text-align: center;
    }
  }
}
