.vis-pas-res {
  background-color: $white-color;
  background-image: url(../images/Shapes.png);
  background-position: center;


  @include on-tablet {
    height: 740px;
  }

  @include on-desktop {
    height: 691px;
  }

  &__content {
    @include content-padding-inline;

    padding-block: 72px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 56px;

    @include on-tablet {
      padding-block: 200px;
      gap: 64px;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__description {
    font-size: 22px;
    font-weight: 600;
    line-height: 150%;
    text-align: center;

    @include on-tablet {
      font-size: 24px;
    }

    @include on-desktop {
      width: 754px;
    }
  }

  &__btn-link {
    width: 100%;

    @include on-tablet {
      width: 264px;
    }
  }

  &__btn {
    width: 100%;
  }
}
