.visionPassionResults {
  padding: 199px 135px;
  background-image: url(../images/Shapes.png);
  background-position: center;
  background-repeat: no-repeat;
  background-color: #fff;

  @include onTablet {
    padding: 200px 40px;
  }

  @include onMobile {
    padding: 72px 20px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 55px;

    @include onMobile {
      margin: 0 20px;
    }
  }

  &__title {
    font-size: 52px;
    line-height: 150%;
    margin-bottom: 24px;
  }

  &__text {
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    margin-bottom: 64px;
    max-width: 684px;
  }

  &__button {
    width: 264px;
    height: 56px;
    background: #2060f6;
    border-radius: 8px;
    border: 2px solid #2060f6;
    box-sizing: border-box;
    perspective: 400px;
    transition: box-shadow 0.3s, transform 0.3s;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    cursor: pointer;

    &:hover {
      transform: scale(1.1);
      box-shadow: 0 0 10px 2px #1e3f9b;
    }
  }
}
