.vision {
  background-color: $c-white;
  box-sizing: border-box;

  padding: 120px 0;

  display: flex;
  flex-direction: column;
  align-items: center;

  @include media640 {
    background-image: url(../images/Shapes.png);
    background-size: 1024px;
    background-repeat: no-repeat;
    background-position: center;

    padding: 148px 0;
  }

  &__title {
    display: block;
    margin-bottom: 24px;

    font-weight: 600;
    font-size: 44px;
    line-height: 120%;

    color: $c-title;

    @include media640 {
      font-size: 52px;
      line-height: 120%;
    }
  }

  &__text {
    margin-bottom: 56px;
    max-width: 754px;
  
    @include media640 {
      margin-bottom: 64px;
      font-size: 24px;
    }

    @extend .opensans_600;
    font-size: 22px;
    text-align: center;
    color: $c-text;
  }

  &__button {
    max-width: 264px;
    margin: 0 auto;
  }
}
