.vision-passion-results {
  background-color: #fff;

  &__wrapper {
    @include padding-main-block;
    padding-block: 72px;
  }

  &__title {
    font-family: $font-family-title;
    font-weight: 600;
    font-size: 44px;
    line-height: 120%;
    color: $dark-color-font-title;
    text-align: center;
    margin-bottom: 24px;

    @include onTablet {
      font-size: 52px;
      line-height: 120%;
    }
  }

  &__text {
    font-family: $font-family-text;
    font-weight: 600;
    font-size: 22px;
    line-height: 150%;
    text-align: center;
    color: $dark-color-font-text;
    margin-bottom: 56px;

    @include onTablet {
      font-size: 24px;
      margin-bottom: 64px;
    }
  }

  &__button-conteiner {
    display: flex;
    justify-content: center;
    text-decoration: none;
  }

  &__button {
    @include button;
  }
}
