.vision-passion-result {
  padding: 72px 0;
  background-color: $c-white;

  @include onTablet {
    padding: 200px 0;

    background-image: url(../images/Shapes.png);
    background-size: 1024px;
    background-position: center;
    background-repeat: no-repeat;
  }

  @include onDesktop {
    background-size: 1600px;
  }

  &__title {
    margin-bottom: 24px;

    @include section-title-text;

    @include onTabletOnly {
      line-height: 62px;
    }
  }

  &__description {
    margin-bottom: 56px;

    @include section-description-text-bigger;

    @include onTablet {
      margin-bottom: 64px;
    }

    @include onSmallDesktop {
      width: 754px;
      margin: 0 auto 64px;
    }
  }

  &__apply-button {
    margin: 0 auto;
  }
}
