
.vision {
  box-sizing: border-box;
  height: 571px;
  background-color: #fff;
  padding-top: 72px;

  @include onTablet() {
    height: 740px;
    padding-top: 200px;
    background-image: url(../images/Shapes.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1306px;
  }

  @include onDesktop {
    height: 691px;
  }

  @include on1600 {
    height: 691px;
    background-size: 1451px;
  }
}
