.vision-passion-result {
  position: relative;
  background-color: $main-text-color-white;
  padding-block: 72px;
  margin-bottom: 120px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  &::after {
    content: '';
    position: absolute;
    top: 100%;
    width: 100%;
    height: 100%;
  }


  @include on-tablet {
    background-image: url(../images/shapes.png);
    background-repeat: no-repeat;
    background-position: center;
    padding-block: 200px;
    margin-bottom: 0;
  }

  &__title {
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 44px;
    color: $main-text-accent;
    line-height: 1.2;
    padding-bottom: 24px;

    @include on-tablet {
      font-size: 52px;
    }
  }

  &__description {
    font-weight: 600;
    font-size: 22px;
    padding-bottom: 56px;
    max-width: 754px;

    @include on-tablet {
      font-size: 24px;
      padding-bottom: 64px;
    }
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 56px;
    background-color: $blue-color;
    border-radius: 8px;
    max-width: 280px;
    font-family: Poppins, sans-serif;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    color: $main-text-color-white;
    text-decoration: none;
    width: 100%;
    margin: 0 auto;

    @include hover(transform, scale(1.2));

    @include on-tablet {
      max-width: 264px;
    }
  }
}
