.vision {
  margin: $padding-between-sections 0 0;
  padding: 72px $inline-padding;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__title {
    @include section__title;
    font-size: 44px;
    margin-bottom: 24px;
  }

  &__description {
    color: #6c788b;
    text-align: center;
    font-family: "Open Sans";
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;

    margin: 0 0 56px;
  }

  &__button {
    @include button-style;

    height: 50px;
  }
}
