.vision {
  background-color: #fff;
  padding-bottom: 72px;
  background-image: url(../images/bg1.png);
  background-size: cover;
  background-position: center;
  @include onTablet {
    padding-bottom: 198px;
  }

  &__title {
    @extend %title-section-2;
    text-align: center;
    padding: 72px 0 24px;
    @include onTablet {
      padding-top: 200px;
    }
  }

  &__text {
    display: block;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #6C788B;
    padding-bottom: 64px;
  }

  &__button {
    margin: 0 auto;
  }
}

