.vision-passion {
  background-color: $color-white;
  padding-block: 72px;
  text-align: center;

  @include on-tablet {
    padding-block: 0;
    padding-bottom: 168px + 180px;
  }

  @include on-desktop-small {
    padding-top: 63px;
  }

  @include on-desktop {
    padding-block: 72px;
    padding-bottom: 72px + 180px;
  }

  @include on-desktop-large {
    padding-block: 128px;
    padding-bottom: 128px + 180px;
  }

  .container {
    @include on-desktop {
      min-width: unset;
      margin-inline: 0;
      padding-inline: 0;
    }

    @include on-desktop-large {
      padding-inline: 0;
    }
  }

  &__image {
    background-image: none;

    @include on-tablet {
      background-image: url('../images/shapes-colors.png');

      padding-top: 63px;
      padding-bottom: 32px;
      background-size: 157%;
      background-position: 50% -12%;
    }

    @include on-desktop-small {
      padding-top: 0;
      background-size: 125%;
      background-position: 47% 52%;
    }

    @include on-desktop {
      padding-block: 127px;
      background-size: 107%;
      background-position: 50%;

      max-width: 1450px;
      margin-inline: auto;
    }

    @include on-desktop-large {
      padding-block: 72px;
    }

    .container {
      @include on-desktop {
        padding-inline: 227px;
        margin-inline: 0;
        min-width: unset;
      }
    }
  }

  &__content {
    display: grid;

    --columns: 2;

    grid-template-columns: repeat(var(--columns), 1fr);
    column-gap: 24px;

    @include on-tablet {
      padding-top: 137px;

      --columns: 6;
    }

    @include on-desktop-small {
      --columns: 12;

      column-gap: 20px;
    }

    @include on-desktop {
      column-gap: 30px;
      padding-top: 0;
    }
  }

  &__title {
    font-weight: 600;
    font-size: 44px;
    line-height: 120%;
    margin: 0;
    margin-bottom: 24px;

    grid-column: 1 / -1;

    @include on-tablet {
      font-size: 52px;
    }
  }

  &__description {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 22px;
    line-height: 150%;
    color: $second-font-color;
    margin: 0;
    margin-bottom: 56px;

    grid-column: 1 / -1;

    @include on-tablet {
      font-size: 24px;
      margin-bottom: 64px;
    }

    @include on-tablet {
      grid-column: 2 / -2;
    }

    @include on-desktop-small {
      grid-column: 2 / -2;
    }

    @include on-desktop-medium {
      grid-column: 3 / -3;
    }

    @include on-desktop {
      grid-column: 3 / -3;
    }
  }

  &__link {
    grid-column: 1 / -1;

    @include on-tablet {
      width: 264px;
      justify-self: center;
    }
  }

  &__button {
    width: 100%;

    @include on-tablet {
      width: 264px;
      justify-self: center;
    }
  }
}
