.vision-passion-results {
  background-color: #fff;
  background-image: url(../images/Shapes.png);
  background-position: center;
  background-repeat: no-repeat;

  &__container {
    @extend %center-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 72px 20px;

    @include onTablet {
      padding: 200px 41px;
    }

    @include onSmallDesktop {
      padding: 200px 54px;
    }
  }

  &__subtitle {
    @extend %poppins;
    @include text-decoration ($font-w-m, $title-fs-m, $lh9, $dark-color);
    text-align: center;
    margin: 0;

    @include onTablet {
      @include text-decoration ($font-w-m, $title-fs-l, $lh10, $dark-color);
    }

    @include onSmallDesktop {
      @include text-decoration ($font-w-m, $title-fs-l, $lh12, $dark-color);
    }
  }

  &__description {
    @extend %open-sans;
    @include text-decoration ($font-w-m, $font-s-xl, $lh6, $s-dark-color);
    text-align: center;
    margin: 0;

    @include onTablet {
      @include text-decoration ($font-w-m, $font-s-xxl, $lh7, $s-dark-color);
    }

    &--margins {
      margin: 24px 0 56px;

      @include onTablet {
        margin: 24px 0 64px;
      }
    }
  }
}
