.vision-passion-results {
  box-sizing: border-box;
  padding: 72px 0;

  width: 100%;
  background-color: #fff;

  @include onTablet {
    padding: 200px 0;

    background-image: url(/images/shapes.png);
    background-position: center 63px;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__content {
    margin: auto;

    @include onSmallDesktop {
      width: 754px;
    }
  }

  &__title {
    text-align: center;
    margin-bottom: 24px;
  }

  &__text {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 150%;
    text-align: center;
    color: #6c788b;

    margin-bottom: 56px;

    @include onTablet {
      font-size: 24px;
    }
  }

  &__button {
    display: flex;
    justify-content: center;
  }
}
