.vpr-block {
  background-color: #fff;

  &__title {
    padding-top: 72px;
    margin-bottom: 24px;

    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 44px;
    line-height: 120%;

    text-align: center;

    color: #253757;
  }

  &__text {
    margin-bottom: 65px;

    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 22px;
    line-height: 150%;

    text-align: center;

    color: #6C788B;
  }
}
