.VPR {
  background-color: var(--bg-color);
  text-align: center;

  &__title {
    padding-block: 72px 24px;
    font-size: 44px;
    font-weight: 600;
    line-height: 120%;
    color: var(--dark-title);

    @include Tablet {
      padding-block: 200px 24px;
      font-size: 52px;
    }
  }

  &__content {
    padding-bottom: 56px;
    font-size: 22px;
    font-weight: 600;
    line-height: 150%;
    min-width: 280px;
    color: var(--dark-content);
    margin: auto;

    @include Tablet {
      font-size: 24px;
      padding-bottom: 64px;
    }

    @include SmallDesktop {
      max-width: 754px;
    }
  }

  &__button {
    @include button;

    margin-bottom: 72;

    @include Tablet {
      margin-bottom: 200px;
    }
  }
}

.container--footer {
  @include Tablet {
    background: var(--vpr-background);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @include Tablet {
      background-size: 128%;
      background-position: 54% 31%;
    }

    @include Desktop {
      background-size: 100%;
    }

    @include Large {
      background-origin: content-box;
      background-clip: content-box;
    }
  }
}
