.vpr {
  margin: 120px 0;
  background-image: url("../images/shapes.png");
  background-position: center;
  background-repeat: no-repeat;
  background-color: #fff;
  display: flex;
  flex-direction: column;

  padding: 72px 0;
  @include onTablet {
    padding: 200px 0;
  }
  @include onDesktop {
    margin: 120px 0 0;
  }
  &__content {
    @include contentPaddingInline;
  }
  &__title {
    font-family: Poppins;
    font-weight: 600;
    font-size: 44px;
    line-height: 52.8px;
    color: #253757;
    text-align: center;
  }
  &__description {
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    letter-spacing: 0px;
    text-align: center;
    color: #6c788b;
    @include onDesktop {
      max-width: 700px;
      margin: auto;
    }
  }
  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 64px 0;
    @include hover(transform, scale(1.1));
  }
}

.apply-button {
  border-radius: 8px;
  background-color: #2060f6;
  border: none;
  color: #fff;
  padding: 17px 116px;
  font-family: Poppins;
  font-weight: 600;
  font-size: 15px;
  line-height: 22.5px;
  text-align: center;
  cursor: pointer;
}
