.vpr {
  padding: 72px 0;
  background-image: url("../images/Shapes.png");
  background-size: cover;
  background-position: center;
  background-color: white;

  @include onTablet {
    padding: 200px 0;
  }

  &__title {
    @extend %poppins600;
    font-size: 44px;
    line-height: 120%;
    text-align: center;
    color: $titleColor;
    margin-bottom: 24px;

    @include onTablet {
      font-size: 52px;
    }
  }

  &__text {
    max-width: 754px;
    @extend %openSans600;
    font-size: 22px;
    line-height: 150%;
    color: $textColor;
    text-align: center;
    margin: 0 auto 56px;

    @include onTablet {
      font-size: 24px;
    }
  }

  &__button {
    margin: 0 auto;
    @include onTablet {
      width: 264px !important;
    }
  }
}
