.vpr {
  margin-top: 120px;

  @include onTablet {
    margin-top: 148px;
  }

  padding: 72px 0;
  background-color: #fff;
  background-image: url(../images/Shapes.png);
  background-position: center;
  background-repeat: no-repeat;

  @include onTablet {
    padding: 200px 0;
  }

  @include onSmall-desktop {
    padding: 200px 0 160px;
  }

  @include onDesktop {
    padding: 200px 0;
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    margin-bottom: 24px;
    @extend %h2;
    font-size: 44px;
    text-align: center;
    color: $dark-blue;

    @include onTablet {
      max-width: 500px;
    }
    @include onSmall-desktop {
      max-width: 100%;
    }
  }

  &__text {
    margin-bottom: 56px;
    @extend %main-bold;
    font-size: 22px;
    text-align: center;
    color: $gray;
    @include onTablet {
      margin-bottom: 64px;
    }
    @include onSmall-desktop {
      max-width: 700px;
    }
  }

  &__btn {
    @include onTablet {
      max-width: 264px;
    }
  }
}
