.vps {
  display: flex;
  flex-direction: column;
  padding: 72px 0;
  text-align: center;
  align-items: center;
  background-color: $white;
  margin-bottom: 120px;

  @include onTabletMore {
    background-image: url(../images/shapes.png);
    background-size: cover;
    background-origin: content-box;
    background-repeat: space;
    padding: 198px 0;
    margin-bottom: 0;
  }

  &__itle {
    @include fontLine (44px, 53px);
    color: $black-text;
    max-width: 280px;
    margin: 0 0 24px;

    @include onTablet {
      @include fontLine (52px, 62px);
      max-width: 558px;
    }

    @include onDesctop1024more {
      @include fontLine (52px, 78px);
      max-width: 754px;
    }
  }

  &__paragraph {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    @include fontLine (22px, 33px);
    color: $gray;
    max-width: 754px;
    margin: 0 0 56px;

    @include onTabletMore {
      @include fontLine (24px, 36px);
      margin: 0 0 64px;
    }
  }
}
