.welcome-page {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;

  background-color: $blueColor;
  border-bottom-left-radius: 200px;

  @include tablet {
    border-bottom-left-radius: 50px;

    background-color: $darkTheme;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;

    box-sizing: border-box;
    height: fit-content;
  }

  @include mobile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom-left-radius: 25px;
    padding-top: 20px;

    box-sizing: border-box;
    height: fit-content;
  }
}
