.welcome {
  text-align: center;

  &__title {
    margin: 148px 0 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    color: $title-color;
  }

  &__description-box {
    margin: 0 auto 148px;
    max-width: 754px;
  }

  &__description {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: $description-color;
  }
}
