.welcome {
  padding: 72px 20px;
  background-color: $colorWhite;

  @include onTablet {
    padding: 200px 40px;
    background-image: url(../images/Shapes.png);
    background-position: center;
    background-repeat: no-repeat;
  }

  &__box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    margin-bottom: 24px;
  }

  &__text {
    font-weight: 600;
    font-size: 22px;
    line-height: 150%;
    text-align: center;
    color: $colorGray;

    margin-bottom: 56px;

    @include onTablet {
      margin-bottom: 65px;
    }
  }

  &__btn {
    @extend %btn;
  }
}
