.what-people-say {
  display: flex;
  flex-direction: column;
  row-gap: 48px;
  align-items: center;

  @include on-tablet {
    align-items: start;
  }

  &__title-content {
    width: fit-content;
  }

  &__title {
    display: flex;

    @include on-tablet {
      flex-direction: column;
    }
  }

  &__comments {
    display: flex;
    flex-direction: column;
    row-gap: 30px;

    @include on-small-desctop {
      @include page-grid;
    }
  }
}
