.what-people-say {
  padding-block: 0;
  padding-bottom: 120px;

  @include on-desktop-small {
    padding-block: 148px;
  }

  &__name {
    margin: 0;
    font-weight: 700;
    font-size: 13px;
    line-height: 100%;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #c0cdd7;
    margin-bottom: 16px;
  }

  &__title {
    margin: 0;
    font-weight: 600;
    font-size: 32px;
    line-height: 150%;
    margin-bottom: 48px;

    @include on-tablet {
      margin-bottom: 85px;
    }
  }

  &__cards {
    display: grid;
    gap: 24px;

    --columns: 2;

    grid-template-columns: repeat(var(--columns), 1fr);

    @include on-tablet {
      --columns: 6;

      column-gap: 30px;
    }

    @include on-desktop-small {
      --columns: 12;

      column-gap: 20px;
    }
  }

  &__card {
    background-color: $color-white;
    box-shadow: 0 9px 18px 0 rgba(37, 41, 49, 0.03);
    border-radius: 16px;
    padding: 75px 42px 32px;
    text-align: center;

    display: grid;
    justify-items: center;

    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: 1 / -1;
      display: grid;
      grid-template-columns: subgrid;
    }

    @include on-desktop-small {
      grid-column: span 4;
    }

    @include hover(transform, scale(1.05));

    &-quote {
      margin-bottom: 8px;
      margin-top: 65px;

      @include on-tablet {
        grid-column: 1 / -1;
        margin-top: 79px;
      }

      @include on-desktop-small {
        margin-top: 67px;
      }

      @include on-desktop-medium {
        margin-top: 79px;
      }
    }

    &-description {
      font-family: 'Open Sans', sans-serif;
      font-weight: 600;
      font-size: 13px;
      line-height: 150%;
      color: $second-font-color;
      margin: 0;
      margin-bottom: 16px;

      @include on-tablet {
        grid-column: 2 / -2;
      }

      @include on-desktop-small {
        grid-column: 1 / -1;
      }
    }

    &-user-name {
      margin: 0;
      font-family: 'Open Sans', sans-serif;
      font-weight: 600;
      font-size: 13px;
      line-height: 150%;
      margin-bottom: 4px;

      @include on-tablet {
        grid-column: 1 / -1;
      }
    }

    &-text {
      font-weight: 700;
      font-size: 13px;
      line-height: 100%;
      letter-spacing: 3px;
      text-transform: uppercase;
      color: #c0cdd7;

      @include on-tablet {
        grid-column: 1 / -1;
      }
    }
  }
}

.what-people-say__card-image {
  position: relative;
  width: 110px;
  height: 110px;
  isolation: isolate;
  text-align: center;

  @include on-tablet {
    width: 140px;
    height: 140px;

    grid-column: 1 / -1;
  }

  @include on-desktop-small {
    width: 110px;
    height: 110px;
  }

  @include on-desktop-medium {
    width: 140px;
    height: 140px;
  }
}

.what-people-say__card-image::before {
  content: '';
  position: absolute;
  inset: 3px -47px -83px 18px;
  margin: auto;
  width: 110px;
  height: 44px;
  border-radius: 12px;
  z-index: -1;

  rotate: -52deg;

  @include on-tablet {
    width: 139px;
    height: 56px;
    inset: 3px -57px -90px 30px;
  }

  @include on-desktop-small {
    width: 110px;
    height: 44px;
    inset: 3px -47px -83px 18px;
  }

  @include on-desktop-medium {
    width: 139px;
    height: 56px;
    inset: 3px -57px -90px 30px;
  }
}

.what-people-say__card-image-blue::before {
  background-color: $services-blue;
}

.what-people-say__card-image-yellow::before {
  background-color: $services-yellow;
}

.what-people-say__card-image-red::before {
  background-color: $services-red;
}

.what-people-say__card-image::after {
  content: '';
  display: block;
  width: 110px;
  height: 44px;
  border-radius: 12px;
  position: absolute;

  top: -2px;
  left: -38px;
  rotate: -52deg;
  z-index: -1;

  @include on-tablet {
    width: 139px;
    height: 56px;
    inset: -6px 14px -22px -45px;
  }

  @include on-desktop-small {
    width: 110px;
    height: 44px;
    top: -2px;
    left: -38px;
    rotate: -52deg;
  }

  @include on-desktop-medium {
    width: 139px;
    height: 56px;
    inset: -6px 14px -22px -45px;
  }
}

.what-people-say__card-image-blue::after {
  background-color: $services-blue;
}

.what-people-say__card-image-yellow::after {
  background-color: $services-yellow;
}

.what-people-say__card-image-red::after {
  background-color: $services-red;
}

.what-people-say__card-img {
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;

  &-user1 {
    background-image: url('../images/people/people-1.png');
  }

  &-user2 {
    background-image: url('../images/people/people-2.png');
  }

  &-user3 {
    background-image: url('../images/people/people-3.png');
  }
}
