.what-we-do {
  display: flex;
  flex-direction: column;
  background-color: $white;
  border-radius: 30px;
  padding-top: 72px;
  padding-bottom: 72px;

  @include onTablet {
    padding-top: 128px;
    padding-bottom: 128px;
  }

  @include onDesktop {
    padding-bottom: 134px;
  }

  &__title {
    font-size: 44px;
    line-height: 120%;
  }

  &__items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include onDesktop {
      flex-direction: row;
      gap: 167px;
    }

    @include onLargeDesktop {
      gap: 257px;
    }
  }

  &__item {
    padding-top: 56px;
    text-align: center;

    width: 280px;
    @include onTablet {
      width: 362px;
    }

    @include onDesktop {
      width: 214px;
    }

    @include onLargeDesktop {
      width: 264px;
    }
  }
}
