.expertise {
  &__container {
    width: 100%;
    height: auto;
    background-color: #fff;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    padding-bottom: 150px;

    @media (max-width: 1024px) {
      flex-direction: column;
      height: auto;
    }
  }

  &__cards-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    @media (max-width: 1024px) {
      flex-direction: column;
      justify-content: flex-start;
    }
  }

  &__whatwedo-title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    width: 561px;
    height: 78px;
    padding-top: 128px;
    padding-bottom: 64px;

    color: #253757;
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 52px;
    line-height: 78px;
    order: -1;
    margin-bottom: 20px;
  }

  &__card-list {
    display: flex;
    list-style: none;
    gap: 177px;

    @media (max-width: 1024px) {
      flex-direction: column;
    }
  }

  &__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 264px;
    height: 334px;
  }

  &__card-image {
    width: 166px;
    height: 166px;
    object-fit: cover;
    object-position: center;
    border-radius: 16px;
    display: block;
    img {
      width: 100%;
      height: 100%;
    }
  }

  &__card-title {
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: #253757;
    text-align: center;
  }

  &__card-text {
    color: #6c788b;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
  }
}
