.Who-we-are {
  display: flex;
  gap: 24px;
  flex-direction: column;
  width: 280px;
  margin: 120px auto;

  @include onLitleTablet() {
    width: 540px;
  }

  @include onTablet() {
    margin: 150px auto;
    width: 650px;
  }

  @include onMoreDesktop() {
    width: 690px;
  }

  &__title {
    align-self: center;
    @extend %title;
    color: #253757;
    line-height: 150%;
  }

  &__text {
    font-family: "Open Sans", serif;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 150%;
    text-align: center;
    color: #6c788b;
  }
}
