.who-we-are {
  @include contentpaddinginline;
  @include pagegrid;

  text-align: center;

  @include smalldesktop {
    max-width: 716px;
    margin: auto;
  }

  &__title {
    grid-column: 1 / -1;
    margin-bottom: 24px;
    font-size: 32px;
    color: var(--dark-title);
  }
  &__content {
    grid-column: 1 / -1;
    font-size: 22px;
    line-height: 150%;
    font-weight: 600;
    color: var(--dark-content);

    @include tablet {
      font-size: 24px;
    }
  }
}
