@import "../utils/mixins";
@import "../utils/vars";

.who-we {
  margin: 0 auto 120px;
  width: 100%;
  max-width: 790px;

  @include onTablet {
    margin-bottom: 148px;
  }

  &__title {
    margin: 0 0 24px;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 150%;
    color: $colorTitle;

    @include onTablet {
      margin: 0 0 16px;
    }
  }

  &__text {
    margin: 0;
    text-align: center;
    font-weight: 600;
    font-size: 22px;
    line-height: 150%;

    @include onTablet {
      font-size: 24px;
    }
  }
}
