.who-we-are__content {
  width: 100%;
  display: grid;

  @include page-grid;
}

.who-we-are-article {
  display: flex;
  flex-direction: column;
  gap: 24px;

  grid-column: 1 / -1;

  @include on-tablet {
    grid-column: 1 / -1;
    gap: 16px;
  }

  @include on-small-desktop {
    grid-column: 2/-2;
  }

  @include on-design {
    grid-column: 3 / -3;
  }

  &__title {
    text-align: center;
  }

  &__description {
    font-size: 22px;
    line-height: 33px;
    text-align: center;

    @include on-tablet {
      font-size: 24px;
      line-height: 36px;
    }
  }
}
