.who-we {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 148px 20px;

  @include onTablet {
    padding: 148px 41px;
  }

  @include onDesktop {
    padding: 148px 0;
  }

  &__tittle {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 150%;

    color: $first-color-text-dark;
  }

  &__text {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 22px;
    line-height: 150%;
    text-align: center;
    color: $second-color-text-grey;

    margin-top: 16px;

    @include onTablet {
      font-size: 24px;
    }

    @include onDesktop {
      width: 716px;
    }

    @include onBigDesktop {
      width: 754px;
    }
  }
}
