.who-we-are {
  @include page-grid;

  margin-block-start: 148px;

  &__title {
    grid-column: 5 / -5;
    margin: 0;
    text-align: center;

    @include text-styler(Poppins, 600, 32px, 48px, $c-black);

    @include on-tablet {
      grid-column: span 6;
    }

    @include on-phone {
      grid-column: span 2;
    }
  }

  &__subtitle {
    grid-column: 3 / -3;

    @include text-styler(Open Sans, 600, 24px, 36px, $c-gray);

    text-align: center;
    margin: 16px 0 0;

    @include on-tablet {
      grid-column: span 6;
    }

    @include on-phone {
      grid-column: span 2;
    }
  }
}
