.who {

  &--margin-bottom {
    margin-bottom: 120px;

    @include onTablet {
      margin-bottom: $block-bottom;
    }
  }

  &__title {
    margin: 0 0 16px;
    font-family: $font-titles;
    font-weight: 600;
    font-size: 32px;
    line-height: 150%;
    text-align: center;
    color: $title-color;
  }

  &__paragraph {
    margin: 0 auto;
    font-family: $font-text;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 150%;
    text-align: center;
    color: $text-color;

    @include onTablet {
      width: 530px;
    }

    @include onDesktop {
      width: 630px;
    }

    @include onBigScreen {
      width: 670px;
    }
  }
}
