.whoweare {
  &__container {
    margin: 0 auto;
    max-width: 2560px;
    padding: 0 20px;

    @include onTablet {
      padding: 0 36px;
    }

    @include onLaptop {
      padding: 0 154px;
    }

    @include onNotebook {
      padding: 0 260px;
    }

    @include onDesign {
      padding: 0 423px;
    }

    @include onLargeScreens {
      padding: 0 903px;
    }
  }

  &__title {
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 150%;
    align-items: center;
    text-align: center;
    color: #253757;
    margin-bottom: 24px;

    @include onTablet {
      margin-bottom: 16px;
    }
  }

  &__text {
    font-family: Open Sans, sans-serif;
    font-weight: 600;
    font-size: 22px;
    line-height: 150%;
    text-align: center;
    color: #6c788b;

    @include onTablet {
      font-size: 24px;
    }
  }
}
