.whoWeare {
  &__content {
    @include pageGrid;
    text-align: center;
    font-size: 22px;
  }

  &--tittle {
    font-family: "Poppins", sans-serif;
    font-size: 32px;
    font-weight: 600;
    color: $third-text-color;
    line-height: 150%;
    padding-bottom: 24px;
    grid-column: 1 / -1;
  }

  &--subtittle {
    font-size: 22px;
    font-weight: 600;
    line-height: 150%;
    color: $second-text-color;
    grid-column: 1 / -1;

    @include onSmallDesktop {
      grid-column: 3 / 11;
    }
  }
}
