.whoWeAre {
  margin-top: 120px;
  margin-bottom: 120px;
  display: flex;
  justify-content: center; /* Центрирование по горизонтали */
  align-items: center; /* Центрирование по вертикали */

  @include tablet {
    margin-top: 148px;
    margin-bottom: 148px;
  }

  @include screen {
    margin-top: 199px;
  }
}

.container--whoWeAre {
  display: flex; /* Используем flex для центровки */
  justify-content: center; /* Центрируем блок по горизонтали */
  align-items: center; /* Центрируем блок по вертикали */
  padding: 0 20px;

  @include tablet {
    padding: 0 40px;
  }

  @include small-desktop {
    width: 1024px;
    padding: 0 54px;
  }

  @include large-desktop {
    width: 1600px;
    padding: 0 227px;
  }

  @include screen {
    width: 2560px;
    padding: 0 707px;
  }
}

.whoWeAre__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  &__title {
    font-size: 32px;
    font-weight: 600;
    line-height: 150%;
    color: $titleColor;
    letter-spacing: 100%;
    margin-bottom: 24px;

    @include tablet {
      margin-bottom: 16px;
    }
  }

  &__text {
    font-size: 22px;
    font-weight: 600;
    color: $textColor1;
    line-height: 150%;

    @include tablet {
      font-size: 24px;
    }
  }
}
