@import "../utils";


.who-we-are {
  padding-top: 400px;
  padding-bottom: 120px;
  text-align: center;

  @include column-flex;

  align-items: center;
  gap: 16px;

  &__title  {
    color: $title-gray;
    font-size: 32px;
    font-weight: 600;
    line-height: 150%;
  }

  &__text {
    color: $text-gray;
    font-family: "Open Sans", sans-serif;
    font-size: 22px;
    font-weight: 600;
    line-height: 150%;
    max-width: 280px;
  }
}
