.wide-link {
  display: block;
  @include headerTextWide;
  color: getTheme(text-on-dark);
  text-decoration: none;
  position: relative;

  &:hover {
    &:after {
      content: "";
      position: absolute;
      bottom: -8px;
      left: -1px;
      height: 2px;
      width: 100%;
      background-color: getTheme(button-hover-bgc);
      border-radius: 1px;
    }
  }

  &:active {
    &:after {
      background-color: getTheme(button-active-bgc);
    }
  }
}
