.work {
  background-color: #fff;

  background-image: url(../images/Shapes.png);
  background-position: center;
  background-repeat: no-repeat;

  &__section {
    padding: 72px 0;
    margin-bottom: 120px;

    @include onTablet {
      padding: 200px 0;
      margin-bottom: 0;
    }
  }

  &__title {
    font-size: 44px;
    line-height: 53px;
  }

  &__paragraph {
    margin-bottom: 56px;

    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    text-align: center;
  }
}
