.work {
  background-color: #fff;
  border-radius: 30px;
  margin-bottom: 120px;

  @include exceptMob {
    margin-bottom: 251px;
  }

  &__title {
    @include titleBig;

    padding: 72px 0 56px;
    margin: 0;

    @include exceptMob {
      padding: 128px 0 64px;
    }
  }

  &__container {
    text-align: center;
    margin-bottom: 56px;

    @include exceptMob {
      margin: 0;
    }

    &--last {
      margin-bottom: 0;
    }
  }
}
