.work-item {

  &--last {
    padding-bottom: 72px;

    @include onTablet {
      padding-bottom: 128px;
    }

    @include onDesktop {
      padding-bottom: 134px;
    }
  }

  &__photo-container {
    display: block;
    margin: 0 auto 32px;

    @include onDesktop {
      margin-bottom: 40px;
    }
  }

  &__photo {
    width: 166px;
    height: 166px;
    border-radius: 30px;

  }

  &__name {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: $colorBlack;

    margin: 0 0 16px;
  }

  &__about {
    @include paragraph;

    margin-bottom: 72px;

    &--last {
      margin: 0;
    }
  }
}
