.work {
  display: flex;
  flex-direction: column;
  margin-block: 72px;

  @include on-tablet {
    margin-block: 128px;
  }

  &__title {
    @include font-title;

    margin-bottom: 56px;

    @include on-tablet {
      margin-bottom: 64px;
    }
  }

  &__content {
    @include page-grid;

    gap: 56px;

    @include on-tablet {
      gap: 72px;
    }

    @include on-desktop-sm {
      display: flex;
      gap: 137px;
    }

    @include on-desktop {
      gap: 177px;
    }
  }

  &__block {
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    align-items: center;
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: 2 / -2;
    }

    &-img {
      width: 166px;
      height: 166px;
      border-radius: 15px;

      @include hover-property(transform, scale(1.2));
    }

    &-title {
      @include font-title-block;

      margin-top: 16px;

      @include on-desktop-sm {
        margin-top: 24px;
      }
    }

    &-text {
      @include font-main;
    }
  }
}
