.wrapper {
  display: flex;
  gap: 16px;
  box-sizing: border-box;
  @include wHight (100%, 100%);
  position: absolute;
  bottom: 0;
  left: 0;

  flex-direction: column;
  justify-content: end;

  transition: all 0.5s ease-in-out;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left center;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  padding: 24px 20px;

  @include onDesctop1024more {
    border-bottom-left-radius: 0;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 24px;
    padding: 48px;
  }
}
