{
  "tabWidth": 3,
  "useTabs": true,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 80,
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "parser": "html",
        "insertPragma": false,
        "endOfLine": "auto",
        "singleAttributePerLine": false,
        "htmlWhitespaceSensitivity": "ignore"
      }
    }
  ]
}
