.button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 32px;
  height: 32px;
  background-image: url(../images/slider/slider-ellips.svg);

  @include hover(transform, scale(1.2));

  &__arow {
    width: 18px;
    height: 18px;
  }
}
