.slider {

  @include onSmallDesktop {
    position: absolute;
    right: 0;
    bottom: 0;
  }
}

.slide {
  display: block;
  position: absolute;
  width: 100%;
  height: 390px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 30px;

  @include onSmallDesktop {
    height: 680px;
  }

  @include onSmallDesktop {
    width: 45vw;
    height: 680px;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
  }

  @include onDesktop {
    height: 680px;
    width: 45vw;
  }

  &--1 {
    background-image: url(../images/slider/slider-photo-3.png);
  }

  &--2 {
    background-image: url(../images/slider/slider-photo-2.png);
  }

  &--3 {
    position: relative;
    background-image: url(../images/slider/slider-photo.png);
  }

  &:target {
    z-index: 100;
  }

  &__button-wrapper {
    display: flex;
    gap: 16px;

    position: absolute;
    bottom: 108px;
    left: 20px;

    @include onTablet {
      left: 41px;
    }

    @include onSmallDesktop {
      bottom: 66px;
      left: 78px;
    }
  }
}
