.socials {
  &__title {
    margin-bottom: 16px;
  }

  &__list {
    display: flex;
    gap: 32px;
  }

  &__link {
    @include size(32);
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
    color: $clr-white;
    transition: color $transition-duration;

    @include hover {
      color: $clr-accent;
    }
  }
}
