@import "../utils";

.nav {
  &__list {
    display: flex;
    margin-left: -12px;
    margin-right: -12px;
  }
  &__link {
    color: #fff;
    text-transform: uppercase;
    padding: 10px 12px;
    display: block;
    font-size: 13px;
    letter-spacing: 3px;
    font-weight: 600;
    transition: color 0.3s;
    &.active,
    &:hover {
      color: $c-style;
    }
  }
}
