// --- 1. Layout & Grid ---
$breakpoints: (
  'sm': 320px,
  'md': 640px,
  'lg': 1024px,
  'xl': 1600px,
  '2xl': 2560px,
);
$grid-system: (
  'sm': (
    'cols': 2,
    'gutter': 20px,
    'offset': 20px,
  ),
  'md': (
    'cols': 6,
    'gutter': 30px,
    'offset': 41px,
  ),
  'lg': (
    'cols': 12,
    'gutter': 20px,
    'offset': 54px,
  ),
  'xl': (
    'cols': 12,
    'gutter': 30px,
    'offset': 227px,
  ),
  '2xl': (
    'cols': 12,
    'gutter': 30px,
    'offset': 707px,
  ),
);
$section-spacing-y: (
  'sm': 120px,
  'md': 148px,
  'lg': 148px,
  'xl': 148px,
  '2xl': 148px,
);

:root {
  @each $name, $value in $breakpoints {
    --bp-#{$name}: #{$value};
  }
}
