.nav {
  &-list {
    display: flex;
    flex-direction: column;
    padding: 0;
    list-style: none;
    gap: 40px;

    @include tablet {
      flex-direction: row;
    }

    @include small-desktop {
      gap: 48px;
    }
  }

  &-link {
    text-decoration: none;
    text-align: center;
    font-family: Poppins, sans-serif;
    font-size: 13px;
    font-weight: 700;
    line-height: 19.5px;
    letter-spacing: 3px;
    color: $c-bg-centre;
    text-transform: uppercase;
  }
}
