.page {
  font-family: Open, sans-serif;
  font-weight: 600;
  font-size: 24px;
  color: $c-text-description;
  margin: 0;
  padding: 0;

  &:has(.aside:target) {
    overflow: hidden;
  }
}

p,
h2,
h3 {
  margin: 0;
  padding: 0;
}

* {
  transition-duration: 300ms;
  scroll-behavior: smooth;
}

textarea {
  resize: none;
}
