h1 {
  font-family: Poppins, sans-serif;
  font-weight: 600;
  font-size: 52px;
  line-height: 62px;
  letter-spacing: -0.02em;
  color: $white;

  @include onTable {
    font-size: 64px;
    line-height: 68px;
  }
}

h2 {
  font-family: Poppins, sans-serif;
  font-weight: 600;
  font-size: 44px;
  line-height: 52.8px;

  @include onTable {
    font-size: 52px;
  }
}

h3 {
  font-family: Poppins, sans-serif;
  font-weight: 600;
  font-size: 32px;
}

.sub-title {
  font-family: Poppins, sans-serif;
  font-weight: 700;
  font-size: 13px;
  letter-spacing: 0.3em;
  line-height: 19.5px;
  margin-bottom: 16px;
  color: $light-grey;
}

.grey-text-big {
  font-family: Open_Sans, sans-serif;
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  color: $grey;

  @include onTable {
    font-size: 24px;
    line-height: 36px;
  }
}

.grey-text-small {
  font-family: Open_Sans, sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: $grey;
}
