.contact-us {

  &__title {
    margin-bottom: 48px;

    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 150%;
    color: #fff;
  }

  &__call {
    margin-bottom: 48px;
  }

  &__calls-us {
    margin-bottom: 8px;

    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #fff;
    opacity: 0.5;
  }

  &__number {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    color: #fff;
    text-decoration: none;

    &:hover {
      color: blue;
    }
  }

  &__visit {
    margin-bottom: 120px;
  }

  &__visit-us {
    margin-bottom: 8px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 3px;
    text-transform: uppercase;

    color: #fff;
    opacity: 0.5;
  }

  &__visit-link {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    color: #fff;

    text-decoration: none;

    width: 280px;
    height: 72px;
  }

  &__socials {
    margin-top: 45px;

    &__socials-title {
      font-family: "Poppins", sans-serif;
      font-weight: 700;
      font-size: 13px;
      line-height: 20px;
      letter-spacing: 3px;
      text-transform: uppercase;
      color: #fff;
      opacity: 0.5;
    }

    &-container {
      display: flex;
      flex-direction: row;
      gap: 46px;
    }

    &-icon {
      display: block;
      width: 30px;
      height: 30px;

      background-position: center;
      background-repeat: no-repeat;

      &--facebook {
        background-image: url(../images/facebook.png);
        &:hover {
          background-color: blue;
        }
      }

      &--twitter {
        background-image: url(../images/twitter.png);
        &:hover {
          background-color: blue;
        }
      }

      &--instagram {
        background-image: url(../images/instagram.png);
        &:hover {
          background-color: blue;
        }
      }
    }
  }
}
