.contact-us {

  &__title {
    margin-bottom: 48px;

    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 150%;
    color: $colorWhite;
  }

  &__caption {
    margin-bottom: 8px;

    font-family: Poppins, sans-serif;
    font-weight: bold;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: $colorWhite;
    opacity: 0.5;

    &--last-margin {
      margin-bottom: 16px;
    }
  }

  &__location,
  &__number {
    margin-bottom: 40px;

    display: block;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    color: $colorWhite;

    transition-property: color  ;
    transition-duration: $transitionDuration;
    
    &:hover {
      color: $colorMain;
    }
  }

  &__icon-wrap {
    display: flex;
    align-items: center;
  }

  &__link:not(:last-child) {
    margin-right: 32px;
  }
}
