.menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0%;
  z-index: 2;
  height: 100vh;

  background-color: $colorBackground;

  transition: transform $transitionDuration;
  transform: translateX(-100%);

  &:target {
    transform: translateX(0);
  }

  &__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 40px 0;
  }

  &__icon {
    background-image: url("../images/cross.svg");
    height: 24px;
    width: 24px;
    background-position: center;
    background-size: contain;
    cursor: pointer;
  }
}
