.page {
  font-family: Open Sans, sans-serif;
  color: $secondColor;

  &__services,
  &__testimonials {
    margin-bottom: 120px;
    @include medium {
      margin-bottom: 148px;
    }
  }

  &__slogan {
    margin-bottom: 120px;
    @include medium {
      margin-bottom: 0;
    }
  }
}
