.send-us {
  background-color: #2c2c2c;
  margin-top: 128px;
  border-radius: 20px;

  &__wrap {
    padding-top: 70px;
  }

  &__title {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 130%;
    color: #fff;

    padding-bottom: 48px;
  }

  &__input {
    display: block;
    margin-bottom: 50px;
    width: 100%;
    border: 1px solid transparent;
    color: #fff;
    height: 48px;
    border-bottom: 2px solid #fff;
    opacity: 0.7;

    font-family: "Poppins-SemiBold", sans-serif;
    font-size: 15px;
    line-height: 22px;
    background-color: #2c2c2c;

    &::placeholder {
      font-family: "Poppins-SemiBold", sans-serif;
      font-size: 15px;
      line-height: 22px;
      color: #fff;
      opacity: 0.7;
    }

    &:hover {
      border-bottom: 2px solid #144ed4;
    }
  }

  &__button {
    width: 280px;
    height: 56px;
    border: none;
    text-decoration: none;

    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    color: #fff;

    background-color: #144ed5;
    border-radius: 8px;
    margin-bottom: 80px;
  }
}
