.services {
  &__strategy-wrap {
    margin: auto;
    margin-top: 120px;
    margin-bottom: 48px;
    width: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include onDesktop {
      display: flex;
      margin-left: 40px;
      margin-bottom: 0;
      margin-right: 50px;
    }

  }

  &__title {
    width: 280px;
    
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 130%;
    color: #253757;

    &::before {
      content: "Services";
      display: block;
      margin-bottom: 16px;

      font-family: "Poppins", sans-serif;
      font-weight: 700;
      font-size: 13px;
      line-height: 20px;
      letter-spacing: 3px;
      text-transform: uppercase;

      color: #c0cdd7;
    }
  }

  &__text {
    width: 280px;

    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #6c788b;

    margin-bottom: 48px;
  }

  &__card-wrap {
    @include onDesktop {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      gap: 30px;
    }
  }

  &__item {
    background-color: #fff;
    width: 280px;
    height: 264px;

    border-radius: 20px;

    padding-left: 32px;
    padding-top: 34px;
    margin: auto;
    margin-bottom: 24px;

    @include onDesktop {
      &--1 {
        margin-top: -400px;
        grid-column: 6/9;
      }

      &--2 {
        margin-top: -450px;
        grid-column: 9/13;
      }

      &--3 {
        margin-top: -200px;
        grid-column: 6/9;
      }

      &--4 {
        margin-top: -250px;
        grid-column: 9/13;
      }
    }
  }

  &__number {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 150%;
    color: #2060f6;
    display: flex;
    justify-content: center;

    padding-bottom: 26px;

    width: 35px;
    height: 1px;
    border-radius: 6px;
    background-color: #e5e5e5;
  }

  &__textss {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 150%;
    color: #6c788b;

    padding-bottom: 40px;
  }

  &__button {
    display: flex;
  }

  &__circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #2060f6;

    background-image: url(../images/Arrow.png);
    background-repeat: no-repeat;
    background-position: center;
  }

  &__learn {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    color: #334563;

    text-decoration: none;
    padding-left: 16px;
  }
}
