
.app-card {
  display: flex;
  position: relative;
  margin: 100px 0;

  &__img {
    display: inline-block;
    background: white no-repeat center;
    background-size: cover;
    border-radius: 50%;

    height: 64px;
    width: 64px;
    margin: 0 34px 0 0;
    transition: top 1s,
      left 1s;

    &--speaker {
      background-image: url(../../images/features/features-item-icon-1.svg);
    }

    &--calendar {
      background-image: url(../../images/features/features-item-icon-2.svg);
    }

    &--document {
      background-image: url(../../images/features/features-item-icon-3.svg);
    }
  }

  &__text {
    @include font (normal, 15px, 150%, $head_main_color, $font-text);
    margin: 0;

    position: absolute;
    left: 100px;
    top: -10px;
    transition: left 1s;
  }

  &__check {
    display: none;
  }
  

  //end
}

@media only screen and (max-width: 990px) {
  .app-card {
    
    &__img {
      position: absolute;
      left: -40px;
      top: 0;

      transition: 0.3s height,
        0.3s width,
        0.5s top,
        $transition_long transform;

      //not 'scale', because it was scaling after '#app-check1:checked'
      &:hover {
        // transform: scale();
        height: 70px;
        width: 70px;
      }
    }

    &__text {
      left: -1500px;

      &--2 {
        top: -100px;
      }

      &--3 {
        top: -200px;
      }
    }
  }

  //CheckBoxes:

  //first:
  #app-check1 {
    &:checked ~ .app-card__label1 {
      top: -100px;
      height: 73px;
      width: 73px;
    }
  
    &:checked ~ .app-card__text--1 {
      left: 35px;
      width: 90%;
    }

  }

  //two:
  #app-check2 {
    &:checked ~ .app-card__label2 {
      top: -195px;
      height: 73px;
      width: 73px;
    }

    &:checked ~ .app-card__text--2 {
      left: 35px;
      width: 90%;
      top: -100px;
    }

  }

  //three:
  #app-check3 {
    &:checked ~ .app-card__label3 {
      top: -295px;
      height: 73px;
      width: 73px;
    }

    &:checked ~ .app-card__text--3 {
      left: 35px;
      width: 90%;
      top: -200px;
    }

  }

  
  //end
}
