
@keyframes e-rotate {
  from {
    transform: rotate(30deg);
    transform-origin: 50% 50%;
  }
  25% {
    transform-origin: 0% 0%;
  }
  75% {
    transform-origin: 0% 100%;
  }
  to {
    transform: rotate(390deg);
    transform-origin: 50% 50%;
  }
}

.elips {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;

  &__item {
    
    position: absolute;
    border-radius: 500px;
    transform: rotate(30deg);
    transform-origin: 50% 50%;
    
    //color

    &--yellow {
      box-shadow: 0 0 1px 4px #fcc304;
    }

    &--blue {
      box-shadow: 0 0 1px 4px #56ccf2;
    }

    &--red {
      box-shadow: 0 0 1px 4px #f25656;
    }

    //size

    &--big {
      height: 160px;
      width: 65px;
    }

    &--medium {
      height: 120px;
      width: 40px;
    }

    &--small {
      height: 90px;
      width: 30px;
    }

  }

  //end
}

//elips position:

//big
#elips1 {
  top: 42%;
  left: 22%;
}

#elips2 {
  top: 15%;
  right: 25%;
}

#elips3 {
  bottom: 20%;
  right: 32%;
}

//medium
#elips4 {
  bottom: 25%;
  right: 15%;
}

#elips5 {
  bottom: 14%;
  left: 25%;
}

#elips6 {
  top: 10%;
  left: 40%;
}

//small

#elips7 {
  top: 10%;
  left: 15%;
}

#elips8 {
  bottom: 25%;
  left: 7%;
}

#elips9 {
  top: 25%;
  right: 5%;
}

#elips10 {
  bottom: 5%;
  right: 25%;
}

//---------

//animations:
#e-check {
  position: absolute;
  top: 50%;
  left: 50%;
  display: none;
}

.elips__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 226px;
  height: 50px;
  
  position: absolute;
  top: 70%;
  left: 50%;
  margin-left: -113px;
  transition: 1s;

  @include font (600, 15px, 22px, $head_main_color, $font-tittle);
  background: #ff9c8e;
  border-radius: 64px;
  border-style: none;

}

.elips__button:hover {
  background: #ff7b7b;
}

#e-check:checked ~ .elips__button {
  background: rgb(224, 139, 160);
  color: rgb(212, 212, 212);
}

#e-check:checked ~ .elips__item--slow {
  animation: e-rotate 10s ease-in infinite ;
}

#e-check:checked ~ .elips__item--fast {
  animation: e-rotate 8s ease-in-out infinite;
}

#e-check:checked ~ .elips__item--nofast {
  animation: e-rotate 15s cubic-bezier(0.12,1.4,0.82,-0.24) infinite;
}
