
.hoop {
  height: 300px;
  position: relative;
  background: #fff;
  padding-bottom: 200px;

  display: flex;
  justify-content: center;
  align-items: center;

  &__text {
    max-width: 750px;
    z-index: 5;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  &__tittle {
    @include font (600, 52px, 150%, $text_tittle_color, $font-tittle);
    text-align: center;
  }

  &__tell {
    @include font (600, 24px, 150%, $text_main_color, $font-text);
    text-align: center;
  }
}
