.work {
  position: relative;
  z-index: 3;

  display: flex;
  justify-content: space-around;

  &__retreat {
    margin: 100px 0;
  }

  &__sticker {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;

    & :nth-child(2) {
      top: -100px;
    }

    & :nth-child(4) {
      top: -100px;
    }
  }

  &__process {
    max-width: 420px;
    margin: 0 0 50px;
  }

  &__process-name {
    @include font (bold, 13px, 19px, #C0CDD7, $font-tittle);
    margin: 0 0 12px;
  }

  &__process-tittle {
    @include font (600, 32px, 130%, $text_tittle_color, $font-tittle);
    margin: 0 0 20px;
  }

  &__process-text {
    @include font (normal, 14px, 150%, $text_main_color, $font-text);
  }

  &__card {
    display: inline-block;
    position: relative;
    width: 264px;
  }
}

@media only screen and (max-width: 990px) {
  .work {
    flex-direction: column;
    margin: 50px 0 150px;

    &__process {
      align-self: center;
      text-align: center;
      padding: 10px;
    }

    &__sticker {
      display: grid;
      grid-template-columns: 1fr;
      align-self: center;

      position: static;
    }

    &__card {
      position: static;
      height: 264px;
    }
  }
}
