@font-face {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  src: url('../fonts/Roboto-Regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: Roboto, sans-serif;
  font-weight: 400;
}

a {
  color: #fff;
  text-decoration: none;
}

header {
  width: 99vw;
  height: 120px;
  background-color: #2c2c2c;

  display: flex;
  align-items: center;
}

.header__top-bar {
  width: inherit;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header__logo {
  display: flex;
}

.header__logo-img {
  width: 45px;
  height: 25px;
}

.header__list {
  padding-left: 0;
  list-style: none;
  display: flex;
  gap: 48px;
}

.header__item {
  position: relative;
  text-transform: uppercase;
  text-align: center;

  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 3px;
}

.active::after {
  position: absolute;

  content: '';
  left: 0;
  bottom: -55%;

  width: 67px;
  height: 2px;
  background-color: #2060f6;
  border-radius: 4px;
}
