.container {
  // flex-direction: column;

  // display: flex;
  // overflow: hidden;

  @include respond-to('phone') {
    padding-inline: 20px;
  }

  @include respond-to('tablet') {
    padding-inline: 41px;
  }

  @include respond-to('desktop') {
    padding-inline: 54px;
  }

  @include respond-to('large-desktop') {
    padding-inline: 225px;
  }

  @include respond-to('extra-large-desktop') {
    padding-inline: 707px;
  }
}
