html {
  font-family: Muli, sans-serif;
}

body {
  overflow-x: hidden;
  background-color: #fcfcfd;
  line-height: 1.5;
}

a {
  outline: none;
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  box-sizing: border-box;
}

input {
  margin-top: 48px;
  outline: none;
  background: #fcfcfd;
  color: #152032;
  font-size: 14.4px;
  border: none;
  border-bottom: 1px solid #e1e1e1;
  font-weight: 600;
  padding-bottom: 18px;

  &::placeholder {
    margin-bottom: 18px;
  }
}

.container {
  @media screen and (min-width: 2000px) {
    margin: 0 auto;
  }
}

.title {
  display: flex;
  align-items: center;
  margin-left: 15%;

  &__img {
    margin-right: 16px;
  }

  &__text {
    color: #56ccf2;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
  }
  @media screen and (min-width: 2000px) {
    margin-left: 0;
  }
}

.describe {
  margin-top: 20px;
  margin-left: 15%;
  font-weight: 900;
  font-size: 32px;
  color: #253757;

  @media screen and (min-width: 2000px) {
    margin-left: 0;
  }
}

.contact__btn {
  color: white;
  width: 226px;
  height: 56px;
  background: #2f80ed;
  border-radius: 64px;
  font-size: 16px;
  text-align: center;
  letter-spacing: 1px;
  transition: all 0.5s ease;

  &:hover {
    border: 2px solid #2f80ed;
    background-color: #fff;
    color: #2f80ed;
  }

  @media screen and (max-width: 600px) {
    width: 126px;
  }
}
