.card {
  padding: 32px;
  background-color: $white-bg-color;
  border-radius: 16px;
  box-shadow: 0 9px 18px 0 rgba(37, 41, 49, 0.03);
  transition-duration: $duration-time;

  &__number {
    width: 46px;
    height: 24px;
    border-radius: 23px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: $num-bg-color;
  }

  &__num {
    color: $learn-button-bg-color;
    font-family: "Poppins", sans-serif;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
  }

  &__text {
    padding-block: 24px 32px;
    color: $text-color;
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    font-weight: 600;
    line-height: 150%;
  }

  &__bottom {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  &__button {
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    @include hover (transform, scale(1.05));
    background-color: $learn-button-bg-color;
  }

  &__link {
    width: 40px;
    height: 40px;
    border-radius: 50%;

    background-image: url(../images/cards/row.svg);
    background-repeat: no-repeat;
    background-position: center;
  }

  &__learn-more {
    color: $learn-more-color;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
    @include hover (transform, scale(1.02));

    &:hover {
      color: $learn-button-bg-color;
    }
  }
}
