.main {
  &__content {
    display: grid;

    &--who-are-you {
      padding-block: 120px;
    }

    &--our-expertise {
      background-color: $white-bg-color;
      border-radius: $border-radius;

      padding-block: 72px;
    }

    &--services {
      padding-block: 120px;
    }

    &--testimonials {
      padding-bottom: 120px;
    }

    &--vision {
      background-color: $white-bg-color;
      background-image: url(../images/Shapes.png);
      background-position: center;
      background-repeat: no-repeat;
      padding-block: 72px;
    }

    @include onTablet {
      &--who-are-you {
        padding-block: 148px;
      }

      &--our-expertise {
        padding-block: 128px;
      }

      &--services {
        padding-block: 148px;
      }

      &--testimonials {
        padding-bottom: 148px;
      }

      &--vision {
        padding-block: 200px;
      }
    }

    @include onSmallDesktop {
      &--services {
        padding-top: 230px;
      }
    }
  }
}
