.our-expertise {
  &__title {
    color: $title-text-color;
    font-family: "Poppins", sans-serif;
    text-align: center;
    font-size: 44px;
    font-weight: 600;
    line-height: 120%;
  }

  &__points {
    @include pageGrid;
    row-gap: 56px;

    margin-top: 56px;

    @include onTablet {
      margin-top: 64px;
    }
  }

  &__point {
    grid-column: 1 / -1;

    @include onTablet {
      grid-column: 2 / 6;
    }
  }

  @include onSmallDesktop {
    &__branding {
      grid-column: 1 / 4;
    }

    &__communication {
      grid-column: 5 / 9;
    }

    &__strategy {
      grid-column: 10 / 13;
    }
  }
}
