.our-expertise {
  padding: 72px 0;

  @include onTablet {
    padding: 128px 0;
  }

  &__products-wrapper {
    padding: 0 41px;
    margin-top: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 56px;

    @include onTablet {
      margin-top: 64px;
      gap: 72px;
    }

    @include onLaptop {
      padding: 0 54px;
      flex-direction: row;
      justify-content: space-between;
      gap: 137px;
      align-items: flex-start;
    }

    @include onDesktop {
      max-width: 1146px;
      margin-inline: auto;
    }
  }
}
