.testimonial {
  padding: 75px 42px 32px;
  margin-top: 24px;
  width: 100%;
  background: #fff;
  box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
  border-radius: 16px;
  grid-column: 1 / -1;
  position: relative;
  z-index: 1;

  @include onTablet {
    margin-top: 30px;
    padding: 87px 98px 32px;
  }

  @include onLaptop {
    grid-column: span 4;
    padding: 75px 40px 32px;
    align-self: stretch;
    display: flex;
    flex-direction: column;
  }

  &__photo {
    background: url("../images/testimonials/photo1.png") center center/cover no-repeat;
    border-radius: 100%;
    width: 110px;
    height: 110px;
    margin: 0 auto;
    position: relative;

    &::before {
      content: "";
      width: 109px;
      height: 44px;
      background-color: $button-background;
      display: block;
      border-radius: 12px;
      transform: rotate(-60deg);
      position: absolute;
      z-index: -1;
      top: 0;
      left: -36px;
      transition: transform 0.3s ease;
    }

    &::after {
      content: "";
      width: 109px;
      height: 44px;
      background-color: $button-background;
      display: block;
      border-radius: 12px;
      transform: rotate(-60deg);
      position: absolute;
      z-index: -1;
      bottom: 0;
      right: -36px;
      transition: transform 0.3s ease;
    }

    &:hover::before {
      transform: translateX(-50px) translateY(-11px) rotate(90deg);
    }

    &:hover::after {
      transform: translateX(50px) translateY(11px) rotate(90deg);
    }

    &--photo-1 {
      background: url("../images/testimonials/photo1.png") center center/cover no-repeat;
    }

    &--photo-2 {
      background: url("../images/testimonials/photo2.png") center center/cover no-repeat;
    }

    &--photo-3 {
      background: url("../images/testimonials/photo3.png") center center/cover no-repeat;
    }
  }

  &__quotes {
    margin-top: 70px;
    margin-inline: auto;
    display: block;
    width: 20.5px;
    height: 18.5px;

    @include onTablet {
      margin-top: 82px;
    }
  }

  &__text {
    margin-top: 10.5px;
    font-weight: 600;
    font-size: 13px;
    line-height: 150%;
    text-align: center;
    color: $secondary-text-color;

    @include onTablet {
      margin-top: 18.5px;
    }

    @include onLaptop {
      margin-bottom: 16px;
    }
  }

  &__name {
    margin-top: 16px;
    font-weight: 600;
    font-size: 13px;
    line-height: 150%;
    text-align: center;
    color: $main-text-color;

    @include onLaptop {
      margin-top: auto;
    }
  }

  &--margin-top-48 {
    margin-top: 48px;

    @include onLaptop {
      margin-top: 30px;
    }
  }
}
