.testimonials {
  display: flex;
  flex-direction: column;

  @include on-small-desktop {
    align-items: center;
  }

  &__wrap {
    @include inline-padding;

    @include on-small-desktop {
      padding: 0;
      width: 916px;
      height: 673px;
    }

    @include on-design {
      width: 1146px;
      height: 711px;
    }
  }

  &__inform-block {
    font-family: $poppins;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__pretitle {
    @include pre-title;
  }

  &__title {
    margin-block: 16px 0;
    font-weight: $semi-bold;
    font-size: 32px;
    line-height: 48px;
    color: $dark-color;

    @include on-tablet {
      width: 181px;
    }
  }

  &__guys {
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    gap: 24px;

    @include on-tablet {
      margin-top: 56px;
      gap: 30px;
    }

    @include on-small-desktop {
      margin-top: 85px;
      flex-direction: row;
      gap: 20px;
    }

    @include on-design {
      gap: 30px;
    }
  }
}
