.ticket {
  box-sizing: border-box;
  width: 280px;
  height: 264px;
  font-family: $open-sans;
  display: flex;
  flex-direction: column;
  padding: 32px 0 41px 32px;
  background-color: #fff;
  border-radius: 16px;

  transition: 0.8s;

  &:hover {
    transform: scale(1.1);
  }

  @include on-tablet {
    width: 264px;
    height: 264px;
  }

  &__number {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $poppins;
    font-weight: $semi-bold;
    width: 46px;
    height: 24px;
    background-color: #e9effe;
    border-radius: 23px;

    font-size: $font-small-size;
    line-height: 19.5px;
    color: $blue-color;
  }

  &__info {
    margin-top: 24px;
    font-weight: $semi-bold;
    font-size: $font-small-size;
    line-height: 19.5px;
    color: $gray-color;
  }

  &__button-learn-more {
    text-decoration: none;
    margin-top: 32px;
    align-items: center;
    display: flex;
    gap: 16px;
  }

  &__button-wrap {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: $blue-color;
  }

  &__button {
    height: 16px;
    width: 16px;
    background-image: url(../images/logo/Vector.png);
  }

  &__learn-more {
    font-family: $poppins;
    font-weight: $semi-bold;
    font-size: 15px;
    line-height: 22.5px;
    color: #334563;
  }
}
