.vision {
  font-family: $poppins;

  @include on-tablet {
    background-color: #fff;
    background-image: url(../images/Shapes.png);
  }

  &__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 72px;

    @include inline-padding;

    @include on-tablet {
      padding-block: 200px;
    }

    @include on-small-desktop {
      padding: 200px 0;
    }

  }

  &__title {
    font-weight: $semi-bold;
    font-size: 44px;
    line-height: 52.8px;
    text-align: center;
    color: $dark-color;

    @media (min-width: 640px) and (max-width: 1024px) {
      width: 350px;
    }
  }

  &__text {
    text-align: center;
    margin-top: 24px;
    font-family: $open-sans;
    font-weight: $semi-bold;
    font-size: 22px;
    line-height: 33px;
    color: $gray-color;

    @include on-tablet {
      width: 600px;
    }
  }

  &__button {
    text-decoration: none;
    margin-top: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 56px;
    border-radius: 8px;
    background-color: $blue-color;

    font-weight: $semi-bold;
    color: #fff;
    font-size: 15px;
    line-height: 22.5px;

    @include scale-transform;

    @include on-tablet {
      width: 264px;
      margin-top: 64px;
    }
  }
}
