.vision {
  &__title {
    color: $title-text-color;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 44px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;

    margin-block: 0 24px;
  }

  &__text {
    color: $text-color;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 22px;
    font-weight: 600;
    line-height: 150%;
  }

  &__button {
    display: flex;
    justify-content: center;

    &--link {
      @include hover (transform, scale(1.05));
      margin-top: 56px;
      display: flex;
      justify-content: center;
      align-items: center;

      width: 100%;
      height: 56px;
      border-radius: 8px;
      background-color: $learn-button-bg-color;

      color: $white-bg-color;
      text-align: center;
      font-family: "Poppins", sans-serif;
      font-size: 15px;
      font-weight: 600;
      text-decoration: none;

      @include onTablet {
        width: 264px;
        margin-top: 64px;
      }
    }
  }
}
