.who-are-you {
  text-align: center;
  font-weight: 600;
  line-height: 150%;

  &__title {
    color: $title-text-color;
    font-family: "Poppins", sans-serif;
    font-size: 32px;
  }

  &__text {
    color: $text-color;
    font-family: "Open Sans", sans-serif;
    font-size: 22px;
    margin-top: 24px;
  }
}
