.who-we-are {
  padding-inline: 20px;
  &__container {
    padding-bottom: 120px;

    @include on-tablet {
      padding-bottom: 148px;
      margin-inline: auto;
      width: 558px;
    }

    @include on-small-desktop {
      width: 716px;
    }

    @include on-design {
      width: 754px;
    }
  }

  &__title {
    font-size: 32px;
    line-height: 150%;
    letter-spacing: 0;
    text-align: center;
    vertical-align: middle;
  }

  &__content {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 22px;
    line-height: 150%;
    letter-spacing: 0;
    text-align: center;
    color: $dark-color-text;
  }
}
