.who-we-are {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;

  &__title {
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-weight: $semi-bold;
    font-size: 32px;
    line-height: 48px;
    color: $dark-color;
  }

  &__text {
    margin: 0;
    font-family: "Open Sans", sans-serif;
    text-align: center;
    font-weight: $semi-bold;
    font-size: 22px;
    line-height: 33px;
    color: $gray-color;

    @include on-small-desktop {
      font-size: 24px;
      line-height: 36px;
      width: 716px;
    }

    @include on-design {
      width: 754px;
    }
  }
}
