$bg-color: #f2f6fa;
$section-color: #2c2c2c;
$white: #fff;
$title-color: #253757;
$main-color: #6c788b;
$blue: #2060f6;
$hovered-blue: #144ed4;
$cyan: #648df9;
$silver: #c0cdd7;
$light-gray: #c0c0c0;
$number-color: #e9effe;
$learn-color: #334563;
$min-width: 320px;
$tablet-min-width: 640px;
$small-desktop-min-width: 1024px;
$desktop-min-width: 1600px;
$wide-min-width: 2560px;
$effect-duration: 0.3s;
$star-size: 50px;
$star-color: $bg-color;
$star-background: #fc0;
