$mobile-min-width: 320px;
$smartphone-min-width: 488px;
$tablet-min-width: 640px;
$desktop-mini: 1024px;
$desktop-middle: 1280px;
$desktop-max: 1600px;
$basic-bg-dark: #2c2c2c;
$basic-bg-light: #f2f6fa;
$basic-title: #253757;
$text-font-os: #6c788b;
$basic-blue: #2060f6;
$footer-blue: #144ed4;
$text-light: #c0cdd7;
$white: #fff;
$effect-duration: 0.6s;
