$font-main: "Open Sans", sans-serif;
$font-heading: "Poppins", sans-serif;


$color-background-dark: #2c2c2c;
$color-background-light: #e5e5e5;

$color-heading: #253757;
$color-heading-add: #c0cdd7;
$color-text: #6c788b;
$color-light: #fff;
$color-button: #2060f6;

$transition: 0.3s ease-in;
