
.contact {

  &__tittle {
    @include font (600, 32px, 150%, $head_main_color, $font-tittle);
  }
}

@media only screen and (max-width: 990px) {
  .contact {
    position: absolute;
    top: 150px;
    left: -500px;
    transform: translateX(-50%);
    width: 60%;
    transition: 1s left;

    &__tittle {
      text-align: center;
    }
  }
}
