$top_visible: 50px;
$left_1_visible: 30px;
$left_2_visible: 120px;
$left_invisible: -300px;

@media only screen and (max-width: 990px) {

  .footer {
    &__arrow {
      display: block;
    }

    //end
  }

  //--------- Button position:
  //input 1
  #fm1:checked ~ .fa2 {
    position: absolute;
    top: $top_visible;
    left: $left_1_visible;
    background: url(../../images/slider/arrow-left.svg) white no-repeat center;
    background-size: 30%;
  }

  #fm1:checked ~ .fa3 {
    position: absolute;
    top: $top_visible;
    left: $left_2_visible;
    background: url(../../images/slider/arrow-right.svg) white no-repeat center;
    background-size: 30%;
  }

  #fm1:checked ~ .fa1 {
    position: absolute;
    top: $top_visible;
    left: $left_invisible;
  }

  //input 2
  #fm2:checked ~ .fa3 {
    position: absolute;
    top: $top_visible;
    left: $left_1_visible;
    background: url(../../images/slider/arrow-left.svg) white no-repeat center;
    background-size: 30%;
  }

  #fm2:checked ~ .fa1 {
    position: absolute;
    top: $top_visible;
    left: $left_2_visible;
    background: url(../../images/slider/arrow-right.svg) white no-repeat center;
    background-size: 30%;
  }

  #fm2:checked ~ .fa2 {
    position: absolute;
    top: $top_visible;
    left: $left_invisible;
  }

  //input 3
  #fm3:checked ~ .fa1 {
    position: absolute;
    top: $top_visible;
    left: $left_1_visible;
    background: url(../../images/slider/arrow-left.svg) white no-repeat center;
    background-size: 30%;
  }

  #fm3:checked ~ .fa2 {
    position: absolute;
    top: $top_visible;
    left: $left_2_visible;
    background: url(../../images/slider/arrow-right.svg) white no-repeat center;
    background-size: 30%;
  }

  #fm3:checked ~ .fa3 {
    position: absolute;
    top: $top_visible;
    left: $left_invisible;
  }
  //----------------end button

  //------------Blocks:

  #fm1:checked ~ .message {
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
  }

  #fm2:checked ~ .contact {
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
  }

  #fm3:checked ~ .footer__nav-mini {
    left: 20px;
  }

}
