
.message {

  &__tittle {
    @include font (600, 32px, 150%, $head_main_color, $font-tittle);
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__button {
    margin-top: 80px;
  }

  &__content::placeholder {
    @include font (600, 15px, 22px, $head_main_color, $font-tittle);
    opacity: 0.7;
  }

  &__content {
    outline: none;
    @include font (600, 15px, 22px, $head_main_color, $font-tittle);
    box-sizing: border-box;
    height: 80px;
    border: 0;
    border-bottom: solid 1px white;
    margin: 0 0 10px;
    background-color: transparent;
  }

  //end
}

@media only screen and (max-width: 990px) {
  .message__button {
    align-self: center;
  }
}
