
.thread {

  &__tittle {
    @include font (bold, 13px, 19px, $head_main_color, $font-tittle);
    opacity: 0.5;
    letter-spacing: 3px;
    text-transform: uppercase;
  }

  &__txt {
    @include font (600, 24px, 150%, $head_main_color, $font-text);
    text-decoration: none;
    margin: 0 40px 0 0;
    transition: color $transition_fast,
      transform $transition_fast;

    &:hover {
      color: #fab4aa;
      transform: scale(1.1);
    }
  }

}
