.cards {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  flex-wrap: wrap;

  @media (max-width: 1159px) {
    justify-content: center;
  }

  &__card {
    flex-shrink: 0;
    width: 362px;
    height: 494px;
    padding: 87px 47px 32px;
    background-color: white;
    box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
    border-radius: 16px;
    text-align: center;

    @media (max-width: 1599px) {
      max-width: 300px;
    }

    @media (max-width: 1159px) {
      max-width: 250px;
      padding: 87px 23px 32px;
    }

    @media (max-width: 1159px) {
      max-width: 250px;
      padding: 87px 23px 32px;
    }

    @media (max-width: 1009px) {
      width: 400px;
      max-width: none;
    }

    @media (max-width: 600px) {
      width: 100%;
    }
  }

  &__photo-container {
    position: relative;
    width: max-content;
    height: 140px;
    margin: 0 auto;
    margin-bottom: 111px;
    z-index: 1;
  }

  &__photo {
    width: 140px;
    height: 140px;
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
  }

  &__photo-container::before {
    position: absolute;
    left: -50px;
    display: block;
    content: "";
    width: 139px;
    height: 56px;
    border-radius: 12px;
    transform: rotate(-60deg);
    z-index: -1;
  }

  &__photo-container::after {
    position: absolute;
    bottom: 0;
    right: -50px;
    display: block;
    content: "";
    width: 139px;
    height: 56px;
    border-radius: 12px;
    transform: rotate(-60deg);
    z-index: -1;
  }

  &__quote,
  &__name {
    @include text-font;
    font-weight: 600;
    font-size: 13px;
    line-height: 19.5px;
  }

  &__quote {
    margin-bottom: 16px;
    position: relative;
  }

  &__quote::before {
    content: "“";
    font-size: 50px;
    position: absolute;
    left: 50%;
    top: -20px;
    transform: translateX(-50%);
  }

  &__name {
    margin-bottom: 4px;
    color: #253757;
  }

  &__post {
    @include title-font;
    font-weight: 700;
    font-size: 13px;
    letter-spacing: 3px;
    color: #c0cdd7;
  }

  @each $number, $color in $testimonials-colors {
    &__card--#{$number} &__quote::before {
      color: $color;
    }

    &__card--#{$number} &__photo-container::before {
      background-color: $color;
    }

    &__card--#{$number} &__photo-container::after {
      background-color: $color;
    }
  }
}
