.testimonials {
  padding-top: 280px;
  padding-bottom: 148px;

  @media (max-width: 1024px) {
    padding: 0;
  }

  &-title {
    @include title-font;
    font-weight: 700;
    font-size: 13px;
    letter-spacing: 3px;
    color: #c0cdd7;
    margin-bottom: 16px;
  }

  &-text {
    @include title-font;
    font-size: 32px;
    line-height: 48px;
    margin-bottom: 85px;
  }
}
