.about-us {
  @extend %flex-center;

  &__content {
    margin: 0 auto;
    max-width: 754px;
    text-align: center;
  }

  &__title {
    @extend %title;
  }

  &__paragraph {
    @extend %paragraph;
    margin-top: 16px;
  }
}
