.afterwords {
  @extend %flex-center;

  &__content {
    max-width: 754px;
  }

  &__title {
    font-size: inherit;
    text-align: center;

    margin-bottom: 24px;
  }

  &__paragraph {
    text-align: center;
    margin-bottom: 64px;
  }

  &__link {
    margin: 0 auto;
  }
}
