.form-field {
  @extend %h-normal;
  font-size: 15px;
  line-height: 22px;
  color: $colorWhite;

  background-color: transparent;
  border-color: transparent;
  border-bottom: 2px solid $colorWhite;
  outline: none;

  padding-bottom: 17px;

  transition: border-bottom-color $animationTime;

  &:hover,
  &:focus {
    border-bottom-color: $colorBlueForm;
  }
}
