.grid {
  display: grid;
  grid-template-columns: repeat($gridColumnsDesktop, 1fr);
  column-gap: $gridGap;

  @include onTabletOrPhone {
    grid-template-columns: repeat($gridColumnsTablet, 1fr);
  }

  &--no-tablet {
    @include onTabletOrPhone {
      display: block;
    }
  }

  &--no-phone {
    @include onPhone {
      display: block;
    }
  }

  &--services {
    grid-template-rows: repeat($gridRowsServices - 1, $gridRowHeight)
      $gridRowHeight + $gridBottomOffset;

    @include onTabletOrPhone {
      grid-template-rows: $gridRowHeight + $gridTopOffset
        repeat(($gridRowsServices + 1) - 2, $gridRowHeight)
        $gridRowHeight + $gridBottomOffset;
    }
    
  }

  &__item {
    &--desktop {
      @include gridColumns ($gridColumnsDesktop);
      @include gridRows ($gridRowsServices);
    }

    @include onTabletOrPhone {
      &--tablet {
        @include gridColumns ($gridColumnsDesktop);
        @include gridRows ($gridRowsServices + 1);
      }
    }

    &--top-offset {
      transform: translateY(-$gridTopOffset);

      @include onTabletOrPhone {
        transform: translateY(0);
      }
    }

    &--bottom-offset {
      transform: translateY($gridBottomOffset);

      @include onPhone {
        transform: translateY(0);
      }
    }
  }
}
