.grid {
  display: grid;
  grid-template-columns: repeat($gridColumnsDesktop, 1fr);
  column-gap: $gridGap;

  @include onTabletOrPhone {
    grid-template-columns: repeat($gridColumnsTablet, 1fr);
  }

  @include onPhone {
    grid-template-columns: repeat($gridColumnsPhone, 1fr);
  }

  &--services {
    grid-template-rows: repeat($gridRowsServices, $gridRowHeight);

    @include onTabletOrPhone {
      grid-template-rows: repeat($gridRowsServices + 2, $gridRowHeight);
    }
  }

  &__item {
    &--desktop {
      @include gridColumns ($gridColumnsDesktop);
      @include gridRows ($gridRowsServices);
    }

    @include onTabletOrPhone {
      &--tablet {
        @include gridColumns ($gridColumnsDesktop);
        @include gridRows ($gridRowsServices + 2);
      }
    }

    &:nth-last-child(-n + 2) {
      position: relative;
      top: $gridGap;
    }
  }

}
