.link {
  @extend %h-normal;
  text-decoration: none;
  white-space: nowrap;
  font-size: 15px;
  line-height: 22px;

  &--button {
    @extend %flex-center;

    height: 56px;
    width: 264px;
    background: $colorBlue;
    border-radius: 8px;

    @include onPhone {
      width: 100%;
    }
  }

  &--color-white {
    color: $colorWhite;
  }
}
