.nav {
  @include onTabletOrPhone {
    display: none;
  };

  &__list {
    display: flex;
    list-style: none;
    height: 100%;
    gap: 46px;
  }

  &__link {
    font-weight: bold;
    font-size: 13px;
    letter-spacing: 3px;
    text-transform: uppercase;
    vertical-align: middle;
  }
}
