.page {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;

  &__content {
    margin: 0;
    padding: 0;
    background: linear-gradient($colorGray 80%, $colorWhite 20%);

    @include onPhone {
      background: none $colorGray;
    }
  }

  &__section {
    margin: $mainMargin 0;

    @include onPhone {
      margin: $mainMarginOnPhone 0;
    }

    &--exude {
      padding: 128px 0;
      border-radius: $mainSectionRadius;
      background-color: $colorWhite;

      font-size: 52px;

      @include onPhone {
        font-size: 44px;
        padding: 72px 0;
      }
    }

    &--image {
      padding: 200px 0;
      font-size: 52px;
      background-image: url("./../images/background.png");
      background-position: center;
      background-repeat: no-repeat;
      background-color: $colorWhite;
    }

    &--press-down {
      margin-bottom: 0;

      @include onPhone {
        margin-bottom: $mainMarginOnPhone;
      }
    }
  }

  &__main-section {
    background-color: $mainColor;
  }

  &__section-name {
    @extend %h-bold;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: $colorTextLightGray;
  }

  &__title {
    // @extend %h-normal;
    // font-size: 32px;
    // line-height: 130%;
    // color: $colorTextBlack;
  }
}
