.page {
  font-family: "Poppins", sans-serif;

  &__content {
    margin: 0;
    padding: 0;
    background-color: $colorGray;
  }

  &__list {
    margin: 0;
  }

  &__header {
    position: relative;
    padding-top: 48px;

    @include onTabletOrPhone {
      padding-top: 20px;
    }
  }

  &__introduce {
    padding: 148px 0;
  }

  &__expertise {
    padding: 128px 0;
  }

  &__services {
    padding: 148px 0;
  }
}
