.page {
  font-family: "Poppins", sans-serif;

  &__content {
    margin: 0;
    padding: 0;
    background-color: $colorGray;
  }

  &__list {
    margin: 0;
  }

  &__header {
    position: relative;
    padding-top: 48px;

    @include onTabletOrPhone {
      padding-top: 20px;
    }
  }

  &__introduce {
    padding: 148px 0;
  }

  &__expertise {
    padding: 128px 0 148px;
    border-radius: $mainSectionRadius;
    background-color: $colorWhite;
  }

  &__services {
    padding: 148px 0;
  }

  &__testimonials {
    margin-bottom: 148px;
  }

  &__afterwords {
    padding: 200px 0;
    background-image: url("./../images/background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-color: $colorWhite;
  }

  &__title {
    @extend %h-bold;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: $colorTextLightGray;
  }

  &__tagline {
    @extend %h-normal;
    font-size: 32px;
    line-height: 130%;
    color: $colorTextBlack;
  }
}
