.service {
  padding: 32px;
  height: 100%;
  width: 100%;
  background-color: $colorWhite;
  box-shadow: 0px 9px 18px rgba(37, 41, 49, 0.03);
  border-radius: 16px;

  &__mark {
    padding: 2px 11px;

    display: block;
    width: fit-content;
    background-color: $colorGray;
    border-radius: 23px;

    @extend %h-normal;
    color: $colorBlue;
    font-size: 13px;
  }

  &__details {
    margin-top: 26px;

    @extend %p-bold;
    color: $colorTextGray;
    font-size: 13px;
    line-height: 150%;
    white-space: nowrap;
  }

  &__link {
    display: block;
    margin-top: 34px;

    @extend %h-normal;
    color: $colorTextBlack;
    font-size: 15px;
    line-height: 22px;

    &::before {
      content: "";
      display: inline-block;
      height: 40px;
      width: 40px;
      background-image: url("../images/slider/Vector.svg");
      background-color: $colorBlue;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 40%;
      border-radius: 50%;
      vertical-align: middle;
      transition: all $animationTime;

      margin-right: 16px;
    }

    &:hover::before {
      transform: scale(105%);
      background-size: 35%;
    }
  }
}
