.testimonials {
  &__title {
    @extend %h-bold;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: $colorTextLightGray;

    margin-bottom: 16px;
  }

  &__tagline {
    @extend %h-normal;
    font-size: 32px;
    line-height: 150%;
    color: $colorTextBlack;

    margin-bottom: 85px;
  }

  &__item {
    @include onTabletOrPhone {

      &:last-child {
        margin-bottom: 0;
      }

      margin-bottom: 30px;
    }
  }
}
