.testimonial {
  height: 100%;
  padding: 36px 52px 32px;
  border-radius: 16px;
  background-color: $colorWhite;
  box-shadow: 0 9px 18px;
  color: $colorShadow;
  
  @extend %scale-animation;

  &__image-container {
    display: block;
    position: relative;
    width: max-content;
    margin: 87px auto 82px;

    &::after,
    &::before {
      content: "";
      display: block;
      position: absolute;
      height: 140px;
      width: 56px;
      z-index: 0;

      background-color: $colorBlue;
      border-radius: 12px;

    }

    &::before {
      transform: translateY(-35%) translateX(-25%) rotate(30deg);
    }

    &::after {
      transform: translateY(-65%) translateX(175%) rotate(30deg);
    }
  }

  &__image {
    display: block;
    position: relative;
    border-radius: 50%;
    height: 140px;
    width: 140px;
    z-index: 1;

    object-fit: cover;
  }

  &__quote {
    @extend %paragraph;
    font-size: 13px;
    color: $colorTextGray;
    text-align: center;

    margin-bottom: 16px;

    &::before {
      content: "";
      background-image: url("./../images/sub-title/quote.png");
      display: block;
      height: 20px;
      width: 20px;

      margin: 0 auto 12px;
    }
  }

  &__name {
    @extend %paragraph;
    font-size: 13px;
    line-height: 150%;
    text-align: center;
    color: $colorTextBlack;

    margin-bottom: 4px;
  }

  &__position {
    @extend %section-name;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-align: center;
    color: $colorTextLightGray;
  }

}
