.testimonials {
  &__content {
    display: flex;
    flex-direction: column;
    margin-bottom: 120px;

    @include on('tablet') {
      margin-bottom: 148px;
    }

    @include on('small') {
      margin-bottom: 186px;
    }

    @include on('design') {
      margin-bottom: 148px;
    }
  }

  &__title {
    @include poppins-bold-13-uppercase;

    margin-bottom: 16px;
    color: $color-9;
  }

  &__sub-title {
    font-family: Poppins, sans-serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 150%;
    color: $color-5;
  }

  &__info {
    margin-bottom: 48px;

    @include on('tablet') {
      margin-bottom: 56px;
    }

    @include on('small') {
      margin-bottom: 85px;
    }
  }
  &__cards {
    @include grid;
  }
}

.person-card {
  display: flex;
  grid-column: 1 / -1;
  flex-direction: column;
  align-items: center;

  height: 456px;
  padding: 32px 56px;
  border-radius: 16px;

  text-align: center;

  background-color: $color-7;

  transition: all $transition-time;

  &:hover {
    transform: scale(1.05);
  }

  @include on('small') {
    grid-column: span 4;
  }

  @include on('tablet') {
    height: 478px;
  }

  @include on('small') {
    height: 456px;
  }

  @include on('design') {
    height: 494px;
  }

  &__image {
    z-index: 1;

    display: block;

    width: 110px;
    height: 110px;
    border-radius: 50%;

    object-fit: cover;

    @include on('tablet') {
      width: 140px;
      height: 140px;
    }

    @include on('small') {
      width: 110px;
      height: 110px;
    }

    @include on('design') {
      width: 140px;
      height: 140px;
    }
  }

  &__photo {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 196px;
    height: 196px;

    @include on('tablet') {
      width: 250px;
      height: 250px;
    }

    @include on('small') {
      width: 196px;
      height: 196px;
    }

    @include on('design') {
      width: 250px;
      height: 250px;
    }
    &::before {
      content: '';

      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
      height: 100%;

      background: url('../images/shapes.svg');
      background-position: center;
      background-size: cover;
    }
  }

  &__quote {
    position: relative;
    max-width: 362px;
    margin-bottom: 16px;

    @include opensans-semibold-13;

    color: $color-6;
    &::before {
      content: '';

      position: relative;

      display: block;

      width: 24px;
      height: 24px;
      margin: 24px auto 8px;

      background: url('../images/quote.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }

  &__name {
    margin-bottom: 4px;

    @include opensans-semibold-13;

    color: $color-5;
  }

  &__status {
    font-family: Poppins, sans-serif;
    font-size: 13px;
    font-weight: 700;
    color: $color-9;
    text-transform: uppercase;
  }
}
