@use '../../utils/media';
@use '../../utils/vars';
@use '../../fonts';

.about {
  grid-column: -1 / 1;

  &__title {
    margin-top: 120px;

    @include fonts.f32w600h150;

    text-align: center;

  }

  &__text {
    margin: 24px 0 120px;

    @include fonts.f14w400h150;
  }

  @include media.grid-640 {
    &__title {
      margin-top: 148px;

      @include fonts.f32w600h150;

      font-style: 24px;
    }

    &__text {
      margin: 24px 0 148px;

      @include fonts.f14w400h150;
    }
  }

  @include media.grid-1024 {
    grid-column: 2/12;
  }

  @include media.grid-1600 {
    grid-column: 3/11;
  }
}
