@use '../../utils/media';
@use '../../utils/vars';
@use '../../fonts';

.about {
	@include media.grid;
	@include media.grid-640;
	@include media.grid-1024;
	@include media.grid-1600;
	@include media.grid-2560;

	grid-column: 1 / -1;

	&__title {
		grid-column: 1 / -1;

		margin-top: 120px;

		@include fonts.f32w600h150;

		text-align: center;
	}

	&__text {
		grid-column: 1 / -1;

		margin: 24px 0 120px;

		@include fonts.f22w600h150;

		text-align: center;
	}

	@include media.grid-640 {
		&__title {
			margin-top: 148px;

			@include fonts.f32w600h150;

			font-style: 24px;
		}

		&__text {
			margin: 24px 0 148px;

			@include fonts.f24w600h150;

			color: vars.$article-dark-text;
			text-align: center;
		}
	}

	@include media.grid-1024 {
		&__text {
			grid-column: 2 / span 10;
		}
	}

	@include media.grid-1600 {
		&__text {
			grid-column: 3 / span 9;
		}
	}
}
