.apply {
  padding: 72px 20px;
  background-color: #fff;
  text-align: center;

  @include onTablet {
    padding: 200px 0;
    background-size: 150vw;
    background-position: center;
    background-image: url("../images/apply/shapes.png");
  }

  @include onSmallScreen {
    background-size: 110vw;
  }

  @include onLargeScreen {
    background-size: contain;
  }

  &__content {
    margin: 0 auto;
    max-width: 280px;

    @include onTablet {
      max-width: 558px;
    }

    @include onSmallScreen {
      max-width: 754px;
    }
  }

  &__title {
    margin-bottom: 24px;
    color: $c-blue-int2;
    @include setFont(44px, 52px, inherit);

    @include onTablet {
      @include setFont(52px, 62px, inherit);
    }
  }

  &__text {
    margin-bottom: 56px;
    @include setFont(22px, 33px, inherit);

    @include onTablet {
      margin-bottom: 64px;
      @include setFont(24px, 36px, inherit);
    }
  }

  &__button {
    margin: 0 auto;
  }
}
