.apply {
  background-color: white;
  text-align: center;
  position: relative;
  overflow: hidden;

  @include on-tablet {
    padding: 200px 0;
  }

  &__bg {
    display: none;

    @include on-tablet {
      display: flex;
      justify-content: center;
      gap: 296px;
      height: 508px;
      position: absolute;
      top: 63px;
      left: 50%;
      transform: translate(-50%);
    }

    @include on-small-desktop {
      gap: 564px;
      top: 90px;
    }

    @include on-desktop {
      gap: 631px;
      top: 90px;
    }
  }

  &__container {
    padding: 72px 0;
    position: relative;
    z-index: 1;

    @include on-tablet {
      padding: 0;
    }
  }

  &__title {
    @include huge-title;
  }

  &__description {
    @include description;

    font-size: 22px;
    font-weight: 600;
    margin: 24px 0 56px;
  }

  &__button {
    @include on-tablet {
      width: 264px;
    }
  }
}
