.components {
  background-color: $main-text-color;
  padding-block: 72px;

  @include onTablet {
    background-image: url(../images/shapes.png);
    background-position: center;
    background-size: cover;
    padding-block: 200px;
  }

  &__description {
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    line-height: 150%;
    padding-bottom: 56px;

    @include paragraph;

    @include onTablet {
      padding-bottom: 64px;
    }
  }

  &--button {
    margin: auto;
  }
}
