.section_cta {
  @include content-padding-inline;

  background-color: #fff;

  @include on-tablet {
    padding-block: 120px;
    margin: 0;
    background-image: url(../images/main/cta/Shapes.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.cta_block {
  box-sizing: border-box;
  padding-block: 72px;
  width: 100%;
  margin: auto;

  @include on-tablet {
    max-width: 558px;
  }

  @include on-small-desktop {
    max-width: 754px;
  }

  &__title {
    @include hover(transform, scale(1.05));
    @include poppins(600);

    margin: 0;
    font-size: 44px;
    line-height: 52px;
    color: $dark-text-color;
    text-align: center;
  }

  &__text {
    @include hover(transform, scale(1.05));
    @include open-sans(600);

    margin: 24px 0 0;
    font-size: 20px;
    line-height: 32px;
    color: $gray-text-color;
    text-align: center;
  }

  &__button {
    @include open-sans(600);

    display: flex;
    justify-content: center;
    align-items: center;
    height: 56px;
    margin: 56px auto 0;

    background-color: $blue-color;
    border-radius: 8px;
    border: none;

    font-size: 16px;
    line-height: 20px;
    color: $white-text-color;
    text-align: center;
    text-decoration: none;

    @include on-tablet {
      max-width: 264px;
    }

    @include hover(transform, scale(1.05));

    &:hover {
      background-color: $hover_color;
    }
  }
}
