.cta {
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;

  height: 688px;

  background-color: #fff;

  &__background-shapes {
    inset: 0;

    position: absolute;
    pointer-events: none;

    @include on-tablet {
      background-image: url(../images/cta-block/background-shapes.png);
      background-size: 150%;
      background-position: center;
      background-repeat: no-repeat;
    }

    @include on-small-desktop {
      background-size: 100%;
    }

    transition: transform $transition-time;
  }

  &__button:hover + &__background-shapes {
    transform: translateY(-5px);
  }


  &__content {
    @include content-padding-inline;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__title {
    margin-block: 127px;
    margin-bottom: 24px;

    font-size: 52px;
    font-weight: 600;
    text-align: center;

    color: $title-color;
  }

  &__subtitle {
    margin-bottom: 64px;

    font-size: 24px;
    font-weight: 600;
    text-align: center;

    color: $subtitle-color;
  }
}
