.expert {
  border-radius: 30px;
  background-color: white;
  padding-block: 72px;
  text-align: center;

  &__header {
    @include huge-title;
    
    margin-bottom: 56px;

    @include on-tablet {
      margin-bottom: 64px;
    }
  }

  &__container {
    row-gap: 56px;

    @include grid;

    @include on-tablet {
      gap: 31px;
      row-gap: 72px;
    }

    @include on-small-desktop {
      display: flex;
      justify-content: space-between;
    }
  }
}

.point {
  text-align: center;
  grid-column: 1 / -1;

  @include on-tablet {
    grid-column: 2 / 6;
  }

  &__image {
    width: 166px;
  }

  &__title {
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    text-align: center;
    margin: 32px 0 16px;
  }

  &__text {
    @include description;

    text-align: center;
  }
}
