@use '../../utils/media';
@use '../../utils/vars';
@use '../../fonts';

.expertise {
  grid-column: -1 / 1;

  background-color: vars.$white-color;
  border-radius: 30px;

  margin-left: -#{media.$grid-phone-gap};
  margin-right: -#{media.$grid-phone-gap};

  width: calc(100% + (2 * media.$grid-phone-gap));

  &__title {
    margin-top: 72px;
    margin-bottom: 58px;
    padding: 0 20px;

    @include fonts.f44w600h120;

    text-align: center;
  }

    @include media.grid-640 {
      &__title {
      margin-top: 128px;
      margin-bottom: 64px;

      font-size: 52px;
      }
    }

  // @include media.grid-1024 {
  // }

  // @include media.grid-1600 {
  // }
}

.articlies {
  @include media.grid-1024 {
    grid-column: 1 / -1;
    grid-template-columns: repeat(3, 1fr);
  }
}

.article {
  grid-column: -1 / 1;

  padding-right: media.$grid-phone-gap;
  padding-left: media.$grid-phone-gap;

  text-align: center;

  margin-top: 0;

  &:not(:first-child) {
    margin-top: 56px;
  }

  &:last-child {
    margin-bottom: 72px;
  }

  .img {
    width: 166px;
    height: 166px;
  }

  &__title {
    margin: 32px 0 16px;

    @include fonts.f20w600h140;
  }

  &__text {
    @include fonts.f14w400h150;
  }
}
