.intro {
  &__title {
    margin-bottom: 16px;
    color: $light-gray-color;

    text-transform: uppercase;
    @extend %poppins-700;
    @include setFont(13px, 19px, 3px);
  }

  &__text {
    margin-bottom: 24px;
    color: $title-blue;
    @include setFont(32px, 41px, inherit);
  }

  &__description {
    margin-bottom: 48px - 24px;
    @extend %open-sans-400;

    @include onTablet {
      margin-bottom: 56px - 30px;
    }

    @include on1024Screen {
      margin-bottom: 0;
    }
  }

  &__content {
    max-width: 360px;
  }
}
