body {
  margin: 0;
  background: $background;
  font-family: Poppins, sans-serif;
  font-size: 13px;
  font-weight: 700;
}

a {
  color: white;
  text-decoration: none;
}

ul, p, h1, h2, h3 {
  margin: 0;
  padding: 0;
}


button {
  font-family: Poppins, sans-serif;
  font-size: 15px;
  font-weight: 600;
  padding-block: 14px;
  color: white;
  background-color: $blue;
  border: none;
  border-radius: 8px;
  width: 100%;
  transition: all .3s;
  cursor: pointer;

  &:hover {
    box-shadow: 0 9px 18px 0 rgba(25, 82, 216, 0.3);
  }
}

input {
  background-color: $header-bg;
  outline: none;
  border: none;
  border-bottom: 1px solid white;
  width: 100%;
  font-family: Poppins, sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 23px;
  color: white;
  padding-bottom: 17px;
  transition: all .3s;

  &:focus {
    border-bottom: 1px solid $blue;
  }
}
