.our-expertise {
  background-color: $main-text-color;
  padding-block: 72px;

  @include onTablet {
    padding-block: 128px;
  }

  &__experiences {
    @include pageGrid;
    row-gap: 56px;

    @include onTablet {
      row-gap: 72px;
    }
  }

  &__experience {
    grid-column: 1 / -1;

    @include onSmallDesktop {
      grid-column: span 4;
    }
  }
}
