.qualities {
  @include container;

  background-color: #fff;
  padding: 72px 20px;
  margin: 120px 0 0;
  text-align: center;

  &__title {
    font-size: 44px;
    text-align: center;
  }

  &__subtitle {
    margin: 24px 0 56px;
  }

  &__button {
    max-width: 280px;
    box-sizing: border-box;
    cursor: pointer;
    height: 50px;
    border-radius: 10px;
    background: #2060f6;
    color: #fff;
    width: 100%;
    border: none;

    font-family: Poppins, serif;
    font-size: 15px;
    font-weight: 600;
    line-height: 22.5px;
    text-align: center;
  }

  @include on-tablet {
    & {
      padding-top: 200px;
      background-image: url(../images/Shapes.png);
      background-repeat: no-repeat;
      background-size: cover;
    }

    &__button {
      max-width: 264px;
    }
  }

  @include on-small-desktop {
    &__subtitle {
      margin: 24px auto 64px;
      width: 752px;
    }
  }
}
