.reviews {
  &__description {
    margin-bottom: 85px;
  }

  &__name {
    margin-bottom: 16px;

    font-size: 13px;
    font-weight: 700;
    letter-spacing: 3px;
    text-transform: uppercase;

    color: $gray-title-color;
  }

  &__title {
    font-size: 32px;
    font-weight: 600;
    line-height: 48px;

    color: $title-color;
  }

  &__content {
    @include page-grid;

    gap: 30px;
  }

  &__container {
    @include content-padding-inline;
  }
}
