.section {
  &--title {
    font-family: Poppins, serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: 0;
    color: #253757;
    margin: 0;
  }

  &--subtitle {
    margin: 0;
    font-family: Open Sans, serif;
    min-width: 280px;
    font-size: 22px;
    font-weight: 600;
    line-height: 33px;
    text-align: center;
    color: #6c788b;
  }

  &--label {
    font-family: Poppins, serif;
    font-size: 13px;
    font-weight: 700;
    line-height: 20;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #c0cdd7;
    margin: 0;
    margin-bottom: 16px;
  }

  &--button {
    display: block;
    border-radius: 8px;
    height: 40;
    width: 280;
    font-family: Poppins, serif;
    font-size: 15px;
    font-weight: 600;
    margin: 0 auto;
    padding-top: 16px;
    text-align: center;
    color: white;
    background-color: #2060f6;
    text-decoration: none;
  }
}
