.services {
  margin: 120px auto;

  &__text {
    grid-column: 1 / -1;
    position: relative;

    @include on-tablet {
      grid-column: 1 / 4;
    }

    @include on-small-desktop {
      grid-column: 1 / 5;
      top: 103px;
    }
  }

  &__mini {
    @include mini-title;
  }

  &__title {
    @include small-title;

    margin: 16px 0 24px
  }

  &__description {
    @include description;

    margin-bottom: 48px;
  }

  &__container {
    gap: 24px 30px;
    position: relative;
    
    @include grid;
  }
}
