.section__testimonials {
  @include content-padding-inline;
  @include page-grid;

  &__tittle {
    grid-column: 1 / -1;
    &__parent {
      @include hover(transform, scale(1.05));
      @include poppins(700);

      margin: 0;
      margin-bottom: 16px;
      font-size: 13px;
      line-height: 20px;
      letter-spacing: 3px;
      color: $light-gray-text-color;
      text-transform: uppercase;
    }

    &__child {
      @include hover(transform, scale(1.05));
      @include poppins(600);

      margin: 0;
      margin-bottom: 48px;
      font-size: 32px;
      line-height: 48px;
      color: $dark-text-color;

      @include on-tablet {
        width: 200px;
      }
    }
  }
}

.testimonials_card {
  box-sizing: border-box;
  width: 280px;
  height: 456px;
  padding: 32px 42px;
  margin: auto;
  margin-top: 24px;
  border-radius: 16px;
  background-color: #fff;

  @include on-tablet {
    width: 558px;
    height: 478px;

    padding: 32px 98px;
    margin-top: 30px;
  }

  @include on-small-desktop {
    margin: 0;
    height: 456px;
    width: 292px;
    padding: 32px 48px;
  }

  @include on-desktop {
    height: 494px;
    width: 362px;
  }

  @include hover(transform, scale(1.05));

  &-first {
    grid-column: 1 / -1;

    @include on-small-desktop {
      grid-column: 1 / span 4;
    }
  }

  &-second {
    grid-column: 1 / -1;

    @include on-small-desktop {
      grid-column: 5 / span 4;
    }
  }

  &-third {
    grid-column: 1 / -1;

    @include on-small-desktop {
      grid-column: 9 / span 4;
    }
  }

  &__image {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 196px;
    z-index: 1;

    @include on-tablet {
      height: 250px;
    }

    @include on-small-desktop {
      height: 196px;
    }

    @include on-desktop {
      height: 250px;
    }

    &_img {
      @include hover(transform, scale(1.05));

      border-radius: 50%;
      width: 110px;

      @include on-tablet {
        width: 140px;
      }

      @include on-small-desktop {
        width: 110px;
      }

      @include on-desktop {
        width: 140px;
      }
    }

    &::after,
    &::before {
      content: '';
      position: absolute;
      box-sizing: border-box;
      background-color: $blue-color;
      width: 109px;
      height: 44px;
      border-radius: 12px;
      z-index: -1;
      transform: rotate(-60deg);

      @include on-tablet {
        width: 139px;
        height: 56px;
      }

      @include on-small-desktop {
        width: 109px;
        height: 44px;
      }

      @include on-desktop {
        width: 139px;
        height: 56px;
      }
    }

    &::after {
      top: 40px;
      left: 15px;

      @include on-tablet {
        top: 50px;
        left: 60px;
      }

      @include on-small-desktop {
        top: 40px;
        left: 15px;
      }

      @include on-desktop {
        top: 50px;
        left: 15px;
      }
    }

    &::before {
      bottom: 40px;
      right: 15px;

      @include on-tablet {
        bottom: 50px;
        right: 60px;
      }

      @include on-small-desktop {
        bottom: 40px;
        right: 15px;
      }

      @include on-desktop {
        bottom: 50px;
        right: 15px;
      }
    }
  }

  &__info {
    display: flex;
    align-items: center;
    flex-direction: column;

    &__icon {
      margin-top: 24px;
    }

    &__text {
      @include hover(transform, scale(1.05));
      @include open-sans(600);

      margin: 0;
      margin-top: 8px;
      font-size: 13px;
      line-height: 20px;
      color: $gray-text-color;
      text-align: center;
    }

    &__name {
      @include hover(transform, scale(1.05));
      @include open-sans(600);

      margin: 0;
      margin-top: 16px;
      font-size: 13px;
      line-height: 20px;
      color: $dark-text-color;
    }

    &__job {
      @include hover(transform, scale(1.05));
      @include poppins(700);

      margin: 0;
      margin-top: 4px;
      font-size: 12px;
      line-height: 20px;
      letter-spacing: 3px;
      color: $light-gray-text-color;
      text-transform: uppercase;
    }
  }
}
