.testimonials {
  &__content {
    @include onTablet {
      padding-bottom: 38px;
    }

    @include onTablet {
      padding-bottom: 0;
    }
  }

  &__cards {
    @include pageGrid;
    row-gap: 24px;

    @include onTablet {
      row-gap: 30px;
    }

    @include onSmallDesktop {
      column-gap: 20px;
    }

    @include onDesktop {
      column-gap: 30px;
    }
  }
}
