.testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 120px;

  @include onTablet {
    padding-bottom: 148px;
  }
  @include on1024Screen {
    padding-bottom: 186px;
  }
  @include on1600Screen {
    padding-bottom: 148px;
  }
}
