.header {
  position: relative;
  background: $bg-black;
  height: 50rem;

  border-radius: 0 0 1.88rem 1.88rem;

  &__info {
    @include onSmallDesktop {
      max-width: 22.63rem;
      margin-top: 7.5rem;
    }
  }

  &__title {
    @extend %h1;

    margin-bottom: 2rem;

    @include onTablet {
      margin-bottom: 1.5rem;
    }

    @include onSmallDesktop {
      margin-bottom: 2rem;
    }
  }

  &__description {
    font-size: 1.13rem;
    font-weight: 400;
    line-height: 150%;

    margin-bottom: 4.5rem;

    @include onTablet {
      width: 22.63rem;

      margin-bottom: 3.5rem;
    }

    @include onSmallDesktop {
      margin-bottom: 5.19rem;
    }
  }

  &__slider {
    position: absolute;
    top: 31.38rem;
    right: 0;
    left: 0;
    height: 24.38rem;
    border-radius: 1.88rem;

    @include onSmallDesktop {
      top: auto;
      bottom: 0;
      right: 0;
      left: 50%;
      height: 42.5rem;
      border-radius: 1.88rem 0;
    }
  }
}
