.page {
  font-family: $open-sans;
  font-size: $font-size-base;
  font-weight: 600;
  font-style: normal;
  line-height: 100%;
  color: $white;
  min-width: $min-design-width;
  background: #f2f6fa;
}
