input[type="submit"],
input[type="button"],
button {
  color: $white;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
}

input[type="submit"]:focus,
input[type="button"]:focus,
button:focus {
  outline: 0;
}
