body {
  background: #f2f6fa;
  margin: 0;
}

html {
  transition: 0.3s;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

a {
  cursor: pointer;
  font-family: "Poppins" , sans-serif;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  font-family: "Poppins" , sans-serif;
}

.content--position_center {
  margin: 0 auto;
}
