.arrow-button {
  @include flex-center;
  background-image: url("/images/misc/Vector-arrow.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-color: $cBlue;
  border-radius: 50%;
  border: none;
  transition: transform 0.3s;

  &:hover {
    transform: scale(1.2);
  }
}
