.button {
  @include flex-center;

  @include font-param(15px, 600, $cWhite);
  line-height: 1.5em;
  text-decoration: none;

  cursor: pointer;
  background-color: $cBlue;
  border-radius: 8px;

  transition: font-size 0.3s, font-weight 0.3s;

  &:hover {
    font-size: 18px;
    font-weight: 700;
  }
}
