$boxes:
  1 68px 28px 5.1% 53.5% 5px 12px,
  2 94px 38px 8.2% 75% 5px 12px,
  3 87px 34px 14.6% 10.4% 3px 12px,
  4 143px 57px 16.8% 41% 5px 12px,
  5 45px 18px 27.9% 11.1% 3px 6px,
  6 45px 18px 30.1% 67.3% 3px 6px,
  7 45px 18px 63.3% 74.5% 3px 6px,
  8 87px 34px 76.1% 55.7% 3px 12px,
  9 143px 57px 79.6% 19% 5px 12px,
  10 154px 61px 83.6% 59.8% 5px 12px,
  11 54px 21px 90.4% 15.8% 3px 8px,
  12 87px 34px 91.6% 40.1% 3px 12px;

.decor-box {
  position: absolute;
  transform: rotate(-65deg);
  opacity: 0.5;

  @each $num, $wid, $hei, $left, $top, $bor, $rad in $boxes {
    &--#{$num} {
      width: $wid;
      height: $hei;
      left: $left;
      top: $top;
      border: $bor solid $cBlue;
      border-radius: $rad;
    }
  }
}
