.slider-button {
  @include flex-center;
  background-image: url("/images/slider/Vector-left.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-color: $cWhite;
  border-radius: 50%;
  border: none;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  &:hover {
    border: 2px solid $cBlue;
  }

  &--right {
    transform: rotate(180deg);
  }
}
