.about-us {
  &__content {
    margin: 120px 0 0;

    @include onTablet {
      margin: 148px 0 0;
    }

  }

  &__title {
    font-weight: 600;
    font-size: 32px;
    line-height: 150%;
    color: $color-title;

    text-align: center;
  }

  &__paragraph {
    font-weight: 600;
    font-size: 22px;
    line-height: 150%;
    text-align: center;
    color: $color-text-section;

    padding-top: 24px 0 0;

    @include onTablet {
      padding-top: 16px;
      font-size: 24px;
    }
  }
}
