.air {
  display: grid;

  &__title-2 {
    @extend %poppins700_13_20;
    color: $color-sub-text;

    margin-bottom: 16px;
  }

  &__title {
    @extend %poppins600_32_150;
    line-height: 130%;

    margin-bottom: 24px;
  }

  &__text {
    @extend %open400_14_150;
    margin-bottom: 48px;

    @include screen640 {
      margin-bottom: 56px;
    }

    @include screen1024 {
      margin-bottom: 0;
    }
  }

  &__block {
    background-color: $color-page-white;
    box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
    border-radius: 16px;
    padding: 32px;
    height: 264px;
    margin-bottom: 24px;

    @include screen640 {
      margin-bottom: 30px;

      &:nth-child(2n+1) {
        transform: translateY(-50%);
      }

      &:nth-child(4) {
        margin-bottom: 0;
      }
    }

    @include screen1024 {
      margin-bottom: 20px;
    }

    @include screen1600 {
      margin-bottom: 30px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__number-container {
    width: 46px;
    height: 24px;
    background-color: rgba(32, 96, 246, 0.1);
    border-radius: 23px;

    margin-bottom: 24px;
  }

  &__number {
    @extend %poppins600_13_20;
    color: rgba(32, 96, 246, 1);
    text-align: center;
    line-height: 24px;
  }

  &__text-block {
    @extend %open600_22_150;
    font-size: 13px;

    margin-bottom: 32px;
  }

  &__subblock {
    display: flex;
    align-items: center;

    transition: transform 0.3s;

    &:hover {
      transform: scale(1.15)
        translateX(25px);
    }
  }

  &__subblock-cicle {
    width: 40px;
    height: 40px;
    background-color: $color-button;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__subblock-arrow {
    width: 16px;
    height: 16px;
    background-image: url(../images/download/blue_arrow.png);
    background-repeat: no-repeat;
    background-position: center;
  }

  &__subblock-button {
    @extend %poppins600_15_22;
    padding-left: 16px;
  }
}
