.button {
  display: flex;
  height: 50px;
  width: 280px;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  color: $main-text-color;
  background-color: $background-button-line;
  border: none;

  @include cursor;
  @include hover(box-shadow, 0 0 20px rgba(0, 0, 0, 0.3));
}
