.content {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__article {
    margin-left: 268px;
  }

  &__title {
    @extend %title;
    font-size: 64px;
    line-height: 68px;
    letter-spacing: -2px;
    color: $c-white;
  }

  &__text {
    @extend %text;
    font-size: 18px;
    line-height: 27px;
    color: $c-white;
    margin-top: 32px;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 264px;
    height: 50px;
    text-decoration: none;
    @extend %title;
    font-size: 15px;
    color: $c-white;
    background-color: $c-button;
    border-radius: 8px;
    margin-top: 83px;

    &:hover {
      background: $c-form;
    }
  }

  &__image {
    position: relative;
    height: 680px;
    width: 687px;
    border-radius: 30px 0;
    background: url(../images/heder.png);
    background-position: right;
    background-size: cover;
  }
}

@media (min-width: 1920px) {
  .content {

    &__title {
      font-size: 100px;
      line-height: 116px;
    }

    &__text {
      margin-top: 60px;
      margin-right: 60px;
      font-size: 40px;
      line-height: 45px;
    }

    &__article {
      margin-left: 228px;
    }

    &__link {
      width: 528px;
      height: 100px;
      margin-top: 50px;
      font-size: 30px;
    }

    &__image {
      height: 950px;
      width: 950px;
      margin-left: 40px;
    }
  }
}

@media (max-width: 1350px) {

  .content {
    &__image {
      height: 500px;
      width: 493px;
    }
    &__article {
      margin-left: 100px;
    }
  }
}

@media (max-width: 1000px) {
  .content {
    flex-direction: column;
    margin-left: 0;
    text-align: center;

    &__text {
      margin: 32px auto 0;
    }

    &__article {
      margin-left: 0;
      width: 100%;
    }

    &__link {
      margin: 50px auto 0;
    }

    &__image {
      margin-top: 48px;
      width: 100%;
      height: 100vw;
      border-radius: 0 0 10px 10px;
    }
  }
}
