.contact-us {
  &__main-title {
    font-size: 32px;
    font-weight: 600;
    line-height: 48px;
    text-align: left;
    color: $main-text-color;
  }

  &__items {
    display: flex;
    flex-direction: column;
    gap: 48px;
    padding-block: 48px 80px;

    @include on-tablet {
      gap: 48px;
      padding-block: 56px 140px;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__title {
    font-size: 13px;
    font-weight: 700;
    line-height: 19.5px;
    letter-spacing: 3px;
    text-align: left;
    color: $section-text-color;
    text-transform: uppercase;
  }

  &__link {
    font-family: $second-font-family;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    text-align: left;
    color: $main-text-color;
  }

  &__icons {
    display: flex;
    gap: 32px;
  }

  &__social {
    width: 32px;
    height: 32px;

    @include cursor;
    @include hover(transform, scale(1.2));

    &--facebook {
      background-image: url(../images/socials-icons/facebook.png);

      &:hover {
        background-image: url(../images/socials-icons/facebook_active.svg);
      }
    }

    &--twitter {
      background-image: url(../images/socials-icons/twitter.png);

      &:hover {
        background-image: url(../images/socials-icons/twitter_active.svg);
      }
    }

    &--instagram {
      background-image: url(../images/socials-icons/instagram.png);

      &:hover {
        background-image: url(../images/socials-icons/instagram_active.svg);
      }
    }
  }
}
