.footer {
  background: $c-header;
  border-radius: 30px 30px 0 0;

  &__top {
    display: flex;
    justify-content: space-evenly;
    padding-top: 180px;
    padding-bottom: 128px;
    margin: 0 auto;
  }

  &__menu {
    width: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding-bottom: 70px;
  }

  &__nav {
    text-align: center;
  }

  &__item {
    display: inline-block;
  }
  &__link {
    @extend %nav-link;
    display: inline-block;
    margin: 0 20px;
    padding: 10px 5px;
    font-size: 20px;
    color: $c-white;
    text-decoration: none;
    text-transform: uppercase;
  }
  &__link:hover {
    position: relative;
    padding-bottom: 10px;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 2px;
      background-color: $c-button;
    }
  }
}

@media (min-width:1920px) {
  .footer__logo {
    width: 90px;
    height: 50px;
  }

  .footer__image {
    width: 90px;
    height: 50px;
  }

  .footer__link {
    font-size: 40px;
  }
}

@media (max-width: 1280px) {

  .footer__logo {
    display: none;
  }

  .footer__menu {
    width: auto;
    display: flex;
    flex-direction: column;
    padding-bottom: 70px;
  }

  .nav__link--footer {
    font-size: 15px;
  }
}

@media (max-width: 1100px) {
  .footer__top {
    flex-direction: column;
    justify-content: center;
    padding-bottom: 0;
  }
}

@media (max-width: 650px) {
  .footer__list {
    display: flex;
    padding: 0;
    flex-direction: column;
  }
}
