.footer {
  background-color: $background;

  &__content {
    padding: 72px 0 80px;

    @include onTablet {
      padding: 128px 0 80px;
    }

    @include onSmallDesktop {
      display: flex;
      justify-content: space-between;

      padding: 106px 0 80px;
    }
  }

  &__nav {
    margin: 48px 0 0;

    @include onTablet {
      margin: 24px 0 0;
    }

    @include onSmallDesktop {
      margin: 0;
    }
  }
}
