.footer {
  &__menu {
    display: flex;
    flex-direction: column;
    gap: 48px;

    @include onTablet {
      gap: 24px;
    }

    @include onSmallDesktop {
      flex-direction: row;
      justify-content: space-between;
    }
  }
}
