.header {
  position: relative;
  background-color: $color-of-header-footer;
  height: 893px;
  border-radius: 0 0 30px 30px;

  padding-top: 20px;

  @include screen1024 {
    height: 800px;
    padding-top: 50px;
  }

  &__headline {
    margin-bottom: 32px;

    font-family: "Poppins", "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 52px;
    line-height: 120%;
    letter-spacing: -2px;

    justify-content: start;

    color: $color-text-header-footer;

    @include screen640 {
      font-size: 64px;
      line-height: 68px;
    }
  }

  &__text {
    margin-bottom: 72px;

    font-family: "Open Sans", "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;

    color: $color-text-header-footer;

    @include screen640 {
      margin-bottom: 56px;
    }

    @include screen1024 {
      margin-bottom: 83px;
    }
  }

  &__nav-toplist {
    margin-bottom: 50px;

    @include screen640 {
      margin-bottom: 57px;
    }

    @include screen1024 {
      margin-bottom: 165px;
    }

    &--small {
      margin-bottom: 30px;
    }
  }

  &__nav-small {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    transform: translateX(-100%);
    transition: transform 0.5s;

    &:target {
      transform: translateX(0);
    }
  }

  &__nav-icons {
    display: flex;
    align-items: center;
  }

  &__nav-minilogo {
    background-image: url(../images/download/Air.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    height: 25px;
    width: 45px;
  }

  &__nav-menu-opener-link {
    margin-left: 35px;
    background-image: url(../images/download/menu_opener.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    height: 8px;
    width: 18px;

    @include screen1024 {
      display: none;
    }

    transition: transform 0.3s
      border 0.3s;

    &:hover {
      transform: scale(1.2);
      border: 1px solid $color-button;
    }
  }

  &__nav-menu-closer-link {
    margin-left: 35px;
    background-image: url(../images/download/menu_bose_closer.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 18px;
    width: 18px;
    background-color: $color-page-white;

    transition: transform 0.3s
      border 0.3s;

    &:hover {
      transform: scale(1.2);
      border: 1px solid $color-button;
    }
  }

  &__nav-hire {
    position: absolute;
    right: 20px;
    display: grid;

    @extend %poppinsNav;

    @include screen640 {
      position: static;
      justify-content: end;
      margin-top: 5px;
    }

    &::after {
      content: "";
      margin-top: 8px;
      background-color: $color-button;
      height: 2px;
      width: 100%;
    }

    transition: transform 0.3s;

    &:hover {
      transform: scale(1.2);
    }

    &--small {
      position: static;
    }
  }

  &__button {
    margin-bottom: 147px;
  }
}
