.link__hover:hover {
  padding: 5px;
  text-shadow: 2px 2px 8px;
  border: 2px solid $hover-color;
  border-radius: 20px;
  color: #c0c0c0;
  transition: all 0.5s ease-in;
}

.link__menu {
  padding: 5px;
  border-radius: 20px;
  transition: all 0.5s ease-in-out 0s;

  &:hover {
    color: $background-white;
    box-shadow: inset 0 -300px 0 0 $hover-color;
  }

  &:active {
    box-shadow: inset 0 -300px 0 0 #c0c0c0;
  }
}

.socials__icon {
  fill: $background-white;
  transition: all 0.5s;

  &:hover {
    fill: $color-link;
    transform: scale(1.2);
  }
}

.link__service,
.card,
.testimonials__card,
.logo-icon {
  transition: transform 0.5s;
  &:hover {
    transform: scale(1.1);
  }
}

.animation {
  animation-name: animation;
  animation-duration: 5s;
}

@keyframes animation {
  from {
    opacity: 0.4;
  }

  to {
    opacity: 2;
  }
}
