.menu {
  background-color: $background;
  height: 100vh;
  
  overflow: hidden;
  
  &__nav {
    margin-left: 21px;
    overflow: hidden;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px 30px 0;
  }
  
  &__socials {
    margin: 36px 0 0 21px;
    
    @include onTablet {
      margin: 42px 0 0;
    }
  }
}
