.page {
  background-color: $color-page-gray;
  font-style: normal;
  
  &__container {
    padding-left: 20px;
    padding-right: 20px;
    max-width: 1600px;

    @include screen640 {
      padding-left: 41px;
      padding-right: 41px;
    }

    @include screen1024 {
      padding-left: 54px;
      padding-right: 54px;
    }

    @include screen1600 {
      padding-left: 227px;
      padding-right: 227px;
    }
  }

  &__section-container {
    margin: 0 auto 120px;

    @include screen640 {
      margin-bottom: 148px;
    }

    &--our {
      padding-top: 72px;
      padding-bottom: 72px;

      @include screen640 {
        padding-top: 128px;
        padding-bottom: 128px;
      }

      @include screen1024 {
        padding-bottom: 134px;
        margin-bottom: 251px;
      }
    }

    &:last-child {
      margin-bottom: 0;
    }

    &--people {
      @include screen1024 {
        margin-bottom: 186px;
      }

      @include screen1600 {
        margin-bottom: 148px;
      }
    }

    &--vision {
      margin-bottom: 0;
    }
  }
}
