.results {
  background-color: $background-white;

  @include on-tablet {
    background-image: url(../images/Shapes.png);
    background-position: center;
    background-size: cover;
  }

  &__content {
    @include page-grid;

    row-gap: 24px;
    padding: 72px 0;

    @include on-tablet {
      padding: 200px 0;
    }
  }

  &__elements {
    grid-column: 1 / -1;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    @include on-tablet {
      grid-column: 2 / -2;
    }

    @include on-desktop-1024 {
      grid-column: 3 / -3;
    }
  }

  &__title {
    font-size: 44px;
    font-weight: 600;
    line-height: 52.8px;
    color: $title-text-color;
  }

  &__text {
    margin-bottom: 56px;
    font-size: 22px;
    font-family: $second-font-family;
    font-weight: 600;
    line-height: 33px;
    color: $second-text-color;
  }
}
