.slider {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 48px;
  left: 48px;

  &__button {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background-color: $c-white;
    border: none;

    &--left {
      margin-right: 16px;
    }

    &--right {
      margin-right: 24px;
    }
  }

  &__title {
    @extend %nav-link;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin: 0 0 8px;
    color: $c-white;
  }

  &__text {
    @extend %text;
    font-size: 14px;
    line-height: 20px;
    margin: 0;
    color: $c-white;
  }
}

@media (min-width: 1920px) {
  .slider {
    &__button {
      height: 60px;
      width: 60px;
    }

    &__title {
      font-size: 26px;
      line-height: 30px;
      letter-spacing: 5px;
    }

    &__text {
      font-size: 28px;
      line-height: 40px;
    }
  }
}

@media (max-width: 1000px) {
  .slider {
    bottom: 16px;
    left: 16px;

    &__text {
      font-size: 8px;
    }
  }
}
