.vision {
  background-color: $color-page-white;
  padding-top: 72px;

  @include screen640 {
    padding-top: 200px;
    background-image: url(../images/Shapes.png);
    background-position: center;
    background-repeat: no-repeat;
  }

  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;

  &__title {
    @extend %poppins600_44_120;

    margin-bottom: 24px;

    &--text {
      width: 280px;

      @include screen640 {
        width: 558px;
      }

      @include screen1024 {
        width: 754px;
      }
    }
  }

  &__text {
    @extend %open600_22_150;

    margin-bottom: 56px;

    @include screen640 {
      margin-bottom: 64px;
    }
  }

  &__button {

    margin-bottom: 72px;

    @include screen640 {
      margin-bottom: 200px;
    }

    @include screen1024 {
      margin-bottom: 198px;
    }
  }
}
