.about {
  text-align: center;
}

.about__container {
  @include on-small-desktop {
    margin-inline: auto;
    max-width: 716px;
  }

  @include on-desktop {
    max-width: 754px;
  }
}

.about__title {
  margin-bottom: 24px;

  @include on-tablet {
    margin-bottom: 16px;
  }
}
