.approach {
  $margin-left: 121px;
  $padding-left: 204px;
  margin-left: 7.5vw;
  background-color: #ff9c8e;
  border-radius: 200px 0 0 200px;
  color: $second-color;
  padding: 204px 0 0 12.7vw;

  &__container {
    display: flex;
    justify-content: space-between;

    max-width: 1920px;
    margin: 0 auto;
  }

  &__text {
    max-width: 346px;
  }

  &__features {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 32px;
  }

  &__feature:not(:first-child) {
    margin-top: 64px;
  }

  &__img {
    max-width: 687px;
    width: 43vw;
    border-top-left-radius: 200px;
    margin-top: 72px;
  }

  @media (max-width: $screen_extralarge) {
    padding: 131px 0 131px 12.7vw;
    &__img {
      display: none;
    }
  }

  @media (max-width: $screen_small) {
    padding: 77px 40px;
    border-radius: 100px 0 0 100px;
    margin-left: 0;
    
    &__feature:not(:first-child) {
      margin-top: 45px;
    }
  }
}
