.contactUs {
  background-color: $background-color;
  display: flex;
  padding: 0 227px 136px;
  justify-content: space-between;

  &__message {

    &_title {
      margin-bottom: 60px;
    }

    &_text {
      display: block;
      border: none;
      border-bottom: 1px solid #e1e1e1;
      background-color: $background-color;
      width: 656px;
      height: 40px;
      font-family: "Muli", sans-serif;
      font-size: 14.4px;
      line-height: 150%;
      color: #152032;
      font-weight: 700;
      margin-bottom: 48px;
    }
  }

  &__contact {
    width: 362px;

    &_contact {
      margin-bottom: 19px;
    }

    &_title {
      margin-bottom: 43px;
    }

    &_text-1 {
      font-weight: 800;
      font-size: 12.6px;
      letter-spacing: 2px;
      text-transform: uppercase;
    }

    &_text-2 {
      font-weight: 900;
      font-size: 24px;
      color: $special-color;
      text-transform: uppercase;
      letter-spacing: 2px;
      margin-bottom: 43px;
    }
  }

  &__button {
    margin-top: 48px;
  }
}

.socLink {
  margin-right: 48px;
}
