.header {
  width: inherit;
  background-image: linear-gradient(to top, $background-color-grey 27.8%,
  rgba(252,252,253,0) -20%),
    linear-gradient(115deg, $background-color-blue 72%,
  $background-color-grey 32%);
  padding: 48px 227px 0;
  color: $text-color-white;

  &__info {
    padding-left: 98px;
    margin-top: 80px;

    &_text {
      margin-top: 22px;
      font-size: 24px;
      letter-spacing: 1px;
    }
  }

  &__button {
    @include button($background-color-white);
    margin-top: 42px;

    &:hover {
      background-color: $yellow;
    }

    &_link {
      color: #253757 !important;
    }
  }

  &__wrapper {
    margin-top: 60px;
    display: flex;
  }

  &__networks {
    margin-left: 19px;
    padding: 112px 0;
  }
}

@media screen and (max-width: 1480px) {
  .header {
    background-image: linear-gradient(to top, $background-color-grey 27.6%,
    rgba(252,252,253,0) -20%),
      linear-gradient(115deg, $background-color-blue 74%,
    $background-color-grey 32%);
    padding: 48px 182px 0;
  }
}

@media screen and (max-width: 1366px) {
  .header {
    background-image: linear-gradient(to top, $background-color-grey 26%,
    rgba(252,252,253,0) -20%),
      linear-gradient(115deg, $background-color-blue 70%,
    $background-color-grey 32%);
    padding: 48px 182px 0;

    &__info {
      padding-left: 82px;
      margin-top: 66px;

      &_text {
        font-size: 20px;
      }
    }

    &__networks {
      margin-left: 0;
    }
  }
}

@media screen and (max-width: 1024px) {
  .header {
    width: inherit;
    background-image: linear-gradient(to top, $background-color-grey 22%,
    rgba(252,252,253,0) -20%),
      linear-gradient(115deg, $background-color-blue 66%,
    $background-color-grey 32%);

    &__info {
      padding-left: 60px;
      margin-top: 55px;

      &_text {
        margin-top: 22px;
        font-size: 14px;
        letter-spacing: 1px;
      }
    }

    &__button {
      @include button($background-color-white);
      margin-top: 30px;
      width: 144px;
      height: 36px;

      &_link {
        color: #253757 !important;
        display: block;
      }
    }

    &__wrapper {
      margin-top: 80px;
    }

    &__networks {
      margin-left: 10px;
      padding: 70px 0;
    }
  }
}
