.header {
  height: 100vh;
  background-color: #008aff;
  border-bottom-left-radius: 200px;
  position: relative;

  &__wrapper {
    max-width: 1146px;
    margin: 0 auto;
  }

  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 52px;

    &__list {
      width: 740px;
      display: flex;
      justify-content: space-between;
      list-style: none;
    }

    &__link {
      font-weight: bold;
      font-size: 13px;
      text-decoration: none;
      color: #fff;
      text-transform: uppercase;
      letter-spacing: 3px;

      &:hover {
        color: #ff9c8e;
      }

      &--active {
        position: relative;

        &::after {
          content: "";
          display: block;
          width: 100%;
          position: absolute;
          height: 2px;
          margin-top: 8px;
          border-radius: 4px;
          background-color: #ff9c8e;
          transition: opacity 1s ease-out;
        }

        &:hover::after {
          opacity: 0;
        }
      }
    }
  }

  &__info {
    width: 490px;
    margin-top: 168px;
  }

  &__title {
    color: #fff;
    font-size: 64px;
    line-height: 68px;
    letter-spacing: -2px;
    margin-bottom: 32px;
  }

  &__content {
    font: normal 18px $font-open;
    color: #fff;
    line-height: 27px;
    margin-bottom: 56px;
  }

  &__button {
    font-family: inherit;
    font-weight: bold;
    font-size: 15px;
    padding: 12px 65px;
    border-radius: 64px;
    border: 0;
    background-color: #ff9c8e;
    color: #fff;

    &:hover {
      color: #ff9c8e;
      background-color: #fff;
      border: none;
      cursor: pointer;
      transition: color 200ms ease-in-out;
    }
  }

  .slider {
    width: 43vw;
    height: 82vh;
    display: flex;
    align-items: flex-end;
    position: absolute;
    right: 0;
    bottom: 0;
    background-image: url(../images/slider/slider1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 200px;

    &__block {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 350px;
      margin: 0 0 50px 50px;

    }

    &__button {
      width: 32px;
      height: 32px;
      background-position: center;
      background-repeat: no-repeat;
      border-radius: 50%;
      border: 0;

      &--left {
        background-image: url(../images/slider/arrow-left.png);
        margin-right: 8px;
      }

      &--right {
        background-image: url(../images/slider/arrow-right.png);
      }

      &:hover {
        opacity: 0.5;
        cursor: pointer;
      }
    }

    &__info {
      width: 240px;
    }

    &__title {
      font-size: 13px;
      color: #fff;
      letter-spacing: 3px;
      text-transform: uppercase;
      margin-bottom: 8px;
    }

    &__content {
      font: normal 14px $font-open;
      color: #fff;
      line-height: 20px;
    }
  }
}
