.header {
  color: white;
  padding: 48px 227px 0;
  width: inherit;
  position: relative;
  background-image: url("./../../images/background/Bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 500%;

  &__nav {

    &_dia {
      margin-right: 111.5px;
      font-size: 32px !important;
      margin-left: 0;
    }

    &_spec {
      margin-left: 73px;
      margin-right: 0;
      position: relative;

      &::after {
        content: "";
        height: 4px;
        width: 100%;
        background-color: #fcc304;
        border-radius: 2px;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 8px;
      }
    }
  }

  &__heading {
    margin: 100px 0 22px 98px;
  }

  &__text {
    margin: 0 0 42px 98px;
    font-size: 24px;
  }

  &__button {
    @include button(white);
    margin: 0 0 122px 98px;

    &_link {
      color: #253757;
    }
  }

  &__info {
    display: flex;

    &_networks {
      margin-left: 23px;
    }
  }
}
