.hero {
  background-color: var(--c-bg-accent);
  color: #fff;
  position: relative;

  @include on-small-desktop {
    border-radius: 0 0 31px 31px;
  }
}

.hero__container {
  border-radius: 0 0 30px 30px;

  @include on-small-desktop {
    @include page-grid;
  }
}

.hero__content {
  padding-top: 30px;
  padding-bottom: 18px;

  @include on-tablet {
    padding-top: 38px;
    padding-bottom: 117px;
  }

  @include on-small-desktop {
    padding: 0;
    margin-top: 120px;
    margin-bottom: 205px;
    grid-column: span 5;
  }
}

.hero__title {
  font-family: $second-family;
  font-weight: 600;
  font-size: 52px;
  line-height: 1.2;
  letter-spacing: -0.04em;
  margin-bottom: 32px;

  @include on-tablet {
    font-size: 64px;
    line-height: 1.06;
    margin-bottom: 24px;
  }

  @include on-small-desktop {
    margin-bottom: 32px;
    max-width: 460px;
  }
}

.hero__subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 72px;

  @include on-tablet {
    margin-bottom: 56px;
    max-width: 362px;
  }

  @include on-small-desktop {
    margin-bottom: 83px;
  }
}

.hero__slider-container {
  @include on-small-desktop {
    position: absolute;
    inset: 0 0 0 calc(50% + 10px);
  }

  @include on-desktop {
    left: calc(50% + 112px);
  }
}
