@use '../abstracts/' as a;

.main {
  position: relative;

  // sticky footer lg
  z-index: 5;

  padding-bottom: 120px;
  border-radius: a.$br-main;

  background-color: a.$bg-canvas;

  @include a.respond-to('md') {
    padding-bottom: 0;
  }
}
