@import "../utils/vars";
@import "../utils/mixins";

.section-expertise {
  background-color: #fff;
  border-radius: 30px;
  z-index: 1;
  position: relative;

  &__container {
    max-width: 1146px;
    margin: 0 auto;
    text-align: center;

    display: flex;
    justify-content: space-between;

    padding: 0 15px 128px;

    @media (max-width: 1070px) {
      display: block;
      padding-bottom: 20px;
    }
  }

  &__heading {
    font-family: $ffp;
    font-size: 52px;
    font-weight: 600;
    line-height: 150%;

    text-align: center;
    padding-top: 128px;
    margin-bottom: 64px;

    @media (max-width: 1070px) {
      padding-top: 20px;
    }

    @media (max-width: 500px) {
      font-size: 39px;
    }
  }

  &__image {
    border-radius: 16px;
    margin-bottom: 40px;

    transition: transform 0.3s ease-in-out;
  }

  &__item {
    max-width: 264px;

    &:hover {
      .section-expertise__image {
        transform: scale(1.2);
      }
    }

    @media (max-width: 1070px) {
      margin: 0 auto;
      margin-bottom: 40px;
    }
  }

  &__title {
    font-family: $ffp;
    font-weight: 600;
    font-size: 20px;
    line-height: 140%;

    margin-bottom: 16px;
  }

  &__text {
    font-family: $ffo;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    color: $color-lightgray;
  }
}
