@import "../utils/vars";
@import "../utils/mixins";

.sections-service {

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 148px 15px 0;
    max-width: 1146px;
    margin: 0 auto;

    @media (max-width: 1070px) {
      display: block;
    }
  }

  &__left {
    max-width: 362px;
    @media (max-width: 1070px) {
      margin: 0 auto;
    }
  }

  &__right {
    display: flex;
    flex-wrap: wrap;
    max-width: 560px;

    @media (max-width: 1070px) {
      max-width: 270px;
      margin: 0 auto;
    }
  }

  &__title {
    position: relative;

    font-family: $ffp;
    font-weight: 600;
    font-size: 32px;
    line-height: 130%;

    &::before {
      @include title-before;
      content: "PROCESS";
      color: #c0cdd7;
    }
  }

  &__text {
    font-family: $ffo;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;

    color: $color-lightgray;
    margin-bottom: 40px;
  }

  &__item {
    box-sizing: border-box;
    width: 264px;
    height: 264px;

    background-color: #fff;
    box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
    border-radius: 16px;
    border: 1px solid #fff;

    margin-bottom: 30px;
    margin-right: 30px;

    &:nth-child(2n) {
      margin-right: 0;
    }

    &:nth-child(2n+1) {
      transform: translateY(50%);

      @media (max-width: 1070px) {
        transform: translateY(0%);
      }
    }

    @media (max-width: 1070px) {
      margin-right: 0;
    }
  }

  &__number {
    display: block;
    text-align: center;

    background-color: rgba($color-accent, 0.1);
    border-radius: 23px;

    width: 46px;
    height: 24px;

    font-family: $ffp;
    font-weight: 600;
    font-size: 13px;
    line-height: 24px;
    color: $color-accent;

    margin: 32px 0 24px 32px;
  }

  &__descr {
    max-width: 200px;
    font-family: $ffo;
    font-weight: 600;
    font-size: 13px;
    line-height: 150%;

    color: #6c788b;

    margin-left: 32px;
    margin-bottom: 32px;
  }
}
