@import "../utils/vars";
@import "../utils/mixins";

.sections-approach {

  margin-bottom: 184px;
  
  &__container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: -1;
    height: 976px;

    background-color: $color-main;
    transform: translateX(7.5%);
    border-radius: 30px 0 0 30px;

    @media (max-width: 1130px) {
      height: 800px;
      justify-content: center;
    }
  }

  &__left {
    padding-left: 204px;

    @media (max-width: 1290px) {
      padding-left: 54px;
    }
  }

  &__right {
    position: absolute;
    right: 0;
    bottom: -4px;
    max-width: 687px;

    @media (max-width: 1130px) {
      display: none;
    }
  }

  &__title {
    position: relative;

    max-width: 362px;
    font-family: $ffp;
    font-weight: 600;
    font-size: 32px;
    line-height: 150%;
    color: #fff;
    margin-bottom: 32px;

    &::before {
      @include title-before;
      content: "APPROACH";
      color: #fff;
    }
  }

  &__item {
    display: flex;
    margin-bottom: 64px;
  }

  &__img {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-color: #fff;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__text {
    font-family: $ffo;
    font-weight: normal;
    font-size: 15px;
    line-height: 150%;
    color: #fff;

    width: 264px;
    margin-left: 34px;
  }
}
