.service {
  padding: 148px 14% 0;
  display: flex;
  justify-content: space-between;

  @media (max-width: 500px) {
    & {
      padding: 40px;
    }
  }

  @media (max-width: 1200px) {
    & {
      flex-direction: column;
      justify-content: center;
    }
  }

  &__info {
    margin-right: 25px;

    @media (max-width: 1200px) {
      & {
        max-width: 362px;
        margin: 0 auto 50px;
      }
    }

    @media (max-width: 500px) {
      & {
        max-width: 300px;
      }
    }
  }

  &__sup-text {
    margin-bottom: 16px;
    margin-top: 110px;
    color: rgb(150, 157, 161);
  }

  &__subtitle {
    max-width: 362px;
    margin-bottom: 24px;
    color: #253757;
  }

  &__text-info {
    margin-bottom: 18px;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    max-width: 350px;
  }

  &__control {
    display: inline-block;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: -14px;
      left: 0;
      z-index: 1;
      width: 40px;
      height: 40px;
      color: red;
      border-radius: 20px;
      background: url("../images/service-icon.svg") no-repeat center, #2060f6;
    }
  }

  &__link {
    margin-left: 56px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 15px;
    color: #334563;
    @include outlineSecond;
  }

  &__card {
    max-width: 264px;
    max-height: 264px;
    background: #fff;
    box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
    border-radius: 16px;
    padding: 32px 32px 29px;

    @media (max-width: 1200px) {
      & {
        margin-top: 50px;
      }
    }
  }

  &__card:nth-child(1) {
    grid-area: one;
  }

  &__card:nth-child(2) {
    grid-area: two;
  }

  &__card:nth-child(3) {
    grid-area: three;
  }

  &__card:nth-child(4) {
    grid-area: four;
  }

  &__row-cards {
    display: grid;
    grid-template-columns: repeat(2, 264px);
    grid-template-rows: repeat(4, auto);
    grid-gap: 30px;
    grid-template-areas: ". two"
      "one two"
      "one four"
      "three four"
      "three .";

    @media (max-width: 1200px) {
      & {
        margin: 0 auto;
      }
    }

    @media (max-width: 800px) {
      & {
        display: block;
      }
    }
  }

  &__card-number {
    display: block;
    width: 46px;
    height: 24px;
    margin-bottom: 24px;
    background: $c-gray;
    border-radius: 23px;

    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 13px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    color: #2060f6;
  }

  &__text-card {
    font-size: 13px;
    line-height: 19px;
    margin-bottom: 52px;
  }
}
