.services {
  margin-top: 148px;

  &__wrapper {
    width: 1146px;
    height: 690px;
    margin: auto;
    display: flex;
    justify-content: space-between;
  }

  &__article {
    width: 362px;
    margin-top: 102px;
  }

  &__caption {
    @include caption($c-gray);
  }

  &__title {
    @include title($c-dark-blue, 130%);
    margin: 16px 0 24px;
  }

  &__text {
    @include content(normal, 14px, $c-dark);
  }

  &__card-wrapper {
    width: 558px;
    display: flex;
  }

  &__card-block {
    width: 264px;
    z-index: 10;

    &--top {
      margin-top: 132px;
    }
  }

  &__card-block:not(:last-of-type) {
    margin-right: 30px;
  }

  &__card {
    height: 264px;
    background-color: #fff;
    box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
    border-radius: 24px;
    padding: 32px 0 0 32px;
    box-sizing: border-box;

    &-num {
      display: block;
      width: 46px;
      height: 24px;
      border-radius: 23px;
      font-size: 13px;
      font-weight: 600;
      text-align: center;
      line-height: 25px;

      &--blue {
        background-color: rgba(86, 204, 242, 0.1);
        color: #56ccf2;
      }

      &--green {
        background-color: rgba(21, 216, 80, 0.1);
        color: #15d850;
      }

      &--orange {
        background-color: rgba(252, 201, 29, 0.1);
        color: #fcc91d;
      }

      &--red {
        background-color: rgba(243, 99, 99, 0.1);
        color: #f36363;
      }
    }

    &-text {
      margin: 26px 0 32px;
      list-style-type: none;
      @include content(inherit, 13px, $c-dark);
    }

    &-button {
      width: 40px;
      height: 40px;
      border: 0;
      border-radius: 50%;
      background-image: url("../../images/services/arrow-right.png");
      background-repeat: no-repeat;
      background-position: center;
      transition: all 0.3s;

      &--blue {
        background-color: #56ccf2;
      }

      &--green {
        background-color: #15d850;
      }

      &--orange {
        background-color: #fcc91d;
      }

      &--red {
        background-color: #f36363;
      }

      &:hover {
        cursor: pointer;
        transform: scale(1.2, 1.2);
      }
    }

    &-title {
      display: inline-block;
      font-size: 15px;
      font-weight: inherit;
      color: #334563;
      transform: translate(16px, -14px);
    }
  }

  &__card:not(:nth-of-type(odd)) {
    margin-top: 30px;
  }
}
