.circle {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  opacity: 0.1;
}

.number {
  font-weight: 900;
  font-size: 40px;
  transform: translateY(-55%);
}

.steps {
  padding: 163px 163px 0;
  border-left: 64px solid white;
  border-right: 64px solid white;
  background-color: $background-color;
  display: flex;
  justify-content: space-between;
  &__info {
    width: 362px;

    &_title {
      margin-bottom: 21px;

      &_text {
        margin-left: 16px;
        color: $special-color;
        font-weight: 800;
        letter-spacing: 2px;
        text-transform: uppercase;
        vertical-align: top;
      }
    }

    &_heading {
      margin-bottom: 62px;
    }

    &_text {
      color: #334563;
    }
  }

  &__steps {
    max-width: 538px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    top: 62px;

    &_step {
      width: 240px;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: white;
      padding: 48px 32px;
      box-sizing: border-box;
      box-shadow: 16px 16px 16px rgba(0, 0, 0, 0.02);

      &:first-child,
      &:nth-child(2) {
        margin-bottom: 128px;
      }

      &:first-child,
      &:nth-child(3) {
        position: relative;
        top: 112px;
      }

      &_circle_1 {
        background: linear-gradient(180deg,
        rgba(255, 255, 255, 0.25) 0%,
        rgba(255, 255, 255, 0) 100%),
          linear-gradient(0deg, #56ccf2, #56ccf2),
          #c4c4c4;
      }

      &_number_1 {
        color: $special-color;
      }

      &_circle_2 {
        background: linear-gradient(180deg,
        rgba(255, 255, 255, 0.25) 0%,
        rgba(255, 255, 255, 0) 100%),
          #fcc304;
      }

      &_number_2 {
        color: #fcc304;
      }

      &_circle_3 {
        background: linear-gradient(180deg,
        rgba(255, 255, 255, 0.25) 0%,
        rgba(255, 255, 255, 0) 100%),
          linear-gradient(0deg, #03d542, #03d542),
          #c4c4c4;
      }

      &_number_3 {
        color: #03d542;
      }

      &_circle_4 {
        background: linear-gradient(180deg,
        rgba(255, 255, 255, 0.25) 0%,
        rgba(255, 255, 255, 0) 100%),
          #f25656;
      }

      &_number_4 {
        color: #f25656;
      }

      &_text {
        font-size: 12.6px;
        text-align: center;
      }
    }
  }
}
