.vision {
  background-color: #fff;
  min-height: 888px;

  &__content {
    position: relative;
    z-index: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    max-width: 1600px;
    min-height: 691px;
    margin: 0 auto;
  }

  &__heading {
    font-weight: 600;
    font-size: 52px;
    color: $c-heading-grey;

    margin-bottom: 24px;
  }

  &__text {
    font-weight: 600;
    font-size: 24px;
    text-align: center;
    color: $c-text-grey;

    margin-bottom: 64px;
    max-width: 754px;
  }

  &__button {
    width: 226px;
    height: 56px;
    padding: 15px 90px;
  }
}

@media screen and (max-width: $screen-breakpoint) {
  .vision {
    padding: 20px;
  }
}
