.about {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 500px;

  background-color: #f2f6fa;

  @include onMobile {
    height: 400;
  }

  &__block {

    @include on4K {
      max-width: 1140px + $pageGap * 2;
      width: calc(100% - #{$pageGap * 2});
      margin: 0 auto;
    }
  }

  &__title {
    margin-bottom: 16px;

    text-align: center;
  }

  &__text {
    font-weight: 600;
    text-align: center;
    font-size: 24px;
    color: #6c788b;

    @include onMobile {
      font-size: 16px;
    }
  }
}
