.expertise {
  padding: 130px 0;

  @include onTablet {
    padding: $paddingOnTablet;
    width: 80%;
  }

  @include onMobile {
    padding: $paddingOnMobile;
  }

  &__title {
    margin-bottom: 64px;
    text-align: center;
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(auto-fit, 265px);
    justify-content: space-between;
    row-gap: 50px;

    @include onTablet {
      justify-content: space-evenly;
    }

    @include onMobile {
      justify-content: center;
    }
  }
}
