.footer {
  background-color: $dark-bg;
  border-radius: 30px 30px 0 0;
  padding-top: 72px;
  padding-bottom: 70px;

  .navigation {
    flex-direction: column;
    align-items: flex-start;

    @include on-tablet {
      align-items: center;
    }

    & .menu__list {
      flex-direction: column;

      @include on-mobile {
        flex-flow: row wrap;
      }
    }

    @include on-mobile {
      flex-flow: row wrap;
    }
  }

  @include on-tablet {
    padding-top: 180px;
  }

  &__container {
    @include page-grid;

    row-gap: 80px;

    @include on-mobile {
      row-gap: 120px;
    }
  }

  &__form {
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: 1 / 6;
    }
  }

  &__navigation {
    grid-column: 1 / -1;
  }

  &__contacts {
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: 7 / -1;
    }
  }

  &__title-contacts {
    margin-bottom: 48px;
    color: $text-light;

    @include on-tablet {
      margin-bottom: 56px;
    }
  }

  &__contact {
    margin-bottom: 40px;

    @include on-tablet {
      margin-bottom: 48px;
    }
  }

  &__label {
    opacity: 0.5;
    margin-bottom: 8px;
  }

  &__link {
    font-family: var(--second-family);
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    color: #fff;
    transition: color $duration;

    @media (any-hover: hover) {
      &:hover {
        color: $blue;
      }
    }
  }

  &__socials {
    display: flex;
    align-items: center;
    column-gap: 32px;
  }

  &__social-link {
    height: 32px;
    width: 32px;

    @media (any-hover: hover) {
      &:hover {
        svg>path {
          fill: $blue;
        }
      }
    }
  }
}