.our-expertise {
  border-radius: 30px;
  text-align: center;
  background-color: $white-color;

  &__content {
    @include page-grid;

    row-gap: 56px;
    padding-block: 72px;

    @include on-tablet {
      row-gap: 64px;
      padding-block: 128px;
    }

    @include on-small-desktop {
      padding-bottom: 134px;
    }
  }

  &__title {
    grid-column: 1/-1;
  }

  &__features {
    display: flex;
    grid-column: 1/-1;
    flex-direction: column;
    gap: 56px;

    @include on-tablet {
      grid-column: 2/-2;
      gap: 72px;
    }

    @include on-small-desktop {
      grid-column: 1/-1;
      flex-direction: row;
      gap: 137px;
      justify-content: center;
    }

    @include on-large-desktop {
      gap: 177px;
    }
  }

  &__photo {
    width: 166px;
    height: 166px;

    @include hover(scale, 1.1);
  }

  &__description {
    margin-top: 16px;
    font-size: 14px;
    font-weight: 400;
  }

  &__feature-title {
    margin-top: 32px;
    font-size: 20px;
    line-height: 140%;
    color: $title-color;

    @include on-small-desktop {
      margin-top: 40px;
    }
  }
}
