.our-expertise {
  background-color: $white-color;
  .container {
    padding-block: 72px;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include on-tablet {
      padding-block: 128px;
    }

    @include on-desktop {
      padding: 128px auto 134px;
    }
  }

  .section-title {
    margin-bottom: 56px;

    @include on-tablet {
      margin-bottom: 64px;
    }
  }

  &__blocks {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 52px;

    @include on-tablet {
      gap: 68px;
    }

    @include on-desktop {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 280px;
    padding: 10px 0;

    @include on-tablet {
      max-width: 362px;
    }

    @include on-desktop {
      max-width: 214px;
    }

    @include on-big-desktop {
      max-width: 264px;
    }
  }

  &__block:hover {
    transition: $efferctDuration;
    transform: translateY(-10px);

    @include on-tablet {
      transform: translateY(-15px);
    }

    @include on-desktop {
      transform: translateY(-30px);
    }
  }

  &__img {
    border-radius: 30px;
    margin-bottom: 32px;
    width: 166px;

    @include on-desktop {
      margin-bottom: 40px;
    }
  }

  &__name {
    margin-bottom: 16px;
  }
}
