.testimonials {
  padding: 148px 41px;

  @include smartphone {
    padding: 120px 20px;
  }

  @include smalldesktop {
    padding: 151px 54px 186px;
  }

  @include desktop {
    padding: 148px 227px;
  }

  @include large {
    padding: 148px 707px;
  }
  
  &__word {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #c0cdd7;
    margin-bottom: 16px;
  }

  &__title {
    width: 362px;
    height: 96px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 150%;
    display: flex;
    align-items: center;
    color: #253757;
    margin-bottom: 56px;

    @include smartphone {
      width: 280px;
      height: 48px;
      margin-bottom: 48px;
    }
  }

  &__content {

    @include smalldesktop {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-content: center;
    }
  }

  &__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
    border-radius: 16px;
    padding: 32px 0;
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }

    @include smalldesktop {
      width: 292px;
      height: 456px;
      margin-bottom: 0;

      &:not(:first-child) {
        margin-left: 20px;
      }
    }

    @include desktop {
      width: 362px;
      height: 494px;

      &:not(:first-child) {
        margin-left: 30px;
      }
    }

    &--photo {
      width: 250px;
      height: 250px;
      margin-bottom: 27px;
      transition: all 0.3s;
    
      @include smartphone {
        width: 196px;
        height: 196px;
      }

      @include smalldesktop {
        width: 196px;
        height: 196px;
      }

      @include desktop {
        width: 250px;
        height: 250px;
      }

      &:hover {
        transform: scale(1.2);
      }
    }

    &--quotes {
      width: 20px;
      height: 18px;
      color: #2060f6;
      margin-bottom: 19px;

      @include smartphone {
        margin-bottom: 10px;
      }

      @include smalldesktop {
        margin-bottom: 10px;
      }
    }

    &--text {
      width: 362px;
      font-family: "Open Sans", sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 13px;
      line-height: 150%;
      text-align: center;
      color: #6c788b;
      margin-bottom: 16;

      @include smartphone {
        width: 196px;
        height: 80px;
      }

      @include smalldesktop {
        width: 196px;
        height: 80px;
      }

      @include desktop {
        width: 250px;
        height: 64px;
      }
    }

    &--name {
      font-family: "Open Sans", sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 13px;
      line-height: 150%;
      text-align: center;
      color: #253757;
      margin-bottom: 4px;
    }

    &--work {
      font-family: "Poppins", sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 13px;
      line-height: 20px;
      text-align: center;
      letter-spacing: 3px;
      text-transform: uppercase;
      color: #c0cdd7;
    }
  }
}
