.testimonials {
  font-weight: 600;
  font-size: 13px;
  line-height: 19.5px;

  &__title {
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    color: $gray-color;
    text-align: left;
    margin-bottom: 48px;

    @include on-tablet {
      margin-bottom: 56px;
    }

    @include on-desktop {
      margin-bottom: 85px;
    }
  }
  &__people {
    @include page-grid;
  }
  &__person {
    padding: 32px;
    background-color: #fff;
    border-radius: 16px;
    grid-column: 1 / -1;
    margin-bottom: 24px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.3s;

    &:hover {
      transform: scale(1.1);
    }

    @include on-desktop {
      grid-column: span 4;
      margin-bottom: 24px;
    }

    & img {
      display: block;
    }
  }
  &__img {
    width: 196px;

    @include on-tablet {
      width: 250px;
    }

    @include on-desktop {
      width: 196px;
    }
  }
  .quote {
    margin-top: 24px;
    width: 24px;
  }
  &__description {
    max-width: 362px;
    margin-top: 8px;
    color: #6c788b;

    @include on-tablet {
      margin-top: 16px;
    }

    @include on-desktop {
      margin-top: 8px;
    }
  }
  &__name {
    margin-top: 32px;
    font-weight: 600;

    @include on-tablet {
      margin-top: 16px;
    }
  }

  &__position {
    margin-top: 4px;
  }
}
