.footer {
  &__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 13.6rem;
    padding-top: 9.6rem;

    @media screen and (max-width: 576px) {
      flex-direction: column;
    }
  }

  &__bottom {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 8.4rem;

    @media screen and (max-width: 576px) {
      flex-direction: column;

      // align-items: space-around;
    }
  }

  &__designed {
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 1.5rem;
    color: #253757;

    transition-duration: 0.3s;

    &:hover {
      color: $color-secondary;
    }

    @media screen and (max-width: 576px) {
      order: 2;
    }
  }
}

.secondary-menu {
  display: flex;
  align-items: center;
  flex-basis: 50%;
  justify-content: space-between;

  @media screen and (max-width: 768px) {
    flex-basis: 60%;
  }

  @media screen and (max-width: 576px) {
    order: 1;
    width: 100%;
    margin-bottom: 2rem;
    flex-wrap: wrap;
  }

  &__li {
    &:last-child {
      margin-right: 2rem;
    }
  }

  &__link {
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 1.5;
    color: #253757;
    transition-duration: 0.3s;

    &:hover {
      color: $color-secondary;
    }
  }
}

.message {
  flex-basis: 56%;

  @media screen and (max-width: 901px) {
    flex-basis: 50%;
  }
}

.contact {
  // flex: 1;
  flex-basis: 34%;

  @media screen and (max-width: 576px) {
    text-align: center;
  }

  @media screen and (max-width: 901px) {
    flex-basis: 40%;
  }

  &__title {
    font-weight: 900;
    font-size: 3.2rem;
    line-height: 1.4;
    margin-bottom: 4.8rem;

    @media screen and (max-width: 901px) {
      font-size: 2.4rem;
    }
  }

  &__slogan {
    font-weight: 800;
    font-size: 12.6px;
    text-transform: uppercase;
    color: #334563;
  }

  &__tel {
    font-weight: 900;
    font-size: 2.4rem;
    letter-spacing: 2px;
    color: #56ccf2;
    display: inline-block;
    margin-bottom: 4.1rem;
    transition-duration: 0.3s;

    &:hover {
      color: darken($color: #56ccf2, $amount: 20);
    }
  }

  &__map {
    font-weight: 900;
    font-size: 2.4rem;
    letter-spacing: 2px;
    color: #56ccf2;
    transition-duration: 0.3s;
    display: inline-block;
    margin-bottom: 5.3rem;

    &:hover {
      color: darken($color: #56ccf2, $amount: 20);
    }
  }

  &__social-icons {
    display: flex;

    @media screen and (max-width: 576px) {
      justify-content: center;
    }
  }

  &__social-icon {
    width: 32px;
    height: 32px;
    // display: inline-block;
    margin-right: 4.8rem;
    cursor: pointer;
    transition-duration: 0.3s;

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      transform: scale(1.1);
    }
  }
}

.form {
  width: 100%;
  color: red;

  &__field {
    width: 100%;
    margin-bottom: 3.4rem;

    &--last {
      margin-bottom: 10rem;
    }
  }

  &__input {
    // text-align: center;
    background-color: #fcfcfc;
    width: 100%;
    font-size: 1.44rem;
    border: none;
    color: #152032;
    // color: black;
    // background-color: #eee;
    // border-radius: 64px;
    // margin-bottom: 8px;
    padding: 1.8rem 0;
    // text-transform: uppercase;
    border-bottom: 1px solid #e1e1e1;

    &::placeholder {
      color: #808080;
    }

    &:focus {
      border-color: $color-secondary;
    }
  }

  &__button {
    color: #fff;
    padding: 1.6rem 9.2rem;
    font-size: 14px;
    // max-width: 50%;
    text-transform: uppercase;
    background-color: $c-btn-primary;

    @media screen and (max-width: 576px) {
      margin-bottom: 13.4rem;
      width: 100%;
    }

    &:hover {
      background-color: darken($color: $c-btn-primary, $amount: 12);
    }
  }
}
