.footer {
  height: 100%;

  &__container {
    padding: 72px 20px 80px;

    background-color: $main-blue;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;

    @include onTablet {
      padding-top: 180px;
      padding-left: 41px;
      padding-right: 41px;
      border-top-right-radius: 30px;
      border-top-left-radius: 30px;
    }

    @include on1024Screen {
      padding-left: 54px;
      padding-right: 54px;
      border-top-right-radius: 30px;
      border-top-left-radius: 30px;
    }

    @include on1600Screen {
      padding-left: 0;
      padding-right: 0;
      border-top-right-radius: 150px;
      border-top-left-radius: 0;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;

    @include on1024Screen {
      flex-direction: row;
      justify-content: center;
      align-items: start;
      gap: 98px;
    }

    @include on1600Screen {
      gap: 226px;
    }
  }

  &__title {
    color: #fff;
    @include setFont(32px, 41px, inherit);

    @include onTablet {
      line-height: 48px;
    }
  }

  &__form {
    margin-bottom: 80px;

    @include onTablet {
      margin-bottom: 120px;
    }

    @include on1024Screen {
      margin-bottom: 0;
    }
  }

  &__nav {
    display: flex;
    flex-direction: column;
    align-self: center;
    gap: 50px 0;
    margin-top: 81px;

    @include onTablet {
      margin-top: 140px;
    }

    @include on1024Screen {
      flex-direction: row;
      justify-content: space-evenly;
      margin-top: 121px;
    }

    @include on1600Screen {
      justify-content: center;
      gap: 463px;
    }

    &-container {
      display: flex;
      flex-direction: column;
      gap: 24px 0;

      @include onTablet {
        flex-direction: row;
        gap: 0 40px;
      }

      @include on1024Screen {
        row-gap: 64px;
      }
    }

    &-link {
      width: max-content;
    }
  }
}
