$p-horiz-tab: 41px;
$p-horiz-small: 54px;

.footer {
  height: 100%;
  background-color: #fff;

  &__container {
    display: flex;
    flex-direction: column;
    padding: 72px 20px 80px;

    background-color: $c-gray-int5;
    border-top-right-radius: $brd-r-std;
    border-top-left-radius: $brd-r-std;

    @include onTablet {
      padding-top: 180px;
      padding-left: $p-horiz-tab;
      padding-right: $p-horiz-tab;
    }

    @include onSmallScreen {
      flex-direction: row;
      align-items: start;
      gap: 98px;

      padding-left: $p-horiz-small;
      padding-right: $p-horiz-small;
    }

    @include onRegularScreen {
      justify-content: center;
      gap: 226px;
      padding-left: 0;
      padding-right: 0;
    }
  }

  &__title {
    color: #fff;
    @include setFont(32px, 41px, inherit);

    @include onTablet {
      line-height: 48px;
    }
  }

  &__form {
    margin-bottom: 80px;

    @include onTablet {
      margin-bottom: 120px;
    }

    @include onSmallScreen {
      margin-bottom: 0;
    }
  }
}
