$p-horiz-tab: 41px;
$p-horiz-small: 54px;

.footer {
  height: 100%;
  background-color: #fff;

  &__container {
    padding: 72px 20px 80px;

    background-color: $c-gray-int5;
    border-top-right-radius: $brd-r-std;
    border-top-left-radius: $brd-r-std;

    @include onTablet {
      padding-top: 180px;
      padding-left: $p-horiz-tab;
      padding-right: $p-horiz-tab;
    }

    @include onSmallScreen {
      padding-left: $p-horiz-small;
      padding-right: $p-horiz-small;
    }

    @include onRegularScreen {
      padding-left: 0;
      padding-right: 0;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;

    @include onSmallScreen {
      flex-direction: row;
      justify-content: center;
      align-items: start;
      gap: 98px;
    }

    @include onRegularScreen {
      gap: 226px;
    }
  }

  &__title {
    color: #fff;
    @include setFont(32px, 41px, inherit);

    @include onTablet {
      line-height: 48px;
    }
  }

  &__form {
    margin-bottom: 80px;

    @include onTablet {
      margin-bottom: 120px;
    }

    @include onSmallScreen {
      margin-bottom: 0;
    }
  }

  &__nav {
    display: flex;
    flex-direction: column;
    align-self: center;
    gap: 50px 0;
    margin-top: 81px;

    @include onTablet {
      margin-top: 140px;
    }

    @include onSmallScreen {
      flex-direction: row;
      justify-content: space-evenly;
      margin-top: 121px;
    }

    @include onRegularScreen {
      justify-content: center;
      gap: 463px;
    }

    &-container {
      display: flex;
      flex-direction: column;
      gap: 24px 0;

      @include onTablet {
        flex-direction: row;
        gap: 0 40px;
      }

      @include onSmallScreen {
        row-gap: 64px;
      }
    }

    &-link {
      width: max-content;
    }
  }
}
