.header_wrapper {
  position: relative;
  padding-right: 20px;
  max-width: 1600px;
  height: 848px;
  margin: 0 auto -848px;
  overflow: hidden;
  z-index: -1;
}

.header_wrapper::before {
  content: "";
  display: block;
  position: inherit;
  max-width: 1600px;
  height: 848px;
  margin-left: -237px;
  margin-right: 200px;
  transform: skewX(-24.9deg);
  background-color: #56ccf2;
  z-index: -2;
}
