.about-us {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  min-height: 504px;

  &__headline {
    max-width: 754px;

    color: $headline-color;
    font-size: 32px;

    margin-bottom: 16px;
  }

  &__text {
    @extend .middle-text;
    color: $text-color;

    max-width: 754px;
  }

  @media screen and (max-width: 1024px) {
    padding: 0 15px;
    max-height: 350px;
    text-align: center;
  }
}
