.aboutus {
  &__info {
    display: block;
    max-width: 754px;
    margin: 0 auto;
    margin-top: 148px;
 

  }

  &__title {
    @include poppins-32px;

    line-height: $standart-line-height;
    color: $dark-blue-color;

  }

  &__text {
    @include open-sans-24px;

    line-height: $standart-line-height;
    color: $grey-color;

    margin-bottom: 148px;

  

  }
}
