.about {
  padding: 148px 0;

  @media screen and (max-width: $breakpoint-large) {
    padding: 80px 0;
  }

  @media screen and (max-width: $breakpoint-small) {
    padding: 50px 0;
  }

  &__text {
    max-width: 754px;
    margin: 0 auto;

    @media screen and (max-width: $breakpoint-large) {
      text-align: center;
    }
  }

  &__paragraph {
    font-size: 24px;
    margin-top: 16px;

    @media screen and (max-width: $breakpoint-large) {
      font-size: 18px;
    }
  }
}
