@import "_variables";

.about {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    color: $big-title-color;
    align-self: flex-start;
    margin: 148px 50px 0;
  }

  &__text {
    font-family: "Open Sans", sans-serif;
    color: $text-color;
    max-width: 754px;
    margin: 16px 50px 148px;
  }
}

@media screen and(max-width: 1024px) {
  .about {
    &__wrapper {
      text-align: center;
    }

    &__title {
      margin-top: 75px;
    }

    &__text {
      font-size: 18px;

      margin: 35px 50px 75px;
    }
  }
}

@media screen and(max-width: 500px) {
  .about {
    &__title {
      margin-top: 75px;
      font-size: 20px;
    }
    &__text {
      font-size: 17px;
    }
  }
}

@media screen and(max-width: 350px) {
  .about {
    &__title {
      font-size: 20px;
    }
  }
}
