h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  margin: 0;
  line-height: 1.5;
}

ul,
li,
a,
a:visited {
  list-style: none;
  text-decoration: none;
  color: #fff;
  padding: 0;
}

.wrapper {
  max-width: 1146px;
  margin: 0 auto;
}

.small-title {
  font-size: 32px;
  font-weight: 600;
  color: #253757;
}

.small-text {
  color: #6c788b;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

.big-title {
  font-size: 52px;
  font-weight: 600;
  color: #253757;
}

.section-text {
  color: #6c788b;
  font-weight: 600;
  font-size: 24px;
}

.section-name {
  color: #c0cdd7;
  font-size: 13px;
  font-weight: bold;
  line-height: 19px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.button--pink {
  display: flex;
  justify-content: center;
  width: 226px;
  height: 50px;
  background-color: #ff9c8e;
  margin-top: 56px;
  border-radius: 64px;
  border: none;
  transition: scale 1s;
}

body .button__link {
  font-size: 15px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}

body .button:hover {
  border: 1px solid #ff9c8e;
  background-color: #fff;
}
body .button:hover .button__link {
  color: #ff9c8e;
  transition: color 0.3s;
}

.form__button {
  color: #ff9c8e;
}

.form__button:hover {
  color: #ff9c8e;
}

.header {
  position: relative;
  box-sizing: border-box;
  height: 800px;
  color: #fff;
  background-color: #008aff;
  border-bottom-left-radius: 180px;
  overflow: hidden;
}
.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
}
.header__logo {
  background-image: url(../images/logo/logo.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 60px;
  height: 28px;
}
.header__mob-icon {
  display: none;
}
.header__mob-icon .mob-icon__line {
  background-color: #fff;
  border-radius: 2px;
  margin: 6px 0;
  width: 32px;
  height: 5px;
}
.header .nav {
  width: 760px;
  margin: 0 20px;
}
.header .nav .nav__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__action {
  position: relative;
  margin-left: 20px;
}
.header__action::after {
  content: "";
  position: absolute;
  left: 0;
  top: 28px;
  background-color: #ff9c8e;
  width: 67px;
  height: 2px;
  border-radius: 34px;
}
.header .menu__item,
.header .header__action {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 13px;
  letter-spacing: 3px;
}
.header .menu__item .item__link,
.header .header__action .item__link {
  transition: color 0.3s;
}
.header .menu__item .item__link:hover,
.header .header__action .item__link:hover {
  color: #ff9c8e;
}

.wrapper {
  max-width: 1146px;
  margin: 0 auto;
}

.content {
  display: flex;
  justify-content: space-between;
}
.content .info {
  max-width: 450px;
}
.content .info__title-name {
  font-weight: 600;
  font-size: 64px;
  line-height: 68px;
  letter-spacing: -2px;
  margin-top: 120px;
}
.content .info__text-value {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  margin-top: 32px;
}
.content .button {
  font-size: 15px;
  font-weight: 600;
  padding: 20px 75px;
  margin: 0 auto;
  background-color: #ff9c8e;
  border-radius: 64px;
  border: none;
  transition: scale 1s, color 0.3s;
}
.content .content__slider {
  position: absolute;
  bottom: -100px;
  right: 0;
}

.slider {
  position: relative;
  top: 127px;
  width: 687px;
  height: 680px;
  background-image: url("../images/slider/photo-1.png");
  background-position: center;
  background-size: cover;
}
.slider__arrow {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 72px;
  height: 32px;
  bottom: 66px;
  left: 48px;
}
.slider__intro {
  position: absolute;
  width: 250px;
  height: 68px;
  bottom: 48px;
  left: 144px;
}
.slider .intro__title {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 3px;
  margin: 0 0 8px;
}
.slider .intro__text {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 140%;
}
.slider .arrow__wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  cursor: pointer;
}
.slider .arrow__round-arrow {
  width: 6px;
  height: 9px;
  border: 0;
  background-color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  outline: none;
}
.slider .arrow__round-arrow--left {
  background-image: url("../images/slider/arrow-l.svg");
}
.slider .arrow__round-arrow--right {
  background-image: url("../images/slider/arrow-r.svg");
}

@media screen and (min-width: 1601px) {
  .header__content {
    position: relative;
  }
  .header .content__slider {
    top: 0;
    right: -227px;
  }
}
@media screen and (max-width: 1380px) {
  .header {
    padding-left: 0;
  }
  .header .nav {
    margin: auto 40px;
  }
  .header__wrapper {
    max-width: 900px;
  }

  .content .info {
    max-width: 100%;
  }
  .content .info__title-name {
    font-size: 50px;
  }
  .content .info__text-value {
    font-size: 16px;
    margin-top: 32px;
    width: 250px;
  }
}
@media screen and (max-width: 1024px) {
  .header {
    height: 600px;
  }
  .header__wrapper {
    margin: auto 100px;
  }
  .header__mob-icon {
    display: block;
    position: absolute;
    right: 0;
    cursor: pointer;
  }
  .header__top {
    position: relative;
  }
  .header .nav {
    margin-top: 70px;
    display: none;
  }
  .header .menu {
    flex-direction: column;
  }
  .header .item {
    margin: 10px auto;
  }
  .header .item__link {
    font-size: 13px;
    margin: 10px 0;
  }
  .header .nav.open {
    display: block;
  }
  .header__action {
    display: none;
  }
  .header__action::before {
    width: 69px;
  }
  .header__content {
    height: 300px;
    display: flex;
  }

  .header.open {
    height: 750px;
  }

  .logo {
    position: absolute;
  }

  .content .info {
    padding-top: 30px;
    width: 100%;
    max-width: inherit;
  }
  .content .info__text-value {
    max-width: 350px;
    width: 100%;
  }
  .content .info__title-name {
    margin-top: 0;
    font-size: 55px;
    text-align: center;
  }
  .content .info__title-name.open {
    margin-top: 150px;
  }
  .content .info__button {
    justify-self: center;
  }
  .content .info .button__link {
    max-width: 210px;
  }

  .slider {
    display: none;
  }
}
@media screen and (max-width: 500px) {
  .header {
    border-bottom-left-radius: 90px;
  }
  .header__wrapper {
    margin: auto 50px;
  }

  .content__info__title-name {
    margin-bottom: 20px;
  }
}
.about {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about__title {
  color: #253757;
  align-self: flex-start;
  margin: 148px 50px 0;
}
.about__text {
  font-family: "Open Sans", sans-serif;
  color: #6c788b;
  max-width: 754px;
  margin: 16px 50px 148px;
}

@media screen and (max-width: 1024px) {
  .about__wrapper {
    text-align: center;
  }
  .about__title {
    margin-top: 75px;
  }
  .about__text {
    font-size: 18px;
    margin: 35px 50px 75px;
  }
}
@media screen and (max-width: 500px) {
  .about__title {
    margin-top: 75px;
    font-size: 20px;
  }
  .about__text {
    font-size: 17px;
  }
}
@media screen and (max-width: 350px) {
  .about__title {
    font-size: 20px;
  }
}
.expertise {
  background-color: #fff;
  text-align: center;
}
.expertise__title {
  padding-top: 128px;
  margin: 0 auto 64px;
}
.expertise__products {
  margin: 0 auto;
  max-width: 1142px;
  display: flex;
  justify-content: space-between;
}
.expertise__product {
  width: 264px;
  height: 355px;
  margin-bottom: 135px;
}
.expertise .product__img {
  height: 166px;
  width: 166px;
  border-radius: 25px;
  margin: 0 auto;
}
.expertise .product__name {
  color: #253757;
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;
  margin: 40px 0 16px;
  text-align: center;
}
.expertise .product__text {
  text-align: center;
}

@media screen and (max-width: 1380px) {
  .expertise__wrapper {
    max-width: 900px;
  }
}
@media screen and (max-width: 1024px) {
  .expertise__wrapper {
    margin: auto 100px;
  }
  .expertise__title {
    font-size: 40px;
    padding-top: 30px;
  }
  .expertise .product__name {
    margin-top: 16px;
  }
  .expertise__products {
    flex-direction: column;
    align-items: center;
  }
  .expertise__products .expertise__product {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 500px) {
  .expertise__wrapper {
    margin: auto 50px;
  }
  .expertise__title {
    font-size: 35px;
    margin: 0 0 30px;
  }
}
@media screen and (max-width: 350px) {
  .expertise__title {
    font-size: 20px;
  }
}
.process {
  height: 750px;
}
.process__wrapper {
  display: flex;
  justify-content: space-between;
}
.process__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 362px;
}
.process__name {
  color: #c0cdd7;
  font-size: 13px;
  font-weight: bold;
  margin-top: 0;
}
.process__text--first {
  margin-bottom: 20px;
}
.process__cards {
  position: relative;
  display: flex;
  justify-content: flex-end;
  width: 558px;
  margin-top: 148px;
}

.cards__column-first, .cards__column-second {
  height: 558px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.cards__column-first {
  position: absolute;
  top: 132px;
  left: 0;
}
.cards__square {
  box-sizing: border-box;
  width: 264px;
  height: 264px;
  padding: 32px;
  background-color: #fff;
  box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
  border-radius: 24px;
}
.cards__number {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 24px;
  border-radius: 23px;
}
.cards__number-value {
  margin: 0;
  font-size: 13px;
  line-height: 19px;
  font-weight: 600;
}
.cards__text {
  margin: 24px 0;
  height: 80px;
  width: 200px;
}
.cards__text-value-item {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 150%;
  color: #6c788b;
}
.cards__links {
  display: flex;
  align-items: center;
  height: 40px;
  margin-top: 32px;
}
.cards__links .cards__link {
  margin-left: 16px;
}
.cards__icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: relative;
  transition: scale 0.7s;
}
.cards__icon:hover {
  transform: scale(1.2, 1.2);
}
.cards__icon-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.cards .cards__link-value {
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  color: #334563;
}
.cards__number--blue {
  background-color: rgba(86, 204, 242, 0.1);
}
.cards__number-value--blue {
  color: #56ccf2;
}
.cards__icon--blue {
  background-color: #56ccf2;
}
.cards__number--yellow {
  background-color: rgba(252, 201, 201, 0.1);
}
.cards__number-value--yellow {
  color: #fcc91d;
}
.cards__icon--yellow {
  background-color: #fcc91d;
}
.cards__number--green {
  background-color: rgba(21, 216, 80, 0.1);
}
.cards__number-value--green {
  color: #15d850;
}
.cards__icon--green {
  background-color: #15d850;
}
.cards__number--red {
  background-color: rgba(243, 99, 99, 0.1);
}
.cards__number-value--red {
  color: #f36363;
}
.cards__icon--red {
  background-color: #f36363;
}

@media screen and (max-width: 1380px) {
  .process__wrapper {
    max-width: 900px;
  }
}
@media screen and (max-width: 1024px) {
  .process__wrapper {
    margin: auto 60px;
    flex-direction: column;
  }
  .process__info {
    box-sizing: border-box;
    padding-top: 30px;
    width: 100%;
  }
  .process__title {
    align-self: center;
    max-width: 300px;
  }
  .process__text {
    max-width: 300px;
  }
  .process__cards {
    width: 558px;
    align-self: center;
    margin-top: 20px;
  }
  .process .cards__column-first {
    top: 0;
  }
}
@media screen and (max-width: 750px) {
  .process__cards {
    margin-top: 0;
    max-width: 264px;
  }
  .process .cards__column-first {
    height: 852px;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
  }
  .process .cards__column-second {
    height: 852px;
    position: absolute;
    top: 324px;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 500px) {
  .process__wrapper {
    margin: auto 50px;
  }
  .process__title {
    font-size: 20px;
  }
}
@media screen and (max-width: 350px) {
  .process__title {
    font-size: 20px;
  }
}
.approach {
  position: relative;
}
.approach__content {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 362px;
  margin: 204px 0 0 204px;
}
.approach__name {
  color: #fff;
  margin: 0;
}
.approach__title {
  line-height: 150%;
  color: #fff;
  margin: 16px 0 32px;
}
.approach__text {
  color: #fff;
  width: 264px;
}
.approach__text-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 64px;
}
.approach__bg {
  position: absolute;
  background-color: #ff9c8e;
  right: 0;
  width: 1479px;
  max-width: 100%;
  height: 976px;
  z-index: -1;
  border-top-left-radius: 200px;
  border-bottom-left-radius: 200px;
}
.approach__img {
  width: 687px;
  height: 680px;
  position: absolute;
  bottom: 0;
  right: 0;
}

@media screen and (min-width: 1600px) {
  .approach__bg {
    right: 50%;
    transform: translateX(800px);
  }
}
@media screen and (max-width: 1380px) {
  .approach__content {
    width: auto;
    margin: 104px 100px 0;
  }
  .approach__img {
    display: none;
  }
  .approach__bg {
    height: 700px;
  }
  .approach__title {
    align-self: center;
    width: 350px;
    text-align: center;
  }
  .approach__text-box {
    max-width: 900px;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .approach__text {
    font-size: 24px;
    max-width: 800px;
    width: 100%;
    padding-left: 40px;
  }
}
@media screen and (max-width: 1024px) {
  .approach {
    margin-top: 210px;
  }
  .approach__content {
    margin-top: 50px;
  }
  .approach__text {
    font-size: 20px;
  }
}
@media screen and (max-width: 750px) {
  .approach {
    margin-top: 800px;
  }
  .approach__name {
    font-size: 10px;
  }
  .approach__title {
    width: auto;
    font-size: 27px;
  }
  .approach__text {
    font-size: 14px;
    padding-left: 0;
  }
  .approach__text-box {
    margin-bottom: 30px;
  }
  .approach .text-box-first,
.approach .text-box-second,
.approach .text-box-third {
    align-self: center;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}
@media screen and (max-width: 500px) {
  .approach {
    margin-top: 750px;
  }
  .approach__text-box {
    width: 100%;
    padding: 0 30px;
  }
  .approach__bg {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .approach__content {
    margin: 40px 30px 0;
  }
  .approach__title {
    font-size: 20px;
    max-width: 400px;
  }
}
.testimonials {
  margin-top: 1124px;
}
.testimonials__title {
  margin: 16px 0 85px;
}
.testimonials__people {
  display: flex;
  justify-content: space-between;
}
.testimonials__person {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 314px;
  height: 494px;
  padding: 87px 32px 32px;
  background: #fff;
  box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
  border-radius: 24px;
  margin-bottom: 168px;
}
.testimonials__person__img {
  margin: 87px auto 111px;
}

.person {
  position: relative;
}
.person__q {
  position: absolute;
  top: 309px;
}
.person__elipse {
  width: 139px;
  height: 56px;
  border-radius: 500px;
  transform-origin: center;
  transform: rotate(-60deg);
}
.person .person__img {
  position: relative;
}
.person .elipse-first {
  position: absolute;
  left: 45.5px;
  top: 87px;
}
.person .elipse-second {
  position: absolute;
  right: 45.5px;
}
.person .elipse--blue {
  background-color: #56ccf2;
}
.person .elipse--yellow {
  background-color: #fcc304;
}
.person .elipse--red {
  background-color: #f25656;
}
.person__photo {
  position: relative;
  border-radius: 50%;
}
.person__text {
  margin: 111px auto 16px;
  width: 250px;
  text-align: center;
  color: #6c788b;
}
.person__name, .person__text {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 150%;
}
.person__name {
  margin: 0;
  color: #253757;
}

@media screen and (max-width: 1380px) {
  .testimonials {
    margin-top: 800px;
  }
  .testimonials__wrapper {
    max-width: 1000px;
  }
  .testimonials__people {
    justify-content: space-between;
  }
  .testimonials__person {
    max-width: 100%;
  }
}
@media screen and (max-width: 1024px) {
  .testimonials {
    margin-top: 1000px;
  }
  .testimonials__wrapper {
    margin: auto 60px;
  }
  .testimonials__title {
    text-align: center;
    margin-bottom: 30px;
  }
  .testimonials__people {
    flex-direction: column;
    border-radius: 500px;
    margin: 0 0 20px;
  }
  .testimonials__person {
    width: 100%;
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 750px) {
  .testimonials {
    margin-top: 1600px;
  }
}
@media screen and (max-width: 500px) {
  .testimonials {
    margin-top: 1550px;
  }

  .person {
    height: auto;
  }
  .person__text {
    max-width: 100%;
    margin-bottom: 35px;
  }
  .person__position {
    text-align: center;
  }
}
@media screen and (max-width: 350px) {
  .testimonials__title {
    font-size: 20px;
  }
  .testimonials__text {
    font-size: 10px;
  }
}
.vpr {
  position: relative;
  display: flex;
  height: 691px;
  background-color: #fff;
  z-index: 1;
}
.vpr__background {
  position: relative;
  display: flex;
  justify-content: center;
  z-index: 2;
  background-color: #fff;
  width: 1600px;
  left: 50%;
  transform: translateX(-50%);
}
.vpr__wrapper {
  position: absolute;
  display: flex;
  margin: auto;
  align-self: center;
  left: 50%;
  transform: translateX(-50%);
  flex-direction: column;
  align-items: center;
  z-index: 4;
}
.vpr__title {
  text-align: center;
}
.vpr__text {
  max-width: 700px;
  text-align: center;
}
.vpr .button__link {
  font-size: 12px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}
.vpr .button__link:hover {
  cursor: pointer;
}

.button {
  font-size: 12px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}
.button:hover {
  cursor: pointer;
}

.elipse {
  box-sizing: border-box;
  position: absolute;
  z-index: 3;
}
.elipse__big {
  width: 143px;
  height: 56px;
  border-radius: 500px;
  transform: rotate(-65deg);
}
.elipse__big--blue {
  border: 2px solid #56ccf2;
}
.elipse__big--green {
  border: 2px solid rgba(3, 213, 66, 0.5);
}
.elipse__mid {
  width: 86px;
  height: 34px;
  border-radius: 500px;
  transform: rotate(-65deg);
}
.elipse__mid--yellow {
  border: 2px solid #fcc304;
}
.elipse__mid--red {
  border: 2px solid #f25656;
}
.elipse__mid--pink {
  border: 2px solid rgba(188, 4, 252, 0.5);
}
.elipse__small {
  width: 54px;
  height: 21px;
  border-radius: 500px;
  transform: rotate(-65deg);
}
.elipse__small--yellow {
  border: 2px solid #fcc304;
}
.elipse__small--blue {
  border: 2px solid #56ccf2;
}
.elipse__small--pink {
  border: 2px solid rgba(188, 4, 252, 0.5);
}
.elipse:nth-child(1) {
  top: 70%;
  right: 10%;
}
.elipse:nth-child(2) {
  top: 30%;
  right: 15%;
}
.elipse:nth-child(3) {
  top: 50%;
  left: 15%;
}
.elipse:nth-child(4) {
  top: 13%;
  left: 13%;
}
.elipse:nth-child(5) {
  top: 60%;
  right: 20%;
}
.elipse:nth-child(6) {
  top: 40%;
  right: 5%;
}
.elipse:nth-child(7) {
  bottom: 10%;
  left: 8%;
}
.elipse:nth-child(8) {
  top: 15%;
  right: 8%;
}
.elipse:nth-child(9) {
  top: 80%;
  left: 63%;
}
.elipse:nth-child(10) {
  top: 10%;
  left: 28%;
}
.elipse:nth-child(11) {
  top: 75%;
  left: 30%;
}
.elipse:nth-child(12) {
  top: 50%;
  left: 5%;
}

@media screen and (max-width: 1024px) {
  .vpr__wrapper {
    max-width: 794px;
  }
  .vpr__title {
    font-size: 40px;
    max-width: 100%;
  }
  .vpr__text {
    font-size: 18px;
    padding: auto 50px;
    max-width: 500px;
  }
}
@media screen and (max-width: 1024px) {
  .vpr__background .elipse:nth-child(1),
.vpr__background .elipse:nth-child(2),
.vpr__background .elipse:nth-child(10) {
    display: none;
  }
}
@media screen and (max-width: 500px) {
  .vpr {
    height: 500px;
  }
  .vpr__wrapper {
    max-width: 500px;
  }
  .vpr__title {
    font-size: 20px;
  }
  .vpr__text {
    font-size: 17px;
  }
}
.section__footer {
  background-color: #fff;
}

.footer {
  box-sizing: border-box;
  position: relative;
  padding-top: 180px;
  color: #fff;
  background-color: #008aff;
  border-top-right-radius: 180px;
}
.footer__wrapper {
  margin: 0 227px;
}
.footer__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 80px;
}
.footer__nav {
  margin-left: 100px;
}
.footer__nav .menu {
  display: flex;
  width: 637px;
  justify-content: space-between;
}
.footer__logo {
  background-image: url(../images/logo/logo.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 60px;
  height: 28px;
}
.footer__form {
  display: flex;
  flex-direction: column;
  margin-right: 50px;
}
.footer__content {
  margin-bottom: 91px;
  display: flex;
  width: 100%;
  max-width: 1048px;
}
.footer .section-name {
  text-transform: uppercase;
  color: #fff;
  opacity: 0.5;
  margin-bottom: 8px;
}
.footer .section-text {
  color: #fff;
  margin-bottom: 48px;
}

.form__title {
  color: #fff;
  margin: 0 0 40px;
}
.form .input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  outline: none;
  width: 460px;
  padding: 16px 0;
  margin-bottom: 42px;
}
.form .input::placeholder {
  color: #fff;
  opacity: 0.7;
}
.form .input:focus {
  border-bottom: 2px #fff solid;
  opacity: 1;
}
.form__button {
  margin: 38px 0;
  color: #fff;
  cursor: pointer;
  transition: color 0.3s;
}

.contact {
  max-width: 462px;
}
.contact__title {
  color: #fff;
  margin: 0 0 56px;
}
.contact__socials .socials__image:hover {
  color: rgba(255, 255, 255, 0.5);
}
.contact__socials .socials__value {
  margin-top: 20px;
}
.contact__socials .socials__image--facebook {
  margin-right: 45px;
}
.contact__socials .socials__image--twitter {
  margin-right: 40px;
}

.menu__item {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 13px;
  letter-spacing: 3px;
}
.menu__item .item__link {
  transition: color 0.3s;
}
.menu__item .item__link:hover {
  color: #ff9c8e;
}

@media screen and (min-width: 1601px) {
  .footer__wrapper {
    margin: 0 auto;
  }
}
@media screen and (max-width: 1380px) {
  .footer {
    padding-top: 80px;
  }
  .footer__wrapper {
    margin: 0 100px;
  }
  .footer .input {
    width: 400px;
  }
}
@media screen and (max-width: 1024px) {
  .footer .input {
    width: 300px;
  }
  .footer .contact__value {
    font-size: 18px;
  }
  .footer__form {
    margin-right: 100px;
  }
  .footer .menu {
    width: 400px;
  }
  .footer .small-title {
    font-size: 25px;
  }

  .bottom .menu__item {
    font-size: 10px;
  }
}
@media screen and (max-width: 750px) {
  .footer__wrapper {
    margin: 0 50px;
  }
  .footer__content {
    margin-bottom: 0;
  }
  .footer__form {
    margin-right: 50px;
  }
  .footer .input {
    width: 200px;
  }
  .footer .menu {
    display: none;
  }

  .bottom {
    flex-direction: column-reverse;
    justify-content: space-between;
    padding-bottom: 40px;
  }
  .bottom .nav {
    margin: 0 0 50px;
  }
}
@media screen and (max-width: 550px) {
  .footer {
    padding-top: 50px;
  }
  .footer .small-title {
    font-size: 24px;
    margin-bottom: 30px;
  }
  .footer .section-text {
    margin-bottom: 0;
  }
  .footer__content {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .footer .button {
    align-self: center;
    margin: 40px 0;
  }
  .footer .input {
    margin-bottom: 0;
  }
  .footer .input,
.footer .form,
.footer .contact {
    width: 100%;
  }
  .footer .small-title,
.footer .contact,
.footer .form__button {
    text-align: center;
    justify-content: center;
  }
}
body {
  background: #eee;
}

/*# sourceMappingURL=_about.css.map */
