.aboutus {
  background-color: #fff;
  padding: 128px 17% 148px;

  &__heading {
    max-width: 562px;
    height: 78px;
    margin: 0 auto 64px;
    font-weight: 600;
    font-size: 52px;
    line-height: 150%;
    color: $heading-color;
    text-align: center;
  }

  &__cards {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
  }
}

@media screen and (max-width: $laptop) {
  .aboutus {
    padding: 118px 10% 128px;
  }
}
