.aboutus {
  &__info {
    display: block;
    max-width: 754px;
    margin: 0 auto;
    margin-top: 148px;

    @media screen and (max-width: $middle-min-width) {
      & {
        margin-top: 28px;
      }
    }
  }

  &__title {
    @include poppins-32px;

    line-height: $standart-line-height;
    color: $dark-blue-color;

    @media screen and (max-width: $middle-min-width) {
      & {
        font-size: 24px;
        padding-left: 20px;
      }
    }
    @media screen and (max-width: $middle-min-width) {
      & {
        font-size: 18px;
      }
    }
  }

  &__text {
    @include open-sans-24px;

    line-height: $standart-line-height;
    color: $grey-color;

    margin-bottom: 148px;

    @media screen and (max-width: $middle-min-width) {
      & {
        font-size: 16px;
        margin-bottom: 28px;

        padding-left: 20px;
        padding-right: 20px;
      }
    }

    @media screen and (max-width: $middle-min-width) {
      & {
        font-size: 14px;
      }
    }
  }
}
