.about {
  @include grid;

  &__who-we-are {
    grid-column: 3 / span 8;
    display: flex;
    flex-direction: column;
    margin-top: 148px;
    margin-bottom: 148px;

    @include media("<tablet") {
      grid-column: 1 / span 2;
    }
  }
}
