@media (max-width: 1420px) {
  body .intro {
    &__img-container {
      left: 7%;
    }
  }
}

@media (max-width: 1340px) {
  body .intro {
    &__img-container {
      width: 1000px;
    }
    &__image {
      width: 1000px;
    }
  }
}

@media (max-width: 1150px) {
  body .page-header {
    box-sizing: border-box;
    width: 100%;
    padding: 0 15px;
    flex-direction: column;
    align-items: flex-end;

    &__logo {
      margin: 0 35px 50px 0;
    }
    &__navigation {
      display: flex;
      flex-direction: column;
    }
    &__nav-item {
      font-size: 24px;
      margin: 0 0 15px;
      padding: 0;
      &:not(:last-child) {
        margin: 0 0 15px;
      }
      &:last-child {
        margin: 0;
      }
    }
  }

  body .learn-more {
    width: 100%;
    position: relative;

    &__title {
      position: absolute;
      left: 3%;
      top: -370px;
      font-size: 32px;
      letter-spacing: 2px;
      line-height: 50px;

      & br {
        display: block;
      }
    }
    &__text {
      color: $c-dark;
    }
  }

  body .intro {
    &__img-container {
      width: 350px;
      left: 50%;
      top: -100px;
      transform: translate(-50%, 0);
    }
    &__image {
      height: 200px;
      width: 350px;
      background-repeat: no-repeat;
      background-size: 350px 200px;
    }
    &__text {
      display: none;
    }
    &__button-left {
      height: 34px;
      width: 41px;
      left: 40%;
      top: 183px;

      &::after {
        height: 14px;
        width: 6px;
        left: 14px;
        top: 10px;
        background-size: 6px 14px;
      }
    }
    &__button-right {
      height: 34px;
      width: 41px;
      right: 50%;
      left: 50%;
      top: 183px;

      &::after {
        height: 14px;
        width: 6px;
        right: 14px;
        top: 10px;
        background-size: 6px 14px;
      }
    }
  }
}
