@media (max-width: 1420px) {
  body .intro {
    &__img-container {
      left: 7%;
    }
  }
}

@media (max-width: 1340px) {
  body .intro {
    &__img-container {
      width: 1000px;
    }
    &__image {
      width: 1000px;
    }
  }
}

@media (max-width: 1150px) {
  body .header-section {
    background: $c-blue-main;
    padding: 0;
  }

  body .header-section .page-header {
    flex-direction: column;
    align-items: center;

    &__logo {
      margin: 30px 0;
    }
    &__navigation {
      // width: 670px;
      justify-content: space-between;
      flex-wrap: wrap;
    }
    &__nav-item {
      &:last-child {
        margin-left: inherit;
      }
    }
  }

  body .learn-more {
    margin-top: 0;

    &__title {
      text-align: center;
    }
    &__text {
      width: 670px;
      margin: 0 auto;
      text-align: center;
      margin-bottom: 40px;
    }
    &__button {
      margin: 0 auto;
    }
  }

  body .intro {
    height: 740px;
    &__img-container {
      width: 670px;
      top: -200px;
      left: 50%;
      transform: translate(-50%, 0);
    }
    &__image {
      width: 670px;
      height: 400px;
      background-size: 670px 400px;
      background-repeat: no-repeat;
    }
    &__networks {
      top: -50px;
      left: 50%;
      transform: translate(-50%, 0);
    }
    &__text {
      bottom: 30px;
      left: 30px;
    }
    &__button-left {
      height: 34px;
      width: 41px;
      left: 314px;
      top: 383px;

      &::after {
        height: 14px;
        width: 6px;
        left: 14px;
        top: 10px;
        background-size: 6px 14px;
      }
    }
    &__button-right {
      height: 34px;
      width: 41px;
      left: 349px;
      top: 383px;

      &::after {
        height: 14px;
        width: 6px;
        right: 14px;
        top: 10px;
        background-size: 6px 14px;
      }
    }
  }

  body .welcome {
    top: 250px;
    width: 400px;
  }

  body .actions {
    height: auto;
    &__container {
      width: 670px;
      margin: 0 auto;
      flex-direction: column;
      justify-content: space-around;
    }
    &__item {
      margin-bottom: 30px;
    }
    &__item-title {
      font-size: 30px;
      text-align: center;
    }
    &__text {
      text-align: center;
    }
    &__img1 {
      margin: 0 auto;
    }
    &__img2 {
      margin: 0 auto;
    }
    &__img3 {
      margin: 0 auto;
    }
  }

  body .process {
    &__wrapper {
      height: auto;
      width: 670px;
      margin: 0 auto;
      padding: 160px 0 0;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &__main-title {
      text-align: center;
    }
    &__text {
      width: 670px;
      margin-bottom: 40px;
      text-align: center;
    }
  }

  body .process-right-section {
    position: initial;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 670px;
    padding-bottom: 20px;

    &__card-general {
      position: initial;
      margin-bottom: 20px;
    }
  }

  body .features {
    height: auto;

    &__right-img {
      display: none;
    }
    &__left-container {
      padding: 100px 0 50px;
      width: 670px;
      margin: 0 auto;
    }
    &__main-title {
      text-align: center;
    }
  }

  body .features-item {
    margin: 0 auto;
    width: 100%;
  }

  body .testimonials {
    height: auto;
    width: 100%;

    &__title {
      width: 670px;
      margin: 0 auto;
    }
    &__cards-container {
      width: 100%;
      position: initial;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &__card {
      margin-bottom: 30px;
    }
    &__main-title {
      text-align: center;
      margin: 50px 0 100px;
      & br {
        display: none;
      }
    }
  }

  body .vision-block {
    padding: 100px 0;
    height: 500px;

    &__content-container {
      width: 100%;
    }
    &__colored-block1 {
      left: 5%;
      top: 20%;
    }
    &__colored-block2 {
      display: none;
    }
    &__colored-block3 {
      display: none;
    }
    &__colored-block6 {
      display: none;
    }
    &__colored-block7 {
      display: none;
    }
    &__colored-block9 {
      width: 64px;
      height: 24px;
      top: 20%;
    }
    &__colored-block10 {
      display: none;
    }
    &__colored-block11 {
      right: 3%;
    }
    &__colored-block12 {
      display: none;
    }
  }

  body .page-footer {
    flex-direction: column;
    width: 670px;
    margin: 0 auto;

    &__left-section {
      width: 100%;
      margin-bottom: 100px;
    }
    &__right-section {
      width: 100%;
    }
  }

  body .page-footer-additional {
    width: 670px;
    flex-direction: column;
    &__designer {
      margin-bottom: 50px;
    }
  }
}

@media (max-width: 715px) {
  .header-section {
    width: 100%;
  }
  body .page-header {
    align-content: center;

    &__navigation {
      width: 350px;
      padding: 0;
      flex-direction: column;
      align-content: center;
    }
    &__nav-item {
      font-size: 23px;
      &:not(:last-child) {
        margin-right: 0;
        margin-bottom: 10px;
      }
    }
  }

  body .intro {
    height: 680px;

    &__img-container {
      width: 350px;
      height: 250px;
      top: -10px;
      left: 50%;
      transform: translate(-50%, 0);
    }
    &__text {
      font-size: 15px;
      left: 2%;
      bottom: 3%;
    }
    &__image {
      width: 350px;
      height: 250px;
      background-size: 350px 250px;
    }
    &__networks {
      width: 350px;
      top: 10px;
    }
    &__button-left {
      left: 175px;
      top: 233px;
    }
    &__button-right {
      left: 210px;
      top: 233px;
    }
  }

  body .networks {
    &__link {
      color: $c-white;
    }
  }

  body .welcome {
    top: 250px;
    width: 350px;
    height: auto;
    &__text {
      font-size: 19px;
    }
  }

  body .learn-more {
    &__text {
      width: 350px;
      margin: 0 auto 40px;
      font-size: 20px;
    }
    &__title {
      font-size: 50px;
    }
  }

  body .actions {
    padding-top: 50px;
    &__container {
      width: 350px;
    }
    &__title {
      transform: translate(-50%, 0);
      top: -65px;
      font-size: 30px;
    }
  }

  body .process {
    &__left-section {
      width: 350px;
    }
    &__right-section {
      width: 350px;
      flex-direction: column;
    }
    &__main-title {
      font-size: 28px;
      margin-bottom: 35px;
    }
    &__text {
      width: 350px;
      line-height: 19px;
      & br {
        display: none;
      }
    }
    &__wrapper {
      width: 350px;
      padding-top: 50px;
    }
  }

  body .process-right-section {
    width: 350px;
    flex-direction: column;
    align-items: center;
  }

  body .features {
    width: 100%;

    &__main-title {
      font-size: 28px;
      margin: 30px 0;
    }
    &__left-container {
      width: 350px;
    }
  }

  body .testimonials {
    &__title {
      width: 350px;
    }
    &__main-title {
      font-size: 27px;
      margin-bottom: 60px;
    }
  }

  body .vision-block {
    padding: 50px 0;
    &__title {
      font-size: 35px;
    }
    &__text {
      font-size: 20px;
    }
  }

  body .vision__colored-block-general {
    display: none;
  }

  body .page-footer {
    width: 350px;

    &__left-section {
      padding-right: 50px;
      margin: 0 0 70px;
    }
    &__main-title {
      font-size: 26px;
    }
    &__adress {
      & span {
        font-size: 18px;
      }
    }
  }
  body .page-footer-additional {
    width: 350px;
    margin-top: 70px;
    &__links-container {
      width: 100%;
      flex-wrap: wrap;
    }
  }
}
