.agency {
  padding: 148px 227px;
  display: flex;
  justify-content: space-between;

  &__column-left {
    margin-top: 100px;
    width: 362px;
  }

  &__text-caption {
    font-family: Poppins, sans-serif;
    font-weight: bold;
    font-size: 13px;
    line-height: 19px;
    text-align: left;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #c0cdd7;
    margin-bottom: 16px;
  }

  &__text-title {
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 130%;
    display: flex;
    align-items: center;
    color: #253757;
    margin-bottom: 24px;
  }

  &__text-description {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 150%;
    color: #6c788b;
  }

  &__column-right {
    display: grid;
    max-width: 560px;
    gap: 30px;
    grid-template-columns: repeat(2, 260px);
    grid-template-rows: repeat(2, 260px);
  }
}

.offer-card {
  padding: 32px;
  background-color: #fff;
  border-radius: 16px;

  &__number {
    padding: 2px 12px;
    color: #2060f6;
    background-color: rgba($color: #2060f6, $alpha: 0.1);
    border-radius: 23px;
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 13px;
    line-height: 19px;
    text-align: center;
    text-transform: uppercase;
    width: 46px;
    margin-bottom: 24px;
  }

  &__description {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 13px;
    line-height: 150%;
    color: #6c788b;
    margin-bottom: 40px;
  }

  &__row {
    display: flex;
    align-items: center;
  }

  &__button {
    outline: none;
    cursor: pointer;
    margin-right: 16px;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    background: url(../images/what-we-do/vector.png) no-repeat center;
    background-color: #2060f6;

    &:hover {
      animation: agency-pulse 1s;
      box-shadow: 0 0 0 2em rgba($color: #2060f6, $alpha: 0);
    }
  }
}

@keyframes agency-pulse {
  0% {
    box-shadow: 0 0 0 0 #2060f6;
  }
}

.offer-card:nth-of-type(1),
.offer-card:nth-of-type(3) {
  transform: translateY(150px);
}
