.apply {
  @include flex-column-center;
  text-align: center;

  &__heading {
    margin-top: 320px;
    line-height: 1;
    z-index: 1;
  }

  &__text {
    margin-top: 57px;
    font-size: $subtitleFont;
    font-weight: 600;
    line-height: 1.5;
    color: $textColor5;
  }

  &__link {
    transition: color $transTime1;
  }

  &__button {
    margin-top: 55px;
    @include button-reset;
    width: 226px;
    height: 56px;
    border-radius: 28px;
    letter-spacing: 1px;
    line-height: 1.5;
    color: $bgColor2;
    font-weight: bold;
    background-color: $bgColor3;
    z-index: 1;
    transition: background-color $transTime1;

    &:hover {
      background-color: $decorColor2;

      .apply__link {
        color: $textColor1;
      }
    }
  }
}

@media (min-width: 768px) {
  .apply {

    &__text {
      width: 590px;
    }
  }
}

@media (min-width: 1440px) {
  .apply {

    &__text {
      width: 754px;
      font-size: $subtitleFontBig;
    }
  }
}
