.approach {
  display: flex;
  color: white;
  background: #ff9c8e;
  border-radius: 100px 0 0 100px;
  justify-content: space-between;

  &__block-one {
    padding-left: 124px;
  }

  &__block-two {
    position: relative;
    right: 0;
    bottom: 0;
  }

  &__extra-title {
    padding-top: 140px;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 3px;
    text-transform: uppercase;
  }

  &__title {
    padding-top: 16px;
    font-size: 32px;
    line-height: 130%;
  }

  &__extra-text {
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    width: 370px;
  }

  &__rich-text {
    display: flex;
    flex-direction: row;
    font-weight: normal;
    align-items: center;
    padding-top: 20px;

    & .riche-text__description-1,
    .riche-text__description-2,
    .riche-text__description-3 {
      width: 240px;
      padding-left: 30px;
    }

    & .rich-text__icon-1 {
      background-image: url("../images/features/features-item-icon-1.svg");
      width: 64px;
      height: 64px;
    }

    & .rich-text__icon-2 {
      background-image: url("../images/features/features-item-icon-2.svg");
      width: 64px;
      height: 64px;
    }

    & .rich-text__icon-3 {
      background-image: url("../images/features/features-item-icon-3.svg");
      width: 64px;
      height: 64px;
    }
  }

  &__image {
    background-image: url("../images/features/features-bg.jpg");
    background-size: cover;
    border-radius: 100px 0 0;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 450px;
    height: 450px;
  }
}
