.apply {
  &__container {
    // max-width: 1400px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    position: relative;
    margin: 0 auto;
    padding: 180px 0;

    background: url(../images/Shapes.png) no-repeat;

  }
  &__content {
    width: 750px;
    text-align: center;
  }

  &__button {
    @extend %button;
    height: 56px;
  }
}

// &__graphics {
//   position: relative;
// }
// &__graphic {
//   position: absolute;
//   left: 10%;

//   border-radius: 500px;
//   border: 2px solid red;

//   transform: rotate(-60deg);

//   &:nth-child(3n) {
//     width: 145px;
//     height: 55px;
//   }
//   &:nth-child(3n+1) {
//     width: 85px;
//     height: 35px;
//   }
//   &:nth-child(3n+2) {
//     width: 45px;
//     height: 18px;
//   }
//   &:nth-child(4n) {
//     border-color: $element-color-1;
//   }
//   &:nth-child(4n+1) {
//     border-color: $element-color-2;
//   }
//   &:nth-child(4n+2) {
//     border-color: $element-color-3;
//   }
//   &:nth-child(4n+3) {
//     border-color: $element-color-4;
//   }

//   &:nth-child(1) {
//     top: 0;
//   }
//   &:nth-child(2) {
//     top: 30%;
//     left: 20%;
//   }
//   &:nth-child(3) {
//     top: 50%;
//     left: 10%;
//   }
//   &:nth-child(4) {
//     bottom: 0;
//     right: 0;
//   }
//   &:nth-child(5) {
//     top: 0;
//     left: 100%;
//   }
//   &:nth-child(6) {
//     top: 0;
//     left: 100%;
//   }
//   &:nth-child(7) {
//     top: 0;
//     left: 100%;
//   }
