.apply {
  position: relative;
  padding: 199px 0;
  background-color: #fff;
  text-align: center;

  @media screen and (max-width: $breakpoint-medium) {
    padding: 140px 0;
  }

  @media screen and (max-width: $breakpoint-small) {
    padding: 100px 0;
  }

  &__text {
    position: relative;
  }

  &__subheading,
  &__button {
    margin: 0 auto;
  }

  &__subheading {
    max-width: 754px;
    margin-top: 24px;
    font-size: 24px;
    font-weight: bold;

    @media screen and (max-width: $breakpoint-small) {
      font-size: 18px;
    }
  }

  &__button {
    margin-top: 64px;

    @media screen and (max-width: $breakpoint-small) {
      margin-top: 32px;
    }
  }

  &__circle {
    box-sizing: border-box;
    opacity: 0.5;

    &--blue {
      @include circles(145px, 18%, 25%, 4px, skyblue);

      @media screen and (max-width: $breakpoint-medium) {
        display: none;
      }
    }

    &--red {
      @include circles(110px, 9%, 72%, 3px, red);

      @media screen and (max-width: $breakpoint-small) {
        display: none;
      }
    }

    &--green {
      @include circles(30px, 10%, 38%, 5px, green);

      @media screen and (max-width: $breakpoint-medium) {
        display: none;
      }
    }

    &--orange {
      @include circles(70px, 27%, 68%, 2px, orange);
    }

    &--purple {
      @include circles(50px, 29%, 6%, 3px, purple);
    }

    &--pink {
      @include circles(100px, 2%, 22%, 2px, pink);
    }
  }
}
