.approach {
  background-color: $section-background-color;
  color: $light-font-color;
  margin-top: -120px;

  &__wrapper {
    background-color: $pink-background-color;
    border-top-left-radius: 200px;
    border-bottom-left-radius: 200px;
    max-width: 1479px;
    margin-left: auto;
    padding-top: 204px;
    padding-left: 204px;
    display: flex;
    justify-content: space-between;
  }

  &__subtitle {
    color: $light-font-color;
    margin-bottom: 16px;
  }

  &__title {
    color: $light-font-color;
    margin-bottom: 32px;
  }

  &__item {
    display: flex;
    margin-bottom: 64px;
  }

  &__item-image {
    width: 64px;
    height: 64px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 34px;
    transition: all $transition-duration;

    &:hover {
      transform: $transform-scale;
    }
  }

  &__item-text {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.5;
    max-width: 265px;
  }
}

@media screen and (min-width: 1921px) {
  .approach__wrapper {
    margin-right: auto;
  }
}

@media screen and (max-width: 1400px) {
  .approach__wrapper {
    padding-left: 100px;
  }
}
