.approach {
  background-color: #ff9c8e;
  border-bottom-left-radius: 200px;
  border-top-left-radius: 200px;
  padding: 204px 0 0 204px;
  margin-left: 121px;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &__description {
    max-width: 362px;
  }

  &__description-text-wrapper {
    display: flex;
    align-items: center;
  }

  &__description-icon {
    width: 64px;
    height: 64px;
    display: block;
    border-radius: 50%;
    background-color: white;
    margin-right: 34px;

    &::before {
      content: "";
      display: block;
      width: 64px;
      height: 64px;
      background-repeat: no-repeat;
      background-position: center;
    }

    &--1::before {
      background-image: url("../images/announcement speaker.svg");
    }

    &--2::before {
      background-image: url("../images/calendar.svg");
    }

    &--3::before {
      background-image: url("../images/document.svg");
    }
  }

  &__description-text {
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    mix-blend-mode: normal;
  }
}
