.aproach {
  max-width: 1600px;
  margin: 0 auto;

  &__clipped {
    position: relative;
    height: 976px;
    margin-left: 121px;

    border-radius: 200px 0 0 200px;
    background: $button-color-one;

    @media screen and (max-width: $middle-min-width) {
      & {
        height: auto;
        margin-left: 0;
        border-radius: 0;
      }
    }
  }

  &__info {
    padding-top: 204px;
    @media screen and (max-width: $middle-min-width) {
      & {
        padding-top: 20px;
      }
    }
  }

  &__sub-title {
    @include poppins-13px-bold;

    padding-left: 204px;
    padding-bottom: 16px;
    margin: 0;

    line-height: $standart-line-height;
    color: $white-color;
    letter-spacing: 3px;
    text-transform: uppercase;

    @media screen and (max-width: $middle-min-width) {
      & {
        @include padding-l-r-20;
      }
    }
  }

  &__title {
    @include poppins-32px;

    padding-left: 204px;
    padding-bottom: 32px;
    margin: 0;

    width: 362px;
    height: 96px;

    line-height: $standart-line-height;
    color: $white-color;

    @media screen and (max-width: $middle-min-width) {
      & {
        @include padding-l-r-20;
      }
    }
  }

  &__ul {
    margin: 0;
    padding-left: 204px;

    @media screen and (max-width: $middle-min-width) {
      & {
        @include padding-l-r-20;
      }
    }
  }

  &__li {
    @include open-sans-15px;

    width: 263px;
    height: 92px;

    padding-left: 94px;
    padding-bottom: 64px;

    line-height: $standart-line-height;
    color: $white-color;

    @media screen and (max-width: $small-width) {
      & {
        padding-left: 20px;
      }
    }
  }

  &__li--1 {
    list-style: none;
    background-image: url(../images/features/features-item-icon-1.svg);
    background-repeat: no-repeat;
    background-size: 64px;
    background-position: 0 14px;

    @media screen and (max-width: $small-width) {
      & {
        background-image: none;
      }
    }
  }

  &__li--2 {
    list-style: none;
    background-image: url(../images/features/features-item-icon-2.svg);
    background-repeat: no-repeat;
    background-size: 64px;
    background-position: 0 14px;

    @media screen and (max-width: $small-width) {
      & {
        background-image: none;
      }
    }
  }

  &__li--3 {
    list-style: none;
    background-image: url(../images/features/features-item-icon-3.svg);
    background-repeat: no-repeat;
    background-size: 64px;
    background-position: 0 14px;

    @media screen and (max-width: $small-width) {
      & {
        background-image: none;
      }
    }
  }

  &__image {
    position: absolute;

    bottom: 0;
    left: 793px;

    border-radius: 200px 0 0;

    @media screen and (max-width: $middle-min-width) {
      & {
        display: none;
      }
    }
  }
}
