.aproach {
  max-width: 1600px;
  margin: 0 auto;

  &__clipped {
    position: relative;
    height: 976px;
    margin-left: 121px;

    border-radius: 200px 0 0 200px;
    background: $button-color-one;
  }

  &__info {
    padding-top: 204px;
  }

  &__sub-title {
    @include poppins-13px-bold;

    padding-left: 204px;
    padding-bottom: 16px;
    margin: 0;

    line-height: $standart-line-height;
    color: $white-color;
    letter-spacing: 3px;
    text-transform: uppercase;
  }

  &__title {
    @include poppins-32px;

    padding-left: 204px;
    padding-bottom: 32px;
    margin: 0;

    width: 362px;
    height: 96px;

    line-height: $standart-line-height;
    color: $white-color;
  }

  &__ul {
    margin: 0;
    padding-left: 204px;
  }

  &__li {
    @include open-sans-15px;

    width: 263px;
    height: 92px;

    padding-left: 94px;
    padding-bottom: 64px;

    line-height: $standart-line-height;
    color: $white-color;
  }

  &__li--1 {
    list-style: none;
    background-image: url(../images/features/features-item-icon-1.svg);
    background-repeat: no-repeat;
    background-size: 64px;
    background-position: 0 14px;
  }

  &__li--2 {
    list-style: none;
    background-image: url(../images/features/features-item-icon-2.svg);
    background-repeat: no-repeat;
    background-size: 64px;
    background-position: 0 14px;
  }

  &__li--3 {
    list-style: none;
    background-image: url(../images/features/features-item-icon-3.svg);
    background-repeat: no-repeat;
    background-size: 64px;
    background-position: 0 14px;
  }

  &__pic {
    position: absolute;

    width: 43%;
    height: 680px;
    right: 0;
    bottom: 0;
    background-image: url(../images/features/features-img.jpg);
    background-repeat: no-repeat;
    border-radius: 200px 0 0;
    color: $white-color;
  }
}
