.background {
  &--main-color {
    background-color: $main-background-color;
  }

  &--second-color {
    background-color: $second-background-color;
  }

  &--approach {
    height: $approach-height;
  }
}
