.block {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  width: 240px;
  height: 256px;
  background: #fff;
  box-shadow: 16px 16px 16px rgba(0, 0, 0, 0.02);
  &_another {
    margin-top: 128px;
  }

  &__circle {
    position: absolute;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%,
    rgba(255, 255, 255, 0) 100%),
      linear-gradient(0deg, #56ccf2, #56ccf2),
      #c4c4c4;
    opacity: 0.1;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    top: 35px;
    left: 96px;
    &_two {
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%,
      rgba(255, 255, 255, 0) 100%),
        #fcc304;
      opacity: 0.1;
    }
    &_three {
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%,
      rgba(255, 255, 255, 0) 100%),
        linear-gradient(0deg, #03d542, #03d542),
        #c4c4c4;
      opacity: 0.1;
    }
    &_four {
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%,
      rgba(255, 255, 255, 0) 100%),
        #f25656;
      opacity: 0.1;
    }
  }
  &__number {
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #56ccf2;
    &_two {
      color: #fcc304;
    }
    &_three {
      color: green;
    }
    &_four {
      color: #f25656;
    }
  }
  &__text {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 150%;
    text-align: center;
    padding-bottom: 48px;
  }
}

.block__cards_one {
  box-sizing: border-box;
  width: 240px;
  display: block;
  margin-top: 336px;
  margin-left: 187px;
}

.block__cards_two {
  box-sizing: border-box;
  width: 240px;
  display: block;
  margin-top: 225px;
  margin-left: 58px;
}
