@import "variables";

.block-title {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 362px;

  &__icon {
    width: 21px;
    height: 21px;
    margin-right: 16px;

  }
  &__text {
    font-weight: 800;
    font-size: 16px;
    color: $color-gradient-1;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 19px 0;

    &--light {
      color: #fff;
    }
  }

  &__heading {
    font-size: 32px;
    line-height: 45px;
    color: #253757;
    font-weight: 900;
    margin: 5px 0;
  }
}
