.blue-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 800px;
  border-radius: 0 0 0 200px;
  padding: 48px 0 0 227px;
  background-color: $c-blue;
}
