.box {
  position: relative;
  box-sizing: border-box;
  width: 264px;
  height: 264px;
  padding: 32px;
  border-radius: 24px;
  background: white;
  box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);

  &:nth-child(odd) {
    top: 135px;
  }

  &__num {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 46px;
    height: 24px;
    margin-bottom: 24px;
    border-radius: 23px;
    background: rgba(86, 203, 242, 0.25);
    color: #56ccf2;

    &_yellow {
      background: rgba(252, 200, 29, 0.25);
      color: #fcc91d;
    }

    &_green {
      background: rgba(21, 216, 79, 0.25);
      color: #15d850;
    }

    &_red {
      background: rgba(243, 99, 99, 0.25);
      color: #f36363;
    }
  }

  &__text {
    margin-bottom: 32px;
  }

  &__label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 143px;
  }

  @media screen and (max-width: $breakpoint-grid-first) {
    &:nth-child(odd) {
      top: 0;
    }

    &:nth-child(even) {
      top: 135px;
    }
  }

  @media screen and (max-width: $breakpoint-grid-second) {
    &:nth-child(even) {
      top: 0;
    }
  }
}
