.boxCards {

  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, minmax(200px, 314px));
  justify-content: space-between;
  justify-items: center;

  @media screen and (max-width: 959px) {
    grid-template-columns: repeat(1, minmax(200px, 400px));
    justify-content: center;

  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

  }
}
