.button {
  padding: 13px 69px;

  border-radius: 64px;
  border: none;
  background-color: $carrot-color;

  font-size: 15px;
  color: $default-text-color;
  font-weight: 600;
  font-family: inherit;
  line-height: 22px;
  &--contact {
    width: 226px;
  }
  &:hover {
    box-shadow: 0 0 15px aqua, inset 0 1px 8px -2px #fff;
  }
}
