.btn {
  width: 226px;
  height: 56px;
  background-color: $orange-color;
  color: #fff;
  border-radius: 64px;
  transition: all 0.4s;
  border: none;
  @include font-bold;
  font-size: 15px;
  line-height: 22px;
  cursor: pointer;
  position: relative;

  &:hover {
    border: 2px solid $orange-color;
    background-color: #fff;
    color: $orange-color;
  }
}
