@import "utils";

.btn {
  border: none;
  border-radius: 64px;
  background: $light-accent;
  color: $main-light;
  line-height: 50px;
  padding: 0 70px;
  font-size: 15px;
  @include title-style;
  @include hover(background, 0.3s);

  &:hover,
  &:focus,
  &:active {
    outline: 0;
    box-shadow: 0 5px 0 0 $text-dark;
    background: $main-light;
    color: $accent;
  }
}
