.button {
  @extend %button-typography;
  color: $color-txt;
  background-color: #2060f6;
  border-radius: 8px;
  line-height: 22px;
  padding: 14px 70px;

  transition: 0.5s;

  &:hover {
    color: $color-txt;
    background-color: #2060f6;
    box-shadow: 0 5px 5px rgba(0,117,255,0.6);
    cursor: pointer;
  }
}
