.btn {
  display: block;
  text-align: center;
  margin: 0 auto;
  width: 226px;
  height: 56px;
  max-width: 410px;
  line-height: 56px;
  border-radius: 8px;
  border-width: 0;
  color: #fff;
  background-color: $button-color;
  box-shadow: 0 6px 23px rgba(0, 117, 255, 0.46);
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

  &:hover {
    background-color: rgb(26, 0, 172);
    box-shadow: 0 6px 23px rgba(26, 0, 172, 0.46);
  }
}
