.button-primary {
  width: $button-font-size * 15;
  background-color: $pink-background-color;
  border-radius: 64px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: $button-font-size;
  line-height: percentage(22px / 15px);
  color: $light-font-color;
  padding: $button-font-size;
}
