.button-arrow {
  position: relative;
  display: block;

  margin-right: 16px;

  width: 40px;
  height: 40px;

  border-radius: 50%;

  transition: transform $transition-duration;

  &::after {
    @include arrow(url(../images/process/arrow-right.svg),
    $process-arrow-size);
  }

  &--first {
    background-color: $number-color-first;
  }

  &--second {
    background-color: $number-color-second;
  }

  &--third {
    background-color: $number-color-third;
  }

  &--fourth {
    background-color: $number-color-fourth;
  }

  &:hover {
    transform: scale(1.2);
  }
}
