@import "./utils";

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 90px;
  box-sizing: border-box;

  color: #fff;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  background-color: $prime-color;
  border-radius: 64px;
  border: none;

  transition: background-color 0.35s;

  &--header {
    padding: 13px 69px;
  }

  &:hover {
    background-color: $prime-color-active;
  }
}
