.button {
  display: block;
  background: $accent-color;

  @include button-typography;
  line-height: 22px;
  color: #fff;

  border: none;
  border-radius: 8px;
  box-sizing: border-box;

  padding: 14px 70px;
  margin-top: 83px;

  cursor: pointer;
  @include button-transition-options;

  &:hover {
    background-color: $active-hover-color;
  }

  &:focus {
    outline: none;
  }
}
