@import "vars";

.carousel {
  position: absolute;
  right: 0;
  top: 120px;
  transition: top 1s, right 0.7s;

  @media screen and (max-width: 1100px) {
    top: 107px;
  }
  @media screen and (max-width: 970px) {
    right: calc((100vw - 687px) / 2);
  }
  @media screen and (max-width: 768px) {
    right: 5vw;
  }

  &__img {
    background-image: url("../images/slider/slider1.png");
    border-top-left-radius: 200px;
    width: 687px;
    height: 680px;
    transition: width 1s, height 1s, border-radius 1s;
    @media screen and (max-width: 1280px) {
      width: 600px;
      height: 680px;
    }
    @media screen and (max-width: 1100px) {
      width: 550px;
      height: 593px;
    }
    @media screen and (max-width: 970px) {
      width: 687px;
      border-radius: 100px;
    }
    @media screen and (max-width: 768px) {
      width: 90vw;
      height: 80vw;
      border-radius: 50px;
    }

  }

  &__control {
    position: absolute;
    left: 48px;
    bottom: 66px;
    transition: bottom 1s;
    @media screen and (max-width: 760px) {
      display: none;
    }
    &_left {
      background-image: url("../images/slider/Vectorarr_left.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 6px;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      outline: none;
      margin-right: 4px;
      border: none;
      &:hover {
        cursor: pointer;
      }
    }

    &_right {
      background-image: url("../images/slider/Vector.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 6px;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      outline: none;
      border: none;
      &:hover {
        cursor: pointer;
      }

    }
  }

  &__title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 250px;
    height: 68px;
    position: absolute;
    left: 144px;
    bottom: 48px;
    transition: width 1s, left 1s;
    @media screen and (max-width: 500px) {
      width: 70vw;
      left: 10vw;
    }

    &_heading {
      font-size: 13px;
      line-height: 19px;
      letter-spacing: 3px;
      text-transform: uppercase;
      @include important-font;
      color: white;
    }

    &_description {
      font-size: 14px;
      line-height: 140%;
      font-style: normal;
      font-weight: normal;
      color: white;
      @include regular-font;
    }
  }
}
