.card {
  width: 264px;
  height: 334px;
  text-align: center;
  margin: 0 calc(177px / 2);

  &__photo {
    border-radius: 30px;
    width: 184px;
    height: 166px;
  }

  &__heading {
    padding-top: 40px;
    font-weight: 600;
    font-family: $main-font, sans-serif;
    font-size: 20px;
    line-height: 28px;
    color: #253757;
  }

  &__parag {
    padding: 16px 0 155px;
    color: #6c788b;
    font-weight: 400;
    font-family: $text-font, sans-serif;
    font-size: 14px;
    line-height: 21px;
  }

  @media (max-width: 1000px) {
    margin: 30px;
  }
}
