
@import "./utils/vars";

.card3 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 314px;
  height: 494px;
  background-color: white;
  border-radius: 24px;

  &__photo {
    position: relative;
    margin: 87px;
    height: 140px;
    width: 140px;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    transition: transform 1s;
  }

  &__top-oval {
    position: absolute;
    top: 30px;
    left: 12%;
    width: 56px;
    height: 139px;
    border-radius: $card3-oval-border-radius;
    transform: rotate(30deg);
    transform-origin: 50% 100%;
    z-index: 0;
    transition: transform 1s;
  }

  &__bottom-oval {
    position: absolute;
    top: 150px;
    left: 70%;
    width: 56px;
    height: 139px;
    border-radius: $card3-oval-border-radius;
    transform: rotate(30deg);
    transform-origin: 50% 0;
    z-index: 0;
    transition: transform 1s;
  }

  &__quotes {
    width: 21px;
    height: 19px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: #{$blue-quotes-url};
  }

  &--blue {
    & .card3__photo {
      background-image: url(../images/testimonials/testimonial-ava-1.jpg);
    }

    & .card3__top-oval {
      background-color: $rectangle-color-1;
    }

    & .card3__bottom-oval {
      background-color: $rectangle-color-1;
    }
  }

  &--yellow {
    & .card3__photo {
      background-image: url(../images/testimonials/testimonial-ava-2.jpg);
    }

    & .card3__top-oval {
      background-color: $rectangle-color-2;
    }

    & .card3__bottom-oval {
      background-color: $rectangle-color-2;
    }

    & .card3__quotes {
      background-image: $yellow-quotes-url;
    }
  }

  &--red {
    & .card3__photo {
      background-image: url(../images/testimonials/testimonial-ava-3.jpg);
    }

    & .card3__top-oval {
      background-color: $rectangle-color-3;
    }

    & .card3__bottom-oval {
      background-color: $rectangle-color-3;
    }

    & .card3__quotes {
      background-image: $red-quotes-url;
    }
  }

  &:hover .card3__photo {
    transform: scale(1.4);
  }

  &__text {
    font-family: "Open sans", sans-serif;
    font-weight: 600;
    font-size: 13px;
    line-height: 1.5em;
    color: $text-grey;
    margin: 10px 32px 0;
    text-align: center;
  }

  &__name {
    font-family: "Open sans", sans-serif;
    font-size: 13px;
    font-weight: 600;
    line-height: 1.5em;
    color: $title-grey;
    margin-top: 16px;
  }

  &__company {
    font-family: Poppins, sans-serif;
    font-weight: bold;
    font-size: 13px;
    line-height: 19px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: $light-grey;
    margin-top: 4px;

  }

  &:hover .card3__top-oval,
  &:hover .card3__bottom-oval {
    transform: rotate(0deg);
  }
}
