.card-square {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-color: #fff;
  padding: 32px;
  box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
  border-radius: 16px;

  &--move-down {
    transform: translateY(132px);

    @media (max-width: 1199px) {
      transform: none;
    }
  }

  &__number {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 46px;
    height: 24px;
    background-color: rgba(32, 96, 246, 0.1);
    border-radius: 23px;
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 13px;
    line-height: 19px;
    text-transform: uppercase;
    color: #2060f6;

  }

  &__text {
    margin: 26px 0 32px;
    max-width: 200px;

    font-family: Open Sans, sans-serif;
    font-weight: 600;
    font-size: 13px;
    line-height: 150%;
    color: $c-text;
  }

  &__button {
    display: flex;
    align-items: center;
    column-gap: 16px;
  }

  &__link-round {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #2060f6;
    transition: transform 1s;

    &:hover {
      transform: scale(1.2);
    }
  }

  &__image {
    display: block;
  }

  &__link {
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    color: #334563;
    cursor: pointer;
  }
}
