.card-person {
  padding: 100px 31px 60px;
  --color-card: grey;
  position: relative;
  box-sizing: border-box;
  background-color: #fefefe;
  box-shadow: 16px 16px 32px rgba(0, 0, 0, 0.05);

  &--blue {
    --color-card: #56ccf2;
  }

  &--yellow {
    --color-card: #fcc304;
  }

  &--red {
    --color-card: #f25656;
  }

  &::before {
    content: "";
    display: block;
    width: 64px;
    height: 162px;
    border-radius: 32px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%,
    rgba(255, 255, 255, 0) 100%),
      var(--color-card);
    position: absolute;
    z-index: 0;
    top: 60px;
    left: 50%;
    transform: rotate(25deg) translate(-50%, 0);
  }

  &__photo-frame {
    height: 132px;
    width: 70px;
    border-radius: 35px;
    margin: 0 auto 9px;
    transform: rotate(-25deg);
    overflow: hidden;
  }

  &__photo {
    height: 100%;
    width: 132px;
    object-fit: cover;
    position: relative;
    left: -50%;
    transform: rotate(25deg);
  }

  &__citation {
    font-size: 14px;
    font-weight: normal;
    font-style: italic;
    line-height: 150%;
    color: $c-text-black;
    margin: 0 0 31px;
    text-align: center;
    letter-spacing: unset;
  }

  &__citation::after {
    content: "";
    display: block;
    height: 2px;
    width: 64px;
    background-color: var(--color-card);
    margin: 31px auto;
  }

  &__name {
    font-size: 12.6px;
    font-weight: bold;
    line-height: 150%;
    text-align: center;
    color: #152032;
  }

  &__position {
    font-size: 12.6px;
    font-weight: 800;
    line-height: 150%;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    color: var(--color-card);
  }
}
