@import "vars";

.cards {
  max-width: 1146px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  @media screen and (max-width: 600px) {
    flex-direction: column;
    justify-content: center;
  }
  &__1 {
    display: inline-block;
    text-align: center;
    &_img {
      background-image: url("../images/what-we-do/image 1.png");
      @include card-size;
    }
    &_title {
      margin: 40px 0 16px;
      @include important-font;
      color: $c-black;
      font-size: 20px;
      line-height: 140%;
    }
    &_description {
      display: inline-block;
      @include regular-font;
      font-size: 14px;
      line-height: 150%;
      max-width: 265px;
      padding: 0 15px;
      margin-bottom: 60px;
    }
  }

  &__2 {
    display: inline-block;
    text-align: center;
    &_img {
      background-image: url("../images/what-we-do/image 2.png");
      @include card-size;
    }
    &_title {
      margin: 40px 0 16px;
      @include important-font;
      color: $c-black;
      font-size: 20px;
      line-height: 140%;
    }
    &_description {
      @include regular-font;
      font-size: 14px;
      line-height: 150%;
      max-width: 265px;
      padding: 0 15px;
      display: inline-block;
      margin-bottom: 60px;
    }
  }

  &__3 {
    display: inline-block;
    text-align: center;
    &_img {
      background-image: url("../images/what-we-do/image 3.png");
      @include card-size;
    }
    &_title {
      margin: 40px 0 16px;
      @include important-font;
      color: $c-black;
      font-size: 20px;
      line-height: 140%;
    }
    &_description {
      @include regular-font;
      font-size: 14px;
      line-height: 150%;
      max-width: 265px;
      padding: 0 15px;
      display: inline-block;
    }
  }
}
