.card {
  height: 355px;
  width: 264px;
  margin-bottom: 134px;

  &__img {
    display: block;
    margin: 0 auto 40px;
    border-radius: 25px;
  }

  &__description {
    margin-bottom: 16px;

    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;

    text-align: center;
    color: $main-subtitle;
  }

  &__text {
    font-family: $font-opens;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;

    text-align: center;

    color: $main-text;
  }
}

@media screen and (max-width: 900px) {
  .card {
    margin-bottom: 5vh;
  }
}
