@import "utils";

.card {
  position: relative;
  z-index: 1;

  height: 264px;
  padding: 32px;

  background-color: $header-highlite-color;
  border-radius: 24px;

  transition: transform $transition-duration;

  &:nth-child(odd) {
    top: 130px;
  }

  &__number {
    margin: 0 0 26px 12px;

    font-weight: 600;
    font-size: 13px;
  }

  &__number--first {
    color: $number-color-first;
  }

  &__number--second {
    color: $number-color-second;
  }

  &__number--third {
    color: $number-color-third;
  }

  &__number--fourth {
    color: $number-color-fourth;
  }

  &__text {
    height: 80px;
    max-width: 165px;

    font-size: 13px;
    font-weight: 600;

    margin-bottom: 23px;

    color: $text-color;
  }

  &__links {
    display: flex;
    align-items: center;
  }

  &__link {
    display: block;

    font-weight: 600;
    font-size: 15px;

    color: $process-link-color;
  }

  @media screen and (max-width: 730px) {
    &:nth-child(odd) {
      top: 0;
    }
  }
}
