@import "utils";

.centred-block {
  max-width: 750px;
  margin: auto;
  padding: 150px $frameXTablet;
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;

  @media screen and (max-width: $maxMobileWidth) {
    padding: ($frameXMobile * 3) $frameXMobile;
    font-size: $unit;
  }
}
