.client {
  position: relative;
  margin-top: 85px;
  display: flex;
  flex-direction: column;
  width: 314px;
  height: 494px;
  align-items: center;
  background-color: white;
  box-shadow: 13px 13px 32px #b6b3b6;
  border-radius: 15px;
  text-align: center;
  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: scale(1.1);
    cursor: pointer;
  }

 

  &__photo {
    display: flex;
    position: relative;
    justify-content: center;
  }

  &__image {
    position: absolute;
    top: calc(50% + 100px);
    width: 140px;
    height: 140px;
    border-radius: 50%;
    overflow: visible;
  }

  &__decor {

    &::before {
      position: absolute;
      top: 95px;
      left: 40px;
      content: "";
      width: 139px;
      height: 56px;
      display: block;
      background-color: #56ccf2;
      border-radius: 30px;
      transform: rotate(-60deg);
      
    }

    &::after {
      position: absolute;
      top: 190px;
      right: 40px;
      content: "";
      width: 139px;
      height: 56px;
      display: block;
      background-color: #56ccf2;
      border-radius: 30px;
      transform: rotate(-60deg);
    }
    
  }

  &__quotes {
    background-image: url("../images/testimonials/“.png");
    background-repeat: no-repeat;
    position: absolute;
    width: 20.58px;
    height: 18.48px;
    top: calc(50% + 82px);
  }

  &__text {
    position: absolute;
    padding-top: calc(50% + 195px);
    font-family: $text-font, sans-serif;
    font-weight: 600;
    font-size: 13px;
    line-height: 19.5px;
    color: #6c788b;
  }

  &__name {
    position: absolute;
    top: calc(50% + 180px);
    font-family: $text-font, sans-serif;
    font-weight: 600;
    font-size: 13px;
    line-height: 19.5px;
    color: #253757;
  }

  &__position {
    position: absolute;
    top: calc(50% + 200px);
    font-weight: 700;
    color: #c0cdd7;
  }

  @media (max-width: 375px) {
    &:hover {
      transform: none;
      cursor: pointer;
    }
  }
}
