.clients {
  &__container {
    margin: 0 auto 150px;
    padding: 20px;
    max-width: 1200px;

    @include small-screen(900px, margin-bottom, 50px);
  }

  &__title {
    @extend %small-heading;
    color: $text-color-pale;
  }

  &__heading {
    margin-bottom: 80px;
  }

  &__client-cards {
    display: flex;
    justify-content: space-between;

    @include small-screen(900px, flex-direction, column);
    @include small-screen(900px, align-items, center);
  }
}
