html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: $bg-color;
  overflow-x: hidden;
}

.section-wrapper {
  @include section-wraper;
}

.subsection-title {
  @include subsection-title;
}

.section-title {
  @include section-title;
}

.button {
  @include button;
}
