.commun {
  display: flex;
  justify-content: space-between;
  max-width: $content-max;
  margin: 0 auto;

  &__form {
    width: 500px;
  }

  &__heading {
    margin-bottom: 104px;
  }

  &__input {
    display: block;
    width: 100%;
    margin-top: 48px;
    padding: 18px;
    box-sizing: border-box;
    font-size: 14.4px;
    font-weight: bold;
    color: #152032;
    border: none;
    outline: none;
    border-bottom: 1px solid #e1e1e1;
    background-color: #fcfcfc;

    &::placeholder {
      font-size: 14.4px;
      font-weight: bold;
      color: #152032;
    }
  }

  &__button {
    margin-top: 105px;
    padding: 16px 92px;
    font-weight: bold;
    color: white;
    border-radius: 28px;
    background-color: #2f80ed;
    @include hover(box-shadow, 0 0 6px $blue);
  }

  &__contacts {
    max-width: 362px;
    margin-left: 15px;
  }

  &__p {
    margin-top: 42px;
    font-size: 12.6px;
    font-weight: 800;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #334563;
  }

  &__link {
    font-size: 24px;
    font-weight: 900;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: $blue;
  }

  &__soc {
    margin-top: 53px;
  }
}

@media screen and (max-width: 999px) {
  .commun {
    flex-direction: column;
    align-items: center;

    &__form {
      width: 100%;
      text-align: center;
    }

    &__heading {
      margin-bottom: 40px;
    }

    &__input {
      margin-top: 30px;
    }

    &__button {
      margin-top: 40px;
    }

    &__contacts {
      max-width: 500px;
      margin-top: 90px;
      margin-left: 0;
      text-align: center;
    }

    &__soc {
      margin-left: auto;
      margin-right: auto;
    }
  }
}
