.contacts {
  @media (max-width: 1199px) {
    text-align: center;
  }

  &__title {
    @include title-medium;
    padding-bottom: 56px;

    @media (max-width: 1199px) {
      padding-bottom: 20px;
      margin: auto;
    }

    @media (max-width: 650px) {
      width: 280px;
    }
  }

  &__link {
    display: inline-block;
    @include text;
    color: #fff;
    padding: 8px 0 48px;
    transition: 0.5s;

    &:hover {
      color: #03b4e0;
    }
  }

  &__props {
    @include text-intro;
    color: #fff;
    opacity: 0.5;
  }

  &__list {
    display: flex;
    align-items: center;
    gap: 40px;

    @media (max-width: 1199px) {
      justify-content: center;
    }
  }

  &__item {
    display: inline-block;
    padding: 20px 0;
    transition: transform 1s, filter 0.5s;

    &:hover {
      transform: scale(1.2);
      filter: brightness(0.4) sepia(1) hue-rotate(180deg) saturate(9);
    }
  }
}
