.container {
  // height: 800px;
  max-width: 1220px;
  padding-top: 49px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 1921px) {
    position: relative;
  }

  @media screen and (min-width: 960px) and (max-width: 1220px) {
    max-width: 900px;
    padding-left: 30px;
    padding-right: 30px;
    position: static;
  }

  @media screen and (min-width: 541px) and (max-width: 959px) {
    max-width: 800px;
    height: 100%;
    padding-left: 30px;
    padding-right: 30px;
    position: static;
  }

  @media screen and (max-width: 540px) {
    max-width: 600px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
  }

}
