@import "footer";

.contact-us {
  @include block_center;
  position: relative;
  max-width: $max-width;
  height: 1755px;
  padding-top: 200px;
  background-color: $c-white;

  &__description {
    @include block_center;
    position: relative;
    width: 715px;
  }

  &__heading {
    @include font-secondary(600, 52px, 1.5em, $c-grey);
    margin-bottom: 24px;
    text-align: center;
  }

  &__slogan {
    @include font-secondary(600, 24px, 1.5em, $c-light-grey);
    text-align: center;
    margin-bottom: 64px;
  }

  &__button {
    @include block_center;
    background-color: $c-orange;
    @include font-secondary(600, 15px, 1.5em, $c-white);
    margin-bottom: 200px;
  }
  &__bottom {
    position: relative;
    overflow: hidden;
    width: inherit;
    height: 867px;
    padding: 180px $primary-gap 0;
    background-color: $c-blue;
    border-top-right-radius: $big-border-radius;
  }
}
