@import "footer";
@import "contact";
@import "rectangle";

.contact-us {
  @include block_center;
  margin-bottom: 0;
  position: relative;
  max-width: $max-width;
  // height: 1755px;
  padding-top: 200px;
  background-color: $c-white;

  &__logo {
    position: absolute;
    bottom: $top-gap;
    left: $primary-gap;
    width: $w-logo;
    height: $h-logo;
    z-index: 1;
  }

  &__top {
    position: relative;
  }

  &__description {
    @include block_center;
    position: relative;
    width: 715px;
  }

  &__heading {
    @include font-secondary(600, 52px, 1.5em, $c-grey);
    margin-bottom: 24px;
    text-align: center;
  }

  &__slogan {
    @include font-secondary(600, 24px, 1.5em, $c-light-grey);
    text-align: center;
    margin-bottom: 64px;
  }

  &__button {
    @include block_center;
    background-color: $c-orange;
    @include font-secondary(600, 15px, 1.5em, $c-white);
    margin-bottom: 200px;
  }
  &__bottom {
    position: relative;
    overflow: hidden;
    width: inherit;
    padding: 180px $primary-gap;
    background-color: $c-blue;
    border-top-right-radius: $big-border-radius;
  }

  &__nav {
    position: absolute;
    background-color: $c-blue;
    right: $primary-gap;
    bottom: 50px;
    width: 55vw;
    max-width: 1000px;
    justify-content: flex-end;
  }
}

@media screen and (max-width: 1350px) {
  .contact-us {
    &__logo {
      @include size_1350(left);
    }
    &__bottom {
      @include size_1350(padding-left);
      @include size_1350(padding-right);
    }
    &__nav {
      @include size_1350(right);
      width: 100%;
    }
  }
}

@media screen and (max-width: 959px) {
  .contact-us {
    padding-top: 0;
    &__top {
      display: none;
    }

    &__bottom {
      border-top-right-radius: 100px;
      padding-left: 10px;
      padding-right: 10px;
    }

    &__description,
    &__nav {
      display: none;
    }

    &__logo {
      left: 10px;
      bottom: 10px;
    }
  }
}
