.contact {
  &__heading {
    font-family: $main-font;
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    align-items: center;
    color: $main-color;
    margin-top: 180px;
    margin-right: 508px;
    width: 179px;
    margin-bottom: 36px;
  }

  &__action {
    font-family: $main-font;
    font-weight: bold;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: $main-color;
    opacity: 0.5;
    margin-bottom: 8px;
  }

  &__text {
    font-family: $text-font;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: $main-color;
    margin-bottom: 30px;
  }

  &__link {
    text-decoration: none;
    color: $main-color;
    padding: 7px 0;

    &:hover {
      text-shadow: 3px 3px #000;
      color: $accent-color;
      border-bottom: 4px solid #2060f6;
    }
  }

  &__icon {
    margin-right: 45px;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__icon-link {
    text-decoration: none;
  }
}

@media screen and (max-width: $medium-screen-breakpoint) {
  .contact {
    display: block;
    margin: auto;
    width: 250px;
    margin-top: -200px;

    &__heading {
      font-size: 24px;
    }

    &__action {
      font-size: 12px;
    }

    &__text {
      font-size: 15px;
    }
  }
}
