.container {
  display: grid;
  grid-template-columns: 264px 264px;
  gap: 30px 30px;
  justify-content: center;

  @media screen and (max-width: $breakpoint-grid-big) {
    margin-bottom: -80px;
  }

  @media screen and (max-width: $breakpoint-grid-small) {
    grid-template-columns: 264px;
    margin-bottom: 0;
  }
}
