@import "vars";

.consultation {
  background-color: white;

  &__container {
    display: flex;
    justify-content: space-between;
    width: 1236px;
    margin: auto;
    padding: 104px 45px;
    box-sizing: border-box;
  }

  &__form {
    width: 650px;
  }
}

@media (max-width: 1200px) {
  .consultation {
    &__container {
      width: 100%;
    }

    &__form {
      width: 450px;
    }
  }
}

@media (max-width: $mediumScreenBP) {
  .consultation {

    &__container {
      flex-direction: column;
      width: 100%;
      align-items: center;
    }

    &__form {
      width: 310px;
    }
  }
}
