.contact {
  &__container {
    max-width: 1600px;
    margin: 0 auto;
    padding-bottom: 53px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 1020px) {
      flex-direction: column;
      padding-bottom: 0;
    }
  }

  &__send {
    width: 41%;
    margin-left: 14%;

    @media screen and (max-width: 1020px) {
      width: auto;
      margin: 0 10% 100px;
    }
  }

  &__contact-us {
    width: 23%;
    margin-right: 14%;

    @media screen and (max-width: 1020px) {
      width: auto;
      margin: 0 10% 50px;
    }

    @media screen and (max-width: 500px) {
      width: auto;
      margin: 0 5%;
    }
  }

  &__title-send {
    margin-bottom: 86px;
  }

  &__title-contact-us {
    margin-bottom: 19px;
  }

  &__send-form {
    width: 100%;
  }

  &__emphasis {
    font-size: 32px;
    font-weight: 900;
    line-height: 140%;
    color: $c-text-black;
    margin-bottom: 43px;
  }
}
