@import "utils";
@import "utils/vars";

.content {

  &__block {
    padding: 115px 0;
  }

  &__block-white {
    background-color: #fff;
    padding: 90px 0 134px;
  }

  &__welcome {
    margin: auto;
    display: block;
    width: 754px;
  }

  &__head-type1 {
    @include heading;
    @include head-type1;
    margin-bottom: 16px;
  }

  &__text-type1 {
    @include text-type1;
  }

  &__head-type2 {
    @include heading;
    @include head-type2;
    margin-bottom: 16px;

    &-mb {
      margin-bottom: 77px;
    }
  }

}
