.contacts {
  padding: 180px 25px 25px;

  background-color: $highlight-color-cold;
  border-radius: 0 150px 0 0;
  &__container {
    display: flex;
    justify-content: space-between;

    max-width: 1200px;
    margin: 0 auto;
  }

  &__form {
    display: flex;
    flex-direction: column;
  }
  &__input {
    padding: 16px;
    width: $contacts-input-length;

    font-weight: 600;
    font-size: 15px;
    line-height: 22px;

    background: none;

    color: $text-color-light;

    border-bottom: $text-color-light 2px solid;

    &:last-of-type {
      margin-bottom: 80px;
    }
  }
  &__button {
    @extend %button;
    height: 56px;
  }

  &__heading {
    color: $text-color-light;
    margin-bottom: 55px;
  }
}
