.contact-us {
  max-width: 1600px;
  background-color: $dark-color;
  border-radius: 20px 20px 0 0;

  &__wrapper {
    padding: 180px 227px 212px;
    display: flex;
    justify-content: space-between;
  }

  &__heading,
  &__information-heading {
    @include font-poppins(32px, 600, 150%, #fff);
  }

  &__heading {
    width: 325px;
  }

  &__information-heading {
    width: 179px;
  }

  &__form {
    display: flex;
    flex-direction: column;

    & input {
      max-width: 460px;
      margin-bottom: 48px;
      height: 41px;
      background-color: $dark-color;
      border: 0;
      border-bottom: 1px solid #fff;
      color: #fff;
      @include font-poppins(15px, 600, 22px, #fff);
      padding-left: 5px;
      opacity: 0.9;
      transition: 0.3s;

      &:focus {
        outline: 0;
        border-bottom: 1px solid $active-color;
        opacity: 1;
      }
    }
    
    & input::placeholder{
      color: #fff;
    }

    & input:focus {
      opacity: 1;
    }
    
    &-button {
      @include font-poppins(15px, normal, 22px, #fff);
      text-align: center;
      background-color: $active-color;
      border-radius: 8px;
      width: 226px;
      height: 50px;
      border: 0;
      transition: 0.3s;
  
      &:hover {
        background-color: #fff;
        color: $active-color;
        cursor: pointer;
      }
    }
  }

  &__text {
    @include font-poppins(13px, bold, 19px, #fff);
    letter-spacing: 3px;
    text-transform: uppercase;
    opacity: 0.5;
  }

  &__phone,
  &__address {
    @include font-open-sans(24px, 400, 150%, #fff);
    margin-bottom: 48px;
  }

  &__socials a {
    margin-right: 32px;
    text-decoration: none;
  }
}

.facebook,
.twitter,
.instagram {
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  transition: 0.3s;
}

.facebook {
  background-image: url("../images/contact-us/facebook.svg");

  &:hover {
    background-image: url("../images/contact-us/facebook-active.svg");
  }
}

.twitter {
  background-image: url("../images/contact-us/twitter.svg");

  &:hover {
    background-image: url("../images/contact-us/twitter-active.svg");
  }
}

.instagram {
  background-image: url("../images/contact-us/instagram.svg");
  width: 32px;
  height: 32px;

  &:hover {
    background-image: url("../images/contact-us/instagram-active.svg");
  }
}

.footer__nav {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 227px 80px;
}

@media (max-width: 800px) {
  .footer__nav {
    display: none;
  }

  .contact-us {
    &__wrapper {
      padding: 100px;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    &__form-button {
      width: 100%;
    }

    &__text,
    &__phone,
    &__address,
    &__socials,
    &__information-heading {
      width: 100%;
      text-align: center;
    }
  }
}

@media (max-width: 400px) {
  .contact-us {
    &__form-wrapper {
      margin: 0 10px;
      box-sizing: border-box;
    }

    &__heading {
      text-align: center;
    }
    
    &__form input,
    &__form-button,
    &__heading {
      width: 310px;
    }
  }
}