@import "configuration";

html,
body,
header,
main,
footer,
ul,
li,
button,
input,
textarea,
h1,
h2,
h3,
h4,
h5,
h6,
address {
  margin: 0;
  padding: 0;
  font-family: $secondFontStyle;
  font-style: 700;
  font-size: 24px;
  line-height: 36px;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

textarea {
  resize: none;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
}

html {
  overflow-x: hidden;
}

body {
  background: #e5e5e5;
}
