
@import "./utils/vars";

.deco-oval {
  height: 143px;
  width: 56px;
  border-radius: 500px;
  border: 3px solid;
  transform: rotate(25deg);

  &--color1 {
    border-color: $deco-oval-1;
  }

  &--color2 {
    border-color: $deco-oval-2;
  }

  &--color3 {
    border-color: $deco-oval-3;
  }

  &--color4 {
    border-color: $deco-oval-4;
  }

  &--color5 {
    border-color: $deco-oval-5;
  }

  &--size1 {
    transform: scale(1) rotate(25deg);
  }

  &--size2 {
    transform: scale(0.65) rotate(25deg);
  }

  &--size3 {
    transform: scale(0.47) rotate(25deg);
  }

  &--size4 {
    transform: scale(0.31) rotate(25deg);
  }
}
