.decor {
  &__small {
    position: absolute;
    width: 45.3px;
    height: 18px;
    border: 3px solid #2030f6;
    opacity: 0.5;
    box-sizing: border-box;
    border-radius: 6px;
    transform: rotate(-65.1deg);

    &:nth-of-type(1) {
      top: 10%;
      left: 25%;
    }

    &:nth-of-type(2) {
      top: 15%;
      right: 10%;
    }

    &:nth-of-type(3) {
      top: 55%;
      left: 30%;
    }

    &:nth-of-type(4) {
      top: 63%;
      right: 35%;
    }
  }

  &__medium {
    position: absolute;
    width: 93.5px;
    height: 37px;
    border: 5px solid #2030f6;
    opacity: 0.5;
    box-sizing: border-box;
    border-radius: 12px;
    transform: rotate(-65.1deg);

    &:nth-of-type(5) {
      top: 15%;
      left: 10%;
    }

    &:nth-of-type(6) {
      top: 60%;
      left: 4%;
    }

    &:nth-of-type(7) {
      top: 40%;
      right: 4%;
    }

    &:nth-of-type(8) {
      top: 15%;
      right: 30%;
    }

    &:nth-of-type(9) {
      top: 70%;
      right: 50%;
    }
  }

  &__big {
    position: absolute;
    width: 143px;
    height: 56.5px;
    border: 5px solid #2030f6;
    opacity: 0.5;
    box-sizing: border-box;
    border-radius: 12px;
    transform: rotate(-65.1deg);

    &:nth-of-type(10) {
      top: 35%;
      left: 13%;
    }

    &:nth-of-type(11) {
      top: 30%;
      right: 15%;
    }

    &:nth-of-type(12) {
      top: 60%;
      right: 13%;
    }
  }
}

@media screen and (max-width: $max-screen) {
  .decor {
    display: none;
  }
}
