.description {
  margin-top: 150px;
  margin-bottom: 100px;

  &__list {
    display: flex;
    justify-content: center;
  }

  &__heading {
    font-weight: 900;
    font-size: 48px;
    line-height: 100%;
    color: #253757;
    transform: translateY(-30px);
    width: 295px;
    margin: 70px auto;
  }

  &__description-item {
    margin-right: 100px;

    &:last-child {
      margin-right: 0;
    }
  }
}

@media (max-width: $medium-screen) {
  .description {
    &__list {
      flex-direction: column;
      align-items: center;
    }

    &__description-item {
      margin: 50px 0 auto;
    }
  }
}
