.description-item {
  width: 265px;

  &__image {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    margin-bottom: 64px;
  }

  &__heading {
    font-weight: 900;
    font-size: 19.6px;
    line-height: 140%;
    margin-bottom: 32px;
  }

  &__text {
    font-size: 16px;
    line-height: 150%;
    color: #334563;
  }
}

@media (max-width: $medium-screen) {
  .description-item {
    margin-left: 50px;
  }
}

@media (max-width: $small-screen) {
  .description-item {
    &__image {
      margin-bottom: 32px;
    }

    &__heading {
      margin-bottom: 16px;
    }
  }
}
