.description {
  &__headline {
    font-weight: 600;
    font-size: 64px;
    line-height: 68px;
    letter-spacing: -2px;

    margin-bottom: 28px;
  }

  &__text {
    margin-bottom: 83px;

    font-size: 18px;
  }
}
