.nav {
  list-style: none;
  padding-left: 0;
  @include mobile(display, none);

  &__item {
    display: inline-block;

    & + .nav__item {
      margin-left: 3rem;
      @include desktop(margin-left, 16px);
    }
  }
}

.logo {
  background: url("../images/logo/dia-logo.svg") center no-repeat;
  background-size: cover;
  height: 26px;
  width: 45px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 226px;
  height: 56px;
  border-radius: 64px;
  background: $c-orange;
  cursor: pointer;
  box-shadow: none;
  border: none;
  outline: none;
  @include hover(background, $c-button-hover);
  @extend .link;
}

.label {
  display: none;
}

.input {
  background: $c-background-blue;
  border: 0;
  outline: none;
  position: relative;
  margin-bottom: 33px;
  border-bottom: 1px solid $c-white;
  padding: 16px;
  color: $c-white;
  box-sizing: content-box;

  &:focus {
    border-bottom: 2px solid $c-white;
    margin-bottom: 32px;
  }

  &::placeholder {
    color: #80c4ff;
  }
}

.hamburger {
  outline: none;
  transform: translateX(15px) translateY(-15px);
}
