.epigraph {
  margin-top: 168px;

  width: 490px;
  &__title {
    font-size: 64px;
    line-height: 68px;
    letter-spacing: -2px;
    color: $default-text-color;

    margin-bottom: 32px;
  }
  &__text {
    font-size: 18px;
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    color: $default-text-color;
    line-height: 150%;

    margin-bottom: 56px;
  }
}
