@import "utils";

.experience {
  min-height: 759px;

  padding: 128px 50px;

  background-color: $header-highlite-color;

  &__headline {
    text-align: center;
    margin-bottom: 64px;

    font-size: 52px;
    color: $headline-color;
  }

  &__skills {
    display: grid;
    gap: 177px;
    grid-template-columns: repeat(auto-fit, 264px);
    justify-content: center;
  }

  @media screen and (max-width: 860px) {
    padding: 50px;

    &__headline {
      font-size: 36px;
    }

    &__skills {
      gap: 50px;
    }
  }
}
