@import "utils/vars";

.expertice {
  padding: 128px 0 134px;
  background-color: #fff;

  &__heading {
    text-align: center;
    font-weight: 600;
    font-size: 52px;
    margin-bottom: 64px;
    color: #253757;
  }

  &__content {
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (max-width: $medium-screen-brakepoint) {
  .expertice {
    padding: 40px 0;
    &__content {
      flex-wrap: wrap;
      justify-content: space-around;
    }

    &__item {
      margin-bottom: 40px;
    }

    &__heading {
      font-size: 36px;
      margin-bottom: 24px;
    }
  }
}

// @media screen and (max-width: $small-screen-brakepoint) {
//   .expertice {
//     padding: 20px 0;
//   }
// }
