.expertise {
  padding: 128px 0 134px;
  background-color: #fff;

  @media screen and (max-width: $breakpoint-large) {
    padding: 68px 0 74px;
  }

  @media screen and (max-width: $breakpoint-medium) {
    padding: 48px 0 54px;
  }

  @media screen and (max-width: $breakpoint-small) {
    padding: 38px 0 44px;
  }

  &__heading {
    text-align: center;
  }

  &__grid {
    display: flex;
    justify-content: space-between;
    margin-top: 64px;
    text-align: center;

    @media screen and (max-width: $breakpoint-large) {
      margin-top: 44px;
    }

    @media screen and (max-width: $breakpoint-medium) {
      flex-wrap: wrap;
      justify-content: space-around;
    }

    @media screen and (max-width: $breakpoint-small) {
      flex-direction: column;
      align-items: center;
      margin-top: 28px;
    }
  }

  &__photo {
    width: 166px;
    height: 166px;
    overflow: hidden;
    margin: 0 auto;
    border-radius: 20px;
    transition: transform 0.2s;
  }

  &__card {
    width: 264px;
    cursor: pointer;

    &:hover {
      .expertise__photo {
        transform: scale(1.1);
      }
    }

    @media screen and (max-width: $breakpoint-large) {
      width: 244px;
    }

    @media screen and (max-width: $breakpoint-medium) {
      margin-bottom: 40px;
    }

    @media screen and (max-width: $breakpoint-small) {
      width: 280px;
    }
  }

  &__img {
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  &__name {
    margin-top: 40px;
    font-size: 20px;
    line-height: 1.4;
    color: $heading-color;

    @media screen and (max-width: $breakpoint-large) {
      margin-top: 25px;
    }

    @media screen and (max-width: $breakpoint-small) {
      margin-top: 16px;
    }
  }

  &__paragraph {
    margin-top: 16px;

    @media screen and (max-width: $breakpoint-medium) {
      padding: 0 5px;
    }

    @media screen and (max-width: $breakpoint-small) {
      padding: 0;
      margin-top: 8px;
    }
  }
}
