.experties {
  padding: 128px 0;
  background-color: $white;
  border-radius: 30px;
  &__title {
    @include titels-text;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 52px;
    line-height: 150%;
    margin-bottom: 64px;
  }
}

.servises {
  display: flex;
  margin: auto;
  max-width: $content-max-width;
  justify-content: space-between;
}

@media (max-width:1200px) {
  .servises {
    transition-duration: $hover-duration;
    max-width: 80%;
  }
}

@media (max-width:1024px) {
  .experties {
    transition-duration: 0.5s;
    padding: 40px 10px;
  }
  .servises {
    transition-duration: $hover-duration;
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
    &__service {
      transition-duration: $hover-duration;
      margin: 20px;
    }
  }
}

@media (max-width:750px) {
  .experties {
    &__title {
      transition-duration: 0.5s;
      margin-bottom: 30px;
      font-size: 32px;
    }
  }
}
