.experties {
  height: 759px;
  background-color: $white;
  border-radius: 30px;
  &__title {
    @include titels-text;
    height: 206px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 52px;
    line-height: 150%;
    margin-bottom: 64px;
  }
}

.servises {
  display: flex;
  margin: auto;
  max-width: $content-max-width;
  justify-content: space-between;
}
