.expertise {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  gap: 56px;
  align-items: center;
  padding-top: 72px;
  padding-bottom: 72px;
  background-color: $white-color;
  border-radius: $border-radius;
  @include page-padding;

  &__title {
    max-width: 264px;
    font-family: $font-title;
    text-align: center;
    font-size: $font-size-medium-l;
    font-weight: $weight-bold;
    line-height: 120%;
    color: $text-color-dark;
  }

  &__items {
    display: flex;
    flex-direction: column;
    gap: 56px;

    @media (min-width: $desktop) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  &__picture {
    display: block;
    object-fit: cover;
    width: 166px;
    height: 166px;
    border-radius: 16px;
  }

  &__item-title {
    margin-top: 32px;
    font-family: $font-title;
    font-size: $font-size-medium-small;
    font-weight: $weight-bold;
    color: $text-color-dark;
    line-height: 140%;
  }

  &__item-text {
    margin-top: 16px;
    font-size: $font-size-tiny-l;
    font-weight: $weight-small;
    text-align: center;
    line-height: 150%;
    color: $text-color-light;
  }
}
