.expertise {
  height: 760px;
  padding-top: 128px;
  background-color: #fff;
  color: $c-text-1;

  &__title {
    font-size: 52px;
    text-align: center;
  }

  &__items {
    margin: 64px auto 0;
    display: flex;
    justify-content: space-between;
    max-width: 1152px;
  }
}

.item {
  width: 270px;
  // border: 1px solid greenyellow;
  text-align: center;
  margin: 0 10px;
  
  &__link {
    display: block;
  }

  &__img {
    width: 10vw;
    min-width: 160px;
    height: 10vw;
    min-height: 160px;
    object-fit: cover;
    object-position: center;
    border-radius: 24px;
  }

  &__title {
    margin-top: 40px;
  }

  &__text {
    color: $c-text-3;
    margin-top: 16px;
  }
}
