.features {
  padding: 6em 0;
  display: block;
  margin: 0 auto;
  text-align: center;

  &__heading-container {
    @include flex-column-center;
  }

  &__subheading {
    margin-top: 0.5em;
  }

  &__content {
    @include flex-row-between;
    align-items: center;
    margin-top: 4em;
  }

  $imgSize: 52px;
  &__img {
    width: $imgSize;
    height: $imgSize;
    background-image: url(../images/features/features-item-icon-1.svg);
    background-size: cover;

    &--2 {
      background-image: url(../images/features/features-item-icon-3.svg);
    }

    &--3 {
      background-image: url(../images/features/features-item-icon-2.svg);
    }
  }

  &__text {
    width: 210px;
    line-height: 1.5;
    color: $textColor1;
    text-align: start;
  }
}

@media (min-width: 768px) {
  .features {
    width: 280px;
    text-align: start;
  
    &__heading-container {
      align-items: flex-start;
    }

    $imgSize: 52px;
    &__img {
      width: $imgSize;
      height: $imgSize;
    }
  
    &__text {
      width: 210px;
    }
  }
}

@media (min-width: 1440px) {
  .features {
    padding-top: 198px;
    height: 778px;
    width: 362px;
    text-align: start;
    margin: 0;
  
    &__heading-container {
      align-items: flex-start;
    }

    &__subheading {
      margin-top: 19px;
    }
  
    &__content {
      margin-top: 64px;

      &:first-of-type {
        margin-top: 69px;
      }
    }

    $imgSize: 64px;
    &__img {
      width: $imgSize;
      height: $imgSize;
    }
  
    &__text {
      width: 263px;
    }
  }
}
