.features {
  background-color: #56ccf2;
  height: 1000px;
  z-index: -1;
  position: relative;
  top: -165px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  &__title {
    color: white;
    margin-left: 37px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 16px;
    line-height: 150%;
    position: relative;
    &::before {
      content: "";
      margin-left: -37px;
      display: block;
      position: absolute;
      background-image: url(../images/title.png);
      width: 21px;
      height: 21px;
    }
  }
  &__inform {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    margin-top: 199px;
    margin-left: 227px;
  }
  &__heading {
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 140%;
    margin-top: 19px;
    margin-bottom: 69px;
  }
}

.slider_rotate {
  height: 1000px;
  width: 800px;
  position: absolute;
  top: 0;
  left: 549px;
}
