@font-face {
  font-family: Poppins;
  font-weight: 600;
  src: url('../fonts/Poppins-SemiBold.ttf');
}

@font-face {
  font-family: Poppins;
  font-weight: 700;
  src: url('../fonts/Poppins-Bold.ttf');
}

@font-face {
  font-family: OpenSans;
  font-weight: 400;
  src: url('../fonts/OpenSans-Regular.ttf');
}

@font-face {
  font-family: OpenSans;
  font-weight: 500;
  src: url('../fonts/OpenSans-SemiBold.ttf');
}
