@font-face {
  font-family: $ff-openSans;
  src: url('../fonts/openSans.woff2') format('woff2');
  font-weight: $fw-os-400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: $ff-openSans;
  src: url('../fonts/openSans-semiBold.woff2') format('woff2');
  font-weight: $fw-osB-600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: $ff-popp;
  src: url('../fonts/poppins-semiBold.woff2') format('woff2');
  font-weight: $fw-popp-600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: $ff-popp;
  src: url('../fonts/poppins-bold.woff2') format('woff2');
  font-weight: $fw-popp-700;
  font-style: normal;
  font-display: swap;
}
