.footer {
  background-color: $font-color;

  &__outer-blue {
    height: 867px;
    margin: 0 auto;
    padding-top: 180px;

    border-top-right-radius: 200px;
    background-color: $active-color;
  }

  &__wrapper {
    margin: 0 auto;

    background-color: $active-color;
  }

  &__main {
    display: flex;
    justify-content: space-between;

    max-width: 100%;
    margin: 0 1vw;
  }

  &__form {
    width: 460px;
  }

  &__block-text {
    width: 362px;
    max-height: 415px;
  }

  &__subtitle {
    margin-bottom: 56px;

    font-size: 32px;
    @extend %font-weight-ln;
  }

  &__text-phone {
    @extend %contact-text;
    margin-bottom: 8px;
  }

  &__phone {
    display: inline-block;
    @extend %contact-text-lg;
    margin-bottom: 48px;
  }

  &__text-address {
    @extend %contact-text;
    margin-bottom: 8px;
  }

  &__address {
    @extend %contact-text-lg;
    margin-bottom: 48px;

  }

  &__text-icons {
    @extend %contact-text;
    margin-bottom: 16px;

  }

  &__block-icons {
    width: 160px;
    display: flex;
    justify-content: space-between;
    align-items: center;

  }

  &__nav {
    height: 65px;
    margin: 121px 1vw 0;
  }

}

@media screen and (max-width: 900px) {
  .footer {
    width: 100vw;
    min-height: 100%;

    margin: 0 auto;

    &__outer-blue {
      height: 100%;
      padding-top: 100px;

      border-top-right-radius: 100px;
    }

    &__main {
      flex-direction: column;
      justify-content: center;
    }

    &__form {
      width: 95%;
      margin-bottom: 10vh;
    }

    .form__button {
      display: block;
      margin: 0 auto;
    }

    &__block-text {
      width: 100%;
    }

    &__nav {
      height: 30px;
      margin: 5vh auto 1vh;
    }
  }
}
