.footer {
  display: flex;
  flex-direction: column;

  box-sizing: border-box;
  padding-block: $spacing-4xl;

  background-color: $color-black;

  @include padd-inl;

  .nav__list {
    padding-top: $spacing-xl;
  }

  @include tablet {
    padding-block: 88px $spacing-4xl;

    .nav__list {
      flex-direction: row;
      justify-content: space-between;
      padding-top: $spacing-lg;
    }
  }

  @include desktop {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: $spacing-3xl;

    .nav__list {
      padding-top: 0;
    }
  }
}
