@import "utils";

.footer {
  background-color: $dark-color;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    min-width: 320px;
  }

  &__list {
    padding: 20px 0;
  }

  &__link {
    height: 35px;
  }
}

@media (min-width: 640px) {
  .footer {
    &__list {
      display: flex;
    }
  }
}

@media (min-width: $tablet-breakpoint) {
  .footer {
    &__container {
      width: 924px;
      padding: 0;
      margin: auto;
      flex-direction: row;
      justify-content: space-between;
      height: 120px;
    }
  }
}
