.form {
  display: flex;
  flex-direction: column;
  &__heading {
    @include font-secondary(600, 32px, 1.5em, $c-white);
    margin-bottom: 40px;
  }
  &__item {
    margin-bottom: 32px;
    // &:last-child() {
    //   margin-bottom: 80px;
    // }
  }
  &__input {
    display: block;
    height: 48px;
    width: 460px;
    background: inherit;
    border-bottom: 1px solid $c-white;
  }
}
