.form {
  max-width: 460px;
  display: flex;
  flex-direction: column;

  &__input {
    background-color: transparent;
    margin-top: 18px;
    height: 32px;
    outline: none;
    border: none;
    overflow: auto;
    border-bottom: 2px solid #fff;
    color: #fff;
    font-family: "Poppins-SemiBold", sans-serif;
    font-size: 15px;
    line-height: 22px;
    padding: 8px 0;

    &::placeholder {
      color: #fff;
      font-size: 15px;
      font-family: "Poppins-SemiBold", sans-serif;
    }
  }
}
