@import "utils";

.form {
  display: grid;
  grid-auto-flow: row;
  row-gap: 30px;

  &__field {
    padding: 17px 0;
    font-family: $headersFont;
    font-weight: 600;
    font-size: 15px;
    line-height: 145%;
    background-color: transparent;
    border: 1px solid transparent;
    border-bottom: 1px solid $colorOnDark;
    color: $colorOnDark;
    outline: none;

    &::placeholder {
      opacity: 0.7;
    }

    &:focus {
      border-bottom: 1px solid $activeColor;
    }
  }

  &__textarea {
    resize: none;
  }

  &__button {
    margin-top: 40px;

    @media screen and (max-width: $maxMobileWidth) {
      margin-top: 20px;
    }
  }
}
