@import "utils";

.framework {
  &__frame {
    position: absolute;
    opacity: 0.5;
    box-sizing: border-box;
    border-radius: 500px;
    transform: rotate(-65.1deg);
  }

  &__frame--1 {
    top: 58%;
    left: 5%;
    width: 67px;
    height: 27px;
    border: 6px solid $c-blue;
  }

  &__frame--2 {
    top: 83%;
    left: 8%;
    width: 94px;
    height: 37px;
    border: 6px solid $c-purple;
  }

  &__frame--3 {
    top: 15%;
    left: 14%;
    width: 86px;
    height: 34px;
    border: 4px solid $c-red;
  }

  &__frame--4 {
    top: 50%;
    left: 16.5%;
    width: 143px;
    height: 57px;
    border: 6px solid $c-green;
  }

  &__frame--5 {
    top: 14%;
    left: 28.5%;
    width: 45px;
    height: 18px;
    border: 4px solid $c-yellow;
  }

  &__frame--6 {
    top: 72%;
    left: 30.5%;
    width: 45px;
    height: 18px;
    border: 6px solid $c-yellow;
  }

  &__frame--7 {
    top: 79%;
    left: 65%;
    width: 45px;
    height: 18px;
    border: 4px solid  $c-purple;
  }

  &__frame--8 {
    top: 62%;
    left: 78%;
    width: 86px;
    height: 34px;
    border: 4px solid  $c-red;
  }

  &__frame--9 {
    top: 26%;
    left: 81%;
    width: 143px;
    height: 57px;
    border: 6px solid  $c-green;
  }

  &__frame--10 {
    top: 69%;
    left: 85%;
    width: 154px;
    height: 61px;
    border: 6px solid  $c-blue;
  }

  &__frame--11 {
    top: 19%;
    left: 90%;
    width: 54px;
    height: 21px;
    border: 6px solid  $c-purple;
  }

  &__frame--12 {
    top: 46%;
    left: 91%;
    width: 86px;
    height: 34px;
    border: 4px solid  $c-yellow;
  }
}

@media (max-width: 1000px) {
  .framework {
    display: none;
  }
}
