@import "utils";

.greeting {
  max-width: 781px;
  min-height: 504px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__title {
    margin: 0;
    font-family: $font-f-Poppins;
    font-weight: 600;
    font-size: 32px;
    line-height: 150%;
    color: $c-title;
  }

  &__text {
    margin-top: 16px;
    font-family: $font-f-Open-Sans;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    color: $c-text;
  }
}

@media (max-width: 500px) {
  .greeting {
    min-height: auto;
    padding: 30px 0;

    &__text {
      font-size: 20px;
    }
  }
}
