.hamburger {
  display: none;
  position: absolute;
  top: 48px;
  left: 20px;
  &__layout {
    width: 33px;
    display: block;
    height: 4px;
    margin-bottom: 5px;
    position: relative;

    background-color: $c-gray;
    border-radius: 3px;

    z-index: 1;

    transform-origin: 4px 4px;

    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1),
      background-color 0.5s cubic-bezier(0.77,0.2,0.05,1),
      opacity 0.55s ease;
  }

  &__layout:first-child {
    transform-origin: 0% 0%;
  }

  &__layout:nth-child(2) {
    transform-origin: 0% 100%;
  }
}
@media screen and (max-width: $small-screen-breakpoint) {
  .hamburger {
    display: block;
  }
}
