@import "logo";
@import "navigation";
@import "button";
@import "slider";
@import "mobile";

.header {
  position: relative;
  height: ($max-width / 2);
  max-width: $max-width;
  margin: auto;
  padding-left: $primary-gap;
  border-bottom-left-radius: $primary-border-radius;
  background-color: $c-blue;
  margin-bottom: $header-mb;
  overflow: hidden;

  &__section {
    max-width: $max-width;
    background-color: inherit;
    margin: auto;
  }

  &__top {
    position: absolute;
    top: $t-top-gap;
    right: 90px;
    width: 66vw;
    max-width: 1100px;
    margin: auto;
  }

  &__nav {
    display: flex;
    justify-content: space-between;
  }

  &__logo {
    position: absolute;
    top: $top-gap;
    left: $primary-gap;
    width: $w-logo;
    height: $h-logo;
    z-index: 1;
  }

  &__textbox {
    position: relative;
    top: 240px;
  }

  &__title {
    margin-bottom: 32px;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 68px;
    letter-spacing: -2px;
    color: #fff;
  }

  &__text {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.5rem;
    color: #fff;
    &:last-child() {
      margin-bottom: 83px;
    }
  }

  &__button {
    display: block;
    background-color: $c-orange;
    text-align: center;
    @include font-secondary(600, 15px, 1.5em, $c-white);
    padding-top: 15px;
  }

  &__slider {
    width: $slider-width;
    height: $slider-height;
    position: absolute;
    right: 0;
    bottom: 0;
    border-top-left-radius: $big-border-radius;
    overflow: hidden;
    background-color: inherit;
  }

  &__img {
    object-fit: cover;
    background-color: $c-blue;
  }
}

@media screen and (max-width: 1350px) {
  .header {
    @include size_1350(padding-left);
    &__logo {
      @include size_1350(left);
    }
    &__slider {
      width: 50vw;
      height: 50vw;
    }
  }
}

@media screen and (max-width: 959px) {
  .header {
    height: 100vh;
    border-bottom-left-radius: 100px;
    padding-left: 0;
    margin-bottom: 100px;

    &__logo {
      left: 10px;
    }

    &__textbox {
      top: 190px;
    }

    &__text {
      &:last-child() {
        margin-bottom: 83px;
      }
    }

    &__nav {
      display: none;
    }

    &__title {
      margin-left: 10px;
      margin-right: 10px;
    }

    &__paragraph {
      margin-left: 10px;
      margin-right: 10px;
    }

    &__button {
      @include block_center_primary;
    }

    &__slider {
      display: none;
    }

  }
}
