@import "_vars";

.header {
  background-color: $header-background-color;
  border-bottom-left-radius: 200px;

  &__top {
    position: relative;
    display: flex;
    align-items: center;
    max-width: 1460px;
    height: 120px;
    padding: 0 140px;
    margin: auto;
    text-transform: uppercase;
    letter-spacing: 3px;
  }

  &__logo {
    width: 60px;
    height: 28px;
  }

  &__bottom {
    height: 680px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-left: 140px;
  }
}

@media (max-width: $small-screen-breakpoint) {
  .header__top {
    padding-top: 20px;
    flex-direction: column;
  }

  .header__bottom {
    padding-left: 50px;
    display: block;
  }
}
