.header {
  background: linear-gradient(-235deg, #56ccf2 75%, #fcfcfd 25%);
  padding-bottom: 400px;

  @media screen and (max-width: 1100px) {
    background: linear-gradient(-235deg, #56ccf2 80%, #fcfcfd 20%);
  }

  @media screen and (max-width: 600px) {
    padding-bottom: 250px;
  }

  &__logo {
    font-weight: bold;
    font-size: 32px;
    color: white;
    margin-right: 9%;

    @media screen and (max-width: 1100px) {
      margin: 0;
      font-size: 50px;
    }
  }
}

@import "nav";
@import "global";
