.header-info {
  max-width: 380px;
  color: #fff;
  padding-top: 120px;

  &__heading {
    font-weight: 600;
    font-size: 64px;
    line-height: 68px;
    letter-spacing: -2px;
    margin-bottom: 32px;
  }

  &__text {
    font-size: 18px;
    margin: 0 0 80px;
  }
}

@media (max-width: $small-screen-breakpoint) {
  .header-info {
    margin: auto ;
    width: 280px;
    text-align: center;
    padding-top: 120px;

    &__heading {
      margin-bottom: 50px;
    }
  }
}

@media (max-width: 350px) {
  .header-info {
    padding-top: 140px;
  }
}
