.subtitle {
  text-transform: uppercase;
  color: $main-color;
  font-weight: 800;
  display: flex;
  align-items: center;

  &__icon {
    background-image: url("../images/subtitle-icon.png");
    height: 21px;
    width: 21px;
    margin-right: 16px;
  }
}
