.heading {
  color: $third-main-color;
  width: 362px;
  padding-top: 118px;
  @media (max-width: $break-point-cards) {
    text-align: center;
  }

  &__title {
    font-size: 64px;
    line-height: 106%;
    letter-spacing: -2px;
    margin: 0 0 32px;
  }

  &__description {
    font-family: $second-font;
    font-size: 18px;
    font-weight: 300;
    line-height: 150%;
    margin: 0 0 83px;
  }
}
