.subtitle {
  text-transform: uppercase;
  color: $main-color;
  font-weight: 800;
  display: flex;
  align-items: center;
  letter-spacing: 2px;

  &__icon {
    background-image: url("../images/subtitle-icon.png");
    height: 21px;
    width: 21px;
    margin-right: 16px;
  }
}

.heading {
  font-weight: 900;
  font-size: 48px;
  line-height: 1;
  color: $secondary-color;
  position: absolute;
  width: max-content;
}

.title {
  font-weight: 900;
  font-size: 19px;
  line-height: 1.4;
  color: $secondary-color;
  margin-bottom: 32px;
}
