.header-info {
  color: #fff;
  padding-top: 120px;
  padding-right: 150px;

  &__heading {
    font-weight: 600;
    font-size: 64px;
    line-height: 68px;
    letter-spacing: -2px;
    margin-bottom: 32px;
  }

  &__text {
    font-family: Open, sans-serif;
    font-weight: normal;
    font-size: 18px;
    margin: 0 0 80px;
  }
}
