.hidden__menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  @media screen and (min-width: 1921px) {
    padding-right: 150px;
  }
}

@media screen and (min-width: 541px) and (max-width: 959px) {
  .hidden__menu {
    height: 92vh;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 7;

    padding-top: 20px;

    display: inline-block;
    border-radius: 0 122px;

    background-color: $colorPrimary;
    box-sizing: border-box;
    transform: translateY(-150%);
    transition: transform 0.5s;
  }

  .nav__toggle:checked ~ .hidden__menu {
    transform: translateY(-10%);
  }

  // .nav__toggle:checked .header__list {
  //   display: block;
  // }
}

@media screen and (max-width: 541px) {
  .hidden__menu {
    height: 91%;
    z-index: 7;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0;
    padding-top: 20px;
    border-radius: 0 122px;

    display: inline-block;

    background-color: $colorPrimary;
    box-sizing: border-box;
    transform: translateY(-150%);
    transition: transform 0.5s;
  }

  .nav__toggle:checked ~ .hidden__menu {
    transform: translateY(1%);
  }

  // .nav__toggle:checked ~ .header__hire {
  //   display: none;
  // }
}
