.info {

  &__heading {
    margin: 168px 0 32px;
    width: 490px;
    height: 136px;
    font-size: 64px;
    line-height: 68px;
    letter-spacing: -2px;
    color: #fff;
  }

  &__text {
    margin-bottom: 83px;
    width: 362px;
    height: 54px;
    font-weight: normal;
    font-size: 18px;
    color: #fff;
  }

  &__button {
    width: 226px;
    height: 50px;
    background: #ff9c8e;
    border-radius: 64px;
    border: none;
    cursor: pointer;
    transition: opacity 0.3s;

    &:hover {
      opacity: 0.8;
    }
  }
}
