.info-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: $blue-color;
  height: 680px;
  padding-left: 14%;
  border-bottom-left-radius: 200px;
}

.info {
  margin: auto 0;

  &__heading {
    width: 490px;
    font-weight: 600;
    font-size: 64px;
    line-height: 68px;
    letter-spacing: -2px;
    color: #fff;
    animation: movetop 1.5s ease-out forwards;
  }

  &__text {
    font-family: "Open Sans", sans-serif;
    width: 460px;
    font-size: 18px;
    line-height: 150%;
    color: #fff;
    margin: 32px 0 56px;
    animation: movebottom 1.5s ease-out forwards;
  }
}

@keyframes movetop {
  from {
    transform: translateY(-200px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
  }
}

@keyframes movebottom {
  from {
    transform: translateY(200px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
  }
}
