@import "utils";

.info {
  background-color: $dark-color;
  color: $white-color;
  height: calc(100vh - 60px);

  &__text {
    padding: 20px;
  }

  &__title {
    @extend %poppins;
    font-size: 32px;
    line-height: 34px;
    letter-spacing: -2px;
    margin-bottom: 20px;
  }

  &__description {
    font-size: 15px;
    line-height: 1.5;
    margin-bottom: 20px;
    max-width: 362px;
  }

  &__button {
    padding: 14px 70px;
    border-radius: 25px;
    cursor: pointer;
  }
}

@media (min-width: 640px) {
  .info {
    position: relative;

    &__text {
      padding: 80px 30px 20px;
    }

    &__title {
      font-size: 64px;
      line-height: 68px;
    }

    &__description {
      width: 460px;
      font-size: 18px;
    }

    &__button {
      position: absolute;
      top: 120px;
      right: 30px;
    }
  }
}

@media (min-width: $tablet-breakpoint) {
  .info {
    height: calc(100vh - 120px);
    position: relative;
    width: 100vw;

    &__text {
      padding: 60px 30px;
    }

    &__title {
      font-size: 64px;
      line-height: 68px;
      margin-bottom: 32px;
    }

    &__description {
      width: 362px;
      font-size: 18px;
      margin-bottom: 83px;
    }

    &__button {
      position: static;
    }
  }
}

@media (min-width: $notebook-breakpoint) {
  .info {
    &__text {
      padding: 120px 0;
    }
  }
}
