.introduction {
  min-height: 832px;
  background-color: $grey-color;
  box-sizing: border-box;
  padding-bottom: 160px;

  &__photo-text {
    position: absolute;
    transform: translate(0,-50%);
    min-width: 600px;
  }

  &__switcher {
    height: 64px;
    width: 162px;
    background-color: $yellow-color;
    border-radius: 50px;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 20px 33px;
    display: flex;
    justify-content: space-between;
  }

  &__photo {
    background: linear-gradient(0deg, rgba(37, 55, 87, 0.1),
    rgba(37, 55, 87, 0.1)),
      url("../images/first-photo.jpg");
    height: 640px;
    width: calc(100vw - 450px);
    min-width: 550px;
    background-size: cover;
  }

  &__caption {
    width: 264px;
    position: absolute;
    bottom: 86px;
    left: 98px;
    z-index: 1;
  }

  &__subtitle {
    font-size: 12px;
    margin-bottom: 4px;
  }

  &__slogan {
    font-size: 19px;
    font-weight: 900;
  }

  &__networks {
    width: 640px;
    transform-origin: top right;
    transform: rotate(90deg);
    position: absolute;
    right: -85px;
    bottom: -112px;
  }

  &__post-intro {
    padding-top: 486px;
    padding-left: 195px;
    max-width: 742px;
  }

  &__post-intro-subtitle {
    margin-bottom: 21px;
  }

  &__post-intro-text {
    color: $secondary-color;
    font-size: 24px;
    font-weight: 600;
  }
}
