@import "utils";

.intro {
  background-color: $highlight-color-cold;
  border-radius: 0 0 0 150px;
  overflow: hidden;

  @media screen and (max-width: 900px) {
    z-index: 1;
    border-radius: 0 0 0 50px;
  }
  @media screen and (min-width: 1601px) {
    border-radius: 0 0 150px 150px;
  }

  &__container {
    display: flex;
    justify-content: space-between;

    margin-left: auto;
    max-width: 1400px;
  }

  &__article {
    display: flex;
    flex-direction: column;
    
    padding: 60px;
    width: 490px;

    @media screen and (max-width: 400px) {
      width: 70%;
      padding: 15px;
    }
  }

  &__text {
    color: $text-color-light;
    font-size: 18px;
  }

  &__slider {
    overflow: hidden;
    border-radius: 200px 0 0;

    @media screen and (max-width: 900px) {
      display: none;
    }
  }

  &__button {
    @extend %button;
    margin-top: 83px;
    height: 50px;

    @media screen and (max-width: 400px) {
      margin-top: 15px;
    }
  }
}
