.intro {
  position: relative;
  height: 680px;
  color: #fff;
  background-color: $main-blue-color;
  border-radius: 0 0 0 $border-radius;

  @media screen and (max-width: $breakpoint-notebook) {
    height: 520px;
  }

  @media screen and (max-width: $breakpoint-tablet) {
    height: auto;
    padding: 50px 0;
    border-radius: 0;
  }

  @media screen and (max-width: $breakpoint-mobile) {
    padding: 40px 0;
  }

  &__info {
    position: absolute;
    bottom: 205px;
    max-width: 362px;

    @media screen and (max-width: $breakpoint-notebook) {
      bottom: 135px;
    }

    @media screen and (max-width: $breakpoint-tablet) {
      position: static;
      margin: 0 auto;
      text-align: center;
    }
  }

  &__title {
    font-size: 64px;
    line-height: 1.06;
    letter-spacing: -2px;

    @media screen and (max-width: $breakpoint-notebook) {
      font-size: 54px;
    }

    @media screen and (max-width: $breakpoint-mobile) {
      font-size: 34px;
      letter-spacing: normal;
      max-width: 290px;
      margin: 0 auto;
    }
  }

  &__text {
    font-size: 18px;
    margin-top: 32px;
    font-weight: 300;

    @media screen and (max-width: $breakpoint-mobile) {
      font-size: 14px;
      margin-top: 16px;
    }
  }

  &__button {
    margin-top: 83px;

    @media screen and (max-width: $breakpoint-notebook) {
      margin-top: 43px;
    }

    @media screen and (max-width: $breakpoint-tablet) {
      margin: 30px auto 0;
    }

    @media screen and (max-width: $breakpoint-mobile) {
      margin-top: 16px;
    }
  }

  &__slider {
    position: absolute;
    bottom: 0;
    right: 0;

    @media screen and (max-width: $breakpoint-tablet) {
      position: relative;
      margin-top: 30px;
    }
  }
}
