.intro {
  padding: 12%;
  background-image: url(../images/slider/slide-img-1.jpg);
  background-color: $bgColor1;
  background-size: cover;

  &__heading {
    width: 40%;
    font-size: $subtitleFontSmall;
    color: $textColor3;
    font-weight: 800;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  &__text {
    width: 60%;
    margin-top: 1em;
    font-size: $mainFontSmall;
    font-weight: 800;
    color: $textColor1;
  }
}
