.item {
  position: absolute;
  height: 264px;
  width: 264px;
  background: #fff;
  box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
  border-radius: 24px;
  padding: 32px;

  &__text {
    margin-top: 80px;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 150%;
    color: #6c788b;
  }

  &__button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-top: 32px;
    background: blue;
    outline: none;
    border: none;

    &::after {
      background-image: url("../images/features/Vector.svg");
      height: 16px;
      width: 16px;
      line-height: 16px;

    }
  }

  &--1 {
    position: absolute;
    top: 132px;
    left: 0;
  }

  &--2 {
    position: absolute;
    top: 0;
    right: 0;
  }

  &--3 {
    position: absolute;
    bottom: 0;
    left: 0;
  }

  &--4 {
    position: absolute;
    bottom: 134px;
    right: 0;
  }
}
