@import "utils";

.logo {
  width: 45px;
  height: 26px;
  background-image: url(../images/logo/air-logo.svg);
  @extend %image-centered;

  &:focus {
    box-shadow: 1px 1px 1px $button-color;
  }
}
