.logo {
  display: block;
  width: 46px;
  height: 28px;
  background-image: url(../images/logo/Air-logo.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
