@import "mixins-vars";

.main-container {
  //padding: 0 227px; unnecessary

  .about-info {
    margin: 148px $side-margin-design;

    &__header {
      @include heading-style;
      font-size: 52px;
    } //&__header

    &__text {
      @include text-style;
      font-size: 24px;

    }
  } //about-info

  .expertise {
    margin: 0 auto;
    background: #fff;
    border-radius: 30px;
    padding: 128px $side-margin-design 134px;

    &__heading {
      @include heading-style;
      font-size: 52px;
      text-align: center;
      margin-bottom: 64px;
    }

    &__services {
      display: flex;
      justify-content: space-between;

      @media screen and (max-width: $tab-width) {
        flex-wrap: wrap;
        justify-content: space-around;
      }

      .service {
        padding: 10px;
        width: $process-block-dimension;
        border-radius: 10px;
        transition: all 300ms;

        &:hover {
          background-color: $main-grey-color-rgba;

          & img {
            transform: scale(1.1);
          }
        }

        @media screen and (max-width: $tab-width) {
          padding: 20px 0;
        }

        &__pict {
          text-align: center;
          overflow: hidden;
          margin-bottom: 40px;

          .try {
            display: inline-block;
            overflow: hidden;
            border-radius: 16px;
            height: 166px;

            img {
              border-radius: 16px;
              transition: 300ms;
  
              // &:hover { not used
              //   transform: scale(1.1);
              // }  this was before hover on service was added
            }
          }
        } //&__pict

        &__header {
          @include heading-style;
          font-size: 20px;
          text-align: center;
          margin-bottom: 16px;
        }

        &__text {
          @include text-style;
          font-size: 14px;
          text-align: center;
        }

      } // service
    } //&__services
  } //expertise

  .process {
    margin: 0 auto;
    padding: 0 $side-margin-design;
    display: flex;
    justify-content: space-between;
    align-items: center; // not sure to use it!!!!!!

    @media screen and (max-width: $tab-width) {
      flex-direction: column;
    }

    .info {
      max-width: 23vw;

      @media screen and (max-width: $tab-width) {
        max-width: 100vw;
      }
      
      &__subheader {
        @include heading-style;
        font-size: 13px;
        line-height: 19px;
        letter-spacing: 3px;
        color: #c0cdd7;
        margin-top: 251px;
        margin-bottom: 16px;

        @media screen and (max-width: $tab-width) {
          margin-top: 100px;
        }
      }

      &__main-header {
        @include heading-style;
        font-size: 32px;
        line-height: 130%;
        margin-bottom: 24px;
      }

      &__text {
        @include text-style;
        font-size: 14px;

        &_top {
          margin-bottom: 1em;
        }

        &:last-child {
          margin-bottom: 250px;

          @media screen and (max-width: $tab-width) {
            margin-bottom: 100px;
          }
        }
      }
    } // info

    &__blocks {
      display: flex;
      justify-content: space-between;
      position: relative;

      .blocks {
        width: $process-block-dimension;

        &_shifted {
          margin-right: 30px;
          position: relative;
          top: 132px;
        }

        .block {
          height: $process-block-dimension;
          background-color: #fff;
          border-radius: 16px;
          padding: 32px;
          box-sizing: border-box;
          position: relative;

          &:last-child {
            margin-top: 30px;
          }

          &__number {
            @include heading-style;
            font-size: 13px;
            line-height: 24px;
            color: #2060f6;
            padding: 2px 12px;
            box-sizing: border-box;
            width: 46px;
            height: 24px;
            background-color: $c-gray;
            border-radius: 23px;
            margin-bottom: 24px;
          }

          &__text {
            @include text-style;
            font-size: 13px;
            margin-bottom: 32px;
          }

          &__link {
            position: absolute;
            bottom: 32px;
            height: 40px;
            line-height: 40px;
            width: 159px;
            border-radius: 20px;

            & a {
              display: block;

              .arrow-img {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                background: #2060f6;
                line-height: 45px;
                text-align: center;
                display: inline-block;
                margin-right: 16px;
                transition: transform 300ms;
  
                &__img {
                  width: 16px;
                  height: 16px;
                }
              }
  
              &:hover .arrow-img {
                transform: scale(1.2);
              }
  
              p {
                @include heading-style;
                font-size: 15px;
                position: relative;
                bottom: 2px;
                display: inline-block;
              }
            } // &__link a
          } // &__link

        } // block

      } // blocks

    } // __blocks

  } // process

} //main-content
