@import "utils";

.section {
  position: relative;
}

.section--white {
  background-color: $c-white;
}

.section__inner-pink {
  margin-left: 7.5%;
  background-color: $bgc-button;
  border-radius: $br-left;
}
