.main-info {
  background-color: $black;
  color: $white;
  margin-top: -2px;
  height: 680px;
  border-radius: 0 0 0 25px;
  padding: 0 5%;
  &__wrapper {
    margin: auto;
    max-width: 1150px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  &__title {
    font-weight: 600;
    font-size: 64px;
    line-height: 68px;
    letter-spacing: -2px;
    color: $white;
    display: block;
    margin-top: 120px;
  }

  &__slogan {
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    font-family: "Open Sans", sans-serif;
    display: block;
    margin-top: 32px;
  }

  &__button {
    width: 226px;
    height: 50px;
    margin-top: 83px;
    border: 0;
    transition: all 0.2s linear;
    &:hover {
      cursor: pointer;
      transform: scale(1.03);
    }
  }
}
