.main {
  background-color: $c-bg-main;

  &__about-us {
    text-align: center;

    &_text {
      color: $c-text;
      text-align: center;
      font-family: OpenSans, sans-serif;
      font-size: 24px;
      font-style: normal;
      font-weight: 600;
      line-height: 150%; /* 36px */
    }
  }

  &__expertise {
    text-align: center;
    background-color: #fff;
    border-radius: 30px;

    @include main-exp-content;

    &_content {
      &_container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 32px;

        &_desc {
          display: flex;
          flex-direction: column;
          gap: 16px;
        }

        &_image {
          width: 184px;
          height: 166px;
          border-radius: 30px;
          background-size: cover;
          background-repeat: no-repeat;
          transition: 0.3s ease-in-out;

          &:hover {
            transform: scale(1.2);
          }
        }

        &_title {
          font-size: 20px;
          font-weight: 600;
          line-height: 140%;
          color: $c-h3;
        }

        &_text {
          font-family: OpenSans, sans-serif;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 150%;
          color: $c-text;
        }
      }
    }
  }

  &__service {
    &_description {
      display: flex;
      flex-direction: column;
      gap: 16px;

      &_holder {
        color: $c-text;
        font-size: 13px;
        font-weight: 700;
        letter-spacing: 3px;
        text-transform: uppercase;
      }

      &_text {
        color: $c-text;
        font-family: OpenSans, sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
      }
    }

    &_cards {

      &_card {
        width: 280px;
        background-color: #fff;
        border-radius: 30px;
        padding: 32px;
        display: flex;
        flex-direction: column;
        gap: 24px;
        &_num {
          font-size: 13px;
          width: 46px;
          text-align: center;
          padding: 2px 12px;
          background-color: rgba(32, 96, 246, 0.1);
          border-radius: 23px;
          color: $c-blue;
        }

        &_desc {
          color: $c-text;
          font-family: OpenSans, sans-serif;
          font-size: 13px;
          font-style: normal;
          font-weight: 600;
          line-height: 150%;
        }

        &_link {
          width: fit-content;
          display: flex;
          align-items: center;
          gap: 16px;
          color: $c-link;
          font-size: 15px;
          font-weight: 600;
          &_icone-arrow {
            padding: 8px;
            background-color: $c-blue;
            border-radius: 50%;
            width: 40px;
            height: 40px;
            background-size: 24px;
            background-position: center;
            background-image: url(../images/icone/mdi_arrow_forward.svg);
            transition: all 0.5s ease-in-out;

            &:hover {
              scale: 1.2;
            }
          }
        }
      }
    }
  }

  &__testimonials {
    display: flex;
    flex-direction: column;

    &_description {
      display: flex;
      flex-direction: column;
      gap: 16px;

      &_hold {
        color: $c-text;
        font-size: 13px;
        font-weight: 700;
        letter-spacing: 3px;
        text-transform: uppercase;
      }
    }

    &_cards {
      gap: 20px;
      &_card {
        text-align: center;
        padding: 32px 42px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background-color: #fff;
        border-radius: 30px;
        box-shadow: 9px 18px rgba(37, 41, 49, 0.03);
        gap: 8px;

        &_image {
          width: 196px;
          height: 196px;
        }

        &_text {
          color: $c-text;
          font-family: OpenSans, sans-serif;
          font-size: 13px;
          font-style: normal;
          font-weight: 600;
          line-height: 150%;
        }

        &_name {
          color: $c-h3;
          font-size: 13px;
          font-weight: 600;
          line-height: 150%;
        }

        &_from {
          color: $c-text;
          font-size: 13px;
          font-weight: 700;
          letter-spacing: 3px;
          text-transform: uppercase;
        }
      }
    }
  }

  &__footer {
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 30px;
    text-align: center;
    &_title {
      color: $c-h3;
      font-size: 44px;
      font-weight: 600;
      line-height: 120%;
    }

    &_description {
      color: $c-text;
      font-family: OpenSans, sans-serif;
      font-size: 22px;
      font-style: normal;
      font-weight: 600;
      line-height: 150%;
    }

    &_link {
      color: #fff;
      background-color: $c-blue;
      text-align: center;
      padding: 17px 0;
      width: 280px;
      height: 56px;
      border-radius: 8px;
      transition: 0.3s linear;

      &:hover {
        background-color: #0738aa;
      }
    }
  }
}
