@media screen and (max-width: 1400px) {

  body {
    .container {
      width: 960px;
    }

    .galery {
      &__socials {
        top: 255px;
      }
    }

    .process__right-block {
      margin-left: 60px;
    }
  }
}

@media screen and (max-width: 1200px) {
  body {

    .galery {
      &__socials {
        right: -230px;
      }
    }

    .process {
      padding-top: 80px;
    }

    .process__right-block {
      margin-left: 60px;
    }
  }
}

@media screen and (max-width: 1120px) {
  body {

    .galery {
      &__socials {
        transform: none;
        position: initial;
        text-align: center;
        padding-top: 25px;
      }

      &__arrows {
        left: 90px;
      }
    }

    .process {
      border-left: 25px solid white;
      border-right: 25px solid white;
    }
  }
}

@media screen and (max-width: 1050px) {
  body {
    .container {
      width: 720px;
    }

    .wrapper-gradient {
      min-height: 1500px;
    }

    .galery {
      &__socials {
        transform: none;
        position: initial;
        text-align: center;
        padding-top: 25px;
      }

      &__arrows {
        right: 45px;
        top: 290px;
        left: auto;
      }
    }

    .header__nav .nav-link {
      margin-right: 4%;
    }

    .header__nav .nav-link:last-child {
      margin-left: 0;
      margin-right: 0;
    }

    .process {
      border-left: none;
      border-right: none;
    }

    .welcome__title {
      margin-top: 130px;
      margin-bottom: 20px;
    }

    .welcome__text {
      font-weight: 600;
      font-size: 17px;
      max-width: 467px;
    }

    .what-we-do {
      background: linear-gradient(to bottom, #fcfcfd 0%, #fcfcfd 9%, white 4%, white 9%, white 71%, white 100%);
    }

    .what-we-do-flex-wrapper {
      text-align: center;
      padding-bottom: 70px;
    }

    .what-we-do__name {
      margin-bottom: 85px;
      margin-top: 0px;
      padding-top: 26px;
    }

    .what-we-do-item-img {
      margin-bottom: 30px;
      width: 70%;
    }

    .what-we-do-item-title {
      font-size: 16px;
    }

    .what-we-do-item-text {
      margin-bottom: 55px;
      font-size: 13px;
    }

    .process {
      height: auto;
    }

    .process__title {
      margin-left: 29%;
    }

    .process-container {
      align-items: center;
    }

    .process-container {
      flex-direction: column;
    }

    .process__text {
      margin-bottom: 80px;
    }

    .process__left-block {
      text-align: center;
    }

    .process__right-block {
      grid-row-gap: 0;
      margin: 0;
    }

    .number-card {
      margin-top: 0;
      margin-bottom: 40px;
    }

    .features {
      background-image: none;
    }

    .features__title {
      padding-top: 98px;
    }

    .features__item-text {
      width: 300px;
      font-size: 19px;
    }

    .features__heading {
      text-align: center;
    }

    .features-container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .testimonials {
      background: none;
    }

    .testimonials__title {
      padding-top: 88px;
      justify-content: center;
    }

    .testimonials__heading {
      text-align: center;
    }

    .people-cards {
      grid-template-columns: 1fr;
    }

    .people-card {
      margin-bottom: 100px;
    }

    .people-card .people-card__photo-image {
      left: 300px;
    }

    .people-card .people-card__photo-image-2 {
      left: 310px;
    }

    .container-footer {
      grid-template-columns: 1fr;
    }

    .footer__left {
      text-align: center;
    }

    .footer__left__title,
    .footer__right__title {
      justify-content: center;
    }

    .footer__left-inputs {
      padding-right: 0;
      margin-bottom: 60px;
    }

    .footer__right {
      text-align: center;
    }

    .footer__right__icon-fb {
      margin-right: 0;
    }

    .footer__menu-left{
      text-align: center;
    }

    .footer__menu-right {
      margin-left: 0;
      text-align: center;
    }
  }
}

@media screen and (max-width: 760px) {
  body {

    .container {
      width: 540px;
    }

  }
}
