$tablet: 640px;
$small-desktop: 1024px;
$desktop: 1280px;
$design: 1600px;
$large-screens: 2560px;

@mixin tablet {
  @media (min-width: $tablet) {
    @content;
  }
}

@mixin small-desktop {
  @media (min-width: $small-desktop) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop) {
    @content;
  }
}

@mixin design {
  @media (min-width: $design) {
    @content;
  }
}

@mixin large-screens {
  @media (min-width: $large-screens) {
    @content;
  }
}

@mixin hover {
  @media (hover: hover) {
    &:hover {
      @content;
    }
  }

  @media (hover: none) {
    &:active {
      @content;
    }
  }
}
