@media (max-width: $notebookScreen) {
  html,
  body {
    overflow-x: hidden;
  }
  .slider {
    &__container {
      width: 800px;
      height: 690px;
      bottom: 0;
      right: 0;
    }
    &__text {
      left: 50%;
      transform: translate(-90%);
      bottom: 48px;
    }
    &-left__arrow {
      right: 50%;
      transform: translate(32px);
      bottom: 66px;
    }
    &-right__arrow {
      right: 50%;
      transform: translate(40px);
      bottom: 66px;
    }
    &__photo {
      width: 800px;
      height: 690px;
      border-radius: 200px 0 0;
    }
  }
  .sldr {
    height: 690px;
  }
  .header {
    height: 1300px;
  }
  .strategic {
    &__wrap {
      top: 230px;
      left: 50%;
      transform: translateX(-50%);
      text-align: center;
    }
    &__button {
      left: 50%;
      position: absolute;
      transform: translate(-50%);
    }
  }
  .header-navigation {
    &__hire {
      margin-left: 120px;
    }
    &__logo {
      margin-right: 120px;
      margin-left: 30px;
    }
  }
}
@media (max-width: 1065px) {
  .header-navigation {
    &__nav,
    &__hire {
      display: none;
    }
    &__logo {
      position: absolute;
      left: 20%;
      margin: 0;
    }
  }
  .strategic {
    &__wrap {
      top: 230px;
      left: 50%;
      transform: translateX(-50%);
      text-align: center;
    }
    &__button {
      position: absolute;
      left: 50%;
      transform: translate(-50%);
      margin-top: 35px;
    }
  }
  .slider {
    &__container {
      left: 50%;
      transform: translate(-50%);
    }
    &__text {
      left: 50%;
      transform: translate(-50%);
    }
    &-right__arrow {
      left: 190px;
    }
    &-left__arrow {
      left: 150px;
    }
    &__photo {
      border-radius: 200px ;
    }
  }
}
@media (max-width: 895px) {
  .header {
    overflow: hidden;
  }
  .slider {
    &__container {
      bottom: 10%;
      width: 450px;
      height: 400px;
    }
    &__text {
      left: 50%;
      transform: translate(-50%, 50%);
      bottom: 30%;
    }
    &-right__arrow {
      left: 185px;
      bottom: 40px;
    }
    &-left__arrow {
      left: 145px;
      bottom: 40px;
    }
    &__photo {
      border-radius: 150px;
      width: 450px;
      height: 400px;
    }
  }
  .sldr {
    height: 400px;
  }
}
@media (max-width: 695px) {
  .header {
    overflow: hidden;
  }
  .header-navigation {
    &__logo {
      left: 18%;
    }
  }
  .slider {
    &__container {
      width: 500px;
      height: 500px;
      bottom: 0;
      right: 0;
    }
    &__photo {
      width: 500px;
      height: 500px;
      border-radius: 200px;
    }
    &__text {
      left: 50%;
      transform: translate(-50%);
      bottom: 80px;
    }
    &-right__arrow {
      left: 50%;
      transform: translate(32px);
      bottom: 40px;
    }
    &-left__arrow {
      right: 50%;
      transform: translate(32px);
      bottom: 40px;
    }
  }
  .sldr {
    height: 500px;
  }
}
@media (max-width: 585px) {
  .header {
    overflow: hidden;
  }
  .slider {
    &__container {
      width: 300px;
      height: 300px;
      bottom: 150px;
      right: 0;
    }
    &__photo {
      width: 300px;
      height: 300px;
      border-radius: 80px;
    }
    &-right__arrow {
      left: 50%;
      bottom: 20px;
    }
    &-left__arrow {
      left: calc(50% - 40px);
      transform: translate(-50%);
      bottom: 20px;
    }
  }
  .sldr {
    height: 300px;
  }
  .header-navigation {
    &__logo {
      left: 9%;
    }
  }
}
