.message {
  &__heading {
    font-weight: 600;
    font-size: 32px;
    margin-bottom: 55px;
  }

  &__message {
    margin-bottom: 80px;
  }

  &__email,
  &__name,
  &__message {
    @include input-decorate;
    border-bottom: 1px solid #fff;
    margin-bottom: 45px;
    caret-color: #fff;
    font-weight: 600;
    font-size: 15px;

    &:focus {
      border-color: #ff9c8e;
    }
  }

  &__button {
    width: 225px;
    height: 50px;
  }

  &__form {
    display: block;
  }
}

@media (max-width: $small-screen-breakpoint) {
  .message {
    margin: 0 auto 30px;
  }
}

@media (max-width: 530px) {
  .message {
    &__heading {
      text-align: center;
    }

    &__email,
    &__name,
    &__message {
      max-width: 280px;
      margin: 0 auto 45px;
    }

    &__button {
      margin: auto;
    }
  }
}

@media (max-width: 330px) {
  .message {
    &__email,
    &__name,
    &__message {
      max-width: 220px;
    }
  }
}
