.message {
  max-width: 460px;
  margin: 0 auto;
  @media (max-width: $break-point-cards) {
    margin: 0;
  }

  &__title {
    @include footer-title;
  }

  &__email,
  &__name,
  &__message {
    @include input;
  }

  &__message {
    overflow: hidden;
    max-width: 100%;
  }
}
