.message {
  max-width: 460px;

  &__title {
    @include footer-title;
  }

  &__email,
  &__name,
  &__message {
    @include input;
  }

  &__message {
    overflow: hidden;
    max-width: 100%;
  }
}
