@mixin button-active {
  transform: translateY(1px);
  filter: saturate(150%);
}

@mixin button-hover {
  transform: scale(1.1);
}

@mixin transition-hover {
  transition: transform $hover-duration;
}
