@mixin navLink {
  display: block;
  padding: 7px 0;
  text-transform: uppercase;
  font-family: $fontPoppins;
  font-weight: bold;
  font-size: 13px;
  letter-spacing: 3px;
  color: #fff;

  background-image: linear-gradient($buttonColor, $buttonColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size 0.3s;
}

@mixin slider {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 687px;
  height: 680px;
  border-radius: 200px 0 0;
}

@mixin title {
  font-family: $fontPoppins;
  font-weight: 600;
  line-height: 150%;
  color: $titleColor;
}

@mixin subtitle {
  font-weight: bold;
  font-size: 13px;
  line-height: 19px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #c0cdd7;
}
