@import "variables";

#mobile__btn--open {
  display: none;
  color: $whiteColor;
}

#mobile__btn--close {
  display: none;
  color: $whiteColor;
}

@media screen and (max-width: 1180px) {
  #mobile__btn--open {
    display: block;
  }
}
@media screen and (min-width: 1180px) {
  #nav__list {
    display: flex;
  }
}
