.motto {
  position: relative;
  text-align: center;
  max-width: 1600px;
  height: 830px;
  padding: 320px 20px 0;
  @extend %to-align;

  &__button {
    @extend %blue-button;
    margin-top: 55px;
  }

  &__button:hover {
    background-color: #2f81ed73;
  }

  &__text {
    max-width: 754px;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    text-align: center;
    margin: 57px auto 0;
  }
}

.oval {
  position: absolute;
  background-repeat: no-repeat;
  z-index: -1;

  &__pink-left {
    background-image: url(../images/pink-rectangle.svg);
    width: 57px;
    height: 82px;
    left: 15%;
    top: 137px;
  }

  &__pink-right {
    background-image: url(../images/pink-rectangle.svg);
    width: 57px;
    height: 82px;
    left: 77%;
    top: 450px;
  }

  &__yellow-small-thin {
    background-image: url(../images/yellowSThinRectangle.svg);
    width: 31px;
    height: 44px;
    left: 28%;
    top: 106px;
  }

  &__green-big-left {
    background-image: url(../images/greenBRectangle.svg);
    width: 94px;
    height: 136px;
    left: 17%;
    top: 400px;
  }

  &__green-big-right {
    background-image: url(../images/greenBRectangle.svg);
    width: 94px;
    height: 136px;
    left: 80%;
    top: 248px;
  }

  &__blue-s {
    background-image: url(../images/blueSRectangle.svg);
    width: 45px;
    height: 65px;
    left: 5%;
    top: 419px;
  }

  &__purple-b {
    background-image: url(../images/purpleBRectangle.svg);
    width: 62px;
    height: 89px;
    left: 12%;
    top: 591px;
  }

  &__yellow-small-thick {
    background-image: url(../images/yellowSThickRectangle.svg);
    width: 31px;
    height: 44px;
    left: 30%;
    top: 494px;
  }

  &__purple-small-thin {
    background-image: url(../images/purpleSThinRectangle.svg);
    width: 31px;
    height: 44px;
    left: 63%;
    top: 543px;
  }

  &__purple-small-thick {
    background-image: url(../images/purpleSThickRectangle.svg);
    width: 36px;
    height: 52px;
    left: 90%;
    top: 146px;
  }

  &__yellow-big {
    background-image: url(../images/yellowBRectangle.svg);
    width: 57px;
    height: 82px;
    left: 92%;
    top: 342px;
  }

  &__blue-big {
    background-image: url(../images/blueBRectangle.svg);
    width: 101px;
    height: 146px;
    left: 84%;
    top: 541px;
  }
}
