.nav {
  max-width: 1800px;
  background-color: #2c2c2c;
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0 auto 37px;

  &__footer {
    padding: 0 227px 84px 228px;
    margin-bottom: 0;
  }

  &__footer-logo {
    margin-right: 461px;
  }

  &__logo {
    display: inline-block;
    background-image: url(../images/logo/Air.png);
    background-size: cover;
    width: 45px;
    height: 26px;
  }

  &__item {
    font-family: $font-big;
    font-weight: bold;
    font-size: 13px;
    line-height: 150%;
    letter-spacing: 3px;
    outline: none;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    vertical-align: middle;
    cursor: pointer;
    transition: color 0.3s linear;

    &:hover {
      color: #2060f6;
    }
  }

  &__link {
    font-family: $font-big;
    font-weight: bold;
    font-size: 13px;
    line-height: 150%;
    letter-spacing: 3px;
    outline: none;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
    margin: 0 227px 0 318px;
    position: relative;
    transition: color 0.3s linear;

    &:hover {
      color: #2060f6;
    }

    &::before {
      content: "";
      position: absolute;
      bottom: -8px;
      width: 100%;
      height: 1px;
      background-color: #2060f6;
      border: 1px solid #2060f6;
      border-radius: 4px;
    }
  }
}

@media (max-width: 1441px) {
  .nav {
    padding: 0 50px 30px;

    &__item {
      display: inline-block;
      margin: 10px 0;
    }

    &__logo {
      margin-top: 5px;
    }

    &__link {
      margin: 10px 50px;
    }
  }
}

@media (max-width: 769px) {
  .nav {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-bottom: 50px;
    margin-bottom: 0;
    &__link {
      margin: 10px 0;
      &::before {
        content: none;
      }
    }
  }
}

@media (max-width: 436px) {
  .nav {
    &__footer {
      padding: 20px 0 80px;
    }
  }
}
