.nav--mobile {
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 3px;
  text-transform: uppercase;

  &__list {
    width: 60vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  &__link {
    display: block;
    width: 100%;

    padding: 3px;
  }

  @media screen and (max-width: 500px) {
    font-size: 22px;
  }
}
