.nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
  width: 100%;

  &__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    white-space: nowrap;
  }

  &__item {
    display: block;
  }

  &__link {
    color: white;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 3px;
    text-transform: uppercase;
    padding: 5px;
    margin-right: 50px;
  }

  &__item-hire {
    position: relative;
    justify-self: flex-end;
    margin: 0 25px 0 50px;
    padding: 0;

    &::after {
      content: "";
      position: absolute;
      left: 1px;
      right: 1px;
      bottom: -8px;
      border-bottom: 2px solid $approach-color;
      border-radius: 2px;
    }
  }
}

.header__logo {
  width: 45px;
  height: 26px;
  margin-right: 100px;
  margin-left: 25px;
  z-index: 2;
}
