.nav {
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  white-space: nowrap;
  display: flex;
  justify-content: space-between;
  width: 100%;
  // margin: 0 227px;

  &__list {
    display: flex;
    justify-content: space-between;
    margin: 0 227px;
  }

  &__item {
    padding: 8px 0;
    margin-right: 64px;
    list-style: none;
    transition: border 0.5s linear;
    box-sizing: border-box;
  }
}

.nav__link {
  font-family: "Roboto", sans-serif;
  font-style: bold;
  text-align: center;
  vertical-align: top;
  letter-spacing: 3px;
  color: white;
  text-decoration: none;
  transition: color 0.5s;

}

.nav__link:hover {
  color: rgba(32, 96, 246, 1);
}

.nav__item:nth-child(7) {
  margin-left: 280px;
}

.nav__item:last-child {
  border-bottom: 2px #2060F6 solid;
  border-radius: 2px;
}

@media screen and (max-width: 1440px) {
.nav__item:nth-child(7) {
  margin-left: 0;
}
  .nav__item {
    margin: 0 30px;
  }
}

@media screen and (max-width: 1240px) {
  .nav__list {
    margin: 0 auto;
  }
}

@media screen and (max-width: 960px){
.nav__list {
  display: none;
}

}
