@import "utils/vars";
@import "reset";

.networks {
  position: absolute;
  transform: rotate(90deg);
  top: 0;
  left: 0;
  margin-left: 76%;
  white-space: nowrap;

  &__link {
    text-transform: uppercase;
    padding-right: 85px;
    font-weight: 800;
    font-size: 12.6px;
    line-height: 150%;
    transition: all 0.5s;

    &:hover {
      color: $c-bckgrnd;
      letter-spacing: 1px;
      box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
      transition: all 0.4s ease 0s;
    }
    &:last-child {
      padding-right: 0;
    }
  }
}

@media (max-width: 999px) {
  .networks {
    top: 320px;
    margin-left: 0;
    left: calc(50% - 210px);
    transform: rotate(0deg);
  }
}

@media (max-width: 420px) {
  .networks {
    margin-top: 50px;
    left: 2%;

    &__link {
      padding-right: 30%;
    }
  }
}
