.networks-nav {
  position: absolute;

  &__list {
    display: flex;
    text-transform: uppercase;
    list-style-type: none;
    justify-content: space-between;
  }

  &__link,
  &__link:visited {
    color: #253757;
    font-weight: 800;
    font-size: 13px;
    line-height: 150%;
  }
}
