*,
*:before,
*:after {
  box-sizing: border-box;
  scroll-behavior: smooth;
  transition-duration: 300ms;
}

body {
  margin: 0 auto;
  box-sizing: border-box;
  cursor: url(../images/cursor.svg), auto;
}

p {
  margin: 0;
}

ul,
h2,
h1 {
  margin: 0;
  padding: 0;
}
