.opening {
  margin-top: 168px;
  width: 490px;

  &__heading {
    font-size: 3.2rem;

    font-weight: 600;
    line-height: 68px;
    letter-spacing: -2px;
  }

  &__text {
    margin-top: 32px;
    font-family: "OpenSans", sans-serif;
    font-weight: normal;
    font-size: 0.9rem;
  }

  &__button {
    margin-top: 56px;
  }
}
