.expertise {
  width: 100%;
  background-color: #fff;
  padding: 130px 0;

  &__wrapper {
    max-width: 1146px;
    margin: 0 auto;
  }

  &__title {
    text-align: center;
    font-size: 52px;
    @include Open-Sans-semi;
    margin: 0 0 64px;
  }
}

.expertise-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

  &__card {
    width: 264px;
    text-align: center;
    margin: 15px;
  }

  &__image {
    margin-bottom: 40px;
    border-radius: 24px;
  }

  &__title {
    @include Poppins-Semibold;
    margin: 0 0 16px;
    font-size: 20px;
  }

  &__description {
    font-size: 14px;
    color: #6c788b;
    margin: 0;
    @include Open-Sans;
    line-height: 150%;
  }
}

@media (max-width: $break-point-lg) {
  .expertise-box__card {
    margin: 5px;
  }
}

@media (max-width: $break-point-md) {
  .expertise {
    &__title {
      font-size: 40px;
    }
  }
  .expertise-box {
    justify-content: center;
  }
}

@media (max-width: $break-point-sm) {
  .expertise {
    padding: 50px;

    &__title {
      font-size: 32px;
    }
  }
}
