@import "utils";

.oval {
  position: absolute;

  opacity: 0.5;
  border: 2px solid;
  border-radius: 500px;
  transform: rotate(-65.1deg);

  transition: background-color $transition-duration ease-in-out;

  &--first {
    @include oval(55%, 90%, 54px, 24px);
  }

  &--second {
    @include oval(75%, 85%, 80px, 32px);
  }

  &--third {
    @include oval(20%, 80%, 80px, 32px);
  }

  &--fourth {
    @include oval(50%, 75%, 120px, 48px);
  }

  &--fifth {
    @include oval(15%, 70%, 40px, 16px);
  }

  &--sixth {
    @include oval(70%, 65%, 40px, 16px);
  }

  &--seventh {
    @include oval(75%, 35%, 40px, 16px);
  }

  &--eights {
    @include oval(55%, 20%, 80px, 32px);
  }

  &--ninth {
    @include oval(25%, 15%, 120px, 48px);
  }

  &--tenth {
    @include oval(70%, 10%, 120px, 48px);
  }

  &--eleventh {
    @include oval(45%, 10%, 54px, 24px);
  }

  &--twelves {
    @include oval(50%, 5%, 80px, 32px);
  }

  &--blue {
    border-color: #56ccf2;

    &:hover {
      background-color: #56ccf2;
    }
  }

  &--purple {
    border-color: #e59cfe;

    &:hover {
      background-color: #e59cfe;
    }
  }

  &--red {
    border-color: #f36363;

    &:hover {
      background-color: #f36363;
    }
  }

  &--green {
    border-color: #15d850;

    &:hover {
      background-color: #15d850;
    }
  }

  &--yellow {
    border-color: #fcc91d;

    &:hover {
      background-color: #fcc91d;
    }
  }
}
