.page {
  --header-background: #2c2c2c;
  --c-gray: #eee;
  --link-decoration-color: #2060f6;
  --button-color: #2060f6;
  --placeholder-text-color: #fff;
  --card-number-label-color-1: 32, 96, 246;
  --card-number-label-color-2: 32, 96, 246;
  --card-number-label-color-3: 32, 96, 246;
  --card-number-label-color-4: 32, 96, 246;
  --card-number-value-color-1: #2060f6;
  --card-number-value-color-2: #2060f6;
  --card-number-value-color-3: #2060f6;
  --card-number-value-color-4: #2060f6;
  --slider-photo-1: url(/src/images/slider/slide-img-1.jpg);
  --slider-photo-2: url(/src/images/what-we-do/what-we-do-1.jpg);
  --slider-photo-3: url(/src/images/what-we-do/what-we-do-2.jpg);
  --vision-pr-background: url(/src/images/Shapes.png);
  --person-card-quotes-1: url(/src/images/testimonials/quotes.svg);
  --person-card-quotes-2: url(/src/images/testimonials/quotes.svg);
  --person-card-quotes-3: url(/src/images/testimonials/quotes.svg);

  scroll-behavior: smooth;
  margin: 0;
  transition:
    color 0.3s,
    background-color 0.3s;

  &--theme--blue {
    --header-background: #008aff;
    --c-gray: #f2f9ff;
    --link-decoration-color: #ff9c8e;
    --button-color: #ff9c8e;
    --placeholder-text-color: #fff;
    --card-number-label-color-1: 86, 204, 242;
    --card-number-label-color-2: 252, 201, 29;
    --card-number-label-color-3: 21, 216, 80;
    --card-number-label-color-4: 243, 99, 99;
    --card-number-value-color-1: #56ccf2;
    --card-number-value-color-2: #fcc91d;
    --card-number-value-color-3: #15d850;
    --card-number-value-color-4: #f36363;
    --slider-photo-1: url(/src/images/slider/Photo-color-1.png);
    --slider-photo-2: url(/src/images/slider/Photo-color-2.png);
    --slider-photo-3: url(/src/images/slider/Photo-color-3.png);
    --vision-pr-background: url(/src/images/Shapes-color.svg);
    --person-card-quotes-1: url(/src/images/testimonials/quotes-1.svg);
    --person-card-quotes-2: url(/src/images/testimonials/quotes-2.svg);
    --person-card-quotes-3: url(/src/images/testimonials/quotes-3.svg);
  }
}

.page__body {
  width: 100%;
  background: var(--c-gray);
  box-sizing: border-box;
  margin: 0;

  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  scroll-behavior: smooth;
}
