@import "utils";

.page {
  &__white-wrap {
    position: relative;
    background-color: #fff;
  }

  &__colored-wrap {
    position: relative;
    background-color: #f2f6fa;
  }

  &__asimetric-wrap {

    &::before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 50%;
      right: 0;
      background-color: $darkGray;
      z-index: 1;
    }
  }

  &__overflow-hidden {
    overflow: hidden;
  }

  &__button-scroll {
    display: none;
  }
}
