.page {
  background: $c-page;

  &__body {
    overflow-x: hidden;

    &--menu-open {
      overflow: hidden;
    }
  }

  &__top-shell {
    position: relative;
    width: 100%;
    max-width: 1600px;
    margin-inline: auto;
    background: $c-hero;
    border-bottom-left-radius: $radius-lg;
    border-bottom-right-radius: $radius-lg;

    @include on-desktop {
      height: 760px;
    }

    @include on-design {
      height: 800px;
    }
  }
}

.main {
  padding-top: 120px;

  @include on-tablet {
    padding-top: 148px;
  }
}
