.people {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 314px);
  justify-content: space-evenly;

  &__box {
    position: relative;

    padding: 87px 32px 32px;

    width: 314px;
    height: 494px;
    text-align: center;

    background-color: #fff;
    border-radius: $b-radius-m;

    transition: transform $hover-duration;

    &:hover {
      .people__pep {
        transform: rotateZ(120deg);
      }

      .people__quote {
        transform: rotate(0deg);
      }

      transform: scale(1.1, 1.1);
      box-shadow: -1px -1px 20px -20px rgba(0, 0, 0, 0.75);
    }
  }
/* stylelint-disable */
  &__pep {
    transition: transform $hover-duration;

    &--1 {
      @include pep(139px, 56px, 90px, 30px, linear-gradient(180deg,
      rgba(255, 255, 255, 0.25) 0%,
      rgba(255, 255, 255, 0) 100%),
      $mix-blue);
    }

    &--2 {
      @include pep(139px, 56px, 170px, 140px, linear-gradient(180deg,
      rgba(255, 255, 255, 0.25) 0%,
      rgba(255, 255, 255, 0) 100%),
      $mix-blue);
    }

    &--3 {
      @include pep(139px, 56px, 90px, 30px, linear-gradient(180deg,
      rgba(255, 255, 255, 0.25) 0%,
      rgba(255, 255, 255, 0) 100%),
      $mix-orange);
    }

    &--4 {
      @include pep(139px, 56px, 170px, 140px, linear-gradient(180deg,
      rgba(255, 255, 255, 0.25) 0%,
      rgba(255, 255, 255, 0) 100%),
      $mix-orange);
    }

    &--5 {
      @include pep(139px, 56px, 90px, 30px, linear-gradient(180deg,
      rgba(255, 255, 255, 0.25) 0%,
      rgba(255, 255, 255, 0) 100%),
      $mix-red);
    }

    &--6 {
      @include pep(139px, 56px, 170px, 140px, linear-gradient(180deg,
      rgba(255, 255, 255, 0.25) 0%,
      rgba(255, 255, 255, 0) 100%),
      $mix-red);
    }
  }

  &__img {
    position: relative;
    height: 140px;
    width: 140px;

    object-fit: cover;
    object-position: center;
    border-radius: 50%;
  }

  &__quote {
    margin: 82px auto 11px;

    width: 21px;
    height: 18px;

    transform: rotate(180deg);

    transition: transform 0.5s;

    &_first {
      background: url(../images/testimonials/“-1.svg);
    }

    &_second {
      background: url(../images/testimonials/“-2.svg);
    }

    &_third {
      background: url(../images/testimonials/“-3.svg);
    }
  }
/* stylelint-enable */
  &__review {
    margin: 0 auto 16px;

    width: 240px;

    @extend %p-bold;
    font-size: 13px;
    line-height: 150%;
  }

  &__name {
    margin: 0 0 4px;

    @extend %p-bold;
    font-size: 13px;
    line-height: 150%;

    color: $title-color;
  }

  &__company {
    margin: 0;
    
    @extend %h3;
    line-height: 19px;

    color: #c0cdd7;
  }
}

@media screen and (max-width: $adapt-break + 100px) {
  .people {
    margin: 0 auto;

    width: 500px;

    display: flex;
    flex-direction: column;

    &__box {
      margin-bottom: 40px;

      width: 500px;
    }

    &__pep {
      left: 186px;
    }
  }
}

@media screen and (max-width: $adapt-break - 300px) {
  .people {
    margin: 0 auto;

    width: 314px;

    display: flex;
    flex-direction: column;

    &__box {
      margin-bottom: 40px;

      width: 314px;
    }

    &__pep {
      transition: transform $hover-duration;
  
      &--1 {
        @include pep(139px, 56px, 90px, 30px, linear-gradient(180deg,
        rgba(255, 255, 255, 0.25) 0%,
        rgba(255, 255, 255, 0) 100%),
        $mix-blue);
      }
  
      &--2 {
        @include pep(139px, 56px, 170px, 140px, linear-gradient(180deg,
        rgba(255, 255, 255, 0.25) 0%,
        rgba(255, 255, 255, 0) 100%),
        $mix-blue);
      }
  
      &--3 {
        @include pep(139px, 56px, 90px, 30px, linear-gradient(180deg,
        rgba(255, 255, 255, 0.25) 0%,
        rgba(255, 255, 255, 0) 100%),
        $mix-orange);
      }
  
      &--4 {
        @include pep(139px, 56px, 170px, 140px, linear-gradient(180deg,
        rgba(255, 255, 255, 0.25) 0%,
        rgba(255, 255, 255, 0) 100%),
        $mix-orange);
      }
  
      &--5 {
        @include pep(139px, 56px, 90px, 30px, linear-gradient(180deg,
        rgba(255, 255, 255, 0.25) 0%,
        rgba(255, 255, 255, 0) 100%),
        $mix-red);
      }
  
      &--6 {
        @include pep(139px, 56px, 170px, 140px, linear-gradient(180deg,
        rgba(255, 255, 255, 0.25) 0%,
        rgba(255, 255, 255, 0) 100%),
        $mix-red);
      }
    }
  }
}
