.person__wrapper {
  display: flex;
  justify-content: space-between;
}

.person {
  position: relative;
  max-width: 314px;
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #fff;
  box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
  border-radius: 16px;

  padding: 87px 32px 32px;

  &__photo {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    margin-bottom: 82px;
    z-index: 4;
  }

  &__quotes {
    widows: 20px;
    height: 18px;
    margin-bottom: 16px;
  }

  &__quotation {
    width: 268px;
    @include small-paragraph-style;
    margin-bottom: 16px;
    color: #6c788b;
  }

  &__name {
    @include small-paragraph-style;
    color: #253757;
    margin-bottom: 4px;
  }

  &__company {
    @include small-title-section;
    color: #c0cdd7;
  }

  &__decor-rectangle:nth-child(1) {
    @include rectangle-person;
    width: 139px;
    height: 56px;
    top: 80px;
    left: 40px;
  }

  &__decor-rectangle:nth-child(2) {
    @include rectangle-person;
    width: 139px;
    height: 56px;
    top: 175px;
    right: 35px;
  }
}

@media (max-width: $tablet-screen) {
  .person__wrapper {
    flex-direction: column;
    align-items: center;
  }

  .person {
    margin-bottom: 30px;
  }
}
