.person {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  padding: 0 32px 32px;
  box-sizing: border-box;
  border-radius: 16px;

  &__left-img {
    position: absolute;
    left: 50px;
    top: 36px;
  }

  &__rigth-img {
    position: absolute;
    right: 50px;
    top: 130px;
  }

  &__img {
    object-fit: cover;
    width: 140px;
    height: 140px;
    z-index: 1;
    border-radius: 50%;
    margin: 87px auto 82px;
  }

  &__under-img {
    margin: 0 auto 11px;
  }

  &__text {
    margin: 0 auto 16px;

    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 150%;

    color: #6c788b;
  }

  &__name {
    margin: 0 auto 4px;

    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 150%;

    color: #253757;
  }

  &__position {
    margin: 0 auto;

    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 3px;
    text-transform: uppercase;

    color: #c0cdd7;
  }
}

.person--first-color svg * {
  fill: rgb(111, 212, 244);
}

.person--second-color svg * {
  fill: rgb(252, 204, 43);
}

.person--third-color svg * {
  fill: rgb(244, 112, 112);
}
