.persons {
  display: grid;
  grid-template-columns: repeat(3, 314px);
  grid-template-rows: 494px;
  justify-content: space-between;

  @media screen and (max-width: $tabletBreakpointWidth) {
    grid-template-columns: 314px;
    grid-gap: 30px;
    justify-content: center;
  }

  @media screen and (max-width: 400px) {
    grid-template-columns: 294px;
    grid-template-rows: 474px;
  }

}

.person {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  text-align: center;

  padding: 87px 32px 32px;
  background-color: white;
  border-radius: 24px;
  box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);

  transition: $activeTransition;

  @media screen and (max-width: 400px) {
    padding: 77px 22px 22px;
  }

  &:hover {
    box-shadow: 0 9px 18px rgba(37, 41, 49, 0.4);
  }

  &:hover .person__photo::before {
    transform: rotate(-60deg) translate(-25%, -115%);
  }

  &:hover .person__photo::after {
    transform: rotate(-60deg) translate(65%, 54%);
  }

  &__photo {
    position: relative;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    margin-bottom: 79px;
    z-index: 2;

    .person__img {
      position: relative;
      z-index: 2;
      border-radius: 50%;
    }
  }

  .person__photo--blue {
    @include personRectangle(#56CCF2);
  }

  .person__photo--yellow {
    @include personRectangle(#FCC304);
  }

  .person__photo--red {
    @include personRectangle(#F25656);
  }

  &__text {
    margin-top: 10px;
    position: relative;
    font-weight: 600;
    font-size: 13px;
    line-height: 150%;
    color: #6c788b;
  }

  &__name {
    margin-top: 16px;
    font-weight: 600;
    font-size: 13px;
    line-height: 150%;
    color: #253757;
  }

  &__position {
    margin-top: 4px;
    font-weight: bold;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #c0cdd7;
  }
}
