.photo {
  position: relative;
  margin-top: 80px;
  width: $width-photo;
  height: $hight-photo;
  &__title {
    position: absolute;
    font-weight: 800;
    font-size: 13px;
    line-height: 150%;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #56ccf2;
    bottom: 144px;
    left: 98px;
  }
  &__text {
    position: absolute;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 140%;
    color: $main-color;
    bottom: 80px;
    left: 98px;
  }
  &__button {
    position: relative;
    width: 81px;
    height: 64px;
    background-color: #fcc304;
    border: none;
    bottom: 357px;
    left: -80px;
    border-radius: 50px 0 0 50px;
    &::after {
      content: "";
      color: $main-color;
      display: block;
      position: absolute;
      top: 19px;
      right: 33px;
      width: 24px;
      height: 31px;
      background: url(../images/lg.svg) no-repeat;
    }
  }
  &__left {
    position: relative;
    width: 81px;
    height: 64px;
    background-color: #fcc304;
    border: none;
    bottom: 357px;
    left: -80px;
    border-radius: 0 50px 50px 0;

    &::after {
      content: "";
      color: $main-color;
      display: block;
      position: absolute;
      top: 19px;
      left: 33px;
      width: 24px;
      height: 31px;
      background: url(../images/gt.svg) no-repeat;
    }
  }

  &__networks {
    position: absolute;
    left: calc( 1146px + 65px );
    top: 10px;
    right: 144px;
  }
}

.networks {
  display: flex;
  transform: rotate(90deg);
  &__soc {
    font-weight: 800;
    font-size: 13px;
    line-height: 150%;
    color: #253757;
    text-transform: uppercase;
    padding-left: 85px;
  }
}
