.point {
  display: grid;
  grid-template-columns: repeat(4, 3px);
  grid-gap: 3px;

  &__item {
    width: 3px;
    height: 3px;
    box-sizing: border-box;
    border: 1px solid #56ccf2;
    border-radius: 50%;

    &--white {
      border-color: white;
    }
  }
}
