@import "utils";

.products {
  background-color: #fff;
  padding: 100px 20px;
  margin-bottom: 100px;
  text-align: center;

  @media screen and (min-width: 1601px) {
    border-radius: 150px;
  }

  &__container {
    margin: 0 auto;

    width: calc(100% - 40px);
    max-width: 1024px;

  }
  &__title {
    margin-bottom: 65px;
  }

  &__row {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 900px) {
      flex-direction: column;
      align-items: center;
    }
  }
}
