.process-card {
  position: relative;
  z-index: 2;
  color: #6c788b;
  background-color: #fff;
  padding: 32px;
  box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
  border-radius: 16px;
  max-width: 264px;

  transition: box-shadow 0.3s ease-in-out;

  &:hover {
    box-shadow: 10px 19px 18px rgba(49, 107, 141, 0.2);
    cursor: pointer;
  }

  &__num {
    display: inline-block;
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 11px;
    padding: 2px 11px;
    border-radius: 23px;
    background-color: rgba(32, 96, 246, 0.1);

    &--1 {
      color: $first-color;
    }

    &--2 {
      color: #fcc91d;
    }

    &--3 {
      color: #15d850;
    }
    
    &--4 {
      color: #f36363;
    }
  }

  &__list {
    display: block;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 13px;
    color: #6c788b;
    width: 200px;
    padding-top: 15px;
  }

  &__item {
    font-size: 13px;
    font-weight: 600;
    line-height: 150%;
    color: #6c788b;
  }

  &__action {
    position: relative;
    margin-top: 32px;
    width: 40px;
    height: 40px;
    background-color: white;
    border: none;
    border-radius: 50%;
    outline-style: none;
    transition: transform 0.3s ease-in-out;

    &--1 {
      background-image: url("../images/Button.svg");
      background-repeat: no-repeat;
      
    }

    &--2 {
      background-image: url("../images/features/Arrow.svg");
      background-repeat: no-repeat;
      background-position: center;
    }

    &--3 {
      background-image: url("../images/Arrow\ \(1\).svg");
      background-repeat: no-repeat;
      background-position: center;
    }

    &--4 {
      background-image: url("../images/features/ArrowRed.png");
      background-repeat: no-repeat;
      background-position: center;
    }

    &:hover {
      transform: scale(1.1);
      cursor: pointer;
    }

    &::after {
      content: "Learn more";
      position: absolute;
      top: 10px;
      left: 120%;
      width: 90px;
      font-size: 15px;
      font-weight: 600;
      color: #253757;
    }
  }
}
