@import "vars";

.process-list {
  display: flex;
  width: 550px;
  justify-content: end;
  flex-wrap: wrap;

  &__item {
    width: 240px;
    height: 256px;
    box-shadow: 16px 16px 16px rgba(0, 0, 0, 0.02);
    padding: 48px 32px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    position: relative;
    margin: 128px 58px 0 0;
    background-color: white;

    &_left {
      top: 150px;
      z-index: 1;
    }

    &_right {
      top: 40px;
      margin-right: 0;
      z-index: 1;
    }
  }

  &__text {
    font-size: 13px;
    margin-top: 32px;
  }

  &__num {
    font-weight: 900;
    font-size: 40px;
    line-height: 150%;
    position: absolute;
    top: 75px;

    &_1 {
      color: $mColor;
    }

    &_2 {
      color: #fcc304 ;
    }

    &_3 {
      color: #03f542;
    }

    &_4 {
      color: #f25656;
    }
  }
}

@media (max-width: 1160px) {
  .process-list {
    flex-direction: column;
    width: 240px;
    margin: auto;

    &__item {
      margin: 20px auto;

      &_left,
      &_right {
        top: 0;
      }
    }
  }
}
