.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 10px;

  width: $product-card-width;
  &__picture {
    margin: 25px;
    width: $product-picture-width;
    border-radius: 25px;
  }

  &__text {
    font-size: 14px;
    line-height: 150%;
  }
}
