.products {
  background-color: #fff;
  padding: 100px 20px;
  margin-bottom: 100px;
  text-align: center;

  &__container {
    margin: 0 auto;

    width: calc(100% - 40px);
    max-width: 1024px;

  }
  &__title {
    margin-bottom: 65px;
  }

  &__row {
    display: flex;
    justify-content: space-between;

    @include small-screen(900px, flex-direction, column);
    @include small-screen(900px, align-items, center);
  }

  // @include small-screen(900px, padding, 50px 20px);
  @include big-screen(border-radius, 150px);
}
