.record {
  position: relative;
  margin-bottom: $card_l-gap;
  width: 314px;
  height: 494px;
  background: $c-white;
  border-radius: $medium-border-radius;
  padding: $medium-padding;
  @include hover(box-shadow, $h-effect_fire_1);

  &__logo {
    position: relative;
    margin: 0 auto;
    width: 240px;
    height: 240px;
  }

  &__image {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: 1;
  }

  &__decoration {
    position: absolute;
    right: 0;
    top: 50%;
    width: 139px;
    height: 56px;
    border-radius: 500px;
    transform: rotate(-60deg);
  }

  &__decoration--left {
    top: 25%;
    left: 0;
  }
  
  &__decoration--blue {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%,
    rgba(255, 255, 255, 0) 100%),
      $c-bar_blue;
  }
  &__decoration--yellow {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%,
    rgba(255, 255, 255, 0) 100%),
      $c-bar_yellow;
  }
  &__decoration--red {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%,
    rgba(255, 255, 255, 0) 100%),
      $c-bar_red;
  }

  &__quotes {
    @include block_center;
  }

  &__text {
    @include font-primary(600,13px,1.5em, $c-light-grey);
    margin-bottom: $card_l-gap;
  }

  &__name {
    @include font-primary(600, 13px, 1.5em, $c-grey);
    text-align: center;
    margin-bottom: 4px;
  }

  &__label {
    @include font-secondary(bold, 13px, 19px, $c-label);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
  }
}
