.rectangle {
  @include rectangle (85.61px, 33.84px, $carrot-color, 3px);
  top: 15%;
  left: 22%;
  &:nth-child(2) {
    @include rectangle (45.28px, 17.9px, #fcc304, 3px);
    top: 15%;
    left: 75%;
  }
  &:nth-child(3) {
    @include rectangle (53.69px, 21.22px, #bc04fc, 5px);
    left: 90%;
  }
  &:nth-of-type(4) {
    @include rectangle (45.28px, 17.9px, #fcc304, 3px);
    top: 12%;

  }
  &:nth-of-type(5) {
    @include rectangle (45.28px, 17.9px, #fcc304, 3px);
    top: 12%;
    left: 40%;
  }
  &:nth-of-type(6) {
    @include rectangle (45.28px, 17.9px, #fcc304, 3px);
    top: 12%;
    left: 40%;
  }
  &:nth-of-type(7) {
    @include rectangle (45.28px, 17.9px, #fcc304, 3px);
    top: 12%;
    left: 40%;
  }
  &:nth-of-type(8) {
    @include rectangle (45.28px, 17.9px, #fcc304, 3px);
    top: 12%;
    left: 40%;
  }
  &:nth-of-type(9) {
    @include rectangle (45.28px, 17.9px, #fcc304, 3px);
    top: 12%;
    left: 40%;
  }
  &:nth-of-type(10) {
    @include rectangle (45.28px, 17.9px, #fcc304, 3px);
    top: 12%;
    left: 40%;
  }
  &:nth-of-type(11) {
    @include rectangle (45.28px, 17.9px, #fcc304, 3px);
    top: 12%;
    left: 40%;
  }
  &:nth-of-type(12) {
    @include rectangle (45.28px, 17.9px, #fcc304, 3px);
    top: 12%;
    left: 40%;
  }
}
