.result {
  padding: 0 67px;
  height: 608px;
  background: url("../images/result/vps-bg-1.svg") no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  &__head {
    font-weight: 900;
    font-size: 48px;
    line-height: 100%;
    text-align: center;
    color: #253757;
  }
  &__content {
    margin-top: 57px;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    text-align: center;
    color: #334563;
    margin-bottom: 55px;
  }
}
