body,
ul,
button,
input,
textarea,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;

  &:focus {
    outline: 2px solid $main-color-pink;
  }
}
