.results {
  background-color: $white-color;
  background-position: 50%;
  padding-block: 199px;
  display: flex;
  flex-direction: column;
  align-items: center;

  background-image: url(../images/Shapes.svg);

  .results-container {
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-inline: 20px;
    padding-block: 50px;

    .results-container__title {
      font-family: $poppins;
      font-size: 44px;
      font-weight: 600;
      line-height: 53px;

      margin-bottom: 24px;

      color: $block-names;
    }

    .results-container__desc {
      font-family: $open-sans;
      font-size: 22px;
      font-weight: 600;
      line-height: 33px;

      margin-bottom: 56px;

      color: #6c788b;

    }

    .results-container__button {
      height: 56px;
      border-radius: 8px;
      width: 280px;
      background-color: $blue-color;
      border: none;
      color: $white-color;
      font-family: $poppins;
      font-size: 15px;
      font-weight: 600;
      line-height: 23px;

      @include onTablet {
        width: 264px;
      }

      @include onDesktop {
        width: 264px;

      }

      @include onSmallDesktop {
        width: 264px;

      }
    }
  }
}
