.results {
  background-color: #fff;
  background-position: 50%;
  padding-block: 199px;
  display: flex;
  flex-direction: column;
  align-items: center;

  background-image: url(../images/Shapes.svg);

  .results-container {
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-inline: 20px;
    padding-block: 50px;

    .results-container__title {
      font-family: (Poppins);
      font-size: 44px;
      font-weight: 600;
      line-height: 53px;

      margin-bottom: 24px;

      color: #253757;
    }

    .results-container__desc {
      font-family: (Open Sans);
      font-size: 22px;
      font-weight: 600;
      line-height: 33px;

      margin-bottom: 56px;

      color: #6c788b;

    }

    .results-container__button {
      height: 56px;
      border-radius: 8px;
      width: 280px;
      background-color: #2060f6;
      border: none;
      color: #fff;
      font-family: (Poppins);
      font-size: 15px;
      font-weight: 600;
      line-height: 23px;

    }
  }
}
