*,
*::after,
*::before {
  box-sizing: border-box;
}

body,
p,
button,
h1,
h2,
h3,
ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

input,
textarea {
  border: none;

  &:focus {
    outline: none;
  }
}

button {
  border: none;
  outline: none;
}

ul {
  list-style: none;
}
