@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css");

button,
input,
optgroup,
select,
textarea,
html input[type="button"],
input[type="reset"],
input[type="submit"],
button[disabled],
html input[disabled],
input[type="checkbox"],
input[type="radio"],
input[type="number"],
input[type="search"] {
  border: none;
  background-image: none;
  background-color: transparent;
  box-shadow: none;
  outline: none;
  cursor: pointer;
}
