@import "variables";

.result {
  background-color: #fcfcfd;
  padding: 160px 0;
  text-align: center;
  position: relative;
  z-index: 0;

  &__title {
    font-weight: 900;
    font-size: 48px;
    line-height: 100%;
    color: $secondary-color;
    margin-bottom: 57px;
  }

  &__text {
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    width: 754px;
    margin: 0 auto;
  }

  &__btn {
    margin-top: 70px;
    background-color: #2f80ed;

    &:hover {
      background-color: $secondary-color;
    }
  }

  &__bg {
    opacity: 0.5;
    border-radius: 500px;
    transform: rotate(-65.1deg);
    position: absolute;

    &.very-small {
      width: 45.28px;
      height: 17.9px;
      border: 3px solid #fcc304;
      border-radius: 500px;

      &--first-left {
        top: 65px;
        left: 446px;
      }

      &--second-left {
        left: 481px;
        bottom: 202px;
      }

      &--first-right {
        bottom: 153px;
        right: 552px;
        border-color: #e193fc;
      }

      &--second-right {
        width: 53.69px;
        height: 21.22px;
        border-color: #df8dfc;
        right: 111px;
        top: 70px;
      }
    }

    &.big {
      width: 143.04px;
      height: 56.54px;
      border: 3px solid #03d542;

      &--left {
        top: 320px;
        left: 270px;
      }

      &--first-right {
        top: 118px;
        right: 215px;
      }

      &--second-right {
        border-color: #2f80ed;
        bottom: 137px;
        right: 150px;
      }
    }

    &.small {
      width: 67.36px;
      height: 26.63px;
      border: 3px solid #2f80ed;

      &--left {
        left: 82px;
        bottom: 273px;
      }
    }

    &.standard {
      width: 85.61px;
      height: 33.84px;
      border: 3px solid #e193fc;

      &--first-left {
        bottom: 97px;
        left: 131px;
      }

      &--second-left {
        border-color: #f8b5b5;
        top: 60px;
        left: 233px;
      }

      &--first-right {
        right: 314px;
        bottom: 238px;
      }

      &--second-right {
        right: 67px;
        bottom: 346px;
        border-color: #fcc304;
      }
    }
  }
}
