$blockSize: 64px;

.reus-block {
  height: $blockSize;
  width: $blockSize * 2.5;
  border-radius: $blockSize / 2;
  transform: rotate(-65deg);

  &--bg1 {
    background: linear-gradient(180deg, #ffffff40 0%, #fff0 100%), $decorColor1;
  }
  
  &--bg2 {
    background: linear-gradient(180deg, #ffffff40 0%, #fff0 100%), $decorColor2;
  }

  &--bg3 {
    background: linear-gradient(180deg, #ffffff40 0%, #fff0 100%), $decorColor4;
  }

  &--size2,
  &--size3,
  &--size4,
  &--size5 {
    transform: rotate(-65deg) scale(0.7);
  }

  &--size2 {
    height: $blockSize / 1.14;
    width: $blockSize * 2.5 / 1.14;
    border-radius: $blockSize / 2 / 1.14;
  }

  &--size3 {
    height: $blockSize / 1.88;
    width: $blockSize * 2.5 / 1.88;
    border-radius: $blockSize / 2 / 1.88;
  }
  
  &--size4 {
    height: $blockSize / 2.46;
    width: $blockSize * 2.5 / 2.46;
    border-radius: $blockSize / 2 / 2.46;
  }

  &--size5 {
    height: $blockSize / 3.56;
    width: $blockSize * 2.5 / 3.56;
    border-radius: $blockSize / 2 / 3.56;
  }

  &--border-color1,
  &--border-color2,
  &--border-color3,
  &--border-color4,
  &--border-color5 {
    opacity: 0.5;
    border-width: 2px;
    border-style: solid;
  }

  &--border-color1 {
    border-color: $decorColor1;
  }

  &--border-color2 {
    border-color: $decorColor2;
  }

  &--border-color3 {
    border-color: $decorColor3;
  }

  &--border-color4 {
    border-color: $decorColor4;
  }

  &--border-color5 {
    border-color: $decorColor5;
  }

  &--pos1,
  &--pos2,
  &--pos3,
  &--pos4,
  &--pos5,
  &--pos6,
  &--pos7,
  &--pos8,
  &--pos9,
  &--pos10,
  &--pos11,
  &--pos12 {
    position: absolute;
  }

  &--pos5,
  &--pos7 {
    visibility: hidden;
  }

  &--pos1 {
    top: 551px;
    left: calc(6% - 15px);
  }

  &--pos2 {
    top: 713px;
    left: calc(9.4% - 15px);
  }

  &--pos3 {
    top: 262px;
    left: calc(15.62% - 15px);
  }

  &--pos4 {
    top: 503px;
    left: calc(18.56% - 15px);
  }

  &--pos5 {
    top: 248px;
    left: calc(28.44% - 15px);
  }

  &--pos6 {
    top: 636px;
    left: calc(30.62% - 15px);
  }

  &--pos7 {
    top: 685px;
    right: calc(35.06% - 15px);
  }

  &--pos8 {
    top: 576px;
    right: calc(20.69% - 15px);
  }

  &--pos9 {
    top: 351px;
    right: calc(15.19% - 15px);
  }

  &--pos10 {
    top: 638px;
    right: calc(10.81% - 15px);
  }

  &--pos11 {
    top: 284px;
    right: calc(7.56% - 15px);
  }

  &--pos12 {
    top: 468px;
    right: calc(5.25% - 15px);
  }
}

@media (min-width: 768px) {
  .reus-block {
    height: $blockSize;
    width: $blockSize * 2.5;
    border-radius: $blockSize / 2;

    &--size2,
    &--size3,
    &--size4,
    &--size5 {
      transform: rotate(-65deg) scale(1);
    }
    
    &--size2 {
      height: $blockSize / 1.14;
      width: $blockSize * 2.5 / 1.14;
      border-radius: $blockSize / 2 / 1.14;
    }
  
    &--size3 {
      height: $blockSize / 1.88;
      width: $blockSize * 2.5 / 1.88;
      border-radius: $blockSize / 2 / 1.88;
    }
    
    &--size4 {
      height: $blockSize / 2.46;
      width: $blockSize * 2.5 / 2.46;
      border-radius: $blockSize / 2 / 2.46;
    }
  
    &--size5 {
      height: $blockSize / 3.56;
      width: $blockSize * 2.5 / 3.56;
      border-radius: $blockSize / 2 / 3.56;
    }

    &--pos5,
    &--pos7 {
      visibility: visible;
    }

    &--pos1 {
      top: 551px;
      left: calc(6% - 30px);
    }
  
    &--pos2 {
      top: 713px;
      left: calc(9.4% - 30px);
    }
  
    &--pos3 {
      top: 262px;
      left: calc(15.62% - 30px);
    }
  
    &--pos4 {
      top: 503px;
      left: calc(18.56% - 30px);
    }
  
    &--pos5 {
      top: 248px;
      left: calc(28.44% - 30px);
    }
  
    &--pos6 {
      top: 636px;
      left: calc(30.62% - 30px);
    }
  
    &--pos7 {
      top: 685px;
      right: calc(35.06% - 30px);
    }
  
    &--pos8 {
      top: 576px;
      right: calc(20.69% - 30px);
    }
  
    &--pos9 {
      top: 351px;
      right: calc(15.19% - 30px);
    }
  
    &--pos10 {
      top: 638px;
      right: calc(10.81% - 30px);
    }
  
    &--pos11 {
      top: 284px;
      right: calc(7.56% - 30px);
    }
  
    &--pos12 {
      top: 468px;
      right: calc(5.25% - 30px);
    }
  }
}

@media (min-width: 1440px) {
  .reus-block {
    &--pos1 {
      top: 551px;
      left: calc(6% - 180px);
    }
  
    &--pos2 {
      top: 713px;
      left: calc(9.4% - 180px);
    }
  
    &--pos3 {
      top: 262px;
      left: calc(15.62% - 180px);
    }
  
    &--pos4 {
      top: 503px;
      left: calc(18.56% - 180px);
    }
  
    &--pos5 {
      top: 248px;
      left: calc(28.44% - 180px);
    }
  
    &--pos6 {
      top: 636px;
      left: calc(30.62% - 180px);
    }
  
    &--pos7 {
      top: 685px;
      right: calc(35.06% - 180px);
    }
  
    &--pos8 {
      top: 576px;
      right: calc(20.69% - 180px);
    }
  
    &--pos9 {
      top: 351px;
      right: calc(15.19% - 180px);
    }
  
    &--pos10 {
      top: 638px;
      right: calc(10.81% - 180px);
    }
  
    &--pos11 {
      top: 284px;
      right: calc(7.56% - 180px);
    }
  
    &--pos12 {
      top: 468px;
      right: calc(5.25% - 180px);
    }
  }
}
