.reus-button {
  @include button-reset;
  width: 226px;
  height: 56px;
  border-radius: 28px;
  letter-spacing: 1px;
  line-height: 1.5;
  color: $bgColor2;
  font-weight: bold;
  background-color: $bgColor3;
  z-index: 1;
  transition: background-color $transTime1;

  &--size2 {
    background-color: $bgColor2;
    height: 46px;
    border-radius: 23px;
  }

  &__link {
    transition: color $transTime1;

    &--font2 {
      color: $textColor2;
      font-weight: bold;
      letter-spacing: 1px;
    }
  }

  &:hover {
    background-color: $decorColor2;

    .button__link {
      color: $textColor1;
    }
  }
}

@media (min-width: 1440px) {
  .reus-button {
    font-size: $mainFontBig;
    line-height: 1.5;

    &--size2 {
      height: 56px;
      border-radius: 28px;
    }
  }
}
