.review {
  margin-bottom: 168px;

  &__action {
    @include main-size-poppins-700;
    letter-spacing: $letter-spacing;
    text-transform: uppercase;
    color: #c0cdd7;

    margin-bottom: 16px;
  }

  &__title {
    @include bid-size-text;
    color: $title-color;
    
    margin-bottom: 85px;

    @media(max-width: 621px) {
      font-size: 26px;
      margin-bottom: 40px;
    }
  }

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit,  314px);
    grid-gap: 45px 10px;
    justify-content: space-between;

    @media(max-width: 1023px) {
      justify-content: space-around;
    }

    @media(max-width: 415px) {
      grid-template-columns: 280px;
    }
  }

  &__item {
    text-align: center;
    background-color: $white-color;
    box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);

    border-radius: 24px;
    padding: 87px 32px 32px;

    @include hover(transform, scale(1.1));
  }

  &__item-img {
    position: relative;
    z-index: 1;
    margin-bottom: 82px;
  }

  &__item--photo1,
  &__item--photo2,
  &__item--photo3 {
    &::after {
      content: "";
      position: absolute;
      top: -5px;
      left: 5px;
      z-index: -1;
  
      width: 140px;
      height: 56px;
  
      border-radius: 500px;
      transform: rotate(-60deg);
  
      @media(max-width: 415px) {
        left: -5px;
      }
    }
    &::before {
      content: "";
      position: absolute;
      bottom: -5px;
      right: 5px;
      z-index: -1;
  
      width: 140px;
      height: 56px;
  
      border-radius: 500px;
      transform: rotate(-60deg);
  
      @media(max-width: 415px) {
        right: -5px;
      }
    }
  }

  &__item--photo1 {
    @include review-forms(#56ccf2);
  }

  &__item--photo2 {
    @include review-forms(#fcc304);
  }

  &__item--photo3 {
    @include review-forms(#f25656);
  }

  &__item-icon {
    margin-bottom: 10px;
  }

  &__item-text {
    @include main-size-openSans-600;
    color: $text-color;

    margin-bottom: 16px;
  }

  &__item-name {
    @include main-size-openSans-600;
    color: $title-color;

    margin-bottom: 4px;
  }

  &__item-job {
    @include main-size-poppins-700;
    letter-spacing: $letter-spacing;
    text-transform: uppercase;
    color: #c0cdd7;
  }

  &__img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
  }
}
