@import "vars";

.row {
  display: flex;
  justify-content: center;
  background-color: #fcfcfd;

  &__item {
    flex: 314px 0 0;
    width: 314px;
    margin: 0 20px;
  }
}

@media (max-width: $mediumScreenBP) {
  .row {
    flex-direction: column;

    &__item {
      margin: 20px 0;
    }
  }
}

@media (max-width: 400px) {
  .row__item {
    width: 166px;
  }
}
