.section {
  padding: 0 calc(50% - 145px);
  position: relative;

  &:first-of-type {
    background-color: $bgColor1;
  }
}

@media (min-width: 768px) {
  .section {
    padding: 0 calc(50% - 354px);
  }
}
