.section-approach {
  max-width: $page-max-width;
  box-sizing: border-box;
  margin: auto;
  padding: 0;
  padding-left: 120px;

  &__wrap {
    position: relative;
    padding: 205px;
    background-color: $main-color-pink;
    border-top-left-radius: 200px;
    border-bottom-left-radius: 200px;
    overflow: hidden;
    z-index: -1;
  }

  &__photo {
    position: absolute;
    width: $slider-width;
    height: $slider-heigth;
    bottom: 0;
    right: 0;
    border-top-left-radius: 200px;
    overflow: hidden;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @media screen and (min-width: $page-max-width + 1px) {
    &__wrap {
      border-top-right-radius: 200px;
      border-bottom-right-radius: 200px;
    }
  }

  @media screen and (max-width: 1450px) {
    padding-left: 50px;

    &__wrap {
      padding-left: 100px;
    }
  }

  @media screen and (max-width: 1250px) {

    &__wrap {
      padding-bottom: 100px;
    }

    &__photo {
      width: $slider-width * 0.8;
      height: $slider-heigth * 0.8;
    }
  }

  @media screen and (max-width: $breakpoint-approach) {
    padding-left: 0;

    &__wrap {
      padding-left: 50px;
      padding-right: 50px;
      padding-bottom: 130px;
      border-radius: 0;
    }

    &__photo {
      display: none;
    }
  }

  @media screen and (max-width: 900px) {
    padding-top: 70px;

    &__wrap {
      padding-bottom: 70px;
    }
  }

  @media screen and (max-width: 750px) {
    padding-top: 95px;

    &__wrap {
      padding-bottom: 45px;
    }
  }

  @media screen and (max-width: $breakpoint-grid-small) {
    padding-top: 0;

    &__wrap {
      padding-top: 45px;
    }
  }

  @media screen and (max-width: 450px) {

    &__wrap {
      padding: 30px;
    }
  }
}
