.section-testimonials {
  height: 528px;
}

.testimonials-heading {
  margin: 19px 0 86px;
  font-weight: 900;
  font-size: 32px;
  line-height: 45px;
}

.testimonials-wraper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.testimonials-card {
  width: 280px;
  height: 464px;
  background: #fefefe;
  box-shadow: 16px 16px 32px rgba(0, 0, 0, 0.05);
  text-align: center;
  padding-top: 240px;
  box-sizing: border-box;
  z-index: 1;
  margin-right: 10px;
  transition: 0.3s;

  &:hover {
    transform: translateY(-10px);
  }

  &__photo {
    position: relative;
    text-align: center;

    &::before {
      content: "";
      width: 162px;
      height: 64px;
      border-radius: 500px;
      transform: rotate(-65deg);
      position: absolute;
      top: -150px;
      left: 59px;
    }

    &_first::before {
      background-color: #56ccf2;
    }

    &_second::before {
      background-color: #fcc304;
    }

    &_third::before {
      background-color: #f25656;
    }

    &::after {
      content: "";
      width: 120px;
      height: 160px;
      background-repeat: no-repeat;
      position: absolute;
      top: -140px;
      left: 95px;
    }

    &_first::after {
      background-image: url(../images/person1.png);
    }

    &_second::after {
      background-image: url(../images/person2.png);
    }

    &_third::after {
      background-image: url(../images/person3.png);
    }
  }

  &__text {
    font-style: italic;
    margin-bottom: 64px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 64px;
      height: 2px;
      bottom: -31px;
      left: 108px;
    }

    &_first::before {
      background-color: #56ccf2;
    }

    &_second::before {
      background-color: #f25656;
    }

    &_third::before {
      background-color: #fcc304;
    }

  }

  &__name {
    font-weight: bold;
    font-size: 12.6px;
    line-height: 19px;
  }

  &__position {
    font-weight: 800;
    font-size: 12.6px;
    line-height: 19px;

    &_first {
      color: #56ccf2;
    }

    &_second {
      color: #f25656;
    }

    &_third {
      color: #fcc304;
    }
  }
}

@media (max-width: 1279px) {
  .section-testimonials {
    height: auto;
    margin-bottom: -160px;
  }

  .testimonials-card {
    margin-top: 20px;
  }
}

@media (max-width: 1023px) {
  .section-testimonials {
    margin-bottom: -160px;
  }

  .testimonials-card {
    margin-left: auto;
    margin-right: auto;
  }
}
