@import "variables";

.header,
.main,
.footer {
  max-width: 1900px;
  margin: 0 auto;
}

.section {
  padding: 0 15%;

  &__slider {
    height: 320px;
    @media (max-width: 750px) {
      padding: 0;
    }
  }

  &__welcome {
    width: 48%;
    margin: 165px auto 0;
    @media (max-width:750px) {
      margin-top: 235px;
      width: 70%;
      display: flex;
      flex-direction: column;
    }

    &__text {
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 36px;
      color: $color-title;
    }
  }

  &__what-we-do {
    &__title {
      text-align: center;
      font-weight: 900;
      font-size: 48px;
      line-height: 48px;
      color: $color-title;
      margin: 165px auto;
      @media (max-width: 750px) {
        margin: 100px auto;
      }
    }
  }

  &__process {
    margin: 322px 0 0;
    display: grid;
    grid-template-columns: 362px 600px;
    grid-gap: 187px;
    @media (max-width: 1250px) {
      grid-template-columns: repeat(auto-fill, 600px);
      grid-gap: 20px;
      justify-content: center;
      margin: 122px 0 0;
    }
    @media (max-width: 750px) {
      grid-template-columns: repeat(auto-fill, 300px);
      grid-gap: 0;
    }
    @media (max-width: 430px) {
      grid-template-columns: repeat(auto-fill, 220px);
      grid-gap: 0;
    }
  }

  &__feature {
    padding-top: 180px;
    padding-bottom: 100px;
    background: url(../images/features/Bg.svg);
    background-size: cover;
    position: relative;
    left: -3px;
    bottom: 165px;
    z-index: -1;
    @media (max-width: 750px) {
      padding-top: 140px;
      align-items: center;
      display: flex;
      flex-direction: column;
      padding-bottom: 0;
      bottom: 55px;
    }
  }

  &__testimonials {
    padding: 0;
  }

  &__vision {
    height: 608px;
    background: url(../images/CTA.png);
    background-size: cover;
  }

  &__communication {
    padding-top: 80px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @media (max-width: 1150px) {
      justify-content: center;
    }
  }
}
