.section {
  position: relative;
  height: auto;
  padding: 150px 0;
  &:nth-child(1) {
    padding-top: 330px;
  }
  &:nth-child(odd) {
    background: #f8f8f8;
  }
}

.welcome {
  display: flex;
  justify-content: center;
}

.testimonials {
  padding-bottom: 30px;
}

.process {
  padding-bottom: 0;
  max-height: 600px;
}

.cta {
  background: #f8f8f8;
  padding-bottom: 100px;
}

.features {
  background: #56ccf2 url("../images/features_bg.png") right no-repeat;
  background-size: contain;
  @media (max-width: 1200px) {
    background-size: 90% 100%;
  }
}

.what_we_do {
  &-title {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    top: calc(-0.5em - 150px);
    font-weight: 900;
    font-size: 48px;
    line-height: 100%;
    text-align: center;
  }
}

h2 {
  margin-top: 20px;
  font-weight: 900;
  font-size: 32px;
  line-height: 140%;
  margin-bottom: 65px;
}

.main_text {
  margin-top: 165px;
  line-height: 150%;
  p {
    font-size: 20px;
  }
}

.title {
  bottom: 20px;
  display: flex;
  height: 21px;
  margin-bottom: 20px;
  h3 {
    font-weight: 800;
    font-size: 16px;
    color: #56ccf2;
    text-transform: uppercase;
    line-height: 21px;
    vertical-align: middle;
  }
  img {
    margin-right: 10px;
    height: 100%;
  }
}

.work {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  margin-top: -50px;
}

.jobs {
  padding: 0 2%;
  margin-top: 50px;
  &_photo {
    position: relative;
    height: 160px;
    width: 160px;
    left: 50%;
    transform: translate(-50%, 0);
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    display: inline-block;
  }
  &_name {
    margin-top: 65px;
    font-weight: 900;
    font-size: 19.6px;
    line-height: 140%;
  }
  &_description {
    mix-blend-mode: normal;
    margin-top: 30px;
  }
}

.process_block {
  display: flex;
  flex-flow: row wrap;
  position: relative;
  justify-content: space-between;
  top: 0;
  right: 0;
  left: 0;
}

.process_cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 650px;
}

.steps {
  position: relative;
  width: 240px;
  height: 256px;
  text-align: center;
  box-shadow: 16px 16px 16px rgba(0, 0, 0, 0.02);
  background: #fff;
  z-index: 2;
  margin: 2%;
  transition: 1s;
  .step-number {
    margin-top: 15px;
    font-size: 40px;
  }
  .step-text {
    position: absolute;
    top: 128px;
    font-size: 12.6px;
    line-height: 150%;
    margin: 0 30px;
  }
  &:hover {
    transform: translateY(-30px);
    cursor: pointer;
  }
}

.step-ellipse {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  opacity: 0.1;
  position: relative;
  top: 48px;
  left: 96px;
  z-index: 10;
}

.step-first {
  margin: 100px 0 0;
  .step-number {
    color: #56ccf2;
  }
  .step-ellipse {
    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.25) 0%,
        rgba(255, 255, 255, 0) 100%
      ),
      linear-gradient(0deg, #56ccf2, #56ccf2), #c4c4c4;
  }
}

.step-second {
  margin-left: 100px;
  .step-number {
    color: #fcc304;
  }
  .step-ellipse {
    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.25) 0%,
        rgba(255, 255, 255, 0) 100%
      ),
      #fcc304;
  }
}

.step-third {
  margin-top: 150px;
  .step-number {
    color: #03d542;
  }
  .step-ellipse {
    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.25) 0%,
        rgba(255, 255, 255, 0) 100%
      ),
      linear-gradient(0deg, #03d542, #03d542), #c4c4c4;
  }
}

.step-fourth {
  margin: 70px 0 0 100px;
  .step-number {
    color: #f25656;
  }
  .step-ellipse {
    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.25) 0%,
        rgba(255, 255, 255, 0) 100%
      ),
      #f25656;
  }
}

.features_text {
  h3 {
    color: #fff;
  }
}

.feature_blocks {
  display: flex;
  flex-direction: column;
}

.feature {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 65px;
  &_icon {
    position: relative;
    width: 64px;
    height: 64px;
    background: #fff;
    border-radius: 50%;
    margin-right: 30px;
    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  p {
    color: #fff;
  }
}

.testis {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
}

.testi {
  text-align: center;
  padding: 0 2%;
  position: relative;
  width: 314px;
  height: 464px;
  background: #fefefe;
  box-shadow: 16px 16px 32px rgba(0, 0, 0, 0.05);
  margin-top: 20px;
  &:hover {
    cursor: pointer;
  }
  &_ellipse {
    width: 160px;
    height: 64px;
    border-radius: 500px;
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translate(-50%, 0) rotate(-65deg);
    z-index: 2;
  }
  &_photo {
    position: relative;
    width: 124px;
    display: inline-block;
    border-radius: 500px;
    top: 95px;
    z-index: 3;
  }
  &_description {
    position: relative;
    top: 100px;
    font-style: italic;
    font-weight: normal;
    font-size: 14.4px;
    line-height: 150%;
    padding-bottom: 30px;
    &:after {
      content: "";
      width: 25%;
      position: absolute;
      height: 2px;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 0);
    }
  }
  &_name {
    font-weight: bold;
    font-size: 12.6px;
    color: #152032;
    margin: 130px 0 5px;
  }
  &_position {
    font-weight: 800;
    font-size: 12.6px;
  }
  &-blue {
    .testi_ellipse {
      background: linear-gradient(
          180deg,
          rgba(255, 255, 255, 0.25) 0%,
          rgba(255, 255, 255, 0) 100%
        ),
        #56ccf2;
    }
    .testi_description {
      &:after {
        background: #1cabec;
      }
    }
    .testi_position {
      color: #56ccf2;
    }
  }
  &-yellow {
    .testi_ellipse {
      background: linear-gradient(
          180deg,
          rgba(255, 255, 255, 0.25) 0%,
          rgba(255, 255, 255, 0) 100%
        ),
        #fcc304;
    }
    .testi_description {
      &:after {
        background: #fcc304;
      }
    }
    .testi_position {
      color: #fcc304;
    }
  }
  &-red {
    .testi_ellipse {
      background: linear-gradient(
          180deg,
          rgba(255, 255, 255, 0.25) 0%,
          rgba(255, 255, 255, 0) 100%
        ),
        #f25656;
    }
    .testi_description {
      &:after {
        background: #f25656;
      }
    }
    .testi_position {
      color: #f25656;
    }
  }
}

.cta_text {
  text-align: center;
  position: relative;
  z-index: 3;
  h1 {
    font-size: 48px;
  }
  p {
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    color: #334563;
    padding: 55px 0;
  }
}

.contacts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  &_form {
    flex: 1.5;
    margin-right: 7%;
    .title {
      margin-bottom: 90px;
    }
  }
  &_address {
    flex: 1;
  }
}

.input {
  background: #f8f8f8;
  padding: 5px 10px;
  height: 45px;
  font-weight: bold;
  font-size: 14.4px;
  color: #152032;
  width: 100%;
  border: none;
  border-bottom: 1px solid #e1e1e1;
  transition: 0.3s;
  &::placeholder {
    font-weight: bold;
    font-size: 14.4px;
    color: #152032;
  }
  &:focus {
    outline: none;
    border-bottom: 1px solid #56ccf2;
  }
  &:hover::placeholder {
    color: #56ccf2;
  }
}

.form_field {
  margin-bottom: 40px;
}

.form-submit {
  margin-top: 100px;
}

.phone,
.address {
  margin-bottom: 45px;
  p {
    font-weight: 800;
    font-size: 12.6px;
    line-height: 150%;
    text-transform: uppercase;
    color: #334563;
  }
  h3 {
    font-weight: 900;
    font-size: 24px;
    line-height: 150%;
    text-transform: uppercase;
    color: #56ccf2;
    transition: 0.5s;
    &:hover {
      color: #2f80ed;
      transform: scale(1.01);
      cursor: pointer;
    }
  }
}

.contact_media {
  a {
    text-decoration: none;
    &:focus {
      outline: none;
    }
  }
  img {
    margin-right: 12%;
    transition: 0.5s;
    &:hover {
      transform: scale(1.1);
      cursor: pointer;
    }
  }
}

.rectange {
  position: absolute;
  border-radius: 500px;
  transform: rotate(-65deg);
  opacity: 0.8;
  border-style: solid;
  z-index: 2;
  &-big {
    width: 145px;
    height: 55px;
    border-width: 10px;
  }
  &-middle {
    width: 86px;
    height: 35px;
    border-width: 8px;
  }
  &-mid {
    width: 67px;
    height: 25px;
    border-width: 8px;
  }
  &-small {
    width: 45px;
    height: 18px;
    border-width: 7px;
  }
  &-green {
    border-color: #80e9a0;
  }
  &-blue {
    border-color: #ade5f8;
  }
  &-pink {
    border-color: #f7b0b0;
  }
  &-yellow {
    border-color: #fce184;
  }
  &-purple {
    border-color: #dd82fd;
  }
  &-first {
    top: 55%;
    left: 13%;
  }
  &-second {
    top: 10%;
    left: 10%;
  }
  &-third {
    left: 5%;
    top: 83%;
  }
  &-fourth {
    left: 3%;
    top: 60%;
  }
  &-fifth {
    left: 25%;
    top: 8%;
  }
  &-sixth {
    left: 30%;
    top: 90%;
  }
  &-seventh {
    right: 10%;
    top: 25%;
  }
  &-eighth {
    right: 5%;
    top: 90%;
  }
  &-ninth {
    top: 65%;
    right: 15%;
  }
  &-tenth {
    top: 55%;
    right: 0;
  }
  &-eleventh {
    top: 5%;
    right: 3%;
  }
  &-twelfth {
    right: 35%;
    top: 95%;
  }
}

@media (min-width: 1001px) and (max-width: 1100px) {
  .process_cards {
    width: 560px;
  }
  .step-second {
    margin-left: 40px;
  }
  .step-fourth {
    margin-left: 40px;
  }
}

@media (max-width: 1000px) {
  .process {
    max-height: none;
    &_block {
      flex-direction: column;
    }
  }
  .features {
    background: #56ccf2;
  }
}

@media (max-width: 800px) {
  .rectange {
    &-eleventh,
    &-ninth,
    &-fifth,
    &-first {
      display: none;
    }
    &-seventh {
      top: 10%;
    }
  }
  .contacts {
    flex-direction: column;
    justify-content: center;
    &_address {
      margin-top: 50px;
    }
  }
  .process {
    padding-bottom: 100px;
    &_cards {
      display: none;
    }
  }
  .main_text {
    margin-top: 0;
  }
}

@media (max-width: 600px) {
  .rectange {
    display: none;
  }
}

@media (max-width: 500px) {
  .section {
    &:nth-child(1) {
      padding-top: 200px;
    }
  }
}
