.section {

  &__heading {
    font-family: $main-font;
    font-weight: 600;
    font-size: 52px;
    line-height: 78px;
    color: #253757;
    padding-top: 128px;
    text-align: center;
  }

  &__expert {
    background-color: #fff;
    border-radius: 30px;
  }
}
