.features {
  position: relative;
  background: #56ccf2;
  top: -160px;
  padding-top: 200px;
  bottom: 160px;
  height: 770px;
  box-sizing: border-box;
  overflow: hidden;

  &__photo {
    content: "";
    background-image: url(../images/features-image.png);
    clip-path: polygon(30% 0, 60% 0, 40% 90%, 10% 90%);
    position: absolute;
    top: 0;
    right: -500px;
    background-position: cover;
    background-repeat: no-repeat;
    height: 770px + 85.6px;
    width: 1000px;
  }
}

.features-block {

  &__heading {
    margin: 19px 0 69px;
  }
}

.features-block-item {
  display: flex;

  &:not(:last-child) {
    margin-bottom: 64px;
  }

  &__image {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 0;

    &_first {
      background-image: url("../images/announcement speaker.png");
      background-repeat: no-repeat;
      background-position: center;
    }

    &_second {
      background-image: url("../images/calendar.png");
      background-repeat: no-repeat;
      background-position: center;
    }

    &_third {
      background-image: url("../images/file-text.png");
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  &__text {
    line-height: 24px;
    color: #fff;
    width: 450px;
    padding-left: 32px;
  }
}

@media (max-width: 1279px) {
  .features-block-item__text {
    width: 400px;
  }
}

@media (max-width: 1023px) {
  .features {
    margin-bottom: -60px;
  }

  .features-block-item__text {
    width: 380px;
  }
}

@media (max-width: 870px) {
  .features-block-item {
    &:not(:last-child) {
      margin-bottom: 45px;
    }

    &__text {
      width: 280px;
    }
  }

  .features-block__heading {
    width: 400px;
    margin-bottom: 40px;
  }
}

@media (max-width: 770px) {
  .features__photo {
    display: none;
  }

  .features-block__heading {
    width: 90%;
    text-align: center;
  }

  .features-block-item__text {
    width: 90%;
  }

  .features {
    height: auto;
  }

  .features-block-item:last-child {
    margin-bottom: 45px;
  }
}
