.send-message {
  padding-top: 72px;
  grid-column: 1 / -1;

  @include on-tablet {
    padding-top: 120px;
    grid-column: 1 / span 4;
  }

  @include on-small-desktop {
    padding-top: 180px;
    grid-column: 1 / span 5;
  }

  &__title {
    text-align: left;
    color: $header-text-color;
    margin: 0;
  }
}
