.service {
  &__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    @media screen and (max-width: 1180px) {
      & {
        @include padding-l-r-20;
      }
    }

    @media screen and (max-width: 970px) {
      & {
        display: block;
        padding-top: 20px;
        padding-bottom: 20px;
      }
    }
    
    @media screen and (max-width: 730px) {
      & {
        padding-top: 220px;
      }
    }
  }

  &__info {
    display: grid;
    padding-top: 250px;

    @media screen and (max-width: 1180px) {
      & {
        padding-top: 20px;
      }
    }

    @media screen and (max-width: 970px) {
      & {
        @include padding-l-r-20;

        height: auto;
        display: block;
      }
    }
  }

  &__sub-title {
    @include poppins-13px-bold;

    padding-bottom: 16px;

    line-height: 150%;
    text-align: left;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #c0cdd7;
  }

  &__title {
    @include poppins-32px;

    padding-bottom: 24px;

    line-height: 150%;
    color: #253757;
  }

  &__text {
    @include open-sans-14px;

    height: 105px;
    width: 362px;

    padding-bottom: 250px;
    line-height: 150%;
    color: #6c788b;

    @media screen and (max-width: 1180px) {
      & {
        padding-bottom: 20px;
      }
    }
    @media screen and (max-width: 730px) {
      & {
        height: 100%;
        line-height: 100%;
        padding-bottom: 20px;
      }
    }
  }

  &__columns {
    display: grid;
    grid-template-columns: repeat(2, 264px);
    grid-template-rows: repeat(2, 264px);
    grid-gap: 30px;
    padding-top: 148px;

    @media screen and (max-width: 1180px) {
      & {
        padding-top: 20px;
        padding-bottom: 20px;
      }
    }
    @media screen and (max-width: 930px) {
      & {
        display: flex;
        flex-wrap: wrap;

        width: 100%;
        padding-top: 20px;
      }
    }
    @media screen and (max-width: 600px) {
      & {
        display: flex;
        flex-direction: column;

        align-items: center;
        padding-top: 0;
      }
    }
  }

  &__locker {
    position: relative;
    box-sizing: border-box;

    width: 264px;
    height: 264px;

    padding-left: 32px;
    padding-top: 32px;

    background: #fff;
    border-radius: 24px;
    box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);

    @media screen and (max-width: 600px) {
      & {
        margin-bottom: 10px;
      }
      @media screen and (max-width: 600px) {
        & {
          margin-bottom: 10px;
        }
      }
      &:hover {
        box-shadow: 0 9px 18px rgba(37, 41, 49, 0.1);
      }
    }
  }

  &__locker--1,
  &__locker--3 {
    z-index: 999;
    top: 132px;
    @media screen and (max-width: 600px) {
      & {
        position: static;
      }
    }
  }

  &__locker-title {
    @include poppins-13px;

    margin: 0;
    width: 46px;
    height: 24px;

    line-height: 150%;
    text-align: center;
    text-transform: uppercase;
  }

  &__locker-title--1 {
    color: #56ccf2;
    background-color: rgba(86, 204, 242, 0.1);
    border-radius: 23px;
  }

  &__locker-title--2 {
    color: #fcc91d;
    background-color: rgba(252, 201, 29, 0.1);
    border-radius: 23px;
  }

  &__locker-title--3 {
    color: #15d850;
    background-color: rgba(21, 216, 80, 0.1);
    border-radius: 23px;
  }

  &__locker-title--4 {
    color: #f36363;
    background-color: rgba(243, 99, 99, 0.1);
    border-radius: 23px;
  }

  &__locker-text {
    @include open-sans-13px;

    width: 200px;
    height: 80px;
    margin: 0;

    line-height: 150%;
    color: #6c788b;

    padding-top: 24px;
    padding-bottom: 32px;
  }

  &__locker-more {
    display: flex;
    flex-direction: row;
  }

  &__locker-arrow {
    position: relative;

    width: 40px;
    height: 40px;

    border-radius: 50%;
    transition: transform 0.5s;

    &:hover {
      transform: scale(1.2);
      cursor: pointer;
    }
  }

  &__arrow-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__locker-arrow--1 {
    background-color: #56ccf2;
  }

  &__locker-arrow--2 {
    background-color: #fcc91d;
  }

  &__locker-arrow--3 {
    background-color: #15d850;
  }

  &__locker-arrow--4 {
    background-color: #f36363;
  }

  &__locker-link {
    @include poppins-15px;

    margin: auto 16px;
    text-decoration: none;

    line-height: 150%;

    color: #334563;
  }

  &__locker-link--1:hover {
    color: #56ccf2;
  }

  &__locker-link--2:hover {
    color: #fcc91d;
  }

  &__locker-link--3:hover {
    color: #15d850;
  }

  &__locker-link--4:hover {
    color: #f36363;
  }
}
