.service {

  &__photo {
    position: relative;
    width: 166px;
    height: 166px;
    border-radius: 15%;
    overflow: hidden;
  }

  &__img {
    width: 100%;
  }

  &__heading {
    margin: 40px 0 16px;
  }
}
