@import "vars";

.services-content {
  display: flex;
  justify-content: space-between;
  width: 1236px;
  padding: 0 45px;
  margin: auto;
  box-sizing: border-box;
}

@media (max-width: $mediumScreenBP) {
  .services-content {
    flex-direction: column;
    text-align: center;
    width: 400px;
  }
}

@media (max-width: 400px) {
  .services-content {
    width: 320px;

    .section__heading,
    .section__text {
      width: 100%;
    }
  }
}
