.services__heading {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 52px;
  line-height: 150%;
  color: #253757;
}

.services__section {
  background: #fff;
  border-radius: 30px;
}

.test {
  margin: auto;
  width: 166px;
  height: 166px;
  overflow: hidden;
  border-radius: 8%;
  transition: box-shadow 0.3s ease-in-out;
}

.test img {
  transition: transform 0.5s ease-out;
}

.test:hover {
  box-shadow: 5px 5px 5px rgba(0,0,0,0.6);
}

.test img:hover {
  transform: scale(1.1);
}
