@import "vars";

.services {
  background-color: white;
  padding: 0 45px 100px;

  &__list {
    display: flex;
    justify-content: center;
  }

  &__heading {
    font-weight: 900;
    font-size: 48px;
    line-height: 100%;
    color: $darkColor;
    transform: translateY(-24px);
    width: 295px;
    margin: auto;
  }

  &__service-item {
    margin-right: 100px;

    &:last-child {
      margin-right: 0;
    }
  }
}

@media (max-width: $mediumScreenBP) {
  .services {
    &__list {
      flex-direction: column;
      align-items: center;
    }

    &__service-item {
      margin: 50px 0 0;
    }
  }
}
