.slider {

  &__photo {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  &__buttons-list {
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%,
    rgba(255, 255, 255, 0) 100%),
      #fcc304;
  }

  &__button {
    height: 64px;
    width: 81px;
    border-width: 0;
    background-color: transparent;
    background-image: url("../images/slider/arrow-left.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &__button--reverse {
    transform: rotate(180deg);
  }
}
