.gallery {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 48vw;
  height: 80vh;

  &__nav {
    position: absolute;
    bottom: 68px;
    left: 48px;
  }

  &__text {
    width: 264px;
  }

  &__btn {
    width: 32px;
    height: 32px;
    background-color: #fff;
    border-radius: 50%;
    border: none;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: 0.5s;
    outline: none;

    &--prev {
      background-image: url("../images/slider/prev.svg");
      margin-right: 8px;
    }
    &--next {
      background-image: url("../images/slider/next.svg");
    }

    &:hover,
    &:focus {
      box-shadow: 0 0 10px rgba(0,0,0,0.5);
    }
  }

  &__content {
    color: #fff;
    position: absolute;
    bottom: 60px;
    left: 144px;

    &--title {
      margin-bottom: 8px;
    }
  }

  @media (max-width: 1146px) {
    width: 570px;
  }
  @media (max-width: 992px) {
    position: relative;
    width: 100%;
    height: 500px;
    margin-top: 50px;

    &__content {
      bottom: 120px;
      left: 48px;
    }
  }
}

.slide {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  object-fit: cover;
  border-radius: 30px 0;
}

.showing {
  opacity: 1;
}

.slide:nth-of-type(1) {
  background-image: url("../images/slider/photoslider2.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.slide:nth-of-type(2) {
  background-image: url("../images/slider/slider-2.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.slide:nth-of-type(3) {
  background-image: url("../images/slider/slider-3.png");
  background-size: cover;
  background-repeat: no-repeat;
}
