.slid {
  position: absolute;
  right: 0;
  bottom: 0;

  @media screen and (min-width: 1921px) {
    top: 120px;
  }

  @media screen and (min-width: 960px) and (max-width: 1220px) {
    position: absolute;
  }

  @media screen and (max-width: 959px) {
    display: absolute;
  }

  &__img-wrap {
    overflow: hidden;
    border-radius: 200px 0;

    @media screen and (max-width: 1921px) {
      border-radius: 200px 0 0;
    }

  }

  &__img {
    display: block;
    transition: 0.3s;
    object-fit: cover;
    object-position: center;

    @media screen and (min-width: 752px) and (max-width: 1220px) {
      width: 500px;
    }

    @media screen and (max-width: 751px) {
      width: 400px;
    }

    &:hover {
      transform: scale(1.2);
    }
  }

  &__info {
    position: absolute;
    bottom: 48px;
    left: 48px;
    display: flex;
    flex-direction: row;
    align-items: center;

    @media screen and (max-width: 390px) {
      left: 90px;
    }
  }

  &__description {
    margin-left: 24px;
  }

  &__title {
    letter-spacing: 3px;
    font-weight: bold;
    text-transform: uppercase;
  }

  &__text {
    margin-top: 8px;
    width: 200px;
    font-family: "OpenSans-Regular", sans-serif;
    font-size: 14px;
    line-height: 140%;
  }
}
