.slide {
  position: relative;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &::after {
    position: absolute;
    content: "";
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      189deg,
      rgba(255,255,255,0) 43%,
      rgba(255,156,142,1) 100%
    );
  }

  &__info {
    position: absolute;
    bottom: 48px;
    left: 144px;
    max-width: 260px;
    z-index: 1;

    @media screen and (max-width: $breakpoint-small) {
      left: 0;
      right: 0;
      text-align: center;
      max-width: 100%;
      padding: 0 20px;
    }
  }

  &__name {
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 8px;
  }

  &--1 {
    background-image: url("../images/slider/slide-img-1.jpg");
  }
}
