.slider {
  display: flex;
  overflow: hidden;

  &__images {
    width: 9999px;
    display: flex;
    transition: 0.5s;
  }

  &__images-item {
    width: 43vw;
    display: inline-block;
    box-sizing: border-box;
    object-fit: cover;
  }

  &__button {
    position: absolute;
    width: 32px;
    height: 32px;
    min-width: 32px;
    top: 570px;
    left: 48px;
    border-radius: 50%;
    border-style: none;
    cursor: pointer;
    outline: none;

    &:hover {
      border: 1px solid #9fadc2;
    }

    &:active {
      background-color: #9fadc2;
    }

    &:focus {
      box-shadow: 0 0 5px 1px rgba(0,0,0,0.17);
    }
  }

  &__button-left {
    background-image: url(../images/slider/arrow_left.png);
    background-position: center;
    background-repeat: no-repeat;
  }

  &__button-right {
    margin-left: 40px;
    background-image: url(../images/slider/arrow_right.png);
    background-position: center;
    background-repeat: no-repeat;
  }

  &__text-block {
    position: absolute;
    margin-left: 144px;
    margin-top: 564px;
  }

  &__heading {
    font-size: 13px;
    line-height: 19px;
    font-weight: 600;
    letter-spacing: 3px;
    margin-bottom: 8px;
    text-transform: uppercase;
    color: #fff;
  }

  &__text {
    font-family: $font-Open_sans;
    font-size: 14px;
    line-height: 20px;
    max-width: 264px;
    color: #fff;
    margin-right: 10px;
  }

  @media (max-width: 1000px) {
    &__images-item {
      width: 95vw;
    }

    &__button {
      top: 397px;
    }

    &__text-block {
      margin-top: 364px;
    }
  }
}
