.slogan {
  padding: 200px 0 400px;
  background-color: #fff;
  text-align: center;

  &__wrap {
    margin: 0 auto;
    padding-top: 150px;
    max-width: 1450.8px;
    height: 546.86px;
    background-image: url(../images/ellipse/bg-shapes.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  &__inner {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 754px;
  }

  &__title {
    @include title;
    font-size: 52px;
  }

  &__text {
    margin: 10px 0 64px;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
  }
}

@media (max-width: 700px) {
  .slogan__wrap {
    padding: 0;
  }
}
