@import "vars";

.staff {
  position: relative;
  padding: 240px 32px 50px;
  text-align: center;
  background-color: #fefefe;
  box-shadow: 16px 16px 32px rgba(0, 0, 0, 0.05);

  &__decor {
    position: absolute;
    width: 164px;
    height: 64px;
    border-radius: 32px;
    transform: rotate(-65deg);
    left: calc(50% - 80px);
    top: 93px;
    /* stylelint-disable */
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #56ccf2;
    /* stylelint-enable */
  }

  &__photo {
    position: absolute;
    width: 64px;
    height: 124px;
    border: 32px;
    left: calc(50% - 32px);
    transform: rotate(-30deg);
    top: 102px;
    border-radius: 32px;
    overflow: hidden;
    display: flex;
    justify-content: center;
  }

  &__img {
    height: 100%;
    transform: rotate(30deg);
  }

  &__text {
    font-style: italic;
    font-size: 14px;
    font-weight: 400;
  }

  &__about {
    font-size: 13px;

    &::before {
      content: "";
      display: block;
      margin: 31px auto;
      width: 64px;
      height: 2px;
      /* stylelint-disable */
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #56ccf2;
      /* stylelint-enable */
    }
  }

  &__name {
    font-weight: bold;
  }

  &__position {
    font-weight: 800;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: $mColor;
  }

  &_2 {
    .staff__decor,
    .staff__about::before {
      /* stylelint-disable */
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #fcc304;
      /* stylelint-enable */
    }

    .staff__position {
      color: #fcc304;
    }
  }

  &_3 {
    .staff__decor,
    .staff__about::before {
      /* stylelint-disable */
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #f25656;
      /* stylelint-enable */
    }

    .staff__position {
      color: #f25656;
    }
  }
}
