.strategic {
  border-radius: 0 0 0 200px;

  background-color: $c-air-blue;
  color: $c-white;

  &__content {
    margin: 0 auto;
    max-width: 1600px;
    padding-left: 227px;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__heading {
    font-weight: 600;
    font-size: 64px;
    line-height: 68px;
    letter-spacing: -2px;

    margin-bottom: 30px;
  }

  &__text {
    font-size: 18px;
    margin-bottom: 83px;
  }

  &__button {
    padding: 14px 70px;
  }

}

@media screen and (max-width: $screen-breakpoint) {
  .strategic {
    border-radius: 0 0 200px 200px;

    &__content {
      flex-direction: column;
      padding-left: 0;
    }

    &__info {
      display: flex;
      flex-direction: column;
      text-align: center;
    }

    &__text {
      margin-bottom: 40px;
    }

    &__button {
      margin-bottom: 20px;
      align-self: center;
    }
  }
}
