.strategic {
  min-height: 680px;
  border-radius: 0 0 0 200px;

  background-color: #008aff;
  color: #fff;

  &__content {
    margin: 0 auto;
    max-width: 1600px;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__info {
    margin-right: 324px;
    margin-left: 250px;
    max-width: 362px;
  }

  &__heading {
    font-weight: 600;
    font-size: 64px;
    line-height: 68px;
    letter-spacing: -2px;

    margin-bottom: 30px;
  }

  &__text {
    font-size: 18px;
    margin-bottom: 83px;
  }

  &__button {
    padding: 14px 70px;
  }

}
