@import "utils";

.target {
  padding: 204px 0;
  color: $c-white;

  &__content {
    max-width: 362px;
  }

  &__subtitle {
    margin: 0 0 16px;
    font-family: $font-f-Poppins;
    font-weight: 500;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 3px;
    text-transform: uppercase;
  }

  &__title {
    margin: 0 0 32px;
    font-family: $font-f-Poppins;
    font-weight: 500;
    font-size: 32px;
    line-height: 150%;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 64px;
  }

  &__circle-button {
    width: 64px;
    height: 64px;
    background-color: $c-white;
  }

  &__circle-button--picture {
    width: 24px;
    height: 24px;
    object-fit: cover;
  }

  &__text {
    max-width: 264px;
    margin: 0;
    font-family: $font-f-Open-Sans;
    font-size: 15px;
    line-height: 150%;
  }

  &__bgi-design-image {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 70%;
    width: 43%;
    background-image: url(../images/target/bgi-desicn-img.png);
    background-size: cover;
    background-position: center;
    border-radius: $br-left-top;
  }
}

@media (max-width: 999px) {
  .target {
    margin: 0 auto;
    flex-direction: column;
    align-items: center;

    &__content {
      max-width: 400px;
      margin: auto;
    }

    &__bgi-design-image {
      width: 60%;
      height: 250px;
      margin: auto;
      position: static;
      border-radius: 20px;
    }
  }
}

@media (max-width: 500px) {
  .target__bgi-design-image {
    display: none;
  }
}

@media (max-width: 419px) {
  .target {
    padding: 160px 0;

    &__content {
      max-width: 100%;
    }

    &__item {
      flex-direction: column;
    }

    &__text {
      text-align: center;
    }
  }
}
