.te-card {
  @include flex-column-center;
  box-shadow: 16px 16px 32px rgba(0, 0, 0, 0.05);

  &__text {
    font-size: $mainFont / 1.1;
    line-height: 1.5;
    color: $textColor2;
  }

  &__name {
    line-height: 1.5;
  }

  &__position {
    line-height: 1.5;
    letter-spacing: 2px;
    font-weight: 800;
  }
}
