@import "variables";

.testimonial {
  &-inner {
    width: 1200px;
    margin: 0 auto;
    padding: 148px 0 168px;
  }

  &-heading {
    width: 200px;
    padding-bottom: 85px;
    &__name {
      font-weight: bold;
      font-size: 13px;
      line-height: 19px;
      letter-spacing: 3px;
      text-transform: uppercase;
      color: #c0cdd7;
    }
    &__title {
      font-weight: 600;
      font-size: 32px;
      line-height: 48px;
      color: $title-color;
    }
  }

  &-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 315px);
    justify-content: space-between;
  }

  &-quote {
    display: block;
    margin: 0 auto;
  }

  &-pill {
    width: 139px;
    height: 56px;
    border-radius: 50px;
    transform: rotate(-60deg);
    position: absolute;
    right: 135px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%,
    rgba(255, 255, 255, 0) 100%);

    &.second-pill {
      right: 35px;
      top: 150px;
    }
  }

  &-info {
    padding: 70px 30px;
    text-align: center;
    border-radius: 20px;
    background: $base-color;
    position: relative;
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 13px;
    line-height: 19px;
    width: 314px;
    height: 494px;
    &__text {
      color: #6c788b;
      padding-bottom: 16px;
    }

    &__name {
      font-family: $font-family-secondary;
      display: block;
      color: $title-color;
    }
    &__span {
      letter-spacing: 3px;
      text-transform: uppercase;
      color: #c0cdd7;
    }

    &.blue {
      .testimonial-pill {
        background-color: #56ccf2;
      }
    }

    &.red {
      .testimonial-pill {
        background-color: #f25656;
      }
    }

    &.yellow {
      .testimonial-pill {
        background-color: #fcc304;
      }
    }
  }
  &-avatar {
    border-radius: 50%;
    position: relative;
    z-index: 1;
    margin-bottom: 70px;
  }
}

@media (max-width: 1270px) {
  .testimonial-inner {
    width: 100%;
  }
}

@media (max-width: 950px) {
  .testimonial__title {
    margin-left: 20%;
  }

  .testimonial-wrapper {
    grid-template-columns: repeat(2, 280px);
    justify-content: space-evenly;
  }
}

@media (max-width: 700px) {
  .testimonial-heading {
    margin: 0 auto;
  }
  .testimonial-wrapper {
    grid-template-columns: 280px;
  }
}
