@import "record";

.testimonials {
  position: relative;
  width: inherit;
  max-width: 1600px;
  margin: 0 auto;
  padding: $t_padding-top $primary-gap 0;

  &__label {
    margin-bottom: $card_l-gap;
    @include font-secondary(bold,13px,19px,$c-label);
    text-transform: uppercase;
    letter-spacing: 3px;
  }

  &__heading {
    width: $card_h-width;
    @include font-secondary(600,32px, 1.5em, $c-grey);
    margin-bottom: $card_h-mb;
  }

  &__cards {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: $t_cards-mb;
  }
}

@media screen and (max-width: 1350px) {
  .testimonials {
    @include size_1350(padding-left);
    @include size_1350(padding-right);
    &__cards {
      justify-content: space-around;
    }
  }
}

@media screen and (max-width: 959px) {
  .testimonials {
    &__label {
      text-align: center;
    }
  }
}
