
@import "./card3";

.testimonials {

  display: flex;
  flex-direction: column;
  max-width: $main-cont-width;
  margin: 148px auto 168px;

  @media screen and (max-width:1022px) {
    align-items: center;
  }

  @media screen and (max-width:1185px) {
    width: calc(100% - 40px);

  }

  & h4 {
    margin: 0;
    width: 314px;
    @media screen and (max-width: 354px) {
      width: calc(100vw - 40px);
    }
  }

  & h3 {
    margin: 16px 0 0;
    width: 314px;
    @media screen and (max-width: 354px) {
      width: calc(100vw - 40px);
    }
  }

  &__card3 {
    margin-top: 20px;
    @media screen and (max-width: 354px) {
      width: calc(100vw - 40px);
    }
  }

  &__container {
    display: flex;
    justify-content: space-between;
    margin-top: 85px;

    @media screen and (max-width:1022px) {
      flex-direction: column;
      align-items: center;

    }
  }
}
