.testimonials {
  width: 80%;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  margin-bottom: 168px;
}

.person__rectangle {
  width: 139px;
  height: 56px;
  background: $rectangle #56ccf2;
  border-radius: 500px;
  transform: $rot;
  transition: all 0.5s ease-in-out;
    &:hover {
      transform: rotate(180deg);
    }
}

.person__rectangle--top {
  position: relative;
  top: 50px;
  right: 20%;
}

.person__rectangle--bottom {
  position: relative;
  top: -50px;
  left: 20%;
}

.person__rectangle--middle {
  background-color: #fcc304;
}

.person__rectangle--end {
  background-color: #f25656;
}

.testionials__people {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.testionials__person {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.person__image {
  position: relative;
  z-index: 5;
  border-radius: 50%;
  transition: all 0.5s ease-in-out;
  &:hover {
    transform: scale(1.1);
  }
}

.person__text {
  font-family: Open Sans, Arial;
  font-weight: 600;
  font-size: 13px;
  line-height: 150%;
  color: #6c788b;

}

.person__name {
  font-family: Open Sans, Arial;
  font-weight: 600;
  font-size: 13px;
  line-height: 150%;
  color: #253757;
}

.person__job {
  @extend %label;
}

.testionials__label {
  @extend %label;
}

.testionials__name {
  font-weight: 600;
  font-size: 32px;
  color: #253757;
}
