.bg-square {
  position: absolute;
  z-index: 1;
  transform: rotate(120deg);

  width: 109px;
  height: 44px;
  border-radius: 12px;

  background-color: $blue;

  @include on-laptop {
    width: 139px;
    height: 56px;
  }

  @include on-laptop {
    width: 109px;
    height: 44px;
  }

  @include on-large-desktop {
    width: 139px;
    height: 56px;
  }
}

.square-1 {
  top: 37px;
  left: 7px;

  @include on-laptop {
    top: 47px;
    left: 8px;
  }

  @include on-laptop {
    top: 36px;
  }

  @include on-large-desktop {
    top: 46px;
  }
}

.square-2 {
  top: 109px;
  right: 4px;

  @include on-laptop {
    top: 141px;
    right: 6px;
  }

  @include on-laptop {
    top: 108px;
  }

  @include on-large-desktop {
    top: 139px;
  }
}

.decor-quote {
  width: 21px;
  height: 21px;
  margin-bottom: 6px;
}
