.theme {
  display: flex;
  align-items: center;
  gap: 15px;

  &__switcher {
    width: 40px;
    background-color: $header-text-color;
    border-radius: 20px;
    padding: 5px;
    cursor: pointer;

    &::after {
      content: '';
      display: block;
      width: 50%;
      padding-bottom: 50%;
      border-radius: 50%;
      background-color: var(--header-background);
      transition: transform 0.3s;
    }

    &--theme--blue::after {
      transform: translateX(100%);
    }
  }

  &__name {
    @extend %links;
  }
}
