.title {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: $c-blue_sky;
  border-bottom-left-radius: 200px;
  padding-left: 10%;
}

.info {
  align-self: center;

  &__name {
    max-width: 490px;
    @include font-style(600, 64px, 68px);
    letter-spacing: -2px;
    color: $c-white;
  }

  &__text {
    max-width: 460px;
    @include font-open_sans(normal, 18px, 150%);
    color: $c-white;
    margin: 32px 0 56px;
  }
}

@media screen and (max-width: 999px) {
  .title {
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    grid-gap: 80px;
  }

  .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 12%;
  }
}

@media screen and (max-width: 699px) {
  .title {
    padding-left: 0;
    border-bottom-right-radius: 200px;
  }
}

@media screen and (max-width: 499px) {
  .info__name {
    text-align: center;
    font-size: 42px;
    line-height: 120%;
  }
}

@media screen and (min-width: 1699px) {
  .title {
    padding-left: 20%;
  }
}
