.top {
  position: fixed;
  bottom: 25px;
  right: 25px;
  
  width: 40px;
  height: 40px;
  
  z-index: 10;
  transform: translateX(100px);

  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  border: 1px solid $accent-color;
  background-color: $bg-dark;
  transition: transform 0.2s ease;

  &--active {
    transform: translateX(0);
  }

  &::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;

    top: 50%;
    right: 50%;
    transform: translate(50%, -50%) rotate(-90deg);

    background-color: $main-color;
    mask: url(../images/what-we-do/arrow.svg) center / contain no-repeat;
  }
  
}
