h1 {
  @extend %h1;
}

.intro-title {
  font-family: $main-font;
  font-size: 13px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.title {
  font-family: $main-font;
  font-size: 32px;
  font-weight: 600;
}
