// h1 {
//   @extend %h1;
// }

%poppinsNav {
  font-family: "Poppins", "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 13px;
  line-height: 150%;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: $color-text-header-footer;
}

%poppins700_13_20 {
  font-family: "Poppins", "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: $color-text-header-footer;
}

%poppins600_13_20 {
  font-family: "Poppins", "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 13px;
  line-height: 20px;
  text-transform: uppercase;
  color: $color-button;
}

%poppins600_15_22 {
  font-family: "Poppins", "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  color: #334563;;
}

%poppins600_32_150 {
  font-family: "Poppins", "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 32px;
  line-height: 150%;
  color: $color-title-3;
}

%poppins600_44_120 {
  font-family: "Poppins", "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 44px;
  line-height: 120%;

  color: $color-title-3;
}

%poppins600_20_140 {
  font-family: "Poppins", "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;

  color: $color-title-3;
}

%open600_22_150 {
  font-family: "Open Sans", "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 150%;

  color: $color-of-text;
}

%open400_14_140 {
  font-family: "Open Sans", "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: $color-text-header-footer;
}

%open400_14_150 {
  font-family: "Open Sans", "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;

  color: $color_of_text;
}
