h1 {
  @extend %h1;
}

h2,
h3,
h4 {
  font-family: $ff-main;
  font-weight: 600;
  color: $c-text-dark;
}

h2 {
  font-size: 44px;
  line-height: 120%;
}

h3 {
  font-size: 32px;
}

h4 {
  font-size: 20px;
  line-height: 140%;
  margin-bottom: 16px;
}

p {
  font-family: $ff-second;
  font-size: 14px;
  font-weight: 600;
  color: $c-text-gray-light;
  line-height: 150%;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}
