@import "utils/vars";
@import "utils/mixins";
@import "utils/extends";

.show {
  transform: translate(0, 0);
}

.hide {
  transform: translate(0, -1000px);

  @media (min-width: $tablet-width) {
    transform: translate(0, 0);
  }
}
