$mainFont: "Open Sans", sans-serif;
$titleFont: "Poppins", sans-serif;

$blueColor: #2060f6;
$darkBlueColor: #144ed4;
$lightGreyColor: #c0cdd7;
$greyColor: #6c788b;
$darkGreyColor: #253757;
$blackColor: #2c2c2c;

$mobileBottomMargins: 120px;
$desktopBottomMargins: 148px;

$cardServiceHeight: 264px;
