@mixin important-font {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
}
@mixin regular-font {
  font-family: "Open Sans", sans-serif;
}
$c-page_color: #e5e5e5;
$c-blue: #008aff;
$c-peach: #ff9c8e;
$c-sky_blue: #56ccf2;
$c-yellow: #fcc304;
$c-red: #f25656;
$c-black: #253757;

@mixin card-size {
  width: 184px;
  height: 166px;
  display: inline-block;
  background-size: 100% 100%;
  border-radius: 24px;
  background-position: center;
  background-repeat: no-repeat;
}

@mixin card-size-1 {
  width: 264px;
  height: 264px;
  border-radius: 24px;
  background: #fff;
  box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
}

@mixin card-number {
  display: inline-block;
  margin: 32px;
  width: 46px;
  height: 24px;
  border-radius: 12px;
  text-align: center;
  font-size: 13px;
  line-height: 23px;
}

@mixin card-text {
  margin: 0 32px 32px;
  max-width: 200px;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 150%;
  color: #6c788b;
}

@mixin card-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 143px;
  height: 40px;
  margin-left: 32px;
}
