$general-color: #56ccf2;
$small-screen-breakpoint: 999px;
$tablet-screen-breakpoint: 768px;
$phone-screen-breakpoint: 480px;
$duration: 0.7s;
$text-color: #253757;

@mixin position {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
