$black-color: #2c2c2c;
$hard_blue-color: #253757;
$white-color: #fff;
$blue-color: #2060f6;
$gray-color: #6c788b;
$lite_gray-color: #e5e5e5;
$container-padding: 220px;
$container-width: 1150px;

$header-height: 800px;
