$blue-background-color: #008aff;
$pink-background-color: #ff9c8e;
$section-background-color: #f2f9ff;

$light-font-color: #fff;
$dark-font-color: #6c788b;

$button-font-size: 15px;

$transition-duration: 0.5s;
