$general-color: #56ccf2;
$small-screen-breakpoint: 999px;
$tablet-screen-breakpoint: 768px;
$phone-screen-breakpoint: 480px;
$duration: 0.7s;
$text-color: #253757;
$subtext-color: #334563;
$list-color: #79d7f5,#fdcf34,#f47676;
$bg-section: 3, 5, 8;

@mixin position {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@mixin text-format {
  font-weight: 800;
  font-size: 16px;
  line-height: 150%;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: $general-color;
}

@mixin title {
  font-weight: 900;
  font-size: 32px;
  line-height: 140%;
  color: $text-color;
}

@mixin button {
  padding: 15px 85px;
  background-color: #2f80ed;
  border-radius: 50px;
  border: none;
  font-weight: bold;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    background-color: $general-color;
    transition: 0.3s;
  }
}
