.vision {
  position: relative;
  background-color: white;
  padding: 200px 0;

  &__desc {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 715px;
    text-align: center;
  }

  &__heading {
    font-weight: 600;
    font-size: 52px;
    line-height: 150%;

    @media screen and (max-width: 500px) {
      font-size: 40px;
    }

    @media screen and (max-width: 350px) {
      font-size: 30px;
    }
  }

  &__text {
    margin: 24px 0 64px;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    color: #6c788b;

    @media screen and (max-width: 500px) {
      font-size: 18px;
      margin: 14px 0 34px;
    }
  }

  .vision__button-link {
    position: relative;
    z-index: 10;
  }
}
