
@import "./utils/vars";
@import "./button";
@import "./deco-oval";

.vision {
  position: relative;
  background-color: white;
  height: 888px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    margin-top: 199px;
  }

  &__text {
    margin-top: 24px;
    margin-bottom: 64px;
    font-family: "Open sans", sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.5em;
    color: $text-grey;
    max-width: 754px;
    text-align: center;
  }

  &__container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100vw;

    & :nth-child(1) {
      position: absolute;
      top: 72px;
      left: 14vw;
    }

    & :nth-child(2) {
      position: absolute;
      top: 77px;
      left: 28vw;
    }

    & :nth-child(3) {
      position: absolute;
      top: 283px;
      left: 17vw;
    }

    & :nth-child(4) {
      position: absolute;
      top: 370px;
      left: 5vw;
    }

    & :nth-child(5) {
      position: absolute;
      top: 466px;
      left: 30vw;
    }

    & :nth-child(6) {
      position: absolute;
      top: 518px;
      left: 8vw;
    }

    & :nth-child(7) {
      position: absolute;
      top: 109px;
      left: 90vw;
    }

    & :nth-child(8) {
      position: absolute;
      top: 130px;
      left: 79vw;
    }

    & :nth-child(9) {
      position: absolute;
      top: 276px;
      left: 91vw;
    }

    & :nth-child(10) {
      position: absolute;
      top: 385px;
      left: 76vw;
    }

    & :nth-child(11) {
      position: absolute;
      top: 513px;
      left: 83vw;
    }

    & :nth-child(12) {
      position: absolute;
      top: 514px;
      left: 63vw;
    }
  }

}
