.visionPassionResults {
  position: relative;
  padding: 199px 0;

  &__square {
    border-radius: 500px;
    transform: rotate(-65.1deg);
    border-style: solid;
    position: absolute;
    z-index: -1;

    &--1-l {
      left: 82px;
      bottom: 249px;
    }

    &--2-l {
      left: 131px;
      bottom: 72px;
    }

    &--3-l {
      left: 235px;
      bottom: 527px;
    }

    &--4-l {
      left: 269px;
      bottom: 254px;
    }

    &--5-l {
      left: 446px;
      bottom: 565px;
    }

    &--6-l {
      left: 481px;
      bottom: 177px;
    }

    &--1-r {
      right: 67px;
      bottom: 322px;
    }

    &--2-r {
      right: 111px;
      bottom: 523px;
    }

    &--3-r {
      right: 143px;
      bottom: 113px;
    }

    &--4-r {
      right: 215px;
      bottom: 406px;
    }

    &--5-r {
      right: 314px;
      bottom: 214px;
    }

    &--6-r {
      right: 553px;
      bottom: 129px;
    }

    &--yellow {
      border-color: #fde183;
    }

    &--pink {
      border-color: #f9b0b0;
    }

    &--magenta {
      border-color: #e394fd;
    }

    &--lightblue {
      border-color: #baeaf9;
    }

    &--green {
      border-color: #83eba2;
    }
    &--big {
      width: 143.04px;
      height: 56.54px;
      border-width: 4px;
    }

    &--medium {
      width: 86.41px;
      height: 34.16px;
      border-width: 5px;

    }

    &--small {
      width: 53.69px;
      height: 21.22px;
      border-width: 5px;
    }
  }

  &__text-part {
    margin: auto;
    text-align: center;
    max-width: 637px;
    background-color: white;
    border-radius: 15px;
  }

  &__second-title {
    margin: 0 0 24px;
  }

  &__btn-rectangle {
    margin: 64px auto 0;
    transition: background-color 0.2s linear, box-shadow 0.2s linear;
    &:hover {
      background-color: $blue;
    }
  }
}

@media (max-width: 1000px) {
  .visionPassionResults__square {
    display: none;
  }
}
