.vision {
  height: 867px;
  background-color: $main-color;

  &__general {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__heading {
    margin-top: 200px;
    margin-bottom: 24px;
    font-family: $main-font;
    font-weight: 600;
    font-size: 52px;
    line-height: 78px;
    text-align: center;
    color: #253757;
  }

  &__text {
    font-family: $text-font;
    width: 754px;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #6c788b;
    text-align: center;
    margin-bottom: 64px;
  }
}
