.vpr {
  height: 688px;
  background: url(../images/Shapes.png) no-repeat;
  background-size: contain;
  display: flex;
  flex-direction: column;

  @media screen and (max-width: 600px) {
    background-position: center;
  }

  &__heading {
    font-size: 52px;
    line-height: 150%;
    text-align: center;
    color: #253757;
    margin: 99px auto 24px;
  }

  &__text {
    font-size: 24px;
    text-align: center;
    color: #6c788b;
    margin-bottom: 64px;
  }

  &__button {
    width: 226px;
    height: 56px;
    background: #ff9c8e;
    border-radius: 64px;
    border: none;
    cursor: pointer;
    transition: opacity 0.3s;
    margin-left: auto;
    margin-right: auto;

    &:hover {
      opacity: 0.8;
    }
  }

}
