@mixin elipse($width, $height) {
  width: $width;
  height: $height;
  border-radius: 500px;
  transform: rotate(-65deg);
  // border: red 2px solid;
}

.vpr {
  position: relative;
  display: flex;
  height: 691px;
  background-color: #fff;

  &__wrapper {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__text {
    width: 754px;
    text-align: center;
  }
  .button__link {
    font-size: 12px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
  }
}

.button {
  font-size: 12px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

.elipse {
  box-sizing: border-box;
  position: absolute;

  &__big {
    @include elipse (143px, 56px);
    &--blue {
      border: 2px solid rgba(86, 204, 242, 1);
    }
    &--green {
      border: 2px solid rgba(3, 213, 66, 0.5);
    }
  }

  &__mid {
    @include elipse (86px, 34px);
    &--yellow {
      border: 2px solid rgba(252, 195, 4, 1);
    }

    &--red {
      border: 2px solid rgba(242, 86, 86, 1);
    }

    &--pink {
      border: 2px solid rgba(188, 4, 252, 0.5);
    }
  }

  &__small {
    @include elipse (54px, 21px);
    &--yellow {
      border: 2px solid rgba(252, 195, 4, 1);
    }

    &--blue {
      border: 2px solid rgba(86, 204, 242, 1);
    }

    &--pink {
      border: 2px solid rgba(188, 4, 252, 0.5);
    }
  }

  &:nth-child(1) {
    top: 70%;
    right: 10%;
  }

  &:nth-child(2) {
    top: 30%;
    right: 15%;
  }

  &:nth-child(3) {
    top: 50%;
    left: 15%;
  }

  &:nth-child(4) {
    top: 13%;
    left: 13%;
  }

  &:nth-child(5) {
    top: 60%;
    right: 20%;
  }

  &:nth-child(6) {
    top: 40%;
    right: 5%;
  }

  &:nth-child(7) {
    bottom: 10%;
    left: 8%;
  }

  &:nth-child(8) {
    top: 15%;
    right: 8%;
  }

  &:nth-child(9) {
    top: 80%;
    left: 63%;
  }

  &:nth-child(10) {
    top: 10%;
    left: 28%;
  }

  &:nth-child(11) {
    top: 75%;
    left: 30%;
  }

  &:nth-child(12) {
    top: 50%;
    left: 5%;
  }
}
