.wrap-wellcome {
  width: 100%;
  background-color: $c-athens-gray;
  display: flex;
  justify-content: center;
}

.wellcome {
  max-width: 742px;
  margin: 0 20px;
  padding: 450px 0 160px;
  & > :first-child {
    margin-bottom: 19px;
  }
}
