.container {
  width: 100%;
  background-color: $c-athens-gray;
}

.wellcome {
  max-width: 742px;
  margin: 0 auto;
  padding-top: 450px;
  padding-bottom: 160px;
  & > :first-child {
    margin-bottom: 19px;
  }
}
