.welcome {
  height: 500px;
  padding-top: 148px;
  
  display: flex;
  justify-content: center;

  &__article {
    width: 50%;
    min-width: 490px;
  }

  &__title {
    color: $c-text-1;
    font-size: 32px;
    margin-bottom: 16px;
  }

  &__text {
    color: $c-text-3;
    font-size: 24px;
  }
}
