.welcome {
  max-width: 754px;
  margin: 0 auto;

  &__heading {
    width: 191px;
    font-family: $main-font;
    font-weight: 600;
    font-size: 32px;
    color: #253757;
    margin-bottom: 16px;
    padding-top: 148px;
  }

  &__text {
    width: 754px;
    font-family: $text-font;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #6c788b;
    padding-bottom: 148px;
  }
}

@media screen and (max-width:1000px) {
  .welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__text {
      width: 300px;
    }
  }
}
