.welcome {
  width: 47%;
  max-width: 754px;
  margin: 0 auto;

  &__heading {
    margin-top: 148px;
    font-weight: 600;
    font-size: 32px;
    line-height: 150%;
    color: $heading-color;
  }

  &__description {
    margin-bottom: 148px;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
  }
}

@media screen and (max-width: 768px) {
  .welcome {
    width: 70%;
  }
}

@media screen and (max-width: 505px) {
  .welcome {
    width: 85%;

    &__heading {
      font-size: 24px;
      margin-top: 60px;
    }

    &__description {
      font-size: 17px;
      margin-bottom: 60px;
    }
  }
}
