.what-we-do {
  padding-bottom: 160px;

  &__title {
    padding-bottom: 135px;
    font-weight: 900;
    font-size: 48px;
    line-height: 100%;
    text-align: center;
    color: $c-text-black;
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1150px;

  }

  &__block {
    display: flex;
    flex-direction: column;
    padding: 10px;
    box-sizing: border-box;
    max-width: 256px;
    min-width: 238px;
  }
}

.block {
  display: flex;
  align-items: center;

  &__title {
    font-weight: 900;
    font-size: 19.6px;
    line-height: 140%;
    padding: 60px 0 32px;
  }

  &__img {
    height: 160px;
    width: 160px;
    background-position: -32px -32px;
    background-repeat: no-repeat;
  }

  &__text {
    font-size: 16px;
    line-height: 150%;
    color: $c-text-black;
  }
}

.img-block-1 {
  background-image: url("../images/img-block-1.png");
}

.img-block-2 {
  background-image: url("../images/img-block-2.png");
}

.img-block-3 {
  background-image: url("../images/img-block-3.png");
}
