.who-we {
  margin: 148px 423px;
  color: #6c78bb;

  &__text-title {
    color: #253757;
    font-family: $font-big;
    font-weight: 600;
    font-size: 32px;
    line-height: 150%;
    margin-bottom: 16px;
  }

  &__text-description {
    width: 754px;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    color: #6c788b;
  }
}
