
@import "utils/vars";

.who-we-are {
  width: 47%;
  margin: 0 auto;
  padding: 147px 0;

  @media screen and (min-width: 1145px) {
    width: 754px;
  }

  @media screen and (max-width: 950px) {
    width: 687px;
    //по ширине верхнего слайдера
  }

  @media screen and (max-width: 727px) {
    //687 + 40 ширина слайдера + 20*2 отступы
    width: calc(100% - 40px);
    text-align: center;
  }

  &__text {
    font-size: 24px;
    line-height: 1.5em;
    font-family: "Open sans", sans-serif;
    color: $text-grey;

  }
}
