.who-we-are {
  padding: 0 100px;
  &__wrap {
    margin: 148px 0;
  }
  &__content {
    margin: 0 auto;
    max-width: 754px;
  }
  &__title {
    font-weight: $fontWeightLarge;
    font-size: 28px;

    color: #253757;

    margin-bottom: 16px;
  }
  &__quote {
    font-family: "Open Sans", sans-serif;
    font-weight: $fontWeightLarge;
    font-size: 20px;

    color: #6c788b;
  }
}
