.who-we-are {
  &__content {
    max-width: 800px;
    margin: 0 auto;

    @media (min-width: $bp-desktop) {
      padding-right: 154px;
      padding-left: 154px;
    }
  }

  &__title {
    font-family: $f-poppins;
    font-size: 32px;
    font-weight: 600;
    line-height: 150%;
    color: $c-navy;
    text-align: center;
  }

  &__description {
    margin: 24px 0 0;

    font-size: 22px;
    font-weight: 600;
    line-height: 150%;
    color: $c-gray-text;
    text-align: center;
  }
}
