.work {
  padding: 198px 0;
  background-image: url("../images/shapes.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: $lightTheme;
  text-align: center;

  &__text {
    width: 754px;
    margin: 24px auto 64px;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    color: #6c788b;
  }

  &__btn {
    padding: 15px 91px 18px;
    transition: 0.5s;

    &:hover {
      box-shadow: 0 0 10px rgba(0,0,0,0.5);
    }
  }

  @media (max-width: 778px) {
    padding: 100px 20px;
    background-image: none;

    &__text {
      width: 100%;
    }
  }
}
