.work {
  padding: 148px 20px;

  background-color: #fff;
  color: $text-color-darken;

  &__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    margin-top: 64px;
  }

  &__item {
    flex-basis: 320px;

    padding: 30px;
    border-radius: $border-radius-sm;

    text-align: center;
    cursor: pointer;

    transition: background-color $animation-long;
  }

  &__item:hover {
    background-color: $text-color-blue-rgba;
  }

  &__img {
    border-radius: $border-radius-sm;
    margin-bottom: 40px;

    transition: border-radius $animation-long;
  }

  &__item:hover .work__img {
    border-radius: $border-radius-md;
  }

  &__subj {
    margin-bottom: 16px;

    font-size: 20px;
    line-height: 140%;
  }

  &__text {
    font-family: "OpenSans", sans-serif;
    color: $text-color-dark;
    font-size: 14px;
    line-height: 150%;
  }

  @media (max-width: $break-point-lg) {
    & {
      padding: 70px 20px;
    }

    &__list {
      justify-content: center;
    }

    &__item {
      margin: 30px 20px;
    }
  }

  @media (max-width: $break-point-md) {
    & {
      padding: 40px 20px;
    }

    &__title {
      font-size: $font-size-mobile-lg;
    }
  }

  @media (max-width: $break-point-xs) {
    &__img {
      width: 100%;
      height: 150px;

      object-fit: cover;
    }
  }
}
