@import "./_utils.scss";

.work {
  padding: 200px 0;
  margin: 0 auto;
  max-width: 1000px;
  text-align: center;
  background-color: $c-gray;
  color: $text-color;

  &__header {
    font-weight: 900;
    font-size: 48px;
    margin-bottom: 56px;
  }

  &__descr {
    max-width: 700px;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    margin: 0 auto 56px;
  }

  &__button {
    @include button(#fff, $theme-color);
    margin: 0 auto;
  }
}
