.wrapper {
  max-width: 1146px;
  margin: 0 auto;
  padding: 0 20px;
  &--what-do {
    padding: 128px 0 148px;
  }
  &--process {
    padding-top: 148px;
    padding-bottom: 44px;
  }
  &--features {
    width: 100%;
  }
}
