.wrapper {
  max-width: 1146px;
  margin: 0 auto;
  padding: 0 20px;
  &--what-do {
    padding: 128px 0 148px;
  }
  &--process {
    padding-top: 148px;
    padding-bottom: 44px;
  }
  &--features {
    width: 100%;
  }
}
@media screen and (min-width: 400px) and (max-width: 960px) {
  .wrapper {
    &--header {
      height: 70vh;
      display: flex;
      align-items: center;
    }
  }
}
@media screen and (max-width: 960px) {
  .wrapper {
    width: 100%;
    &--what-do {
      padding: 30px 0;
    }
    &--process {
      padding: 30px 0;
    }
    &--footer {
      padding: 0;
    }
  }
}
