.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

@media screen and (max-width: 1300px) {
  .wrapper {
    max-width: 1000px;
  }
}

@media screen and (max-width: 1050px) {
  .wrapper {
    max-width: 780px;
  }
}

@media screen and (max-width: 900px) {
  .wrapper {
    max-width: 80%;
  }
}
