.about-us {
  justify-content: center;

  &__section-title {
    margin-top: 120px;
    margin-bottom: 24px;

    @include on-small-desktop {
      margin: 148px auto 16px;
    }
  }

  &__block {
    padding-left: 20px;
    border-radius: 30px;
    background-color: $special-background-color;

    @include on-tablet {
      justify-content: center;
      padding: 0;
    }

    @include on-small-desktop {
      padding: 0;
    }
  }

  &__container {
    justify-self: center;

    @include on-small-desktop {
      display: grid;
      grid-template-columns: repeat(3, 264px);
      gap: 52px;
      place-items: center;

      margin-top: 64px;
      margin-left: 54px;
    }

    @include on-desktop {
      @include desktop-mg-left;
    }

    @include on-desing {
      @include desing-mg-left;

      gap: 177px;
      padding-bottom: 155px;
    }

    @include on-large-screens {
      @include large-screens-mg-left;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 280px;

    text-align: center;

    @include on-tablet {
      @include tablet-mg-left;

      width: 362px;
    }

    @include on-small-desktop {
      max-width: 214px;
      margin: 0;
      padding: 0;
    }

    @include on-desing {
      max-width: 264px;
    }
  }

  &__images {
    width: 166px;
    height: 166px;
    border-radius: 20px;

    &:hover {
      @include hover(transform, scale(1.1));
    }
  }

  &__title {
    margin-top: 32px;
    margin-bottom: 16px;

    font-family: Poppins, sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 140%;
    color: $title-text-color;
    text-align: center;
  }

  &__article {
    margin-bottom: 56px;

    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
    text-align: center;

    @include on-tablet {
      margin-bottom: 72px;
    }

    @include on-small-desktop {
      max-width: 214px;
    }

    @include on-desing {
      max-width: 264px;
    }
  }
}
