@import "./utils";

.about {
  max-width: 754px;
  padding-top: 148px;
  padding-bottom: 148px;

  &__title {
    margin-bottom: 16px;
    color: $title-color;
  }

  &__desc {
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    color: $paragraph-color;
  }

  @media screen and (max-width: 1024px) {
    max-width: 100vw;
    padding-top: 118px;
    padding-bottom: 118px;

    &__desc {
      max-width: 610px;
      font-size: 18px;
    }
  }

  @media screen and (max-width: 800px) {
    padding-top: 62px;
    padding-bottom: 68px;

    &__desc {
      max-width: 490px;
      font-size: 16px;
    }
  }
}
