.about {
  padding-block: 120px;

  @include onTablet {
    padding-block: 148px;
  }

  &__text {
    margin: 0;
    margin-top: 24px;
    color: $regular-text-color;
    font-size: 22px;
    text-align: center;
    line-height: 150%;
    font-weight: 600;
  }
}
