.expertise {
  background-color: #fff;
  padding: 128px 17% 148px;

  &__heading {
    max-width: 562px;
    height: 78px;
    margin: 0 auto 64px;
    font-weight: 600;
    font-size: 52px;
    line-height: 150%;
    color: $heading-color;
    text-align: center;
  }

  &__cards {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
  }
}

@media (max-width: $laptop) {
  .expertise {
    padding: 118px 10% 128px;
  }
}

@media (max-width: 1023px) {
  .expertise {
    &__cards {
      flex-wrap: wrap;
      justify-content: center;
    }

    & .expertise__card:last-child {
      margin-top: 70px;
    }

    & .expertise__card:first-child {
      margin-right: 50px;
    }
  }
}

@media (max-width: 770px) {
  .expertise {
    padding: 60px 10%;

    &__heading {
      font-size: 38px;
      margin-bottom: 20px;
    }
  }
}

@media (max-width: 740px) {
  .expertise {
    padding: 50px 10%;

    &__heading {
      font-size: 41px;
      margin-bottom: 20px;
    }

    &__cards {
      flex-direction: column;
      align-items: center;
    }

    & .about-us__card:last-child {
      margin-top: 60px;
    }

    & .expertise__card:first-child {
      margin-right: 0;
      margin-bottom: 60px;
    }
  }
}
