.about-us {
  @include contentPaddingInline;
  &__content {
    text-align: center;

    @include onSmallDesktop {
      width: 716px;
    }

    @include onDesktop {
      width: 754px;
    }
  }

  &__title {
    font-size: 32px;
    padding-bottom: 24px;
    margin-top: 93px;
  }
}

.text {
  font-family: "Open Sans", sans-serif;
  font-size: 22px;
  color: $gray;

  @include onTablet {
    font-size: 24px;
    font-weight: 600;
    line-height: 150%;
  }
}
