.about-us {
  &__container {
    max-width: 750px;
    margin: 0 auto;
    padding: 150px 20px;
  }

  &__heading {
    font-weight: 600;
    font-size: 32px;
    color: #253757;
  }

  &__paragraph {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 24px;
    color: #6c788b;
    margin-top: 15px;
  }

  @media (max-width: 730px) {
    &__heading,
    &__paragraph {
      text-align: center;
    }
  }

  @media (max-width: 500px) {
    &__container {
      padding: 70px 20px;
    }
  }
}

.services {
  background-color: #fff;

  &__container {
    @extend %container;
    padding: 120px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  
    @media (max-width: 900px) {
      flex-direction: column;
      align-items: center;
      padding: 60px 0;
    }
  }

  &__heading {
    width: 100%;
    font-weight: 600;
    font-size: 52px;
    color: #253757;
    text-align: center;
  }

  &__card {
    margin-top: 70px;
  }
}

.serv-card {
  width: 265px;

  &__image-wrapper {
    height: 165px;
    width: 165px;
    margin: 0 auto;
    border-radius: 15px;
    transition: 1s;

    &:hover {
      transition: 0.7s cubic-bezier(0.46,2.65,0.04,0.29);
      transform: scale(1.2);
    }
  }

  &__heading {
    margin-top: 35px;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    color: #253757;
  }

  &__paragraph {
    margin-top: 15px;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    color: #6c788b;
  }

  &--branding {
    & .serv-card__image-wrapper {
      background: url(../images/our-expretise__image-1.png);
    }
  }

  &--communication {
    & .serv-card__image-wrapper {
      background: url(../images/our-expretise__image-2.png);
    }
  }

  &--strategy {
    & .serv-card__image-wrapper {
      background: url(../images/our-expretise__image-3.png);
    }
  }
}
