.about {
  &__content {
    margin-inline: auto;
    padding-block: 120px;

    @include on-tablet {
      padding-block: 148px;
    }

    @include on-desktop-sm {
      width: 716px;
      padding-block: 120px;
    }

    @include on-desktop-md {
      width: 754px;
      padding-block: 120px;
    }
  }

  &__title {
    margin-bottom: 24px;

    font-family: $title-font-family;
    font-size: 32px;
    font-weight: 600;
    line-height: 1.5;
    text-align: center;
    color: $title-primary-color;

    @include on-tablet {
      font-size: 52px;
    }
  }

  &__text {
    font-family: $main-font-family;
    font-size: 22px;
    font-weight: 600;
    line-height: 1.5;
    text-align: center;
    color: $text-primary-color;

    @include on-tablet {
      font-size: 24px;
    }
  }
}
