@import "utils/mixins";

.advantages {
  &__img {
    width: 166px;
    height: 166px;
    border-radius: 16px;
    transition: all 0.3s;
    cursor: pointer;
    @media screen and (max-width: 980px) {
      width: 70%;
      height: 100%;
    }
    @media screen and (min-width: 980px) {
      &:hover {
        transform: scale(1.3);
      }
    }
  }
  &__capture {
    @include poppins_font;
    font-weight: 600;
    font-size: 20px;
    line-height: 140%;
    margin: 40px 0 16px;
  }
  &__description {
    @include open_sans_font;
    font-size: 14px;
    line-height: 150%;
    color: #6c788b;
    text-align: center;
  }
  &__cards {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
