@import "./variables.scss";

.apply {
  display: flex;
  justify-content: center;

  width: 100%;
  height: 888px;

  text-align: center;
  background-color: $color-white;

  &__text-wr {
    padding-top: 199px;
    width: 754px;
  }

  &__title {
    text-align: center;
    @include font-size52px;
  }

  &__sign {
    margin-top: 24px;
    margin-bottom: 64px;
    @include font-size24px;
    color: $color-grey;
  }

  &__block-wr {
    position: relative;
    width: 443px;
    height: 100%;
  }

  &__decor-element {
    
    position: absolute;

    &_number1 {
      top: 72px;
      left: 223px;
    }

    &_number2 {
      top: 77px;
      left: 446px;
    }

    &_number3 {
      top: 370.12px;
      left: 82.16px;
    }

    &_number4 {
      top: 283px;
      left: 269px;
    }

    &_number5 {
      top: 465px;
      left: 481px;
    }

    &_number6 {
      top: 518.45px;
      left: 131.42px;
    }

    &_number8 {
      top: 109.48px;
      right: 111.13px;
    }

    &_number7 {
      top: 131px;
      right: 215.6px;
    }

    &_number9 {
      top: 385px;
      right: 314.3px;
    }

    &_number10 {
      top: 276.5px;
      right: 67.04px;
    }

    &_number11 {
      top: 514px;
      right: 553px;
    }

    &_number12 {
      top: 413.16px;
      right: 143.6px;
    }
  }
}
