.container-apply {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.apply-title {
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 100%;
  padding-top: 160px;
}

.apply-text {
  padding-top: 57px;
  font-size: 24px;
  line-height: 150%;
  font-style: normal;
  text-align: center;
  width: 50%;
}

.apply-button {
  margin-top: 55px;
  width: 226px;
  height: 56px;
  background: #2f80ed;
  border-radius: 64px;
  color: white;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 1px;
  border-width: 0;
  cursor: pointer;
  transition: 0.5s ease-in;
}

.apply-button:hover {
  background: #fcc304;
}

.apply-btn {
  position: relative;
}

.bg-apply {
  opacity: 0.5;
  border-radius: 500px;
  transform: rotate(-65.1deg);
  position: absolute;
}

.left-side-orange-top {
  width: 45.28px;
  height: 17.9px;
  left: 446px;
  top: 106.07px;
  border: 3px solid #fcc304;
}

.left-side-orange-bottom {
  width: 45.28px;
  height: 17.9px;
  left: 481px;
  top: 494.07px;
  border: 2px solid #fcc304;
}

.left-side-purple {
  width: 93.54px;
  height: 36.98px;
  left: 131.42px;
  top: 591.29px;
  border: 1px solid purple;
}

.left-side-green {
  width: 143.04px;
  height: 56.54px;
  left: 269px;
  top: 400.74px;
  border: 3px solid #03d542;
}

.left-side-pink {
  width: 85.61px;
  height: 33.84px;
  left: 233px;
  top: 137.65px;
  border: 2px solid pink;
}

.left-side-blue {
  width: 67.36px;
  height: 26.63px;
  left: 82.16px;
  top: 419.21px;
  border: 1px solid rgb(64, 174, 207);
}

.right-side-green {
  width: 143.04px;
  height: 56.54px;
  left: 1272.91px;
  top: 248.7px;
  border: 3px solid #03d542;
}

.right-side-blue {
  width: 153.61px;
  height: 60.72px;
  left: 1336.69px;
  top: 540.49px;
  border: 2px solid rgb(64, 174, 207);
}

.right-side-orange {
  width: 86.41px;
  height: 34.16px;
  left: 1465.59px;
  top: 342.88px;
  border: 2px solid #fcc304;
}

.right-side-pink {
  width: 85.61px;
  height: 33.84px;
  left: 1218.98px;
  top: 450.81px;
  border: 2px solid pink;
}

.right-side-purple-top {
  width: 53.69px;
  height: 21.22px;
  left: 1447.02px;
  top: 146.18px;
  border: 3px solid purple;
}

.right-side-purple-bottom {
  width: 45.28px;
  height: 17.9px;
  left: 1012px;
  top: 543.07px;
  border: 2px solid purple;
}

@media (max-width: 1560px) {
  .right-side-purple-bottom {
    left: 912px;
  }

  .right-side-purple-top {
    left: 1241px;
  }

  .right-side-pink {
    left: 1100.98px;
  }

  .right-side-orange {
    left: 1265px;
  }

  .right-side-blue {
    left: 1136px;
  }

  .right-side-green {
    left: 1072px;
  }
}

@media (max-width: 1300px) {
  .right-side-purple-bottom {
    left: 612px;
  }

  .right-side-purple-top {
    left: 941px;
  }

  .right-side-pink {
    left: 800px;
  }

  .right-side-orange {
    left: 965px;
  }

  .right-side-blue {
    left: 836px;
  }

  .right-side-green {
    left: 772px;
  }
}

@media (max-width: 1070px) {
  .right-side-orange {
    display: none;
  }

  .left-side-green {
    display: none;
  }

  .right-side-purple-top {
    display: none;
  }

  .left-side-pink {
    display: none;
  }

  .left-side-orange-bottom {
    display: none;
  }
}

@media (max-width: 980px) {
  .right-side-purple-bottom {
    left: 412px;
  }

  .right-side-pink {
    display: none;
  }

  .right-side-blue {
    left: 500px;
  }

  .right-side-green {
    display: none;
  }
}

@media (max-width: 650px) {
  .right-side-blue {
    display: none;
  }
}
