@import "utils";
@import "fonts";
@import "typography";

.apply {
  padding: 100px 0;
  background-color: #fff;

  @media (min-width: $tablet-width) {
    padding: 199px 0;
  }

  &__title {
    position: relative;
    width: 280px;
    margin: 0 auto 24px;

    font-family: "Poppins", sans-serif;
    font-size: 40px;
    line-height: 52px;
    font-weight: 600;
    text-align: center;

    color: $c-title;
    z-index: 1;

    @media (min-width: $tablet-width) {
      width: 715px;

      font-size: 52px;
      line-height: 78px;
    }
  }

  &__text {
    position: relative;
    width: 300px;
    margin: 0 auto 64px;

    font-size: 24px;
    line-height: 36px;
    font-weight: 600;

    text-align: center;
    color: $c-text;
    z-index: 1;

    @media (min-width: $tablet-width) {
      width: 764px;
    }
  }

  &__pills-container {
    position: relative;
  }

  &__pill {
    transform: rotate(-65deg);
    background-color: transparent;
    border: 5px solid $c-first-cart;
    opacity: 0.5;
    transition: $transition-time ease-in-out;

    &:hover {
      transform: rotate(-65deg) scale(1.2);
    }

    &--first {
      position: absolute;
      top: -35px;
      left: 150px;
      width: 85px;
      height: 33px;
      border-radius: 30px;
      border-color: $c-third-cart-testimonials;

      @media (min-width: $laptop-large-width) {
        top: 0;
        left: 150px;
      }
    }

    &--second {
      display: none;
      position: absolute;
      top: -65px;
      left: 490px;
      width: 45px;
      height: 17px;
      border-radius: 15px;
      border-color: $c-second-cart-testimonials;

      @media (min-width: $tablet-width) {
        display: block;
      }
    }

    &--third {
      display: none;
      position: absolute;
      top: 155px;
      left: 320px;
      width: 143px;
      height: 56px;
      border-radius: 50px;
      border-color: #03d542;

      @media (min-width: $laptop-width) {
        display: block;
      }
    }

    &--fourth {
      display: none;
      position: absolute;
      top: 300px;
      left: 620px;
      width: 45px;
      height: 17px;
      border-radius: 15px;
      border-color: $c-second-cart-testimonials;

      @media (min-width: $tablet-width) {
        display: block;
      }
    }

    &--five {
      position: absolute;
      top: 460px;
      left: 200px;
      width: 93px;
      height: 36px;
      border-radius: 30px;
      border-color: #bc04fc;

      @media (min-width: $tablet-width) {
        top: 370px;
        left: 200px;
      }
    }

    &--six {
      position: absolute;
      top: 140px;
      right: 10px;
      width: 67px;
      height: 26px;
      border-radius: 21px;
      border-color: $c-first-cart;

      @media (min-width: $tablet-width) {
        top: 200px;
        left: 100px;
      }
    }

    &--seven {
      display: none;
      position: absolute;
      top: 350px;
      right: 700px;
      width: 45px;
      height: 17px;
      border-radius: 15px;
      border-color: #bc04fc;

      @media (min-width: $laptop-large-width) {
        display: block;
      }
    }

    &--eight {
      position: absolute;
      top: 300px;
      right: 200px;
      width: 153px;
      height: 60px;
      border-radius: 50px;
      border-color: $c-first-cart;
    }

    &--nine {
      display: none;
      position: absolute;
      width: 85px;
      height: 33px;
      top: 260px;
      right: 400px;
      border-radius: 30px;
      border-color: $c-third-cart-testimonials;

      @media (min-width: $laptop-large-width) {
        display: block;
      }
    }

    &--ten {
      display: none;
      position: absolute;
      width: 143px;
      height: 56px;
      top: 60px;
      right: 300px;
      border-radius: 30px;
      border-color: #03d542;

      @media (min-width: $laptop-large-width) {
        display: block;
      }
    }

    &--eleven {
      position: absolute;
      width: 86px;
      height: 34px;
      top: 120px;
      right: 400px;
      border-radius: 30px;
      border-color: $c-second-cart-testimonials;

      @media (min-width: $laptop-width) {
        top: 60px;
        right: 80px;
      }
    }

    &--twenty {
      position: absolute;
      width: 53px;
      height: 21px;
      top: 50px;
      left: 10px;
      border-radius: 30px;
      border-color: #bc04fc;

      @media (min-width: $tablet-width) {
        top: 50px;
        right: 180px;
      }

      @media (min-width: $laptop-width) {
        top: -20px;
        right: 200px;
      }
    }
  }
}
