.approach {
  margin-left: 10%;
  padding-top: 100px;

  &__inner {

    display: flex;
    align-items: center;
    //width: 80%;
    //position: relative;
    //max-height: 976px;
    height: 800px;

    //////
    //position: relative;
    //max-height: 976px;

    background-color: $c-pink;
    border-top-left-radius: $back-radius;
    border-bottom-left-radius: $back-radius;
    bottom: $padding-section * 1.5;
    z-index: -1;
  }

  &__img {
    position: relative;
    background: url("../images/features/features-bg.png");
    width: 80%;
    height: 80%;
    max-width: 687px;
    max-height: 680px;
    bottom: -80px;
    right: -20px;
  }

  &__information {
    margin-left: 150px;
    max-width: 362px;
  }

  &__title {
    margin-bottom: 16px;
    @include sectionTitleSmall;
    color: $c-white;
  }

  &__title-big {
    @include sectionTitleMiddle;
    color: $c-white;
    margin-bottom: 32px;
  }

  &__rules {
    display: flex;
    flex-direction: column;
    row-gap: 64px;

  }

  &__rule {
    display: flex;
    align-items: center;
    gap: 64px 24px;

    &-desctiption {
      font-size: 15px;
    }
  }
}
