@import "utils";
@import "fonts";
@import "typography";

.approach {
  width: 90%;
  margin-left: auto;

  background-color: $c-button;
  border-radius: 200px 0 0 200px;
  color: #fff;

  @media (min-width: $desktop-width) {
    min-width: 1479px;
  }

  &__container {
    width: 1275px;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
  }

  &__text-wrapper {
    align-self: center;
  }

  &__title {
    margin: 0 0 16px;

    font-family: "Poppins", sans-serif;
    font-size: 13px;
    line-height: 19px;
    font-weight: 700;

    letter-spacing: 3px;
    text-transform: uppercase;
  }

  &__list-title {
    width: 362px;
    margin: 0 0 32px;

    font-family: "Poppins", sans-serif;
    font-size: 32px;
    line-height: 48px;
    font-weight: 600;
  }

  &__list {
    @include list-style-reset;
    width: 362px;
  }

  &__item {
    width: 362px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 15px;
    line-height: 24px;

    &--outer {
      margin-bottom: 64px;
    }
  }

  &__icon {
    position: relative;
    width: 64px;
    height: 64px;
    border-radius: 50%;

    background-color: #fff;

    &::after {
      content: "";
      position: absolute;
      width: 24px;
      height: 24px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-image: url(../images/speaker.svg);
    }

    &--second {
      &::after {
        width: 20px;
        height: 22px;
        background-image: url(../images/calendar.svg);
      }
    }

    &--third {
      &::after {
        width: 18px;
        height: 22px;
        background-image: url(../images/document.svg);
      }
    }
  }

  &__text {
    width: 264px;
    margin: 0;
  }

  &__image-wrapper {
    width: 687px;
    height: 680px;
    margin-top: 296px;
    border-radius: 200px 0 0;
    overflow: hidden;
  }

  &__image {
    width: 100%;
    height: auto;
    transition: $transition-time ease-in-out;

    &:hover {
      transform: scale(1.1);
    }
  }
}
