.approach {
  width: 362px;

  &__text {
    margin-bottom: 16px;
    font-weight: 600;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 3px;
    text-transform: uppercase;

    @media (max-width: 1280px) {
      font-size: 11px;
      line-height: 16px;
    }
  }

  &__heading {
    margin-bottom: 32px;
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;

    @media (max-width: 1280px) {
      font-size: 28px;
      line-height: 42px;
    }
  }

  &__info {
    font-family: $font-Open;
  }

  &__strategy {
    display: grid;
    grid-template-columns: 64px 1fr;
    column-gap: 34px;
    row-gap: 64px;
    align-items: center;
  }

  @media (max-width: 1280px) {
    width: 320px;
  }

  
}
