.bg-header {
  /* stylelint-disable */
  background: linear-gradient(90deg, rgba(86, 204, 242, 1) 50%, rgba(252, 252, 253, 1) 50%);
  /* stylelint-enable */
}

.bg-services,
.bg-testimonials {
  background-color: #fff;
}

.bg-process,
.bg-apply,
.bg-contact {
  background-color: #fcfcfd;
}

.bg-features {
  background-color: #56ccf2;
}
