.blocks-layout {
  display: flex;
  justify-content: space-between;

  @media (max-width: 1024px) {
    flex-direction: column;
    align-items: center;

    
    &__block {
      margin-bottom: 30px;
    }
  }
}
