.block {
  display: flex;
  width: 280px;
  height: 300px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;

  &--person {
    position: relative;
    height: 500px;
    padding: 87px 15px 32px;
    box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
    background-color: white;
    border-radius: 16px;

    &::before {
      content: "";
      display: block;
      position: absolute;
      width: 139px;
      height: 56px;
      left: 30px;
      bottom: 360px;
      border-radius: 12px;
      background-color: #2060f6;
      transform: rotate(-60deg);
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      width: 139px;
      height: 56px;
      right: 26px;
      top: 165px;
      border-radius: 12px;
      background-color: $highlightColor;
      transform: rotate(-60deg);
      
    }
  }

  &__image {
    margin: 0 auto ;
    width: 140px;
    height: 140px;
    border-radius: 20px;
    object-fit: cover;
    box-shadow: 0 15px 15px -10px rgba(0, 0, 0, 0.5);

    &--round {
      border-radius: 50%;
      z-index: 1;
    }
  }

  &__heading {
    font-weight: 600;
    font-size: 20px;
    line-height: 140%;
    color: $headingColor;
  }

  &__quote {
    display: block;
    width: 20px;
    height: 20px;
    margin: 10px auto;
  }

  &__commit {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    text-align: center;

    color: $textColor;
  }

  &__name {
    font-weight: 600;
    font-size: 13px;
    line-height: 60px;
    color: $headingColor;
    text-align: center;
  }

  &__work {
    font-weight: 600;
    font-size: 13px;
    line-height: 150%;
    text-align: center;
    color: #c0cdd7;
  }
}
