.block {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;

  &__comment {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px;
    width: 314px;
    background-color: white;
    border-radius: 24px;
    box-sizing: border-box;
  }

  &__comment:not(:last-child) {
    margin-right: 20px;
  }

  &__photo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 250px;
    margin-bottom: 27px;
  }

  &__color {
    width: 140px;
    height: 56px;
    border-radius: 500px;
  }

  &__color1 {
    transform: translate(-55px, 58px) rotate(-60deg);
  }

  &__color2 {
    transform: translate(55px, -58px) rotate(-60deg);
  }

  &__img {
    position: relative;
    z-index: 2;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
  }

  &__paint1 {
    background-color: #56ccf2;
  }

  &__paint2 {
    background-color: #fcc304;
  }

  &__paint3 {
    background-color: #ff9c8e;
  }

  &__quotes {
    width: 21px;
    height: 19px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 11px;
  }

  &__quotes1 {
    background-image: url("../images/quotes1.svg");
  }

  &__quotes2 {
    background-image: url("../images/quotes2.svg");
  }

  &__quotes3 {
    background-image: url("../images/quotes3.svg");
  }

  &__text {
    font-size: 13px;
    text-align: center;
    margin-bottom: 16px;
  }

  &__heading {
    font-size: 13px;
    margin-bottom: 4px;
  }

  &__company {
    font-family: Poppins, sans-serif;
    font-weight: bold;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #c0cdd7;
  }
}

@media (min-width: 1901px) and (max-width: 3500px) {
  .block {
    max-width: 1440px;

    &__text {
      font-size: 17px;
    }

    &__heading {
      font-size: 17px;
    }

    &__company {
      font-size: 17px;
    }
  }
}

@media screen and (max-width: 1400px) {
  .block {

    &__comment {
      width: 290px;
    }
  }
}

@media screen and (max-width: 1020px) {
  .block {

    &__comment {
      width: 230px;
    }

    &__photo {
      width: 210px;
    }

    &__comment:not(:last-child) {
      margin-right: 10px;
    }

    &__company {
      text-align: center;
      font-size: 13px;
    }
  }
}

@media screen and (max-width: 755px) {
  .block {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__comment {
      width: 314px;
    }

    &__comment:not(:last-child) {
      margin: 0 0 30px;
    }

    &__photo {
      width: 250px;
    }
  }
}

@media screen and (max-width: 350px) {
  .block {

    &__comment {
      width: 300px;
    }
  }
}
