@import "utils";

[data-change="blueTheme"].header {
  background-color: #008aff;
  border-radius: 0 0 0 200px;

  &__menu--link:hover {
    border-color: $colorPink;
  }

  &__top--hire::after {
    background-color: $colorPink;
  }

  &__button {
    background-color: $colorPink;
    border-radius: 64px;
    &:hover {
      background-color: #ff7e6c;
    }
  }
}

[data-change="blueTheme"].page__menu {
  background-color: #008aff;
}

[data-change="blueTheme"].menu {
  &__link:hover {
    border-color: $colorPink;
  }
}

[data-change="blueTheme"].button {
  background-color: $colorPink;
  border-radius: 64px;
  &:hover {
    background-color: #ff7e6c;
  }
}

[data-change="blueTheme"].slider {
  &__image {
    border-radius: 0;
    border-top-left-radius: 200px;

    &--1 {
      background-image: url(../images/slider/Photo.png);
    }
  }
}

[data-change="blueTheme"].service {
  &__number {
    &--1 {
      background-color: rgba(86, 204, 242, 0.1);
      color: #56ccf2;
    }

    &--2 {
      background-color: rgba(252, 201, 29, 0.1);
      color: #fcc91d;
    }

    &--3 {
      background-color: rgba(21, 216, 80, 0.1);
      color: #15d850;
    }

    &--4 {
      background-color: rgba(243, 99, 99, 0.1);
      color: #f36363;
    }
  }

  &__button {
    &:hover::after {
      background-color: $colorPink;
    }

    &--1 {
      &::before {
        background-color: #56ccf2;
      }
    }

    &--2 {
      &::before {
        background-color: #fcc91d;
      }
    }

    &--3 {
      &::before {
        background-color: #15d850;
      }
    }

    &--4 {
      &::before {
        background-color: #f36363;
      }
    }
  }
}

[data-change="blueTheme"].testimonial {
  &__photo-container {
    &--1 {
      &::before {
        background-image: url(../images/rectangle_1.svg);
      }
      &::after {
        background-image: url(../images/rectangle_1.svg);
      }
    }

    &--2 {
      &::before {
        background-image: url(../images/rectangle_2.svg);
      }

      &::after {
        background-image: url(../images/rectangle_2.svg);
      }
    }

    &--3 {
      &::before {
        background-image: url(../images/rectangle_3.svg);
      }

      &::after {
        background-image: url(../images/rectangle_3.svg);
      }
    }

  }

  &__image {
    &--1 {
      background-image: url(../images/quotes_1.svg);
    }

    &--2 {
      background-image: url(../images/quotes_2.svg);
    }

    &--3 {
      background-image: url(../images/quotes_3.svg);
    }
  }
}

[data-change="blueTheme"].vision {
  background-image: url(../images/vision-bg.png);

  &__button {
    background-color: $colorPink;
    border-radius: 64px;
    &:hover {
      background-color: #ff7e6c;
    }
  }
}

[data-change="blueTheme"].footer {
  background-color: #008aff;
  border-radius: 0 200px 0 0;

  &__container {
    position: relative;

    @include exceptMob {
      &::after {
        background-color: #fff;
        content: "";
        display: block;
        position: absolute;
        width: 200px;
        height: 200px;
        right: 0;
        top: 0;
        z-index: -1;
      }
    }
  }
}

[data-change="blueTheme"].send-us {
  &__field {
    caret-color: #fff;
    &:hover {
      border-bottom: 2px solid #fff;
    }

    &:-webkit-autofill {
      &,
      &:hover,
      &:focus,
      &:active {
        background-color: transparent;
        -webkit-text-fill-color: #fff;
        -webkit-box-shadow: 0 0 0 30px #008aff inset;
      }
    }
  }
}

[data-change="blueTheme"].contact-us {
  &__info-link {
    &:hover {
      border-color: $colorPink;
    }

    &--fb:hover {
      background-image: url(../images/icons/facebook_hover_blue.svg);
    }

    &--twitter:hover {
      background-image: url(../images/icons/twitter_hover_blue.svg);
    }

    &--insta:hover {
      background-image: url(../images/icons/instagram_hover_blue.svg);
    }
  }
}
