@import "utils";
@import "typography";
@import "wrapper";
@import "header";
@import "nav";
@import "button";
@import "main";
@import "circle-button";
@import "greeting";
@import "products";
@import "process";
@import "target";
@import "testimonials";
@import "vision";
@import "framework";
@import "footer";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: $bgc-body;
}
