@import "utils/vars";

.burger {
  position: relative;
  display: none;
  width: 30px;
  height: 24px;
  cursor: pointer;
  z-index: 3;

  @media (max-width: $breakpoint-tablet) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    order: -1;
  }

  &__span {
    height: 4px;
    background-color: $c-white;
    transition: transform $transition;
  }
}
