.burger {
  &__toggler {
    height: 40px;
    width: 40px;
    background: #dcdcdc;
    border-radius: 3px;
    opacity: 0.5;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.1s;
    position: fixed;
    top: 35px;
    right: 35px;
    z-index: 51;
  
    &:active {
      transform: scale(0.95);
    }
  
    @media (max-width: 940px) {
      display: flex;
    }
  }

  &__strip {
    
    &-top {
      @extend %burger-strip;
    }

    &-bottom {
      @extend %burger-strip;
      margin-top: 8px;
    }
  }

  &__menu {
    background: #2c2c2c;
    height: 100vh;
    width: 100vw;
    z-index: 50;
    position: fixed;
    left: 100%;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
  
    @media (max-width: 940px) {
      display: flex;
    }
  }

  &__link {
    font-size: 40px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    padding: 0 20px;
    margin: 20px 0;
  }

  &__checkbox {
    visibility: hidden;
    position: absolute;
  
    &:checked ~ .burger__menu {
      left: 0;
    }
  
    &:checked ~ .burger__toggler > .burger__strip-top {
      transform: rotate(45deg);
      margin-left: 7px;
    }
  
    &:checked ~ .burger__toggler > .burger__strip-bottom {
      transform: rotate(-45deg);
      margin: 15px 0 0 7px;
    }
  }
}
