.burger-menu {
  position: fixed;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  background-color: $header-footer-background-color;
  padding: 20px 20px 0;
  top: 0;
  opacity: 0;
  transition: all 0.5s;
  transform: translateX(-100%);
  pointer-events: none;
  z-index: 2;

  @include on-tablet {
    padding: 20px 40px 0;
  }

  &:target {
    opacity: 1;
    transform: translateX(0);
    pointer-events: all;
  }

  &__conteiner {
    display: flex;
    justify-content: space-between;
  }

  &__icon-close {
    display: block;
    height: 21px;
    width: 21px;
    background: url(../images/icons/icon-close.svg) no-repeat;
  }

  &--positioning {
    margin: 0 0 40px;
  }

  &--font-size {
    font-size: 16px;
  }

  &__items {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
  }
}
