.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: $button-size-w;
  height: $button-size-h;

  @include textPoppinsDifference(600, 15px);
  color: $c-white;
  border: none;
  background-color: $c-pink;
  border-radius: $button-radius;

  transition: background-color 0.5s linear;
  cursor: pointer;

  &:hover {
    background-color: $c-dark-pink;
  }
}

.arrows {
  display: flex;
  column-gap: 8px;
}

.arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $c-white;
  width: $arrow-size;
  height: $arrow-size;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.3s linear;

  &:hover {
    transform: scale(1.1);
  }
}
