@import "var";

.button {
  color: $fontColorSecond;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  height: 50px;
  width: 226px;
  border-radius: 64px;
  background-color: #FF9C8E;
  border: none;
  cursor: pointer;
  transition: transform 0.3s , background-color 0.3s;
  outline: none;

  &:hover {
    transform: scale(1.03);
  }

  &:focus {
    background-color: $buttonFocus;
    outline: none;
  }
}
