.button {
  width: 226px;
  height: 50px;
  border-radius: 8px;
  background-color: $blue-color;

  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  color: $white-color;
  outline: none;
  cursor: pointer;
  transition: background-color 0.5s, box-shadow 0.3s, color 0.5s;
  &:hover {
    background-color: $white-color;
    color: $blue-color;
    box-shadow: 0 13px 27px rgba(0, 83, 181, 0.46);
  }
}
