.btn {
  background-color: $custom_blue;
  color: $custom_white;
  display: block;
  padding: 14px 94px;
  font-size: 15px;
  font-weight: 600;
  line-height: 23px;
  text-align: center;
  text-decoration: none;
  border-radius: 8px;
  border: 0;
  transition: background-color 0.3s ease-in-out;

  @include OnTablet {
    width: 265px;
    padding: 14px 88px;
  }

  &:hover {
    background-color: $custom_gray;
  }
}
