.card-head {
  padding-top: 120px;
  background-color: $colorBeige;

  &__container {
    margin: 0 20px;
    text-align: left;
  }

  &__before-title {
    @include before-title{
      margin-bottom: 16px;
    }
  }

  &__title {
    @include title {
    align-items: center;
    margin-bottom: 24px;
    font-size: 32px;
    line-height: 42px;
    }
  }

  &__paragraph {
    @include paragraph {
    margin-bottom: 21px;
    }

    &:last-child {
      margin-bottom: 48px;
    }
  }
}
  