.card {
  &--services {
    margin: 0 54px;
  }

  &--testimonials {
    @include onPhone-big {
      padding: 0 54px;
    }

    @include onIpad {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 54px;
    }
  }

  &__block {
    margin: 0 20px 24px;

    @include onPhone-big {
      height: 264px;
      min-width: max-content;
    }

    @include onIpad {
      min-width: max-content;
      max-width: 264px;
    }

    &--1-1 {
      @include onPhone-big {
        margin: 0 30px 30px 41px;
      }

      @include onIpad {
        margin: 0 20px 20px 0;
      }
    }

    &--2-2 {
      @include onPhone-big {
        margin: 0 41px 30px 0;
      }

      @include onIpad {
        margin: 0 0 20px;
      }
    }

    &--3-3 {
      @include onPhone-big {
        margin: 0 30px 0 41px;
      }

      @include onIpad {
        margin: 0 20px 0 0;
      }
    }

    &--4-4 {
      @include onPhone-big {
        margin: 0 41px 0 0;
      }

      @include onIpad {
        margin: 0;
      }
    }

    &--1-3 {
      @include onIpad {
        grid-column: 7 / 10;
      }
    }

    &--2-4 {
      @include onPhone-big {
        transform: translateY(-50%);

        @include onIpad {
          grid-column: 10 / 13;
        }
      }
    }
  }

  &__box-white {
    padding: 34px 48px 32px 32px;
    background-color: #fff;
    border-radius: 16px;

    &--test {
      padding: 75px 42px 32px;
      margin-bottom: 24px;
      transition: background-color 300ms;

      &:hover {
        background-color: #56ccf2;
      }

      @include onPhone-big {
        margin-bottom: 30px;
      }

      @include onIpad {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 456px;
        width: 292px;
        margin-bottom: 0;
        margin-right: 20px;
      }
    }

    &--last {
      margin-right: 0;
    }
  }
}
