.cards {
  display: flex;
  justify-content: space-between;

  @media (max-width: $size-small - 20px) {
    @include location;
  }

  &__card {
    @media (max-width: $size-small) {
      margin-bottom: 50px;
    }
  }
}
