.card {
  background: white;
  box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
  border-radius: 24px;
  width: 264px;
  height: 264px;
  padding: 32px;
  box-sizing: border-box;
  margin-bottom: 30px;

  &__number {
    width: 46px;
    height: 24px;
    color: #56ccf2;
    background-color: #56ccf21a;
    font-size: 13px;
    line-height: 24px;
    text-align: center;
    margin-bottom: 24px;
    border-radius: 23px;
  }

  &__text {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 13px;
    line-height: 19px;
    color: #6c788b;
    margin-bottom: 32px;
  }

  &__button {
    background-image: url(../images/process/arrow.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-color: #56ccf2;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: none;

    &-wrapper {
      position: relative;
      height: 48px;
    }

    &-text {
      position: absolute;
      left: 64px;
      top: 10px;
      display: block;
      font-weight: 600;
      font-size: 15px;
    }
  }

}
