.card-info {
  padding: 32px;
  border-radius: 16px;

  background-color: #fff;
  z-index: 1;

  &__number {
    display: inline-block;
    margin-bottom: 24px;
    padding: 2px 12px;

    background: rgba(32, 96, 246, 0.1);
    border-radius: 23px;

    font-weight: 600;
    font-size: 13px;
    line-height: 19px;

    text-transform: uppercase;
    color: $secondary-color;
  }

  &__list {
    list-style: none;
    margin-bottom: 32px;

    font-family: "Open Sans", Helvetica, sans-serif;
    font-weight: 600;
    font-size: 13px;
    line-height: 150%;

    color: #6c788b;
  }

  &__btn {
    display: flex;
    align-items: center;

    font-weight: 600;
    font-size: 15px;
    line-height: 22px;

    cursor: pointer;
  }

  &__circle {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-right: 16px;

    width: 40px;
    height: 40px;

    border-radius: 50%;
    background-color: $secondary-color;

    transition: transform $transition-duration;

    &:hover {
      transform: scale(1.2);
    }
  }

  &__arrow {
    width: 16px;
    height: 16px;
    background: url("../images/slider/right-arrow.svg") no-repeat center/cover;
  }
}
