.card {
  font-weight: 600;
  @include font(20px, 28px);

  transition: transform $transition-duration;

  &:hover {
    transform: scale(1.2);
  }

  &__photo {
    margin-bottom: 40px;

    border-radius: 15px;

    @media (max-width: 1280px) {
      width: 60%;
    }
  }

  &__heading {
    margin-bottom: 16px;

    color: $c-heading;

    @media (max-width: 1280px) {
      @include font(18px, 26px);
    }
  }

  &__text {
    width: 264px;

    font-family: $font-Open;
    font-weight: 400;
    @include font(14px, 20px);

    color: $c-text;
    
    @media (max-width: 1280px) {
      width: 234px;

      @include font(12px, 20px);
    }

    @media (max-width: $size-small - 20px) {
      width: 334px;
      
      @include font(14px, 20px);
    }

    @media (max-width: 340px) {
      width: 310px;
    }
  }
}
