@import "variable";

.text {
  background-color: lightcyan;
  height: 500px;
}

.cards {
  &__links {
    display: grid;
    grid-template-columns: repeat(2, 264px);
    justify-content: space-between;
    grid-row-gap: 30px;
    margin-top: 148px;
  }
}

.card {
  &__img {
    background: #fff;
    border-radius: 20px;
    padding-top: 32px;
    padding-left: 32px;
  }

  &__number {
    width: 46px;
    height: 24px;
    margin-bottom: 24px;

    color: #56ccf2;
    background: rgb(238, 250, 255);
    border-radius: 23px;
  }

  &__number-text {
    font-family: $poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 23px;
    opacity: 1;
    text-align: center;
  }

  &__img:nth-child(2) > &__number {
    color: #fcc91d;
    background-color: rgb(255, 247, 219);
  }

  &__img:nth-child(3) > &__number {
    color: #15d850;
    background-color: rgb(219, 255, 230);
  }

  &__img:nth-child(4) > &__number {
    background-color: rgb(255, 219, 219);
    color: #f36363;
  }
  
  &__info-p {
    margin-bottom: 32px;

    font-family: $Open-Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 150%;
    color: $text-color;
  }

  &__link {
    display: flex;
    margin-bottom: 32px;
  }

  &__arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin-right: 16px;

    background-color: #56ccf2;
    border-radius: 50%;
  }

  &__img:nth-child(2) > &__link > &__arrow {
    background-color: #fcc91d;
  }

  &__img:nth-child(3) > &__link > &__arrow {
    background-color: #15d850;
  }

  &__img:nth-child(4) > &__link > &__arrow {
    background-color: #f36363;
  }

  &__link-h3 {
    font-family: $poppins;
    font-weight: 600;
    font-size: 15px;
    line-height: 40px;
    text-align: center;
    color: #334563;
  }
}

@media screen and (min-width: 921px) {
  .cards {
    &__links {
      display: grid;
      grid-template-columns: repeat(2, 264px);
      grid-gap: 30px;
      margin-top: 148px;
    }
  }

  .card {

    &__img:first-child {
      margin-bottom: -100px;
      margin-top: 100px;
    }
  
    &__img:nth-child(3) {
      margin-bottom: -100px;
      margin-top: 100px;
    }
  }
}

@media screen and (max-width: 613px) {
  .cards {
    &__links {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      margin-top: 50px;
    }
  }

  .card__img {
    width: 232px;
    margin-bottom: 40px;
  }
}
