@import "utils/vars";

.cards {
  display: grid;
  grid-template-columns: repeat(3, 264px);
  justify-content: center;
  column-gap: 128px;

  &__img {
    $img-size: 160px;

    height: $img-size;
    width: $img-size;
    object-fit: cover;
    object-position: center;
    box-shadow: 32px 32px 64px rgba(86, 204, 242, 0.05);
    border-radius: 50%;
    margin-bottom: 64px;
  }

  &__title {
    font-weight: 900;
    font-size: 19px;
    line-height: 1.4;
    margin-bottom: 32px;
    color: $c-blue;
  }

  &__text {
    font-weight: normal;
    font-size: 16px;
    line-height: 1.5;
    color: $c-dark-blue;
  }
}
