.card__services {
  height: 262px;
  border-radius: 16px;
  background-color: $main-text-color-white;
  box-shadow: 0 9px 18px 0 #25293108;

  &__container {
    padding-block: 32px;
    padding-inline: 23px;
  }

  &__numbers-container {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 46px;
    height: 24px;
    margin: 0 0 24px;
    border-radius: 23px;

    background-color: rgba($main-blue-color, 0.1);
  }

  &__number {
    margin: 0;

    font-family: Poppins, sans-serif;
    font-size: 13px;
    font-weight: 600;
    line-height: 1;
    color: $main-blue-color;
    text-transform: uppercase;
    letter-spacing: 0;
  }

  &__description {
    margin: 0 0 32px;

    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 600;
    line-height: 1.5;
    color: $main-description-grey-color;
    letter-spacing: 0;
  }

  &__link {
    display: flex;
    gap: 16px;
    align-items: center;

    @include hover(transform, translateX(7%));

    &--text {
      margin: 0;

      font-family: Poppins, sans-serif;
      font-size: 15px;
      font-weight: 600;
      line-height: 1;
      color: $main-blue-color;
      text-decoration: none;
      letter-spacing: 0;
    }
  }
}
