.carousel {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 390px;

  @include onLaptop {
    width: calc(100% - 505px);
    max-width: 687px;
    height: 680px;
  }

  @include onDesktop {
    width: 43%;
    min-width: 687px;
    max-width: 1167px;
    height: 680px;
  }

  &__title {
    font-family: "Poppins", "Arial", sans-serif;
    font-weight: 700;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #fff;
    position: absolute;
    left: 20px;
    bottom: 72px;

    @include onTablet {
      bottom: 80px;
      left: 41px;
    }

    @include onLaptop {
      bottom: 96px;
      left: 182px;
    }

    @include onDesktop {
      left: 152px;
    }
  }

  &__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #fff;
    position: absolute;
    left: 20px;
    bottom: 24px;

    @include onTablet {
      bottom: 32px;
      left: 41px;
    }

    @include onLaptop {
      bottom: 48px;
      left: 182px;
    }

    @include onDesktop {
      left: 152px;
    }
  }

  .tns-outer {
    width: 100%;
    height: 390px;

    @include onLaptop {
      width: 100%;
      height: 680px;
    }

    img {
      width: 100%;
      height: 390px;
      border-radius: 30px;

      @include onLaptop {
        width: 100%;
        height: 680px;
        border-radius: 30px 0;
      }
    }
  }

  &__button {
    position: absolute;
    bottom: 108px;
    left: 20px;
    border-radius: 50%;
    border: 108px;
    background-color: #fff;
    width: 32px;
    height: 32px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;

    @include onTablet {
      bottom: 116px;
      left: 41px;
    }

    @include onLaptop {
      bottom: 66px;
      left: 78px;
    }

    @include onDesktop {
      left: 48px;
    }

    &--next {
      left: 68px;

      @include onTablet {
        left: 89px;
      }

      @include onLaptop {
        left: 126px;
      }

      @include onDesktop {
        left: 96px;
      }
    }

    &:hover {
      background-color: #e5e2e2f3;
    }
  }

  &__button-img {
    width: 5.56px;
    height: 9px;
  }

}

.tns-ovh {
  max-width: 100%;
  height: 390px;

  @include onLaptop {
    width: 100%;
    height: 680px;
  }
}
