.contact-us {
  color: $whiteColorOfPage;
  background-color: #2c2c2c;

  padding: 0 20px 85px;

  @include onTable {
    padding: 0 0 144px 40px;
  }

  @include onSmallDesktop {
    padding-top: 180px;
    padding-left: 0;
  }

  &__title {
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;

    margin-bottom: 48px;
  }
  &__info {
    margin-bottom: 40px;
  }

  &__info-title {
    &--our-socials {
      margin-bottom: 20px;
    }

    font-weight: 700;
    font-size: 13px;
    line-height: 20px;

    letter-spacing: 3px;
    text-transform: uppercase;
    opacity: 0.5;

    margin-bottom: 8px;
  }

  &__info-link {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;

    text-decoration: none;
    color: $whiteColorOfPage;
  }

  &__info-our-socials {
    display: flex;
    align-items: center;
    gap: 40px;
  }
  // &__link {
  // }

  &__icon {
    color: #fff;
    transition: 0.3s;
    overflow: hidden;

    &:hover {
      color: #2060f6;
    }

    &--facebook {
      @include dimensions(32px, 32px);
    }

    &--twitter {
      @include dimensions(32px, 32px);
    }

    &--instagram {
      @include dimensions(24px, 24px);
    }
  }
}
