.container {
  max-width: 1150px;
  margin: 0 auto;

  &--inner {
    max-width: 750px;
    margin-left: 98px;
  }
}

@media screen and (max-width: 500px) {
  .container {
    &--inner {
      max-width: 400px;
      margin: 0;
    }
  }
}
