.contact-us {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-block: 80px;

  @include on-small-desctop {
    padding-block: 0;
  }

  &__title {
    font-family: $font-poppins;
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    color: $c-gray;
    margin: 0;
    margin-bottom: 8px;

    @include on-tablet {
      margin-bottom: 18px;
    }
  }

  &__text {
    font-family: $font-poppins;
    font-weight: 700;
    font-size: 13px;
    line-height: 19.5px;
    letter-spacing: 3px;
    color: $text-color;
    margin: 0;
  }

  &__links {
    font-family: $font-open-sans;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    text-decoration: none;
    color: $c-gray;
  }

  &__item-logo {
    display: flex;
    gap: 32px;
  }

  &__icons-logo {
    width: 24px;
    height: 24px;
    left: 8px;
    position: relative;
    object-position: center;
  }
}
