@import "./variables.scss";

.contacts {
  width: 362px;

  &__title {
    margin-bottom: 56px;

    color: $color-white;
    @include font-size32px;
  }

  &__information {
    margin-bottom: 48px;
  }

  &__sign {
    @include font-size13px;
    color: $color-white;
    opacity: 0.5;
  }

  &__link {
    font-family: "Open Sans", Arial, sans-serif;
    @include font-size24px;
    color: $color-white;
  }

  &__set-img {
    display: flex;
    justify-content: space-between;

    width: 156px;
    margin-top: 8px;
  }
}
