.contacts {
  display: none !important;

  @include content-padding-inline;

  background-color:  #2C2C2C;

  &__grid-container {
    display: grid;
    @include page-grid;

  }




  &__container-form {
    width: 370px;
        grid-column: 1/-1;

    @include on-tablet {
      grid-column: 2/-2;
    }

    @include on-desktop {
      grid-column: span 5;
    }

  }



  &__form {

    display: flex;
    flex-direction: column;



  }

  &__email {

    width: 370px;
    height: 41px;

    border: none;
    outline: none;

    border-bottom: 1px solid  #FFF;
    margin-bottom: 48px;
    background-color:  #2C2C2C;
  }

  &__name {

    width: 370px;
    height: 41px;

    border: none;
    outline: none;

    border-bottom: 1px solid  #FFF;
    margin-bottom: 48px;
    background-color:  #2C2C2C;
  }

  &__massege {

    width: 370px;
    height: 41px;

    border: none;
    outline: none;


    border-bottom: 1px solid  #FFF;
    margin-bottom: 80px;
    background-color:  #2C2C2C;
  }


  &__form-button {
    width: 264px;
    height: 56px;
    border-radius: 8px;


    background-color: #144ED4;

    font-family: Poppins;
    font-weight: 600;
    font-size: 15px;

    line-height: 100%;
    letter-spacing: 0px;

    color: #FFF;

  }

  &__information {


    grid-column: 1/-1;

    @include on-tablet {
      grid-column: 2/-2;
    }

    @include on-desktop {
      grid-column: span 5;
    }
  }

  &__title {
    font-family: Poppins;
    font-weight: 600;
    font-size: 32px;
    line-height: 150%;
    letter-spacing: 0px;

    color:  #FFF;


  }

  &__phone {
    font-family: Poppins;
    font-weight: 700;
    font-size: 13px;
    line-height: 100%;
    letter-spacing: 3px;
    text-transform: uppercase;

    opacity: 0.5;

    color:  #FFF;


  }


  &__phone-number {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0px;

    color:  #FFF;

  }


  &__visit-us {
    font-family: Poppins;
    font-weight: 700;
    font-size: 13px;
    line-height: 100%;
    letter-spacing: 3px;
    text-transform: uppercase;

    opacity: 0.5;

    color:  #FFF;
  }

  &__adress {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0px;

    color:  #FFF;
  }

  &__our-socials-title {
    font-family: Poppins;
    font-weight: 700;
    font-size: 13px;
    line-height: 100%;
    letter-spacing: 3px;
    text-transform: uppercase;

    opacity: 0.5;

    color:  #FFF;

  }

  &__icon {
    width: 32px;
    height: 32px;
    fill: white;
    transition: fill 0.3s ease;
  }

  &__social-icon {
    margin-right: 32px;
  }


  &__bottom {

  }



}

.contacts__social-icon:hover .contacts__icon {
  fill: #144ED4;
}


