.container {
  padding: 0 15vw;
  height: 100%;
  @media screen and (max-width: 1400px) {
    padding: 0 7vw;
  }
  &--expertise {
    background-color: #fff;
    border-radius: 30px;
    padding-top: 128px;
    padding-bottom: 155px;
    @media screen and (max-width: 500px) {
      padding-top: 80px;
    }
  }
  &--process {
    padding-top: 148px;
    @media screen and (max-width: 500px) {
      padding-top: 80px;
    }
  }
  &--approach {
    position: relative;
    border-radius: 30px 0 0 30px;
    background-color: #2c2c2c;
    margin: 40px 0 0 100px;
    padding: 204px;
    padding-bottom: 204px;
    @media screen and (max-width: 1400px) {
      padding-left: 10%;
      padding-right: 10%;
    }
    @media screen and (max-width: 980px) {
      padding-top: 10%;
      margin-left: 0;
    }
  }
  &--testimonials {
    padding-top: 148px;
    padding-bottom: 168px;
    @media screen and (max-width: 980px) {
      padding-top: 90px;
      padding-bottom: 70px;
    }
  }
  &--contact {
    padding-top: 180px;
    background-color: #2c2c2c;
    border-radius: 30px 30px 0 0;
    @media screen and (max-width: 630px) {
      padding-top: 90px;
    }
  }
}
