.contact-us {
  margin: 0;
  background-color: $header-bc;
}

.contact-us__wraper {
  display: grid;
}

.contact {
  margin: 0;
  display: flex;
  flex-direction: column;

  &__title {
    margin: 0;
    font-family: $font;
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    letter-spacing: 0.5px;
    color: #fff;
    padding-bottom: 48px;
  }

  &__small-title {
    margin: 0;
    font-family: $fontS;
    font-weight: 700;
    font-size: 13px;
    line-height: 19.5px;
    letter-spacing: 3px;
    color: #fff;
    opacity: 50%;
    padding-bottom: 8px;
    text-transform: uppercase;
  }

  &__info {
    margin: 0;
    margin-bottom: 40px;

    @include on-tablet {
      margin-bottom: 48px;
    }
  }

  &__link {
    text-decoration: none;
    font-family: $fontS;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.5px;
    color: #fff;
    transition: color 0.3s ease;
    &:hover {
      color: #144ed4;
      text-decoration: underline;
    }
  }
}

.social {
  display: flex;
  flex-direction: row;
  gap: 32px;
}

.social__link {
  display: inline-block;
  height: 32px;
  width: 32px;

  &--facebook {
    background-color: #fff;
    -webkit-mask: url(../images/socials/facebook.svg) no-repeat center;
    mask: url(../images/socials/facebook.svg) no-repeat center;
    transition: background-color 0.3s ease;
    &:hover {
      background-color: #144ed4;
    }
  }

  &--twitter {
    background-color: #fff;
    -webkit-mask: url(../images/socials/twitter.svg) no-repeat center;
    mask: url(../images/socials/twitter.svg) no-repeat center;
    transition: background-color 0.3s ease;
    &:hover {
      background-color: #144ed4;
    }
  }

  &--instagram {
    background-color: #fff;
    -webkit-mask: url(../images/socials/instagram.svg) no-repeat center;
    mask: url(../images/socials/instagram.svg) no-repeat center;
    transition: background-color 0.3s ease;
    &:hover {
      background-color: #144ed4;
    }
  }
}
