@import "mixins";

.container {
  box-sizing: border-box;

  padding: 0 20px ;

  @include onTablet {
    padding: 0 40px ;
  }
  @include onDesktop {
    padding: 0 54px;
  }

  @include onDesign {
    padding: 0 228px ;
  }
  @include onLargeScreen {
    padding: 0 700px ;
  }
}

// .page__container {
//   padding: 0 20px;
//   @include onTablet {
//     padding: 0 76px 0 72px;
//   }
//   @include onDesktop {
//     padding: 0 124px 0 136px;
//   }
// }
