@import "utils";
@import "fonts";
@import "typography";

.contact {
  background-color: #fff;

  &__wrapper {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;

    padding-top: 30px;
    padding-bottom: 30px;
    background-color: $c-header-footer;
    border-radius: 30px 0 0;

    @media (min-width: $tablet-width) {
      display: grid;
      grid-template-columns: 300px 300px;
      justify-content: space-around;
      padding-top: 180px;
      padding-bottom: 120px;

      border-radius: 0 200px 0 0;
    }

    @media (min-width: $laptop-width) {
      grid-template-columns: 400px 300px;
      justify-content: space-around;
    }

    @media (min-width: $laptop-large-width) {
      gap: 0 226px;
      padding-left: 227px;
      justify-content: unset;
    }

    @media (min-width: $desktop-width) {
      justify-content: space-around;
      padding-left: 227px;
      padding-right: 227px;
    }
  }

  &__communications-container {
    grid-column: 2;
    grid-row: 1;
  }

  &__form-container {
    grid-column: 1;
    grid-row: 1;

    margin-bottom: 50px;

    @media (min-width: $laptop-width) {
      margin-bottom: 0;
    }
  }

  &__title {
    margin: 0 0 30px;
    font-family: "Poppins", sans-serif;
    font-size: 32px;
    line-height: 48px;
    font-weight: 600;
    text-align: center;
    color: #fff;

    @media (min-width: $tablet-width) {
      text-align: left;
      margin: 0 0 56px;
      width: 179px;
    }
  }

  &__list {
    @include list-style-reset;
    color: #fff;
  }

  &__item {
    text-align: center;

    @media (min-width: $tablet-width) {
      text-align: left;
    }

    &--outer {
      margin-bottom: 48px;
    }
  }

  &__item-title {
    font-family: "Poppins", sans-serif;
    font-size: 13px;
    line-height: 19px;
    font-weight: 700;

    letter-spacing: 3px;
    text-transform: uppercase;
    color: $c-small-title;
  }

  &__item-text {
    width: 280px;
    font-size: 24px;
    line-height: 36px;
    font-weight: 600;

    @media (min-width: $tablet-width) {
      width: 100%;
    }

    &--telephone {
      text-decoration: none;
      color: #fff;

      outline: none;
      transition: $transition-time ease-in-out;

      &:hover {
        color: $c-title;
      }
    }
  }

  &__item-socials {
    @include list-style-reset;
    width: 156px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__form-title {
    margin: 0 0 56px;
    font-family: "Poppins", sans-serif;
    font-size: 32px;
    line-height: 48px;
    font-weight: 600;
    color: #fff;
  }
}
