.contacts {
  display: flex;
  justify-content: space-between;

  @media screen and (max-width: 1200px) {
    flex-direction: column;
    justify-content: center;
  }

  &__form {
    flex-basis: 460px;

    @media screen and (max-width: 1200px) {
      order: 2;
    }
  }

  &__info {
    @media screen and (max-width: 1200px) {
      order: 1;
    }
  }
}
