@import "./utils";

.credo {
  height: 870px;
  padding: 198px 0;

  background: url(../images/footer-bg/Rectangle.svg) left 90px top 360px,
    url(../images/footer-bg/Rectangle-1.svg) left 120px top 530px,
    url(../images/footer-bg/Rectangle-2.svg) left 240px top 80px,
    url(../images/footer-bg/Rectangle-3.svg) left 280px top 260px,
    url(../images/footer-bg/Rectangle-4.svg) left 440px top 90px,
    url(../images/footer-bg/Rectangle-5.svg) left 490px top 450px,
    url(../images/footer-bg/Rectangle-6.svg) left 1010px top 520px,
    url(../images/footer-bg/Rectangle-7.svg) left 1220px top 390px,
    url(../images/footer-bg/Rectangle-8.svg) left 1270px top 120px,
    url(../images/footer-bg/Rectangle-9.svg) left 1340px top 420px,
    url(../images/footer-bg/Rectangle-10.svg) left 1450px top 130px,
    url(../images/footer-bg/Rectangle-11.svg) left 1465px top 250px;
  background-color: #fff;
  background-repeat: no-repeat;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    margin-bottom: 24px;
    color: $title-color;
    font-weight: 600;
  }

  &__desc {
    max-width: 754px;
    margin-bottom: 64px;

    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    text-align: center;
    color: $paragraph-color;
  }

  &__button {
    max-width: 226px;
    width: 100%;
  }
}
