@import "utils";
$widthInfo: 754px;
$heightInfo: 72px;

.cta {
  &__title {
    font-weight: 900;
    font-size: 48px;
    text-align: center;
    color: $c-darkBlueFont;
    margin-bottom: 57px;
  }

  &__info {
    display: inline-block;
    width: $widthInfo;
    height: $heightInfo;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.5;
    margin-left: calc(50% - 377px);
    color: $c-grayBlueFont;
    margin-bottom: 55px;
    text-align: center;
  }

  &__button {
    display: block;
    margin-left: calc(50% - 113px);
  }

  @media(max-width: 1000px) {
    & {
      text-align: center;
      &__title {
        font-size: 24px;
      }
      &__info {
        margin: auto;
        text-align: center;
        width: $widthInfo / 2;
        height: $heightInfo / 2;
        margin-bottom: 20px;
      }
      &__button {
        margin: auto;
      }
    }
  }
}
