.cta {
  @include page-grid;

  background-color: $c-white;
  padding: 72px $inline-padding-small;

  @include on-tablet {
    background-image: url(../images/sub-title/shapes.png);
    background-repeat: no-repeat;
    background-size: 142%;
    background-position: center 25vh;
    padding: 200px 0;
  }

  @include on-desktop-small {
    background-size: 100%;
    background-position: center;
  }

  &__title {
    max-width: 280px;
    color: $c-dark;
    font-family: $main-font-family;
    font-size: 44px;
    font-weight: 600;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 24px;

    grid-column: span 2;

    @include on-tablet {
      max-width: 558px;
      font-size: 52px;
      grid-column: 2 / 6;
    }

    @include on-desktop-small {
      max-width: 754px;
      grid-column: 3 / 11;
    }
  }

  &__descr {
    color: $c-grey;
    font-size: 22px;
    line-height: 1.5;
    text-align: center;
    margin-bottom: $margin-bottom-tablet;

    grid-column: span 2;

    @include on-tablet {
      font-size: 24px;
      margin-bottom: 64px;
      grid-column: span 6;
    }

    @include on-desktop-small {
      grid-column: 3 / 11;
    }
  }

  &__btn {
    width: 280px;
    height: 56px;
    border-radius: 8px;
    border: none;
    background-color: $blue-color;
    color: $c-white;
    font-family: $main-font-family;
    font-size: 15px;
    font-weight: 600;
    line-height: 1.5;
    text-align: center;

    grid-column: span 2;

    @include on-tablet {
      width: 264px;
      grid-column: 3 / 5;
    }

    @include on-desktop-small {
      grid-column: 6 / span 4;
      transform: translateX(-25%);
    }
  }
}
