.cta {
  background-color: $background-c-white;
  padding: 72px 0;
  @include contentPaddingInline;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-bottom: -50px;

  @include onTablet {
    padding: 200px 0;
    @include contentPaddingInline;
    background-image: url(../images/Shapes.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  &__title {
    @include forSiteHeaders;
    font-size: 44px;
    line-height: 53px;
    padding-bottom: 24px;

    @include onTablet {
      font-size: 52px;
      line-height: 62px;
    }
  }

  &__description {
    @include forSiteTexts;
    color: $text-c-light-grey;
    font-size: 22px;
    line-height: 33px;
    padding-bottom: 56px;

    @include onTablet {
      font-size: 24px;
      line-height: 36px;
      max-width: 753px;
      padding-bottom: 64px;
    }
  }

  &__link {
    color: $background-c-white;
    background-color: $c-default-blue;
    padding: 16px 115px;
    border-radius: $bnt-border-radius;

    &:hover {
      background-color: $c-hover-blue;
      cursor: pointer;
      transition: 0.3s;
    }
  }
}
