.ctaBlock {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $white;

  @include onTablet {
    background-image: url(../images/Shapes.png);
    background-repeat: no-repeat;
    background-size: 1024px;
    background-position: center 250px;

    @include onDesktop {
      background-size: 1600px;
      background-position: center 100px;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 72px 20px;

    @include onTablet {
      margin: 200px 20px;
    }
  }

  &--title {
    margin: 0;
    width: 280px;
    @extend %stylePoppinsDarkBlue;
    color: $darkBlue;
    font-size: 44px;
    text-align: center;
    line-height: 120%;

    @include onTablet {
      width: 508px;
    }

    @include onSmallDesktop {
      width: 754px;
    }
  }

  &--description {
    margin: 24px 0 0;
    @extend %styleOpenSansSilver;
    font-size: 22px;
    font-weight: 600;
    text-align: center;

    @include onTablet {
      font-size: 24px;
      width: 558px;
    }

    @include onSmallDesktop {
      width: 754px;
    }
  }

  &__positions {
    margin-top: 56px;

    @include onTablet {
      margin: 64px 0 0;
    }
  }
}
