.decor {
  &__item {
    position: absolute;
    width: 143px;
    height: 56px;

    border: 5px solid $color-blue;
    border-radius: 12px;
    opacity: 0.5;

    transform: rotate(-65deg);
    transform-origin: center;

    &--1 {
      @include decor-left(72px, 233px);
      @include decor-appearance(85px, 34px, 3px, 12px);
    }

    &--2 {
      @include decor-left(77px, 446px);
      @include decor-appearance(45px, 18px, 3px, 6px);
    }

    &--3 {
      @include decor-left(370px, 82px);
      @include decor-appearance(67px, 26px, 5px, 12px);
    }

    &--4 {
      @include decor-left(283px, 269px);
    }

    &--5 {
      @include decor-left(465px, 481px);
      @include decor-appearance(45px, 18px, 3px, 6px);
    }

    &--6 {
      @include decor-left(518px, 131px);
      @include decor-appearance(94px, 37px, 5px, 12px);
    }

    &--7 {
      @include decor-right(131px, 215px);
    }

    &--8 {
      @include decor-right(109px, 111px);
      @include decor-appearance(54px, 21px, 3px, 8px);
    }

    &--9 {
      @include decor-right(276px, 67px);
      @include decor-appearance(86px, 34px, 3px, 12px);
    }

    &--10 {
      @include decor-right(385px, 314px);
      @include decor-appearance(85px, 33px, 3px, 12px);
    }

    &--11 {
      @include decor-right(413px, 143px);
    }

    &--12 {
      @include decor-right(514px, 552px);
      @include decor-appearance(45px, 17px, 3px, 6px);
    }
  }

  @media (max-width: 800px) {
    &__item {
      display: none;
    }
  }

  @media (max-width: 1330px) {
    &__item--5 {
      display: none;
    }

    &__item--12 {
      display: none;
    }
  }

  @media (max-width: 1440px) {
    &__item {
      opacity: 0.2;
    }
  }
}
