.exp-card {
  text-align: center;

  &__img {
    width: 184px;
    height: 166px;
    border-radius: 15%;
    margin: 0 auto 40px;
    transition: transform 0.4s ease;
    @include hover(box-shadow, 0 9px 18px rgba(7, 7, 7, 0.2));

    &:hover {
      transform: scale(1.05);
    }
  }

  &__name {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 16px;
  }

  &__text {
    color: $text-color;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    max-width: 264px;
  }
}
