@import "utils/mixins";

.section_expertise {
  background-color: white;
  padding-top: 10%;

  &-heading {
    @include mainHeadings;

  }

  &_content {
    padding: 65px 175px;
    display: grid;
    grid-template-columns: repeat(3, minmax(267px, 30%));
    grid-gap: 177px;
    align-content: center;

  }

  &-content_box {
    padding: 10px;
  }
}

@media screen and (max-width: 1000px) {
  .section_expertise {
    background-color: white;
    padding: 10%;
  }
}
