.expertise {
  background-color: #fff;
  border-radius: 30px;
  padding-top: 0px;

  @include onTablet {
    grid-column: 1 / 2;
  }

  &__title {
    padding-top: 72px;

    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 44px;
    line-height: 120%;
    color: #253757;
  }

  &-card {
    padding-top: 56px;

    &__title {
      padding-top: 32px;
      padding-bottom: 16px;

      font-family: Poppins, sans-serif;
      font-weight: 600;
      font-size: 20px;
      line-height: 140%;
      color: #253757;
    }

    &__description {
      font-family: 'Open Sans', sans-serif;
      font-weight: 400;
      font-size: 14px;
      line-height: 150%;
      color: #6c788b;
    }

    &--last {
      padding-bottom: 72px;
    }
  }
}
