@import "utils";
@import "fonts";
@import "typography";

.expertise {
  background-color: #fff;

  &__title {
    font-family: "Poppins", sans-serif;
    font-size: 26px;
    line-height: 39px;
    text-align: center;

    @media (min-width: $tablet-width) {
      font-size: 52px;
      line-height: 78px;
    }
  }

  &__list {
    @include list-style-reset;

    @media (min-width: $tablet-width) {
      margin: 0 auto;
      display: flex;
      justify-content: space-around;
    }

    @media (min-width: $laptop-width) {
      margin: 0 auto;
      width: $laptop-content-width;
    }

    @media (min-width: $laptop-large-width) {
      width: #{($expertise-cart-width * 3) + ($expertise-cart-gapX * 2)};
      justify-content: space-between;
    }
  }

  &__item {
    width: 264px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &--outer {
      margin-bottom: 30px;
    }

    @media (min-width: $tablet-width) {
      width: 200px;
    }

    @media (min-width: $laptop-large-width) {
      width: 264px;
    }
  }

  &__image-wrapper {
    overflow: hidden;
    width: 166px;
    height: 166px;
    border-radius: 20px;
    margin: 0 0 40px;
  }

  &__image {
    width: 100%;
    height: auto;
    transition: $transition-time ease-in-out;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__list-title {
    margin: 0 0 16px;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    line-height: 28px;

    color: $c-title;
  }

  &__list-text {
    margin: 0;
    text-align: center;
  }
}
