.expertise {
  margin: 0;
  padding: 72px 0;

  @include OnTablet {
    padding: 128px 0;
  }

  &__title {
    margin: 0;
    text-align: center;
    font-size: 44px;
    @extend %Poppins600;
    line-height: 120%;

    @include OnTablet {
      font-size: 52px;
    }
  }
  &__block {
    display: grid;
    margin-top: 56px;
    cursor: pointer;
    @include PageGrid;

    @include OnTablet {
      margin-top: 64px;
    }
    justify-content: center;
    align-items: center;

    &-branding {
      display: flex;
      flex-direction: column;
      align-items: center;
      grid-column: 1 / -1;
      @include OnDesktopSmall {
        grid-column: 1/4;

      }
    }

    &-communication {
      display: flex;
      flex-direction: column;
      align-items: center;
      grid-column: 1 / -1;
      @include OnDesktopSmall {
        grid-column: 5/9;

      }
    }

    &-strategy {
      display: flex;
      flex-direction: column;
      align-items: center;
      grid-column: 1 / -1;
      @include OnDesktopSmall {
        grid-column: 10/-1;
      }
    }
  }
}

.block__images {
  width: 184px;
  height: 166px;
  border-radius: 15px;
}

.block__title {
  margin: 0;
  margin-top: 32px;
  color: $dark-blue-color;
  text-align: center;
  font-size: 20px;
  @extend %Poppins600;
  line-height: 140%;

  @include OnDesktopSmall {
    margin-top: 40px;
  }
}

.block__text {
  margin: 0;
  margin-top: 16px;
  color: $white-grey-color;
  text-align: center;
  font-size: 14px;
  @extend %OpenSansNormal;
  line-height: 150%;
  width: 280px;

  @include OnTablet {
    width: 362px;
  }

  @include OnDesktopSmall {
    width: 214px;
  }

  @include OnDesktopDesign {
    width: 264px;
  }
}
