.our-expertise {
  background-color: $white;
  border-radius: 30px;
  margin-bottom: 148px;

  &__title {
    grid-column: 1 / -1;
    margin: 0;
    padding-top: 72px;

    @include on-tablet {
      padding-top: 128px;
    }

    @include on-laptop {
      padding-top: 134px;
    }

    font-weight: 600;
    text-align: center;
    color: $c-blue-gray;
    font-size: 44px;

    @include on-tablet {
      font-size: 52px;
    }
  }

  &__benefits {
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: 2 / -2;
    }

    @include on-laptop {
      display: flex;
      gap: 137px;
    }

    @include on-destop {
      display: flex;
      gap: 177px;
    }
  }
}

.grid-block {
  @include page-grid;
}

.benefit {
  margin: 56px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &-image {
    border-radius: 16px;
    width: 166px;
    height: 166px;

    @include hover(scale, 1.2);
  }

  &-title {
    margin: 32px;
    color: $c-blue-gray;
  }

  &-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: $c-gray-text;
    margin: 0;
  }
}
