@import "_fonts";

$poppins: "Poppins";

.features {
  display: flex;
  width: 90%;
  height: 976px;
  background: #ff9c8e;
  border-top-left-radius: 150px;
  border-bottom-left-radius: 150px;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-end;
  align-items: center;

  &__info {
    width: 362px;
    height: 568px;
    color: white;
    font-style: normal;
    font-family: $poppins;
    display: flex;
    flex-direction: column;
    margin-left: 80px;

    @media (max-width: 800px) {
      margin-top: 30px;
    }

    &__name {
      width: 95px;
      height: 20px;
      text-align: center;
      letter-spacing: 3px;
      text-transform: uppercase;
      font-style: normal;
      font-weight: bold;
      font-size: 13px;
      line-height: 19px;
    }

    &__title {
      width: 362px;
      height: 96px;
      font-weight: 600;
      font-size: 32px;
      line-height: 150%;
      display: flex;
      align-items: center;

      @media (min-width: 800px) {
        width: 80%;
        height: max-content;
      }
    }

    &__items {
      width: 362px;
      height: 92px;
      display: flex;
      flex-direction: column;
      margin-top: 30px;

      @media (max-width: 800px) {
        width: 100%;
      }
    }
  }

  &__image {
    margin-top: 310px;
    width: 687px;
    height: 100%;

    @media (max-width: 1270px) {
      display: none;
    }
  }

  @media (max-width: 1280px) {
    justify-content: center;
  }

  @media (min-width: 1280px) {
    width: 1373px;
  }

  @media (max-width: 800px) {
    width: 100%;
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
  }
}

.item {
  display: flex;
  flex-direction: row;
  width: 362px;
  height: 92px;
  margin-bottom: 25px;

  @media (max-width: 800px) {
    width: 80%;
    height: max-content;
    flex-direction: column;
    align-content: center;
    justify-content: center;
  }

  &__text {
    width: 264px;
    height: 92px;
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    mix-blend-mode: normal;

    @media (max-width: 800px) {
      width: 100%;
      height: max-content;
    }
  }

  &__icon {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-color: white;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 15px;
    margin-top: 20px;

    @media (max-width: 800px) {
      align-self: center;
    }

    &_1 {
      background-image: url(../images/Icon_1.svg);
    }

    &_2 {
      background-image: url(../images/Icon_2.svg);
    }

    &_3 {
      background-image: url(../images/Icon_3.svg);
    }
  }
}
