.features {
  background: url("../images/bgfeatures.png") no-repeat right, #56ccf2;
  position: relative;
  margin-top: 300px;
  padding: 196px 0 160px 227px;
}

.features-logo {
  display: flex;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: white;
}

.features-title {
  padding-left: 16px;
}

.features-title-big {
  font-size: 32px;
  max-width: 362px;
  padding-top: 19px;
  font-weight: 900;
}

.features-text {
  font-size: 16px;
  color: white;
  padding-left: 32px;
  max-width: 263px;
  height: 96px;
}

.logo {
  display: flex;
  justify-content: center;
  background: white;
  width: 64px;
  height: 64px;
  border-radius: 64px;
}

.features-content-text {
  display: flex;
  align-items: center;
  padding-top: 69px;
}

@media (max-width: 1380px) {
  .features {
    background: #56ccf2;
  }
}
