.feedback {
  padding-top: 148px;

  &__container {
    display: flex;
    flex-direction: column;
  }

  &__desc {
    margin-bottom: 85px;
    display: flex;
    flex-direction: column;
  }

  &__sub-heading {
    margin-bottom: 16px;
  }

  &__heading {
    width: 179px;
    font-weight: 600;
    font-size: 32px;
    line-height: 150%;
    color: #253757;
  }

  &__items {
    display: flex;
    justify-content: space-between;
    // gap: 10px;
  }

  &__item {
    padding: 87px 49px 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
    border-radius: 16px;
  }

  &__photo {
    border-radius: 50%;
  }

  &-content {
    margin-bottom: 82px;
    position: relative;
    z-index: 1;

    &::before {
      content: "";
      position: absolute;
      z-index: -1;
      top: 0;
      left: -42px;
      width: 139px;
      height: 56px;
      background-color: #2060f6;
      border-radius: 12px;
      transform: rotate(-60deg);
    }

    &::after {
      content: "";
      position: absolute;
      z-index: -1;
      top: 87px;
      left: 51px;
      width: 139px;
      height: 56px;
      background-color: #2060f6;
      border-radius: 12px;
      transform: rotate(-60deg);
    }
  }

  &__decor {
    margin-bottom: 10px;
  }

  &__text {
    margin-bottom: 16px;
    width: 250px;
    font-weight: 600;
    font-size: 13px;
    line-height: 150%;
    color: #6c788b;
  }

  &__name {
    font-weight: 600;
    font-size: 13px;
    line-height: 150%;
    color: #253757;
  }

  &__position {
    font-weight: bold;
    font-size: 13px;
    line-height: 19px;
    color: #c0cdd7;
    text-transform: uppercase;
  }
}
