.form-field {
  font-family: "Poppins", sans-serif;
  border: unset;
  display: block;
  width: 100%;
  box-sizing: border-box;
  border-bottom: 1px solid white;
  background-color: $c-gray;
  padding: 14px 16px;
  margin-bottom: 48px;
  cursor: pointer;
  @include onMob {
    margin-bottom: 40px;
  }
  color: #fff;
  
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;

  &::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #fff;
    opacity: 0.7;
  }

  &--textarea {
    width: 100%;
    margin-bottom: 0;
    height: min-content;
    resize: none;
  }

  &::-webkit-scrollbar {
    width: 16px;

  }

  &::-webkit-scrollbar-track {
    background-color: #837a7a;
    border-radius: 100px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $border_color;
    height: 10px;
    border-radius: 100px;
    border: solid 1px rgb(18, 190, 190);
  }

  &:hover {
    border-color: $border_color;
  }

  &:focus {
    color: white;
    font-weight: 600;
    outline: none;
    border-bottom: 1px solid $border_color;
  }
}
