.first-screen {
  background-color: $navy-blue;
  padding: 0 0 0 14%;
  border-bottom-left-radius: 200px;

  @media (max-width: 1100px) {
    padding: 0 0 0 50px;
  }

  @media (max-width: 400px) {
    padding-left: 20px;
    border-bottom-left-radius: 100px;
  }
}
