.float-menu {
  padding: 0 20px;
  box-sizing: border-box;
  height: 100vh;
  background: #2c2c2c;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transform: translateX(-100%);
  transition: transform 0.5s;

  &:target {
    transform: translateX(0);
  }

  @include size_640 {
    padding: 0 40px;
  }

  @include size_1024 {
    display: none;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    padding: 18px 0 48px;

    @include size_640 {
      padding: 18px 0 57px;
    }

    @include size_1024 {
      padding: 52px 0 165px;
      align-items: center;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 35px;
  }

  &__icon-across {
    padding-top: 3px;
    width: 15px;
    height: 15px;
  }

  &__list-container {
    display: flex;
    justify-content: center;
  }

}
