@import "utils";

.footer-navbar {
  flex: 1  1 auto;
  display: flex;
  justify-content: flex-end;
  &__nav-elem {
    cursor: pointer;
    margin-right: 63px;
  }
  &__nav-elem:last-child {
    margin-right: 0;
  }
  @media(max-width: 1200px) {
    &__nav-elem,
    &__nav-elem:last-child {
      margin-right: 23px;
    }
  }
  @media(max-width: 845px) {
    & {
      flex-flow: column;
      align-items: center;
      justify-content: center;
    }
    &__nav-elem {
      margin-bottom: 30px;
    }
  }
}

@media(max-width: 845px) {
  .copyright {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 95%;
    left: 20%;
    margin-bottom: 30px;
  }
}
