.footer-info {
  &__title {
    font-weight: 600;
    font-size: 32px;
    line-height: 150%;
    margin-bottom: 56px;

    color: #fff;
  }

  &__heading {
    margin-bottom: 8px;

    font-size: 13px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 3px;
    text-transform: uppercase;

    color: #808080;
  }

  &__text {
    margin-bottom: 48px;

    font-family: "Open Sans", Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 150%;

    color: #fff;
  }

  &__medias {
    display: flex;
    padding-top: 5px;
  }

  &__link {
    display: block;
    margin-right: 32px;
    width: 32px;
    height: 32px;

    background-repeat: no-repeat;
    background-position: center;

    transition: background-image $transition-duration;

    &--facebook {
      background-image: url("../images/socials/facebook.svg");

      &:hover {
        background-image: url("../images/socials/facebook-hover.svg");
      }
    }

    &--twitter {
      background-image: url("../images/socials/twitter.svg");

      &:hover {
        background-image: url("../images/socials/twitter-hover.svg");
      }
    }

    &--instagram {
      background-image: url("../images/socials/instagram.svg");

      &:hover {
        background-image: url("../images/socials/instagram-hover.svg");
      }
    }
  }
}
