.footer {
  &__list {
    @extend %flexEnd;
    width: 100%;
    font-size: 12px;
    letter-spacing: 3px;
    text-transform: uppercase;
  }

  &__item {
    margin-top: 120px;

    &:first-child {
      margin-right: auto;
    }

    &:not(:first-child) {
      margin-right: 0;
      margin-left: 4vw;
    }
  }

  &__link {
    display: block;
    padding: 8px 0;
    color: $global-white-color;
    transition: opacity 500ms ease-out;
  }
}

@media (max-width: $media-width-992) {
  .footer {
    &__nav {
      display: none;
    }
  }
}
