@import "vars";

.footer {
  padding-top: 0;
  padding-bottom: 0;
  height: 100px;
  background: $gray;
  display: flex;
  justify-content: space-between;
  transition: 0.3s;

  &__nav {
    margin-top: 5px;
    width: 800px;
  }

  &__logo:hover {
    transform: skew(-15deg);
  }
}
