.footer {
  background-color: $footer-bg;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;

  &__content {
    @include page-grid;

    padding-top: 72px;
    padding-bottom: 80px;
    row-gap: 80px;

    @include on-tablet {
      padding-top: 180px;
      padding-bottom: 80px;
      row-gap: 120px;
    }

    @include on-small-desktop {
      row-gap: 104px;
    }
  }

  &__message {
    grid-column: 1/-1;

    @include on-tablet {
      grid-column: 1/5;
    }

    @include on-small-desktop {
      grid-column: span 5;
    }
  }

  &__contacts {
    grid-column: 1/-1;

    @include on-small-desktop {
      grid-column: 7/12;
    }

    @include on-large-desktop {
      grid-column: 8/-1;
    }
  }

  &__title {
    margin-bottom: 48px;

    @include on-tablet {
      margin-bottom: 56px;
    }
  }

  &__contacts-content {
    display: flex;
    flex-direction: column;
    gap: 40px;

    @include on-tablet {
      gap: 48px;
    }
  }

  &__link-description {
    font-weight: 700;
    font-size: 13px;
    line-height: 100%;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-family: Poppins, serif;
    margin-bottom: 12px;
    color: $footer-gray-color;
  }

  &__link {
    text-decoration: none;
    color: $main-white;
    font-size: 24px;

    &:hover {
      color: $button-color;
    }
  }

  &__social-links {
    display: flex;
    gap: 32px;
    margin-top: 16px;
  }

  &__menu {
    grid-column: 1/-1;
    display: flex;
    flex-direction: column;
    gap: 48px;

    @include on-tablet {
      margin-top: 19px;
      gap: 24px;
    }

    @include on-small-desktop {
      margin-top: 0;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }
}
