.footer {
  background-color: #008aff;
  border-radius: 200px 0 0;

  @media screen and (max-width: 510px) {
    border-radius: 0;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    padding: 180px 227px 121px;
    max-width: 1400px;
    margin: 0 auto;

    @media screen and (max-width: 1500px) {
      padding: 50px;
    }

    @media screen and (max-width: 900px) {
      flex-direction: column;
      align-items: center;
    }

    @media screen and (max-width: 510px) {
      padding: 20px;
    }
  }

  &__heading {
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 150%;
    color: white;

    @media screen and (max-width: 510px) {
      font-size: 24px;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__email,
  &__fname,
  &__messages {
    width: 100%;
    background-color: #008aff;
    border-bottom: 1px solid rgb(71, 214, 250);
    margin-bottom: 48px;
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    color: white;

    &::placeholder {
      color: rgb(71, 214, 250);
    }
  }

  &__button {
    padding: 16px 93px;

    @media screen and (max-width: 900px) {
      margin: 0 auto;
    }
  }

  &__small_text {
    font-family: Poppins, sans-serif;
    font-weight: bold;
    font-size: 13px;
    line-height: 19px;
    color: white;
    letter-spacing: 3px;
    text-transform: uppercase;
    opacity: 0.5;
    margin-bottom: 8px;
  }

  &__phone,
  &__address,
  &__socials {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    color: white;
    margin: 0;

    @media screen and (max-width: 510px) {
      font-size: 18px;
    }
  }

  &__socials {
    margin: 0 20px;
    transition: all 0.3s;

    &:hover {
      transform: scale(1.3);
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    padding: 0 195px 84px 227px;
    max-width: 1420px;
    margin: 0 auto;

    @media screen and (max-width: 1500px) {
      padding: 50px 18px 50px 50px;
    }
  }

  &__contact {
    text-align: center;

    @media screen and (max-width: 900px) {
      margin-top: 50px;
    }
  }
}
