.form {
  padding-top: 72px;
  min-width: 280px;

  @include onTablet {
    padding-top: 180px;
    max-width: 362px;
  }

  @include onDesctop {
    max-width: 362px;
  }

  &__title {
    @include forSiteHeaders;
    color: $background-c-white;
    font-size: 32px;
    line-height: 41px;
    padding-bottom: 48px;

    @include onTablet {
      max-width: 264px;
      line-height: 48px;
    }
  }

  &__field {
    @include forSiteHeaders;
    color: $background-c-white;
    background-color: $background-c-dark-grey;
    border: none;
    outline: 0;
    font-size: 15px;
    opacity: 0.7;
    padding-bottom: 16px;
    resize: none;

    width: 100%;
    max-width: 362px;

    border-bottom: 1px solid $background-c-white;
    margin-bottom: 40px;

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      background-color: $background-c-dark-grey;
    }
  }

  &__field--message {
    text-overflow: ellipsis;
  }

  &__field:hover {
    border-color: $c-hover-blue;
    opacity: 1;
    transition: 0.3s;
  }

  &__btn {
    width: 100%;
    @include forSiteHeaders;
    color: $background-c-white;
    background-color: $c-default-blue;
    padding: 14px 89px;
    border-radius: $bnt-border-radius;
    border: none;
    font-size: 15px;
    cursor: pointer;

    @include onTablet {
      max-width: 264px;
    }

    &:hover {
      background-color: $c-hover-blue;
      transition: 0.3s;
    }
  }
}
