.form {
  &__element {
    all: unset;
    width: 100%;
    color: $main-white;
    font-size: 15px;
    font-weight: 600;
    line-height: 100%;
    font-family: Poppins, serif;
    padding-bottom: 17px;
    border-bottom: 1px solid $main-white;
    margin-bottom: 40px;

    &--textarea {
      resize: none;
      overflow: hidden;
    }

    @include on-tablet {
      margin-bottom: 48px;
    }

    &:focus,
    &:hover {
      border-color: $form-element-hover;
    }

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus {
      border-bottom: 1px solid $form-element-hover !important;
      -webkit-text-fill-color: $main-white !important;
      -webkit-box-shadow: 0 0 0 1000px $footer-bg inset !important;
      transition: background-color 5000s ease-in-out 0s !important;
    }
  }

  &__button {
    all: unset;
    width: 280px;
    height: 56px;
    background-color: $button-color;
    color: $main-white;
    border-radius: 8px;
    margin-top: 8px;
    text-align: center;
    cursor: pointer;

    @include hover(scale, 1.1);

    @include on-tablet {
      margin-top: 32px;
      width: 264px;
    }
  }
}
