.form {
  display: flex;
  flex-direction: column;
  row-gap: 32px;

  &__input {
    padding: 16px;
  }

  &__button {
    margin-top: 48px;

    @media screen and (max-width: 900px) {
      align-self: center;
    }
  }
}
