@import "utils/vars";
@import "utils/mixins";

.gallery {
  margin-top: -320px;
  padding: 0 14%;

  &__elements {
    position: relative;
  }

  &__img {
    width: 100%;
    height: 640px;
    object-position: center;
    object-fit: cover;
  }

  &__article {
    position: absolute;
    left: 98px;
    bottom: 86px;
  }

  &__photo-title {
    font-weight: 800;
    font-size: 12.6px;
    line-height: 1.5;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: $c-sky;
    margin-bottom: 4px;
  }

  &__text {
    font-weight: 900;
    font-size: 19.6px;
    line-height: 1.4;
    color: $c-white;
  }

  &__sn-list {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 19px;
    height: 416px;
    list-style: none;
    top: 50%;
    bottom: 50%;
    transform: translate(-50%, -50%);
    right: -64px;
  }

  &__sn-item {
    transform: rotate(90deg);
    transform-origin: center center;
  }

  &__sn-link {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 13px;
    line-height: 1.5;
    color: $c-blue;
    @include hover(color, $c-active);
  }
}
