.general-info {
  max-width: 730px;

  &__title {
    margin-bottom: 16px;

    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 150%;

    color: #253757;
  }

  &__text {
    font-family: "Open Sans", Helvetica, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;

    color: #6c788b;
  }

}
