html,
body {
  scroll-behavior: smooth;

  --pading-inline: 20px;

  @include on-tablet {
    --pading-inline: 40px;
  }

  @include on-desktop-s {
    --pading-inline: 54px;
  }

  @include on-desktop-m {
    --pading-inline: 114px;
  }

  @include on-desktop-l {
    --pading-inline: 227px;
  }

  @include on-desktop-xl {
    --pading-inline: 707px;
  }
}

.container {
  padding-inline: var(--pading-inline);
  margin-bottom: 120px;

  @include on-tablet {
    margin-bottom: 148px;
  }
}

a {
  color: $black-900;
  text-decoration: none;
}
