@import "utils";
@import "fonts";
@import "typography";

.page {
  scroll-behavior: smooth;

  &__body {
    overflow-x: hidden;
    margin: 0;
    background: $c-gray;
  }
}

@import "./header/header-main";
@import "./main/main-main";
@import "./footer/footer-main";
