.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;

  @include OnTablet {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 30px;
  }

  @include OnDesktopSmall {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 20px;
  }

  @include OnDesktop {
    column-gap: 30px;
  }

  &__item {
    @for $start from 1 to 13 {
      @for $end from $start to 13 {
        &--#{$start}-#{$end} {
          grid-column: #{$start} / #{$end + 1};
        }

        &--tablet-#{$start}-#{$end} {
          @include OnTablet {
            grid-column: #{$start} / #{$end + 1};
          }
        }

        &--desktop_small-#{$start}-#{$end} {
          @include OnDesktopSmall {
            grid-column: #{$start} / #{$end + 1};
          }
        }

        &--desktop-#{$start}-#{$end} {
          @include OnDesktop {
            grid-column: #{$start} / #{$end + 1};
          }
        }
      }
    }
  }
}
