.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;

  @include size_640 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 30px;
  }

  @include size_1024 {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 20px;
  }
}
