.h2-title {
  margin: 0;
  color: $title-font-color;
  font-family: $title-font;
  font-weight: 600;
  font-size: 44px;
  line-height: 120%;
  text-align: center;

  @include onTablet {
    font-size: 52px;
    line-height: 150%;
  }
}
