.header {
  height: 848px;
  background: url("../images/method-draw-image.svg") no-repeat right;
  background-size: cover;
  position: relative;
  border: 1px solid transparent;

  &__nav {
    margin-top: 51px;
  }
}

@media screen and (max-width: 899px) {
  .header {
    height: 1200px;
    background-color: #56ccf2;
  }
}
