.header {
  &__menu {
    @include top-bar;

    margin: 52px 114px 48px 136px;

    @include design {
      margin: 52px 229px 48px 251px;
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;

    display: flex;
    gap: 48px;
  }

  &__link {
    color: #fff;
    text-decoration: none;
    letter-spacing: 3px;
    font-family: Poppins, sans-serif;
    font-size: 13px;
    line-height: 19.5px;
    font-weight: 700;
  }
}
