.content {
  padding: 0 21px;
  @include OnTablet {
    padding: 0 41px;
  }

  @include OnDesktop {
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 490px;
  }

  &__title {
    font-family: "Poppins", sans-serif;
    font-size: 52px;
    font-weight: 600;
    line-height: 62px;
    letter-spacing: -2px;
    color: #fff;
    margin-bottom: 32px;

    @include OnTablet {
      margin-bottom: 24px;
    }
  }

  &__subtitle {
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    line-height: 150%;
    margin-bottom: 72px;

    @include OnTablet {
      margin-bottom: 56px;
    }
  }

  &__button {
    height: 50px;
    width: 100%;
    background-color: #2060f6;
    border: none;
    border-radius: 8px;
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    cursor: pointer;
    margin-bottom: 48px;

    @include OnTablet {
      width: 264px;
      margin-bottom: 147px;
    }
  }
}
