@import "vars";

.heading {
  display: flex;
  flex-direction: column;
  width: 754px;
  position: relative;
  left: calc(50% - 377px);

  &__main {
    font-family: "Muli", sans-serif;
    font-weight: 900;
    font-size: 64px;
    color: #fff;
    margin-top: 85px;
  }

  &__text {
    font-size: 24px;
    color: white;
    margin-top: 22px;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 226px;
    height: 56px;
    border-radius: 64px;
    background-color: #fff;
    color: #253757;
    margin-top: 42px;
    border: 1px solid transparent;

    &:hover {
      color: rgb(24, 24, 24);
      background: #f7f7f7 linear-gradient(#f7f7f7, #f1f1f1);
    }

    &:active {
      color: rgb(51, 51, 51);
      border: 1px solid rgb(204, 204, 204);
      background: rgb(238, 238, 238)
        linear-gradient(rgb(238, 238, 238), rgb(224, 224, 224));
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
    }
  }
}

@media screen and (max-width: 899px) {
  .heading {
    justify-content: center;
    align-items: center;
    width: 100%;
    position: static;

    &__main {
      font-size: 30px;
      padding: 0 40px;
      text-align: center;
    }

    &__text {
      font-size: 20px;
      color: white;
      margin-top: 22px;
      padding: 0 40px;
      text-align: center;
    }
  }
}
