@import "vars";

.h2 {
  display: flex;
  &__pict {
    width: 21px;
    height: 21px;
    background-image: url("../images/sub-title/sub-title-icon-dark.svg");
  }

  &__h2 {
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: $maincolor;
    margin-left: 16px;
  }
}

.h3 {
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 45px;
  color: $darkblue;
}
