.header {
  display: flex;
  justify-content: space-between;
  padding: 45px calc(50% - 573px);

  font-weight: 600;
  @include font($font-size-main, $font-height-main);
  letter-spacing: 3px;
  color: $c-link;

  background-color: $c-bg;

  text-transform: uppercase;

  &__nav-label {
    position: absolute;
    top: 47px;
    left: 100px;
    z-index: 3;

    display: none;
    
    cursor: pointer;
    transition: opacity $transition-duration;

    &:hover {
      opacity: 0.7;
    }

    &::after {
      content: "";
      display: block;
      width: 18px;
      height: 12px;

      background: url(../images/menu.svg) center / cover;
    }

    @media (max-width: 1010px) {
      left: 30px;
    }
  }

  &__nav-input {
    display: none;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    width: 70%;
  }

  &__logo {
    position: relative;
    background: url(../images/Air.png);

    @media (max-width: $size-tablet) {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__hire {
    height: 19px;
    cursor: pointer;

    &:hover {
      &::after {
        content: "";
        position: absolute;

        display: block;
        height: 2px;
        width: 67px;

        background-color: $c-link-hover;
        border-radius: 4px;
      }
    }
  }

  @media (max-width: $size-notebook) {
    padding-left: 100px;
    padding-right: 100px;
  }

  @media (max-width: $size-tablet) {
    &__nav-label {
      display: block;
    }

    &__nav-input {
      display: block;
      width: 0;
      height: 0;

      &:checked ~ .header__burder {
        top: 0;

        display: block;
        height: 50%;
        width: 45%;
        
        background-color: $c-bg-burger;
        border-right: 4px solid $c-process;
        border-bottom: 4px solid $c-process;

        @media (max-width: 720px) {
          margin: 0 auto;
          width: 100%;
          height: 100%;
        }

        @media (max-height: 390px) {
          height: 60%;
        }
      }

      &:checked + .header__nav-label {
        position: fixed;
        &::after {
          background-image: url(../images/close.svg);
        }
      }
    }
  }

  @media (max-width: 475px) {
    padding-left: 10px;
    padding-right: 10px;
  }
}
