.header {
  min-height: 100vh;
  border-radius: 0 0 30px 30px;
  background-color: $header-bg-color;

  &__content {
    display: flex;
    flex-direction: column;

    box-sizing: border-box;
    max-width: 1600px;
    min-height: 100vh;
    margin-inline: auto;
  }

  &__bottom {
    flex-grow: 1;
    margin-top: 48px;

    @include page-grid;

    @include on-tablet {
      margin-top: 56px;
    }

    @include on-desktop {
      height: 100%;
      margin-top: 38px;
    }
  }

  &__left {
    display: block;
    grid-column: 1 /-1;
    margin-bottom: 48px;

    @include content-padding-inline;

    @include on-tablet {
      margin-bottom: 147px;
    }

    @include on-desktop {
      grid-column: 1 /7;
      margin-bottom: 0;
      padding-block: 164px 0;
    }
  }

  &__right {
    display: flex;
    grid-column: 1 /-1;
    flex-direction: column;
    flex-grow: 1;

    height: 100%;
    min-height: 400px;
    border-radius: 0 0 30px 30px;

    background-image: url('../images/GwVmBgpP-PQ.svg');
    background-position: center;
    background-size: cover;

    @include on-desktop {
      grid-column: 7 /13;
      max-height: 100vh;
      border-radius: 30px 0;
    }
  }

  &__text {
    margin-top: auto;

    @include content-padding-inline;

    @include on-desktop {
      display: inline-flex;
      gap: 24px;
      padding-left: 78px;
    }

    &__title {
      margin-bottom: 32px;
    }
  }

  &__arrows {
    display: flex;
    gap: 16px;
    margin-bottom: 16px;
  }

  &__title-second {
    margin: 0 0 8px;

    font-family: Poppins, sans-serif;
    font-size: 13px;
    font-weight: 700;
    line-height: 100%;
    color: $main-text-color-white;
    text-transform: uppercase;
    letter-spacing: 3px;
  }

  &__description-second {
    max-width: 280px;
    margin: 0;

    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 140%;
    color: $main-text-color-white;
  }

  &__title-first {
    margin: 0 0 32px;

    font-family: Poppins, sans-serif;
    font-size: 52px;
    font-weight: 600;
    line-height: 120%;
    color: $main-text-color-white;
    letter-spacing: -2px;

    @include on-tablet {
      margin: 0 0 24px;
    }

    @include on-desktop {
      margin: 0 0 32px;
    }
  }

  &__description-first {
    max-width: 362px;
    margin: 0 0 72px;

    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    color: $main-text-color-white;
    letter-spacing: 0;

    @include on-tablet {
      margin: 0 0 56px;
    }

    @include on-desktop {
      margin: 0 0 83px;
    }
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 50px;
    margin: 0;
    border-radius: 8px;

    font-family: Poppins, sans-serif;
    font-size: 15px;
    font-weight: 600;
    line-height: 100%;
    color: $main-text-color-white;
    text-align: center;
    text-decoration: none;
    letter-spacing: 0;

    background-color: $main-blue-color;

    transition:
    transform 0.3s ease,
    background-color 0.3s ease;

    &:hover {
      transform: scale(1.05);
      background-color: $hover-button-color;
    }

    @include on-tablet {
      width: 246px;
    }
  }
}
