.content {
  @include flex; 
  margin-top: $content-margin-top;

  &__main {
    color: $global-white-color;
  }

  &__heading {
    font-weight: $global-font-weight;
    font-size: $header-heading-size;
    line-height: 1.1;
    letter-spacing: -2px;
    border-radius: 20px;
    margin-bottom: 32px;
  }

  &__text {
    font-family: $global-font-family;
    font-size: 18px;
    opacity: 0.8;
    line-height: 24px;
  }

  &__button {
    padding: 15px 70px;
    margin-top: $margin-button;
    color: $global-white-color;
    font-weight: $global-font-weight;
    font-size: 15px;
    line-height: 22px;
    border-radius: 8px;
    border: 1px solid $elements-color;
    background-color: $elements-color;

    &:hover {
      box-shadow: $global-box-shadow;
    }
  }
}

@media (max-width: $media-width-1080) {
  .content {
    justify-content: center;
    text-align: center;
    margin-top: 0;

    &__heading {
      font-size: 70px;
      margin-top: 135px;
    }
  }
}

@media (max-width: $media-width-578) {
  .content {
    &__heading {
      font-size: 50px;
      letter-spacing: 1px;
    }

    &__text {
      padding: 0 30px;
    }
  }
}
