.icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 64px;

  &__img {
    background: white;
    height: 64px;
    border-radius: 50%;
    margin-right: 32px;
  }

  &__text {
    color: white;
    line-height: 1.5;
  }
}
