@font-face {
  font-family: icons;
  src:
    url('../fonts/icons.ttf?2i9hr') format('truetype'),
    url('../fonts/icons.woff?2i9hr') format('woff'),
    url('../fonts/icons.svg?2i9hr#icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^='icons-']::before,
[class*=' icons-']::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: icons, sans-serif;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 32px;
  color: $white-color;
  transition: color $transition-duration;


  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icons-facebook::before {
  content: '\e900';

}

.icons-instagram::before {
  content: '\e901';
}

.icons-twitter::before {
  content: '\e902';
}
