.icon {
  width: 32px;
  height: 32px;
  transition: all 0.3s;

  &--twitter {
    background-image: url(../images/icons/twitter-icon.svg);

    &:hover {
      background-image: url(../images/icons/twitter-icon-on-hover.svg);
    }
  }
}
