.icon {
  display: block;
  height: 24px;
  width: 24px;

  &--logo {
    height: 45px;
    width: 45px;
    background: url(../images/logo/dia-logo.svg) center / 45px no-repeat;
  }

  &--menu {
    background: url(../images/menu.svg) center / 18px no-repeat;

      @include onDesctop {
        display: none;
      }
    }

    &--close {
      background: url(../images/close.png) center / 24px no-repeat;
    }
}
