.icon {
  display: block;
  background-position: center;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;

  @include hover(scale, 1.1);

  &--logo {
    background-image: url(/src/images/logo/air-logo.svg);
    width: 46px;
    height: 28px;
  }

  &--menu {
    background-image: url(/src/images/menu-icon.svg);

    @include on-small-desktop {
      display: none;
    }
  }

  &--close {
    background-image: url(/src/images/close-icon.svg);
    width: 18px;
    height: 18px;
  }

  &--arrow {
    background-image: url(/src/images/right-arrow.svg);
    width: 48px;
    height: 48px;
  }

  &--commas {
    background-image: url(/src/images/commas.svg);
    margin-inline: auto;
    margin-bottom: 8px;

    @include on-tablet {
      margin-bottom: 16px;
    }

    @include on-small-desktop {
      margin-bottom: 8px;
    }
  }

  &--facebook {
    background-image: url(/src/images/facebook-icon.svg);
  }

  &--twitter {
    background-image: url(/src/images/twitter-icon.svg);
  }

  &--instagram {
    background-image: url(/src/images/insta-icon.svg);
  }

  &--footer {
    width: 32px;
    height: 32px;
  }
}
