@import "utils";
@import "fonts";
@import "typography";
@import "reset";

@import "./header/header.scss";
@import "./header/nav";
@import "./header/toggler.scss";

@import "./slider/slider";

@import "main";

@import "./introducing/introducing.scss";

@import "./expertise/expertise.scss";
@import "./expertise/cards.scss";
@import "./expertise/part-of-expertise.scss";

@import "./process/process.scss";
@import "./process/description.scss";
@import "./process/element.scss";

@import "./approach/approach.scss";

@import "./testimonials/testimonials.scss";
@import "./testimonials/card.scss";

@import "./vision-passion-results/vision-passion-results.scss";

@import "./footer/footer.scss";
@import "./footer/feedback.scss";
@import "./footer/form.scss";
@import "./footer/contact-us.scss";

@import "./DISPLAY/less-sizes.scss";
@import "./DISPLAY/mobile.scss";

html {
  scroll-behavior: smooth;
}

body {
  background: #f2f6fa;
  font-family: Poppins, sans-serif;
}

.test {
  display: flex;
  flex-direction: column;
  align-items: center;
}
