.info-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  transition: transform $transition-duration;

  overflow: hidden;
  &__img {
    width: 166px;
    height: 166px;

    margin-bottom: 40px;

    border-radius: 16px;
    object-fit: cover;
    object-position: center;
  }

  &__title {
    margin-bottom: 16px;

    font-weight: 600;
    font-size: 20px;
    line-height: 140%;
  }

  &__text {
    font-family: "Open Sans", Helvetica, sans-serif;
    font-size: 14px;
    line-height: 150%;
    color: #6c788b;
    text-align: center;
  }

  &::before {
    content: "";
    position: absolute;
    height: 280px;
    width: 40px;
    top: -30px;
    left: -25px;

    transform-origin: top left;
    background: linear-gradient(90deg, rgba(255,255,255,0) 23%,
    rgba(255,255,255,0.6) 88%);
    transform: rotate(45deg);

  }

  &:hover {
    transform: scale(1.1);

    &::before {
      transition: transform $transition-duration;
      transform: rotate(45deg) translate(300px, -300px);
    }
  }
}
