@import "variable";

.info {

  margin: 0 423px 148px ;

  &__h2 {
    margin-bottom: 16px;

    font-family: $poppins;
    font-weight: 600;
    font-size: 32px;
    line-height: 150%;
  }

  &__text-p {
    color: #6c788b;
    font-family: $Open-Sans;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
  }
}

@media screen and (max-width: 1560px) {
  .info {
    margin-right: 300px;
    margin-left: 300px;
  }
}

@media screen and (max-width: 1313px) {
  .info {
    margin-right: 200px;
    margin-left: 200px;
  }
}

@media screen and (max-width: 1113px) {
  .info {
    margin-right: 100px;
    margin-left: 100px;
  }
}

@media screen and (max-width: 915px) {
  .info {
    margin-right: 50px;
    margin-left: 50px;
  }
}

@media screen and (max-width: 815px) {
  .info {
    margin-right: 24px;
    margin-left: 24px;
  }
}

@media screen and (max-width: 815px) {
  .info {
    text-align: center;

    &__h2 {
      font-size: 30px;
    }

    &__text-p {
      font-size: 20px;
    }
  }
}

@media screen and (max-width: 730px) {
  .info {
    margin-bottom: 50px;
  }
}
