.info {
  
  width: 365px;
  padding-top: 120px;
 
  &__name {
    margin-bottom: 32px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 64px;
    line-height: 68px;
    letter-spacing: -2px;
  }

  &__text {
    margin-bottom: 83px;
    font-size: 18px;
  }

  &__button-text {
    display: inline-block;
    padding: 17px 69px 14px 70px;
    
    @media (max-width: 1250px) {
      padding: 17px;
    }
  }

  @media (max-width: 1250px) {
    padding-top: 100px;

    &__text {
      padding-right: 20px;
    }
    
  }

  @media (max-width: 999px) {
    &__text {
      padding-bottom: 10px;
      margin-bottom: 20px;
    }

    &__button {
      margin-bottom: 180px;
    }
  }

  @media (max-width: 900px) {
    padding-top: 50px;
    margin: 0 auto;
    display: grid;
    justify-items: center;

    &__name {
      margin: 0;
      font-size: 42px;
      margin-bottom: 10px;
    }

    &__text {
      max-width: 226px;
      text-align: center;
      padding: 0;
      margin-bottom: 30px;
    }
  }

  @media (max-width: 500px) {
    &__name {
      font-size: 32px;
    }
  }
}
