.input {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 600;
  opacity: 0.7;
  color: white;
  background: none;
  border: none;
  border-bottom: 1px solid $c-white;
  outline: none;

  &::placeholder {
    color: $c-white;
  }

  &:focus {
    opacity: 1;
  }
}
