.intro {
  position: absolute;
  left: 325px;
  top: 1028px;

  &__heading {
    margin: 0;
    font-size: 13px;
    font-weight: 800;
    color: #56ccf2;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  &__text {
    margin: 0;
    font-weight: 900;
    font-size: 20px;
    line-height: 27px;
    color: white;
    width: 264px;
    padding-top: 4px;
  }

  &__welcome {
    width: 742px;
    position: absolute;
    top: 294px;
    left: 130px;
  }

  &__welcome-heading {
    font-weight: 800;
    font-size: 16px;
    line-height: 24px;
    color: #56ccf2;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding-bottom: 19px;

    &:before {
      display: block;
      content: "";
      position: absolute;
      width: 21px;
      height: 21px;
      background-image: url(../images/sub-title/sub-title-icon-dark.svg);
      left: -16px - 21px;
    }
  }

  &__welcome-text {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    margin: 0;
    color: #253757;
    transform: translate(-38px);
  }
}

@media screen and (max-width: 999px) {
  .intro {
    left: 250px;
    top: 770px;

    &__text {
      font-size: 17px;
      line-height: 20px;
    }

    &__welcome {
      position: absolute;
      top: 150px;
      left: 20px;
      width: 600px;
    }

    &__welcome-heading {
      font-size: 15px;
      line-height: 15px;
      padding-bottom: 10px;
    }

    &__welcome-text {
      font-size: 20px;
      line-height: 25px;
    }
  }
}
