@mixin rectangles {
  position: absolute;
  opacity: 0.5;
  border-radius: 500px;
  transform: rotate(-65.1deg);
}

.item {
  &__small-blue {
    width: 67px;
    height: 26px;
    left: 5%;
    top: 370px;
    border: 5px solid #56ccf2;
    @include rectangles();

    @media screen and (max-width: 676px) {
      top: 290px;
    }
  }

  &__blue-big {
    width: 153px;
    height: 60px;
    right: 9%;
    top: 413px;
    border: 5px solid #56ccf2;
    @include rectangles();

    @media screen and (max-width: 676px) {
      top: 600px;
      right: -2%;
    }

    @media screen and (max-width: 460px) {
      top: 710px;
    }
  }

  &__purple {
    width: 93.54px;
    height: 36px;
    left: 8%;
    top: 519px;
    border: 5px solid #bc04fc;
    @include rectangles();

    @media screen and (max-width: 460px) {
      top: 730px;
    }
  }

  &__purple-small-fat {
    width: 53.69px;
    height: 21.22px;
    right: 7%;
    top: 110px;
    border: 5px solid #bc04fc;
    @include rectangles();
  }

  &__orange {
    width: 85.61px;
    height: 33.84px;
    left: 15%;
    top: 72px;
    border: 2px solid #ff9c8e;
    @include rectangles();

    @media screen and (max-width: 460px) {
      left: 5%;
      top: 30px;
    }
  }

  &__orange-other-side {
    width: 85.61px;
    height: 33.84px;
    top: 385px;
    right: 20%;
    border: 2px solid #ff9c8e;
    @include rectangles();

    @media screen and (max-width: 900px) {
      border: none;
    }
  }
  &__green {
    width: 143px;
    height: 56px;
    left: 16%;
    top: 283px;
    border: 5px solid #03d542;
    @include rectangles();

    @media screen and (max-width: 1300px) {
      border: none;
    }

  }

  &__yellow-small {
    width: 45.28px;
    height: 17.9px;
    left: 28%;
    top: 77px;
    border: 2px solid #fcc304;
    @include rectangles();

  }

  &__yellow-small-fat {
    width: 45.28px;
    height: 17.9px;
    left: 30%;
    top: 465px;
    border: 5px solid #fcc304;
    @include rectangles();

    @media screen and (max-width: 900px) {
      top: 620px;
    }

    @media screen and (max-width: 460px) {
      top: 790px;
    }
  }

  &__yellow-big {
    width: 86px;
    height: 34px;
    right: 4%;
    top: 268px;
    border: 2px solid #fcc304;
    @include rectangles();

    @media screen and (max-width: 900px) {
      border: none;
    }
  }

  &__purple-small {
    width: 45px;
    height: 17px;
    right: 35%;
    top: 514px;
    border: 2px solid #bc04fc;
    @include rectangles();

    @media screen and (max-width: 676px) {
      top: 640px;
    }

    @media screen and (max-width: 460px) {
      top: 760px;
    }
  }

  &__green-big {
    width: 143px;
    height: 56px;
    right: 16%;
    top: 130px;
    border: 5px solid #03d542;
    @include rectangles();

    @media screen and (max-width: 1300px) {
      top: 100px;
    }

  }
}
