.learn-more {
  display: flex;
  justify-content: space-between;

  @media (max-width: 999px) {
    padding-left: 50px;

    &__slider {
      position: absolute;
      right: 0;
      top: 250px;
    }
  }

  @media (min-width: $big-screen) {
    padding-left: 14%;
  }

  @media (max-width: 900px) {
    padding: 0;
  }
}
