.light-theme {
  background: #f2f9ff;
  
  .theme-switcher:after {
    transform: translateX(28px);
    background: #ff9c8e;
  }

  .header {
    background: #008aff;

    & .burger {
      &__menu {
        background-color: #008aff;
      }
    }

    &__hire-us:after {
      background: #ff9c8e;
    }
  }

  .nav__link:after {
    background: #ff9c8e;
  }

  .promo {
    background: #008aff;
    border-bottom-left-radius: 120px;
    border-bottom-right-radius: 0;

    &__learn-more-button {
      background: #ff9c8e;
      border-radius: 64px;
    }

    @media (max-width: 500px) {
      border-bottom-left-radius: 20px;
    }
  }

  .work__card {
    border-radius: 24px;

    @each $number-background, $i in (
      #eefafe : 1,
      #fffae8 : 2,
      #e8fbed : 3,
      #feefef : 4
    ) {
      &:nth-of-type(#{$i}) {
        & .work-card__number {
          background-color: #{$number-background};
        }
      }
    }

    @each $color, $i in (
      #56ccf2 : 1,
      #fcc91d : 2,
      #15d850 : 3,
      #f36363 : 4
    ) {
      &:nth-of-type(#{$i}) {
        &:hover {
          box-shadow: 0 9px 18px #{$color};
        }

        & .work-card__circle {
          background-color: #{$color};
        }

        & .work-card__number {
          color: #{$color};
        }
      }
    }
  }

  .advantages {
    background-color: #ff9c8e;
    border-top-left-radius: 120px;
    border-bottom-left-radius: 120px;
  }

  .reviews-card {
    &:nth-of-type(1) {
      & .reviews-card__paragraph:before {
        background: url(../images/reviews-card__brackets--sky-blue.svg) center no-repeat;
      }

      & .reviews-card__pseudoelement-wrapper {
        &:after,
        &:before {
          background: linear-gradient(180deg,
          rgba(255, 255, 255, 0.25) 0%,
          rgba(255, 255, 255, 0) 100%),
            #56ccf2;
          border-radius: 500px;
        }
      }
    }

    &:nth-of-type(2) {
      & .reviews-card__paragraph:before {
        background: url(../images/reviews-card__brackets--yellow.svg) center no-repeat;
      }

      & .reviews-card__pseudoelement-wrapper {
        &:after,
        &:before {
          background: linear-gradient(180deg,
          rgba(255, 255, 255, 0.25) 0%,
          rgba(255, 255, 255, 0) 100%),
            #fcc304;
          border-radius: 500px;
        }
      }
    }

    &:nth-of-type(3) {
      & .reviews-card__paragraph:before {
        background: url(../images/reviews-card__brackets--red.svg) center no-repeat;
      }

      & .reviews-card__pseudoelement-wrapper {
        &:after,
        &:before {
          background: linear-gradient(180deg,
          rgba(255, 255, 255, 0.25) 0%,
          rgba(255, 255, 255, 0) 100%),
            #f25656;
          border-radius: 500px;
        }
      }
    }
  }

  .slogan {
    &__apply-button {
      background: #ff9c8e;
      border-radius: 64px;
    }

    &__decoration-rectangle {
      border-radius: 500px;

      &:after {
        border-radius: 500px;
      }

      &--1,
      &--2 {
        background: linear-gradient(90deg,
        rgba(255, 255, 255, 0.25) 0%,
        rgba(255, 255, 255, 0) 100%),
          #15d850;

        &:hover:after {
          background: linear-gradient(90deg,
          rgba(255, 255, 255, 0.25) 0%,
          rgba(255, 255, 255, 0) 100%),
            #15d850;
        }
      }

      &--3,
      &--8 {
        background: linear-gradient(90deg,
        rgba(255, 255, 255, 0.25) 0%,
        rgba(255, 255, 255, 0) 100%),
          #56ccf2;

        &:hover:after {
          background: linear-gradient(90deg,
          rgba(255, 255, 255, 0.25) 0%,
          rgba(255, 255, 255, 0) 100%),
            #56ccf2;
        }
      }

      &--4,
      &--6 {
        background: linear-gradient(90deg,
        rgba(255, 255, 255, 0.25) 0%,
        rgba(255, 255, 255, 0) 100%),
          #f25656;

        &:hover:after {
          background: linear-gradient(90deg,
          rgba(255, 255, 255, 0.25) 0%,
          rgba(255, 255, 255, 0) 100%),
            #f25656;
        }
      }

      &--5,
      &--9,
      &--12 {
        background: linear-gradient(90deg,
        rgba(255, 255, 255, 0.25) 0%,
        rgba(255, 255, 255, 0) 100%),
          #d40db2;

        &:hover:after {
          background: linear-gradient(90deg,
          rgba(255, 255, 255, 0.25) 0%,
          rgba(255, 255, 255, 0) 100%),
            #d40db2;
        }
      }

      &--7,
      &--10,
      &--11 {
        background: linear-gradient(90deg,
        rgba(255, 255, 255, 0.25) 0%,
        rgba(255, 255, 255, 0) 100%),
          #fcc304;

        &:hover:after {
          background: linear-gradient(90deg,
          rgba(255, 255, 255, 0.25) 0%,
          rgba(255, 255, 255, 0) 100%),
            #fcc304;
        }
      }
    }
  }

  .contact-us {
    background-color: #008aff;
    border-top-left-radius: 0;
    border-top-right-radius: 120px;

    &__input {
      &:focus {
        border-bottom: 2px solid #ff9c8e;
      }
    }

    &__submit-button {
      background: #ff9c8e;
      border-radius: 64px;
    }
  }

  .footer {
    background-color: #008aff;
  }
}
