@import "vars";
@import "mixins";

.local-title {
  @include font(32px, 900);
  color: $dark-text-color;
  margin: 20px 0 64px;
  max-width: 362px;
}

@media screen and (max-width: 1024px) {
  .local-title {
    margin: 40px auto;
  }
}
