@mixin logo-footer {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 24px;
  height: 24px;
  transition: 0.3s;
}

.logo {
  display: flex;
  align-items: center;

  &--footer-menu {
    margin-bottom: 50px;
    @include onTablet {
      margin-bottom: 25px;
    }
  }
  
  &--socials {
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 40px;
    align-items: center;
    margin-bottom: 80px;
    @include onTablet {
      margin-bottom: 145px;
      gap: 40px;
    }
  }
  &__image {
    margin-right: 35px;
    width: 45px;
    height: 25px;
  }

  &--social-networks {
    justify-content: center;
    gap: 32px;
    align-items: center;

  }
  &__item {
    background: $colorHeaderBg;
    &--facebook {
      background-image: url(./src/images/vector/Vector-f.svg);
      @include logo-footer;
      &:hover {
        background-image: url(./src/images/vector/Vector-f-hover.svg);
        transform: scale(1.1);
      }
    }
    &--twitter {
      background-image: url(./src/images/vector/Vector-t.svg);
      @include logo-footer;
      &:hover {
        background-image: url(./src/images/vector/Vector-t-hover.svg);
        transform: scale(1.1);
      }
    }
    &--instagram {
      background-image: url(./src/images/vector/Vector-i.svg);
      @include logo-footer;
      &:hover {
        background-image: url(./src/images/vector/Vector-i-hover.svg);
        transform: scale(1.1);
      }
    }
  }
}
