@import "utils";

.main {
  max-width: 1600px;
  margin: 0 auto;
  position: relative;
  
  &__container {
    margin: 0 auto;
    padding: 0 227px;

    @media screen and (max-width: 1400px) {
      & {
        padding: 50px 150px 0;
      }
    }

    @media screen and (max-width: 1250px) {
      & {
        padding: 0 100px;
      }
    }
  
    @media screen and (max-width: 950px) {
      & {
        padding: 0 70px;
      }
    }

    @media screen and (max-width: 580px) {
      & {
        padding: 0 45px;
      }
    }

    @media screen and (max-width: 400px) {
      & {
        padding: 0 30px;
      }
    }
  }

  &__info {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 504px;

    @media screen and (max-width: 1050px) {
      & {
        height: 380px;
      }
    }

    @media screen and (max-width: 950px) {
      & {
        height: 290px;
        justify-content: flex-start;
      }
    }
  }

  &__expertise {
    padding-top: 136px;
    height: 759px;

    @media screen and (max-width: 780px) {
      & {
        padding-top: 30px;
        height: 959px;
      }
    }

    @media screen and (max-width: 780px) {
      & {
        height: fit-content;
        padding: 30px;
      }
    }
  }

  &__process {
    padding-top: 148px;
    height: 750px;
    box-sizing: border-box;

    @media screen and (max-width: 1150px) {
      & {
        height: fit-content;
        padding-top: 80px;
        padding-bottom: 80px;
      }
    }
  }
  &__approach {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
}
