h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

body,
ul,
p,
button,
h1,
h2,
h3,
input {
  padding: 0;
  margin: 0;
  border: 0;
  margin-block-end: 0;
  margin-block-start: 0;
}

html,
body {
  color: #253757;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  font-family: "Muli", sans-serif;
}

h1 {
  font-weight: 900;
  font-size: 64px;
  line-height: 1.5;
}

h2 {
  font-weight: 900;
  font-size: 48px;
  line-height: 1;
}

h3 {
  font-weight: 900;
  font-size: 32px;
  line-height: 1.4;
}

@media screen and (max-width: 1023px) {
  .header {
    padding: 9px 45px 0 !important;
    background-image: none !important;
    background-color: #56ccf2;
  }
  .header__top {
    flex-direction: column;
  }
  .header__top_logo {
    margin-right: 0 !important;
    margin-bottom: 24px;
  }
  .header__top_nav_spec {
    margin-left: 0 !important;
  }
  .header__wrapper {
    margin-left: 0 !important;
  }
  .header__text {
    color: #253757;
  }

  .nav__list {
    flex-direction: column;
  }
  .nav__list_item {
    margin: 0 !important;
  }

  .container {
    width: 280px !important;
    height: 210px !important;
    overflow: hidden;
  }
}
@media screen and (max-width: 1599px) {
  .header {
    padding: 36px 170px 0 !important;
    height: 860px !important;
    background-image: linear-gradient(115deg, #56ccf2 75%, #fcfcfd 20%) !important;
  }

  .container {
    width: 917px !important;
    height: 512px !important;
  }

  .slider__image {
    width: 917px !important;
    height: 512px !important;
  }

  .services {
    padding: 0 170px 162px !important;
  }

  .steps {
    padding: 100px 100px 0 !important;
  }

  .features {
    padding: 198px 0 96px 170px !important;
  }

  .testimonials {
    padding: 166px 170px 0 !important;
  }

  .contactUs {
    padding: 0 170px 136px !important;
  }
  .contactUs__message_text {
    width: 456px !important;
  }

  .oval-11 {
    right: 453px !important;
  }
}
.header {
  color: white;
  padding: 48px 227px 0;
  width: inherit;
  background-image: linear-gradient(115deg, #56ccf2 80%, #fcfcfd 20%);
  height: 935px;
  box-sizing: border-box;
}
.header__top {
  display: flex;
}
.header__top_logo {
  margin-right: 111.5px;
  font-size: 32px !important;
  margin-left: 0;
}
.header__top_nav_spec {
  margin-left: 73px;
  margin-right: 0;
  position: relative;
}
.header__top_nav_spec::after {
  content: "";
  height: 4px;
  width: 100%;
  background-color: #fcc304;
  border-radius: 2px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 8px;
}
.header__wrapper {
  margin-left: 98px;
}
.header__heading {
  margin: 100px 0 22px;
}
.header__text {
  margin: 0 0 42px;
  font-size: 24px;
}
.header__button {
  width: 226px;
  height: 56px;
  border-radius: 64px;
  background-color: white;
  cursor: pointer;
  margin: 0 0 122px;
}
.header__button:hover {
  background-color: #fcc304;
}
.header__button_link {
  color: #253757 !important;
}
.header__button_link:hover {
  color: white !important;
}
.header__info {
  display: flex;
}
.header__info_networks {
  margin-left: 23px;
}

.container {
  width: 1146px;
  height: 640px;
  overflow: hidden;
}

.intro {
  background-color: #fcfcfd;
  align-items: center;
  padding-top: 165px;
  padding-bottom: 160px;
  height: 500px;
}
.intro__block {
  position: relative;
  top: 316px;
  width: 755px;
  margin-right: auto;
  margin-left: auto;
}
.intro__block_heading {
  margin-bottom: 19px;
  height: 24px;
}
.intro__block_heading_text {
  margin-left: 16px;
  color: #56ccf2;
  font-weight: 800;
  letter-spacing: 2px;
  text-transform: uppercase;
  vertical-align: top;
}
.intro__block_text {
  font-weight: 600;
  font-size: 24px;
}

.services {
  padding: 162px 227px;
}
.services__heading {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}
.services__block {
  display: flex;
  margin-top: 162px;
  justify-content: space-between;
}
.services__block_service {
  width: 264px;
  transition: 1s;
}
.services__block_service:hover {
  transform: scale(1.2);
  color: #56ccf2 !important;
}
.services__block_service_image {
  height: 160px;
  width: 160px;
  border-radius: 50%;
  box-shadow: 32px 32px 64px rgba(86, 204, 242, 0.05);
  transition: 1s;
}
.services__block_service_heading {
  font-weight: 900;
  font-size: 20px;
  line-height: 140%;
  margin-bottom: 32px;
  margin-top: 64px;
}
.services__block_service_text {
  color: #334563;
}

.circle {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  opacity: 0.1;
}

.number {
  font-weight: 900;
  font-size: 40px;
  transform: translateY(-55%);
}

.steps {
  padding: 163px 163px 0;
  border-left: 64px solid white;
  border-right: 64px solid white;
  background-color: #fcfcfd;
  display: flex;
  justify-content: space-between;
}
.steps__info {
  width: 362px;
}
.steps__info_title {
  margin-bottom: 21px;
}
.steps__info_title_text {
  margin-left: 16px;
  color: #56ccf2;
  font-weight: 800;
  letter-spacing: 2px;
  text-transform: uppercase;
  vertical-align: top;
}
.steps__info_heading {
  margin-bottom: 62px;
}
.steps__info_text {
  color: #334563;
}
.steps__steps {
  max-width: 538px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  top: 62px;
}
.steps__steps_step {
  width: 240px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 48px 32px;
  box-sizing: border-box;
  box-shadow: 16px 16px 16px rgba(0, 0, 0, 0.02);
  transition: 1s;
}
.steps__steps_step:hover {
  transform: scale(1.2);
}
.steps__steps_step:first-child, .steps__steps_step:nth-child(2) {
  margin-bottom: 128px;
}
.steps__steps_step:first-child, .steps__steps_step:nth-child(3) {
  position: relative;
  top: 112px;
}
.steps__steps_step_circle_1 {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(0deg, #56ccf2, #56ccf2), #c4c4c4;
}
.steps__steps_step_number_1 {
  color: #56ccf2;
}
.steps__steps_step_circle_2 {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #fcc304;
}
.steps__steps_step_number_2 {
  color: #fcc304;
}
.steps__steps_step_circle_3 {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(0deg, #03d542, #03d542), #c4c4c4;
}
.steps__steps_step_number_3 {
  color: #03d542;
}
.steps__steps_step_circle_4 {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #f25656;
}
.steps__steps_step_number_4 {
  color: #f25656;
}
.steps__steps_step_text {
  font-size: 13px;
  text-align: center;
}

.features {
  padding: 198px 0 96px 227px;
  background-image: url(./../images/features/Bg_2.jpg);
  background-size: cover;
}
.features__info {
  width: 362px;
}
.features__info_title {
  margin-bottom: 21px;
}
.features__info_title_text {
  margin-left: 16px;
  font-weight: 800;
  letter-spacing: 2px;
  text-transform: uppercase;
  vertical-align: top;
  color: white;
}
.features__info_heading {
  margin-bottom: 69px;
}
.features__info_block {
  display: flex;
  height: 96px;
  align-items: center;
  margin-bottom: 64px;
}
.features__info_block_image {
  width: 64px;
  height: 64px;
  border-radius: 32px;
  margin-right: 32px;
}
.features__info_block_text {
  color: white;
}

.testimonials {
  padding: 166px 227px 0;
}
.testimonials__title {
  margin-bottom: 21px;
}
.testimonials__title_text {
  margin-left: 16px;
  font-weight: 800;
  letter-spacing: 2px;
  text-transform: uppercase;
  vertical-align: top;
  color: #56ccf2;
}
.testimonials__heading {
  margin-bottom: 69px;
  width: 362px;
}
.testimonials__block {
  display: flex;
  justify-content: space-between;
  top: 160px;
  position: relative;
  background-color: #fefefe;
  z-index: 1;
}
.testimonials__block_ellipse-1 {
  background-color: #56ccf2;
}
.testimonials__block_line-1 {
  background-color: #56ccf2;
}
.testimonials__block_position-1 {
  color: #56ccf2;
}
.testimonials__block_ellipse-2 {
  background-color: #fcc304;
}
.testimonials__block_line-2 {
  background-color: #fcc304;
}
.testimonials__block_position-2 {
  color: #fcc304;
}
.testimonials__block_ellipse-3 {
  background-color: #f25656;
}
.testimonials__block_line-3 {
  background-color: #f25656;
}
.testimonials__block_position-3 {
  color: #f25656;
}

.vpr {
  background-color: #fcfcfd;
  padding: 320px 423px 256px;
  text-align: center;
  position: relative;
}
.vpr__title {
  margin-bottom: 57px;
}
.vpr__text {
  font-weight: 600;
  font-size: 24px;
  color: #334563;
  margin-bottom: 55px;
}
.vpr__button {
  width: 226px;
  height: 56px;
  border-radius: 64px;
  background-color: #2f80ed;
  cursor: pointer;
  font-size: 16px;
  line-height: 56px;
  font-weight: 700;
  letter-spacing: 1px;
  color: white;
}
.vpr__button:hover {
  background-color: #fcc304;
}
.vpr__button_link {
  color: white !important;
}

.oval-1 {
  width: 85px;
  height: 34px;
  border: 4px solid #f25656;
  border-radius: 500px;
  box-sizing: border-box;
  position: absolute;
  transform: rotate(-65deg);
  opacity: 0.5;
  top: 220px;
  left: 233px;
}

.oval-2 {
  width: 45px;
  height: 18px;
  border: 4px solid #fcc304;
  border-radius: 500px;
  box-sizing: border-box;
  position: absolute;
  transform: rotate(-65deg);
  opacity: 0.5;
  top: 225px;
  left: 446px;
}

.oval-3 {
  width: 67px;
  height: 27px;
  border: 4px solid #56ccf2;
  border-radius: 500px;
  box-sizing: border-box;
  position: absolute;
  transform: rotate(-65deg);
  opacity: 0.5;
  top: 518px;
  left: 82px;
}

.oval-4 {
  width: 143px;
  height: 57px;
  border: 4px solid #03d542;
  border-radius: 500px;
  box-sizing: border-box;
  position: absolute;
  transform: rotate(-65deg);
  opacity: 0.5;
  top: 431px;
  left: 269px;
}

.oval-5 {
  width: 94px;
  height: 37px;
  border: 4px solid #bc04fc;
  border-radius: 500px;
  box-sizing: border-box;
  position: absolute;
  transform: rotate(-65deg);
  opacity: 0.5;
  top: 666px;
  left: 131px;
}

.oval-6 {
  width: 45px;
  height: 18px;
  border: 4px solid #fcc304;
  border-radius: 500px;
  box-sizing: border-box;
  position: absolute;
  transform: rotate(-65deg);
  opacity: 0.5;
  top: 613px;
  left: 481px;
}

.oval-7 {
  width: 54px;
  height: 21px;
  border: 4px solid #bc04fc;
  border-radius: 500px;
  box-sizing: border-box;
  position: absolute;
  transform: rotate(-65deg);
  opacity: 0.5;
  top: 257px;
  right: 111px;
}

.oval-8 {
  width: 143px;
  height: 57px;
  border: 4px solid #03d542;
  border-radius: 500px;
  box-sizing: border-box;
  position: absolute;
  transform: rotate(-65deg);
  opacity: 0.5;
  top: 279px;
  right: 216px;
}

.oval-9 {
  width: 86px;
  height: 34px;
  border: 4px solid #fcc304;
  border-radius: 500px;
  box-sizing: border-box;
  position: absolute;
  transform: rotate(-65deg);
  opacity: 0.5;
  top: 424px;
  right: 67px;
}

.oval-10 {
  width: 85px;
  height: 34px;
  border: 4px solid #f25656;
  border-radius: 500px;
  box-sizing: border-box;
  position: absolute;
  transform: rotate(-65deg);
  opacity: 0.5;
  top: 533px;
  right: 314px;
}

.oval-11 {
  width: 45px;
  height: 18px;
  border: 4px solid #bc04fc;
  border-radius: 500px;
  box-sizing: border-box;
  position: absolute;
  transform: rotate(-65deg);
  opacity: 0.5;
  top: 662px;
  right: 553px;
}

.oval-12 {
  width: 154px;
  height: 61px;
  border: 4px solid #56ccf2;
  border-radius: 500px;
  box-sizing: border-box;
  position: absolute;
  transform: rotate(-65deg);
  opacity: 0.5;
  top: 561px;
  right: 144px;
}

.contactUs {
  background-color: #fcfcfd;
  display: flex;
  padding: 0 227px 136px;
  justify-content: space-between;
}
.contactUs__message_title {
  margin-bottom: 60px;
}
.contactUs__message_text[type=text] {
  display: block;
  border: none;
  border-bottom: 1px solid #e1e1e1;
  background-color: #fcfcfd;
  width: 656px;
  height: 40px;
  font-family: "Muli", sans-serif;
  font-size: 14.4px;
  line-height: 150%;
  color: #152032;
  font-weight: 700;
  margin-bottom: 48px;
}
.contactUs__message_text[type=text]:focus {
  outline: none;
  border-bottom: 1px solid red;
}
.contactUs__contact {
  width: 362px;
}
.contactUs__contact_contact {
  margin-bottom: 19px;
}
.contactUs__contact_title {
  margin-bottom: 43px;
}
.contactUs__contact_text-1 {
  font-weight: 800;
  font-size: 12.6px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.contactUs__contact_text-2 {
  font-weight: 900;
  font-size: 24px;
  color: #56ccf2;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 43px;
}
.contactUs__button {
  margin-top: 48px;
}

.socLink {
  margin-right: 48px;
}
.socLink__icon {
  transition: 1s;
}
.socLink__icon:hover {
  transform: scale(2);
}

.footer {
  background-color: #fcfcfd;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 227px 83px;
  font-weight: 700;
}

.nav {
  font-weight: 700;
}
.nav__list {
  list-style: none;
  display: flex;
  align-items: center;
}
.nav__list_item {
  margin: 0 31.5px;
  white-space: nowrap;
}
.nav__list_item:first-child {
  margin-left: 0;
}

.link {
  text-decoration: none;
  font-size: 16px;
  line-height: 56px;
  font-weight: 700;
  letter-spacing: 1px;
  display: block;
  border-radius: 64px;
  color: inherit;
}
.link:hover {
  color: #fcc304;
}

.slider {
  position: relative;
}
.slider__image {
  width: 1146px;
  height: 640px;
}
.slider__intro {
  position: absolute;
  left: 92px;
  bottom: 82px;
}
.slider__intro_heading {
  color: #56ccf2;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 12.6px;
  letter-spacing: 2px;
  margin-bottom: 4px;
}
.slider__intro_text {
  font-weight: 900;
  font-size: 19.6px;
  line-height: 1.4;
}
.slider__button {
  position: absolute;
  left: -80px;
  top: calc(50% - 31px);
  display: flex;
}
.slider__button_left {
  background-color: #fcc304;
  background-image: url(./../images/slider/Vector_left.svg);
  background-repeat: no-repeat;
  background-position: center;
  height: 64px;
  width: 81px;
  border-top-left-radius: 64px;
  border-bottom-left-radius: 64px;
  cursor: pointer;
}
.slider__button_left:hover {
  background-color: black;
}
.slider__button_right {
  background-color: #fcc304;
  background-image: url(./../images/slider/Vector_right.svg);
  background-repeat: no-repeat;
  background-position: center;
  height: 64px;
  width: 81px;
  border-top-right-radius: 64px;
  border-bottom-right-radius: 64px;
  cursor: pointer;
}
.slider__button_right:hover {
  background-color: black;
}

.carousel {
  list-style: none;
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  display: flex;
  transform: translateX();
}

.networks {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.networks__link {
  text-decoration: none;
  color: #253757;
  font-weight: 800;
  font-size: 12.6px;
  letter-spacing: 2px;
  text-transform: uppercase;
  transform: rotate(90deg);
}
.networks__link:hover {
  color: #fcc304;
}

.testimonials__card {
  width: 314px;
  height: 464px;
  padding: 0 32px;
  box-shadow: 16px 16px 32px rgba(0, 0, 0, 0.05);
  text-align: center;
  transition: 1s;
}
.testimonials__card:hover {
  transform: scale(1.2);
  z-index: 1;
}
.testimonials__card_image {
  position: relative;
  height: 240px;
}
.testimonials__card_image_ellipse {
  width: 162px;
  height: 64px;
  border-radius: 32px;
  transform: rotate(-65deg);
  position: absolute;
  top: 86px;
  left: calc(50% - 81px);
}
.testimonials__card_image_photo {
  position: absolute;
  top: 90px;
  left: 90px;
}
.testimonials__card_text {
  text-align: center;
  font-size: 14.4px;
  font-style: italic;
  margin-bottom: 31px;
}
.testimonials__card_line {
  width: 64px;
  height: 2px;
  border-radius: 1px;
  margin: 0 auto 31px;
}
.testimonials__card_name {
  font-size: 12.6px;
  font-weight: 700;
  color: #152032;
}
.testimonials__card_position {
  font-weight: 800;
  font-size: 12.6px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

/*# sourceMappingURL=main.css.map */
