.body__main {
  margin-top: 490px;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1600px;
}

//part 'welcome'

.welcome {
  width: 745px;
  padding-bottom: 160px;

  &__heading {
    font-weight: 800;
    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #56ccf2;

    &:before {
      content: url("../images/sub-title/sub-title-icon-dark.svg");
      margin-right: 16px;
    }
  }

  &__text {
    font-family: Muli, sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.5;
    color: #253757;
  }
}

//part 'specification'

.specification {
  background-color: #fff;
  width: 100vw;

  &__heading {
    font-weight: 900;
    font-size: 48px;
    line-height: 1;
    text-align: center;
    position: relative;
    bottom: 70px;
    color: #253757;
  }
}

//part "directions"

.directions {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 162px;

  &__item {
    width: 264px;
    margin-right: 128px;

    &:last-child {
      margin: 0;
    }
  }

  &__img {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    margin-bottom: 64px;
  }

  &__heading {
    font-weight: 900;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 32px;
  }
}

//part "process"

.process {
  display: flex;
  justify-content: center;
  padding-top: 160px;

  &__item {
    width: 362px;
    margin-right: 187px;
  }

  &__heading {
    font-weight: 800;
    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #56ccf2;

    &:before {
      content: url("../images/sub-title/sub-title-icon-dark.svg");
      margin-right: 16px;
    }
  }

  &__subheading {
    font-weight: 900;
    font-size: 32px;
    line-height: 1.4;
    color: #253757;
    padding-bottom: 64px;
  }

  &__text {
    font-size: 16px;
    color: #334563;
  }
}

.cards {
  display: grid;
  grid-template-columns: repeat(2, 240px);
  grid-template-rows: repeat(2, 260px);
  grid-column-gap: 58px;
  grid-row-gap: 128px;
  margin-top: 65px;

  &__item {
    width: 240px;
    height: 256px;
    background-color: #fff;
    box-shadow: 16px 16px 16px rgba(0, 0, 0, 0.02);
    text-align: center;
    font-size: 13px;
    color: #253757;
    padding: 0 32px;
    box-sizing: border-box;

    &:first-child,
    &:nth-child(3) {
      margin-top: 116px;
    }

    &:nth-child(3),
    &:nth-child(4) {
      z-index: 1;
    }
  }

  &__number {
    display: block;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    opacity: 0.1;
    position: relative;
    left: calc(120px - 58px);
    top: 48px;

    &--1 {
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%,
      rgba(255, 255, 255, 0) 100%),
        linear-gradient(0deg, #56ccf2, #56ccf2),
        #c4c4c4;
    }

    &--2 {
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%,
      rgba(255, 255, 255, 0) 100%),
        #fcc304;
    }

    &--3 {
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%,
      rgba(255, 255, 255, 0) 100%),
        linear-gradient(0deg, #03d542, #03d542),
        #c4c4c4;
    }

    &--4 {
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%,
      rgba(255, 255, 255, 0) 100%),
        #f25656;
    }
  }

  &__num {
    font-weight: 900;
    font-size: 40px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding-top: 15px;

    &--1 {
      color: #56ccf2;
    }

    &--2 {
      color: #fcc304;
    }

    &--3 {
      color: #13d84e;
    }

    &--4 {
      color: #f36363;
    }
  }
}

@media screen and (max-width: 899px) {
  .main {
    margin: 0;
    padding: 40px 0;
  }

  .welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 40px 80px;
    box-sizing: border-box;
  }

  .directions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__item {
      margin: 0 0 40px;

      &:last-child {
        margin: 0;
      }
    }
  }

  .process {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__item {
      margin: 0;
    }
  }

  .cards {
    display: grid;
    grid-template-columns: 240px;
    grid-row-gap: 20px;

    &__item {
      &:first-child,
      &:nth-child(3) {
        margin-top: 0;
      }
    }
  }
}
