.main {
  background-color: $main-BG-color;
  margin: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;

  &__aboutUS {
    display: inline-block;
    overflow: hidden;
    height: 100%;
    width: 100%;
    margin: 0;
  }

  &__expertise {
    display: inline-block;
    overflow: hidden;
    height: 100%;
    width: 100%;
    background-color: $header-text-color;
    border-radius: 30px;
    margin-inline: 0;
    margin-block: 120px;

    @include media(tablet) {
      margin-top: 0;
      padding-bottom: 50px;
      margin-bottom: 80px;
    }

    &__flex {
      @include media(desktop) {
        display: flex;
        justify-content: center;
        column-gap: 160px;
      }
    }
  }

  &__grid {
    @include media(tablet) {
      display: grid;
      overflow: visible;
      grid-template-columns: repeat(2, 1fr);
      gap: 30px;
      align-items: start;

      grid-template-areas:
        'prefix prefix'
        'title title'
        'text1 text1'
        'text2 text2'
        'card1 card2'
        'card3 card4';

      @include media(desktop) {
        grid-template-columns: repeat(4, 1fr);
      }
    }

    &__up {
      @include media(tablet) {
        position: relative;
        top: -120px;

        @include media(desktop) {
          top: 0;
        }
      }
    }

    &__dw {
      @include media(desktop) {
        position: relative;
        top: 125px;
      }
    }

    &__article {
      @include media(tablet) {
        overflow: visible;
        margin-block: 0 !important;
        height: 264px !important;
        &:nth-child(1) {
          grid-area: card1;
        }
        &:nth-child(2) {
          grid-area: card2;
        }
        &:nth-child(3) {
          grid-area: card3;
        }
        &:nth-child(4) {
          grid-area: card4;
        }
      }

      @include media(desktop) {
        width: 230px !important;
      }
    }
  }

  &__section {
    display: inline-block;
    margin-inline: 0;
    margin-block: 60px;
    width: 100%;
    padding-inline: 20px;
    box-sizing: border-box;
    overflow: hidden;

    @include media(tablet) {
      padding-inline: 40px;
      height: 100%;
    }

    @include media(desktop) {
      padding-inline: 54px;
    }

    @include media(desktopLG) {
      padding-inline: 275px;
    }

    @include media(desktop1980) {
      padding-inline: 550px;
    }

    &__article {
      width: 100%;
      height: 100%;
      border-radius: 20px;
      background-color: $header-text-color;
      margin-block: 24px;
      padding: 32px;
      margin-inline: auto;
      box-sizing: border-box;

      &__numers {
        width: 46px;
        height: 24px;
        background-color: $services-numers-bgcolor;
        color: $services-numers-color;
        font-size: 13px;
        font-weight: 600;
        line-height: 19.5px;
        text-align: center;
        border-radius: 23px;
      }

      &__text {
        font-size: 16px;
        font-weight: 600;
        line-height: 19.5px;
        text-align: left;
        color: $section-text-color;
        width: 200px;
        height: 80px;
      }

      &__conteiner {
        display: flex;
        column-gap: 16px;
        justify-content: space-between;
        width: 143px;
        height: 40px;
        padding-block: auto;
        align-items: center;

        &__arrow {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 40px;
          height: 40px;
          background-color: $services-numers-color;
          padding: auto;
          border-radius: 30px;

          &:hover {
            background-color: $main-title-color;
            color: $services-numers-color;
          }

          &__img {
            width: 24px;
            height: 24px;
          }
        }

        &__text {
          font-size: 15px;
          font-weight: 600;
          line-height: 22.5px;
          text-align: center;
          width: 87px;
          height: 23px;
          color: #334563;
        }
      }
    }
  }

  &__testimonials {
    display: inline-block;

    &__title {
      width: 100%;

      @include media(tablet) {
        text-align: left;
        width: 195px;
        font-size: 33px;
      }

      @include media(desktopLG) {
        margin-bottom: 50px;
      }
    }

    &__flex {
      @include media(desktop) {
        display: flex;
        column-gap: 20px;
        justify-content: center;
      }
    }

    &__article {
      display: block;

      @include media(desktop) {
        width: 292px;
        margin-inline: 0;
      }

      &__conteiner {
        position: relative;
        margin: 0 auto;
        width: 100%;
        height: 196px;

        &__bluerectangle1 {
          border-radius: 12px;
          width: 110px;
          height: 110px;
          position: absolute;
          top: 30px;
          left: 76.27px;
          transform: rotate(9deg);

          @include media(tablet) {
            width: 140px;
            height: 140px;
            top: 30px;
            left: 194.27px;
            transform: rotate(2deg);
          }

          @include media(desktop) {
            width: 110px;
            height: 110px;
            top: -2px;
            left: 19.27px;
          }
        }

        &__img {
          position: absolute;
          top: 0;
          left: 50%;
          transform: translateX(-50%);
          width: 110px;
          height: 110px;
          border-radius: 50%;
          object-fit: cover;
          z-index: 2;
          margin-top: 75px;

          @include media(tablet) {
            width: 140px;
            height: 140px;
            margin-top: 87px;
          }

          @include media(desktop) {
            width: 110px;
            height: 110px;
            margin-top: 45px;
          }
        }

        &__bluerectangle2 {
          border-radius: 12px;
          width: 110px;
          height: 110px;
          position: absolute;
          top: 111px;
          left: 135px;
          transform: rotate(8deg);

          @include media(tablet) {
            width: 140px;
            height: 140px;
            top: 132px;
            left: 284.27px;
            transform: rotate(-1deg);
          }

          @include media(desktop) {
            width: 110px;
            height: 110px;
            top: 80px;
            left: 94.27px;
          }
        }
      }

      &__description {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 50px;
        margin-bottom: 16px;
        justify-content: center;

        @include media(tablet) {
          margin-top: 75px;
          height: 80px;
        }

        &__kychki {
          height: 18px;
          width: 21px;
          margin-inline: auto;
          margin-bottom: 11px;

          @include media(tablet) {
            margin-top: 50px;
            margin-bottom: 16px;
          }

          @include media(desktop) {
            margin-top: -60px;
          }
        }
      }

      &__end {
        flex-direction: column;
        justify-content: center;
        margin-inline: 48px;
        display: flex;
        margin-top: 16px;
        margin-bottom: 32px;

        @include media(tablet) {
          margin-bottom: 12px;
        }

        @include media(desktop) {
          margin-inline: auto;
        }

        &__title {
          margin-inline: auto;
          font-size: 13px;
          font-weight: 600;
          line-height: 19.5px;
          text-align: center;
          color: $main-title-color;

          @include media(tablet) {
            margin-bottom: 5px;
          }

          @include media(desktop) {
            text-align: center;
          }
        }

        &__text {
          margin-inline: auto;
          font-size: 13px;
          font-weight: 700;
          line-height: 19.5px;
          letter-spacing: 3px;
          text-align: center;
          width: 205px;
          color: $prefix-color;
          text-transform: uppercase;

          @include media(tablet) {
            margin-top: 0;
          }

          @include media(desktop) {
            text-align: center;
          }
        }
      }
    }
  }

  &__result {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $header-text-color;
    height: 571px;
    width: 100%;
    margin-block: 120px;

    @include media(tablet) {
      background-image: url(../images/Shapes.png);
      background-size: contain;
      height: 796px;
      margin-top: 148px;
      margin-bottom: 0;
    }

    @include media(desktop) {
      height: 720px;
    }

    &__title {
      font-size: 44px;
      font-weight: 600;
      line-height: 52.8px;
      text-align: center;
      width: 280px;
      height: 159px;
      color: $main-title-color;
      margin-top: 72px;
      margin-bottom: 24px;

      @include media(tablet) {
        width: 558px;
        font-size: 52px;
        margin-top: 200px;
        height: 110px;
      }

      @include media(desktop) {
        width: 754px;
      }
    }

    &__text {
      font-size: 24px;
      font-weight: 600;
      line-height: 33px;
      text-align: center;
      width: 280px;
      height: 132px;
      color: $section-text-color;
      margin-bottom: 56px;

      @include media(tablet) {
        width: 558px;
        font-size: 24px;
        height: 75px;
        margin-bottom: 65px;
      }
    }

    &__button {
      width: 280px;
      height: 56px;
      text-align: center;
      line-height: 56px;
      text-decoration: none;
      color: white;
      background-color: #2060f6;
      text-transform: uppercase;
      border: 1px solid #2060f6;
      border-radius: 10px;

      &:hover {
        color: #2060f6;
        background-color: white;
        cursor: pointer;
      }
    }
  }
}

.article {
  display: flex;
  justify-content: center;
  margin-block: 72px;

  &__foto {
    margin-inline: auto;
    justify-items: center;
    padding-inline: 20px;

    @include media(tablet) {
      padding-inline: 0;
    }

    &__product {
      margin-inline: auto;
      aspect-ratio: 1 / 1;
      height: 166px;
      width: 166px;
      border-radius: 20px;
      align-items: center;
    }
  }
}

.contacts {
  margin: 0;
  padding: 0;

  &__contact {
    background-image: url(/src/images/BG.png);
    margin: 0;
    border-radius: 20px;
    padding-inline: 20px;
    padding-top: 72px;
    padding-bottom: 80px;

    @include media(tablet) {
      padding-inline: 40px;
      padding-top: 182px;
      padding-bottom: 132px;
    }

    @include media(desktop) {
      display: flex;
      column-gap: 98px;
      padding-inline: 54px;
      padding-bottom: 112px;
    }

    @include media(desktopLG) {
      column-gap: 220px;
      justify-content: center;
      padding-bottom: 164px;
    }

    &__messege {
      display: flex;
      flex-direction: column;

      &__form {
        display: flex;
        flex-direction: column;

        @include media(tablet) {
          width: 365px;
        }

        @include media(desktop) {
          width: 370px;
        }

        @include media(desktopLG) {
          width: 460px;
        }

        &__input {
          background-color: $input-bg-color;
          color: $header-text-color;
          border: 1px solid $input-bg-color;
          border-bottom: 2px solid $header-text-color;
          outline: none;
          padding: 10px;
          height: 41px;
          margin-bottom: 40px;
          transition: background-color 5000s ease-in-out 0s;

          &:-webkit-autofill {
            background-color: $input-bg-color !important;
            color: $header-text-color !important;
            box-shadow: 0 0 1000px $input-bg-color inset !important;
            -webkit-text-fill-color: $header-text-color !important;
          }

          &:-webkit-autofill:focus {
            border-bottom: 2px solid $services-numers-color;
            background-color: $input-bg-color !important;
            color: $header-text-color !important;
            box-shadow: 1000px $input-bg-color inset !important;
            -webkit-text-fill-color: $header-text-color !important;
          }
        }

        &__text {
          background-color: $input-bg-color;
          color: $header-text-color !important;
          border: 1px solid $input-bg-color;
          border-bottom: 2px solid $header-text-color;
          outline: none;
          padding: 10px;
          height: 41px;
          resize: none;
          overflow: hidden;

          &:-webkit-autofill {
            color: $header-text-color !important;
            -webkit-text-fill-color: $header-text-color !important;
          }

          &:-webkit-autofill:focus {
            color: $header-text-color !important;
            -webkit-text-fill-color: $header-text-color !important;
          }
        }

        &__button {
          display: inline-block;
          width: 100%;
          height: 56px;
          color: $header-text-color;
          background-color: $services-numers-color;
          text-align: center;
          line-height: 56px;
          font-size: 15px;
          font-weight: 600;
          margin-block: 56px;
          border-radius: 8px;
          border: 1px solid $services-numers-color;

          &:hover {
            color: $services-numers-color;
            background-color: $header-text-color;
            cursor: pointer;
          }

          @include media(tablet) {
            width: 264px;
            margin-inline: 0;
            margin-top: 80px;
            margin-bottom: 90px;
          }
        }
      }
    }

    &__info {
      display: flex;
      flex-direction: column;

      &__title {
        color: $prefix-color;
        font-weight: 700;
        font-size: 18px;
        line-height: 20px;
        letter-spacing: 3px;
        margin-bottom: 12px;
      }

      &__text {
        text-decoration: none;
        color: $header-text-color;
        font-weight: 600;
        font-size: 24px;
        line-height: 36px;
        letter-spacing: 2px;
      }

      &__address {
        display: inline-block;
        margin-block: 40px;

        @include media(tablet) {
          margin-block: 48px;
        }
      }

      &__socials {
        display: flex;
        flex-direction: column;

        &__icon {
          display: flex;
          column-gap: 32px;
          height: 24px;
          width: 24px;

          &__fb {
            height: 24px;
            width: 24px;

            @include media(desktop) {
              height: 34px;
              width: 34px;
              filter: brightness(0) invert(1);

              &:hover {
                filter: brightness(0) invert(1) sepia(100%) saturate(9500%)
                  hue-rotate(240deg);
              }
            }
          }

          @include media(desktop) {
            height: 34px;
            width: 34px;
          }
        }
      }
    }
  }
}
