.main-info {
  max-width: 730px;
  padding: 148px 30px;
  font-weight: 600;

  &__title {
    font-family: "Poppins", sans-serif;
    font-size: 32px;
    line-height: 48px;
    color: #253757;
    margin-bottom: 16px;
  }
  
  &__text {
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    color: #6c788b;
  }

  @media (max-width: 800px) {
    & {
      max-width: 80%;
      padding: 50px 30px;
    }
    &__text {
      font-size: 16px;
    }
  }
}
