@media (min-width: 320px) {

  .cards {
    &__section {
      display: flex;
      flex-direction: column;
      width: 100%;
    }

    &__cards {
      max-width: 362px;
    }
  }

  .button__link {
    width: 100%;
  }

  .footer {

    &__form {
      &__title {
        padding-top: 72px;
        max-width: 280px;
      }

      &-elements {
        margin-top: 58px;
      }
    }

    &__small-container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
    }

    &__content {
      display: flex;
      flex-direction: column;

      &-container {
        margin: 25px 0 80px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
      }

      &-links {
        margin-top: 24px;
      }

      &-link {
        margin-top: 24px;
      }
    }

    .no-margins {
      margin: 24px 0 0;
    }
  }

  .testimonailContainer {
    width: 90%;
  }

  .header {
    height: 893px;
    background-size: 100% 390px;

    &__container-description {
      margin-top: 64px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    &__icon-container {
      margin-top: 258px;
      display: flex;
      flex-direction: column;
    }

    &__text-title {
      margin-top: 16px;
    }

    &__text-text {
      margin-top: 8px;
    }

    &__description {
      width: 100%;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;

      &-description {
        width: 100%;
      }

      &-button {
        width: 100%;
        box-sizing: border-box;
      }
    }

    &__big-photo {
      width: 100%;
      box-sizing: border-box;
      max-height: 420px;
      border-radius: 30px;
      object-fit: cover;
      top: 503px;
    }

    &__description-title {
      width: 320px;
    }

    &__content {
      margin-top: 21px;
      &-links {
        display: none;
      }
    }
  }

  .page {

    &__section {

      &__squares {

        &__big-container {
          margin-top: 120px;
        }

        &-description {
          padding-top: 24px;
          width: 280px;
        }

        &__title-big-title {
          padding-top: 16px;
          width: 280px;
        }

        &__small-container {
          display: flex;
          flex-direction: column;
          flex-wrap: nowrap;
          height: 1300px;
        }

        &__squares {
          width: 264px;
          height: 264px;
          background-image: url(../images/squares-background.jpg);
          border-radius: 16px;
        }
      }
    }

    &__testimonials {
      margin-top: 700px;

      &__titles {

        &__container {

          &-big-title {
            margin-top: 16px;
          }
        }
      }

      &__cards {

        &-container {
          margin-top: 48px;
        }

        &-description {
          padding-top: 10px;
        }

        &-background {
          margin-top: 75px;
        }

        &-smallPhoto {
          margin-top: 75px;
        }

        &-biggerTitle {
          margin-top: 16px;
        }

        &-smallTitle {
          margin-top: 4px;
        }
      }
    }

    &__apply {
      background-image: none;
      margin-top: 120px;
      display: flex;
      justify-content: center;
      align-items: center;

      &__title {
        margin-top: 72px;
      }

      &__description {
        margin-top: 72px;
      }

      &__button {
        margin-top: 56px;
        margin-bottom: 72px;
      }

      &__flex {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }

  }

  .container {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 640px) {

  .footer {
    &__big-container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
    }

    &__form {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      width: 100%;

      &__title {
        padding-top: 72px;
        max-width: 280px;
      }

      &-elements {
        margin-top: 58px;
      }
    }

    &__small-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
    }

    &__content {
      display: flex;
      flex-direction: column;

      &-container {
        display: flex;
        flex-direction: row;
      }

      &-links {
        margin-right: 40px;
      }

      &-link {
        margin-right: 40px;
      }
    }
  }

  .cards {
    &__section {
      display: flex;
      flex-direction: column;
    }

    &__cards {
      max-width: 362px;
    }
  }

  .testimonailContainer {
    width: 100%;
  }

  .page {

    &__section {

      &-description {
        max-width: 754px;
      }

      &__squares {

        &__big-container {
          width: 90%;
          display: grid;
          flex-direction: row;
          justify-content: flex-start;
          flex-wrap: wrap;
          align-items: flex-start;
        }

        &__small-container {
          display: grid;
          grid-template-columns: auto auto;
          grid-template-rows: 400px 300px;
          gap: 50px;
        }

      }
    }

    &__testimonials {
      margin-top: 142px;

      &__titles {

        &__container {

          &-big-title {
            margin-top: 16px;
          }
        }
      }

      &__cards {

        &-container {
          margin-top: 48px;
          width: 100%;
          box-sizing: border-box;
        }

        &-cards {
          height: 562px;
          width: 100%;
          box-sizing: border-box;
        }

        &-description {
          padding-top: 10px;
        }

        &-background {
          margin-top: 75px;
        }

        &-smallPhoto {
          margin-top: 75px;
        }

        &-biggerTitle {
          margin-top: 16px;
        }

        &-smallTitle {
          margin-top: 4px;
        }
      }
    }

    &__apply {
      background-image: url(../images/Shapes.png);
      margin-top: 148px;

      &__description {
        max-width: 558px;
      }
    }
  }

  .fourth {
    position: relative;
    top: -130px;
  }

  .header {
    height: 893px;
    background-size: 100% 390px;
    object-fit: contain;

    &__container-description {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      max-width: 90%;
    }

    &__content {
      margin-top: 21px;
    }

    &__icon-container {
      margin-top: 340px;
    }

    &__description-description {
      width: 362px;
    }

    &__description-title {
      width: 100%;
      box-sizing: border-box;
    }

    &__description-button {
      margin-top: 56px;
      max-width: 264px;
    }
  }

  .second-and-third {
    margin-top: 32px;
  }
}

@media (min-width: 1024px) {

  .fourth {
    position: relative;
    top: -100px;
  }

  .footer {
    .no-margins {
      margin-top: 0;
    }

    &__form {
      width: 45%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      &__title {
        padding-top: 72px;
        max-width: 280px;
      }

      &-elements {
        margin-top: 58px;
      }
    }

    &__contact {
      width: 45%;
    }

    &__content {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 84px;
      flex-direction: row;

      &-links {
        margin: 0 48px 0 0;
      }

      &-link {
        margin: 0 48px 0 0;
      }

      &-container {
        margin: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
      }
    }

    &__small-container {
      width: 100%;
      box-sizing: border-box;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .cards {
    &__section {
      display: flex;
      flex-direction: row;
    }
  }

  .testimonailContainer {
    width: 90%;
  }

  .header {
    height: 800px;
    background-size: 45% 680px;
    object-fit: contain;

    &__container-description {
      margin-top: 168px;
      display: grid;
      grid-template-columns: 60% 40%;
      max-width: 90%;
    }

    &__icon-container {
      margin-top: 442px;
      display: flex;
      flex-direction: row;
    }

    &__big-photo {
      position: absolute;
      top: 83px;
      margin: 0;
      right: 0;
      width: 50%;
      max-height: 688px;
      border-radius: 30px 0;
    }

    &__description-title {
      max-width: 400px;
    }

    &__content {
      margin-top: 48px;

      &-links {
        display: flex;
      }

      &-link {
        display: flex;
      }
    }

    &__burger {
      display: none;
    }
  }

  .page {
    &__section {

      &__squares {
        width: 100%;

        &__big-container {
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          flex-wrap: nowrap;
          align-items: flex-start;
        }

        &__small-container {
          display: grid;
          grid-template-columns: auto auto;
          grid-template-rows: 390px 290px;
          gap: 25px;
        }

        &__title-container {
          margin-top: 103px;
        }

        &__title-big-title {
          width: 360px;
        }
      }
    }

    &__testimonials__cards-biggerTitle {
      margin-top: 16px;
    }

    &__testimonials__cards-description {
      margin-top: 10px;
      height: 127px;
    }

    &__testimonials {

      &__titles {
        margin-left: 20px;

      }

      &__container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
      }

      &__cards {
        &-container {
          width: 100%;
          box-sizing: border-box;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
        }

        &__cards {
          width: 100%;
          box-sizing: border-box;

          &-container {
            margin-top: 48px;
            width: 100%;
            box-sizing: border-box;
          }

          &__cards {
            height: 462px;
          }

          &-background {
            margin-top: 37px;
            height: 100px;
          }

          &-smallPhoto {
            margin-top: 75px;
          }

          &-biggerTitle {
            margin-top: 8px;
          }

          &-smallTitle {
            margin-top: 2px;
          }
        }
      }
    }

    &__apply {
      margin-top: 186px;

      &__description {
        max-width: 754px;
      }
    }
  }

  .page__section__squares__squares {
    width: 214px;
  }

  .second {
    margin-top: 33px;
  }
}

@media (min-width: 1260px) {
  .container {
    width: 1204px;
  }

  .fourth {
    position: relative;
    top: -80px;
  }

  .testimonailContainer {
    width: 1204px;
  }

  .cards {
    &__section {
      display: flex;
      flex-direction: row;
    }
  }

  .header {
    height: 800px;
    background-size: 50% 680px;

    &__arrow-container {
      margin-left: 30px;
    }

    &__container-description {
      display: grid;
      grid-template-columns: 50% 50%;
      min-width: 1204px;
    }

    &__icon-container {
      margin-right: 24px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 442px;
    }

    &__description-title {
      max-width: 400px;
    }

    &__big-photo {
      margin: 0;
      position: absolute;
      top: 83px;
      right: 0;
      width: 50%;
      max-height: 688px;
      border-radius: 30px 0;
    }
  }

  .page {

    &__apply {
      margin-top: 148px;
    }
  }

  .third {
    margin-top: 28px;
  }
}
