.icon--menu {
  @include mobile {
    display: block;
    width: 24px;
    height: 24px;
    background-image: url(/src/images/Menu.png);
  }

  @include small-desktop  {
    display: none;
  }

  @include desktop {
    display: none;
  }
}

.menu {
  @include mobile {
    overflow: hidden;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;

    box-sizing: border-box;
    padding: 24 20 40;
    height: 100%;
    background-color: #2c2c2c;


    opacity: 0;
    pointer-events: none;
  }
}

.menu:target {
  transition: all 0.3s ease-in-out;

  @include mobile {
    opacity: 1;
    pointer-events: all;
  }
}

.nav__list {
  scroll-behavior: smooth;

  @include mobile {
    display: flex;
    flex-direction: column;
    gap: 34px;
    font-family: $font-family;
    font-size: 20px;
    list-style: none;
    margin: 0;
    padding: 50 0;
    overflow: hidden;
    text-transform: uppercase;
  }
}

.nav__link {
  scroll-behavior: smooth;

  @include mobile {
    overflow: hidden;
    color: #fff;
    text-decoration: none;
  }
}

.listbigscreen {
  @include desktop {
    display: flex;
    width: 100vh;
    flex-direction: row;
    gap: 48px;
    font-family: $font-family;
    font-size: 13px;
    line-height: 19.5px;
    letter-spacing: 3px;
    list-style: none;
    margin: 0;
    padding: 0 136;
    text-transform: uppercase;
    font-weight: bold;
  }

  @include small-desktop {
    display: flex;
    width: 600px;
    flex-direction: row;
    gap: 48px;
    font-family: $font-family;
    font-size: 13px;
    line-height: 19.5px;
    letter-spacing: 3px;
    list-style: none;
    margin: 0;
    padding: 0 0 0 90;
    text-transform: uppercase;
    font-weight: bold;
  }
}

@media (max-width: 1020px) {
  .listbigscreen {
    display: none;
  }
}

.linkbigscreen {
  @include small-desktop {
    color: #fff;
    text-decoration: none;
  }

  @include desktop {
    color: #fff;
    text-decoration: none;
  }
}

.a:hover,
.b:hover,
.c:hover,
.d:hover {
  text-decoration: 2px underline #2060f6;
  transition: all 0.3s ease-in-out;
  text-underline-offset: 8px;
}

