.menu {
  background-color: $header-bc-c;
  box-sizing: border-box;
  height: 100vh;
  overflow: auto;
  padding: $inline-padding-small $inline-padding-small 100px;

  @include on-tablet {
    padding-left: $inline-padding-tablet;
    padding-right: $inline-padding-tablet;
  }

  &__content {
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
    z-index: 5;
    height: 100%;
  }

  &__nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: auto;

    &--list {
      list-style: none;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 150px;


    &--item {
      @include hover(transform, scale(1.2));
    }

    &--link {
      text-transform: uppercase;
      text-decoration: none;
      color: $c-white;
      font-family: $main-font-family;
      font-size: $small-font-size;
      font-weight: 700;
      line-height: 1.5;
      letter-spacing: 3px;
    }
  }

  &__social {
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: span 6;
    }

    &--list {
      list-style: none;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 40px;

      grid-column: 1 / -1;

      @include on-tablet {
        grid-column: span 6;
      }

    }

    &--icon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 24px;
      height: 24px;
    }
  }
}
