.message-us {
  padding-top: 256px;
  display: flex;
  justify-content: space-around;
}

.forms-title {
  display: flex;
}

.form-title {
  font-weight: 800;
  font-size: 16px;
  line-height: 150%;
  padding-left: 16px;
  color: #56ccf2;
  text-transform: uppercase;
  padding-top: 19px;
}

.message-inputs {
  display: flex;
  flex-direction: column;
  padding-top: 104px;
}

.form-input {
  width: 90%;
  height: 41px;
  border: 0;
  outline: 0;
  background-color: #fcfcfd;
  border-bottom: 1px solid #e1e1e1;
  margin-bottom: 48px;
  color: #152032;
  font-size: 16px;
  font-weight: 700;
  box-sizing: border-box;
  padding: 18px 10px;
}

.message-submit {
  width: 226px;
  height: 56px;
  border-radius: 64px;
  outline: 0;
  border: 0;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  letter-spacing: 1px;
  color: #fff;
  cursor: pointer;
  background: #2f80ed;
  margin-top: 105px;
}

.contacts-text {
  font-weight: 900;
  font-size: 32px;
  line-height: 140%;
}

.contacts-phone,
.contacts-address {
  font-weight: 800;
  font-size: 12.6px;
  line-height: 150%;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding-top: 43px;
}

.contacts-phone-number,
.contacts-address-map {
  font-weight: 900;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #56ccf2;
  padding-top: 47px;
}

.form-for-contact {
  width: 400px;
}

.form-for-message {
  width: 400px;
}

.contacts-socials {
  padding-top: 53px;
}

.contacts-inst,
.contacts-fb {
  padding-left: 48px;
}
