@import "utils/vars";

.message {
  display: flex;
  flex-direction: column;
  width: 460px;

  @media (max-width: $breakpoint-mobile) {
    width: 100%;
  }

  &__header {
    font-size: 32px;
    line-height: 48px;
    margin-bottom: 56px;
    color: $c-white;

    @media (max-width: $breakpoint-large-tablet) {
      font-size: 28px;
      line-height: 40px;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;

    & label:not(:first-child) {
      margin-top: 48px;
    }
  }

  &__input,
  &__button {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
  }

  &__input {
    width: 100%;
    line-height: 40px;
    border-bottom: 1px solid $c-white;
    background-color: $bgc-blue;
    opacity: 0.7;
    color: $c-white;

    &:focus {
      opacity: 1;
      border-bottom: 2px solid $c-white;
      margin-bottom: -1px;
    }
  }

  &__input::placeholder {
    color: $c-white;
  }

  &__button {
    margin-top: 80px;
    color: $c-white;

    @media (max-width: $breakpoint-large-tablet) {
      margin: 50px auto;
    }
  }
}
