@import "utils/vars";

.message {
  display: flex;
  flex-direction: column;
  width: 460px;

  @media (max-width: $breakpoint-mobile) {
    width: 100%;
  }

  &__header {
    font-size: 32px;
    line-height: 48px;
    margin-bottom: 56px;
    color: $c-white;

    @media (max-width: $breakpoint-large-tablet) {
      font-size: 28px;
      line-height: 40px;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;

    & label:not(:first-child) {
      margin-top: 48px;
    }
  }

  &__input,
  &__button {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
  }

  &__input {
    width: 100%;
    line-height: 40px;
    background-color: $bgc-blue;
    opacity: 0.7;
    color: $c-white;
    background-image: linear-gradient(#ff9c8e, #ff9c8e);
    background-position: 0 100%;
    background-repeat: no-repeat;
    background-size: 0 2px;
    transition: background-size $transition;
    box-shadow: 0 6px 3px -3px rgba(0, 0, 0, 0.1);

    &:hover,
    &:focus {
      opacity: 1;
      background-size: 100% 2px;
    }
  }

  &__input::placeholder {
    color: $c-white;
  }

  &__button {
    margin-top: 80px;
    color: $c-white;

    @media (max-width: $breakpoint-large-tablet) {
      margin: 50px auto;
    }
  }
}
