@mixin onDesktop {
  @media (min-width: 1024px) {
    @content;
  }
}

@mixin onTablet {
  @media (min-width: 744px) and (max-width: 1023px) {
    @content;
  }
}

@mixin hugeDesktop {
  @media (min-width: 1600px) {
    @content;
  }
}

@mixin subTitle {
  display: block;
  font-weight: 700;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: $subtitleTextColor;

  position: absolute;
  top: -32px;
}
