@mixin bg-items($width, $border-width, $border-color) {
  position: absolute;

  width: $width;
  height: $width / 3;

  transform: rotate(-65deg);
  border-radius: 12px;
  border: $border-width solid $border-color;
  background-color: transparent;
  opacity: 0.5;
}
