@mixin tablet {
  @media (min-width: 640px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1024px) {
    @content;
  }
}

@mixin largeDesktop {
  @media (min-width: 1600px) {
    @content;
  }
}

@mixin social_image($image) {
  height: 24px;
  width: 24px;
  background-image: url($image);
  background-repeat: no-repeat;
  background-position: center;
}

@mixin upper {
  @include hover(transform, scale(130%));
}
