.nav-block {
  display: flex;
  justify-content: space-between;
  height: 28px;
  padding: 0 20px;

  &__footer {
    display: flex;
    flex-direction: column;

    @include on-small-desktop {
      flex-direction: row;
      justify-content: center;
    }
  }

  @include on-tablet {
    padding: 0 41px;
  }

  @include on-small-desktop {
    padding: 0 54px;
  }

  @include on-desktop {
    padding: 0 227px;
  }

  @include on-large-screens {
    padding: 0 707px;
  }

  &__hire-us {
      display: block;
      position: relative;
      font-family: $font-family-poppins;
      font-size: 13px;
      font-weight: 700;
      letter-spacing: 3px;
      margin-right: -3px;
      text-transform: uppercase;
      color: $text-color-wiht;
      cursor: pointer;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      background-image: linear-gradient(
        to right,
        $hover-color,
        $hover-color 50%,
        $text-color-wiht 50%);
      background-size: 200% 100%;
      background-position: -100%;
      transition: all 0.5s ease-in-out;

    &::after {
      content: "";
      position: absolute;
      display: block;
      bottom: 0;
      height: 2px;
      width: 97%;
      border-radius: 4px;
      background-color: $button-color;
    }

    &:hover {
      background-position: 0;
    }
  }

  &__logo {

    &_footer {
      margin-bottom: 48px;

      @include on-tablet {
        margin-bottom: 24px;
      }

      @include on-small-desktop {
        margin-bottom: 0;
        margin-right: 175px;
      }

      @include on-desktop {
        margin-right: 390px;
      }
    }
  }

  &__burger-menu {
    position: absolute;
    height: 24px;
    width: 24px;
    top: 24px;
    left: 98px;

    @include on-tablet {
      left: 119px;
    }

    @include on-small-desktop {
      display: none;
    }
  }
}
