.nav {
  font-weight: bold;
  font-size: 13px;
  line-height: 150%;
  position: absolute;
  left: 123px;
  letter-spacing: 3px;
  text-transform: uppercase;
  
  &__item {
    list-style: none;
    margin-right: 64px;
    display: inline-block;
    position: relative;
  }

  &--footer {
    position: static;
    margin: 0 auto;

    & .nav__item:last-child {
      margin-right: 0;
    }

  }

  &__list {
    display: flex;
  }

  &__link {
    color: white;
    text-decoration: none;
    transition: 0.5s;

    &::after {
      content: "";
      background: #ff9c8e;
      height: 2px;
      position: absolute;
      bottom: -8px;
      width: 100%;
      opacity: 0;
      left: 0;
      right: 0;
      border-radius: 4px;

      transition: opacity 0.5s;

    }

    &:hover.nav__link::after {
      opacity: 1;
    }
  }

}
