.nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  &__list {
    display: flex;
  }

  &__item {
    margin-left: 64px;
  }

  &__link {
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 150%;
    color: $white-color;
    letter-spacing: 3px;
    text-transform: uppercase;
    white-space: nowrap;

    &--right-link {
      margin-left: 200px;
      top: 55px;
      position: absolute;

      &::after {
        content: "";
        display: block;
        position: relative;
        top: 8px;
        border: 1px solid $blue-color;
        width: 65px;
      }
    }
  }

  @media(max-width: 1200px) {
    &__item {
      margin-left: 44px;
    }
    &__link {
      &--right-link {
        margin-left: 140px;
      }
    }
  }
}
