.nav {

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 40px;

    @include onSmallDesktop {
      gap: 64px;
    }
  }

  &__link {
    color: $white;
    text-decoration: none;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;

    transition: color 0.3s;

    &:hover,
    &:focus {
      color: rgba(255, 255, 255, 0.5);
    }
  }
}

.footer__list {
  @include onTablet {
    flex-direction: row;
  }
}
