.menu__toggle {
  display: none;
}

.menu__span,
.menu__span::before,
.menu__span::after {
  display: block;
  position: absolute;
  width: 35px;
  height: 4px;
  background-color: white;
  transition-duration: 0.3s;
}

.menu__span::before {
  content: "";
  top: -8px;
}

.menu__span::after {
  content: "";
  top: 8px;
}
