.nav {
  display: grid;
  grid-column-start: 2;
  grid-column-end: span 6;

  &__list {
    display: grid;
    grid-template-columns: repeat(6, auto);
    list-style-type: none;
    padding: 0;
    line-height: 60px;
  }

  &__link {
    letter-spacing: 2px;
    position: relative;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    font-size: 13px;
    font-family: "Poppins", sans-serif;
  }
}
