.nav {


  display: flex;
  justify-content:space-between;
  align-items: center;

  // @include content-padding-inline;

  padding-top: 49px;
  padding-bottom: 38px;


  &__list {
    display: flex;
    gap: 48px;
    list-style: none;
    justify-content: center;
    align-items: center;
  }

  &__link {
    font-family: Poppins;
    font-weight: 700;
    font-size: 13px;
    line-height: 150%;
    letter-spacing: 3px;

    color: #FFF;


    text-decoration: none;
    text-transform: uppercase;
  }

  &__bottom {
    @include content-padding-inline;
    background-color: #2C2C2C;
  }
}
