* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

.padding-inline {
  padding-inline: 20px;

  @include on-tablet640{
    padding-inline: 41px;
  }

  @include on-desck-top1024 {
    padding-inline: 54px;
  }

  @include on-descktop1600 {
    padding-inline: 227px;
  }

  @include on-descktop2560 {
    padding-inline: 707px;
  }
}

body {
  background-color: $ultraLightSlateGray;
}
