* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-weight: 400;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

body {
  background: $c-white;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

textarea,
input {
  outline: 0;
  border: none;
  resize: none;
}

:root {
  --page-padding: 20px;

  @include onTablet {
    --page-padding: 40px;
  }

  @include onDesktop {
    --page-padding: 54px;
  }

  scrollbar-gutter: stable;
}
