.our-expertise {
  background-color: #fff;
  padding-block: 72px;
  border-radius: 20px;

  @include onTablet {
    padding-top: 128px;
    padding-bottom: 134px;
  }

  &__skills {
    box-sizing: border-box;

    @include pageGrid;

    @include onSmallDesktop {
      grid-template-columns: repeat(3, 1fr);
      column-gap: 100px;
    }
  }

  &__skill {
    grid-column: 1 / -1;

    @include onTablet {
      grid-column: 2 / -2;
    }

    @include onSmallDesktop {
      grid-column: span 1;
    }
  }
}
