@import "utils/vars";

.card {
  &__container {
    position: relative;
    top: 0;
    left: 0;
    max-width: 264px;
    text-align: center;
    transition: 0.2s linear;

    &:hover {
      box-shadow: 0 8px 3px -4px rgba(139, 136, 136, 0.45);
      top: -4px;
      left: -4px;
    }

    @media (max-width: $breakpoint-large-tablet) {
      margin-bottom: 50px;
    }
  }

  &__img {
    border-radius: 20px;
  }

  &__header {
    margin: 40px 0 16px;
    font-size: 20px;
    line-height: 28px;
  }

  &__text {
    font-size: 14px;
    line-height: 21px;
  }
}
