.our-expertise {
  background-color: #fff;
  height: 760px;
  &__content {
    @include centeredContainer;
    padding-top: 128px;
    display: flex;
    flex-direction: column;
  }

  &__header {
    align-self: center;
    font-family: $font-poppins;
    font-weight: 600;
    font-size: 52px;
    line-height: 150%;
    color: $dark-text-color;
    margin-bottom: 64px;
  }

  &__cards {
    display: flex;
    justify-content: space-between;
  }
  & *:last-child {
    position: relative;
    // transform: translate(10px, 0);
  }
}
