.page {
  background-color: $blue-100;
  font-family: Poppins, sans-serif;
  font-weight: 500;
  font-style: normal;

  &__header {
    background-color: $black-600;
    border-radius: 0 0 30px 30px;
    margin-bottom: 120px;

    @include on-tablet {
      margin-bottom: 148px;
    }
  }

  &__footer {
    background-color: $black-600;
  }
}
