body {
  background: #e5e5e5;

}

html {
  scroll-behavior: smooth;
}

.page__section {
  display: block;
  background-repeat: no-repeat;
  // width: 100%;

  @include onMob {
    background-image: url(../images/BG320.png);
  }

  @include onTablet {
    background-image: url(../images/BG744.png);
  }

  @include onDesktop {
    background-image: url(../images/BG1024.png);
  }

  @include onDesign {
    background-image: url(../images/BG1600.png);
  }

  @include onLargeScreen {
    background-image: url(../images/BG2560.png);
  }
}

.page__picture {
  background-repeat: no-repeat;
  height: 893px;

  @include onMob {

    background-image: url(../images/header_Photo_320px.png);
    background-position: bottom;
    grid-column: 1 / 3;
  }

  @include onTablet {
    background-image: url(../images/PhotoTablet744.png);
    background-position: bottom;
    // grid-column: 1 / 7;
  }

  @include onDesktop {
    height: 800px;
    background-image: url(../images/PhotoDesktop1024px.png);
    background-position: right bottom;
  }

  @include onDesign {
    background-image: url(../images/PhotoDesktop1600px.png);
  }

  @include onLargeScreen {
    background-image: url(../images/PhotoDesktop2560px.png);
  }
}

.page__footer {
  display: block;
  background-repeat: no-repeat;
  padding-top: 180px;
  padding-bottom: 80px;

  @include onMob {
    padding-top: 72px;
    background-image: url(../images/BG__footer-320.png);
  }

  @include onTablet {
    background-image: url(../images/BG__footer-744.png);
  }

  @include onDesktop {
    background-image: url(../images/BG__footer-1024.png);
  }

  @include onDesign {
    background-image: url(../images/BG__footer-1600.png);
  }

  @include onLargeScreen {
    background-image: url(../images/BG__footer-2560.png);
  }
}

.page__footer--title {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 150%;
  display: flex;
  align-items: center;
  color: #fff;
  margin-bottom: 56px;

  @include onMob {
    margin-bottom: 48px;
  }
}
