.page {
  &__header {
    position: absolute;
    top: 0;
    margin-top: 50px;
    z-index: 1;
  }

  &__intro {
    position: relative;
  }

  &__process {
    padding: 150px 0;
    position: relative;

    @media screen and (max-width: 990px) {
      position: static;
    }
  }

  &__approach {
    margin-left: 10%;
    padding-top: 100px;

    @media screen and (max-width: 990px) {
      padding-top: 0;
    }

    @media screen and (max-width: 590px) {
      margin-left: 0;
    }
  }
}
