.people {
  display: flex;
  @include location;
  width: 314px;
  height: 494px;
  padding: 32px;

  text-align: center;

  background-color: #fff;
  border-radius: 16px;
  box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);

  &:hover {
    box-shadow: 5px 9px 40px rgba(24, 21, 197, 0.03);
  }

  &::before {
    content: "";
    position: absolute;
    top: 43px;
    left: 82px;
    height: 139px;
    width: 56px;
    border-radius: 12px;
    background-color: #2060f6;
    transform: rotate(30deg);
  }

  &::after {
    content: "";
    position: absolute;
    top: 133px;
    right: 82px;
    height: 139px;
    width: 56px;
    border-radius: 12px;
    background-color: #2060f6;
    transform: rotate(30deg);
  }

  &__photo {
    position: relative;
    z-index: 1;
    margin-top: 55px;
    margin-bottom: 82px;
    border-radius: 50%;
  }

  &__text,
  &__heading {
    font-family: $font-Open;
  }

  &__text,
  &__heading,
  &__text-program {
    font-weight: 600;
    @include font($font-size-main, $font-height-main);
  }

  &__text {
    margin-bottom: 16px;
    color: $c-text;

    &::before {
      content: "";
      margin: 0 auto 10px;
      display: block;
      width: 21px;
      height: 19px;
      background: url(../images/People/quote.svg) center / cover no-repeat;
    }
  }

  &__heading {
    margin-bottom: 4px;
    color: $c-heading;
  }

  &__text-program {
    margin-bottom: 4px;
    
    font-family: $font-Poppins;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: $c-process;
  }
}
