.people {
  height: 1027px;
  max-width: 1145px;
  margin: 0 auto;
  padding-top: 148px;

  &__header {
    font-weight: bold;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 3px;
    color: #c0ccd7;
    padding-bottom: 16px;
  }

  &__title {
    font-weight: 600;
    font-size: 32px;
    line-height: 150%;
    color: #253757;
    padding-bottom: 85px;
  }

  &__card {
    display: flex;
    justify-content: space-between;

  }

  &__item {
    width: 314px;
    height: 494px;
    background: #fff;
    box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
    border-radius: 16px;
    padding: 309px 32px 32px;
    position: relative;
  }

  &__decoration {
    width: 139px;
    height: 56px;
    background: #2060f6;
    border-radius: 12px;
    transform: rotate(-60deg);

    &--up {
      position: absolute;
      top: 85px;
      left: 40px;
    }

    &--down {
      position: absolute;
      top: 175px;
      right: 40px;
    }
  }

  &__person {
    position: absolute;
    top: 87px;
    left: 87px;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    z-index: 1;

    &--first {
      background-image: url(../images/testimonials/first.svg);
    }

    &--second {
      background-image: url(../images/testimonials/second.svg);
    }

    &--third {
      background-image: url(../images/testimonials/third.svg);
    }
  }

  &__quotes {
    margin: 0 auto;
    background-image: url(../images/testimonials/“.svg);
    width: 21px;
    height: 19px;
    margin-bottom: 10px;
  }

  &__description {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 13px;
    line-height: 150%;
    text-align: center;
    color: #6c788b;
    padding-bottom: 16px;
  }

  &__name {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 13px;
    line-height: 150%;
    text-align: center;
    color: #253757;
    padding-bottom: 6px;
  }

  &__company {
    font-weight: bold;
    font-size: 13px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #c0cdd7;
  }

}
