@use './utils/vars' as *;
@use 'strategicAgency' as *;

.personality {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 50vh;
  padding-block: 180px;
  padding-inline: 370px;

  background-color: #f2f6fa;

  &__who {
    font-size: 32px;
    font-weight: 600;
    color: $c-blackBlue;
  }

  &__paragraphy {
    font-family: 'Open sans', Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: #6c788b;
    text-align: center;
  }

  @media (min-width: 320px) and (max-width: 640px) {
    padding-block: 100px;
    padding-inline: 20px;

    &__who {
      font-size: 24px;
    }

    &__paragraphy {
      font-size: 18px;
    }
  }

  @media (min-width: 640px) and (max-width: 1023px) {
    padding-inline: 100px;

    &__who {
      font-size: 24px;
    }

    &__paragraphy {
      font-size: 18px;
    }
  }

  @media (min-width: 1024px) and (max-width: 1439px) {
    padding-inline: 100px;

    &__who {
      font-size: 32px;
    }

    &__paragraphy {
      font-size: 24px;
    }
  }

  @media (min-width: 1960px) and (max-width: 2560px) {
    padding-inline: 180px;

    &__who {
      font-size: 62px;
    }

    &__paragraphy {
      font-size: 52px;
    }
  }
}
