@import "./blocks/variable.scss";
@import "./mixins.scss";

%title {
  font-family: "Poppins", serif;
  font-style: normal;
  font-weight: 600;
}

%litle-text {
  font-family: "Open Sans", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #6c788b;
}

%card-text {
  font-family: "Open Sans", serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 150%;
  color: #6c788b;
}

%transparent-title {
  font-family: "Poppins", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #c0cdd7;
  padding-bottom: 16px;
}

%button {
  width: 280px;
  height: 56px;
  cursor: pointer;
  background-color: $button-color;
  @extend %title;
  font-size: 15px;
  line-height: 56px;
  text-align: center;
  color: #fff;
  border-radius: 8px;
  border: none;

  &:hover {
    box-shadow: 1px 4px 16px rgba(1, 9, 255, 0.8);
  }
}

%img {
  width: 320px;
  height: 390px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 30px;

  @include onMoreTablet() {
    border-radius: 30px 0;
  }
}
