.presentation {
  background-color: #f2f6fa;
  padding: 120px 21px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include OnTablet {
    padding: 148px 41px;
  }

  &__title {
    margin-bottom: 16px;
    color: #253757;
    font-family: "Poppins", sans-serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: 0;
  }

  &__description {
    color: #6c788b;
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0;
    max-width: 754px;
    text-align: center;
  }
}
