@import "vars";

%fontPoppins {
  font-family: Poppins, Arial, Helvetica, sans-serif;
}

.process {
  display: flex;
  justify-content: space-between;
  max-height: 700px;

  .content {
    margin-top: 100px;
    max-width: 350px;

    &__subheading {
      @extend %fontPoppins;
      font-weight: bold;
      font-size: 16px;
      line-height: 19px;
      letter-spacing: 3px;
      text-transform: uppercase;
      color: $grey;
    }

    &__heading {
      margin-top: 0;

      @extend %fontPoppins;
      font-style: normal;
      font-weight: 600;
      font-size: 36px;
      color: $heading_color;
    }

    &__text {
      font-family: Open Sans, Arial, Helvetica, sans-serif;
      font-size: 16px;
      color: $text_color;
    }
  }
}

@media screen and(max-width:$tablet_bp) {
  
  .process {
    display: contents;
    height: auto;
    flex-direction: column;
  }

  .content {
    margin: 50px auto;
  }
}
