.process {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1600px;
  padding: 148px $section-padding 44px;

  &__info {
    width: 360px;
  }

  &__heading {
    margin-bottom: 16px;

    @include spaced-uppercase-font;
    color: $section-title-color;
  }

  &__subheading {
    margin-bottom: 24px;

    @include title-font(32px);
    color: $heading-color;
  }

  &__text {
    margin-bottom: 16px;

    color: $text-color;
  }

  &__cards {
    display: flex;
    flex-wrap: wrap;
    max-width: 560px;
    gap: 30px;
    z-index: 1;
  }

  &__cards-set {
    display: flex;
    max-width: 560px;
    gap: 30px;
    margin: auto;

    & > :first-child {
      position: relative;
      top: 132px;
    }
  }

  @media (max-width: 620px) {
    &__cards-set {
      flex-direction: column;

      & > :first-child {
        top: 0;
        left: 5%;
      }

      & > :last-child {
        position: relative;
        right: 5%;
      }
    }
  }

  @media (max-width: 1160px) {
    & {
      flex-direction: column;
      row-gap: 30px;
    }

    &__info {
      width: 100%;
    }
  }

  @media (max-width: 1500px) {
    & {
      @include reduce-padding;
    }
  }
}
