@import "utils";
@import "fonts";
@import "typography";

.process {
  &__title {
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-size: 13px;
    line-height: 19px;

    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
  }
}
