.process-list {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  margin: 96px 0 0 776px;

  &__item {
    width: 240px;
    height: 256px;
    box-shadow: 16px 16px 16px rgba(0, 0, 0, 0.02);
    padding: 48px 32px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    position: relative;
    margin: 128px 58px 0 0;
    background-color: white;

    &_left {
      top: 120px;
    }
  }

  &__text {
    font-size: 13px;
    margin-top: 32px;
  }

  &__number {
    font-weight: 900;
    font-size: 40px;
    line-height: 150%;
    position: absolute;
    top: 65px;

    &_1 {
      color: #56ccf2;
    }

    &_2 {
      color: #fcc304 ;
    }

    &_3 {
      color: #03f542;
    }

    &_4 {
      color: #f25656;
    }
  }
}
