.process {
  height: 760px;
  padding: 250px 0 0 227px;
  position: relative;
}
.process__header-small {
  font-family: "Poppins", serif;
  font-size: 13px;
  font-weight: 600;
  line-height: 19.5px;
  color: #c0cdd7;
  text-transform: uppercase;
}
.process__header-big {
  font-family: "Poppins", serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 48px;
  color: #253757;
  margin: 16px 0 24px;
  width: 362px;
}
.process__text {
  font-size: 14px;
  line-height: 21px;
  font-family: "Open Sans", serif;
  font-style: normal;
  color: #6c788b;
  width: 362px;
}
.process__card {
  background-color: #fff;
  border-radius: 24px;
  height: 264px;
  width: 264px;
  padding: 32px 32px 0;
  box-shadow: 0px 9px 18px rgba(37, 41, 49, 0.03);
  position: absolute;
  z-index: 2;
}
.process__card--blue {
  left: 50%;
  top: 280px;
}
.process__card--blue > .process__card-header {
  background-color: rgba(47, 128, 237, 0.1);
  color: #2f80ed;
}
.process__card--blue > .process__card-button > .process__card-button-image {
  background-color: #2f80ed;
}
.process__card--yellow {
  left: calc(50% + 264px + 30px);
  top: 148px;
}
.process__card--yellow > .process__card-header {
  background-color: rgba(252, 195, 4, 0.1);
  color: #fcc304;
}
.process__card--yellow > .process__card-button > .process__card-button-image {
  background-color: #fcc304;
}
.process__card--green {
  left: 50%;
  top: 574px;
}
.process__card--green > .process__card-header {
  background-color: rgba(3, 213, 66, 0.1);
  color: #03D542;
}
.process__card--green > .process__card-button > .process__card-button-image {
  background-color: #03D542;
}
.process__card--red {
  left: calc(50% + 264px + 30px);
  top: 442px;
}
.process__card--red > .process__card-header {
  background-color: rgba(242, 86, 86, 0.1);
  color: #f25656;
}
.process__card--red > .process__card-button > .process__card-button-image {
  background-color: #f25656;
}
.process__card-header {
  font-family: "Poppins", serif;
  font-size: 13px;
  font-weight: 600;
  line-height: 19.5px;
  border-radius: 23px;
  width: 46px;
  height: 24px;
  margin-bottom: 24px;
  text-align: center;
  line-height: 24px;
}
.process__card-text {
  font-size: 13px;
  line-height: 19.5px;
  font-family: "Open Sans", serif;
  font-style: normal;
  color: #6c788b;
  font-weight: 600;
}
.process__card-button {
  margin-top: 32px;
  transition: transform 0.5s ease-in-out;
  display: flex;
  align-items: center;
  cursor: url(../images/Cursor/Mouse/Vector.svg), auto;
  flex-shrink: 0;
}
.process__card-button:hover {
  transform: scale(1.1);
}
.process__card-button-image {
  background-image: url(../images/arrow.png);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  display: inline-block;
}
.process__card-button-label {
  font-family: "Poppins", serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 22.5px;
  color: #152032;
  margin-left: 16px;
}
@media screen and (max-width: 1280px) {
  .process {
    padding: 5%;
  }
  .process__card {
    width: 211.2px;
    height: 237.6px;
    padding: 20px;
  }
  .process__card--blue {
    left: 20%;
    top: 45%;
  }
  .process__card--yellow {
    left: 50%;
    top: 30%;
  }
  .process__card--green {
    left: 20%;
    top: 80%;
  }
  .process__card--red {
    left: 50%;
    top: 65%;
  }
}

/*# sourceMappingURL=process.css.map */
