.promo {
  background-color: #2c2c2c;
  position: relative;
  padding: 0 0 50px;

  border-radius: 0 0 30px 30px;

  &__container {
    display: grid;
    grid-template-areas: "header header" "title slider";
    grid-template-rows: var(--header-height) 1fr;
  }

  &__title {
    margin-top: 120px;
  }

  &__main {
    @extend %main;

    margin-bottom: 32px;

    font-size: 64px;
    color: #fff;
    letter-spacing: -2px;
    line-height: 1.06;
    grid-area: title;

    @media (max-width: 768px) {
      font-size: 55px;
    }
  }

  &__description {
    @extend %description;
    max-width: 362px;
    margin-bottom: 83px;
    color: #fff;
    font-size: 18px;

    @media (max-width: 768px) {
      max-width: 295px;
      font-size: 15px;
    }
  }

  &__slider {
    grid-area: slider;
  }
}
