@import "vars";

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body,
ul,
li,
input,
button,
p {
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
  background: $main_color;
}

a {
  outline: none;
  text-decoration: none;
}
