html,
body,
ul,
li,
h1,
h2,
h3,
div,
img,
input {
  margin: 0;
  padding: 0;
  border-width: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #f2f9ff;
}

a {
  text-decoration: none;
}

.logo,
.button,
.slider__arrow,
.footer__email,
.footer__fname,
.footer__messages,
a {
  outline: none;

  &:focus {
    border: 1px solid rgb(9, 3, 90);
    border-radius: 25%;
  }
}
