.reviewer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $c-white;
  box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
  border-radius: 24px;

  &__photo {
    position: relative;
    width: fit-content;
    margin: 68px 0 90px;
  }

  &__decoration {
    position: absolute;
    width: 55px;
    height: 140px;
    border-radius: 500px;
    transform: rotate(30deg);
    z-index: 1;

    &--top {
      bottom: 30%;
    }

    &--bottom {
      top: 30%;
      right: 0;
    }

    &--blue {
      background: linear-gradient($c-gradient), #56ccf2;
    }

    &--orange {
      background: linear-gradient($c-gradient), #fcc304;
    }

    &--red {
      background: linear-gradient($c-gradient), #f25656;
    }
  }

  &__item {
    position: relative;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
    z-index: 2;
  }

  &__description {
    margin-bottom: 16px;
    color: #6c788b;
    text-align: center;
    font-family: "Open-Sans", sans-serif;
    font-size: 13px;
    font-weight: 600;

    &::before {
      content: "";
      position: relative;
      bottom: 10px;
      right: 50%;
      left: 50%;
      transform: translateX(-50%);
      display: block;
      width: 20px;
      height: 20px;
      background: url("../images/testimonials/blue.svg") no-repeat;
    }
  }

  &__name {
    margin-bottom: 4px;
    color: #253757;
    font-family: "Open-Sans", sans-serif;
    font-size: 13px;
    font-weight: 600;
  }

  &__profession {
    @include sectionTitleSmall;
    color: #c0cdd7;
  }
}
