.reviews {
  @include page-paddings;
  @include page-grid;

  padding-bottom: 120px;

  @include on-tablet {
    padding-bottom: 148px;
  }

  @include on-small-desktop {
    padding-bottom: 250px;
  }

  &__intro {
    grid-column: span 2;

    @include on-tablet {
      grid-column: span 3;
    }

    &--title {
      line-height: 48px;
      margin-bottom: 56px;
    }

    &--heading {
      margin-bottom: 16px;
    }
  }

  &__r-cards {
    grid-column: span 2;

    @include on-tablet {
      grid-column: span 6;
    }

    @include on-small-desktop {
      grid-column: span 12;
    }

    @include page-grid;

    gap: 24px;

    .r-card {
      background-color: $text-color-white;
      border-radius: 16px;
      box-shadow: 0 9px 18px 0 #25293108;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      grid-template-columns: span 6;
      grid-column: span 2;

      @include on-tablet {
        grid-column: span 6;
      }

      @include on-small-desktop {
        grid-column: span 4;
      }

      &__wrap {
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-top: 32px;
        padding-inline: 42px;

        @include on-tablet {
          padding-inline: 98px;
        }

        @include on-small-desktop {
          padding-inline: 48px;
        }

        @include on-desktop {
          padding-inline: 56px;
        }

        &--photo {
          width: 196px;
          height: 196px;
          display: flex;
          justify-content: center;
          align-items: center;

          @include on-tablet {
            width: 250px;
            height: 250px;
          }

          @include on-small-desktop {
            width: 197px;
            height: 196px;
          }

          @include on-desktop {
            width: 250px;
            height: 250px;
          }

          &--circle {
            &--people {
              position: relative;
              width: 110px;
              height: 110px;
              border-radius: 50%;
              object-fit: cover;
              z-index: 10;

              @include on-tablet {
                width: 160px;
                height: 160px;
              }

              @include on-small-desktop {
                width: 110px;
                height: 110px;
              }

              @include on-desktop {
                width: 160px;
                height: 160px;
              }
            }
          }


          &::after, &::before {
            content: ' ';
            position: absolute;
            width: 110px;
            height: 45px;
            border-radius: 12px;
            background-color: $blue-color;
            z-index: 1;

            @include on-tablet {
              width: 160px;
              height: 56px;
            }

            @include on-small-desktop {
              width: 110px;
              height: 45px;
            }

            @include on-desktop {
              width: 160px;
              height: 56px;
            }
          }

          &::before {
            transform-origin: bottom right;
            transform: translateY(-50%) translateX(25%) rotate(-60deg);
          }

          &::after {
            transform-origin: top left;
            transform: translateY(50%) translateX(-25%) rotate(-60deg);
          }
        }

        &--quote {
          margin-top: 24px;
          margin-bottom: 8px;
          width: 24px;
          height: 24px;
          background-image: url(../images/testimonials/quote-blue.png);
        }

        &--text {
          font-size: 13px;
          line-height: 19.5px;
          color: $grey-text-color;
          margin-bottom: 16px;
        }

        &--name {
          font-family: $open-sans-font;
          letter-spacing: 0;
          font-weight: 600;
          color: $black-text-color;
          margin-bottom: 4px;
        }

        &--company {
          margin-bottom: 32px;
        }
      }

      @include hover(transform, scale(1.05));
    }
  }
}
