.reviews {
  &__container {
    @extend %container;
  }

  &__testimonials {
    @extend %grey-inscription;
    margin-top: 150px;
  }

  &__heading {
    margin-top: 15px;
    font-weight: 600;
    font-size: 32px;
    line-height: 150%;
    color: #253757;
  }

  &__card-container {
    padding: 85px 0 170px;
    display: flex;
    justify-content: space-between;
  }

  @media (max-width: 1070px) {
    &__pre-heading,
    &__heading {
      text-align: center;
    }

    &__card-container {
      flex-direction: column;
      align-items: center;
      padding: 0 0 85px;
    }

    &__card {
      margin-top: 85px;
    }
  }

  @media (max-width: 650px) {
    &__pre-heading {
      margin-top: 70px;
    }

    &__card {
      margin-top: 50px;
    }
  }
}

.reviews-card {
  height: 494px;
  width: 314px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 90px 30px 30px;
  background: #fff;
  box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
  border-radius: 16px;
  position: relative;
  transition: 1s;

  &:hover {
    box-shadow: 0 9px 18px rgba(37, 41, 49, 0.3);
  }

  &__pseudoelement-wrapper {
    height: 140px;
    width: 140px;
    position: absolute;
    transform-style: preserve-3d;
    z-index: 0;
    transition: 1.5s;
  
    &:after,
    &:before {
      content: "";
      display: block;
      width: 140px;
      height: 55px;
      position: absolute;
      background: #2060f6;
      border-radius: 12px;
      transform: rotate(-60deg) translateZ(-1px);
      transition: 1.5s;
    }

    &:before {
      top: 0;
      left: -50px;
    }

    &:after {
      top: 90px;
      left: 48px;
    }
  }

  &__paragraph {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 13px;
    line-height: 150%;
    color: #6c788b;
    margin-top: 110px;
    text-align: center;
    position: relative;
  
    &:before {
      content: "";
      display: block;
      width: 21px;
      height: 21px;
      background: url(../images/reviews-card__brackets.png) center no-repeat;
      position: absolute;
      left: 50%;
      top: -30px;
      transform: translateX(-50%);
    }
  }

  &__image-wrapper {
    height: 140px;
    width: 140px;
    border-radius: 100%;
    position: relative;
    flex-shrink: 0;
    z-index: 1;
    transition: 1.5s;

    &:hover {
      transform: scale(1.05);

      & + .reviews-card__pseudoelement-wrapper {
        transform: rotate(360deg);
        &:before {
          transform: translateX(-45px) rotate(-60deg) translateZ(-1px);
        }

        &:after {
          transform: translateX(45px) rotate(-60deg) translateZ(-1px);
        }
      }
    }
  }

  &__name {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 13px;
    text-align: center;
    color: #253757;
    margin-top: 15px;
  }

  &__profession {
    @extend %grey-inscription;
    margin-top: 4px;
  }

  
  &--tal-gilad {
    & .reviews-card__image-wrapper {
      background: url(../images/reviews-card__image-1.png);
    }
  }
  
  &--azadeh-hawkins {
    & .reviews-card__image-wrapper {
      background: url(../images/reviews-card__image-2.png);
    }
  }
  
  &--michel-grover {
    & .reviews-card__image-wrapper {
      background: url(../images/reviews-card__image-3.png);
    }
  }
}

.slogan {
  padding: 200px 20px 230px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff url(../images/slogan__background.png) no-repeat center;
  background-size: contain;

  &__heading {
    font-weight: 600;
    font-size: 52px;
    color: #253757;
    text-align: center;
  }

  &__paragraph {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    color: #6c788b;
    text-align: center;
  }

  &__apply-button {
    @extend %button;
    margin-top: 65px;
  }

  @media (max-width: 800px) {
    padding: 100px 20px;
  }

  @media (max-width: 600px) {
    background: #fff;
  }
}
