.reviewers {
  display: grid;
  grid-template-columns: repeat(3, 315px);
  gap: 3%;
  justify-content: space-between;

  @media screen and (max-width: 1320px) {
    justify-content: center;
  }

  @media screen and (max-width: 990px) {
    grid-template-columns: repeat(1, 315px);
  }

  &__reviewer {
    padding: 32px;
  }
}
