.review-card {
  width: 314px;
  height: 494px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #FFFFFF;
  box-shadow: 0px 9px 18px rgba(37, 41, 49, 0.03);
  border-radius: 24px;
}

.review-card__photo {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  background-image: url("/images/testimontials/1.png");
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 87px;

}

.review-card__description {
  font-family: $textFont;
  color: $fontColorThird;
  font-size: 13px;
  line-height: 1.5;
  font-weight: 600;
  margin-top: 111px;
}


.review-card__name {
  font-family: $textFont;
  color: $fontColorMain;
  font-size: 13px;
  line-height: 1.5;
  font-weight: 600;
  margin-top: 16px;
}

.review-card__position {
  font-family: $captionFont;
  color: #C0CDD7;
  font-size: 13px;
  line-height: 19px;
  font-weight: bold;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-top: 4px;
}
