@import "var";

.script {
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__heading {
    font-weight: 600;
    font-size: 32px;
    line-height: 150%;
    color: #253757;
    @media screen and (max-width: $breakpoint) {
      text-align: center;
      margin-top: 60px;
    }
  }

  &__text {
    width: 754px;
    font-family: Open-Sans, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    color: #6c788b;
    @media screen and (max-width: $breakpoint) {
      width: 290px;
    }
  }
}
