.section-approach {
  display: flex;
  padding: 204px;

  color: $c-approach-section;

  background-color: #2c2c2c;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;

  &__approach {
    @media (max-width: 1100px) {
      margin-bottom: 75px;
    }
  }

  &__photo {
    position: absolute;
    bottom: 0;
    right: 0;

    min-width: 650px;
    min-height: 680px;
    
    border-top-left-radius: 30px;
    background: url(../images/Photo2.jpg) center / cover;

    @media (max-width: 1280px) {
      min-width: 50vw;
      min-height: 550px;
    }

    @media (max-width: 1100px) {
      position: relative;
      width: 100%;
      border-radius: 30px;
    }

    @media (max-width: 610px) {
      display: none;
    }
  }

  @media (min-width: 1600px) {
    margin-right: calc(50% - 790px);
  }

  @media (max-width: 1400px) {
    margin-left: calc(50% - 570px);
  }
  @media (max-width: 1280px) {
    padding: 150px 0 120px 180px;
  }

  @media (max-width: 1100px) {
    @include location;
    margin-left: 0;
    padding-left: 50px;
    padding-right: 50px;
  }
}
