.section {
  font-family: "Poppins", serif;
  font-weight: 600;
  font-size: 32px;
  padding-top: 150px;
  padding-bottom: 150px;

  &:nth-last-child(2) {
    padding-bottom: 0;
  }

  &--1 {
    justify-content: center;
    display: flex;
    background-color: rgb(222, 235, 246);

    @include OnMobile {
      padding: 100px 0;
      padding-top: 200px;
    }

    &-title {
      font-size: 32px;
      line-height: 48px;
      text-align: center;
      margin-bottom: 15px;
    }
  }

  &--2 {
    border-radius: 30px;
    background-color: #fff;

    @include OnMobile {
      padding: 70px 0;
    }

    &-title {
      font-size: 52px;
      line-height: 78px;
      text-align: center;

      margin-bottom: 60px;
    }
  }

  &--3 {
    background-color: rgb(222, 235, 246);
    padding-bottom: 0;
    @include OnMobile {
      padding: 120px 0;
    }

    &-title {
      font-size: 32px;
      line-height: 42px;
      text-align: left;
      margin-bottom: 25px;
    }

    &-subtitle {
      font-family: "Open Sans", serif;
      font-size: 14px;
      font-weight: 400;
      line-height: 21px;
      text-align: left;
      color: #6c788b;
    }
  }

  &--4 {
    padding-top: 0;

    &-title {
      margin-bottom: 80px;
    }
  }

  &--5 {
    background-color: #fff;
    background-image: url(../images/testimonials/BG.png);

    &-title {
      display: flex;
      font-size: 52px;
      justify-content: center;
      text-align: center;

      margin-bottom: 25px;
    }
  }

  &--6 {
    color: #fff;
    background-color: #2c2c2c;
    border-radius: 30px 30px 0 0 ;
  }

  &-subtitle {
    max-width: 800px;

    margin: 0 auto;
    font-family: "Open Sans", serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    text-align: center;
    color: #6c788b;
  }

  &-category {
    text-transform: uppercase;
    font-family: "Poppins", serif;
    font-size: 13px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 3px;
    text-align: left;
    color: #c0cdd7;
    padding: 100px 0 15px;

    @include OnTablet {
      padding: 0 0 15px;
    }
  }
}
