@import "var";

.section {
  padding: 0 104px;
  position: relative;
  display: flex;
  justify-content: center;
  @media screen and (max-width: $breakpoint) {
    padding: 50px 40px;
  }
  // @media screen and (min-width: 1500px) {
  //   width: 1500px;
  // }

  &__heading {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    margin: 128px 0 0;
    font-weight: 600;
    font-size: 52px;
    line-height: 150%;
    color: #253757;
    @media screen and (max-width: $breakpoint) {
      font-size: 35px;
      margin-top: 0;
    }
  }

  &:nth-child(1) {
    background-color: $background;
    border-radius: 0 0 30px 30px;
  }
  &:nth-child(2) {
    height: 450px;
  }
  &:nth-child(3) {
    background-color: white;
    border-radius: 30px;
    box-sizing: border-box;
    height: 759px;
    @media screen and (max-width: $breakpoint) {
      height: 1150px;
    }
  }

  &:nth-child(4) {
    height: 750px;
  }
}
