
.section-content {
  padding-top: 120px;

  @include OnTablet {
    padding-top: 148px;
  }

  &__title {
    font-size: 32px;
    font-weight: 600;
    line-height: 48px;
    text-align: center;
    color: $custom_purple;
    padding-bottom: 24px;

    &--expertize {
      font-size: 44px;
      font-weight: 600;
      line-height: 52px;
      text-align: center;
      padding-bottom: 0;
    }

    @include OnDesktop {
      font-size: 32px;
      line-height: 48px;
      padding-bottom: 16px;

      &--expertize {
        font-size: 52px;
        line-height: 78px;
      }
    }
  }

  &--who-we-are,
  &--services,
  &--testimonials {
    padding-inline: $custom_padding;

    @include OnTablet {
      padding-inline: $custom_padding_tablet;
    }
  }

  &--testimonials {
    max-width: 1024px;
    margin: auto;
  }

  &--services {
    @include OnDesktop {
      max-width: 1024px;
      margin: 148px auto 0;
    }
  }

  &--who-we-are {
    @include OnDesktop {
      padding-inline: 154px;
    }
  }

  &--info {
    position: relative;
    padding-top: 72px;
    margin-top: 120px;
    height: 570px;
    background-color: $custom_white;

    @include OnTablet {
      top: 56px;
      height: 796px;
      padding-top: 63px;
    }

    @include OnDesktop {
      top: 197px;
      height: 888px;
      padding-top: 72px;
      margin-top: 0;
    }
  }

  &--services,
  &--testimonials {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    @include OnTablet {
      grid-template-columns: repeat(6, 1fr);
    }

    @include OnDesktop {
      grid-template-columns: repeat(12, 1fr);
    }
  }

  &__expertize {
    border-radius: 30px;
    background-color: $custom_white;
    padding: 72px 20px;
  }

  &__content {
    color: #6c788b;
    font-family: "Open Sans", sans-serif;
    font-size: 22px;
    font-weight: 600;
    line-height: 33px;
    text-align: center;

    @include OnDesktop {
      font-size: 24px;
      line-height: 36px;
    }
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    @include OnTablet {
      grid-template-columns: repeat(6, 1fr);
    }

    @include OnDesktop {
      grid-template-columns: repeat(12, 1fr);
      max-width: 1024px;
      margin: auto;
    }
  }

  &__card {
    padding-top: 56px;
    grid-column: 1 / -1;

    @include OnTablet {
      grid-column: 2 / -2;
    }

    @include OnDesktop {
      grid-column: span 4;
    }
  }

  &__card-image {
    display: block;
    margin: auto;
    width: 165px;
    height: 165px;
    border-radius: 30px;

    @include OnDesktop {
      transition: transform 0.3s ease;

      &:hover {
        transform: scale(1.2);
      }
    }
  }

  &__card-title {
    padding-top: 32px;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    text-align: center;
    color: $custom_purple;
  }

  &__card-desc {
    padding-top: 16px;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
    color: $custom_grayish;

    @include OnTablet {
      display: block;
      max-width: 215px;
      margin: auto;
    }
  }

  &__container {
    padding-bottom: 48px;
    grid-column: 1 / -1;

    @include OnTablet {
      grid-column: 1 / 4;
      padding-bottom: 56px;
    }

    @include OnDesktop {
      grid-column: span 4;
      padding-bottom: 85px;

    }
  }

  &__container-name {
    font-size: 13px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: $custom_silver;
    padding-bottom: 16px;
  }

  &__container-title {
    font-size: 32px;
    font-weight: 600;
    line-height: 42px;
    color: $custom_purple;

    &--with-padding {
      padding-bottom: 24px;
    }
  }

  &__container-desc {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: $custom_grayish;
  }

  &__services {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 24px;
    column-gap: 30px;
    grid-column: 1 / -1;

    @include OnTablet {
      grid-template-columns: repeat(6, 1fr);
      row-gap: 30px;
      column-gap: 30px;
    }

    @include OnDesktop {
      grid-column: 7 / -1;
    }
  }

  &__service {
    background-color: $custom_white;
    border-radius: 16px;
    width: 100%;
    height: 265px;
    grid-column: span 3;
    padding: 32px;

    @include OnTablet {
      &:nth-of-type(2n) {
        transform: translateY(-50%);
      }
    }
  }

  &__widget {
    width: 46px;
    height: 24px;
    color: $custom_blue;
    background-color: #e9f0ff;
    text-align: center;
    border-radius: 23px;
    padding: 2px 12px;
    font-size: 13px;
    font-weight: 600;
    line-height: 20px;
  }

  &__service-content {
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    font-weight: 600;
    line-height: 20px;
    color: $custom_grayish;
    padding: 24px 0 32px;
  }

  &__learn-more {
    display: flex;
    gap: 16px;
    align-content: center;
  }

  &__learn-more-btn {
    display: block;
    height: 40px;
    width: 40px;
    background-image: url("../images/arrows/learn-more.svg");
  }

  &__learn-more-text {
    display: inline;
    font-size: 15px;
    font-weight: 600;
    line-height: 40px;
    color: $learn;
    text-decoration: none;
  }

  &__people {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column: 1 / -1;
    row-gap: 24px;

    @include OnDesktop {
      grid-template-columns: repeat(12, 1fr);
      column-gap: 20px;
      max-width: 1024px;
      margin: auto;
    }
  }

  &__person {
    padding: 32px 42px;
    background-color: $custom_white;
    border-radius: 16px;
    grid-column: 1 / -1;

    @include OnTablet {
      padding: 32px 98px;
    }

    @include OnDesktop {
      grid-column: span 4;
      padding: 32px 48px;
    }
  }

  &__person-avatar {
    margin: auto;
    max-width: 250px;
    max-height: 250px;
  }

  &__img-wrapper {
    position: relative;
    padding-bottom: 100%;
  }

  &__person-img {
    position: absolute;
    width: 100%;
    height: 100%;

    @include OnDesktop {
      transition: transform 0.3s ease;

      &:hover {
        transform: scale(1.2);
      }
    }
  }

  &__person-content {
    padding-top: 24px;
  }

  &__person-quotes {
    display: block;
    width: 24px;
    height: 24px;
    margin: auto;
    background-image: url("../images/features/Quotes.svg");
  }

  &__person-quote {
    padding-top: 8px;
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    font-weight: 600;
    line-height: 20px;
    text-align: center;
    color: $custom_grayish;
  }

  &__person-name {
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    font-weight: 600;
    line-height: 20px;
    padding-top: 16px;
    text-align: center;
    color: $learn;
  }

  &__person-bio {
    font-size: 13px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 3px;
    text-align: center;
    text-transform: uppercase;
    color: $custom_silver;
    padding-top: 4px;
    min-width: 210px;
  }

  &__info {
    padding-inline: $custom_padding;
    height: 510px;
    width: 100%;

    @include OnTablet {
      background-image: url("../images/Shapes-mini.svg");
      background-position: center center;
      background-size: cover;
      padding-inline: $custom_padding_tablet;
      padding-top: 134px;
    }

    @include OnDesktop {
      background-image: url("../images/Shapes2.svg");
      padding-top: 128px;
      max-width: 1350px;
      margin: auto;
    }
  }

  &__title-info {
    font-size: 44px;
    font-weight: 600;
    line-height: 53px;
    text-align: center;
    color: $custom_purple;

    @include OnTablet {
      font-size: 52px;
      font-weight: 600;
      line-height: 62px;
      text-align: center;
    }
  }

  &__title-desc {
    font-family: "Open Sans", sans-serif;
    font-size: 22px;
    font-weight: 600;
    line-height: 33px;
    text-align: center;
    color: $custom_silver;
    padding-top: 24px;
  }

  &__btn-container {
    padding-top: 56px;
    width: fit-content;
    margin: auto;

    @include OnTablet {
      padding-top: 64px;
    }
  }
}
