@import "utils";

.section {
  padding: 160px 80px;

  &_features {
    padding: 80px 20px;
    padding-top: 0;
    background-image: url(../images/features/backphoto.png);
    background-color: $c-blue;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 100% 100%;
  }

  &_cta {
    background-image: url(../images/other/cta_background.png);
    background-size: cover;
  }
  &_header {
    padding-top: 48px;
    padding-bottom: 0;
  }
  &_contact {
    padding-top: 86px;
    padding-bottom: 83px;
    padding-left: 200px;
    padding-right: 200px;
  }

  @media(max-width: 1000px) {
    & {
      &_header {
        padding-top: 48px;
      }
      &_features {
        background-image: none;
      }
      &_testimonials {
        text-align: center;
      }
      &_contact {
        padding-left: 20px;
        padding-right: 20px;
      }
    }
  }

  @media(max-width: 1024px) {
    & {
      padding: 80px 20px;

      &_header {
        padding-top: 48px;
        padding-left: 80px;
      }
      &_features {
        padding-top: 0;
      }
      &_contact {
        padding-left: 100px;
        padding-right: 100px;
      }
    }
  }
}
