.section-title {
  text-align: center;
  font-family: Poppins, sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;

  &--big {
    font-size: 44px;
    line-height: 120%;

    @include on-tablets {
      font-size: 52px;
      line-height: 150%;
    }
  }

  &--left {
    text-align: left;
  }

  &--services {
    line-height: 130%;
  }

  &--block-title {
    color: $light-grey;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 3px;
    text-transform: uppercase;
  }
}
