.section {
  padding-block: 120px;

  @include on640px {
    padding-block: 148px;
  }

  display: grid;
  row-gap: 120px;

  &__one {
    @include pageGrid;

    &__title {
      color: $c-dark_blue;
      text-align: center;
      font-family: $font-poppins;
      font-size: 32px;
      font-weight: 600;
      margin-bottom: 24px;

      grid-column: 1 / -1;
    }

    &__text {
      color: $c-grey;
      text-align: center;
      font-size: 22px;
      font-weight: 600;
      line-height: 150%;

      grid-column: 1 / -1;

      @include on1024px {
        grid-column: 2 / -2;
      }

      @include on1600px {
        grid-column: 3 / -3;
      }
    }
  }

  &__two {
    @include pageGrid;

    &__title {
      color: $c-dark_blue;
      text-align: center;
      font-family: $font-poppins;
      font-size: 44px;
      font-weight: 600;
      line-height: 120%;
      margin-bottom: 56px;
      margin-top: 72px;

      grid-column: 1 / -1;

      @include on640px {
        margin-top: 128px;
        margin-bottom: 64px;
      }
    }

    &__card {
      grid-column: 1 / -1;

      @include on640px {
        grid-column: 2 / -2;
      }

      @include on1024px {
        grid-column: span 4;
      }
    }
  }

  &__three {
    @include pageGrid;

    &__titles {
      grid-column: 1 / -1;

      @include on640px {
        grid-column: span 3;
      }

      @include on1024px {
        grid-column: span 5;
        transform: translateY(50%);
      }
    }

    &__card {
      grid-column: 1 / -1;

      @include on640px {
        grid-column: span 3;

        &--first {
          grid-column: 1 / 4;
        }

        &--transform {
          transform: translateY(-50%);
        }
      }

      @include on1024px {
        grid-column: span 3;

        &--first {
          grid-column: 7 / 10;
          transform: translateY(50%);
        }

        &--transform {
          transform: translateY(0);
        }
      }
    }

    &__title {
      color: $c-dark_blue;
      font-family: $font-poppins;
      font-size: 32px;
      font-weight: 600;
      line-height: 130%;
      margin-bottom: 24px;
    }
  }

  &__four {
    @include pageGrid;

    &__titles {
      grid-column: 1 / -1;

      @include on1024px {
        grid-column: 1 / -1;
      }
    }

    &__card {
      grid-column: 1 /-1;

      @include on1024px {
        grid-column: span 4;
      }
    }

    &__title {
      color: $c-dark_blue;
      font-family: $font-poppins;
      font-size: 32px;
      font-weight: 600;
      line-height: 130%;
      margin-bottom: 48px;

      @include on640px {
        margin-bottom: 56px;
      }

      @include on1024px {
        margin-bottom: 85px;
      }
    }
  }

  &__five {
    @include pageGrid;

    @include on640px {
      background-image: url(../images/shapes.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }

    &__titles {
      grid-column: 1 / -1;
    }

    &__title {
      color: $c-dark_blue;
      text-align: center;
      font-family: $font-poppins;
      font-size: 44px;
      font-weight: 600;
      line-height: 120%;
      margin-bottom: 24px;
      margin-top: 72px;

      @include on640px {
        margin-top: 200px;
      }
    }
  }
}
