.sectionMenu {
  background-color: $color-dark;
  height: 100vh;
  box-sizing: border-box;
  &__content {
    padding: $headerTopPadding;
  }

  &__class {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
  }
}
