.section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  
  &__box {
    margin: 0 227px;
    width: 1600px;
  }

  &__goal {
    background-color: white;
  }
}

.analytics__box {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1400px) {
  .section {
    &__box {
      margin-right: 200px;
      margin-left: 200px;
    }
  }
}

@media screen and (max-width: 1300px) {
  .section {
    &__box {
      margin-right: 150px;
      margin-left: 150px;
    }
  }
}

@media screen and (max-width: 1220px) {
  .section {
    &__box {
      margin-right: 120px;
      margin-left: 120px;
    }
  }
}

@media screen and (max-width: 1150px) {
  .section {
    &__box {
      margin-right: 50px;
      margin-left: 50px;
    }
  }
}

@media screen and (max-width: 1005px) {
  .section {
    &__box {
      margin-right: 30px;
      margin-left: 30px;
    }
  }
}

@media screen and (max-width: 920px) {
  .section {
    &__box {
      margin-right: 100px;
      margin-left: 100px;
      display: block;
    }
  }
}

@media screen and (max-width: 750px) {
  .section {
    &__box {
      margin-right: 30px;
      margin-left: 30px;
    }
  }
}
