.section-info {
  &__about {
    font-family: $font-Poppins;
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
  }

  &__text {
    font-family: $font-Open;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
  }
  
}
