.send-us-a-message {
  background-color: #2C2C2C;
  margin: 0;
  // padding-top: 72px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;

  &-container {
    @include pageGrid;

    display: flex;
    flex-direction: column;

    @include on-tablet {
      display: flex;
      flex-direction: row;
    }
  }

  &-title {
    padding-top: 72px;
      grid-column: 1 / -1;

      @include on-tablet-mini {
        padding-top: 180px;
        grid-column: 1 / 5;
      }

      @include on-tablet {
        grid-column: 1 / 6;
      }

    &-send-us {
      font-family: Poppins;
      font-size: 32px;
      font-weight: 600;
      text-align: left;
      color: #FFFFFF;
    }
  }

  &-contact {
      grid-column: 1 / -1;

      @include on-tablet-mini {
        grid-column: 1 / 5;
      }

      @include on-tablet {
        grid-column: 1 / 6;
      }

    &-form {
      // grid-column: 1 / -1;

      // @include on-tablet-mini {
      //   grid-column: 1 / 5;
      // }

      // @include on-tablet {
      //   grid-column: 1 / 6;
      // }

      &-name, &-email, &-message, &-button {
        width: 100%;
        box-sizing: border-box;
      }

      &-name {
        padding-top: 20px;
        font-family: Poppins;
        font-size: 15px;
        font-weight: 600;
        text-align: left;
        color: #FFFFFF;
        border: none;
        border-bottom: solid 1px #FFFFFF;
        padding-bottom: 16px;
        background-color: #2C2C2C;
        opacity: 0.7px;

        &:focus {
          outline: none;
          opacity: 1;
          border-bottom: solid 1px #144ED4;
        }
      }

      &-email {
        padding-top: 20px;
        font-family: Poppins;
        font-size: 15px;
        font-weight: 600;
        text-align: left;
        color: #FFFFFF;
        border: none;
        border-bottom: solid 1px #FFFFFF;
        padding-bottom: 16px;
        background-color: #2C2C2C;
        opacity: 0.7px;

        &:focus {
          outline: none;
          opacity: 1;
          border-bottom: solid 1px #144ED4;
        }
      }

      &-message {
        padding-top: 20px;
        font-family: Poppins;
        font-size: 15px;
        font-weight: 600;
        text-align: left;
        color: #FFFFFF;
        border: none;
        border-bottom: solid 1px #FFFFFF;
        padding-bottom: 16px;
        background-color: #2C2C2C;
        opacity: 0.7px;

        &:focus {
          outline: none;
          opacity: 1;
          border-bottom: solid 1px #144ED4;
        }
      }
    }

    &-button {
      grid-column: 1 / -1;

      @include on-tablet-mini {
       grid-column: 1 / 4;
      }

      @include on-tablet {
       grid-column: 1 / 5;
      }

      &-send {
       margin-top: 56px;
       height: 56px;

       border-radius: 8px;
       background-color: #144ED4;
       box-sizing: border-box;
       border: none;

       font-family: Poppins;
       font-size: 15px;
       font-weight: 600;
       text-align: center;
       color: #FFFFFF;
       cursor: pointer;

       // &:hover {
       //   box-shadow: 1px 4px 16px 0 #E8E8F066;
       // }

       // &:focus {
       //   box-shadow: 1px 4px 16px 0 #E8E8F0A3;
       // }
      }
   }
  }
}

  .contact-us-title {
    padding-top: 80px;
    grid-column: 1 / -1;


    @include on-tablet-mini {
      padding-top: 120px;
      grid-column: 1 / 5;
    }

    @include on-tablet {
      padding-top: 180px;
      grid-column: 7 / 12;
    }

    &-contact-us {
      font-family: Poppins;
      font-size: 32px;
      font-weight: 600;
      text-align: left;
      color: #FFFFFF;
      margin: 0;
    }
  }

  .contact-us__information {
   padding-bottom: 80px;

    grid-column: 1 / -1;

    @include on-tablet-mini {
      padding-bottom: 140px;
      grid-column: 1 / 5;
    }

    @include on-tablet {
      grid-column: 7 / 12;
    }

    &-call-us, &-visit-us, &-our-socials {
      padding-top: 40px;
      font-family: Poppins;
      font-size: 13px;
      font-weight: 700;
      letter-spacing: 3px;
      text-align: left;
      color: #FFFFFF;
      opacity: 0.5;
    }

    &-phone-number {

      &-call {
        font-family: Open Sans;
        font-size: 24px;
        font-weight: 600;
        text-align: left;
        color: #FFFFFF;
        text-decoration: none;
      }
    }

    &-address {

      &-location {
        font-family: Open Sans;
        font-size: 24px;
        font-weight: 600;
        text-align: left;
        color: #FFFFFF;
        text-decoration: none;
      }
    }


    &-logos {
      display: flex;
      gap: 32px;

        &-logo {
          display: flex;

          &-facebook, &-twitter, &-instagram {
            width: 24px;
            height: 24px;
          }
        }
    }
  }
