@import "utils";

.send-form {
  &__form {
    display: grid;
    grid-row-gap: 48px;
    grid-template-rows: repeat(4, 1fr);
  }

  &__tag {
    margin-bottom: 104px;
  }
  @media(max-width: 1000px) {
    & {
      display: block;
      text-align: center;
      &__button {
        margin: auto;
      }
      &__tag {
        margin-top: 80px;
      }
    }
  }
  @media(min-width: 1600px) {
    &__form {
      width: 656px;
    }
  }
}

.input {
  border-bottom: 1px solid $c-darkGray;

  &::placeholder {
    color: #152032;
    font-size: 15px;
    font-weight: 700;
  }
}
