

.send-us-a-message {
  background-color: #2C2C2C;
  margin: 0;
  // padding-top: 72px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;

  &-container {
    @include pageGrid;
  }

  &-contact {
      padding-top: 72px;
      grid-column: 1 / -1;

      @include on-tablet-mini {
        padding-top: 180px;
        grid-column: 1 / 5;
      }

      @include on-tablet {
        grid-column: 1 / 6;
      }

      &-title {
        font-family: Poppins;
        font-size: 32px;
        font-weight: 600;
        text-align: left;
        color: #FFFFFF;
        margin: 0;
      }

    &-form {

      &-name, &-email, &-message, &-button {
        width: 100%;
        box-sizing: border-box;
      }

      &-name {
        font-family: Poppins;
        font-size: 15px;
        font-weight: 600;
        text-align: left;
        color: #FFFFFF;
        border: none;
        border-bottom: solid 1px #FFFFFF;
        padding-bottom: 16px;
        background-color: #2C2C2C;
        opacity: 0.7px;
        padding-top: 40px;

        @include on-tablet-mini {
          padding-top: 48px;
        }

        &:focus {
          outline: none;
          opacity: 1;
          border-bottom: solid 1px #144ED4;
        }

        &:-webkit-autofill,
        &:-webkit-autofill:hover,
        &:-webkit-autofill:focus {
          -webkit-text-fill-color: #FFFFFF;;
          -webkit-box-shadow: 0 0 0px 40rem #2C2C2C inset;
      }
      }

      &-email {
        padding-top: 20px;
        font-family: Poppins;
        font-size: 15px;
        font-weight: 600;
        text-align: left;
        color: #FFFFFF;
        border: none;
        border-bottom: solid 1px #FFFFFF;
        padding-bottom: 16px;
        background-color: #2C2C2C;
        opacity: 0.7px;
        padding-top: 48px;

        @include on-tablet-mini {
          padding-top: 56px;
        }

        &:focus {
          outline: none;
          opacity: 1;
          border-bottom: solid 1px #144ED4;
        }

        &:-webkit-autofill,
        &:-webkit-autofill:hover,
        &:-webkit-autofill:focus {
        -webkit-text-fill-color: #FFFFFF;;
        -webkit-box-shadow: 0 0 0px 40rem #2C2C2C inset;
      }
      }
      &-message {
        font-family: Poppins;
        font-size: 15px;
        font-weight: 600;
        text-align: left;
        color: #FFFFFF;
        border: none;
        border-bottom: solid 1px #FFFFFF;
        // padding-bottom: 16px;
        background-color: #2C2C2C;
        opacity: 0.7px;
        padding-top: 40px;

        @include on-tablet-mini {
          padding-top: 48px;
        }

        &:focus {
          outline: none;
          opacity: 1;
          border-bottom: solid 1px #144ED4;
        }
    }

    &-button-send {
      margin-top: 56px;
      width: 280px;
      height: 56px;

      border-radius: 8px;
      background-color: #144ED4;
      box-sizing: border-box;
      border: none;

      font-family: Poppins;
      font-size: 15px;
      font-weight: 600;
      text-align: center;
      color: #FFFFFF;
      cursor: pointer;

      &:hover {
        box-shadow: 1px 4px 16px 0 rgba(135, 206, 250, 0.4); /* Light Sky Blue with 40% opacity */
      }

      &:focus {
        box-shadow: 1px 4px 16px 0 rgba(135, 206, 250, 0.64); /* Light Sky Blue with 64% opacity */
      }
    }
  }
  }
}

.contact-us__information {
    padding-top: 80px;

    grid-column: 1 / -1;

    @include on-tablet-mini {
      padding-top: 120px;
      grid-column: 1 / 5;
    }

    @include on-tablet {
      padding-top: 180px;
      grid-column: 7 / 12;
      grid-row: 1;
    }

    &-title {
      font-family: Poppins;
      font-size: 32px;
      font-weight: 600;
      text-align: left;
      color: #FFFFFF;
      margin: 0;
    }

    &-call-us, &-visit-us, &-our-socials {
      font-family: Poppins;
      font-size: 13px;
      font-weight: 700;
      letter-spacing: 3px;
      text-align: left;
      color: #FFFFFF;
      opacity: 0.5;
      margin: 0;
    }

    &-call-us {
      padding-top: 48px;
      padding-bottom: 8px;

      @include on-tablet-mini {
        padding-top: 56px;
      }
    }

    &-visit-us, &-our-socials {
      padding-bottom: 8px;
      padding-top: 40px;

      @include on-tablet-mini {
        padding-top: 48px;
      }
    }

    &-our-socials {
      padding-bottom: 8px;
    }


    &-phone-number {

      &-call {
        font-family: Open Sans;
        font-size: 24px;
        font-weight: 600;
        text-align: left;
        color: #FFFFFF;
        text-decoration: none;
      }
    }

    &-address {

      &-location {
        font-family: Open Sans;
        font-size: 24px;
        font-weight: 600;
        text-align: left;
        color: #FFFFFF;
        text-decoration: none;
      }
    }


    &-logos {
      display: flex;
      gap: 32px;

        &-logo {
          display: flex;

          &-facebook, &-twitter, &-instagram {
            width: 24px;
            height: 24px;

            &:hover {
              color: #2060F6;
            }
          }
        }
    }
}

.container-white-color {

  @include on-tablet-mini {
    background-color: #fff;
  }
}
