@import "utils";
@import "_typography";

.servises-card {
  position: relative;
  background: $main-color;
  box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
  border-radius: 16px;
  padding: 32px;

  &__number {
    background-color: #2362f61a;
    border-radius: 23px;
    display: inline-block;
    width: 46px;
    height: 24px;
    margin-bottom: 24px;

    text-align: center;
    text-transform: uppercase;

    color: $semi-color;
  }

  &__item {
    color: $small-text-color;
  }

  &__list {
    margin-bottom: 40px;
  }

  &__button {
    color: #334563;

    text-decoration: none;
    padding-left: 40px;
  }

  &__button::before {
    position: absolute;
    content: "";
    text-align: center;
    line-height: 20px;
    left: 20px;
    bottom: 20px;
    background: url(../images/arrow.svg) center no-repeat;

    width: 48px;
    height: 48px;

    background-color: $semi-color;
    border-radius: 50px;
    overflow: hidden;

    transition: width 0.5s,;
  }

  &__button:hover::before {
    width: 200px;
    border-radius: 50px;
    background: $semi-color;
    content: "Learn more";
    line-height: 48px;
    color: $main-color;
  }
}
