.services {
  padding-top: 136px;
}

.services-title {
  font-size: 48px;
  font-weight: 900;
  text-align: center;
}

.services-content {
  display: flex;
  justify-content: space-around;
  padding-top: 136px;
}

.services-wrapper {
  width: 264px;
  height: 382px;
}

@media (max-width: 1250px) {
  .services-content {
    padding-left: 0;
  }
}

@media (max-width: 1180px) {
  .services-content {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 0;
  }
  .services-wrapper {
    margin-bottom: 25px;
  }
}
