.service {
  &__process {
    font-weight: 600;
    @include font($font-size-main, $font-height-main);
    letter-spacing: 3px;
    text-transform: uppercase;
    color: $c-process;
  }

  &__heading {
    margin-bottom: 24px;
    
    font-weight: 600;
    @include font(32px, 42px);
    color: $c-heading;
  }

  &__text {
    font-family: $font-Open;
    @include font(14px, 21px);
    color: $c-text;
  }

  &__text--first {
    margin-bottom: 20px;
  }
}
