.service-agency {
  padding: 120px 20px;
  padding-bottom: 0;

  @include on-tablet {
    padding: 148px 41px;
    padding-bottom: 0;
  }

  @include on-small-desktop {
    padding: 296px 54px;
    padding-bottom: 0;
    display: flex;
    gap: 176px;
  }

  @include on-desktop {
    gap: 226px;
  }

  @include on-desktop {
    padding: 296px 227px;
    padding-bottom: 0;
  }

  @include on-large-desktop {
    padding: 296px 707px;
    padding-bottom: 0;
  }

  &__content {
    @include on-tablet {
      width: 266px;
    }

    @include on-small-desktop {
      width: 294px;
    }

    @include on-desktop {
      width: 364px;
    }
  }

  &__content-top-text {
    font-size: 13px;
    line-height: 19.5px;
    letter-spacing: 3px;
    color: rgba(192, 205, 215, 1);
    text-transform: uppercase;
    padding-bottom: 16px;
  }

  &__content-title {
    font-weight: 600;
    font-size: 32px;
    line-height: 41.6px;
    color: rgba(37, 55, 87, 1);
    padding-bottom: 24px;
  }

  &__content-bottom-text {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: rgba(108, 120, 139, 1);
    padding-bottom: 48px;
  }

  &__cards {
    display: flex;
    flex-direction: column;
    gap: 24px;

    @include on-tablet {
      display: grid;
      grid-template-rows: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      gap: 30px;
    }

    @include on-small-desktop {
      grid-template-rows: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
    }
  }

  &__card {
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 1);
    padding: 32px 48px 32px 32px;
    border-radius: 16px;

    transition: all $timeAnimation;

    @include on-small-desktop {
      width: 264px;
    }

    @include on-desktop {
      width: 264px;
    }

    &:hover {
      transform: scale(1.04);
    }
  }

  &__card--2 {
    @include on-tablet {
      transition: all $timeAnimation;
      transform: translate(0, -50%);

      &:hover {
        transform: translate(0, -50%) scale(1.04);
      }
    }
  }

  &__card--4 {
    @include on-tablet {
      transition: all $timeAnimation;
      transform: translate(0, -50%);

      &:hover {
        transform: translate(0, -50%) scale(1.04);
      }
    }
  }

  &__card-number-bg {
    width: 46px;
    height: 24px;
    border-radius: 23px;
    background-color: rgba(32, 96, 246, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 24px;
  }

  &__card-number {
    height: 17px;
    font-weight: 600;
    font-size: 13px;
    line-height: 19.5px;
    color: rgba(32, 96, 246, 1);
  }

  &__card-text {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 13px;
    line-height: 19.5px;
    color: rgba(108, 120, 139, 1);
    padding-bottom: 32px;
  }

  &__card-block-button {
    display: flex;
    align-items: center;
    gap: 16px;
    text-decoration: none;

    transition: all $timeAnimation;

    &:hover {
      transform: scale(1.05);
    }
  }

  &__card-button {
    display: block;
    width: 40px;
    height: 40px;
    border: 0;
    cursor: pointer;
    border-radius: 50%;
    background-image: url('../images/icons/arrow-right.png');
    background-size: 16px 16px;
    background-color: rgba(32, 96, 246, 1);
    background-repeat: no-repeat;
    background-position: center;
  }

  &__card-text-button {
    font-weight: 600;
    font-size: 15px;
    line-height: 22.5px;
    color: rgba(51, 69, 99, 1);
  }
}
