.services {
  width: 280px;
  margin: 20px;
  padding-top: 80px;
  text-align: left;

  @include on-tablet {
    width: auto;
    margin: 41px;
  }

  @include on-small-desktop {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: auto;

    padding-inline: 54px;
  }

  @include on-design {
    padding-inline: 225px;
  }

  &__intro {
    width: 280px;
    text-align: left;

    @include on-small-desktop {
      margin-top: 60px;
    }
  }

  &__text {
    margin-top: 18px;

    text-align: left;

    font-size: 14px;
    font-weight: 400;
    line-height: 150%;

    color: $c-text2;
  }

  &__cards {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 40px;
    align-items: center;

    @include on-tablet {
      display: grid;
      grid-template-columns: repeat(2, 264px);
      gap: 20px;

      .services__card:nth-child(2),
      .services__card:nth-child(4) {
        transform: translateY(-50%);

        &:hover {
          transform: translateY(calc(-50% - 3px));
        }
      }
    }

    @include on-small-desktop {
      margin-top: 120px;
    }
  }

  &__card {
    width: 264px;
    height: 264px;
    padding-top: 30px;
    border-radius: 16px;
    background-color: $c-background3;
    box-shadow: 0 9px 18px 0 rgba(37, 41, 49, 0.03);
    transition:
      box-shadow 0.3s ease,
      transform 0.3s ease;

    &:hover {
      box-shadow: 0 9px 18px 0 rgba(37, 41, 49, 0.15);
      transform: translateY(-3px);
    }
  }

  &__card-item {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 46px;
    height: 24px;

    margin-left: 32px;

    border-radius: 23px;

    background-color: $c-background1;

    text-align: center;

    font-size: 16px;
    font-weight: 600;
    line-height: 100%;

    color: $c-text4;
  }

  &__card-list {
    padding: 32px;
    margin: 0;

    list-style: none;
    text-decoration: none;

    font-size: 13px;
    font-weight: 600;
    line-height: 150%;

    color: $c-text2;
  }

  &__button {
    display: flex;

    align-items: center;
  }

  &__btn {
    display: flex;

    width: 40px;
    height: 40px;

    margin-left: 32px;

    border: none;
    border-radius: 50%;

    background-color: $c-button1;

    cursor: pointer;

    align-items: center;
    justify-content: center;

    transition:
      box-shadow 0.3s ease,
      transform 0.15s ease;

    &:hover {
      box-shadow: 0 0 14px rgba(32, 96, 246, 0.35);
    }

    &:active {
      box-shadow: 0 0 24px rgba(32, 96, 246, 0.7);
      transform: scale(0.97);
    }

    img {
      display: block;

      width: 16px;
      height: 16px;
    }

    &-text {
      margin-left: 20px;

      font-size: 15px;
      font-weight: 600;
      line-height: 100%;

      color: $c-text5;
    }
  }
}
