.services {
  background-color: $clr-section-bg;

  &__container {
    min-height: 976px;
    padding-top: 245px;

    @media screen and (max-width: 860px) {
      padding-top: 146px;
      height: 1222px;
    }

    @media screen and (max-width: 639px) {
      padding-top: 120px;
      height: 1707px;
    }
  }

  &__name {
    margin-bottom: 16px;
    @include h3-gray;
  }

  &__contentWrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    @media screen and (max-width: 860px) {
      flex-wrap: wrap;
      margin: 0 0 148px;
      width: min-content;
    }

    @media screen and (max-width: 639px) {
      width: 100%;
    }
  }

  &__describing {
    padding-top: 5px;
    width: 360px;

    @media screen and (max-width: 915px) {
      margin-bottom: 80px;
      width: 263px;
      height: 255px;
    }

    @media screen and (max-width: 639px) {
      margin-bottom: 50px;
      width: 100%;
    }
  }

  &__title {
    margin-bottom: 24px;
    @include h2-text;
    text-align: start;

    @media screen and (max-width: 640px) {
      margin-bottom: 30px;
    }

    @media screen and (max-width: 320px) {
      margin-bottom: 25px;
    }
  }

  &__text {
    @include expertise-describe;
    text-align: start;

    &:nth-child(n) {
      margin-bottom: 20px;
    }

    @media screen and (max-width: 639px) {
      width: 100%;
    }
  }

  &__cards {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    width: 558px;

    @media screen and (max-width: 1025px) {
      width: 448px;
      gap: 20px;
    }

    @media screen and (max-width: 860px) {
      width: 560px;
      gap: 30px;
    }

    @media screen and (max-width: 639px) {
      width: 100%;
    }

    @media screen and (max-width:320px) {
      gap: 24px;
    }
  }

  &__card {
    border-radius: 16px;
    width: 264px;
    height: 264px;
    padding: 32px;
    background-color: $clr-white;
    transition: all 0.5s;

    &:hover {
      transform: scale(1.1);
      box-shadow: 5px 5px 8px 3px $clr-section-name;
    }

    @media screen and (max-width: 350px) {
      &:hover {
        transform: scale(1);
        box-shadow: 5px 5px 8px 3px $clr-section-name;
      }
    }

    &:nth-child(even) {
      transform: translateY(-50%);

      &:hover {
        transform: translateY(-50%) scale(1.1);
        box-shadow: 5px 5px 8px 3px $clr-section-name;
      }

      @media screen and (max-width: 639px) {
        transform: translateY(0);

        &:hover {
          transform: translateY(0) scale(1.1);
          box-shadow: 5px 5px 8px 3px $clr-section-name;
        }
      }

      @media screen and (max-width: 350px) {
        &:hover {
          transform: translateY(0) scale(1);
          box-shadow: 5px 5px 8px 3px $clr-section-name;
        }
      }
    }

    @media screen and (max-width: 1025px) {
      width: 214px;
    }

    @media screen and (max-width: 860px) {
      width: 264px;
    }

    @media screen and (max-width: 639px) {
      width: 100%;
    }
  }

  &__card-number {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
    border-radius: 23px;
    width: 46px;
    height: 24px;
    background-color: $clr-section-bg;
    font-family: "Poppins", sans-serif;
    font-size: 13px;
    font-weight: 600;
    color: $clr-blue;
  }

  &__card-text {
    margin-bottom: 32px;
    @include card-text;
  }

  &__button {
    display: flex;
    align-items: center;
    gap: 16px;
    cursor: pointer;

    .btn-svg {
      transition: all 0.5s;

      &:hover {
        stroke: $clr-blue;
      }
    }

    .circle {
      transition: all 0.5s;
      fill: $clr-blue;
    }

    .btn-svg:hover .circle {
      fill: $clr-white;
    }

    .path {
      transition: all 0.5s;
      fill: $clr-white;
    }

    .btn-svg:hover .path {
      fill: $clr-blue;
    }

  }

  &__btn-link {
    display: block;
    height: 42px;
  }

  &__btn-caption {
    font: {
      family: "Poppins", sans-serif;
      size: 15px;
      weight: 600;
    }

    color: #334563;
  }
}
