.skill {
  &__photo {
    display: block;
    border-radius: 16px;
    width: 166px;
    margin: 56px auto 32px;
    transition: transform .3s;

    @include onSmallDesktop {
      margin-bottom: 40px;
    }

    &:hover {
      transform: scale(1.05);
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 16px;
    text-align: center;
    font-family: $title-font;
    font-size: 20px;
    line-height: 140%;
    font-weight: 600;
    color: $title-font-color;
  }

  &__text {
    margin: 0;
    text-align: center;
    line-height: 150%;
    font-size: 14px;
    color: $regular-text-color;
  }
}
