.skill-card {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  width: 264px;
  height: 334px;
}

.skill-card__image {
  width: 184px;
  height: 166px;
  border-radius: 25px;
}

.skill-card__caption {
  font-family: $captionFont;
  color: $fontColorMain;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.4;
}

.skill-card__description {
  font-family: $textFont;
  color: $fontColorThird;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
}
