.slider {
  display: flex;
  align-items: end;
  background-image: url(../images/slider/slider1.png);
  background-size: cover;
  background-position: center;
  height: 390px;
  width: 100%;
  position: absolute;
  right: 0;
  bottom: 0;
  border-radius: 30px;

  @include size_1024 {
    width: 502px;
    height: 680px;
    background-image: url(../images/slider/slider-big.png);
    border-radius: 30px 0;
  }

  @include size_1600 {
    width: 687px;
  }

  @include size_2560 {
    width: 1167px;
  }

  &__container {
    margin: 0 0 20px 24px;

    @include size_640 {
      margin: 0 0 32px 41px;
    }

    @include size_1024 {
      display: flex;
      align-items: center;
      gap: 24px;
      margin: 0 0 48px 78px;
      
    }
     
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: $white;
    margin: 0 0 16px;

    @include size_1024 {
      margin: 0;
    }
  }

  &__intro {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: $white;
    margin: 0 0 8px;
  }

  &__text {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: $white;
  }
  
}
