.slider {
  background-color: #fcfcfd;
  height: 822px;

  &__img {
    position: absolute;
    top: 540px;
    left: 227px;
    width: 1146px;
    height: 640px;
    object-fit: cover;
  }

  &__networks {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 1437px;
    right: 144px;
    transform: rotate(90deg);
    letter-spacing: 2px;
    line-height: 19px;
    font-weight: 800;
    font-size: 13px;
  }

  &__arrow {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: calc(50% + 437px);
    left: 145px;
    width: 162px;
    height: 64px;
    /* stylelint-disable */
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #fcc304;
    /* stylelint-enable */
    border-radius: 50px;
  }

  .welcome {
    padding: 485px 435px 0 423px;
    display: block;
    background-color: #fcfcfd;

    &__heading {
      margin-top: 10px;
    }

    &__welcome-heading {
      transform: translate(0, 0);

      &:before {
        display: block;
        content: "";
        position: absolute;
        width: 21px;
        height: 21px;
        background-image: url("../images/sub-title/sub-title-icon-dark.svg");
        left: -16px - 21px;
      }
    }
  }

  .welcome-container {
    width: 742px;
    display: flex;
    flex-direction: column;
    padding: 480px 200px 300px 450px;
  }
}

@media screen and (max-width: 1440px) {
  .slider {
    &__img {
      left: 130px;
    }

    &__networks {
      transform: rotate(0deg);
      left: 25%;
      right: 15%;
      top: 1210px;
      font-size: 20px;
      justify-content: space-between;
    }

    &__arrow {
      top: calc(50% + 430px);
      left: 48px;
    }

    .welcome-container {
      width: 742px;
      display: flex;
      flex-direction: column;
      padding: 420px 0 240px 200px;
    }
  }
}

@media screen and (max-width: 1024px) {
  .slider {
    &__img {
      top: 600px;
      left: 9%;
      right: 9%;
      width: 100%;
      height: 320px;
    }

    &__networks {
      transform: rotate(0deg);
      left: 25%;
      right: 15%;
      top: 940px;
      font-size: 17px;
    }

    &__arrow {
      width: 130px;
      height: 54px;
      transform: rotate(0deg);
      top: calc(100% + 75px);
      left: 50%;

      &--left {
        width: 15px;
      }

      &--right {
        width: 15px;
      }
    }

    .welcome-container {
      width: 80%;
      display: flex;
      margin: auto;
      padding: 200px 190px 100px;
    }
  }
}

@media screen and (min-width: 451px) and (max-width: 950px) {
  .slider {
    background-color: #fcfcfd;
    height: auto;

    &__photo {
      margin: auto;
      width: 86%;
      height: 300px;
    }

    &__networks {
      transform: rotate(0deg);
      right: 20%;
      top: 940px;
      letter-spacing: 1px;
      font-size: 86%;
      justify-content: center;
    }

    .container {
      padding: 0 120px 100px;
    }

    &__arrow {
      transform: rotate(0deg);
      width: 81px;
      height: 32px;
      top: 755px;
      left: 5px;

      &--left {
        width: 10px;
      }

      &--right {
        width: 10px;
      }
    }

    .welcome-container {
      width: 86%;
      display: flex;
      margin: auto;
      padding: 0 90px 100px;
    }
  }
}
