.slider-images {
  position: relative;
  overflow: hidden;
  height: 100%;

  &__img {
    width: 687px;

    object-fit: cover;
    object-position: center;
  }

  &__info {
    position: absolute;
    bottom: 48px;
    left: 48px;
  }
}
