.slogan {
  max-width: 362px;
  padding-top: 9vh;
  display: flex;
  flex-direction: column;

  @media (max-width: 1050px) {
    align-items: center;
    padding-top: 0;
  }

  @media (max-width: 900px) {
    padding-top: 20px;
  }

  &__heading {
    margin-bottom: 32px;

    font-size: 64px;
    font-weight: 600;
    line-height: 68px;
  }

  &__text {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 86px;
    line-height: 27px;
    letter-spacing: -1px;
    color: #fff;

    @media (max-width: 900px) {
      margin-bottom: 40px;
    }
  }
}
