@import "utils";
@import "fonts";
@import "typography";

.socials {
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    margin: 0;
  }

  &__link-image {
    transition: $transition-time ease-in-out;

    &:hover {
      fill: $c-socials-hover;
    }
  }
}
