@import "./variables.scss";

.step {
  width: 264px;
  height: 264px;
  padding: 32px 30px 0;

  background-color: $color-white;

  box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
  border-radius: 24px;

  transition: box-shadow ease 0.3s;

  &:hover {
    box-shadow: 5px 5px 5px 5px rgba($color: $color-white, $alpha: 0.1);
  }

  @media screen and (max-width: 600px) {
    width: 200px;
    height: 255px;
  }

  @media screen and (max-width: 475px) {
    width: 264px;
    height: 264px;
  }

  &__number {
    width: 46px;
    margin: 0 0 24px;
    text-align: center;

    @include font-size13px;

    border-radius: 23px;

    &--blue {
      color: $color-light-blue;
      background-color: rgba($color: $color-light-blue, $alpha: 0.1);
    }
  
    &--yellow {
      color: $color-yellow;
      background-color: rgba($color: $color-yellow, $alpha: 0.1);
    }
  
    &--green {
      color: $color-green;
      background-color: rgba($color: $color-green, $alpha: 0.1);
    }
  
    &--pink {
      color: $color-pink;
      background-color: rgba($color: $color-pink, $alpha: 0.1);
    }
  }
  
  &__sign {
    font-family: "Open Sans", Arial, sans-serif;
    @include font-size13px;
    font-weight: 600;
    line-height: 150%;
    color: $color-grey;
  }
  
  &__arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    
    border-radius: 20px;
    
    transition: transform ease 0.3s;
    cursor: pointer;
    
    &:hover {
      transform: scale(1.15);
    }
    
    @media screen and (max-width: 600px) {
      width: 30px;
      height: 30px;
      
      border-radius: 15px;
    }

    &--blue {
      background-color: $color-light-blue;
    }
  
    &--yellow {
      background-color: $color-yellow;
    }
  
    &--green {
      background-color: $color-green;
    }
  
    &--pink {
      background-color: $color-dark-pink;
    }
  }
  
  &__img-arr {
    width: 16px;
    height: 16px;

    @media screen and (max-width: 600px) {
      height: 10px;
    }

  }

  &__link-wr {
    margin-left: 16px;
  }

  &__link {
    @include font-size15px;
    color: $color-medium-blue;
      
    transition: font-size ease 1s;

    &:hover {
      font-size: 15.5px;
      color: $color-dark-blue;
    }
  }

  &__bottom-wr {
    display: flex;
    align-items: center;
    margin-top: 32px;
  }
}
