@import "./variables.scss";

.steps {
  display: flex;
  margin-top: 50px;

  &__step {
    margin-bottom: 30px;
  }

  &__col1 {
    margin-top: 132px;
    margin-right: 30px;

    @media screen and (max-width: 475px) {
      margin-top: 0;
      margin-right: 0;
    }
  }

  @media screen and (max-width: 475px) {
    flex-direction: column;
  }
}
