@import "vars";

.strategic {
  background-color: $gray;
  border-radius: 0 0 30px 30px;
  transform: translateY(-5px);

  font-family: Poppins, Arial, Helvetica, sans-serif;

  &__content {

    max-width: 350px;
    max-height: 400px;

    color: #fff;
  }

  &__heading {
    margin-top: 0;

    font-weight: 600;
    font-size: 64px;
    line-height: 68px;
    letter-spacing: -2px;
  }

  &__text {
    font-family: Open Sans, Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 18px;
  }

  &__button {
    margin-top: 90px;
  }

  &__photo {
    position: absolute;
    top: 0;
    right: 0;

    width: 40vw;
    height: 650px;

    background: url(../images/watch.png) center center/cover no-repeat;
    border-radius: 30px 0;
    
  }

  .photo {

    &__content {
      position: absolute;
      left: 50px;
      bottom: 40px;
    }

    &__heading {
      letter-spacing: 3px;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 13px;
    }

    &__text {
      font-family: Open Sans, Arial, Helvetica, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
    }

    &__button {
      height: 50px;
      outline: none;
      width: 50px;
      border-radius: 50%;
      margin: 25px 5px;
      background: #fff;
      transition: 0.3s;

      &:hover {
        transform: scale(1.1);
      }

      &:focus,
      &:active {
        transform: translateY(-5px);
      }
    }
  }

}

@media screen and (max-width:$laptop_bp), (max-width:1280px) {
  .strategic {

    &__photo {
      height: 550px;
    }
  }
}

@media screen and (max-width: $small_screen) {
  .strategic {
    
    &__photo {
      display: none;
    }

    &__heading {
      font-size: 44px;
    }

    &__button {
      margin: 50px 0;
    }

  }
}
