.strategy {
  &__circle {
    display: flex;
    justify-content: center;
    width: 64px;
    height: 64px;

    background-color: white;
    border-radius: 50%;
    
    @media (max-width: 1280px) {
      width: 60px;
      height: 60px;
    }
  }

  &__text {
    font-family: $font-Open;
    @include font(15px, 22px);

    @media (max-width: $size-notebook) {
      @include font($font-size-main, $font-height-main);
    }
  }
}
