.strategic {
  position: relative;
  border-radius: 0 0 30px 30px;
  background-color: $second-color;

  &__content {
    box-sizing: border-box;
    width: 100%;
    height: 840px;
    padding-top: 48px;

    @include on-s-desktop{
      padding-top: 164px;
    }
  }

  &__card{
    @include on-s-desktop{
      max-width: 490px;
    }
  }

  &__title {
    @include title-text(600, $main-color);

    margin: 0;
    font-size: 52px;
    line-height: 120%;
    letter-spacing: -2px;

    @include on-tablet {
      font-size: 64px;
    }
  }

  &__description {
    @include description-text(400, $main-color);

    max-width: 360px;
    margin: 0;
    padding: 32px 0 72px;

    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0;
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 280px;
    height: 50px;
    border: none;
    border-radius: 8px;

    font-size: 15px;
    line-height: 100%;
    text-decoration: none;
    letter-spacing: 0;

    background-color: $button-color;

    @include title-text(600, $main-color);

    @include on-tablet {
      width: 264px;
    }

    @include hover(background-color,#144ed4);

  }

}
