.strategicAgency {
  position: relative;
  overflow: hidden;

  // height: 680px;
  border-radius: 0 0 0 200px;
  background-color: $dark-blue;
  color: $on-text-color;

  &__content {
    @include centeredContainer;
    display: flex;
  }

  &__header {
    margin: 120px 0 32px;

    font-family: $font-poppins;
    font-weight: 600;
    font-size: 64px;
    line-height: 68px;

    letter-spacing: -2px;
    color: $on-text-color;
  }

  &__slogan {
    margin-bottom: 83px;

    width: 364px;

    font-family: $font-open-sans;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 226px;
    height: 50px;
    border: 1px solid transparent;
    border-radius: 64px;

    background-color: $interactive-color;
    color: $on-text-color;
    cursor: pointer;

    font-family: $font-poppins;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;

    @include hover(transform, scale(1.1));
    @include shadow;
    outline: none;
    &:hover {
      background-color: #ff7e6c;
    }
  }

  &__interactive {

    padding: 564px 0 0 48px;
    transform: translate(300px);

    width: 687px;
    height: 680px;
    border-radius: 200px 0 0;

    background-image: url(../images/slider/Photo1.png);
    // background-size: contain;
    // background-size: 100%;
    background-repeat: no-repeat;
  }

  &__sliders-part {
    display: flex;
    align-items: center;

  }

  &__slider-left {
    @include slider;

    margin-right: 8px;
    @include hover(transform, scale(1.2));

    &::after {
      content: url(../images/slider/slider-left.svg);
      transform: translate(0, 1px);
    }
  }

  &__slider-right {
    @include slider;

    margin-right: 24px;
    @include hover(transform, scale(1.2));

    &::after {
      content: url(../images/slider/slider-right.svg);
      transform: translate(1px, 1px);
    }
  }

  &__sliders-intro-word {
    margin-bottom: 8px;

    text-transform: uppercase;
    font-family: $font-poppins;
    font-weight: 700;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 3px;
  }

  &__sliders-slogan {
    width: 264px;
    font-family: $font-open-sans;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
  }
}

@include tablet {
  .strategicAgency__interactive {
    display: none;
  }
  .strategicAgency__content {
    justify-content: center;
    margin-bottom: 204px;
  }
}

@include mobile {
  .strategicAgency__left-hand {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .strategicAgency__content {
    margin-bottom: 150px;
  }

  .strategicAgency__header {
    text-align: center;
    font-size: 42px;
    line-height: 46px;
    letter-spacing: -2px;
    margin-top: 40px;
    margin-bottom: 45px;

  }
  .strategicAgency__slogan {
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    width: 250px;
    margin-bottom: 35px;
  }

  .strategicAgency__button {
    padding-right: 100px * - 1;
    width: 126px;
    // transform: translate(60%, 0);
  }
}
