body, ul, p, button, h1, h2 {
  padding: 0;
  margin: 0;
  border: 0;
  margin-block-end: 0;
  margin-block-start: 0;
}

html, body {
  color: #253757;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  font-family: "Muli", sans-serif;
  width: 100%;
}

h1 {
  font-weight: 900;
  font-size: 64px;
  line-height: 1.5;
}

h2 {
  font-weight: 900;
  font-size: 48px;
  line-height: 1;
}

h3 {
  font-weight: 900;
  font-size: 32px;
  line-height: 1.4;
}

.nav {
  font-weight: 700;
}
.nav__list {
  list-style: none;
  display: flex;
  align-items: center;
}
.nav__list_item {
  margin: 0 31.5px;
  white-space: nowrap;
}
.nav__list_item:first-child {
  margin-left: 0;
}

.slider {
  position: relative;
}
.slider__image {
  width: 1146px;
  height: 640px;
}
.slider__intro {
  position: absolute;
  left: 92px;
  bottom: 82px;
}
.slider__intro_heading {
  color: #56ccf2;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 12.6px;
  letter-spacing: 2px;
  margin-bottom: 4px;
}
.slider__intro_text {
  font-weight: 900;
  font-size: 19.6px;
  line-height: 1.4;
}
.slider__button {
  position: absolute;
  left: -80px;
  top: calc(50% - 31px);
  display: flex;
}
.slider__button_left {
  background-color: #FCC304;
  background-image: url(./../images/Vector_left.svg);
  background-repeat: no-repeat;
  background-position: center;
  height: 64px;
  width: 81px;
  border-top-left-radius: 64px;
  border-bottom-left-radius: 64px;
  cursor: pointer;
}
.slider__button_right {
  background-color: #FCC304;
  background-image: url(./../images/Vector_right.svg);
  background-repeat: no-repeat;
  background-position: center;
  height: 64px;
  width: 81px;
  border-top-right-radius: 64px;
  border-bottom-right-radius: 64px;
  cursor: pointer;
}

.link {
  text-decoration: none;
  font-size: 16px;
  line-height: 56px;
  font-weight: 700;
  letter-spacing: 1px;
  display: block;
  border-radius: 64px;
  color: inherit;
}

.slider {
  position: relative;
}
.slider__image {
  width: 1146px;
  height: 640px;
}
.slider__intro {
  position: absolute;
  left: 92px;
  bottom: 82px;
}
.slider__intro_heading {
  color: #56ccf2;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 12.6px;
  letter-spacing: 2px;
  margin-bottom: 4px;
}
.slider__intro_text {
  font-weight: 900;
  font-size: 19.6px;
  line-height: 1.4;
}
.slider__button {
  position: absolute;
  left: -80px;
  top: calc(50% - 31px);
  display: flex;
}
.slider__button_left {
  background-color: #FCC304;
  background-image: url(./../images/Vector_left.svg);
  background-repeat: no-repeat;
  background-position: center;
  height: 64px;
  width: 81px;
  border-top-left-radius: 64px;
  border-bottom-left-radius: 64px;
  cursor: pointer;
}
.slider__button_right {
  background-color: #FCC304;
  background-image: url(./../images/Vector_right.svg);
  background-repeat: no-repeat;
  background-position: center;
  height: 64px;
  width: 81px;
  border-top-right-radius: 64px;
  border-bottom-right-radius: 64px;
  cursor: pointer;
}

.social {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.social__link {
  text-decoration: none;
  color: #253757;
  font-weight: 800;
  font-size: 12.6px;
  letter-spacing: 2px;
  text-transform: uppercase;
  transform: rotate(90deg);
}

.header {
  position: relative;
  color: white;
  padding: 48px 227px 0;
  width: inherit;
  background-color: #fcfcfd;
  z-index: -2;
}
.header__nav_dia {
  margin-right: 111.5px;
  font-size: 32px;
  margin-left: 0;
}
.header__nav_spec {
  margin-left: 73px;
  margin-right: 0;
  position: relative;
}
.header__nav_spec::after {
  content: "";
  height: 4px;
  width: 100%;
  background-color: #fcc304;
  border-radius: 2px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 8px;
}
.header__heading {
  margin: 32px 0 22px 98px;
}
.header__text {
  margin: 0 0 42px 98px;
  font-size: 24px;
}
.header__button {
  width: 226px;
  height: 56px;
  border-radius: 64px;
  background-color: white;
  margin: 0 0 80px 98px;
}
.header__button_link {
  color: #253757;
}
.header__info {
  display: flex;
}
.header__info_social {
  margin-left: 23px;
}
.header__backgroud-half {
  display: flex;
}
.header__backgroud-half_square {
  width: 1029px;
  height: 848px;
  background-color: #56ccf2;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.header__backgroud-half_skew {
  width: 525px;
  height: 848px;
  transform: skewX(-25deg);
  background-color: #56ccf2;
  position: absolute;
  top: 0;
  left: 820px;
  z-index: -1;
}

.intro {
  background-color: #fcfcfd;
  align-items: center;
  padding-top: 165px;
  padding-bottom: 160px;
}
.intro__block {
  width: 742px;
  margin-right: auto;
  margin-left: auto;
}
.intro__block_heading {
  margin-bottom: 19px;
}
.intro__block_heading_text {
  margin-left: 16px;
  color: #56ccf2;
  font-weight: 800;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.intro__block_text {
  font-weight: 600;
  font-size: 24px;
}

.services {
  padding: 0 227px 162px;
}
.services__heading {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  transform: translateY(-24px);
}
.services__block {
  display: flex;
  margin-top: 160px;
  justify-content: space-around;
}
.services__block_service {
  width: 264px;
}
.services__block_service_heading {
  font-weight: 900;
  font-size: 19.6px;
  line-height: 140%;
  margin-bottom: 32px;
}
.services__block_service_text {
  color: #334563;
}

/*# sourceMappingURL=styles.css.map */
