h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
.container {
  margin: 0 auto;
  padding: 0 20px;
}
@media (min-width: 640px) {
  .container {
    width: 558px;
    padding: 0;
  }
}
@media (min-width: 1024px) {
  .container {
    width: 916px;
    padding: 0;
  }
}
@media (min-width: 1280px) {
  .container {
    width: 890px;
    padding: 0;
  }
}
@media (min-width: 1600px) {
  .container {
    width: 1146px;
    padding: 0;
  }
}
@media (min-width: 2560px) {
  .container {
    width: 1200px;
    padding: 0;
  }
}

.page {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}
.page__body {
  margin: 0;
}

.header {
  background-color: #2c2c2c;
  height: 893px;
}
@media (min-width: 640px) {
  .header {
    height: 893px;
  }
}
@media (min-width: 1024px) {
  .header {
    height: 800px;
  }
}
.header__content {
  padding-top: 20px;
}
@media (min-width: 1024px) {
  .header__content {
    padding-top: 49px;
  }
}
.header__image {
  -moz-column-gap: 32px;
       column-gap: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__nav {
  display: none;
}
@media (min-width: 1024px) {
  .header__nav {
    display: contents;
  }
}
.header__menu {
  width: 24px;
  height: 24px;
  background-size: 24px;
  display: flex;
}
@media (min-width: 1024px) {
  .header__menu {
    display: none;
  }
}
.header__photo {
  display: flex;
  background-image: url(../images/background/bg1.svg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 30px;
  background-position: center;
  height: 390px;
  width: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
  top: 503px;
}
@media (min-width: 640px) {
  .header__photo {
    height: 390px;
  }
}
@media (min-width: 1024px) {
  .header__photo {
    position: absolute;
    bottom: 0;
    right: 0;
    top: 503px;
    right: 0;
    bottom: 0;
    top: 120px;
    width: 500px;
    height: 680px;
    border-radius: 30px 0 0 0;
  }
}
@media (min-width: 1600px) {
  .header__photo {
    width: 690px;
  }
}
@media (min-width: 2560px) {
  .header__photo {
    width: 1170px;
  }
}
.header__info {
  --columns: 2;
  display: grid;
  -moz-column-gap: 20px;
       column-gap: 20px;
  grid-template-columns: repeat(var(--columns), 1fr);
  padding-top: 48px;
}
@media (min-width: 640px) {
  .header__info {
    --columns: 6;
    -moz-column-gap: 24px;
         column-gap: 24px;
  }
}
@media (min-width: 1024px) {
  .header__info {
    --columns: 12;
  }
}
@media (min-width: 640px) {
  .header__info {
    padding-top: 56px;
  }
}
@media (min-width: 1024px) {
  .header__info {
    padding-top: 168px;
  }
}
.header__title {
  grid-column: span 2;
  color: #fff;
  margin: 0;
  font-weight: 600;
  font-size: 52px;
  line-height: 62px;
}
@media (min-width: 640px) {
  .header__title {
    grid-column: span 6;
    font-size: 64px;
  }
}
@media (min-width: 1024px) {
  .header__title {
    grid-column: 1/5;
  }
}
.header__subtitle {
  grid-column: span 2;
  margin: 0;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  padding-top: 32px;
}
@media (min-width: 640px) {
  .header__subtitle {
    grid-column: 1/5;
    padding-top: 24px;
  }
}
@media (min-width: 1024px) {
  .header__subtitle {
    grid-column: 1/5;
    padding-top: 32px;
  }
}
.header__button {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #fff;
  height: 50px;
  background-color: #2060F6;
  grid-column: span 2;
  margin-top: 72px;
  border-radius: 8px;
}
@media (min-width: 640px) {
  .header__button {
    grid-column: 1/4;
    margin-top: 56px;
  }
}
@media (min-width: 1024px) {
  .header__button {
    grid-column: 1/5;
    margin-top: 83px;
  }
}
@media (min-width: 1600px) {
  .header__button {
    grid-column: 1/4;
  }
}

.nav__list {
  -moz-column-gap: 48px;
       column-gap: 48px;
  list-style: none;
  display: flex;
  flex-direction: row;
}
.nav__item {
  font-weight: 700;
  line-height: 20px;
  font-size: 13px;
}
.nav__link {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
}
.nav__link--line {
  border-bottom: 1px solid #2060F6;
  padding-bottom: 8px;
}

.main {
  background-color: #eee;
}

.top-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about {
  --columns: 2;
  display: grid;
  -moz-column-gap: 20px;
       column-gap: 20px;
  grid-template-columns: repeat(var(--columns), 1fr);
  padding-top: 120px;
  padding-bottom: 120px;
}
@media (min-width: 640px) {
  .about {
    --columns: 6;
    -moz-column-gap: 24px;
         column-gap: 24px;
  }
}
@media (min-width: 1024px) {
  .about {
    --columns: 12;
  }
}
@media (min-width: 1280px) {
  .about {
    padding-top: 148px;
  }
}
@media (min-width: 1024px) {
  .about {
    padding-bottom: 148px;
  }
}
.about__title {
  grid-column: 1/-1;
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
}
@media (min-width: 1024px) {
  .about__title {
    grid-column: 5/9;
  }
}
.about__subtitle {
  grid-column: 1/-1;
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  text-align: center;
  color: #6C788B;
}
@media (min-width: 1024px) {
  .about__subtitle {
    grid-column: 2/12;
    font-size: 24px;
    line-height: 36px;
  }
}

.expertise {
  background-color: #fff;
  border-radius: 20px;
}
.expertise__title {
  grid-column: 1/-1;
  color: #253757;
  font-weight: 600;
  font-size: 44px;
  line-height: 53px;
  text-align: center;
  padding-top: 72px;
  margin: 0;
}
@media (min-width: 640px) {
  .expertise__title {
    padding-top: 128px;
  }
}
@media (min-width: 1024px) {
  .expertise__title {
    font-size: 52px;
    line-height: 78px;
  }
}
.expertise__products {
  --columns: 2;
  display: grid;
  -moz-column-gap: 20px;
       column-gap: 20px;
  grid-template-columns: repeat(var(--columns), 1fr);
  grid-column: 1/-1;
  text-align: center;
  row-gap: 56px;
  padding-top: 56px;
  padding-bottom: 72px;
}
@media (min-width: 640px) {
  .expertise__products {
    --columns: 6;
    -moz-column-gap: 24px;
         column-gap: 24px;
  }
}
@media (min-width: 1024px) {
  .expertise__products {
    --columns: 12;
  }
}
@media (min-width: 640px) {
  .expertise__products {
    row-gap: 72px;
    padding-top: 64px;
    padding-bottom: 128px;
  }
}
@media (min-width: 1024px) {
  .expertise__products {
    padding-bottom: 134px;
  }
}

.product {
  grid-column: 1/-1;
  text-align: center;
}
@media (min-width: 640px) {
  .product {
    grid-column: 2/6;
  }
}
@media (min-width: 1024px) {
  .product {
    grid-column: span 4;
    align-items: center;
  }
}
.product__title {
  margin: 0;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  padding-top: 32px;
  color: #253757;
}
@media (min-width: 640px) {
  .product__title {
    padding-top: 40px;
  }
}
.product__subtitle {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #6C788B;
  padding-top: 16px;
}/*# sourceMappingURL=style.css.map */