.swiper {
  margin-top: 48px;
  background: linear-gradient(to bottom, #2c2c2c 50%, #f2f6fa 50%);

  // display: grid;
  // --columns: 2;

  // grid-template-columns: repeat(var(--columns), 1fr);
  // grid-column: 1 / -1;

  // @include onTablet {
  //   margin-top: 147px;
  // }

  // @include onDesktop {
  //   --columns: 12;
  //   margin-top: 38px;
  // }
  // &-wrapper {
  //   grid-column: 1 / -1;

  //   @include onDesktop {
  //     grid-column: 6 / -1;
  //   }
  // }
}

.swiper-slide__image {
  display: block;
  border-radius: 30px;
  width: 100%;
  height: auto;

  @include onTablet {
    height: 390px;
  }
}
