@import "vars";

.testimonials-icons {
  box-sizing: border-box;
  text-align: center;
  max-width: 314px;
  height: 494px;
  padding: 87px 32px 32px;
  background-color: $background-primary;
  box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
  border-radius: 24px;
  @media (max-width: $large-tablet) {
    &:not(:last-child) {
      margin-bottom: 50px;
    }
    @media (max-width: $mobile-width) {
      max-width: 280px;
      height: 454px;
    }
  }
  &:hover {
    box-shadow: 0 9px 18px rgba(37, 41, 49, 0.3);
  }

  &__photo {
    position: relative;
    width: 140px;
    height: 140px;
    margin: 0 auto;

    &::before {
      position: absolute;
      top: 50%;
      left: -50%;
      content: "";
      width: 139px;
      height: 56px;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%,
      rgba(255, 255, 255, 0) 100%),
        #56ccf2;
      border-radius: 500px;
      transform: rotate(-60deg) translate(50%, -50%);
    }

    &::after {
      position: absolute;
      bottom: 50%;
      right: -50%;
      content: "";
      width: 139px;
      height: 56px;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%,
      rgba(255, 255, 255, 0) 100%),
        #56ccf2;
      border-radius: 500px;
      transform: rotate(-60deg) translate(-50%, 50%);
    }

    &--yellow::before {
      position: absolute;
      top: 50%;
      left: -50%;
      content: "";
      width: 139px;
      height: 56px;
      border-radius: 500px;
      transform: rotate(-60deg) translate(50%, -50%);
      background-color: #fcc304;
    }

    &--yellow::after {
      position: absolute;
      bottom: 50%;
      right: -50%;
      content: "";
      width: 139px;
      height: 56px;
      border-radius: 30px;
      transform: rotate(-60deg) translate(-50%, 50%);
      background-color: #fcc304;
    }

    &--red::before {
      position: absolute;
      top: 50%;
      left: -50%;
      content: "";
      width: 139px;
      height: 56px;
      border-radius: 500px;
      transform: rotate(-60deg) translate(50%, -50%);
      background-color: #f25656;
    }

    &--red::after {
      position: absolute;
      bottom: 50%;
      right: -50%;
      content: "";
      width: 139px;
      height: 56px;
      border-radius: 500px;
      transform: rotate(-60deg) translate(-50%, 50%);
      background-color: #f25656;
    }
  }

  &__img {
    position: relative;
    border-radius: 50%;
    z-index: 1;
  }

  &__quotes {
    width: 20px;
    height: 18px;
    margin: 82px auto 10px;
    background: url(../images/testimonials/q1.png) center;

    &--yellow {
      background-image: url(../images/testimonials/q3.png);
    }

    &--red {
      background-image: url(../images/testimonials/q4.png);
    }

    @media (max-width: $mobile-width) {
      margin-top: 42px;
    }
  }

  &__about {
    font-family: $fontMaine;
    font-weight: 600;
    font-size: 13px;
    line-height: 150%;
    color: $body-text-color;
  }

  &__name {
    font-family: $fontMaine;
    font-weight: 600;
    font-size: 13px;
    line-height: 150%;
    color: #253757;
    margin: 16px 0 4px;
  }

  &__position {
    font-family: $fontSecondary;
    font-weight: bold;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #c0cdd7;
  }
}
