.testimonials {
  padding: 120px 80px;
}

.testimonials__container {
  display: block;
  background-color: #f2f6fa;
  max-width: 1146px;
  margin: 0 auto;
  text-align: center;
}

.testimonials__top-title {
  font-size: 13px;
  font-weight: 700;
  color: #c0cdd7;
  letter-spacing: 3px;
  text-transform: uppercase;
  justify-self: left;
}

.testimonials__title {
  font-size: 32px;
  font-weight: 600;
  color: #253757;
  padding-top: 16px;
  text-align: left;
}

/* Контейнер с карточками */
.testimonials__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  padding: 40px 0;
}

@media (min-width: 1024px) {
  .testimonials__content {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
  }
}

/* Стили для карточек */
.testimonials__blocks {
  width: 100%;
  max-width: 360px;
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  padding: 24px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Индивидуальные карточки */
.testimonials__block-1,
.testimonials__block-2,
.testimonials__block-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  min-height: 456px;
}

.testimonials__blocks:hover {
  translate: 0 -40px;
}

.testi__photo {
  height: 196px;
  width: 196px;
  padding: 32px 0 24px;
  object-fit: contain;

  @media (min-width: 1600px) {
    height: 250px;
    width: 250px;
  }
}

.testi-logo {
  height: 24px;
  width: 24px;
  object-fit: contain;
}

.testimonials__text {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-weight: 600;
  color: #6c788b;
  padding: 8px 48px 0;
}

.testimonials__name {
  font-family: 'Open sans', sans-serif;
  font-size: 13px;
  font-weight: 600;
  color: #253757;
}

.testimonials__position {
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 3px;
  color: #c0cdd7;
  text-transform: uppercase;
  padding: 4px 0 32px;
}
