.testimonials {
  background-color: #e5e5e5;
  padding: 120px 20px;

  @include onTab {
    padding: 148px 40px;
  }

  @include onDesktop {
    padding: 251px 54px 186px;
  }

  @include onDesign {
    padding: 251px 227px 148px;
  }

  @include onBigScreens {
    padding: 251px 707px 148px;
  }

  &__subtitle {
    @extend %sub-title;
  }

  &__title {
    @extend %title;
    display: flex;
    margin-bottom: 48px;

    @include onTab {
      flex-direction: column;
      margin-bottom: 56px;
    }

    @include onDesktop {
      flex-direction: column;
      margin-bottom: 85px;
    }
  }
}
