.testimonial {
  box-sizing: border-box;
  border-radius: 16px;
  background-color: #fff;
  box-shadow: 0 9px 18px 0 rgba(37, 41, 49, 0.03);
  padding: 32px 42px;

  &__top {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 32px 42px;

    &--photo {
      display: inline-block;
      padding: 0;
      width: 110px;
      height: 110px;
      border-radius: 50%;
      z-index: 1;
      transition: transform 0.3s;

      &:hover {
        transform: scale(1.05);
      }
    }

    &--rect {
      @include rectTestimonial {
        background: #56ccf2;
      }

      &--yellow {
        @include rectTestimonial {
          background: #fcc304;
        }
      }

      &--red {
        @include rectTestimonial {
          background: #f25656;
        }

      }

      &--right {
        @include rectTestimonialRight {
          background: #56ccf2;
        }

        &--yellow {
          @include rectTestimonialRight {
            background: #fcc304;
          }
        }

        &--red {
          @include rectTestimonialRight {
            background: #f25656;
          }
        }
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__icon {
    width: 24px;
    height: 24px;

    margin-top: 27.5px;

    @include onTablet {
      margin-top: 28.5px;
    }
  }

  &__text {
    margin: 0;
    margin-top: 8px;
    color: $regular-text-color;
    text-align: center;
    font-size: 13px;
    font-weight: 600;
    line-height: 150%;

    @include onTablet {
      margin-top: 16px;
    }

    @include onSmallDesktop {
      margin-top: 8px;
    }
  }

  &__name {
    margin: 0;
    margin-top: 16px;
    color: $title-font-color;
    text-align: center;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
  }

  &__company {
    margin: 0;
    margin-top: 4px;
  }
}
