.testimonials {
  &__description {
    font-family: Poppins, sans-serif;
    font-size: 13px;
    line-height: 19.5px;
    letter-spacing: 3px;
    font-weight: 700;
    color: rgba(192, 205, 215, 1);
    padding-bottom: 16px;
    margin-block: 0;
  }

  &__title {
    font-family: Poppins, sans-serif;
    font-size: 32px;
    line-height: 48px;
    font-weight: 600;
    color: rgba(37, 55, 87, 1);
    padding-bottom: 48px;
    margin-block: 0;

    @include br-none;

    @include tablet {
      @include br;

      padding-bottom: 56px;
    }

    @include desktop {
      padding-bottom: 85px;
    }
  }

  &__cards {
    @include desktop {
      display: flex;
      gap: 20px;
      margin-bottom: 186px;
    }

    @include design {
      gap: 30px;
      margin-bottom: 148px;
    }
  }

  &__card {
    display: inline-block;
    text-align: center;
    background-color: #ffff;
    border-radius: 16px;
    margin-bottom: 24px;

    @include hover(transform, scale(1.1));

    @include desktop {
      margin-bottom: 0;
    }

    &:last-child {
      margin-bottom: 120px;

      @include tablet {
        margin-bottom: 148px;
      }

      @include desktop {
        margin-bottom: 0;
      }
    }
  }

  &__text {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 13px;
    line-height: 19.5px;
    font-weight: 600;
    color: #6c788b;
    padding: 0 42px 16px;
    margin-block: 0;

    @include desktop {
      padding: 0 48px 16px;
      width: 196px;
    }

    @include design {
      padding: 0 56px 16px;
      width: 250px;
    }

    &-second {
      @include desktop {
        padding-bottom: 32px;
      }

      @include design {
        padding-bottom: 16px;
      }
    }
  }

  &__name {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 13px;
    line-height: 19.5px;
    font-weight: 600;
    color: #253757;
    padding-bottom: 4px;
    margin-block: 0;
  }

  &__speciality {
    font-family: Poppins, sans-serif;
    text-align: center;
    font-size: 13px;
    line-height: 19.5px;
    letter-spacing: 3px;
    font-weight: 700;
    color: #c0cdd7;
    padding-bottom: 32px;
    margin-block: 0;
  }
}

.card__img {
  position: relative;
  width: 109.76px;
  height: 109.76px;
  margin-left: 30%;
  margin-bottom: 50%;
  z-index: 1;

  @include tablet {
    width: 140px;
    height: 140px;

    margin-left: 38%;
    margin-bottom: 25%;
  }

  @include desktop {
    width: 109.76px;
    height: 109.76px;

    margin-left: 30%;
    margin-bottom: 50%;
  }

  @include design {
    width: 140px;
    height: 140px;
  }

  &::before {
    content: '';
    display: block;
    position: absolute;
    height: 43.9px;
    width: 108.98px;
    background-color: #2060f6;
    border-radius: 12px;
    z-index: -1;

    transform: rotate(-60deg);
    margin: 75px 0 20px -40px;

    @include tablet {
      height: 56px;
      width: 139px;
    }

    @include desktop {
      height: 43.9px;
      width: 108.98px;

      margin: 75px 0 20px -40px;
    }

    @include design {
      height: 56px;
      width: 139px;
    }
  }

  &::after {
    content: '';
    display: block;
    position: absolute;
    height: 43.9px;
    width: 108.98px;
    background-color: #2060f6;
    border-radius: 12px;
    z-index: -1;

    transform: rotate(-60deg);
    margin: -110px 0 20px 40px;

    @include tablet {
      height: 56px;
      width: 139px;
      margin: -120px 0 20px 50px;
    }

    @include desktop {
      height: 43.9px;
      width: 108.98px;

      margin: -110px 0 20px 40px;
    }

    @include design {
      height: 56px;
      width: 139px;

      margin: -120px 0 20px 50px;
    }
  }
}

.person__img {
  width: 109.76px;
  height: 109.76px;
  padding-top: 75.13px;
  padding-bottom: 67.11px;

  @include tablet {
    width: 140px;
    height: 140px;
  }

  @include desktop {
    width: 109.76px;
    height: 109.76px;
  }

  @include design {
    width: 140px;
    height: 140px;
  }
}

.icon {
  padding-bottom: 8px;
  width: 24px;
  height: 24px;
}
