.testimonials__cards {
  @include page-grid;

  grid-column: 1 / -1;
  margin-bottom: 120px;
  row-gap: 24px;

  @include on-tablet {
    margin-bottom: 148px;
    row-gap: 30px;
  }

  @include on-desktop {
    display: flex;
    justify-content: space-between;
    margin-bottom: 186px;
  }

  @include on-large-screens {
    margin-bottom: 148px;
  }
}

.testimonials__card {
  grid-column: 1 / -1;

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: $white-color;
  padding: 32px 42px;
  border-radius: 16px;
  cursor: pointer;

  @include hover(transform, scale(1.1));

  @include on-tablet {
    padding: 32px 98px;
  }

  @include on-desktop {
    width: 292px;
    height: 456px;
    padding: 32px 48px;
  }

  @include on-large-screens {
    width: 362px;
    height: 494px;
    padding: 32px 48px;
  }
}

.testimonials__ava {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  width: 196px;
  height: 196px;
  margin-bottom: 24px;

  @include on-tablet {
    width: 250px;
    height: 250px;
  }

  @include on-desktop {
    width: 196px;
    height: 196px;
  }

  @include on-large-screens {
    width: 250px;
    height: 250px;
  }
}

.testimonials__background__first {
  background-color: $blue-thing;
  border-radius: 12px;
  width: 109px;
  height: 44px;
  transform: rotate(-60deg);
  transform-origin: 0 0;
  margin-top: 45px;
  margin-right: 59px;

  @include on-tablet {
    width: 139px;
    height: 56px;
    margin-top: 59px;
    margin-right: 78px;
  }

  @include on-desktop {
    width: 109px;
    height: 44px;
    margin-top: 45px;
    margin-right: 59px;
  }

  @include on-large-screens {
    width: 139px;
    height: 56px;
    margin-top: 59px;
    margin-right: 78px;
  }
}

.testimonials__background__second {
  background-color: $blue-thing;
  border-radius: 12px;
  width: 109px;
  height: 44px;
  transform: rotate(120deg);
  transform-origin: 0 0;
  margin-top: 50px;
  margin-right: -108px;

  @include on-tablet {
    width: 139px;
    height: 56px;
    margin-top: 57px;
    margin-right: -140px;
  }

  @include on-desktop {
    width: 109px;
    height: 44px;
    margin-top: 50px;
    margin-right: -108px;
  }

  @include on-large-screens {
    width: 139px;
    height: 56px;
    margin-top: 57px;
    margin-right: -140px;
  }
}

.photo__ava {
  position: absolute;
  border-radius: 50%;
  width: 110px;
  height: 110px;

  @include on-tablet {
    width: 140px;
    height: 140px;
  }

  @include on-desktop {
    width: 110px;
    height: 110px;
  }

  @include on-large-screens {
    width: 140px;
    height: 140px;
  }
}

.quotes {
  margin-bottom: 8px;

  @include on-tablet {
    margin-bottom: 16px;
  }

  @include on-desktop {
    margin-bottom: 8px;
  }
}

.testimonials__description {
  text-align: center;
  color: $text-description-color;
  font-size: 13px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  line-height: 19.50px;
  margin-bottom: 16px;

  @include hover(transform, scale(1.3));
}

.testimonials__name {
  text-align: center;
  color: $main-text-title;
  font-size: 13px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  line-height: 19.50px;
  margin-bottom: 4px;
}

.testimonials__moto {
  text-align: center;
  color: $highlight-text;
  font-size: 13px;
  font-family: Poppins, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3px;
}
