.testimonials {
  background-color: #f2f6fa;
  padding: 120px 0;

  @include onTab {
    padding: 148px 0;
  }

  @include onDesktop {
    padding: 251px 0 186px;
  }

  @include onDesign {
    padding: 251px 0 148px;
  }

  @include onBigScreens {
    padding: 251px 0 148px;
  }

  &__subtitle {
    @extend %sub-title;
  }

  &__title {
    @extend %title;
    display: flex;
    margin-bottom: 48px;

    @include onTab {
      flex-direction: column;
      margin-bottom: 56px;
    }

    @include onDesktop {
      flex-direction: column;
      margin-bottom: 85px;
    }
  }
}
