.testimonials-card {
  width: 314px;
  height: 494px;
  background-color: $white-color;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__description {
    width: 250px;
    text-align: center;
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 150%;
    color: $gray-color;
    padding-top: 5px;
  }

  &__quote {
    margin-top: 20px;
  }

  &__name {
    padding: 16px 0 10px;
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 150%;
    color: $hard_blue-color;
  }

  &__position {
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: $title-color;
  }
}
