.people-card {
  display: flex;
  justify-content: space-between;

  &__ava-block {
    position: absolute;
    width: 139px;
    height: 56px;
    background: #56ccf2;
    border-radius: 12px;
    transform: rotate(-60deg);
    z-index: 1;
  }

  &__ava-block:first-child {
    top: 86px;
    left: 40px;
  }

  &__ava-block:nth-child(2) {
    top: 175px;
    right: 40px;
  }

  &__item {
    position: relative;
    width: 314px;
    height: 494px;
    background: #fff;
    box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
    border-radius: 16px;
    padding: 32px;
    box-sizing: border-box;

    &:nth-child(2) .people-card__ava-block {
      background-color: #fcc304;
    }

    &:nth-child(3) .people-card__ava-block {
      background-color: #f25656;
    }

    @for $i from 1 through 3 {
      &:nth-child(#{$i}) .people-card__quotes {
        background-image: url("/images/testimonials/quotes-#{$i}.svg");
      }
    }
  }

  &__img {
    position: relative;
    display: block;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    margin: 55px auto 0;
    z-index: 2;
  }

  &__quotes {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 19px;
    height: 21px;
    margin-top: 82px;
    margin-bottom: 11px;
  }

  &__description {
    font-family: Open Sans, sans-serif;
    font-weight: 600;
    font-size: 13px;
    line-height: 150%;
    text-align: center;
    color: #6c788b;
  }

  &__name {
    font-family: Open Sans, sans-serif;
    font-weight: 700;
    font-size: 13px;
    line-height: 150%;
    text-align: center;
    color: #253757;
    margin-top: 16px;
    margin-bottom: 4px;
  }

  &__text {
    font-family: Poppins, sans-serif;
    font-weight: bold;
    font-size: 13px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #c0cdd7;
  }
}
