.theses {
  background-color: #fff;
  padding: 72px 0;
  box-sizing: border-box;
  margin-bottom: 120px;

  @include OnTablet {
    padding: 200px 0;
    margin-bottom: 0;
    background-image: url(../images/Shapes.png);
    background-position: center;
    background-size: cover;
  }

  &__title {
    margin-bottom: 24px;
    font-weight: 600;
    font-size: 44px;
    line-height: 120%;
    text-align: center;
    color: #253757;

    @include OnTablet {
      font-size: 52px;
    }

    @include OnDesktopSmall {
      line-height: 150%;
    }
  }

  &__text {
    font-weight: 600;
    font-size: 22px;
    line-height: 150%;
    text-align: center;
    color: #6c788b;
    margin-bottom: 56px;

    @include OnTablet {
      font-size: 24px;
    }

    @include OnDesktopSmall {
      width: 750px;
      margin: 0 auto 56px;
    }
  }

  &__button {
    margin: 0 auto;
  }
}
