.title {
  font-weight: 600;
  font-family: Poppins, serif;
  color: $black-grey-color;
  font-size: 32px;
  line-height: 150%;

  &--our-expertise {
    font-size: 44px;
    line-height: 120%;
    text-align: center;

    @include on-tablet {
      font-size: 52px;
      line-height: 150%;
    }
  }

  &--vision {
    font-size: 44px;
    line-height: 120%;
    text-align: center;

    @include on-tablet {
      font-size: 52px;
      line-height: 120%;
    }
  }

  &--grey {
    font-weight: 700;
    font-size: 13px;
    line-height: 100%;
    color: $grey-title-color;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: left;
  }

  &--footer {
    line-height: 130%;
    color: $main-white;
  }
}
