.title {
  display: flex;
  align-items: center;

  &__img {
    width: 21px;
    height: 21px;
    margin-right: 16px;
  }

  &__text {
    font-weight: 800;
    font-size: 16px;
    line-height: 32px;
    color: #56ccf2;
    letter-spacing: 2px;
    text-transform: uppercase;

    &--white {
      color: white;
    }
  }
}
