.title {
  grid-area: title;

  &__main {
    margin-bottom: 16px;

    font-family: Poppins, sans-serif;
    font-weight: 600;
    color: #253757;
    line-height: 150%;
    font-size: 32px;

    &--promo {
      margin-bottom: 32px;

      font-size: 64px;
      color: #fff;
      letter-spacing: -2px;
      line-height: 68px;
    }

    &--big {
      font-size: 52px;

    }

    &--center {
      margin-bottom: 16px;

      font-size: 20px;
      line-height: 140%;
      text-align: center;
    }

    &--process {
      margin-bottom: 24px;

      line-height: 130%;
    }

    &--approach {
      margin-bottom: 32px;

      color: #fff;
    }

  }

  &__description {
    font-family: Open Sans, sans-serif;
    font-weight: 400;
    line-height: 150%;
    color: #6c788b;
    font-size: 14px;

    &--promo {
      margin-bottom: 83px;
      color: #fff;
      font-size: 18px;
    }

    &--middle {
      font-size: 24px;
      font-weight: 600;
    }

    &--center {
      font-size: 14px;
      text-align: center;
    }

    &--item {
      font-size: 13px;
      font-weight: 600;
    }

    &--approach {
      font-size: 15px;
      color: #fff;
    }
  }

  &__subtitle {
    margin-bottom: 16px;

    font-family: Poppins, sans-serif;
    font-weight: 700;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 3px;
    text-transform: uppercase;

    color: #c0cdd7;

    &--white {
      color: #fff;
    }
  }

  &__btn {
    width: 226px;
    height: 50px;

    background: $color;
    border-radius: 8px;

    @include poppins(15px, 600);
    letter-spacing: normal;
    line-height: 22px;

    outline: none;
    border-color: $color;
    cursor: pointer;
  }

}
