.top-action {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
  justify-content: space-between;

  @include OnTablet {
    padding: 0;
    height: 25px;
  }

  @media (min-width:1024px) {
    margin-bottom: 150px;
  }

  &--footer {
    margin-bottom: 0;

    @include OnMobile {
      display: none;
    }
  }

  &--logo {
    width: 45px;
    height: 25px;
  }

  &__buttons {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-left: 30px;
    align-items: center;

    &--footer {
      @include OnTablet {
        display: block;
      }
    }

    &--menu {
      width: 18px;
      height: 8px;

      @media (min-width: 1024px) {
        display: none;
      }

      &--pressed {
        justify-content: end;
        height: 35px;
        width: 35px;
      }
    }

    &--hire {
      font-family: "Poppins", serif;
      font-size: 13px;
      font-weight: 700;
      letter-spacing: 3px;
      text-align: center;
      color: #fff;
      text-decoration: none;
      transition: all $animation-duration;

      &:hover {
        color: #2060f6;
      }

      &::after {
        position: absolute;
        top: 65px;
        content: "";
        display: block;
        height: 2px;
        width: 65px;
        background-color: #2060f6;
      }
    }
  }
}
