.top-bar {
  padding-top: 20px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding-bottom: 48px;

  @include onTablet {
    padding-bottom: 56px;
    padding-top: 48px;
  }

  &__logo_menu {
    display: flex;
    align-items: flex-end;
  }

  &__logo {
    display: flex;
    width: 46px;
    height: 28px;
    
    @include hover(transform, scale(1.2));
  }
}
