.top-bar {
  padding-top: 20px;

  @include on-desktop {
    padding-top: 52px;
  }

  &__menu {
    height: 24px;
    width: 24px;

    &:hover {
      @include hover(transform, scale(1.05));

    }

    &--link {
      display: block;
      background-size: cover;
      background-image: url(../images/icons/icons-menu.svg);

      @include on-desktop {
        display: none;

      }
    }

    &--close {
      background-image: url(../images/icons/icon-close.svg);
      filter: brightness(0%) invert(100%);
    }
  }



  &__link--logo {
    display: flex;
  }

  &__logo {
    height: 28px;

    &:hover {
      @include hover(transform, scale(1.05));
    }
  }

  &__images{
    justify-content: space-between;
    display: flex;
    align-items: center;
    gap: 32px;
  }
}
