.top-bar {
  padding-top: 21px;

  @include on-tablet {
    padding-top: 48px;
  }

  display: flex;
  justify-content: space-between;
  align-items: center;

  &__icons {
    display: flex;
    gap: 111px;

    @include on-tablet {
      display: none;
    }

    &-icon-menu {
      // display: flex;

      &-burger {

        transition: transform 0.3s ease-in-out;

        &:hover {
         transform: scale(1.2);
        }
      }
    }
  }

  &__logo-link {
   display: flex;
   position: relative;
  }

  &__logo {
    height: 28px;
    transition: transform 1s ease-in-out, opacity 1s ease-in-out;
    transform: translateX(0);

    &:hover {
      // transform: scale(1.2);
      transform: translate(-1000%, -1000%);
    }

    // &:focus {
    //   opacity: 0;
    // }
  }

  &__menu {
    display: none;

    @include on-tablet {
      display: flex;
      gap: 114px;
    }
  }

  &-nav {

    &__list {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;

      gap: 48px;
    }

    &__item {
      transition: transform 0.3s ease-in-out;

      &:hover {
        transform: scale(1.2);
      }
    }

    &__link {
      // font-family: "Poppins", sans-serif;
      font-weight: 700;
      font-size: 13px;
      font-style: normal;
      letter-spacing: 3px;
      text-align: center;
      color: #FFFFFF;
      text-decoration: none;
    }
  }
}

.top-bar__link-hire-us::after {
  content: '';
  display: block;
  border-bottom: 2px solid #2060F6;
  padding-top: 8px;
  width: 100%;

  transition: transform 0.3s ease-in-out;
}

.top-bar__link-hire-us:hover:after {
  transform: scale(1);
}

.top-bar__link-hire-us {
  transition: transform 0.3s ease-in-out;
}

.top-bar__link-hire-us:hover {
  transform: scale(1.2);
}

.top-bar__logo-link::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('../images/Air-logo.svg') no-repeat center;
  background-size: contain;
  opacity: 0;
  transition: transform 1s ease-in-out, opacity 1s ease-in-out;
}

.top-bar__logo-link:hover:before {
  transform: translate(0, 0);
  opacity: 1;
}

