@import "vars";
@import "mixins";

.unusual-cards {
  margin: auto;
  text-align: center;
  padding: 0 32px ;
  position: relative;
  box-shadow: 16px 16px 32px rgba(0, 0, 0, 0.05);
  background: #fefefe;

  &__ground {
    position: relative;
    left: 0;
    height: 161px;
    margin-top: 40px;
  }

  &__photo {
    height: 123px;
    position: absolute;
    left: calc(50% - 50px);
    top: calc(0% + 90px);
  }

  &__text {
    font-size: 14px;
    font-style: italic;
    color: $dark-text-color;
    margin-top: 30px;

    &::after {
      display: block;
      content: "";
      height: 2px;
      width: 64px;
      background-color: $main-blue-color;
      margin: 31px auto;
    }
  }

  &__name {
    @include font(12px, 700);
    color: #152032;
  }

  &__position {
    text-transform: uppercase;
    color: $main-blue-color;
    letter-spacing: 2px;
    font-weight: 800;
    line-height: 1.5;
    padding-bottom: 58px;
  }
}
