.values {
  position: relative;
  background-color: $c-white;
  height: 100vh;
  max-height: 890px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__content {
    margin: 0 40px;
    text-align: center;
    max-width: 754px;
    z-index: 1;
  }

  &__title-big {
    @include sectionTitleLarge;
    color: $c-dark-gray;
    margin-bottom: 24px;
  }

  &__description {
    @include textDescriptionBold;
    color: #6c788b;
    margin-bottom: 64px;
  }

  &__apply {
    z-index: 1;
  }
}
