$colorHeaderBg:#2c2c2c;
$colorWhite: #fff;
$colorBlue: #2060f6;
$sliderButtonSize: 32px;
$colorSilverText: #6c788b;
$colorMessageHover: #144ed4;
$colorTitleBeforeAndAfter: #c0cdd7;
$colorPageBckg: #e5e5e5;
$colorLinkService: #334563;
