$primaryBlue: #2060f6;
$primaryBlueOpacity: rgba(32, 96, 246, 0.1);
$primaryBlueHover: #1545b7;
$textColorWhite: #fff;
$bgWhite: #f2f6fa;
$bgBlack: #2c2c2c;
$borderRadius: 30px;
$textColorBlack: #253757;
$textColorGray: #6c788b;
$textColorLightGrey: #c0cdd7;
$boxShadow: rgba(37, 41, 49, 0.03);
