$whiteTextColor: #fff;
$blueTextColor: #253757;
$greyTextColor: #6c788b;
$subtitleTextColor: #c0cdd7;

$greyBackgroundColor: #e5e5e5;
$darkBackgroundColor: #2c2c2c;
$whiteBackgroundColor: #fff;

$blueColor: #2060f6;
