$c-gray: #eee;
$font-size: 16;
$line-height: 1.5;
$margin_nav_item: #{$line-height*$font-size*2.6}px;
$margin_nav_item_fist-child: #{$line-height*$font-size*5.96}px;
$margin_nav_item_sixth-child: #{$line-height*$font-size*5.59}px;
