$mainColor: #56ccf2;
$pictureHeight: 640px;
$sliderWidth: 160px;
$sliderHeight: 65px;

@mixin flex-between {
  display: flex;
  justify-content: space-between;
}

@mixin flex-end {
  display: flex;
  justify-content: flex-end;
}

@mixin flex-start {
  display: flex;
  justify-content: center;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
}
