@use './index' as *;

.vis-pas-res {
  @include padd-inl;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding-block: 72px;

  @include tablet {
    background-image: url(../images/Shapesssss.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-block: 200px;
  }

  &__title {
    font-weight: 600;
    font-size: 44px;
    line-height: 120%;
    color: $color-violet;
    text-align: center;
    margin: 0;
  }

  &__text {
    margin-block: 24px 56px;
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    line-height: 150%;
    font-weight: 600;
    color: $color-grey;
    text-align: center;

    @include desktop {
      max-width: 750px;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 56px;
    width: 280px;
    background-color: $color-blue;
    border-radius: 8px;
    text-decoration: none;
    color: $color-white;

    @include poppins;

    @include tablet {
      max-width: 264px;
    }
  }
}
