.vision-passion-results {
  background-color: #FFFFFF;
  padding-top: 72px;
  padding-bottom: 72px;

  background-image: url('../images/background-for-vision-block.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &-text {
    font-family: Poppins;
    font-size: 44px;
    font-weight: 600;
    text-align: center;
    color: #253757;
  }

  &-description {
    padding-top: 24px;
    font-family: Open Sans;
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    color: #6C788B;
  }

  &-button {
    // @include pageGrid;
    display: flex;
    justify-content: center;

    padding-top: 56px;

    &-apply {
      width: 280px;
      height: 56px;
      border-radius: 8px;
      opacity: 0px;
      background-color: #2060F6;
      font-family: Poppins;
      font-size: 15px;
      font-weight: 600;
      text-align: center;
      color: #FFFFFF;

      box-sizing: border-box;
      border: none;

      // grid-column: 1 / -1;
    }
  }
}
