.vision {
  height: 691px;
  background-color: #fff;
  position: relative;

  &__container {
    max-width: 715px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 199px;
  }

  &__title {
    font-weight: 600;
    font-size: 52px;
    line-height: 150%;
    color: #253757;
    padding-bottom: 24px;
  }

  &__text {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    color: #6c788b;
    text-align: center;
    padding-bottom: 64px;
  }

  &__button {
    display: block;
    width: 226px;
    height: 56px;
    background: #2060f6;
    border-radius: 8px;

    font-weight: 600;
    font-size: 15px;
    line-height: 56px;
    text-align: center;
    color: #fff;

    text-decoration: none;
  }

  &__decoration {
    width: 45px;
    height: 18px;
    opacity: 0.5;
    border: 3px solid #2060f6;
    border-radius: 6px;
    transform: rotate(-65.1deg);
    position: absolute;

    &--small-first {
      top: 77px;
      left: 446px;
    }

    &--small-second {
      left: 481px;
      bottom: 177px;
    }

    &--small-third {
      right: 552px;
      bottom: 128px;
    }

    &--small-fourth {
      border-radius: 8px;
      width: 54px;
      height: 21px;
      top: 110px;
      right: 111px;
    }

    &--middle-first {
      border: 5px solid #2060f6;
      border-radius: 12px;
      width: 67px;
      height: 27px;
      bottom: 249px;
      left: 82px;
    }

    &--middle-second {
      border-radius: 12px;
      width: 86px;
      height: 34px;
      bottom: 214px;
      right: 314px;
    }

    &--middle-third {
      border-radius: 12px;
      width: 86px;
      height: 34px;
      top: 276px;
      right: 67px;
    }

    &--middle-fourth {
      border: 5px solid #2060f6;
      border-radius: 12px;
      width: 94px;
      height: 37px;
      left: 131px;
      bottom: 72px;
    }

    &--middle-fifth {
      border-radius: 12px;
      width: 86px;
      height: 34px;
      left: 233px;
      top: 72px;
    }

    &--big-first {
      border-radius: 12px;
      border: 5px solid #2060f6;
      width: 143px;
      height: 56px;
      bottom: 254px;
      left: 269px;
    }

    &--big-second {
      border-radius: 12px;
      border: 5px solid #2060f6;
      width: 143px;
      height: 56px;
      right: 215px;
      top: 131px;
    }

    &--big-third {
      border-radius: 12px;
      border: 5px solid #2060f6;
      width: 154px;
      height: 61px;
      right: 144px;
      bottom: 113px;
    }
  }
}
