.vision {
  background-color: $main-color;

  @include on-tablet{
    position: relative;
    overflow: hidden;
    background-image: url(/src/images/vision/Shapes.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 130%;
    margin-bottom: 0;
  }

  &__content{
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 72px 0;

  @include on-tablet{
    padding: 200px 0;
  }
  }

  &__title {
    @include title-text(600, $blue-title);
    font-size: 44px;
    line-height: 120%;
    letter-spacing: 0;
    text-align: center;
    margin: 0;

    @include on-tablet{
      font-size: 56px;
    }
  }

  &__description {
    @include description-text(600, $grey-description);
    font-size: 22px;
    line-height: 150%;
    letter-spacing: 0;
    text-align: center;
    margin: 0;
    padding: 24px 0 56px;
    max-width: 726px;
  }

  &__button {
    display: flex;
    width: 280px;
    height: 56px;
    border: none;
    border-radius: 8px;
    background-color: $button-color;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    @include title-text(600, $main-color);
    font-size: 15px;
    line-height: 100%;
    letter-spacing: 0;
    @include hover(background-color,#144ed4);
  }


}
