.vision-passion-results {
  background-color: #FFFFFF;
  background-image: url('../images/background-for-vision-block.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 120px;
  padding-block: 72px;

  @include on-tablet-mini {
    padding-block: 200px;
    margin: 0;
  }

  &-text {
    font-family: Poppins;
    font-size: 44px;
    font-weight: 600;
    text-align: center;
    color: #253757;
    margin: 0;
  }

  &-description {
    padding-top: 24px;
    font-family: Open Sans;
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    color: #6C788B;
    margin: 0;
  }

  &-button {

    display: flex;
    justify-content: center;
    padding-top: 56px;
    text-decoration: none;

    &-apply {
      width: 280px;
      height: 56px;
      border-radius: 8px;
      // opacity: 0px;
      background-color: #2060F6;
      font-family: Poppins;
      font-size: 15px;
      font-weight: 600;
      text-align: center;
      color: #FFFFFF;

      box-sizing: border-box;
      border: none;

      cursor: pointer;

      &:hover {
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5); /* Темна тінь при наведенні */
      }

      &:focus {
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.7); /* Ще темніша тінь при фокусі */
        outline: none; /* Видалення стандартної обводки */
      }
    }
  }
}
