.vision-passion-results {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include content-padding-in-line;

  @include on-tablet {
    background-image: url(../images/Shapes.png);
    background-size: cover;
    background-repeat: no-repeat;
  }

  &__title {
    margin: 0;
    padding: 72px 0 24px;
    font-family: $font;
    font-weight: 600;
    font-size: 44px;
    line-height: 52.8px;
    letter-spacing: 0.5px;
    text-align: center;
    color: #253757;

    @include on-tablet {
      font-size: 54px;
      padding: 200px 0 24px;
    }
  }

  &__p {
    margin: 0;
    padding-bottom: 56px;
    font-family: $fontS;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    letter-spacing: 0.5px;
    text-align: center;
    color: #6c788b;
    max-width: 754px;

    @include on-tablet {
      font-size: 24px;
    }
  }

  &__link {
    font-family: $font;
    font-weight: 600;
    font-size: 15px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    letter-spacing: 0.5px;

    background-color: #2060f6;
    min-width: 264px;
    height: 50px;
    border-radius: 8px;
    color: $header-color-text;
    transition: background-color 0.3s ease;
    margin-bottom: 72px;

    @include on-tablet {
      width: 264px;
      margin-bottom: 200px;
    }

    &:hover {
      background-color: #144ed4;
    }
  }
}
