.vision {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1600px;

  background-color: #fff;
  text-align: center;
  padding: 199px 0;
  font-weight: 600;
  overflow: hidden;

  &__heading {
    margin-bottom: 24px;
    font-size: 52px;
    font-weight: 600;
    color: $dark-text-color;
  }

  &__text {
    max-width: 754px;
    margin-bottom: 64px;
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    color: $text-color;
  }

  &__button {
    width: 226px;
    height: 56px;
    background-color: $pink;
    border-radius: 64px;
    
    font-size: 15px;
    line-height: 22px;
    color: #fff;
    border: none;
    outline: none;

    @include hover(box-shadow, 0 9px 18px rgba(37, 41, 49, 0.2));
  }

  &__back {
    &--1 {
      @include back-item($green-item, 1, 45%, 15%);
    }
    &--2 {
      @include back-item($green-item, 1, 30%, 80%);
    }
    &--3 {
      @include back-item($blue-item, 1.06, 65%, 85%);
    }
    &--4 {
      @include back-item($purple-item, 0.65, 80%, 5%);
    }
    &--5 {
      @include back-item($pink-item, 0.59, 20%, 10%);
    }
    &--6 {
      @include back-item($pink-item, 0.59, 58%, 75%);
    }
    &--7 {
      @include back-item($yellow-item, 0.59, 38%, 91%);
    }
    &--8 {
      @include back-item($blue-item, 0.47, 52%, 3%);
    }
    &--9 {
      @include back-item($purple-item, 0.37, 20%, 88%);
      
    }
    &--10 {
      @include back-item($purple-item, 0.31, 70%, 60%);
      
    }
    &--11 {
      @include back-item($yellow-item, 0.31, 15%, 20%);
    }
    &--12 {
      @include back-item($yellow-item, 0.31, 65%, 20%);
    }

    @media (max-width: 1250px) {
      &--1,
      &--2 {
        display: none;
      }
    }
    @media (max-width: 670px) {
      display: none;
    }
  }
  @media (max-width: 670px) {
    padding: 50px;

    &__heading {
      font-size: 30px;
    }
    &__text {
      font-size: 20px;
      margin-bottom: 30px;
    }
  }
}
