.voices {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;

    box-sizing: border-box;
    width: 100%;
    height: auto;
    padding: 32px 42px;
    border-radius: 16px;

    white-space: no-wrap;

    background-color: $main-color;

    @include on-tablet{
      width: 560px;
    }

    @include on-s-desktop{
      width: 290px;
    }

    @include on-m-desktop{
      width: 360px;
    }

    &::before{
      content: '';

      position: absolute;
      z-index: 100;
      inset: 0;

      border: 2px solid $button-color;
      border-radius: inherit;

      clip-path: inset(0 0 100% 0);

      transition: clip-path 0.3s;
    }

    &:hover::before{
      clip-path: inset(0 0 0 0);
    }

  &__avatar {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 196px;
    height: 196px;

    &::before,
    &::after {
      content: '';

      position: absolute;
      z-index: 1;
      transform: rotate(30deg);

      width: 44px;
      height: 110px;
      border-radius: 12px;

      background-color: $button-color;
    }

    &::before {
      top: 10px;
      left: 40px;
    }

    &::after {
      right: 40px;
      bottom: 10px;
    }
  }

  &__img {
    position: relative;
    z-index: 2;

    width: 110px;
    height: auto;
    border-radius: 50%;

  }

  &__decore {
    display: block;
    margin: 24px auto 8px;
  }

  &__decription {
    @include description-text(600, $grey-description);

    max-width: 360px;
    margin: 0;

    font-size: 13px;
    line-height: 150%;
    text-align: center;

    @include on-s-desktop{
      width: 250px;
    }
  }

  &__name {
    @include description-text(600, $blue-title);

    margin: 0;
    padding: 16px 0 4px;

    font-size: 13px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0;
  }

  &__job {
    @include title-text(700, $grey-eye-brown);

    margin: 0;

    font-size: 13px;
    line-height: 100%;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    white-space: nowrap;
  }
}
