.watchwords {
  position: relative;
  
  display: flex;
  align-items: center;
  flex-direction: column;

  background-color: #fff;

  &__title {
    margin-bottom: 24px;

    font-size: 52px;
    font-weight: 600;
    line-height: 150%;
    color: #253757;
  }

  &__text {
    margin-bottom: 79px;
    max-width: 740px;

    font-family: "Open Sans", Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 150%;
    text-align: center;
    color: #6c788b;
  }

  &__btn {
    @include button();
    
    padding: 15px 90px;

    color: #fff;
  }

  &__element {
    transition: background-color 0.3s ease-in-out;

    &:nth-child(4) {
      @include back-item(1, 45%, 15%);
    }
    &:nth-child(5) {
      @include back-item(1, 30%, 80%);
    }
    &:nth-child(6) {
      @include back-item(1.06, 65%, 85%);
    }
    &:nth-child(7) {
      @include back-item(0.65, 80%, 5%);
    }
    &:nth-child(8) {
      @include back-item(0.59, 20%, 10%);
    }
    &:nth-child(9) {
      @include back-item(0.59, 65%, 74%);
    }
    &:nth-child(10) {
      @include back-item(0.59, 37%, 89%);
    }
    &:nth-child(11) {
      @include back-item(0.47, 52%, 3%);
    }
    &:nth-child(12) {
      @include back-item(0.37, 13%, 90%);
    }
    &:nth-child(13) {
      @include back-item(0.31, 70%, 60%);
    }
    &:nth-child(14) {
      @include back-item(0.31, 15%, 20%);
    }
    &:nth-child(15) {
      @include back-item(0.31, 65%, 20%);
    }

    &:hover {
      background-color: $secondary-color;
      
      cursor: pointer;
    }

    @media (max-width: 1250px) {
      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(5),
      &:nth-child(6),
      &:nth-child(8),
      &:nth-child(4) {
        display: none;
      }

      &:nth-child(7) {
        @include back-item(0.59, 15%, 65%);
      }

      &:nth-child(3) {
        @include back-item(1.06, 65%, 75%);
      }
    }
    @media (max-width: 670px) {
      display: none;
    }
  }
  @media (max-width: 670px) {
    padding: 50px;

    &__text {
      font-size: 20px;
      margin-bottom: 30px;
    }
  }
}
