.welcome {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 504px;

  &__content {
    max-width: 750px;
    margin: 0 40px;
  }

  &__title {
    @include sectionTitleMiddle;
    color: $c-blue-dark;
    margin-bottom: 20px;
  }

  &__description {
    @include textDescriptionBold;
    color: #6c788b;

    &-text {
      display: inline;

      @media screen and (max-width: 540px) {
        display: block;
        padding-bottom: 15px;
      }
    }

    @media screen and (max-width: 540px) {
      font-size: 16px;
    }
  }
}
