@import "vars";

.welcome {
  width: 100%;
  padding-top: 165px;
  padding-bottom: 160px;
  background-color: $second-background-color;

  &__block {
    max-width: 735px;
    margin: 0 auto;
  }

  &__text {
    font-size: 24px;
    font-weight: 500;
    color: $text-color;
    line-height: 150%;
  }
}

@media screen and (max-width: 999px) {
  .welcome {
    &__block {
      margin: 0 30px;
    }
  }
}
