@import "utils/vars";

.welcome {
  $block-width: 742px;

  padding: 165px calc(50% - (#{$block-width} / 2)) 160px;

  background-color: #fcfcfd;

  &__article {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.5;
    color: $c-blue;
  }

  &__title {
    margin-bottom: 19px;
  }
}
