.what-we-do {
  background-color: $background-c-white;
  @include contentPaddingInline;
  border-radius: $blocks-border-radius;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 72px;
  padding-bottom: 72px;

  @include onTablet {
    padding-top: 128px;
    padding-bottom: 128px;
  }

  &__header {
    @include forSiteTexts;
    font-size: 44px;
    line-height: 53px;

    @include onTablet {
      line-height: 78px;
    }
  }

  &__cards {
    margin: 0 auto;

    @include onDesctop {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 56px;
    max-width: 362px;
    padding: 10px 0;
    transition: all 0.3s ease-in-out;


    @include onTablet {
      margin-top: 64px;
      
      &:hover {
        background: $c-gray;
        border-radius: $card-border-radius;
        box-shadow: 0 18px 9px 0 rgba(37, 41, 49, 0.03);
        transform: scale(110%);
        cursor: pointer;
      }
    }

    @include onDesctop {
      max-width: 214px;

      &:not(:last-child) {
        margin-right: 137px;
      }
    }
  }

  &__image {
    height: 166px;
    width: 184px;
    border-radius: $card-border-radius;
  }

  &__card__title {
    @include forSiteTexts;
    font-size: 20px;
    line-height: 28px;
    padding-top: 32px;
  }

  &__card__description {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    line-height: 21px;
    padding-top: 16px;

    @include onTablet {
      max-width: 362px;
    }
  }
}
