@import "vars";
@import "mixins";

.what-we-do {
  display: grid;
  grid-template-columns: repeat(3, 264px);
  justify-content: space-between;

  &__title {
    display: block;
    text-align: center;
    transform: translateY(-50%);
    color: 63;
    font-weight: 900;
    font-size: 48px;
    margin-bottom: 136px;
  }
}

@media screen and (max-width: 1450px) {
  .what-we-do {
    grid-template-columns: repeat(3, 264px);
    justify-content: center;
    column-gap: 50px;
  }
}

@media screen and (max-width: 999px) {
  .what-we-do {
    grid-template-columns: repeat(1, 500px);
    justify-content: center;
    padding: 0 20px;
  }

}

@media screen and (max-width: 500px) {
  .what-we-do {
    grid-template-columns: 264px;
    justify-content: center;
    padding: 0 20px;
  }

}
