@import "vars";

.what-we-do {
  position: relative;
  padding-top: 136px;
  padding-bottom: 162px;

  &__heading {
    position: absolute;
    text-align: center;
    width: 561px;
    font-size: 48px;
    font-weight: 900;
    line-height: 48px;
    color: #253757;
    top: -24px;
    left: calc((100% - 561px) / 2);
  }

  &__items {
    display: flex;
    justify-content: flex-start;
    margin-left: 15%;
  }

}

.what-we-do__article {
  width: 264px;
  margin-right: 125px;

  &__img {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    margin-bottom: 64px;
  }

  &__heading {
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 32px;
    line-height: 140%;
  }

  &__text {
    line-height: 150%;
  }
}

@media screen and (max-width: 999px) {
  .what-we-do {
    &__items {
      flex-direction: column;
      align-items: center;
    }
  }

  .what-we-do__article {
    margin-bottom: 30px;
  }
}
