.white-card {
  display: flex;
  flex-direction: column;
  padding: 32px;
  background-color: $white-color;
  border-radius: 16px;

  &__number {
    width: 46px;
    height: 24px;
    border-radius: 23px;
    background-color: #e9effe;
    padding-top: 3px;

    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 19px;
    text-align: center;
    color: $blue-color;
  }

  &__description {
    width: 200px;
    padding: 26px 0 32px;

    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 21px;
    color: $gray-color;
  }

  &__link {
    display: flex;
    align-items: center;
  }

  &__arrow {
    width: 40px;
    height: 40px;
    padding: 12px;
    background-color: $blue-color;
    border-radius: 50%;
  }

  &__text {
    padding-left: 15px;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    color: #334563;
  }

}
