.who-we-are {
  font-size: 32px;
  line-height: 48px;
  color: $blackBlueColorOfPage;

  background-color: $blueBackgroundColorOfPage;
  padding: 120px 20px 120px;
  height: 100%;

  margin-bottom: 128px;

  @include onTable {
    padding: 148px 40px 148px;
  }

  @include onSmallDesktop {
    padding: 148px 154px 148px;
  }

  @include onDesign {
    padding: 148px 423px 148px;
  }

  @include onLargeScreen {
    padding: 148px 903px 148px;
  }


  &__title {
    margin-bottom: 24px;

    @include onTable {
      margin-bottom: 16px;
    }
  }

  &__text {
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    color: $textColor;

    text-align: center;
  }
}
