.who-we-are {

  .who-we-are__title {
    font-size: 32px;
    font-weight: 600;
    font-family: $poppins;
    line-height: 48px;
    text-align: center;
    color: $block-names;
    margin-bottom: 24px;
    margin-top: 120px;

    @include onTablet {
      margin-top: 148px;
      margin-bottom: 16px;
    }

    @include onSmallDesktop {
      margin-top: 148px;
      margin-bottom: 16px;
    }

    @include onDesktop {
      margin-top: 148px;
      margin-bottom: 16px;
    }

  }

  .who-we-are__container {
    @include PageGrid;
    padding-bottom: 120px;
    justify-content: center;

    @include onTablet {
      padding-bottom: 148px;

    }

    @include onSmallDesktop {
      padding-bottom: 148px;

    }

    @include onDesktop {
      padding-bottom: 148px;

    }

  }

  .who-we-are__desc {
    font-family: $open-sans;
    font-size: 22px;
    font-weight: 600;
    line-height: 33px;
    text-align: center;
    color: #6c788b;
    grid-column: -1 / 1;

    @include onTablet {
      grid-column: span 6;

    }

    @include onSmallDesktop {
      grid-column: 2 / 12;

    }

    @include onDesktop {
      grid-column: 2 / 12;

    }

  }
}
