.who-we-are {
  @include pageGrid;

  &__title {
    font-family: Poppins;
    font-size: 32px;
    font-weight: 600;
    line-height: 48px;
    text-align: center;
    color: #253757;

    // text-align: center;
    margin: 0;
    padding-top: 120px;

    grid-column: 1 / -1;
  }

  &__content {
    grid-column: 1 / -1;
  }

  &__description {
    font-family: "Open Sans";
    font-size: 22px;
    font-weight: 600;
    line-height: 33px;
    text-align: center;
    color: #6C788B;
    margin: 0;
    padding-top: 24px;
    padding-bottom: 120px;
  }
}
