
.who {
  padding: 148px 30px;
  font-weight: 600;

  &__name {
    font-size: 32px;
    color: $dark-text-color;
  }
  
  &__text {
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    color: $text-color;
  }

  @media (max-width: 800px) {
    & {
      padding: 50px 30px;
    }
    &__text {
      font-size: 16px;
    }
  }
}
