.who {
  padding-block: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-inline: 20px;
  background-color: #f2f6fa;

  @media (min-width: 640px) {
    padding: 148px 154px;
  }

  @media (min-width: 1600px) {
    padding: 148px 200px;
  }

  @media (min-width: 2560px) {
    padding: 148px 700px;
  }
}

.who__content {
  gap: 24px;
  display: grid;
  grid-column: 1 / -1;
  max-width: 716px;

  // @media (min-width: 640px) {
  // padding-top: 147px;

  // }

  @media (min-width: 1024px) {
    padding-top: 0;
    grid-column: 2 / 12;
  }

  @media (min-width: 1600px) {
    grid-column: 3 / 11;
  }
}

.who__title {
  margin: 0;
  padding: 0;
}

.who-title {
  margin: 0;
  padding: 0;
  font-size: 32px;
  font-weight: 600;
  color: #253757;
  line-height: 48px;
}

.who__text {
  margin: 0;
  padding: 0;
}

.who-text {
  margin: 0;
  padding: 0;
  font-size: Open Sans;
  font-size: 22px;
  font-weight: 600;
  color: #6c788b;
  text-align: center;
  line-height: 33px;
}
