.whoWeAre {
  &__content {
    max-width: 754px;
    margin: 0 auto;
  }

  &__title {
    color: var(--text-100, #253757);
    text-align: center;
    font-family: "Poppins", "Open Sans", sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
  }

  &__text {
    color: #6c788b;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 36px */
  }
}
