.title {
  font-family: Poppins, sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 150%;
  text-align: center;
  color: $main-title-color;
  letter-spacing: 0;
  vertical-align: middle;
}

.description {
  font-size: 22px;
  font-weight: 600;
  color: $main-descriptions-color;
  text-align: center;
}

.label {
  font-size: 13px;
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
  color: $label-color;
  letter-spacing: 3px;
  text-align: left;
}
