.testimonials {
  padding: 0 20px 120px;

  @include onTablet {
    padding: 0 41px 148px;
  }

  &__sub-title {
    margin-bottom: 16px;

    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #c0cdd7;
  }

  &__title {
    margin-bottom: 48px;

    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 130%;
    text-align: center;
    color: #253757;

    @include onTablet {
      width: 200px;
      text-align: left;
    }

    @include onDesktop {
      width: 200px;
      text-align: left;
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;

    @include onDesktop {
      flex-direction: row;
      gap: 30px;
    }
  }

  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 75px 37px 32px;

    background-color: #fff;
    box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
    border-radius: 16px;
    transition: transform 300ms;

    &:hover {
      transform: scale(1.1);
    }

    @include onTablet {
      padding: 87px 115px 32px;
    }

    @include onDesktop {
      flex-basis: 33.33%;
    }
  }

  &__image-container {
    position: relative;
    margin-bottom: 140px;

    &::before {
      content: "";
      position: absolute;
      top: -5px;
      right: 25px;
      display: block;
      width: 109px;
      height: 44px;
      background-color: #2060f6;
      border-radius: 12px;
      transform: rotate(-60deg);
    }

    &::after {
      content: "";
      position: relative;
      top: 65px;
      left: 38px;
      display: block;
      width: 100px;
      height: 44px;
      background-color: #2060f6;
      border-radius: 12px;
      transform: rotate(-60deg);
    }
  }

  &__image {
    position: absolute;
    width: 100px;
    border-radius: 50%;
    z-index: 1;
  }

  &__text {
    margin-bottom: 16px;

    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 13px;
    line-height: 150%;
    text-align: center;
    color: #6c788b;

    &::before {
      content: "";
      display: block;
      margin: 0 auto 11px;
      width: 20px;
      height: 18px;
      background-image: url(../images/icons/testimonials-icon.svg);
    }
  }

  &__name {
    margin-bottom: 4px;

    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 13px;
    line-height: 150%;
    color: #253757;
  }

  &__job {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #c0cdd7;
  }
}
