.vision {
  width: 100%;
  height: 100%;
  padding: 72px 20px;
  background-color: #fff;

  @media screen and (min-width: 640px) {
    background: url(../images/vision/shapes.svg);
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 150%;
  }

  @media screen and (min-width:639px) and (max-width:1023px) {
    padding: 200px 41px;
  }

  @media screen and (min-width:1024px) and (max-width:1279px) {
    padding: 200px 135px;
    background-size: contain;
  }

  @media screen and (min-width:1280px) and (max-width:1599px) {
    padding: 200px 135px;
    background-size: contain;
  }

  @media screen and (min-width:1600px) and (max-width:2560px) {
    padding: 200px 0;
    background-size: contain;
  }

  &__title {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 44px;
    line-height: 120%;
    text-align: center;
    color: #253757;
    margin: 0 0 24px;

    @media screen and (min-width:639px) and (max-width:2560px) {
      font-size: 52px;
    }
  }

  &__desc {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 22px;
    line-height: 150%;
    text-align: center;
    color: #6c788b;
    margin: 0 0 56px;

    @media screen and (min-width:639px) and (max-width:2560px) {
      font-size: 24px;
    }
  }

  &__button {
    display: block;
    width: 100%;
    height: 56px;
    line-height: 56px;
    text-align: center;
    color: #fff;
    background-color: #2060f6;
    border-radius: 8px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 15px;
    cursor: pointer;
    transition: 0.2s;

    &:hover {
      transform: scale(1.02);
    }

    &:active {
      background-color: #fff;
      color: #144ed4;
      transform: scale(0.99);
      border: 1px solid #144ed4;
    }

    @media screen and (min-width:639px) and (max-width:2560px) {
      max-width: 264px;
      margin: 0 auto;
    }
  }
}
