.section {
  &__container {
    @include content-padding-inline;
  }

  &__title {
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    line-height: 150%;

    color: $main-title-color;
  }

  &__subtitle {
    color: $main-subtitle-color;
    text-align: left;
    font-family: Poppins, sans-serif;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 3px;
    text-transform: uppercase;
  }
}
