// #region tablet
@include media-breakpoints ($sm, ".header") {

  &__container-menu {
    padding: 18px $sm-padding-L-R;
  }

  &__container {
    gap: 147px - 20px;
  }

  &__content {
    gap: 60px;

    padding: 20px $sm-padding-L-R;
    margin-top: 104px - 20px - 73.5px;
  }

  &__title {
    @include font-style ($default-font, 600, 64px, 68px, -2px);
  }

  &__text {
    width: 362px;
  }

  &__btn {
    width: 264px;
  }
}

@include media-breakpoints ($sm, ".burger-menu") {
  &__box {
    margin-bottom: 41px;
  }

  &__block {
    padding: 20px $sm-padding-L-R;
  }
}

@include media-breakpoints ($sm, ".slides") {

  &__container {
    padding: 20px $sm-padding-L-R;
  }
}
// #endregion

// #region desktop
@include media-breakpoints ($lg, ".header") {

  &__container-menu {
    @include padding-lg;
    @include paddings-top-bottom (48px, 48px);
  }

  &__container {
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
  }

  &__content {
    padding: 0 $lg-padding-L-R;
    @include padding-lg;
    @include paddings-top-bottom (0, 0);
    gap: 83px;

    margin-top: 240px - 129.5px;
    width: 355px;
  }
}

@include media-breakpoints ($lg, ".top-bar") {

  &__item {

    &:nth-child(2) {
      display: none;
    }
  }
}

@include media-breakpoints ($lg, ".menu") {

  &__list {
    flex-direction: row;
    gap: 48px;
  }

  &__top-item {
    &:nth-child(-n + 4) {
      display: flex;
    }

    &:last-child {
      margin-left: 114px - 48px;
    }
  }

}

@include media-breakpoints ($lg, ".slides") {
  width: 50%;
  height: 680px;
  border-radius: 30px 0;

  &__container {
    padding: 48px $lg-padding-L-R;
    flex-direction: row;
  }
}
// #endregion

// #region the design
@include media-breakpoints ($xxl, ".header") {
  &__container-menu {
    @include padding-xxl;
    @include paddings-top-bottom (48px, 48px);
  }

  &__content {
    padding: 0 $xxl-padding-L-R;
    @include padding-xxl;
    @include paddings-top-bottom (0, 0);
    padding-right: 0;
  }
}

@include media-breakpoints ($xxl, ".menu") {

  &__top-item {
    &:last-child {
      margin-left: 229px - 48px;
    }
  }
}
// #endregion
