.slides {
  display: flex;
  align-items: flex-end;

  width: 100%;
  height: 390px;
  border-radius: 30px;

  &__slide {
    background-size: cover;
    background-position: center;

    &--1 {
      background-image: url(../images/slides/slede-1.png);
    }

    &--2 {
      background-image: url(../images/slides/slede-2.png);
    }

    &--3 {
      background-image: url(../images/slides/slede-3.png);
    }

    &--4 {
      background-image: url(../images/slides/slede-4.png);
    }
  }

  &__container {
    @extend %flex-column;
    gap: 16px;

    padding: 18px $initial-padding-L-R;
  }

  &__content {
    @extend %flex-column;
    gap: 8px;
  }

  &__title {
    text-transform: uppercase;
    @include font-style ($default-font, 700, 13px, 19.5px, 3px);
  }

  &__text {
    @include font-style ($secondary-font, 400, 14px, 19.6px, 0);
  }

  &__navigation {
    @extend %inline-flex;
    gap: 16px;
  }

  &__switch {
    width: 32px;
    height: 32px;

    background-repeat: no-repeat;
    background-position: center;
    background-color: $white;

    border-radius: 50%;

    &--right {
      background-image: url(../icon/arrow-right-gray.svg);
    }

    &--left {
      background-image: url(../icon/arrow-left-gray.svg);
    }
  }

  [type="radio"] {
    display: none;
  }
}
