.button {
  display: block;
  width: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: $white-text-color;
  font-weight: 700;
  font-size: 16px;
  line-height: 56px;
  height: 56px;
  background-color: #2060f6;
  border-radius: 8px;
  border: none;
  transition: all 500ms ease;

  &:hover {
    @include hover(box-shadow, inset 0 0 0 3px #2060f6);
    @include hover(color, #2060f6);
    @include hover(background-color, $white-text-color);

    cursor: pointer;
  }

  &:active {
    background-color: $white-text-color;
    color: #2060f6;
  }
}
