.button {
  display: block;
  width: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  line-height: 56px;
  height: 56px;
  background-color: #2060F6;
  border-radius: 8px;
  border: 0;

  &:hover {
    background-color: #fff;
    color: #2060F6;
  }

  &:active {
    background-color: #fff;
    color: #2060F6;
  }
}
