.nav {
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__link {
    color: #fff;
    text-decoration: none;

    font-family: Poppins, sans-serif;
    font-size: 13px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 3px;

    text-transform: uppercase;
    transition: all 1s ease;

    &:hover {
      @include hover(color, #2060f6);
    }

    &--hire-us {
      text-align: center;
      display: block;
      text-transform: uppercase;
      padding-bottom: 5px;
      cursor: pointer;
      width: fit-content;
      border-bottom: 2px solid #2060f6;
    }
  }
}
