.socials {
  display: flex;
  flex-direction: row;
  gap: 32px;

  &__facebook {
    background-image: url(/src/images/socials/facebook\ 1.png);
  }

  &__inst {
    background-image: url(/src/images/socials/instagram.png);
  }

  &__tweet {
    background-image: url(/src/images/socials/twitter\ 1.png);
  }
}

.icon {
  height: 32px;
  width: 32px;
  display: block;
  background-size: cover;
  background-position: center;
  transition: all 1s ease;

  &:hover {
    @include hover(
      filter,
      invert(60%) sepia(76%) saturate(1629%) hue-rotate(206deg) brightness(79%)
        contrast(115%)
    );
  }
}
