.testimonials {
  @include grid;
  grid-template-rows: 132px 494px;
  row-gap: 85px;

  padding-bottom: 168px;

  &__header {
    grid-row: 1/2;
    grid-column: 1/5;
    width: 314px * 3 + 102px * 2;
    margin: 0 auto 85px;
  }
  &__cards {
    grid-row: 2/3;
    grid-column: 1/13;
  }
}
