.button {
  display: inline-block;
  padding: 0;
  justify-self: center;
  width: 100%;
  max-width: 280px;
  height: 50px;
  font-family: Poppins, sans-serif;
  font-weight: 600;
  font-size: 15px;
  line-height: 50px;
  letter-spacing: 0;
  text-align: center;
  color: $white-main-color;
  background-color: $dark-blue;
  border: none;
  border-radius: 8px;
  text-decoration: none;

  &--footer {
    background-color: $dark-blue-footer;
    
    @include hover(transform, translateY(-5px));
    @include hover(box-shadow, 0 7px 15px 4px rgba(0, 0, 0, 0.75));
    @include hover(background-color, #043fc7)
  }

  @include on-tablet {
    width: 264px;
  }

  @include hover(transform, translateY(-5px));
  @include hover(box-shadow, 0 7px 15px 4px rgba(0, 0, 0, 0.75));
  @include hover(background-color, #043fc7);
}
