.button {
  &__link {
    @extend %center;
    align-items: center;
    background-color: $link-blue;
    width: 280px;
    height: 50px;
    border-radius: 8px;
    margin-bottom: 48px;
    width: 280px;
    height: 50px;
    @extend %title;
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    line-height: 22px;
  }
}
