@import "../utils/vars";

.section {
  &__suptitle {
    color: #c0cdd7;
    font-weight: bold;
    font-size: 13px;
    text-transform: uppercase;
  }

  &__title {
    color: #253757;
    font-weight: bold;
    font-size: 32px;
  }
  &__bottom {
    background-color: $c-white;
  }

  &__container {
    width: 1020px;
    margin: auto;
  }
}

@media only screen and (max-width: 1800px) {
  .section__container {
    width: 80%;
  }
}
