@use '../../abstracts' as a;

.service-card {
  display: flex;
  flex-direction: column;

  height: 100%;
  padding: 32px;
  border-radius: 16px;

  background-color: a.$clr-white;

  &__title {
    @include a.heading-md;

    color: a.$clr-blue-dark;
  }

  &__features {
    @include a.body-sm;

    color: a.$clr-blue-muted;
  }

  &__icon {
    background-color: a.$clr-blue-accent;
  }

  &__link-wrapper {
    display: flex;
    gap: 16px;
    align-items: center;

    width: 151px;
    margin-top: 28px;

    color: a.$clr-blue-dark-soft;

    @include a.button-text;
  }

  &__link {
    @include a.hover(color, a.$clr-blue-accent);
  }

  @include a.hover(scale, 1.1);
}
