.our-expertise {
  @include container;

  background-color: #fff;
  border-radius: 30px;
  text-align: center;
  padding-top: 72px;
  padding-bottom: 72px;

  @include tablet {
    padding-top: 128px;
    padding-bottom: 128px;
  }

  @include small-desktop {
    padding-bottom: 134px;
  }

  &__title {
    @extend %h2;

    color: $main-text-color;
    line-height: 120%;
    margin: 0;

    @include tablet {
      font-size: 52px;
      line-height: 150%;
    }
  }

  &__types {
    @include small-desktop {
      display: flex;
      justify-content: space-around;
      gap: 137px;
    }

    @include the-design {
      gap: 177px;
    }
  }
}
