.elm-anim {
  opacity: 0;
  transition: all $animation-duration-medium ease;
  transition-delay: $animation-delay-small;

  &--left {
    transform: translateX(-25%);
  }

  &--right {
    transform: translateX(25%);
  }

  &--down {
    transform: translateY(10%);
  }

  &--duration-s {
    transition-duration: $animation-duration-small;
  }

  &--duration-m {
    transition-duration: $animation-duration-medium;
  }

  &--duration-l {
    transition-duration: $animation-duration-large;
  }

  &--delay-s {
    transition-delay: $animation-delay-small;
  }

  &--delay-m {
    transition-delay: $animation-delay-medium;
  }

  &--delay-l {
    transition-delay: $animation-delay-large;
  }

  &.elm-show {
    transform: translate(0);
    opacity: 1;
  }
}
