@keyframes slideshow {
  0% {
    background-image: url("/images/slider/Photo1.png");
  }

  25% {
    background-image: url("/images/slider/Photo1.png");
  }

  33% {
    background-image: url("/images/slider/Photo3.png");
  }

  58% {
    background-image: url("/images/slider/Photo3.png");
  }

  66% {
    background-image: url("/images/slider/Photo4.png");
  }

  91% {
    background-image: url("/images/slider/Photo4.png");
  }

  100% {
    background-image: url("/images/slider/Photo1.png");
  }
}
