.container {
  box-sizing: content-box;
  max-width: 100%;
  padding: 0 20px;
  margin: 0 auto;

  @include onDesktop {
    max-width: 1146px;
  }

  @include onLaptop {
    width: 916px;
  }

  @include onTablet {
    width: 558px;
  }

  &--1 {
    position: relative;
  }
}
