%font-open-weight-normal {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  letter-spacing: 0;
}

%font-open-weight-semi-bold {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  letter-spacing: 0;
}

%font-Poppins-weight-semi-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

%font-Poppins-weight-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

%h1 {
  @extend %font-Poppins-weight-semi-bold;
  font-size: 52px;
  line-height: 62px;
  letter-spacing: -2px;
  color: $colorWhite;
  text-align: left;
}

%h2 {
  @extend %font-Poppins-weight-semi-bold;
  font-size: 44px;
  line-height: 53px;
  letter-spacing: 0;
  color: $colorOriginalBlue;
  text-align: center;
}

%h3 {
  @extend %font-Poppins-weight-semi-bold;
  font-size: 32px;
  line-height: 48px;
  letter-spacing: 0;
  color: $colorOriginalBlue;
  text-align: center;
}

%h4 {
  @extend %font-Poppins-weight-semi-bold;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0;
  color: $colorOriginalBlue;
  text-align: center;
}

%h5 {
  @extend %font-Poppins-weight-bold;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 3px;
  color: $colorLightGray;
  text-align: left;
  text-transform: uppercase;
}
