%poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

%poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

%open-sans-reg {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

%open-sans-semibold {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}
