%setOpenSans {
  font-family: "Open Sans", sans-serif;
}

%setPoppin {
  font-family: "Poppins", sans-serif;
}

%header__top-text {
  font-weight: 700;
  font-size: 13px;
  letter-spacing: 3px;
  line-height: 19px;
  color: inherit;
  text-decoration: none;
}
