%h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

%position-center {
  background-position: center;
  background-repeat: no-repeat;
}

%pseudo-absolute {
  content: "";
  position: absolute;
}

%decor-text {
  font-weight: bold;
  font-size: $main-font-size;
  line-height: 19px;

  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
}
