body {
	font-family: "Muli", sans-serif;
}

.button {
	height: 56px;
	width: 256px;
	border-radius: 64px;
	border: none;
	font-weight: bold;
	font-size: 16px;
	line-height: 150%;
	transition: all 0.3s ease-in-out;

	&:hover {
		background-color: $c-text-white;
		border: 1px solid $c-button;
		color: $c-button;
		cursor: pointer;
	}

	&:active {
		transform: scale(0.95);
	}
}

.container {
	max-width: 1150px;
	margin: 0 auto;
	padding: 0 15px;
}

.section-name {
	display: flex;
	align-items: center;

	&__icon-blue {
		background-image: url("../../images/section__icon.svg");
		background-position: center;
		background-repeat: no-repeat;
		height: 21px;
		width: 21px;
	}

	&__icon-white {
		background-image: url("../../images/section__icon-white.svg");
		background-position: center;
		background-repeat: no-repeat;
		height: 21px;
		width: 21px;
	}

	&__title {
		font-weight: 800;
		font-size: 16px;
		line-height: 150%;
		letter-spacing: 2px;
		text-transform: uppercase;
		text-indent: 16px;
		color: $c-text-blue;
	}

	&__title-white {
		font-weight: 800;
		font-size: 16px;
		line-height: 150%;
		letter-spacing: 2px;
		text-transform: uppercase;
		text-indent: 16px;
		color: $c-text-white;
	}
}

.main {
	position: relative;
}

h3 {
	padding: 19px 0 64px;
	color: $c-text-black;
}

p {
	color: $c-text-black;
}

input {
	border: none;
}

.background__blue {
	background: linear-gradient(0deg, #56ccf2, #56ccf2);
}

.background__yellow {
	background: #fcc304;
}

.background__green {
	background: linear-gradient(0deg, #03d542, #03d542);
}

.background__red {
	background: #f25656;
}

.blue {
	color: #56ccf2;
}

.yellow {
	color: #fcc304;
}

.green {
	color: #03d542;
}

.red {
	color: #f25656;
}
