@keyframes slidein {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

@keyframes pulsate {
  0% {
    opacity: 100%;
    color: #334563;
  }

  50% {
    opacity: 50%;
    color: $main-color;
  }

  100% {
    opacity: 100%;
  }
}
