@media (min-width: 2560px) {
  .header {

    &__title {
      font-size: ($header-title-size / 3) * 5;
    }

    &__text {
      font-size: ($header-text-size / 3) * 5;
      margin-top: 48px;
    }

    &__image {
      @include image($header-image-size-wide);
    }

    &__button {
      @include button($header-slider-button-design);
    }

    &__learn-link {
      height: 75px;
      width: 300px;
      margin-top: 83px;
      font-size: 22px;
    }
  }

  .nav {
    &__logo {
      margin: 32px 0;
      height: 52px;
      width: 98px;
    }

    &__link {
      font-size: 20px;

      &--is-active::after {
        height: 6px;
      }
    }

  }

  .slider {
    &__title {
      font-size: 20px;
    }

    &__description {
      font-size: 20px;
    }
  }
}

@media (min-width: 1280px) and (max-width: 1599px) {
  .header {
    &__nav {
      margin: 0 $left-margin-notebook;
    }

    &__content {
      margin-left: $left-margin-notebook;
    }
  }
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .header {
    &__nav {
      margin: 0 $left-margin-tablet;
    }

    &__content {
      margin-left: $left-margin-tablet;
    }

    &__image {
      @include image($header-image-size-tablet);
    }

  }

  .slider {
    @include slider($header-slider-button-tablet);

    &__button {
      @include button($header-slider-button-tablet);
    }
  }
}

@media (max-width: 1023px) {
  .header {
    &__content {
      flex-direction: column;
      margin-left: 0;
    }

    &__article {
      width: 100%;
    }

    &__nav {
      margin: 0 $left-margin-tablet;
    }

    &__title {
      font-size: ($header-title-size / 3) * 2;
      margin-top: 48px;
      margin-left: 0;
      padding-left: $left-margin-tablet;
    }

    &__text {
      font-size: ($header-text-size / 3) * 2;
      margin-top: 72px;
      padding-left: $left-margin-tablet;
    }

    &__learn-link {
      margin: 96px auto 0;
    }

    &__image {
      margin-top: 48px;
      width: $header-image-size-mobile;
      height: 100vw;
      border-radius: 0 0 10px 10px;
    }
  }

  .nav {
    display: flex;
    flex-direction: column;
    height: auto;

    &__logo {
      margin: 32px 0;
      height: 52px;
      width: 98px;
    }

    &__list {
      width: 100%;
      flex-direction: column;
      margin: 0;
    }

    &__item {
      box-sizing: border-box;
      display: block;
      margin: 0;
      text-align: center;

      &--hire-us {
        width: 100%;
        display: flex;
      }
    }

    &__link {
      display: block;
      padding: 16px 0;
      width: 100%;
      text-align: center;

      &--is-active::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 2px;
        border-radius: 4px;
        background-color: #2060f6;
      }
    }
  }

  .slider {
    bottom: 16px;
    left: 16px;

    &__description {
      font-size: ($block-text-s-size / 3) * 2;
    }
  }
}
