@mixin on-tablet {
  @media (min-width: $tablet-min-width) {
    @content;
  }
}

@mixin on-small-desktop {
  @media (min-width: $small-desktop-min-width) {
    @content;
  }
}

@mixin on-desktop {
  @media (min-width: $desktop-min-width) {
    @content;
  }
}

@mixin on-design {
  @media (min-width: $design-min-width) {
    @content;
  }
}

@mixin on-large-screens {
  @media (min-width: $large-screens-min-width) {
    @content;
  }
}

@mixin content-padding-inline() {
  padding-inline: 20px;
  max-width: 1146px;
  margin: 0 auto;
  width: 100%;

  @include on-tablet {
    padding-inline: 41px;
  }

  @include on-small-desktop {
    padding-inline: 52px;
  }
}

@mixin page-grid {
  --columns: 2;

  display: grid;
  align-items: center;
  column-gap: 20px;
  grid-template-columns: repeat(var(--columns), 1fr);

  @include content-padding-inline;

  @include on-tablet {
    --columns: 6;

    column-gap: 30px;
  }

  @include on-small-desktop {
    --columns: 12;

    column-gap: 20px;
  }

  @include on-desktop {
    column-gap: 30px;
  }
}

@mixin hover($_property, $_toValue) {
  transition: #{$_property} $transition-time;
  &:hover {
    #{$_property}: $_toValue;
  }
}

@mixin button-styles {
  display: block;
  text-align: center;
  background-color: $button-background-color;
  color: $title-text-color;
  font-family: Poppins, sans-serif;
  text-decoration: none;
  font-size: 15px;
  font-weight: 600;
  border-radius: 64px;

  @include hover(background-color, $button-hover-background-color);
}
