@mixin onTablet {
  @media (min-width: $tablet-width) {
    @content;
  }
}

@mixin onDesktop-s {
  @media (min-width: $desktop-width--s) {
    @content;
  }
}

@mixin onDesktop-m {
  @media (min-width: $desktop-width--m) {
    @content;
  }
}

@mixin onDesktop-l {
  @media (min-width: $desktop-width--l) {
    @content;
  }
}

@mixin centered {
  margin-inline: auto;
}

@mixin transition {
  transition: all 500ms ease-in-out;
}

@mixin scale-1-1 {
  transform: scale(1.1);
}
