* {
  box-sizing: border-box;
}

.page {
  font-family: "Open Sans", sans-serif;
  &__body {
    margin: 0;
  }
}

h2,
h3 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  color: $title-color;
}

a {
  text-decoration: none;
}
