.process {
  background-color: #e5e5e5;
  padding-top: 160px;
  padding-bottom: 290px;

  & .container {
    position: relative;
  } 

  &__wrapper {
    max-width: 362px;
  }

  &__title {
    font-weight: 900;
    font-size: 32px;
    line-height: 140%;
  }

  &__text {
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 25px;
  }

  &__block {
    position: absolute;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 48px 32px;
    box-sizing: border-box;
    height: 256px;
    width: 240px;
    background-color: $c-text-white;
    box-shadow: 16px 16px 16px rgba(0, 0, 0, 0.02);

    &:nth-child(3) {
      top: 65px;
      right: 0;
    }

    &:nth-child(5) {
      top: 480px;
      right: 0;
    }

     &:nth-child(2) {
      top: 176px;
      right: 298px;
    }

     &:nth-child(4) {
      top: 580px;
      right: 298px;
    }          
  }

  .background {
    margin-bottom: 32px;
    height: 48px;
    width: 48px;
    border-radius: 50%;
    opacity: 0.1;

    & + span {
      position: absolute;
      font-weight: 900;
      font-size: 40px;
      line-height: 150%;
      top: 65px;
    }

    &__text {
      font-size: 12.6px;
      line-height: 150%;
      text-align: center;
    }
  }
}
