*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  background: $c-gray;
  font-family: Poppins, sans-serif;
}

.page {
  scroll-behavior: smooth;
}

ul,
ol {
  list-style: none;
  padding: 0;
}

a{
  text-decoration: none;
  color: #fff;
}

img {
  max-width: 100%;
  display: block;
}
