
html,
body,
main,
div,
ul,
li,
p {
  margin: 0;
  padding: 0;
}

h3 {
  font-family: Popins, sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 1.5em;
  color: $title-grey;
}

h2 {
  font-family: Popins, sans-serif;
  font-size: 52px;
  font-weight: 600;
  line-height: 1.5em;
  color: $title-grey;
}
