.social {
	position: absolute;
	display: flex;
	justify-content: space-between;
	width: 420px;
	transform: rotate(90deg);
	z-index: 3;
	right: -150px;

	& a {
		font-weight: 800;
		font-size: 12.6px;
		line-height: 150%;
		text-transform: uppercase;
		letter-spacing: 2px;
		text-decoration: none;
		color: #253757;
		transition: color 0.3s ease-in-out;
	}

	&__facebook:hover {
		color: #3b5998;
	}

	&__twitter:hover {
		color: #1da1f2;
	}

	&__instagram:hover {
		color: #e1306c;
	}
}