.social {
	position: absolute;
	display: flex;
	justify-content: space-between;
	width: 420px;
	transform: rotate(90deg);
	z-index: 3;
	right: -150px;

	& a {
		font-weight: 800;
		font-size: 12.6px;
		line-height: 150%;
		text-transform: uppercase;
		letter-spacing: 2px;
		text-decoration: none;
		color: #253757;
	}
}