.testimonials {
	padding: 165px 15px 60px;

	&__title {
		font-weight: 900;
		font-size: 32px;
		line-height: 140%;
	}

	&__wrapper {
		display: flex;
		justify-content: space-between;
	}

	&__block {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 35px 32px 0px;
		box-sizing: border-box;
		max-width: 314px;
		min-width: 300px;
		height: 464px;
		box-shadow: 16px 16px 32px rgba(0, 0, 0, 0.05);
	}

	&__background {
		position: relative;
		width: 162px;
		height: 64px;
		transform: rotate(-65deg);
		border-radius: 100px;
		top: 50px;
	}

	& img {
		position: absolute;
		height: 100px;
		width: 100px;
		top: 110px;
		left: 107px;
	}

	&__line {
		width: 64px;
		height: 2px;
		border-radius: 50px;
		border: none;
		margin: 31px 0;
	}

	&__text {
		padding-top: 125px;
		font-size: 14.4px;
		line-height: 150%;
		text-align: center;
	}

	&__name {
		font-weight: bold;
		font-size: 12.6px;
		line-height: 150%;
	}

	&__position {
		font-weight: 800;
		font-size: 12.6px;
		line-height: 150%;
	}
}