@use './mixins' as *;

.h2-title {
  font-family: Poppins, sans-serif;
  font-size: 44px;
  font-weight: 600;
  line-height: 120%;
  color: rgba(37, 55, 87, 1);
  text-align: center;
  vertical-align: middle;

  @include tablet {
    font-size: 52px;
  }
}

.h3-title {
  font-family: Poppins, sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 150%;
  color: rgba(37, 55, 87, 1);
}

.h4-title {
  font-family: Poppins, sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 140%;
  color: rgba(37, 55, 87, 1);
  text-align: center;
}

.h5-title {
  font-family: Poppins, sans-serif;
  font-size: 13px;
  font-weight: 700;
  line-height: 100%;
  color: rgba(192, 205, 215, 1);
  text-transform: uppercase;
  letter-spacing: 3px;
}

.section-title {
  text-align: left;
}

.fs22-text {
  font-family: 'Open Sans', sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 150%;
  color: rgba(108, 120, 139, 1);
  text-align: center;

  @include tablet {
    font-size: 24px;
  }
}

.fs14-text {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  color: rgba(108, 120, 139, 1);
  text-align: left;
}

.fs13-text {
  font-family: Poppins, sans-serif;
  font-size: 13px;
  font-weight: 600;
  line-height: 100%;
  text-align: left;
}

.button-text {
  font-family: Poppins, sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 100%;
  color: rgba(255, 255, 255, 1);
  text-align: center;
}

.menu-link {
  font-family: Poppins, sans-serif;
  font-size: 13px;
  font-weight: 700;
  line-height: 150%;
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.top__nav-link {
  font-size: 25px;

  @include s-desktop {
    font-size: 13px;
  }
}
