$main-text-color: #253757;
$second-text-color: #6c788b;
$name-text-color: #c0cdd7;
$header-text-color: #fff;
$footer-text-color: #fff;
$button-text-color: #fff;

$dark-background: #2c2c2c;
$light-background: #f2f6fa;

$color-blue: #2060f6;

$max-content-width: 1148px;
$footer-menu-height-mobile: 352px;
$footer-menu-height-tablet: 152px;
$footer-menu-height-desktop: 108px;


$menu-icons-gap: 36px;
$icon-size: 32px;
