$light-color: #f2f9ff;
$c-gray: #eee;
$gray: #6c788b;
$dark-gray: #253757;
$light-gray: #c0cdd7;
$blue: #56ccf2;
$navy-blue: #008aff;
$pink: #ff9c8e;
$bright-pink: #f25656;
$middle-pink: #ff7e6c;
$yellow: #fcc304;

$pink-item: #f8abab;
$yellow-item: #fde285;
$purple-item: #df85fd;
$blue-item: #ace6f8;
$green-item: #9fefb7;

$dark-text-color: $dark-gray;
$light-text-color: $light-gray;
$text-color: $gray;

$screen-margin: 227px;
