$tablet-min-width: 640px;
$desktop-min-width: 1024px;

$effectDuration: 0.3s;

$colorGrey: #2c2c2c;
$colorBlue: rgba(32, 96, 246, 1);
$colorWhite: #fff;
$bgcLightGrey: #f2f6fa;
$colorBlack: #253757;
$colorGreyText: #6c788b;
$colorSubTitle: #c0cdd7;

$heightItem: 264px;
$gap: 30px;
