$white: #fff;
$bg-black: #2C2C2C;
$blue: #2060F6;
$text-black: #253757;
$grey: #6C788B;
$light-grey: #C0CDD7;
$bg-page: #F2F6FA;

$tablet-min-width: 640px;
$laptop-min-width: 1024px;
$desktop-min-width: 1280px;

$effectDucation: 0.3s;
