$header-bc-color: #2c2c2c;
$header-bc-color-dark-theme: #008aff;
$button-bc-color: #2060f6;
$main-text-color: #fff;
$color-dark-theme: #ff9c8e;

$transition-duration: 3s;

$first-family: "Poppins", sans-serif;
$second-family: "Open Sans", sans-serif;

$min-width-onTablet: 640px;
$min-width-onSmallDesktop: 1024px;
$min-width-onDesktop: 1600px;
$min-width-onLargeScreens: 2560px;
