$tablet-min-width: 640px;
$small-desktop-min-width: 1024px;
$desktop-min-width: 1280px;
$design-min-width: 1600px;
$large-screens: 2561px;

$font-family: "Open Sans", sans-serif;

$c-gray: #f2f6fa;
$white: #fff;
$background-header: #2c2c2c;
$background-main: #f2f6fa;
$decoration-color: #2060f6;
$main-text-color: #253757;
$text-color: #6c788b;
