*,

*::before,

*::after {
  margin: 0;
  padding: 0;
  border: none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a {
  text-decoration: none;
}

a:focus,
a:active {
  outline: none;
}

a:visited,
a:hover {
  text-decoration: none;
}

html,
body {
  min-height: 100vh;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top; //щоб не було фантомного відступа знизу
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
