.about-us {
  padding: 120px 0;

  @include on-desktop {
    padding: 176px 0;
  }

  &__wrapper {
    @include content-padding-inline;
  }

  &__title {
    margin-bottom: 24px;
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    line-height: 150%;
  }

  &__text {
    text-align: center;
    font-size: 22px;
    line-height: 150%;
  }
}
