* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
}

body {
  margin: 0 auto;
}

h1,
h2,
h3,
p {
  margin: 0;
}

.container {
  margin: 0 auto;
}
