html,
body {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

body {
  &:has(.nav__target:target) {
    overflow: hidden;

    @include on-small-desktop {
      overflow: auto;
    }
  }
}
