.box {
  padding-bottom: 80px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: $background-color;

  @include on-small-desktop {
    padding-bottom: 84px;
  }

  &__grid {
    @include page-grid;
  }
}
