.btn {
  display: block;
  padding-block: 14px;
  background-color: $color-bg-elements;
  border-radius: 8px;
  font-family: $font-first;
  color: inherit;
  font-size: 15px;
  font-weight: 600;
  line-height: 23px;
  text-align: center;
  text-decoration: none;
  width: 100%;
  transition: opacity $time-animation;

  &:hover {
    opacity: 0.8;
  }

  @include on-tablet {
    max-width: 264px;
  }
}
