.button {
  background-color: #2060f6;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
    
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  
  text-align: center;
  color: #fff;
  text-decoration: none;
  cursor: pointer;

  border: none;

  @include onTablet () {
    width: 264px;
  }

  &--action {
    margin: 0 auto;
    @include onTablet () {
      height: 56px;
    }
  }

  &--primary {
    margin: 0;
    height: 56px;

    @include onTablet () {
      width: 264px;
      margin-bottom: 120px;
    }
    @include onDesktop () {
      margin: 0%;
    }
  }

  &:hover {
    box-shadow: 1px 4px 16px rgba(232, 232, 240, 0.4)
  }
  
}
