.card-block {
  background-color: #fff;
  box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
  border-radius: 16px;
  height: 264px;
  padding: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;

  &--position-up {
    @include onTablet () {
      transform: translateY(-50%);
    }

    @include onDesktop () {
      transform: none;
    }
  }

  &--position-down {

    @include onDesktop () {
      transform: translateY(50%);
    }
   
  }
  
  &__number {
    
    background-image: url(../images/services/photo_2.jpg);
    background-repeat: no-repeat;
    width: 46px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &-number {
      font-family: "Poppins", sans-serif;
      font-weight: 600;
      font-size: 13px;
      line-height: 19px;
      color: #2060f6;
      width: 22px;
      height: 20px;
      text-align: center;
      text-transform: uppercase;
    }

  }

  &__about {

    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 13px;
    line-height: 150%;
    color: #6c788b;
    margin: 0;

  }

  &__action {
    
    display: flex;
    align-items: center;
    text-align: center;
    gap: 16px;

    &--arrow {
      background-image: url(../images/services/photo_4.jpg);
      background-repeat: no-repeat;
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      &-right {
        width: 16px;
        height: 16px;
      }
    }

    &--text {
      font-family: "Poppins", sans-serif;
      font-weight: 600;
      font-size: 15px;
      line-height: 22px;
        
      color: #334563;
    }
  }

}
