.contact-us {

    background-color: black;
    border-radius: 30px 30px 0 0;
    padding: 72px 0 40px;

    @include onDesktop () {
      padding: 72px 0 80px;
    }
    
    &--title {
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        font-size: 32px;
        line-height: 130%;
        color: #fff;
        margin-bottom: 48px;
      }
    
      &__info {
        margin: 0 0 40px;
    
        &-title {
          margin-bottom: 8px;
          font-family: "Poppins", sans-serif;
          font-weight: bold;
          font-size: 13px;
          line-height: 19px;
          letter-spacing: 3px;
          text-transform: uppercase;
      
          color: #FFFFFF;
      
          opacity: 0.5;

          &--last {
            margin-bottom: 20px;
          }
        }
    
        &-link {
          font-family: "Open Sans", sans-serif;
          font-weight: 600;
          font-size: 24px;
          line-height: 150%;
          text-decoration: none;
      
          color: #FFFFFF; 
        }
      
      }
}