.creative {

  &__cards {
    position: absolute;
  }

  &__card {
    border-radius: 16px;
    background: #fff;
    height: 264px;
    width: 280px;
    box-shadow: 0 9px 18px 0 rgba(37, 41, 49, 0.03);
    grid-column: span 2;
    margin-bottom: 30px;
    cursor: pointer;
    transition: transform $time-transition;

    &:hover {
      transform: scale(1.1);
    }

    @include onTablet {
      width: 264px;
      transform: translate(0%, 130%);
    }

    @include onDesktop {
      width: 214px;
      margin-bottom: 20px;
      transform: translate(220%,59%);
    }

    @include onDesktop1600 {
      width: 264px;
      margin-bottom: 30px;
      transform: translate(220%,50%);
    }

    &--two {

      @include onTablet {
        transform: translate(110%,-20%);
      }

      @include onDesktop {
        transform: translate(329%,-107%);
      }

      @include onDesktop1600 {
        transform: translate(335%,-110%);
      }
    }

    &--three {
      grid-column: span 2;

      @include onTablet {
        margin-bottom: 0;
        transform: translate(0,19%);
      }

      @include onDesktop {
        transform: translate(220%,-40%);
      }

      @include onDesktop1600 {
        transform: translate(220%,-60%);
      }
    }

    &--four {
      grid-column: span 2;

      @include onTablet {
        transform: translate(110%,-120%);
      }

      @include onDesktop {
        transform: translate( 330%, -200%);
      }

      @include onDesktop1600 {
        transform: translate( 335%, -209%);
      }
    }
  }

  &__number {
    display: flex;
    margin-left: 32px;
    margin-bottom: 24px;
  }

  &__numbers {
    position: relative;
    color: #2060f6;
    font-size: 13px;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    margin-top: 34px;
    margin-left: 12px;
    margin-bottom: 2px;
  }

  &__top {
    width: 46px;
    height: 24px;
    background-color: #2060f6;
    border-radius: 23px;
    opacity: 0.1;
    position: absolute;
    z-index: 1;
    margin-top: 32px;
  }

  &__text {
    color: $color-grayss;
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    font-weight: 600;
    line-height: 150%;
    margin-left: 32px;
    margin-bottom: 32px;
    margin-right: 32px;
  }

  &__button {
    display: flex;
    background-image: url(../images/ellipse.png);
    background-repeat: no-repeat;
    height: 40px;
    width: 40px;
    background-size: contain;
    margin-left: 32px;
    align-items: center;
    justify-content: center;
  }

  &__buttonlean {
    cursor: pointer;
    text-decoration: none;
    transition: transform $time-transition;

    &:hover {
      transform: scale(1.2);
    }
  }

  &__leanmore {
    position: relative;
    color: var(--text-200, #334563);
    margin-left: 92px;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 600;
    line-height: normal;
    bottom: 41px;
    margin-top: 10px;
  }
}

.buttons {
  z-index: 1;
  position: absolute;
}
