%h {
  font-family: $font-family-h;
  font-weight: 600;
  font-size: 13px;
  line-height: 19.5px;
  color: $title-color;
}

%text {
  font-family: $font-family-t;
  font-size: 13px;
  font-weight: 400;
  color: $main-text-color;

  &-m {
    @extend %text;

    font-weight: 600;
    line-height: 20px;

    &-black {
      @extend %text-m;

      color: $title-color;
    }
  }

  &-xl {
    @extend %text;

    font-size: 22px;
    font-weight: 600;
    line-height: 33px;

    @include on-tablet {
      font-size: 24px;
      line-height: 36px;
    }

    &-white {
      @extend %text-xl;

      color: $white-color;
    }
  }

  &-w {
    @extend %text;

    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
  }
}

%h1 {
  @extend %h;

  font-size: 52px;
  line-height: 62.4px;
  letter-spacing: -2px;

  @include on-tablet {
    font-size: 64px;
    line-height: 68px;
  }
}

%text1 {
  @extend %text;

  font-size: 18px;
  line-height: 27px;
  color: $white-color;
}

%nav-link {
  @extend %h;

  font-weight: 700px;
  letter-spacing: 3px;
  color: $white-color;
  text-transform: uppercase;
}

%text-s {
  @extend %text;

  font-size: 14px;
  line-height: 19.6px;
  color: $white-color;
}

%h2 {
  @extend %h;

  font-size: 44px;
  line-height: 52.8px;

  @include on-tablet {
    font-size: 52px;
    line-height: 78px;
  }
}

%text-upcase {
  @extend %h;

  font-weight: 700;
  line-height: 20px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: $text-grey;

  &-white {
    @extend %text-upcase;

    color: $white-color;
  }
}

%h3 {
  @extend %h;

  font-size: 32px;
  line-height: 48px;

  &-low {
    @extend %h3;

    line-height: 42px;
  }

  &-high {
    @extend %h3;

    line-height: 48px;

    &-white {
      @extend %h3;

      color: $white-color;
    }
  }
}

%button-text {
  @extend %h;

  font-size: 15px;
  line-height: 22.5px;
  color: $white-color;
}

%h4 {
  @extend %h;

  font-size: 20px;
  line-height: 28px;
}

%form-text {
  @extend %h;

  font-size: 15px;
  line-height: 23px;
  color: $text-grey;
}
