* {
  box-sizing: border-box;
}

body, h3, h4, h5, h6, ol, ul, li, form, p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

ol, ul, li {
  list-style: none;
}

h1, h2 {
  font-family: Poppins, sans-serif;
  font-weight: 600;
  margin: 0;
}
