.header {
  background-color: $bc-for-header;
  border-bottom-left-radius: $radius-for-sections;
  border-bottom-right-radius: $radius-for-sections;
  height: auto;


  &__bottom {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 60px;

    @include on-tablet {
      gap: 148px;
    }

    @include on-desktop {
      gap: 0;
      flex-direction: row;
      align-items: center;
    }

    &-text {
      @include content-padding-inline;
      display: flex;
      flex-direction: column;

      @include on-desktop {
        width: 35%;
      }

      &--title {
        margin-bottom: 32px;
        color: $color-for-text-on-black;
        font-size: 52px;
        font-weight: 600;
        line-height: 120%;
        letter-spacing: -2px;

        @include on-tablet {
          font-size: 64px;
          line-height: 68px;
          letter-spacing: -2px;
        }
      }

      &--article {
        margin-bottom: 72px;
        color: $color-for-text-on-black;
        font-size: 18px;
        font-weight: 400;
        line-height: 150%;

        @include on-tablet {
          width: 75%;
        }
      }

      &--button {
        color: $color-for-text-on-black;
        width: 100%;
        height: 50px;
        line-height: 50px;
        border-radius: 8px;
        background-color: $color-blue;
        text-align: center;
        font-size: 15px;
        font-weight: 600;

        cursor: pointer;
        @include hover(transform, scale(1.1));

        @include on-tablet {
          width: 264px;
        }
      }
    }
  }
}
