.header {
  background-color: $bgc-header;
  border-radius: 0 0 30px 30px;
  color: $white-color;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;

  &__content {
    flex-direction: column;
    height: 100vh;
    display: grid;
  }

  &__grid {
    @include page-grid;
  }

  &__bottom {
    grid-column: 1/-1;
    display: flex;
    padding-block: 48px;

    @include on-tablet {
      padding-top: 56px;
      padding-bottom: 147px;
    }

    @include on-small-desktop {
      grid-column: 1/7;
      padding-top: 120px;
    }
  }

  &__title {
    font-weight: $font-weight-600;
    padding-bottom: 32px;
    font-size: 52px;
    line-height: 62.4px;

    @include on-tablet {
      padding-bottom: 24px;
    }

    @include on-small-desktop {
      padding-bottom: 32px;

    }
  }

  &__description {
    font-family: $font-open-sans;
    font-weight: $font-weight-400;
    padding-bottom: 72px;
    font-size: 18px;
    line-height: 27px;

    @include on-tablet {
      padding-bottom: 56px;
      width: 362px;
    }

    @include on-small-desktop {
      padding-bottom: 83px;
    }
  }

  &__button {
    width: 100%;

    @include on-tablet {
      width: 264px;
    }
  }

  &__slider {
    border-radius: 30px;
    background-position: center;
    background-size: cover;
    background-image: url(../images/img/photo.svg);
    grid-column: 1/-1;
    display: flex;
    box-sizing: border-box;
    min-height: 390px;
    position: absolute;
    bottom: 0;
    right: 0;

    @include on-small-desktop {
      grid-column: 7/13;
      border-radius: 30px 0;
      min-height: 680px;
    }

    @include on-normal-wight {
      justify-content: left;
    }
  }
}


