.header {
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  background-color: $background-color;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-top: 21px;
    padding-bottom: 49px;

    @include on-tablet {
      padding-bottom: 57px;
    }

    @include on-small-desktop {
      padding-top: 48px;
      padding-bottom: 45px;
    }
  }

  &__left {
    width: 45px;
  }

  &__right {
    border-radius: 4px;

    font-family: Poppins, sans-serif;
    font-size: 13px;
    font-weight: 700;
    line-height: 150%;
    color: $text-color;
    text-decoration: underline solid $color-line;
    text-decoration-thickness: 2px;
    text-underline-offset: 8px;
    text-transform: uppercase;
  }
}
