input[type='email'] {
  width: 460px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0);
  border: none;

  border-bottom: 2px solid #fff;
  padding: 5px;
  outline: none;

  font-family: Poppins, sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 22.5px;

  @media (max-width: 1024px) {
    width: 280px;
  }
}

input[type='name'] {
  width: 460px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0);
  border: none;

  border-bottom: 2px solid #fff;
  padding: 5px;
  outline: none;

  font-family: Poppins, sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 22.5px;

  @media (max-width: 1024px) {
    width: 280px;
  }
}

input[type='text'] {
  width: 460px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0);
  border: none;

  border-bottom: 2px solid #fff;
  padding: 5px;
  outline: none;

  font-family: Poppins, sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 22.5px;

  @media (max-width: 1024px) {
    width: 280px;
  }
}

input {
  &:focus {
    border-bottom: 2px solid #144ed4;
  }
}
