.menu {
  height: 100vh;
  box-sizing: border-box;
  background-color: $color-black;

  @include onDesktop {
    display: none;
  }

  &__nav {
    margin-bottom: 48px;
  }

  &__phone-number {
    font-family: "Open Sans", sans-serif;
    color: $color-white;
    font-size: 22px;
    line-height: 140%;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: block;
    text-decoration: none;
    margin-bottom: 16px;
  }

  &__call-to-order {
    text-decoration: none;
    padding-bottom: 4px;
    border-bottom: 1px solid $color-white;
    font-family: "Open Sans", sans-serif;
    color: $color-white;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: block;
    width: fit-content;
  }
}
