@mixin hover($_property, $_toValue) {
  transition: #{$_property} 0.3s;
  &:hover {
    #{$_property}: $_toValue;
  }
}

@mixin onTablet {
  @media (min-width: $tablet-min-width) {
    @content;
  }
}

@mixin onDesktop {
  @media (min-width: $desktop-min-width) {
    @content;
  }
}

@mixin onDescktopPlus {
  @media (min-width: $desktop-plus-min-width) {
    @content;
  }
}

@mixin contentPaddingInline() {
  padding-inline: 20px;

  @include onTablet {
    padding-inline: 41px;
  }

  @include onDesktop {
    padding-inline: 54px;
  }
}

@mixin hoverUnderline($color) {
  &::after {
    position: absolute;
    z-index: 1;
    bottom: -1px;
    left: 0;
    right: 0;

    content: "";

    height: 1px;

    border-radius: 4px;
    background-color: $color;

    transition: transform 0.3s;
    transform: scale(0);
    transform-origin: left;
  }

  &:hover::after {
    transform: scale(1);
  }
}

@mixin hoverUnderlineOff() {
  &::after {
    transform: scale(0);
  }
}
