@mixin on-tablet {
  @media (min-width: $on-tablet-min-width) {
    @content;
  }
}

@mixin on-small-desktop {
  @media (min-width: $on-small-desktop-min-width) {
    @content;
  }
}

@mixin on-desktop {
  @media (min-width: $on-desktop-min-width) {
    @content;
  }
}

@mixin on-design {
  @media (min-width: $on-design-min-width) {
    @content;
  }
}

@mixin on-large {
  @media (min-width: $on-large-min-width) {
    @content;
  }
}

@mixin content-padding {
  padding-inline: 20px;

  @include on-tablet {
    padding-inline: 41px;
  }

  @include on-small-desktop {
    padding-inline: 54px;
  }

  @include on-desktop {
    padding-inline: 227px;
  }
}

@mixin page-grid {
  --columns: 2;

  display: grid;
  column-gap: 20px;
  grid-template-columns: repeat(var(--columns), 1fr);

  @include on-tablet {
    column-gap: 24px;

    --columns: 6;
  }

  @include on-small-desktop {
    --columns: 12;
  }
}

@mixin hover($_property, $_toValue) {
  transition: #{$_property} 0.3s;
  &:hover {
    #{$_property}: $_toValue;
  }
}
