.button {
  background-color: $blue-color;
  border: none;

  @include hover (background-color, $dark-blue-color);

  &--rectangular {
    width: 280px;
    height: 56px;

    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-family: Poppins, sans-serif;
    color: $white-color;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;

    border-radius: 8px;

    @include hover (transform, scale(120%));

    @include tablet {
      width: 264px;
    }
  }
}

.sub-heading {
  font-family: Poppins, sans-serif;
  color: $header-text-color;
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
}
