// Large screens 2560px
// Full HD 1920px
// The design 1600px
// Notebook 1280px
// Tablet 1024
// Mobile (> 320px)

@mixin onMobile {
  @media (min-width:320px) {
    @content;
  }
}

@mixin onTablet {
  @media (min-width:1024px) {
    @content;
  }
}

@mixin onNotebook {
  @media (min-width:1280px) {
    @content;
  }
}

@mixin onDesign {
  @media (min-width:1600px) {
    @content;
  }
}

@mixin onFullHD {
  @media (min-width:1920px) {
    @content;
  }
}

@mixin onLargeScreen {
  @media (min-width: 2560px) {
    @content;
  }
}

@mixin onNotebook-LargeScreen {
  @media (min-width: 1280px) {
    @content;
  }
}

@mixin simple-white-text-Popins-13px {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-decoration: none;
  color: #fff;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

@mixin simple-grey-text {
  text-decoration: none;
  color: $light-grey;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

@mixin top-grey-text-32px-for-sections-Poppins {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: $grey-color;
  font-size: 32px;
  line-height: 48px;
}

@mixin grey-medium-text-OpenSans-24px {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  color: $light-grey;
  font-size: 24px;
  line-height: 36px;
}

@mixin top-grey-text-56px-for-sections-Poppins {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: $grey-color;
  font-size: 56px;
  line-height: 78px;
}

@mixin small-grey-text-OpenSans-14px {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: $light-grey;
  font-size: 14px;
  line-height: 21px;
}

@mixin top-block {
  padding-top: 21px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;

  @include onNotebook-LargeScreen {
    padding-top: 49px;
  }
}
