.button {
  background-color: $blueColor;
  border: none;
  @include hover (background-color, $darkBlueColor);

  &--rectangular {
    width: 280px;
    height: 56px;

    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    color: $whiteColor;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;

    border-radius: 8px;

    @include hover (transform, scale(120%));

    @include onTablet {
      width: 264px;
    }
  }
}

.sub-heading {
  font-family: "Poppins", sans-serif;
  color: $headerTextColor;
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
}
