html,
body,
h2,
h3,

p {
  margin: 0;
}

a {
  text-decoration: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
  box-shadow: 0 0 0 30px $fourth-color inset;
  -webkit-text-fill-color: $second-color;
}
