
.photo {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
 

  &__container {

    padding: 0 20px 24px;

    @include onTablet () {
      padding: 0 0 32px 41px;
    }

    @include onDesktop () {
      display: flex;
      flex-direction: row;

      padding: 0 0 0 78px ;
    }
   
  }

  &__descriptions {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    @include onDesktop () {
      padding-bottom: 48px;
      }
    
  }
  
  &__item {
    display: flex;
    gap: 16px;
    height: 32px;
    
    padding-right: 24px;
    padding-bottom: 16px;
    
    @include onDesktop () {
    padding: 18px 24px 0 0;
   
    }

  }
    
  &__slider {
    background-image: url(../images/slider/Ellipse.svg);
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

  }
  
  &__slider-left,
  &__slider-right {

    height: 9px;
    width: 6px;
  }
    

  &__title {

    margin:0;

    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 19px;  
    letter-spacing: 3px;
    text-transform: uppercase;
      
    color: #FFFFFF;

    @include onDesktop () {
      margin-bottom: 8px;
    }

  }
  
  &__subtitle {
    margin: 0;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
  
    color: #FFFFFF;

    
  }
}
 