* {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
ul,
li {
  margin: 0;
  padding: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  outline: none;
  border-bottom: 1px solid green;
  -webkit-text-fill-color: none;
  -webkit-box-shadow: none;
}
