.send-us-message {
  grid-column: 1 / -1;

  @include on-tablet {
    grid-column: 1 / 5;
  }

  @include on-small-desktop {
    grid-column: 1 / 6;
  }

  &__title {
    padding: 72px 0 48px;

    font-family: Poppins, sans-serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 130%;
    color: $text-color;

    @include on-tablet {
      padding: 180px 0 56px;
      line-height: 150%;
    }
  }

  &__input {
    width: 100%;
    margin-bottom: 40px;
    border: none;
    border-bottom: 1px solid $text-color;

    font-family: Poppins, sans-serif;
    font-size: 15px;
    font-weight: 600;
    line-height: 35px;
    color: $text-color;

    background-color: $background-color;
    outline: none !important;

    &:hover {
      border: none;
      border-bottom: 1px solid $color-button;
    }

    &:is(:-webkit-autofill, :autofill) {
      border-top: none;
      border-right: none;
      border-bottom: 1px solid $color-button;
      border-left: none;

      -webkit-box-shadow: 0 0 0 30px $background-color inset !important;

      -webkit-text-fill-color: $text-color !important;
    }
  }

  &__textarea {
    resize: none;

    width: 100%;
    margin-bottom: 56px;
    border: none;
    border-bottom: 1px solid $text-color;

    font-family: Poppins, sans-serif;
    font-size: 15px;
    font-weight: 600;
    line-height: 15px;
    color: $text-color;

    background-color: $background-color;
    outline: none !important;

    @include on-tablet {
      margin-bottom: 80px;
    }

    &:hover {
      border: none;
      border-bottom: 1px solid $color-button;
      line-height: 15px;
    }

    &:is(:-webkit-autofill, :autofill) {
      border-top: none;
      border-right: none;
      border-bottom: 1px solid $color-button;
      border-left: none;

      -webkit-box-shadow: 0 0 0 30px $background-color inset !important;

      -webkit-text-fill-color: $text-color !important;
    }
  }

  &__button {
    cursor: pointer;

    width: 280px;
    height: 56px;
    margin-bottom: 80px;
    border: 1px solid $color-button;
    border-radius: 8px;

    font-family: Poppins, sans-serif;
    font-size: 15px;
    font-weight: 600;
    line-height: 100%;
    color: $text-color;
    text-align: center;

    background-color: $color-button;

    @include on-tablet {
      width: 264px;
      margin-bottom: 120px;
    }
  }
}
