.service {
  @include page-grid;

  max-width: 1600px;
  padding: 120px 0;

  @include on-tablet {
    padding: 148px 0;
  }

  &__content {
    grid-column: 1/-1;
    display: flex;
    flex-direction: column;
    max-width: 264px;
    padding-bottom: 48px;

    @include on-tablet {
      grid-column: span 3;
      padding-bottom: 56px;
    }

    @include on-small-desktop {
      grid-column: span 6;
    }
  }

  &__card {
    grid-column: -1/1;
    margin-bottom: 24px;
    padding: 32px;

    @include on-tablet {
      grid-column: 1/4;
      width: 264px;
      margin-bottom: 30px;
    }

    @include on-small-desktop {
      grid-column: 7/-4;
      width: 214px;
      margin-bottom: 20px;
    }

    @include on-normal-wight {
      width: 264px;
      height: 264px;
      margin-bottom: 20px;
    }

    &--up {
      @include on-tablet {
        grid-column: 4/-1;
        position: relative;
        transform: translateY(-50%);
      }

      @include on-small-desktop {
        grid-column: -1/-4;
      }
    }
  }

  &__title {
    font-family: $font-open-sans;
    font-size: 32px;
    font-weight: $font-weight-600;
    line-height: 41.6px;
    color: $h2-color;
    padding-bottom: 24px;
    padding-top: 16px;
  }

  &__text {
    color: $text-color;
    font-family: $font-open-sans;
    font-size: 14px;
    font-weight: $font-weight-400;
    line-height: 21px;

    &--first {
      padding-bottom: 21px;
    }
  }
}

.button-more {
  &__button {
    transition: transform $effectDuration ease;
    cursor: pointer;

    &:hover {
      background-color: $hover-button;
      transform: $FotoTransform;
    }
  }
}
