.sliders {
  &__content {
    display: flex;
    justify-content: end;
    flex-direction: column;
    padding-bottom: 24px;
    padding-left: 20px;
    box-sizing: border-box;

    @include on-tablet {
      padding-bottom: 32px;
      padding-left: 41px;
    }

    @include on-small-desktop {
      justify-content: space-between;
      flex-direction: row;
      align-items: end;
      gap: 24px;
      padding-bottom: 48px;
      padding-left: 78px;
    }

    @include on-normal-wight {
      padding-left: 48px;
    }
  }

  &__buttons {
    gap: 16px;
    display: flex;
    padding-bottom: 16px;
  }

  &__title {
    font-family: $font-poppins;
    font-size: 14px;
    font-weight: $font-weight-700;
    line-height: 19.6px;
    letter-spacing: $letter-spacing;
    width: 280px;
  }

  &__text {
    padding-top: 8px;
    font-family: $font-open-sans;
    font-weight: $font-weight-400;
  }
}
