$mainBgColor: #eee;
$darkBgColor: #2c2c2c;

$headerTextColor:#253757;
$grayColor: #6c788b;
$lightGrayColor: #c0cdd7;
$darkGrayColor: #334563;
$whiteColor: #fff;
$blueColor:  #2060f6;
$darkBlueColor: #144ed4;

$tablet-min-width: 640px;
$smallDesktop-min-width: 1024px;
$desktop-min-width: 1600px;
$largeScreen-min-width: 2560px;

$effectDuration: 0.3s;
