/* SCREEN DIMENSIONS: */
$xl-desktop-min-width: 2560px;
$l-desktop-min-width: 1600px;
$m-desktop-min-width: 1280px;
$s-desktop-min-width: 2560px;
$tablet-min-width: 640px;
$mobile-min-width: 320px;

/* END OF SCREEN DIMENSIONS: */

/* COLORS: */
// --Hero/Footer colors
$header-footer-bg-color: #008AFF;
$header-footer-text-color: #FFF;
$header-footer-btn-bg-color: #FF9C8E;

// --Main colors
$main-bg-color: #F2F9FF;
$main-secondary-bg-color: #FFF;
$main-text-color: #6C788B;
$main-header-text-color: #253757;
$main-secondary-text-color: #C0CDD7;
$main-btn-text-color: #FFF;

// --Diversity colors
$diversity-color-blue: #56CCF2;
$diversity-color-yellow: #FCC91D;
$diversity-color-pink: #F36363;
$diversity-color-green: #15D850;
$diversity-color-violet: #BC04FC;
$diversity-text-learn-more-color: #334563;

/* END OF COLORS */

