$min-width-mobile: 320px;
$min-width-tablet: 640px;
$min-width-desktop: 1024px;
$min-width-large-screen: 1600px;
$min-width-extra-large-screen: 2560px;
$padding-inline-mobile: 20px;
$padding-inline-tablet: 41px;
$padding-inline-desktop: 54px;
$padding-inline-large-screen: 227px;
$padding-inline-extra-large-screen: 770px;
$color-white: #fff;
$color-blue: #2060f6;
$color-dark-gray: #253757;
$color-light-gray: #6c788B;
$color-lightest-gray: #c0cdd7;
