$text-color: #6C788B;
$title-color: #253757;
$bg-color: #2C2C2C;
$section-bg: #F2F6FA;
$hover-color: #FF9C8E;
$white-color: #FFF;
$blue-color: #2060F6;
$tablet-min-width: 640px;
$desktop-sm-min-width: 1024px;
$desktop-md-min-width: 1600px;
$desktop-lg-min-width: 2560px;
