// Sizes
$tablet-min-width: 640px;
$small-desktop-min-width: 1024px;
$desktop-min-width: 1280px;

// Values
$card-size: 264px;
$transition-time: 300ms;
$top-bar-letter-spacing: 3px;

// Colors
$background-color: #F2F6FA;
$title-color: #253757;
$subtitle-color: #6C788B;
$gray-title-color: #C0CDD7;
$blue-color: #2060F6;
$card-background-color: #FFF;
$footer-background-color: #2C2C2C;
$menu-background-color: #2C2C2C;
