.vision {
  &__wrapper {
    @include page-grid;

    padding: 72px 0;
    text-align: center;

    @include on-tablet {
      padding: 200px 0;
    }

    @include on-small-desktop {
      padding: 199px 0;
    }
  }

  &__title {
    grid-column: 1 / -1;

    padding-bottom: 24px;

    font-family: Poppins, sans-serif;
    font-size: 44px;
    font-weight: 600;
    line-height: 120%;

    @include on-tablet {
      grid-column: 2 / -2;
      font-size: 52px;
    }

    @include on-small-desktop {
      font-size: 52px;
      line-height: 150%;
      color: $title-color;
    }
  }

  &__description {
    grid-column: 1 / -1;

    padding-bottom: 56px;

    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    font-weight: 600;
    line-height: 150%;
    color: $description-color;

    @include on-tablet {
      grid-column: 1 / -1;
      padding-bottom: 64px;
      font-size: 24px;
    }

    @include on-small-desktop {
      grid-column: 2 / -2;
    }

    @include on-desktop {
      grid-column: 3 / -3;
    }
  }

  &__button {
    cursor: pointer;

    display: flex;
    grid-column: 1 / -1;
    align-items: center;
    justify-content: center;

    height: 56px;
    border: 1px solid $color-line;
    border-radius: 8px;

    font-family: Poppins, sans-serif;
    font-size: 15px;
    font-weight: 600;
    line-height: 100%;
    color: $text-color;
    text-decoration: none;

    background-color: $color-line;

    @include on-tablet {
      width: 264px;
      margin: 0 auto;
    }
  }
}
