.vision {
  background-color: $white-color;
  padding: 200px 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;

  @media (min-width: 640px) {
    background-image: url(../images/Shapes.png);
    background-position: center;
    background-size: cover;
  }

  &__list {
    color: $h2-color;
    font-size: 44px;
    font-weight: $font-weight-600;
    line-height: 52.8px;
    text-align: center;
    padding-bottom: 24px;
  }

  &__content {
    font-family: $font-open-sans;
    font-size: 22px;
    font-weight: $font-weight-600;
    line-height: 33px;
    text-align: center;
    padding-bottom: 56px;
    color: $content-color;
  }
}
