.vision {
  background-color: #fff;

  @include onTablet {
    background-image: url(../images/Shapes.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    object-fit: cover;
    background-size: auto;

    @include onDesktop {
      background-position: center;
      height: 100%;
      object-fit: contain;
    }

    @include onDesktop2560 {
      background-position: center;
      background-size: contain;
    }
  }

  &__visionss {
    @include pageGrid;

  }

  &__text {
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 44px;
    color: $color-gray;
    font-weight: 600;
    line-height: 120%;
    grid-column: span 2;
    margin-top: 72px;
    margin-bottom: 24px;

    @include onTablet {
      margin-top: 200px;
      grid-column: span 6;
      font-size: 52px;
    }

    @include onDesktop {
      margin-top: 199px;
      grid-column: 2/12;
    }
  }

  &__info {
    color: $color-grayss;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 22px;
    font-weight: 600;
    line-height: 150%;
    grid-column: span 2;
    margin-bottom: 56px;
    margin-top: 0;

    @include onTablet {
      margin-bottom: 64px;
      grid-column: span 6;
    }

    @include onDesktop {
      grid-column: 2/12;
      font-size: 24px;

    }

    @include onDesktop1600 {
      grid-column: 3/11;

      font-size: 24px;
    }
  }

  &__button {
    background-color: $color-blue;
    text-decoration: none;
    border-radius: 8px;
    width: 280px;
    height: 56px;
    color: $color-white;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 600;
    line-height: normal;
    grid-column: span 2;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 72px;
    transition: transform $time-transition;
    cursor: pointer;

    &:hover {
      transform: scale(1.1);
    }

    @include onTablet {
      margin: 0 auto;
      margin-bottom: 200px;
    }

    @include onDesktop {
      margin: 0 auto;
      margin-bottom: 198px;
    }

    @include onDesktop1600 {
      margin: 0 auto ;
      margin-bottom: 198px;
    }

    @include onDesktop2560 {
      margin: 0 auto ;
      margin-bottom: 198px;

    }
  }
}
