.who-we-are {
  @include page-grid;

  padding: 120px 0;

  @include on-tablet {
    padding: 148px 0;
  }

  &__title {
    grid-column: 1 / -1;

    padding-bottom: 24px;

    font-family: Poppins, sans-serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 150%;
    color: $title-color;
    text-align: center;

    @include on-tablet {
      grid-column: 2 / 6;
      padding-bottom: 16px;
    }

    @include on-small-desktop {
      grid-column: 5 / 9;
    }
  }

  &__description {
    grid-column: 1 / -1;

    font-family: 'Open Sans', sans-serif;
    font-size: 23px;
    font-weight: 600;
    line-height: 150%;
    color: $description-color;
    text-align: center;

    @include on-tablet {
      font-size: 24px;
    }

    @include on-small-desktop {
      grid-column: 2 / -3;
    }

    @include on-the-design {
      grid-column: 3 / -3;
    }
  }
}
