.menu-icon {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__top {
    content: '';
    position: absolute;
    display: block;
    top: 8px;
    width: 18px;
    height: 2px;
    background-color: #fff;
  }

  &__bottom {
    content: '';
    position: absolute;
    top: 14px;
    display: block;
    width: 18px;
    height: 2px;
    background-color: #fff;
  }
}