.about-us {
  &__title {
    color: $clr-title-base;
    text-align: center;
    font-family: $ff-second;
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 24px;

    @include media-tablet {
      margin-bottom: 16px;
    }
  }

  &__text {
    text-align: center;
    font-size: 22px;
    font-weight: 600;

    @include media-tablet {
      font-size: 24px;
    }

    @include media-desktop-sm {
      max-width: 716px;
      margin-inline: auto;
    }

    @include media-desktop-md {
      max-width: 754px;
    }
  }
}
