.expertise {
  padding: 72px 0 73px;
  background-color: $clr-white;
  border-radius: 30px;

  @include media-tablet {
    padding: 136px 0 129px;
  }

  @include media-desktop-sm {
    padding-bottom: 134px;
  }

  @include media-desktop-md {
    padding-bottom: 155px;
  }

  &__title {
    color: $clr-title-base;
    font-family: $ff-second;
    font-weight: 600;
    font-size: 44px;
    line-height: 1.21;
    text-align: center;
    margin-bottom: 56px;

    @include media-tablet {
      font-size: 52px;
      margin-bottom: 72px;
    }

    @include media-desktop-sm {
      margin-bottom: 71px;
    }
  }

  &__content {
    @include flex-column;
    row-gap: 57px;

    @include media-tablet {
      row-gap: 73px;
    }

    @include media-desktop-sm {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__item {
    @include flex-col-v-center;
    max-width: 100%;
    margin: auto;

    @include media-tablet {
      max-width: 362px;
    }

    @include media-desktop-sm {
      max-width: 214px;
      margin: 0;
    }

    @include media-desktop-md {
      max-width: 264px;
    }
  }

  &__item-img {
    @include size(166);
    border-radius: 16px;
    overflow: hidden;
    margin-bottom: 31px;

    @include media-desktop-sm {
      margin-bottom: 40px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform $transition-duration;
    }

    @include hover {
      img {
        transform: scale(1.1);
      }
    }
  }

  &__item-title {
    color: $clr-title-base;
    font-family: $ff-second;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.4;
    margin-bottom: 16px;
  }

  &__item-text {
    text-align: center;
  }
}
