.about-us {
  @include page-grid;
  @include content-padding-inline;

  margin-block: 120px;

  @include on-tablet {
    margin-block: 148px;
  }

  &__title {
    font-family: Poppins, sans-serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 48px;
    text-align: center;
    color: $title-color;
    grid-column: 1/-1;
  }

  &__text {
    font-size: 22px;
    font-weight: 600;
    line-height: 33px;
    text-align: center;

    grid-column: 1/-1;

    @include on-tablet {
      font-size: 24px;
      line-height: 36px;
    }

    @include on-small-desktop {
      grid-column: 2/-2;
    }

    @include on-small-desktop {
      grid-column: 3/-3;
    }
  }
}
