.our-expertise {
  background-color: $white;
  margin-block: 120px;
  padding-block: 72px;
  border-radius: 13px;

  @include on-tablet {
    margin-block: 148px;
    padding-block: 128px;
  }

  & .container {
    @include page-grid;
    @include content-padding-inline;

    row-gap: 56px;

    @include on-tablet {
      row-gap: 72px;
    }
  }

  &__title {
    grid-column: 1/-1;

    color: $title-color;
    font-family: Poppins, sans-serif;
    font-size: 44px;
    font-weight: 600;
    line-height: 52.8px;
    text-align: center;

    @include on-tablet {
      font-size: 52px;
      line-height: 78px;
    }
  }

  &__card {
    @include central;

    flex-direction: column;
    gap: 16px;
    grid-column: 1/-1;

    @include on-tablet {
      grid-column: 2/-2;
    }

    @include on-small-desktop {
      grid-column: span 4;
    }

    &-img {
      object-fit: cover;
      width: 166px;
      height: 166px;
      border-radius: 16px;
    }

    &-title {
      color: $title-color;
      font-family: Poppins, sans-serif;
      font-size: 20px;
      font-weight: 600;
      line-height: 28px;
      text-align: center;
    }

    &-text {
      text-align: center;
    }

    border: 0 solid;
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
    padding: 10px;
    border-radius: 12px;

    &:hover {
      border: 1px $light-gray solid;
      box-shadow: 0 0 20px rgba(128, 128, 128, 0.3);
    }

    @include hover(transform, scale(1.05));
  }
}
