.slogan {
  background-color: $white;

  @include page-grid;

  @include on-tablet {
    background-image: url(../images/slogan-bg.svg);
    background-position: center;
    object-fit: cover;
    background-repeat: no-repeat;
  }

  & .container {
    @include content-padding-inline;
    @include central;

    padding-block: 72px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    grid-column: 1/-1;

    @include on-tablet {
      padding-block: 200px;
      grid-column: 2/-2;
    }

    @include on-small-desktop {
      grid-column: 3/-3;
    }
  }

  &__title {
    color: $title-color;
    font-family: Poppins, sans-serif;
    font-size: 44px;
    font-weight: 600;
    line-height: 52.8px;
    text-align: center;
    grid-column: 1/-1;
  }

  &__text {
    font-size: 22px;
    font-weight: 600;
    line-height: 33px;
    text-align: center;
  }

  &__button {
    min-width: 264px;
    max-width: 280px;
  }
}
