.results {
  background-color: $clrWhite;
  padding: 72px 0;

  @include onTablet {
    padding: $pddResultsTop 0 $pddResultsBottom;
    background-size: 1024px 490px;
    background-position: center top 62px;
    background-repeat: no-repeat;
    background-image: url(./../images/bg-result.webp);
  }

  @include onSmDesktop {
    background-size: 1450px 546px;
    background-position: center top 82px;
    background-image: url(./../images/bg-result-desc.webp);
  }

  @include onDesktop {
    background-position: center top 72px;
  }

  &__container {
    @extend %max-content;
    padding: 0 $paddingMobX;
    @include flexAJI($jst: 0, $itm: center);
    flex-direction: column;

    @include onTablet {
      padding: 0 $paddingTabX;
    }

    @include onSmDesktop {
      padding: 0 $paddingSmDeskX;
    }
  }

  &__title {
    margin-bottom: 24px;
    text-align: center;
    font-family: $ffSecond;
    @include fontProp($fsTitle, $wgt: $fwMedium, $lh: 120%);
    color: $clrH3;

    @include onTablet {
      font-size: 52px;
    }

    @include onSmDesktop {
      line-height: 150%;
    }
  }

  &__description {
    margin-bottom: 56px;
    text-align: center;
    @include fontProp($fsDescriptionBlock, $wgt: $fwMedium, $lh: 150%);
    color: $clrText;

    @include onTablet {
      margin-bottom: 64px;
      font-size: 24px;
    }

    @include onSmDesktop {
      max-width: 754px;
    }
  }

  &__button {
    width: 100%;
    height: 56px;

    @include onTablet {
      width: 264px;
    }
  }
}
