$color-white: #fff;
$color-black: #000;
$color-bg-primary-dark: #2c2c2c;
$color-bg-primary-light: #008aff;
$color-bg-secondary: #fff;
$color-bg-tertiary: #f2f6fa;
$color-text-primary-100: #fff;
$color-text-primary-200: #d2ebff;
$color-text-primary-100-alpha50: rgba(255, 255, 255, 0.5);
$color-text-primary-100-alpha70: rgba(255, 255, 255, 0.7);
$color-text-secondary: #6c788b;
$color-text-strong-100: #334563;
$color-text-strong-200: #253757;
$color-text-strong-shadow: rgba(37, 41, 49, 0.03);
$color-text-muted: #c0cdd7;
$color-accent-blue-100: #2060f6;
$color-accent-blue-100-alpha10: rgba(32, 96, 246, 0.1);
$color-accent-blue-200: #144ed4;
$color-accent-coral-100: #ff9c8e;
$color-accent-coral-200: #ff7e6c;
$color-accent-light-blue: #56ccf2;
$color-accent-light-blue-alpha10: rgba(86, 204, 242, 0.1);
$color-accent-yellow-100: #fcc91d;
$color-accent-yellow-100-alpha10: rgba(252, 201, 29, 0.1);
$color-accent-yellow-200: #fcc304;
$color-accent-red-100: #f36363;
$color-accent-red-100-alpha10: rgba(243, 99, 99, 0.1);
$color-accent-red-200: #f25656;
$color-accent-green-100: #15d850;
$color-accent-green-100-alpha10: rgba(21, 216, 80, 0.1);
$color-accent-green-200: #03d542;

:root {
  --color-accent-main-100: #{$color-accent-blue-100};
  --color-accent-main-100-alpha10: #{$color-accent-blue-100-alpha10};
  --color-accent-main-200: #{$color-accent-blue-200};
  --color-accent-1: var(--color-accent-main-100);
  --color-accent-1-alpha10: var(--color-accent-main-100-alpha10);
  --color-accent-2: var(--color-accent-main-100);
  --color-accent-2-alpha10: var(--color-accent-main-100-alpha10);
  --color-accent-3: var(--color-accent-main-100);
  --color-accent-3-alpha10: var(--color-accent-main-100-alpha10);
  --color-accent-4: var(--color-accent-main-100);
  --color-accent-4-alpha10: var(--color-accent-main-100-alpha10);
  --color-accent-dark-1: var(--color-accent-main-100);
  --color-accent-dark-2: var(--color-accent-main-100);
  --color-accent-dark-3: var(--color-accent-main-100);
  --color-bg-primary: #{$color-bg-primary-dark};
  --color-bg-primary-opposite: #{$color-bg-primary-light};
  --color-bg-secondary: #{$color-bg-secondary};
  --color-bg-tertiary: #{$color-bg-tertiary};
  --color-text-primary: #{$color-text-primary-100};
  --color-text-primary-hover: #{$color-text-primary-200};
  --color-text-primary-alpha50: #{$color-text-primary-100-alpha50};
  --color-text-primary-alpha70: #{$color-text-primary-100-alpha70};
  --color-text-secondary: #{$color-text-secondary};
  --color-text-headings: #{$color-text-strong-100};
  --color-text-muted: #{$color-text-muted};
}
