@use "../utils";

.testimonials {

  &__description {
    margin-bottom: 85px;

    @media (max-width: 900px) {
      margin-bottom: 30px;
    }
  }

  &__overhead {
    @extend %h6;

    color: $secondary-grey-white;

    margin-bottom: 16px;
  }
  
  &__title {
    @extend %h2;
    color: $secondary-darkblue;

    margin-bottom: 24px;
  }

  &__review {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
    margin-bottom: 168px;

    @media (max-width: 750px) {
      flex-direction: column;
      align-items: center;
    }
    
    @media (max-width: 1040px) {
      margin-bottom: 50px;
      justify-content: space-around;
    }
  }

  &__card {
    
    @media (max-width: 1040px) {
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }
  }
}
