.container {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;

  @include screen-sm() {
    max-width: 720px;
  }

  @include screen-md() {
    max-width: 960px;
  }

  @include screen-lg() {
    max-width: 1200px;
  }

  @include screen-xl() {
    max-width: 1440px;
  }
}
