%font-poppins-semi-bold {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}
%font-poppins-bold {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

%font-open-sans-semi-bold {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}
%font-open-sans {
  font-family: 'Open Sans', sans-serif;
}

%upper-text-title {
  font-size: 13px;
  line-height: 19px;
  letter-spacing: 3px;
  text-transform: uppercase;
}
