.agency {
  display: grid;
  grid-template-columns: repeat(12, 1fr);

  @include mobile-screens {
    grid-template-columns: repeat(2, 1fr);
  }

  @include tablet-screens {
    grid-template-columns: repeat(6, 1fr);
  }

  @include small-screens {
    grid-template-columns: repeat(12, 1fr);
  }

  &__title {
    grid-column: 1 / span 4;

    font-weight: 600;
    font-size: 64px;
    line-height: 106%;
    letter-spacing: -0.03em;
    color: $color-text-hed;
    margin-bottom: 32px;

    @include mobile-screens {
      grid-column: 1 / span 2;
    }

    @include tablet-screens {
      grid-column: 1 / span 6;
      margin-bottom: 24px;
    }

    @include small-screens {
      grid-column: 1 / span 4;
      margin-bottom: 32px;
    }
  }

  &__p {
    grid-column: 1 / span 4;

    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: $color-text-hed;
    margin-bottom: 83px;

    @include mobile-screens {
      grid-column: 1 / span 2;
      margin-bottom: 72px;
    }

    @include tablet-screens {
      grid-column: 1 / span 4;
      margin-bottom: 56px;
    }

    @include small-screens {
      grid-column: 1 / span 5;
      margin-bottom: 83px;
    }
  }

  &__link-btn {
    display: block;
    width: 100%;
    height: 100%;
    line-height: 48px;
    text-decoration: none;
    color: inherit;
  }

  &__btn {
    margin-bottom: 48px;

    @include mobile-screens {
      grid-column: 1 / span 2;
    }

    @include tablet-screens {
      grid-column: 1 / span 3;
      margin-bottom: 147px;
    }

    @include small-screens {
      grid-column: 1 / span 4;
    }
  }
}
