.header {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  background-color: $bg-header;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;

  @include mobile-screens {
    height: 893px;
  }

  @include small-screens {
    height: 800px;
  }

  &__agency {
    @include mobile-screens {
      margin-top: 48px;
    }

    @include tablet-screens {
      margin-top: 56px;
    }

    @include small-screens {
      margin-top: 164px;
    }

    @include desktop-screens {
      margin-top: 168px;
    }
  }

  &__slider {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}
