.services {
  margin-top: 120px;

  @include tablet-screens {
    margin-top: 148px;
  }

  @include small-screens {
    margin-top: 151px;
  }

  &__content {
    display: grid;
    gap: 36px 16px;
    grid-template-columns: repeat(2, 1fr);

    @include tablet-screens {
      grid-template-columns: repeat(6, 1fr);
      grid-template-rows: repeat(6, 1fr);
      gap: 30px;
    }

    @include small-screens {
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: repeat(5, 1fr);
      gap: 20px;
    }
  }

  &__title3 {
    font-weight: 700;
    font-size: 13px;
    letter-spacing: 0.23em;
    text-transform: uppercase;
    text-align: start;
    color: #c0cdd7;
    margin-bottom: 16px;
  }

  &__title2 {
    font-weight: 600;
    font-size: 32px;
    line-height: 130%;
    color: $color-text-title;
    margin-bottom: 24px;
  }

  &__p {
    font-family: 'Open Sans', serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: $color-text-p;
  }

  &__card {
    grid-column: span 2;
  }

  &__card:nth-child(1) {
    @include tablet-screens {
      grid-column: span 3;
      grid-row: 1 / 3;
      padding-bottom: 26px;
    }

    @include small-screens {
      grid-column: 1 / span 4;
      grid-row: 2 / 4;
    }
  }
  &__card:nth-child(2) {
    @include tablet-screens {
      grid-column: span 3;
      grid-row: 3 / 5;
    }

    @include small-screens {
      grid-column: 7 / span 3;
      grid-row: 2 / 4;
    }
  }
  &__card:nth-child(3) {
    @include tablet-screens {
      grid-column: span 3;
      grid-row: 2 / 4;
    }

    @include small-screens {
      grid-column: 7 / span 3;
      grid-row: 4 / 6;
    }
  }
  &__card:nth-child(4) {
    @include tablet-screens {
      grid-column: span 3;
      grid-row: 5 / 7;
    }

    @include small-screens {
      grid-column: 10 / span 3;
      grid-row: 1 / 3;
    }
  }
  &__card:nth-child(5) {
    @include tablet-screens {
      grid-column: span 3;
      grid-row: 4 / 6;
    }

    @include small-screens {
      grid-column: 10 / span 3;
      grid-row: 3 / 5;
    }
  }
}

.card {
  padding: 32px;
  border-radius: 16px;
  box-shadow: 0 9px 18px 0 rgba(37, 41, 49, 0.03);
  background: #fff;

  @include hover(
    transform (scale(1.1) translateY(-50%)),
    box-shadow (0 0 15px 10px #848282)
  );

  &__number {
    width: 46px;
    height: 24px;
    border-radius: 23px;
    background: rgb(32, 96, 246, 0.1);
    margin-bottom: 24px;

    font-weight: 600;
    font-size: 13px;
    text-transform: uppercase;
    line-height: 24px;
    color: #2060f6;
    text-align: center;
  }

  &__p {
    margin-bottom: 32px;
    font-family: 'Open Sans', serif;
    font-weight: 600;
    font-size: 13px;
    line-height: 150%;
    color: #6c788b;
  }

  &__block {
    display: inline-flex;
    gap: 16px;
    align-items: center;
  }

  &__title3 {
    font-weight: 600;
    font-size: 15px;
    text-align: center;
    color: #334563;
  }
}

// .card:hover {
//   z-index: 10;
// }

// иконка круг + стрелка в право

.icon-arrow {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #2060f6;

  @include hover(
    background-color #021e5e,
    box-shadow (0 0 10px 3px #2060f6),
    scale (1.2)
  );

  &__arrow {
    background-image: url(../images/icon-servise-arow.png);
    position: absolute;
    width: 16px;
    height: 16px;
    color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
