.vision {
  width: 100%;
  background-image: url(../images/bg-Shapes.png);
  background-color: #fff;
  background-size: content;
  background-repeat: no-repeat;
  background-position: center;

  @include mobile-screens {
    margin-top: 114px;
    padding-bottom: 66px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
  }

  @include tablet-screens {
    margin-top: 148px;
  }

  @include small-screens {
    margin-top: 186px;
  }

  @include desktop-screens {
    margin-top: 148px;
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
    padding-top: 78px;

    @include tablet-screens {
      grid-template-columns: repeat(6, 1fr);
      padding-block: 200px;
    }

    @include small-screens {
      grid-template-columns: repeat(12, 1fr);
    }
  }

  &__h2 {
    grid-column: span 2;
    font-weight: 600;
    font-size: 44px;
    line-height: 120%;
    text-align: center;
    color: $color-text-title;
    padding-bottom: 24px;

    @include tablet-screens {
      grid-column: span 6;
      line-height: 120%;
      font-size: 52px;
    }

    @include small-screens {
      grid-column: 3 / span 8;
      line-height: 150%;
      font-size: 51px;
    }
  }

  &__p {
    font-family: 'Open Sans', serif;
    grid-column: span 2;
    font-size: 22px;
    line-height: 150%;
    text-align: center;
    color: #6c788b;
    padding-bottom: 56px;

    @include tablet-screens {
      grid-column: span 6;
      font-size: 24px;
      padding-bottom: 64px;
    }

    @include small-screens {
      grid-column: 2 / span 10;
    }

    @include desktop-screens {
      grid-column: 3 / span 8;
    }
  }

  &__btn {
    grid-column: span 2;

    @include tablet-screens {
      margin-inline: 50px;
      grid-column: 2 / span 4;
    }

    @include small-screens {
      margin-inline: 14px;
      grid-column: 5 / span 4;
    }

    @include desktop-screens {
      margin-inline: 50px;
      grid-column: 5 / span 4;
    }
  }

  &__link-btn {
    display: block;
    width: 100%;
    height: 100%;
    line-height: 48px;
    text-decoration: none;
    color: inherit;
  }
}
