.communication {
  background-color: $bg-black;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  padding-block: 72px 80px;

  @include onTable {
    padding-block: 180px 140px;
  }

  @include onTable {
    padding-block: 180px 104px;
  }

  &__wrap {
    @include onTable {
      @include pageGrid;
      
    }
  }
}
