.first {
  background-color: $bg-black;
  position: relative;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  overflow: hidden;


  &__wrap {
    padding-block: 42px 48px;

    @include onTable {
      padding-block: 42px 150px;
    }

    @include onLaptop {
      width: 360px;
      padding-block: 120px 205px;
    }
  }

  &__title {
    margin-bottom: 32px;

    @include onTable {
      margin-bottom: 24px;
    }

    @include onLaptop {
      margin-bottom: 32px;
    }
  }

  &__text {
    margin-bottom: 72px;
    color: $white;

    @include onTable {
      margin-bottom: 56px;
    }

    @include onLaptop {
      margin-bottom: 83px;
    }
  }
}
