.services {
  padding-block: 120px;

  @include onTable {
    padding-block: 150px;
  }

  @include onLaptop {
    padding-block: 250px 150px;
  }

  &__wrap {
    @include pageGrid;
  }

  &__content {
    grid-column: 1 / -1;
    margin-bottom: 48px;

    @include onTable {
      grid-column: 1 / 4;
      margin-bottom: 56px;
    }

    @include onLaptop {
      grid-column: 1 / 5;
      transform: translateY(-36px);
    }

    @include onDesktop {
      transform: translateY(-29px);
    }
  }

  &__title {
    line-height: 41px;
    margin-bottom: 24px;
  }

  &__block {
    padding: 32px;
    background-color: $white;
    border-radius: 16px;
    grid-column: 1 / -1;
    margin-bottom: 24px;
    transform-origin: left top;

    @include hover(rotate, 6deg);


    @include onTable {
      margin-bottom: 30px;

      &:nth-child(2),
      &:nth-child(4) {
        grid-column: 1 / 4;
      }

      &:nth-child(3),
      &:nth-child(5) {
        grid-column: 4 / 7;
        transform: translateY(-132px);
      }
    }

    @include onLaptop {
      margin-bottom: 20px;

      &:nth-child(2),
      &:nth-child(4) {
        grid-column: 7 / 10;
      }

      &:nth-child(3),
      &:nth-child(5) {
        grid-column: 10 / 13;
        transform: translateY(-132px);
      }
    }
  }

  &__count {
    display: inline-block;
    color: $blue;
    padding: 2px 12px;
    border-radius: 23px;
    background-color: rgba(32, 96, 246, 0.1);
    margin-bottom: 24px;
  }

  &__text {
    font-weight: 600;
    font-size: 13px;
    color: $grey;
    line-height: 19.5px;
    margin-bottom: 32px;
  }
}
