.section {
  text-align: center;

  &__who-we-are {
    background-color: $c-white-gray;
    margin-bottom: 120px;
  }

  &__experience {
    background-color: #fff;
    border-radius: 30px;
    padding: 72px 20px 20px;

    &-item {
      &-photo {
        margin: 0 auto;
        margin-bottom: 32px;
        height: 185px;
        width: 165px;
        background: url("../images/experience/exp-photo-1.png");
        border-radius: 20px;
        background-position: center;
        background-size: cover;
      }

      &-title {
        color: $c-dark-blue;
        margin-bottom: 16px;
        font-size: 20px;
        line-height: 140%;
      }

      &-info {
        margin-bottom: 56px;
        color: $c-info-gray;
        font-family: 'Open Sans';
        font-size: 14px;
        font-weight: 400;
        line-height: 150%;
      }
    }
  }

  &__descr {
    margin-bottom: 16px;
    text-align: left;
    color: #C0CDD7;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 3px;
    text-transform: uppercase;
  }

  &__title {
    color: $c-dark-blue;
    line-height: 120%;

    &--size-m {
      font-size: 32px;
    }

    &--size-l {
      font-size: 44px;
    }

    &--m-24 {
      margin-bottom: 24px;
    }

    &--m-48 {
      margin-bottom: 24px;
    }

    &--m-56 {
      margin-bottom: 56px;
    }

    &--t-a-left {
      text-align: left;
    }
  }

  &__info {
    color: $c-info-gray;
    font-family: 'Open Sans';
    font-size: 22px;
    line-height: 150%;

    &--t-a-left {
      text-align: left;
    }
  }
}