.about-us {
  display: flex;
  justify-content: center;
  text-align: center;

  &__container {
    padding: 120px $initial-padding-L-R;
  }

  &__title {
    @include font-style ($default-font, 600, 32px, 48px, 0);
    color: $dark-blue;
  }

  &__description {
    @include font-style ($secondary-font, 600, 22px, 33px, 0);
    color: $gray;
  }
}
