.services {
  --width-content: 264px;
  color: $dark-blue;

  &__container {
    padding: 120px 18px;
  }

  &__grid {
    @extend %grid;
    justify-items: center;
  }

  &__content {
    width: var(--width-content);
  }

  &__section-title {
    @include font-style ($default-font, 700, 13px, 19.5px, 3px);
    text-transform: uppercase;
    color: $grayish;
  }

  &__title {
    @include font-style ($default-font, 600, 32px, 41.6px, 0);
    padding: 16px 0 24px;
  }

  &__text {
    @include font-style ($secondary-font, 400, 14px, 21px, 0);
    color: $gray;
  }

  &__article-blocks {
    @extend %flex;
    justify-content: center;
  }

  &__article {
    background-color: $white;
    border-radius: 16px;
    box-shadow: 0 9px 18px 0 rgba(25,29,31,0);

    padding: 32px;

    &-box {
      @extend %grid;
      grid-gap: 20px;
      margin-top: 48px;
      min-width: var(--width-content);
    }

    &-title {
      @extend %inline-flex;
      justify-content: center;
      @include font-style ($default-font, 600, 13px, 19.5px, 0);
      color: $bluish;

      padding: 2px 0 0 12px;

      &::before {
        content: "";
        position: absolute;
        background-color: $bluish;
        opacity: 10%;

        width: 46px;
        height: 24px;
        border-radius: 20px;
      }
    }

    &-text {
      @include font-style ($secondary-font, 600, 13px, 19.5px, 0);
      color: $gray;
      padding: 24px 0 32px;
    }

    &-label {
      @extend %flex;
      justify-content: flex-start;
      gap: 16px;
      cursor: pointer;

      @include font-style ($default-font, 600, 15px, 22.5px, 0);
      color: $light-gray;
    }

    &-link {
      background-image: url(../icon/arrow-right-white.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-color: $bluish;
      cursor: pointer;

      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: none;
    }
  }
}
