$colorWhite: #fff;
$colorBlack: #2c2c2c;
$colorBlue: #2060f6;
$darkBlue: #253757;
$colorGrey: #6c788b;
$colorSubtitle: #d2d4d5;
$colorBackgroundGray: #f2f6fa;

$fontFamilyPoppins: 'Poppins', serif;
$fontSizeAdditional: 14px;
$fontSizeMedium: 22px;

$fontWeightRegular: 400;
$fontWeightBold: 700;
$fontWeightSemiBold: 600;

$lineHeightAdditional: 1.3;

$transitionDuration: 0.3s;
