.about-process {
  padding: $padding-vertical 10vw 292px 10vw;
  position: relative;
  background-color: $thirth-bgcolor;
  margin: 0 4vw;

  &__together {
    width: 362px;
  }

  &__name {
    margin-bottom: 48px;
    @include article-name;
  }

  &__paragraph {
    @include article-text;
    margin-bottom: 32px;
  }

  & > &__info-block:nth-child(2) {
    bottom: 367px;
    left: 42vw;
  }

  & > &__info-block:nth-child(3) {
    bottom: 508px;
    left: 65vw;
  }

  & > &__info-block:nth-child(4) {
    bottom: -197px;
    left: 42vw;
  }

  & > &__info-block:nth-child(5) {
    bottom: -56px;
    left: 65vw;
  }
}
