.article-heading {
  display: flex;
  align-items: center;
  margin-bottom: 21px;

  &__points {
    display: block;
    width: $points-size;
    height: $points-size;
  }

  &__text {
    font-weight: 800;
    font-size: 16px;
    letter-spacing: 2px;
    text-transform: $text-transform;
    color: $perceptible-text-color;
    margin-left: 16px;
  }
}
