.features {
  padding: $padding-vertical $padding-horizontal;
  position: relative;
  background-color: $second-bgcolor;
  z-index: -1;

  &::after {
    position: absolute;
    height: 100%;
    width: 44vw;
    transform: skew(-25deg);
    content: "";
    top: 0;
    right: -5vw;
    background: url(../img/features-bgphoto.jpg);
    background-position-x: 10%;
    z-index: 3;
  }

  &__article-heading-text {
    color: $main-text-color;
  }

  &__name {
    @include article-name;
    color: $main-text-color;
    margin-bottom: 70px;
  }

  &__logo {
    min-width: 64px;
    height: 64px;
    border-radius: 50%;
    background-color: $main-text-color;
    @include inside-centered;
  }

  &__article {
    display: flex;
    align-items: center;
    min-width: 440px;
  }

  &__article:not(:last-of-type) {
    margin-bottom: 64px;
  }

  &__paragraph {
    margin-left: 2vw;
    @include article-text;
    color: $main-text-color;
  }
}
