@import "feedback-form";

.footer {
  padding: $padding-vertical $padding-horizontal;
  background: $thirth-bgcolor;
  box-sizing: border-box;

  &__wrapper {
    width: 100%;
    max-width: 1800px;
    display: grid;
    grid-column-gap: auto;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
      "formz   contactz"
      "lowerz  lowerz";
  }

  &__together_form {
    grid-area: formz;
    width: 100%;
    margin-bottom: 136px;
  }

  &__article-heading_feedback {
    margin-bottom: 104px;
  }

  &__together_contacts {
    width: 100%;
    margin-left: 8vw;
    display: flex;
    flex-direction: column;
    grid-area: contactz;
  }

  &__contacts-name {
    @include article-name;
    margin-bottom: 42px;
  }

  &__span {
    letter-spacing: 2px;
    font-size: 13px;
    line-height: 150%;
    font-weight: 800;
    color: $paragraph-color;
    text-transform: $text-transform;
  }

  &__contact {
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #56ccf2;
    font-weight: 900;
    font-size: 24px;
    line-height: 150%;
    margin-bottom: 42px;
    max-width: 30vw;
  }

  &__lower {
    grid-area: lowerz;
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  &__ds-author {
    font-weight: bold;
    font-size: 16px;
    color: $paragraph-color;
  }
}
