.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  &__nav {
    position: absolute;
    top: 3vw;
    left: 12vw;
  }

  &__top-content {
    height: calc(528px + #{$slide-photo-height / 2});
    width: inherit;
    padding-top: 169px;
    padding-right: 14vw;
    padding-left: 20vw;
    padding-bottom: $header-padding-b;
    display: flex;
    flex-direction: column;
    position: relative;
    background: $second-bgcolor;
    box-sizing: border-box;
    overflow: hidden;
  }

  &__top-content::after {
    position: absolute;
    top: -84px;
    right: -17vw;
    width: 34vw;
    height: calc(528px + #{$slide-photo-height});
    transform: skew(-25deg);
    background: $first-bgcolor;
    content: "";
  }

  &__web-name {
    color: $main-text-color;
    font-weight: 900;
    font-size: 64px;
    margin-bottom: 30px;
  }

  &__motto {
    color: $main-text-color;
    font-size: 24px;
    line-height: 150%;
    margin-bottom: 45px;
  }

  &__lower-content {
    margin-top: -17.5vw;
    width: 100%;
    height: 35vw;
    display: flex;
    justify-content: flex-start;
    background: $thirth-bgcolor;
  }

  &__slide-photos {
    margin-left: 14vw;
    z-index: 1;
  }

  &__slider-effect {
    z-index: 1;
  }

  &__socnetworks {
    z-index: 1;
    height: $slide-photo-height;
    display: flex;
    width: 12vw;
    background-color: $first-bgcolor;
    padding-top: calc(1px + #{$slide-photo-height / 10});
    padding-bottom: calc( 1px + #{$slide-photo-height / 10});
    box-sizing: border-box;
  }

  &__socnetworks-list {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 0;
    margin: 0;
    max-width: 11vw;
  }

  &__socnetworks-item_text,
  &__socnetworks-item_img {
    max-width: 4vw;
    @include inside-centered;
  }

  &__socnetworks-link_text {
    writing-mode: vertical-lr;
    font-weight: 800;
    font-size: 13px;
    text-decoration: none;
    letter-spacing: 2px;
    text-transform: $text-transform;
    color: $standard-text-color;
  }

  &__socnetworks-item_img {
    display: none;
  }
}
