$first-block-elements-color: #56ccf2;
$second-block-elements-color: #fcc304;
$third-block-elements-color: #03d542;
$fourth-block-elements-color: #f25656;

.info-block {
  position: absolute;
  max-width: 260px;
  height: 282px;
  padding: 46px 16px 32px;
  box-sizing: border-box;
  box-shadow: 16px 16px 16px rgba(0, 0, 0, 0.02);
  transition: all 0.3s;
  z-index: 2;
  background-color: $first-bgcolor;

  &:hover {
    transform: translateY(-10px);
    box-shadow: 22px 22px 22px rgba(0, 0, 0, 0.06);
  }

  &__number {
    position: relative;
    font-weight: 900;
    font-size: 40px;
    line-height: 100%;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: block;
    margin: 0 auto 8px;
    padding: 0;
    width: 26px;
  }

  &__number:after {
    position: absolute;
    top: -24px;
    left: -12px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    content: "";
    z-index: -1;
  }

  &__paragraph {
    font-size: 12.6px;
    line-height: 160%;
    mix-blend-mode: normal;
    color: $standard-text-color;
  }

  & > &__number_first {
    color: $first-block-elements-color;
  }

  & > &__number_first::after {
    background-color: $first-block-elements-color;
    opacity: 0.1;
  }

  & > &__number_second {
    color: $second-block-elements-color;
  }

  & > &__number_second::after {
    background-color: $second-block-elements-color;
    opacity: 0.1;
  }

  & > &__number_third {
    color: $third-block-elements-color;
  }

  & > &__number_third::after {
    background-color: $third-block-elements-color;
    opacity: 0.1;
  }

  & > &__number_fourth {
    color: $fourth-block-elements-color;
  }

  & > &__number_fourth::after {
    background-color: $fourth-block-elements-color;
    opacity: 0.1;
  }
}
