footer {
  display: flex;
  flex-direction: column;
  min-width: 1146px;
  padding-top: 95px;
}

.footer-container {
  display: flex;
  margin-left: 227px;
  margin-bottom: 119px;
}

.send-us {
  display: flex;
  flex-direction: column;
}

.send-message {
  height: 24px;
  display: flex;
  align-items: center;
  margin-bottom: 105px;
}


.send-us-message {
  margin-left: 16px;
  font-weight: 800;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #56CCF2;
}

.feedback {
  display: flex;
  flex-direction: column;
}

.email {
  display: flex;
  flex-direction: column;
  min-width: 656px;
  margin-bottom: 48px;
}

.your-email {
  font-size: 14.4px;
  font-weight: bold;
  line-height: 150%;
  height: 22px;
  color: #152032;
}

.feedback-email {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-color: #E1E1E1;
}

.name {
  display: flex;
  flex-direction: column;
  min-width: 656px;
  margin-bottom: 48px;
}

.your-name {
  font-size: 14.4px;
  font-weight: bold;
  line-height: 150%;
  height: 22px;
  color: #152032;
}

.feedback-name {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-color: #E1E1E1;
}

.message {
  display: flex;
  flex-direction: column;
  min-width: 656px;
  margin-bottom: 105px;
}

.your-message {
  font-size: 14.4px;
  font-weight: bold;
  line-height: 150%;
  height: 22px;
  color: #152032;
}

.feedback-message {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-color: #E1E1E1;
}

.send-button {
  width: 226px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #2F80ED;
  border-radius: 64px;
  font-weight: bold;
  font-size: 16px;
  color: white;
  text-decoration: none;
  letter-spacing: 1px;
  border: 0;
}

aside {
  display: flex;
  flex-direction: column;
  margin-left: 128px;
}

.contact-container {
  display: flex;
  align-items: center;
  height: 24px;
}

.contact-us {
  margin-left: 16px;
  margin-left: 16px;
  font-weight: 800;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #56CCF2;
}

.one-more-devize {
  margin-top: 21px;
  font-weight: 900;
  font-size: 32px;
  line-height: 140%;
  color: #253757;
  width: 362px;
  height: 90px;
  margin-bottom: 28px;
}

.call-us,
.visit-us {
  font-weight: 800;
  font-size: 12.6px;
  line-height: 150%;
  height: 19px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #334563;
  margin-bottom: 0;
}

.phone-number,
.adress {
  margin-top: 0;
  font-weight: 900;
  font-size: 24px;
  line-height: 150%;
  color: #56CCF2;
  letter-spacing: 2px;
  text-transform: uppercase;
  height: 36px;
}

.phone-number {
  margin-bottom: 28px;
}

.adress {
  height: 72px;
  width: 260px;
  margin-bottom: 53px;
}

.socnetworks-links {
  display: flex;
  justify-content: space-between;
  width: 192px;
  height: 32px;
}

.lower-nav-contain {
  display: flex;
  margin-left: 227px;
}

.author {
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;
  color: #253757;
  height: 24px;
}

.lower-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 385px;
  min-width: 557px;
}

.lower-link {
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;
  color: #253757;
}

