body {
  margin: 0;
  font-family: Muli;
}

header {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 151px;
}

.top-background {
  width: 100%;
  min-width: 1600px;
  display: flex;
  height: 528px;
  background: #56CCF2;
  background-repeat: no-repeat;
  overflow: hidden;
}

.top-background::after {
  margin-top: -30px;
  margin-left: 150px;
  content: "";
  min-width: 900px;
  height: 1268px;
  transform: rotate(25deg);
  background: white;
  display: block;
  box-sizing: border-box;
}

.head-top-content {
  display: flex;
  flex-direction: column;
}

.navigation {
  display: flex;
  height: 84px;
  align-items: flex-end;
  margin-bottom: 41px;
}

.home-link {
  margin-left: 227px;
  font-weight: 600;
  font-size: 32px;
}

.nav-container {
  width: 556px;
  margin-bottom: 11px;
  margin-left: 145px;
  font-weight: 600;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
}

.recruit-link {
  margin-left: 131px;
  font-weight: bold;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.recruit-link::after {
  margin-top: 7px;
  content: "";
  height: 4px;
  width: 64px;
  border-radius: 6px;
  background-color: #FCC304;;
  }

.nav-link,
.home-link,
.recruit-link {
  color: white;
  text-decoration: none;
}

.web-name {
  color: white;
  font-weight: 900;
  font-size: 64px;
  margin-left: 325px;
  margin-bottom: 30px;
}

.company-motto {
  color: white;
  font-size: 24px;
  margin-left: 325px;
  width: 754px;
  height: 72px;
  line-height: 150%;
  margin-bottom: 42px;
}

.learn-more-button {
  margin-left: 325px;
  width: 226px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  border-radius: 64px;
  font-weight: bold;
  font-size: 16px;
  color: #253757;
  text-decoration: none;
  letter-spacing: 1px;
}

.head-lower-content {
  display: flex;
  width: 100%;
  height: 640px;
}

.bg-button-block {
  background: linear-gradient( #56CCF2 50%, white 50%);
  min-width: 227px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.slider-left {
  width: 81px;
  height: 64px;
  background: #FCC304;
  background-image: url(../img/vector-left.png);
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border: 0px;
  background-repeat: no-repeat;
  background-position: center;
}

.header-photos {
  min-width: 1146px;
  height: inherit;
  background: url(../img/Photo01.png);
  display: flex;
  flex-direction: column;
}

.slider-right {
  width: 81px;
  height: 64px;
  background: #FCC304;
  background-image: url(../img/vector-right.png);
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border: 0px;
  margin-top: 288px;
  margin-bottom: 127px;
  background-repeat: no-repeat;
  background-position: center;
}

.inscription {
  font-weight: 800;
  font-size: 12.6px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #56CCF2;
  margin-left: 98px;
  margin-bottom: 4.5px;
}

.photo-text {
  font-weight: 900;
  font-size: 19.6px;
  color: white;
  margin-left: 98px;
  max-width: 264px;
  height: 54px;
  line-height: 140%;
}

.slider-effect {
  min-width: 64px;
  height: inherit;
}

.socnetworks {
  min-width: 163px;
  height: inherit;
  display: flex;
  flex-direction: column;
}

.facebook-link,
.twitter-link,
.instagram-link {
  writing-mode: vertical-lr;
  font-weight: 800;
  font-size: 12.6px;
  text-decoration: none;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #253757;
}

.facebook-link {
  margin-top: 112px;
  margin-left: 1px;
}

.twitter-link {
  margin-top: 84px;
  margin-left: 1px;
}

.instagram-link {
  margin-top: 82px;
  margin-left: 1px;
}
