@charset "UTF-8";
body {
  font-family: Muli;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.header__top-content {
  height: calc(61vh + 17.5vw);
  width: 100vw;
  display: flex;
  flex-direction: column;
  position: relative;
  background: #4870a3;
}
.header__top-content::after {
  position: absolute;
  right: -13vw;
  background: #d1f3ff;
  width: 25vw;
  height: 61vh;
  content: "";
  transform: skew(-25deg);
}
.header__nav {
  display: flex;
  height: 9vh;
  align-items: center;
  margin-bottom: 3vw;
  padding-left: 14vw;
}
.header__nav .nav__home-link {
  font-weight: 600;
  font-size: 32px;
}
.header__nav .nav__container {
  min-width: 31vw;
  margin-left: 9vw;
  font-weight: 600;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
}
.header__nav .nav__recruit-link {
  margin-left: 6.5vw;
  font-weight: bold;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.header__nav .nav__recruit-link::after {
  margin-top: 1vh;
  content: "";
  height: 4px;
  width: 64px;
  border-radius: 6px;
  background-color: #fcc304;
}
.header__nav .nav__link,
.header__nav .nav__home-link,
.header__nav .nav__recruit-link {
  color: #ffffff;
  text-decoration: none;
}
.header__web-name {
  color: #ffffff;
  font-weight: 900;
  font-size: 64px;
  margin-left: 18vw;
  margin-bottom: 1.5vw;
}
.header__motto {
  color: #ffffff;
  font-size: 24px;
  margin-left: 18vw;
  max-width: 754px;
  line-height: 150%;
  margin-bottom: 1.5vw;
  margin-top: -1vw;
}
.header__button {
  margin-left: 18vw;
  width: 226px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  border-radius: 4vh;
  font-weight: bold;
  font-size: 16px;
  color: #253757;
  text-decoration: none;
  letter-spacing: 1px;
}
.header__lower-content {
  margin-top: -17.5vw;
  width: 100vw;
  height: 35vw;
  display: flex;
  justify-content: flex-start;
  background: #d1f3ff;
}
.header__lower-content .slide__photos {
  width: 70vw;
  height: 35vw;
  position: relative;
  display: flex;
  margin-left: 14vw;
}
.header__lower-content .slide__photos .slide__photo-1 {
  width: 70vw;
  height: 35vw;
}
.header__lower-content .slide__photos .slide-photo__slider-left {
  position: absolute;
  top: calc(50% - 32px);
  left: -81px;
  width: 81px;
  height: 64px;
  background: #fcc304;
  background-image: url(../img/vector-left.png);
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border: 0px;
  background-repeat: no-repeat;
  background-position: center;
}
.header__lower-content .slide__photos .slide-photo__slider-right {
  position: absolute;
  top: calc(50% - 32px);
  width: 81px;
  height: 64px;
  background: #fcc304;
  background-image: url(../img/vector-right.png);
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  background-repeat: no-repeat;
  background-position: center;
  border: 0px;
  padding: 0;
}
.header__lower-content .slide__photos .slide-photo__inscription {
  position: absolute;
  left: 6vw;
  top: 80%;
  font-weight: 800;
  font-size: 13px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #56ccf2;
}
.header__lower-content .slide__photos .slide-photo__text {
  position: absolute;
  left: 6vw;
  top: 85%;
  font-weight: 900;
  font-size: 20px;
  color: #ffffff;
  margin: 0;
  max-width: 264px;
  height: 54px;
  line-height: 140%;
}
.header__lower-content .slider-effect {
  min-width: 4vw;
  height: 35vw;
  background-color: #d1f3ff;
  z-index: 1;
}
.header__lower-content .socnetworks {
  height: 35vw;
  display: flex;
  align-items: center;
  width: 22vw;
  background-color: #d1f3ff;
  z-index: 1;
}
.header__lower-content .socnetworks .socnetworks__list {
  height: 35vw;
  display: flex;
  flex-direction: column;
}

.facebook__text-link,
.twitter__text-link,
.instagram__text-link {
  writing-mode: vertical-lr;
  font-weight: 800;
  font-size: 13px;
  text-decoration: none;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #253757;
  margin-top: 4vw;
}

.facebook__img-link,
.twitter__img-link,
.instagram__img-link {
  display: none;
  margin-top: 5vw;
}

/* Изменения при уменьшении соотношения сторон. Только не пугайте меня мобилами, а то ляшки обсерю и пойду в кс играть :D */
@media screen and (max-aspect-ratio: 15/10) {
  /* Изменения при уменьшении соотношения сторон и высоты экрана одновременно */
}
@media screen and (max-aspect-ratio: 15/10) and (max-height: 900px) {
  .header__button {
    width: 150px;
    height: 38px;
    font-size: 12px;
  }
}
@media screen and (max-aspect-ratio: 15/10) {
  .header__top-content {
    height: calc(50vh + 17.5vw);
  }
}
@media screen and (max-aspect-ratio: 15/10) {
  .header__top-content::after {
    right: -12vw;
  }
}
@media screen and (max-aspect-ratio: 15/10) {
  .nav__container {
    min-width: 38vw;
  }
}
@media screen and (max-aspect-ratio: 15/10) {
  .header__web-name {
    font-size: 54px;
    margin-top: 0;
  }
}
@media screen and (max-aspect-ratio: 15/10) {
  .header__motto {
    max-width: 600px;
  }
}
@media screen and (max-aspect-ratio: 15/10) {
  .slide-photo__inscription {
    font-size: 11px;
  }
}
@media screen and (max-aspect-ratio: 15/10) {
  .slide-photo__text {
    font-size: 16px;
  }
}
@media screen and (max-aspect-ratio: 15/10) {
  .facebook__text-link,
.twitter__text-link,
.instagram__text-link {
    display: none;
  }
}
@media screen and (max-aspect-ratio: 15/10) {
  .facebook__img-link,
.twitter__img-link,
.instagram__img-link {
    display: block;
  }
}
@media screen and (max-aspect-ratio: 12/10) {
  .header__top-content {
    height: calc(45vh + 17.5vw);
  }

  .header__top-content::after {
    right: -10vw;
  }

  .nav__container {
    min-width: 44vw;
  }

  .header__web-name {
    font-size: 48px;
  }

  .header__motto {
    max-width: 500px;
    line-height: 120%;
  }

  .slide-photo__slider-left {
    top: calc(50% - 24px);
    left: -60px;
    width: 60px;
    height: 48px;
  }

  .slide-photo__slider-right {
    top: calc(50% - 24px);
    width: 60px;
    height: 48px;
  }

  .slide-photo__inscription {
    font-size: 9px;
  }

  .slide-photo__text {
    font-size: 14px;
  }
}
@media screen and (max-height: 900px) {
  .facebook__text-link,
.twitter__text-link,
.instagram__text-link {
    display: none;
  }

  .facebook__img-link,
.twitter__img-link,
.instagram__img-link {
    display: block;
  }
}

/*# sourceMappingURL=header.css.map */
