body {
  margin: 0;
  font-size: normal;
  text-decoration: none;
  font-family: muli;
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6, p, li, a {
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  text-decoration: none;
  font-size: normal;
}

li {
  list-style: none;
}

img {
  display: block;
}

*::placeholder {
  opacity: 1;
}
