body {
  margin: 0;
  font-size: normal;
  text-decoration: none;
  font-family: muli;
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6, p, li, a {
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  text-decoration: none;
  font-size: normal;
}

li {
  list-style: none;
}

img {
  display: block;
}

.socnetworks {
  width: 180px;
  display: flex;
  justify-content: space-between;
}

.nav {
  width: 61vw;
  height: 32px;
  display: flex;
  align-items: center;
  z-index: 2;
}
.nav__sandwich {
  position: fixed;
  left: 4vw;
  top: 4vw;
}
.nav__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: inherit;
}
.nav__item {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}
.nav__number {
  display: none;
}
.nav__socnetworks {
  display: none;
}
.nav__link {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  position: relative;
}
.nav__main-link {
  margin-right: 5vw;
  font-weight: 700;
  font-size: 32px;
}
.nav__recruit-link {
  margin-left: 4vw;
}
.nav__link:after {
  position: absolute;
  left: -5%;
  top: 28px;
  content: "";
  height: 4px;
  width: 110%;
  border-radius: 6px;
  background-color: #fcc304;
  display: none;
}
.nav__main-link:after {
  top: 44px;
}
.nav__link:active::after {
  display: block;
}

.top__nav {
  position: absolute;
  top: 3vw;
  left: 12vw;
}

.button {
  width: 226px;
  height: 56px;
  background: #fff;
  border-radius: 50px;
  color: #253757;
  text-decoration: none;
  letter-spacing: 1px;
  box-sizing: border-box;
  font-weight: 700;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide-photos {
  width: 70vw;
  display: flex;
  flex-direction: column;
  position: relative;
}
.slide-photos__photo-1 {
  width: 70vw;
  height: 35vw;
}
.slide-photos__slider_right {
  position: absolute;
  top: calc(50% - 32px);
  background: #fcc304;
  background-image: url(../img/vector-right.png);
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  background-repeat: no-repeat;
  background-position: center;
  width: 80px;
  height: 64px;
  border: none;
}
.slide-photos__slider_left {
  position: absolute;
  top: calc(50% - 32px);
  left: -80px;
  background: #fcc304;
  background-image: url(../img/vector-left.png);
  background-repeat: no-repeat;
  background-position: center;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  width: 80px;
  height: 64px;
  border: none;
}
.slide-photos__inscription {
  position: absolute;
  left: 6vw;
  top: 28vw;
  font-weight: 800;
  font-size: 13px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #56ccf2;
  max-width: 32vw;
}
.slide-photos__text {
  position: absolute;
  left: 6vw;
  top: 30vw;
  font-weight: 900;
  font-size: 20px;
  color: #fff;
  line-height: 140%;
  max-width: 32vw;
}

.slider-effect {
  width: 4vw;
  height: 35vw;
  background-color: #fff;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.header__top-content {
  height: calc(528px + 17.5vw);
  width: inherit;
  padding-top: 169px;
  padding-right: 14vw;
  padding-left: 20vw;
  padding-bottom: calc(80px + 17.5vw);
  display: flex;
  flex-direction: column;
  position: relative;
  background: #4870a3;
  box-sizing: border-box;
  overflow: hidden;
}
.header__top-content::after {
  position: absolute;
  top: -84px;
  right: -17vw;
  width: 34vw;
  height: calc(528px + 35vw);
  transform: skew(-25deg);
  background: #fff;
  content: "";
}
.header__web-name {
  color: #fff;
  font-weight: 900;
  font-size: 64px;
  margin-bottom: 30px;
}
.header__motto {
  color: #fff;
  font-size: 24px;
  line-height: 150%;
  margin-bottom: 45px;
}
.header__lower-content {
  margin-top: -17.5vw;
  width: 100%;
  height: 35vw;
  display: flex;
  justify-content: flex-start;
  background: #fff;
}
.header__slide-photos {
  margin-left: 14vw;
  z-index: 1;
}
.header__slider-effect {
  z-index: 1;
}
.header__socnetworks {
  z-index: 1;
  height: 35vw;
  display: flex;
  width: 12vw;
  background-color: #fff;
  padding-top: calc(1px + 3.5vw);
  padding-bottom: calc( 1px + 3.5vw);
  box-sizing: border-box;
}
.header__socnetworks-list {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  padding: 0;
  margin: 0;
  max-width: 11vw;
}
.header__socnetworks-item_text, .header__socnetworks-item_img {
  max-width: 4vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__socnetworks-link_text {
  writing-mode: vertical-lr;
  font-weight: 800;
  font-size: 13px;
  text-decoration: none;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #253757;
}
.header__socnetworks-item_img {
  display: none;
}

@media screen and (max-width: 1399px) {
  .header__top-content {
    height: calc(422px + 17.5vw);
    padding-top: 135px;
    padding-bottom: calc(64px + 17.5vw);
  }
  .header__top-content::after {
    right: -15vw;
  }
  .header__web-name {
    color: #fff;
    font-weight: 900;
    font-size: 56px;
    margin-bottom: 24px;
  }
  .header__motto {
    color: #fff;
    font-size: 24px;
    line-height: 150%;
    margin-bottom: 36px;
  }
}
@media screen and (max-width: 1199px) {
  .nav {
    width: 72vw;
  }

  .slide-photos__slider_right {
    top: calc(50% - 25px);
    width: 60px;
    height: 50px;
  }
  .slide-photos__slider_left {
    top: calc(50% - 25px);
    left: -60px;
    width: 60px;
    height: 50px;
  }
  .slide-photos__inscription {
    left: 6vw;
    top: 26vw;
  }
  .slide-photos__text {
    left: 6vw;
    top: 28vw;
  }

  .header__socnetworks-item_text {
    display: none;
  }
  .header__socnetworks-item_img {
    display: flex;
  }
}
@media screen and (max-width: 1000px) {
  .nav {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 70px;
    z-index: 2;
  }
  .nav__list {
    display: none;
  }
  .nav__show {
    z-index: 3;
    background: rgba(255, 255, 255, 0.9);
    display: flex;
    justify-content: space-between;
    height: 70px;
    width: 100%;
    padding-top: 24px;
    box-sizing: border-box;
    align-items: flex-start;
  }
  .nav__sandwich {
    display: inline-block;
    margin: 0;
    cursor: pointer;
    z-index: 4;
    position: absolute;
    top: 20px;
    left: 20px;
  }
  .nav__sandwich-item {
    display: block;
    width: 30px;
    height: 2px;
    margin: 6px 0;
    background: #222;
    z-index: 2;
  }
  .nav__item {
    margin: 0;
    color: #253757;
    font-weight: 700;
    font-size: 24px;
  }
  .nav__link {
    color: #253757;
  }
  .nav__main-link {
    display: none;
  }
  .nav__recruit-link {
    margin-right: 5vw;
    margin-left: 0;
  }

  .header__top-content {
    height: calc(316px + 17.5vw);
    padding-top: 65px;
    padding-bottom: calc(48px + 17.5vw);
  }
  .header__top-content::after {
    right: -12vw;
  }
  .header__web-name {
    color: #fff;
    font-size: 48px;
    margin-bottom: 18px;
  }
  .header__motto {
    color: #fff;
    font-size: 24px;
    line-height: 150%;
    margin-bottom: 27px;
  }
}
@media screen and (max-width: 850px) {
  .nav {
    height: 100vh;
  }
  .nav__show {
    flex-direction: column;
    justify-content: flex-start;
    height: 100vh;
    padding-top: 24px;
    box-sizing: border-box;
    align-items: center;
    padding-left: 0;
  }
  .nav__item {
    margin-bottom: 60px;
  }
  .nav__number {
    display: block;
  }
  .nav__socnetworks {
    display: flex;
  }
  .nav__recruit-link {
    margin: 0;
  }

  .header__top-content {
    height: calc(316px + 17.5vw);
    padding-top: 40px;
    padding-bottom: calc(48px + 17.5vw);
    padding-left: 14vw;
  }
  .header__top-content::after {
    right: -11vw;
  }
  .header__web-name {
    font-size: 42px;
  }
  .header__motto {
    height: 72px;
  }

  .slide-photos__slider_right {
    display: none;
  }
  .slide-photos__slider_left {
    display: none;
  }
  .slide-photos__inscription {
    font-size: 10px;
  }
  .slide-photos__text {
    font-size: 15px;
  }
}
@media screen and (max-width: 650px) {
  .header__top-content {
    height: calc(210px + 17.5vw);
    padding-top: 32px;
    padding-bottom: calc(36px + 17.5vw);
  }
  .header__top-content::after {
    right: -8vw;
  }
  .header__web-name {
    font-size: 32px;
    margin-bottom: 10px;
  }
  .header__motto {
    height: 64px;
    font-size: 18px;
    margin-bottom: 15px;
  }
  .header__button {
    height: 28px;
    width: 80px;
    font-size: 10px;
  }
  .header__socnetworks {
    padding-top: calc(1px + 2.5vw);
    padding-bottom: calc( 1px + 2.5vw);
  }

  .slide-photos__inscription {
    font-size: 8px;
  }
  .slide-photos__text {
    font-size: 12px;
  }
}
@media screen and (max-width: 500px) {
  .header__top-content {
    padding-top: 24px;
    padding-bottom: calc(16px + 17.5vw);
    padding-left: 6vw;
    padding-right: 6vw;
    text-align: center;
    height: 216px;
  }
  .header__top-content::after {
    display: none;
  }
  .header__web-name {
    font-size: 24px;
    margin-bottom: 6px;
  }
  .header__motto {
    height: 48px;
    font-size: 16px;
  }
  .header__button {
    height: 28px;
    width: 80px;
    font-size: 10px;
    margin: 0 auto;
  }
  .header__slider-effect {
    display: none;
  }
  .header__socnetworks {
    display: none;
  }

  .slide-photos__inscription {
    font-size: 6px;
  }
  .slide-photos__text {
    font-size: 9px;
  }
}

/*# sourceMappingURL=styles.css.map */
