.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 20px;

  @include Mobile {
    .header__top {
      padding: 20px 0;
    }
  }

  @include Tablet {
    padding: 0 40px;

    .header__top {
      padding: 20px 0;
    }
  }

  @include smallDestop {
    padding: 0 55px;

    .header__top {
      padding: 50px 0;
    }
  }

  @include Desktop {
    max-width: 1280px;
  }
}