.expertise {
  border-radius: 30px;
  background: #FFFFFF;

  &__block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 56px;

    @include smallDestop {
      flex-direction: row;
      gap: 137px;
    }

    &--top {
      margin-top: 56px;

      @include Tablet {
        margin-top: 64px;
      }
    }
  }

  &__content {
    padding: 72px 0;

    @include Tablet {
      padding: 128px 0;
    }

    @include smallDestop {
      padding: 128px 0 134px;
    }
  }

  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    font-family: "Poppins";
    font-weight: 600;
    font-size: 44px;
    line-height: 120%;
    align-items: center;
    text-align: center;
    color: $color-title;

    @include Tablet {
      font-size: 52px;
      line-height: 150%;
    }
  }

  &__photo {
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 16px;
    width: 184px;
    height: 166px;
    transition: all 0.3s linear;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__subtitle {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 140%;
    text-align: center;
    color: $color-title;

    &--top {
      margin-top: 32px;

      @include smallDestop {
        margin-top: 40px;
      }
    }
  }

  &__paragraph {
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    color: $color-subtitle;

    &--top {
      margin-top: 16px;
    }

    @include Mobile {
      max-width: 280px;
    }

    @include Tablet {
      max-width: 362px;
    }

    @include smallDestop {
      max-width: 214px;
    }

    @include Desktop {
      max-width: 264px;
    }
  }
}