.menu {
  width: auto;

  &__nav {
    margin-top: 50px;

    @include small-desktop {
      margin-top: 0;
    }
  }

  &__icons {
    @include small-desktop {
      display: none;
    }
  }

  &__logo {
    text-decoration: none;
  }

  &__logo-img {
    @include hover(transform, scale(1.2));
  }

  &__close {
    margin-left: 32px;
  }

  &__close-img {
    @include hover(transform, scale(1.2));
  }
}
