.section {
  &--top {
    margin: 120px 0;
  }

  &--services {
    margin: 120px 0 0;

    @include smallDestop {
      margin: 251px 0 0;
    }
  }

  &--testimonials {
    margin: 120px 0 120px;

    @include Tablet {
      margin: 148px 0 148px;
    }

    @include Desktop {
      margin: 151px 0 186px;
    }
  }

  &--vision {
    background: $color-white;
    margin: 0 0 120px;

    @include Tablet {
      background-image: url(/images/shapes.png);
      background-position: center;
      background-repeat: no-repeat;
      margin: 0 0 0;
    }
  }
}