.testimonials {
  &__title {
    font-family: "Poppins";
    font-weight: 600;
    font-size: 32px;
    line-height: 150%;
    color: $color-title;

    &--top {
      margin: 16px 0 0;
    }
  }

  &__subtitle {
    font-family: "Poppins";
    font-weight: 700;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 3px;
    text-transform: uppercase;

    color: $color-subtitle-h;

    &--top {
      margin: 16px 0 0;
    }
  }

  &__card-block {
    display: flex;
    flex-direction: column;
    gap: 24px;

    @include Tablet {
      gap: 30px;
    }

    @include smallDestop {
      flex-direction: row;
      gap: 20px;
    }

    @include Desktop {
      gap: 30px;
    }


    &--top {
      margin: 48px 0 0;

      @include Tablet {
        margin: 56px 0 0;
      }

      @include smallDestop {
        margin: 85px 0 0;
      }
    }
  }

  &__card {
    transition: all 0.3s linear;

    &:hover {
      transform: scale(1.03);
      background-color: rgb(248,248,248);
    }
  }
}