.top-bar {
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  @include on-small-desktop {
    padding-top: 40px;
  }

  &__logo {
    text-decoration: none;
  }

  &__logo-img {
    @include hover(transform, scale(1.2));
  }

  &__menu {
    margin-left: 32px;

    @include on-small-desktop {
      display: none;
    }
  }

  &__menu-img {
    @include hover(transform, scale(1.2));
  }
}
