.whoweare {
  padding: 120px 0;

  @include Tablet {
    padding: 148px 0;
  }

  &__title {
    font-family: "Poppins";
    font-weight: 600;
    font-size: 32px;
    line-height: 150%;
    align-items: center;
    text-align: center;
    color: $color-title;
  }

  &__subtitle {
    font-family: "Open Sans";
    font-weight: 600;
    font-size: 22px;
    line-height: 150%;
    text-align: center;
    color: $color-subtitle;

    &--top {
      margin-top: 24px;

      @include Tablet {
        margin-top: 16px;
      }

      @include smallDestop {
        min-width: 716px;
      }

      @include Desktop {
        min-width: 754px;
      }
    }
  }
}