.about-us {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__description {
    @include font-open-sans-semibold;

    margin-top: 24px;
    font-size: 22px;
    line-height: 33px;
    text-align: center;
    color: $main-font-color;

    @include on-tablet {
      margin-top: 16px;
      font-size: 24px;
      line-height: 36px;
    }

    @include on-small-desktop {
      width: 716px;
    }

    @include on-desktop {
      width: 754px;
    }
  }
}
