.about-us {
  align-items: center;
  padding: 0 20px 120px;

  @include on-tablet {
    padding: 0 41px 148px;
  }

  @include on-desktop {
    max-width: 716px;
    margin: 0 auto;
  }

  @include on-tv {
    max-width: 754px;
    margin: 0 auto;
  }

  &__title {
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 150%;
    letter-spacing: 0;
    text-align: center;
    vertical-align: middle;
    color: $main-title-color;
  }

  &__description {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 22px;
    line-height: 150%;
    letter-spacing: 0;
    text-align: center;
    color: $main-text-color;

    @include on-tablet {
      font-size: 24px;
      margin-top: 16px;
    }
  }
}
