.about-us {
  background-color: #e5e5e5;
  padding: 120px 0 0;
 
  @include onMobile() {
    padding: 148px 0 0;
  }
  &__title {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 150%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #253757;
    margin: 0 0 24px;
  
    @include onMobile {
      margin: 0 0 16px;
    }
  }
  
  &__paragraph {
    font-family: "Open", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 150%;
    text-align: center;
    color: #6c788b;
    margin: 0 0 120px;
  
    @include onMobile {
      font-size: 24px;
      margin: 0 0 148px;
    }
  }
}
