.address {
  &__content {
    grid-column: 1 / -1;
    margin-bottom: 40px;

    @include small-desktop {
      grid-column: 7 / -1;
      margin-bottom: 48px;
    }

    @include big-desktop {
      grid-column: 8 / -1;
    }
  }

  &__title {
    font-family: Poppins, sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 48px;
    text-align: left;
    color: $white-color;

    margin-top: 0;
    margin-bottom: 8px;
  }

  &__subtitle {
    font-family: Poppins, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: $white-color;
  }

  &__data {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    text-align: left;
    color: $white-color;
    font-style: normal;

    @include hover-scale;
  }

  &__list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    gap: 32px;
    margin-top: 16px;
  }

  &__item {
    list-style: none;

    @include hover(transform, scale(1.5));
  }

  &__social {
    width: 32px;
    height: 32px;
  }
}
