@import "../utils/vars";
@import "../utils/mixins";

.apply {
  padding: 200px 0;
  background-color: $color-w;

  &__block {
    background-image: url(/images/icons/Shapes.svg);
    background-position: center;
  }

  &__text {
    margin: 24px 0 56px;
    max-width: 754px;
    font-family: "Open Sans", sans-serif;
        font-weight: 600;
        font-style: normal;
        font-size: 22px;
        line-height: 150%;
        color: $color-text-grey;
    
        @include onTablet {
            font-size: 24px;
        }
    
    @include onTablet {
      margin-bottom: 64px;
    }
  }
  &__block {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
  }

  &__button {
    @include font-p-600;
        font-size: 15px;
        text-align: center;
        line-height: 56px;
    
        width: 100%;
        height: 56px;
        border-radius: 8px;
        border: none;
        cursor: pointer;
    
        background: $color-b;
    
        text-decoration: none;
        transition: box-shadow 0.3s;
    
        &:hover {
            box-shadow: 0 0 10px $color-b;
        }
    
        @include onTablet {
            width: 264px;
        }
  }
}
