.box {
  border-radius: 16px;
  background-color: #fff;
  box-shadow: 0 9px 18px 0 rgba(37,41,49,.03);
  padding: 32px;
  display: grid;
  row-gap: 24px;
  transition: 0.3s ease-in-out;

  &:hover {
    background-color: rgba(0, 128, 255, 0.07);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  }

  &__number {
    font-size: 13px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    line-height: 20px;
    width: 46px;
    height: 24px;
    padding: 2px 12px;
    margin: 0;
    color: #2060f6;
    border-radius: 23px;
    background-color: rgba(32,96,246,.1);
  }

  &__text {
    font-size: 13px;
    font-weight: 600;
    line-height: 20px;
    text-align: left;
    color: #6c788b;
    margin: 0;
  }

  &__link {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;

    &__icon {
      background-color: #2060f6;
      border-radius: 50%;
      padding: 4px;
      transition: transform .3s ease;


      &:hover {
        transform: scale(1.1);
      }
    }

    &--arrow {
      background-image: url(/src/images/Vector-services.svg);
    }

    &--button {
      color: #334563;
      text-align: center;
      font-size: 15px;
      font-weight: 600;
      cursor: pointer;
      text-decoration: none;
    }
  }
}
