.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 264px;
  height: 56px;
  font-size: 15px;
  line-height: 22px;
  font-weight: 600;
  color: #fff;
  background-color: #2060F6;
  border-radius: 8px;
  transition: background-color .3s;

  &:hover {
    background-color: #0b3bab;
  }
}
