.button {
  display: block;
  font-family: Poppins, sans-serif;
  font-size: 15px;
  line-height: 22px;
  text-align: center;
  font-weight: 600;

  height: 56px;
  width: 100%;
  border-radius: 8px;
  background-color: $color-blu;
  color: $color-white;
  cursor: pointer;
  margin-bottom: 48px;
  transition: background 0.3s;

  &:hover {
    background-color: $color-white;
    color: $color-blu;
  }

  @include onTablet {
    max-width: 264px;
  }

  @include smallDesktop {
    margin: 0;
  }
}
