.button {
  padding: 0;
  border: none;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 23px;
  color: $white-color;
  width: 265px;
  height: 50px;
  border-radius: 8px;
  background: $background-blue;

  @include onPhone {
    width: 280px;
  }
}
