.contact-us {
  padding: 80px 0 100px;

  @include onMobile {
    padding: 70px 20px 80px;
  }
}

.message-block {
  display: flex;
  flex-direction: column;

  &__title {
    margin-bottom: 56px;
    font-weight: 600;
    font-size: 32px;
    line-height: 150%;
    color: $color-white;

    @include onMobile {
      margin-bottom: 48px;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  .input {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    color: $color-white;
    outline: none;
    background-color: $color-background-top-bottom;
    border: none;
    border-bottom: 1px solid $color-white;
    padding-bottom: 14px;

    &:focus {
      border-color: #144ED4;
    }
  }

  &__form-email {
    margin-bottom: 48px;
  }

  &__form-name {
    margin-bottom: 48px;
  }

  &__form-message {
    margin-bottom: 80px;
  }

  &__info-link {
    margin-bottom: 48px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    color: $color-white;

    @include onMobile {
      margin-bottom: 40px;
    }
  }

  &__info-title {
    margin-bottom: 8px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: $color-white;
    opacity: 0.5;
  }

  &__social-links {
    display: flex;
  }

  &__social-link{
    margin-right: 32px;
    color: white;
  }

  &__social-img {
    fill: currentColor;
    
    &:hover {
      color: $color-blue;
      cursor: pointer;
    }
  }
}



