.contact-us {
  &__container {
    display: flex;
    padding: 180px 41px 120px;
    justify-content: space-between;

    @include onTablet {
      flex-direction: column;
    }

    @include onPhone {
      padding: 70px 20px 80px;
    }
  }

  &__left {
    max-width: 460px;

    @include onTablet {
      margin-bottom: 120px;
    }
  }

  &__left--title {
    margin-bottom: 55px;
    color: $white-color;
    font-family: "Poppins", sans-serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 150%;
    text-align: left;
  }

  &__field-container {
    max-width: 460px;
    margin-bottom: 50px;

    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 1px;
      background-color: $white-color;
    }
    
    &:hover::after {
      background-color: $background-blue;
    }
  }

  &__right {
    &--title {
      margin-bottom: 56px;
      color: $white-color;
      font-family: "Poppins", sans-serif;
      font-size: 32px;
      font-weight: 600;
      line-height: 150%;
      text-align: left;
    }

    &--call-us {
      margin-bottom: 50px;
    }

    &--visit-us {
      margin-bottom: 50px;
    }

    &--our-social {
      margin-bottom: 50px;
    }
  }

  &__social {
    display: flex;
    gap: 40px;
  }

  &__social-icon {
    cursor: pointer;
    width: 32px;
    height: 32px;
    transition: all 0.1s ease;
    
    &,

    path:hover {
      fill: $background-blue;
      transition: all 0.3s ease;
    }
  }
  
  &__subtitle {
    margin-bottom: 20px;
    color: $text-grey-transparent-color;
    font-family: "Poppins", sans-serif;
    font-size: 13px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 3px;
    text-align: left;
    text-transform: uppercase;
  }

  &__info-link {
    color: $white-color;
    font-family: "Open Sans", sans-serif;
    text-decoration: none;
    font-size: 24px;
    font-weight: 600;
    line-height: 150%;
    text-align: left;
  }
}
