
.contact {
  margin-bottom: 40px;

  &__social--link {
    padding-right: 40px;
  }

  &__sub-title {
    margin-bottom: 20px;
    transition: transform .3s ease-in-out;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__link {
    font-family: 'Open Sans',sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0px;

    transition: color .3s ease-in-out;
    &:hover {
      color: #2060F6;
    }
  }

  &__social--link {
    transition: transform .3s ease-in-out;

    &:hover {
      transform: scale(1.1);
    }
  }
}
