.cta {
  background-color: #fff;
  background-size: cover;
  background-position: 50%;

  @include on-tablet {
    background-image: url(/src/images/cta_tablet.svg);
  }

  @include on-small-desktop {
    background-image: url(/src/images/cta.svg);
  }

  @include on-design {
    background-image: url(/src/images/cta_1600.svg);
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 72px;

    @include on-tablet {
      padding-block: 200px;
    }
  }

  &__title {
    font-family: Poppins, sans-serif;
    font-size: 44px;
    font-weight: 600;
    line-height: 53px;
    padding-bottom: 24px;
    margin: 0;
    text-align: center;
    color: #253757;

    @include on-tablet {
      font-size: 52px;
      line-height: 62px;
    }

    @include on-small-desktop {
      line-height: 78px;
    }
  }

  &__description {
    font-family: "Open Sans", sans-serif;
    font-size: 22px;
    font-weight: 600;
    line-height: 33px;
    text-align: center;
    padding-bottom: 56px;
    margin: 0;
    color: #6c788b;

    @include on-tablet {
      font-size: 24px;
      line-height: 36px;
      padding-bottom: 64px;
    }
  }

  &__button {
    font-family: Poppins, sans-serif;
    font-size: 15px;
    font-weight: 600;
    line-height: 23px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    padding-top: 17px;
    background-color: #2060f6;
    width: 280px;
    height: 56px;
    top: 6728px;
    left: 20px;
    border-radius: 8px;
    transition: background-color .3s;

    &:hover {
      background-color: #003ac3;
  }

    @include on-tablet {
      width: 264px;
    }
  }
}
