.expertise {
  border-radius: 30px;
  background-color: #fff;

  &__products {
    display: flex;
    padding: 0 20px 72px;
    flex-direction: column;
    align-items: center;

    @include on-tablet {
      padding-bottom: 128px;
    }

    @include on-desktop {
      padding: 0 54px 134px;
      align-items: baseline;
      flex-direction: row;
      justify-content: space-between;
    }

    @include on-tv {
      max-width: 1146px;
      margin: 0 auto;
      padding: 0 0 134px;
    }
  }

  &__product {
    text-align: center;
    max-width: 280px;
    transition: transform 0.3s;

    &:hover {
      transform: scale(1.1);
    }

    @include on-tablet {
      max-width: 362px;
    }

    @include on-desktop {
      max-width: 214px;
    }

    @include on-tv {
      max-width: 264px;
    }
  }
}
