.expertise-title {
  font-family: Poppins, sans-serif;
  font-weight: 600;
  font-size: 44px;
  line-height: 120%;
  letter-spacing: 0;
  text-align: center;
  vertical-align: middle;

  padding: 72px 0 56px;
  margin: 0;

  @include on-tablet {
    font-size: 52px;
    padding: 128px 0 64px;
  }
}
