.expertise {
  background-color: $white-color;
  border-radius: 30px;

  overflow: hidden;

  &__title {
    font-family: Poppins, sans-serif;
    font-size: 44px;
    line-height: 52.8px;
    text-align: center;

    @include on-tablet {
      font-size: 52px;
      line-height: 78px;
    }
  }

  &__list {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include small-desktop {
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
    }
  }

  &__item {
    margin-top: 56px;
    list-style: none;

    @include hover(transform, scale(1.1));

    @include on-tablet {
      margin-top: 72px;
    }

    @include small-desktop {
      width: 214px;
    }

    @include big-desktop {
      width: 264px;
    }
  }

  &__item-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include small-desktop {
      width: 214px;
    }

    @include big-desktop {
      width: 264px;
    }
  }

  &__item-title {
    font-family: Poppins, sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    text-align: center;

    color: $title-color;
    margin-top: 32px;

    @include small-desktop {
      margin-top: 40px;
    }
  }

  &__item-image-container {
    width: 166px;
    height: 166px;
  }

  &__item-image {
    width: 100%;
    height: 100%;
    border-radius: 16px;
  }

  &__item-description {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
    color: $grey-color;

    margin-top: 16px;
  }
}
