.expertise {
  text-align: center;
  background-color: $c-white;

  &--padding-block {
    padding-block: 72px;

    @include tablet {
      padding-block: 128px;
    }

    @include laptop {
      padding-bottom: 134px;
    }
  }

  &__title {
    font-size: 44px;
    line-height: 120%;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 56px;

    @include tablet {
      gap: 72px;
    }

    @include laptop {
      flex-direction: row;
      gap: 137px;
    }

    @include desktop {
      gap: 177px;
    }

    &--margin {
      margin-top: 56px;

      @include tablet {
        margin-top: 64px;
      }
    }
  }

  &__card {
    cursor: pointer;

    @include tablet {
      max-width: 362px;
    }

    @include laptop {
      max-width: 214px;
    }

    @include desktop {
      max-width: 264px;
    }

    &-image {
      width: 166px;
      height: 166px;
      object-fit: cover;
      border-radius: 16px;
      background-color: #c4c4c4;

      transition: transform $delay ease;
    }

    &-title {
      font-size: 20px;
      line-height: 140%;

      transition: color $delay ease;

      &--margin-block {
        margin-top: 32px;
        margin-bottom: 16px;

        @include laptop {
          margin-top: 40px;
        }
      }
    }

    &-text {
      font-size: 14px;

      transition: color $delay ease;
    }

    &:hover {
      & .expertise__card-image {
        transform: scale(1.2);
      }

      & .expertise__card-title {
        color: rgba(37, 55, 87, 0.6);
      }

      & .expertise__card-text {
        color: rgba(108, 120, 139, 0.6);
      }
    }
  }
}
