.footer {
  border-radius: 30px 30px 0 0;
  background-color: $background-dark;
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 55px 84px;

    @include onTablet {
      flex-direction: column;
      align-items: start;
      padding: 0 41px 80px;
    }

    @include onPhone {
      padding: 0 20px 80px;

    }
  }

  &__logo {
    @include onTablet {
      margin-bottom: 25px;
    }

    @include onPhone {
      margin-bottom: 50px;
    }
  }

  &__menu-list {
    display: flex;
    gap: 64px;

    @include onTablet {
      gap: 40px;
    }
    
    @include onPhone {
      flex-direction: column;
      gap: 24px;
    }
  }
}
