.footer {
  background-color: $second-bg-page-black;
  padding-block: 80px;

  &__top-bar {
    flex-direction: column;
    gap: 48px;
    align-items: start;
    height: auto;

    @include tablet {
      gap: 24px;
    }

    @include laptop {
      flex-direction: row;
      align-items: center;
    }
  }

  &__nav {
    display: flex;

    &__list {
      display: flex;
      flex-direction: column;
      gap: 24px;

      @include tablet {
        flex-direction: row;
        gap: 39px;
      }

      @include laptop {
        gap: 64px;
      }
    }
  }
}
