.footer {
  background-color: $light-blue-color;
  padding-top: 120px;

  @include onTablet {
    padding-top: 0;
    background-color: #fff;
  }

  &__content {
    @include container;
    @include pageGrid;
    background-color: $header-color;
    border-radius: 30px;
    padding-bottom: 80px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  &__logo-img {
    margin-top: 80px;

    @include onTablet {
      margin-top: 140px;
    }

    @include onTablet {
      margin-top: 120px;
    }
  }

  &__nav {
    margin-top: 48px;

    @include onTablet {
      margin-top: 24px;
    }

    @include onSmallDesktop {
      margin-top: 125px;
    }
  }

  &__message {
    grid-column: 1 / -1;

    @include onSmallDesktop {
      grid-column: 1 / 7;
    }
  }

  &__contacts {
    grid-column: 1 / -1;

    @include onSmallDesktop {
      grid-column: 7 / -1;
    }
  }

  &__menu {
    grid-column: 1 / -1;

    @include onSmallDesktop {
      display: flex;
      justify-content: space-between;
    }
  }
}
