/* Change autocomplete styles in WebKit */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: $background-dark;
  -webkit-box-shadow: 0 0 0 1000px $white-color inset;
  transition: background-color 5000s ease-in-out 0s;
}

.form-field {
  display: block;
  position: relative;
  width: 100%;
  border: transparent;
  background: transparent;
  color: $white-color;
  font-family: Poppins, sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 23px;
  text-align: left;
  transition: all 0.3s;


  &::placeholder {
    color: $text-grey-color;
    font-family: Poppins, sans-serif;
    font-size: 15px;
    font-weight: 600;
    line-height: 23px;
    text-align: left;
  }

  &:hover {
    border-color: $text-grey-color;
  }

  &:focus {
    border-color: $background-blue;
    outline: none;
  }

  &--textarea {
    height: 144px;
    font-family: inherit;
    resize: none;
  }
}
