.header {
  position: relative;
  min-height: 606px;
  height: 100vh;

  color: #fff;
  background-color: #2C2C2C;
  border-radius: 0 0 30px 30px;

  @include onMobile {
    height: max-content;
  }

  &__nav {
    @include onMobile {
      display: none;
    }
  }

  &__top {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 164px;
    padding-top: 52px;

    @include onMobile {
      margin: 0 20px;
      margin-bottom: 48px;
      padding-top: 20px;
    }
  }

  &__logo-box {
    display: flex;
  }

  &__logo {
    display: block;
    width: 55px;
    height: 28px;
    margin-right: 32px;
    background-image: url(../images/logo/dia-logo.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  &__burger {
    display: none;
    height: 28px;
    width: 28px;
    background-color:ivory;

    @include onMobile {
      display: block;
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;
  }

  &__item:not(:last-child) {
    margin-right: 48px;
  }

  &__link {
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
  }

  &__hair-us {
    text-transform: uppercase;
  }

  &__hair-us::after {
    display: block;
    content: "";
    height: 2px;
    margin-top: 8px;
    background: #2060F6;
    border-radius: 4px;
  }

  &__title {
    margin-bottom: 32px;
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 68px;
    letter-spacing: -2px;
    color: #FFFFFF;

    @include onMobile {
      font-size: 52px;
      line-height: 120%;
      letter-spacing: -2px;
      margin: 0 20px 32px;
    }
  }

  &__subtitle {
    margin-bottom: 83px;
    min-width: 280px;
    max-width: 450px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    color: #FFFFFF;

    @include onMobile {
      margin: 0 20px;
      margin-bottom: 72px;
    }
  }


  &__button {
    display: flex;
    justify-content: center;
    justify-self: center;
    align-items: center;
    width: 280px;
    height: 50px;
    background-color: #2060F6;
    border-radius: 8px;

    @include onMobile {
      margin: 0 auto;
      margin-bottom: 48px;
    }
  }
}

.header__img {
  @include onDesctop {
    position: absolute;
    left: 50%;
    bottom: 0;
    right: 0;
    height: 85vh;
    border-radius: 30px 0;
  }

  @include onNotebook {
    position: absolute;
    left: 55%;
    bottom: 0;
    right: 0;
    height: 85vh;
    border-radius: 30px 0;
  }

  height: 390px;
  background-image: url(../images/slider/Photo.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 30px;
}
