.header {
  background-color: $bg-darc-color;
  border-radius: 0 0 30px 30px;
  position: relative;

  @include desktop {
    height: 800px;

    &__content {
      display: flex;
    }

    &__main {
      width: 45%;
    }
  }

  &__main {
    margin-bottom: 48px;

    @include tablet {
      margin-bottom: 147px;
    }
  }

  &__title {
    color: $white-color;
    font-family: "Poppins", sans-serif;
    font-size: 52px;
    font-weight: 600;
    line-height: 120%; /* 62.4px */
    letter-spacing: -2px;

    margin-top: 29px;
    margin-bottom: 32px;

    @include tablet {
      font-size: 64px;
      line-height: 68px;
      margin-top: 37px;
    }

    @include desktop {
      margin-top: 120px;
    }
  }

  &__description {
    color: $white-color;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 27px */
    margin-bottom: 72px;
    max-width: 362px;

    @include tablet {
      margin-bottom: 56px;
    }

    @include desktop {
      margin-bottom: 83px;
    }
  }

  &__slider {
    position: relative;

    @include mobile {
      width: calc(100% + 40px);
      margin: 0 -20px;
    }

    @include tablet {
      width: calc(100% + 60px);
      margin: 0 -30px;
    }

    @include desktop {
      position: absolute;
      margin: 0;
      width: 50%;
      right: 0;
      bottom: 0;
      overflow: hidden;
    }
  }
}

