.icon {
  width: 24px;
  height: 24px;

  &--menu {
    background-image: url(../images/icon/menu.svg);
  }

  &__close {
    background-image: url(../images/icon/icon-close.svg);
  }

  @include hover(transform, scale(1.5));
}
