.icons {
  &__logo {
    text-decoration: none;
  }

  &__menu {
    margin-left: 32px;

    @include onSmallDesktop {
      display: none;
    }
  }

  &__close {
    margin-left: 32px;

    @include onSmallDesktop {
      display: none;
    }
  }

}
