.logo {
  &__cross,
  &__menu {
    display: inline-block;
    width: 24px;
    height: 16px;
    color: #fff;
  }
  &__menu {
    @include onTablet {
      display: none;
    }
  }

  
  &__image {
    width: 45px;
    height: 25px;
  
    &--header {
      margin-right: 35px;
    }
  
    &--footer {
      margin-bottom: 50px;
      margin-right: 35px;
      padding: 0;
    }
  }
  
  &__quotes {
    width: 20px;
    height: 18px;
    margin: 0 auto 10px;
  }
  
  
  &__facebook {
    position: absolute;
    left: 0;
    top: 0;
    height: 24px;
    width: 15px;

  }

  &__twitter {
    position: absolute;
    left: 0;
    top: 0;
    height: 21px;
    width: 24px;
    opacity: 1;
  }

  &__instagram {
    position: absolute;
    left: 0;
    top: 0;
    height: 24px;
    width: 24px;
    opacity: 1;
    color: #fff;

    &:hover {
      background-color: #2060f6;
    }
  }
}
