.main {
  margin-top: 120px;

  @include onTablet {
    margin-top: 180px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 24px;
    text-align: center;
    padding-bottom: 120px;

    @include onTablet {
      gap: 16px;
      padding-bottom: 148px;
    }

    &--title {
      font-size: 32px;
      font-style: normal;
      font-weight: 600;
    }

    &--discription {
      font-size: 22px;
      font-style: normal;
      font-weight: 600;

      @include onTablet {
        font-size: 24px;
      }
    }
  }

  &__top {
    background-color: $white-color;
    border-radius: 25px;
    padding: 72px 20px;
    margin-bottom: 120px;

    @include onTablet {
      margin-bottom: 148px;
    }

    @include onDesktopM {
      margin-bottom: 251px;
    }

    &--content {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      @include onDesktopM {
        justify-content: space-around;
        flex-direction: row;
      }

      @include onDesktopX {
        justify-content: space-evenly;
      }
    }

    &--title {
      color: $darkly-color;
      text-align: center;
      font-size: 44px;
      font-weight: 600;
      line-height: 120%;
      margin-bottom: 56px;
    }
  }

  &__cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 56px;

    @include onTablet {
      margin-bottom: 72px;
    }

    &--card {
      width: 184px;
      border-radius: 30px;
      margin-bottom: 32px;
      transition: 0.5s ease;

      &:hover {
        transform: scale(1.1);
      }
    }

    &--title {
      margin-bottom: 16px;
    }

    &--description {
      width: 280px;
      text-align: center;

      @include onTablet {
        width: 362px;
      }

      @include onDesktopM {
        width: 214px;
      }
    }
  }
}
