.menu {
  @include container;
  padding-top: 20px;
  box-sizing: border-box;
  height: 100vh;
  background-color: $header-color;
  overflow: auto;
  display: flex;
  justify-content: left;

  @include onSmallDesktop {
    background-color: transparent;
  }
}
