.menu {
  background: $c-bgc-dark;
  height: 893px;
  color: $c-text-white;
  font-weight: 700;

  &__content {
    display: none;
    visibility: hidden;

    @include on-desktop-small {
      display: flex;
      visibility: visible;
    }
  }

  &__top {
    margin-bottom: 20px;
  }

  &-nav__list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 48px;
  }

  &-nav__link {
    font-family: Poppins, sans-serif;
    font-weight: 700;
    font-size: 13px;
    line-height: 19.5px;
    letter-spacing: 3px;
    color: $c-text-white;
    text-decoration: none;
    text-transform: uppercase;
  }
}
