.menu {
  box-sizing:border-box;
  position: absolute;
  padding: 100px 20px 20px;
  height: 100vh;
  width: 200px;
  background-color: #505050;
  border-radius: 0 20px 20px 20px;

  visibility: hidden;
  opacity: 0;
  
  z-index: 50;
  transition: opacity 0.3s;

  @include onDesctop {
    display: none;
  }

  &__item {
    margin-bottom: 20px;
  }

  &__link {
    text-transform: uppercase;
    font-size: 18px;
  }
  
}

.menu.open {
  transition: .2s visibility linear, .2s opacity linear;
  visibility: visible;
  opacity: 1;
}

.menu.close {
  
}
