.nav {
  &__list {
    list-style: none;
    display: flex;
    gap: 48px;
    padding: 0;

    @media (max-width: $small-desktop-min-width) {
      display: flex;
      flex-direction: column;
    }
  }

  &__link {
    position: relative;
    @extend %h4;
    text-decoration: none;
    color: $header-text-color;
    letter-spacing: 3px;
    text-transform: uppercase;

    &::after {
      content: "";
      position: absolute;
      display: block;
      bottom: -8px;
      height: 2px;
      width: 100%;
      background-color: $blue-color;

      transition: transform 0.3s;
      transform: scale(0);
      transform-origin: center;

    }
    &:hover::after {
      transform: scale(1);
    }
  }
}
