.our-expertise {
  background-color: #fff;
  border-radius: 30px;

  &__content {
    display: flex;
    flex-direction: column;
    gap: 56px;
    align-items: center;
    padding-block: 72px;

    @include on-tablet {
      padding-block: 120px;
    }

    @include on-small-desktop {
      padding-block: 128px 134px;
    }
  }

  &__title {
    font-family: Poppins, sans-serif;
    font-size: 44px;
    font-weight: 600;
    line-height: 53px;
    text-align: center;
    color: #253757;

    @include on-tablet {
      font-size: 52px;
      line-height: 78px;
    }
  }

  &__features {
  display: flex;
  flex-direction: column;
  gap: 56px;

  @include on-tablet {
    gap: 72px;
  }

  @include on-small-desktop {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }
  }

  &__feature  {
    width: 100%;

    @include on-tablet {
      max-width: 362px;
    }

    @include on-small-desktop {
      max-width: 214px;
    }

    @include on-design {
      max-width: 264px;
    }
  }
}
