.page {
  scroll-behavior: smooth;

  &__body {
    min-width: $phone-min-width;
    background-color: $main-background-color;
    margin: 0;
  }
}

.container {
  width: 280px;
  margin-inline: auto;

  @include on-tablet {
    width: 560px;
  }

  @include on-small-desktop {
    width: 918px;
  }

  @include on-desktop {
    width: 1148px;
  }
}
