.page {
  @extend %font_Open-Sans400;
  font-size: 14px;
  line-height: 150%;
  color: $colorbackgraund;
  scroll-behavior: smooth;
  background-color: #e5e5e5;
  position: relative;

  &__body {
    margin: 0;

    &--with-menu {
      overflow: hidden;
    }
  }

  &__menu {
    @include inlainer;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    transition: all (0.5s);
    transform: translateX(-100%);

    &:target {
      opacity: 1;
      transform: translate(0%);
      pointer-events: all;
    }
  }
}
