.section-text {
  @extend %font_Poppins600;
  text-align: center;
  line-height: 150%;
  color: $maintitletext;
  font-size: 32px;

  &--big-size {
    font-size: 44px;

    @include onSmalldesktop {
      font-size: 52px;
    }
  }

  &--small {
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: $maintext;
  }

  &--size-20 {
    font-size: 20px;
  }

  &--left {
    text-align: left;
    line-height: 130%;
  }

  &--before {
    position: relative;
    padding-bottom: 24px;

    &::before {
      position: absolute;
      bottom: calc(100% + 16px);
      content: "Services";
      color: $colorplace;
      font-size: 13px;
      font-weight: 700;
      line-height: normal;
      letter-spacing: 3px;
      text-transform: uppercase;
    }
  }
}
