.send-us {
  &__form {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  &__info {
    @include font-poppins-semibold;

    box-sizing: border-box;
    margin-bottom: 40px;
    border: none;
    outline: none;
    padding: 0;
    width: 280px;
    padding-bottom: 17px;
    background: transparent;
    border-bottom: 1px solid $white-color;
    height: 41px;
    font-size: 15px;
    line-height: 22.5px;
    text-align: left;
    color: rgba($white-color, 1);

    @include on-tablet {
      margin-bottom: 48px;
      width: 362px;
    }

    @include on-desktop {
      width: 370px;
    }

    @include on-large-screen {
      width: 460px;
    }

    &--email {
      margin-top: 48px;

      @include on-tablet {
        margin-top: 56px;
      }
    }

    @include hover (border-color, $blue-color);

    &:active {
      color: rgba($white-color, 1);
    }

    &--message {
      margin-bottom: 0;
      resize: none;
      overflow-y: hidden;
    }

    &:-webkit-autofill {
      -webkit-box-shadow: 0 0 0 1000px $dark-background-color inset;
      -webkit-text-fill-color: rgba($white-color, 1);
    }
  }

  &__button {
    @include font-poppins-semibold;

    box-sizing: border-box;
    cursor: pointer;
    padding: 0;
    margin-top: 56px;
    background-color: $blue-color;
    height: 56px;
    width: 280px;
    color: $white-color;
    font-size: 15px;
    line-height: 22.5px;
    text-align: center;
    border: none;
    border-radius: 8px;
    transition: $transform-time;

    @include on-tablet {
      width: 264px;
      margin-top: 80px;
    }

    @include hover(background-color, $hover-color);

    &:hover {
      box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
    }

    &:active {
      background-color: $blue-color;
    }
  }
}
