.services {
  @include on-small-desktop {
    display: flex;
    justify-content: space-between;
    padding-top: 103px;
    gap: 176px;

    @include on-desktop {
      gap: 226px;
    }
  }

  &__top {
    width: 282px;
    align-self: start;

    @include on-tablet {
      width: 266px;
    }

    @include on-small-desktop {
      width: 294px;
    }

    @include on-desktop {
      width: 364px;
    }
  }

  &__description {
    @include font-open-sans-normal;

    margin-top: 24px;
    margin-bottom: 48px;
    color: $main-font-color;
    display: flex;
    flex-direction: column;
    gap: 21px;
    font-size: 14px;
    line-height: 21px;
    text-align: left;

    @include on-tablet {
      margin-bottom: 56px;
    }
  }

  &__description-part {
    margin: 0;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;

    @include on-tablet {
      align-self: flex-end;
      gap: 30px;
      flex-flow: row wrap;
      place-content: flex-end center;

      .service-card:nth-child(2n + 2) {
        transform: translateY(-50%);
      }
    }

    @include on-small-desktop {
      width: 448px;
      gap: 20px;
    }

    @include on-desktop {
      width: 558px;
      gap: 30px;
    }
  }
}
