.services {

  margin-bottom: 120px;

  @include onSmall {
    margin-bottom: 148px;
  }

  &__content {
    padding: 0 20px;

    @include onSmall {
      @include pageGrid;

      padding: 0 41px;
    }

    @include onMiddle {
      padding: 0 54px;
    }

    @include onBig {
      padding: 0 227px;
    }

    @include onTV {
      padding: 0 707px;
    }
  }

  &__wrapper {
    margin: 0 auto;
    margin-bottom: 48px;

    @include onSmall {
      grid-column: 1 / 4;
      margin-bottom: 56px;
    }

    @include onMiddle {
      margin-bottom: 100px;
      grid-column: 1 / 6;
    }
  }

  &__note {
    @extend %h4;
    margin: 0;
    line-height: 20px;

    letter-spacing: 3px;
    text-transform: uppercase;

    color: $gray-moon;
  }

  &__title {
    @extend %h3;
    margin: 16px 0 0;
  }

  &__text-top {
    @extend %p;
    font-size: 14px;
    margin: 24px 0 0;
  }

  &__text-bottom {
    @extend %p;
    font-size: 14px;
    margin: 24px 0 0;
  }

  &__modules {
    margin: 0 auto;
    display: grid;
    row-gap: 24px;

    @include onSmall {
      grid-column: 1 / -1;
      grid-template-columns: repeat(6, 1fr);
      column-gap: 30px;
      row-gap: 30px;
    }

    @include onMiddle {
      grid-column: 6 / -1;
      padding-top: 140px;
    }

    @include onTV {
      grid-column: 6 / -1;
    }
  }

  &__module {
    &:nth-child(2n) {
      transition: all $allSpeedAnim;

      @include onSmall {
        grid-column: 4 / 7;
        transform: translateY(-50%);
      }
    }

    &:nth-child(odd) {
      transition: all $allSpeedAnim;

      @include onSmall {
        grid-column: 1 / 4;
      }
    }
  }
}
