.services {
  padding-bottom: 148px;
  margin: 0 auto;

  @include onMobile {
    padding: 120px 0;
    .br {
      display: none;
    }
  }

  &__title-block {
    @include onMobile {
      margin-bottom: 48px;
    }
  }

  .container {
    @include onMobile {
      padding: 0 20px;
    }
  }

  &__topic {
    margin-bottom: 16px;
    font-weight: bold;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #C0CDD7;
  }

  &__title {
    margin-bottom: 24px;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 130%;
    color: #253757;

    @include onDesctop {
      font-size: 28px;
    }
  }
  
  &__text {
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #6C788B;
  }

  &__block {
    margin-bottom: 20px;
    padding: 32px 16px 32px 19px;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 9px 18px rgba(37, 41, 49, 0.03);
    border-radius: 16px;

    @include onNotebook {
      padding: 32px;
    }
  }

  &__num-box {
    margin-bottom: 24px;
    width: 46px;
    height: 24px;
    background-color: rgba(35, 98, 246, 0.1);
    border-radius: 23px;
  }

  &__num {
    font-weight: 600;
    font-size: 13px;
    line-height: 24px;
    text-transform: uppercase;
    color: #2060F6;
    text-align: center;
  }

  &__description {
    margin-bottom: 32px;
  }

  &__item {
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 11px;
    line-height: 20px;
    color: #6C788B;
  }

  &__button {
    display: flex;
    align-items: center;
    gap: 16px;

    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    color: #334563;

    cursor: pointer;
  }

  &__arrow {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 40px;
    height: 40px;
    background-color: #2060F6;
    border-radius: 100px;

    &:hover {
      background-color: #6593ff;
    }
  
    &:active {
      background-color: #1449c7;
    }
  }

  &__img-arrow {
    width: 20px;
    height: 20px;
  }
}
