.service-card {
  box-sizing: border-box;
  padding: 32px;
  height: 264px;
  width: 280px;
  background-color: $white-color;
  border-radius: 23px;
  display: flex;
  flex-direction: column;
  transition: $transform-time;
  box-shadow: 0 9px 18px 0 rgba(37, 41, 49, 0.03);

  @include hover(box-shadow, 0 15px 30px 0 rgba(37, 41, 49, 0.2));

  &__content {
    @include font-open-sans-semibold;

    margin-top: 24px;
    margin-bottom: 32px;
    padding-left: 0;
    color: $main-font-color;
    font-size: 13px;
    line-height: 19.5px;
    text-align: left;
    list-style: none;
  }

  &__number-card {
    height: 24px;
    width: 46px;
    border-radius: 23px;
    background-color: $main-background-color;
  }

  &__number {
    @include font-poppins-semibold;

    margin: 0;
    color: $blue-color;
    font-size: 13px;
    line-height: 24px;
    text-align: center;
  }

  &__link {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    align-items: center;
    height: 40px;
    width: 143px;
  }

  &__button {
    display: block;
    height: 40px;
    width: 40px;
    border-radius: 20px;
    color: $blue-color;
    border-style: none;
    background-image: url(../images/services-button.png);

    @include hover(transform, scale(1.2));
  }

  &__link-title {
    @include font-poppins-semibold;

    color: $dark-font-color;
    font-size: 15px;
    line-height: 40px;
    text-align: center;

    @include hover(color, $hover-color);
  }

  @include on-tablet {
    width: 264px;
  }

  @include on-small-desktop {
    width: 214px;
  }

  @include on-desktop {
    width: 264px;
  }
}
