.side-menu {
  height: 100vh;

  font-family: Poppins, sans-serif;
  background-color: $title-color;

  text-transform: uppercase;
  font-weight: 700;
  color: $white-color;

  overflow-y: scroll;

  &__container {
    @include content-padding-inline;
  }

  &__content {
    text-align: center;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-top: 20px;
    margin-bottom: 48px;
  }

  &__icons {
    width: 100%;
    height: 100%;

    @include hover(transform, scale(1.1));
  }
}
