.slider {
  position: absolute;
  right: 20px;
  left: 20px;
  bottom: 25px;
  z-index: 5;
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;

  @include onMobile {
    margin-bottom: 32px;
  }
  
  @include onTablet {
    flex-direction: row;
    gap: 24px;
    left: calc(50% + 80px);
    right: 55px;
    bottom: 50px;
  }

  &__link {
    display: flex;
    gap: 16px;
    justify-content: start;
    align-items: center;
    margin: 0 0 16px;
  }

  &-icon {
    display: block;
    width: 32px;
    height: 32px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    border: 1px solid transparent;
    border-radius: 50%;
    background-color: #6c788b;
  }

  &-paragraph {
    display: flex;
    flex-direction: column;
    justify-content: start;

    &__intro {
      font-family: "Poppins", sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 13px;
      line-height: 19px;
      letter-spacing: 3px;
      text-transform: uppercase;
      color: #fff;
      margin: 0 0 8px;
    }
  
    &__text {
      font-family: "Open Sans", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 140%;
      color: #fff;
      margin: 0 0 25px;
    }
  }
}
