.slider {
  // position: absolute;

  & .slide img {
    // height: 100%;
    border-radius: 30px 0;
    // object-fit: cover;
    // object-position: center;

    @include onTablet {
      border-radius: 30px;
      width: 100%;
    }
  }

  &__description {
    display: flex;
    gap: 24px;
    flex-direction: row-reverse;
    align-items: center;
    min-width: 264px;
    position: absolute;
    bottom: 48px;
    left: 48px;
    color: $white-color;
  }

  &__title {
    padding-bottom: 8px;
    font-family: "Poppins", sans-serif;
    font-size: 13px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 3px;
    text-transform: uppercase;
  }

  &__paragraf {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 140%;
  }

  &__controls {
    display: flex;
    gap: 16px;
  }
}

.slide {
  position: absolute;
}
