.testimonials {
  margin-bottom: 120px;

  &__content {
    display: flex;
    flex-direction: column;
    padding: 0 20px;

    @include onSmall {
      padding: 0 41px;
    }

    @include onMiddle {
      padding: 0 54px;
    }

    @include onBig {
      width: 1628px;
      padding: 0 227px;
    }
  }

  @include onSmall {
    margin-bottom: 148px;
  }

  @include onMiddle {
    margin-bottom: 186px;
  }

  @include onBig {
    margin-bottom: 148px;
  }

  &__note {
    margin-bottom: 16px;
    color: $gray-moon;
    font-size: $smallText;
    font-weight: $fontWeightTitle;
    letter-spacing: 3px;
    text-transform: uppercase;
  }

  &__title {
    margin-bottom: 48px;
    font-size: $mediumText;
    font-weight: $fontWeightText;
    line-height: 150%;

    color: $gray-shadow;

    @include onSmall {
      width: 200px;
    }
  }

  &__page {
    border-radius: 50%;
  }

  &__cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include onMiddle {
      flex-direction: row;
    }
  }

  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    padding: 32px 0;
    margin-bottom: 24px;
    box-shadow: 0 9px 18px 0 rgba(37, 41, 49, 0.03);
    
    @include hover (transform, scale(1.05));

    width: 280px;
    height: 456px;
    border-radius: 16px;
    background-color: $white;

    @include onSmall {
      width: 558px;
      height: 478px;
      margin-bottom: 30px;
    }

    @include onMiddle {
      margin-bottom: 0;
      margin-right: 20px;
      width: 292px;
      height: 456px;

      &:nth-child(3) {
        margin-right: 0;
      }
    }

    @include onBig {
      width: 362px;
      margin-right: 30px;
    }
  }
}

.card {
  &__cards {
    display: flex;
    flex-direction: column;
    width: 196px;
    height: 196px;
    margin-bottom: 28px;
    
  }

  &__content {
    text-align: center;

    &-page {
      margin-bottom: 8px;
    }

    &-text {
      width: 196px;
      margin-bottom: 16px;
      color: $gray;
      font-size: $smallText;
      font-weight: $fontWeightText;
      line-height: 150%;

      @include onSmall {
        width: 362px;
      }

      @include onMiddle {
        width: 196px;
      }

      @include onBig {
        width: 250px;
      }
    }
  }

  &__bio {
    &-text {
      color: $gray-shadow;
      text-align: center;
      font-size: $smallText;
      font-weight: $fontWeightText;
      line-height: 150%;
    }

    &-title {
      color: $gray-moon;
      text-align: center;
      font-size: $smallText;
      font-weight: $fontWeightTitle;
      letter-spacing: 3px;
      text-transform: uppercase;
    }
  }
}

.rectangel {
  display: block;

  width: 108.98px;
  height: 43.9px;
  transform: rotate(-60deg) translate(-35px, 30px);
  background-color: $light-blue;
  border-radius: 12px;
}

.rectangel-second {
  display: block;

  width: 108.98px;
  height: 43.9px;
  transform: rotate(-60deg) translate(85px, 60px);
  background-color: $light-blue;
  border-radius: 12px;
}

.card__page {
  width: 109.76px;
  height: 109.76px;
  transform: translate(50px);
  border-radius: 50%;
  z-index: 3;

  object-fit: cover;
}

.card__page--position {
  object-position: top;
}
