.testimonials {

  &__title {
    margin-bottom: 48px;
  }

  &__card {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    height: 456px;
    background-color: #fff;
    box-shadow: 4px 5px 5px #6c788b;
    border-radius: 20px;

    transition: .3s ease-in-out;
    &:hover {
      transform: translateY(15%) scale(1.1);
      box-shadow: 1px 4px 16px #2060F6;
    }


    @include onNotebook {
      max-width: 386px;
    }

    &--photo-container {
      position: relative;
      display: grid;
      justify-items: center;
      grid-template-columns: repeat(4,1fr);
      column-gap: 24px;
      margin-bottom: 70px;

      &::before {
        content: "";
        position: absolute;
        right: 10%;
        bottom: -5%;
        display: inline-block;
        width: 110px;
        height: 50px;
        border-radius: 12px;
        transform: rotate(-60deg);
        background-color: #2060F6;

        @include onTablet {
          right: 32%;
        }

        @include onNotebook {
          right: 17%;
        }

        @include onDesign {
          right: 20%;
        }
      }

      &::after {
        content: "";
        position: absolute;
        top: -5%;
        left: 10%;
        display: inline-block;
        width: 110px;
        height: 50px;
        border-radius: 12px;
        transform: rotate(-60deg);
        background-color: #2060F6;

        @include onTablet {
          left: 32%;
        }

        @include onNotebook {
          left: 17%;
        }
        @include onDesign {
          left: 20%;
        }
      }
    }

    &--photo {
      position: relative;
      top: 0;
      left: 0;
      z-index: 1;
      grid-column: 2/4;
      height: 115px;
      width: 100%;
      max-width: 140px;
      border-radius: 50%;
      transform-origin: center;

      @include onTablet {
        height: 140px;
      }
    }

    &--quotes {
      background-image: url(../images/quotes.svg);
      width: 20px;
      height: 18px;
      margin: 0 auto 10px;
    }

    &--paragraph {
      font-family: "Open Sans", sans-serif;
      font-size: 13px;
      font-weight: 600;
      line-height: 20px;
      letter-spacing: 0px;
      text-align: center;
      color: #6C788B;
      margin-bottom: 16px;

      @include onTablet {
        max-width: 362px;
        margin: 16px auto;
      }
    }

    &--name {
      font-family: "Open Sans", sans-serif;
      font-size: 13px;
      font-weight: 600;
      line-height: 20px;
      letter-spacing: 0px;
      text-align: center;
      color: #253757;
      margin-bottom: 4px;
    }

    &--role {
      font-family: "Poppins", sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 13px;
      line-height: 20px;

      text-align: center;
      letter-spacing: 3px;
      text-transform: uppercase;
      color: #C0CDD7;
      margin-bottom: 32px;
    }
  }
}
