.testimonial {
  display: flex;
  flex-direction: column;
  background: #fff;
  border-radius: 16px;
  width: 100%;
  margin: 0 0 24px;
  transition: transform 0.5s;

  @include onMobile {
    margin: 0 0 30px;
  }

  @include onTablet {
    width: 292px;
    margin: 0 0 186px;
  }

  &:hover {
    box-shadow: 0 9px 18px #2060f6;
    transform: scale(1.05);
  }

  &:last-child {
    margin: 0 0 120px;

    @include onMobile {
      margin: 0 0 148px;
    }

    @include onTablet {
      margin: 0 0 186px;
    }
  }

  &__photo-container {
    display: block;
    margin: 75px calc(50% - 110px / 2) 70px;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    position: relative;
    z-index: 3;

    @include onMobile {
      margin: 85px calc(50% - 140px / 2) 80px;
      width: 140px;
      height: 140px;
    }

    @include onTablet {
      margin: 75px calc(50% - 110px / 2);
      width: 110px;
      height: 110px;
    }
    &::before {
      content: "";
      display: inline-block;
      position: absolute;
      width: 90px;
      height: 115px;
      background-image: url("/images/logo/Rectangle11.svg");
      background-repeat: no-repeat;
      left: -30px;
      top: -40px;
  
      @include onMobile {
        content: "";
        display: block;
        position: absolute;
        top: -50px;
        left: -35px;
        width: 120px;
        height: 150px;
        background-image: url("/images/logo/Rectangle111.svg");
      }
  
      @include onTablet {
        content: "";
        display: block;
        position: absolute;
        left: -30px;
        top: -40px;
        background-image: url("/images/logo/Rectangle11.svg");
        width: 90px;
        height: 115px;
      }
  
    }
  
    &::after {
      content: "";
      display: block;
      position: absolute;
      width: 90px;
      height: 115px;
      background-image: url("/images/logo/Rectangle12.svg");
      background-position: center;
      background-repeat: no-repeat;
      top: 35px;
      right: -35px;

      @include onMobile {
        content: "";
        display: block;
        position: absolute;
        width: 120px;
        height: 150px;
        background-image: url("/images/logo/Rectangle111.svg");
        top: 42px;
        right: -40px;
      }

      @include onTablet {
        content: "";
        display: block;
        position: absolute;
        width: 90px;
        height: 115px;
        background-image: url("/images/logo/Rectangle12.svg");
        top: 35px;
        right: -35px;
      }
    }
  }

  &__photo {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    position: relative;
    z-index: 3;
  }

  &__paragraph {
    font-family: "Open", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 150%;
    text-align: center;
    margin: 0;
    color: #6c788b;
    padding: 0 42px 16px;

    @include onMobile() {
      padding: 0 98px 16px;
    }

    @include onTablet {
      padding: 0 48px 16px;
    }
  }

  &__name {
    font-family: "Open", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 150%;
    text-align: center;
    color: #253757;
    padding: 0 0 4px;
  }

  &__role {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #c0cdd7;
    padding: 0 0 32px;
  }
}
