.testimonials {
  &__top {
    width: 280px;
  }

  &__content {
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;

    @include on-tablet {
      margin-top: 56px;
      gap: 30px;
    }

    @include on-small-desktop {
      flex-direction: row;
      justify-content: center;
      justify-content: space-between;
      margin-top: 85px;
      gap: 20px;
    }

    @include on-desktop {
      gap: 30px;
    }
  }
}
