.testimonials-card {
  background-color: $white-color;
  padding: 32px 42px;
  display: flex;
  width: 280px;
  flex-direction: column;
  align-items: center;
  border-radius: 16px;
  box-sizing: border-box;
  box-shadow: 0 9px 18px 0 rgba(37, 41, 49, 0.03);

  @include hover(transform, scale(1.1));

  &:hover {
    box-shadow: 0 15px 30px 0 rgba(37, 41, 49, 0.2);
  }

  @include on-tablet {
    width: 558px;
  }

  @include on-small-desktop {
    padding-inline: 48px;
    width: 292px;
  }

  @include on-desktop {
    width: 362px;
    padding-inline: 56px;
  }

  &__photo {
    height: 196px;
    width: 196px;
    position: relative;
    background-image: url('../images/testimonials/background-ava.png'),
      url('../images/testimonials/background-ava.png');
    background-position:
      15 5,
      95px 80px;
    background-repeat: no-repeat;

    @include on-tablet {
      background-image: url('../images/testimonials/background-ava-big.png'),
        url('../images/testimonials/background-ava-big.png');
      background-position:
        15 5,
        122px 102px;
      height: 250px;
      width: 250px;
    }

    @include on-small-desktop {
      height: 196px;
      width: 196px;
      background-image: url('../images/testimonials/background-ava.png'),
        url('../images/testimonials/background-ava.png');
      background-position:
        15 5,
        95px 80px;
    }

    @include on-desktop {
      background-image: url('../images/testimonials/background-ava-big.png'),
        url('../images/testimonials/background-ava-big.png');
      background-position:
        15 5,
        122px 102px;
      height: 250px;
      width: 250px;
    }
  }

  &__ava-photo {
    position: absolute;
    top: 43px;
    left: 43px;
    height: 110px;
    width: 110px;
    border-radius: 50%;

    @include on-tablet {
      top: 50px;
      left: 50px;
      height: 150px;
      width: 150px;
    }

    @include on-small-desktop {
      top: 43px;
      left: 43px;
      height: 110px;
      width: 110px;
    }

    @include on-desktop {
      top: 50px;
      left: 50px;
      height: 150px;
      width: 150px;
    }
  }

  &__quote {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  &__quote-image {
    background-image: url('../images/testimonials/quotes.png');
    background-size: contain;
    height: 24px;
    width: 24px;
  }

  &__quote-text {
    @include font-open-sans-semibold;

    margin: 0;
    margin-top: 8px;
    height: 80px;
    font-size: 13px;
    line-height: 19.5px;
    text-align: center;
    color: $main-font-color;

    @include on-tablet {
      margin-top: 16px;
    }
  }

  &__name {
    @include font-open-sans-semibold;

    margin-top: 16px;
    font-size: 13px;
    line-height: 19.5px;
    text-align: center;
    color: $dark-font-color;
  }

  &__add-info {
    @include font-poppins-bold;

    margin-top: 4px;
    font-size: 13px;
    line-height: 19.5px;
    letter-spacing: 3px;
    text-align: center;
    color: $light-font-color;
    text-transform: uppercase;
    white-space: nowrap;
  }
}
