.top-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-bottom: 50px;

  @include onMobile {
    margin-bottom: 58px;
  }
  
  @include onTablet {
    margin-bottom: 165px;
  }
}
