.top-bar {
  grid-column: 1 / -1;
  margin: 0;
  padding: 20px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;

  @include on-desktop-small {
    padding: 52px 0 0;
  }
}
