.top-bar {
  padding-top: 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  &__hire-us {
    position: relative;
    font-family: "Poppins", sans-serif;
    color: #fff;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-decoration: none;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 28px;
      height: 2px;
      width: 100%;
      border-radius: 4px;
      background-color: $blue-color;
    }
  }
}
