.vision {
  background-color: #fff;
  height: 571px;
  padding-top: 72px;
  background-image: url(../images/Shapes.png);
  background-repeat: no-repeat;
  background-position: center;

  @include onTablet {
    padding-top: 200px;
    background-size: 150%;
  }

  @include onNotebook {
    background-size: cover;
  }

  &__title {
    font-size: 44px;
    font-weight: 600;
    line-height: 53px;
    letter-spacing: 0px;
    text-align: center;
    margin-bottom: 24px;
  }

  &__info {
    font-family: "Open Sans", sans-serif;
    font-size: 22px;
    font-weight: 600;
    line-height: 33px;
    letter-spacing: 0px;
    text-align: center;
    color: #6C788B;
    margin-bottom: 56px;
  }

  &__link {
    margin: 0 auto;
  }
}
