.vision {
  background-color: #fff;

  @include on-tablet {
    margin-block: 148px 0;
  }

  @include on-desktop {
    margin-block: 186px 0;
  }

  @include on-tv {
    margin-block: 148px 0;
  }

  &__container {
    @include on-tablet {
      background-image: url(../images/vision-background-tablet.png);
      background-size: contain;
      background-repeat: no-repeat;
      background-position-x: center;
      background-position-y: 60px;
    }

    @include on-desktop {
      background-image: url(../images/vision-background-desktop.png);
      max-width: 1450px;
      margin: 0 auto;
    }

    @include on-tv {
      background-image: url(../images/vision-background-tv.png);
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 72px 20px;

    @include on-tablet {
      max-width: 558px;
      margin: 0 auto;
      padding-block: 200px;
    }

    @include on-desktop {
      max-width: 754px;
    }
  }

  &__title {
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 44px;
    line-height: 120%;
    letter-spacing: 0;
    text-align: center;
    vertical-align: middle;
    color: #253757;

    margin-block: 0 24px;

    @include on-tablet {
      font-size: 52px;
    }
  }

  &__description {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 22px;
    line-height: 150%;
    letter-spacing: 0;
    text-align: center;
    color: #6c788b;

    margin-block: 0 56px;

    @include on-tablet {
      font-size: 24px;
      margin-block: 0 64px;
    }
  }

  &__button {
    cursor: pointer;
    padding: 0;
    background-color: #2060f6;
    width: 100%;
    height: 56px;
    border-radius: 8px;
    box-shadow: none;
    border: none;
    transition: transform 0.3s;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: 0;
    text-align: center;
    color: #fff;
    text-decoration: none;

    &:hover {
      transform: scale(1.1);
      background-color: #3872f9;
    }

    @include on-tablet {
      width: 264px;
      height: 56px;
    }
  }
}
