.who {
  max-width: 754px;
  margin: 0 auto;

  &__title {
    text-align: center;
    margin-bottom: 24px;
    margin-top: 120px;

    @include tablet {
      margin-bottom: 16px;
      margin-top: 148px;
    }
  }

  &__description {
    color: $gray-text-color;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 22px;
    font-weight: 600;
    line-height: 150%; /* 33px */
  }
}
