.work {
  background: url(./../images/bg/Rectangle.svg) #fff;
  padding: 198px 0;
  text-align: center;
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat-y;
  
  @media (max-width: 850px) {
    padding: 98px 0;
  }
  &__h2 {
    @extend %h2;
    margin-bottom: 24px;
  }
  &__text {
    max-width: 754px;
    margin: 0 auto 64px;
    @include font ("Open Sans", "600", "24px");
    color: $text-color;
    line-height: 36px;
  }
  &__button-apply {
    @extend %button-for--black;
    width: 264px;
    height: 56px;
    margin: 0 auto;
  }
}
