.button {
  margin-bottom: 150px;
  
  @include HD {
    margin-bottom: 145px;
  }

  @include mobile {
    margin-bottom: 50px;
  }

  &__content {
    box-sizing: border-box;
    height: 56px;
    width: 254px;

    @include Center;
    
    @extend %Poppins;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    color: #fff;
    text-decoration: none;
  
    border: solid 2px #144ed5;
    background-color: #144ed5;
    border-radius: 8px;
    cursor: pointer;

    @include HD {
      width: 260px;
      line-height: 20px;
    }

    @include mobile {
      width: 100%;
      min-width: 260px;
    }
  }
}
