.button {
  display: flex;
  justify-content: center;
  align-items: center;

  box-sizing: border-box;
  width: 280px;
  height: 50px;
  background-color: $colorBlue;
  border-radius: 8px;
  transition: background-color 0.3s;

  &:hover {
    background-color: $colorHover;
  }

  @extend %h1;
  text-decoration: none;
  font-size: 15px;
  line-height: 22px;
  color: #fff;
  margin-bottom: 72px;

  @include onMobile {
    width: 264px;
  }

  &--vision {
    margin: 0 auto 72px;

    @include onMobile {
      margin: 0 auto 198px;
      height: 56px;
    }
  }

  &--send {
    margin: 0 0 80px;
    border: none;

    @include onMobile {
      margin: 0 0 120px;
      height: 56px;
    }
  }
}
