.card {
  @include Center;
  flex-direction: column;
  padding-bottom: 155px;

  @include tablet {
    padding-bottom: 72px;
  }

  @include mobile {
    padding-bottom: 56px;
  }

  &__image {
    content: "";
    width: 166px;
    height: 166px;
    background-repeat: no-repeat;
    background-size: cover;

    border-radius: 20px;
    margin-bottom: 40px;
  }

  &__title {
    @extend %Poppins;
    font-size: 20px;
    line-height: 140%;

    text-align: center;
    color: $colorBack;

    margin: 0 0 16px;
  }

  &__content {
    @extend %Open;
    font-size: 14px;
    line-height: 150%;

    text-align: center;
    color: $colorGrey;
    max-width: 364px;
  }
}

.branding {
  background-image: url(/images/what-we-do/what-we-do-1.jpg);
}

.communication {
  background-image: url(/images/what-we-do/what-we-do-2.jpg);
}

.strategy {
  background-image: url(/images/what-we-do/what-we-do-3.jpg);
}
