.contact-us {
  background-color: $clolr-backgraund-black;

  @include onSmall-desktop {
    margin: 180px 0 120px;
  }

  &__title {
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 150%;
    color: #fff;
    margin-bottom: 48px;

    @include onTablet {
      margin-bottom: 56px;
    }
  }

  &__info-block {
    margin-bottom: 40px;

    @include onTablet {
      margin-bottom: 48px;
    }

    &--last {
      margin-bottom: 0;
    }
  }

  &__name {
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #fff;
    opacity: 0.5;

    margin-bottom: 8px;

    &--socials {
      margin-bottom: 20px;
    }
  }

  &__info {
    display: inline-block;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    color: #fff;
    text-decoration: none;

    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    &--socials {
      padding-bottom: 64px;
      margin-bottom: 0;
    }

    &--facebook {
      width: 32px;
      height: 32px;
      margin-right: 46px;
      margin-bottom: 0;
      background-image: url(../images/socials/facebook.svg);
      &:hover {
        background-image: url(../images/socials/facebook_blue.svg);
      }
    }

    &--twitter {
      width: 32px;
      height: 32px;
      margin-right: 40px;
      margin-bottom: 0;
      background-image: url(../images/socials/twitter.svg);
      &:hover {
        background-image: url(../images/socials/twitter_blue.svg);
      }
    }

    &--instagramm {
      width: 32px;
      height: 32px;
      margin-bottom: 0;
      background-image: url(../images/socials/instagramm.svg);
      &:hover {
        background-image: url(../images/socials/instagramm_blue.svg);
      }
    }
  }
}
