.container {
  @include onMobile {
    margin: 0 20px;
  }

  @include onTablet {
    margin: 0 41px;
  }

  @include onSmall-desktop {
    margin: 0 54px;
  }

  @include onDesign-screen {
    margin: 0 228px;
  }

  @include onLarge-screen {
    margin: 0 708px;
  }
}
