.cta {
  &__wrap {
    padding: 72px 20px;

    @include on-tablet {
      padding: 200px 41px;
      background-image: url(../images/shapes-3x.png);
      background-repeat: no-repeat;
      background-position: center;
    }

    background-color: $color-white;
    background-size: 100%;
    display: flex;
    flex-direction: column;
  }

  &__button {
    cursor: pointer;
    height: 56px;
    width: 264px;
    background-color: #ff9c8e;
    border: none;
    border-radius: 64px;
    color: $color-white;
    font-size: 15px;
    font-weight: 600;
    line-height: 100%;

    @include hover(transform, scale(1.2));
  }

  &__bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
