.expertise {
  background-color: $colorWhite;
  border-radius: 30px;
  overflow: hidden;
  @include Center;
  @include onDesktop {
    padding: 0 54px;
  }

  &__container {
    display: flex;
    flex-direction: column;
    max-width: 1280px;

    @include Padding;
  }

  &__title {
    @extend %Poppins;
    font-size: 52px;
    line-height: 150%;

    text-align: center;
    color: #253757;
    padding: 128px 0 64px;

    @include mobile {
      font-size: 44px;
      line-height: 120%;

      padding: 72px 0 56px;
    }
  }
}
