.footer {
  margin-top: -1px;
  padding: 80px 0;
  color: $main-color;
  background-color: $bgc-color-dark;

  @include OnTablet {
    padding-top: 140px;
  }

  @include OnDesktop {
    padding-top: 104px;
  }

  &__actions {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 48px;

    @include OnTablet {
      gap: 24px;
    }

    @include OnDesktop {
      flex-direction: row;
    }
  }

  &__logo-image {
    padding: 0;

    @include OnDesktop {
      padding-bottom: 10px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 24px;

    @include OnTablet {
      flex-direction: row;
      gap: 40px;
    }

    @include OnDesktop {
      gap: 64px;
    }
  }

  &__nav-link {
    font-weight: 700;
    font-size: 13px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: inherit;
    border-bottom: 2px solid transparent;
    padding-bottom: 8px;
    transition: all 0.3s;

    &:hover {
      border-color: $button-color;
    }
  }
}
