.footer {
  height: 100%;
  background-color: #008aff;
  border-top-right-radius: 50px;

  &__content {
    @include on-tablet {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      column-gap: 20px;
      padding: 180px 41px 80px;
    }

    @include on-desktop {
      grid-template-columns: repeat(12, 1fr);
      padding: 180px 54px 80px;
    }

    @include on-wide-desktop {
      padding: 180px 227px 80px;
    }
  }

  &__form {
    padding: 72px 20px 80px;

    @include on-tablet {
      grid-column: 1 / 5;
      padding: 0;
    }

    @include on-wide-desktop {
      grid-column: 1 / 6;
    }
  }

  &__contact {
    padding: 0 20px 80px;
    margin-bottom: 80px;

    @include on-tablet {
      grid-column: 1 / 5;
      padding: 0;
    }

    @include on-desktop {
      grid-column: 7 / -2;
    }
  }

  &__bottom {
    @include on-tablet {
      grid-column: 1 / -1;
    }

    @include on-desktop {
      margin-top: 50px;
    }
  }

  &-top-bar {
    display: flex;
    flex-direction: column;
    gap: 48px;

    @include on-tablet {
      gap: 24px;
      padding: 0;
    }

    @include on-desktop {
      flex-direction: row;
      justify-content: space-between;
    }

    padding: 0 20px 80px;

    &__nav {
      &-list {
        margin: 0;
        padding: 0;
        list-style: none;

        display: flex;
        flex-direction: column;
        gap: 24px;

        @include on-tablet {
          flex-direction: row;
          gap: 40px;
        }

        @include on-desktop {
          gap: 64px;
        }
      }
    }
  }
}
