.form-field {
  display: block;
  width: 280px;
  border: none;
  background-color: #2c2c2c;
  margin: 40px 20px;
  transition: transform 1s;

  @include onTable {
    margin: 0 0 48px;
  }

  @include onDesktop {
    margin: 0 0 48px;
  }

  &:hover {
    transition: transform 1s;
    transform: scale(1.03);
  }

  &__text {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    opacity: 0.7;

    padding-bottom: 16px;
    border-bottom: 1px solid #fff;

    @include onTable {
      width: 362px;
    }

    @include onDesktop {
      width: 100%;
    }

    &:first-child {
      border-bottom: 2px solid #144ed4;
    }
  }
 
  &--email {
    opacity: 1;
  }

  &--textarea {
    resize: none;
  }
}
