.form__field {
  display: block;
  width: 280px;
  height: 60px;
  box-sizing: border-box;
  padding: 16px 0;
  border: none;
  border-bottom: 1px solid $colorWhite;
  background-color: $colorDarkGrey;
  color: $colorWhite;
  transition: border-bottom 0.3s;

  @include onMobile {
    width: 362px;
  }

  &::placeholder {
    @extend %h1;
    font-size: 15px;
    line-height: 22px;
    opacity: 0.7;
  }

  &:hover {
    border-bottom: 2px solid $colorHover;
  }

  &:focus {
    border-bottom: 2px solid $colorHover;
    outline: none;
  }

  &--text {
    margin-bottom: 56px;
    resize: none;
  }
}
