.header {
  background-color: #008aff;
  border-bottom-left-radius: 200px;

  &__bottom {
    padding: 20px;
    padding-bottom: 0;

    @include on-tablet {
      padding: 20px 41px;
      padding-bottom: 0;
    }

    @include on-desktop {
      padding: 48px 54px 0;
    }

    @include on-wide-desktop {
      padding: 49px 227px 0;
    }
  }
}
