.icon {
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 100%;
  padding-bottom: 100%;

  &__slider {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;

    &:hover {
      transform: scale(110%, 110%) translate(-50%, -50%);
    }

    &--left {
      width: 20%;
      background-image: url(../images/slider/arrow-left.svg);
    }

    &--right {
      width: 20%;
      background-image: url(../images/slider/arrow-right.svg);
    }
  }

  &__block {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: $color-blue;

    &--vector-right {
      width: 16px;
      height: 16px;
      background-image: url(../images/Vector_right.svg);
    }
  }

  &__tooltip {
    position: absolute;
    display: block;
    width: max-content;
    left: 100%;
    padding-left: 16px;
    top: 50%;
    transform: translateY(-50%);
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    color: #334563;
  }

  &__menu {
    width: 18px;
    height: 8px;
    background-image: url(../images/menu.png);
  }

  &__testimonials {
    width: 20px;
    height: 18px;
    background-image: url(../images/sign.svg);
  }
}
