.menu {
  background-color: $clolr-backgraund-black;
  height: 100vh;

  &__list {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    list-style: none;
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 150%;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  &__item {
    list-style: none;
    margin-bottom: 24px;

    @include onTablet {
      display: inline-block;
      margin-right: 40px;
      &:last-child {
        margin-right: 0;
      }
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__link {
    text-decoration: none;
    //color: black;
    color: #fff;
  }
}
