.presentation {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  color: $colorWhite;
  padding-top: 120px;

  @include tablet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 40px;
  }

  @include mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 20px;
  }

  &__title {
    margin: 0;
    padding-bottom: 32px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    @extend %Poppins;
    font-size: 64px;
    line-height: 68px;
    letter-spacing: -2px;

    @include tablet {
      @include Center;
      flex-direction: column;
    }

    @include mobile {
      @include Center;
      flex-direction: column;
      font-size: 52px;
      line-height: 120%;
    }
  }
  
  &__content {
    padding-bottom: 83px;

    @extend %Open;
    font-size: 18px;
    line-height: 150%;

    @include tablet {
      padding-bottom: 72px;
    }

    @include mobile {
      padding-bottom: 72px;
    }
  }
}
