.process {
  @include Center;

  &__container--main {
    padding: 148px 54px;
    max-width: 1280px;
    width: 100%;

    @include Padding;

    @include mobile {
      @include Center;
      flex-direction: column;
    }
  }

  &__container--left {
    padding-top: 120px;

    @include tablet {
      display: flex;
      margin-bottom: 20px;
    }

    @include mobile {
      display: flex;
      flex-direction: column;
      align-items: center;

      box-sizing: border-box;
      margin-bottom: 0;
    }
  }

  &__container--right {
    display: grid;
    grid-template-columns: repeat (6, 1fr);
    grid-template-rows: repeat (6, 1fr);
    column-gap: 20px;
    row-gap: 20px;

    @include mobile {
      @include Center;
      flex-direction: column;
    }
  }
}
