.review {
  &__photo {
    width: 196px;
    height: 196px;
    margin-bottom: 24px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-bottom: 16px;

    &-comma {
      width: 24px;
      height: 24px;
    }

    &-text {
      margin: 0;
      text-align: center;
      color: #6c788b;
      font-size: 13px;
      font-weight: 600;
      line-height: 150%;
    }
  }

  &__bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;

    &-name {
      margin: 0;
      color: $color-blue;
      font-size: 13px;
      font-weight: 600;
      line-height: 150%;
    }

    &-job {
      margin: 0;
      text-transform: uppercase;
      color: #c0cdd7;
      font-size: 13px;
      font-weight: 700;
      line-height: 100%;
      letter-spacing: 3px;
    }
  }
}
