.section__wrap-title {
  @include on-desktop {
    grid-column: 1 / 5;
  }
}

.section__wrap-subtitle {
  @include on-tablet {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 20px;
  }

  @include on-desktop {
    display: block;
    grid-column: 1 / 5;
  }
}

.section__title {
  color: $color-blue;
  margin: 0;
  margin-bottom: 56px;

  font-size: 44px;
  font-weight: 600;
  line-height: 120%;

  text-align: center;

  &-services {
    text-transform: uppercase;
    color: #c0cdd7;
    font-size: 13px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 3px;
  }

  &-testimonials {
    text-transform: uppercase;
    color: #c0cdd7;
    font-size: 13px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 3px;
  }

  &-cta {
    margin: 0;
    margin-bottom: 24px;
    text-align: center;
    color: $color-blue;
    font-size: 44px;
    font-weight: 600;
    line-height: 120%;
  }

  &--services {
    @include on-tablet {
      grid-column: 1 / 4;
    }

    color: $color-blue;
    font-size: 32px;
    font-weight: 600;
    line-height: 130%;
  }

  &--testimonials {
    margin: 0;
    margin-top: 16px;
    margin-bottom: 48px;
    color: $color-blue;
    font-size: 32px;
    font-weight: 600;
    line-height: 150%;
  }
}

.section__subtitle {
  @include on-tablet {
    grid-column: 1 / 4;
  }

  margin-bottom: 48px;
  color: #6c788b;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;

  &-cta {
    margin: 0;
    margin-bottom: 56px;
    text-align: center;
    color: #6c788b;
    font-size: 22px;
    font-weight: 600;
    line-height: 150%;
  }
}
