.services {
  padding: 120px 18px;

  @include on-tablet {
    padding: 148px 39px;
  }

  @include on-desktop {
    padding: 251px 52px 151px;
  }

  @include on-wide-desktop {
    padding: 251px 225px 148px;
  }

  @include on-desktop {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 20px;
  }

  &__cards {
    @include on-desktop {
      grid-column: 7 / -1;
    }

    display: grid;
    grid-template-columns: repeat(2, 1fr);

    @include on-tablet {
      grid-template-columns: repeat(6, 1fr);
    }

    gap: 24px 20px;
  }

  &__card {
    transition: all 0.3s;
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: span 3;
    }

    background-color: $color-white;
    border-radius: 16px;
    padding: 32px;
  }
}
