.services {
  margin-bottom: 120px;

  @include toTablet {
    margin-bottom: 150px;
  }

  &__subtittle {
    margin: 0 0 16px;
    font-weight: 700;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #c0cdd7;
  }

  &__text {
    margin-bottom: 48px;

    @include toTablet {
      width: 264px;
      margin-bottom: 56px;
    }

    @include toDesktop {
      width: 100%;
    }
  }

  &__tittle {
    margin: 0 0 24px;
    font-size: 32px;
    line-height: 130%;
    color: #253757;
  }

  &__paragraph {
    margin: 0 0 21px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #6c788b;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    @include toTablet {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 30px;
    }

    @include toDesktop {
      gap: 20px;
    }

    @include toLaptop {
      gap: 30px;
    }
  }

  &__card {
    box-sizing: border-box;
    background: #fff;
    box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
    border-radius: 16px;
    padding: 32px;
    margin-bottom: 24px;
    height: 264px;
    width: 280px;

    &:last-child {
      margin-bottom: 0;
    }

    @include toTablet {
      margin-bottom: 0;
      width: calc(50% - 15px);
    }

    @include toDesktop {
      width: calc(50% - 10px);
    }

    @include toLaptop {
      width: calc(50% - 15px);
    }

    &--elevated {
      @include toTablet {
        transform: translateY(-50%);
      }
    }

    &-number {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #f2f6fa;
      width: 46px;
      height: 24px;
      border-radius: 23px;
      font-size: 13px;
      line-height: 20px;
      text-transform: uppercase;
      color: #2060f6;
      margin-bottom: 26px;
    }

    &-text {
      font-family: "Open Sans", sans-serif;
      font-size: 13px;
      line-height: 150%;
      color: #6c788b;
      margin-bottom: 32px;
      white-space: nowrap;
    }

    &-links {
      display: flex;
      align-items: center;

      &:hover {
        color: #2060f6;
      }
    }

    &-link {
      &:hover {
        color: #2060f6;
      }

      &--label {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        background-color: #2060f6;
        margin-right: 16px;
        transition: transform 1s;

        &:hover {
          transform: rotate(360deg);
        }
      }

      &--arrow {
        height: 16px;
        width: 16px;
      }

      &--text {
        text-decoration: none;
        font-size: 15px;
        line-height: 22px;
        text-align: center;
        color: #334563;
      }
    }
  }
}
