.slide {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  height: 100%;
  background-image: url(../images/what-we-do/what-we-do-1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: transform 1s;
  border-radius: 30px;

  @include onDesktop {
    left: -100%;
    right: 0;
    bottom: 0;
    top: 0;
    border-radius: 30px 0;
  }

  transform: translate(-100%);

  &:target {
    transform: translate(0);
  }
}
