.testemonial {
  padding: 0 20px;

  @include onTable {
    padding: 0 40px;
  }

  @include onDesktop {
    padding: 0 54px;
  }

  &__title {
    margin-bottom: 48px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 150%;
    color: $color-title;

    @include onTable {
      margin-bottom: 56px;
    }
   
    @include onDesktop {
      margin-bottom: 85px;
    }

    &::before {
      margin-bottom: 16px;
      display: block;
      content: "Testemonials";
      font-size: 13px;
      line-height: 20px;
      letter-spacing: 3px;
      text-transform: uppercase;
      color: #c0cdd7;
    }
  }

  &__block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 456px;
    background-color: $color-text-white;
    box-shadow: 0 9px 18px
      rgba(37, 41, 49, 0.03);
    border-radius: 16px;
    transition: transform 1s;

    @include onTable {
      margin: 0 0 30px;
    }

    @include onDesktop {
      margin: 0 20px;
      width: 292px;
    }

    &:hover {
      transform: scale(1.05);
    }

    &--margin {
      margin: 24px 0;

      @include onDesktop {
        margin: 0;
      }
    }
  }

  &__client {
    width: 110px;
    height: 110px;
    background-image: url(../images/testimonials/testemonial-1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    z-index: 1;

    @include onDesktop {
      width: 110px;
      height: 110px;
    }

    &--two {
      background-image: url(../images/testimonials/testemonial-2.jpg);
    }

    &--three {
      background-image: url(../images/testimonials/testemonial-3.jpg);
    }
  }

  &__elements {
    width: 108px;
    height: 44px;
    background: #2060f6;
    border-radius: 12px;
    transform-origin: left;
    transform: translate(-10px, 85px) rotate(-60deg);
    z-index: 0;

    &--two {
      transform-origin: right;
      transform: translate(10px, -85px) rotate(-60deg);
    }
  }

  &__element {
    margin: 82px 0 10px;
    width: 20px;
    height: 18px;
    background-image: url(../images/testimonials/before-text.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  &__text {
    margin-bottom: 16px;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 13px;
    text-align: center;
    line-height: 150%;
    color: #6c788b;
  }

  &__name {
    margin-bottom: 4px;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 13px;
    text-align: center;
    line-height: 150%;
    color: #253757;
  }

  &__profi {
    margin-bottom: 32px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 13px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #c0cdd7;
  }

  &__wrapper {
    max-width: 1600px;
    margin: 0 auto;

    @include onDesktop {
      display: flex;
      justify-content: space-between;
    }
  }
}
