.top-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: $max-content;

  @include after-1024px {
    height: 120px;
  }

  @include onMobile {
    height: max-content;
    margin-bottom: 50px;
  }

  @include onTablet {
    height: max-content;
    margin-bottom: 26px;
  }

  &__block {
    display: flex;
    justify-content: space-between;
    margin-bottom: 48px;

    @include onTablet {
      margin-bottom: 56px;
    }

    @include onSmall-desktop {
      margin-bottom: 168px;
    }
  }

  &__hire-us {
    font-weight: 700;
    font-size: 13px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 3px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;

    margin-top: 18px;

    @include onSmall-desktop {
      margin-top: 52px;
    }

    &::after {
      display: block;
      content: "";
      border-bottom: 4px solid #2060f6;
      border-radius: 4px;
      padding-bottom: 8px;
    }
  }

  &__icon {
    display: block;
    margin-left: 35px;
    margin-top: 32px;
  }

  &__logo {
    margin-top: 21px;

    @include onSmall-desktop {
      margin-top: 49px;
    }
  }

  @include after-1024px {
    &__icon {
      display: none;
    }
  }
}
