.work {
  @include Center;
  flex-direction: column;
}

.process {
  max-width: 1280px;

  @include tablet {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    padding: 20px 40px 0;
    margin-bottom: 20px;
  }

  @include mobile {
    display: flex;
    flex-direction: column;
    align-items: center;

    box-sizing: border-box;
    margin-bottom: 0;
    padding: 10px 20px 0;
  }
}
