@use '../../utils/mixins' as *;

.header {
  &__strategic {
    display: flex;
    flex-direction: column;
    gap: 72px;
    align-items: flex-start;
    justify-content: center;

    width: auto;
    height: 359px;
    margin: 0 20px;

    @include tablet {
      gap: 56px;
      margin: 0 41px;
      padding-bottom: 91px;
    }

    @include s-desktop {
      height: auto;
      margin: 0 54px;
      grid-column: 1 / 3;
      gap: 83px;
    }

    @include desktop-1600 {
      margin: 0 227px;
    }

    @include desktop-2560 {
      margin: 0 707px;
    }

    &-title {
      display: flex;

      width: auto;

      font-size: 52px;
      font-weight: 600;
      line-height: 120%;
      letter-spacing: -2px;

      @include tablet {
        justify-content: flex-start;
        width: 100%;
        font-size: 69px;
      }

      @include s-desktop {
        width: 400px;
      }
    }

    &-text {
      align-self: flex-start;

      width: auto;
      max-width: 362px;

      font-family: 'Open Sans', sans-serif;
      font-size: 18px;
      font-weight: 400;
      line-height: 150%;
      text-align: left;

      @include tablet {
        width: 362px;
      }

      @include s-desktop {
        font-size: 19px;
      }

      &-container {
        display: flex;
        flex-direction: column;
        gap: 32px;
        align-items: flex-start;

        width: auto;

        @include tablet {
          gap: 24px;
          justify-content: flex-start;
          width: auto;
        }

        @include s-desktop {
          gap: 32px;
          justify-content: center;
          justify-self: center;
          width: 390px;
          height: 355px;
        }
      }
    }

    &-button {
      display: flex;
      align-items: center;
      justify-content: center;

      width: 280px;
      height: 50px;
      border: none;
      border-radius: 8px;

      font-size: 15px;
      font-weight: 600;
      line-height: 100%;
      color: rgba(255, 255, 255, 1);
      text-decoration: none;

      background-color: rgba(32, 96, 246, 1);

      @include tablet {
        align-self: flex-start;
        width: 264px;
      }
    }
  }
}
