.header {
  background-color: $section-color;
  border-radius: 0 0 30px 30px;
  position: relative;
  height: 893px;

  @include on-small-desktop {
    height: 800px;
  }

  & > .container {
    @include content-padding-inline;

    display: flex;
    flex-direction: column;
    gap: 48px;

    @include on-tablet {
      gap: 56px;
    }

    @include on-small-desktop {
      gap: 164px;
    }
  }

  &__slider {
    overflow: hidden;
    position: absolute;
    bottom: 0;
    right: 0;
  }
}
