.icon {
  height: 24px;
  width: 24px;
  justify-content: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;

  @include hover(transform, scale(1.2));

  @include on-tablet {
    height: 32px;
    width: 32px;
  }

  &--menu {
    background-image: url(../images/icons/burger-menu.svg);
  }

  &--close {
    display: block;
    background-image: url(../images/icons/icon-close.svg);
  }
}
