.icon {
  display: block;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-position: center;

  @include hover(transform, scale(1.2));

  @include onSmallDesktop {
    display: none;
  }

  &--menu {
    background-image: url(../images/icon/menu-icon.svg);
  }

  &--close {
    background-image: url(../images/icon/icon-slose.svg);
  }
}
