.menu {
  height: 100vh;

  &__list {
    display: flex;
    flex-direction: column;
    gap: 40px;

    margin: 0 auto 40px;
    padding: 50px 0 25px;
    width: max-content;

    list-style: none;
    border-bottom: 2px solid $c-blue;
  }

  &__link {
    font-size: 18px;
    text-decoration: none;
  }

  @include onSmallScreen {
    display: none;
  }
}
