.slider {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;

  height: 390px;

  border-radius: 30px;
  background-position: center;
  background-size: cover;
  background-image: url("../images/slider-photo-1.png");

  @include on-small-desktop {
    width: 502px;
    height: 680px;

    left: auto;

    border-radius: 30px 0;
  }

  @include on-desktop {
    width: 687px;
  }

  &__controls {
    position: absolute;

    margin: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;

    gap: 24px;

    left: 0;
    bottom: 0;

    @include on-tablet {
      margin: 32px;
    }

    @include on-small-desktop {
      margin: 48px 78px;

      flex-direction: row;
      align-items: center;
    }

    @include on-desktop {
      margin: 48px;
    }
  }

  &__buttons {
    display: flex;
    gap: 16px;
  }

  &__button {
    height: 32px;
    width: 32px;

    @include hover(filter, drop-shadow(1px 4px 6px #FFFFFF77));
  }

  &__intro {
    margin-bottom: 8px;

    font-size: 13px;
    font-weight: 700;
    letter-spacing: 3px;
    text-transform: uppercase;
  }

  &__subtitle {
    font-size: 14px;
    font-weight: 400;
  }
}
