.image-slider {
  margin-top: 48px;
  height: 390px;

  @include on-small-desktop {
    height: 680px;
  }

  &__image {
    display: flex;
    flex-direction: column;
    justify-content: end;
    box-sizing: border-box;
    padding: 24px 20px;
    height: 100%;

    border-radius: 30px;
    background-size: cover;
    background-position: center;

    color: $white-text-color;
    line-height: 20px;
    font-size: 14px;

    @include on-tablet {
      padding: 40px 32px;
    }

    @include on-small-desktop {
      padding: 48px 182px;
      border-top-right-radius: 0;
      border-bottom-left-radius: 0;
    }

    @include on-design {
      padding: 48px 15 2px;
    }

    &--parent {
      @include poppins(700);

      margin: 0;
      margin-bottom: 8px;

      text-transform: uppercase;
      letter-spacing: 3px;
    }

    &--child {
      @include open-sans(400);

      margin: 0;
    }

    &--first {
      background-image: url(../images/header/slider/slider-1.png);
    }
    &--second {
      background-image: url(../images/header/slider/slider-2.png);
    }
    &--third {
      background-image: url(../images/header/slider/slider-3.png);
    }
  }
}

.buttons__container {
  position: absolute;
  width: 80px;
  display: flex;
  justify-content: space-between;
  bottom: 108px;
  left: 20px;

  @include on-tablet {
    bottom: 116px;
    left: 32px;
  }

  @include on-small-desktop {
    bottom: 66px;
    left: 78px;
  }

  @include on-design {
    left: 48px;
  }
}

.slider-buttons {
  width: 32px;
  height: 32px;
  margin: 0;
  background-color: $white-text-color;
  background-size: cover;

  border-radius: 50%;

  position: relative;
  top: 0;
  left: 0;
  right: 0;

  &::after {
    content: none;
  }

  & img {
    height: 18px;
  }
}

.swiper-button-next {
  transform: rotate(180deg);
}
