.slide {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  min-height: 390px;
  background-image: url("../images/slider/slide-img-1-1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 30px;
  padding: 20px 20px 24px;

  @include on-tablet {
   padding: 32px 41px;
  }

  @include on-small-desktop {
    position: initial;
    width: 55%;
    min-height: 670px;
    margin-right: -$padding-inline-small-desktop;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    padding: 48px 78px;
  }

  @include on-design {
    width: 60%;
    margin-right: -$padding-inline-design;
    padding: 48px;
  }

  @include on-large-screens {
    width: 100%;
    margin-right: -$padding-inline-large-screens;
  }

  .slide-info {

    @include on-small-desktop {
      display: flex;
      gap: 24px;
      align-items: center;
    }

    &__arrow-box {
      display: flex;
      gap: 16px;
      margin-bottom: 16px;

      @include on-small-desktop {
        margin: 0;
      }
    }

    &__arrow {
      width: 32px;
      height: 32px;
    }

    &__details {
      width: 280px;

      .slide-info__title {
        font-family: Poppins, sans-serif;
        font-weight: 700;
        font-size: $font-size-13;
        line-height: 20px;
        text-transform: uppercase;
        letter-spacing: 3px;
        margin-bottom: 8px;

        @include on-small-desktop {
          margin-top: 0;
        }
      }

      .slide-info__text {
        font-family: "Open Sans", sans-serif;
        font-weight: 400;
        font-size: $font-size-14;
        line-height: 20px;
        margin: 0;
      }
    }
  }
}
