.slider {
  margin: 0;
  overflow: hidden;
  border-radius: 30px;
  height: 390px;

  &__container {
    @include on-small-desktop {
      flex-direction: row;
      margin: 550px 0 0;
    }

    @include container;

    display: flex;
    flex-direction: column;
    position: absolute;

    z-index: 1;
    margin: 240px 0 0;
  }

  &__img {
    margin: 0;
    @include on-small-desktop {
      min-height: 680px;
    }
  }

  &__block {
    display: flex;
    gap: 24px;
  }

  &__button {
    display: block;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    padding: 0;
    margin: 0;
    background-size: 30%;
    background-position: center;
    background-color: black;
    background-repeat: no-repeat;

    &--left {
      background-image: url(../images/slider/arrow-left.svg);

    }

    &--right {
      background-image: url(../images/slider/arrow-right.svg);
    }
  }

  &__title {
    text-transform: uppercase;
    font-family: Poppins, serif;
    font-size: 13px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 3px;
  }

  &__subtitle {
    font-family: Open Sans, serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0;
  }

  &-line {
    display: flex;
    position: relative;
    left: 0;
    transition: all ease 1s;
  }
}
