.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 20px;

  &__logo {
    height: 28px;

    @include hover (transform, scale(1.2));
  }

  &__content {
    display: flex;
    align-items: center;
    gap: 32px;
  }

  &__hire {
    position: relative;
    text-decoration: none;
    color: #eee;
    font-family: Poppins, serif;
    font-size: 13px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;

    &::after {
      content: "";
      position: absolute;
      display: block;
      bottom: -1px;
      height: 2px;
      width: 100%;
      background-color: #2060f6;

      transform: scale(0);
      transition: transform 0.3s;
      transform-origin: left;
    }

    &:hover::after {
      transform: scale(1);
    }
  }
}
