.contact-us {

  &__title {
    color: $white-bg-color;
    font-family: "Poppins", sans-serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 150%;

    margin-block: 0 48px;

    @include onTablet {
      margin-block: 0 56px;
    }
  }

  &__subtitle {
    color: $white-bg-color;
    font-family: "Poppins", sans-serif;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 3px;
    text-transform: uppercase;
    opacity: 0.5;
  }

  &__text {
    color: $white-bg-color;
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 150%;

    margin-block: 8px 40px;

    @include onTablet {
      margin-block: 8px 48px;
    }
  }

  &__icons {
    display: flex;
    gap: 32px;
    margin-top: 16px;
  }

  &__icon {
    width: 32px;
    height: 32px;
    @include hover (transform, scale(1.15));
  }

  &__icon-link {
    text-decoration: none;
    line-height: 0;
  }

  &__text-link {
    text-decoration: none;
    color: $white-bg-color;
    transition-duration: $duration-time;

    &:hover {
      color: $form-button-bg-color;
    }
  }
}
