$foot-hight: 867px;
$foot-padding-top: 180px;
$foot-padding-side: 227px;
$foot-column-gap: 226px;
$foot-nav-height: 82px + 25px;

$foot-form-input-width: 460px;

.feedback {
  margin: -197px auto 0;
  @include grid;
  width: 99vw;
  height: $foot-hight - 120px;
  background-color: $black;
  border-radius: $radius $radius 0 0;
  grid-template-rows: auto $foot-nav-height;

  &__form {
    margin-top: 180px;
    grid-column-start: 1;
  }

  &__contact-us {
    margin-top: 180px;
    grid-column-start: -6;
  }
}
