
.form {
  font-family: Poppins, sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 23px;
  color: #fff;

  &__header {
    width: $foot-form-input-width;
    margin-bottom: 56px - 4px;
    font-weight: 600;
    font-size: 32px;
    line-height: 150%;
  }

  &__input {
    width: $foot-form-input-width;
    border: none;
    border-bottom: 2px solid #fff;
    margin-bottom: 44px;
    padding-top: 4px;
    padding-bottom: 17px;
    background-color: $black;

    &:focus {
      outline: none;
      border-bottom: 2px solid #144ed4;
      color: #fff;
    }
  }

  &__button {
    width: 14.13vw;
    height: 56px;

    margin-top: 80px;

    background: #144ed5;
    border-radius: 8px;

    font-family: Poppins, sans-serif;
    font-size: 15px;
    font-weight: 600;
    line-height: 23px;
    text-align: center;
    color: #fff;

    &:hover,
    &:focus {
      background-color: #2060f6;
    }

  }
}
