.send-message {
  font-family: $poppins;
  font-weight: $semi-bold;
  color: #fff;

  &__wrap {
    @include on-tablet {
      width: 362px;
    }

    @include on-small-desktop {
      width: 370px;
    }

    @include on-design {
      width: 460px;
    }
  }

  &__title {
    font-size: 32px;
    line-height: 41.6px;

    @include on-tablet {
      line-height: 48px;
    }
  }

  &__input-wrap {
    display: flex;
    flex-direction: column;
    margin-top: 48px;

    @include on-tablet {
      margin-top: 56px;
    }
  }

  &__input {
    margin-bottom: 40px;

    &--message {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      resize: none;

      &::placeholder {
        margin: 0;
        padding: 0;
      }
    }

    padding: 0 0 17px;
    box-sizing: border-box;
    height: 41px;
    font-size: 15px;
    line-height: 22.5px;
    color: #fff;

    background-color: #2C2C2C;
    border: none;
    border-bottom: 1px solid #fff;

    &:-webkit-autofill {
      -webkit-box-shadow: inset 0 0 0 50px #2C2C2C;
      -webkit-text-fill-color: #fff;
  }

    &:focus {
      outline: none;
      border-bottom: 1px solid #144ED4;
    }

    &::placeholder {
      font-family: $poppins;
      color: #5a5f66;
      padding-bottom: 17px;
    }
  }

  &__submit {
    cursor: pointer;
    border: none;
    font-family: $poppins;
    margin-top: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    height: 56px;

    color: #fff;

    background-color: #144ED4;
    border-radius: 8px;

    @include scale-transform;

    @include on-tablet {
      width: 264px;
      margin-top: 80px;
    }
  }
}
