.expertise {
  background-color: #fff;
  border-radius: 30px;
}

.our-expertise {
  margin-top: 120px;

  padding: 0 0 155px;

  @include constentPaddingInLine;

  &__title {
    padding-top: 72px;
    text-align: center;
  }

  &__products {
    display: flex;
    flex-direction: column;
    margin: 0 auto;

    @include pageGrid;

    @include onDesktop {
      width: 100%;
    }
  }

  &__product {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 56px;
    grid-column: 1 / -1;

    @include onDesktop {
      grid-column: span 4;
    }

    &-photo {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      border-radius: 30px;
      transition:
        box-shadow 0.3s ease,
        transform 0.3s ease;

      &:hover {
        box-shadow: 0 0 20px 8px rgba(37, 55, 87, 0.7);
        transform: scale(1.05);
      }
    }

    &-title {
      font-family: Poppins, Arial, sans-serif;
      margin-top: 32px;
      text-align: center;
      color: #253757;
      font-size: 28px;
      font-weight: 600;
    }

    &-description {
      margin: 0;
      margin-top: 16px;
      text-align: center;
      display: inline-block;
      font-family: 'Open Sans', Arial, sans-serif;
      font-weight: 400;
      font-size: 14px;
      line-height: 21px;
      color: #6c788b;

      @include onTablet {
        width: 70%;
      }
    }
  }
}
