.testimonials {
  &__conteiner {
    margin: 120px 0 0;

    @include onTablet {
      margin: 148px 0 0;
    }

    @include onDesktop {
      margin: 151px 0 0;
    }

    @include constentPaddingInLine;
  }

  &__description-title {
    font-family: Poppins, Arial, sans-serif;
    font-weight: 700;
    font-size: 13px;
    line-height: 19.5px;
    letter-spacing: 3px;
    color: #c0cdd7;
  }

  &__title {
    font-family: Poppins, Arial, sans-serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 41.6px;
    color: #253757;
    margin: 16px 0 48px;
    grid-column: 1 / -1;
    width: 100%;
    justify-content: flex-start;
    display: flex;

    @include onTablet {
      margin: 16px 0 61px;
      width: 32%;
      text-align: left;
    }

    @include onDesktop {
      width: 20%;
    }
  }
}

.people {
  @include pageGrid;

  row-gap: 24px;

  @include onTablet {
    row-gap: 30px;
  }

  &__coments {
    border-radius: 16px;
    background-color: #fff;
    width: 100%;
    height: 100%;
    margin-bottom: 24px;
    transition: all 0.3s ease;
    grid-column: 1 /-1;

    @include onDesktop {
      grid-column: span 4;
    }

    &:hover {
      background-color: #f0f0f0;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
      transform: scale(1.05);
    }
  }

  &__div {
    padding-top: 32px;
  }

  &__profile {
    position: relative;
    z-index: 10;
  }

  &__photo {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }

  &__znak {
    width: 24;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 8px;
  }

  &__description {
    font-family: 'Open Sans', Arial, sans-serif;
    width: 100%;
    font-weight: 600;
    font-size: 13px;
    line-height: 19.5px;
    color: #6c788b;
    padding: 0 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  &__information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px 39px 32px;
  }

  &__name {
    font-family: 'Open Sans', Arial, sans-serif;
    color: #253757;
    width: 100%;
    font-weight: 600;
    font-size: 13px;
    line-height: 19.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  &__city {
    font-family: Poppins, Arial, sans-serif;
    font-weight: 700;
    font-size: 13px;
    line-height: 19.5px;
    letter-spacing: 3px;
    color: #c0cdd7;
    padding-top: 4px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

// !!!!!!!!!!!!!!!
.people__wrapper {
  position: relative;
  width: 108.98px;
  margin: 50px auto;
  padding-bottom: 32px;
}

.people__wrapper::before,
.people__wrapper::after {
  content: '';
  position: absolute;
  width: 108.98px;
  height: 43.9px;
  background-color: var(--primary-color);
  border-radius: 12px;
  z-index: 1;
}

.people__wrapper::before {
  top: 0;
  left: 0;
  transform: rotate(308deg) translate(-30px, 75px);
}

.people__wrapper::after {
  top: 0;
  right: 0;
  transform: rotate(308deg) translate(-30px, -25px);
}
