.comment{
    &__special{
        font-weight: 600;
        color: #C0CDD7;
        letter-spacing: 3px;
        line-height: normal;
        text-transform: uppercase;
        margin-bottom: 16px;
    }
    
    &__title{
        color:#253757;
        margin-bottom: 48px;
    }
}