.footer {
    padding-block: 72px;
    background-color: $backgound-color;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    
    &__content{
        display: grid;
        gap: 80px;
    }

    &__title{
        margin-bottom: 48px;
    }

    &__form{

    }

    &__button{
        margin-top: 56px;
    }
}