.header {
  position: relative;
  background-color: $backgound-color;
  height: 902px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;

  @include onLaptop{
    height: 800px;
  }



  &__top-bar{
    @include onLaptop{
      display: none;
    }
  }

  &__nav{
    display: none;
    @include onLaptop{
      display: flex;
    }
  }

  &__content{
    @include pageGrid;
  }

  &__title {
    grid-column: 1 / -1;
    margin-top: 28px;
    margin-bottom: 32px;

    @include onTablet{
     margin-top: 36px;
      
    }

    @include onLaptop{
     margin-top: 124px;
     grid-column: 1 / 5;
    }
  }

  &__text {
    font-family: 'Open Sans', sans-serif;
    grid-column: 1 / -1;
    font-size: 18px;
    line-height: 150%;
    font-weight: 400;

    @include onTablet{
      grid-column: 1 / 5;
    }

    @include onLaptop{
      grid-column: 1 / 6;
    }
  }

  &__button {
    grid-column: 1 / -1;
    margin-top: 72px;

    @include onTablet{
      grid-column: 1 / 5;
    }

    @include onLaptop{
      margin-bottom: 83px;
    }
  }

  &__carusel {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    @include onLaptop{
      left: 50%;
    }
  }
}
