.header {
  position: relative;
  background-color: $backgound-color;
  height: 902px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;

  &__content{
    @include pageGrid;
  }

  &__title {
    grid-column: 1 / -1;
    margin-top: 28px;
    margin-bottom: 32px;

    @include onTablet{
     margin-top: 56px;
      
    }
  }

  &__text {
    font-family: 'Open Sans', sans-serif;
    grid-column: 1 / -1;
    font-size: 18px;
    line-height: 150%;
    font-weight: 400;

    @include onTablet{
      grid-column: 1 / 5;
    }
  }

  &__button {
    grid-column: 1 / -1;
    margin-top: 72px;

    @include onTablet{
      grid-column: 1 / 4;
    }
  }

  &__carusel {
    grid-column: 1 / -1;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-top: 48px;
  }
}
