.services{
    &__special{
        font-weight: 600;
        color: #C0CDD7;
        letter-spacing: 3px;
        line-height: normal;
        text-transform: uppercase;
        margin-bottom: 16px;
    }
    
    &__title{
        color:#253757;
        margin-bottom: 24px;
    }

    &__wrap-text{
        display: grid;
        gap: 25px;
        margin-bottom: 48px;
    }

    &__text{
        font-family: "Open Sans", sans-serif;
        font-weight: 400;
        line-height: 150%;
        color: #6C788B;
    }
}