.about {
  text-align: center;
  &__title {
    @include titleH3;
    margin: 148px auto 16px;
    @media screen and (max-width: 900px) {
      margin: 90px auto 16px;
    }
  }

  &__text {
    width: 754px;
    margin: 16px auto 148px;
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    text-align: left;
    line-height: 36px;
    color: $text-color;
    transition: margin 0.3s;
    @media screen and (max-width: 900px) {
      width: 90%;
      margin: 16px auto 90px;
    }

  }
}
