.footer {
  height: 867px;
  background: #2c2c2c;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-around;
}

.footerWrapper {
  display: flex;
  justify-content: flex-start;
  width: 100%;

}

.userForm {
  display: flex;
  flex-direction: column;
  padding-right: 200px;

  &__title {
    font-size: 32px;
    font-weight: 600;
    margin-top: 180px;
    margin-bottom: 56px;
  }

  &__input {
    width: 460px;
    border: none;
    border-bottom: 1px solid #fff;
    background: none;
    font-size: 15px;
    margin-bottom: 48px;
    height: 50px;
    //&: hover {
    //  border-color: #144ed5;
    //}
  }

  &__submit {
    font-size: 15px;
    width: 226px;
    height: 56px;
    left: 227px;
    top: 6090px;
    background: #144ed5;
    border-radius: 8px;
    transition: color 0.3s;
    border: none;
    color: white;

    &:hover {
      color: #2c2c2c;
    }
  }
}

.contact {
  margin-top: 180px;
}

.footerNav {
  display: flex;
  justify-content: space-between;
  height: 80px;
  width: 100%;
}
