.header {
  height: 800px;
  background-color: #2c2c2c;
  border-radius: 0 0 30px 30px;
  color: #fff;
  position: relative;
  right: 0;
  left: 0;

  &__menu {
    height: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 55px;
  }

  &__leftMenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__content {
    height: 100%;
    display: flex;
    justify-content: left;

  }

  &__contact {
    font-size: 13px;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    //  $::before {
    //  content: "";
    //  position: absolute;
    //  width: 67px;
    //  height: 2px;
    //  left: 0;
    //  bottom: -8px;
    //  background: #ff9c8e;
    //  border-radius: 4px;
    //}
  }

  &__logo {
    margin-right: 40px;
  }
  &__title {
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 64px;
    line-height: 68px;
    letter-spacing: -2px;
    margin: 110px 0 33px;
  }

  &__text {
    font-family: Open Sans, sans-serif;
    font-size: 18px;
    margin-bottom: 101px;
  }
}
