.linkButton {
  font-size: 15px;
  font-family: Poppins, sans-serif;
  font-weight: 600;
  line-height: 22px;
  padding: 13px 70px;
  color: #fff;
  background-color: #2060f6;
  text-decoration: none;
  border-radius: 8px;
  transition: color 0.3s;
  &:hover {
    color: red;
  }
}
