.icon-menu {
  cursor: pointer;
  width: 18px;
  padding: 10px;
  box-sizing: content-box;

  &__burger {
  position: relative;

    &::after,
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 18px;
      height: 2px;
      background-color: $white-color;

      transition: all .3s;
    }

    &:after {
      content: "";
    }

    &::after {
      transform: translateY(-200%);
    }

    &::before {
      transform: translateY(100%);
    }
  }

  &:hover .icon-menu__burger::before {
    background-color: $blue-color;
    transform: translateY(-200%);
  }

  &:hover .icon-menu__burger::after {
    background-color: $blue-color;
    transform: translateY(100%);
  }

  &:active .icon-menu__burger::after {
    transform: translateY(0);
    rotate: 45deg;
  }
  &:active .icon-menu__burger::before {
    transform: translateY(0);
    rotate: 135deg;
  }
}

.title {
  color: $dark-text-color;
  font-family: "Poppins", sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 130%; /* 41.6px */
}
