.features {
  margin-top: -16rem;
  background-color: #56ccf2;
  position: relative;
  overflow: hidden;
  padding-top: 19.8rem;
  padding-bottom: 16rem;
  // z-index: -1;

  @media screen and (max-width: 960px) {
    margin-top: 0;
    padding-top: 9.4rem;
    padding-bottom: 9.4rem;
  }

  &__bcg {
    max-width: 60%;
    position: absolute;
    right: -5%;
    top: 0;
    clip-path: polygon(38% 0%, 100% 0, 65% 100%, 0% 100%);
    height: 100%;

    @media screen and (max-width: 768px) {
      display: none;
    }

    &-img {
      width: 100%;
      height: 100%;
      display: inline-block;
      // transform: skewX(25deg);
    }
  }

  &__title {
    margin-bottom: 6.9rem;
    font-weight: 900;
    font-size: 3.2rem;
    line-height: 1.4;
  }

  &__icon {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    margin-right: 3.2rem;
  }

  &__card {
    display: flex;
    align-items: center;
    margin-bottom: 6.4rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__card-text {
    max-width: 26.3rem;
    font-size: 1.6rem;
    line-height: 1.5;
    color: #fff;

    @media screen and (max-width: 768px) {
      max-width: 75%;
    }
  }
}
