.header {
  // display: none !important;
  border-radius: 0 0 $border-radius $border-radius;

  width: 100%;
  background-color: $header-bg-color;
  --little-nav-height: 52px;

  &__content {
    @include onSmallDesktop {
      @include pageGrid;
    }
  }

  &__slider {
    height: 390px;
    width: 100%;
    border-radius: 30px;
    background-image: url(../images/slider/slide-img-1.png);
    background-size: cover;
    background-position: center;

    @include onSmallDesktop {
      height: 100%;
      grid-column: 7 / -1;
    }
  }
}
