.header {
  width: 100%;
  background-color: $header-bg-color;
  --little-nav-height: 52px;

  &__content {
    @include onSmallDesktop {
      @include pageGrid;
    }
  }

  &__slider {
    height: 390px;
    width: 100%;
    background-image: url(../images/slider/slider-img-1.png);
    background-size: cover;
    background-position: center;
    border-radius: 30px;

    @include onSmallDesktop {
      height: 100%;
      grid-column: 7 / -1;
    }
  }
}
