.icon {
  background-image: url(../images/icons/menu.png);
  @include hover (transform, scale(1.15));
  display: block;
  width: 24px;
  height: 24px;
  background-size: cover;
  background-position: center;
}
