.slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 242px 20px 24px;
  box-sizing: border-box;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-image: url(../images/slider/slider_photo_2.jpg
);
  border-radius: 30px;

  @include mobile {
    padding: 250px 40px 32px;
  }

  @include tablet {
    padding: 564px 90px 48px 78px;
    width: 502px;
    box-sizing: border-box;
    border-radius: 30px 0;
  }

  @include notebook {
    width: 688px;
    box-sizing: border-box;
    padding-right: 295px;
  }

  @include largeScreens {
    width: 1167px;
    box-sizing: border-box;
    padding-right: 774px;
  }

  &__container {
    display: flex;
    flex-direction: column;
    min-width: 100%;

    @include mobile {
      box-sizing: border-box;
    }

    @include tablet {
      flex-direction: row;
      align-items: center;
    }
  }

  &__buttons {
    display: flex;
    gap: 16px;
    padding-bottom: 16px;

    @include tablet {
      padding: 0 24px 0 0;
    }
  }

  &__img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    width: 32px;
    margin-right: 16px;
    background-color: $colorWhite;
    border-radius: 50%;
  }

  &__text {
    display: flex;
    flex-direction: column;
  }

  &__intro {
    letter-spacing: 3px;
    text-transform: uppercase;
    color: $colorWhite;
    padding-bottom: 8px;
  }

  &__paragraph {
    width: 240px;
    color: $colorWhite;
  }
}
