.top-actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  &__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  &__logo {
    display: block;
    width: 44px;
    height: 26px;
    padding-right: 34px;
  }

  &__menu-icon {
    display: block;
    width: 18px;
    height: 18px;

    @include tablet {
      display: none;
    }
  }

  &__menu-list {
    display: none;

    @include tablet {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      & * {
        text-transform: uppercase;
        text-align: center;
        line-height: 26px;
        letter-spacing: 3px;
        color: $colorWhite;
        text-decoration: none;

        &:not(:last-child) {
          padding-right: 48px;
        }
      }
    }
  }

  &__call {
    text-align: center;
    line-height: 26px;
    letter-spacing: 3px;
    text-transform: uppercase;

    &::after {
      content: "";
      display: block;
      margin-top: 8px;
      height: 2px;
      width: 67px;
      background-color: $colorBlueLight;
    }
  }
}
