.form {
  &__title {
    margin: 0;
    margin-bottom: 48px;
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 130%;
    letter-spacing: 0;
    vertical-align: middle;
    color: $white-main-color;

    @include on-tablet {
      margin-bottom: 56px;
    }
  }

  &__wrapper-input {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
    margin-bottom: 56px;

    @include on-tablet {
      gap: 48px;
      margin-bottom: 80px;
    }
  }

  &__input {
    padding: 0;
    width: 100%;
    height: 40px;
    border: none;
    border-bottom: 1px solid $white-main-color;
    background-color: $dark-main-color;
    padding-bottom: 1px;
    transition: border $transition;
    color: $white-main-color;
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: 0;

    &:is(:autofill, :-webkit-autofil) {
      box-shadow: inset 0 0 0 1000px $dark-main-color;
      -webkit-text-fill-color: $white-main-color;
    }

    &::placeholder {
      font-family: Poppins, sans-serif;
      font-weight: 600;
      font-size: 15px;
      line-height: 100%;
      letter-spacing: 0;
    }

    &:focus {
      outline: none;
      border-bottom: 2px solid $dark-blue-footer;
      padding-bottom: 0;
    }
  }

  &__textarea {
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    border: none;
    border-bottom: 1px solid $white-main-color;
    background-color: $dark-main-color;
    resize: none;
    color: $white-main-color;
    transition: $transition;
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: 0;

    &::placeholder {
      font-family: Poppins, sans-serif;
      font-weight: 600;
      font-size: 15px;
      line-height: 100%;
      letter-spacing: 0;
    }

    &:focus {
      outline: none;
      border-bottom: 2px solid $dark-blue-footer;
    }
  }
}
