/* stylelint-disable custom-property-empty-line-before */
.page {
  --header-footer-bg-color-dark: #2c2c2c;
  --header-footer-bg-color-blue: #008aff;
  --header-footer-bg-color: var(--header-footer-bg-color-dark);

  --header-border-radius-dark: 0 0 30px 30px;
  --header-border-radius-blue: 0 0 0 200px;
  --header-border-radius: var(--header-border-radius-dark);

  --footer-border-radius-dark: 30px 30px 0 0;
  --footer-border-radius-blue: 0 200px 0 0;
  --footer-border-radius: var(--footer-border-radius-dark);

  --button-color-dark: #144ed4;
  --button-color-blue: #ff7e6c;
  --button-color: var(--button-color-dark);

  --button-border-radius-dark: 8px;
  --button-border-radius-blue: 64px;
  --button-border-radius: var(--button-border-radius-dark);

  --motto-background-image-dark: url(/src/images/motto/Shapes.png);
  --motto-background-image-blue: url(/src/images/motto/Shapes-blue.png);
  --motto-background-image: var(--motto-background-image-dark);

  --slider-border-radius-desktop-dark: 30px 0 30px 0;
  --slider-border-radius-desktop-blue: 200px 0 0 0;
  --slider-border-radius-desktop: var(--slider-border-radius-desktop-dark);

  /* Кольори за замовчуванням  */
  --card-1-text-color: #2060f6;
  --card-1-bg-color: rgba(32, 96, 246, 0.1);
  --card-1-button-bg-color: #2060f6;

  --card-2-text-color: #2060f6;
  --card-2-bg-color: rgba(32, 96, 246, 0.1);
  --card-2-button-bg-color: #2060f6;

  --card-3-text-color: #2060f6;
  --card-3-bg-color: rgba(32, 96, 246, 0.1);
  --card-3-button-bg-color: #2060f6;

  --card-4-text-color: #2060f6;
  --card-4-bg-color: rgba(32, 96, 246, 0.1);
  --card-4-button-bg-color: #2060f6;

  /* Кольори для кольорової теми */
  --colored-card-1-text-color: #56ccf2;
  --colored-card-1-bg-color: rgba(86, 204, 242, 0.1);
  --colored-card-1-button-bg-color: #56ccf2;

  --colored-card-2-text-color: #fcc91d;
  --colored-card-2-bg-color: rgba(252, 201, 29, 0.1);
  --colored-card-2-button-bg-color: #fcc91d;

  --colored-card-3-text-color: #15d850;
  --colored-card-3-bg-color: rgba(21, 216, 80, 0.1);
  --colored-card-3-button-bg-color: #15d850;

  --colored-card-4-text-color: #f36363;
  --colored-card-4-bg-color: rgba(243, 99, 99, 0.1);
  --colored-card-4-button-bg-color: #f36363;

  /* Змінні для блоків карток відгуків (кольорова тема) */
  --colored-testimonial-card-1-block-bg: #56ccf2;
  --colored-testimonial-card-2-block-bg: #fcc304;
  --colored-testimonial-card-3-block-bg: #f25656;
}

.page--theme--blue {
  --header-footer-bg-color: var(--header-footer-bg-color-blue);
  --header-border-radius: var(--header-border-radius-blue);
  --footer-border-radius: var(--footer-border-radius-blue);
  --button-color: var(--button-color-blue);
  --button-border-radius: var(--button-border-radius-blue);
  --motto-background-image: var(--motto-background-image-blue);
  --slider-border-radius-desktop: var(--slider-border-radius-desktop-blue);

  .services-cards__card--1 {
    --card-1-text-color: var(--colored-card-1-text-color);
    --card-1-bg-color: var(--colored-card-1-bg-color);
    --card-1-button-bg-color: var(--colored-card-1-button-bg-color);
  }

  .services-cards__card--2 {
    --card-2-text-color: var(--colored-card-2-text-color);
    --card-2-bg-color: var(--colored-card-2-bg-color);
    --card-2-button-bg-color: var(--colored-card-2-button-bg-color);
  }

  .services-cards__card--3 {
    --card-3-text-color: var(--colored-card-3-text-color);
    --card-3-bg-color: var(--colored-card-3-bg-color);
    --card-3-button-bg-color: var(--colored-card-3-button-bg-color);
  }

  .services-cards__card--4 {
    --card-4-text-color: var(--colored-card-4-text-color);
    --card-4-bg-color: var(--colored-card-4-bg-color);
    --card-4-button-bg-color: var(--colored-card-4-button-bg-color);
  }

  .testimonials-card--1 {
    .testimonials-card__block {
      background: var(--colored-testimonial-card-1-block-bg);
    }
  }
  .testimonials-card--2 {
    .testimonials-card__block {
      background: var(--colored-testimonial-card-2-block-bg);
    }
  }
  .testimonials-card--3 {
    .testimonials-card__block {
      background: var(--colored-testimonial-card-3-block-bg);
    }
  }

  .theme-switcher::after {
    background-color: var(--button-color-blue);
  }
}

.header {
  background: var(--header-footer-bg-color);
  transition:
    background-color 0.3s,
    border-radius 0.3s;
}

.footer {
  background: var(--header-footer-bg-color);
  border-radius: var(--footer-border-radius);
  transition:
    background-color 0.3s,
    border-radius 0.3s;
}

.send-message__input {
  background: var(--header-footer-bg-color);
  transition: background-color 0.3s;
}

.motto {
  background-image: var(--motto-background-image);
}
