.button {
  display: inline-block;
  width: 100%;
  padding: $md-pad $zero;
  text-align: center;
  font-family: $poppins;
  font-size: 0.94rem;
  border-radius: 0.5rem;
  background: $bg-blue;
  max-width: 17.5rem;
  cursor: pointer;
  border: 1px solid transparent;

  &-hover {
    @include hoverButton (background-color,  $bg-blue);
  }

  &-shadow-blue {
    @include hoverShadow (box-shadow, $bg-blue);
  }

  &-button__shadow-white {
    @include hoverShadow (box-shadow, $white);
  }

}
