.icon {
  display: flex;
  gap: 32px;

  &__logo {
    width: 46px;
    height: 28px;

    @include hover(transform, scale(1.1));
  }

  &__burger-menu {
    width: 24px;
    height: 24px;

    @include onSmallDesktop {
      display: none;
    }
  }
}
