.slider {
  overflow: hidden;

  &__box {
    height: 100%;
    display: flex;
  }

  &__line {
    display: flex;
    transition: all 1s;
  }

  &__image {
    object-fit: cover;
    object-position: center;
    max-width: none;
  }

  &__button {
    position: absolute;
    left: 1.25rem;
    bottom: 6.75rem;
    display: flex;
    justify-content: space-between;
    gap: 1rem;

    @include onTablet {
      left: 2.5rem;
      bottom: 7.25rem;
    }

    @include onSmallDesktop {
      left: 4.88rem;
      bottom: 4.13rem;
    }

    @include onDesktop {
      left: 3rem;
      bottom: 4.13rem;
    }

    &--prev {
      background-image: url(../images/slider/arrow-left.svg);
    }

    &--next {
      background-image: url(../images/slider/arrow-right.svg);
    }
  }

  &__button-arrow {
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: 1px solid transparent;
    transition: all 0.3s;

    &:hover {
      box-shadow: 1px 0.25rem 1rem rgba(232, 232, 240, 0.4);
      transform: scale(1.2);
    }

    &:active {
      box-shadow: 1px 0.25rem 1rem rgba(232, 232, 240, 0.4);
      transform: scale(1.2);
    }
  }

  &__text {
    position: absolute;
    bottom: 1.5rem;
    left: 1.25rem;
    user-select: none;

    @include onTablet {
      left: 2.5rem;
      bottom: 2rem;
    }

    @include onSmallDesktop {
      left: 11.38rem;
      bottom: 3rem;
    }

    @include onDesktop {
      left: 9.5rem;
      bottom: 3rem;
    }
  }

  &__title {
    font-family: $poppins;
    font-weight: 700;
    font-size: 0.81rem;
    line-height: 1.25rem;
    letter-spacing: 0.19em;
    text-transform: uppercase;
    color: $white;
    margin-bottom: 0.5rem;
  }

  &__description {
    max-width: 16.5rem;
    font-weight: 400;
    font-size: 0.88rem;
    line-height: 140%;
  }
}
