@use '../../utils/mixins' as *;

.expertise {
  display: flex;
  flex-direction: column;
  gap: 56px;
  align-items: center;

  width: 100%;
  margin: 0 auto;
  padding: 72px 0;
  border-radius: 30px;

  background-color: rgba(255, 255, 255, 1);

  @include tablet {
    gap: 64px;
    width: 100%;
    padding: 128px 0;
  }

  @include s-desktop {
    flex-flow: row wrap;
    justify-content: center;
    height: 759px;
    padding: 128px 0 134px;
  }

  &__title {
    width: 250px;

    @include tablet {
      width: 100%;
      height: 68px;
    }

    @include s-desktop {
      align-self: flex-start;
      width: 100%;
      height: 78px;
      margin: 0 auto;
    }
  }

  &__categories {
    display: flex;
    flex-direction: column;
    gap: 56px;
    width: auto;

    @include tablet {
      gap: 72px;
    }

    @include s-desktop {
      flex-direction: row;
      gap: 137px;
    }

    @include desktop-1600 {
      gap: 177px;
    }
  }

  &__category {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;

    height: 347px;

    @include tablet {
      width: 360px;
      height: auto;
    }

    @include s-desktop {
      gap: 40px;
      align-self: center;
      justify-content: center;
      width: 214px;
    }

    @include desktop-1600 {
      width: 264px;
    }

    &-description {
      display: flex;
      flex-direction: column;
      gap: 16px;

      width: 214px;

      text-align: center;

      @include tablet {
        width: 362px;
      }

      @include s-desktop {
        width: 214px;
        height: 150px;
      }
    }

    &-text {
      width: 100%;
      text-align: center;

      &-strategy {
        @include tablet {
          width: 340px;
        }

        @include s-desktop {
          width: 190px;
        }
      }
    }

    &-photo {
      width: 184px;
      height: 166px;
      border-radius: 16px;
    }
  }
}
