@use '../../utils/mixins' as *;

.testimonials {
  display: flex;
  flex-direction: column;
  gap: 48px;
  align-items: center;

  padding: 0 0 120px;

  @include tablet {
    gap: 56px;
    width: 558px;
    margin: 0 auto;
    padding: 0 0 148px;

    @include s-desktop {
      gap: 85px;
      width: 916px;
      height: auto;
      padding: 0 0 186px;
    }

    @include desktop-1600 {
      width: 1146px;
    }
  }

  &__header {
    display: flex;
    flex-direction: column;
    gap: 16px;

    width: 255px;
    margin: 0 auto;
    padding-bottom: 24px;

    @include tablet {
      align-self: flex-start;
      width: 362px;
      margin: 0;
      text-align: left;
    }
  }

  &__title {
    align-self: center;

    @include tablet {
      align-self: flex-start;
      width: 180px;
      text-align: left;
    }
  }

  &__cards {
    display: flex;
    flex-direction: column;
    gap: 24px;

    @include tablet {
      gap: 30px;
    }

    @include s-desktop {
      flex-direction: row;
      gap: 20px;
      align-self: center;
      justify-content: center;

      width: auto;
      height: auto;
    }

    @include desktop-1600 {
      gap: 30px;
    }
  }
}

.testimonial {
  &__card {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    justify-content: center;

    width: 280px;
    height: 456px;
    margin: 0 auto;
    border-radius: 16px;

    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 10px 0 rgba(37, 41, 49, 0.1);

    @include tablet {
      width: 558px;
      height: 478px;
    }

    @include s-desktop {
      width: 292px;
      height: 456px;
      margin: 0;
    }

    @include desktop-1600 {
      width: 362px;
      height: 494px;
    }

    &-frame-container {
      position: relative;
      display: flex;
      width: 196px;
      height: 196px;

      @include tablet {
        width: 250px;
        height: 250px;
      }

      @include s-desktop {
        width: 196px;
        height: 196px;
      }

      @include desktop-1600 {
        width: 250px;
        height: 250px;
      }
    }

    &-frame {
      position: absolute;
      z-index: 1;
      width: 90px;
      height: 110px;
    }

    &-frameL {
      top: 10px;
      left: 20px;
    }

    &-frameR {
      right: 20px;
      bottom: 10px;
    }

    @include tablet {
      &-frame {
        z-index: 1;
        width: 100px;
        height: 140px;
      }

      &-frameL {
        top: 10px;
        left: 20px;
      }

      &-frameR {
        right: 20px;
        bottom: 10px;
      }
    }

    @include s-desktop {
      &-frame {
        position: absolute;
        z-index: 1;
        width: 90px;
        height: 110px;
      }

      &-frameL {
        top: 10px;
        left: 20px;
      }

      &-frameR {
        right: 20px;
        bottom: 10px;
      }
    }

    @include desktop-1600 {
      &-frame {
        z-index: 1;
        width: 100px;
        height: 140px;
      }

      &-frameL {
        top: 10px;
        left: 20px;
      }

      &-frameR {
        right: 20px;
        bottom: 10px;
      }
    }

    &-photo-container {
      position: absolute;
      z-index: 2;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      width: 110px;
      height: 110px;

      @include tablet {
        width: 140px;
        height: 140px;
      }

      @include s-desktop {
        width: 110px;
        height: 110px;
      }

      @include desktop-1600 {
        width: 140px;
        height: 140px;
      }
    }

    &-photo {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      object-fit: cover;
    }

    &-text-container {
      display: flex;
      flex-direction: column;
      gap: 11px;

      width: 196px;
      height: 80px;
      margin: 8px 0;

      @include tablet {
        gap: 19px;
        width: 365px;
      }

      @include s-desktop {
        gap: 11px;
        width: 196px;
      }
    }

    &-text {
      line-height: 1.2;
      color: rgba(108, 120, 139, 1);
      text-align: center;
    }

    &-quotes-container {
      align-self: center;
    }

    &-name-container {
      display: flex;
      flex-direction: column;
      gap: 5px;
      align-items: center;
    }
  }
}
