@use '../../utils/mixins' as *;

.vpr {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: auto;
  margin-bottom: 120px;

  background-color: rgba(255, 255, 255, 1);

  @include tablet {
    margin: 0;
    padding: 220px 0;

    background-image: url(../images/Shapes-640.png);
    background-repeat: no-repeat;
    background-position: 60% 30%;
    background-size: auto;
  }

  @include s-desktop {
    padding: 199px 0;
    background-image: url(../images/Shapes-1024.png);
    background-position: 40% 30%;
  }

  @include desktop-1600 {
    background-image: url(../images/Shapes-1600.png);
    background-position: 30% 40%;
  }

  &__title {
    @include tablet {
      width: 450px;
    }

    @include s-desktop {
      width: 754px;
    }
  }

  &__text-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;

    width: 280px;
    margin: 0 auto;

    @include tablet {
      width: 570px;
    }

    @include s-desktop {
      width: 754px;
    }
  }

  &__apply-button {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 280px;
    height: 56px;
    margin-top: 32px;
    border: none;
    border-radius: 8px;

    background-color: rgba(20, 78, 212, 1);

    @include tablet {
      width: 264px;
      margin-top: 40px;
    }
  }
}
