.testimonials__item {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-width: 280px;
  background-color: #fff;
  padding: 32px 42px;
  align-items: center;
  text-align: center;
  border-radius: 16px;

  @include on-tablet {
    padding-inline: 98px;
  }

  @include on-small-desktop {
    justify-content: space-between;
    box-sizing: border-box;
    min-width: 292px;
    padding-inline: 48px;
  }


  .testimonials__img {
    width: 196px;
    height: 196px;
    background-size: cover;
    margin-bottom: 24px;

    @include on-tablet {
      width: 250px;
      height: 250px;
    }

    @include on-small-desktop {
      width: 196px;
      height: 196px;
    }
  }

  .testimonials__img-double-quotes {
    width: 24px;
    height: 24px;
    margin-bottom: 8px;
  }

  .testimonials__item-details {
    @include section-item-details;
    max-width: 360px;
    margin-bottom: 16px;
  }

  .testimonials__name-employee {
    @include section-item-details;
    color: $sections-title-color;
    margin-bottom: 4px;
  }

  .testimonials__profession-employee {
    @include section-title;
  }
}
