.testimonials {
  margin-inline: auto;

  &__header {

    .testimonials__section-title {
      @include section-title;
    }

    .testimonials__description {
      color: $sections-title-color;

      font-family: $font-family-poppins;
      font-size: $font-size-32;
      font-weight: 600;
      line-height: 48px;
    }
  }
}
