.link {
  display: flex;
  flex-direction: column;
  justify-content: center;

  color: #fff;
  border-bottom: 2px solid transparent;

  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  @extend %poppins-700;
  @include setFont(13px, 150%, 3px);
  @include transitions(border-color);

  @include on1024Screen {
    @include hover(border-color, $card-blue);
  }

  &--hire-us {
    border-color: $card-blue;
  }
}
