.page {
  position: relative;

  &__menu {
    position: fixed;
    transform: translateX(100%);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transition: transform .3s;
  }

  &__menu:target {
    transform: translateX(0);
  }
}