.welcome {
  background-color: $g-white;
  padding-block: 120px;

  @include on-small-desktop {
    @include page-grid;
  }

  &__slogan {
    font-family: Poppins, sans-serif;
    font-weight: 600;
    line-height: 48px;
    text-align: center;
    font-size: 32px;
    color: $darkblue;
    margin-bottom: 24px;
  }

  &__text {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    line-height: 33px;
    text-align: center;
    font-size: 22px;
    color: $grey;

    @include on-tablet {
      font-size: 22px;
      line-height: 36px;
    }
  }
}
