.contact-us {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  grid-column: 1/-1;

  overflow: hidden;

  @include on-tablet {
    grid-column: 1/5;
  }

  @include on-small-desktop {
    grid-column: 7/-1;
  }

  @include on-large-desktop {
    grid-column: 8/-1;
  }

  &__name {
    box-sizing: border-box;
    display: block;
    margin: 0;
    padding: 0;
    margin-bottom: 8px;

    font-family: Poppins, sans-serif;
    font-weight: 700;
    font-size: 13px;
    line-height: 100%;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #6c788b;
  }

  &__link {
    box-sizing: border-box;
    display: flex;
    margin: 0;
    padding: 0;
    margin-bottom: 40px;
    transform-origin: left;

    @include hover(transform, scale(1.2));

    @include on-tablet {
      margin-bottom: 48px;
    }

    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0;
    color: #fff;
    text-decoration: none;
  }

  &__socials {
    display: flex;
    padding: 0;
    margin: 0;
    gap: 32px;
  }
}

.socials {
  &__link {
    display: flex;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 32px;
    width: 32px;
    background-image: url(../images/logo/facebook.svg);
    background-position: center;

    @include hover(transform, scale(1.2));

    &:hover {
      background-color: #2060f6;
    }

    &--twitter {
      background-image: url(../images/logo/twitter.svg);

      &:hover {
        background-color: #2c2c2c;
        background-image: url(../images/logo/twitter-hover.svg);
      }
    }

    &--instagram {
      background-image: url(../images/logo/instagram.svg);
    }
  }
}
