.send-message {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  grid-column: 1/-1;

  @include on-tablet {
    grid-column: span 4;
  }

  @include on-small-desktop {
    grid-column: 1/6;
  }
}
