.advertisement {
  @include onTablet {
    background-image: url(../images/shapes.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

  }
  &__wrapper {
    @include centered;
    display: flex;
    flex-direction: column;
    padding-block: 72px;
    text-align: center;
    max-width: 754px;
  }
  &__label {
    color: #253757;
    font-size: 52px;
    line-height: 78px;
    font-weight: 600;
    margin-bottom: 24px;

    @include onTablet {
      font-size: 52px;
      line-height: 64px;
    }
  }

  &__description {
    color: #6c788b;
    font-size: 22px;
    line-height: 33px;
    font-family: "Open Sans", Helvetica, sans-serif;
    font-weight: 600;
    margin-bottom: 56px;

    @include onTablet {
      margin-bottom: 64px;
      font-size: 24px;
      line-height: 36px;
    }
  }

  &__link {
    @include page-button;
    @include centered;
  }
}
