@font-face {
  font-family:"Open Sans";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/Open-sans-regular-400.woff2') format('woff2');
}

@font-face {
  font-family:"Open Sans";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/Open-sans-semi-bold-600.woff2') format('woff2');
}

@font-face {
  font-family:Poppins;
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/Poppins-semi-bold-600.woff2') format('woff2');
}

@font-face {
  font-family:Poppins;
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/Poppins-bold-700.woff2') format('woff2');
}
