.page {
  &__body {
    min-width: 320px;
    margin: 0;

    &:has(.page__menu:target) {
      overflow: hidden;
    }
  }
}

html {
  scroll-behavior: smooth;
}

p,
h1,
h2,
h3,
ul,
span {
  margin: 0;
}
