@import "./shapes";

.apply {
  padding-top: 32rem;
  padding-bottom: 16rem;
  background-color: #fcfcfc;
  margin-top: -17rem;
  // min-height: 700px;
  text-align: center;
  position: relative;
  z-index: 2;

  &__title {
    font-weight: 900;
    font-size: 48px;
    line-height: 1;
    margin-bottom: 5.6rem;
    position: relative;
    z-index: 2;
  }

  &__subtitle {
    font-weight: 600;
    font-size: 2.4rem;
    color: #334563;
    margin-bottom: 5.5rem;
    position: relative;
    z-index: 2;
  }

  &__button {
    position: relative;
    padding: 16px 88px;
    background-color: $c-btn-primary;
    color: #fff;
    z-index: 5;

    &:hover {
      background-color: darken($color: $c-btn-primary, $amount: 12);
    }
  }
}
